[2020-07-13 15:04] julianharty commented on #2104
One of the things that does change in the crash report is the line where the crash is triggered e.g. here it's `(FileUtils.java:144)`

[code]
I don't know if this is exactly the same crash as the original one reported, as it may depend on the line number and whether there are several similar lines of the code that could trigger a similar crash. It does *look* similar given `manageExternalLaunchAnd

[2020-07-13 19:58] desconectando commented on #2126
Attached is a small example zim file that demonstrates the use of target hash values in links.  Github wouldn't let me attach a bare zim file, so I put it into a zip archive.

Each article in this file contains links to paragraphs both within the same article and paragraphs within the other article.  Using kiwix-serve.exe and Kiwix desktop for windows, all of these links behave as expected.  Howev

[2020-07-14 06:12] macgills commented on #2202
@rgaudin is kiwix desktop using v9.2.3 of kiwixlib or are you mapping blank redirects to original urls?

[2020-07-14 06:18] macgills commented on #2104
@julianharty none of those are the latest version of the app and that is not the correct crash, the code has changed massively and that IllegalArgumentException error has been fixed.

[2020-07-14 06:21] macgills commented on #2126
Thank you very much.
Do you know if this was functioning in a previous version of kiwix-android? Or has it always not supported `#` links?

[2020-07-14 06:25] julianharty commented on #2104
@macgills so is this issue fixed? I'll admit I'm a bit confused as the stack traces seem very similar.

[2020-07-14 06:28] macgills commented on #2104
This issue is not fixed, neither I nor anyone else has opened a PR to fix it. It is a problem with very few reports which adds to the difficulty in finding it so not a major issue and there are tickets in the work that should render it redundant. A bandaid might be nice in the interim though so I might get around to this soon, higher priority tickets at the moment though

[2020-07-14 06:33] macgills opened #2204 "Crash Report 3.3.3: CoreReaderFragment.toggleBookmark"
[code]

we should stop this boolean being a boxed type and avoid NPEs

[2020-07-14 06:52] macgills commented on #2202
![image](https://user-images.githubusercontent.com/3358282/87393937-da8ae480-c5a6-11ea-9db0-ed6bd1c505d7.png)
my rejecting blank redirects I can load the video

[2020-07-14 07:26] macgills commented on #2203
regression introduced in 0ebbdf5bf8e8c51df56e56e256ad41f35475c655

Why the conversion to fragment caused this is a head scratcher, will dig deeper.

[2020-07-14 07:29] macgills commented on #2203
Null view is passed for `root`, fix incoming

[2020-07-14 07:43] Frans-Lukas commented on #2178
The top blue bar shown in the flickering is a symptom of using `fitSystemWindows ="true"` in `fragment_main.xml`. This adjusts the views content to fit the window when content insets have been changed. The color of the 'padding' on top of the view is probably `?colorPrimary/secondary/onsurface` and is thus set to some shade of blue. I found that removing `fitSystemWindows` keeps the flickering but

[2020-07-14 08:06] macgills commented on #2203
Correction, the view of a fragment was being passed as root view instead of the view at the correct layer of the heirarchy.

[2020-07-14 08:14] rgaudin commented on #2202
Actually I meant kiwix for macOS which was just released. I don't know the kiwix-lib version in use (statically linked) but what I know is that we have no redirect in this ZIM (except -/favicon I guess).
It's built with zimwriterfs and doesn't use the redirect option.

So there might be another issue making it appear as blank redirects…

[2020-07-14 08:28] macgills commented on #2202
In kiwix-android when we are loading a url we must detect if there is a redirect (I remember this being a problem when we tried to load a random article on a lot of zims) and we do so by saying `isRedirect =originalUrl != getRedirectUrl(originalUrl)`

If a url was not a redirect then the jniCall would return the original.

@mgautierfr do you know if there have been any changes to the behaviour of

[2020-07-14 09:08] macgills commented on #2126
mercifully easy to implement. This fix will be released in the next version of Kiwix Android. Thank you for the help @desconectando

[2020-07-15 06:27] #2204 closed

[2020-07-15 06:28] #2203 closed

[2020-07-15 06:29] #2126 closed

[2020-07-15 07:06] macgills commented on #2202
After discussions with kelson it seems the error is not removing text after `?` when passing to `checkUrl`, fix incoming

[2020-07-15 08:35] #2202 closed

[2020-07-15 09:40] #2178 closed

[2020-07-15 09:49] Frans-Lukas opened #2212 "Perform contrast audit on all screens to check accessibility."
**Is your feature request related to a problem? Please describe.**
"..a contrast audit is well overdue, ...but some bits of dark mode look a mite gloomy and the switches in bookmarks/history can look hard to distinguish." -Macgills

I agree as well, also for the book tags in dark mode.

**Describe the solution you'd like**
Run the [accessibility scanner](https://play.google.com/store/apps/details?

[2020-07-15 11:15] Frans-Lukas opened #2213 "Make navigation use the navigation component in feature/navigation branch"
**Is your feature request related to a problem? Please describe.**

The navigation component provides clean and simple navigation. All navigation should therefore use the navigation component, when possible.

**Describe the solution you'd like**

Replace all navigation with the navigation component, where possible.

**Additional context**

This will be part of the new navigation branch.

[2020-07-15 12:17] Frans-Lukas commented on #2212
# Dark Theme
Results when running the accessibility tool on some activities. I left out some views that did not seem relevant, like the contrast of a button on an opened zim page being slightly below the recommended value.

**"Support Kiwix" options menu:**
<img src="https://user-images.githubusercontent.com/22193232/87542490-510d0c80-c6a3-11ea-9415-f34b7a92b938.jpg" alt="drawing" height="200"/>

[2020-07-15 12:36] tim-moody opened #2214 "Question: download zim from local server"
I have the impression that in the past it was possible to enter the url from which zims should be downloaded, but I can't find that in version 3.3.1.

[2020-07-15 12:39] kelson42 commented on #2214
@tim-moody I don't believe we had this feature at any point.

[2020-07-15 12:49] Frans-Lukas commented on #2212
# Light Theme
Some contrast issues exists in the light theme as well.

**Book tag:**
<img src="https://user-images.githubusercontent.com/22193232/87546444-dc899c00-c6a9-11ea-8bd7-01ed36bbf817.jpg" alt="drawing" height="200"/>

**Header date text:**
<img src="https://user-images.githubusercontent.com/22193232/87546446-dd223280-c6a9-11ea-8f58-6303d1e020f5.jpg" alt="drawing" height="200"/>

**Number

[2020-07-15 12:49] tim-moody commented on #2214
@kelson42

Do you mean outside of kiwix.apk?

What do you mean by 'integrated downloader'? How does kiwix.apk find the zim in the phone?

[2020-07-15 12:51] kelson42 commented on #2214
The title and your comment talks about ZIM files. I talk about ZIM files, not about the Kiwix-Android APK.But if you want to know where to download the Kiwix-Android APK, they are all available here https://download.kiwix.org/release/kiwix-android/.

[2020-07-15 12:53] tim-moody commented on #2214
I want the already downloaded and installed Kiwix-Android APK app to download ZIM files from a local server.

[2020-07-15 13:02] kelson42 commented on #2214
This is not part and has not been part of the feature portfolio of Kiwix-Android AFAIK.

[2020-07-15 13:02] #2214 closed

[2020-07-15 13:16] Frans-Lukas opened #2215 "DESIGN and STRING_RESOURCES both link to the edit instead of the blob page."
**Describe the bug**

Links to DESIGN.md and STRING_RESOURCES.md both link to the edit page for the respective pages.

**Expected behavior**

They should link to the readable pages.
* STRING_RESOURCES.md → https://github.com/kiwix/kiwix-android/blob/develop/STRING_RESOURCES.md
* DESIGN.md → https://github.com/kiwix/kiwix-android/blob/develop/DESIGN.md

[2020-07-15 13:35] kelson42 opened #2217 ""Save media" seems broken"
With 3.3.3, just open a ZIM file with pictures. Click on a picture to save it and I get an error "An error occured"... Let me know if you need more information, but I guess you will easily be able to reproduce it.

[2020-07-15 15:54] tim-moody commented on #2214
Got it now.

[2020-07-15 17:38] dbedrenko commented on #2082
@macgills Attached is the output from the point I begin typing "facebo"

The big "Search Suggestion" output is outputted all at once about 15-20 seconds since I began typing. The search results display on screen about ~8 seconds after that.

[search_bug1.txt](https://github.com/kiwix/kiwix-android/files/4926878/search_bug1.txt)

`top` displays the `kiwixmobile` to be the top process throughout, at

[2020-07-16 07:26] macgills commented on #2212
We should also update the design guidelines with how to assess contrast perhaps?

[2020-07-16 07:28] Frans-Lukas commented on #2212
With https://contrast-ratio.com , https://material.io/design/color/the-color-system.html#tools-for-picking-colors etc?

[2020-07-16 07:42] macgills commented on #2082
Thank you for the logs. It would be handy if I could get timestamps in the logs, did you get these from the logcat file in the kiwix directory or run logcat yourself?

I wonder if you would get faster results from typing faster, we only submit a term to the results generator if there hasn't been another key entered within 500ms of another key
[code]

and as seen here we are operating 5 searches si

[2020-07-16 07:43] #2217 closed

[2020-07-16 07:46] macgills commented on #2212
Yeah, it could be handy to point people towards

[2020-07-16 07:47] macgills commented on #2212
and the accessibility scanner

[2020-07-16 07:47] Frans-Lukas commented on #2212
Agreed!

[2020-07-16 09:10] Frans-Lukas commented on #2212
![image](https://user-images.githubusercontent.com/22193232/87652772-eb795880-c754-11ea-83ed-e5b004ae5e30.png)

[2020-07-16 09:17] macgills commented on #2212
We want it so that in the on state the right most point of the switch is aligned with the right most point of the trash icon, if possible. Also a smidge more padding between the text and the switch, just so when it is off they aren't so close but not so much that when on it looks too far away

[2020-07-16 09:33] Frans-Lukas commented on #2212
The full range of the switch is larger than the width of the thrashcan.

![image](https://user-images.githubusercontent.com/22193232/87655075-0e593c00-c758-11ea-8cd7-8b694e6fc58c.png)
![image](https://user-images.githubusercontent.com/22193232/87655105-187b3a80-c758-11ea-8331-60bed193ef6a.png)

[2020-07-16 09:34] Frans-Lukas commented on #2212
New text color on tags and description for increased contrast.

![image](https://user-images.githubusercontent.com/22193232/87655268-50827d80-c758-11ea-9f8a-b76d15616018.png)

[2020-07-16 09:37] Frans-Lukas commented on #2212
New primary color for dark theme. (The blue one used on the button text.)

![image](https://user-images.githubusercontent.com/22193232/87655577-bcfd7c80-c758-11ea-9944-c91328423516.png)

[2020-07-16 09:37] macgills commented on #2212
Re, the switch: yes it does have an awkaward width but right now in the on position it makes your eyes do this

![image](https://user-images.githubusercontent.com/3358282/87655572-583e2400-c750-11ea-870e-1926c0f79150.png)

and I want a clean vertical

[2020-07-16 09:40] Frans-Lukas commented on #2212
![image](https://user-images.githubusercontent.com/22193232/87655731-e8806700-c758-11ea-9812-0e59bc37cb4d.png)

So this one is better, maybe a bit more to the right? It can either be centered or odd looking when off.

[2020-07-16 13:57] dbedrenko commented on #2082
I ran logcat via `adb`, didn't know there was a log file being created somewhere. Not sure how to get this with timestamps...

I made it a point to type with good speed (still using one hand as usual though).

If searches do not depend on preceding searches, what is the benefit of continuing to fetch the results for "f", "fa", "fac", "face" e.g. at the point in time when the user has entered "face

[2020-07-16 14:01] kelson42 commented on #2082
This remark seems absolutly pertinent to me. On Kiwix-Desktop for Linux/Windows we stop "old" threads before starting one and I thought we had fixed this a few months ago on Kiwix-Android honestly.

[2020-07-17 06:42] macgills commented on #2212
Odd looking when off is fine, violating a screen's margin is a worse visual offence. The eye can go inward it can't bulge out

[2020-07-17 07:15] macgills commented on #2082
https://drive.google.com/file/d/10LPnhWsW11lwTQGbLTKBeJ4HkZXwSxrn/view?usp=sharing here is a version with task cancellation.

it doesn't have the logging in it though so it is a very much "see if it works", for future reference logcat format is controlled with a `-v` option [link](https://developer.android.com/studio/command-line/logcat#outputFormat)

The task cancellation was much uglier code and

[2020-07-17 09:03] #2143 closed

[2020-07-17 09:09] macgills opened #2220 "Update AGP to 4.0.1"
There has been a new release and we should update the project

[2020-07-17 11:35] Frans-Lukas commented on #2212
**10dp right padding:**
![image](https://user-images.githubusercontent.com/22193232/87782019-08d02480-c832-11ea-8cf8-a621e934a918.png)

[2020-07-17 20:53] dbedrenko commented on #2082
Thank you for the second build, but unfortunately it is still very slow (although it's faster).

Attached is the log for the first debug build, now with timestamps:
[first-debug-build-with-time.log](https://github.com/kiwix/kiwix-android/files/4940206/first-debug-build-with-time.log)

And the log from the new debug build that cancels old searches:
[debug-build-cancel-searches.log](https://github.c

[2020-07-18 07:48] kelson42 commented on #2082
@dbedrenko Thank you for keeping testing and helping us to fix the problem. I still believe that somehow there is chance that part of the problem comes from the SD card or the SD card reader. If I understand properly, the Samsung Galaxy S20 Ultra is a really high end device with the lot of internal memory. I would really be interested to know how it works if the ZIM is stored on the internal memor

[2020-07-18 09:18] kelson42 opened #2222 "Impossible to read warc2zim generated ZIM files"
We are working on warc2zim, a tool able to create ZIM file from a WARC file. These ZIM files integrates a JS player relying on service-worker. You can find an example of file here:
http://tmp.kiwix.org/warc2zim.zim

I don't have achieved to read such a ZIM file. Maybe this is due to the custom protocol scheme zim://

[2020-07-18 09:19] kelson42 commented on #2222
@macgills Would be great if you could confirm the technical nature of the problem here.

[2020-07-19 19:35] dbedrenko commented on #2082
Unfortunately, my tablet doesn't have such a large internal storage so I cannot try this. As mentioned previously, while the search is happening the `sdcard` process is not using CPU like it was when scanning the storage card for a .zim file. The CPU was all used up in the kiwix process. This sounds to me like searching is CPU-bound rather than IO-bound.

[2020-07-19 20:26] alanajjar opened #2223 "Added "How to update zim files?" to Kiwix, Wikipedia offline app"
Hello,

After reviewing a lot of Arabic comments on [Kiwix Wikipedia offline app,](https://play.google.com/store/apps/details?id=org.kiwix.kiwixmobile) I found that there's huge misunderstanding, that users thinks if they update kiwix app, then ZIM files will be updated! also a lot of others not know how to update zim files, and they rating kiwix app by 1 star due to this point.

So hope please, i

[2020-07-20 09:12] #2220 closed

[2020-07-20 09:13] #2215 closed

[2020-07-20 09:29] macgills commented on #2222
Not particularly sure what is happening as I see no obvious problem in loading anything.

We load the html
[code]

and we load the js
[code]

Do we have a working version on the web that can be loaded with an Android browser?

[2020-07-20 09:52] dbedrenko commented on #2082
Would be happy to test; no urgency, please take your time. I am really grateful that you give attention to this bug :)

I will try to profile the app. My next hurdle is that Android Studio doesn't detect my device for some reason.

I see that `adb` allows you to profile the app also; I will try this first.

[2020-07-20 10:30] #1648 closed

[2020-07-20 11:42] rgaudin commented on #2222
@macgills here's a simpler example http://tmp.kiwix.org/basicsw.zim

`index.html`

[code]

`sw.js`

[code]

[2020-07-21 07:40] macgills commented on #2222
Renders "No SW support"

From this [question with no answer](https://stackoverflow.com/questions/61478376/how-to-use-service-workers-in-android-webview)

Looks like I have some googling to do

[2020-07-21 07:47] kelson42 commented on #2222
@macgills You might have (at least) to add some kind of authorisation to add to the widet.

[2020-07-21 07:52] Popolechien opened #2225 "Cannot install Kiwix APK if it not coming from the Playstore and downloaded with non-Chrome browsers"
I'm on Huawei P20 Lite / Android 9.0 and downloading [the Kiwix 3.3.4 apk](https://mirror.download.kiwix.org/release/kiwix-android/kiwix-3.3.4.apk) from our repo gives me the following message when I try to open/install it: `For your security, your phone is not allowed to install unknown apps from this source`.

On both Firefox Focus 8.5.1  and DuckDuckGo 5.59.2 I am then taken to the browser's se

[2020-07-21 07:53] macgills commented on #2222
`ServiceWorkerClient Added in API level 24` ahhh but there is an androidx version, trying that out. It sounds a bit unpleasant as you register 1 ServiceWorkerClient for the entire application
`

[2020-07-21 07:59] macgills commented on #2222
Seems like this will only be available to a subset of users and perhaps depending on the features we want a further subser?

![image](https://user-images.githubusercontent.com/3358282/88028328-69ac7500-cb30-11ea-9aa8-511c17f2e366.png)

[2020-07-21 08:41] macgills commented on #2222
I am still getting nothing from that zim

[code]

`shouldInterceptRequest` does not get called

@rgaudin  Is this because your html does not include the `sw.js`? Not aware where this `navigator.serviceWorker` comes from, a language level feature?

[2020-07-21 09:04] macgills commented on #2225
I don't think there is anything we can do here, maybe inform users to use chrome?
Or download on their computer and install using adb? That is for power users only.

[2020-07-21 09:10] kelson42 commented on #2225
@macgills I kind of agree with you. IMO we should put a README to download.kiwix.org/release/kiwix-android/. This could be then linked from wherever this is needed.

[2020-07-21 09:15] macgills commented on #2225
@Popolechien if you allow app installs from your browser does it then work? It is a failure of the feature set of these browsers it sounds like, though there are also OS level protections against installing apps from unknown sources

[2020-07-21 09:16] Popolechien commented on #2225
Yep it works no problem once I change browser settings.

[2020-07-21 09:20] Frans-Lukas commented on #2212
I'd like to change this to a darker green and red, or make it blue to have good contrast. What do you think?

<img src="https://user-images.githubusercontent.com/22193232/88036439-d715d100-cb43-11ea-9f67-0930c54c7784.png" alt="drawing" height="600"/>

[2020-07-21 09:25] rgaudin commented on #2222
I don't know :/ Do you want me to give you a ZIM with the sw.js code embedded?

[2020-07-21 09:29] macgills commented on #2222
That might help

[2020-07-21 09:33] macgills commented on #2212
I think darker green/red is fine, this button occupies the same space so we want an instantaneous visual distinction that it is in a separate state so it being in blue will not help with that, reading text on a button is not something people really do a lot

[2020-07-21 09:34] Frans-Lukas commented on #2212
Ok, cool!

[2020-07-21 09:42] rgaudin commented on #2222
hum, the fact that you get *No SW support* implies `navigator.serviceWorker` is not there so I don't think that would help.

[2020-07-21 09:50] macgills commented on #2222
where is `navigator.serviceWorker` coming from though? Very JS ignorant

[2020-07-21 09:52] rgaudin commented on #2222
From the browser, https://developer.mozilla.org/en-US/docs/Web/API/Service_Worker_API

[2020-07-21 10:03] macgills commented on #2222
Following on from the links [here](https://stackoverflow.com/questions/45773104/webview-with-service-worker-what-are-serviceworkercontroller-and-serviceworkerw) is `if ('serviceWorker' in navigator)` any bit different from `if (!navigator.serviceWorker)`?

[2020-07-21 10:06] Frans-Lukas commented on #2212
# Discussion on changes

### Tab View
1. Missing label for tabs.
2. Close tab button is too small.
<img src="https://user-images.githubusercontent.com/22193232/88040232-e21f3000-cb48-11ea-8df0-52c45b0d974a.png" alt="drawing" height="600"/>

### Host book view
t's complaining about duplicate labels or missing labels on the background of the cards.
<img src="https://user-images.githubusercontent.com

[2020-07-21 10:36] rgaudin commented on #2222
Nah, that's equivalent in this case

[2020-07-21 13:24] #2179 closed

[2020-07-21 13:24] #2186 closed

[2020-07-22 08:28] macgills commented on #2222
Not sure how to progress this ticket

Maybe cycle around to this to see if it works in that scenario? I would think it must? If it doesn't then there may be a larger issue

[2020-07-22 08:37] rgaudin commented on #2222
OK, preparing you this

[2020-07-22 08:46] macgills commented on #2222
Thanks a lot.

[2020-07-22 08:52] rgaudin commented on #2222
https://tmp.kiwix.org/sw/

This is the exact same content as is in the ZIM. Please note that service workers only works through HTTPS or on localhost.

[2020-07-22 08:54] rgaudin commented on #2222
Just to be clear, in this case, not working means no `navigator.serviceWorker`.

[2020-07-22 09:10] macgills commented on #2222
`This is a response from a service worker` Yup that is all fine.

I'll try more experiments tomorrow

[2020-07-23 07:44] Frans-Lukas opened #2227 "Move relevant menu items to a navigation drawer accessible from all top level navigation destinations."
**Is your feature request related to a problem? Please describe.**

In the new navigation system, to go to the settings the user has to first navigate to the reader fragment, and then open the overflow menu and then click settings. This is not intuitive as settings affect the behavior of the entire app. The same goes for hosting books, going to the help activity and the support kiwix button.

**De

[2020-07-23 08:36] #2212 closed

[2020-07-23 10:03] macgills commented on #2082
@dbedrenko https://drive.google.com/file/d/10LPnhWsW11lwTQGbLTKBeJ4HkZXwSxrn/view?usp=sharing a task cancellation version with logging

[2020-07-23 11:02] alexanderadam opened #2229 "Make Kiwix on Android resizable"
**Is your feature request related to a problem? Please describe.**

I'm using [Samsung DeX](https://www.samsung.com/us/explore/dex/), which gives a desktop like experience and makes use of Android windowing support.
Kiwix works fine on that except that it isn't resizable.

**Describe the solution you'd like**

According to the [Samsung documentation this on how to enable window resizing for Androi

[2020-07-23 11:08] kelson42 commented on #2229
@macgills @abdulwd Would we be able do do this without having bad side effects.

[2020-07-23 11:55] abdulwd commented on #2229
We have to test if doing so breaks some layouts on some screen sizes.

[2020-07-23 12:39] macgills commented on #2229
It is all in the testing of it as the implementation is as simple as the one attribute. It could lead to some weirdness as then we would be supporting multiwindow in Android. May have to update our Activity tags with something like this
[code]

@alexanderadam did you enable force resize and if you did were there any standout issues in your experience?

[2020-07-23 13:27] alexanderadam commented on #2229
No, I didn't enable it yet but I could test it tomorrow if you want.

[2020-07-24 08:06] #2154 closed

[2020-07-24 08:29] Frans-Lukas opened #2230 "Fullscreen is no longer working on the navigation branch"
**Describe the bug**

When opening full screen the top app bar is hidden but the content is not 'moved' along with it. The bottom navigation bar is also not hidden.

**Expected behavior**

Both top and bottom navigation bars should be hidden on entering full screen mode.

**Steps to reproduce the behavior:**
1. Enter reader destination with an open book.
2. Click the full screen mode menu item.

*

[2020-07-24 08:37] macgills commented on #2229
@alexanderadam it would be incredibly helpful if you could

[2020-07-24 09:03] macgills commented on #2222
![image](https://user-images.githubusercontent.com/3358282/88375822-30743f00-cd94-11ea-8ddb-a6ed60b3b012.png)

The problem is our custom scheme for loading! We prefix URLs with "zim://content/" as a way to uniquely identify zim content from other web content. the above screenshot is when I changed the scheme to "https://"

![image](https://user-images.githubusercontent.com/3358282/88376235-e3449d0

[2020-07-24 09:07] #2199 closed

[2020-07-24 09:08] alexanderadam commented on #2229
So I tested Kiwix with the `Force Resize` mode and every time I resize it a message appears that says:

`To change the size of this app, it needs to be restarted. Make sure you've saved your data before restarting. If this app doesn't support landscape mode, it won't maximise correctly.`

![Screenshot of resizing Kiwix in Samsung Dex](https://user-images.githubusercontent.com/372620/88376438-b21c9

[2020-07-24 09:10] rgaudin commented on #2222
OK, well that's already a very useful information. Did you do anything else but the scheme change?

[2020-07-24 09:14] macgills commented on #2222
I changed the scheme and then set the ServiceWorker... stuff

[code]

Maybe I need a more refined load than how we typically load content?

[2020-07-24 09:20] kelson42 commented on #2222
@macgills So far I'm concerned and for the moment, the custom protocol (scheme) is the proper way, but we believe many of our ports are impacted by https://bugs.chromium.org/p/chromium/issues/detail?id=522370 (at least). Therefore, our guess is that we have a "global" issue. We just try to have a good understanding on each platform before elaborating a global strategy for kiwix/overview#43.

[2020-07-26 16:44] dbedrenko commented on #2082
I attach a log with the above version.

I am trying to make the profiling work: this should be very helpful.
[with-cancelling-and-logging.log](https://github.com/kiwix/kiwix-android/files/4977946/with-cancelling-and-logging.log)

[2020-07-26 19:22] dbedrenko commented on #2082
I have a profile trace of me searching for "shake" with the cancel searches, logging enabled build.

This is how it [looks like](https://i.imgur.com/Pi7lttl.png) in Android Device Monitor (to run this tool, go to `<YOUR-SDK-DIR>/tools` and run `./monitor`)

You can also open it in with Android Studio (this is how it [looks like](https://i.imgur.com/2ioyoyM.png)) and select the thread to analyse at

[2020-07-27 10:28] macgills commented on #2082
Oh how very annoying, the task cancellation isn't cancelling the tasks. I have a few options here 1 which I like but could make things a bit more complex overall and another I hate but keeps the ugly in this file.

1) Introduce coroutines to the project, their ease of cancellability is much touted, they are the future of async programming on Android but RxJava is fulfilling a similar role right no

[2020-07-27 19:33] dbedrenko commented on #2082
My opinion is probably not informed, but if one option is much easier to do than the other, I would do that one first to see if this actually fixes the slow search bug (remember, most people get instantaneous search results even without search cancellation). If it doesn't solve it, you don't have to merge it and we would look for the solution elsewhere.

[2020-07-27 20:42] ikreymer commented on #2222
I think using a custom scheme of `http` or `https` is probably the best solution.. This is how I solved this in electron also.
It's not necessary to run a full server, but just change the scheme to be `http` or `https` instead of `zim` or `kiwix`.
Curious, what was the exact url used in the test, was it `https://<zim file>/path`?

(The AbortController error is good to know as well.. maybe that's n

[2020-07-28 06:54] macgills commented on #2222
in my test because I wasn't concerned about anything fully functioning I just used `https://content/[internal_zim_path]`

For a robust solution that will work with multiple open zim files it may be necessary to encode the filePath or zimId into the url being loaded but that is just something for me to keep in the back of my mind

[2020-07-28 08:05] kelson42 commented on #2222
@macgills @ikreymer This is probably a silly question but basically doing exactly the same but renaming `zim://` protocol to `http://` just does the job? If "yes" then it looks like a way to workaround the problem (yes this is a bit hacky, but would work), isn't it? If "yes". how would we make the difference between legitimate external HTTP URLs and internal URLs?

[2020-07-28 08:11] macgills commented on #2222
@kelson42 we would need a unique prefix after the scheme in the url ie `https://this_absolutely_must_be_a_zim/A/Index.html`

which is hard to guarantee once we adopt a scheme like `http`, probably most advisable to have it under an address Kiwix owns and we can reserve?

Then when a person clicks a url we intercept that and just do some string comparisons to figure out if it is external or not

[2020-07-28 08:14] macgills commented on #2222
`zim:` just seemed like a nice semantic that accurately described "this content is loaded using a different protocol" but it seems like a change must be necessary.

[2020-07-28 08:33] #2230 closed

[2020-07-28 08:35] kelson42 commented on #2222
@macgills we own kiwix.app which serves nothing.

[2020-07-28 08:37] Frans-Lukas opened #2234 "Full screen icon does not show transparency"
**Describe the bug**

The full screen button `activity_main_fullscreen_button` sets an alpha value of 0.6. However, the button is not transparent.
**Expected behavior**

The button should have 60%~ transparency.

**Steps to reproduce the behavior:**
1. Open full screen mode.
2. See that the full screen icon is either black or white (dark mode), without transparency.

**Screenshots**

![Screenshot_

[2020-07-28 08:54] Frans-Lukas opened #2235 "Move to single activity architecture"
**Is your feature request related to a problem? Please describe.**

The single activity architecture is officially recommended by google and brings many benefits, such as faster UI transitions, easier shared data and a simplified lifecycle.

**Describe the solution you'd like**

All activities except for KiwixMainActivity and CustomMainActivity should be converted to fragments and use the navigati

[2020-07-28 08:54] Frans-Lukas commented on #2213
Replaced by #2235

[2020-07-28 08:54] #2213 closed

[2020-07-28 09:18] macgills commented on #2082
https://drive.google.com/file/d/10LPnhWsW11lwTQGbLTKBeJ4HkZXwSxrn/view?usp=sharing

If you can try this version, coroutines with logging. Coroutines ended up being the nicest to implement with the finest grain of control. Thanks for your continued patience and assistance

[2020-07-29 13:51] Frans-Lukas opened #2238 "Convert history and bookmarks to fragments and use navigation component in the custom module."
**Is your feature request related to a problem? Please describe.**

#2235

**Describe the solution you'd like**

The navigation component allows for easy navigation and argument passing between fragments, therefore it should be used in the custom module as well.

[2020-07-30 19:45] dbedrenko commented on #2082
Sorry for the delay, here is the log and the trace for search term "faceboo":

[coroutines-with-logging.log](https://github.com/kiwix/kiwix-android/files/5003442/coroutines-with-logging.log)
[coroutines-with-logging.trace.zip](https://github.com/kiwix/kiwix-android/files/5003443/coroutines-with-logging.trace.zip)

It took around 25 seconds from last letter touched to search results. Does the profi

[2020-07-31 08:52] Frans-Lukas opened #2241 "Convert settings activities to fragments"
**Is your feature request related to a problem? Please describe.**

#2235

Custom and core now uses the navigation component which should make this change simpler than the history/bookmarks activity->fragment ticket.

[2020-07-31 09:20] macgills commented on #2082
[code]

This has actually uncovered something a little interesting.

I assume in the 20 seconds between typing "f" and reaching "after searchSuggestions" for "f" you had typed the rest of "faceboo".

In a typical situation I would expect to see multiple "before searchSuggestions" arrive. This leads me to believe only a singular thread is free? Otherwise the other operations would just start and no

[2020-07-31 09:22] #2227 closed

[2020-07-31 09:22] macgills opened #2242 "Fix Memory Leaks in Navigation Branch"
**Describe the bug**
Switch tabs rapidly and eventually it will crash the app

**Expected behavior**
We should address the leakcanary reports and fix the memory leaks so the app remains performant

[2020-07-31 18:20] s-ayush2903 commented on #2234
I would like to work on this issue

[2020-07-31 18:27] Frans-Lukas commented on #2234
Great!

[2020-07-31 20:44] s-ayush2903 opened #2244 "Flaky Toolbar Layout in Fragments"
While fixing #2234 i encountered some bug
**Describe the bug**
It is encountered on `feature/navigation` branch.
On returning back from full screen/looping the process the toolbar loses its theme/layout although the buttons work fine as expected. And this lasts all over the app in all fragments until it is restarted.

**Expected behavior**
The toolbar should not lose its theme/background

**Steps

[2020-07-31 21:18] s-ayush2903 commented on #2244
This issue rise out while fixing the transparency for the full screen button and mistakenly, i created an issue of it. Currently i've added a commit that closes this issue in the previous PR.
I can close this issue too if it seems uselessly rising out to spam the issue board, i know this was silly for me to create an issue while solving one, but i didn't do this intentionally, apologies for inconv

[2020-08-01 21:15] dbedrenko commented on #2082
My tablet has a dual-core CPU: "Dual-core 1.0 GHz Cortex-A9" to be exact.

[2020-08-03 08:48] Frans-Lukas opened #2246 "Closing and opening the custom app resets book"
**Describe the bug**

When having opened a set amount of tabs on different pages and restarting the app, the default tab with the default page is the only open tab. That is, the zim file is 'reset'.

**Expected behavior**

The expected behavior is the same as for the main App, when restarting the app, all tabs, their scroll position and page should be restored.

**Steps to reproduce the behavior:*

[2020-08-04 05:13] ritvikmahajan17 commented on #1826
I would like to convert

- [ ] LocalFileTransferTransferActivity.java class to Kotlin

[2020-08-04 05:19] ritvikmahajan17 commented on #1826
@kelson42 I would Like to convert `LocaleFileTransferActivity.java` file into kotlin

[2020-08-04 05:22] ritvikmahajan17 opened #2249 "Convert LocaleFileTransferActivity.java to kotlin"
Currently, `LocaleFileTransferActivity.java` is written in java, it should be instead in Kotlin.
For more info.:
Refer #1826
I would like to convert it.

[2020-08-04 05:23] ritvikmahajan17 opened #2250 "`LocaleFileTransferActivity.java` file into kotlin"
@kelson42 I would Like to convert `LocaleFileTransferActivity.java` file into kotlin
 #2249

_Originally posted by @ritvikmahajan17 in https://github.com/kiwix/kiwix-android/issues/1826#issuecomment-668385137_

[2020-08-04 05:24] #2250 closed

[2020-08-04 08:16] Frans-Lukas opened #2251 "Make ZimHostActivity into a fragment"
**Is your feature request related to a problem? Please describe.**

#2235

[2020-08-04 09:31] macgills commented on #2249
You are assigned, looking forward to seeing your work

[2020-08-04 09:38] #2242 closed

[2020-08-04 11:57] Frans-Lukas opened #2253 "Convert Help activity to fragment"
**Is your feature request related to a problem? Please describe.**
#2235

[2020-08-04 14:33] kelson42 opened #2256 "External device mgmt is not robust and gives contradictory information"
Otherwise how to explain such incoherent screenshot:

![image](https://user-images.githubusercontent.com/1029718/89306365-0f52fe80-d670-11ea-936e-a843dfbb4b7e.png)

Please write this part in a way things are cristal clear.

[2020-08-04 14:40] kelson42 opened #2257 "Storage selector is not user friendly"
The storage selector has many problems:
* It does not show what is the current configuration
* It is not haptic when you change the selection
* Clicking on the element change it automatically which might be surprising
* If you change it there is no toast showing that something has changed

As the consequence it is not clear at all what happens, in particular if you have this storage selector displ

[2020-08-04 14:52] kelson42 commented on #2256
After reformating the SD card, I have achieve to get again the same situation, here is the diagnostic:
[code]

[2020-08-05 08:18] macgills commented on #2256
Logs are not the Diagnostic report, the content of the email is the diagnostic report

[2020-08-05 08:26] kelson42 commented on #2256
@macgills This is what has been saved to the Google Drive from the Kiwix "Diagnostic Report". Do we have another bug here?

[2020-08-05 08:34] macgills commented on #2256
The diagnostic report is meant to be sent as an email so we attach data only meant for that context, I don't think we can limit the intent to exclusively email clients because we are also attaching a file

[2020-08-05 08:39] kelson42 opened #2258 "Diagnostic report integrity is not secured"
Steps to reproduce:
* Ask for a send a diagnostic report
* Choose "Save to Drive" (Google)
* Save it

I get a file with the logs

I should get the whole diagnostic

[2020-08-05 08:40] kelson42 commented on #2258
It looks like it works actually only with sending email... but I don't have an email client on my device configured and this is the case of many users. So the Google Drive option should work (better) or we should at least stop proposing this option (worse).

[2020-08-05 08:40] kelson42 commented on #2256
@macgills This is another bug, tracked here https://github.com/kiwix/kiwix-android/issues/2258

[2020-08-05 10:53] kelson42 opened #2260 "Stop supporting Android version < 5.0 (Lollipop)"
These older versions of Android won't be able to read new Zimit ZIM files relying on ServiceWorkers.

On the top of this, these Android OSes are more than 6 years old and require more and more effort to developers to keep them working fine.

My personal experience is that many of these devices are - from a hardware perspective - so limited that this is really difficult to provide a good UX with wi

[2020-08-05 11:02] Popolechien commented on #2260
Do we have any way to push an alert or warning on (target) people's screens?

[2020-08-05 11:35] abdulwd commented on #2260
It would not be easy to push notifications to them as that would require to push another update to them. Moreover, they won't update their devices just because we're showing them a notification. The older devices will still have the older version of Kiwix.
I think we can drop support for them as we won't have many new app installations on older devices.

[2020-08-05 14:12] bharath2547 opened #2261 "convert VideoEnabledWebChromeClient.java to kotlin class"
currently VideoEnabledWebChromeClient class in core/com.cprcrack.videowebview is written in java.
it should be instead in kotlin.
For more info.:
Refer #1826

[2020-08-05 14:14] bharath2547 commented on #2261
i would like to work on this issuse

[2020-08-06 07:18] macgills commented on #2260
As abdul says it requires us releasing a new version and in that having special code that says something like "On first open of this new version show a News Screen/Notification" and that would inform them that they will no longer receive updates. I don't think it is particularly necessary either.

[2020-08-06 07:21] macgills commented on #2261
You have been assigned, looking forward to your contribution

[2020-08-06 08:19] #2222 closed

[2020-08-06 08:34] macgills opened #2262 "Investigate war2c zim issues"
**Describe the bug**
https://dh-preserve.sfo2.cdn.digitaloceanspaces.com/webarchives/zim/lesfondamentaux.zim is not working with new ServiceWorker code

**Expected behavior**
zim file should load

[2020-08-06 08:42] macgills commented on #2262
@kelson42 Is there a file that is not 9GB that is not working?

[2020-08-06 09:09] kelson42 commented on #2262
@rgaudin Can you plublish your smaller latest ZIM test file on tmp.kiwix.org please?

[2020-08-06 13:02] Frans-Lukas opened #2263 "Back to top FAB should be above the top bottom toolbar in feature/navigation"
**Is your feature request related to a problem? Please describe.**

Currently, the back to top fab is displaying on top of (see screenshot) the bottom toolbar, This looks weird.

**Describe the solution you'd like**

The back to top button should be (16dp?) above the bottom toolbar.

**Describe alternatives you've considered**

Steps to reproduce:
1. Make sure back to top is enabled in settings ->

[2020-08-06 15:05] s-ayush2903 commented on #2263
I would like to work on this issue.

[2020-08-06 15:13] s-ayush2903 commented on #2258
Should we get device info too stored in the new file like as we have for logs? Also, the same has been addressed in #2153 in this [comment](https://github.com/kiwix/kiwix-android/pull/2153#issuecomment-656556898).

The bug addressed in this issue, only exists in very less number of file-sharing systems, it works fine with other clients

[2020-08-07 07:24] 07416 opened #2264 "Kiwix crashes constantly after downloading (EN) Wikipedia"
**Describe the bug**

Kiwix crashes constantly after downloading the full English Wikipedia.
**Expected behavior**

I should be able to browse the Wikipedia archive.
**Steps to reproduce the behavior:**
N/A

**Environment**
- Version of Kiwix Android : 3.2.1
- Device : Oneplus One
- OS version : LineageOS 16 (Android 9)

**Logs**

logcat output for "kiwix":
[logcat_08-07-2020_10-14-21.txt](https:/

[2020-08-07 07:50] macgills commented on #2264
Can you update your version of kiwix to latest?

[2020-08-07 08:39] Frans-Lukas opened #2266 "Open in new tab when searching has bad contrast in dark mode"
**Describe the bug**

The contrast of the open in new tab button is low when searching in dark mode

**Expected behavior**

The contrast should be high. See [this tool](https://contrast-ratio.com/) for help finding a good contrast ratio.

**Steps to reproduce the behavior:**
1. Open a book.
2. Search for something.
3. See that the open in new tab icon is still dark gray

**Screenshots**

![1170548

[2020-08-07 09:32] macgills opened #2267 "Increase third part software library versions"
**Is your feature request related to a problem? Please describe.**
Some libraries have newer versions out

**Describe the solution you'd like**
Increase versions to latest

[2020-08-07 09:57] #2238 closed

[2020-08-07 11:54] Frans-Lukas opened #2270 "Convert CoreSplashActivity to fragment"
**Is your feature request related to a problem? Please describe.**
#2235

Edit: CoreSplash should just be deleted and intro activity should be made into a fragment and the splash code should be moved to CoreMain. #2272 will complete this.

[2020-08-07 11:54] Frans-Lukas opened #2271 "Convert ErrorActivity to fragment"
**Is your feature request related to a problem? Please describe.**
#2235

[2020-08-07 11:57] Frans-Lukas opened #2272 "Convert IntroActivity to fragment"
**Is your feature request related to a problem? Please describe.**
#2235

[2020-08-07 12:19] rgaudin commented on #2222
I confirm this works for me. Thanks @macgills !
Requires some small changes inside the ZIM though https://github.com/openzim/warc2zim/issues/45

[2020-08-07 12:20] rgaudin commented on #2262
It's an inside-ZIM issue https://github.com/openzim/warc2zim/issues/45
You can test with my working [zim file](http://tmp.kiwix.org/myisago.zim)

[2020-08-07 12:20] #2262 closed

[2020-08-07 13:42] 07416 commented on #2264
Yes, I'll update to 3.3.2  (it will take some time to back up the 10GB archive as the APK signature is different, sorry).

Why the F-Droid build is from last February?

[2020-08-07 14:02] 07416 commented on #2264
Mind telling where the ZIM files are stored? I appear to be browsing the "short version" of Wikipedia now, but have no crashing issues anymore. The path is in `/storage/emulated/0/Android/data/org.kiwix.kiwixmobile/files/`, but where exactly?

[2020-08-07 15:08] #2264 closed

[2020-08-07 15:20] 07416 opened #2274 "Is the offline Wikipedia complete?"
I've now downloaded the full 10.2GB Wikipedia archive (2020-07-03) on my device, but it appears that only the article opening paragraphs can be viewed. Is this a bug on my side or the intended scope of the project? If the latter, I request updating the "book" description.

[2020-08-07 16:01] 07416 commented on #2274
Doesn't seem so — I wonder if the data can be compressed any further.

[2020-08-08 11:09] bharath2547 commented on #2261
#2275

[2020-08-08 11:09] bharath2547 commented on #2261
#2275

[2020-08-08 11:09] bharath2547 commented on #2261
#2275

[2020-08-08 11:09] bharath2547 commented on #2261
#2275

[2020-08-08 11:10] bharath2547 commented on #2261
#2275

[2020-08-08 15:39] kelson42 commented on #2274
This is normal, you have downloaded the mini version (first paragraph only), should be visible in the tags. You probably want the maxi flavour.

[2020-08-08 15:39] #2274 closed

[2020-08-08 16:47] bharath2547 commented on #2261
#2261

[2020-08-10 08:51] macgills commented on #2271
I might keep this an activity, it purposefully (or at least I think purposefully) gets run in a separate process

[2020-08-10 08:54] macgills commented on #2264
Good to hear your issue was resolved. We haven't got any response from F-Droid when we opened a merge Request to update kiwix, it is currently a manual process. There are a couple of barriers for us setting up automatic publishing to fdroid so it is inherently a slower process

[2020-08-10 08:56] Frans-Lukas commented on #2271
Ok, cool. Closing this then.

[2020-08-10 09:14] #2267 closed

[2020-08-10 10:09] #2271 closed

[2020-08-11 07:50] #2266 closed

[2020-08-11 10:40] #2244 closed

[2020-08-11 13:29] prayutsu commented on #2272
I would like to work on this issue.

[2020-08-11 13:51] Frans-Lukas commented on #2272
@prayutsu sorry, this ticket is already work in progress. Try looking for issues with "good first issue" tags, or converting classes to kotlin from Java if you are unsure of where to start.

[2020-08-11 13:58] prayutsu commented on #2272
okay, thanks!

[2020-08-12 11:56] Frans-Lukas opened #2278 "Convert language activity to fragment"
**Is your feature request related to a problem? Please describe.**

#2235

[2020-08-12 13:05] Frans-Lukas opened #2280 "Convert localfiletransfer activity to fragment"
**Is your feature request related to a problem? Please describe.**

#2235

[2020-08-13 16:48] heimo0 opened #2282 "Samsung exfat driver "sdfat" forbids to write big files"
Samsung S8 mit And. V.9.xx
Zim files größer als 4.xx GB sind ausgegraut und daher nicht downloadbar.
Es ist aber ausreichend Platz auf der Speicherkarte vorhanden.

[2020-08-13 16:55] kelson42 commented on #2282
@heimo0 Thank you for your bug report. Unfortunately, This is impossible to handle many different problems within one ticket. please split this ticket so we have one simple problem at a time?

[2020-08-13 17:09] heimo0 commented on #2282
hallo ..

this are not different Problems.

IT IS ONLY one and the same problem, which I tested on 2 smartphones......

yours.

------------------------------------------------------------------
Hermann Moseler            Tel.:   089-44848-40-0
München                           Fax:   089-44848-48

Von: Kelson [mailto:notifications@github.com]
Gesendet: Donnerstag, 13. August 2020 18:56
An: kiwix/

[2020-08-13 17:13] kelson42 commented on #2282
@heimo0 I have kept only one problem by modifyingthe ticket.

[2020-08-13 17:19] kelson42 commented on #2282
@heimo0 This is greyed because the online content will not be writeable on your external SD card. This is not because the free space is not sufficient. This is because the filesystem does not support files bigger than 4GB. Typically the case with fat32. Use exfat instead and you will be able to download big files.

[2020-08-13 18:07] heimo0 commented on #2282
hallo  ....

EXT. SD Card is formated with EXFAT32.

I can copy the 37 GByte file

wikipedia_de_all_maxi_2020-07.zim

from PC in the files Directory of Kiwix.

BUT the Reader will not recognice any file copied from PC, but only the downloaded direct inside the READER.

What to do....

Until Dez.2019 this works fine, but other the Jan.2020 update never again...

yours

-----------------------------

[2020-08-13 18:51] kelson42 commented on #2282
@heimo0 Whould you be able plase to send the diagnose report per email?
@macgills would you be able please to check the diagnose report so we unterstand why his sd card is not detected as exfat?

[2020-08-13 21:55] heimo0 commented on #2282
hallo  ...

             <https://github.com/heimo0> @heimo0 Whould you be able plase to send the diagnose report per email?

I did it already today and someone confirmed to receive it...

But, if you tell me how. I repeat it as often as necessary...

-------------------

                        would you be able please to check the diagnose report so we unterstand why his sd card is not detected

[2020-08-13 22:30] heimo0 commented on #2282
is it possible to continue a broken Download, instead to restart it always new....
So 37 GByte will never end to be downloaded....

[2020-08-14 10:15] macgills commented on #2282
`MountInfo(device=/dev/block/vold/public:179,1, mountPoint=/mnt/media_rw/5399-48E9, fileSystem=sdfat)`

Your SD card is reporting it is `sdfat` which I had interpreted as "does not support 4GB files" which I believe to be the correct interpretation

`private val DOES_NOT_SUPPORT_4GB_FILE_SYSTEMS = listOf("fat32", "vfat", "sdfat")`

If you can try formatting the card again as exfat? Otherwise we co

[2020-08-14 10:30] kelson42 commented on #2282
If I trust this article https://www.phoronix.com/scan.php?page=news_item&px=exFAT-sdFAT-Alt-Driver "sdfat" is the name od the traditional Samsung implementation of exfat driver (until recently strong MS property). Therefore, Sdfat should perfectly support big files and should not I believe be part of the black list. What was the reason to put it in?

[2020-08-14 10:36] kelson42 commented on #2282
@macgills Might be that this is simple impossible to know from this is we have fat32 or exfat, see https://github.com/greiman/SdFat-beta

[2020-08-14 10:45] kelson42 commented on #2282
@macgills This confirs my guess https://android.stackexchange.com/questions/209347/how-do-i-find-what-type-of-file-system-is-of-an-attached-usb-or-sd-card. It is impossible to knowwith fa driver sdfat from Samsung ifthe fs behind is fat16, fat32 or exfat... and therefore able to handle big files... or not.

[2020-08-14 10:53] macgills commented on #2282
So I will remove sdfat from the blacklist, it will fallback to writing the file

[2020-08-14 11:08] kelson42 commented on #2282
@macgills What will happen if we have the sdfat/fat32 combination?

[2020-08-14 11:12] macgills commented on #2282
It will fail to write the file, get marked as "unable to write 4gb files"

[2020-08-14 11:17] kelson42 commented on #2282
@macgills Great. Sorry to bother you a bit wit this but I ned a small refreshment about how it works:
* when will that fail? It will download 4gb and the fail?
* or do we have a test (we had this in the past)?
* remember me where the file marker will be put if it fails? In the same directory where we download the ZIM files?

[2020-08-14 11:21] macgills commented on #2282
We check the file system on launch of the library.
First we read the mount information to determine the file system.
If that returns Inconclusive we attempt to write a 4GB file.
If it succeeds we return a "Can Support 4GB"
If it fails we return a "Cannot Write 4GB"
After either outcome we delete the 4gb file.
There is no file marker, I believe there is a ticket for that.

[2020-08-14 11:31] kelson42 commented on #1664
@macgills With #2282, we se that in a lot of cases, it is impossible ot know from the mount point if fs supports big files. Therefore, somehow like foreseen by you, this ticket is relevant and IMO pretty important considering the current burden of writting this big test file each time to test if fs is OK. I believe what @Jaifroid propose is the best we can do: we should write in the directory itse

[2020-08-14 11:34] kelson42 commented on #2282
@macgills Thx, yes I believe we should move one with https://github.com/kiwix/kiwix-android/issues/1664.

[2020-08-14 11:47] kelson42 commented on #2282
@heimo0 So, it looks like your problem will be sorted out soon. A fix should be part of next beta to be published next week. I’m glad you made this bug report. Please open new tickets for your other problems, and keep in mind: one bug at a time.

[2020-08-15 05:36] abdulwd commented on #2225
Is this good to close?

[2020-08-15 07:22] Popolechien commented on #2225
@abdulwd yep!

[2020-08-15 07:22] #2225 closed

[2020-08-15 07:24] kelson42 commented on #2225
@abdulwd Yes, there is nothing much we can do here. We have a ticket to better check mimetypes here https://github.com/kiwix/maintenance/issues/73.

[2020-08-15 07:30] kelson42 commented on #2127
@eguinosa Hi, we would need your feedback to be able to continue with this ticket. See last question?

[2020-08-15 07:31] kelson42 commented on #2260
I would be in favour of implementing this ASAP then. @abdulwd Is that something you would like to do?

[2020-08-15 07:52] kelson42 commented on #2082
@macgills Any feedback here? Would like to know if you need anything from libkiwix.

[2020-08-15 11:14] abdulwd commented on #2260
I can do it but as Sean suggested it's not necessary. If we have some concrete reason we can go ahead with it.

[2020-08-15 11:29] rgaudin commented on #2260
Same, as a user I'd be annoyed to download an update that would just tell me I won't get any new update. Never seen this kind of behavior

[2020-08-15 11:40] kelson42 commented on #2260
@abdulwd All the reasons are given in the ticket. Not talking of makinf a dummy release for old Androids.

[2020-08-15 12:38] abdulwd commented on #2260
Ohh my bad. 😅
I'll update the min SDK version to Android Lollipop.

[2020-08-15 13:18] kelson42 commented on #2260
@abdulwd Thx, try to clean anything which can be cleaned. Looks like we have a few places where old stuff are supported which should not be needed anymore.

[2020-08-15 13:21] abdulwd commented on #2260
Yeah. I'm checking that but the linter is not raising any warning for unnecessary version checks.

[2020-08-15 18:04] abdulwd commented on #2260
I found that the linter is not being run on the `core` module. Either we can remove `app:` from [here](https://github.com/kiwix/kiwix-android/blob/ba16a5f208e120d7cf1f51b6e9ffc027676c7e67/team-props/git-hooks/pre-commit.sh#L5) or we can add `core:lintDebug` to it.
I think we also need to add
[code]
to [core/build.gradle.kts](https://github.com/kiwix/kiwix-android/blob/develop/core/build.gradle.kts

[2020-08-15 18:09] abdulwd commented on #2260
@macgills Should we remove `AppCompatActivity`, `app:srcCompat`, etc too?

[2020-08-15 19:06] s-ayush2903 commented on #2257
Can you please what can fix the problem, like displaying a toast or a snackbar alone won't work?
And what should be comprehended by ```haptic```?
I would like to work on it

[2020-08-15 19:14] s-ayush2903 commented on #2256
Here what situation are you trying to reach? The one depicted in the screenshot attached in the description? And what contradiction you are finding here, everything looks fine to me. Can you please throw some more light on the issue being faced by you to me, it would be very kind of you.
Thanks

[2020-08-15 20:25] s-ayush2903 opened #2285 "CustomApp Crashes on launch (when dev is merged with feature/nav)"
The described issue is observed when `develop` is merged with the changes proposed from `feature/navigation`
_CustomApp_
The custom app seems to be jammed completely.
* It crashes on its first install(please reinstall the app after the uninstallation as previous settings may not lead it to crash) with a border of red lines over the screen showing that there was an attempt made to launch the app an

[2020-08-16 06:08] kelson42 commented on #2174
We are preparing a new ZIM.

[2020-08-16 06:14] kelson42 commented on #2107
@macgills What is the status here?

[2020-08-16 06:15] kelson42 commented on #2234
@s-ayush2903 @Frans-Lukas Can we close that one?

[2020-08-16 06:20] #2234 closed

[2020-08-16 06:22] kelson42 commented on #2198
@macgills What should we do with that one?

[2020-08-16 06:25] kelson42 commented on #1271
@macgills Corresponding tickets have been created and two of them already implemented. I don’t believe this ticket is valuable in itself. Should we close it?

[2020-08-16 06:26] s-ayush2903 commented on #2234
@kelson42 Can you please enlighten about this milestone stuff. Are the issues/PRs added to the milestone are supposed to be completed before a specific deadline?

[2020-08-16 06:28] kelson42 commented on #2234
@s-ayush2903 Yes this is the idea. But here we have too much stuff in milestone 3.4.

[2020-08-16 06:32] Frans-Lukas commented on #2285
I merged develop to feature/nav which seems to have created a conflict... Otherwise it looks good!

[2020-08-16 06:32] kelson42 commented on #2229
@abdulwd @macgills What are the next steps here?

[2020-08-16 06:36] s-ayush2903 commented on #2285
Okay fine, thanks for the update, I'll be looking into it soon

[2020-08-16 06:42] s-ayush2903 commented on #2234
Thanks for the info :)

[2020-08-16 08:28] #2285 closed

[2020-08-16 09:16] kelson42 commented on #1682
@macgills https://gitlab.com/fdroid/fdroidserver/-/issues/613 has been implemented 3 months ago. Do we have any blocker left here?

[2020-08-16 09:23] kelson42 commented on #169
I don’t really think this ticket is helpful anymore. Closing it.

[2020-08-16 09:23] #169 closed

[2020-08-16 09:26] kelson42 commented on #1713
@mohamed-sameh-khalil Are you still impacted with latest version?
@macgills What should we do here? Not sure we can do more, except monving to OPDS.

[2020-08-16 09:28] kelson42 commented on #2012
@akkywadhwa Any news here or have you give up?

[2020-08-16 09:29] #2012 closed

[2020-08-16 09:36] kelson42 commented on #1075
@macgills Do we still have this issue?

[2020-08-16 09:40] #2066 closed

[2020-08-16 09:44] s-ayush2903 commented on #2104
@macgills The day i commented here and received your comment the same day, went to `3.3.1` version of the repo and searched for the loc(line of code) mentioned in the crash report it turned out that there exists no java class of `FileUtils.java` and instead we have the kotlin version of it, so i'm not sure how the report is created and filed here :shrug: .

[2020-08-16 09:45] s-ayush2903 commented on #2256
@kelson42 Can you please the address/consider the trailing comment

[2020-08-16 09:47] s-ayush2903 commented on #2258
@kelson42 Any ideas about it? (i'm asking as the previous comment got unaddressed), or it's totally fine if it's not a priority :)

[2020-08-16 09:53] mohamed-sameh-khalil commented on #1713
@kelson42 No, I am no longer facing this problem. I suspect it was happening because of low bandwidth on my side at the time.

[2020-08-16 09:54] #1713 closed

[2020-08-17 06:47] ruhci28 commented on #2223
Hii, @kelson42 can I work on this issue

[2020-08-17 06:59] kelson42 commented on #2223
@ruhci28 Yes.

[2020-08-17 08:07] Frans-Lukas opened #2287 "Change operating systems navigation bar to use kiwix themes color instead of system default."
# Additional context
**This is a great first issue as it is very straight forward, so I'd like it if someone who has never contributed to Kiwix implemented this.**

<br/>
<br/>
<br/>
<br/>

**Is your feature request related to a problem? Please describe.**

Currently the bottom navigation bar of the android OS uses the operating systems default color. This can look odd when using our application.

[2020-08-17 08:07] Frans-Lukas commented on #2287
@prayutsu ?

[2020-08-17 08:13] prayutsu commented on #2287
I would like to work on it

[2020-08-17 08:14] Frans-Lukas commented on #2287
Great! Assigning you.

[2020-08-17 08:14] prayutsu commented on #2287
Thank you!

[2020-08-17 08:18] macgills commented on #2082
I think to resolve this I would need for the kiwixlib api offer me a way to instead of doing 1 call `searchSuggestions(searchTerm, 200)` that blocks execution I would need something I can call iteratively so that execution returns to my control and I can call `yield` or `ensureActive` which will actually halt the execution entirely so the thread can stop.

I still haven't really analysed the CPU t

[2020-08-17 08:22] kelson42 commented on #2082
@macgills Thank you for the feedback. One time you have completed the CPU trace, let us know here about the next steps and if you need anything. This is a serious problem.

[2020-08-17 08:30] macgills commented on #2260
we are linting core,

[code]

is in `app` `build.gradle.kts` because app has core as a dependency, not the other way around.

We shouldn't remove AppCompatActivity, that is vital for the support of a lot of the libraries.
`srcCompat` might be nice to get rid of then we can get rid of that warning about vector drawables.
I would change nothing but the minSDK number. And then probably some now obsol

[2020-08-17 08:42] macgills commented on #2257
for it to be haptic there would need to be a response when the buttons in the selector dialog are clicked.
The way we decide a storage is internal/external should be standardised to be the way we choose it in PrefsFragment.
It should also show a toast that storage was updated when used outside of the PrefsFragment, maybe only then as it is pretty clear in the UI of the PrefsFragment that you have

[2020-08-17 08:45] kelson42 commented on #2257
@macgills Why not having a bullet list in settings with the available storage devices? Would be a lot simpler! It would not be possible to change it in the library online tab anymore, but we would still display the toast if necessary and a link to open the settings at the right place to change it?

[2020-08-17 08:46] macgills commented on #2107
I have asked the maintainer if he plans to do a release soon, I believe his job has been quite demanding lately and \***gestures vaguely at the world**\* so it might be a while

[2020-08-17 08:50] macgills commented on #2198
This might go away with SplashActivity not really existing as the Single Activity Architecture is being migrated to by Frans.

We could also attempt to migrate to Hilt, the newest Dagger library from the jetpack team. I haven't seen any explicit mention of how it works in a multi module scenario but maybe it is just fine

[2020-08-17 08:51] macgills commented on #1271
I think more issues have become ignored in the interim but we can probably close it

[2020-08-17 08:53] #1271 closed

[2020-08-17 08:53] macgills commented on #2229
Implement and test, It is in the milestone so it should get done soon, depending on priorities I could move it to the top of my list

[2020-08-17 08:55] kelson42 commented on #2229
@macgills Not TOP prio, but seems relatively simple, so would be nice-to-have.

[2020-08-17 08:57] Frans-Lukas opened #2288 "Restoring multiple tabs does not work in feature/navigation custom."
**Describe the bug**

When restarting the custom app, only the most recently opened tab is restored.

**Expected behavior**

All tabs with their y-scroll positions should be restored on app restart.

**Steps to reproduce the behavior:**
1. Open multiple tabs.
2. Restart the custom app.
3. See that only one tab is restored.

[2020-08-17 08:57] macgills commented on #1682
I would guess that it has been unblocked

[2020-08-17 08:59] abdulwd commented on #2260
There's something wrong with it. You can check the linked PR the pre-commit hook isn't failing when there are any lint errors in the core module.

[2020-08-17 09:00] macgills commented on #1075
I'll check when we enter 3.5 milestone? Or if anyone else can spare the time to validate

[2020-08-17 09:02] macgills commented on #2260
Every translatewiki PR fails lint checks in the core module, can you post a concrete example on the PR?

[2020-08-17 09:07] macgills commented on #2104
Definitely weird, maybe I accidentally got this report from a slightly older version? we can still find the offending line

[code]

somewhere in the `contentQuery` method we call `ContentResolver.query `

[2020-08-17 09:09] kelson42 commented on #1682
@macgills Great, considering that this is near-impossible to get our PR merged manually, we should definitly move on with this early in 3.5 milestone and make a release (3.4.x).

[2020-08-17 09:09] macgills commented on #2256
The internal/external labels should be consistent. We should use the same logic in the PrefsFragment

[2020-08-17 09:11] macgills commented on #2258
I guess just append the text we write to the email body also to the log file and we get a quick win

[2020-08-17 09:24] macgills commented on #2257
Well the UX of being able to change the setting right there and then is quite useful, hesitant to remove it.

Customising the UI of the preference screen is actually a bit annoying and also the data is dynamic as there might be only 1 storage device. We could have a subclass of `ListPreference` but it would amount to much the same as we have now. Probably altering our existing dialog to have radio

[2020-08-17 09:33] kelson42 commented on #2257
@macgills OK, was just an idea.

[2020-08-17 10:05] s-ayush2903 commented on #2288
@Frans-Lukas I feel that there needs to be focus to be put on _CustomApp_ as well, last night when it automatically downloaded the zim file, it did open and i read it for a while but when i exit the app and launched it again, it crashed! and the crashes were persisting and repetitive. So i've been trying to reproduce it and fix it eventually. But unfortunately, there are frequent power cuts happen

[2020-08-17 10:07] Frans-Lukas commented on #2288
Hmm, that's worrying. Good that you are working on finding the cause.

[2020-08-17 11:04] abdulwd commented on #2260
@macgills IMO the inspections should fail the pre-commit hook for the examples given by Frans https://github.com/kiwix/kiwix-android/pull/2284#pullrequestreview-468216059.

[2020-08-17 11:07] macgills commented on #2260
`inspections` != 'lint', I am investigating but I might run out of time today.

It might just be that the files are in kotlin and the lint rule doesn't work fully in kotlin

[2020-08-17 11:11] abdulwd commented on #2260
Ahh, my bad. I always associate android inspections with lint.

[2020-08-17 11:13] prayutsu commented on #2287
@Frans-Lukas Do I need to create a new branch for this?

[2020-08-17 12:20] Frans-Lukas commented on #2287
Yes! See the naming convention in [CONTRIBUTING.md](https://github.com/kiwix/kiwix-android/blob/develop/CONTRIBUTING.md) and commit style in [COMMITSTYLE.md](https://github.com/kiwix/kiwix-android/blob/develop/docs/commitstyle.md). Basically branches should be named feature/<username>/<issuenumber>-<issue-name> and commits should follow #<issue-number> <commit-message>.

[2020-08-18 08:21] macgills commented on #2287
@kelson42 I will move the discussion of the validity of this ticket off of the PR and to here.

It is pretty common to match thesystem UI to the colors of your app, status bars and navigation bars. Otherwise you can have jarring color clashes. I think this ticket is quite valid

[2020-08-18 08:22] prayutsu commented on #1826
I want to convert ErrorActivity.java into Kotlin file

[2020-08-18 08:30] macgills commented on #1826
@prayutsu great, please make that ticket

[2020-08-18 08:42] #2241 closed

[2020-08-18 08:44] prayutsu opened #2291 "Convert ErrorActivity.java file into Kotlin file"
**Is your feature request related to a problem? Please describe.**
All the present files in java are being converted into Java. This is in reference to #1826

**Describe the solution you'd like**

Simply convert the java code into kotlin

[2020-08-18 08:47] prayutsu commented on #2291
I want to work on this issue.

[2020-08-18 09:49] Frans-Lukas opened #2292 "ZimHostFragment/Activity is not requesting ACCESS_COARSE_LOCATION on Android 10"
**Describe the bug**

ZimHostFragment/Activity requires the coarse location permission to access wifi information. This permission is never requested on zim host starting.

**Expected behavior**

I think the permission should be requested if the user is connected to wifi (`wifiManager.isWifiEnabled`) and the user clicks the "Start Server" button in `ZimHost*`. Similarly to how the permission is re

[2020-08-18 10:03] #2253 closed

[2020-08-18 10:05] macgills commented on #2292
As a note: I cannot replicate this issue. Issue discovered on the zimHost to fragment ticket. Currently on `oneActivity` branch.

@Frans-Lukas can you verify this behaviour on develop, when you have the time

[2020-08-18 10:09] Frans-Lukas commented on #2292
Same issue on `develop`-branch.

[2020-08-18 10:10] #2261 closed

[2020-08-18 10:17] macgills commented on #2292
Excellent issue identified

[2020-08-18 10:33] #2251 closed

[2020-08-18 15:39] Popolechien opened #2294 "Can we do supertargeted popups?"
It appears that we've had three downloads this year from Antarctica-based devices: could it be possible to embed a functionality that would test a user's IP address, and if it matches a given region (e.g. Antarctica), pop up a "please contact us" window (similar to the "please rate us" we already have)?

I'm not asking we do it, but only if that would be possible and how big of an effort that woul

[2020-08-19 08:05] #2278 closed

[2020-08-19 08:17] NullByte08 commented on #2246
Hi, this will be my first issue that I am going to tackle in this repository. Can I work on this?

[2020-08-19 08:22] NullByte08 commented on #2270
Hi, Can I work on this?

[2020-08-19 08:25] Frans-Lukas commented on #2246
Hey and welcome @NullByte08 , I think this issue will be solved by the #2295 pull request.

I can recommend #2292 if you are up for a similar issue. Otherwise, converting java files to Kotlin are always appreciated and good first issues as they don't require much knowledge about the code base. See #1826.

[2020-08-19 08:28] NullByte08 commented on #2292
@Frans-Lukas Hi, Can I work on this?

[2020-08-19 08:28] NullByte08 commented on #2246
Ok, thanks. I will check them out.

[2020-08-19 08:29] Frans-Lukas commented on #2292
Yes! Assigning you.

[2020-08-19 08:51] Frans-Lukas commented on #2270
Fixed by #2273.

[2020-08-19 08:53] macgills commented on #2294
There are webservices that allow a lookup based on IP if we wanted to avoid using location APIs. I think they have rate limits per day so we would probably only want to do it infrequently?  I'd need to investigate these services more

A more robust solution would be push notifications which would be a much larger integration but leave us in a place where we could target more specifically. I think

[2020-08-19 09:54] #2112 closed

[2020-08-19 10:59] macgills opened #2299 "Upgrade to Kotlin 1.4.0"
**Is your feature request related to a problem? Please describe.**
A new version of kotlin has been released with new language features, improved speed and a new type inference engine.

**Describe the solution you'd like**
An upgrade to kotlin 1.4.0 with a migration run to fix any potential issues

**Additional context**
We may also want to move to AS/AGP 4.1 which currently has a RC in the beta c

[2020-08-19 15:29] Popolechien opened #2300 "Missing wrap in library"
Version 3.3.4 build 6230304

Picture speaks for a thousand words so here we go
![Screenshot_20200819_172613_org kiwix kiwixmobile](https://user-images.githubusercontent.com/21675885/90655142-7c09f380-e241-11ea-9693-b23ee2271299.jpg)

[2020-08-20 06:00] gouri-panda commented on #1826
@macgills I want to convert FileReader.java to kotlin.

[2020-08-20 08:21] kelson42 opened #2301 "Broken rate dialog in 3.4"
![Screenshot_20200820-102032](https://user-images.githubusercontent.com/1029718/90740464-385dcb00-e2cf-11ea-99c4-92760073aa8c.png)

[2020-08-20 08:33] kelson42 opened #2302 "the left oriented (back) arrow beside Search field does not work at all (with 3.4)"
1 - start a search
2 - clicking on the back arrow

I get:
* nothing happens, I'm stuck

I want:
* Work like in 3.3.4

[2020-08-20 08:36] kelson42 opened #2303 "Impossible to surf on 3D printing SE ZIM file"
Steps:
* Download 3D printing ZIM file
* Load it
* Welcome page displyas properly
* clicking on the first link

I get:
* a blank page

I want:
* The proper page

[2020-08-20 08:42] Frans-Lukas opened #2304 "Newly opened pages starts slightly scrolled."
**Describe the bug**

When entering any page of any book, the page is scrolled down by (about) the height of the toolbar.

**Expected behavior**

When opening a new page, its scroll position should be zero.

**Steps to reproduce the behavior:**
1. Open any book and any new page.
2. Notice that the scroll position is not zero.

**Screenshots**

![Screenshot_1597912717](https://user-images.githubuse

[2020-08-20 08:48] Frans-Lukas commented on #2302
Should be easy fix, assigning myself..

[2020-08-20 09:01] macgills commented on #2304
I think this is a custom apps bug, is it not resolved by the tab restoration?

[2020-08-20 09:05] Frans-Lukas commented on #2304
No, it's in both `app` and `custom` and is the same for all files and pages.

[2020-08-20 09:13] gouri-panda opened #2306 "Convert FileReader to kotlin"
**Is your feature request related to a problem? Please describe.**

FileReader is in Java

**Describe the solution you'd like**

Convert it in Kotlin

**Additional context**

Parent issue #1826

[2020-08-20 09:21] gouri-panda opened #2307 "Convert DocumentParser to kotlin"
**Is your feature request related to a problem? Please describe.**

DocumentParser is in Java

**Describe the solution you'd like**

Convert it in Kotlin

**Additional context**

Parent issue #1826

[2020-08-20 09:24] Frans-Lukas opened #2308 "On re-opening of history/bookmarks after having opened a page from either of them, the back button requires a double click to work."
**Describe the bug**

The first click does nothing, and the second click works as expected.

**Expected behavior**

The back button should always work on the first click.

**Steps to reproduce the behavior:**
1. Open history.
2. Select a page.
3. Re-open history.
4. Click back and notice that nothing happens.
5. Click back again, and see that it works as expected.

**Screenshots**
This is what hap

[2020-08-20 09:29] #2270 closed

[2020-08-20 09:30] macgills commented on #2307
Hmmm I think someone else was going to do this

[2020-08-20 09:31] macgills commented on #2307
@bharath2547 do you want to do this conversion or are you happy for @gouri-panda to take it?

[2020-08-20 09:49] #2302 closed

[2020-08-20 09:52] Frans-Lukas commented on #2303
Tried on two emulated and one physical device and can't replicate this. All from clean installs though.

[2020-08-20 09:56] Frans-Lukas commented on #2301
Stems from `AlertDialogShower.kt`:
[code]
But don't know why? One fix is to concatenate the strings beforehand, and creating a constructor that uses a string instead of int for the message, but that feels like it doesn't fix the real issue. @macgills ?

[2020-08-20 10:03] macgills opened #2310 "Target Android 29 before November"
**Is your feature request related to a problem? Please describe.**
We will no longer be able to perform updates to the app if we don't target 29 https://developer.android.com/distribute/play-policies

**Describe the solution you'd like**
Target 29 and ensure the correct operation of the application

**Additional context**
We may have to support scoped storage, this ticket will require a full asses

[2020-08-20 10:05] gouri-panda opened #2311 "Convert KiwixWebChromeClient to kotlin"
**Is your feature request related to a problem? Please describe.**

KiwixWebChromeClient is in Java

**Describe the solution you'd like**

Convert it in Kotlin

**Additional context**

Parent issue #1826

[2020-08-20 10:08] macgills commented on #2301
The Dialog is just wrong, it shouldn't pass ints as the args, the body template accepts strings

[2020-08-20 10:09] Frans-Lukas commented on #2301
Ah, like this

[code]
?

[2020-08-20 10:10] macgills commented on #2301
Not there, that code is fine, a string template can and should accept numbers sometimes

[code]
this listOf should have getString called

[2020-08-20 10:11] Frans-Lukas commented on #2301
Activity/context is not reachable from KiwixDialog.kt

[2020-08-20 10:11] macgills commented on #2301
maybe just passed in as strings but they are intrinsic to this dialog so maybe just pass in the activity to the secondary constructor

[2020-08-20 10:14] macgills commented on #2301
Context is reachable everywhere via CoreApp but you should always use the closest context because it might have had something applied to it

[2020-08-20 10:17] kelson42 commented on #2303
Might that be that if we have a ZIM with a service worker, it sill applies?!

[2020-08-20 10:18] Frans-Lukas commented on #2301
while we are at it, should the visitcounter increase on any top level destination (on KiwixMainActivity start). Because currently the dialog is only opened in the reader destination.

[2020-08-20 10:25] macgills commented on #2301
Start of activity makes sense, I believe it tries to track "app opens", it is a bit messy that logic

[2020-08-20 10:58] #2260 closed

[2020-08-20 11:13] bharath2547 commented on #2307
@macgills  i will take this.

[2020-08-20 11:13] bharath2547 commented on #2307
@macgills  i am working on it

[2020-08-20 11:25] kelson42 commented on #2299
@macgills I’m not sure about how much work is needed, but would be indeed good to do.

[2020-08-20 11:36] macgills commented on #2300
kind of finicky this aside from the title of books which is an easy fix.
I guess we can set a maximum width on the filename eg "computer maxi" and elipsizing it when it is too long?

A multiline author will break the symmetry so perhaps elipsize that too?

[2020-08-20 11:37] macgills commented on #2299
not very much work I would think

[2020-08-20 11:42] kelson42 commented on #2300
None of the entries here should be multiline.... but the descriptions can be a full sentence.

[2020-08-20 11:47] macgills commented on #2300
![image](https://user-images.githubusercontent.com/3358282/90766075-e32bb480-e2e2-11ea-8519-df7e7bc901ee.png)
for reference

The author "Youtube Channel KhanAcademy Francophone" is too long and we have to deal with that. is it multiline or is it ellipses?

similarly the File Name is longer than the entire list item

[2020-08-20 11:53] #2311 closed

[2020-08-20 12:20] gouri-panda opened #2315 "Convert KiwixTextToSpeech to kotlin"
Is your feature request related to a problem? Please describe.

KiwixTextToSpeech is in Java

Describe the solution you'd like

Convert it in Kotlin

Additional context

Parent issue #1826

[2020-08-20 13:29] heimo0 commented on #2282
Kiwix now recognizes the last new downloaded ZIM files, but app starts about 10 to 15 minutes....
I discovered it by chance...

Am 14. August 2020 13:47:26 MESZ schrieb Kelson <notifications@github.com>:

Gruß

Hermann Moseler

[2020-08-21 07:26] #2272 closed

[2020-08-21 07:27] Frans-Lukas opened #2319 "Convert SearchActivity to fragment"
**Is your feature request related to a problem? Please describe.**

#2235

[2020-08-21 07:28] Frans-Lukas commented on #2303
What do you mean? What applies?

[2020-08-21 08:37] #2306 closed

[2020-08-21 08:41] #2301 closed

[2020-08-21 08:48] #2287 closed

[2020-08-22 16:31] gouri-panda opened #2322 "Convert AddNoteDialog to kotlin"
Is your feature request related to a problem? Please describe.

AddNoteDialog is in Java

Describe the solution you'd like

Convert it in Kotlin

Additional context

Parent issue #1826

[2020-08-23 10:07] NullByte08 opened #2324 "Convert HotspotNotificationManager.java to Kotlin"
**Is your feature request related to a problem? Please describe.**

`HotspotNotificationManage` class is in Java.

**Describe the solution you'd like**

convert it to Kotlin

**Additional context**

 Parent issue #1826

[2020-08-24 10:49] #2263 closed

[2020-08-24 11:19] s-ayush2903 commented on #2200
@macgills Anything left here?

[2020-08-24 11:30] macgills commented on #2200
I tagged you on a PR, tldr this broke the online library, we will redo it and be more careful

[2020-08-24 14:03] gouri-panda opened #2327 "Only need to run lint before push."
Now lint is running every commit. It will be much easier to run lint if it runs only before the push.

[2020-08-24 14:26] kelson42 commented on #2303
This is what I suspected:
* Download http://tmp.kiwix.org/bouquineux.zim and open it and surf a bit
* Then open https://download.kiwix.org/zim/stack_exchange/3dprinting.stackexchange.com_en_all_2020-04.zim and then you have the problem

[2020-08-24 20:30] s-ayush2903 commented on #1827
I would like to add some instrumentation tests for navigation. As the current test that tests navigation(`MainActivityTest.java`) contains tests for lesser components as now the app has been revamped with some new features so i would like to complete that `MainActivityTest.java` via adding missing tests

[2020-08-24 20:40] s-ayush2903 commented on #1745
Can you please throw light at _Write test to conform new style_

[2020-08-24 21:17] s-ayush2903 commented on #1745
Okay, so i just read about the `Robot` mentioned in the title and comprehended that it is something that makes use of Builder Pattern(kinda abstraction and implementation type but not like interfaces, like clean Architecture?) and found its usage in the `IntroActivityTest`. Please add anything that i missed or misinterpreted.

PS: I would like to work on this issue

[2020-08-25 08:33] macgills commented on #2327
@Frans-Lukas commits are not necessarily on the repo though. I can't speak to others style of writing but I would nearly always commit and push at the same time so logistically this makes zero difference to me.

If a person has a bunch of local commits, tries to push and then it fails they can happily rebase and rework their local history before making it the history of the repo.

@gouri-panda it

[2020-08-25 08:38] macgills commented on #1827
@s-ayush2903 this ticket is for unit tests

[2020-08-25 08:41] macgills commented on #1745
A PageObject/Robot is just an object that wraps around the details of a screen/view to simplify driving a test. This way if a view changes (a new id or what have you) then our tests are not affected, only our robots

[2020-08-25 09:34] macgills commented on #2303
Reproduced
[code]

Deeply deeply weird. It loads the 1st page of 3D printing but not the subsequent pages. Moreover I don't see how we intuit that a load is "for a service worker" or not to activate/deactivate at a whim.

The ServiceWorker has seemingly taken over all loading once it loads once but is fine with the index?

It loads pages but not videos on a TED zim.

I could reinitialise the servi

[2020-08-25 09:54] macgills commented on #2300
@kelson42 have you reached a decision on how long text in these fields should render?

[2020-08-25 10:14] #2282 closed

[2020-08-25 11:34] kelson42 commented on #2303
We have to that anyway IMO to secure no side effects.

Remark: we need as well to check the behaviours with multiple tabs. Not sure exactly at which level this is attached.

[2020-08-25 11:35] kelson42 commented on #2235
@Frans-Lukas @macgills Do we have created all sub-tickets? Does that make sense to keep that one open?

[2020-08-25 11:37] kelson42 commented on #2300
@macgills We should fade out/ellipsis if too long. Ultimatively, we need a view to be able to show ZIM details properly.

[2020-08-25 11:39] kelson42 commented on #2304
@Frans-Lukas If you could fix it that would be great considering that we are in a race to finish on time the 3.4 milestone.

[2020-08-25 11:46] Frans-Lukas commented on #2304
Will do!

[2020-08-25 12:00] gouri-panda commented on #2327
When I work on an issue. I generally commit small meaningful changes, after the issue is solved i push to my repo.

[2020-08-25 12:07] gouri-panda opened #2331 "FileReader injected in other classes rather calling normally."

[2020-08-25 13:06] Frans-Lukas opened #2333 "The progressbar in the reader fragments is not being hidden on hideTabSwitcher (in dark mode)."
**Describe the bug**

After closing the tab switcher, the progress bar remains visible after finishing loading.

**Expected behavior**

The progress bar should be hidden after loading is finished.

**Steps to reproduce the behavior:**
1. Make sure dark mode is enabled.
2. Open reader fragment.
3. Open tab switcher.
4. Close tab switcher by selecting or creating a tab.
5. Notice that the progress b

[2020-08-25 16:30] heimo0 commented on #2282
Thanks now it works again, like last year.
Yours

Am 14. August 2020 13:47:26 MESZ schrieb Kelson <notifications@github.com>:

Gruß

Hermann Moseler

[2020-08-26 08:40] macgills commented on #2303
tried multiple tabs, once a service worker has been used to load something then it poisons the well. Really puts a damper on multizim tabs.

Enabling ServiceWorkers is like so
[code]
so just setting a client on a singelton instance, we do this at app startup currently.

I can run more experiments after I clear this day's notifications

[2020-08-26 08:43] macgills commented on #2235
I think there is still 1 activity without a ticket, CustomDownload

[2020-08-26 08:48] macgills commented on #2300
okay, I will be changing the text pairs below description to divide the space between them and elipsize.

There is that ticket for showing a zims detail view  where all this information would be legible

[2020-08-26 08:53] Frans-Lukas opened #2335 "Convert CustomDownload to fragment"
**Is your feature request related to a problem? Please describe.**

#2235

[2020-08-26 08:53] Frans-Lukas commented on #2335
@s-ayush2903

[2020-08-26 09:03] s-ayush2903 commented on #2335
I would love to work on this as soon as my currently open PR(#2328) gets perfect. Or if time permits, I'll comment it here before the perfection of the aforementioned PR!

[2020-08-26 09:13] macgills commented on #2327
I am happy for this ticket to be accepted, it will have to delete the commit hook as part of the install task. The install task is located in `git-hooks.gradle`, This isn't a priority for me right now so I won't get to it for a while but happy for someone else to pick it up

[2020-08-26 09:15] macgills commented on #2331
It has 1 usage, I would be more in favour of this being an extension function on context `readAssetAsText` or somesuch. Downside is that is is used in java so usage will just look like a conventional static method

[2020-08-26 09:33] #2288 closed

[2020-08-26 11:10] macgills commented on #2303
I think this is a problem with `boquineux`? with the `war2c` zim file this issue is not reproducible. I don't really know what is going on though to be perfectly honest

[2020-08-26 11:44] Frans-Lukas opened #2336 "Rename fragment_main and main_fragment_content to fragment_reader and reader_fragment_content."
Title is explanatory.

[2020-08-26 12:11] Frans-Lukas opened #2338 "Fix memory leaks"
**Describe the bug**

I just managed to re-create one memory leak, but am sure I have found more earlier today. This leak is caused from the ToolbarScrollingWebView.
![118581256_601951067150124_1639918906429691021_n](https://user-images.githubusercontent.com/22193232/91302157-51222100-e7a6-11ea-99fd-0c11f7db92ca.jpg)

[2020-08-26 12:31] Frans-Lukas commented on #2338
One leak is reproducible by the following steps:

1. Open app.
2. Open book and go to reader.
3. Go to history.
4. Go to OS home screen. That is, minimize Kiwix.

This leaks either the webViewList, or the actionBar.

[2020-08-26 12:56] Frans-Lukas commented on #2338
Another memory leak from the OnlineLibraryFragment.

Reproduced by:
1. Open online library fragment.
2. Go to history.
3. Minimize kiwix.

libraryAdapter seems to be the villain here.

[2020-08-26 12:59] Frans-Lukas opened #2339 "Merge LibraryFragment with OnlineLibraryFragment"
**Is your feature request related to a problem? Please describe.**

`LibraryFragment` is only inherited by one class: `OnlineLibraryFragment`. By merging these two classes we reduce duplicated code and number of files.

[2020-08-27 06:50] kelson42 commented on #2082
@mgautierfr Might that be that https://github.com/kiwix/kiwix-lib/pull/374 is somehow related to this problem?

[2020-08-27 08:15] Frans-Lukas opened #2341 "Fix memory leaks in feature/one-activity"
**Describe the bug**

Fragments require more care for memory leaks (as their references remain longer?). Because all activities have been converted to fragments, many more memory leaks are present.

[2020-08-27 08:49] Frans-Lukas commented on #2341
Two leaks found this far,

ZimHostFragment:
1. Open "Host Book" from navigation drawer.
2. Minimize kiwix.
`HotSpotService.zimHostCallbacks` causes leak.

PrefsFragment:
1. Open "Settings" from navigation drawer.
2. Minimize kiwix.
`KiwixPrefsFragment.mContainer` causes leak.

[2020-08-27 09:37] mgautierfr commented on #2082
Yes and no :)

The search api exposed by kiwix-lib to android is not thread safe indeed. The searchSuggestions use a internal vector to store the result and if you do several search in the same time you will get wrong (mixed) results. We may even have crash because of two thread modified the vector at the same time and scrambling the memory.

But it will not help to have a async search api nor to

[2020-08-27 11:46] kelson42 commented on #2082
@mgautierfr AFAIK, the only way to provide a good experience of suggestion search is to use multithreading? You confirm?

[2020-08-27 12:06] mgautierfr commented on #2082
Yes. We may have good surprise on the search code itself, but from what I know, we should try to move this way.
This should not be made on android however. As @macgills suggests, it would be to kiwixlib/libzim to provide a async api. And user code (anrdoid, desktop, serve..) will have to adapt to take advantage of this api (incremental displaying of the results...)

[2020-08-27 12:10] kelson42 commented on #2082
@mgautierfr Do we have a ticket for that already?

[2020-08-27 12:12] mgautierfr commented on #2082
No

[2020-08-27 12:21] kelson42 commented on #2082
@mgautierfr @macgills OK, so we need one and I don't want to release any new version of Kiwix Android without having this bug fixed and the suggestion working properly. Beside the basic ZIM opening and rendering, I hardly see something more important than the suggestions system. As this problem/strong limitation seems to have been understood earlier I would have appreciate to see a ticket already

[2020-08-27 12:38] stesee commented on #2082
An other thing that would be a enhancemant would be ui feedback that something happens while searching. Even when it takes some time, this would tell the user that there should be search result anytime.... in the first run I thought, that kiwix had no search hit, before I found this issue... would be a quick win too.

[2020-08-27 12:58] gouri-panda opened #2342 "Convert RateAppCounter to kotlin"
Is your feature request related to a problem? Please describe.

RateAppCounter is in Java

Describe the solution you'd like

Convert it in Kotlin

Additional context

Parent issue #1826

[2020-08-27 13:43] gouri-panda opened #2344 "Convert HelpAdapter to kotlin"
Is your feature request related to a problem? Please describe.

HelpAdapter is in Java

Describe the solution you'd like

Convert it in Kotlin

Additional context

Parent issue #1826

[2020-08-27 13:58] kelson42 commented on #2082
@stesee  Indeed, I can not reproduce the problem, but another user impacted by the problem reported that it is written "no results" whereas it shouldl be maybe written "please wait" or "searching..." as long a the search is not over.

[2020-08-28 07:03] kelson42 commented on #2303
@macgills @rgaudin I believe we have still a problem here. This is a blocker for 3.4 release.

[2020-08-28 10:07] rgaudin commented on #2303
OK Sorry I'm not subscribed to this repo so just got notified.

@macgills you could test with [this super small zim](http://tmp.kiwix.org/myisago.zim) which is a warc2zim one as well. Probably easier. Just tested with it and could replicate the issue.

The problem I think is quite clear: warc2zim registers a SW for `https://kiwix.app/A/` and this is never unregistered. Manually unregistering from

[2020-08-30 03:51] ikreymer opened #2347 "Response to range request is a 200, but should be 206 and include content-range header."
**Describe the bug**

It appears that Range requests with (`Range: bytes=start-end`) are handled - the content-length is off the range, not the entire file, but the response is a 200, not a `206 Partial Content`.
The `Content-Range` header also appears to be missing.

This issue was discovered in testing warc2zim, reported here: https://github.com/openzim/warc2zim/issues/55#issuecomment-683372056

[2020-08-30 07:51] kelson42 commented on #2347
@ikreymer I’m not the developer, but I don’t understand what are the reproduction steps.

[2020-08-30 09:45] Masked-Carrot commented on #2339
Hello,
Can I work on this issue?

[2020-08-30 12:07] Frans-Lukas commented on #2339
That would be great. Assigning you.

[2020-08-30 12:23] Frans-Lukas opened #2348 "ZimHosting via wifi no longer works for some devices."
**Describe the bug**

With wifi enabled and when clicking start server -> proceed, a dialog is shown saying "Couldn't start hotspot. Please turn on your hotspot."

I tried it on an emulator, which worked fine.

**Expected behavior**

Book hosting should work with wifi.

**Steps to reproduce the behavior:**
1. Make sure you are connected to wifi.
2. Open the "Host Books" activity.
3. Click "Start S

[2020-08-30 12:26] Frans-Lukas opened #2349 ""Start Server" in ZimHostActivity does not have its color overriden."
**Describe the bug**

The color of the start server button should be green, and the stop server button should be red. Currently, it is a shade of `denim_blue`.
**Expected behavior**

When the button has the text "Start Server" its color should be `startServerGreen`.
When the button has the text "Stop Server" its color should be `stopServerRed`.
**Steps to reproduce the behavior:**
1. Open ZimHostA

[2020-08-30 12:32] Frans-Lukas commented on #2348
This seems vital. I have quite a good idea on what might be causing it too, self assigning.

[2020-08-30 13:57] Mitia99 commented on #54
*Up

[2020-08-31 06:31] #2304 closed

[2020-08-31 06:36] #2336 closed

[2020-08-31 06:39] #2338 closed

[2020-08-31 06:50] macgills commented on #2303
1. I see no mechanism android side that would allow me to unregister the SW at all
1.all links have identical base urls, separate zim files are not distinguishable by urls currently. I was working on some sort of system to support that so we could have multiple zim files open concurrently

The api I have is very limited https://developer.android.com/reference/android/webkit/ServiceWorkerController

[2020-08-31 06:54] rgaudin commented on #2303
From what I've seen in browsers, it seems to always be separate from cache management.
If there's nothing else, we may inject the unregistration JS? Would it be possible ?

[code]

[SO answer](https://stackoverflow.com/questions/33704791/how-do-i-uninstall-a-service-worker)

[2020-08-31 07:13] macgills commented on #2303
Yeah it is possible to inject and execute some JS. Very ugly of course but that is the webview for you. I'll look into if that works... probably tomorrow when I am caught up on reviews. Thanks for the help

[2020-08-31 09:31] mgautierfr commented on #2082
I don't know what you're calling "suggestion working properly" but if you think about having a async api I hope you are not hurry to make a new release of kiwix-android.
There is nothing async at all in libzim/kiwix-lib for now.

[2020-08-31 15:41] Popolechien opened #2353 "Kiwix-android does not pick up Swahili language videos"
Not entirely sure this is an android or zimfarm issue, but basically a bunch of video files from Ubongo were generated and properly marked as Swahili, yet do not appear in library when one searches for available Swahili content. Searching for Ubongo does return the videos, but the language tag does not appear (recipe is [here](https://farm.openzim.org/recipes/ubongo_sw)).

Could it be because the

[2020-08-31 15:45] kelson42 commented on #2353
Here is a `library.xml` entry:
[code]
So language is `swh`. Do we have a matching problem?

[2020-09-01 10:49] #2307 closed

[2020-09-01 12:05] LaurentBonnaud opened #2354 "Kiwix does not allow downloading large files on exfat SD cards"
**Describe the bug**

I am trying to download large (>4GB) files to a SD card with an exfat filesystem with Kiwix, but Kiwix does not allow me to do it.

**Expected behavior**

Kiwix should be able to download and use large files on SD cards with exfat filesystems.  Other applications are able to do it on the same device.

**Steps to reproduce the behavior:**
1. Insert an SD card in your device an

[2020-09-01 12:11] LaurentBonnaud commented on #2354
Here is a screenshot:
![Screenshot_20200901-135458_Kiwix](https://user-images.githubusercontent.com/2168323/91849816-eae14680-ec5c-11ea-8958-95a694fcbb26.jpg)

[2020-09-01 12:43] kelson42 commented on #2354
@LaurentBonnaud Thank you for your quality bug report. Would you be able to test now with 3.4 which is currently in beta. Click on https://play.google.com/apps/testing/org.kiwix.kiwixmobile to join the beta testing and secure you reinstall the version 3.4. I believe this bug is fixed in that version (See #2282).

[2020-09-01 17:38] Popolechien commented on #2353
Fwiw I can confirm that iOS picks it up correctly.

[2020-09-02 08:22] LaurentBonnaud commented on #2354
I upgraded Kiwix to version 3.4.0 from the beta channel.
Unfortunately the problem remains the same: large files are still grayed out.

[2020-09-02 08:26] kelson42 commented on #2354
@macgills What is next to do? Ask for a diagnostic per email?

[2020-09-02 08:41] macgills commented on #2353
What the app currently recognises as Swahili is `swa`, it appears `swh` is unrecognised

[2020-09-02 08:47] macgills commented on #2353
[code]

this code is rendering empty so `swh` must not be in the Locale map.

Checking here it is not a valid ISO 639-2 language code https://www.loc.gov/standards/iso639-2/php/code_list.php

[2020-09-02 08:52] kelson42 commented on #2353
@rgaudin Mightthat be that the bug comes from the zimfarm?

[2020-09-02 09:20] rgaudin commented on #2353
@macgills AFAIK we never deal with 639-2 codes. ZIM Language meta has to be 639-3.

[Wikipedia](https://en.wikipedia.org/wiki/Swahili_language) says that [`swh`](https://iso639-3.sil.org/code/swh) is a valid 639-3 code but for Kiswahili/Coastal Swahili.

The macrolanguage 639-3 code for Swahili being `swa`, we should use `swa` in the recipe. It's common that platforms don't support all languages c

[2020-09-02 09:20] #2353 closed

[2020-09-02 09:38] macgills commented on #2354
Yes, if you can send a diagnostic report that would be very helpful, you can do so from the Help section of the app. Also if you long click on the grayed out items a toast should appear which will tell you if the detection process is still ongoing. I believe your sd card is not reporting as exfat even though it is how it has been formatted

[2020-09-02 10:20] LaurentBonnaud commented on #2354
Here is the log file:
[Kiwix-log.txt](https://github.com/kiwix/kiwix-android/files/5161630/Kiwix-log.txt)

[2020-09-02 10:22] LaurentBonnaud commented on #2354
A long press on grayed out items does indeed display:
"Your file system doesn'y support files over 4GB"

[2020-09-02 10:28] macgills commented on #2354
Can you send the email from the diagnostic report? Or post the MountPoints here?

[2020-09-02 10:51] LaurentBonnaud commented on #2354
I don't see any e-mail, sorry.

Here are mount points:
[code]

[2020-09-02 10:59] macgills commented on #2354
in the list of apps after you click `send` on the diagnostic report an email client should be available from the list?

anyway
`/dev/block/vold/public:179,1 on /mnt/media_rw/6138-3963 type sdfat`

your card is reporting as sdfat, there is a fix for this on our nightly builds but it is not live on beta or prod yet

[2020-09-02 11:04] #2291 closed

[2020-09-02 11:34] LaurentBonnaud commented on #2354
Indeed, I had not imagined that the content would be different depending on the sharing methid.

Here is the content of the mail:

[code]

[2020-09-02 11:35] LaurentBonnaud commented on #2354
Thanks a lot! I am looking forward to seeing this fix in the beta or prod version...

[2020-09-02 13:44] gouri-panda commented on #2349
@Frans-Lukas can I take the issue?

[2020-09-02 19:51] ARJUPTA commented on #2324
@macgills can I take up this issue

[2020-09-02 20:17] ARJUPTA commented on #2068
I think it's a decent feature request. Can i work on it?

[2020-09-02 23:47] NullByte08 commented on #2324
Hi @ARJUPTA ,  I am still working on the issue. I was facing some problems with `detekt` I will make a pull request soon.

[2020-09-03 07:09] ARJUPTA opened #2356 "Typo in the Contributing.md"
**Describe the bug**
The word ahere was typed incorrectly in place of adhere in the CONTRIBUTING.md File

[2020-09-03 07:56] macgills commented on #2354
I'll close this issue for now. We can re-open it if the problem persists

[2020-09-03 07:56] #2354 closed

[2020-09-03 09:43] macgills commented on #2324
@NullByte08 are you still working on this?

[2020-09-03 09:48] LaurentBonnaud commented on #2354
Leaving this bug open till the fix is released in a stable version would help avoid duplicate bug reports.
In fact this bug has been reported multiple times but I did not see it in my search.

[2020-09-03 09:58] macgills commented on #2354
The fix has been implemented, we close tickets when it is on develop, not released. https://github.com/kiwix/kiwix-android/issues/2282 it should have come up in similar issues but this is at the mercy of github search.

For the moment this ticket is not actionable and hopefully never will be so I will keep it closed.

You can see if your problem is resolved with [our nightly apk](http://download.k

[2020-09-03 10:20] #2356 closed

[2020-09-03 10:22] NullByte08 commented on #2324
@macgills I am facing some issues with `detekt`. Let me post them in a moment.

[2020-09-03 10:53] NullByte08 commented on #2324
@macgills

It was showing some Dagger errors before, something like `Dagger cannot inject in private fields`
I changed `@field:Inject var notificationManager: NotificationManager,` to
`@set:Inject var notificationManager: NotificationManager,`

now it is showing this error. Let me try and rectify these.

<details>
<summary>Commit failed</summary>

`0 files committed, 11 files failed to commit: con

[2020-09-03 11:11] macgills commented on #2324
Look around the codebase for other examples when you are having difficulty. In this scenario you may have seen other files with field injection
[code]

yeah it looks like there are compilation issues to work through. Make sure you test code locally, if you are stuck you can push up code that is non functional but it is not the ideal scenario

[2020-09-04 01:13] NullByte08 commented on #2324
@macgills I can not even push the code. `detekt` is not letting me make commit. It is giving me error in ZimHostActivity.kt and I didnt even touch it. I just changed the package name from `wifi_hotspot` to `wifihotspot` according to kotlin package naming convetions.

[2020-09-04 05:49] s-ayush2903 opened #2359 "tests: Revamp & Refine the Instrumentation Test for KiwixMainActivity"
**Type of Test**

* [ ] Unit Test
* [x] UI Test

**Particular area and files to be tested**
KiwixMainActivity

**Current Status of the tests**
Currently this test follows old norms and lacks some navigation tests

**Particular Behaviour to be tested**
It should exhaustively test the navigation originating from itself and follow the new norms as far as possible, mentioned as per #1212

[2020-09-04 05:50] s-ayush2903 commented on #2359
PS: I would like to work on it.

[2020-09-04 08:49] macgills opened #2360 "Document Git Hooks and create a troubleshooting guide"
**Is your feature request related to a problem? Please describe.**
The git hooks are a pain point for new contributors.

**Describe the solution you'd like**
Explain detekt, ktlint and committing with `--no-verify` and link this page from the git hook failure message

[2020-09-04 10:41] macgills commented on #2300
still surprisingly irritating to implement. Can we kill the bottom line ie Publisher/File Name? I am not sure these are too relevant  what with Publisher being Kiwix most of the time and the file name being pretty much the title again

[2020-09-04 18:42] gouri-panda commented on #1826
I would like to convert `KiwixWebView.java` class to Kotlin

[2020-09-04 18:44] gouri-panda opened #2361 "Convert KiwixWebView to kotlin"
Is your feature request related to a problem? Please describe.

KiwixWebView is in Java

Describe the solution you'd like

Convert it in Kotlin

Additional context

Parent issue #1826

[2020-09-05 02:19] NullByte08 commented on #2324
@macgills
Why does `detekt` keep picking errors from files I have not even changed?

<details>
<summary>Commit Error</summary>

`ask :app:compileDebugKotlin w: F:\Kiwix\kiwix-android\app\src\main\java\org\kiwix\kiwixmobile\intro\CustomViewPager.kt: (31, 23): '@JvmOverloads' annotation has no effect for methods without default arguments w: F:\Kiwix\kiwix-android\app\src\main\java\org\kiwix\kiwixmob

[2020-09-07 06:39] macgills commented on #2324
`detekt` is not failing now

[code]

most of that output is compiler warnings

[2020-09-07 06:40] #2349 closed

[2020-09-07 07:33] macgills opened #2363 "File transfer does not work"
**Describe the bug**
When initiating transfer of files the transfer finishes abruptly from the sender device, subsequent attempts to transfer lead to a crash
[code]

**Expected behavior**
No crash and the ability to share files over wifi

**Steps to reproduce the behavior:**
1. launch receiver activity on receiver device
2. Long click on a book from the sender device
3. click the share icon
4. cli

[2020-09-07 07:35] #2249 closed

[2020-09-07 07:53] macgills opened #2364 "TextToSpeech Pause/Stop buttons no longer visible and subsequent read alouds cause a crash"
**Describe the bug**
The buttons do not appear and I got the folllowing crash testing the feature
[code]

**Expected behavior**
Read aloud to be controlled by in app UI and to be free of crashes

**Steps to reproduce the behavior:**
1. Open a zim file
1. click read aloud from the overflow menu
1. hear the contents being read but see no UI for controlling it
1. press back until you exit the app
1.

[2020-09-07 08:58] macgills commented on #2344
@gouri-panda this did not automatically close because you didn't use the precise syntax `Fixes #[number here]`, closing now

[2020-09-07 08:58] #2344 closed

[2020-09-08 10:46] kelson42 commented on #1840
@macgills PR has been merged. Should we close this ticket?

[2020-09-08 10:50] macgills commented on #1840
And I suppose open a new one for the 3.4 release? We will be skipping over a few releases on fdroid.

Or we could do a release of 3.3.4? quite a stable version I believe

[2020-09-08 18:59] s-ayush2903 commented on #2360
So this Issue does not need any Pull Request, just documenting here about the aforementioned and putting the url of this issue in `pre-commit.sh` will do the required, is it like that or something else?

[2020-09-08 19:01] s-ayush2903 commented on #2359
@macgills Is this a valid to work with?

[2020-09-08 22:14] s-ayush2903 commented on #2339
As the corresponding PullRequest is closed, may i take it up?

[2020-09-09 08:16] kelson42 commented on #1840
@macgills if 3.3.4 is easy to publish manually, OK to me. But from 3.4, I would like to have https://github.com/kiwix/kiwix-android/issues/1682 implemented so we don't bother too much in the future.

[2020-09-09 08:16] #1840 closed

[2020-09-09 08:21] macgills commented on #2360
It will probably entail a PR to add a markdown file but yes that is the file to be edited with the link

[2020-09-09 08:26] macgills commented on #2359
If you want to convert it then go ahead

[2020-09-09 10:21] #2256 closed

[2020-09-09 10:47] #1745 closed

[2020-09-09 11:43] s-ayush2903 commented on #2359
I don't work like _what i want_ , i want to contribute in such a way that i learn the things that i don't know and to the issues which are in hight priority of module or what the module demands

[2020-09-09 12:06] gouri-panda commented on #1351
@macgills if @Aditya-Sood  is not working can I take this issue?

[2020-09-10 07:59] kelson42 commented on #2280
@Frans-Lukas @macgills This PR is old, a blocker for 3.4, not reviewed. What is the status? Why this is not moving on?

[2020-09-10 07:59] kelson42 commented on #2319
@Frans-Lukas @macgills This PR is old, a blocker for 3.4, not reviewed. What is the status? Why this is not moving on?

[2020-09-10 08:00] kelson42 commented on #2335
@s-ayush2903 Please go ahead

[2020-09-10 08:01] kelson42 commented on #2235
@Frans-Lukas @macgills Is that something we have any chance to complete for 3.4 and needs to be done within 3.4?

[2020-09-10 08:05] Frans-Lukas commented on #2319
There were some questions regarding navigation results with the nav component. I'll fix the instrumentation tests today (probably) and then we can take another look at the nav results, if necessary.

[2020-09-10 08:06] #2342 closed

[2020-09-10 08:07] Frans-Lukas commented on #2280
I was waiting for #2249, and see that it is completed now. I'll probably have to redo most of the ticket and I'll try to take a look this weekend. If I do, it should be review-ready by Monday.

[2020-09-10 08:38] macgills commented on #2359
Priority issues are in the milestone, those are important for 3.4 releasing. Increasing the quality of the automated tests is not a bad idea. I do want there to only be good examples of tests in the project.

Keeping contributors engaged in the project is fantastic and if that involves enhanced tests I am happy for it to happen. Our remaining java files are dwindling (thank god) but that presents

[2020-09-10 08:39] macgills commented on #1351
@gouri-panda assigned

[2020-09-10 08:40] macgills commented on #1351
It may be noted that coroutines are also a much more valid option here than they were when this ticket was first made. The API stabilised a lot and they have been overwhelming embraced by the jetpack team

[2020-09-10 08:53] macgills commented on #2235
It is not necessary but would make things more cohesive, we are nearly there but understandably it is moving slower now that GSOC is complete.

[2020-09-10 09:23] gouri-panda commented on #1351
@macgills I'm also favored with Coroutine.Should i make another ticket for this?

[2020-09-10 09:27] macgills commented on #1351
Nah you good, ticket was always about coroutines 👀

[2020-09-10 09:29] gouri-panda commented on #1351
@macgills How about kotlin?

[2020-09-10 09:30] macgills commented on #2229
@alexanderadam could I trouble you with testing [this apk](https://drive.google.com/file/d/10LPnhWsW11lwTQGbLTKBeJ4HkZXwSxrn/view?usp=sharing)? apologies for the delay in getting this ticket seen to

[2020-09-10 09:34] macgills commented on #1351
Kotlin is non negotiable, coroutines + java is not possible

[2020-09-10 09:40] #2339 closed

[2020-09-10 09:41] gouri-panda commented on #1351
Should I make another ticket for converting to kotlin?

[2020-09-10 09:44] alexanderadam commented on #2229
Resizing itself is working perfectly _but_ Canary complained about three distinct leaks:

![Kiwix Canary errors on Android 10](https://user-images.githubusercontent.com/372620/92713162-ec94c380-f35a-11ea-9f83-2bc75ca88b0b.jpg)

[2020-09-10 09:47] macgills commented on #1351
It is discrete enough that it can just be done as part of this ticket, the activity is already in kotlin

[2020-09-10 09:49] macgills commented on #2229
tch, can you share the text of those leaks here? They might not be our problem, also this branch is a bit out of date, we fixed some of the memory leaks during the new navigation feature

[2020-09-10 09:54] macgills commented on #2229
I also updated that apk so it is now in line with what is on develop+resizing

[2020-09-10 09:59] alexanderadam commented on #2229
I try to. But suddenly I cannot reproduce it anymore, although I'm doing the exact things as before!

Is it the [same URL as before](https://drive.google.com/file/d/10LPnhWsW11lwTQGbLTKBeJ4HkZXwSxrn/view?usp=sharing)?

**PS:** Was it necessary that I uninstalled the stable kiwix version before? Because I did (just to be sure) and now my former data is gone. No biggie — I just want to know it for t

[2020-09-10 10:02] macgills commented on #2229
Same URL.

It shouldn't have been necessary to uninstall the old app but sometimes it may be, there are a couple of factors

[2020-09-10 10:04] alexanderadam commented on #2229
[code]

[2020-09-10 10:09] macgills commented on #2229
Yeah these look like Samsung brand leaks alright. Nothing to do on our end I think. You won't see these leak reports on non debug version of kiwix

[2020-09-10 10:13] macgills commented on #2229
Okay I have set this for review, it will be in our next release. Thanks for all the help @alexanderadam

[2020-09-10 10:14] alexanderadam commented on #2229
I definitely have to thank **you**, folks! :pray:
You did wonderful work and Kiwix is a great and useful app!

[2020-09-10 10:24] macgills commented on #2300
@kelson42 do you have any input on this?

[2020-09-10 11:02] #2104 closed

[2020-09-10 11:02] #2229 closed

[2020-09-10 11:22] macgills commented on #2347
@ikreymer can you give me some more info on the precise header sent and what a response should look like?

Right now the loading is quite simplistic

[code]

I can modify our response to include headers but it feels kind of wrong to me? Recreating a full web server inside the application sounds like too much complexity and this ticket opens that rabbit hole.

Are Range request something we can avo

[2020-09-10 11:36] rgaudin commented on #2347
Until @ikreymer responds, here are my thoughs:

* don't think we can avoid such requests
* those can be easily spotted from the `request.getRequestHeaders()` as it contains a `Range` header.
* we could “just” set status_code to `206` in case of such request (maybe not if the range is larger than the content – then it's not partial ?)

[2020-09-11 06:26] ikreymer commented on #2347
Yes, these requests are necessary for playing video. It may be sufficient to just set the response to a 206 status if `Range` header is set, or at least to test. It seemed like the range was already being handled somewhere, but maybe not (can't find where it would be doing that).

Looks like this is the part in the test suite for libkiwix and how it handles ranges, ideally the support here would b

[2020-09-11 07:02] kelson42 commented on #2347
The libkiwix handles range requests on an item, but this has nothing to do with HTTP. This handling is done at the Kiwix for Android level which plays the role of interfacing the libkiwix with HtmlRenderer widget.

[2020-09-11 08:14] #1664 closed

[2020-09-11 09:25] macgills opened #2372 "Replace Widget Intents with Navigation Deep Links"
**Is your feature request related to a problem? Please describe.**
The search widget works unpredictably and confusingly

**Describe the solution you'd like**
Use Navigation Deep Links to wire our widget to our search destination

[2020-09-11 09:49] macgills commented on #2347
Can I get a link to a zim file to test against?

[2020-09-11 10:05] macgills commented on #2223
What is our proposed text?

[code]

I don't see that being very popular.

We would also want to consider the custom apps in this as it is possible for us to deliver them new zim files in an update, which they might expect depending on the size of the update

[2020-09-11 10:34] kelson42 commented on #2200
@s-ayush2903 Do you plan to fix the regression?

[2020-09-11 10:36] kelson42 commented on #2235
@macgills Thank you for the feedback. It seems that we will have anyway to postpone the prod rollout of 3.4 anyway of a few weeks. I'm really glad and thankfull that @Frans-Lukas runs this effort to the end. Please consider a plan B if you believe this is going to take more than 2 or 3 additional weeks.

[2020-09-11 10:39] macgills commented on #2303
@rgaudin that didn't work

[code]

[code]

[2020-09-11 10:49] kelson42 commented on #2303
@mossroy @Jaifroid Maybe here you can share a hint to help @macgills ?

[2020-09-11 10:57] macgills commented on #2235
I don't forsee this taking 2-3 weeks, the tickets to consider this done are in Review currently and then we can merge the `one-activity` branch

[2020-09-11 11:05] Frans-Lukas commented on #2235
Agreed!

[2020-09-11 11:12] macgills commented on #2303
I was successful unregistering via Chrome DevTools :
![image](https://user-images.githubusercontent.com/3358282/92919033-e3255d00-f427-11ea-8fa6-74cd1e5c827f.png)

[2020-09-11 11:31] rgaudin commented on #2347
https://dh-preserve.sfo2.cdn.digitaloceanspaces.com/webarchives/zim/lesfondamentaux.zim

Do you need a smaller one and can you deal with this one?

[2020-09-11 12:57] Jaifroid commented on #2303
Hmm. The only code I know for unregistering service workers is the code already given above. Is it being injected rcorrectly into a document that is loaded in the WebView? It would be good to look at the code that originally registered the unwanted SW.

As an alternative, is it possible to destroy the WebView and all associated context between ZIM loads? Are you storing any settings you need to ke

[2020-09-11 15:49] ikreymer commented on #2347
Here's a smaller .zim I created for testing:
[Uploading test_2020-08.zim…]()  (rename to .zim)
Click on the middle video here to load a page with the video
<img width="1110" alt="Screen Shot 2020-09-11 at 8 45 39 AM" src="https://user-images.githubusercontent.com/1015759/92946310-55d40f80-f40b-11ea-943d-21456bf8a236.png">

Yes, My point was that this works exactly the same way, as far as browser i

[2020-09-11 15:54] rgaudin commented on #2347
I think @kelson42 was referring to the fact that libkiwix does two things:

- it handles range requests for data access. This is working already on our youtube ZIMs which are composed of single large webm or mp4 files.
- it also bundles an HTTP server that kiwix-serve uses but the android doesn't. And the test you pointed at concerns this HTTP server code that is not used on readers.

I believe th

[2020-09-11 16:33] ikreymer commented on #2347
I checked another ZIM that has videos, it looks like it also responds with 200 to a byte range request. I think the webview is able to cope with it, but I noticed that I was not able to seek in the video (only start from the beginning), probably due to lack of 206 response. Adding proper range request support will probably improve playback of these videos too.

[2020-09-11 16:37] rgaudin commented on #2347
hum, as shown [here](https://github.com/openzim/youtube/wiki/Compatibility) we have no problem seeking on kiwix-serve videos (#91 is webm-apple specific and we actually found a workaround today).

Can you share ZIM url and confirm on what you test so I can reproduce your seeking issue?

[2020-09-11 16:42] ikreymer commented on #2347
Ah, sorry, I meant on kiwix-android, not on kiwix-serve. The 200 instead of 206 issue applies to all videos on android, not just those from warc2zim.

I tried this ZIM (the smallest one there): http://download.kiwix.org/zim/videos/scienceinthebath_en_assorted-nonsense_2020-08.zim with the Genymotion emulator.

[2020-09-12 04:09] s-ayush2903 commented on #2200
Yeah definitely, i'll move it to top in my list

[2020-09-14 11:04] #2348 closed

[2020-09-15 09:23] macgills opened #2375 "Fix Back Navigation in custom apps"
**Describe the bug**
Pressing back does not navigate the history of the webview, it exits the app

**Expected behavior**
The app should only exit if the reader has no history, otherwise it should navigate history

[2020-09-15 10:08] #2200 closed

[2020-09-15 11:15] macgills commented on #2303
Ah I was mistakenly calling the unregister at the wrong time, I was thinking in the old navigation paradigm, apologies for the stupidity.

Unfortunately it still doesn't work but the javascript evaluation at least outputs this?
[code]
So it did it? Or evaluated to nothing?

[2020-09-15 12:11] rgaudin opened #2377 "Bottom navigation position is incorrect on 5.1.1"
**Describe the bug**
There's a white line between bottom app nav and android nav

**Expected behavior**
No space between those those navigation bars. Not that scrolling fixes it.

**Steps to reproduce the behavior:**
1. Launch kiwix android
2. launch a ZIM

**Screenshots**
![screen](https://user-images.githubusercontent.com/57929/93208667-6e666180-f74c-11ea-934d-cc14e3a97960.png)

**Environment**

[2020-09-15 12:24] rgaudin commented on #2347
@ikreymer thank you for this, I could reproduce: it's impossible to seek on any video in kiwix-android at the moment.
I am pretty sure it's a regression but haven't tried to confirm by testing with older version of the app.
I can confirm that the same ZIM is seekabe on the device's chrome if served via kiwix-serve so, as you suggest, it looks that this is related to that 206 status code missing.

[2020-09-16 06:07] s-ayush2903 commented on #2322
This should probably be closed(by #2323)

[2020-09-16 08:19] macgills commented on #2322
true, thanks

[2020-09-16 08:19] #2322 closed

[2020-09-16 08:26] macgills opened #2378 "SearchFragment doesn't hide keyboard on finish"
**Describe the bug**
Open the search fragment, press the back arrow in the toolbar, see the keyboard is still open in a context where you can't input text.

**Expected behavior**
The only scenario where the keyboard should remain open after leaving search is when launching FindInPage

**Screenshots**

**Environment**
- Version of Kiwix Android : one-activity branch

[2020-09-16 09:00] kelson42 commented on #2378
Looks like a regression?

[2020-09-16 09:05] macgills commented on #2378
A mistake I should have caught at review time, I had too many instances of android studio running so I inadvertently tested the wrong version. I merged it, realised my mistake and after testing thought a full reversion was overkill, it is on a branch separate from dev anyhow

[2020-09-16 09:35] macgills commented on #2347
AAAAGH as I feared, the introduction of serviceWorker support broke our ability to seek. Deeply confusing, don't know the specific root cause, maybe range support will fix this?

I guess it might be the scheme... previously we were `zim://content/` now we are `https://kiwix.app/` so we have to respect headers on all loads, that introduces some additional concerns

[2020-09-16 10:08] macgills commented on #2347
![image](https://user-images.githubusercontent.com/3358282/93323434-89000f80-f80c-11ea-8d39-7ab427c88247.png)

[code]

![image](https://user-images.githubusercontent.com/3358282/93323514-a2a15700-f80c-11ea-9627-e0b985b4d683.png)

So yeah no clue

[2020-09-17 09:02] #2361 closed

[2020-09-17 09:11] macgills commented on #2347
@rgaudin @ikreymer any further suggestions? It doesn't seem like scrubbing incurs any additional request for specific ranges.

Am I supposed to return some specific headers to indicate content length/range? I am not well versed in backend work as I typically write clients

[2020-09-17 09:16] macgills commented on #2303
@rgaudin @Jaifroid  could you supply me with some javascript to debug what is happening? prints should show up in my logs. I am fumbling in the dark a bit

[2020-09-17 09:32] Jaifroid commented on #2303
@macgills First thing I would do is to add a `.catch(function(err) { console.log(err); });` function after the end of the .then function block - assuming you get console.log() readouts when you eval the JS expression. Additionally you could add `console.log(registration);` before `registration.unregister();`.

If you don't get console.log maybe the webview will show an alert? So in that case you c

[2020-09-17 09:33] Jaifroid commented on #2303
(EDITED typo in one of above code blocks).

[2020-09-17 10:06] #2315 closed

[2020-09-17 14:16] remyroy opened #2380 "Night mode cause some pictures to fail to display in wikipedia all maxi ZIM package"
I downloaded the wikipedia_en_all_maxi_2020-08.zim ZIM package for use with my Android phone with Kiwix from https://wiki.kiwix.org/wiki/Content_in_all_languages . I browsed some articles. I noticed that some pages are missing pictures.

Take the [Morse Code](https://en.wikipedia.org/wiki/Morse_code) page for instance.

Here is how it looks on my phone:

![Screenshot_20200917-085947_Kiwix](https:/

[2020-09-17 14:48] remyroy commented on #2380
If the picture is in the ZIM package, I'm wondering why it does not show when I browse this article.

[2020-09-17 18:02] ikreymer commented on #2347
Looking at the code, it doesn't seem like range requests were ever supported, even without service workers?
I think the support will need to be implemented manually (I tried to see if there was anything that would do so automatically or some sort of wrapper library but couldn't find anything).

Eg:
https://github.com/kiwix/kiwix-android/blob/master/core/src/main/java/org/kiwix/kiwixmobile/core/mai

[2020-09-17 19:10] remyroy commented on #2380
It feels like the rendering of the article might be wrong on the Kiwix app on Android even if the picture is in the ZIM package

[2020-09-18 04:59] kelson42 commented on #2347
@mhutti1 had implemented the solution to read only byte ranges for videos, years ago. It has to be there and this is mandatory.

[2020-09-18 08:23] macgills commented on #2380
@remyroy Have you tried this not in night mode? We have an open ticket about adding backgrounds to all images so they will have a contrast that will be visible in night mode

[2020-09-18 08:39] macgills commented on #2347
it is the change of schemes that is screwing with us ie `zim://` -> `https://`, previously we just provided a resource as an inputstream inside a WebResponse that fully supports arbitrary seeking, it is not like we were reading the full webm/mp4 file into memory.

What is the appropriate Response to
![image](https://user-images.githubusercontent.com/3358282/93575374-77944000-f991-11ea-8e21-e7afcf9

[2020-09-18 09:37] Frans-Lukas commented on #2378
I'll fix!

[2020-09-18 10:07] remyroy commented on #2380
Night mode seems to be what cause this issue. By disabling night mode, I
can see the Morse Code chart in the Morse Code article and the other
missing pictures.

On Fri., Sep. 18, 2020, 04:23 Seán Mac Gillicuddy, <notifications@github.com>
wrote:

[2020-09-18 15:22] Popolechien opened #2381 "How easily can we query Kiwix-android from another app"
Bear with me, here is the use case and the question comes after that.
There's a whatsapp service that works like a bot: there's a menu, and depending on what you send as text you can get a reply from the bot (e.g. text, or documents or links).
![Capture-d’écran-2020-09-03-à-17 07 10](https://user-images.githubusercontent.com/21675885/93615162-55231680-f9d3-11ea-9c7d-d4c5ffc2aa01.png)

The idea w

[2020-09-19 08:56] #2319 closed

[2020-09-19 09:55] kelson42 commented on #2380
@remyroy @macgills Duplicate of https://github.com/openzim/mwoffliner/issues/1026 ?

[2020-09-19 11:42] kelson42 commented on #2341
@Frans-Lukas What is the status of this issue? Does the referenced commot has fixed the issues?

[2020-09-19 11:42] Frans-Lukas commented on #2341
@kelson42 waiting for all fragments to be merged with one-activity.

[2020-09-19 11:43] Frans-Lukas commented on #2341
We can merge the current fixes now, or wait for more leaks to be fixed in unmerged fragments.

[2020-09-19 11:44] kelson42 commented on #2341
@Frans-Lukas So fixed but not merged? Or probably fixed but needs confirmation?

[2020-09-19 11:49] Frans-Lukas commented on #2341
Fixed but not merged (the commented leaks).

[2020-09-19 11:51] Frans-Lukas commented on #2341
I can make a draft pull request as well.

[2020-09-19 11:54] Frans-Lukas commented on #2341
@kelson42 The leaks are mostly very easy to find and fix as well. So as soon as we have all the fragments merged I'll be able to fix the introduced leaks in a day or two.

[2020-09-19 22:57] gouri-panda commented on #2364
@macgills Can I take this issue?

[2020-09-20 09:41] gouri-panda commented on #2333
Can i take this issue?

[2020-09-20 15:42] abhijeetsinghcode opened #2385 "Online Library is just loading and loading"
On navigating Download Books >Online
Online Library is not opening and it is  just loading and loading  . I have tried for max - 20 min.
I have decent internet connection .
 I have also restarted my device, uninstalled app and installed it.
I have also checked with settings - Download content via Wifi.

I have tried with Wifi and mobile data/wifi/mobile data
![Screenshot_20200920-203156](https://u

[2020-09-20 19:02] gouri-panda commented on #2385
I'm also encountering this problem too. @abhijeetsinghcode do you want to work on this issue?

[2020-09-20 19:32] gouri-panda commented on #2363
@macgills I want to give a shot on this ticket?

[2020-09-21 01:12] abhijeetsinghcode commented on #2385
Yes , I will love to work on this  but I am currently learning Android ,So I don't have good knowledge to how to tackle the problem.

[2020-09-21 01:25] abhijeetsinghcode commented on #2385
I have tried to open the Online page in morning . It is working but it take time to load the results .

[2020-09-21 05:26] kelson42 commented on #2385
I think it would be good to send at that point the diagnostic per email.

[2020-09-21 07:21] macgills commented on #2381
There are 2 options App links and Deep links.

The link would need to contain the following information:

unique identified of a zim, probably zimId
the path of the article to open

Potential problems are that we can't know if a zimFile is actually downloaded and we would be routing all of these links to our app once we make this change

[2020-09-21 07:30] macgills commented on #2380
yup, closing. Thank you for the report

[2020-09-21 07:39] macgills commented on #2363
You are assigned, 2 physical devices will probably be necessary to test this feature

[2020-09-21 08:03] macgills commented on #2385
Could it have been the stability of our mirrors? Do we have any healthcheck apis for them @kelson42 ?

[2020-09-21 14:17] abhijeetsinghcode opened #2388 "When you add new tab pervious tab and article disappear"
Tab -1 is open with an article.
When I add Tab - 2  and open an article  it opens and  tab - 2 becomes tab - 1 . The pervious article disappear.
You can watch the video  given below.

**Kiwiz , WIkipedia offline**

Video - Open tab in background (OFF) ->
https://drive.google.com/file/d/1-JzrhVXgzONKUzZFCfHxH8yoyOkBBorO/view?usp=sharing

Video - Open tab in background (ON) ->
https://drive.google.c

[2020-09-22 08:40] s-ayush2903 commented on #2385
* I don't consider this as an issue, the ISP that is depicted in the screesnshot has poor connection in the prime time(as i'm from the same country and use the same same ISP(Jio)) so it cannot load the library, whereas when the same is tried late/mid night it works smoothly.
* If we see logs when it shows loading then they say a 200 OK response from the backend and fetching in progress.
* For weak

[2020-09-22 09:08] macgills commented on #2388
Could you try to reproduce this on our beta release to google play? You can signup through the play store

[2020-09-22 09:18] abhijeetsinghcode commented on #2388
Ok sir, I will try to replicate this .

[2020-09-22 10:15] #2333 closed

[2020-09-22 10:22] abhijeetsinghcode commented on #2388
**Kiwiz , WIkipedia offline(Beta)**
 There is difference ->
In the Reader section
An Article  is open Tab -1 .
Now when I add tab - 2 ,same  article appear on  tab - 1 and in tab - 2.
Now I have one article in two tab.

Now I click on Library and open new article tab it become tab -1  with different article which I opened.
Now I click on Reader section it has same pervious article on both tab - 1

[2020-09-22 12:13] macgills commented on #2082
@dbedrenko it has been a long time coming but can you test on this https://drive.google.com/file/d/10LPnhWsW11lwTQGbLTKBeJ4HkZXwSxrn/view?usp=sharing ?

I am about to open a PR after a complete overhaul of the internals of this screen

[2020-09-22 14:11] Popolechien opened #2391 "Invite user to delete old versions of the same content"
Currently most files have a `name_yyyy-mm` naming convention, but if I have wikipedia_en_all_mini_2020-08 and want to update it I end up with two nearly identical files (and twice as much space used up). I still need to manually delete the "old version.". Kiwix should be able to recognize updates and delete/overwrite as needed.

[2020-09-22 19:47] epicadk commented on #2391
Can I work on this?

[2020-09-22 19:55] kelson42 commented on #2391
We need to agree first about what to do. This can be done based on the ZIM `name` metadata (so not the filename). But I disagree that we should automatically delete it, but we could provide an invite.

[2020-09-22 20:16] Popolechien commented on #2391
@kelson42 honest question: why not delete it automatically? What's the use case?

[2020-09-23 03:24] abhijeetsinghcode commented on #2385
Before I checked Kiwiz app,I watched YouTube video in 420p for 20min then I opened the app and tested it.

[2020-09-23 03:29] gouri-panda commented on #2385
@abhijeetsinghcode It seems like it's a server related issue. Perheps @macgills can help with this issue.

[2020-09-23 07:59] kelson42 commented on #2082
@macgills It is a bit unfortunate that we don't have had any transparent exchange here between @mgautierfr and you on the technical approach to solve the problem. I hope at least you made a clear analysis of the problem together and came on a plan about what to do in a private chat.

On my side I discussed the topic in depth with @mgautierfr and clearly came to the conclusion that as long as the K

[2020-09-23 08:25] macgills commented on #2082
So this ticket introduces a loading UI and speed increases, it isn't going to "fix" the problem but it is as much as we can do

[2020-09-23 08:27] kelson42 commented on #2082
@macgills What is missing from your point of view to fix the problem? Do you agree with my conclusion that Kiwix Android needs to open many threads to makes suggestions (if not why)? Have you introduced a delay beetween search requests so a user typing quickly 5 letters does not make 5 suggestions searches?

[2020-09-23 08:45] macgills commented on #2082
We are now using coroutines, the concurrency primitive of kotlin, which are way more easily cancellable, when a load is in progress we display a spinner (we weren't previously because I was under the impression loads happened in milliseconds). Right now I believe it to be a good usability improvement. If @dbedrenko can confirm that I would be grateful as I cannot replicate their scenario locally w

[2020-09-23 09:00] macgills opened #2393 "Investigate coverage drop"
**Describe the bug**
Our coverage reports lost 20%~ since the merge of this https://github.com/kiwix/kiwix-android/pull/2387 which clearly had no effect on tests/coverage

We need to check if codecov has any bugs or if somehow our instrumentation tests have stopped producing coverage reports due to some tooling upgrade

[2020-09-23 09:13] kelson42 commented on #2082
The spinner display is good, but this is only a communication thing... it does not solve the search speeed problem.

The Kotlin coroutines might solve the problem, I can not judge that as I don't know the technical background of them.

That said, if the user is happy, this is all good to me.

@mgautierfr You agree with that? To me I remember you said, that thread being created at Kotlin level shou

[2020-09-23 09:17] macgills commented on #2385
I have no visibility on any servers and I cannot reproduce it, if I could reproduce it then I could get somewhere.

@kelson42 may be able to give some info on our mirrors.

@abhijeetsinghcode if this problem is still persisting add some debug logs to

ZimManageViewModel.updateLibraryItems

particularly the parameters of the `combineLatest`

[code]

eg `booksFromDao.doOnNext{ Log.e("booksFromDao",

[2020-09-23 09:35] #2280 closed

[2020-09-23 10:09] mgautierfr commented on #2082
I agree here. It will not really be possible to interrupt the search usefully. There is only one xapian function taking a lot of time. Libzim don't have the hand on this and cannot interrupt the long step.
The only real thing to do is to do the search in a different thread. This way we can still answer ui event (and tell user a search is going one).
If we don't want the search result (because user

[2020-09-23 10:51] macgills commented on #2303
@rgaudin pushed up a branch here, I think the promises aren't getting enough time to execute? I saw 1 alert when trying to test it. Added some additional logs from the SO question

[2020-09-23 11:00] macgills commented on #2347
@rgaudin  example branch pushed here

[2020-09-23 11:03] rgaudin commented on #2303
thanks, taking a look at it

[2020-09-23 11:08] macgills commented on #2082
Which is what the updated solution does and in fairness what the original solution did but much less cooperatively because of the nature of RxJava's implementation of Reactive Streams. We will always have problems on device with low thread counts that search on an sd card

The idea of the "interuptable" xapian function is quite unpalatable but would work from the app side like so

`searchSuggestio

[2020-09-23 12:32] mgautierfr commented on #2082
This is something I cannot comment :)

I agree here. If the device need time to get the data on the sdcard, it will takes time. What we can do is to ensure the application do not freeze. And maybe do a bit of warmup to start loading data before the user needs it.

I don't really understand that.
But there we(I) will not rewrite xapian methods. This is an external library we are using.
A cooperativ

[2020-09-23 15:54] Popolechien commented on #2381
okie dokie. I'll close the ticket for now, it would be nice to have at some point but clearly not a low-hanging fruit.

[2020-09-23 15:54] #2381 closed

[2020-09-24 08:24] macgills commented on #2381
Hmm though I suppose this is not "querying Kiwix" more just launching specifically to kiwix. If we wanted to query  kiwix from another app we would use a ContentProvider, this would require tight integration with another app though, more suited to a family of apps from the same publisher

[2020-09-24 09:05] #2378 closed

[2020-09-24 09:07] macgills commented on #2300
@kelson42 I will proceed with removing the bottom line of Publisher/FileName, if you have no objection

[2020-09-24 10:18] gouri-panda commented on #2246
@Frans-Lukas this issue should be closed by #2288

[2020-09-24 10:35] #2300 closed

[2020-09-24 10:36] #2246 closed

[2020-09-24 11:18] macgills commented on #2393
This resolved itself

[2020-09-24 11:18] #2393 closed

[2020-09-24 11:36] kelson42 commented on #2300
@macgills Sorry for my lack of feedback here, this went without triggering my attention. Good you just went forward!

[2020-09-25 02:51] abhijeetsinghcode commented on #2385
Sir, I have  tried many times .
What I found is that sometimes it work sometime not .
Video
https://drive.google.com/file/d/1-W9TGv9tqRM8pzvRZE7J9Ro8AB5CtjzK/view?usp=drivesdk

[2020-09-25 03:48] Abhijeetcodev opened #2398 "Search Kiwix is just redirecting to kiwix app but not searching the result"
When I select a text and long press it  on Chrome , I got option to choose my search So when ever I choose  Search Kiwix
It redirect me to Kiwix app but it just load after that there is no result of my search.

video -> Kiwix app
https://drive.google.com/file/d/10M1Q5jGS7pwMujc4ZVDskSVDVpnD89k4/view?usp=sharing

video-> Kiwix app (Beta)
https://drive.google.com/file/d/10GpM6HY-bRWouFdmWslN6lUcYXpq

[2020-09-25 07:41] Mitia99 commented on #54
I hope that this feature will be available in next app version

[2020-09-25 07:46] #2375 closed

[2020-09-25 07:56] kelson42 commented on #2398
@macgills Do we have a regression here?

[2020-09-25 08:01] kelson42 commented on #2385
@macgills It is impossible forme to know wich mirror has bee picked, but this shoul bevisble in the logs, maybe even the diagnostic.

[2020-09-25 08:02] kelson42 commented on #2385
To me the problem here is the lack of proper error mgmt in such a case.

[2020-09-25 08:02] Mitia99 opened #2399 "Rounded search bar widget"
**Is your feature request related to a problem? Please describe.**
The Widget UI is a bit old

**Describe the solution you'd like**
 Rounded corner for the search bar widget

[2020-09-25 08:03] macgills commented on #2385
This is going to tell me very little about what is happening, other than the fact that it is happening. If you are willing to dive into the code and look through the logs I might be able to do something but the diagnostic report won't help here. Network logs only exist in a basic form on debug variants of the application. Prod apps have nothing network related.

[2020-09-25 08:06] kelson42 commented on #2399
Feedback would be welcome to know if there is a consensus about this enhancement proposal.

[2020-09-25 08:09] macgills commented on #2398
We already have an open ticket https://github.com/kiwix/kiwix-android/issues/2372 but I believe this issue has been longstanding regardless

[2020-09-25 08:18] s-ayush2903 commented on #2385
The code changes needed for proper logging in the networking module were explained in great detail by @macgills in the #android in slack, a few weeks back. Those logs provided me more than sufficient information that led me to infer that it was merely a poor internet connection only.

[2020-09-25 08:23] macgills commented on #2399
The Widget probably needs a lot more done to it.

Overall I'd like clarity on the usecase of it, the search looks like a textfield but you can't enter text into it.
The point is quick access into search/favourites/voice search? This is better served by adding shortcuts to our app launcher

![image](https://user-images.githubusercontent.com/3358282/94244157-5cd14680-ff10-11ea-9ccb-7072a9303b09.png)

[2020-09-25 08:28] kelson42 commented on #2399
Agree with @macgills, we probably need here a global proposal for this widget before doing anything.

[2020-09-25 08:30] Mitia99 commented on #2399
Actualy I don't have any proposal apart from the rounded corners.Let's see other's proposals.

[2020-09-25 09:24] macgills commented on #2399
The I guess my proposal is as follows:

Replace Widget with [shortcuts](https://developer.android.com/guide/topics/ui/shortcuts)

It limits us to 4 actions even though we can specify 5

I think we can get rid of `Get Content` with the new navigation making it far more accessible. Leaks is only present on debug so I would ignore that. That leaves us with `New Tab`, `Search`, `Favourites`, `Voice Se

[2020-09-25 13:32] gouri-panda commented on #2324
@NullByte08 What's your progress on this ticket?

[2020-09-25 15:37] rgaudin commented on #2347
OK I eventually got it *working* but it's not straightforward:

- The Webview and/or the InputStream reads `Range` request headers and seeks appropriately into the data stream
- It doesn't set any `Content-Range` response headers though
- It does set the `Content-Length` one, adjusted to the seek position

So basically, what we need to do is:
- Set 206 status code on partial responses (important)

[2020-09-26 02:02] abhijeetsinghcode commented on #2385
Sir ,This is all log infomation of my device

All log information when app is open and loading of Online Library
1. https://drive.google.com/file/d/115hIZh40gCz_2kwAmdct7Geo8Gg1etaD/view?usp=sharing

2.https://drive.google.com/file/d/11Bj-HpB4PCAr7fR5IXvWdW16I2TRN8RO/view?usp=sharing
phone :- Samsung
Android ver :- 8.1.0

[2020-09-26 23:44] gouri-panda opened #2400 "Convert OnSwipeTouchListener to kotlin"
Is your feature request related to a problem? Please describe.

OnSwipeTouchListener is in Java

Describe the solution you'd like

Convert it in Kotlin

Additional context

Parent issue #1826

[2020-09-26 23:48] gouri-panda opened #2401 "Convert TableDrawerAdapter to kotlin"
Is your feature request related to a problem? Please describe.

TableDrawerAdapter is in Java

Describe the solution you'd like

Convert it in Kotlin

Additional context

Parent issue #1826

[2020-09-26 23:50] gouri-panda opened #2402 "Convert TabsAdapter to kotlin"
Is your feature request related to a problem? Please describe.

TabsAdapter is in Java

Describe the solution you'd like

Convert it in Kotlin

Additional context

Parent issue #1826

[2020-09-27 02:59] abhijeetsinghcode commented on #2400
This is right
import android.annotation.SuppressLint
import android.content.Context
import android.view.GestureDetector
import android.view.MotionEvent
import android.view.View
import kotlin.math.abs

open class OnSwipeTouchListener : View.OnTouchListener {
    private var gestureDetector: GestureDetector

    @SuppressLint("SyntheticAccessor")
    constructor(c: Context?) {
        gestureDetecto

[2020-09-27 03:22] abhijeetsinghcode commented on #2400
Above code I checked on app , I don't know how to test the code in main application.

import android.annotation.SuppressLint
import android.os.Bundle
import android.view.MotionEvent
import android.view.View
import android.widget.RelativeLayout
import android.widget.Toast
import androidx.appcompat.app.AppCompatActivity
class MainActivity : AppCompatActivity() {
    private lateinit var layout: Rela

[2020-09-27 08:30] gouri-panda commented on #2363
@macgills I can't reproduce the issue anymore. Previously how I reproduce the issue
* after file transfer completion
*  close the activity and foreground the app
* resume the app
* open the file receiver activity in receivers device

thus how I reproduced the issue. Now I can't if you give me some more hint about how to produce the issue then that will be great. Thanks!

[2020-09-27 08:34] gouri-panda commented on #2400
TL;DR. @abhijeetsinghcode this is not an ideal way to solve an issue. If you want to solve this issue solve it and then make a pull request to the project. There we will review it. Do you wanna work on this issue?

[2020-09-27 08:42] abhijeetsinghcode commented on #2400
Sorry, I will try to make  a pull request for this.

[2020-09-27 08:45] gouri-panda commented on #2400
?

[2020-09-27 12:30] gouri-panda commented on #2400
@abhijeetsinghcode you are assigned!

[2020-09-28 08:26] Popolechien opened #2404 "Cannot play video (audio ok)"
On 3.4.0 build 6230400 (Huawei P20 lite / android 9) playing videos yields correct audio but the image is either fixed and jumpy or black screen (if it loads at all). Also notice the false color bit.

![Screenshot_20200928_101759_org kiwix kiwixmobile](https://user-images.githubusercontent.com/21675885/94407717-154af480-0174-11eb-9561-1b140a10d458.jpg)

I've tried with
http://download.kiwix.org/zi

[2020-09-28 08:29] Popolechien commented on #2404
Ah wait is this some duplicate of #2347 ?

[2020-09-28 08:53] macgills commented on #2404
I would believe so. You are using the beta I take it?

[2020-09-28 08:56] macgills commented on #2324
@gouri-panda I assume you want to take this ticket over? There hasn't been activity for 21 days so I am happy enough to reassign

[2020-09-28 08:59] Popolechien commented on #2404
Probably, yes, as I am on the beta list and haven't switched back to anything.

[2020-09-28 08:59] Popolechien commented on #2404
well then closing as duplicate.

[2020-09-28 08:59] #2404 closed

[2020-09-28 09:06] macgills commented on #2385
You will have to make modifications yourself to enable logging of the relevant portions of the app and install the app locally to get relevant logs, unfortunately those logs tell me nothing.

That is option a), option b) is wait quite some time until i have enough availability to investigate/make a debug version for you to investigate with

[2020-09-28 10:37] banane4711 opened #2405 "Add manual selection for ZIM files to the library"
Actually Kiwix uses an automated search for libraries on the mobile phone. This takes a lot of time (especially on large SD cards) and blocks the phone. As in most cases the user knows, where the ZIM files have been stored it would be very helpful and more efficient to have the choice between an automated search and the manual selection of a folder or a file.

[2020-09-28 10:40] #2082 closed

[2020-09-28 10:42] gouri-panda commented on #2324
Thank you @macgills

[2020-09-28 10:55] #2364 closed

[2020-09-28 10:59] macgills opened #2407 "Navigation view not hidden for fullscreen video"
**Describe the bug**
Play a video, press fullscreen with navigation view visible, see navigation view

**Screenshots**
![image](https://user-images.githubusercontent.com/3358282/94424230-ca37de00-0181-11eb-9b13-233ced77dcc6.png)

**Environment**
- Version of Kiwix Android : https://github.com/kiwix/kiwix-android/pull/2406

[2020-09-28 11:04] #2341 closed

[2020-09-28 11:04] kelson42 commented on #2405
@banane4711 What do you mean exactly with " blocks the phone"?

[2020-09-28 11:05] macgills commented on #2223
@kelson42 do we have any clarity here?

[2020-09-28 11:12] abhijeetsinghcode commented on #2385
Okay,Sir

[2020-09-28 11:20] kelson42 commented on #2223
I propose this:

How to Update a content ?

To update a content (zim file) you need to download the full latest version of this very same content. You can do that via the Kiwix library download manager.

[2020-09-28 11:22] kelson42 commented on #2223
@alanajjar Does that sound good to you or do you have something different in mind.

[2020-09-28 11:28] alanajjar commented on #2223
Thanks.
Should we add "delete your existing zim"?

[code]

[2020-09-28 11:30] kelson42 commented on #2223
I don't think we need to delete the older version of the ZIM file, this is just that afterward, we get a kind of duplicate. I believe Kiwix should invite to delette the older version one time the new is downloaded.

[2020-09-28 11:32] alanajjar commented on #2223
Great! so we can use your proposal. And I'll translate it to Arabic as soon as I can.

[2020-09-28 11:51] #2380 closed

[2020-09-28 13:04] Popolechien opened #2408 "Custom app flags zim file as invalid 2 weeks or so after install"
User (Samsung Galaxy A20 / android 10) reports installing Wikimed and, every couple of weeks, needs to uninstall and re-install the app following this error message. Until this happens the app is fully useable.

![Screenshot_20200928-125214_One UI Home](https://user-images.githubusercontent.com/21675885/94435463-72a66c00-019b-11eb-9127-58e2135a9265.jpg)

[2020-09-28 13:07] kelson42 commented on #2408
IMO he or something is just deleting the ZIM file.

[2020-09-28 13:49] rgaudin commented on #2347
FYI, I tested it (@macgills's PR) with both *regular* videos (youtube scraper) and warc2zim ones (lesfondamentaux) and it works for both scenarios. btw @ikreymer you never completed the upload of the small version of lesfondamentaux 🙃

[2020-09-28 14:50] Beater34 commented on #2082
Thank you all for doing so much work to fix the slow search problem. I had slow searches with Kiwix 3.3.3 on a Motorola G6 Plus phone with  wikipedia_en_all_maxi_2020-06.zim on an SD card (see my post of Jul 8, above). I now have Kiwix 3.4.0 build 6230400, but searches still take 1-2 minutes, and sometimes selecting one of the search results gets no response and I have to wait another minute or so

[2020-09-28 18:27] ritik17499 commented on #2402
Can i work on this?

[2020-09-28 21:01] gouri-panda commented on #2402
@ritik17499 sorry,I am working on this issue. If you want you can work on #2401 .

[2020-09-29 08:10] #2347 closed

[2020-09-29 08:19] macgills commented on #2408
[code]

I do not understand how this code could be malfunctioning. The user deleting their obb file seems most likely?

Google does do some magic with obb files sometimes with regards updates but that doesn't seem consistent with this report

[2020-09-29 08:21] macgills commented on #2082
Please await Kiwix 3.4.1's release and if you still experience these issues then opening a new ticket would be best

[2020-09-29 08:28] kelson42 commented on #2408
@BBT-SeanMacGillicuddy Would that be possible maybe to get more details in the message? Maybe if we know it has worked one time, to just write that the file `/.../..obb` has disappeared!

[2020-09-29 08:37] macgills commented on #2408
I would have to store the results of what the previous "file validation" was, it wouldn't just be a case of adding logs.

[2020-09-30 06:31] macgills opened #2411 "Toolbar in Reader is scrollable"
**Describe the bug**
When trying to use the swipe gestures to change tab/open the tab switcher I was unable to and was able to swipe it off the screen

**Expected behavior**

The toolbar should not be capable of being swiped up and the swipe gestures should work

**Screenshots**

![image](https://user-images.githubusercontent.com/3358282/94650476-b493f700-02ee-11eb-9aff-65f24a72f241.png)

**Enviro

[2020-09-30 07:56] kelson42 commented on #2411
@Frans-Lukas @macgills Would that be wise to release 3.4 with this bug?

[2020-09-30 08:06] macgills commented on #2411
We can postpone fixing it, the gestures are quite a hidden feature and it is only because I know about them that I even attempted it.

It doesn't crash or anything and a quick navigation will restore the toolbar. Low priority but unfortunate. I could  see it being in a 3.4.2 or something

[2020-09-30 08:34] #2235 closed

[2020-09-30 08:41] macgills commented on #2372
#2399 is proposing the deletion of the widget, @kelson42 I think we need to reach a decision on that ticket to prevent working on a thing that will not exist

[2020-09-30 09:34] kelson42 commented on #2372
I don't have made a decision here and still not sure about what to do. I would like to give us a bit more time. Can we just postpone things? Maybe in the meabtime we can just deactivate (no code suppression) the search widget (that would allow us to know if users complain about this feature missing).

[2020-09-30 09:46] kelson42 commented on #2235
BRAVO!!!!

[2020-09-30 09:52] Wikinaut commented on #2082
When will this become available (as beta)?

[2020-09-30 11:30] Wikinaut commented on #2082
I built and installed the current develop branch be91e6ba6 and found that the search time in the big enwiki file (80 GB) went down from 1..2 minutes to 10..20 seconds.

[2020-09-30 11:32] Wikinaut commented on #2082
So from my side: Go on!

[2020-09-30 11:32] kelson42 commented on #2082
@Wikinaut It is a good news, but still 10 times too slow.

[2020-09-30 11:33] Wikinaut commented on #2082
I thought, the develop has that built in?

[2020-09-30 11:52] kelson42 commented on #2082
@Wikinaut Yes it does, you are right. We will release 3.4.1 and then probably have to start a new round of investigation/fix to come down to reasonable times even in external SD cards worse scenarios.

[2020-09-30 18:51] s-ayush2903 opened #2412 "bug: Crashes when clicked for sending Diagnostic Report"
**Describe the bug**
When present on the help screen and click for _Send Diagnostic Report_, the app crashes (yes this is a regression)

**Expected behavior**
It should not crash and the report should be sent successfully

**Steps to reproduce the behavior:**
*  Navigate to Help Screen (using navDrawer)
* Now click on _Send Diagnostic Report_
*  (Witness the crash)

**Screenshots**
NA

**Environme

[2020-10-02 07:42] Frans-Lukas commented on #2411
I'll take a look this weekend.

[2020-10-02 12:05] Rajnish23 commented on #2401
I would like to work on this issue. Should I go ahead?

[2020-10-02 12:20] gouri-panda commented on #2401
@Rajnish23 you are assigned!

[2020-10-02 16:06] gouri-panda commented on #2407
I'll take this issue.

[2020-10-02 16:13] gouri-panda commented on #2327
@macgills This issue will be resolved after #2360. Should we close this issue?

[2020-10-02 16:38] rgaudin commented on #2303
Sorry about the long delay, this thing is a bit of a nightmare and I have not been able to really make it work but I think I am bringing enough so that you may.

First of all, I found a bug in another place.
in `CoreWebViewClient`, it's not possible to redirect (actually load) to articles that are not in the ZIM:
in `shouldOverrideUrlLoading()`, `zimReaderContainer.isRedirect(url)` is always true

[2020-10-03 09:32] Frans-Lukas commented on #1611
Going through old tickets, can this be closed @macgills ?

[2020-10-03 09:42] s-ayush2903 commented on #2257
@kelson42 My examinations are almost over(as for the current assignment they've allotted 2 days to finish), so may I please take up this issue if you don't mind.

[2020-10-03 12:51] rgaudin commented on #2303
FYI this timeout I sometimes get seems to be related to some deferred loading that can't be resolved and has to timeout.

[code]

No idea if `webview.stopLoading()` would help with that.

So I think the overall strategy should be something like:

**on opening a ZIM**
- evaluate a JS block that would check if there is/are SW registered
- if not (most of the time), go straight to ZIM
- if there is,

[2020-10-03 13:14] kelson42 commented on #2257
@s-ayush2903 Thank you very much for your offer. Please explain your plan here and get @macgills approval first before starting coding.

[2020-10-04 10:56] gouri-panda commented on #2377
@rgaudin I can't find this bug in both my physical device and emulator. Both are running on 5.1. Do you see this bug in all 5.1.1 devices?

[2020-10-04 12:17] abhijeetsinghcode opened #2418 "Convert ToolbarScrollingKiwixWebView to kotlin"
ToolbarScrollingKiwixWebView is in java
 Convert it into  kotlin

[2020-10-04 12:22] Destroyer5150 opened #2419 "Wiki of Ice and Fire Major bug"
![Screenshot_20201004-051219_Kiwix](https://user-images.githubusercontent.com/59759269/95015224-a6045300-0600-11eb-8f47-b6db92f3711b.jpg)
As you can see, most of the content can not be seen. It's been this way for about a year. The little bit that you can see on the right, can be moved and scrolled through but only in that small area of the screen. I use a galaxy S9 SD845 android version 8.0. The

[2020-10-05 06:14] s-ayush2903 commented on #2257
* I plan to implement it displaying it as radio buttons that'll display the current configuration and on switching storage option, a snackbar would be displayed.
* Another idea I had of highlighting the boundary of the selected storage in the dialog that appears(which I assume could be easier than the choice of radio buttons)
* On following the thread it seemed to me that it asks for storage each

[2020-10-05 07:16] macgills commented on #2372
I can remove our code that provides the widget, I imagine on an update that that would remove the widget if a user has it configured? I'd probably need to do some local experiments, widgets are weird as they are not a part of the app, they are RemoteViews.

[2020-10-05 07:24] macgills commented on #2412
This is not an issue with the app, the issue was that you had build files for a an older version of the app that complained when you tried to build the latest version. If you posted the logs they probably would have been something about butterknife. A clean build resolves this

[2020-10-05 07:24] #2412 closed

[2020-10-05 07:29] s-ayush2903 commented on #2412
Okay, fine then. But how should I know when to run a clean build?

[2020-10-05 07:32] macgills commented on #2327
This changes the behaviour, the documentation does not make this irrelevant

[2020-10-05 07:33] macgills commented on #1611
yup!

[2020-10-05 07:33] #1611 closed

[2020-10-05 07:42] macgills commented on #2419
In landscape is the situation improved at all?

@kelson42 seems like it could be an issue at creation/scraping time?

[2020-10-05 07:48] macgills commented on #2412
After reading the crash method it should have become clear that this was the issue. Granted you need to know a bit about butterknife but the problem was butterknife couldn't bind a view in Diagnostic/ErrorActivity and butterknife isn't used in either of those activities, bit of a dilemma.

We are closer and closer to getting rid of Butterknife and it is the largest contributor of these problems. I

[2020-10-05 08:01] macgills commented on #2257
Quite simply I want it to mirror the UX of the Night Mode dialog.
![image](https://user-images.githubusercontent.com/3358282/95053594-8f392b80-06e8-11eb-8c13-797dc97ed985.png)
Cells have a radio button.
![image](https://user-images.githubusercontent.com/3358282/95053692-aed05400-06e8-11eb-98c3-2c03f6716230.png)
cells are haptic

There is no snackbar or toast ever as you are directly modifying a se

[2020-10-05 08:48] #2411 closed

[2020-10-05 09:38] macgills commented on #2303
**on opening a ZIM**
This didn't work previously, a fresh webview would just say
`2020-09-11 11:33:53.423 I/chromium: [INFO:CONSOLE(1)] "Uncaught TypeError: Cannot read property 'getRegistrations' of undefined", source:  (1)`

I am deeply sceptical we can make this work at all

[2020-10-05 09:42] s-ayush2903 commented on #2257
Okay fine, I would like to implement this

[2020-10-05 09:46] rgaudin commented on #2303
If you don't believe it can work, it surely won't 😉

Not sure what's the state of a *fresh webview* but from the 3dprinting webview, I can clearly see the registration:

[code]

[2020-10-05 09:49] macgills commented on #2303
is that chrome dev tools? Because I was getting nothing in app

[2020-10-05 09:51] rgaudin commented on #2303
Yes, it's the devtools. Haven't tried logcat. I suppose we need to wait for initialization (maybe `load`?)

[2020-10-05 10:59] rgaudin commented on #2377
I only have this device which is 5.1.1. I just checked that it's still present in current develop (though maybe #2411 could have fixed it)

[2020-10-05 23:04] Destroyer5150 commented on #2419
![Screenshot_20201005-155509_Kiwix](https://user-images.githubusercontent.com/59759269/95140218-2cb15100-0723-11eb-8299-92384ac37739.jpg)
Somewhat. Still offset to the right but I can zoom in to fill the screen. If there's a way to edit something in the zim, tell my what tool to use and how and I can try. I'm limited to my phone and a wine VM (Exagear) no pc, but it could be fun to try lol

[2020-10-05 23:36] s-ayush2903 commented on #2419
Woah! looks astonishingly different at my end, pictures too ain't being rendered in my device. I'm android 10
|Landscape mode|
|--|
|![IceAndFire](https://user-images.githubusercontent.com/56556919/95142372-2b1e7200-0791-11eb-8b2d-50f229519a76.jpg)|

|Portrait Mode|
|---|
|![vertical](https://user-images.githubusercontent.com/56556919/95142485-6faa0d80-0791-11eb-8839-4056b444220a.jpg)|

[2020-10-06 01:07] Destroyer5150 commented on #2419
@s-ayush2903
That's the text only zim. Text only looks exactly like yours on my end. I have both. With pics and text only. If I remember correctly, the bug is not only restricted to these zims. I don't remember the others I've tried since I've did a little cleaning up on my device.

[2020-10-06 09:42] macgills commented on #2377
There is still the issue that this white line will appear when you scroll. @Frans-Lukas didn't we create a ticket to fine tune this animation further down the line? I couldn't find it searching the issues.

I mention it because it might be possible to get 2 birds with 1 stone. It might be messy but we we could put the webview controls in the bottom nav view and only show them on the reader fragmen

[2020-10-06 09:48] Frans-Lukas commented on #2377
Basically making the bottom nav view double in height in the reader fragment? We never created a ticket, only mentioning it as a to-do. Another solution could be to make the background black behind the nav bars, but I prefer putting the controls in the nav bar.

[2020-10-06 09:57] macgills commented on #2377
Ticket renamed, there will be some overhead with forwarding the events of the nav view, I imagine the readerFragment will implement some interface but overall I think we should see a decrease in lines of code, there is more than 1 ambiguous "ehhhh move the bar now" chunks about the place

[2020-10-06 10:07] macgills commented on #2419
@kelson42 can we check this file on other products? I haven't eliminated the possibility it is an android issue but would like to. Memory is just acting a bit fuzzy on how to do so.

[2020-10-06 10:36] macgills commented on #2303
The problem I see is if we are deferring the unregistering of previous SWs then we have a likely chance of preforming the unregistering right after we have just opened a new war2czim and registered a SW, seems inappropriate.

[2020-10-06 11:12] Destroyer5150 commented on #2419
I grabbed a few small zims to test and this is what Im getting.
![Screenshot_20201006-040829_Kiwix](https://user-images.githubusercontent.com/59759269/95194119-c14e9a00-0789-11eb-927b-3f314ba61903.jpg)
![Screenshot_20201006-040819_Kiwix](https://user-images.githubusercontent.com/59759269/95194137-c6abe480-0789-11eb-994b-0113a3e2af97.jpg)
Most zims are far too large for phone storage. So I'm limite

[2020-10-06 11:19] rgaudin commented on #2303
yes, ideally it should:
- know if there's a chance of having a SW (see bellow)
- if not, go straight to ZIM
- if yes, load a placeholder document that would hold the unregistration (or just serve as an environment for it to run)
- once done, load the ZIM content

Now difficulty is knowing whether we're exposed to SW at all or not. Basically that's whether we've last opened a SW-enabled ZIM. We cou

[2020-10-06 11:50] macgills commented on #2303
@kelson42 this would be a significant blocker to release, my current illness means my time is being further reduced on the project so a delayed release of even this friday is probably unlikely.

Postponing support for Service Workers, reverting all our changes and making a service worker branch of kiwix android to work on compatibility with this feature seems the quickest way forward to me.

[2020-10-06 11:57] rgaudin commented on #2303
Sounds reasonable to me as well. Changes are quite important and would require some good testing.

[2020-10-07 07:33] #2223 closed

[2020-10-07 09:28] macgills commented on #2303
@kelson42 are you happy to postpone SW support to the 3.5 milestone?

[2020-10-07 10:22] macgills commented on #2308
@Frans-Lukas I can't repro this, could you give it a shot to make sure I amn't being a dunce

[2020-10-07 11:14] Frans-Lukas commented on #2308
Oh, forgot about this one! Will check.

[2020-10-08 08:38] #2363 closed

[2020-10-08 09:03] s-ayush2903 commented on #2257
Should I write it entirely the same as for nightMode, i.e., another class for handling the storage changes? Till now, I've setup the expected UI but struggling with how to change storage options from the listPrefs. that pop up as I'm unable to make use of `onStorageDeviceSelected`.
Am I allowed to make some required changes in the SharedPreferencesUtil.kt class?

[2020-10-08 09:14] macgills commented on #2257
Night Mode should only be a visual template. You will have to work with the `StorageSelectDialog` to show a custom dialog with dynamic information about the file system and also style it

[2020-10-08 09:27] #2324 closed

[2020-10-08 09:31] #2401 closed

[2020-10-08 10:49] macgills commented on #2310
https://developer.android.com/about/versions/10/behavior-changes-10 as per behaviour changes our connectivity ie hotspot/fileTransfer, will need to be reviewed

[2020-10-08 19:11] gouri-panda commented on #2363
@kelson42 This issue is resolved. Should we remove from pinned issues?

[2020-10-08 19:14] kelson42 commented on #2419
/move openzim/mwoffliner

[2020-10-08 19:14] #2419 closed

[2020-10-08 19:15] kelson42 commented on #2419
@Destroyer5150 Which zim file is that?

[2020-10-09 09:21] macgills commented on #2257
@s-ayush2903 do you have an estimate for when you will be opening a PR? This is a priority ticket for the 3.4.1 release and I am just trying to plan when we will be releasing

[2020-10-09 10:37] gouri-panda commented on #2292
@macgills Should I add 3.4 milestones here?

[2020-10-09 10:47] gouri-panda commented on #2292
It seems @NullByte08 is offline for this project for a while.so I am taking this issue.

[2020-10-09 11:25] s-ayush2903 commented on #2257
Hopefully by today late night, as soon as I find out how the textViews are being set in the recyclerView, I looked into it last night but couldn't deduce anything useful. It was just storageAdapter which seemed to set the values, but I'm not sure of it. I'll search more about it this evening

[2020-10-10 07:36] kelson42 commented on #2127
No feedback. Closing.

[2020-10-10 07:36] #2127 closed

[2020-10-10 07:40] kelson42 commented on #2107
@macgills New release of fetch library has been done in august. Would not it be wiser to upgrade our fetch dependence within 3.4?

[2020-10-11 10:11] Frans-Lukas opened #2428 "Can no longer open history items correctly."
**Describe the bug**

When opening a history item, a "Webpage not available" page is displayed in the reader fragment.

**Expected behavior**

The history item page and its book should be opened in the reader fragment.

**Steps to reproduce the behavior:**
The only book I have on my device is the `Test` book.
1. Open the history fragment.
2. Click on "Sven-Åke Johansson" or try some other history

[2020-10-11 14:27] Frans-Lukas commented on #2308
1. Open History.
2. Click an item.
3. Open history again.
4. Press the back icon in the action bar.
5. Notice that you have to press back again (in the top action bar).

Fixed by popping the backstack in the `OpenPage` SideEffect.

[2020-10-11 14:38] Frans-Lukas opened #2430 "Memory leak in KiwixReaderFragment"
**Describe the bug**

KiwixReaderFragment is leaking

**Expected behavior**

No memory leaks should be present.

**Steps to reproduce the behavior:**
1. Open the history fragment.
2. Click a history item.
3. Open the history fragment again.
4. Close the history fragment.
5. Minimize the app (go to the android home screen).

**Screenshots**

[code]

[2020-10-11 14:57] Frans-Lukas commented on #2430
Setting the tableDrawerAdapters listener to null semms to fix this leak, but another shows up:

[code]

[2020-10-11 17:45] gouri-panda commented on #2430
@Frans-Lukas Do you wanna work on this issue?

[2020-10-11 20:32] Frans-Lukas commented on #2430
@gouri-panda I won't until next weekend so if you feel like doing it, go ahead.

[2020-10-12 07:32] kelson42 commented on #2430
@gouri-panda If you can fix it quickly this would be much appreciated, I believe nobody is comfortable with the idea of shipping 3.4.1 with known memoery leaks.

[2020-10-12 07:36] kelson42 commented on #2405
Without answer and clarification about this ticket, I plan to close it.

[2020-10-12 07:38] kelson42 commented on #2391
@Popolechien If content is downloaded at user initiative, it should be deleted at user initiative. I strongly oppose to do that automatically. It is a principle.

[2020-10-12 07:40] banane4711 commented on #2405
Hi Kelson,

find the reply from September below.

Sven

-------- Weitergeleitete Nachricht --------
Betreff: 	Re: [kiwix/kiwix-android] Add manual selection forZIM files to
the library (#2405)
Datum: 	Mon, 28 Sep 2020 21:00:04 +0800
Von: 	nextcloud@sbecher.de
An: 	Kelson <notifications@github.com>

Hi Kelson,

it means, that the screen is shown a pretty long time and I cannot leave
it as otherwise

[2020-10-12 07:40] kelson42 commented on #2335
@s-ayush2903 What is the status here?

[2020-10-12 07:42] Popolechien commented on #2391
@kelson42 yeah I wasn't very clear with the scenario I had in mind but obviously it should ask for confirmation, as it does in most cases.
What I meant to say is that the default outcome of a new download should not be having two files sitting side by side without the user being notified that the second download can replace the older one (and confirm with a single click).

[2020-10-12 07:44] banane4711 commented on #2405
Hi Kelson,
seems my reply hasn't been filed :-(

it means, that the search screen is shown a pretty long time while searching through the whole phone / SD-card and I cannot leave the search screen as otherwise the search for the libraries will stop. Opening Kiwix again next time the search starts searching libraries from scratch. Therefore, I'm stuck with the search screen and have to wait until a

[2020-10-12 07:49] kelson42 commented on #2405
@abdulwd @mhutti1 @siddharth2010 @Frans-Lukas @macgills I'm not really in favour of adding a manual way to add a file because the automatic way should work fine. @banane4711 seemsto say that it does not. This needs to be first confirmed/analysed/understood properly I believe.

[2020-10-12 07:57] banane4711 commented on #2405
In general, the automatic way works, but due to the increased size of memory (E.g. I'm using a 512MB SD-card) it needs a lot of time to dive through all folders. and sub-folders If the search could be done in the background it also may solve the issue. (Allthough I still think the manual option is more convenient for many users ;-):
Sven

[2020-10-12 08:14] s-ayush2903 commented on #2335
Ah, I was planning to restore the deleted branch in order to reopen the closed PR

[2020-10-12 08:21] abdulwd commented on #2405
IMO we can consider this. Although this will have a very low adoption.
We can also think of scanning selected folder(s) instead of the full file-system.

[2020-10-12 08:23] banane4711 commented on #2405
Scanning selected folder would also be fine as this avoids checking the whole file system and shortens the search time significantly

[2020-10-12 10:37] macgills commented on #2428
Not an issue. The problem here is that your history was stored as the new `https` scheme but I have since reverted that because service workers need much more work before they are production ready

[2020-10-12 10:37] #2428 closed

[2020-10-12 11:07] macgills commented on #2405
@banane4711 is your device 2 core by any chance? The scan does occur in the background. Much like our recent issues around search we could pursue a coroutine based implementation and see if we achieve any speed gains.

If we go the custom directory route we need to communicate very cleary that this overrides automatic detection. A simpler system might be a toggle to disable auto detection and only

[2020-10-12 11:47] banane4711 commented on #2405
My device is 4-core bit.LITTLE in 2 clusters.

I understand the idea, but I'd have concerns on that as we are partly talking about really large files (up to30GB). The solution putting them in the App directory would limit the user in choosing the appropriatenadn sufficient memory. (E.g. my tablet has 32G internal but 512G SD-card)

[2020-10-12 11:49] macgills commented on #2405
The app has folders on sd card and on internal

[2020-10-12 11:51] banane4711 commented on #2405
If both can be used according to users needs that would be sufficient I guess

[2020-10-12 12:38] #2308 closed

[2020-10-12 13:09] #2407 closed

[2020-10-13 07:34] Frans-Lukas opened #2435 "KiwixMainActivity leak caused by WifiP2pManager."
**Describe the bug**

I was using my phone when leak canary displayed a leak from Kiwix, I had not opened kiwix for at least an hour which makes this hard to reproduce. See screenshot for actual leak canary report.

**Expected behavior**

Memory leaks should not occur.

**Steps to reproduce the behavior:**
1. This happened with Kiwix minimized, otherwise I do not know how to reproduce this. Maybe

[2020-10-13 08:20] #2107 closed

[2020-10-13 08:49] kelson42 commented on #2435
@Frans-Lukas @mhutti1 Can we live a few months with this memory leak? Is that easy to fix?

[2020-10-13 08:57] macgills commented on #2435
seeing as it is the WifiP2P a user would have to actually use the feature to cause the leak which I think has been quite unlikely though I do not have analytics to support this hypothesis

[2020-10-13 10:23] #2292 closed

[2020-10-13 12:05] macgills commented on #2430
@gouri-panda I will be taking over this ticket in the interest of expediting it

[2020-10-13 12:31] macgills commented on #2430
@Frans-Lukas I cannot reproduce this issue using the repro steps. Can you reverify this leak on latest develop?

[2020-10-13 17:46] Frans-Lukas commented on #2435
Very nice, go ahead!

[2020-10-14 07:58] #2430 closed

[2020-10-14 09:40] macgills opened #2437 "Upgrade to AS/AGP 4.1"
**Is your feature request related to a problem? Please describe.**

Android Studio 4.1 has been released, we should update our tooling to take advantage of the latest features

**Describe the solution you'd like**

Update Android Studio and the gradle plugin

[2020-10-14 11:25] #2257 closed

[2020-10-14 12:40] s-ayush2903 commented on #1447
@macgills Is this issue specific to a particular zim file only, as I'm now unable to reproduce it, when I download a zim externally and click from browser to open it, it leaves on the libraryFragment(to be specific the screen where downloaded books are present) of kiwix-android but does not open the file in the reader anyways.

PS: The Url of zim given in the issue description no longer exists and

[2020-10-14 14:48] Dalakoti07 opened #2439 "Adding layout attribute for each fragment in kiwix_nav_graph.xml"
Having a UI description helps in understanding the nav-graph flow better. I want to add layout attribute ti each fragment in kiwix_nav_graph.xml

At present we have nav-graph something like :
![image](https://user-images.githubusercontent.com/38468299/96004915-920aed80-0e59-11eb-8660-d1a2636115d4.png)

It can be made something like:
![layout_after_changes](https://user-images.githubusercontent.com

[2020-10-14 18:05] s-ayush2903 commented on #2258
I would like to work on this issue

[2020-10-14 19:27] s-ayush2903 commented on #2258
I was just working with the module and I discovered that as per the current scenario(@`kiwix/develop`), the log files being sent to mail contain a ton of logs now in comparison to its situation and goal while it was being implemented and mentioned in the comment: https://github.com/kiwix/kiwix-android/pull/2153#issuecomment-655491114. I remember you saying:_"To get access to all logs, we'll need s

[2020-10-14 20:44] s-ayush2903 opened #2441 "Shimmer Effect in Download Screen Needed"
**Is your feature request related to a problem? Please describe.**
Most of the times, (due to the slower internet connection) user tend to lose the patience and hence terminates the application just because of staring at the entirely blank screen with a spinner rotating at the top, so shimmer layout can look nicer from a UX perspective and may increase the user stability.

**Describe the solution

[2020-10-14 20:45] s-ayush2903 commented on #2441
I will be taking this up

[2020-10-15 08:14] gouri-panda commented on #2435
@Frans-Lukas I can't reproduce this issue. @macgills @Frans-Lukas Can you give me some suggestions on how to reproduce this issue?

[2020-10-15 08:15] Frans-Lukas commented on #2435
@gouri-panda I do not know how to reproduce, all I can tell you is that kiwix was minimized and  had been for maybe an hour? This might be a difficult ticket to prove as finished.

[2020-10-15 08:18] macgills commented on #2441
we need to agree to it first and personally I am not for it.

OPDS is a longstanding evolution of our endpoint that should dramatically reduce load times and I'd rather we attempt to focus on that rather than this

[2020-10-15 08:18] gouri-panda commented on #1948
@macgills I would like to work on this issue.

[2020-10-15 08:21] s-ayush2903 commented on #2441
Fine then, I'll close it

[2020-10-15 08:21] macgills commented on #1447
it should open in the reader so the issue still exists. This ticket is awaiting an update in kiwixlib that I believe has been prioritised as it relates to a few app features

[2020-10-15 08:22] macgills commented on #2439
Sounds great, better previews and `tools` attributes help everyone

[2020-10-15 08:23] 4shutosh commented on #1948
@gouri-panda Can I please work on this issue? I once started on this but got left. Hope you understand.
Thanks for reminding.

[2020-10-15 08:26] gouri-panda commented on #1948
Sure, go ahead @4shutosh!

[2020-10-15 08:27] macgills commented on #2258
The special permission is impossible for our device to access, it is basically only for manufacturer apps if I remember correctly.

An example log file I have received from a crash report on 3.4.0 has nowhere near that size

[2020-10-15 08:30] macgills commented on #2435
I would try performing a file transfer and pressing back until the application exits. I am beginning the release now so sadly this won't make it for 3.4.1 but 3.4.2 is right around the corner

[2020-10-15 08:58] gouri-panda commented on #1420
@macgills What if the User has more than 10 books and the user wants to host one book It will become tedious to unselect it.

[2020-10-15 09:01] macgills commented on #1420
fair, so yes this ticket is valid

[2020-10-15 09:06] gouri-panda commented on #1420
ok, then I'm taking this.

[2020-10-15 10:37] #2441 closed

[2020-10-15 14:56] tdopires commented on #2331
I would like to work on this... Which direction should I go?

The extension function idea from @macgills seems nice, we could add `@file:JvmName("FileReader")` to the file, so it's not weird to use it with the `Kt` suffix in Java code...

[2020-10-15 16:01] tdopires commented on #2331
I've opened a PR for this.
If the extension function idea doesn't suit the codestyle of the project, just let me know.

[2020-10-16 08:14] #2439 closed

[2020-10-16 12:15] epicadk commented on #2391
Can I work on this?

[2020-10-16 15:10] Mitia99 opened #2445 "[Bug Kiwix 3.6.0]Infinite loading icon in library tab"
**Describe the bug**
Just an UI bug:Infinite loading icon in library tab
No issue with the library,zims are loaded.

**Expected behavior**
No more loading icon when zim are loaded.

**Steps to reproduce the behavior:**
1. Download zim content
2. Open library tab

**Screenshots**
![AddText_10-16-06.04.14.jpg](https://user-images.githubusercontent.com/56766778/96275742-c2c66080-0fda-11eb-9cb7-231e80

[2020-10-16 15:16] Mitia99 opened #2446 "Advanced library search : Option to display only selected label(Vid,Pic,Text...)"
**Describe the solution you'd like**
Option to only display "pic zim,vid zim,text only zim..."when doing a content search

**Additional context**
![AddText_10-16-06.03.33.jpg](https://user-images.githubusercontent.com/56766778/96276448-b0005b80-0fdb-11eb-975b-53e7414d53b5.jpg)

[2020-10-18 12:06] gouri-panda opened #2447 "In browser Hosting books shows after unselecting"
**Describe the bug**
After unselecting a book on the phone it still shows on the browser.

**Expected behavior**
It should show books which are selecting.

**Steps to reproduce the behavior:**
1. Start the server on HostFragment
2. Open into your browser and start the server
3. stop the sever on the phone
4. Unselect one book
5. Start the server again
6. Refresh the browser see the unselect book

[2020-10-18 18:07] s-ayush2903 commented on #2447
@gouri-panda Do you plan to work on it, I may take it up if there is a green check from your end

[2020-10-18 18:22] gouri-panda commented on #2447
@s-ayush2903 Sure,go ahead!

[2020-10-19 09:54] macgills commented on #2445
Thank you for the report, will investigate and hopefully have a fix in not too long

[2020-10-19 09:56] macgills commented on #2446
I would consider this a dupe of #1077 , thank you for the report, closing

[2020-10-19 10:00] #2446 closed

[2020-10-19 10:13] macgills commented on #1330
this has been done

[2020-10-19 10:13] #1330 closed

[2020-10-19 11:24] macgills opened #2448 "Allow read aloud to continue while app is in background"
**Describe the bug**
Evidently a regression introduced in 3.4.1. Users want to be able to listen to articles without having kiwix visibly open. I imagine we just put an unregister call in OnDestroy instead of onPause

**Expected behavior**
Read aloud to continue

**Steps to reproduce the behavior:**
1. Click Read Aloud
1. Background the app

**Environment**
- Version of Kiwix Android : 3.4.1

[2020-10-19 12:00] s-ayush2903 commented on #2448
I would like to take it up!

[2020-10-20 06:56] abdulwd commented on #2402
Discussed with @gouri-panda, I'm picking this. @ritik17499 If you need my help in assigning a ticket to you let me know.

[2020-10-20 10:12] gouri-panda commented on #1420
@macgills after doing some research on this issue I think this issue is irrelevant. Why a user wants to select a subset books? Plus the design will look like a bit of odd.
Ping @kelson42 for input.

[2020-10-20 17:21] s-ayush2903 commented on #2447
@kelson42 Do you want this to be closed(via PR), as implementing it will remove the changes introduced in #1569 for #1556 & #1557. I have no problem in implementing it, just waiting for approval from your end as this targets the previously raised(now closed) issues and corresponding PR.

[2020-10-20 17:37] s-ayush2903 commented on #2445
@Mitia99 I'm sorry but I can't reproduce the issue, I tried ~5 times the procedure mentioned in the description but couldn't find it. Can you please answer one question: Does it always occur(via following the steps given in the issue desc.) or you just caught it once?

[2020-10-20 17:49] Mitia99 commented on #2445
@s-ayush2903
I tried force stop and clear cache but same issue.

[]()https://drive.google.com/file/d/1XKecR3z52jRgwCntXWLmA9xBakZZHoVB/view?usp=drivesdk

[2020-10-21 03:14] Mitia99 commented on #2445
@s-ayush2903
It always occurs.

Additionnal information:
I did an update from version 3.3.1(i.e I downloaded the zim contents with 3.3.1).

[2020-10-21 03:18] s-ayush2903 commented on #2445
No worries, I'll take a look

[2020-10-21 03:20] Mitia99 commented on #2445
@s-ayush2903
I tried to clear app data(which removed all zim contents) but same issue.So I don't think it that the issue is linked with the update![Screenshot_20201021_061917.jpg](https://user-images.githubusercontent.com/56766778/96669251-880b5200-1365-11eb-8945-397899c4e95e.jpg)

[2020-10-21 06:56] gouri-panda commented on #2448
@macgills It would be better if we add preference for this so that user can choose that  they want play audio in the background or not.

[2020-10-21 08:03] macgills commented on #2447
@s-ayush2903 I don't think it has any bearing on those tickets. There is a bug and the current selection of the screen is not being hosted appropriately. It instead just defaults to hosting all regardless of the selection, or something to that effect

[2020-10-21 08:31] macgills commented on #2445
Ahhh this is library, not Download, d'oh. So what this is doing is scanning your filesystem looking for zims. I am going to assume you are using an sd card? There is a possibility this is blocked by our file system detection, in Download do you see large entries ie >4GB, greyed out?

[2020-10-21 08:34] s-ayush2903 commented on #2447
It works like this: At first, by default, it shows all the books for hosting(which was requested in #1556) and in the next runs, it displays the persisted content which was shown in the first run despite the selection(which was demanded in #1557)

[2020-10-21 08:43] Mitia99 commented on #2445
@macgills I'm using a 64go SD Card.Storage is set on internal![Screenshot_20201021_114225_org.kiwix.kiwixmobile.jpg](https://user-images.githubusercontent.com/56766778/96695656-91f77a00-1392-11eb-808c-5b15b518b464.jpg)

[2020-10-21 08:46] macgills commented on #2447
That is not the bug. Read through the steps again. Only the things I have selected should be hosted. Those tickets are just about preserving the selection across launches of the screen, not about sending the correct selection to the server. Are you loading the URL in a browser?

[2020-10-21 08:54] macgills commented on #2445
hmmmm so it is potentially an error in StorageObserver. Have you left the phone on this screen for an unreasonably long time? I wonder if it ever completes

[2020-10-21 08:59] #2258 closed

[2020-10-21 09:03] gouri-panda commented on #2448
@macgills you're right Users will want that. What I meant was what if they want to change this behavior under different circumstances. I am thinking about this.
<img width="321" alt="Screenshot 2020-10-21 at 2 31 29 PM" src="https://user-images.githubusercontent.com/43576162/96697930-1ef9fd80-13aa-11eb-988d-94c7ea05fb71.png">
.

[2020-10-21 09:05] gouri-panda commented on #2445
I'm encountering this problem too.

[2020-10-21 09:10] macgills commented on #2445
Would you like for this to be assigned to you then @gouri-panda ? The file search completes near instantaneously on my device

[2020-10-21 09:14] macgills commented on #2448
I don't want that. the user can just stop the audio if they want to stop the audio. I want features that run with reasonable defaults, not multi faceted things that are hard to maintain

[2020-10-21 09:17] s-ayush2903 commented on #2445
+1 To second line in the trailing comment, I still can't reproduce the issue

[2020-10-21 09:20] gouri-panda commented on #2445
yes @macgills

[2020-10-21 09:29] #2400 closed

[2020-10-21 21:02] gouri-panda commented on #2445
@Mitia99 I'm facing this problem but in a different way. On my phone, it loads for approximately  3-4 minutes. Do you have this situation too?

[2020-10-22 03:23] Mitia99 commented on #2445
@gouri-panda Yes same here,I figured out that it is taking ~ 2minutes but when I reduce kiwix app and re-open it,it is re-scanning.

[2020-10-22 04:42] gouri-panda commented on #2445
That's because it is downloading the content even if you switched the tab, that's why it is taking so much time.

[2020-10-22 05:12] Mitia99 commented on #2445
@gouri-panda Oh,I see..I hope that you could improve the scan time.

[2020-10-22 05:31] gouri-panda commented on #2445
@Mitia99 it's taking the usual time ,but if you have slow processor than you can feel the delay like I have. My one phone is taking 2 to 3 minutes and the other phone is taking hardly 10 sec.

[2020-10-22 05:40] Mitia99 commented on #2445
@gouri-panda I don't think that it is a processor issue.I am using a kirin 960(8 core cpu) which is pretty fast even in huge apps.

[2020-10-22 06:08] gouri-panda commented on #2445
@Mitia99 I looked over your storage.My hypothesis is that you have a lot of content in both your internal and external memory card so thats why it scans the  whole thing after you dowload  zim files.

[2020-10-22 06:41] Mitia99 commented on #2445
@gouri-panda Yes,you're right.That's why making the engine to only scan specific folders/files types will be great.For users with large files in 128go/256go memory/SD Card it will take a very long time.

[2020-10-22 07:10] gouri-panda commented on #2445
@Mitia99 It will break us our certain feature like sharing our Zim files and download the Zim files over the internet. It won't add these files into library.

[2020-10-22 08:13] #2402 closed

[2020-10-22 08:18] macgills commented on #2445
https://github.com/kiwix/kiwix-android/issues/2405 there is a solution outlined here

[2020-10-22 08:53] #2448 closed

[2020-10-22 08:55] #2310 closed

[2020-10-22 15:26] Mitia99 commented on #2445
@macgills Thank you for the reference.Personnaly,I don't really want a manual folder selection but only an improved auto-scan(modify a bit the way that the engine scans).

[2020-10-23 08:49] macgills commented on #2445
It is quite difficult to "intelligently" scan as any number of apps eg torrent clients, browsers, dedicated downloaders, could be downloading files and be putting them anywhere on disk as could a user transferring manually. Our only guarantee is to look everywhere and really it shouldn't be that slow but here we are.
We have 2 options as I see it and we could do both of them.

1. coroutines rewrit

[2020-10-23 10:32] gouri-panda commented on #2435
**Steps to reproduce this issue**

* Open FileTransefer Fragment
* Change WIFI discovery network (If you are connected to wifi then remove this network)
* go back until the app is in the foreground

[2020-10-24 13:58] abdulwd opened #2456 "Remove DownloadIntent.java"
**Describe the bug**

It's not being used anywhere.

**Expected behavior**

**Steps to reproduce the behavior:**
1.

**Screenshots**

**Environment**
- Version of Kiwix Android :
- Device :
- OS version :

**Logs**

[2020-10-24 16:39] abdulwd opened #2458 "Convert CoreReaderFragment to Kotlin"
**Is your feature request related to a problem? Please describe.**
Convert CoreReaderFragment to Kotlin.
Splits from #1826

**Describe the solution you'd like**

This will also help us to get rid of ButterKnife

**Describe alternatives you've considered**

**Additional context**

[2020-10-25 02:44] EvansJahja opened #2459 "Could not click any link in the TED content"
From my Android device, I expect to be able to view offline version of the TED contents. However, clicking any of the image link just make the page scrolls to the top without opening the link.

I expect to be able to click the links in the TED contents and view the videos.

Steps to reproduce:
1. Download any of the TED content. Here I use "How to live many lives"
2. Inside the content, see that t

[2020-10-27 09:50] kelson42 commented on #2174
@macgills The only thing which can fail here is the the mime-type delivered by the ZIM is `text/html; charset=utf-8`. Probably Kiwix Android can not handle properly the extended mime-type attribute. Can you please try to skip it just before giving the information to the web-renderer?

[2020-10-28 07:43] Mitia99 opened #2462 "Modern splash screen"
**Is your feature request related to a problem? Please describe.**
I think that it it will be great to have a more modern splash screen cause the actually one is a bit old and big

**Describe the solution you'd like**
![New splash screen.png](https://user-images.githubusercontent.com/56766778/97406432-4866dc00-190a-11eb-92ba-c566a1c228a2.png)

[2020-10-30 14:46] #2456 closed

[2020-10-30 15:47] gouri-panda opened #2463 "ProgressBar and other stuff of VideoView doesn't show"
**Describe the bug**
ProgessBar and other stuff of VideoView don't show after OnResume state of the application.

**Expected behavior**
Show ProgressBar and other visible stuff of video view after OnResume state of the application.

**Steps to reproduce the behavior:**
1. Open a video
2. Make sure Bottom navigation  is visible
 while the video go to the full screen
3. Foreground the app.
4. Open T

[2020-10-31 00:20] gouri-panda commented on #2418
It looks like @abhijeetsinghcode offline for quite a while. So I am picking this up.

[2020-11-01 16:38] dhruvrauthan opened #2466 "Typo in DESIGN.md"
**Describe the bug**

The word "simplifiy" is present instead of "simplify" in the Typography section.

[2020-11-01 17:16] #2466 closed

[2020-11-02 07:42] macgills commented on #2459
This could be an issue where our redirect evaluating code is returning empty for some links, causing an initial page load. I am trying to remember some discussion on the topic, will need to investigate to get specific repro steps before pinging people. Thank you for the report

[2020-11-02 07:46] macgills commented on #2174
should be straightforward, just `substringBefore(";")` I imagine

[2020-11-02 08:45] macgills opened #2468 "Update Github actions as per warning"
**Is your feature request related to a problem? Please describe.**
[code]

[2020-11-02 09:50] #2463 closed

[2020-11-02 11:02] gouri-panda opened #2469 "KiwixPrefsFragment is leaking"
**Describe the bug**
KiwixPrefsFrament is leaking if we open Settings.

**Expected behavior**
There shouldn't be this leak on KiwixPresFragment.

**Steps to reproduce the behavior:**
1. Open Application
2. Go to the Settings
3. Go back to home Fragment

**Screenshots**
<img width="359" alt="Screenshot 2020-11-02 at 4 32 12 PM" src="https://user-images.githubusercontent.com/43576162/97860928-f7e7e8

[2020-11-02 11:05] gouri-panda commented on #2459
@macgills I can't reproduce this issue. Perhaps you can tell me how to find this issue?

[2020-11-02 16:05] kelson42 commented on #2459
@EvansJahja We are currently release 3.4.1, would be great to test with it. Please let us know the result as soon as you have updated.

[2020-11-03 08:31] kelson42 opened #2471 "Custom app splash screen should not display Kiwix logo"
It should display the custom app logo

[2020-11-03 08:32] kelson42 opened #2472 "FAQ entries not relevant for custom apps should be removed/blind"
Like:
* What does Kiwix do?
* Where is the content?

[2020-11-03 09:05] s-ayush2903 commented on #2468
I would like to take this

[2020-11-03 09:54] gouri-panda opened #2474 "Convert OnSwipeTouchListener to kotlin"
**Is your feature request related to a problem? Please describe.**
Convert CoreReaderFragment to Kotlin.
Splits from #1826

[2020-11-03 10:23] s-ayush2903 commented on #2474
Most probably a duplicate.
Mentions #2400
Mentions #2451

[2020-11-03 10:26] gouri-panda commented on #2474
Sorry, I thought it was another class. Thank you @s-ayush2903 .

[2020-11-03 10:26] #2474 closed

[2020-11-03 11:15] #2418 closed

[2020-11-03 12:22] macgills opened #2475 "History and Bookmark are not showing the correct title"
**Describe the bug**
On History and Bookmark the title is Kiwix

**Expected behavior**
The screens should be appropriately titled

[2020-11-04 09:08] kelson42 opened #2477 "At first download, the user has to choose the storage"
Currently it choose the internal storage per default.

[2020-11-04 09:27] s-ayush2903 commented on #2477
A duplicate?
Mentions #2068

[2020-11-04 09:35] kelson42 commented on #2477
My bad, duplicate indeed.

[2020-11-04 09:35] #2477 closed

[2020-11-04 09:37] kelson42 commented on #2068
@s-ayush2903 You volunteer to fix it ? ;)

[2020-11-04 10:36] #2472 closed