[2017-11-05 13:55] okkebal commented on #240
I cannot open any Zim files with this build. Error, not a valid zim file...

[2017-11-05 14:23] mhutti1 commented on #240
Yeah. I disabled the c++ backend so you can't open anything. We need to isolate the issue before fixing it.

[2017-11-05 23:15] mhutti1 commented on #240
@okkebal Can you try the new apk https://drive.google.com/open?id=0Bwjmzre_HGWzS2tfMUk5X1MxN00 . You also mentioned that you have an sd card. If the ZIM files are on the SD card would it be possible to remove the sd card and try the app with no ZIM files. If this works could you try download a small ZIM file and try with a single file.

[2017-11-06 11:05] okkebal commented on #240
It works, I can now open Kiwix, get content, download content. The local file scanner does not find my zim files. It shows 'works without c++' fake file instead of a zim. Through my filemanager i can open a zim file no problem. So for so good i guess.

[2017-11-06 13:15] mhutti1 commented on #240
@okkebal  cool. What happens if you click one of the fake files? If im right each one does represent an actual ZIM and it should open if you click it.

[2017-11-06 16:19] okkebal commented on #240
Yep, it opens a ZIM file. But strange enough it appears not all ZIM files have a fake dummy in the list. I have two zim files on my device, but I only see one dummy.

[2017-11-06 18:32] mhutti1 commented on #240
@okkebal Does it crash with the sd card in though?

[2017-11-06 21:56] okkebal commented on #240
No crashes. I have the sd card in. It takes forever to search for zims finds one of two zim files.

[2017-11-06 21:58] okkebal commented on #240
Well maybe not forever, because it does finish searching. The spinningwheel does dissapear after some time. Just to be clear :)

[2017-11-06 22:28] mhutti1 commented on #240
@okkebal Cool, Thanks so much for this, I think we might almost be there. I have built 2 more apks. One hopefully should crash. The other should list the correct number of files but they should still be test files. Then we can work out which of our C++ methods are causing the crash.

Should not crash: https://drive.google.com/open?id=0Bwjmzre_HGWzS2tfMUk5X1MxN00
Should crash: https://drive.google.

[2017-11-07 08:31] okkebal commented on #240
Oke... so some strange behaviour...'

No crashes!

It finds all zim files now. The shouldcrash version even has icons and descriptions in the local zim list. Scanning still takes long but works perfect now...

[2017-11-07 11:10] okkebal commented on #240
The latest nightlies also work fine now... 64bits version too...

[2017-11-07 13:41] mhutti1 commented on #240
@okkebal Great! Can you try one of the original nightlies that failed for you? If it works then the problem is likely that the file database somehow got corrupted.

[2017-11-07 19:15] okkebal commented on #240
What is this magick? The old build works now too. I can't reproduce the bug anymore. I guess not everything is removed when you delete kiwix.

[2017-11-07 20:38] mhutti1 commented on #240
@okkebal Yeah this is weird. And you still have the same ZIM files?

[2017-11-07 23:40] mhutti1 commented on #240
I guess one potential fix is to upgrade the db and perform a wipe of the file table.

[2017-11-08 12:57] okkebal commented on #240
It also crashed without zim files on my device. I have many zim files installed now, no crashes

[2017-11-11 19:51] mhutti1 commented on #240
So users are still reporting crashes despite wiping the file database in the latest update. @okkebal Is there anything else that could possibly have changed to have caused this. Did it start working after taking the sd card out then putting it back in. Did any of the ZIM files change and that caused it to start working. We really need to narrow it down some amount.

[2017-11-13 07:33] Popolechien opened #285 "Crash after update to 2.3"
From the OTRS feedback queue.
"I have two zim files on SD card but  Kiwix can't find any of them. When I tap Get Content, it tries to get online or show "scanning for downloadable content message" but crashes immediately. the update rendered the app useless.
Cleaning the cache and data didn't fix anything."
Version 2.3 Build 173130

[2017-11-13 07:38] Popolechien opened #286 "Crash after update to 2.3"
From the OTRS feedback queue
"The search function does not work anymore - it wouldn't show any article.

I have these two files, both on external SD card:
wikipedia_de_all_nopic_2016-08.zimaa
wikipedia_de_all_nopic_2016-08.zimab

here's my configuration:

Internal 6,1 GB / 11 GB
External 24,9 GB / 29,8 GB
/ „empty no text“

The last line with „/“ is empty."

[2017-11-13 12:46] okkebal commented on #240
I never removed the SD card. It started working when I got your testbuilds. I ran one of the testbuilds, and poof every build suddenly works.

[2017-11-13 18:28] mhutti1 commented on #240
From the OTRS feedback queue
"The search function does not work anymore - it wouldn't show any article.

I have these two files, both on external SD card:
wikipedia_de_all_nopic_2016-08.zimaa
wikipedia_de_all_nopic_2016-08.zimab

here's my configuration:

Internal 6,1 GB / 11 GB
External 24,9 GB / 29,8 GB
/ „empty no text“

The last line with „/“ is empty."

[2017-11-13 18:28] mhutti1 commented on #240
From the OTRS feedback queue.
"I have two zim files on SD card but Kiwix can't find any of them. When I tap Get Content, it tries to get online or show "scanning for downloadable content message" but crashes immediately. the update rendered the app useless.
Cleaning the cache and data didn't fix anything."
Version 2.3 Build 173130

[2017-11-13 18:28] mhutti1 commented on #285
Duplicate of #240

[2017-11-13 18:28] #285 closed

[2017-11-13 18:28] mhutti1 commented on #286
Duplicate of #240

[2017-11-13 18:28] #286 closed

[2017-11-19 16:47] kelson42 commented on #264
@Popolechien I do not have a generic link, but I just have modified the script to "forget" about old zim files if there is a "all_novid" version. That shoudl fix this bug.

[2017-11-19 16:47] #264 closed

[2017-11-20 18:49] mhutti1 opened #287 "Build as much logging as possible to try to catch #240"
Attempt to log and catch issues that might be causing #240.

[2017-11-26 16:50] kelson42 commented on #50
@mhutti1 I just have merged a PR to kiwix-lib which might have fixed that problem to : https://github.com/kiwix/kiwix-lib/pull/97.

[2017-11-26 20:37] kelson42 commented on #76
@ISNIT0 I strongly suspect this problem has been fixed as I can not reproduce it at all? Could you still reproduce it with 2.3?

[2017-11-26 20:39] kelson42 commented on #71
@mhutti1 Any opinion on that? That might make a good GCI simple task?

[2017-11-26 20:41] mhutti1 commented on #71
I'm no designer. I don't really have an opinion either way.

[2017-11-26 20:49] kelson42 commented on #71
@mhutti1 OK, then trust @ISNIT0 know-how. Let's do it.

[2017-11-27 18:59] mhutti1 commented on #71
@kelson42  So I did a bit of reading https://ux.stackexchange.com/questions/79221/star-vs-heart-icon-to-represent-save-as-a-favourite. I think a point here is valid. Do you really want to be hearting an article on a childhood disease?

[2017-11-27 19:00] kelson42 commented on #277
@mhutti1 libbzim/libkiwix git master HEAD has now the feature to retrieve only a part of an "article".

[2017-11-27 19:06] kelson42 commented on #71
@ISNIT0 What do you think about last @mhutti1 remark?

[2017-11-27 21:59] ISNIT0 commented on #71
Either way I don't suppose it's a huge deal. The Twitter example was just for increasing the usage of the feature.

I'm not overly opinionated though.

[2017-11-28 06:48] kelson42 commented on #71
As it seems we are a bit unsure if this is a good move, I propose to close this ticket.

[2017-11-28 07:09] #71 closed

[2017-11-28 07:13] kelson42 opened #292 "We do not have nightlies anymore..."
since around a week

[2017-11-28 09:44] mgautierfr commented on #292
It is because of the new JNI API of kiwix-lib I've merged recently (https://github.com/kiwix/kiwix-lib/pull/78).

@mhutti1 can confirm, but I think that with #290, it will be ok.

[2017-11-28 11:06] mhutti1 commented on #292
Yeah this is correct.

On 28 Nov 2017 09:44, "Matthieu Gautier" <notifications@github.com> wrote:

[2017-11-28 13:16] okkebal commented on #84
I see lots of activity on the other bugs. But not here. I personally do not use Kiwix anymore due to this bug. I use Aarddict 2.0, just because I cannot find anything on any zim file. The only way to find an atricle is to first find it in Aarddict, then look at the exact title for the article, then go to Kiwix and type in that exact title to find the article. If you do not have the extact title mo

[2017-11-28 14:46] mgautierfr commented on #84
A lot of works have been made on the low level `kiwix-lib` and `libzim` libraries.
With the last version of `kiwix-serve` and `wikipedia_de_all_nopic_2017-06.zim`, I'm able to search for abbriviations (FFT, IBM, EMMC, SSD ...).

However, on `kiwix-android` , we've got some annoying bugs preventing us to do a new release with the last version of the libraries. (Especially this one https://github.co

[2017-11-28 15:30] Popolechien opened #293 "zim file not recognized with wikimed app"
After installing WikiMed mini (version 2017-08 Build 1172340) and upon opening, I get the error message: "zim file not recognized". Same thing after deinstalling- reinstalling. Weirdly enough, the WikiMed mini app shows the Get content menu item and allows me to open other files stored locally (the online library shows "no network connection").
That's when it asks me for permissions: I give them a

[2017-11-28 15:41] mhutti1 commented on #293
I can't reproduce the zim opening error but I can see the get content button. It shouldn't be there.

[2017-11-28 15:44] Popolechien commented on #293
I can reproduce if all versions of Kiwix are uninstalled. If there's one working one (e.g. Kiwix), then the new one (e.g. WikiMed) works

[2017-11-28 16:51] kelson42 commented on #293
I think this is a fundamentaly importenat ticket to understand why a few users complains about "zim file not recognized"

[2017-11-28 16:57] mgautierfr commented on #292
I'm not sure that the new API is the only problem.

Recent PR #289 (and maybe #271) seems also to have a impact on kiwix-build.
If PR kiwix/kiwix-build#95, I have to update to a recent version of gradle (https://github.com/kiwix/kiwix-build/pull/95/commits/7c7471e01c6410b90e11734faf356d2fcadae403) and I'm facing issues anyway to build android and they don't seem related to the JNI :

[code]
Full l

[2017-11-28 17:05] mhutti1 commented on #292
Yeah we have updated our gradlew version to allow use of more java 8 features. There might be a few changes needed in kiwix-build to reflect this. I will get round to it later in the week as I don't think its as high priority as some of the other tasks unless you or @kelson42 disagree.

[2017-11-28 18:44] kelson42 commented on #84
@okkebal I can confirm that with the most recent kiwix-serve (nighly) and the last Wikipedia in English. It seems to work quite well. See our demonstration instance:
http://library.kiwix.org/wikipedia_en_all_novid_2017-08/A/Fast_Fourier_transform.html

[2017-11-28 18:52] kelson42 commented on #84
@okkebal I have just published the APK of last maintenance release 2.3 here http://download.kiwix.org/bin/android/2.3/. Give a try, but I think everything should work fine with them (and recent ZIM files).

[2017-11-28 19:23] kelson42 commented on #292
@mhutti1

Having nightlies working fine are to me extremely important because this is the only easy way to test git master HEAD (new features, bug fixes, ...). To me, having the video working fine with Android it the most important thing to do for now... but otherwise fixing the nightlies. So, as you have quite of bit things do to currently, having a fix to that later this week is perfectly fine t

[2017-11-28 20:33] #281 closed

[2017-11-29 15:27] okkebal commented on #84
Thanks for the new binaries. I gave them a try

I've tried: http://download.kiwix.org/bin/android/2.3/kiwix-2.3_arm64-v8a.apk

Sorry but I see no improvement.

Cannot find 'author: Nicola Tesla' on searching 'tesla' in Wikisource (EN 2017-07-05)

Cannot find 'ibm' or 'emmc' or 'knsb' on Dutch Wikipedia (2017-08-09).

[2017-11-29 15:35] mhutti1 commented on #84
@okkebal Have you tried with the fulltext search option on in settings?

[2017-11-29 15:37] kelson42 commented on #84
I think we should close that ticket. It's not a problem with the software, it's a problem that (1) fulltext search is not generalised (2) maybe in the past it was not working well, but now it is. Users will stop to get lost at the time all the ZIM files will have a fulltext index and the option will be activated per default.

[2017-11-29 15:40] okkebal commented on #84
I've also tried the 32 bits version here: http://download.kiwix.org/bin/android/2.3/kiwix-2.3_armeabi.apk

For some reason it has the Get Content crash bug. #240
When I install the 32 bits version it crashes, when I then install the 64 bits version and it does not crash (on get content). Install the 32 bits version again... it crashes again... very strange.

I can select a ZIM file through my file

[2017-11-29 15:40] #243 closed

[2017-11-29 15:41] mhutti1 commented on #84
@okkebal Oh yeah sorry its enabled by default now.

[2017-11-29 15:43] kelson42 commented on #84
@okkebal It is simply a ZIM file without ft index, so all what you reported recently regarding search makes sense to me. We just need to make all ZIM files with ft index.

[2017-11-29 15:44] okkebal commented on #84
PS: I do not have any indexes installed (.idx folders) next to my ZIM files.

[2017-11-29 15:44] kelson42 commented on #222
We can now add a custom path... and like @mhutti1 said, there is nothing more we can do. I close the ticket.

[2017-11-29 15:44] #222 closed

[2017-11-29 15:45] okkebal commented on #84
@kelson42 So normal title searching without indexes remains broken??

[2017-11-29 15:46] kelson42 commented on #236
@okkebal With the 2.3 version which works for you (64 bits) do you still have the pb?

[2017-11-29 15:52] kelson42 commented on #50
Still there in 2.3, but 3.0 should have it fixed.

[2017-11-29 16:32] mgautierfr commented on #84
@mhutti1, which method from kiwix-lib are you using ?
- `searchSuggestions` (https://github.com/kiwix/kiwix-lib/blob/master/src/android/org/kiwix/kiwixlib/JNIKiwixReader.java#L59)
- `search`  (https://github.com/kiwix/kiwix-lib/blob/master/src/android/org/kiwix/kiwixlib/JNIKiwixReader.java#L85)

The `search` method do a search in the fulltext index (if available).
The `searchSuggestions` method do

[2017-11-29 16:41] mhutti1 commented on #84
@mgautierfr We use search suggestions in 2.3. In 3.0 we now use search and fallback to search suggestsions? is this the right behaviour?

[2017-11-29 20:07] divadsn commented on #162
As I'm working on that task, I am thinking about removing the "progress bar" thing, as it looks weird to have both things displayed.

[2017-11-29 20:10] mhutti1 commented on #162
@divadsn Yeah lets remove the current progress bar as part of this.

[2017-11-29 20:17] divadsn commented on #162
Ok, great! I also removed some unused menu items, those changes are already on my repo. Will do some testing and make a PR after I removed the progress bar.

[2017-11-29 21:28] Albert221 commented on #156
It is worth noting, that firstly clicking dot menu and then hamburger (or basically anywhere outside of dot menu) will hide that menu, so the only case we want to handle is when hamburger menu is shown and then  dot menu clicked.

[2017-11-30 01:15] #156 closed

[2017-11-30 08:30] Wikinaut commented on #134
Just re-installed Kiwix and 25 GB German Wikipedia with images but novideos

Found, that many searches are not functioning

One example is my test search for "tatort":
* only 6 results on first letter "t" ("t.A.T.u. Remixes" until "tRNA") ; and
* there are no results after having typed "ta".

Before the reinstallation, Kiwix crashed after having typed "jimi".

[2017-11-30 08:35] Wikinaut opened #298 "Deinstallation automatically deletes ZIM files. Don't do that. Ask the user, if they really want to delete the downloaded files (if this is technically possible)"
I had to reinstall Kiwix (because I wanted to determine whether a search bug #134 disappears then (no)).

I noticed, that my big downloaded content file was automatically deleted then, this should not happen.

[2017-11-30 09:33] divadsn commented on #298
Hmm, weird, as Kiwix isn't saving ZIM files in it's data folder, what Android version are you running?

[2017-11-30 09:48] Wikinaut commented on #298
* Android 7.0
* Sicherheitspatchebene 05.10.2017

ZIM files are on sdcard/Android/data/org.kiwix.kiwixmobile/files//Kiwix/*.zimaa until *.zimam

[2017-11-30 09:49] Wikinaut commented on #298
Formerly I stored Kiwixbooks on sdcard/Kiwix/*.zim , but I removed that completely, before I tried to dwnload the 25 GB German WP novid.

[2017-11-30 09:50] Wikinaut commented on #298
Correction: this sdcard/Kiwix/*ZIM was automatically deleted, when I deinstalled Kiwix before reinstalling it.

[2017-11-30 10:08] divadsn commented on #298
That's somehow unintended, on my Android Emulator the files are stored directly on the sdcard in `/mnt/sdcard/Kiwix`, are you running with an additional software overlay like EMUI, MIUI or TouchWiz?

[2017-11-30 10:16] Wikinaut commented on #134
Updated above:
* With "crash" I meant that certain search entries (characters) immediately killed the search and returned me to the Kiwix startpage. Currently I don't know, if this is an NPE, but could be something like that.

[2017-11-30 10:21] Wikinaut commented on #298
@divadsn HUAWEI runs EMUI

[2017-11-30 14:09] mhutti1 commented on #298
@Wikinaut As an app we do not have any say in how we are uninstalled. Generally uninstalling an app will also remove all data that that app has stored in its private directories. These are the autogenerated directories such as sdcard/Android/data/org.kiwix.kiwixmobile/ We have no control over this deletion process. If you wish your files to remain intact after uninstall you must not save them in o

[2017-11-30 14:26] mhutti1 opened #299 "Remove duplicate readers being added to multizim search"
We are in the middle of implementing an exciting new feature, multizim search. At the moment it is enabled in the settings menu. It allows searching between ZIM files. At the moment external articles can't be opened but that is an issue for another day.

At the moment whenever we scan a ZIM file in the local getcontent menu or open a ZIM file we add its reader to the current JNIKiwixSearcher that

[2017-11-30 15:26] Wikinaut commented on #298
@mhutti1 ok, this is also my understanding on who Android works.

From your comment I understand, that this is **not** a bug, but you expected this behaviour (is this correct? Then please close the issue, I'm fine if you close it.)

I just wanted to mention (as an expert) my user experience, and users should perhaps hinted to save their "precious" big downloaded ZIM files.

[2017-11-30 17:08] kelson42 commented on #298
@mhutti1 @Wikinaut Is the problematic path, one that the app has chosen per default to save ZIM files? Do we have a way to detect if a this directory is a "private directory" (to be deleted at uninstall)?. I think it's quite problematic that the files are deleted without informing/warning the user.

[2017-11-30 17:20] Wikinaut commented on #298
@kelson42 other apps' data like nextcloud can "survive" a reinstallation (as far as I remember), or Music player like Vanilla Music. Think of deletion of your xx GB music library by a mere reinstallation of a music player ( #epicfail ).

[2017-11-30 17:20] Wikinaut commented on #298
Dear all, please feel! free! to modify my issue title so it perhaps better fits.

[2017-11-30 17:28] mhutti1 commented on #298
Yeah but your average listener might change their music player and would be annoyed if the music they downloaded was deleted. As Kiwix android is the only ZIM reader for Android and most of our users likely do not even know that ZIM is an open format they expect the downloaded content to only be accessible with Kiwix and as such removing Kiwix should remove the content as by uninstall kiwix they h

[2017-11-30 17:33] okkebal commented on #236
Just tried it, no improvement. I could upload a screenrecording if that helps.

[2017-11-30 17:37] mhutti1 commented on #236
@okkebal Yeaha screenrecording and log would be helpful.

[2017-11-30 17:38] kelson42 commented on #236
This bug report is quite "incredible". Screenrecording and corresponding Android log would be (like usual) really helpful to understand what is going one.

[2017-11-30 17:38] #298 closed

[2017-11-30 18:51] kelson42 commented on #48
The generation of custom apps has been rewritten too... So this bug has been fixed.

[2017-11-30 18:51] #48 closed

[2017-11-30 19:04] kelson42 commented on #109
@asereze I'm not able to reproduce the problem.

[2017-11-30 19:11] kelson42 opened #300 "UI language selection dialog and Library language filter box should be the same"
We have two language selection boxes in Kiwix. One is in the settings menu for the global app UI and the other is in the content download library settings. We have two different implementations for a very similar dialog box. We should unify as much of the current code as possible as part of this the settings language selection box should provide both the local and current languages name for each l

[2017-11-30 19:56] asereze commented on #109
@kelson42 Yes, the UI language. I've set the app in Sardinian, but it switches back to Italian every time.

[2017-11-30 20:01] kelson42 commented on #109
@asereze Could you just installed our last version http://download.kiwix.org/bin/android/2.3/kiwix-2.3_armeabi.apk and try again please?

[2017-11-30 20:19] asereze commented on #109
@kelson42 I've installed it now, but it seems that nothing changed. If I close and re-open the app the language changes back again.

[2017-11-30 20:27] kelson42 commented on #109
@asereze I'm quite clueless as I can not reproduce the problem. Here is my procedure:
1 - Launch Kiwix
2 - Go to setting, and change to "Sardinian". Verify this is selected properly.
3 - Close all running apps through the dedicated Android button.
4 - Restart the app and go to settings.
5 - the "language" settings is still called "Limba", so "Sardinian" language apply properly.

You confirm this i

[2017-11-30 20:42] kelson42 commented on #134
The "crash" seems to be a bug to me and I will try to reproduce it. The rest seems quite "normal" as there is not FT index in that file. One time I will have introduced it (next version) then the problem should be fixed.

[2017-11-30 20:45] asereze commented on #109
@kelson42 Yes, that's what I did. But I get the settings in Italian and the language is set to Italian, even if, if I open that setting, "sardo" (Sardinian) is selected. I have to click on it again to get the right language.

![photo_2017-11-30_21-40-04](https://user-images.githubusercontent.com/11271324/33453760-1ea49ada-d617-11e7-8c55-6ebef5be44b1.jpg)
![photo_2017-11-30_21-40-02](https://user-i

[2017-11-30 20:49] kelson42 commented on #109
@asereze Thanks for all the information
@mhutti1 Quite clueless honestly...

[2017-11-30 21:14] asereze commented on #109
@kelson42 No problem, thank you for your work. Anyway, in case it could be useful, my phone is a Xiaomi Redmi Note 4X with Android 7.1.2 (Lineage OS 14.1) on it.

[2017-11-30 21:39] mhutti1 commented on #109
We have discussed this bug before and its quite a difficult one to crack. I think it might require a rewrite of most of our Locale code. It might be in the scope of GCI/dividable to be in the scope but I am not sure.

[2017-11-30 21:44] kelson42 commented on #109
@mhutti1 OK, you have an other bug we can link to that one?

[2017-11-30 21:44] mhutti1 commented on #109
@kelson42 I think that this was that bug.

[2017-11-30 22:28] #162 closed

[2017-12-01 01:23] mhutti1 commented on #277
@kelson42 Improving video is harder than I thought :( I can load in bits of video now but playing them causes issues. If I cache them in files then I can play the first file but the second is corrupt likely cause it doesn't contain the correct headers. Do you have any insight on this?

[2017-12-01 11:44] Popolechien opened #302 "Rename "ZIM management" to "Library""
More consistent and understandable for end users. Everyone knows what a library is. Not everyone understands what a ZIM is.
(I'm putting this because I pitched Kiwix and people were all "wtf does that mean" - so that's my use case right there)

[2017-12-01 14:27] #299 closed

[2017-12-01 19:26] kelson42 commented on #287
I suppoort this. For each JNI function we should create a log entry which gives:
* the name of the funtion
* the detail of all arguments

Here are the log of my case:
[android.3.log](https://github.com/kiwix/kiwix-android/files/1522727/android.3.log)
[Uploading android.2.log…]()
[Uploading android.1.log…]()

[2017-12-01 20:34] divadsn commented on #287
I noticed a exception being thrown each time Kiwix is launched when debugging, could it be somehow related with that too? I don't remember where the exception was exactly thrown anymore, but I could reproduce it when I'm back home.

[2017-12-01 20:35] mhutti1 commented on #287
Any information could turn out to be very useful.

[2017-12-01 23:40] mhutti1 commented on #223
This appears to be implemented.

[2017-12-01 23:40] #223 closed

[2017-12-02 15:46] julianharty opened #303 "After rotating the device, the 'refresh' doesn't respond in the Content Manager."
This is quite simple, and perhaps not very important, however there's a bug in the GUI which occurs after rotating the device so the screen rotates while the 'Content Management'->Device is displayed.

The Refresh button stops responding. (the one with 2 semi-circular arrows). I expect it to 'refresh' the content each time I press it.

This happens regardless of whether I rotate from portrait to l

[2017-12-02 16:44] julianharty commented on #287
I agree better logging would be useful particularly in the C++ code.

I don't know how much logging we've implemented in the native code or whether it'll reach the Android log. Perhaps something along the lines of https://manski.net/2012/05/logging-from-c-on-android/ would be worth adding to the C++ libraries? BTW: I expect there'd be some complications adding support for logcat in these libraries

[2017-12-02 17:06] julianharty commented on #240
Perhaps this is useful, even though it's based on 4 week-old demo apps. I've tried running both the 'should' and 'should not' crash applications @mhutti1 shared on Google Drive. The should crash app has yet to do so, the should not crash app crashed. Perhaps the names are inverted. No matter, here's the logcat output

[shouldnotcrash_crash.log](https://github.com/kiwix/kiwix-android/files/1523946/

[2017-12-02 17:40] julianharty opened #304 "Shall we add a global exception handler?"
We've various open issues (particularly #240 #287 #62 ) related to crashes affecting the Android app, some percolate from the native code, others may be triggered in the Java code.

@ISNIT0 and I are exploring (with the help of some new volunteers) possible ways to address #62 Meanwhile we wondered about the benefits of adding a global exception handler to the app. @ISNIT0 found the following app

[2017-12-02 20:56] julianharty commented on #304
Well it works well so far,
I've committed a simple p-o-c in a branch https://github.com/kiwix/kiwix-android/tree/julianharty/custom_crash_poc in https://github.com/kiwix/kiwix-android/commit/ff778954c078186fc964768b3bf0f30cabed6437

This generates a runtime exception when deleting a bookmark using the bookmark manager UI. Of course, this code shouldn't be merged as-is. Firstly for the obvious reas

[2017-12-02 21:24] julianharty opened #305 "Thoughts on adding a facility to enable users to send technical & diagnostic info from the app?"
Sometimes our app fails our users. Some of them may be willing to provide information that'll help us to help them diagnose possible causes. While they can use Android's crash reporting and/or write a review on the Google Playstore, we're unlikely to get specific information from either of these methods, and few will venture to github or use http://bugs.kiwix.org

One way we could help users provi

[2017-12-02 21:33] mhutti1 commented on #303
We have now moved to a swipe refresh as of https://github.com/kiwix/kiwix-android/pull/297 we should see if that changes anything.

[2017-12-02 21:35] mhutti1 commented on #240
Should crash should only crash if you were already facing #240 if you were fine before it shouldn't crash. The other behaviours are as expected. The crash you recorded could be useful.

[2017-12-02 21:41] julianharty commented on #240
Since I reported that bug, I'll try again with those devices and update this issue :)

You've got the crash report here. I'll add any more I trigger.

[2017-12-02 21:46] mhutti1 commented on #304
I think anything to help catch errors makes sense. I don't have any experience with this kind of library though. As for licences I think that that is more @kelson42 domain.

[2017-12-02 21:54] mhutti1 commented on #305
I think this would help a lot but don't really have any idea how to start out with an implementation.

[2017-12-02 22:01] julianharty commented on #305
Very good, I'll have a go at creating something skeletal so we can try it out in the app. Here's a suggestion https://stackoverflow.com/a/19968400/340175 I've also created something many years ago that was pretty basic (I'd like the one we provide in Kiwix-Android to collect data I didn't need in that app). I'll ping you with the branch with the skeletal code, however as-ever you're welcome to wor

[2017-12-02 22:10] julianharty commented on #303
Cool, I agree. You've merged those changes into the master branch, haven't you. I'm happy to test those changes on devices. Is it the swizzly little circle that appears each time the Device tab is displayed, and when I 'pull down' the list of zim files? If so, it's not failed yet :)

[2017-12-02 22:15] julianharty commented on #305
And in that vein, I'd like to capture the information from some of your (@mhutti1) code.

[2017-12-02 23:34] Jbollenbacher opened #306 "Unable to open .zim on external storage"
Hi all, I've got a .zim file on a USB flashdrive plugged into my phone (2016 Pixel) via usb-to-usbc adapter, and I'm having trouble getting Kiwix to read it.

The phone can see the drive, and access/copy/move/etc. the files on it. But when I try to use the "Open With" option to open the .zim with kiwix, kiwix gives this error: "Error: The selected ZIM file could not be found."

If I move the file

[2017-12-03 08:50] kelson42 commented on #306
We (and Android to some extend) does not support OTG. Sorry:(

[2017-12-03 08:50] #306 closed

[2017-12-03 10:52] okkebal commented on #84
Right, so right now there is not a single Zim file that has an index included right? How do I know if a Zim file has an index? Will I see that in the filename? Will it take months to generate these new files? Or is there some way to put an existing idx into a zim file without having to regenerate them so we can have these files ready tomorrow? By closing this bug again we might lose sight of this

[2017-12-03 15:25] mhutti1 commented on #277
So the solution we have decided on is to pass an offset to the videos location from the JNI and use that to get a file descriptor that can then be passed from our content provider to the video player.

[2017-12-04 01:29] digitalnature opened #308 "Missing correct headers on Android"
Headers from the right menu appear as ellipsis in Kiwix app on Android 7.1.2.
But they are displayed correctly in the Medical Wikipedia app, which is based on Kiwix.

![screenshot_20171204-032156](https://user-images.githubusercontent.com/99317/33532450-8a148748-d8a2-11e7-9913-8f3a135eb9ac.png)

![screenshot_20171204-032543](https://user-images.githubusercontent.com/99317/33532512-f4f0c7d4-d8a2-11

[2017-12-04 06:20] kelson42 commented on #308
@digitalnature I think this bug has already been fixed. May you please try with 2.3 and confirm? http://download.kiwix.org/bin/android/2.3/

[2017-12-04 08:37] digitalnature commented on #308
Yes, they seem to show up in this version. Another issue is that only the main content headers are clickable. Clicking on the sub-headers (ie. "Viruses", "Transmission" in the pic above) has no effect unless the associated content sections are already expanded.

[2017-12-04 09:37] mgautierfr commented on #277
Why ?

Have you any insight why this solution is better than the other ?
Any links ?

Are you using android [MediaPlayer](https://developer.android.com/reference/android/media/MediaPlayer.html) ?
If this is the case, why not use create a [MediaDataSource](https://developer.android.com/reference/android/media/MediaDataSource.html) and use it as a source with [setDataSource](https://developer.androi

[2017-12-04 09:47] mgautierfr commented on #84
Well, it depends of what you want to do :)
If you want to search in the titles (to have the searched pattern in the title), you should use `searchSuggestions`.
If you want to search in the whole content (an article related to the search patttern), you should use `search`.

[2017-12-04 11:10] mhutti1 commented on #277
MediaDataSource requires android 6.0+ it would also mean fiddling with the
webview to replace it's video player which is difficult. I looked at
exoplayer which might work for pre 6.0 but I could not get it working.

On 4 Dec 2017 09:37, "Matthieu Gautier" <notifications@github.com> wrote:

[2017-12-04 12:50] mgautierfr commented on #277
Hum..
It seems you are using ContentProvider and override the `openFile` method (https://github.com/kiwix/kiwix-android/blob/03f27f6580c769f8f02adde36ec9018058c8b34f/app/src/main/java/org/kiwix/kiwixmobile/ZimContentProvider.java#L365-L377).

I can see that if the file is not a video, you are creating a pipe and use a thread to write to it.
But if this is a video, you are writing the whole content

[2017-12-04 14:57] mhutti1 commented on #277
Because it doesn't allow seeking and it's too big and breaks the pipe.

On 4 Dec 2017 12:50, "Matthieu Gautier" <notifications@github.com> wrote:

[2017-12-04 16:02] mgautierfr commented on #277
It's not that I don't want to implement a new API method to help you.
But I'm thinking that having a method giving you at which offset of which zim part is the content will probably not help you, as you are splitting the zim file, so a video could be in two zim parts.
(Assuming you can create a `ParcelFileDescriptor` from a file and a offset)

[2017-12-04 16:37] kelson42 commented on #277
@mgautierfr I thought it was clear that will lost the ability to split ZIM file at random position!

[2017-12-04 17:10] mgautierfr commented on #277
We haven't lost the ability to split ZIM file at random position. It is just that if you split zim at random position, you may lost some libzim optimization to avoid copy if a cluster is split on two file parts.
But libzim is still able to handle randomly split zim.

The may "real" problem come from third party library/code who can't handle content split on several files. This include xapian (and,

[2017-12-04 17:20] kelson42 commented on #277
@mhutti1 We will continue to split files, but stop to split files randomly (in the middle of clusters). Which also means that we will have "impossible cases" if you want to create chunks which are smaller than the biggest cluster. That is what zimsplit is about (.. and yes I should test it).

[2017-12-04 18:10] kelson42 commented on #304
I think the ticket should be more clear about which kind of additional information will or should be gathered that way. That said, having an instrumented build of Kiwix has my vote. I would tend to use standard solutions provided by big players to do that. I trust you to choose something robust and maintained properly. Last but not least, first, I'm quite against having this is the published app a

[2017-12-04 18:12] kelson42 commented on #305
Yes, but please do not use email because this is neither transparent nor reliable. I vote for an online plaftorm and the usage of a standard solution... Otherwise maybe we could just achieve easily to things posted as bug on Github. As long as we do not distribute intensively we could deal with the stream of reports IMO.

[2017-12-04 19:30] kelson42 opened #309 "Table of context sidebar does not work properly with collapsable sections (Wikipedia)"
The main content headers are clickable. Clicking on the sub-headers has no effect unless the associated content sections are already expanded. I think that clicking the header titles should also expand the appropriate content sections if needed

[2017-12-04 19:31] kelson42 commented on #308
I close the ticket and I have open a new one for the specific last problem https://github.com/kiwix/kiwix-android/issues/309

[2017-12-04 19:31] kelson42 commented on #309
Probably caused by https://github.com/openzim/mwoffliner/issues/136

[2017-12-04 19:47] #308 closed

[2017-12-04 20:27] mhutti1 commented on #84
So should the correct behaviour be to use both? If so could we possibly rename these methods to make them clearer what they do?

[2017-12-04 23:43] Wikinaut opened #311 "Search crashes the Kiwix, and main page restarts. Renders Kiwix unusable."
As already mentioned in my comment to #134 , kiwix crashes (Kiwix main page is shown) when I search for certain items.

I already built the latest master version:
* 03f27f6580c769f8f02adde36ec9018058c8b34f

Found, that many searches are not functioning

One example is my test search for "tatort":
* only 6 results on first letter "t" ("t-Nomenklatur" until "tRNA") ; and
* there are no results after

[2017-12-04 23:44] Wikinaut commented on #311
ping @kelson42 . Please check the German files.

[2017-12-05 06:45] kelson42 commented on #84
@mhutti1 In case of kiwix-android, because you have no way to easily provide both kind of searches, I think you should use the "search" method if ft index available, "searchSuggestions" otherwise.

[2017-12-05 22:24] mhutti1 opened #312 "Store remote library ZIM files in a local database"
Store our remote library ZIM files in a local database and update it whenever the remote library is refreshed. Be sure to check out how our database works at the moment. This will form part  1 of a few tasks that will improve the responsiveness of our content management interface.

Methods should be provided to get the "Book" objects from a table where they are stored and another should be added t

[2017-12-05 22:50] #312 closed

[2017-12-08 11:55] kelson42 commented on #311
@Wikinaut Need to have a look how things behave with a ZIM file with fulltext index... the kind of file you have won't exist anymore soon (at leas we won't publish new one without fulltext index).

[2017-12-08 22:02] divadsn commented on #287
This is what I've got from my last debug run.

[code]

[2017-12-12 08:27] julianharty opened #315 "Known problems in Search Results"
This issue is to help track various reported problems related to searching. We already have some open issues related to searching e.g. #311

The main reason for gathering them here (at least for me) is to keep them in focus when we try to improve the app and the tests for the app. We have the mini-hackathon later this week http://wiki.kiwix.org/wiki/UkHackathon2017 and it'd be great to address at

[2017-12-12 09:11] julianharty commented on #315
Known, existing bugs
#311 Search crashes Kiwix...
#255 Improve Content Search functionality (see also #307 which claims to fix #255)
#240 Crash after selecting "Get Content". Hopefully this has been addressed by now, worth testing extensively.
#236 Can't open ZIM files on Android. While this isn't directly a Search issue, it includes search aspects. Adding more comprehensive logging may help diagn

[2017-12-12 09:12] julianharty commented on #315
It's also worth considering common user-centric concerns such as being able to search for abbreviations. Perhaps we can improve the communication with the user e.g. to inform them some functionality won't work if the ZIM file doesn't have a full-text index present on the device. See https://github.com/kiwix/kiwix-android/issues/84 as an example of the problem from a user's perspective.

[2017-12-12 09:32] julianharty opened #316 "Some search issues reported in App Store Reviews, mainly for WikiMed..."
Here are some extracts from recent reviews, indicative of various flaws being reported:

* WikiMed: New review on Dec 11, 2017 at 3:10 PM GMT [★★★ Dear kiwix team,  I have been using this app,  find it very useful. but in this version,  it shows nothing just blank in most of the searches.....  plz fix it...
* WikiMed: New review on Dec 9, 2017 at 8:13 AM GMT★
Okay, so initially I loved this app, b

[2017-12-12 09:34] julianharty commented on #315
I've skimmed through about 2 months of reviews for the Android apps. WikiMed has received at leasts 9 reviews related to poor searching (there may be some in other languages I've not spotted). See #316 for the details.

[2017-12-13 19:13] julianharty opened #317 "Tracking reported issues with SD-Cards and storage generally"
We've learned about various problems related to different devices and storage locations. Many of these adversely affect the user experience. Sometimes we're notified via reviews in the app store. I'd like to establish an overview of the range and scope of the problems, what works and what doesn't. This issue is mainly so we can collate bug reports and feedback, then we can try to address the under

[2017-12-13 19:14] julianharty commented on #317
* Kiwix: New review on Dec 13, 2017 at 6:43 PM GMT ★ I need to run this off otg and it wont find the otg usb flash drive on my LGv20 when plugged in. It completely defeats the purpose for me. I would reassess my rating if not for this flaw but it needs to be adressed.

[2017-12-13 19:17] julianharty commented on #317
Another issue #306 confirms OTG isn't supported. If not, perhaps it'd be worth providing that info in the app somewhere, somehow?  TBC.

[2017-12-13 19:18] julianharty commented on #317
And via sourceforge: "My LG Android tablet has a USB slot, so I'd like to store the "full" version of Wikipedia (the one with with photos) on a flash drive, instead of the MicroSD card I currently have in the tablet (because the Wikipedia files almost max out its 64GB capacity).

The problem is that the Kiwix app can't see the USB flash drive, just the sd card and the tablet's internal storage. I

[2017-12-13 19:21] julianharty commented on #317
And perhaps the death of being able to support OTG in the app, via #211
"From @mhutti1 on March 16, 2016 22:15

While Marshmallow adds OTG support universally it seems to completely lock it down for security reasons. [This](https://source.android.com/devices/storage/traditional.html#support_usb_media) states that the only way to access this storage without root is to go through the [Storage Access

[2017-12-13 19:24] julianharty commented on #317
OK, so OTG doesn't seem viable, sadly. Therefore it'd be great if we could provide users this info somewhere so they're informed and don't have unmet expectations. As a suggestion, let's explore whether it'd be practical to add a FAQ in the app or online or as part of the App Store description? Meanwhile I'll see what other issues I can find related to storage.

[2017-12-13 19:29] julianharty commented on #317
Formatting of SD-cards is one topic... e.g. (via sourceforge)
"_My androïd does not recognize my SD card reformated in NTFS or Exfat. The nopic for wikipedia.fr amounts 5 Go. I don't see any solution for installing it on the card. Can you help me ? Thanks_"

[2017-12-13 19:30] julianharty commented on #317
#222 discusses challenges related to the path allocated by the Android OS on various devices, in that instance a Huawei P8 Lit

[2017-12-13 19:33] julianharty commented on #317
"_I have Android phone. I can use small no pic version on my 32gb sdcard but on my 128gb card I cant use large kiwix._" https://sourceforge.net/p/kiwix/discussion/604121/thread/523d2751/?limit=25#31ee

[2017-12-13 20:34] julianharty commented on #317
Updated user review on Nov 11, 2017 at 7:41 PM GMT ★
_Nasty crashes after the latest update. I have two zim files on SD card but  Kiwix can't find any of them. When I tap Get Content, it tries to get online or show "scanning for downloadable content message" but crashes immediately. the update rendered the app useless.  I have to take 5 stars back and give it one because everything was good before

[2017-12-13 20:34] julianharty commented on #317
_I have two ASUS devices, a Zenpad and a Zenfon, both with Android 6. I have installed Kiwix 2.2.53 on both of them. I have downloaded .zim files to micro-SD-cards in both devices. On the phone everything works, I can change between different content files in different languages. On the tablet I could never get Kiwix to work. Installation works, when starting "Get Content" the program searches for

[2017-12-13 20:36] julianharty commented on #317
New review on Sep 1, 2017 at 3:32 AM GMT ★
_No se pueden guardan los grandes archivos en la tarjeta SD_

Which I interpret as: Can't store large archives on the target SD Card...

[2017-12-14 09:40] Wikinaut commented on #311
If you send me detailed instructions, I will(I did already, because I can) build Kiwix from the sources, and will help to find the reason for this problem quickly. As perhaps some of you know I invested a lot of efforts in the last decade to create static wiki dumps.

[2017-12-14 11:00] julianharty commented on #317
Another request:
WikiMed: New review on Dec 14, 2017 at 8:44 AM GMT ★★★★
_No options to install on or move to SD card all app content..but nice job..thanks_

[2017-12-14 17:30] julianharty opened #320 "Kiwix crashes when library_zim.xml only contains a few items"
I accidentally discovered that as yet unknown problems in the content of `library_zim.xml` causes the entire app to crash with an obscure long stack trace related to the UI. After discussion with @mhutti1 it appears that LibraryNetworkEntity.java is failing to parse the contents of this file and that's then probably returning an empty list of `book` objects which then causes the UI code to do stup

[2017-12-14 21:26] julianharty commented on #311
@Wikinaut A quick update: I've spent much of the day debugging another crash that was blocking various aspects of my testing. I think I've managed to fix the bug and therefore make progress again. I've started downloading wikipedia_de_all_novid_2017-08.zim to a 64GB memory card (formatted with exFAT) and will try this in a device or two on Friday 15th Dec. Today's crash was ugly as it didn't have

[2017-12-14 21:31] julianharty commented on #320
I've revised the title now I understand what the cause of the crash was, a bug in the code that populates the content for the GUI. It happened to be triggered when the library only contained 1 item. I expect it would have happened with 2, 3, or 4 items, etc. whatever could fit into a screen of content. It might have triggered by scrolling to the bottom of a longer set of items too. I'll close this

[2017-12-14 21:44] julianharty commented on #287
@divadsn Can you add details of your device model and Android version please? Something strange and curious seems to stop `android.webkit.RenderProcessGoneDetail` from being found on your device. This might be a minor issue e.g. according to https://stackoverflow.com/questions/47524032/webview-shows-error-didnt-find-class-android-webkit-renderprocessgonedetail but still worth investigating as well

[2017-12-14 21:46] julianharty opened #323 "No items != no network"
This is a corner-case, however it helps indicate scope for improving the messages displayed to users by the app when there are content and network issues.

When testing with an empty `library_zim.xml` file. Kiwix Android displays `no network connection` rather than something like "no items available to download". I think there'll be other network conditions that are also reported as `no network co

[2017-12-14 21:58] julianharty commented on #323
Here's the code that seems to display the message erroneously
[code]

As a detail, at least in English we have the identical text for 2 strings: `no_network_msg` and `no_network_connection`. Perhaps it'd be worth revising the text for the first message e.g. to `No network available.`?

[2017-12-14 22:13] julianharty opened #324 "UX for failing/failed downloads confused me"
There seem to be aspects of the current UI that don't communicate what's happening clearly.

For instance, the following content is not available from the server. However rather than reporting an error to the user, the GUI remains as follows (ignoring for now the red box highlighting the relevant part of the GUI).

<img width="344" alt="kiwix_downloading_ui_for_missing_item" src="https://user-imag

[2017-12-15 10:07] #320 closed

[2017-12-15 11:28] julianharty opened #326 "Kiwix-android seems to corrupt ZIM chunks file names (and kills kiwix-android)"
I believe we're already aware of the behaviour, here's an example that triggered the application dying when it was trying to open a zim file.

I've got a 64GB SD-card formatted with FAT32 (so the older tablet can read the content) with 2 large ZIM files: a fairly old Spanish wikipedia that's been on the card and in the device for a long time, and a newer ZIM file - the german novid wikipedia conte

[2017-12-15 11:47] julianharty commented on #326
The same Spanish ZIM file can be read by an older version of Kiwix Android (version 1.99) installed in a Nook HD+ running CyanogenMod 6.0.1

[2017-12-15 11:53] julianharty commented on #311
Note: Search works on the old version of Kiwix Android version 1.99 and matches tatort. This isn't to say the old search was perfect.

[2017-12-15 12:19] julianharty commented on #326
Reproduced this crash when I created a zero-byte `test.zim` on a Barnes & Noble Nook HD+ (Android 6.0.1). I doubt the specific device is that relevant though. Anyway, the same assertion failed.
The file was created using a file manager. `touch test.zim` would also create a similar file (run from `adb shell` etc.)

[code]

[2017-12-15 13:30] mgautierfr commented on #326
Please open a issue on libzim. The bug is definitively there.

[2017-12-15 14:04] #300 closed

[2017-12-15 14:06] mhutti1 commented on #292
I have opened a pull request to fix it.

[2017-12-15 14:06] #292 closed

[2017-12-15 14:18] mhutti1 commented on #234
No. The android webview handles image loading and does so well enough.

[2017-12-15 14:18] #234 closed

[2017-12-15 14:27] mhutti1 opened #327 "Make local ZIM files selectable"
In preparation for Cross ZIM search it must be possible for the user to select the list of ZIM files that they wish their search to take place in. We should add a checkbox to local ZIM files and the state of this box should be stored persistently as a column in our databases Book table. (Remember to increase our database version when implementing this).

Also provide a utility method in https://gi

[2017-12-15 14:36] julianharty commented on #326
Done, the bug will be tracked at https://github.com/openzim/libzim/issues/106 we can close this one once there's a fix. Thank you @mgautierfr

[2017-12-15 16:07] julianharty opened #329 "Downloading file not listed in DOWNLOADING tab, visible in Android Notification"
I'm downloading a large ZIM file, 25GB. This has taken an hour and will take several more. The app had stopped (possibly as Google Play / The device was updating Google Chrome, as the Chrome WebView component disappeared while Kiwix was running). I restarted the app. I can see from `adb logcat` that the download continues, yet the downloading ZIM file isn't listed on the Downloading tab. I don't k

[2017-12-15 20:15] julianharty commented on #311
I've finally managed to co-opt enough moving parts to be able to open this ZIM file on a device, safely stored on an SD-Card. Many of my devices don't have an SD-Card, others refused exFAT formatting, etc. Anyway, here's what I ended up with:
* A Samsung Galaxy Core Prime (a mid-range device) running Android 5.1.1
* The app, built as the `debug` build at commit https://github.com/kiwix/kiwix-andro

[2017-12-15 20:23] julianharty commented on #311
@Wikinaut BTW do you have a full text index on/for this file?

[2017-12-16 10:07] julianharty commented on #315
Building on some of the search issues reported in #311 here are some interim observations from testing searches in kiwix-android (rather than any of the custom apps). The ZIM file is Wikipedia Maths, 15,000 articles, English 604MB. They're not definitive - testing search effectively is likely to be a major undertaking - more indicative, and perhaps useful :)

As a user I'd expect search to return

[2017-12-16 11:15] julianharty commented on #315
Well this has been interesting. There seems to be a pattern that affects when search results are shown. I noticed that odd numbers of space characters showed search results while even numbers didn't. I don't think the pattern's quite this predictable or consistent across all searches, but it was sufficiently repeatable I was able to record it (using the opensource AndroidTool https://github.com/mo

[2017-12-16 15:25] Wikinaut commented on #311
@julianharty I deinstalled Kiwix, because it was not working (useless app). So I cannot answer your question. May be yes.

[2017-12-16 18:16] julianharty commented on #315
I've created the start of a [Wikipage on Search and Search Results](https://github.com/kiwix/kiwix-android/wiki/Heuristics-for-testing-search). Contributions and suggestions are welcome on ways to improve our definition, understanding, and testing of 'search'.

[2017-12-16 18:33] kelson42 commented on #277
@mhutti1 Is that ticket implemented?

[2017-12-16 18:35] julianharty commented on #311
@Wikinaut I'm sorry you believe the app is useless. I agree the search problems you've experienced sound like a major frustration and limitation especially for how you use the app.

Would you be willing to try again? Like you I'm a volunteer. I appreciate all your help so far in identifying problems and it'd be great if we can collectively nail the problems and address them in the app. Inspired by

[2017-12-16 18:41] julianharty commented on #316
WikiMed: New review on Dec 16, 2017 at 2:25 PM GMT★★★★
_Needs to improve more by allowing sentence questions._

[2017-12-16 18:45] kelson42 commented on #292
@mhutti1 Just merged it.

[2017-12-16 19:32] mhutti1 commented on #277
@kelson42  I asked for your opinion on whether its ready to merge? https://github.com/kiwix/kiwix-android/pull/321

[2017-12-16 22:54] Wikinaut commented on #311
@julianharty Pls. let me know (git hash of Kiwix app) exactly, which version you want me to test.

[2017-12-17 09:30] kelson42 commented on #316
Yes, we know we have problem with the search but most of the users use an old version of the software and/or the ZIM files... So I think there is nothing much we can do with them. We need to tackle problems one by one and they need to be reproducible by devs on a recent code/data base.

[2017-12-17 09:48] kelson42 commented on #323
Yes, maybe a duplicate with #263?

[2017-12-17 13:46] julianharty commented on #323
They (this issue and #263) are affected a common limitation in the app, however they're distinct flaws and deserve distinct informational messages for users, in my view. Now I've established the local_download_server build flavour and have a local instance of a mini kiwix download server we can test and try to address #263 more easily, I hope... Ditto this one should be easier to test and address

[2017-12-17 13:57] julianharty commented on #316
I've been thinking how we can improve the testing of search, and be able to isolate that testing rather than submerging it (or testing it) via the kiwix-android app. I don't know how practical the following idea is, it relies on knowledge and expertise I don't currently have personally, however between us I hope we'll be able to resolve the unknowns and write suitable code:

* We need data in ZIM

[2017-12-17 15:09] julianharty commented on #316
New review on Dec 12, 2017 at 7:19 PM GMT ★★★★★
_Con la actualización se me cierra al buscar contenido. I've wiped the app's data and don't work. Smartphone: Motorola Moto G Play_
The Spanish is translated as: _With the update I'm closed when I search for content._

[2017-12-17 19:18] julianharty opened #333 "PHeT content in Russian please."
A user recently gave the Chemistry and Physics simulations app 1 star as it doesn't include Russian.
There seem to be around 50 of the HTML5 simulations available in Russian according to https://phet.colorado.edu/en/simulations/translated/ru so it'd be great to make these available for users who prefer Russian.

New review on Dec 17, 2017 at 10:18 AM GMT ★
_Что за бред, есть все языки кроме русско

[2017-12-18 06:46] kelson42 commented on #333
This is to 90% a ZIM issue (if confirmed), should be moved to the phet scrapper git repo.

[2017-12-18 06:47] kelson42 commented on #333
This issue was moved to openzim/phet#38

[2017-12-18 06:47] #333 closed

[2017-12-18 10:11] julianharty commented on #311
@Wikinaut this one https://github.com/kiwix/kiwix-android/commit/6abee5807e64b28a0bc07955c21c46d22ea06156 which is the latest commit (made by me). It's on a branch as I don't want to merge these changes yet and I hope to improve the search experience based on both our testing and feedback (others are most welcome to contribute too).

If you see an upside-down ladybird (ladybug for US readers) it m

[2017-12-18 10:28] julianharty commented on #316
Kiwix: Updated user review on Dec 16, 2017 at 1:34 PM GMT ★★★★
_Was ich noch vermisse, ist die Option in den Preferences , den Suchverlauf zu löschen (optional beim Beenden) . Das wär aus datenschutztechnischer Sicht noch Super! Ansonsten super App, die einem komfortabel die Wikipedia durchstöbern lässt.  Nachtrag 15.12.17 : beim Aufruf des Artikels "kreiszahl" hängt sich die App auf.. auch ist mi

[2017-12-18 13:08] julianharty opened #334 "2 Espresso tests rejected on small screen devices"
I discovered 2 tests failed locally for a reason I haven't seen before
[code]
This affects both the `DownloadTest` and `NetworkTest` when the tests are run on a Samsung Galaxy Prime (running Android 5.1.1). This isn't an urgent problem, I'm recording it so we have a record and can address it if and when we make other improvements to our automated tests that use Espresso.

Here's the full stack tra

[2017-12-18 13:14] mgautierfr commented on #316
That's a real question.
Most of the search results now come from the xapian embeded indexed. (Either by searching in title only when searching for suggestions or full text for "classical" search). So, most of the question is how xapian define weight for article/keywords and how it will sort the results. (And how we could tweak this as/when/if needed).

The thing here is that we should use real lif

[2017-12-19 08:59] ISNIT0 opened #335 "Android Global Crash Reporting (using Email)"
Context:
At the recent UK hackathon, the branch `ISNIT0/crash-handler` was created. This implements a new Activity which is opened instead of a fatal app crash. It asks the user what information they would like to supply the developers (if any) and then opens an email client (using an Android intent) with pre-filled information.

The current implementation looks as follows:
![screenshot_2017-12-15

[2017-12-19 18:11] julianharty commented on #316
WikiMed: New review on Dec 19, 2017 at 11:51 AM GMT ★★★★
_Sometimes during search , the app automatically closes...It takes place for past 1 week....Not expected , otherwise it is the very best medical wikipedia app_

[2017-12-20 13:36] julianharty opened #336 "Crashes when searching online library"
Sorry in advance for the following paste, I'm limited to the basic browser on my nook....
I'll edit this once raised.
[code]

[2017-12-20 18:02] freeze2404 commented on #240
I've sent you a crash report concerning this issue using the google crash reporting tool (mail address: freeze24@gmail.com).

[2017-12-23 08:16] julianharty commented on #317
New review on Dec 21, 2017 at 7:27 PM GMT ★
_Non riconosce la memoria esterna_ (It does not recognise external storage.)

I've asked the user for more details on the type of external storage they're using.

Here are details of the device and Kiwix version
* Version code 53 Version name 2.2

DEVICE
* Device Galaxy A5(2017) (a5y17lte)
* Manufacturer Samsung
* Device type Phone
* Device language Ital

[2018-01-04 08:01] MitchGan commented on #336
1979？

[2018-01-04 13:19] julianharty commented on #336
@MitchGan That's what was in the crash log. The device is running CyanogenMod and perhaps they didn't set a field correctly when building the OS image? Anyway, you've prompted me to remember this bug needs updating, thank you. I can't do so for at least a week as I'm travelling for work away from the device. Here's hoping I manage to do so when back home.

[2018-01-04 21:48] mhutti1 commented on #255
Fixed by https://github.com/kiwix/kiwix-android/pull/307

[2018-01-04 21:48] #255 closed

[2018-01-04 22:03] mhutti1 opened #337 "Move the bookmark button to the bottom bar when it is enabled"
The Kiwix bottom bar can be enabled by a setting in our menu. See #165 for more details. This bar allows users to more easily access app functions

The bookmark star should be removed from the top bar and added to the bottom bar if the bottom bar is enabled in order to free up more space for the title of the article at the top of the screen. It should function exactly as it does now in all other r

[2018-01-08 20:01] #277 closed

[2018-01-08 20:03] kelson42 commented on #277
@mhutti1 @mgautierfr Well done! Congrats to both of you :) And thx again to @rashiq who had implemented the workaround a few years ago.

[2018-01-13 09:28] divadsn commented on #327
Where should the user see those checkboxes?

[2018-01-13 14:47] mhutti1 commented on #327
They should be located on the list of locally downloaded files in the content manager. If you think that a long click multi item select with some form of persistent indicator of selection (i.e colour) would be more appropriate then that would also be acceptable.

[2018-01-13 15:08] #337 closed

[2018-01-14 17:43] Albert221 opened #340 "No network connection"
I see "No network connection" all the time on Online tab of Content Management although I'm connected to Internet all the time, no matter if it's WiFi or data. Logs give me this:

And it looks like this:

![image](https://user-images.githubusercontent.com/4085280/34918883-c74390b8-f95a-11e7-9ceb-2a844320efb8.png)

[2018-01-14 17:48] kelson42 commented on #340
Seems similar to #263

[2018-01-14 18:08] Albert221 commented on #340
The device is Xiaomi Redmi 4 Pro

[2018-01-14 20:44] Bubu commented on #61
@kelson42 This was just reported as outdated on the F-Droid tracker again: https://gitlab.com/fdroid/fdroiddata/issues/1083

I'm not sure from which repo and how I could find the code that corresponds to the releases. Could you help me a bit here?

[2018-01-14 21:11] mhutti1 commented on #61
@Bubu As far as I can see the f droid version is still the current release build (2.2) but with a slightly lower build number.

[2018-01-14 21:19] Bubu commented on #61
@mhutti1 Do you make multiple releases with the same version number? (This is fine and f-droid can work with that.)

Or rather the question is: Do we need to update the f-droid version at all right now?

[2018-01-14 21:23] mhutti1 commented on #61
@Bubu the f-droid version does not need updating right now. We have moved to a different build system and will have architecture specific apks with different version codes from our next release (3.0) onwards.

[2018-01-14 21:43] Bubu commented on #61
Alright, thanks for the explanation. You can ping me, when you are at this point. (@mvdan left F-Droid a while ago.)

[2018-01-15 11:49] kelson42 commented on #336
@julianharty Is that a bug which is systematically reproducible?

[2018-01-16 15:49] kelson42 commented on #326
@julianharty The libzim should not crash. This is definilty a bug. That said, please investigate why kiwix-android seems to try to open `/storage/sdcard1/wikipedia_es_all_05_201.zimaa` instead of `/storage/sdcard1/wikipedia_es_all_05_2017.zimaa`. Highly probable we have a but here to, this time in Android.

[2018-01-16 16:14] julianharty commented on #326
@kelson42 I guess the strange filename would have been because I'd renamed the zim file. I can't find the combination of device and ZIM file I used at the time (too many Nooks :) Once we have a potential fix I'll dig out a copy of the Spanish wikipedia from May 2017 and try with it.

[2018-01-16 22:21] kelson42 commented on #302
@Popolechien Where is this "ZIM management" appearing?

[2018-01-16 22:31] kelson42 opened #341 "Custom apps should not show the "Get contents" menu entry"
This seems to happen now, probably a regression.

[2018-01-16 22:37] kelson42 commented on #293
@Popolechien @mhutti1 I have open a separate ticket for the "custom apps" https://github.com/kiwix/kiwix-android/issues/341

[2018-01-17 09:59] Popolechien commented on #302
When clicking on "Get content" on android, this is the title page

![screenshot_20180117-105811](https://user-images.githubusercontent.com/21675885/35036684-64d50e62-fb75-11e7-9b17-0c2527324aa4.png)

[2018-01-17 10:50] kelson42 commented on #302
@Popolechien Arf... thx... I'm really blind.

[2018-01-17 11:23] kelson42 commented on #302
done.

[2018-01-17 11:23] #302 closed

[2018-01-17 11:27] kelson42 commented on #151
Here is the install via adb:
[code]

[2018-01-17 13:03] kelson42 opened #342 "More "compact" language selection dialog"
The current language selection dialog looks currently like this:

![screenshot](https://user-images.githubusercontent.com/1029718/35043987-ee3866a4-fb8e-11e7-94a1-32988fd74874.png)

Not so many languages are displayed at the same time which forces quite a bit of scrolling. I think we should but the language name in the language itself into parenthesis juste behind the language name in UI language.

[2018-01-17 13:50] mhutti1 commented on #151
@kelson42 As I told you it works for me.

Failure [INSTALL_PARSE_FAILED_NO_CERTIFICATES] is probably because the apk is unsigned. Can you try the debug apk?

[2018-01-17 13:53] kelson42 opened #343 "One crash scenario with the library identified"
Tested with last nightly... The app is download TED business... around half of the ZIM file is already downloaded. After stopping and restarting the app, each time I come to the library, the app crash.

Here is the log:
[code]

My newbie analysis: The app download the ZIM file in chunks, so after 2GB, the first chunk is `/storage/9724-C9BE/Android/data/org.kiwix.kiwixmobile/files/Kiwix/ted_en_busi

[2018-01-17 14:34] kelson42 commented on #151
@mhutti1 The debug works fine. We should not provide APK which can not be installed.

[2018-01-17 14:38] mhutti1 commented on #151
@kelson42 Well this is kind of the point of the unsigned one... I think you can enable a setting in Android to allow it if you want. The alterative would be we sign nightly builds, I don't think this is practical or a good idea from a security standpoint.

[2018-01-17 14:42] kelson42 commented on #151
@mhutti1 the option security > unknown source is already checked. So it should work. Does that work for you? Why providing an unsigned version is better than providing a signed version (what is the security problem you are talking about?)?

[2018-01-17 14:48] mhutti1 commented on #151
@kelson42 Well imo we should only sign releases so if someone installes a signed apk they know it was intended to be used and is unlikely to have bugs in it. I guess we could sign these with a separate key. I guess there are advantages to signing them with the main key in that they can easily be tested but we have beta tests for that imo and if you want to install this apk just self sign it or use

[2018-01-17 15:14] kelson42 commented on #151
@mhutti1 Signing an APK does not mean this is an official release. It just mean that we have compiled it - and not someone else - and we can prove it. I also do not think this would really be misunderstood, in particular if this is available in the "nightly" directory.

So, I see three potential solutions to that problem:
* We understand how to get things done so all people can install these APKs

[2018-01-17 16:05] kelson42 opened #344 "Broken rendering, mixing content beetween different (TED) ZIM files"
Using the last nightly build of Kiwix for Android I have achieved to catch a new bug.

To reproduce the bug, you need this file: https://download.kiwix.org/zim/ted/tedxgeneva-2014_fr_all_2015-03.zim with the correct following welcome page:
![tedx](https://user-images.githubusercontent.com/1029718/35052495-fdbcb60c-fba7-11e7-8e09-54fdb8ce7317.png)

... And the last TED-Business ZIM file: https://do

[2018-01-17 16:20] kelson42 commented on #44
For that file we use the javascript tool video.js from videojs.com. At the bottom of the videojs.com welcome page we have a few examples which seem to work fine with the Android integrated browser. The problem is that with Kiwix, it looks like nothing about this special video player UI is displayed.

[2018-01-17 16:28] kelson42 commented on #76
No feedback, so assuming the bug has disappeared.

[2018-01-17 16:28] #76 closed

[2018-01-17 16:44] kelson42 commented on #86
@mhutti1 I think we have already done a lot here
- Using proguard (what is the status on that?)
- Utilising architecture specific apks (done)
- Reducing size of libkiwix by fixing bugs in that. (I do not understand what is meant?)
- Looking at possibility of using icu provided by android 24? (This would be really complicated... and that to win something like 2-3 MB... IMO far to much work and risk

[2018-01-17 17:21] kelson42 commented on #153
I suspect this bug is not really easy to fix and as Android 4.2 does only represent 5% of the overall Android audience I propose to close it as WONTFIX.

[2018-01-17 17:31] kelson42 commented on #152
@mhutti1 As far as I can see the problem is still there with the last ZIM File. Just take the latest version. Have a look there for example http://library.kiwix.org/dsp.stackexchange.com_en_all_2017-10/A/question/1637/what-does-frequency-domain-denote-in-case-of-images.html

[2018-01-17 17:37] kelson42 commented on #106
There is not much we can do now as we do not have direct contact to the users and we do not have the path of the SD card. Kiwix 2.3 introduces a way to configure a path to explore for ZIM files. That should be good enough.

[2018-01-17 17:37] #106 closed

[2018-01-17 17:39] kelson42 commented on #10
@mhutti1 The option is still not set per default on 2.3. Agree to change that now.

[2018-01-17 17:40] mhutti1 commented on #10
Yes, we should make this default but allow it to be disabled in settings.

[2018-01-17 17:54] kelson42 commented on #16
@Popolechien I strongly suspect that the situation is better now that we use the mobile view.

[2018-01-17 18:12] kelson42 opened #345 "Quite easy to make Kiwix crash by stressing a bit the library content search"
Here is an example of log
[log.txt](https://github.com/kiwix/kiwix-android/files/1640125/log.txt)

[2018-01-17 21:15] kelson42 commented on #341
Fixed

[2018-01-17 21:15] #341 closed

[2018-01-17 22:00] #50 closed

[2018-01-17 22:05] kelson42 commented on #8
I will close that ticket as it looks quite hard to reproduce and nobody else has complained about that. The bug can anytime be reopen if we have a reprocase.

[2018-01-17 22:05] #8 closed

[2018-01-17 22:07] kelson42 commented on #244
OPDS mgmt in kiwix-lib is ongoing and will be over in ~ 2 weeks. It is planned to update the JNI in collaboration with Isaac during next hackathon. I'll close the ticket as WONTFIX.

[2018-01-17 22:07] #244 closed

[2018-01-17 22:15] kelson42 commented on #280
@mhutti1 @julianharty
This seems to be a common error which does not appear with newer version of build tools. See
https://stackoverflow.com/questions/45020207/errorjack-is-required-to-support-java-8-language-features-either-enable-jack-o/45054748

As far as I can see, the warning does not appear anymore. See
https://travis-ci.org/kiwix/kiwix-android

I propose therefore to close that ticket.

[2018-01-17 22:18] kelson42 commented on #173
@mhutti1 Do we have a consensus on this way of doing? That brings a new dependency!
@rashiq Any chance you help on implementing this?

[2018-01-17 22:22] #153 closed

[2018-01-17 22:28] kelson42 commented on #33
@EladKeyshawn Could you help us on this? It seems you are the only developer able to reproduce the problem. Would you be able to implement soon the idea written in that comment https://github.com/kiwix/kiwix-android/issues/33#issuecomment-287542472? This would be great to close that old/tricky ticket.

[2018-01-18 05:05] Ryan10145 commented on #342
How do you get to this menu? I can't seem to find it. I recall seeing a screen similar to it a while ago, but I can't figure out how to get to it.

[2018-01-18 09:22] kelson42 commented on #342
@Ryan10145 In the library, online, top right corner icon.

[2018-01-18 10:06] Popolechien commented on #16
Well I just downloaded WikimedAr and mobile view does not seem enabled.
File version indicates 2016-07 Build 3 :-/

[2018-01-18 10:12] kelson42 commented on #16
You should test with this file https://download.kiwix.org/zim/wikipedia/wikipedia_ar_medicine_2018-01.zim

[2018-01-18 10:22] Popolechien commented on #16
yup works fine now. Let's just update the app then. Thanks.

[2018-01-18 10:22] #16 closed

[2018-01-18 10:51] kelson42 commented on #100
@mhutti1 Could you please share here the command to get the list?

[2018-01-18 10:53] kelson42 commented on #345
Strongly suspect, this is the same as  #240

[2018-01-18 11:12] kelson42 commented on #95
This seems to be a duplicate of #112 which provides over more information. So I will close it.

[2018-01-18 11:12] #95 closed

[2018-01-18 11:49] kelson42 commented on #335
@ISNIT0 Sorry for the delay in my answer. This looks promising. The problem is that you need a way to send the feedabck per email in a secure way (no open SMTP server, no password hardcoded in app)? Does Google does not provided an integrated way to gather this kind of "customized feedback"?

[2018-01-18 12:03] divadsn commented on #342
Maybe also add the user's system language on top of the list? :)

[2018-01-18 12:03] kelson42 commented on #342
@divadsn will have a look in the next day :)

[2018-01-18 12:07] kelson42 opened #347 ""Get Content" window: getting stuck on ru.wikipedia and other items"
_From @aleksejrs on December 7, 2017 15:47_

Sometimes I open Russian Wikipedia or some other zim, and then cannot open a different zim: the zim currently open loads every time for many attempts.  Kiwix 2.2 on Android.  I usually have no problem with the middle of the screen, but have had this one with Kiwix since the beginning (one to one-and-half years).

_Copied from original issue: kiwix/overv

[2018-01-18 12:07] kelson42 commented on #347
No clue what is going one here. @mhutti1 any idea?
Maybe you could try to see if the problem still appear in this (still unpublished) version of Kiwix for Android https://download.kiwix.org/bin/android/2.3/

[2018-01-18 12:07] kelson42 commented on #347
_From @aleksejrs on December 8, 2017 13:53_

I can't install it (the installation process ends with "App was not installed").  It seems that my smartphone has an ARMv7 processor.

[2018-01-18 12:07] kelson42 commented on #347
@aleksejrs Have you tried with both kiwix-2.3_armeabi.apk and kiwix-2.3_arm64-v8a.apk ?

[2018-01-18 12:07] kelson42 commented on #347
_From @aleksejrs on December 8, 2017 20:26_

Yes, both.

[2018-01-18 12:11] kelson42 commented on #305
@julianharty I think this is now pretty much a duplicate of #335!? Should we close that ticket?

[2018-01-19 03:23] Ryan10145 commented on #342
@kelson42 Thanks for the help, I managed to find it :)

[2018-01-19 03:52] Ryan10145 commented on #342
![list](https://user-images.githubusercontent.com/8119928/35134066-f748c3ba-fca1-11e7-926c-7e934163d5e4.PNG)
Is this spacing ok? Sorry if this isn't the best picture, I can send more from different screen resolutions if wanted.

[2018-01-19 04:38] Ryan10145 commented on #342
Additionally, I was going through the languages, and I noticed that some of the parentheses appeared to be filled with random whitespace. I looked at some of these in the console, and it turns out that some of the strings from `language.languageLocalized` contain values such as ᏣᎳᎩ (for Cherokee), and they won't display in the app.
![list 2](https://user-images.githubusercontent.com/8119928/351349

[2018-01-19 10:25] kelson42 commented on #342
@Ryan10145 Thank you very much. Any chance to reduce a bit the lines height? Regarding the font, I think there is already a system to display characters which are not in the "default" font. The way to do that is to load a font which can display the characters (like "dejavu" for example). @mhutti1 You confirm?

[2018-01-20 10:21] divadsn commented on #323
I was working with that section of code, I was also confused but I haven't got that message displayed.

[2018-01-20 17:09] divadsn commented on #342
@Ryan10145 regarding the font problem, have a look here: https://developer.android.com/guide/topics/ui/look-and-feel/fonts-in-xml.html :)

[2018-01-20 17:46] divadsn commented on #323
Some progress, I just added `127.0.0.1 download.kiwix.org` into the hosts on my local machine and configured the local NGINX server to return an empty XML file, it seems to cause this then:
`01-20 18:44:07.012 10212-10212/org.kiwix.kiwixmobile W/kiwixLibrary: Error loading books:Attempt to invoke virtual method 'int java.util.LinkedList.size()' on a null object reference`

[2018-01-20 17:53] divadsn commented on #323
Playing a bit around, I think I am close to have it fixed :)

[code]

Results with this:
![screenshot_1516470768](https://user-images.githubusercontent.com/28547847/35186359-355cbe3c-fe13-11e7-90dc-6bfc6f0077d9.png)

[2018-01-20 18:18] divadsn commented on #323
And here's the empty list returned by the local web server:
![Empty XML list](https://i.imgur.com/8ve2x0s.png)

If this is how the empty XML should be, then the fix is ready to create a PR.

[2018-01-20 18:24] mhutti1 commented on #323
I think that is correct from what I can see.

[2018-01-20 20:26] #323 closed

[2018-01-20 22:09] kelson42 commented on #323
@divadsn Well done, I see creating a repro-case needed here a bit of instrumentation!

[2018-01-20 22:11] kelson42 commented on #263
@julianharty @mhutti1 @divadsn I would like your feedback about that issue please. Does the fixes done since the opening (in particular #323 fixing) should let us consider this ticket to as "fixed"?

[2018-01-20 22:11] kelson42 commented on #340
@julianharty @mhutti1 @divadsn I would like your feedback about that issue please. Does the fixes done since the opening (in particular #323 fixing) should let us consider this ticket to as "fixed"?

[2018-01-20 22:28] mhutti1 commented on #263
It shouldn't do as imo it has no relation to the bug reported by @Albert221 with permissions.

[2018-01-20 22:28] mhutti1 commented on #340
It shouldn't do as imo it has no relation to the log item in this issue.

[2018-01-20 23:55] Ryan10145 commented on #342
Thanks @mhutti1 and @divadsn for the help; I managed to get the font system working. However, I need to get more fonts so that I can display the characters for Cherokee, Dzongkha, Gujarati, Oriya, Punjabi, Sinhala, and Tibetan. Is there a preferred place to obtain these fonts and credit them?

Another issue I'm having is that I can't make the line height smaller for each item. I tried setting `and

[2018-01-21 00:00] mhutti1 commented on #342
So for the fonts I am not sure. If you need to credit them then there is an item in the settings menu for that.    For the sizes I sometimes find you can use https://developer.android.com/studio/debug/layout-inspector.html to help you with that.

[2018-01-21 00:21] divadsn commented on #340
As far as I know for Xiaomi devices running MIUI, they can restrict access to the Internet, it's not reproducable for me as Android 6.0 and higher do not allow restricting such permissions yet.

[2018-01-21 00:23] divadsn commented on #340
Also another thing I suspect is missing storage permissions maybe, as those are requested on first time when the library view is opened by the user.

[2018-01-21 00:26] divadsn commented on #263
IMO this looks rather to be related with #323 when the connection is being intercepted by the network.

[2018-01-21 02:12] divadsn commented on #335
@kelson42 afaik you can achieve that using Google Firebase, but on the other side it wouldn't work if the user has no Google Apps installed, which tends to happen often nowadays.

[2018-01-21 09:16] kelson42 commented on #335
@divadsn interesting. I'm not so concern about that as 99% of our user download the app through the Play store. I'm more concern about other privacy violoation that might imply the usage of Google Firebase.

[2018-01-21 09:17] kelson42 commented on #342
@Ryan10145 For each language, you need to find the best free font we can embed in the app. I do not know a prefered place for that.

[2018-01-21 11:07] Popolechien commented on #263
Maybe a way to reproduce: I had a similar event when both Wikimed and Kiwix were open. Closing both and reopening Kiwix alone solved the issue.

[2018-01-21 19:27] Ryan10145 commented on #342
I found the problem with the height, the margins for language entries count TextView were making the row extremely large.

Is this size suitable?

![list 3](https://user-images.githubusercontent.com/8119928/35198069-21b3ad88-feb7-11e7-98a7-f4e08684a5b2.PNG)

[2018-01-21 19:28] mhutti1 commented on #342
I personally might prefer a bit more padding but this should be perfectly fine.

[2018-01-21 19:43] kelson42 commented on #342
@Ryan10145 Good, yes, maybe add a few pixels more of padding please :)

[2018-01-22 22:43] #342 closed

[2018-01-22 23:53] julianharty commented on #323
@divadsn Thanks for the improvement.

[2018-01-22 23:58] julianharty commented on #340
I agree this seems to be a distinct issue from #263

@Albert221 are you compiling & building Kiwix Android yourself or is this problem happening in the released version? If you're working with the source code please could you run `git status` to see if something's accidentally affected any of the build files such as the gradle files or AndroidManifest.xml. If you're able to post the output from `g

[2018-01-23 00:11] julianharty commented on #263
@Popolechien do you have the ability to extract the Android log from the device? e.g. using the `adb logcat` command from the Android SDK... If so, the OkHttp requests and responses should be logged, IIRC. Perhaps there'll be some clues in the log too? Thanks for reporting the problem and that you'd noticed it might appear when two instances of Kixix were running. That may help us hone in on what'

[2018-01-23 07:30] Albert221 commented on #340
I was running application compiled by myself, but I'm 100% sure that I
hadn't touched AndroidManifest.xml. I was hardly checking out master
several times and this issue was happening from the beginning. I'll be
happy to help debug this problem but I need to know what steps to follow
since I've already tried to find solution for that but failed on that

wt., 23.01.2018, 00:58 użytkownik Julian Hart

[2018-01-23 08:38] divadsn commented on #343
Maybe downloading the file to a temporary file which wouldn't be listed in the library should do the trick, same as most browsers do when downloading a file.

[2018-01-23 09:31] julianharty commented on #340
@Albert221 running `git diff` will help confirm whether the file was touched (or any other files related to the config and permissions). So as a place to start the debugging please could you run that command.

It's also possible to extract the AndroidManifest.xml from the app's binary and check that & I'm pretty sure there'll be tools available both to run locally and online that'll check what per

[2018-01-23 11:22] kelson42 commented on #343
@divadsn I would recommend to *not* rename the first chunk file to `foobar.zimaa` as long as the final chunk is not successfully downloaded.

[2018-01-23 14:39] divadsn commented on #340
@Albert221 have you checked the firewall which is built-in MIUI?

[2018-01-23 14:41] divadsn commented on #343
@kelson42 that was exactly what I said :)

[2018-01-23 16:33] Albert221 commented on #340
@julianharty

No changes on AndroidManifest.xml as well as anything other. `upstream` is this repo.

@divadsn yes, there were no permissions (not that it was denied) related to Internet connection and every existing permission was allowed. I checked for example Messenger and it had no Internet permission either, so that's not the cause of it.

[2018-01-24 17:16] freeze2404 commented on #240
Uhm, just downloaded version 2.2 from
https://f-droid.org/packages/org.kiwix.kiwixmobile/
This one is working!

[2018-01-24 18:44] kelson42 commented on #240
@freeze2404 We strongly suspect this has been somehow introduced in 2.3.

[2018-01-29 17:00] ISNIT0 commented on #335
The suggestion here is that it uses people's personal email provider (opens their email app), so everything is transparent etc. No hidden analytics/email sending from us

[2018-01-29 17:01] ISNIT0 commented on #335
And we could create a google group type email address which receives all the messages

[2018-01-29 18:04] mhutti1 commented on #335
@kelson42 I think you can set up a "magic email link"  that will autopopulate the data and will open in the users email app that they can then send.

[2018-01-29 18:11] ISNIT0 commented on #335
This code just uses Android intents

[2018-01-29 18:13] ISNIT0 commented on #335
https://github.com/kiwix/kiwix-android/blob/ffe3ac6f0b8d45ec3530a583fe06b10487265a85/app/src/main/java/org/kiwix/kiwixmobile/KiwixErrorActivity.java#L133

[2018-01-29 18:27] kelson42 commented on #335
@ISNIT0 @mhutti1 OK, if you want I can create a mailbox @kiwix.org and give you the credential. That way we could quite easily go ahead on this.

[2018-01-29 19:50] ISNIT0 commented on #335
Yes please - do you think it should be "feedback"@ ?

[2018-01-30 04:51] kelson42 commented on #335
maybe a bit more specific like android-crash-feedback@ ?

[2018-01-30 09:10] ISNIT0 commented on #335
I was thinking it'd be good to keep it friendly and easy for anyone to submit private feedback anyway?
If it's super specific, people might not want to submit other, custom feedback.

[2018-01-30 17:57] kelson42 commented on #335
@ISNIT0 yes, but we have already contact@kiwix.org and I do not want to mix this kind of "special reports" with more traditional ones.

[2018-01-30 18:17] ISNIT0 commented on #335
Okay - sure, android-crash-feedback then :)

On Tue, 30 Jan 2018 at 17:57 Kelson <notifications@github.com> wrote:

--
Joseph E. Reeve

[2018-01-31 12:05] kelson42 commented on #335
Email box created and credentials communicated to @ISNIT0 @julianharty @mhutti1

[2018-02-01 16:29] mgautierfr opened #354 "Wrong way of checking the JNIKiwixReader has been correctly created."
There are different things wrong here. Some have been fixed in kiwix-lib, one have to be fix in kiwix-android.

- On libzim side there were some check on the zim file that could be done and wasn't.
It should be fixed now (well, until I found something else to test :) )
- On kiwix-lib JNI wrapper, I was properly catch exception if something went wrong during kiwix::Reader
creation, but I was silent

[2018-02-01 16:36] mgautierfr commented on #354
This is probably the root cause of kiwix-android crash related to issues #343, #240, #326  and maybe others.

[2018-02-01 18:36] kelson42 commented on #343
Can we implement the proper naming of temporary files?

[2018-02-01 18:37] kelson42 commented on #327
On iOS this list can be changed at the time of the search. I think it is quite a good approach to have this configured someone at the search time instead at in the library.

[2018-02-01 19:08] mhutti1 opened #355 "Identify split ZIM files as partial until complete download"
Currently downloading a split ZIM file will create a.zimaa.part then rename to a.zimaa then download a.zimab.part then rename ... We should change this system so the split parts are still identified as such until the final chunk is download. One way to implement this would be a double .part.part for split ZIMs

[2018-02-01 19:08] mhutti1 commented on #343
#355

[2018-02-02 00:33] #354 closed

[2018-02-04 09:31] kelson42 commented on #335
@ISNIT0 It seems the code has been merged for this!? Can we close that ticket?

[2018-02-04 15:08] okkebal commented on #315
"user-centric concerns such as being able to search for abbreviations....."

Wow... users are complaining to no end about not being able to find anything! Its not just IBM that returns no results in wikipedia NL. Try to find Anything in WikiSource EN, without typing in the EXACT title. I challenge you!

What would be great if there was any way to  get a Zim file that contains an index. I would not

[2018-02-04 15:11] kelson42 commented on #315
@okkebal All the recent Wikimed EN ZIM files have a fulltext index in them. We decided to create all our new ZIM files with FT index in them in January... but discovered quite an annoying surprise https://github.com/openzim/libzim/issues/110. This "breaks" any ZIM with an FT index > 4GB. This should be fixed before end of February and then we will generate all new ZIM with FT index. That said quit

[2018-02-05 09:02] ISNIT0 commented on #335
@kelson42 I don't think it has been merged yet. Still some build issues - I'll look into it this week, then we can close all 3 of these issues 👍

[2018-02-10 18:46] kelson42 commented on #259
I had a look again a bit and it looks like we can pretty much do everything with the Hotspot from Kiwix itself: https://developer.android.com/reference/android/net/wifi/WifiManager.html. @mhutti1 We should assume the kiwix-lib is able to create the HTTP server, that means the rest would be in Kiwix for Android which should:
* Deal with DHCP request
* Deal with DNS requests
* Forward all HTTP traff

[2018-02-13 07:20] rishabchirania commented on #98
@mhutti1 can I start working on this....I am new to this project,,this will be a good first issue for me

[2018-02-13 10:34] srv-twry opened #358 "Add issues and pull request templates to the project."
Currently there isn't any issues and PR template for the project. It is very useful to have and almost all the standard projects have it.

@kelson42 @mhutti1 Please review if i should add them or not ?

[2018-02-13 10:38] srv-twry opened #359 "Remove redundant castings in the project."
**Actual behaviour**

There are a lot of redundant casting in the project.
For eg:
[code]
Casting it to ```TextView``` isn't required at all. There are a lot of instances of these castings.

**Expected behaviour**

They should be removed to keep the code cleaner.
Not a big issue but certainly can be taken as a first issue.

**Would you like to go ahead with it ?**

Yes.

@kelson42 @mhutti1 please

[2018-02-13 10:43] mhutti1 commented on #98
@rishabchirania Yeah feel free to start working away at them.

[2018-02-13 10:48] mhutti1 commented on #359
I think these casts were required in the past but aren't any more. Cleaning up code like this is definitely a good idea.

[2018-02-13 11:04] Kartik2016 commented on #355
I'd like to work on this. Can i go ahead?

[2018-02-13 11:07] mhutti1 commented on #355
@Kartik2016 Yeah go ahead.

[2018-02-13 11:07] srv-twry opened #360 "Segmentation fault when launching the application."
**Description**

On building and launching the application, a segmentation fault is thrown.

**Log**

[code]

[code]

**Devices**

Oppo f1 - Android 5.1.1
Xiaomi Redmi note 4 - Android 7.0

@mhutti1 Can you please look into it ?

[2018-02-13 11:11] mhutti1 commented on #360
@srv-twry Ah ok I think this is related to a bug we have been having. It should have been fixed in the latest version of our C++ backend and deployed. Ill check why its not working here.

[2018-02-13 11:13] mhutti1 commented on #360
In the mean time can you switch your buildVariant to kiwixDebug in android studio / gradle and report if the same error occurs.

[2018-02-13 11:16] srv-twry commented on #360
@mhutti1 Yes, it works for kiwixDebug variant. Thanks.

[2018-02-13 11:22] mhutti1 commented on #360
@mgautierfr There might be something going on on our end here but is it the intended behaviour of the JNI to segfault in these cases or is it still a bug?

[2018-02-13 11:25] Kartik2016 commented on #355
Correct me if i am wrong. I need to edit the getZimChunkFileNames method in the ChunkUtils.java class to rename the files with .part.part instead of only .part?
Is there anything else that also needs to be done

[2018-02-13 11:28] mhutti1 commented on #355
You will need to remove the first .part when the chunk is downloaded (as currently occurs) but only remove the second .part when the entire file is downloaded.

[2018-02-13 11:29] Kartik2016 commented on #355
Ok. Thanks

[2018-02-13 12:56] brijeshshah13 commented on #101
Working on this issue @mhutti1.

[2018-02-13 12:56] RajaVamsi11 commented on #10
@mhutti1 @kelson42  I am exicited to work in this issue as a starter.

[2018-02-13 13:00] mhutti1 commented on #101
@brijeshshah13 I am not sure if @rishabchirania is working on this already. https://github.com/kiwix/kiwix-android/pull/357

[2018-02-13 13:02] brijeshshah13 commented on #101
@mhutti1 Just enabling `minifyEnabled true` isn't making any difference in the apk size. I'm trying to monitor and analyze apk size after everfy build.

[2018-02-13 13:02] rishabchirania commented on #101
@mhutti1 @brijeshshah13 you can go ahead...i am currently working on lint issue...

[2018-02-13 13:03] brijeshshah13 commented on #101
@rishabchirania Alright.

[2018-02-13 13:12] RajaVamsi11 commented on #10
@mhutti1  What does the title  "Hide toolbar when scrolling" meant?
I am thinking that when user scrolls up ,then the toolbar must be hided or Collapsed.
Is it right?

[2018-02-13 13:14] mhutti1 commented on #10
Yes it already is implemented in our settings menu. To complete this task it must be made default but still be able to opt out in settings.

[2018-02-13 13:17] RajaVamsi11 commented on #10
It should be default and  still be able to opt out in settings! Got it

[2018-02-13 13:55] srv-twry opened #363 "Refactor all anonymous classes to lambda in the project."
**Description**

Currently a lot of anonymous classes are used throughout the project which can and should be converted to lambda expressions.

**Would you like to work on it ?**

Yes

@mhutti1 Is this desirable in your opinion ?

[2018-02-13 13:57] mhutti1 commented on #363
Sounds good to me.

[2018-02-13 14:02] mhutti1 commented on #358
This sounds like a good idea. I would love to see your suggestions and we can discuss them.

[2018-02-13 14:05] kelson42 commented on #358
@srv-twry We have created one here https://github.com/openzim/overview/blob/master/REPORT_BUG.md

[2018-02-13 14:07] srv-twry commented on #358
@kelson42 Great! , I'll add them in this repo also.

[2018-02-13 14:20] brijeshshah13 commented on #280
@mhutti1 As the support for Java 8 has been included in the `app` level `build.gradle`, this issue can be closed.

[2018-02-13 14:22] mhutti1 commented on #280
Agreed lets close it then.

[2018-02-13 14:22] #280 closed

[2018-02-13 14:24] mhutti1 commented on #176
This could be tackled incrementally and converting one such async task might be an interesting introduction for new comers to the project.

[2018-02-13 14:26] srv-twry opened #364 "Use leak canary to control/avoid memory leaks"
**Proposal**

Currently we aren't using any library to avoid memory leaks. [Leak canary](https://github.com/square/leakcanary) is a lightweight library by Square which can be used to control and avoid memory leaks in the application.
It is a very famous library and used in various open source projects. I think it should be used in this project also.

@mhutti1 @kelson42 Please review and suggest if

[2018-02-13 14:27] srv-twry commented on #176
@mhutti1 Which async task would you like to convert first ? I'll do it :smile:

[2018-02-13 14:31] mhutti1 commented on #176
@srv-twry its up to you I would pick a simple one though if you havn't used RxJava before as it can take some time to get get used to the flow.

[2018-02-13 14:34] srv-twry commented on #176
@mhutti1 I have some experience working with RxJava2 on a few other open source projects in which i contribute.
I'll choose a simple one though to start.

[2018-02-13 14:46] #359 closed

[2018-02-13 14:50] Koundinyalanka opened #365 "Position of the cancel search button (X) must be aligned to the right"
![screenshot_20180213-201457](https://user-images.githubusercontent.com/23225734/36155739-3024153c-10fb-11e8-9fd3-c4f613915f33.png)

[2018-02-13 15:13] srv-twry opened #367 "Refactor KiwixMobileActivity class to reduce it's size"
**Description**

The ```KiwixMobileActivity``` class is huge(2005 lines). Having such a huge class makes it tough to manage it. We can move some of the code to ```KiwixMobileActivityUtility``` or ```KiwixMobileActivityRepository``` class(Need to create them) if possible. I haven't looked at it in detail but will look at it very soon !

@mhutti1 @kelson42 What do you think ?

[2018-02-13 15:39] mhutti1 commented on #367
We already have some issues open about refactoring. I am not sure how up to date some of them are though. I would suggest looking into them first. https://github.com/kiwix/kiwix-android/issues?utf8=%E2%9C%93&q=refactor

[2018-02-13 16:18] srv-twry opened #369 "Convert SaveNetworkLanguages AsyncTask to run with RxJava"
**Description**

Convert SaveNetworkLanguages AsyncTask to run with RxJava.

**Parent issue**

#176

[2018-02-13 17:15] #363 closed

[2018-02-13 18:16] RajaVamsi11 commented on #10
@mhutti1  As you mentioned , I changed the code to make  toolbar hide when user scrolls up as default.In settings it will give an option  to enable the "Not  hide toolbar" option.By enabling it toolbar will not hide as the user scrolls up else default will work as usual( Hiding toolbar when scrolled up).
Editing code is done.can i send a PR?

[2018-02-13 18:19] kelson42 commented on #360
@mhutti1 The kiwix-lib/JNI should never segfault.

[2018-02-13 19:51] arpank10 opened #371 "Making the transition from day mode to night mode animated."
In the current version, the transition from day mode to night mode is not animated. It would look a lot better and give a better user experience if it is animated.

[2018-02-13 20:05] srv-twry commented on #29
@kelson42 @mhutti1 Can i go ahead with activities that haven't yet been refactored ? e.g. - ```ZimManageActivity```, ```KiwixMobileActivity``` etc.

[2018-02-13 20:06] mhutti1 commented on #10
@RajaVamsi11 Yeah create a PR and we will review using GitHubs interface and any changes that need to be made can be :)

[2018-02-13 20:07] srv-twry commented on #367
Closing as it is already covered in #29

[2018-02-13 20:07] #367 closed

[2018-02-13 20:09] mhutti1 commented on #29
@srv-twry I would avoid touching KiwixMobileActivity for now. It is a huge job (also for our sake reviewing such a refactor would take considerable time and there could be unforeseen bugs) . You can look at refactoring some of the smaller activities / classes though.

[2018-02-13 20:10] srv-twry commented on #29
Sure. I would stick to smaller activities/fragments like ```ZimManageActivity```.

[2018-02-13 20:44] srv-twry commented on #176
@mhutti1 I couldn't find any other AsyncTask in the project. Can you please check once you get time and confirm it ? We can close this issue then after #369 is merged.

[2018-02-13 20:48] arpank10 commented on #371
Got it, planning to work on it.

[2018-02-13 20:49] mhutti1 commented on #176
Wow it does look like there was only one. We must have converted the others during general bug fixes and feature implementations.

[2018-02-13 21:03] srv-twry opened #372 "Refactor SearchActivity according to MVP pattern."
**Description**

Since the architecture used in the project is MVP, SearchActivity should also be refactored to use MVP pattern.

**Would you like to work on this?**

Yes

**Parent issue**

#29

[2018-02-13 21:31] srv-twry opened #373 "Proposal: Create a bot for the organisation."
**Proposal**

Most of the open-source organisations these days have a bot to manage things like assigning, unassigning developers. Adding labels like "In-Progress" etc.

OpenDataKit - opendatakitbot handles labelling/unlabelling of issues and pr's using commands.
 You can claim an issue using it.
It automatically assigns developers and shows a welcome message if it's your first contribution to the

[2018-02-13 23:46] #369 closed

[2018-02-14 02:52] srv-twry commented on #41
@mhutti1 I'll give it a shot!

[2018-02-14 03:04] brijeshshah13 commented on #364
@srv-twry Doesn't it install its's own app to display the leaks which occupies quite a lot of space?

[2018-02-14 03:33] srv-twry commented on #364
1. Yes it installs another application.
2. No, I think it doesn't occupy quite a lot of space.
3. Most importantly, Leak canary will be installed only for the debug build. Hence as a developer we definitely can allow it some space.

[2018-02-14 03:37] brijeshshah13 commented on #364
@srv-twry My past experiences with its own application has educated me that it sometime reaches the size of nearly 60 Mb. But as you mentioned that it will enabled only for the debug build, then sure you must go ahead with it.

[2018-02-14 04:21] brijeshshah13 opened #375 "Replace PNG files with XML ones"
**Description**

Currently, there are a lot of `png` files which contribute to increase in `apk` size. Replacing possible ones with `xml` files would be better approach towards saving space and backward compatibility.

**Would like to work on this issue?**
Yes.

@mhutti1 Please share your suggestions.

[2018-02-14 04:36] brijeshshah13 opened #376 "Deprecated dependency configurations in use"
**Actual Behaviour**

Deprecated dependency configurations such as `compile`, `testCompile` and `androidtestcompile` in use.

**Expected Behaviour**

Replacements are as below:
`compile` -> `implementation`
`testCompile` -> `testImplementation`
`androidTestCompile` -> `androidTestImplementation`

**Steps to reproduce it**

Check `kiwixlib` level `build.gradle` file.

**LogCat for the issue**

N/A.

[2018-02-14 06:39] kelson42 commented on #375
@brijeshshah13 Do you mean SVG files? If "yes" do we know how would that impact the rendering time?

[2018-02-14 06:41] kelson42 commented on #41
Probably something which needs to be delegated to the kiwix-lib/Xapian. I strongly suspect there is nothing much we should do on Java side.

[2018-02-14 06:48] brijeshshah13 commented on #375
In a way, yes. Because SVG files are stored as XML file formats. This [link](https://watb.co.uk/5-reasons-you-should-be-using-svgs-over-pngs/) might answer your question about the impact on rendering time. Your review please.

[2018-02-14 07:18] Kartik2016 commented on #355
https://github.com/kiwix/kiwix-android/blob/c359881df8fe12efde9a45bfb268c2275d50bd1e/app/src/main/java/org/kiwix/kiwixmobile/downloader/DownloadService.java#L508
In this method, the .part is removed only when the whole file is downloaded. Please guide me to the method where a split chunk is downloaded completely and where the first .part needs to be removed.

[2018-02-14 07:46] kelson42 commented on #373
@srv-twry Thank you for this idea. It would be great IMO if you could complete your ticket by explaining quite clearly which problem(s) this solution should give an answer to.

[2018-02-14 07:50] kelson42 commented on #375
@brijeshshah13 Thx for the link. Looks good to me but pleas wait approval of @mhutti1.

[2018-02-14 07:53] brijeshshah13 commented on #375
@kelson42 Yes sure😃

[2018-02-14 07:53] kelson42 commented on #358
@srv-twry Sorry, my bad. I have given you the wrong link. This is what I meant https://github.com/openzim/sotoki/blob/master/.github/ISSUE_TEMPLATE.md

[2018-02-14 08:32] mhutti1 commented on #375
@brijeshshah13 This sounds like a good idea.

[2018-02-14 08:35] mhutti1 commented on #376
kiwix-lib is a bit of a special case. It is built using the kiwixlib repo but we don't currently have an easy process to deploy new versions to the dev repo. Lets keep the issue open but its not worth looking at until we refine this process,

[2018-02-14 08:37] mhutti1 commented on #355
@Kartik2016 That is that method. Its in the method called DownloadChunk and thats what it does.

[2018-02-14 09:13] brijeshshah13 commented on #375
@mhutti1 Thank you. Will start working on it right away.

[2018-02-14 09:17] brijeshshah13 commented on #376
@mhutti1 Okay. Well, ping me in case you decide to resolve this.

[2018-02-14 10:00] brijeshshah13 commented on #375
@mhutti1 Shall I add `vectorDrawables.useSupportLibrary = true` as stated [here](https://developer.android.com/guide/topics/graphics/vector-drawable-resources.html#vector-drawables-backward-solution) to support vector drawable for backward compatibility?

[2018-02-14 11:56] RajaVamsi11 commented on #10
@mhutti1  Take a look at this one..

[2018-02-14 13:14] brijeshshah13 commented on #375
I guess we should add it nevertheless for future compatibility. And please acknowledge me if I should change some icons to adhere to the Google's Material Design Guidelines such as `fullscreen` icon, etc.?

[2018-02-14 13:15] mhutti1 commented on #375
@brijeshshah13 Yeah we should be adhering to material design within reason so if you want to fix those make a pull request.

[2018-02-14 13:17] brijeshshah13 commented on #375
@mhutti1 On it. Will send the PR shortly after the final touch up.

[2018-02-14 13:19] mhutti1 commented on #355
@Kartik2016 If you meant the first .part by string not by time (what I assumed) then that should be removed once the whole file is downloaded. It is good to get a sense of the code base and find this method for yourself.

[2018-02-14 13:49] mhutti1 commented on #75
Well currently we have 3 fragments in our content manger activity. This entails merging 2 along with their UIs

[2018-02-14 14:42] brijeshshah13 commented on #375
The size of the `fullscreen_exit` has been decreased to allow users to better view the content. Is this okay? @mhutti1

![screenshot_20180214-200932](https://user-images.githubusercontent.com/18366144/36209928-2314a64a-11c3-11e8-87dd-1b917b639096.png)

[2018-02-14 15:09] Ananthusubramanian opened #379 "Adding a Sharing button"
Adding a sharing button would increase the user experience of the app ,so that app becomes available to new users.
![screenshot_2018-02-14-20-38-08-090_org kiwix kiwixmobile](https://user-images.githubusercontent.com/22250995/36211382-2034db76-11c7-11e8-909c-273a8c6b67c4.png)

[2018-02-14 15:42] RohanBh commented on #49
@mhutti1 I am new to this repo and would like to work on this issue.

[2018-02-14 16:56] pprathameshmore commented on #379
I am trying to Share Button in Menu Options

[2018-02-14 17:14] pprathameshmore commented on #379
Hey Please help!
I am added button share button in Menu Option. But I don't know how to commit main repo.

[2018-02-14 17:17] kelson42 commented on #379
@pprathameshmore You need to make a pull request, here is explained how https://help.github.com/articles/creating-a-pull-request/

[2018-02-14 17:33] pprathameshmore commented on #379
Thank you! Okay I will try!

[2018-02-14 19:00] mhutti1 commented on #49
@Koundinyalanka you have created issue #365 are you working on this as well?

[2018-02-14 19:09] srv-twry commented on #75
If i understood it correctly , Inside ```ZimManageActivity``` we have three fragments i.e. ```ZimFileSelectFragment```(Device), ```LibraryFragment```(Online) and ```DownloadFragment```(Downloading).

I have to rename "Device" to "Downloaded" and merge the ```ZimFileSelectFragment``` and ```DownloadFragment``` into one. Also have to redirect to the merged fragment after download starts. Right ?

[2018-02-14 19:22] kelson42 opened #383 "Library language selection box is too slow to display"
With the development version:
1 - Go the library
2 - Open the online tab
3 - Click on the "globe" icon in the top-right corner

What I get:
After many seconds the dialog box listening the languages appears

What I want:
This should be displayed almost instantly.

Remark:
If I try to scroll down just after the list appears... then I might even achieve to make the app crash. It seems the whole stuff

[2018-02-14 19:24] sashank27 commented on #383
I want to work on this.

[2018-02-14 19:29] mhutti1 commented on #383
@sashank27 Go ahead. Some tips:
@kelson42 does this occur every launch or just on first install?
For me if you try click the globe for the first time it displays an empty box and doesn't load unless you reload it.

[2018-02-14 19:31] kelson42 commented on #383
@mhutti1 It always happen. Looks like the CPU of my table is simply not strong enough to display it quickly.

[2018-02-14 19:48] #372 closed

[2018-02-14 19:58] RajaVamsi11 commented on #379
Can i work on this issue?

[2018-02-14 20:01] #10 closed

[2018-02-14 20:11] mhutti1 opened #385 "Fix basicTest to run initially from any saved page"
Currently basicTest must be run from the help page of the app or it fails. Add an esspresso action to switch to this page first so it is not necessary and the test will pass from any initial page.

[2018-02-14 20:33] #371 closed

[2018-02-14 20:37] RohanBh commented on #385
@mhutti1 I would like to work on this.

[2018-02-14 20:40] mhutti1 commented on #75
Yes that is the intended outcome. But the UI split between Downloading and Downloaded Items needs to be intuitive.

[2018-02-14 20:41] mhutti1 commented on #379
@pprathameshmore  is already working on it https://github.com/Ananthusubramanian/kiwix-android/commit/dca58c2891092927178c72efc3b6cdf868dc38be

[2018-02-14 20:51] srv-twry commented on #373
1. Ability to claim an issue and assign it to yourself by using something like ```@kiwixbot-claim```.

2. Automatically unassign the developer if there isn't any update in 7/10 days.

3. Label the issues which have a PR with label "has-PR" as soon as a linked PR is opened.

4. As soon as a PR is opened, label it ```needs-review```. As soon as it is approved, automatically label it ```reviewed``` o

[2018-02-15 01:45] srv-twry opened #386 "Refactor ZimManageActivity according to MVP pattern."
**Description**

Since the project uses MVP architecture, ```ZimManageActivity``` should also be refactored to use MVP pattern.

**Parent issue**

#29

**Would you like to work on it ?**

Yes.

[2018-02-15 03:56] Koundinyalanka commented on #365
Resolved this issue by using setMaxWidth
![screenshot_20180215-092349](https://user-images.githubusercontent.com/23225734/36239775-4640069a-1232-11e8-81c4-05da83f45474.png)

[2018-02-15 04:04] Koundinyalanka commented on #49
@mhutti1 fixed #365  and created a pull request please check

[2018-02-15 05:54] arpank10 opened #389 "Empty dialog box on clicking languageItem in getContent"
**Description**
While content is still loading, pressing languageItem on top right displays an empty dialog box along with a toast "Content still loading". It should display only the toast instead.
![whatsapp image 2018-02-15 at 11 24 06 am](https://user-images.githubusercontent.com/24573296/36242585-cf87fe20-1242-11e8-9f31-3cbbb0562497.jpeg)

**Would you like to work on it?**
Yes

[2018-02-15 06:05] kelson42 commented on #383
The empty box bug has been reported here #389

[2018-02-15 06:06] kelson42 commented on #389
Quite a duplicate of #383 IMO.

[2018-02-15 06:43] RajaVamsi11 commented on #379
ok.I will search for another issue.

[2018-02-15 07:01] arpank10 commented on #383
I think unless the books are loaded, the languageCount remains zero, so the languages are still not added to the languages list due to this line in updateLanguages() in LibraryAdapter.java

Hence the empty dialog box.

[2018-02-15 07:30] parasg97 opened #390 "Text "use network to download content list." should be in the center of screen"
![screenshot_20180214-222149](https://user-images.githubusercontent.com/23073395/36245241-331be606-1250-11e8-984a-966e54b377c3.png)

[2018-02-15 07:40] kelson42 commented on #390
@parasg97 Thx for the bug report. You are right, please go ahead if you want to fix that bug.

[2018-02-15 07:42] parasg97 commented on #390
Yes i would like to fix this

[2018-02-15 09:38] siddharth2010 opened #391 "Minor error in displaying numbers"
The content manager page looks like this:

![screenshot_20180215-150456](https://user-images.githubusercontent.com/32238400/36249766-a36f6850-1233-11e8-9008-9551894ad383.png)

The "number of articles" should have commas instead of points, (e.g. 10,000 instead of 10.000)

[2018-02-15 09:49] siddharth2010 opened #392 "Minor spelling mistake"
There are some spelling errors in the Content Manager page:

![screenshot_20180215-151622](https://user-images.githubusercontent.com/32238400/36250233-1f00ae88-1235-11e8-9c4a-3410295e2ab6.png)

it should be "All Wikipedia article**s** about Indian cinema" instead of "All Wikipedia article about Indian cinema"

[2018-02-15 10:20] pprathameshmore commented on #390
I would like to fix this bug

[2018-02-15 10:23] siddharth2010 opened #393 "Text in Content Manager Screen should be center aligned"
The text in the center of the screen should also be center aligned

![screenshot_20180215-155059](https://user-images.githubusercontent.com/32238400/36251672-e1336f46-1239-11e8-8b89-2b58cb40b690.png)

[2018-02-15 10:25] kelson42 commented on #393
@siddharth2010 Thank you for your bug report but this is a duplicate of #390

[2018-02-15 10:25] #393 closed

[2018-02-15 10:38] siddharth2010 opened #394 "minor changes to text"
I think we should change the text in the downloading tab of the content management screen from "No downloads here" to something else, like "Download queue is empty", or something like "The download queue is empty... Select a file from the online tab to start downloading"

![screenshot_20180215-160253](https://user-images.githubusercontent.com/32238400/36252238-c3d33b96-123b-11e8-8e7d-9401845dbaa1.

[2018-02-15 10:57] siddharth2010 commented on #373
Hi everyone, I am siddharth sharma. I was checking out the community and I really liked what you guys are doing here. I also loved the idea to download ted talks... Actually a few years earlier, when I didn't have good internet connectivity at home, I used to do the same thing, download these articles and then read them offline...

I found this issue really intriguing. I was wondering if you wante

[2018-02-15 11:04] RajaVamsi11 commented on #67
@mhutti1 I will work on this issue.

[2018-02-15 11:15] Koundinyalanka commented on #392
Heyy is this the screenshot of the app installed from google play @siddharth2010

[2018-02-15 11:19] VANKINEENITAWRUN commented on #389
can i work on this issue

[2018-02-15 12:30] RohanBh opened #398 "Save the back stack of visited pages before exiting from app"
Currently, the back stack of pages is lost when the app is restarted. Chrome on Android remembers the order of visited pages if same happens to it. This must be the expected behavior.

**Would you like to work on it?**
Yes

[2018-02-15 12:54] parasg97 commented on #390
Currently, the margin of both textview and button is fixed to 230dp.I think it is not a good idea to keep margin fixed at a particular value. Also, there is no use of linear layout as its only child relative layout has dimensions match parent. Is it cool if I convert the layout to constraint layout?
![screenshot 30](https://user-images.githubusercontent.com/23073395/36257578-7cc243cc-127d-11e8-8d8

[2018-02-15 12:56] arpank10 opened #399 "Multiple tabs created when pressed undo."
When we close the last open tab and press undo,two instances of the same tab is created.
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/24573296/36257599-8e018c74-127d-11e8-99e5-7aa15e8d5997.gif)

This has two possible solutions:
1. Create a default starting tab to display(for now we can set it to help tab) when all the tabs are closed.
2. Right now at least one tab is always

[2018-02-15 13:05] siddharth2010 opened #400 "Scrolling in the Content Manager Screen"
The Content manager screen scrolls leaving a blank space at the bottom of the screen.

![screenshot_20180215-181715](https://user-images.githubusercontent.com/32238400/36257555-6e69248a-127d-11e8-87f7-8ba8e04b9ca1.png)

and here as well:

![screenshot_20180215-182208](https://user-images.githubusercontent.com/32238400/36257558-6f9efc26-127d-11e8-99be-0e1fa11d903c.png)

Steps to reproduce:
in the C

[2018-02-15 13:08] okkebal commented on #236
Screenrecording 1:
[2018_02_15_13_44_15.zip](https://github.com/kiwix/kiwix-android/files/1727710/2018_02_15_13_44_15.zip)

This is feb 14 build of Kiwix-Android

I have 'wikiwoordenboek' open. And try to select a different file: does not work

Screenrecoring 2:
I select a file and a different file opens!

[2018_02_15_14_02_23.zip](https://github.com/kiwix/kiwix-android/files/1727730/2018_02_15_14

[2018-02-15 13:15] mhutti1 commented on #391
This is hard coded into content files. It is this way because it is the continental way of writing numbers. I would prefer it to be a comma coming from the UK but it is up to @kelson42 and is not an issue with Kiwix Android (short of creating a local specific workaround)?

[2018-02-15 13:17] mhutti1 commented on #390
@parasg97 make any changes you need to to refactor the layout. I think Android is moving to wards constraint layouts if you want to make use of them.

[2018-02-15 13:18] okkebal commented on #236
[log.txt](https://github.com/kiwix/kiwix-android/files/1727758/log.txt)

I really do not know what I am doing in creating these log files. Hope it worked. Same problem only now doing adb logcat

[2018-02-15 13:18] siddharth2010 commented on #391
oh, I didn't know that. I guess you are right, its not really an issue then...

[2018-02-15 13:23] mhutti1 commented on #394
Superseded by https://github.com/kiwix/kiwix-android/issues/75. Won't fix.

[2018-02-15 13:23] #394 closed

[2018-02-15 13:31] mhutti1 commented on #392
This is not a kiwix android issue. We fetch this info directly from http://mirror.download.kiwix.org/library/library.xml @kelson42 is there a good place to put issues like this?

[2018-02-15 13:31] #392 closed

[2018-02-15 13:35] mhutti1 commented on #398
Sounds good I would cap it at a certain distance though. Try playing around and working out what might be best.

[2018-02-15 13:43] mhutti1 commented on #400
Good spot. I think the best fix is to simply disable scrolling from the black bar.

[2018-02-15 13:47] mhutti1 commented on #236
@okkebal Thanks for the video that could be really helpfull. Can you let the loading circle finish loading and then see if this issue still occurs? (it might take some time).

[2018-02-15 13:51] Koundinyalanka commented on #46
@mhutti1 I will solve this issue

[2018-02-15 13:53] arpank10 commented on #399
When the new tab button is pressed, a tab with any one of the articles downloaded is opened. I would try and create a starting tab displaying the list of currently downloaded articles then.

[2018-02-15 13:55] mhutti1 commented on #399
@arpank10 I would stick with displaying the current articles home page for now imo. Your solution might be usefull once multi zim comes in but until then I think its best to display the home page.

[2018-02-15 13:56] Koundinyalanka commented on #46
Should I modify the existing Icon? @mhutti1

[2018-02-15 13:58] arpank10 commented on #399
Okay, then I am closing this issue.

[2018-02-15 13:58] #399 closed

[2018-02-15 14:16] Koundinyalanka commented on #46
How about this @mhutti1
![web_hi_res_512](https://user-images.githubusercontent.com/23225734/36260930-d312179c-1288-11e8-976c-df9369e41780.png)

[2018-02-15 14:19] mhutti1 commented on #46
Yeah is there some black at the bottom though?

[2018-02-15 14:22] Koundinyalanka commented on #46
![ic_launcher](https://user-images.githubusercontent.com/23225734/36261253-c73630b0-1289-11e8-8bdc-c70d2f2a3fea.png)

[2018-02-15 14:23] Koundinyalanka commented on #46
How about that? @mhutti1

[2018-02-15 14:23] mhutti1 commented on #46
Looks good to me.

[2018-02-15 14:52] okkebal commented on #236
You talk about the loading circle in the 'get content' screen.

This thing takes forever (oke about 60 sec) and appears every time I click 'get content'.

I've tried waiting before selecting a file. That does not work.

When I close kiwix, and open it again the file I selected previously is opened!

1: i get wikiwoordenboek
2: get content ->select Phet
3: still see wikiwoordenboek
4: kill kiwix
5:

[2018-02-15 15:14] Koundinyalanka commented on #46
![screenshot_20180215-200832](https://user-images.githubusercontent.com/23225734/36263740-e01497b4-1290-11e8-8bd8-77ca9c519f2d.png)
Looks like this in launcher see bottom round icon @kelson42 @mhutti1

[2018-02-15 15:34] pprathameshmore opened #402 "Warning:BuildType(local_download_server): buildConfigField 'KIWIX_DOWNLOAD_URL' value is being replaced: "http://download.kiwix.org/" -> "http://kiwix-download-server/""
What is this warning in Android Studio?

[2018-02-15 15:34] pprathameshmore commented on #402
I can not understand this warning!

[2018-02-15 15:47] RajaVamsi11 opened #403 "Replace icons with Material Design icons"
**Description:**
Refresh icon in the app looks somewhat outdated.so we can replace it with android material icon.
![ic_refresh_black_24dp](https://user-images.githubusercontent.com/30550059/36265596-9110e91a-1295-11e8-9ef8-85b3534e7eec.png)

Along with Refresh icon ,there are many 2 more icons that can be replaced.
1.FullScreen
![ic_fullscreen_black_24dp](https://user-images.githubusercontent.com/

[2018-02-15 15:57] pprathameshmore commented on #403
Yes I will do!

[2018-02-15 16:02] RajaVamsi11 commented on #403
@pprathameshmore  I am working on it. Kindly go and find another issue.

[2018-02-15 16:20] Koundinyalanka commented on #402
I can help @mhutti1 @kelson42

[2018-02-15 16:25] brijeshshah13 opened #406 "Revamp Bottom Toolbar and Left Drawer from ground up"
**Actual Behavior**

`Left Drawer:`

Current Left Drawer contains the `action_back_button`, `action_forward_button` and `plusDrawable` which are responsible to enable the user go back and forth. However, current UI disables the user himself to see what is the current main screen while going back and forth from the left drawer, which results into the situation where he has to visit the main screen

[2018-02-15 16:33] pprathameshmore opened #407 "Replace exit full screen icon with material design icon"
I am replacing exit full screen icon with new material design icon from Google.

![ic_fullscreen_exit_black_24dp](https://user-images.githubusercontent.com/17108186/36268223-fd833ffc-129b-11e8-8d9c-66972c03d8dd.png)

[2018-02-15 16:33] pprathameshmore commented on #407
I am working on this.

[2018-02-15 16:36] pprathameshmore commented on #407
@kelson42 Please help me!
I am added this feature. But I don't how to commit to main repo.
Should I create new branch or commit to master?

[2018-02-15 16:37] pprathameshmore commented on #407
![repo](https://user-images.githubusercontent.com/17108186/36268483-9b9f2d68-129c-11e8-9414-84ebf15e6d0f.JPG)

[2018-02-15 16:45] Koundinyalanka commented on #98
@mhutti1 I can help in this issue assign me to this

[2018-02-15 16:53] Koundinyalanka opened #408 "Listing features like Random Article , Full Screen and Find in page are redundant in menu if Bottom toolbar is enabled"
![screenshot_20180215-222040](https://user-images.githubusercontent.com/23225734/36269283-d246a150-129e-11e8-8b35-47233ecf0d11.png)

[2018-02-15 16:55] Koundinyalanka commented on #408
I can work on this @mhutti1

[2018-02-15 16:59] pprathameshmore commented on #402
What I do?

[2018-02-15 17:11] rishabchirania commented on #98
@koundinyalanka i am already working on this..hope you dont mind :)

[2018-02-15 17:11] Koundinyalanka commented on #98
ok dude :)

[2018-02-15 17:17] RajaVamsi11 commented on #403
@mhutti1 @kelson42  I have changed the icons of Fullscreen , Fullscreen exit and Refresh with material design icons.

[2018-02-15 17:30] srv-twry commented on #373
@siddharth2010 Hi,
I think you've misunderstood what i've proposed in this issue. The aim of this issue is to create a simple github application which will do all these things(Should hardly take couple of days to a week at max).

Why do we need a chatbot for it when github supports this ? BDW i think we already have a bot on IRC. I would suggest you please look at the linked example that i have gi

[2018-02-15 17:35] srv-twry commented on #407
@pprathameshmore Please create a new branch and open the PR to the master.

Side note: I would suggest learning some version control specially using the terminal/command line.
[Here](https://www.youtube.com/watch?v=xAAmje1H9YM&list=PLeo1K3hjS3usJuxZZUBdjAcilgfQHkRzW) is good lecture series that i would recommend for learning git although you can learn from other sources also.

[2018-02-15 17:38] srv-twry commented on #407
@pprathameshmore Another advise. I think you've created a duplicate issue. This is already being done in #403 . You were told by the issue creator that he is already working on it but still you have created this issue which is not recommended to do. Please close this and avoid doing it in the future.

[2018-02-15 17:48] RajaVamsi11 commented on #67
@mhutti1 Adding adaptive icons require API level 26.After adding the adaptive icons i think the app can not run on mobiles whose API level is  less than 26.
What should i do?

[2018-02-15 17:49] Shashwat-Garg commented on #402
@Koundinyalanka can we do it by just removing the "bulildConfigField" from local_download_server ?
Or will there be some wrong effects of it ?
I'm sorry, actually I'm a newbiew to open source, so please don't mind if I said something absurd. :)

[2018-02-15 18:01] arpank10 commented on #400
@siddharth2010 Are you working on it or should I proceed?

[2018-02-15 18:04] brijeshshah13 commented on #408
@Koundinyalanka It is already included in #406. Please close this issue if there are not other developments.

[2018-02-15 18:19] arpank10 opened #410 "New content not opening from library."
I have downloaded two contents - Wikipedia Mathematics and Wiktionary.
When I start the app, wiktionary main page is displayed. Then if I open Wikipedia Mathematics, it opens fine. But after that, on trying to open wiktionary again, wikipedia mathematics gets reloaded.

![ezgif com-video-to-gif 1](https://user-images.githubusercontent.com/24573296/36273439-881378f4-12aa-11e8-87fb-2178bfe8a4f1.gif)

[2018-02-15 18:44] mhutti1 commented on #406
Sounds great. I am not sure about fading out. It already scrolls out of view along with the top toolbar.

[2018-02-15 18:47] siddharth2010 commented on #400
yes, I am working on it.

[2018-02-15 18:48] mhutti1 commented on #373
@siddharth2010 While I think this would be useful, I don't think it would be the best use of a GSoC project as many other projects would have more of an impact and we will only be allocated so many slots from Google especially as we are a first time org.

[2018-02-15 18:49] brijeshshah13 commented on #406
@mhutti1 Changing from `TabLayout` to `BottomNavigationView` might require different approach for fade out. Also, it doesn't disappear from the screen as it should even when not in fullscreen mode.

[2018-02-15 18:50] mhutti1 commented on #407
Duplicate of #403

[2018-02-15 18:50] #407 closed

[2018-02-15 18:54] mhutti1 commented on #67
If there is a work around to allow this to be used on 26+ and the previous version on < 25. Otherwise a script should be used as suggested in #46

[2018-02-15 18:56] mhutti1 commented on #406
@brijeshshah13 It should not require a different approach as it is still a view.

[2018-02-15 18:56] mhutti1 commented on #406
If you are having issues with the current implementation please submit a new issue.

[2018-02-15 18:59] mhutti1 commented on #402
@Shashwat-Garg well it is mean tot be replaced in certain conditions.

[2018-02-15 19:16] mhutti1 commented on #410
Duplicate of #236 Feel free to work on that one though.

[2018-02-15 19:16] #410 closed

[2018-02-15 19:19] arpank10 commented on #410
Sure

[2018-02-15 19:26] siddharth2010 opened #411 "set colour standards"
All throughout the app, the color is black, but however, the check boxes and the OK button in the select language are of different colors (blue and green) which looks quite odd.

![sss](https://user-images.githubusercontent.com/32238400/36276484-2050eb7a-12b4-11e8-8802-60deafc65361.png)

I guess both should be black or at least of the same color, if not black.

[2018-02-15 19:27] siddharth2010 commented on #411
I would like to work on this.

[2018-02-15 19:44] brijeshshah13 opened #413 "Hard-coded values in layouts"
**Actual Behavior**

Layout files have hard-coded values which is not feasible.

**Expected Behavior**

All dimensions of resources must be extracted and referenced accordingly.

**Would you like to work on this?**
Yes.

@mhutti1 Please review.

[2018-02-15 20:05] siddharth2010 opened #414 "Adding Transition Animations"
There are no animations while opening a new article and when going back to index.
I would like to add some sliding animations

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/32238400/36278302-78c39442-12b9-11e8-899e-63ae9846bd60.gif)

[2018-02-15 20:09] siddharth2010 commented on #414
I would like to work on this issue. Can you please assign this to me.

[2018-02-15 20:13] brijeshshah13 commented on #413
@kelson42 Please review.

[2018-02-15 20:45] arpank10 commented on #236
Can you guide me as to where the error can possibly be? I found that the setZimFile() method in contentProvider is working correctly and setting the file to the corresponding file we are trying to open.So when we kill kiwix and reopen it, the previously set file is opening correctly.

[2018-02-15 20:53] siddharth2010 commented on #400
@mhutti1 @kelson42 Please review the PR.

[2018-02-15 21:32] mhutti1 commented on #411
See https://github.com/kiwix/kiwix-xulrunner/issues/259 I am not sure about the green. I think it might be a system UI thing. It might be a good idea to change it. Can you find any Android docs on it?

[2018-02-15 21:33] mhutti1 commented on #414
I personally don't think this would fit the theme of the app. Does chrome have animations when you browse a webpage? @kelson42 thoughts?

[2018-02-15 21:34] mhutti1 commented on #413
If you find any hard coded values then trying to change them would be a good idea.

[2018-02-15 21:34] brijeshshah13 commented on #413
@mhutti1 I sent a PR for the same. Please review it.

[2018-02-15 21:35] siddharth2010 commented on #411
I will check it out and let you know as soon as I get something.

[2018-02-15 21:35] mhutti1 commented on #236
@arpank10 As you can see this issue has been open for some time. This is because we don't have any idea ourselves.

[2018-02-15 21:36] brijeshshah13 commented on #406
@mhutti1 I'm working on it. Will let you know about further developments.

[2018-02-15 21:40] mhutti1 commented on #400
@siddharth2010 Myself and kelson have other full time commitments and are likely in timezones considerably different to yours. We get email notifications about pull requests and will get to them when we have the time.

[2018-02-15 21:43] siddharth2010 commented on #400
I am really sorry about that. I will take care of it in future.

[2018-02-15 21:44] mhutti1 commented on #413
@brijeshshah13 Yeah, just saw. I will get to it soon.

[2018-02-15 21:46] brijeshshah13 commented on #413
@mhutti1 Its okay. No hurries. :)

[2018-02-15 21:48] siddharth2010 opened #417 "Add animations to Action bar"
The buttons on the action bar do not have any material design click animation, unlike the tab buttons on the Library screen.

the same problem is with the globe icon in the library screen and the OK button in the select Language screen

![www](https://user-images.githubusercontent.com/32238400/36282003-a890460a-12c5-11e8-89bf-95b183c754e4.gif)

the correct behaviour should be something like this:

[2018-02-15 21:53] mhutti1 commented on #22
Merged into #12

[2018-02-15 21:53] #22 closed

[2018-02-15 21:58] brijeshshah13 commented on #408
@mhutti1 Please review it. It is already included in #406.

[2018-02-15 22:02] mhutti1 commented on #408
Already in the scope of #406.

[2018-02-15 22:02] #408 closed

[2018-02-15 22:26] siddharth2010 commented on #411
I found a solution to changing the color if the OK button to blue as well. the dialog box is basically an AlertDialog that takes the theme "Theme_AppCompat_Light_Dialog_Alert" in light mode and the theme "Theme_Holo_Dialog" in dark mode. So I just need to modify the theme to change the color of the button. I was thinking of matching the color of the ok button to the color of the checkbox.

[2018-02-15 22:46] #385 closed

[2018-02-15 23:36] #411 closed

[2018-02-16 00:05] #358 closed

[2018-02-16 00:05] #386 closed

[2018-02-16 00:22] srv-twry commented on #55
@mhutti1 Can i take this ? Would like to work on this before the other issue(Content Manager tweaks) assigned to me since i need time to think of an intuitive UI for it.

[2018-02-16 00:23] mhutti1 commented on #55
@srv-twry I would wait for a bit. There were plans to move bookmark management to C++. @kelson42 any news on this?

[2018-02-16 01:47] srv-twry opened #419 "Improve the README of the project"
**Is it a ?**

- [ ] Bug Report

- [x] Feature Request

## Feature Request

#### Feature Description

The README of the project needs a lot of improvements. Here are a few of them:

- [ ] Add the title of the project as a header at the top.
- [ ] Add badge for build status from travis.
- [ ] Divide data into relevant groups such as build instructions, branch policy etc.
- [ ] Improve the header fo

[2018-02-16 05:51] harshvardhan-takawale opened #421 "Adding a tutorial screen that includes app icon and instructions."
**Is it a ?**
 Feature Request
![capture](https://user-images.githubusercontent.com/28982436/36295089-27c68160-130b-11e8-9bed-89d8757c429c.PNG)

## Feature Request

#### Feature Description

For helping the first time users, the app should have a set of instructions that tell them what this app is all about and how to use the app along with the icon.

##Are you willing to work on the issue?

Yes.

[2018-02-16 05:55] brijeshshah13 commented on #421
@mhutti1 @harshvardhan-takawale I think we provide enough info about the app and it's work around via `Help` screen. Please visit it if you haven't already.

[2018-02-16 06:01] harshvardhan-takawale commented on #421
@brijeshshah13 I think the Help screen is a bit more technical for first-time users. The instructions in the tutorial screen would be a bit simpler.

[2018-02-16 06:04] brijeshshah13 commented on #421
@harshvardhan-takawale Let's wait for @mhutti1. Although, I think instead of adding Tutorial screen, editing the contents of the Help screen would be better.

[2018-02-16 06:15] harshvardhan-takawale commented on #421
We can use showcase views to guide them to certain activities during the introduction.
![capture1](https://user-images.githubusercontent.com/28982436/36295631-d84f6e04-130e-11e8-8f95-326476e2a593.PNG)

[2018-02-16 06:28] kelson42 commented on #55
@mhutti1 Should come around May

[2018-02-16 06:38] brijeshshah13 commented on #419
@srv-twry Can we have **Roadmap**, **Libraries used** and some **Screenshots** attached as well. It would attract more readability.

[2018-02-16 06:41] kelson42 opened #422 "Phets custom app should not have the "read aloud" menu entry"
As the Phets custom app https://play.google.com/store/apps/details?id=org.kiwix.kiwixcustomphet is like a web app, it does not make sense there to activate/show this menu. See also #22.

[2018-02-16 06:45] arpank10 commented on #422
I want to work on this one.

[2018-02-16 06:47] arpank10 commented on #421
I think showcase view would be better, help does not provide all instructions like someone has to figure out that to delete a content you have to long click on that.

[2018-02-16 06:49] brijeshshah13 commented on #421
@mhutti1 @arpank10 @harshvardhan-takawale ShowcaseView sounds better.

[2018-02-16 06:55] moksh-mahajan opened #423 "Make search button's Onclick Action more precise."
The **search bar** opens up even when you click on **"Test"** i.e the space between the **3 bar icon** and the actual **search** button. Change the code so that **seach bar** will only appear when the **actual search icon**(**magnifying lens**) is clicked on.

[2018-02-16 06:57] brijeshshah13 commented on #423
@mhutti1 @moksh-mahajan Sounds good. Go ahead and refine it.

[2018-02-16 08:15] siddharth2010 opened #424 "Text not displayed properly in night mode"
**Is it a ?**

- [x] Bug Report

- [ ] Feature Request

## Bug Report
1. The Night mode Doesn't display the text along with the name of the language.
![screenshot_20180216-033226](https://user-images.githubusercontent.com/32238400/36298367-ca47d6d4-131d-11e8-8e4a-55356c03ba43.png)

### Step 1: Are you ready to report ?
   - Your issue may already be reported! Please search on the [issue track](../

[2018-02-16 08:27] siddharth2010 opened #425 "Negative Image on Help Screen in night mode"
**Is it a ?**

- [x] Bug Report

- [ ] Feature Request

## Bug Report

### Step 1: Are you ready to report ?
   - Your issue may already be reported! Please search on the [issue track](../) before creating one.
   - [x] I have test with the last (dev) version of the software?  ( If not, and if possible, run your test again with the most recent version available.)

### Step 2 : What is your environ

[2018-02-16 09:12] siddharth2010 commented on #424
I would like to work on this issue.

[2018-02-16 09:13] siddharth2010 commented on #425
I would like to work on this issue.

[2018-02-16 09:20] arpank10 opened #426 "Dialog Box style not changing until KiwixMobileActivity is refreshed."
**Is it a ?**

- [x] Bug Report

- [ ] Feature Request

## Bug Report
When changing from one mode to another, the dialog box styles do not change unless we go back to kiwixMobileActivity.
### Step 1: Are you ready to report ?
   - Your issue may already be reported! Please search on the [issue track](../) before creating one.
   - [x] I have test with the last (dev) version of the software?  ( If

[2018-02-16 10:27] RajaVamsi11 commented on #417
@mhutti1  I am interested in working on this issue.

[2018-02-16 10:40] mhutti1 commented on #55
Closing this as it is being made redundant.

[2018-02-16 10:40] #55 closed

[2018-02-16 10:43] mhutti1 commented on #422
Merged into #12

[2018-02-16 10:43] #422 closed

[2018-02-16 10:44] mhutti1 commented on #423
Won't fix. Feature not bug

[2018-02-16 10:44] #423 closed

[2018-02-16 10:48] mhutti1 commented on #425
I think it's better imo as there is less blinding white. Anyone else have any opinions?

[2018-02-16 10:52] siddharth2010 commented on #425
Now that you pointed it out, I guess you are right; the white background would sort of ruin the whole purpose of the night mode...

[2018-02-16 10:56] harshvardhan-takawale opened #428 "Feature: Give user an option to increase or decrease text size of the article."
**Is it a ?**
 Feature Request

## Feature Request

#### Feature Description

User can be given some option to change the text size (predefined options) of the Wikipedia article

## Are you willing to work on the issue?

Yes.

[2018-02-16 11:00] moksh-mahajan opened #429 "Make the search button onclick action more precise."
The search bar pops up even if we click on the space between the actual search button and the 3 bar icon. Make appropriate changes in the code so that it will open search bar only when search button is clicked.

[2018-02-16 11:01] moksh-mahajan commented on #429
Kindly review this issue @mhutti1  @kelson42

[2018-02-16 11:15] srv-twry commented on #429
@moksh-mahajan can you attach a GIF ?

[2018-02-16 11:18] srv-twry commented on #421
@harshvardhan-takawale If i understood correctly, you want to add a First Launch Activity to the application, right ?
If yes, then seems like a good idea.

[2018-02-16 11:26] srv-twry commented on #419
Yes, i will add the libraries used. I thought about the Roadmap and Screenshots as well, i don't think adding screenshots would be okay right now. The application is undergoing a huge amount of changes specially UI, it would be better IMO to wait till the end of GSOC to add the screenshots.

@mhutti1 Can you suggest what to add in the Roadmap. Do we have an abstract plan on how we want to go about

[2018-02-16 11:29] arpank10 commented on #429
@moksh-mahajan I think @mhutti1 already closed your previous issue saying that it is not a bug. This issue is the same. Please check and close the issue.

[2018-02-16 11:31] arpank10 commented on #428
@harshvardhan-takawale Pinch zoom is already there. I don't think it's necessary.

[2018-02-16 11:31] RajaVamsi11 opened #430 "Inappropriate dialog box in downloading fragment"
**Is it a ?**
 Bug report
## Bug Report
When a user want to cancel the downloading wiki article,a dialog box is popping up with white shaded in background.I attached a screenshot below.

### Step 2 : What is your environment ?
  * browser / app : ___app__
  * version of the software you use : _2.2 Build:53__
  * device / operating system : ___Android Version 4.4.2 ( ASUS_T00J)__

### Step 3: Descr

[2018-02-16 11:34] kelson42 commented on #428
@harshvardhan-takawale There is already a zoom option in the settings.

[2018-02-16 11:34] srv-twry commented on #429
@moksh-mahajan Please avoid doing this. You were already told that it isn't a bug. Creating the same issue multiple times won't make it any relevant.
It is strictly advised not to repeat this.

[2018-02-16 11:34] #429 closed

[2018-02-16 11:44] harshvardhan-takawale commented on #428
@kelson42 @arpank10 Reading is really very tough when you use zoom option, you have to scroll vertically as well as horizontally. If we add this feature it would be really helpful to the user as they just have to scroll vertically, the text would automatically adjust.

[2018-02-16 11:46] arpank10 commented on #236
So far what I found -
The uri parameter passed in the openFile method in zimContentProvider class is of the previous one. Somehow it doesn't get updated. Hence the same file opens. While it gets updated after reopening.
@mhutti1 Do you have any idea when the openFile() method is called?

[2018-02-16 11:47] harshvardhan-takawale commented on #421
Yes. I will start working on it as soon as the mentors give a thumbs up.

[2018-02-16 11:53] knightcube commented on #419
Hi i want to work on this issue. I have experience in android development as well and would like to work on some issues listed. However it seems like all are already assigned to someone or the other but i want to contribute as well. Can someone please guide me?

[2018-02-16 11:54] siddharth2010 commented on #417
@RajaVamsi11 , I just noticed something:
I changed android animation speed to 5x from the developer options and noticed that there is an animation in the menu, however it is too fast to notice.
There is however no such animation in the globe icon and the ok button in the sanguage selection dialog box.
![ezgif com-video-to-gif 1](https://user-images.githubusercontent.com/32238400/36306472-e0455ebe-

[2018-02-16 12:02] RajaVamsi11 commented on #417
@siddharth2010  yes the animation is too fast to notice.I liked the animation part of opening menu items.
Can we add animations to OK button and Globe icons?

[2018-02-16 12:14] moksh-mahajan commented on #423
Ok @mhutti1

[2018-02-16 12:15] moksh-mahajan commented on #429
@srv-twry  sorry my bad, I am new to github :(

[2018-02-16 12:50] siddharth2010 commented on #417
I guess what we are looking for is the ripple effect:
![untitled-5](https://user-images.githubusercontent.com/32238400/36308288-fe3451fc-1345-11e8-8b5b-c8dc6906bd12.gif)
It seems easy to impliment, just google it...

[2018-02-16 12:55] RajaVamsi11 commented on #417
I will @siddharth2010

[2018-02-16 13:15] RajaVamsi11 opened #431 "Delete unused import statements"
After going through the code base of app ,I found there are import statements which are not (app.. 8-10 import statements) used in that class.My idea is to delete the unused import statements.

**Would you like to work on it?**
Yes.

@mhutti1 @kelson42 what do you say?

[2018-02-16 14:17] mhutti1 commented on #431
You can do this if you want. Its not a huge issue at the moment.

[2018-02-16 14:21] mhutti1 commented on #419
There are plenty of issues. A lot of the easy ones are currently being attempted. There are lots of older issues to look at (they might require a rescope or are difficult to reproduce) and if you find any issues yourself you can report those.

[2018-02-16 14:24] mhutti1 commented on #419
@srv-twry @brijeshshah13 The 4 items listed on our GSoC page would form the basis of a Roadmap along with features implemented in kiwix-lib and then supported in kiwix-android. When I have a bit more time I will look at writing one up in collaboration with other stake holders.

[2018-02-16 14:26] mhutti1 commented on #421
@harshvardhan-takawale I would go ahead and build a prototype of this that we can review and then see how it flows

[2018-02-16 14:27] mhutti1 commented on #236
@arpank10 There are many tools in Android Studio that will do all this for you along with a simple repository search. Use them wisely.

[2018-02-16 14:53] mhutti1 commented on #425
If you don't like the look you could try recolouring it to look better while keeping minimal white else we can close this.

[2018-02-16 15:05] harshvardhan-takawale commented on #421
So I can work on it, right? I will make a prototype and share it with you. Also, can we use new opensource libraries while contributing to the org? @mhutti1

[2018-02-16 15:08] mhutti1 commented on #421
@harshvardhan-takawale You can use opensource libraries however keeping apk size down is also important.

[2018-02-16 15:44] RajaVamsi11 commented on #431
I will

[2018-02-16 16:22] moksh-mahajan opened #432 "Text headings of both the app drawers are not proper."
The text headings of the left and right app drawer are little trimmed from the top. I have attached screenshots. Kindly review it.

![screenshot_2018-02-16-21-40-52-755_org kiwix kiwixmobile](https://user-images.githubusercontent.com/36201975/36317625-9720e98a-1363-11e8-9c41-3fb96d3bb7b7.png)
![screenshot_2018-02-16-21-40-47-036_org kiwix kiwixmobile](https://user-images.githubusercontent.com/3620

[2018-02-16 16:26] arpank10 opened #433 "Download resumes on restarting app even after stopping."
**Is it a ?**

- [x] Bug Report

- [ ] Feature Request

## Bug Report

On stopping the download, it stops, but as soon as kiwix is restarted, it resumes. Stopping from both the library downloads and notification gives this behaviour.
### Step 1: Are you ready to report ?
   - Your issue may already be reported! Please search on the [issue track](../) before creating one.
   - [x] I have test with

[2018-02-16 16:26] mhutti1 commented on #432
Can you post your device details. Following the https://github.com/kiwix/kiwix-android/blob/master/.github/ISSUE_TEMPLATE.md

[2018-02-16 16:33] arpank10 commented on #236
Actually it is not called anywhere in the repository.I should have mentioned it in the previous comment.I checked it with both find usages and search. It must been called by some method of the content provider class, anyways I will look into it.

[2018-02-16 16:47] moksh-mahajan commented on #432
@mhutti1
browser / app :Kiwix
version of the software you use : 2.2
device / operating system : Xiaomi Redmi 1s/ Android version 4.4.4

[2018-02-16 16:49] mhutti1 commented on #236
If you right click and goto super you can see its a stub method in ContentProvider.class this normally means that it is called by a system component in this case automatically by the WebView

[2018-02-16 17:15] srv-twry commented on #431
@RajaVamsi11 I would suggest you please don't go ahead with it right now.
We can do it after we have a plan on how to avoid unused imports from creeping in the project at the first place. I was thinking about opening an issue to setup Codacy PR reviews which can be configured to take care of things like unused imports, unused variables and methods in a PR.
Then only we can clear these and make sur

[2018-02-16 18:04] mhutti1 commented on #431
@srv-twry That certainly sounds interesting. If you want to open an issue go ahead. We already have a basic linter I am not sure what the advantages of other specialised tools would be.

[2018-02-16 20:23] Nair18 opened #435 "Adding a search option to bookmark page"
When you have too many bookmarks to deal with its better to have a "search in bookmark" option which will make it easier to search through marked contents instead of just linearly searching.

![screenshot_2018-02-17-01-43-35-619_org kiwix kiwixmobile](https://user-images.githubusercontent.com/15075776/36327547-eb7cf7a0-1384-11e8-8614-c98571a19aba.png)

[2018-02-16 20:29] brijeshshah13 commented on #435
@mhutti1 @Nair18 Nice idea. Go ahead and implement it.

[2018-02-16 20:37] brijeshshah13 opened #437 "Crunch PNG files"
**Is it a ?**

- [ ] Bug Report

- [x] Feature Request

## Feature Request

#### Feature Description

`aapt` tool can optimize the image resources placed in `res/drawable/` with lossless compression & can convert a true color PNG that does not require more than 256 colors to an 8-bit PNG with a color palette.

**Proof**

Before:
![before](https://user-images.githubusercontent.com/18366144/36328173

[2018-02-16 20:57] mhutti1 commented on #435
I would hold out on implementing this now as per #55 @kelson42 Is this going to be included in the changes?

[2018-02-16 21:29] RajaVamsi11 commented on #431
@srv-twry  Can i close this issue?

[2018-02-16 22:15] #431 closed

[2018-02-16 22:27] #389 closed

[2018-02-17 02:57] siddharth2010 commented on #425
sure I will tinker around with it on photoshop, and see if I can improve it in some way...

[2018-02-17 02:58] #391 closed

[2018-02-17 03:08] siddharth2010 commented on #373
I guess you all are right. This is not really the best use of GSoC. And @srv-twry , I just checked out the link and I understand the idea now. The idea I had in mind was too complicated. And most of the functionality is already there in the freenode bot. So my idea is not really the best one to implement right now...
Thanks a lot for your suggestions!

[2018-02-17 04:28] harshvardhan-takawale commented on #428
@kelson42 @mhutti1 Something of this kind (sorry for bad video quality) -

![textsize](https://user-images.githubusercontent.com/28982436/36337965-10ba6c2a-13c9-11e8-9867-251968f53bff.gif)

[2018-02-17 09:13] ArifinCse opened #440 "Add fastscroller in search option"
![screenshot-1494-e1427143922842](https://user-images.githubusercontent.com/35919505/36339507-d4211f38-13f1-11e8-92a2-b0722eca0d72.png)

## Feature Request

#### Feature Description

A simple FastScroller where a user can also search by index (alphabetically).

[2018-02-17 09:16] RajaVamsi11 commented on #402
@mhutti1 @srv-twry  I am facing this problem now.Anyone know  how to solve it??

[2018-02-17 10:04] siddharth2010 opened #441 "using same Fonts in the library screen"
**Is it a ?**

- [x] Bug Report

- [ ] Feature Request

## Bug Report
in the library screen
When there is no network and the list of articles cannot be loaded, the font on the online and the Downloading screen is different.
![11](https://user-images.githubusercontent.com/32238400/36339990-b20be6c0-13f7-11e8-9fe7-a21412c1868f.png)
This is the font on the Downloading tab:
![22](https://user-images.g

[2018-02-17 10:04] siddharth2010 commented on #441
I would like to work on this issue

[2018-02-17 10:16] siddharth2010 opened #442 "text being cut on Help screen"
**Is it a ?**

- [x] Bug Report

- [ ] Feature Request

## Bug Report

### Step 1: Are you ready to report ?
   - Your issue may already be reported! Please search on the [issue track](../) before creating one.
   - [x] I have test with the last (dev) version of the software?  ( If not, and if possible, run your test again with the most recent version available.)

### Step 2 : What is your environ

[2018-02-17 10:16] siddharth2010 commented on #442
I would like to work on this issue

[2018-02-17 10:22] siddharth2010 commented on #425
I think that this is probably the best solution. I thought of making the background grey instead of brown, but I think that brown gave a better overall highlight to the image... So I guess we can close this issue then.

[2018-02-17 13:48] harshvardhan-takawale commented on #421
@mhutti1 So I worked on it and here is a demo. (I didn't pay a lot of attention to text,drawables, and color, I'll change it later and I can try animating the swipe gesture)
![onboard](https://user-images.githubusercontent.com/28982436/36341638-53debd32-1417-11e8-8698-8a94e2d8cef2.gif)

[2018-02-17 13:51] rashiq commented on #421
I think something like this wasn't what we had in mind but more of a paging
wizard

On Sat, Feb 17, 2018, 14:48 Harshvardhan Takawale <notifications@github.com>
wrote:

[2018-02-17 13:57] harshvardhan-takawale commented on #421
You mean something like in the image in my issue?

[2018-02-17 16:17] brijeshshah13 opened #443 "Configure Fabric to automatically post crash reports"
**Is it a ?**

- [ ] Bug Report

- [x] Feature Request

## Feature Request

#### Feature Description

Currently, we are unable to map our user's **Oh, crap!** moments when our app crashes or behaves erroneously. Thus, we can configure Fabric library (Crashlytics) to automatically post crash reports to us, the developers. And the best thing about Fabric is that it can provide all the fields in repo

[2018-02-17 16:40] kelson42 commented on #443
@brijeshshah13 Have you seen https://github.com/kiwix/kiwix-android/issues/335 ? It seems to be quite the same to me.

[2018-02-17 16:58] kelson42 commented on #442
@siddharth2010 I do not understand the problem, can you not just scroll down?

[2018-02-17 16:59] siddharth2010 commented on #442
yes thats the problem... I cant scroll down below that

[2018-02-17 17:00] kelson42 commented on #442
@siddharth2010 Then go ahead :)

[2018-02-17 17:11] srv-twry commented on #442
@siddharth2010 Sorry but i couldn't understand what you meant by text get's cut ? Can you please elaborate :)

[2018-02-17 17:58] moksh-mahajan commented on #435
Appreciate this idea!!

[2018-02-17 18:07] kelson42 commented on #435
@mhutti1 I confirm, I would not invest time to implement new features on the bookmarks. For the future, all the bookmarks features should be provided by the core library so the kiwix-android developers can focus on UI stuff.

[2018-02-17 18:11] brijeshshah13 commented on #443
@kelson42 @mhutti1 I didn't knew about that, but I do want to ask this question: Why go through all this pain and extra code only to provide facility which can be achieved by adding just a few lines of code? I mean, Crashlytics is free of cost and provides all the data at a moment's notice.

Why am I insisting on using Crashlytics?

- Free of cost

- Most of the times, the users will select the `N

[2018-02-17 18:23] kelson42 commented on #443
@mhutti1 @ISNIT0 @julianharty @EladKeyshawn ?

[2018-02-17 18:25] kelson42 commented on #440
@ArifinCse I do not understand where do you want to build that exactly?

[2018-02-17 21:09] mhutti1 commented on #428
If you want to try to try to implement this without too much overhead then you can try to and we will see how it works out.

[2018-02-17 21:10] mhutti1 commented on #402
@RajaVamsi11 it is not an error only a warning it has no consequential effects on anything.

[2018-02-17 21:14] mhutti1 commented on #421
@harshvardhan-takawale This could work well possibly. There is currently a vertical offset issue and its too quick do you have this uploaded anywhere to test?

[2018-02-17 21:15] #435 closed

[2018-02-17 21:17] mhutti1 commented on #443
As far as I am aware #335 is the first step towards addressing user crashes. The main point being we do not want to start sending user data anywhere without their explicit permission. As such we will need to take the time to ensure external libraries fully meet our neeeds.

[2018-02-17 21:18] mhutti1 commented on #440
I assume this is for scrolling through content. Is this an external library or does it come with the support libraries?

[2018-02-17 22:52] harshvardhan-takawale commented on #421
I have rectified the offset issue. Where should I upload it, to my forked repository? @mhutti1

[2018-02-17 23:09] #426 closed

[2018-02-17 23:32] #441 closed

[2018-02-17 23:36] mhutti1 commented on #421
Yeah

[2018-02-17 23:42] harshvardhan-takawale commented on #421
Done. It is in the "showcase" branch

[2018-02-18 01:10] mhutti1 commented on #413
See notes in the closed pull request for remaining work needed

[2018-02-18 02:54] ArifinCse commented on #440
@mhutti1 external library is not needed. After indexing content, you can scroll to that position manually. All of the code logic for indexing and scrolling need to be written.

[2018-02-18 03:00] srv-twry commented on #440
@ArifinCse Where will you apply this ? I mean which list/RecyclerView do you want to apply it on ?

[2018-02-18 03:32] brijeshshah13 commented on #443
@mhutti1 Well, that's the best thing. Fabric doesn't report any user data, only the crash data. No private info of the user is exposed thus preserving their right to privacy. You can examine the data collected and analytics from the dashboard and take a decision whether or not we want to incorporate this in our app. I have invited you to join the Team at Fabric. Please check your email.

[2018-02-18 04:55] paologarcia002 commented on #344
Hello, I am new to the project but I was wondering if I can work on this to get started?

[2018-02-18 04:59] brijeshshah13 commented on #344
@mhutti1 @paologarcia002 Sure. Go ahead.

[2018-02-18 05:30] harshvardhan-takawale commented on #428
@mhutti1 @kelson42 @rashiq This is how it can be implemented (I'll change the seekbar location)
![kiwixtext](https://user-images.githubusercontent.com/28982436/36348663-ec35ec8a-149a-11e8-87d6-2586f723f396.gif)

[2018-02-18 05:40] brijeshshah13 commented on #443
@mhutti1
**Update** Fabric also provides this: _**When a crash occurs in any version of your app, this will ask your users if that crash should be reported. If you’d like to enable it, you can do it in your app settings page.**_

However, when I tried to check it out, I was shown this dialog box informing the same point I mentioned above.

![fabric](https://user-images.githubusercontent.com/183661

[2018-02-18 06:58] Nair18 opened #451 "My status bar turns white when i open the kiwix app in my mobile"
**Is it a ?**

-  Bug Report

## Bug Report

### Step 1: Are you ready to report ?
   - Your issue may already be reported! Please search on the [issue track](../) before creating one.
   - [ ] I have test with the last (dev) version of the software?  ( If not, and if possible, run your test again with the most recent version available.)

### Step 3: Describe the problem:

  * What do you obtain?

[2018-02-18 08:03] kelson42 commented on #451
@Nair18 Would you be able to fix it? It works for me, so I suspect a bug with your particular version of Android

[2018-02-18 08:07] kelson42 commented on #375
@mhutti1 Any feedback? Looks ok to me to reduce a bit the size of the logo.

[2018-02-18 08:25] siddharth2010 opened #452 "font color of "credits", "language" and "Clear history" dialog boxes in settings"
**Is it a ?**

- [x] Bug Report

- [ ] Feature Request

## Bug Report

### Step 1: Are you ready to report ?
   - Your issue may already be reported! Please search on the [issue track](../) before creating one.
   - [x] I have test with the last (dev) version of the software?  ( If not, and if possible, run your test again with the most recent version available.)

### Step 2 : What is your environ

[2018-02-18 08:26] siddharth2010 commented on #452
I would like to work on this issue

[2018-02-18 08:32] siddharth2010 commented on #452
This issue has already been fixed.

[2018-02-18 08:32] #452 closed

[2018-02-18 08:39] siddharth2010 commented on #452
this issue got fixed when the "dislogStyle()" function in "StyleUtils.java" was modified when fixing #411

[2018-02-18 08:50] siddharth2010 opened #453 "change font color of "Clear all history" dialogbox"
**Is it a ?**

- [x] Bug Report

- [ ] Feature Request

## Bug Report

### Step 1: Are you ready to report ?
   - Your issue may already be reported! Please search on the [issue track](../) before creating one.
   - [x] I have test with the last (dev) version of the software?  ( If not, and if possible, run your test again with the most recent version available.)

### Step 2 : What is your environ

[2018-02-18 09:13] ArifinCse commented on #440
@srv-twry In SearchActivity.java (listview). Keep an available titles (uri) in sorted order in a list. Then apply fastscroller. In current implementation,  search window is empty for the very first time. Then it keeps recent search history shown when enters into search window. In my proposal, list is filled up with available uri and uris are indexed. Most recent search can be shown when a user tap

[2018-02-18 09:26] kelson42 commented on #453
What does the Android UI guidelines say about that? I hardly believe that blue color has been chosen randomly.

[2018-02-18 09:34] siddharth2010 commented on #453
Actually the blue color was chosen here: https://github.com/kiwix/kiwix-xulrunner/issues/259

[2018-02-18 09:36] kelson42 commented on #453
@siddharth2010 Thank you for digging out that ticket. @mhutti1 You are in lead here, what ever the decision is we need to be coherent and being able to explain why we do that way.

[2018-02-18 09:46] kelson42 commented on #428
@harshvardhan-takawale With the zoom level in the settings, the whole text is wrapped properly, you should not have to scroll horizontally. This is at least not the behaviour I have on my devices.

[2018-02-18 09:47] kelson42 commented on #344
@paologarcia002 That would be really welcome, as this bug clearly show a flaw in the pages caching system.

[2018-02-18 09:49] ArifinCse commented on #440
Indexing logic is totally handled by code. We don't need to use any library. Non-latin alphabets have ascii value. So we can index using ascii value or use "Trie data structure" or hashing, any logic can be applied for indexing depending on the situation with .
Added value:
- User gets more information in the search window.
- User gets search results more faster.Instead of typing letters,  by clic

[2018-02-18 10:28] siddharth2010 commented on #414
@kelson42 , I'd love to have your thoughts on this.

[2018-02-18 10:45] brijeshshah13 commented on #451
@Nair18 Coud please confirm the same by running in Android Emulator for the same Android Version?

[2018-02-18 10:54] harshvardhan-takawale commented on #428
@kelson42 Well that doesn't happen on my device (Moto G4 plus). Also when I change it back to original size, the text gets skewed. Should I make a PR for the feature?
![20180218_161345](https://user-images.githubusercontent.com/28982436/36350976-1635f7d2-14c8-11e8-987f-5db39bf3ed30.gif)

[2018-02-18 11:07] kelson42 commented on #428
@harshvardhan-takawale Yes, please go ahead like @mhutti1 invited you to do.

[2018-02-18 11:07] harshvardhan-takawale commented on #421
@mhutti1 Did you take a look at the feature? Should I implement it in the actual app and make a PR?

[2018-02-18 11:43] RajaVamsi11 commented on #403
As the issue has been solved .I am closing it.

[2018-02-18 11:43] #403 closed

[2018-02-18 12:29] siddharth2010 commented on #442
I checked the app with quite a few devices, and came to the conclusion that this is an issue with the Samsung android rom and not  with the app. this issue is present in both Samsung S6 and S7.

[2018-02-18 12:31] siddharth2010 commented on #451
@Nair18 , @kelson42 , I guess the problem is with the Xiaomi UI that your phone is using and not with the app. A similar set of issues are also there in the Samsung UI (#442 )

[2018-02-18 12:44] abdulwd commented on #375
@brijeshshah13 @kelson42 May I help? I have done this type of refactoring multiple times.

[2018-02-18 13:59] RajaVamsi11 opened #456 "Create a custom Toast View"
**Is it a ?**

- [  ] Bug Report

- [ ] Feature Request

## Bug Report

### Step 2 : What is your environment ?
  * browser / app : ___app__
  * version of the software you use : ___2.3 Bulid:55__
  * device / operating system : _android emulator____

### Step 3: Describe the problem:

When a user click an article in the list of Wikipedia articles in online fragment,if the phone has no sufficient

[2018-02-18 14:12] kelson42 commented on #375
@abdulwd This task is assigned and Afaik mostky waiting a review of the PR

[2018-02-18 14:27] abdulwd opened #457 "Increment the compile and target SDK version"
**Is it a**

- [x] Bug Report

- [ ] Feature Request

## Bug Report
The compileSdkVersion and targetSdkVersion which are set to versions 26 and 25, respectively, must be changed to 27 as latest Android APIs must be used to make use of the latest features. Along with it build tools version has to be changed and Travis CI has to be reconfigured.

@mhutti1 @kelson42 Can you please review the issue? I

[2018-02-18 14:33] paologarcia002 commented on #344
What version did this happen on or was this a general issue

[2018-02-18 14:36] abdulwd commented on #375
Okay. :)

[2018-02-18 14:42] kelson42 commented on #344
@paologarcia002 It was a nightly.

[2018-02-18 15:22] brijeshshah13 commented on #451
@mhutti1 Please take a note of the same and suggest the steps that should be taken to deal with the issue.

[2018-02-18 15:47] brijeshshah13 commented on #456
@RajaVamsi11 Can you please specify your phone details and android version because for me it's working all fine. Here:

![screenshot_20180218-211521](https://user-images.githubusercontent.com/18366144/36353817-2037aeb4-14f1-11e8-9b45-ab1c8d71cad4.png)

[2018-02-18 15:53] RajaVamsi11 opened #458 "Add Dialog Box"
**Is it a ?**

- [ ] Bug Report

- [  ] Feature Request

## Feature Request

#### Feature Description

In online fragment there are many Wikipedia articles available to download.When an user click on any particular article,it will begin to start downloading.

My feature request is that to add a conformation dialog box (To confirm download)  which pops up when a user clicks on the article to downlo

[2018-02-18 15:54] omkarprabhu-98 commented on #442
@siddharth2010  Even I am facing the same issue. I have Motorola G4 Plus.

[2018-02-18 15:55] RajaVamsi11 commented on #456
It is in emulator @brijeshshah13

[2018-02-18 16:11] brijeshshah13 commented on #456
@RajaVamsi11 Still can you please post the Android version so that we can confirm that it is infact the issue of the emulator.

[2018-02-18 16:15] kelson42 commented on #458
I have no strong opinion on this.

[2018-02-18 16:17] RajaVamsi11 commented on #456
Android version 8.1.0  (Emulator)

[2018-02-18 16:18] RajaVamsi11 commented on #458
@kelson42  What does it mean??

[2018-02-18 16:19] kelson42 commented on #458
@RajaVamsi11 I'm neither a strong supporter nor a strongly against.

[2018-02-18 16:22] kelson42 commented on #457
@abdulwd Would that brake any compatibility with older devices?

[2018-02-18 16:27] brijeshshah13 commented on #442
@siddharth2010 @omkarprabhu-98 Can you please try adding `android:paddingBottom="20dp"` (you can change the value to what suits the best) and try to test it again on the devices in which the last card gets cut off and let me know if that works?

[2018-02-18 16:35] kelson42 commented on #421
@ISNIT0 had a made a mockup of something similar. Would be great to link it here.

[2018-02-18 16:38] abdulwd commented on #457
@kelson42 That will not break any compatibility with older devices as minSdkVersion will remain same.

[2018-02-18 16:41] siddharth2010 commented on #442
@omkarprabhu-98 , I actually tried it on a moto g4 plus myself, and it was working perfectly.

[2018-02-18 16:44] siddharth2010 commented on #442
@brijeshshah13 , I already tried that. It doesn't work. However, adding a "space" widget of height 85dp in the ind fixes this issue on my device. But then the devices on which the app was earlier showing correctly start showing a blank space in the end...

[2018-02-18 16:48] siddharth2010 commented on #442
Hey @brijeshshah13 , @omkarprabhu-98  I found a fix.

[2018-02-18 16:50] siddharth2010 commented on #442
I uninstalled all instances of the app from my phone and deleted the kiwix associated folder from the internal storage. Then I reinstalled the app and now it's working perfectly on my phone.

[2018-02-18 16:56] siddharth2010 commented on #442
This does sounds a bit unlikely, but after opening and closing the app a couple of times, the same thing started happening again, and so now the text is again being cut.

[2018-02-18 16:57] kelson42 commented on #414
@mhutti1 @siddharth2010 I'm a bit overasked here. My answer would tend to be "no" as it does not seem really necessary and this kind of feature tends to consume quite a bit of CPU resources which makes the whole app will probably slower on low-end devies (and we do not want this).

[2018-02-18 16:58] kelson42 commented on #457
@abdulwd thx
@mhutti1 this decision is for you to make taken.

[2018-02-18 16:59] #414 closed

[2018-02-18 17:01] kelson42 commented on #413
@brijeshshah13 @mhutti1 Can we please clearly document here (in this ticket) what is still to do (I see nothing here https://github.com/kiwix/kiwix-android/pull/449 ?

[2018-02-18 17:02] abdulwd opened #459 "Migrate to RxJava 2.x"
**Is it a**

- [x] Bug Report

- [ ] Feature Request

## Bug Report
**RxJava 2.x** was released _a long time back_ and it was completed written from scratch and it evolved out of **RxJava 1.x**. Presently, RxJava 1.x is being used in the app but we must migrate to **RxJava 2.x** as it is more powerful and will have longer support. Most libraries have switched to **RxJava 2.x**. I can see 10 instan

[2018-02-18 17:27] abdulwd commented on #459
@kelson42 @mhutti1 Please review this issue.

[2018-02-18 17:49] kelson42 commented on #459
@mhutti1 For you, no clue about that.

[2018-02-18 17:56] kelson42 commented on #437
@brijeshshah13 just go ahead please and make a PR.

[2018-02-18 18:01] kelson42 commented on #391
@mhutti1 I'm quite sure the numbers are not formatted in the ZIM files, and the Kiwix lib should provide them unformatted.
@siddharth2010 What you need to know is that the way to represent (big) numbers might change from language to language as each language tends to have its own typography rules. Libicu provides a small page about that here http://userguide.icu-project.org/formatparse/numbers. As

[2018-02-18 18:08] brijeshshah13 commented on #437
@kelson42 The PR has already been issued. It is pending due to some rebasing issues which will be issued as soon as @mhutti1 guides me about the commits he wants in the branch to be able to merge.

[2018-02-18 18:10] siddharth2010 commented on #391
sure. I will  look into it.

[2018-02-18 18:17] srv-twry commented on #459
I agree. We should upgrade to RxJava2 since it is now the new standard.

[2018-02-18 18:21] srv-twry opened #460 "Add GPL3 header in each source file"
**Is it a ?**

- [ ] Bug Report

- [x] Feature Request

## Feature Request

#### Feature Description

As discussed in #420, we should all GPL3 header like in [this](https://github.com/kiwix/kiwix-xulrunner/blob/master/src/server/kiwix-serve.cpp) in every source file.

[2018-02-18 18:22] kelson42 commented on #460
@srv-twry yes!

[2018-02-18 18:45] kelson42 commented on #67
Related to https://github.com/kiwix/kiwix-android/issues/457 looks like

[2018-02-18 18:48] kelson42 commented on #392
@siddharth2010 Thx, fixed here https://github.com/kiwix/maintenance/commit/8807a2cef07ca96caf4bc57033ec9bbea8c71c72

[2018-02-18 18:50] kelson42 commented on #383
The empty dialog box has been fixed, but the rest of the problem is still there.

[2018-02-18 18:52] kelson42 commented on #365
@Koundinyalanka Could you please give the link of the PR for that ticket please?

[2018-02-18 18:55] srv-twry commented on #458
@RajaVamsi11 I disagree on this. It isn't standard to confirm for downloading things.
We usually confirm for changes which aren't invertible for eg. deleting something. If the user starts downloading accidently, he/she can easily cancel the downloading without any harm done.

[2018-02-18 19:04] RajaVamsi11 commented on #458
@srv-twry  OK. Can i close it?

[2018-02-18 19:04] arpank10 commented on #383
@kelson42 The code is written in such a way that unless we get the languages count, the dialog box would remain empty or in this case not display, and whenever we click the globe everytime `Locale.getISOLanguages()` returns a list of languages. All those languages are checked then if they are in languageCount list. I think in your case, this is where it gets slow.

[2018-02-18 19:05] srv-twry commented on #458
Let's wait for other's suggestion on this.

[2018-02-18 19:10] siddharth2010 opened #461 "Remove redundant "kiwix" label from each entry in online tab in library"
**Is it a ?**

- [ ] Bug Report

- [ ] Feature Request

- [x] Something Else

## Bug Report

### Step 1: Are you ready to report ?
   - Your issue may already be reported! Please search on the [issue track](../) before creating one.
   - [x] I have test with the last (dev) version of the software?  ( If not, and if possible, run your test again with the most recent version available.)

### Step 2

[2018-02-18 19:11] kelson42 commented on #461
Kiwix is the "publisher" metadata of the content. This is maybe a good idea.

[2018-02-18 19:13] siddharth2010 commented on #461
So do you think we should go ahead with removing it?

[2018-02-18 19:40] Nair18 commented on #451
In #432 the guy uses the same phone that I use, with same android version(4.4)

[2018-02-18 19:58] Nair18 opened #462 "Zoom controls option in settings seems redundant."
**Is it a ?**

- [x] Bug Report

- [ ] Feature Request

## Bug Report

### Step 2 : What is your environment ?
  * browser / app : kiwix
  * version of the software you use : latest
  * device / operating system : redmi 1s/4.4 kitkat

### Step 3: Describe the problem:
       I find the zoom controls option in settings redundant because I am able to zoom in and out even if  the option is disabled a

[2018-02-18 23:17] mhutti1 commented on #443
Even a simple crash report could contain identifying information that in certain circumstances could identify a user. If we get their permission as you suggest it could work however I think we will need to think this over a bit.

[2018-02-18 23:18] mhutti1 commented on #453
Text like this should certainly be black

[2018-02-18 23:23] mhutti1 commented on #456
Lets keep this open for a bit and see if anyone can reproduce unless you have specific information that leads you to think this is the emulato.,

[2018-02-18 23:25] mhutti1 commented on #421
I will look at it soon. You can create a pr if you want but beware it might be for nothing if we need to redesign the suggestion.

[2018-02-18 23:27] mhutti1 commented on #413
@kelson42 its in #415 in a review. Hard to see though as its auto closed.

[2018-02-18 23:29] mhutti1 commented on #391
@kelson42 Numbers sure but the 50000 articles is a String in a description and as such no such formatting exists.

[2018-02-18 23:29] mhutti1 commented on #459
Sure go ahead.

[2018-02-18 23:30] mhutti1 commented on #67
In a way but minsdk is what might block this

[2018-02-18 23:33] mhutti1 commented on #458
I don't think this is a problem. We already have one for non WiFi connections,

[2018-02-18 23:34] mhutti1 commented on #461
Shifting up likely wouldn't work as some descriptions are quite long.

[2018-02-18 23:35] mhutti1 commented on #451
If this is an issue on your phone then go ahead and try fix it but be careful not to mess up other versions.

[2018-02-18 23:36] mhutti1 commented on #462
I agree the UI isn't very clear but the option enables the button bellow. Can you confirm that you didn't realise this?

[2018-02-18 23:55] #453 closed

[2018-02-19 00:11] ISNIT0 commented on #421
@kelson42 The mockups weren't fully featured/thought out, they can be seen here though: https://www.figma.com/file/aloDDgh0zCRTtRYwURNdXdU6/KIWIX

[2018-02-19 01:08] paologarcia002 commented on #456
I don’t have the screen shot but when I was working earlier today this happened, although I’ll redo it and get a screen cap if I see if the bug gets reproduced again.

[2018-02-19 03:44] knightcube opened #463 "Random article is being fetched infrequently"

[2018-02-19 03:50] #463 closed

[2018-02-19 04:35] knightcube opened #464 "MVP pattern in KiwixMobileActivity.java"
**Is it a ?**
- [x] Feature Request

## Feature Request
Implement MVP in KiwixMobileActivity.java to enhance readbility

[2018-02-19 05:18] knightcube opened #466 "Fix deprecated method in ZimManageActivity"
`MenuItemCompat.expandActionView(menu.findItem(R.id.action_search));`
This line has a deprecated method - expandActionView().

[2018-02-19 05:38] #458 closed

[2018-02-19 07:57] RajaVamsi11 commented on #456
ok..lets wait and see @mhutti1

[2018-02-19 08:42] srv-twry commented on #464
@knightcube I proposed the same and was instructed not to touch the KiwixMobileActivity right now, since it is a big task and should be done after some time.

[2018-02-19 08:42] #464 closed

[2018-02-19 08:55] brijeshshah13 commented on #443
@mhutti1 No problem. However, I myself have gone through the whole procedure and can't locate any instance where the identity of the user is exposed. Please take your time to analyze the Fabric dashboard and share what you conclude.

[2018-02-19 09:17] brijeshshah13 commented on #442
@siddharth2010 Okay. Thank you for the updates. Can you please try to change the `layout_height` to `match_parent` and see if that works for the good?

[2018-02-19 11:02] siddharth2010 commented on #442
sure, just a second.

[2018-02-19 11:41] siddharth2010 commented on #442
I tested this on 3 phones: 2 android 7.0 and one android 6.0.1.
heres the report:
Samsung S6, and Moto g4+ (android 7.0): text was being cut initially,
Coolpad 3600I android 6.0: layout was initially perfect.

after adding padding to scrollview of 85dp, the layout on samsung and moto phones was perfect however, on coolpad it showed a persistant space on the screen.

the rest of the fixes had no ef

[2018-02-19 11:45] brijeshshah13 commented on #442
@siddharth2010 Alright. Well, let's put this issue alive then until someone gets a workaround or a solution.

[2018-02-19 11:45] siddharth2010 commented on #442
sure.

[2018-02-19 13:49] Nair18 commented on #462
Yah I noticed my mistake I am sorry.

[2018-02-19 13:55] brijeshshah13 commented on #462
@Nair18 Please close the issue if it has been resolved or conceptually cleared.

[2018-02-19 15:19] RajaVamsi11 commented on #430
@mhutti1  I thought it was solved because  the dialog box is normal when i imported the latest version code from github.

[2018-02-19 17:22] srv-twry opened #469 "Make package structure robust"
**Is it a ?**

- [ ] Bug Report

- [ ] Feature Request

- [x] Refactor

#### Description

Right now the package structure isn't very good. Infact it isn't followed very well. It should be made robust and code should be packaged into different sections on the basis of features. It is crucial before trying to make the application testable.

@mhutti1 @brijeshshah13  views ?

[2018-02-19 17:57] brijeshshah13 commented on #469
@srv-twry I very much agree with you. Even I felt the same need because whenever I try to introduce something new by replacing the old, I end up dealing with multiple conflicts with several packages. May I ask how do you plan to solve this?

[2018-02-19 17:59] abdulwd commented on #460
In my opinion, we must keep this open for new contributors. We can accept the addition of the licence to a single source file from each new contributor. So in this way, it will help different new contributors learn how to contribute to open source organisation.

[2018-02-19 18:05] srv-twry commented on #460
Cool with that.

[2018-02-19 18:07] omkarprabhu-98 opened #470 "Feature: Update Side Nav"
**Is it a ?**

- [ ] Bug Report

- [x] Feature Request

## Feature Request

#### Feature Description

Update the side nav with Material design guidelines

Before:
![screenshot_20180219-232938 1](https://user-images.githubusercontent.com/23053768/36391564-fea4ddda-15cc-11e8-8d88-85427285e2de.png)

To achieve:

![layout-structure-sidenav2](https://user-images.githubusercontent.com/23053768/36391588-

[2018-02-19 18:48] srv-twry commented on #469
@brijeshshah13 Please check the PR :)

[2018-02-19 19:47] #462 closed

[2018-02-19 20:11] paologarcia002 commented on #344
Just out of curiosity, but how does a particular item like the ted business item from get rendered within the app?

[2018-02-19 23:25] mhutti1 commented on #421
I think the scope of this issue can vary drastically. We should probably start by implementing a simple screen.

[2018-02-19 23:35] mhutti1 commented on #430
It is not fixed for me on an API 16 emulator.

[2018-02-19 23:39] mhutti1 commented on #470
I don't know. The trouble is that that style is normally used for separate fragments with different functions as it ocludes the search bar this makes sense. Our tabs are not really like that. I think that might be a deeper issue. It is proberbly a better idea to switch to tabs the way that chrome/wikipedia app do.

[2018-02-19 23:41] mhutti1 commented on #344
WebView taking HTML page from ZimContentProvider

[2018-02-20 00:08] #400 closed

[2018-02-20 00:36] paologarcia002 commented on #344
Thanks

[2018-02-20 03:18] brijeshshah13 commented on #470
@omkarprabhu-98 I agree with @mhutti1's view. Instead of revamping the navigation drawer, we must go with the tabs, which will indeed take a lot of time and conflict solving.

[2018-02-20 04:37] harshvardhan-takawale commented on #421
@mhutti1 Should I start implementing this? Can you state your ideas so that I can work on that, as in what do we exactly want? (Showcase view kind of thing or a viewpager)

[2018-02-20 08:54] siddharth2010 opened #472 "Text not showing in Library screen in dark mode"
**Is it a ?**

- [x] Bug Report

- [ ] Feature Request

## Bug Report

### Step 1: Are you ready to report ?
   - Your issue may already be reported! Please search on the [issue track](../) before creating one.
   - [x] I have test with the last (dev) version of the software?  ( If not, and if possible, run your test again with the most recent version available.)

### Step 2 : What is your environ

[2018-02-20 09:30] siddharth2010 commented on #417
@mhutti1 @RajaVamsi11 , I was just looking at chome and I noticed that chrome too has removed the ripple animation in the overflow options menu in the latest version:
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/32238400/36416071-01835eb0-164e-11e8-9855-34304fd9d7c1.gif)

So I was wondering whether adding ripple animation, to the overflow options menu, would be good, or not.

[2018-02-20 10:45] knightcube opened #473 "Multiple files download feature"
**Is it a ?**

- [ ] Bug Report

- [x] Feature Request

## Feature Request
A feature to download Multiple Files by selecting multiple files in the listview in the Online tab
#### Feature Description
There can be a feature where the user selects multiple files from the list provided in the Online tab. And then show an Alert Dialog to confirm the downloads and then start downloading files one by one

[2018-02-20 10:55] knightcube opened #474 "Stop Reading Aloud once the random article option is selected"
**Is it a ?**

- [x] Bug Report

- [ ] Feature Request

## Bug Report

### Step 1: Are you ready to report ?
   - Your issue may already be reported! Please search on the [issue track](../) before creating one.
   - [x] I have test with the last (dev) version of the software?  ( If not, and if possible, run your test again with the most recent version available.)

### Step 2 : What is your environ

[2018-02-20 13:17] RajaVamsi11 commented on #430
Ok..i will work on it @mhutti1

[2018-02-20 13:26] siddharth2010 commented on #425
@mhutti1 @kelson42 @srv-twry What do you think about this?

![new](https://user-images.githubusercontent.com/32238400/36426216-66471474-166f-11e8-8612-d06dffefabfe.png)

Adding a blue light filter not only makes it easier for the eyes but also helps in retaining the original feel of the image that was somehow lost in making it negative...

Do you suggest some other edits?

[2018-02-20 13:27] okkebal commented on #86
"We need to look at reducing apk size"

Why?  Did anyone complain about this? People have to download Zim files that re many Gb's in size and you guys worry about a 15 Mb APK??   What is going on here?

[2018-02-20 13:29] siddharth2010 commented on #425
Here are the images:
original:
![kiwix_welcome](https://user-images.githubusercontent.com/32238400/36426393-d6bdedea-166f-11e8-9be8-8566e4684e3b.png)
new (for night mode):
![sid](https://user-images.githubusercontent.com/32238400/36426477-1c2a119c-1670-11e8-92a3-14f145c8894f.png)

[2018-02-20 13:29] siddharth2010 commented on #425
I can remove the dark high light from the ends if you like...

[2018-02-20 13:36] RajaVamsi11 opened #475 "Add background colour to List view items"
**Is it a ?**

- [ ] Bug Report

- [  ] Feature Request

## Feature Request

#### Feature Description
The articles in the Online fragment,Bookmarks Fragment and where ever List views are used are back grounded with white colour.
My idea is to add a light colour (like grey or something) in the background of  article in the listview.

**Would you like to work on it?**
Yes

@mhutti1  your reviews ple

[2018-02-20 14:32] MayankChuriwal opened #476 "Full screen bug"
**Is it a ?**

- [ ✔️] Bug Report

- [ ] Feature Request

## Bug Report

### Step 1: Are you ready to report ?
   - Your issue may already be reported! Please search on the [issue track](../) before creating one.
   - [ ✔️] I have test with the last (dev) version of the software?  ( If not, and if possible, run your test again with the most recent version available.)

### Step 2 : What is your env

[2018-02-20 15:54] RajaVamsi11 opened #477 "Ripple effect"
**Is it a ?**

- [ ] Bug Report

- [  ] Feature Request

## Feature Request

#### Feature Description

Get Context button has no ripple effect. I am interested in adding ripple effect to Get Context button so that it looks nice to user.

**Would you like to work on this?**
Yes

What do you say ?@mhutti1

[2018-02-20 16:44] suyash0103 commented on #451
Has the issue been resolved? If not, can I try working on it?

[2018-02-20 17:33] omkarprabhu-98 commented on #470
Thank you for your views @mhutti1 and @brijeshshah13.

@mhutti1  the point "that style is normally used for separate fragments with different functions" makes perfect sense, Thank you very much for the advice.

So should I change this issue and try to integrate tabs?
And also try working on other issues to understanding the code base better

[2018-02-20 17:59] abdulwd commented on #67
I don't think the **minSdk** version will be a problem in using adaptive icons. On APIs<26 the launcher will just fall back to the legacy icon. The **targetSdk** version might be a problem and I have incremented it. So after merge of PR #478, I think this issue can be worked upon. The app will work on all APIs from 14 to 27. You may refer to:
https://developer.android.com/studio/write/image-asset-

[2018-02-20 20:00] suyash0103 opened #479 "Bug in SplashActiviy"
**Is it a ?**

- [✔️] Bug Report

- [ ] Feature Request

## Bug Report

### Step 1: Are you ready to report ?
   - Your issue may already be reported! Please search on the [issue track](../) before creating one.
   - [✔️ ] I have test with the last (dev) version of the software?  ( If not, and if possible, run your test again with the most recent version available.)

### Step 2 : What is your envi

[2018-02-20 20:00] suyash0103 commented on #479
I can work on the above bug, should I?

[2018-02-20 21:01] srv-twry commented on #479
@

[2018-02-20 23:23] mhutti1 commented on #473
I think this would likely clutter what should be a simple user interaction.

[2018-02-20 23:24] mhutti1 commented on #474
I don't know which option is better but there are certainly benefits to the way it currently works as you could keep browsing while listening to an article you find interesting.

[2018-02-20 23:25] mhutti1 commented on #417
I really don't think its a major issue and likely we should stick with the default (probably what it is now_

[2018-02-20 23:30] mhutti1 commented on #86
Its generally a good idea to keep APK size down. Some ZIM files are only 10's of MB so this could impact people.

[2018-02-20 23:31] srv-twry commented on #479
@suyash0103 Can you please change your build flavour to ```kiwixDebug```? I think that's the issue you're facing. Not sure though. Please check and update.

[2018-02-20 23:32] srv-twry commented on #475
@RajaVamsi11 Please attach screenshots for the current status as well as the intended final outcome.

[2018-02-20 23:32] paologarcia002 commented on #329
This issue happens even with smaller files, as this one is only 9.8 GB and I did not leave the app, just left the downloading page.

![image](https://user-images.githubusercontent.com/35015371/36454947-0cc06138-166c-11e8-81fc-0f7bb0668cd5.png)
![image](https://user-images.githubusercontent.com/35015371/36455017-54209dae-166c-11e8-81b1-60eae413ff05.png)

[2018-02-20 23:36] mhutti1 commented on #475
Yeah its quite hard to visualise.

[2018-02-20 23:41] srv-twry commented on #477
Please attach a GIF for the current behaviour.

[2018-02-20 23:44] mhutti1 commented on #425
Looks good to me.

[2018-02-20 23:44] mhutti1 commented on #476
Could you please provide a stacktrace.

[2018-02-20 23:46] mhutti1 commented on #470
@omkarprabhu-98 I would close this issue and make another specifying creation of a tab structure (it is a big task though so make sure to tag it with the challenge label).

[2018-02-20 23:48] mhutti1 commented on #479
Also provide a stacktrace for any crashes.

[2018-02-20 23:49] mhutti1 commented on #329
@paologarcia002 if you can get reproduction steps it would be a great help.

[2018-02-20 23:50] mhutti1 commented on #477
@RajaVamsi11 we did try this before. It might be in the old repository. check that out before starting on this.

[2018-02-21 00:18] paologarcia002 commented on #329
Yeah sure should I just write them out here or make a new post @mhutti1

[2018-02-21 05:58] abdulwd commented on #457
@mhutti1 I have sent a PR resolving this issue. I never saw you have assigned this to yourself. :(
But the issue is resolved with the PR, so you can merge it if you have not worked on this issue. ;-)

[2018-02-21 06:52] kelson42 commented on #472
Indeed.

[2018-02-21 06:54] kelson42 commented on #86
@okkebal that said this is not (anymore) the TOP priority. APK distributed with Google Play are now architecture specific, and have meanwhile an acceptable size IMO.

[2018-02-21 06:56] kelson42 commented on #473
Yes, quite disagree with this. I propose to close the ticket.

[2018-02-21 06:57] kelson42 commented on #474
Agree with @mhutti1. I close the ticket.

[2018-02-21 06:57] #474 closed

[2018-02-21 10:05] arpank10 commented on #476
In my case pressing the back button when on fullscreen mode closes the app. But as soon as I try to reopen it, it crashes. Doesn't open unless I clear data. Will provide stack trace as soon as I can.

[2018-02-21 10:15] arpank10 commented on #476
The stacktrace:
`                                                                       java.lang.RuntimeException: Unable to start activity ComponentInfo{org.kiwix.kiwixmobile/org.kiwix.kiwixmobile.KiwixMobileActivity}: java.lang.NullPointerException: Attempt to invoke interface method 'android.view.MenuItem android.view.MenuItem.setVisible(boolean)' on a null object reference

[2018-02-21 12:03] MayankChuriwal commented on #476
I am working on the bug will be soon be making a PR @mhutti1

[2018-02-21 12:03] RajaVamsi11 commented on #477
Ripple effect is only for android API level 21 but own API min level is 14. so we cannot use ripple effect.
Replacing ripple effect we can  add attribute
        **android:background="?attr/selectableItemBackground"**
in the button list.
But it was not effective as ripple effect.
shall i continue?

[2018-02-21 12:34] abdulwd commented on #375
@mhutti1 It's done. It took me time as my laptop was not working. Vectors can be used from API 7, our minSdkVersion is 14. So the changes will work.

[2018-02-21 12:49] RajaVamsi11 commented on #477
Android version : 8.1.0 (emulator)

[2018-02-21 12:50] brijeshshah13 commented on #451
@suyash0103 Sure. Please go ahead and try to fix it.

[2018-02-21 13:42] RajaVamsi11 commented on #475
Before background colour
![screenshot_2018-02-21-12-35-50](https://user-images.githubusercontent.com/30550059/36482899-9e897b30-173a-11e8-9ad7-b5a55c30e162.jpg)

After background colour( Divider lines can be deleted , we can add background color to each article in listview)
![screenshot 2](https://user-images.githubusercontent.com/30550059/36483041-0fb43d4a-173b-11e8-95c7-33638822e601.png)

[2018-02-21 15:31] omkarprabhu-98 commented on #470
Alright @mhutti1, thanks again for the input

[2018-02-21 15:40] RajaVamsi11 commented on #479
I also faced same issue few days before. Just changing build varient to KiwikDebug as @srv-twry  says works fine.

[2018-02-21 15:41] omkarprabhu-98 opened #483 "Add chrome like tabs"
**Is it a ?**

- [ ] Bug Report

- [x] Feature Request

## Feature Request

#### Feature Description

Currently the application has a side nav to navigate between the tabs.

![screenshot_20180221-210520 1](https://user-images.githubusercontent.com/23053768/36489106-31bbf8fa-174b-11e8-9cbf-8b0fdb01be80.png)

### The idea is to change it to something similar to tabs creation and navigation which Chr

[2018-02-21 15:46] #470 closed

[2018-02-21 16:46] suyash0103 commented on #479
Yes works! Thanks @srv-twry @RajaVamsi11

[2018-02-21 22:32] srv-twry commented on #479
@suyash0103 It's a bug in the c++ backend which leads to a segmentation fault in the custom application flavour.

[2018-02-21 22:32] #479 closed

[2018-02-21 22:35] srv-twry commented on #475
@RajaVamsi11 Pardon, but i can't see any change in it. Is it gray in second image ?

[2018-02-21 23:16] srv-twry opened #488 "Make Views dumber in MVP"
**Is it a ?**

- [ ] Bug Report

- [x] Feature Request

## Feature Request

#### Feature Description

Right now, even though we are implementing MVP pattern in the project, there is a lot of logic inside the Views which is against the principles of MVP. The logic inside the Views should be as minimum as possible. This would lead to easier testing experience in the future.

We will need to setup a

[2018-02-22 00:32] mhutti1 commented on #329
Put them here

[2018-02-22 00:33] #473 closed

[2018-02-22 00:36] mhutti1 commented on #475
I personally think the current version looks cleaner. But still don't really get what has changed.

[2018-02-22 00:48] mhutti1 opened #489 "Create script to build kiwixlib module and upload to bintray linking in with kiwix-build"
## Feature Request

We should create a script either in kiwix-android or kiwix-build probably a bit of both to populate the kiwixlib module with native executables and then upload to bintray.

[2018-02-22 00:48] knightcube commented on #483
I want to work on this

[2018-02-22 00:54] #457 closed

[2018-02-22 00:58] #236 closed

[2018-02-22 01:03] #466 closed

[2018-02-22 01:25] omkarprabhu-98 commented on #483
@knightcube Please find another issue to work on. I am working on this issue

[2018-02-22 01:29] knightcube commented on #483
okay

[2018-02-22 08:44] RajaVamsi11 commented on #475
Yes the color is blue grey of density 50.
I think that present version of app looks good. I am ready to close this issue.
shall i?

[2018-02-22 10:12] abdulwd commented on #376
This should be close via #478.

[2018-02-22 10:26] #376 closed

[2018-02-22 12:31] brijeshshah13 commented on #476
Taking into consideration that the bug has been solved, I'm closing this issue.

[2018-02-22 12:31] #476 closed

[2018-02-22 13:07] brijeshshah13 opened #490 "Content gets blocked underneath exit full-screen button"
**Is it a ?**

- [x] Bug Report

## Bug Report

### Step 1: Are you ready to report ?
   - Your issue may already be reported! Please search on the [issue track](../) before creating one.
   - [x] I have test with the last (dev) version of the software?  ( If not, and if possible, run your test again with the most recent version available.)

### Step 2 : What is your environment ?
  * browser / ap

[2018-02-22 13:26] harshvardhan-takawale commented on #117
@mhutti1 @kelson42  I am learning automated testing and would love to work on creating junit, espresso test and Travis CI. Can you tell me whether you are still interested in working on and and if yes, what all work needs to be done.

[2018-02-22 14:01] RajaVamsi11 commented on #12
@kelson42  @mhutti1 I am interested in this issue.I can work on this issue.
I have only one idea of moving **read aloud** to settings fragment and give user an option to enable and disable it.
The option can be "make read aloud option  visible in menu settings"
can i continue?
You can give me an idea of doing in sidebars and tabs.

[2018-02-22 14:03] abdulwd opened #491 "Problems with app's language"
**Is it a**

- [x] Bug Report

- [ ] Feature Request

## Bug Report

The following bugs are present in **_Setting -> Language_**:
### 1. Default language name should be shown instead of language code.
_English_ should be shown instead of _en_in_.
#### Screenshots:
![webp net-resizeimage](https://user-images.githubusercontent.com/20206262/36541328-89ad988a-1803-11e8-84e8-12528e5fd31d.png)

#### Ste

[2018-02-22 14:03] abdulwd commented on #491
@kelson42 @mhutti1 Please review this issue. I would like to fix it. :)

[2018-02-22 14:24] moksh-mahajan commented on #432
@siddharth2010 Mine too!!

[2018-02-22 14:38] srv-twry commented on #490
LGTM.

[2018-02-22 15:52] sdivakarrajesh opened #493 "Improve "back to the top" feature"
**It is a**

- [ ] Feature Request
- and i would love to work on it..
- have done some works on android and a good programming experience

### Environment
  * App
  * Android

### Feature

  * A Floating action button that appears while scrolling down - when clicked helps to reach the top of the page

#### Feature Description

  * This might come handy when reading long articles

 * Reduces the ef