[2019-12-17 14:47] kelson42 commented on #260
@macgills Do you have recommendation to easily localize the Play store (pictures/description)?

[2019-12-17 14:55] macgills commented on #260
I can use gradle play publisher to scrape our listings for each supported locale. This would mean our entire play store listing would be stored in the repo and on release we publish the whole thing.

It is possible to make an automation tests that takes pictures and run that in separate locales.
The best I can do on descriptions automation wise is pinging google translate, which I imagine would be

[2019-12-17 14:57] kelson42 opened #1652 "Fullscreen videos in Dark mode are inverted"
Probably a regression introduced with https://github.com/kiwix/kiwix-android/issues/1627 fix.

[2019-12-17 15:04] kelson42 commented on #260
@macgills Lets focus on Screenshots first. Do you know if such a thing would be robust? Do we have a kind of module to achieve something similar to https://appure.io/ (screenshot within a template)?

[2019-12-17 15:04] #1650 closed

[2019-12-17 15:21] macgills commented on #260
It would probably be only images without frames like how the listing is now. I would have to do research.

[2019-12-17 15:27] macgills commented on #1652
in 3.0.5 videos were inverted but not when fullscreened. Investigating further

[2019-12-17 15:57] devanshi7799 commented on #1058
can i work on this?

[2019-12-17 16:04] kelson42 commented on #1058
@devanshi7799 Yes, you are welcome.

[2019-12-17 16:08] devanshi7799 commented on #1058
@kelson42 Thank you so much :)

[2019-12-17 17:30] #1652 closed

[2019-12-18 07:23] ShivamPrajapati-dev commented on #1643
If I want to contribute then, how can I test the application?

[2019-12-18 07:23] ShivamPrajapati-dev commented on #1643
@macgills

[2019-12-18 08:54] macgills commented on #1643
make sure you are using the latest version of develop.

![image](https://user-images.githubusercontent.com/3358282/71071048-cd725800-2173-11ea-92a9-c708cc774a06.png)

[2019-12-18 09:13] macgills opened #1656 "Crash Report 3.1.2: NPE CoreMainActivity.hideTabSwitcher mainMenu"
**Describe the bug**
Null Pointer Exception, OnActivityResult occurring before onCreateOptionsMenu

**Expected behavior**
no crash

**Logs**
[code]

[2019-12-18 09:16] ShivamPrajapati-dev commented on #1643
I had done those things, but that 'corrupt application' dialog appears again and again. Because of that, the app is unable to open. @macgills

[2019-12-18 09:21] ShivamPrajapati-dev commented on #1643
Yeah thanks, @macgills, it worked.

[2019-12-18 09:47] #1656 closed

[2019-12-18 10:08] move[bot] opened #1659 "Autoload next video"
*@kelson42 commented on Dec 17, 2019, 3:09 PM UTC:*

I thought this would be a nice feature and by testing the ZIM about Mali I discovered that it was somehow working halfway. At the end of the video it seems that new one is played... but the HTML page does not change... it is buggy!

*This issue was moved by [kelson42](https://github.com/kelson42) from [openzim/youtube#60](https://github.com/open

[2019-12-18 13:06] kelson42 opened #1660 "Search Widget unresponsive in 3.1.2"
One time added the Kiwix widget is useless because clicking on it does nothing.

[2019-12-18 13:15] mhutti1 commented on #1648
I would assume a long click.

[2019-12-18 13:34] macgills commented on #1648
In chrome it does nothing unless the item is a history item in which case it prompts me to remove it

[2019-12-18 14:35] devanshi7799 commented on #1058
can you tell me how to claim this issue?

[2019-12-18 14:47] macgills commented on #1058
@devanshi7799 you are now assigned

[2019-12-19 06:21] kelson42 opened #1661 "People start to complain that everything is tiny on 20' screens"
* Do we have a reproduction case with a screenshot?
* We need to know if the problem comes from the content or the UI, or both?
* Is that related to the size of the pixel depth of the screen?

[2019-12-19 06:38] devanshi7799 commented on #1058
@macgills I have worked on the issue but when i am trying to make a pull request it is showing me some error. Can you help me solve it?

[2019-12-19 06:40] kelson42 commented on #1058
@devanshi7799 What happens exactly?

[2019-12-19 06:42] devanshi7799 commented on #1058
@kelson42
![Screenshot 2019-12-19 at 12 11 44 PM](https://user-images.githubusercontent.com/51824493/71150972-cf621700-2258-11ea-8388-2101b81eae2f.png)

It is showing me this type of error

[2019-12-19 06:46] kelson42 commented on #1058
@devanshi7799 OK, this is a compilation error. This is not related to a PR I believe. To make a PR, you just need to https://github.com/kiwix/kiwix-android/pulls. @macgills will try to help you witin a few hours.

[2019-12-19 06:57] abdulwd commented on #1058
It seems like pre-commit hook is failing. @devanshi7799 Are you able to build & install this app?

[2019-12-19 07:00] devanshi7799 commented on #1058
@abdulwd yes, the application is running perfectly fine on my phone

[2019-12-19 08:53] abdulwd commented on #1058
@devanshi7799 Try to commit using command line `git commit -m <some-message>` and then check why the pre-commit hook is failing. If you're not able the figure that out then paste those logs here.

[2019-12-19 08:58] Popolechien opened #1662 "Largefiletest.txt procedure causes crash"
User feedback via email (feel free to close as I'm not sure it's entirely relevant):
"I use your Kiwix App 2.4 and everything works fine,but after the Upgrade 2.51 there's a large Problem with this App.
Everytime i open the App and want to choose f.e.a new zim File ,the app generates a largeFiletest.txt on my SDCard android/data/kiwixmobile/files ...sometimes the app initiates a Reboot of my Smart

[2019-12-19 09:02] kelson42 commented on #1662
@Popolechien We are not really interested in any bug report now which is not on 3.1. For 3.1, I'm not sure reading the bug report about what is the problem?

[2019-12-19 09:23] macgills commented on #1662
largefiletest.txt is what we use to assess if the storage is capable of handling files above 4GB.
On phones using some sd cards the entire file must be written which can be quite costly. There are other tickets about this but we can use this as an excuse to try a new supplemental system for detecting filesystems

[2019-12-19 09:27] macgills commented on #1662
We could also introduce a cache. I didn't bother originally because I had no idea the operation (which always executed in under a second for me) would take upwards of 1min

[2019-12-19 09:32] kelson42 commented on #1662
I'll close this ticket as the system works as intended.

[2019-12-19 09:32] #1662 closed

[2019-12-19 09:47] macgills opened #1663 "Improve FileSystem detection"
**Is your feature request related to a problem? Please describe.**
Currently filesystem detection can take upwards of 1min and cause problems for users #1662 . This is because we write a file 4GB in size and see if it throws an exception or not.

**Describe the solution you'd like**
Use the [mount command](https://stackoverflow.com/questions/27227198/how-do-i-check-the-type-of-sdcards-filesystem)

[2019-12-19 09:48] kelson42 commented on #1663
See also https://github.com/kiwix/kiwix-lib/issues/267

[2019-12-19 09:50] kelson42 opened #1664 "Add a cache to avoid checking filesystem too often (might be slow)"
**Is your feature request related to a problem? Please describe.**
Currently filesystem detection can take upwards of 1min and cause problems for users #1662 . This is because we write a file 4GB in size and see if it throws an exception or not.

**Describe the solution you'd like**
Add a cache so when we get a definitive result of whether a storage location can or cannot write 4GB files we never

[2019-12-19 09:51] kelson42 commented on #1663
How would that work exactly?

[2019-12-19 09:52] kelson42 commented on #1664
@macgills How would you secure that your recheck when needed (new smart card? same smart card but with different filesystem?)

[2019-12-19 09:55] macgills commented on #1663
[code]
like this but a bit more complicated.
Execute mount command
Parse lines of text into models
iterate over models finding partial matches on the current preferred storage
select best matching model
check the filesystem string again a list of known FSs that can support 4GB
report that the FS can write 4GB files

[2019-12-19 09:59] macgills commented on #1664
No way of knowing, if the cache is scoped to the application it would live and die with the app meaning it would get rechecked from time to time

[2019-12-19 10:06] kelson42 commented on #1663
@macgills So the mount command gives you the list of mounted devices and for each devices the type of the filesystem and you will the be able to know which one are fat32. Questions:
* Are you really sure you have the always the right to execute that command?
* Are you sure the mount output is always the same (depending the version Android)?
* Why this has not been done before (this seems simple)?

[2019-12-19 10:17] macgills commented on #1663
1. I think so
1. not positive
1. the rest of these answers
1. none of the SO answers I have seen have talked about that, they start talking about vold sometimes though

When I implemented an experiment it didn't give me an immediately easy answer say for example we have mount output like so
[code]
when I iterated through the list the entry I matched on for the directory I was looking for `sdcardDi

[2019-12-19 11:56] macgills commented on #1661
Is this chromebooks?

[2019-12-19 13:47] kelson42 commented on #1661
@macgills I don't know... do Chromebooks use Android (I don't think so)?

[2019-12-19 13:55] macgills commented on #1661
They can use android apps. What tablet is 20 inches? Is it a small tv?

[2019-12-19 14:11] kelson42 commented on #1663
@macgills I'm not super confident on relying on a system command execution, but if we rely on a Linux Kernel `/proc` file then I'm more confident. If you can deal with one of these files `/proc/mounts` or `/proc/self/mountinfo` I would be quite supportive to try to implement that ticket in 3.2. See also:
https://stackoverflow.com/questions/11668284/is-there-any-limitations-in-using-proc-mounts-in-

[2019-12-19 14:17] kelson42 commented on #1664
@macgills What triggers the current check? How often does it run?

Letting this running only one time per Kiwix run seems a good idea in 99% of the case, but without being able to verify in the SD card has not been hot unplugged/plugged... we might generate quite weird crash scenarios IMO.

[2019-12-19 14:26] macgills commented on #1663
It'll take experimentation to figure out which is most reliable, mount probably just reads `proc/mounts`, if `proc/self/mountinfos` exists and can be read by us then it sounds like a good option

[2019-12-19 14:34] macgills commented on #1664
Everytime some enters the Library(FAT32 checker gets created) or if they change their preferred storage from the library(FAT32Checker observes changes to preferred storage) or if the sd card had less than 4GB of space and a deletion or move cause there to be >4GB free space. I could make it a singleton which effectively makes it an app instance cache, that would be a 1 line change.
The only "weird

[2019-12-19 14:39] #1660 closed

[2019-12-19 14:50] macgills commented on #1663
And to clarify I will be keeping the old implementation, just trying this one first and on failure falling back. [Commonsware](https://commonsware.com/blog/2014/04/11/storage-situation-developers-astray.html) back in 2014 was warning of these apis when android introduced support for sd cards

[2019-12-19 15:22] devanshi7799 commented on #1058
![Screenshot 2019-12-19 at 8 51 19 PM](https://user-images.githubusercontent.com/51824493/71185373-53d88800-22a1-11ea-9d58-86f6c48f6967.png)

@abdulwd it is showing this.

[2019-12-19 15:26] macgills commented on #1058
one of these tasks is failing
[code]
run them in terminal and post the output here.
Also verify you do in fact have the file `custom/src/customexample/info.json`

[2019-12-19 15:27] macgills commented on #1058
Ah no it is just that you don't have JDK8 installed

[2019-12-19 15:30] macgills commented on #1058
I'm gonna update that message to be way more prominent

[2019-12-19 15:54] devanshi7799 commented on #1058
@macgills is it necessary to have JDK version set to 8? or higher version is okay?

[2019-12-19 15:57] macgills commented on #1058
8 is absolutely necessary. Higher is not, android does not support it

[2019-12-19 17:24] kelson42 commented on #1663
@macgills OK, seems worth the effort.

[2019-12-20 09:53] macgills commented on #716
@kelson42 @Popolechien this has some conflict with the ability to select books to delete/share. It is actually easier to merge Online/Downloading if that is desirable?
Otherwise when we enter a selection we temporarily hide the downloading books

[2019-12-20 09:56] Popolechien commented on #716
@macgills Sounds good. The idea is to restrict the number of tabs, so merging Online/downloading does the exact same thing to me.
Not a huge fan of hiding, because of file size people might wonder where those files are gone without realizing they've been downloading already for a while.

[2019-12-20 10:09] macgills commented on #716
The hiding would only occur when users have done a long click to enter "Multiple Selection Mode" on the theoretical merged device/download list.

From a data model perspective I am happier to merge library/downloading but that should never be the only reason.

[2019-12-20 10:15] macgills opened #1668 "Crash Report 3.1.2 Custom Apps Parameter specified as non-null is null"
**Describe the bug**
Android reports a directory as null

**Expected behavior**
Safeguard against this error with nullable types

**Environment**
Device:[on7xelte]
Model:[SM-G610F]
Manufacturer:[samsung]
Time:[1567686317000]
Android Version:[8.1.0]

**Logs**
[code]

[2019-12-20 10:29] macgills opened #1670 "Crash Report 3.1.2: java.lang.IllegalArgumentException: Uri lacks 'file' scheme:"
**Describe the bug**
Trying to open a file from outside the app crashes

**Expected behavior**
No crash, fixing file opening will be a part of #1447

**Steps to reproduce the behavior:**
1. download zim
1. click open download from browser

**Environment**
Device:[HWWAS-H]
Model:[WAS-LX1A]
Manufacturer:[HUAWEI]
Time:[1551432597000]
Android Version:[8.0.0]

**Logs**
[code]

[2019-12-20 11:20] mhutti1 commented on #1648
Hmm, I do think its useful functionality though.

[2019-12-20 11:31] macgills commented on #1648
A button would be more explicit I think, long clicks are hidden superuser features for the most part.
But then would we need to differentiate between open/open in tab? Probably if it just an icon to the right that is enough visual information to show it as a separate action from just clicking on the list item, we just need a good "new tab" icon then

[2019-12-20 11:32] #1670 closed

[2019-12-20 13:09] macgills opened #1673 "Crash Report 3.1.2 Custom: Successive permission requests"
**Describe the bug**
IO thread gets blocked from a recursive request to permissions

**Expected behavior**
When a user has denied permissions permanently present a dialog forcing them to enable storage permission

**Steps to reproduce the behavior:**
1. deny permission
1. check "don't show again"
1. deny permission

**Logs**
[code]

[2019-12-22 10:22] DoS007 opened #1676 "Search is slow and laggy"
(I searched issues, i tried 3.1.2 latest pre-release.)

**Describe the bug**
I use maxi-wiki in german and english. I noticed that searching, e.g. on german maxi-wiki is slow and often laggs behind.

I noticed, that 3.1.2 is less laggy than current play store version - but still.

**Expected behavior**
It should be fast.

**Steps to reproduce the behavior:**
1. Load german maxi wiki.
2. Type in "M

[2019-12-22 10:26] kelson42 commented on #1676
@DoS007 Thank you for your bug report. Which version (date) of the Wikipedia in German do you use?

FYI Kiwix for Andorid 3.1.2 is not officially available for everybody in the Google Play Store.

[2019-12-22 19:28] iadeelzafar commented on #1542
@kelson42 So, I looked into this and #1553

We have two objectives here

**1- Making the "server started message" better visible and clickable.**

**2- Making the URL shareable:**
We have 2 options.
a- via adding a share button:
This will copy the message on the server device and open an intent to send it via other apps(i.e. messenger apps, etc)

b- OR via adding a QR scanner:
I don't think this i

[2019-12-22 19:37] iadeelzafar commented on #1555
@kelson42 i think this can be closed as a duplicate  of #1424

[2019-12-22 19:46] iadeelzafar commented on #1554
@kelson42  The options i see

1 Wifi Hotspot
2 Hotspot Books
3 Wifi Hotspot Books

*P.S: I personally like no. 2*

[2019-12-22 20:09] JensKorte commented on #1542
I never had someone else in my wifi network using my kiwix, I am using it on my own. What is the planned usage for kiwix-server in android?
 (a) a (small) group is travelling on a boat/train/plane and some people need the IP
 (b) a mobile phone will be the server in the african outback?

To
(a) group: A useful way could be to show the OR code on the mobile phone.
(b) server replacement: 1. The QR

[2019-12-22 20:48] iadeelzafar opened #1678 "Rotating the screen changes the UI in Host Books"
**Describe the bug**
Rotating the host books screen before starting the server messes up the UI.

**Expected behavior**
No change in behavior should happen.

**Steps to reproduce the behavior:**
1. Go to `Host Books`
2. Rotate the screen

**Screenshots**
<img src = "https://user-images.githubusercontent.com/36811908/71327091-0751ae80-2526-11ea-980e-b428152ce062.png">

**Environment**
- OS version

[2019-12-22 21:50] iadeelzafar commented on #1542
@JensKorte Gotcha! I think QR is also something that we can look into once the basics are implemented.

[2019-12-22 21:51] iadeelzafar commented on #1542
Here's something that we can do as a first step:

1- The URL is better visible and clickable.
2- Using the share button, we can share the URL via relevant apps for handling this intent

<img src = "https://user-images.githubusercontent.com/36811908/71327749-28b69880-252e-11ea-90d6-3a632de69192.jpg" height="643" width="302">

[2019-12-22 22:30] JensKorte commented on #1542
How about:
"Click/tap the URL below or enter it into your browser to access the server"

[2019-12-23 09:19] #1555 closed

[2019-12-25 08:08] kelson42 commented on #547
@macgills Please nail down this

[2019-12-26 12:57] devanshi7799 commented on #1058
@macgills can you guide me and tell me why the checks are failing?

[2019-12-26 20:40] zhuowei opened #1681 "Crash when using the "Search Kiwix" context menu (Dupe of #1656?)"
**Describe the bug**

Since the update to Kiwix 3.1.2, the "Search Kiwix" option in the text selection menu no longer works.

(I haven't tested the development version yet; I'll try that later)

**Steps to reproduce the behavior:**
1. Select some text in another app (eg. Google Chrome)
2. Select "Search Kiwix"
3. tap on one of the search results

Expected: the search result opens
Actual: Kiwix for

[2019-12-26 20:42] kelson42 opened #1682 "Automatize publication on F-Droid"
Doing this manually is too complicated.

[2019-12-26 20:43] kelson42 commented on #1681
@zhuowei Thx for your bug report, we will do our best to come back soon to you.

[2019-12-26 22:32] kelson42 commented on #894
This needs to be re-confirmed with 3.1.2

[2019-12-26 22:35] kelson42 commented on #1088
Revampinf library is 3.2 maingoal.

[2019-12-26 22:38] kelson42 commented on #1070
Im not sure is this is a good idea... Should we display a toat with this message?

[2019-12-27 18:27] mhutti1 commented on #1648
Yes that sounds sensible.

[2019-12-27 18:54] iadeelzafar commented on #1070
@kelson42 An empty view would be a better choice.

[2019-12-30 01:48] RickAust commented on #1539
I've shared an item with you:

ZIM Files
https://drive.google.com/drive/folders/1uFaqqR1CF-rlskSTwKIZAIzLuh0FGBqu?usp=sharing&ts=5e09576e

It's not an attachment -- it's stored online. To open this item, just click
the link above.

Hi Sean.  Not sure if you remember me but I emailed you two or three months
back re some problems I was having reading some old Wikipedia zims on my
Android phone. I've

[2020-01-01 13:13] DoS007 commented on #1676
hi @kelson42 ,
yeah, i tested newest android version and after that i tested the newest pre-release from here on github.

Wikipedia 2019-08-07 34.5  2.3 M articles (maxi-offline).

Happy new year to you all :).

[2020-01-02 09:06] gptshubham595 opened #1683 "Even when closed one book search icon even appears and even searches the prev doc"
Even on closing after reading book search icon appears and one can search on previously opened doc
and even click find on-page.
Steps to reproduce:
0)You're in the home page with **no search icon**
1)Open any book
2)Close that from recent
3)Now You came on the home page again.
4)But still, it has a Search icon where you can search prev open doc.

![ezgif-5-03fc060a8e5d](https://user-images.githubu

[2020-01-02 14:46] iadeelzafar commented on #1683
Hi @gptshubham595 ,

Thanks for opening the ticket. But I find it quite difficult to understand. Can you please structure the ticket information in the default Kiwix issue template? That'll make it easier for us to review and reproduce the bug.

[2020-01-03 16:16] gptshubham595 commented on #1683
Hi @iadeelzafar I felt same while writing so I preferred to create the video gif for the explanation.
Even Though I am changing it a bit

[2020-01-05 09:45] kelson42 opened #1684 "Crash scenario with Wikimed"
"i hav a problem- when i long press any word from web browser it allows me to choose wikimed and when i click then it goes to wikimed and there is available of that word in wikimed and when i press on that word it CRASHES and keep crashing even i cleared cache. FIX IT asap."

https://play.google.com/apps/publish?account=9116215767541857492#ReviewDetailsPlace:p=org.kiwix.kiwixcustomwikimed&reviewid

[2020-01-05 09:45] kelson42 commented on #1684
I can not reproduce this problem, I don't have this ability to jump from the web browser to Wikimed ap. Do you?

[2020-01-05 17:42] jhbiggs commented on #1648
May I work on this while I wait for feedback on dagger-android removal?

[2020-01-06 09:37] macgills commented on #1539
I'll run an investigation when the time permits, hopefully in the coming days

[2020-01-06 10:31] #1546 closed

[2020-01-06 10:31] #1593 closed

[2020-01-06 12:00] #1668 closed

[2020-01-06 12:01] #1673 closed

[2020-01-06 12:03] macgills commented on #1681
Closing as duplicate, 3.1.3 will be released shortly

[2020-01-06 12:03] #1681 closed

[2020-01-06 12:04] macgills commented on #1684
closing as duplicate of #1656

[2020-01-06 12:04] #1684 closed

[2020-01-06 14:30] macgills commented on #1542
I'd prefer if clicking the link presented a [bottom sheet](https://material.io/components/sheets-bottom/) with our options eg "show qr/share via app/copy text/open in browser" though I am not sold on all these options. we could probably use nfc to share links as it is nicer to just tap phones especially given the proximity necessary

[2020-01-06 15:22] kelson42 commented on #1374
No feedback. I close the ticket assuming this has been fixed. Please reopen if not.

[2020-01-06 15:22] #1374 closed

[2020-01-06 15:23] kelson42 commented on #1181
No feedback. I close the ticket assuming this has been fixed. Please reopen if not.

[2020-01-06 15:23] #1181 closed

[2020-01-06 15:23] kelson42 commented on #1180
No feedback. I close the ticket assuming this has been fixed. Please reopen if not.

[2020-01-06 15:23] #1180 closed

[2020-01-06 23:27] RickAust commented on #1539
Many thanks Sean :-)

On Mon, Jan 6, 2020 at 8:37 PM Seán Mac Gillicuddy <notifications@github.com>
wrote:

[2020-01-07 10:36] macgills commented on #1539
No problem, stay safe and not on fire

[2020-01-07 13:25] macgills commented on #1539
@kelson42 this is a strange one, the old zim file is returning improper redirect urls.
The app tries to read
`content://org.kiwix.kiwixmobile.zim.base/A/Internet%20encyclopedia.html`
and JniKiwixReader.checkUrl() returns the non encoded
`content://org.kiwix.kiwixmobile.zim.base/A/Internet encyclopedia.html`

and because these 2 urls are different we report that we should do a redirect and then use

[2020-01-07 13:40] kelson42 commented on #1539
@macgills Then the ZIM was wrong. Sorry for the hassle. I will close this ticket as newer ZIM files should not have this problem.

[2020-01-07 13:40] #1539 closed

[2020-01-07 13:47] kelson42 commented on #1515
Will be fixed because #1581 has been implemented.

[2020-01-07 13:47] #1515 closed

[2020-01-07 13:51] macgills commented on #1539
@RickAust the last app version that did not support redirects was [2.5.1](https://github.com/kiwix/kiwix-android/releases/tag/2.5.1). If you were content with the previous behaviour of your application then I would say this is the version you should install.

@kelson42 The bigger problem is the performance issue rick is experiencing. We could open some tickets to try and improve performance? Our A

[2020-01-07 14:09] kelson42 commented on #1539
@macgills @RickAust The problem here is that we have a ticket with at least two different topics which make it difficult to handle. I would recommend to open an other one regarding this other problem with last ZIM and last version of Android. The only thing which could be a bit slow, is the suggestion system, see #1676 (was assuming a bit quickly we had a duplicate here).

[2020-01-07 18:03] mgautierfr commented on #1659
From a small investigation :

From https://github.com/kiwix/kiwix-android/blob/eaee39867c96d12b225a2b61a2d064b3dd72164c/core/src/main/java/org/kiwix/kiwixmobile/core/reader/ZimFileReader.kt#L151-L157, it seems that we simply create a `ParcelFileDescriptor` from a file descriptor seeked at the right offset.
However, we don't give any information about the size of the content to read.

And from http

[2020-01-07 19:27] ajuancer opened #1691 "Tabs previews in Tab Switcher doesn't change."
**Tabs previews in Tab switcher when dark theme is active doesn't change.**
When we're in the Tab Switcher of the app, and the app is working with the dark theme, the preview for each opened tab continues being the normal one. The background is white and hyperlinks are in blue. The only change is shown if the article preview contains an image, in that case, the image will have inverted colors.

**

[2020-01-08 09:33] macgills commented on #1691
We will be overhauling the rendering in #1411 so I think this would be best addressed then instead of fixing now and reimplementing then.

Thank you for the report

[2020-01-08 10:09] macgills commented on #1659
`writeToParcel` is just a way of android passing objects between processes, marshalling/unmarshalling to a `Parcel`. We would have to do something else that I am not entirely sure of, I'll need to investigate the ParcelFileDescriptor a bit more

[2020-01-08 10:18] mgautierfr commented on #1659
`ParcelFileDescriptor` seems to be a class encapsulating a file descriptor (or a pipe or .. whatever can be streamed). We probably pass it to the android player. Then the player use `writeToParcel` to get the content of the stream (the video content in our case) to play it.

The problem is probably that `ParcelFileDescriptor` read the fd until the end of the (zim) file. If the content after the vi

[2020-01-08 10:38] macgills commented on #1659
It is not reading anything by uing `writeToParcel`, that is a method from the Parcelable interface
[code]
We pass the parcelFileDescriptor it to the ContentProvider when the contentProvider asks for it via the Webview. The fileDescriptor must be parcelable because contentProviders can share data between processes. How the video actually gets played I have no idea

[2020-01-08 11:44] macgills commented on #770
@mhutti1 Is this "For a BookOnDisk list item add an info icon to show extended detail on a book including path"?
We could use a modal bottom sheet and show that when a user clicks on the info icon, show as much information as possible and explicit open/delete(maybe share?) buttons. Would take some UI consideration.

[2020-01-08 12:01] macgills commented on #12
@ISNIT0 can you remember if you requested this for phet? I'd like to close this if it is no longer needed and I probably will if it goes stale again

[2020-01-08 12:03] macgills commented on #1354
@kelson42 should this ticket be on this repo? Is the android client the only one experiencing this issue?

[2020-01-08 12:54] kelson42 commented on #12
@macgills Yes, Phet would be one of the use case.

[2020-01-08 13:01] macgills commented on #12
As you have commented previously :

I was just trying to make some progress on the question of "do we want to do this" as it still seems very up in the air for me

[2020-01-08 13:02] kelson42 commented on #12
@macgills Except is this would generate a large amount of work or new problems, I would like to have it.

[2020-01-08 13:09] macgills commented on #12
It is possible and shouldn't be too difficult. I would allow the user to keep tabs though, that could be a bit of a headache

[2020-01-08 13:21] macgills commented on #1636
@kelson42 I think this is up to you. I am not too swayed on any option be it strikethrough, simply hiding or more prominent coloring/transparency

[2020-01-08 13:25] macgills commented on #1428
Tests have been reintroduced but not as a PageObject, we can probably leave this ticket and just repurpose it to `good first issue` for somebody to convert the automated test to kotlin/pageObject

[2020-01-08 13:42] macgills commented on #1676
This problem is due to us using `Filter.filter`
[code]
Which sounds like any in progress filtering operations must be completed before a new one can begin as @DoS007 has intuited.

I've had an axe to grind against this filter for a while anyhow as it is not filtering anything but acting as a totally new dataSource. A rewrite to a viewModel/kotlin/recyclerview/Rx solution would be my preferred cour

[2020-01-08 13:46] macgills commented on #894
Confirmed I believe, I opened #1611 and it appears to be a duplicate of this

[2020-01-08 15:26] macgills commented on #1663
Logs extracted on Nexus 8.
The storage we are trying to identify, note this is on the device
[code]

Output of `procs/self/mountinfo`
[code]

Output of `proc/mounts`
[code]

output of mount command
[code]

All 3 outputs are much the same
for mountinfo we would find this entry
[code]
It gives us a useless value for the filesystem `sdcardfs` but gives us a directory `/data/media` which when we scan

[2020-01-08 16:43] kelson42 commented on #894
Duplicate of #1611

[2020-01-08 16:47] kelson42 commented on #1676
@macgills This bug is really critical. It is fundamental that the search works fine. Really happy you think you understand the problem and have a solution in mind. Please do the best you can for that ticket.

[2020-01-08 16:49] kelson42 commented on #1428
@macgills Good. Please open a new ticket with that specific task, without any milestone. We could then close that one.

[2020-01-08 19:50] mhutti1 commented on #770
That sounds like it could work.

[2020-01-09 09:34] mgautierfr commented on #1676
I don't know how you do the filtering but, from the documentation you've copied, it seems that you start a new filtering, it cancel previous ones.
So only one filtering (the last one) is executed at a time.

[2020-01-09 09:40] macgills commented on #1676
`cancels all previous non-executed` my read on that is it is not cancelling the in progress request ie the extremely lengthy search for `M`. The user then types `Me` that request gets queued, user types `Med` that gets queued  and `Me` gets cancelled. Anyway this screen should be architected to adhere to unidirectional data flow

[2020-01-09 14:24] macgills opened #1693 "Coverage Reports not uploading via Github Actions"
**Describe the bug**
Travis CI did not require an upload token but Actions does, upload of coverage was failing with a 400

**Expected behavior**
Reports to be uploaded

[2020-01-09 14:47] #1693 closed

[2020-01-10 10:24] macgills commented on #1676
I have verified this behaviour by putting a thread.sleep inside the filtering thread. Ongoing requests do not get cancelled so we can expect some speedup from the proposed solution.

The discrepancy between search speed for English vs German is odd though, I am in the process of verifying. I have English maxi and the speed is nigh instantaneous

[2020-01-10 10:30] kelson42 commented on #1676
@macgills Great! The suggestions should come almost instantaneously in worse case and instantaneously otherwise. If not and you feel stuck, please let me know here.

[2020-01-10 10:59] amCap1712 commented on #943
Is this still open for work?

[2020-01-10 11:02] kelson42 commented on #943
@macgills ?

[2020-01-10 11:35] macgills commented on #943
![image](https://user-images.githubusercontent.com/3358282/72149793-d681ce00-339b-11ea-9901-06f10afdb938.png)
There are usages of deprecated apis.

The ticket does beg the question if we should finally get rid of things we have marked deprecated in our own codebase. This is mostly the old daos, removing them would mean user database data could no longer be migrated from pre 2.5 to latter versions,

[2020-01-10 15:37] macgills commented on #1420
The default behaviour is that all books are selected automatically, I wonder if we do still want a "Select All" checkbox or somesuch view

[2020-01-12 14:30] Jaifroid commented on #1664
Sorry if this is obvious, but why not write a small text file in the app's directory on the SD card that gives the outcome of the test, and check for the existence of this file before re-running the test? Seems wasteful and potentially damaging to an SD card if 4GB is written to it every time the user enters the Library. Maybe I've misunderstood.

[2020-01-13 10:06] #1663 closed

[2020-01-13 10:24] #716 closed

[2020-01-13 10:43] macgills commented on #1664
@Jaifroid thank you for the suggestion, had not considered it. Hopefully with the merging of #1663 this won't be necessary but improving the fallback filewriting filesystem checker with your suggestion should probably be a way forward if we experience any more user complaints around this issue

[2020-01-14 17:15] kelson42 commented on #1512
This seems to have disappear. Closing for the moment.

[2020-01-14 17:15] #1512 closed

[2020-01-16 11:04] kelson42 commented on #1664
@macgills I propose to close this ticket for the moment. Considering that the new check is really quick, we should not need a cache.

[2020-01-16 11:10] macgills commented on #1664
@kelson42 I think closing it may be going too far, the new solution works on the devices I have tested, I cannot have 100% certainty it will work on all devices.
Also we would be writing the file into our private storage on the sd card and the file would be the result of a test so just a `.txt` with `CanWrite4GbFile` in it which would be largely inoffensive

[2020-01-16 13:37] macgills commented on #1682
@kelson42 the output from [this discussion](https://gitlab.com/fdroid/fdroiddata/issues/1823) is that we need to host a file like [this](https://ota.koreader.rocks/koreader-android-fdroid-latest) that has our versionName/Code and update it on every tag/release.
We will also need to update our fdroid metadata to [UpdateCheckMode-Http](https://f-droid.org/fr/docs/Build_Metadata_Reference/#UpdateChec

[2020-01-16 13:44] kelson42 commented on #1682
@macgills This file should be generated at release time by the gradle and put somewhere. Maybe in the Github wiki (should be downloadable as a raw text)?! But I'm not wanting you to invest any time on this as long as FDroid is not 100% ready.

Do we have a timeline for the implementation of build.gradle.kts support within FDroid?
Any chance to make a manual publication in the meantime?

[2020-01-17 13:17] kelson42 commented on #1682
Blocked by https://gitlab.com/fdroid/fdroidserver/issues/613

[2020-01-17 13:17] kelson42 opened #1698 "Manual release on FDroid"

[2020-01-17 13:23] kelson42 commented on #1203
@BBT-SeanMacGillicuddy Would be good to have a look now if you can get all the information you need from libkiwix, at least to provide a similar feature set like currently.

[2020-01-17 14:13] macgills commented on #1698
I have asked for a manual release [here](https://gitlab.com/fdroid/fdroiddata/issues/1823#note_272568829)

[2020-01-17 15:52] macgills commented on #1203
@kelson42 is the expectation that kiwixlib provides the OPDS stream? I see no methods for it to do that with version 8.2.2

[2020-01-18 09:06] kelson42 commented on #1203
@mgautierfr  This is important the libkiwix provides everything about the local/remote catalog via the JNI binding, please talk together with @macgills to secure that this happens soon. If you have questions you can not solve together please let me know.

[2020-01-18 14:40] kelson42 commented on #1698
Yes, it seems this is as easy as updating https://gitlab.com/fdroid/fdroiddata/blob/master/metadata/org.kiwix.kiwixmobile.yml

[2020-01-19 13:38] AnjayGoel opened #1701 "Clicking on download notification should launch the app."
Currently, clicking on download notification does nothing. It would be better if clicking them launches the app.

**Platform:**
Coolpad note 3 lite
Custom ROM (Android 8.1)
App version: 3.1.3

[2020-01-19 13:41] kelson42 commented on #1701
Duplicate of #1312

[2020-01-19 13:41] #1701 closed

[2020-01-19 13:49] AnjayGoel opened #1702 "Stop download button not clearly visible in dark mode."
**Describe the bug**
Stop download button is nearly the same color as of the background in the dark mode. Which makes it less visible, especially in low brightness.

**Expected behavior**
Stop download button should be clearly visible.

**Steps to reproduce the behavior:**
1.  Switch to dark mode
2.  Download any book.

**Screenshots**
<img src="https://i.ibb.co/yNs1Gcc/unnamed-1.png" alt="Screens

[2020-01-20 07:23] move[bot] opened #1704 "Explain the message Android.ui.search history"
*@amire80 commented on Jan 19, 2020, 8:12 AM UTC:*

The translatable message Android.ui.search history says "Search history" in English. It's not documented. In English, "Search history" can mean both "history of search queries" and "search in the history of previously visited pages". To translate correctly, this needs to be documented.

If you look at the list of current translations at [https://

[2020-01-20 07:32] kelson42 commented on #1704
@amire80 Thank you for keeping pushing il8n at Kiwix. These last few years we have been a bit distracted by other stuff. To a large extend we are over with this. Therefore I think this is the right time to fixe our weaknesses regarding il8n with the help of Translatewiki. In the past we had only one translation file for many of our softwares in a dedicated repo which was synced by TW and then sync

[2020-01-20 09:42] #1702 closed

[2020-01-20 10:51] amire80 commented on #1704
I can try helping there. Till then, can you just document this one message? :)

[2020-01-20 11:09] macgills commented on #1704
@amire80 it is "search in the history of previously visited pages", editing now

[2020-01-20 11:11] macgills commented on #1704
@amire80 I do not have login credentials to make the edit

[2020-01-20 11:14] amire80 commented on #1704
Thanks! I edited it.

You can create an account, and I'll give you the permissions to edit.

[2020-01-20 11:33] amire80 commented on #1704
Thank you. I gave you the permission to edit.

This issue can be maked resolved.

I can't promise much, but I'll see what I can do about #1590.

[2020-01-20 11:50] #1704 closed

[2020-01-20 12:05] #1676 closed

[2020-01-20 12:10] #547 closed

[2020-01-20 16:37] Wikinaut commented on #835
Please keep it active.

[2020-01-21 00:13] RickAust commented on #1539
Thank you everyone for their work on this. Sorry about the late reply -
have been away for a while.
Cheers,
Erik (Australia)

On Wed, Jan 8, 2020 at 1:09 AM Kelson <notifications@github.com> wrote:

[2020-01-21 09:27] macgills commented on #835
@Wikinaut it is scheduled for a milestone, there is no need to comment to remove the stale tag

[2020-01-21 10:05] #1678 closed

[2020-01-21 10:21] macgills commented on #1698
The merge request has been accepted, I will close this ticket once I have verified kiwix 3.1.3 is up on fdroid

[2020-01-21 12:05] macgills commented on #1203
@kelson42 @mgautierfr
This ticket will require a  lot of change and integration with the jetpack [Pagination Library](https://developer.android.com/topic/libraries/architecture/paging).

I believe the aim is to replace the current call to `http://mirror.download.kiwix.org/library/library_zim.xml`
with
`https://library.kiwix.org/catalog/search`
filling out several query parameters for searchTerm, a

[2020-01-21 18:08] kelson42 commented on #1698
@macgills I wonder about that line (should not be `3.1.3`?
https://gitlab.com/fdroid/fdroiddata/blob/master/metadata/org.kiwix.kiwixmobile.yml#L175

[2020-01-22 10:34] macgills commented on #1698
https://gitlab.com/fdroid/fdroiddata/merge_requests/6232 merged, awaiting publication

[2020-01-22 10:52] kelson42 commented on #838
@macgills Now that it looks like we have a workflow to sync almost automatically both ways with Translatewiki, what about that ticket?

[2020-01-22 10:54] macgills commented on #838
@kelson42 there is some ticket for us to clarify ambiguous strings on translatewiki? I would say that that supersedes this ticket and we can close this

[2020-01-22 10:57] kelson42 commented on #838
@macgills Good to me if you can really secure that afterward we would have proper translations (if done on TW) for strings listed above.

[2020-01-22 11:30] macgills commented on #838
I confirm the strings in this issue now have translations

[2020-01-22 11:30] #838 closed

[2020-01-22 14:24] macgills commented on #770
@kelson42 should I create this `BookDetailSheet`? Bottom sheet examples [here](https://material.io/components/sheets-bottom/#modal-bottom-sheet)

[2020-01-22 14:34] macgills commented on #100
@kelson42 rather than supporting checkstyle which is java only we would probably be more suited to switching this ticket to "integrate [detekt](https://github.com/arturbosch/detekt)" and view remaining java code as "should be rewritten in kotlin"

[2020-01-22 14:37] Scramjet911 opened #1707 "A Problem with the Night Mode"
**Describe the bug**
The Night Mode of the app is not working correctly. When we change the night mode during functioning, the color of the text inside the drop-down menu does not change, while its background changes. This is fixed on a restart, where the night mode works correctly. The same is happening while switching off the night mode.
Along with this the theme of the homepage is also not chan

[2020-01-22 14:40] macgills commented on #109
I can not reproduce this issue
@asereze can you confirm the language selection now works as expected after app restarts?

[2020-01-22 14:51] macgills commented on #1707
@Scramjet911 could you upload pictures? The compression in the video is quite severe and a clearer image may help with diagnosis.
I am testing this out on a 7.1.1 emulator to see if that is the root cause, working perfectly on my Nexus 8.1.0

[2020-01-22 15:03] Scramjet911 commented on #1707
Right, I just noticed that. Sorry, here are the pictures
![1](https://user-images.githubusercontent.com/36035352/72905342-6ccbd180-3d56-11ea-95c6-66353bafa6ef.png)
![2](https://user-images.githubusercontent.com/36035352/72905344-6d646800-3d56-11ea-9a53-768602f51c57.png)
![3](https://user-images.githubusercontent.com/36035352/72905347-6dfcfe80-3d56-11ea-8147-5a5ab953cd1c.png)
![4](https://user-imag

[2020-01-22 15:09] Scramjet911 commented on #1707
Also, I noticed this bug on other devices of Android version 7.0.

[2020-01-22 15:13] kelson42 commented on #100
@macgills "detekt" is not run by https://www.codefactor.io ?

[2020-01-22 15:28] macgills commented on #1707
My results on the emulator are different but similar:
![image](https://user-images.githubusercontent.com/3358282/72907334-9ae7ec00-3d2b-11ea-96d7-25fc2eedad31.png)

Is the 7.0 device also a lenovo?

[2020-01-22 15:34] Scramjet911 commented on #1707
Not Lenovo but I they use the same Moto UI

[2020-01-22 15:38] macgills commented on #100
If codefactor is running detekt it is running a very lenient or much earlier version

[2020-01-22 18:51] yashk2000 opened #1708 "Empty UI of Bookmarks and History"
**Describe the solution you'd like**
Currently, if there are no bookmarks or no history, the activities are just blank white screens which don't look very good. Instead, a small message such as "No bookmarks yet" and "No history yet" could be displayed in case there aren't any.

**Describe alternatives you've considered**
Whenever the history or bookmark activity is opened or refreshed, check whet

[2020-01-22 18:56] kelson42 commented on #1708
This is to a large extend a duplicate of #1058

[2020-01-22 18:57] yashk2000 opened #1709 "Icon of bookmarks and history items does not change on unselecting the item"
**Describe the bug**
After an item/s is selected in the bookmarks or history section, then on unselecting it, the icon does not change back to the default. It stays as a blue circular tick mark.

**Expected behavior**
The icon should change back to back it was before selection.

**Steps to reproduce the behavior:**
1. Go to bookmarks.
2. Select items.
3. Unselect them.
4. The original icon does no

[2020-01-22 19:01] yashk2000 commented on #1708
@kelson42 thanks for pointing out. Once I am done with this issue, I'll work on #1058 too.

[2020-01-22 19:38] kelson42 commented on #1708
@yashk2000 thx

[2020-01-22 22:07] amire80 opened #1711 "Don't apply typography changes to all languages"
**Describe the bug**
In a commit such as 581b127184259ae999bd3501d95bb908aaffa1e5 typographic corrections were applied to localization files. For example, in values-iw/strings.xml, `"` was changed to `“”`. These changes are later automatically copied to translatewiki.

**Expected behavior**
The intention, to use non-trivial high-quality typography, is good. However, different languages have differ

[2020-01-23 09:56] macgills commented on #1711
`the typography update software runs` that is a manual process run by me, granted android studio does most of it for me. I don't think this will matter for Hebrew if the correct character is used, the [gershayim Unicode](https://www.fileformat.info/info/unicode/char/05f4/index.htm) is different from the simple English quotation mark and will not be detected or replaced automatically. If Hebrew tra

[2020-01-23 10:42] amire80 commented on #1711
I have a degree in Hebrew language, I have more than ten years of experience of localizing into Hebrew, and I am one of the people who designed the standard Hebrew keyboard layout, so I know what's correct and I can use the correct characters myself when I work in translatewiki and elsewhere, so I don't need automated or semi-automated processes to do this for me. And if this software was at least

[2020-01-23 11:20] macgills commented on #1711
I have no doubts about your expertise in the Hebrew language.
To talk in specifics you mean these strings?
[code]
[code]

These are the automated checks that get run and report errors
![image](https://user-images.githubusercontent.com/3358282/72979492-595d4c80-3dd0-11ea-800d-0a6beb63ae77.png)
![image](https://user-images.githubusercontent.com/3358282/72979534-72fe9400-3dd0-11ea-9365-7aae2752edb6.p

[2020-01-23 11:37] amire80 commented on #1711
Curvy quotes are indeed good for English text.

The very best thing for Hebrew quotations is to use low-9 double quote in the beginning and high-9 double quote in the end of a quotation. However, it is rare in modern texts because it was not available on keyboards until Windows 8 and badly supported in Microsoft Office for many years, so in collaborative projects, like free software projects trans

[2020-01-23 12:23] macgills commented on #1711
For this case specifically I am still mildly confused. I assume \“מכשיר\” is `Device` which in the original english does not have quotation marks. Is it a characteristic of Hebrew that the extra emphasis is necessary or is there extra information provided by this symbol?

Regardless of this scenario if we want to ignore a lint rule for a language there are many ways of easily doing it but I don't

[2020-01-23 12:37] amire80 commented on #1711
In English, "Device" is emphasized by being capitalized: "Please try looking for this file in the Device Tab of your Library". (I'm not sure the word "Tab" should be capitalized, by the way.) The capital letter makes it stand out, so quotes are not needed.

Hebrew doesn't have capital letters, and without them it's not clear that this is a title of a tab in the user interface.

Please ignore this

[2020-01-23 13:02] macgills commented on #1711
I think the only occurrence of straight quotes in the English strings is
[code]
which is quite surprisingly not curvy-ed, I will probably fix that now.
The automatic fix only affected pt, pt-rBR, and sl as regards this string, if you can tag any translators responsible for these languages here to put my mind at ease it would be appreciated. If that is an easy task for yourself, otherwise I can cha

[2020-01-23 15:50] macgills commented on #1707
This seems like a bug in Appcompat specifically [this method](https://developer.android.com/reference/androidx/appcompat/app/AppCompatDelegate#setDefaultNightMode(int)). Our activity does not get recreated like on other api levels because on the start of MainActivity the activity reports that it has the night mode active.

We can pass back a value when night mode changes that tells the activity to

[2020-01-23 16:42] Scramjet911 commented on #1707
So, what should we do?
Can I try to fix the issue? And is it possible to be fixed by a beginner?

[2020-01-25 08:04] mohamed-sameh-khalil opened #1713 "Robuster online library loading"
**Describe the bug**
Library always shows no items available after loading for 5 minutes in the online tab.
I think this issue might be related to the closed issue #1164

**Expected behavior**
It should display books that i can download

**Steps to reproduce the behavior:**
I don't know if this a global problem, but this is what I did
1. download the application from google play store
2. open app

[2020-01-26 20:33] 4shutosh opened #1715 "Zoom Control does not make the Zoom level visually enabled instantly."
**Describe the bug**
Under the Zoom options in settings the Zoom controls switch enables the custom zoom level slider option but it does not get view of a enabled option, it gets view of enabled option after we reopen the settings page. Although the slider works perfectly fine.

**Expected behavior**

Every time we enable the Zoom controls swithc the zoom level should turn on(should lighten / turn

[2020-01-27 03:37] 4shutosh commented on #1715
Hi! I would like to work on this.

[2020-01-27 04:40] kelson42 commented on #1715
@4shutosh thank you. Your are welcome but gives a few hours please to confirm the problem.

[2020-01-27 09:06] macgills commented on #1707
It could be, the methodology is pretty simple, startActivityForResult the SettingsActivity, if night mode gets changed return a result to MainActivity so it calls `recreate`. If that sentence made sense to you then you can do it if you wish (and are very welcome to), otherwise I will get to it at some point because it is in our current milestone

[2020-01-27 09:29] #1114 closed

[2020-01-27 09:33] macgills commented on #1715
I confirm the issue, @4shutosh you are welcome to work on it

[2020-01-27 10:26] macgills commented on #1713
@mohamedsamehkhalil are you exclusively using a vpn? If your reported location is very dissimilar  to your actual location that could cause delays. Our current retry mechanism is that we try downloading the list of books(9mb or so) and if it hasn't completed after 1 minute abandon that request and try again. In the next release we will be migrating to a library system that fetches much smaller foc

[2020-01-27 12:06] macgills commented on #1581
fixed in #1700

[2020-01-27 12:06] #1581 closed

[2020-01-27 12:54] macgills commented on #1711
@amire80 PR opened

[2020-01-27 13:38] #912 closed

[2020-01-27 13:41] #1708 closed

[2020-01-27 16:09] #1113 closed

[2020-01-27 17:51] kelson42 commented on #1581
@jhbiggs @macgills Well done

[2020-01-27 18:35] mohamedsamehkhalil commented on #1713
@macgills I used both vpn and a direct connection and both did not work. However, I tried it again today using mobile data which was slightly faster than my original connection and it worked. so I think it was probably a connection problem. I will test my original connection again tomorrow just to be sure it's a connection problem.
And if I may suggest, using some sort of cache to save the list of

[2020-01-27 19:34] kelson42 commented on #1713
@macgills 30MB in 5mb makes a really slow bandwidth. I had myself extremely high difficulties to get the catalog displayed with a 1Mb/s bandwidth. To me this problem should be fixed by using the OPDS stream.

[2020-01-28 06:30] GearGit commented on #1709
I would like to work on this issue

[2020-01-28 09:06] macgills commented on #1713
I say we revisit this after the OPDS stream is implemented. If @mohamedsamehkhalil is still experiencing trouble we can explore some caching using `cache-control` headers for an easy win

[2020-01-28 10:15] #1711 closed

[2020-01-28 10:38] macgills commented on #1709
@GearGit I belive @yashk2000 opened this ticket with the intention of working on it. I'll give yash first chance to work on it or they can pass it on to you.

@GearGit you can also have a look at our `good first issues` and see if anything piques your interest.

[2020-01-28 10:42] kelson42 commented on #1709
I confirm the bug. @yashk2000 Do you confirm working on ti?

[2020-01-28 10:53] kelson42 opened #1717 "Adding/Removing bookmarks is prety much buggy"
0 - My bookmark list is empty.
1 - Open a content and bookmark the welcome page, I get:
![image](https://user-images.githubusercontent.com/1029718/73257582-509bba80-41c4-11ea-8edc-203ad6af5e13.png)
2 - Like you can see, the bottom bar bookmark icon has not been updated [PROBLEM 1]

3 - Then a try to bookmark it again and I get:
![image](https://user-images.githubusercontent.com/1029718/73257742-98

[2020-01-28 11:11] macgills commented on #1717
This will require some Rx knowledge as the `CoreMainActivity` should observe the bookmarks database and not have to perform requests for data updates

[2020-01-28 11:56] kelson42 commented on #1272
@translatewiki @amir80 @Nikerabbit Currently, missing translations are filled with the English version. On Android, the app can do that on the fly at the runtime. As a consequence, this approach:
* Use more storage for nothing
* Fake our linter about Missing translations.

Does Translatewiki has a way to avoid doing this? An option by the export?

[2020-01-28 12:00] kelson42 commented on #1717
@macgills Not super suprised about your comment. I will remove the "good first issue" tag ans assign it to you as this makes the whole bookmarking difficult to use.

[2020-01-28 12:02] kelson42 commented on #1275
Old duplicates should be fixed and linting detection should generate a hard error if this happens again.

[2020-01-28 12:07] kelson42 commented on #1698
@macgills It seems we need here to propose an option to avoid signing the app.

[2020-01-28 12:20] kelson42 commented on #109
I close this issue, the report is pretty old and I don't have heard anything recently about this problem.

[2020-01-28 12:20] #109 closed

[2020-01-28 12:26] kelson42 commented on #770
@macgills Yes please.

[2020-01-28 12:42] yashk2000 commented on #1709
Yes I am working on it :+1:

[2020-01-28 12:43] kelson42 commented on #1263
@macgills Can we do more here?
@Popolechien Translations are now synced often and directly between Translatewiki and our Kiwix Android repo. This should help to get better translations.

[2020-01-28 12:51] kelson42 commented on #1713
@macgills Yes, and there is also an other problem we really need to fix https://github.com/kiwix/maintenance/issues/113

[2020-01-28 12:54] kelson42 commented on #1532
@Aditya-Sood As we are now in the middle of the 3.2 milestone, is that a ticket you would like to work on?

[2020-01-28 13:10] macgills commented on #1263
It would be better I think to open up issues for individual untranslated parts if something has fallen through the cracks. If for example MB is untranslated in Arabic, I would have no idea what the expectation is for that string in Arabic and it would take research to fix

[2020-01-28 13:40] kelson42 commented on #1263
@macgills Agree with you, but even them, there is nothing we can really do because:
* This is not something the dev team can handle
* There is nobody in charge to have proper translations donc by the TW translator.

We should have someone in charge to looks at TW and motivate people.

[2020-01-28 13:40] #1263 closed

[2020-01-28 13:42] kelson42 commented on #834
@uwemock Have you been able to experience that problem recently with the 3.1 version of Kiwix Android?

[2020-01-28 13:46] kelson42 commented on #1605
@amire80 Thank you for your report. The problem here is that we are really short on resources and that most of the time the translation is OK (at least in the languages I know) without documentation... so it always felt with low priority (the problem is not new and does not only concern Kiwix for Android). The only way I think to solve this would be to have the developer creating this contextual i

[2020-01-28 18:36] 4shutosh commented on #1715
Hey!
I just added this code which solves this issue.
![zoom_issue_solution](https://user-images.githubusercontent.com/53831987/73294095-23cebe00-422b-11ea-8634-9d60b2f0de7d.gif)

[2020-01-28 18:38] Scramjet911 commented on #1707
I tried implementing another condition for Nightmode - auto, but it was crashing. I will try something else for implementing that.

[2020-01-28 18:41] 4shutosh commented on #1715
Hey! @kelson42 @macgills
Please review !

[2020-01-29 10:12] macgills opened #1721 "CrashReport 3.1.3: IllegalStateException: jniKiwixReader.favicon must not be null"
java.lang.IllegalStateException: jniKiwixReader.favicon must not be null

**Describe the bug**
a null favicon was returned from jniKiwixReader

**Expected behavior**
Favicon should return a nullable to deal with this

**Environment**
Device:[itel-A16-Plus]
Model:[itel A16 Plus]
Manufacturer:[ITEL MOBILE LIMITED]
Android Version:[8.1.0]

**Logs**
[code]

[2020-01-29 10:25] macgills opened #1722 "CrashReport 3.1.3: RuntimeException: Invalid night mode 48"
**Describe the bug**
Night Mode returned an invalid value

**Expected behavior**
Map invalid value to a state, not an exception

**Environment**
Device Details:
Device:[karnak]
Model:[KFKAWI]
Manufacturer:[Amazon]
Android Version:[7.1.2]

**Logs**
[code]

[2020-01-29 10:48] macgills opened #1725 "CrashReport 3.1.3: StackOverflowError"
**Describe the bug**
Recursive call to scan directory overflowed the stack

**Expected behavior**
Use File.walk() or `tailrec` recursive function

**Environment**
- Version of Kiwix Android : 5230103
- Device : moto e5 play
- OS version : 8.0

**Logs**
[code]

[2020-01-29 11:10] macgills opened #1727 "CrashReport 3.1.3: ClassCastException getActivityComponent"
**Describe the bug**
while trying to perform injection the application returned is not our application class, maybe null?

**Expected behavior**
Injection should happen with no problem

**Logs**
[code]

[2020-01-29 11:42] macgills opened #1729 "3.1.3 Crash Report: FileUriExposedException"
**Describe the bug**
In Bookmarks and History Activity, an item click on >=7.0 is causing a crash

**Expected behavior**
No crash

**Logs**
[code]

[2020-01-29 13:03] yashk2000 opened #1730 "Revamp the bookmarks section to be similar to the history section"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**
A few changes have been made to the History Activity as in pr #1712. I aim to make the same changes in the bookmarks activity too in order to maintain uniformity throughout the app. I will also implement a "clear all" feature to clear all bookmarks in the bookmarks activity.

**Additional conte

[2020-01-29 13:03] #1727 closed

[2020-01-29 13:07] #1725 closed

[2020-01-29 13:07] #1722 closed

[2020-01-29 13:08] #1721 closed

[2020-01-29 13:30] kelson42 commented on #1698
New PR https://gitlab.com/fdroid/fdroiddata/-/merge_requests/6261

[2020-01-29 13:37] macgills opened #1732 "3.1.3 Crash Report: NPE CoreMainActivity.setupTTS"
**Describe the bug**
NPE in google play console

**Expected behavior**
No Crash

**Logs**
[code]

[2020-01-29 13:53] macgills opened #1734 "3.1.3 Crash Report: ConcurrentModificationException CoreMainActivity.sectionsLoaded"
**Describe the bug**
Error in google play console

**Expected behavior**
A list being iterated should not be added to

**Logs**
[code]

[2020-01-29 14:40] #1732 closed

[2020-01-29 15:30] Aditya-Sood commented on #1532
@kelson42 yes I definitely want to finish this ticket
I didn't understand the milestone part - do I have to ensure that this is done before the milestone items are complete?

[2020-01-29 16:01] kelson42 commented on #1532
@Aditya-Sood I made an error, this is not part of the 3.2 milestone. But happy to read this is on your radar.

[2020-01-30 09:48] kelson42 opened #1737 "Default language not properly selected in language selector"
I do:
1 - My device is configured in french
2 - I install Kiwix
3 - Kiwix starts properly with the french
4 - Go to settings and open language selector

I get:
English language item is selected

I want:
French language selected.

[2020-01-30 10:24] kelson42 opened #1738 "Android OS language changes are ignored"
Steps:
1 - Android configured in English
2 - Install Kiwix and start it
3 - Kiwix is properly running with English locale
4 - Change Android language to French
5 - Stop and restart Kiwix

I get:
Kiwix is still with English locale

I want:
Kiwix with French locale, Twitter has changed.

[2020-01-30 10:33] macgills commented on #1738
I would say this is somewhat impossible outside of the scenario where no language has been set in the app settings

If the user has chosen a language in our settings we should probably respect that above a different locale in System Settings otherwise it would never take effect.

There was my proposal to remove the in app language selection and respect the System setting only but we said no becaus

[2020-01-30 10:36] kelson42 commented on #1738
This is exactly what happen here, I never have open the settings.

[2020-01-30 10:39] kelson42 commented on #1738
I think it should be a bit more sophisticated as it is. For the moment, it looks like that Kiwix just sticks to a language even if the user has never explicitly chosen one. It should behave that way only if it has, otherwise it should take the one of the OS... and of course this does not apply for custom apps.

[2020-01-30 10:42] kelson42 commented on #1738
A way to do that would be to have a first choice (the chosen per default) which would be "Language of Android".

[2020-01-30 10:48] macgills commented on #1738
I am not disputing the bug, I am just saying it gets tricky outside of that 1 scenario.

Out options are
1. Formalise the "no language" set option, only force locale when we have an option
1. Make the default language returned the current language
1. Remove in app language setting

After a small investigation
[code]
that variable passed to `getPrefLanguage` is the default return for no value.

All

[2020-01-30 11:24] kelson42 commented on #1738
I think I want (1), I don't want (3) and I don't really understand (2).

[2020-01-30 11:27] macgills commented on #1738
I'll work on this next and then we can re-evaluate 1737 if it doesn't get fixed as a by-product

[2020-01-30 11:44] kelson42 opened #1739 "Pictures are not saved in an easy accessible place"
If I "Save a media" (a picture here), it seems to put it in a place which is not easily available. I expect to have it in "Downloads" or "Pictures" like if I would take a picture with the camera or download a file with the browser. I have an Android 10.

[2020-01-30 12:46] #1734 closed

[2020-01-30 12:47] #1715 closed

[2020-01-30 13:03] macgills commented on #1738
@kelson42 I think this was a false positive, what you are actually experiencing is incomplete translations.
Go the library and the title of the tabs should change

[2020-01-30 13:07] macgills commented on #1738
actually scratch that, just encountered the bug of it going to english, occurred when I entered the setting screen, investigating further

[2020-01-30 13:52] macgills commented on #1738
[code]
The offending article, bypasses our SharedPrefUtil so my breakpoints weren't triggering, very annoying.
So yeah option 1 it is, I will add a "Device Default" and change the settings option to `Force Language`

[2020-01-30 16:37] #1058 closed

[2020-01-30 16:44] macgills commented on #1737
this will be fixed by #1740

[2020-01-31 03:36] GearGit commented on #1739
@kelson42 I would like to work on this issue

[2020-01-31 03:49] GearGit opened #1741 "Stop button in downloading section is not visible"
**Describe the bug**
When the mobile phone is in Night/Dark mode, the stop downloading button in "Downloading" tab, is not visible.

**Expected behavior**
A white/red colored icon to stop the downloading.

**Steps to reproduce the behavior:**
1. Change to Night/Dark Mode in device
2. Download some random book or page
3. Go to the Downloading section of the app during step 2
4. The stop button is b

[2020-01-31 08:25] Frans-Lukas commented on #1739
@GearGit Saving directly to a public external media directory (ex. Pictures or Downloads) requires additional WRITE_EXTERNAL_STORAGE permissions which might not be wanted. What it is doing now is saving the media to the applications external media storage (does not require permissions) which will be deleted if the app is uninstalled. [See this link ](https://developer.android.com/training/data-sto

[2020-01-31 08:49] macgills commented on #1741
This is peculiar, we have different resources for day/night for this icon

[2020-01-31 09:53] GearGit commented on #1741
@macgills
I haven't been able to build the cloned repository due to some errors in `gradlew build`, maybe this error has been resolved already because I saw this issue on the live version of the app.

Error log in Android Studio:

`org.gradle.internal.exceptions.LocationAwareException: New Gradle Sync is not supported due to containing Kotlin modules
	at org.gradle.initialization.exception.Default

[2020-01-31 09:57] macgills commented on #1741
clone the repo again and make sure you `import` the project, just opening it will make this happen

[2020-01-31 10:32] macgills commented on #207
I would say this will be resolved in #1738

[2020-01-31 10:37] macgills commented on #1476
I now think this ticket is irrelevant until we support multizim, my confusion was when I opened a different zim it closed all the existing tabs.

[2020-01-31 10:42] macgills commented on #1354
@kelson42 @mgautierfr Is the expectation on this ticket that the client will enforce some ordering of search results or that this ordering is to be handled in kiwixlib?
I can iterate the list, splitting the search term/result on ` ` and iterate through both calculating the number of sequential word matches and then ordering the list based on these matches.

[2020-01-31 10:44] macgills commented on #1463
@kelson42 I would say this ticket does not have much relevance now?

[2020-01-31 12:36] Frans-Lukas commented on #1080
I can not replicate the behavior that you are describing. When opening a zim file and scrolling in it and then restarting the app: The scrollbar is in the same position as before the app was closed. However, if I open a zim file, scroll a bit, click the home button in the app and then open the zim file again: The scrollbar is reset.

### Scroll position is restored when:

1. Start kiwix app.
2. Op

[2020-01-31 12:56] macgills commented on #1080
Scroll position should be retained on activity resume or restart. From a few rapid experiments on my side this is the case.

"closing the app" is imprecise terminology
 you can press back to finish your current task in an app,
you can while in the overview screen swipe or tap x and this behaviour is _undefined_ and varies per manufacturer,
you can force close an app in the settings.

I am not sure

[2020-01-31 13:13] Frans-Lukas commented on #1080
These two are what I meant. Did not know that the overview screen swipe to close/ tap x was defined per manufacturer.

This is also what I meant. That is, going 'back' to the library via the in-app 'home' button and 'reopening' the zim as a fresh instance.

I agree that there is nothing to be done here.

[2020-01-31 13:28] macgills commented on #1080
Marvelous, I will close this ticket. @sidkathuria14 if I have mangled your original point please do reopen it

[2020-01-31 13:28] #1080 closed

[2020-01-31 14:16] macgills commented on #1410
There are no more iconDensity warnings, I will close this ticket and open a separate one to investigate if density splits are worth reintroducing

[2020-01-31 14:16] #1410 closed

[2020-01-31 14:19] macgills opened #1744 "Investigate if reintroducing Density Split apks is worthwhile"
**Is your feature request related to a problem? Please describe.**
For devices <21 vector assets get turned into pngs for all densities, to reduce the size of these apks we can create an apk per density

**Describe the solution you'd like**
If the size reduction is noticeable we should add density split apks

**Describe alternatives you've considered**
keep our existing apks

**Additional context*

[2020-01-31 14:21] #1428 closed

[2020-01-31 14:24] macgills opened #1745 "Rewrite KiwixSettingsActivityTest in Kotlin with a PageObject/Robot"
**Type of Test**

* [ ] Unit Test
* [x] UI Test

**Particular area and files to be tested**
The tests already exist but should be rewritten to conform to the new style

**Current Status of the tests**
current tests reside in `app/src/androidTest`

[2020-01-31 16:50] 4shutosh opened #1747 "Home button does not bring us to Home Screen"
**Describe the bug**
The home button in bottom navigatiion bar does not open the home Screen where we can see all the available zim files

**Expected behavior**

Home button should bring us to Home Screen where we where we can see the list of available zim files.
Although home button brings us to home of the zim file provided we have navigated further to the zim file.
If we need to close the zim f

[2020-01-31 16:55] Frans-Lukas opened #1748 "Difficult to read low contrast text with low brightness on phone"
**Describe the bug**

In dark mode.
When viewing the text of zim tags in the library and the text of buttons in dialogs the text is very low contrast and is difficult to see when the brightness of the phone is low.

**Expected behavior**

The contrast of all text should be high so that it is easy to read. Even in dark mode.

**Steps to reproduce the behavior:**
1. Enter library
2. Look at the tags

[2020-01-31 17:16] 4shutosh commented on #1748
Hello! @Frans-Lukas
You correctly pointed out that the stop downlaod button in dark mode is sometimes hard to see.
Although the contrast of all the text cannot be increased further I guess as the background is already black and the text color is white.
For the text you may try the `High-contrast text` feature under the `Accessibility` in Android Settings
Also please specify the version of app (env

[2020-01-31 17:23] kelson42 commented on #1748
@macgills Feedback welcome. The tags are really not visible on these pictures. Even if on my Google Pixel2 the contrast level is acceptable. I think something should be done here, probably by increasing at least the lightness of the font.

[2020-01-31 17:25] kelson42 commented on #1741
@macgills I can not reproduce at all this bug, for me the "stop" button is white on black, can not be more visible! Do I have missed something?

[2020-01-31 17:31] kelson42 commented on #1747
@4shutosh This is the home of the content. Not the library. This might be a bit different one time we have:
* Clarify the role of the welcome page
* Formally introduced the multizim mgmt.

But for now, to me it works as intended.

@macgills Your opinion?

[2020-01-31 17:35] 4shutosh commented on #1747
A better feature for the home button should be :
*If we click once provided we have navigated further to the zim file, it will land us to the home page of the zim file as of now.
*And then it should work to land us on the Home Screen where the list of zim files are available.
*Also if we have not navigated inside the zim file the home button will navigate us to the Home Screen of the list of zim f

[2020-01-31 19:29] Frans-Lukas commented on #1748
@4shutosh I meant the dialog buttons seen in picture 2. ('No' and 'Yes' of the dialaog. Blueish in color) as well as the tags that are gray in color from picture 1. Here is the version info:

- Version of Kiwix Android : 3.1.3 Build: 6230103
- Device : Oneplus 5

[2020-01-31 19:51] 4shutosh commented on #1748
:grinning: : I was really unable to see them !
The colors should be arranged accordingly for better visibility.
Do you want to work on this issue?
Otherwise I am interested in working on this one.

[2020-01-31 20:45] Frans-Lukas commented on #1748
Hehe, yeah it is difficult to see! Go ahead and fix it as I can't do much this weekend.

[2020-02-01 11:12] kelson42 commented on #1747
@macgills @abdulwd @siddharth2010 @mhutti1 What do you thing about this last proposal of @4shutosh ?

[2020-02-01 11:49] abdulwd commented on #1747
I'm against two functionalities for one button. We should either choose between going to the home page of zim or to the list of files.

[2020-02-01 13:41] 4shutosh commented on #1747
The only way to close a opened zim file is going through the tabs which is quite uneasy.
Or else we can go to the library for opening other zim files which goes same.

[2020-02-02 10:34] Frans-Lukas commented on #1747
I agree with @abdulwd and @4shutosh in that a button should not have multiple functionalities and that it is difficult to close a zim file and go back to the library. The back button out-of-app (the phones app button) simply closes the app entirely instead of going back to the library from a zim file (Which I expected it to do).

It might be worth considering the Material Design for [app bars](htt

[2020-02-02 20:19] GearGit commented on #1739
@Frans-Lukas So Should i work on this issue or not?

[2020-02-02 20:27] kelson42 commented on #1739
Waiting to @macgills to discuss the tech. Solution.

[2020-02-03 08:53] macgills commented on #1741
I would say this is a device/os problem, we should allow @GearGit the time to diagnose it

[2020-02-03 09:00] macgills commented on #1748
Under `values-night/color.xml` we can change the tone of our primaryColor `@color/blue800` and that would affect the night mode blue color.
The disabled text color would probably require a selector be written for the color to supply a different alpha in selected.

If there is someone with experience in graphic design who could make a style guide based on the material design priniciples, that would

[2020-02-03 09:17] macgills commented on #1747
There was a ticket for trying to modernise app navigation with a BottomBar somewhere I think. We have at least 3 top level destinations `Webview/Library/Settings` with all our other screens  as children of them.

I would be happier with the zim file list in the webview if we supported multizim but as we don't I think most user interaction with it would be negative as it destructively closes tabs i

[2020-02-03 09:22] kelson42 commented on #1747
@macgills Pretty much agree. Multizim mgmt, library redisign (with welcome list?) are the priorities. One time this is done then the overall situation should be clearer and we could think if something is still needed.

A more general remark to new developers is that I prefer to have you working on already open obvious (bug) tickets than creating new ones which might be more subject to discussion.

[2020-02-03 09:22] #1747 closed

[2020-02-03 09:24] macgills commented on #1739
@GearGit was first to request so I am happy to give it to them. This is very much an Android 10 problem I believe so it will require a 10 device or running the emulator to solve I would think.

I could not reproduce the issue @kelson42 was experiencing, using our existing code a picture saved for me and was instantly available in `Google Photos` under my albums, though it was named poorly.

The ex

[2020-02-03 09:27] GearGit commented on #1739
I dont have an Android 10 enabled device yet, how should I solve this?

[2020-02-03 09:28] kelson42 commented on #1739
@GearGit You probably can not. Or maybe with the emulator.

[2020-02-03 09:30] macgills commented on #1739
The emulator provided by google. I can't remember if Genymotion have a free tier anymore but they were a saviour for many years

[2020-02-03 11:12] macgills opened #1749 "Use Androidx.webkit 1.2.0 Force Dark for webview dark mode"
**Is your feature request related to a problem? Please describe.**
Our current implementation means we have to invert the paint colors for the view, which is slightly error prone and requires maintenance.

**Describe the solution you'd like**
Use the force dark method supplied by androidx

**Additional context**
The ForceDark Feature may not be supported by all Webviews so we have to check availab

[2020-02-03 13:27] kelson42 commented on #1749
@macgills I thought you tested it and it was not providing a similar UX than what we have currently?

[2020-02-03 13:29] macgills commented on #1749
@kelson42 it produced a different UX, arguably better and will probably have more maintenance than our solution seeing as how it will be a part of the androidx family

[2020-02-03 13:35] #1707 closed

[2020-02-03 13:40] kelson42 commented on #1749
@macgills Ok, I would like to discuss that in detail before implementation.

[2020-02-03 13:54] kelson42 commented on #1707
@macgills @Scramjet911 well done!

[2020-02-03 15:29] macgills commented on #1611
The initial solution proposed would not work, I have updated the title to reflect that

[2020-02-03 16:11] macgills commented on #1698
Released

[2020-02-03 16:12] #1730 closed

[2020-02-03 17:13] kelson42 commented on #1698
@macgills I don't see the new Kiwix version on my Fdroid!

[2020-02-04 05:15] kelson42 commented on #1698
I see it now

[2020-02-04 05:15] #1698 closed

[2020-02-04 05:21] kelson42 commented on #834
@macgills I’m not sure we can do anything here. #1738 should nail down the problem around this.

[2020-02-04 05:23] kelson42 commented on #1358
@mhutti Do you still suffer of that problem if you reactivate the test?

[2020-02-04 08:31] mohamedsamehkhalil commented on #1510
Is this issue still open ? if so, I would like to work on it

[2020-02-04 09:06] kelson42 commented on #1510
@mohamedsamehkhalil Can you reproduce the problem?

[2020-02-04 09:41] macgills commented on #834
@kelson42 agreed, closing as duplicate

[2020-02-04 09:41] #834 closed

[2020-02-04 09:43] macgills commented on #1358
This still needs to be rewritten, with OPDS integration and lots of work around filters/search capability I think this screen is going to change, perhaps substantially so I would prefer to do it after that

[2020-02-04 10:13] #1729 closed

[2020-02-04 10:22] #1738 closed

[2020-02-04 10:25] #1644 closed

[2020-02-04 10:26] #1737 closed

[2020-02-04 10:33] #207 closed

[2020-02-04 10:34] kelson42 commented on #1709
@yashk2000 Any PR, even in draft?

[2020-02-04 10:36] kelson42 commented on #1354
@macgills We should try to reproduce that bug wit kiwix-search binar an the move it to kiwix-tools repo. If reproducible.

[2020-02-04 10:38] kelson42 commented on #1611
@devilmonk Are you actually working on that ticket?

[2020-02-04 10:58] macgills commented on #1354
there is a kiwix-search artifact?

[2020-02-04 11:00] kelson42 commented on #625
@abdulwd @macgills @JunsuLime Might that be that this bug has been fixed and we have forgotten to close it?

[2020-02-04 11:02] macgills commented on #625
I would say it could still be bugged

[2020-02-04 11:12] kelson42 commented on #1354
@macgills Command line tool in kiwix-tools

[2020-02-04 12:01] macgills commented on #1611
The complexity of the task has risen somewhat, the view hierarchy needs updating to support a Coordinatorlayout to handle the scrolling behaviour and `activity_main` is non trivial.

The complexity comes from the implementation of our current scrolling behaviour being a custom implementation via 2 subclasses `ToolbarScrollingKiwixWebView` and `ToolbarStaticKiwixWebView` instead of being behaviour

[2020-02-04 12:07] kelson42 commented on #1644
@macgills Thanks for re-introducing this feature.

[2020-02-04 12:28] macgills commented on #1611
@kelson42 are you happy to remove the feature of "static" toolbars?

[2020-02-04 12:55] kelson42 commented on #1611
@macgills Good to me.

[2020-02-04 15:20] yashk2000 commented on #1709
@kelson42 I have started working on the issue. I was working on another issue until yesterday that's why I didn't give an update on this.

[2020-02-04 15:46] #1023 closed

[2020-02-04 17:44] mohamedsamehkhalil commented on #1510
@kelson42 No, I tried 3 different foreign languages (Arabic, Abkhazian, chinese) and each time I would get a toast telling me the following :

[2020-02-05 11:24] kelson42 commented on #1510
@mohamedsamehkhalil Will be hard for you to fix the pb if you can not reproduce it

[2020-02-05 11:31] macgills commented on #1510
Well it sounds like it could be fixed? @mohamedsamehkhalil after trying multiple times did it eventually start reading aloud? If the original hypothesis about the voice needing to be downloaded is correct then after a while it may start working. Your scenario with an error message seems a lot better than the initial behaviour described in the ticket

[2020-02-05 12:10] macgills opened #1754 "Re-enable IntroActivity tests"
**Type of Test**

* [ ] Unit Test
* [x] UI Test

**Current Status of the tests**
On CI this test would sometimes fail.
This was generally not being able to swipe the view and see the views on the other page.

Operating theory is that a system dialog was interfering at times, preventing view interaction

[2020-02-05 12:13] macgills opened #1755 "Re-enable tests for ZimManageActivity"
**Type of Test**

* [ ] Unit Test
* [x] UI Test

**Current Status of the tests**
On CI this test would sometimes fail.
Clicking on the book would not start the download and not show the `stop_download` button.
Operating theory is that a system dialog was interfering at times, preventing view interaction

[2020-02-05 12:54] #1748 closed

[2020-02-05 13:16] kelson42 commented on #1463
@macgills Yes, looks better

[2020-02-05 13:16] #1463 closed

[2020-02-05 13:20] kelson42 commented on #37
This is a bit outdated but seems to work fine for the moment. Not a priority to improve IMO.

[2020-02-05 13:22] kelson42 commented on #1648
@jhbiggs Any feedback on this ticket?

[2020-02-05 13:24] kelson42 commented on #1691
Closing, because basically a duplicate.

[2020-02-05 13:24] #1691 closed

[2020-02-05 15:26] macgills commented on #1354
@kelson42 will I try to reproduce it with `kiwix-search`? I imagine I am not very well set up for it but I can invest the time

[2020-02-05 15:39] macgills commented on #1611
@kelson42 I am hitting something of a roadblock. I think the time needed to fix this properly is quite large and would incur a significant rewrite of CoreMainActivity and is probably out of scope for this milestone

[2020-02-05 16:04] yashk2000 commented on #1709
@kelson42 @macgills I am trying to work on this issue, but I am unable to figure out how to fix it properly. As far as I could figure out, the items in the history list are not being removed properly due to which the adapter changes/keeps the icon as the blue tick mark.

[2020-02-05 16:20] kelson42 commented on #1611
OK, I descope it.

[2020-02-05 16:56] kelson42 commented on #1354
@macgills I will do that if you prefer you can put that aside.

[2020-02-05 18:02] jhbiggs commented on #1648
Hi @Kelson, I have been working but it has been slow. I’m fine to give this issue up if you need a quicker completion.

[2020-02-05 18:11] kelson42 commented on #1648
@jhbiggs Great, no this is not super urgent.

[2020-02-06 08:07] rgaudin opened #1756 "crash using youscribe_audiobooks"
**Describe the bug**
Using the [youscribe-audiobooks](http://download.kiwix.org/zim/other/youscribe_fr_audiobooks_2020-01.zim) ZIM, kiwix crashes on clicking the play button.

**Expected behavior**
Clicking the play button should reveal the videojs widget and start playing the audio.

**Steps to reproduce the behavior:**
1. Download and open the ZIM file (link above)
2. Click on any audio icon. Sh

[2020-02-06 08:08] rgaudin commented on #1756
Important information is that the player is the very same player as for youtube ZIMs. Main difference is that it is applied to `<audio />` elements instead of `<video />` ones.

[2020-02-06 09:50] macgills commented on #1709
I found the issue.

First I set a breakpoint in this method to assert that the correct method was being called
[code]

On deselect the correct codepath was taken which leads us to
[code]
fun ImageView.setBitmapFromString(string: String?) {
  setBitmap(Base64String(string))
}
[code]
at this line `if (tag != base64String) {` I could inspect the `tag` in the debugger
![image](https://user-images.gith

[2020-02-06 10:06] kelson42 commented on #1717
@macgills I can not bookmark anything anymore, seems to still have a problem to me.

[2020-02-06 10:08] macgills commented on #1756
Could not reproduce. @rgaudin is it possible for you to provide me with logs?

I am intenesely suspicous of Android Go.

[2020-02-06 10:11] rgaudin commented on #1756
Will try but it's difficult. The device is crap and when connected (debug mode), the screen is not/incorrectly responsive.
What happens on your system when clicking that button?

[2020-02-06 10:33] macgills commented on #1756
Audio starts playing.
![image](https://user-images.githubusercontent.com/3358282/73929050-0ef9c680-48cc-11ea-896c-8a0e08df0038.png)

Some audio links have greyed out play icons
![image](https://user-images.githubusercontent.com/3358282/73929019-fc7f8d00-48cb-11ea-85ea-8187b0439cbb.png)

[2020-02-06 11:21] mohamedsamehkhalil commented on #1510
@macgills, No it did not, I keep trying and I still get the same toast. And so far there is no indication that anything is being downloaded in the background.
It could also be that the languages I chose all did not have tts support. @kelson42 could you tell me what languages resulted in the behaviour described by the ticket

[2020-02-06 11:47] macgills commented on #1312
To support this fully `kiwixlib` would need to be able to work with inputStreams we get from querying a contentResolver. We had previous hacky functionality seen [here](https://github.com/iPaulPro/aFileChooser/blob/48d65e6649d4201407702b0390326ec9d5c9d17c/aFileChooser/src/com/ipaulpro/afilechooser/utils/FileUtils.java#L243-L337) and in this SO answer [here](https://stackoverflow.com/a/20559418/122

[2020-02-06 11:56] yashk2000 commented on #1709
@macgills thanks! I saw the function, but I never thought of checking the tag condition.

[2020-02-06 12:41] #1709 closed

[2020-02-06 14:11] macgills commented on #1272
Strangely though there are still missing translations despite the English insertions.
app: 3
[code]
core: 281
[code]
custom: 4
[code]

This check doesn't make much sense in our workflow where we add a new string, PR to develop, later translation gets added from translatewiki branch.
I agree with myself from 8 months ago that this should be a warning but we should resolve these existing issues

@Ab

[2020-02-06 15:44] macgills opened #1759 "Document adding detail to values-qq when adding a new string"
**Is your feature request related to a problem? Please describe.**
When a new translation is added in english it sometimes has an ambiguous context that would need extra explanation.

**Describe the solution you'd like**
When a translation is added in english there should be a corresponding update in `values-qq` and we should document this process, possibly in Contributing.

**Additional context**

[2020-02-06 16:35] rgaudin commented on #1756
OK, here's a log file

Actually, it crashs even before clicking the play button. When I open a modal dialog, after a few seconds, the app crashes.

Here are the steps for this particular log:

1. launch kiwix (master)
2. open youscribe ZIM
3. click on the first icon
4. wait a bit
5. kiwix disapears
6. using the alt-tab feature to restore kiwix which is in the library

[youscribe_crash.log](https:/

[2020-02-06 19:31] alanajjar opened #1760 "Overlap between logo and title on WikiMed AR"
Hello,

On WikiMed AR app the title is too close to the logo (compared with WikiMed EN), so it look like there's an overlap between the logo and the title.

So please if you can make more space between them?

Also, Why there's frame around the logo? can you please hide it?

![1 (1)](https://user-images.githubusercontent.com/20701355/73971456-96c0ee80-4927-11ea-804d-daaf80f49ab2.png)
![1 (2)](https

[2020-02-06 19:38] kelson42 commented on #1760
@alanajjar Thank you for your report. The problem your report concerns the content, not the software itself. The problem is in the ZIM file itself. The wikimed ar zim file is prepared following this recipe: https://farm.openzim.org/recipes/wikipedia_ar_medicine. Like you can see, the homepage specified in this recipe is https://ar.wikipedia.org/wiki/%D9%88%D9%8A%D9%83%D9%8A%D8%A8%D9%8A%D8%AF%D9%8A

[2020-02-06 19:47] alanajjar commented on #1760
Hello @kelson42 I fixed it on Arabic Wikipedia now. But I think we can let it until I'll make other edits to (update) the homepage and other indexes.

Best

[2020-02-06 20:02] kelson42 commented on #1760
@alanajjar Thank you. We do a new ZIM file of Wikimed AR one time a month... and release new Wikimed AR Android app more rarely. We will just have to wait a few months to make a new full release.

[2020-02-06 20:02] #1760 closed

[2020-02-07 00:06] kelson42 commented on #1312
@macgills So  #1447 is the blocker?

[2020-02-07 00:09] kelson42 commented on #1759
@macgills OK but:
* How to secure that happen?
* At the time the new string is created, nothing is on translatewiki.net.

I think this could only work, if we would be able somehow to put a comment in the original Android `strings.xml` in English and then that would be automatically uploaded to translatewiki.net. Then we could enforce it at the review time.

[2020-02-07 09:07] macgills commented on #1756
there isn't really a crash there unfortunately. I have no ability to reproduce this on my end, I can go buy a Go device (maybe), the emulator alternative is to use a sys image of 19 on a tiny amount of RAM.

The log contains some ANR warnings but that is probably to be expected on such low specs

[2020-02-07 09:11] rgaudin commented on #1756
OK ; is this “behavior” regular though ? What's happening? Is the Kiwix app *restarted* ?

Is there anything I could try on my end? there's an aggressive “RAM cleaner” on the device. I'll try to disable it if possible (was bundled) and see if that changes anything.

[2020-02-07 09:13] macgills commented on #1759
@kelson42 the `values-qq/strings.xml` is already there, excerpt:
[code]

We should enforce adding explanations to `qq` at review time but also we should document this as officially part of our process

[2020-02-07 09:17] macgills commented on #1312
Sorry I made a mistake, I thought this ticket was that ticket.

This ticket is about adding click actions back to our notifications. This is feasible in 3.2. It will entail upgrading our downloading library and using its expanded notification features.

[2020-02-07 09:21] macgills commented on #1756
Well your logs have a curious `gone` statement. How are you extracting logs?

I don't have much idea of what the app is doing, if there is a crash there should be a dialog `Kiwix has stopped working`, if the app is overworked on the main thread it should say `Kiwix has stopped responding`. Without an exception there is nothing I can do. I do have a 6.0 budget device but it is not running Go, grant

[2020-02-07 09:37] #1717 closed

[2020-02-07 11:12] macgills commented on #500
Looking at [this article](https://proandroiddev.com/complex-ui-animations-on-android-featuring-motionlayout-aa82d83b8660) I think that the fab expand to filter bottom sheet with tabs could fantastically suit our needs for filtering on category, choosing ordering by, languages, etc. All without leaving the content so focus remains on the content

[2020-02-07 11:28] yashk2000 commented on #1554
@kelson42 @macgills can I take up this issue? I think renaming to option to `WiFi Hotstop` or `Hotspot Sharing` is good enough.

[2020-02-07 11:31] macgills commented on #1554
@yashk2000 if you can prioritise anything in the 3.2 milestone (preferably with `good first issue` tag) that would be ideal. Otherwise this ticket is still awaiting a firm decision

[2020-02-09 13:52] kelson42 commented on #1759
@macgills OK, two questions:
* qq should not be integrated to the android app. How do we secure this?
* How do we secure that, like values-en, values-qq will be uploaded?

[2020-02-09 13:55] kelson42 commented on #1741
@GearGit ANY FEEDBACK?

[2020-02-09 14:08] kelson42 commented on #1010
@iadeelzafar @abdulwd We have now something displayin “No bookmark”... therefore I guess this has been alredy imolemented?

[2020-02-09 14:11] kelson42 commented on #252
@mhutti1 @macgills Do you have an idea how we could deal with that ticket?

[2020-02-09 14:17] kelson42 commented on #709
@siddharth2010 The second proposal (blue) would be good enough. Do you think this is something you could implement?

[2020-02-09 14:20] kelson42 commented on #132
I think we should move on this with 3.2.

[2020-02-09 14:20] siddharth2010 commented on #709
Sure @kelson42 ! Will just look into it.

[2020-02-09 14:23] kelson42 commented on #1064
Duplicate of #309

[2020-02-09 14:23] #1064 closed

[2020-02-09 14:31] kelson42 commented on #68
See also #19

[2020-02-09 15:09] abdulwd commented on #1010
Yes, implemented in #1710.

[2020-02-09 15:09] #1010 closed

[2020-02-09 15:36] kelson42 commented on #1228
@macgills @abdulwd Do we ever need Bitbar for automated testing?

[2020-02-09 16:04] abdulwd commented on #1228
@macgills Can we try [BrowserStack](https://www.browserstack.com/app-automate) for automated testing? We can generate a universal apk that can be uploaded to BrowserStack & run tests on a small number of devices (say 4 devices) for every build.

Also, we can run all these tests once a day as a regression suite on all the devices that are offered by BrowserStack.

[2020-02-09 16:14] kelson42 commented on #1228
@abdulwd The fundamental problem with BrowserStack is that we can not really affort it.

[2020-02-09 16:21] kelson42 commented on #1228
Or maybe not https://www.browserstack.com/open-source?ref=pricing

[2020-02-09 17:08] abdulwd commented on #1228
Yupp. It's free for open source.

[2020-02-10 08:18] macgills commented on #1759
Having the qq file in source is one of the best ways to secure it gets updated, it is probably worth the 4KB.
I am not sure what you mean by "uploaded", I think this will be managed by translatewiki as part of their upload.
You can view the [discussion](https://github.com/kiwix/kiwix-android/pull/1751#discussion_r374649627) on the PR.

[2020-02-10 08:22] macgills commented on #252
As part of #1270 I was looking to make a centralised logging class so we can have greater control over app logging and can comply with the conditional logging easily

[2020-02-10 08:37] macgills commented on #1228
It is an option, we could see if it integrates into our flow. Seems trivial to start with their plugin, it gets slightly more irritating if the plugin doesn't support split apks

[2020-02-10 08:38] kelson42 commented on #1228
@macgills @abdulwd Before moving on this I would really appreciate a pro/con table with BitBar and and browserstack and myabe other (In this table should of course be listed the most important problem we today face with BitBar).

[2020-02-10 08:52] macgills commented on #1759
@Abijeet can you confirm for me the workflow?
A developer adds a string to `values/strings.xml' file.
A developer adds the context string to `values-qq/strings.xml` file.
When TW syncs with the latest files it imports these 2 files.

[2020-02-10 09:00] Abijeet commented on #1759
Yes,  this will be imported into Translatewiki and then be displayed to translators when they are translating messages into other languages.

![image](https://user-images.githubusercontent.com/1685517/74134968-7045d080-4c11-11ea-9d9a-486737068bdc.png)

That documentation comes from https://github.com/kiwix/kiwix-android/blob/develop/core/src/main/res/values-qq/strings.xml#L13

Just to add some mor

[2020-02-10 09:19] macgills commented on #1228
We do already do a lot of automated testing on emulators. API levels 21-29 on nightly.

What these solutions add is physical devices and support for recording video if something goes wrong during a test.

The con is we have to have a complicated solution to integrate into our flow properly or at least this is how I understand it ie fail build if the tests fail. Both platforms have `callbackUrls` t

[2020-02-10 09:21] #1312 closed

[2020-02-10 11:26] macgills commented on #57
@kelson42 what is the proposal of this ticket now?

Is it that we check for updates to a zim file by using the OPDS endpoint to do a search with the book `name` and doing a comparison of the returned dates to see if there is a later version?

We could use the workmanager to achieve this, scheduling a task to run every day/week/month while a phone is plugged in and connected to wifi.

Do we do this

[2020-02-10 11:50] mohamedsamehkhalil commented on #1510
I was able to reproduce the problem exactly as described.
I have a galaxy phone so it used the Samsung TTS engine by default but when I switched to the Google TTS engine the described behaviour occurs.
The problem seems to exist only when using Google TTS engine because instead of reporting a missing language it jumps to downloading the data.
I would like to continue working on this issue if it's

[2020-02-10 11:51] macgills commented on #1510
@mohamedsamehkhalil please do, you have been assigned

[2020-02-10 12:47] yashk2000 opened #1762 "About Page for the app."
**Is your feature request related to a problem? Please describe.**

Currently, the application doesn't have a dedicated about page telling about it's details.

**Describe the solution you'd like**

Making an about section for the app and adding the option to open it to the main menu or settings of the app.

**Additional context**

I would like to make a dedicated about section for app which contai

[2020-02-10 12:47] yashk2000 commented on #1762
@kelson42 @macgills what are your views on this?
I was just going through the app and realized that this is missing while it is present in many other applications.

[2020-02-10 13:04] macgills commented on #1762
In Settings we have the app version and clicking on `Credits` shows the licenses of the application.
`Help` shows info about the app.

I wouldn't classify this as a priority for anytime soon.

The most desirable feature here to me is `Report an issue` which could extend from our `Send Feedback` & `Error Reporting` facilities

[2020-02-10 13:07] kelson42 commented on #1762
We have one. I would prefer a ticket specifically proposing to improvedor fix one part of it.

[2020-02-10 13:07] #1762 closed

[2020-02-10 13:09] kelson42 commented on #1759
@macgills So IMO we need to close that ticket:
* Add a small paragraph about translation in the CONTRIBUTING.md
* Secure that `values-qq` is not part of the app

[2020-02-10 13:13] yashk2000 commented on #1762
@macgills should I make a report issue option below the Send Feedback option which directs them to the issues page over here.

[2020-02-10 13:37] macgills commented on #1762
I would leave that to the discretion of @kelson42

My idea is perhaps more of a "diagnostic" that could aid us in troubleshooting with users who are experiencing issues, much like how our Error Reporting(see ErrorActivity) works in that a user can toggle data to send us data like what is in the Databases. My personal interest is in the result of the `mount` command which we use to detect the files

[2020-02-10 17:59] kelson42 commented on #57
Yes

Yes

All ZIM files (which have a name)

We don't have that for now... and I'm not really sure this would be a good idea. You probably have to execute one request per ZIM name (in the local library).

One notification per name, we the ability of downloading, cancelling, remindmelater.

[2020-02-10 18:05] kelson42 commented on #1756
@rgaudin What is your exact device? Might be not a bad move to have @macgills able to run Kiwix of such a device or similar super low end hardware (on a device farm, or even buy one).

[2020-02-10 18:43] mohamedsamehkhalil commented on #1510
So I think I found the problem and have a solution for it, however I am new here and don't know if I am putting too much details or not enough details in this comment. if I am doing either, please excuse me tell me how I should clarify and I will be glad to hear your improvements to my solution. @kelson42 @macgills

# The Problem
the problem occurs at line 134 in [KiwixTextToSpeech.java](https://g

[2020-02-11 09:41] rgaudin commented on #1756
The device is a **TECNO F1**. I have no link to share as the manufacturer as no page for it online and most specs catalogs are wrong mentioning 512MB RAM while mine has 1GB.

Retail price is under $60 here.

[code]

[2020-02-11 10:05] macgills commented on #1510
Sounds great @mohamedsamehkhalil , I look forward to the pull request

[2020-02-11 10:12] macgills commented on #53
With google play publisher we can create a special folder with `txt` file for the store description per language. Full details [here](https://github.com/Triple-T/gradle-play-publisher#managing-play-store-metadata). This would be an update to the existing arrangement with TW as these string are not stored in a `strings.xml` file in the typical directory

[2020-02-11 12:51] kelson42 commented on #53
@macgills I agree with this approach.

[2020-02-11 13:00] macgills commented on #1203
@kelson42 it does not appear to, this means our language selection will have to change to be singular and we will need a new source for where we read languages from, currently done by iterating over the library.

[2020-02-11 15:54] kelson42 commented on #1636
I'm not in favour of strickin anything, but maybe we should not display the tags which are not "active".

[2020-02-12 09:07] #1636 closed

[2020-02-12 09:26] macgills opened #1766 "Fix Tag Display Behaviour"
**Describe the bug**
The tags curently do not operate to spec

**Expected behavior**
Short text/Text Only should display appropriately

[2020-02-12 11:23] macgills commented on #12
@kelson42 I have added the buildconfig fields and functionality
[code]
but as of right now they are not enabled for any custom app. Are we going to add properties to the custom app json? If this is only for phet I can in my code just say `name == "phet"`

[2020-02-12 11:49] macgills commented on #100
@kelson42 is this ticket now "Integrate detekt and fix issues" or "Fix checkstyle issues"?

[2020-02-12 13:52] kelson42 commented on #100
@macgills Both.

[2020-02-12 13:54] kelson42 commented on #12
@macgills I would prefer to have options in the json and have them in the phets json as example.

[2020-02-13 11:31] rgaudin commented on #1756
Did some additional testing and sharing some findings for documentation purpose…

The first thing to state is that I tried accessing the ZIM served by kiwix-serve on a different computer, using Chrome and it worked perfectly. No browser crash, audio plays as expected.

Important to note that when _downloading_ audio files, the chrome player is launched (as android supports ogg) but I received a RA

[2020-02-13 12:45] kelson42 commented on #1741
@macgills Without any other feedback, I propose to close this ticket because we have no reproduction case or other user suffering from this problem. There is nothing more we can do here.

[2020-02-13 12:48] rgaudin commented on #1756
Sorry for all the noise around this but trying to document the other issue, I got the _crash_ also on the emulator (Pixel3a, API29).

Though it could be RAM related, so a created another virtual device with 3GB  ram on API 26 but it crashes on opening the ZIM file…

[code]

Attaching the full log.
[emulator_crash.log](https://github.com/kiwix/kiwix-android/files/4198366/emulator_crash.log)

[2020-02-13 13:01] rgaudin opened #1769 "disabled videojs widget with youscribe_audiobooks"
**Describe the bug**
Using [youscribe_audiobooks ZIM](download.kiwix.org/zim/other/youscribe_fr_audiobooks_2020-01.zim), both @kelson42 and @Popolechien reported frequently facing _disabled videojs widgets_.

This renders the the ZIM file unusable on android.

**Steps to reproduce the behavior:**
1. Open ZIM
2. Try various titles and check that the widget is enabled/usable

Reports were on the fol

[2020-02-13 13:05] kelson42 commented on #100
Just to be surw, this ticket is not a duplicate of #1274?

[2020-02-13 13:15] Popolechien commented on #1769
Kiwix Android : 3.1.3 build 6230103

 Huawei P20 lite

 Android 9

[2020-02-13 13:25] macgills commented on #1741
There could be an investigation using the emulator on various api levels. It is not a priority for me right now

[2020-02-13 13:26] macgills commented on #100
totally different

[2020-02-13 13:31] macgills commented on #1756
You have to be sure to be using google_apis emulators to get a someway decent version of the browser on the emulator. Emulators being fresh instances will have the worst browser and lead to bizarre issues.

I'll do an investigation on the audio soon.

[2020-02-13 13:35] kelson42 commented on #1741
@macgills We need these details about the problematic device/software stack from @GearGit. I don’t want you searching a reprocase blindly.

[2020-02-13 13:58] kelson42 commented on #1354
Still wrong :(
[code]

[2020-02-13 13:58] kelson42 commented on #1354
/move kiwix/kiwix-tools

[2020-02-13 13:58] #1354 closed

[2020-02-13 14:01] kelson42 commented on #134
Still there and not specific to Android:
[code]

[2020-02-13 14:01] kelson42 commented on #134
/move kiwix/kiwix-tools

[2020-02-13 14:01] #134 closed

[2020-02-13 15:08] kelson42 commented on #26
The problem seems to come from the Android side, because `kiwix-search` give the proper results:
[code]

But Android not:

Remark: What is interesting, is that after playing a bit, it seems that I get the two results properly... so something is weird there:

[2020-02-13 17:18] macgills commented on #1769
So how video reading works is like so
[code]

The issue is arising in the `dup(infoPair.fileDescritor)` which creates a file pointing to the zim file but with an offset(start location of content) that it gets from infoPair. The offset in infoPair is negative causing an exception to be thrown
[code]

It seems to me that negative offsets in the infoPair should be invalid. @mgautierfr may be able to

[2020-02-13 17:42] kelson42 commented on #1769
@macgills Might that be that we have here simply a typing problem (unsigned versus signed) for example?

[2020-02-14 08:20] macgills commented on #1769
[code]
there is no possible way for this information to cross the JNI bridge, an int in java is 32 bits. Even still we would be in a lot of trouble if an unsigned 64 bit long came across. Would probably have to represent it via `BigNumber`

[2020-02-14 11:19] kelson42 commented on #1769
@macgills @mgautierfr Nice we have identified the root cause. I let you discuss the solution. Obviously this is a quite serious/urgent problem.

Remark: For good or bad reasons, I would not be surprised if we the root cause of #1659 is the same or a similar problem.

[2020-02-14 11:32] macgills commented on #1769
The current theory on #1659 is that some videofiles are stored adjacent within the zim file, the android api does not currently give us a way of specifying the length of the content we pass as a file descriptor to the webview to get played so it happily continues parsing video bytes until it encounters an error. That is the theory anyways.

[2020-02-14 11:42] macgills commented on #1769
On the topic of a solution: just using Long in the JNI should be fine because we will have a positive range of 0-9,223,372,036,854,775,807 bytes for an offset before hitting negative values which is quite a lot
![image](https://user-images.githubusercontent.com/3358282/74527971-fb2f0f80-4f1e-11ea-9837-78a4a8a07a1d.png)

[2020-02-14 13:12] macgills opened #1771 "Crash Report 3.2: java.lang.IllegalArgumentException CompatFindActionModeCallback.findAll"
**Describe the bug**
java.lang.IllegalArgumentException
org.kiwix.kiwixmobile.core.main.CompatFindActionModeCallback.findAll I would guess we shouldn't be passing nulls to this method?

**Expected behavior**
No crash

**Environment**
- Device : various
- OS version : 9/10

**Logs**
[code]

[2020-02-14 15:43] kelson42 commented on #1659
@macgills @mgautierfr The libzim knows how big is the video/audio. Would that helps if somehow we could tell the player to not go over a certain size?

[2020-02-14 15:58] heimo0 opened #1775 "Kiwix does not find the ZIM files on SD-Card since Jan. Update"
The problem here is that the user has ZIM files on its external SD card and can not see them in its local library.

**Environment**
- Version of Kiwix Android : Jan 2020
- Device : Samsung S8
- OS version : 10

[2020-02-14 16:07] kelson42 commented on #1775
@macgills This is a user who first contacted us via the Play Store comments. He is an "old" user of Kiwix and for some reasons, since January release (so version 3.1) he has no access anymore to his file on the external SD card.

[2020-02-15 15:35] mhutti1 commented on #1775
I have had a look and I can still access them on an s8 running OS 9 though. Pretty sure 10 isn't out on the s8?

[2020-02-16 13:21] kelson42 commented on #1775
@mhutti1 @heimo0 I confirm that for this user Google Play Console reports Android 9. That said, we have many different models of S8. Lets wait to @macgills to see if he has a few specific questions for @heimo0.

[2020-02-16 18:17] JensKorte opened #1777 "Additional F-Droid repository for nightly"
**Is your feature request related to a problem? Please describe.**
I have no Playstore Account and therefore I cannot get the nightly version easily. I have to download it from <https://download.kiwix.org/nightly/>.

**Describe the solution you'd like**

It would be great, if kiwix had a F-Droid repository for nightlies like repos listed in <https://forum.f-droid.org/t/known-repositories/721>. See

[2020-02-16 18:19] kelson42 commented on #1777
Sounds doable...

[2020-02-16 18:36] JensKorte opened #1778 "External storage not selectable in nightly"
**Describe the bug**

I installed the nightly <https://download.kiwix.org/nightly/2020-02-16/dev-universal-debug.apk> and when selecting storage I just get internal storage listed. The external/sd-card storage is missing. Using 3.1.3 from F-Droid shows me Internal and External.

**Expected behavior**
Both should be listed.

**Steps to reproduce the behavior:**

Have a look at the preferences/selec

[2020-02-16 18:39] JensKorte commented on #1778
Imho this bug is NOT related to #1775 since I get the zim files from SD-card after ten seconds.

[2020-02-16 18:53] heimo0 commented on #1775
hallo

I think problem is independent from OS Android.

I tried it also with my old LG G4 and Android V7.

Last year Kiwix run here with ZIM already on SD-card, but now not yet....

yours.

Gruß

Hermann

------------------------------------------------------------------
Hermann Moseler            Tel.:   089-44848-40-0

Von: Kelson [mailto:notifications@github.com]
Gesendet: Sonntag, 16. Februar

[2020-02-18 10:49] macgills commented on #1659
I don't see how right now, the entire thing is set up to read a file and we are telling it to read a portion of a file. We can write the file out of the zim temporarily and then pass along the pointer to that file but I have concerns over the speed of that

[2020-02-18 10:55] macgills commented on #1775
@heimo0 do you know from which version you updated?

I would recommend you leave your phone open on the Library screen for a couple of minutes as we had a poorly performing feature that has been improved for the next release but that you could be suffering from. After a few minutes it should a) stop greying out files over 4GB b) Scan your directories properly and populate the Device tab

[2020-02-18 11:20] rgaudin commented on #1659
Not to mention the size issue given video files are usually large…

I wonder how `stat()` works and what it returns from that fd though the fact that we saw next video being played automatically indicates it might not be using stat results.

Would be interesting to know what triggers EOF given we don't provide that information yet it works as expected in most cases.

[2020-02-18 11:24] macgills commented on #1659
The theory is that the adjacent bytes are incompatible with the player and cause an exception but if 2 video files are sequential in memory it starts playing the next one

[2020-02-18 11:27] macgills commented on #1659
We extract the fileDescriptor from a RandomAccessFile which we preform a seek on with the offset, RandomAccessFile also does have a `setLength`, I wonder if this would be respected

[2020-02-18 12:11] macgills commented on #1778
I confirm the issue was with migration to Recyclerview, the layouts previously used for ListView had a `match_parent` attribute meaning the first item expanded to fill the entire space. Fix incoming

[2020-02-18 12:47] #1766 closed

[2020-02-18 12:47] #12 closed

[2020-02-18 12:48] #1771 closed

[2020-02-18 12:52] kelson42 commented on #709
@siddharth2010 any news?

[2020-02-18 12:55] kelson42 commented on #1659
We should check this. I believe the length of the RandomAccessFile might not be set at all.

[2020-02-18 12:56] macgills commented on #1659
To do that I would need to know the length, I can run a quick experiment with a hardcoded length and see if the video stops

[2020-02-18 13:00] kelson42 commented on #1659
If you struggle, give me a url and zim file and i will tell you the size.

[2020-02-18 13:11] kelson42 commented on #1659
Here are the details for the ZIM about Mali:
[zimdump.txt](https://github.com/kiwix/kiwix-android/files/4219340/zimdump.txt)

[2020-02-18 13:13] kelson42 commented on #1778
@JensKorte Good catch!

[2020-02-18 13:21] kelson42 commented on #1661
I'll close the ticket for now, as we don't have neither a clear reprocase nor a way to get more information. Nothing more can be done for the moment.

[2020-02-18 13:21] #1661 closed

[2020-02-18 13:23] kelson42 commented on #742
@julianharty @macgills What would be the next step here? It is quite unclear to me.

[2020-02-18 13:24] kelson42 commented on #1769
@mgautierfr Could you please fix this typing problem and release a test kiwixlib for @macgills ?

[2020-02-18 13:25] rgaudin commented on #1659
Interestingly, there's no two videos next to each other in this example. I believe that's the one you encountered the overlap in.

[2020-02-18 13:31] macgills commented on #1659
`setLength` will truncate the zim file so is not feasible to use

[2020-02-18 13:37] macgills commented on #742
I am happy to close this

[2020-02-18 13:55] #742 closed

[2020-02-18 14:14] kelson42 commented on #1228
@abdulwd Do you know if browserstack can deal with split APKs?

[2020-02-18 14:17] kelson42 commented on #1744
@macgills I propose to abandon that idea because:
* less and less of such devices
* not a real added value as most of the apk size is binary code
* Quite complex
* Our apk is relatively small anyway

[2020-02-18 14:20] kelson42 commented on #1605
@amire80 I think the way to follow is described in #1759. Wouldnthat be good to you. Then this ticket would be about getting the job done for all existing strings.

[2020-02-18 14:26] kelson42 commented on #1749
@macgills I don’t really think that we can have one dark mode strategy which will fit to all kind of contents. My feeling is that the ultimate solution is that the content decides this... and using the Android native solution is for that reason not optimal.

[2020-02-18 14:28] abdulwd commented on #1228
I'm not sure I have to check.

[2020-02-18 14:37] kelson42 commented on #1741
No feedback. I close the pb.

[2020-02-18 14:37] #1741 closed

[2020-02-18 14:54] macgills commented on #1744
I am happy to abandon it

[2020-02-18 14:54] #1744 closed

[2020-02-18 14:58] macgills commented on #1749
I think there will be an aesthetic benefit to many of our users. To me the cost is the added complexity in having 2 solutions, 1 as a fallback

[2020-02-18 22:39] heimo0 commented on #1775
hallo ....

                                   do you know from which version you updated?

no, because I did it not manually, but it took place automatically by the OS-System.....

----------------

So I tested open on the Library screen for hours, bad result, apps was always closed, when I looked ..on it....

Please link me the previous version APk, so I can use the old version, until you fix th

[2020-02-19 07:14] #1778 closed

[2020-02-19 08:17] Popolechien opened #1781 "Clicking "find in page" crashes app"
Steps to reproduce:

* Open app
* Click on magnifier
* Click on Find in page (without entering any search term)

The app first freezes and then crashes.

Android 9.0
Huawei P20 Lite
Kiwix 3.1.3 build 6230103

[2020-02-19 08:23] Popolechien opened #1782 "Find in page conflated with Find in ZIM"
Basically when I start typing text the "find in page" button disappears and the search only applies to the whole zim.

I would probably advocate that "search" and "find in page" be dissociated (the latter being pushed to a menu item), unless there's an elegant way to switch from or select either on that search bar.

[2020-02-19 08:36] macgills commented on #1781
this was already fixed in #1771 , if you can verify this behaviour with a nightly I'll reopen

[2020-02-19 08:36] #1781 closed

[2020-02-19 08:42] macgills commented on #1782
This bug was also fixed in #1771 , the `find in page` buttons visibility is now controlled by whether or not there is text in the search field.

I do agree that Find In Page should be accessible from the main screen, potentially as an overflow option. It probably wasn't because of the overpopulation of that list that exists now

[2020-02-19 09:05] kelson42 commented on #1782
Could we split things in two tickets? Here we have a bug which needs to be fixed. The other part is an idea of improvement.

[2020-02-19 09:08] macgills commented on #1782
The bug is fixed

[2020-02-19 09:10] macgills commented on #1782
![image](https://user-images.githubusercontent.com/3358282/74818930-70bc2680-52f7-11ea-8bce-a0e08a70ef64.png)
chrome has `Find in Page` in its' overflow menu, as an example

[2020-02-19 09:13] macgills commented on #1769
We have some partial success
![image](https://user-images.githubusercontent.com/3358282/74819188-e9bb7e00-52f7-11ea-9f08-9f2ccaaaa184.png)

[code]

I will investigate these errors that are affecting the disabled audio files

[2020-02-19 09:14] kelson42 commented on #1782
The original discussion about that is at #154.

[2020-02-19 09:58] macgills commented on #1769
I am unsure how to progress as this seems to be a chromium error? My WebView implementation is supplied by Chrome 80.0.3987.99 . This answer doesn't fill me with confidence as in the description it says it was working fine on kiwix-serve.

All I can find when googling is people complaining about chrome 67.

If @rgaudin or @kelson42 want to contact me on slack I can share an apk so they can test wi

[2020-02-19 10:05] macgills commented on #1782
We could try to adopt a more browser like behaviour and abandon the search icon because it is the search icon that is confusing people.

If we had a chrome-like "address bar" at the top with the title in it and we could only open `Search` by clicking in it then I think people would look in the overflow menu for `Find in Page`

[2020-02-19 10:18] Popolechien commented on #1782
Sounds good/reasonable to me. Obviously the two-in-one approach isn't ideal, so let's shamelessly copy what others have already figured out.

[2020-02-19 13:20] mgautierfr commented on #1659
As I said, I think we should try to create our custom ParcelFileDescriptor (inheriting the android's ParcelFileDescriptor) to store the size.

It seems that this the method `writeToParcel` is then called by "android" to fill a parcel with a chunk of the data to read.(and play).
If we use our custom class, we can use the size to stop filling the parcel and behave as if we are at the end of the file

[2020-02-19 13:40] macgills commented on #1659
And as I have said @mgautierfr that is not what a Parcel is. Parcelable is how android passes data between processes, this **Parcelable**FileDescriptor allows the fileDescriptor to be passed between processes by giving instructions on how to write a fileDescriptor to a parcel and how to read a fileDescriptor from a parcel. It does nothing with what the fileDescriptor points to.

We may have more l

[2020-02-19 13:57] mgautierfr commented on #1659
Ho, I didn't understand your previous comment. Sorry.

So, maybe by overriding https://developer.android.com/reference/android/os/ParcelFileDescriptor.html#getStatSize() ? I don't know how the fd is send to the videoPlayer using the parcel but, if are lucky it also pass the size of the video using `getStatSize` to know it. If we change it to the real size of the article (or offset+size), maybe it

[2020-02-19 14:16] macgills commented on #1659
Overriding getStatSize does seem more promising, I can run quick experiments to see if it does work.

I do think that ultimately if we can pass InputStreams to the WebView that would be superior on a lot of counts as it better reflects the reailty of what we are doing ie just chucking bytes at it, not actual files which FileDescriptors represent

[2020-02-19 16:30] heimo0 commented on #1775
hallo ...

                        5 minutes should be the worst scenario

I would only say with my message, that I observed the Library screen for long time, nothing happens after 5, 10, 15, 30 or more minutes, until sometime later the app closed by itself.....

-------------------

                        Do you have your sd card set as your preferred storage for downloading zims?

Of course, be

[2020-02-20 11:15] macgills commented on #1659
Overriding `getStatSize` did not produce a result. I hardcoded the size as `1_000L` and content played regardless.

Also I believe after some light investigation that what we are recreating is an [AssetFileDescriptor](https://developer.android.com/reference/android/content/res/AssetFileDescriptor) and if we follow my proposal (and it actually works) we will be feeding in an [AssetFileDescriptor.Au

[2020-02-20 13:08] macgills commented on #1272
@Abijeet I was under the impression that TW would insert English values for the strings into a languages strings.xml if the value was not there. Does this just happen for some languages? Or have I imagined this feature? I have only the vague memory of a comment on a PR.

[2020-02-20 14:03] macgills opened #1784 "Multiple instances of MainActivity created when opening a book"
**Describe the bug**
When opening a book it creates a new instance instead of returning a result

**Expected behavior**
1 instance of MainActivity

**Steps to reproduce the behavior:**
1. Open a book from the library
2. Press back
3. See old instance of MainActivity

[2020-02-20 14:18] macgills commented on #1775
I like to try it...

I am still a bit unclear here. Are you going to install a previous version or are you happy to help us with our investigation by installing a development version of the apk?

[2020-02-20 14:21] macgills commented on #1756
I have been trying to reproduce the crash with emulators with no success.

@kelson42 I would say this should be descoped from this milestone and I will work on it at the hackathon as suggested.

[2020-02-20 14:22] macgills opened #1786 "Upgrade kiwixlib"
**Is your feature request related to a problem? Please describe.**
Video/audio files won't play because the reported offset from kiwixlib is returned as an int.

**Describe the solution you'd like**
Upgrade to latest kiwixlib to benefit from the correct typing of this field

[2020-02-20 14:41] Nikerabbit commented on #1272
We do not do that. The de facto practice is that the upstream projects to use an i18n library that will automatically fill in missing translations from fallback language(s) (usually from English, but can be more complex than that).

[2020-02-20 14:47] macgills commented on #1272
@Nikerabbit I think my confusion arose from `values-eu\strings.xml`
specifically
[code]
which is not in Basque and is also very different from the string in English
[code]

Android does provide this fallback system for us, if a string is not defined in `values-XX` the base string in `values` is used

[2020-02-20 15:05] macgills commented on #1272
Ensuring we have no missing translations at PR time is not feasible for the 100~ languages in the app. My PR has been updated to reflect this and I will consider the issue closed once it has been merged

[2020-02-20 15:08] macgills opened #1787 "Add any specific requirements for translating kiwix files to TW"
**Is your feature request related to a problem? Please describe.**
Kiwix has some linting requirments that translators should be made aware of

**Describe the solution you'd like**
Update this page https://translatewiki.net/wiki/Translating:Kiwix to help translators

[2020-02-20 15:34] #1784 closed

[2020-02-20 15:37] macgills opened #1788 "Create script to move string resources across modules"
**Is your feature request related to a problem? Please describe.**
To support our translations we lint  the core module as a dependent of the app module. This has a side effect of linting all of the dependencies of app and creates false positives in our lint reports that have to be baselined

**Describe the solution you'd like**
A script that takes 3 inputs, `source module`, `destination module` `

[2020-02-20 15:44] kelson42 commented on #1272
@macgills In case this was not clear, we can ask TW to update languages only if more than X% of strings are translated.

[2020-02-20 16:17] macgills commented on #100
@kelson42 I had forgotten checkstyle was only a format checker and didn't actually check for any bugs at all.

I don't think it is worth our time integrating it for the dwindling 43% of the code that remains in java when our formatter is already in source control and ktlint runs on our kotlin and automatically formats it.

Checkstyle does not support autofixes beyond what we already have so I don'

[2020-02-20 16:19] macgills commented on #1272
They track that here https://translatewiki.net/wiki/Special:MessageGroupStats/out-kiwix , I don't think they need us to tell them percentage coverage. Or maybe I have misunderstood your meaning

[2020-02-20 17:09] Nikerabbit commented on #1272
https://translatewiki.net/wiki/Translating:Kiwix mentions the current (default) export threshold of 25%. Language below this threshold are not updated (but neither removed, if they they previously were added while being over the threshold).

[2020-02-20 19:29] 4shutosh commented on #709
Can I work on this issue?

[2020-02-20 19:39] kelson42 commented on #709
@4shutosh If you can fix it really quickly, yes.

[2020-02-20 19:42] 4shutosh commented on #709
A color with better contrast for both modes(dark and light) can be used.

[2020-02-20 21:02] mohamedsamehkhalil commented on #1443
Hello, I would like to work on this.
I grepped for usages of the the alertdialog and found the following 3 files, I would like to start working on them asap
[code]
I have a question. `DialogShower` is in interface, did you mean `AlertDialogShower` or should I implement a new class to wrap `DialogShower` ?

[2020-02-21 08:40] #709 closed

[2020-02-21 08:41] kelson42 commented on #1786
@mgautierfr We need urgently libkiwix 9.0.1 to release Kiwix Android 3.2

[2020-02-21 08:42] kelson42 commented on #1775
I think at this stage, we will release 3.2 in the Play Store and @heimo0 will tell us if he still has a problem.

[2020-02-21 08:46] macgills commented on #1443
Because of how our dagger binding is setup whenever you inject DialogShower it injects an instance of AlertDialogShower. You will not need to implement a new class for this.

If you need a quick brief on DialogShower, KiwixDialog and the kotlin features they use you can chat with me on slack.

[2020-02-21 08:47] kelson42 commented on #1756
@macgills I don't really know for now how to deal with the problem. Postponing.

[2020-02-21 08:59] macgills commented on #1775
The only addition I can think of is we could scan the directories returned by MountInfo? I would need to run some tests on it

[2020-02-21 09:14] macgills commented on #1272
@kelson42 this ticket is about the lint check and it has been made a warning. If we are to request more translations or anything else this should probably be another ticket? For me the end goal of this ticket has been achieved

[2020-02-21 09:19] #1510 closed

[2020-02-21 09:21] macgills commented on #100
@kelson42 there is still a PR that integrates detect so I am reopening this and will move that Pr from draft to Ready for Review

[2020-02-21 09:22] macgills commented on #1272
The PR is still open so I will reopen this

[2020-02-21 09:44] mohamedsamehkhalil commented on #1443
Yes, I would like that, but I don't know how to join slack

[2020-02-21 09:50] kelson42 commented on #1443
@mohamedsamehkhalil I have sent you an invitation

[2020-02-21 11:05] #1275 closed

[2020-02-21 17:40] Frans-Lukas commented on #1788
I'd like to work on this!

[2020-02-22 09:26] yashk2000 opened #1792 "Arrows next to questions not visible in dark mode"
**Describe the bug**
On switching to dark mode, the arrows next to the questions in the help section are not visible.

**Expected behavior**
The arrows should be visible in dark mode too.

**Steps to reproduce the behavior:**
1. Switch to dark mode.
2. Go to the help section from the menu.
3. The arrows next to the questions will not be visible.

**Screenshots**

![screencap](https://user-images.g

[2020-02-22 09:27] yashk2000 commented on #1792
@kelson42 @macgills I propose making the color of those arrow icons the same as the color of the feedback icon so that it is uniform throughout the help section and will be visible in the light as well as dark mode.
Should I proceed with this?

[2020-02-22 09:33] kelson42 commented on #1792
I really wonder why this does not work out of the box here! It should be grey like the text to me.

[2020-02-22 09:53] 4shutosh commented on #1792
I would like to work on this.

[2020-02-22 09:57] yashk2000 commented on #1792
I also tried to figure that out. In the text view, we are using style to set the parameters unlike that in the arrow. Maybe that's causing the discrepancy.

What option should we proceed with?
Making the color always blue or changing it according to the mode of the app?

[2020-02-22 09:57] yashk2000 commented on #1792
Sorry, I opened the issue with the intention to work on it.

[2020-02-22 10:04] yashk2000 commented on #1792
@kelson42 is this fine?

![screencap](https://user-images.githubusercontent.com/41234408/75090431-ca874f80-5588-11ea-9d52-9b335d4e38e8.png)

[2020-02-22 14:59] KushagraK123 opened #1794 "Improve README instructions about project import"
While building kiwix-android, build fails with message Deprecated Gradle features were used in this build, making it incompatible with Gradle 6.0.

[2020-02-22 15:33] kelson42 commented on #1794
@abdulwd Maybe you can help @KushagraK123, from the CONTRIBUTING file, it is not clear if a specific version of Gradle is expected... or maybe we have an other problem here?

[2020-02-22 15:40] deborahlow97 commented on #1794
Hey, have you tried the solution mentioned [here](https://stackoverflow.com/questions/56607089/new-gradle-sync-is-not-supported-due-to-containing-kotlin-modules-using-an-unsup)? It seems like a similar issue.

[2020-02-23 03:21] danielzgtg opened #1796 "Wiktionary translations can't be shown"
**Describe the bug**

The translations in Wiktionary cannot be viewed anymore on the latest ZIMs. They start collapsed and do not expand when tapped. This applies to translations, conjugations, and collapsible tables in general.

This happens with:
- `wiktionary_en_all_maxi_2020-01.zim`
- `wiktionary_en_all_nopic_2019-12.zim`
- `wiktionary_en_all_novid_2018-06.zim`

This does not happen with and t

[2020-02-23 16:38] srv-twry opened #1797 "Proposal: Allow users to refresh the books list on the home screen"
**Is your feature request related to a problem? Please describe.**

There should be a way to refresh the list of books on the home screen. Consider this sequence of events:
1. You start downloading a certain book which takes a few minutes
2. You come back to home screen while the download is in progress
3. The book is successfully downloaded
4. The list of books shown doesn't have the newly downlo

[2020-02-23 16:42] srv-twry opened #1798 "Confirm from users before deleting the history/bookmarks"
**Is your feature request related to a problem? Please describe.**

While using the application randomly, I stumbled upon the history tab. I accidentally clicked on the delete icon and it deleted my history. There was no confirmation requested by the application.

**Describe the solution you'd like**

I think there should be a confirmation dialog asking the user to confirm the deletion.

**Additio

[2020-02-23 16:49] kelson42 commented on #1798
Not sure if that is really a good idea. Would need other opinions on that.

[2020-02-23 16:50] kelson42 commented on #1797
Home screen and local library should merge at some point. I would leave that aside for the moment as this is milestone 3.3 main topic.

[2020-02-23 16:59] srv-twry commented on #1798
After a little more research, I believe that an option to undo the action would be much better in comparison to a confirmation dialog. Obviously, that depends on if the action is invertible or not. I haven't taken a look at the source code, so can't comment on that.

Nice discussion here: https://ux.stackexchange.com/questions/71960/deletion-confirm-or-undo-which-is-the-better-option-and-why

[2020-02-23 17:09] Frans-Lukas commented on #1794
I had the same error message when first importing the project. I can not reproduce this error though.

What I did to solve this was to import the core module alone in android studio, and not the entire project. That is: in android studio. File->new->import project. Select kiwix-android/core

[2020-02-23 19:14] kelson42 commented on #1796
@danielzgtg Thank you for your bug report, this is a bug in the content itself, moving the issue to the right repository.

[2020-02-23 19:14] kelson42 commented on #1796
/move openzim/mwoffliner

[2020-02-23 19:14] #1796 closed

[2020-02-23 19:24] kelson42 commented on #1788
@Frans-Lukas You are welcome :)

[2020-02-24 06:11] abdulwd commented on #1794
@KushagraK123 I think what you're seeing is a warning: `Deprecated Gradle features were used in this build, making it incompatible with Gradle 6.0`. I also get this line in build logs but the build succeeds. Can you confirm this so we can close this ticket?

Otherwise, if you would like to fix this warning you can change the title of this PR.

[2020-02-24 06:34] abdulwd opened #1799 "Add slack invite link to readme"
**Is your feature request related to a problem? Please describe.**

Add slack invite link to the readme.

**Describe the solution you'd like**

Just change the text to: `Slack: #android channel (get an invite)` under communications linked with https://join.slack.com/t/kiwixoffline/shared_invite/enQtOTUyMTg4NzMxMTM4LTU0MzYyZDliYjdmMDYzYWMzNDA0MDc4MWE5OGM0ODFhYjAxNWIxMjVjZTU4MTkyODJlZWFkMmQ2YTZkYTUz

[2020-02-24 08:06] #1786 closed

[2020-02-24 09:17] dlow97 commented on #1799
I‘d like to do this issue!

[2020-02-24 09:19] deborahlow97 commented on #1799
I’d like to do this issue!

[2020-02-24 09:35] Frans-Lukas commented on #1788
@macgills @kelson42 Am I interpreting this correctly?

The user gives `source module` and `destination module` as well as `string key`.

The source and destination modules can for example be `app` and `core`. The script will then look for a `source module`/src/main/res/ directory after of which it will iterate all `values*` directories from there. For each iteration it will copy the `string key` l

[2020-02-24 09:35] macgills commented on #1794
Per the readme

This means you can't `open` the project, you must `import` it
![image](https://user-images.githubusercontent.com/3358282/75141005-f1a86300-56e7-11ea-99f5-bfd5b077a214.png)
We could probably bold/underline/italicise/quote that part to emphasise that.

I would delete whatever you have on disk, open android studio to an unrelated/empty project, clone kiwix and then import it.

As @abd

[2020-02-24 09:44] kelson42 commented on #1794
@macgills Yes, I think this is important to be a bit more explicit here in the documentation.

[2020-02-24 09:45] kelson42 commented on #1788
@macgills I think this script should be in Python. You confirm?

[2020-02-24 09:45] macgills commented on #1788
Yes this is correct, it will find a string by key and cut it out of all the values-* files it occurs in and add it to (or create) the corresponding strings file.

I think in reality what will happen is that strings will only be moved from `core` -> `app` but it is easy to give us the flexibility.

Personally if I was going to write this I would try and do it with [kotlin scripting](https://kotlinl

[2020-02-24 09:46] kelson42 commented on #1788
I strongly support Kotlin, as this is the language of the app. Any other solution would require additional deps to be installed and I don't like this really much.

[2020-02-24 09:47] kelson42 commented on #1799
@deborahlow97 carry on.

[2020-02-24 09:50] Frans-Lukas commented on #1788
Alright, I want to learn kotlin scripting as well, so that will be good. Do we have a directory for scripts in the repository or should the script be placed in the root dir? I noticed there are a couple of scripts in the root dir. (update-play-store.py and upload-apk.py)

[2020-02-24 09:52] macgills commented on #1798
"Confirm before deleting" is more inline with kiwix behaviour. This behaviour would have to be added to bookmarks also, for consistency

[2020-02-24 09:53] kelson42 commented on #1798
@srv-twry Then you can carry on with the fix I believe :)

[2020-02-24 09:53] macgills commented on #1788
Please create a `scripts` directory on the root of the project and move all those scripts in. I have been meaning to delete half off them as they are defunct

[2020-02-24 09:56] Frans-Lukas commented on #1788
Great! Will do.

[2020-02-24 10:09] #100 closed

[2020-02-24 10:11] #1272 closed

[2020-02-24 11:13] #1799 closed

[2020-02-24 11:16] kelson42 commented on #1788
@macgills @Frans-Lukas Probably good to put it directly in `contrib` directly?!

[2020-02-24 11:17] macgills commented on #1788
Ah yes, I forgot that was there

[2020-02-24 12:10] yashk2000 commented on #1794
@macgills should we update the gradle to the latest version? I would be willing to make all the related changes if it's fine. I'll also make the change in the readme so that it's easier for the user to see that the project has to be imported.

[2020-02-24 12:22] macgills commented on #1794
@yashk2000 please make a ticket to upgrade gradle and another ticket to update readme. We will close this ticket when @KushagraK123 's problem is fixed

[2020-02-24 12:30] #1792 closed

[2020-02-24 12:35] yashk2000 commented on #1794
@macgills doing it.

[2020-02-24 12:38] yashk2000 opened #1803 "Update the readme."
**Describe the bug**

The section in the readme which specifies that the project must be imported should be highlighted for better visibility.

**Addition Context**

I would like to work on this.

[2020-02-24 12:40] yashk2000 opened #1804 "Update gradle version."
**Describe the feature**

Gradle version should be updated to the latest version available and all requisite changes should be made to the scripts.

**Additional Context**

I would like to work on this.

[2020-02-24 12:42] kelson42 commented on #1804
@yashk2000 Why? What does that imply for other developers?

[2020-02-24 12:43] kelson42 commented on #1803
Basically a duplicate of #1794

[2020-02-24 12:43] #1803 closed

[2020-02-24 12:44] yashk2000 commented on #1803
@kelson42, I was told to open a separate ticket for this issue by @macgills

[2020-02-24 12:45] yashk2000 commented on #1804
@kelson42 this was discussed on #1794 where @macgills told to open a ticket for this.

[2020-02-24 12:50] kelson42 commented on #894
@macgills To me it looks like this bug has not been fixed properly. The last item is still hidden by the bottom bar on my Android 10 Google Pixel2.

[2020-02-24 12:55] yashk2000 commented on #1794
@kelson42 according to the above discussion, I created #1804 and #1803. So should I proceed with them?

[2020-02-24 12:55] macgills commented on #1804
@kelson42 Upgrading gradle is a necessary step we will have to take eventually, the ecosystem moves and we have to move with it, we are lagging a bit behind right now

[2020-02-24 12:56] macgills commented on #894
@kelson42 see #1611

[2020-02-24 12:56] #894 closed

[2020-02-24 13:01] kelson42 commented on #1659
@macgills Two questions:
* You confirm that using InputStreams fixes the problem because you have tested?
* Do you need something from the libkiwix to get  things working with an InputStreams?

[2020-02-24 13:03] kelson42 commented on #894
@macgills oops, sorry.

[2020-02-24 13:10] kelson42 commented on #1804
@yashk2000 carry on

[2020-02-24 13:10] macgills commented on #1659
@kelson42 I do not confirm InputStreams fix the problem though I would very much believe it does, I have not been able to verify thus far, it requires a bit of time investment.
To create an `AssetFileDescriptor` I would need filename, offset & size so the only thing missing from kiwixlib is `size`

[2020-02-24 13:10] kelson42 commented on #1794
@yashk2000 Carry on pleaee

[2020-02-24 13:10] kelson42 commented on #1794
se

[2020-02-24 13:17] macgills commented on #1659
It certainly _sounds_ feasible, this [article](https://medium.com/@madmuc/intercept-all-network-traffic-in-webkit-on-android-9c56c9262c85) makes it sound quite robust

[2020-02-24 13:24] kelson42 commented on #1659
@macgills Can you please link here to a libkiwix ticket requesting this?

[2020-02-24 13:29] macgills commented on #1659
https://github.com/kiwix/kiwix-lib/issues/327 @kelson42 done

[2020-02-24 15:00] KushagraK123 commented on #1794
Importing the project fixed the issue.

[2020-02-24 15:09] yashk2000 commented on #1794
@KushagraK123 great!
I'll update the readme so that part is better conveyed to people who build the app in future.

[2020-02-24 19:30] 4shutosh opened #1807 "Accidental deleting all of our bookmarks"
**Problem Description**
While selecting **`View Bookmarks From all Books`** the icon for deleting all the bookmarks is prone to being touched, which further deletes all the bookmarks without a choice.

![Webp net-resizeimage (5)](https://user-images.githubusercontent.com/53831987/75184149-eeee5200-5769-11ea-9048-82a44a188a62.jpg)

**Describe the solution you'd like**
A warning message should be di

[2020-02-24 19:48] kelson42 commented on #1807
Duplicate of #1798

[2020-02-24 19:48] #1807 closed

[2020-02-25 06:18] yashk2000 commented on #1804
@macgills newer versions of some dependencies being used are also available. Should I create an issue for updating those too?

[2020-02-25 09:05] #1794 closed

[2020-02-25 09:11] deborahlow97 opened #1812 "Text in tags aren't centered"
**Describe the bug**
UI Bug: where text in tags aren't centered - it doesn't look appealing to users.

**Current Behavior:**

![image](https://user-images.githubusercontent.com/22865538/75231483-7d0d1b80-57f0-11ea-8371-6f41c1cc7fcc.png)

**Expected behavior**

![image](https://user-images.githubusercontent.com/22865538/75231781-07ee1600-57f1-11ea-946d-74eede613c6c.png)

**Others**
I would like to

[2020-02-25 09:19] macgills commented on #1812
Sounds good, go for it

[2020-02-25 10:13] macgills commented on #1798
@KushagraK123 @4shutosh given the relative size of this change it won't take to long for it to be redone so I will be closing your PRs and giving this ticket to @srv-twry as this ticket acknowledged them as the assignee (though neglected to actually mark it, I'll do that now) so I think it is only fair, thanks for the submissions.

[2020-02-25 10:31] macgills commented on #1788
@Frans-Lukas I was doing some quick reading on kotlin scripting and [this article](https://www.danielebonaldo.com/kotlin-script/) mentioned the packaging of a script as a standalone binary using `kscript`, I wasn't a big fan of adding `kscript` just to add dependencies but to me there is value in users of this script not having to install `kotlinc`. Consider this a bonus extra on this ticket, tota

[2020-02-25 12:32] Frans-Lukas commented on #1788
@macgills kscript looks great. I'll look into it.

[2020-02-25 13:12] #1812 closed

[2020-02-25 13:44] macgills commented on #1659
@kelson42 I confirm that using inputStreams works, I have hardcoded the size and videos stop playing. I will experiment with using `getContentPart` to get an accurate size

[2020-02-25 13:59] macgills commented on #1659
![image](https://user-images.githubusercontent.com/3358282/75253644-d9fbd800-57d6-11ea-882a-64e9e7ca1221.png)
works like a charm, #1769 is a duplicate of this issue, will close it

[2020-02-25 14:01] macgills commented on #1769
Closing as duplicate of #1659

[2020-02-25 14:01] #1769 closed

[2020-02-25 14:35] macgills commented on #1659
@kelson42 I am considering this blocked until kiwixlib offers a way for us to retrieve the size of an asset as a `long`

[2020-02-25 15:00] yashk2000 opened #1815 "Make clear all notes dialog similar to clear history dialog"
**Is your feature request related to a problem? Please describe.**
The dialogs of clear history and clear all notes in the setting section of the app vary a lot even though both of them involve clearing data important to the user. Hence the dialogs should also look similar.

**Describe the solution you'd like**
The clear history dialog looks good as it provides the appearance of an alert with an e

[2020-02-25 15:09] #1804 closed

[2020-02-25 15:13] macgills commented on #1815
I would wait until #1443 is completed as that will have an api to easily support this.

This dialog might look goofy with an icon as it just has a `message`, no title and You run the risk of repeating yourself if you have a title and a message. I am unconvinced it is a value add right now but I could be proven wrong.

[2020-02-25 20:59] mohamedsamehkhalil commented on #1350
I would like to work on this issue

[2020-02-25 22:38] danielzgtg opened #1818 "Input methods are broken in search"
**Describe the bug**

When searching for an article, kiwix-android messes with the text box in a way that breaks many forms of input.

**Expected behavior**

To be able to enter text properly in the text box, just like in version 3.1.3.

**Steps to reproduce the behavior:**

1. Tap on the search icon in the app bar
2. Do one of the following:
a. Type fast with an English keyboard. Notice that some

[2020-02-26 05:12] mohamedsamehkhalil commented on #1350
![Screenshot_20200226-070436_Kiwix](https://user-images.githubusercontent.com/34913464/75313873-d9ab1d80-5866-11ea-8e2c-0af6f837193b.jpg)
![Screenshot_20200226-070659_Kiwix](https://user-images.githubusercontent.com/34913464/75313863-d0ba4c00-5866-11ea-8039-22b0269bf995.jpg)
I also noticed we could reach a state were in the search icon is completely invisible
# steps to reproduce
Open a new tab th

[2020-02-26 06:24] kelson42 commented on #1818
@danielzgtg Which version of Kiwix?

[2020-02-26 07:01] kelson42 commented on #1350
@mohamedsamehkhalil I have assigned the ticket to you.

[2020-02-26 11:08] macgills commented on #1818
Ah this is a bug from us rendering the text as part of the state, we can stop doing this and the bug will disappear

[2020-02-26 11:10] macgills commented on #1818
Or actually it could just be the debounce on the viewState in SearchViewModel, that can be safely removed now I would believe

[2020-02-26 11:15] kelson42 commented on #1818
@macgills A bit worried by that bug even if I can not fully get it or estimate how bad would be the impact. What is your guess about the user impact?

[2020-02-26 11:20] macgills commented on #1818
Well very bad for Japanese users, search is unusable. We can halt 3.2.0's release (currently at 25%) and prep 3.2.1?

[2020-02-26 11:25] kelson42 commented on #1818
@macgills Japanese users, or Japanese, Arabic, Chinese, ...? Yes a 3.2.1 seems to make sense to me here.

[2020-02-26 11:28] macgills commented on #1818
I will create a hotfix. If @danielzgtg is willing to test it I would be appreciative as I don't trust my ability to verify I am entering japanese/arabic/chinese handwriting correctly

[2020-02-26 13:49] danielzgtg commented on #1818
Sure

Additionally, you don't need to type any other languages. Just handwrite the English lowercase letter "i" in search. That is also broken and is broken in the same way as other input methods.

[2020-02-26 14:01] macgills commented on #1818
Okay, no need for you to test, the fix is working. Thank you for the report @danielzgtg , very helpful

[2020-02-26 14:06] #1818 closed

[2020-02-26 14:16] kelson42 commented on #1775
@macgills You mean testing code or prod code?

[2020-02-26 14:20] macgills commented on #1775
Prod code to try and find readable mounts on the users filesystem. That is the only next step I can think to take that we aren't already taking

[2020-02-26 14:24] kelson42 commented on #1775
Ok to think about that, but lets get confirmation that 3.2 does not work first.

[2020-02-26 15:37] heimo0 commented on #1775
Reminder:

-----------------------------------------------

                        If you are willing I can send you a development version of the app that may help us fix this problem in the future.

I think, it a good idea, perhaps better to install an older version...

I like to try it...

Perhaps something will help.

Some apps ask especional to receive acces to SD-Karte, and user have to allo

[2020-02-26 17:05] KushagraK123 opened #1823 "Recent tabs are not gray in night mode."
**Describe the bug**
Recent tabs appear white in Night Mode

**Expected behavior**
They should be of dark color

**Screenshots**
![Screenshot_2020-02-26-22-20-12-651_org kiwix kiwixmobile](https://user-images.githubusercontent.com/35377313/75368501-e1f76d00-58e7-11ea-969c-23b3e62bd1e1.jpg)

**Environment**
- Version of Kiwix Android : 3.2.0

[2020-02-26 21:35] kelson42 opened #1824 "Night Mode UI is not properly translated/translaable"
See the screenshot

![image](https://user-images.githubusercontent.com/1029718/75390256-3f8bb980-58e8-11ea-9483-ac671a8db58c.png)

It looks like "On", "Off", "Auto" are hardcoded string?

[2020-02-27 02:33] danielzgtg commented on #1798
For history, there is already a button on the settings page. That one does ask for confirmation. How about we remove the delete icon from the history page as it's duplicate functionality?

[2020-02-27 03:10] danielzgtg opened #1825 "Search history suggestions are duplicated instead of reordered"
**Describe the bug**

Search history suggestions are duplicated instead of being moved to the top.

**Expected behavior**

To not see duplicate search suggestions.

**Steps to reproduce the behavior:**
1. Tap on the search icon
2. Type "wiki"
3. Tap on "wiki"
4. Repeat steps 1-3 for "kiwi"
5. Tap on the search icon
6. Tap on "wiki" (without typing anything)
7. Repeat steps 5-6 10 times

**Screensh

[2020-02-27 07:17] dipu989 commented on #1824
@kelson42 I would like to resolve this!

[2020-02-27 08:15] deborahlow97 commented on #1825
Yea I feel that only unique searches should be shown to the users, and moved to the top if it's a duplicate search history. If this gets approved I'd like to work on this issue

[2020-02-27 09:02] macgills commented on #1070
So we have `No Results` displaying but perhaps we could also have a loading state, there have been some complaints of lengthy loading

[2020-02-27 09:08] macgills commented on #1798
This feature allows for more fine grained control as the user can delete the history/bookmarks for just 1 zim or delete specific entries. I don't particularly think there is great value in managing your history to such an extent but history and bookmarks are such similar features we should aim to achieve feature parity so as not to confuse users

[2020-02-27 09:14] macgills commented on #1824
[code]

It hasn't been translated by TW, I can't remember if they handle `string-array`s well

[2020-02-27 09:19] macgills commented on #1825
Yes I confirm this is an issue. Unless @danielzgtg wants to work on this you are next in line @deborahlow97

[2020-02-27 09:42] macgills opened #1826 "Convert Project to Kotlin"
**Is your feature request related to a problem? Please describe.**
Kotlin is our primary language but 40% of the codebase is still in java, this ticket aims to get that number to 0%. If you want to contribute to the project but are finding it diffcult to find a suitable ticket of a manageable size then this is for you!

**Describe the solution you'd like**
Comment here that you want to convert a c

[2020-02-27 09:57] macgills opened #1827 "Add more Unit Tests"
**Is your feature request related to a problem? Please describe.**
Kiwix's coverage is at 33%~ right now and we want that to be a lot higher. If you want to contribute to the project but are finding it diffcult to find a suitable ticket of a manageable size then this is for you!

**Describe the solution you'd like**
Comment here that you want to test a class (I recommend starting with small ones)

[2020-02-27 11:30] dipu989 commented on #1824
@macgills We want the "On", "Off" and "Auto" in their respective language once selected, not in English every time! Is this what we want to resolve in this ticket?

[2020-02-27 11:36] macgills commented on #1824
We want to add Arabic translations for the strings. Our translations are handled by Translatewiki, a lot of the process is automated so my concern was it was not picking up the `string-array` declaration.

We can fix this with a little layer of indirection if that is the case eg:
[code]

[2020-02-27 12:51] macgills opened #1829 "Improve RTL support"
**Is your feature request related to a problem? Please describe.**
As our current minSdk is 15 we can't properly use the apis necessary to support RTL layouts

**Describe the solution you'd like**
Upgrade our minSdk to 17, run the automatic migration to support RTL and purge all usages of `left` and `right` from our layout files

[2020-02-27 13:17] #1443 closed

[2020-02-27 14:09] danielzgtg commented on #1825
Unless danielzgtg wants to work on this […]

No, I can't contribute code until May, so go ahead

[2020-02-27 14:10] macgills commented on #1825
You are assigned @deborahlow97

[2020-02-27 14:12] kelson42 commented on #1825
@macgills I believe this is a duplicate of https://github.com/openzim/libzim/issues/276. Should not be handle in Kiwix for Android.

[2020-02-27 15:32] yashk2000 commented on #1829
@macgills can I take up this issue?

[2020-02-27 17:48] AjayThakur12 commented on #1826
@macgills  @kelson42  can I work on this issue.
I will start converting file from intro folder

[2020-02-27 18:11] kelson42 commented on #1826
@AjayThakur12 Yes, but do piece by piece. Module by module.

[2020-02-27 19:23] rohanprasadofficial commented on #1815
@kelson42  @macgills  Can i work on this ?

[2020-02-27 19:34] yashk2000 commented on #1815
@rohanprasadofficial this issue is currently on hold. If we need it to be solved, we'll do it once #1443 is completed.

[2020-02-27 19:36] rohanprasadofficial commented on #1815
@yashk2000  thanks for the clarification

[2020-02-27 19:43] rohanprasadofficial commented on #1826
@macgills @kelson42 can i convert the local_file_transfer folder to kotlin ?

[2020-02-28 08:25] macgills commented on #1826
@AjayThakur12 a module is a bit larger than my original intention but `intro`s classes are quite small

@rohanprasadofficial I would say LocalFileTransfer is too large to tackle all as one ticket. Try WifiDirectManager, that is over 400 lines, probaby more than the entire `intro` module.

Both of you please make specific tickets `Convert X to kotlin`

[2020-02-28 08:30] rohanprasadofficial commented on #1826
@macgills  okay great , thanks i will do WifiDirectManager

[2020-02-28 17:32] 4shutosh opened #1834 "Last Opened Zim file Tab gets closed if we open a new zim in another Tab."
**Describe the bug**
Previously Opened Tab gets closed automatically when we try to open a **different** zim file in another tab.

**Expected behavior**
Both the zim files should be open in their respective tabs

**Steps to reproduce the behavior:**
1. Open a zim file
2. Open a new tab from Tabs manager
3. Open another zim file (from Home Screen or Library)
4. See error (Previously opened zim file

[2020-02-28 17:34] 4shutosh commented on #1834
This Issue is not produced is we open the same zim file in another Tab
![ezgif com-video-to-gif (1)](https://user-images.githubusercontent.com/53831987/75571171-ab078f80-5a7e-11ea-9950-e19c1d226d37.gif)

[2020-02-28 18:03] rohanprasadofficial opened #1835 "Convert WifiDirectManager to Kotlin"
This includes the conversion of code of WifiDirectManager to Kotlin. It is an enhancement.

I will be converting the WifiDirectManager.java to WifiDirectManager.kt

After completion WifiDirectManager.kt will support all related task that were supported by WifiDirectManager.java

[2020-02-28 18:03] rohanprasadofficial commented on #1835
@macgills @kelson42  i am working on this , can you assign it to me.

[2020-02-29 17:06] AjayThakur12 opened #1836 "Convert intro module to Kotlin"
Converting entire Intro module into Kotlin which is currently in java.

[2020-02-29 17:06] AjayThakur12 commented on #1836
@macgills  @kelson42  i started working on it please assign it to me

[2020-02-29 20:19] 4shutosh commented on #1739
I would like to work on this issue

[2020-02-29 20:23] kelson42 commented on #1739
@4shutosh What would be your strategy to solve it?

[2020-02-29 20:28] 4shutosh commented on #1739
As @macgills suggested here.
I will try on the same
And plan to make a specific folder for media within subfolders for audio(If required) and photos.
I think there wont be a issue doing this as we already have storage access for our app.

[2020-02-29 20:39] 4shutosh commented on #1834
I would like to kindly ask @kelson42 @macgills to check this issue.

[2020-02-29 21:15] kelson42 commented on #1834
This is a feature not a bug. For now we don’t handle multizims.

[2020-02-29 21:16] #1834 closed

[2020-02-29 21:27] mohamedsamehkhalil commented on #1350
[code]
@mhutti1 The search that is currently implemented takes in a Zim file to search in. Do you expect the search from a new tab to look into all files or just one specific file ?

[2020-03-01 07:54] kelson42 commented on #1350
@mohamedsamehkhalil This should work for the current ZIM open.

[2020-03-01 08:06] mohamedsamehkhalil commented on #1350
@kelson42 so just to be sure I understand the issue correctly. The screen that appears when I press on the tab switcher button and view all tabs, this is where I should add the search button, correct ?

[2020-03-01 09:09] 4shutosh commented on #1350
Yes @mohamedsamehkhalil
We should be able to search from this screen
I think adding a search button in this bar will work fine.
![Webp net-resizeimage (1)](https://user-images.githubusercontent.com/53831987/75622779-101bcc00-5bca-11ea-81e2-e6c8c477479f.png)

[2020-03-01 13:41] mhutti1 commented on #1797
I would close this as I think the functionality shouldn't be needed and is going to be replaced.

[2020-03-01 13:47] mhutti1 commented on #1823
Yes this looks like a bug. The images are still inverted for me so I think the filter we use isn't being applied in the tab menu.

[2020-03-01 16:56] KushagraK123 opened #1838 "Convert local_file_transfer module to kotlin"
Converting local_file_transfer module to kotlin from java

[2020-03-01 16:57] KushagraK123 commented on #1838
I am working on this issue please assign it to me.

[2020-03-01 17:17] AjayThakur12 commented on #1836
![gs1](https://user-images.githubusercontent.com/29337604/75630189-63177280-5c0e-11ea-9ed3-34dcf36c682f.PNG)

facing this issue while committing tried to solving using stackoverflow and Googled it but not able to solve

[2020-03-02 07:27] kelson42 opened #1840 "Publish 3.3 on FDroid"

[2020-03-02 07:31] kelson42 commented on #1823
To me basically a duplicate of #1411 and #1476, should be tacle in milestone 3.4 IMO.

[2020-03-02 11:45] yashk2000 commented on #1840
@kelson42 I'd like to take this up.
I have an idea on how to add a new app to fdroid.
Could you please tell me how do we update an existing app on fdroid?

[2020-03-02 11:51] kelson42 commented on #1840
@yashk2000 Thx, look at #1698

[2020-03-02 12:03] yashk2000 opened #1841 "Change the flow of starting a server to host books"
Currently, when a user clicks on `Start Server`, a dialog is shown instructing the user to turn on their wifi hotspot. While this is fine for a user when using the app for the first time, but once a user knows that the hotspot has to on before starting the server, this dialog starts feeling like a hindrance.

**Describe alternatives you've considered**
I suggest that when a user clicks on start se

[2020-03-02 13:00] yashk2000 commented on #1840
@kelson42 I just wanted to confirm the version code. `230201` is the current version code right?
I am referring to https://gitlab.com/fdroid/fdroiddata/-/merge_requests/6232/diffs for sending the merge request.

[2020-03-02 13:10] kelson42 commented on #1840
@yashk2000 I can not help you for that, you need to ask other devs. But obviously, this is not the same naymore.

[2020-03-02 13:13] kelson42 commented on #1840
@yashk2000 I guess the new code should be `30201` yes

[2020-03-02 15:29] yashk2000 commented on #1840
@kelson42 I made the merge request on GitLab.

https://gitlab.com/fdroid/fdroiddata/-/merge_requests/6415

[2020-03-02 15:44] yashk2000 commented on #1840
@kelson42 could you please take a look at the discussion on the thread?
Currently the latest release of the app is 3.1.3.
I think we'll need to shift 3.2.1 from pre-release to the latest release.

[2020-03-02 16:18] yashk2000 commented on #1841
@macgills @kelson42 what are your opinions on this?

[2020-03-02 17:30] yashasvi-goel commented on #1739
Is this issue still unresolved? I'll love to work on it.

[2020-03-02 17:36] 4shutosh commented on #1739
Yes I am working on it!

[2020-03-02 17:48] AjayThakur12 opened #1842 "Intro UI image overlay with text in landscape mode"
**Describe the bug**
When we install app Intro Activity appears. UI of intro activity not properly aligned in landscape mode

**Expected behavior**
UI of intro activity properly aligned in landscape mode

**Steps to reproduce the behavior:**
1. Install app
2. When intro activity comes change to landscape mode

**Screenshots**
![__1](https://user-images.githubusercontent.com/29337604/75702659-e18e1

[2020-03-02 19:06] AjayThakur12 commented on #1842
@kelson42  should stop landscape mode during Intro activity

[2020-03-02 20:40] srv-twry commented on #1836
@AjayThakur12 None of these looks like an error. All of them are deprecation warnings as far as I understand. The app should still work.

[2020-03-02 21:12] AjayThakur12 commented on #1836
@srv-twry thank you for your feedback. I future i follow same

[2020-03-02 21:22] srv-twry opened #1843 "Convert BookmarksContract to Kotlin"
**Is your feature request related to a problem? Please describe.**

```BookmarksContract``` is in Java

**Describe the solution you'd like**

Let's change it to `Kotlin`

**Additional context**

More info: #1826

[2020-03-03 06:08] abdulwd commented on #1739
I think we should use MediaStore. @macgills What do you suggest?

[2020-03-03 12:11] yashk2000 commented on #1841
@kelson42 @mhutti1 @abdulwd @macgills could you please provide your views on this?

[2020-03-03 19:04] yashk2000 opened #1847 "Toast when stopping server"
**Describe the bug**
When server is started to host books, a toast is shown indicating that server has started. Same does not happen when the server is stopped.

**Expected behavior**
A toast should be shown when server is stopped.

**Steps to reproduce the behavior:**
1. Go to host books.
2. Start server.
3. A toast is shown.
4. Turn of the server.
5. No toast is shown.

**Environment**
- Version

[2020-03-03 19:13] AjayThakur12 opened #1848 "Persist Searchview Expanded state in LibraryFragment on Configuration Change"
**Describe the bug**
When we search for some activity in Library Activity and then switch to landscape mode then searched text not remain same
**Expected behavior**
Searched text not remain same

**Steps to reproduce the behavior:**
1. Click on Download Books
2. Search in Library Activity
3. Switch to landscape mode
4. Searched test not remain same

**Screenshots**
Portrait mode  --

![ok2](https:

[2020-03-03 19:48] yashk2000 commented on #1848
@AjayThakur12 why do we need to use shared preferences to save the text?
Can't we use onSavedInstanceState?

[2020-03-03 21:14] mohamedsamehkhalil commented on #1350
@mhutti1 @kelson42 I finished working on a working solution for the issue but the commit hooks fail with this message when I try to commit. Any help ?
in the first file in the error I added a method to an interface that had 10 methods already
in the second file I just added 2 new methods to the class
![image](https://user-images.githubusercontent.com/34913464/75819747-d9011280-5da3-11ea-86d4-2cb9b

[2020-03-04 08:30] kelson42 opened #1850 "Search history should keep track of more than 5 items"
IMO we could save up to 100 items.

[2020-03-04 08:31] kelson42 commented on #1850
@deborahlow97 That might be one for you?

[2020-03-04 09:14] deborahlow97 commented on #1850
Sure! 😀

[2020-03-04 12:16] yashk2000 opened #1852 "Stop server button does not change when server stopped using notification"
**Describe the bug**
When the host books server is stopped using the stop server notification, the Stop Server button does not change its appearance.

**Expected behavior**
The button should turn back to the Start Server button.

**Steps to reproduce the behavior:**
1. Go to host books.
2. Start the server
3. Leave the app using the home button of the phone.
4. Stop the server using the notificati

[2020-03-04 12:52] deborahlow97 commented on #1850
@kelson42 Just out of curiosity, is there a reason for showing 100 items 🤔?

[2020-03-04 13:04] kelson42 commented on #1850
@deborahlow97 No, 5 is just too few.

[2020-03-04 13:15] TejusR commented on #1827
@macgills I would like to work on this issue. Can I start writing tests for the local_file_transfer module?

[2020-03-04 13:27] srv-twry commented on #1848
This is a better idea.

Although in my opinion, the best way would be to create a `ViewModel`. They're lifetime aware. https://developer.android.com/topic/libraries/architecture/viewmodel

[2020-03-04 13:50] an0nym767 opened #1854 "Kiwix Bug Report: Download stuck on pending"
If I try to download something from inside the Kiwix reader (on mobile) it just gets stuck on pending and stays there forever, even with fast wifi. During that there is no download running and also no major data transmission, it just seems like it does nothing. That happens everytime I try to download something.

I open the app, tap on "Download Book" then tap on "online" type something into the s

[2020-03-04 13:54] kelson42 commented on #1854
@an0nym767 Thank you for your bug report.What is the version of Kiwix? What is your version of Android?

[2020-03-04 13:57] an0nym767 commented on #1854
Oh yeah, I forgot to mention, my phone (Huawei P smart) is running on Android 9.1.0.163 and the Kiwix Version is the newest one in the Play Store (3.2.1)

[2020-03-04 14:01] kelson42 commented on #1854
@an0nym767 Would you be able to provide the android log during 60 minutes after the download begin?

[2020-03-04 14:03] kelson42 commented on #1854
@mhutti1 @abdulwd Woukd you please help here why Kiwix is buggy for @an0nym767?

[2020-03-04 14:15] an0nym767 commented on #1854
Is there a way to access the log without a pc/laptop?

[2020-03-04 14:26] kelson42 commented on #1854
@an0nym767 I always do it through the PC, but I guess there is app to do so.

[2020-03-04 14:32] an0nym767 commented on #1854
Aand I forgot to mention that it is still on pending after reopening the app, so I will just let it run for 60mins and then send the log. Is there any private information contained inside the log? If yes, how do I get rid of it? And could I directly send you the log in some kinda private message? If yes, how?

[2020-03-04 14:36] kelson42 commented on #1854
@an0nym767 I recommend to close all other apps (or just restart the device). Then we shoukd not have private things in it. You can send the logs at kelson -at- kiwix.org per email.

[2020-03-04 15:01] Frans-Lukas opened #1855 "Flickering text when expanding info from 'help' menu."
**Describe the bug**

When expanding "What does kiwix do?" and "Where is the content?" the text flickers by going up and down fast. (See vid. below)

**Expected behavior**

The expanded text/view should not flicker.

**Steps to reproduce the behavior:**
1. Open kiwix app.
2. Click three dots in upper right corner.
3. Click the help option.
4. Expand "What does kiwix do?" or "Where is the content?"

[2020-03-04 15:10] Frans-Lukas opened #1856 "Loading icon does not disappear if there is no internet connection"
**Describe the bug**

When in flightmode or without internet and going from the start screen/library to the 'Download books'/online view the loading icon will never disappear.

**Expected behavior**

If there is no internet connection the loading icon should not appear at all. Just the text saying that there is no internet connection.

**Steps to reproduce the behavior:**
1. Enter flight mode or d

[2020-03-04 15:28] Frans-Lukas commented on #1827
@macgills I'd also like to work on tests starting with HistoryDao/HistoryEntity if that's ok.

[2020-03-04 15:37] an0nym767 commented on #1854
Sent it, I hope I made no mistake, I am pretty unexperienced when it comes to such things

[2020-03-04 15:49] an0nym767 commented on #1854
So what do I do noe

[2020-03-04 17:28] #1850 closed

[2020-03-04 20:33] dipu989 commented on #1777
@kelson42 @macgills Would like to do this! Please assign.

[2020-03-05 02:24] deborahlow97 commented on #1827
Hi, I'd like to work on this too! Interested in starting with the `NewRecentSearchDao.kt` module.

[2020-03-05 05:36] kelson42 commented on #1827
@deborahlow97 @Frans-Lukas Please, carry on.

[2020-03-05 05:45] an0nym767 commented on #1854
I've tried it on another android device now, my tablet, and am currently downloading it onto the micro sd card, so when I take the micro sd out of my tablet after the download finished and put it into my phone, will I be able to read the Wikipedia on my sd, which was downloaded from Kiwix on my tablet, on my phone through the Kiwix reader? Both versions of kiwix on both devices are the same. Also

[2020-03-05 05:48] kelson42 commented on #1854
@an0nym767 Would you please just try to wait these few hours to confirm this theory?

[2020-03-05 05:50] kelson42 commented on #1856
Agree

[2020-03-05 05:55] an0nym767 commented on #1854
Ok, no problem

Kelson <notifications@github.com> schrieb am Do., 5. März 2020, 06:48:

[2020-03-05 06:35] abdulwd opened #1857 "Fix failing coverageReport"
**Describe the bug**

The coverage report is failing for all builds.

**Expected behavior**

It should pass.

**Steps to reproduce the behavior:**
1. Open a new PR & the build will pass but the coverage report will fail

**Environment**
- Version of Kiwix Android : master

**Logs**

[code]

[2020-03-05 07:03] abdulwd commented on #1857
codecov-action already has this reported https://github.com/codecov/codecov-action/issues/58
For now, we can use curl to upload the report.

[2020-03-05 11:27] waahm7 commented on #1856
@kelson42 I would love to do this. Can you please assign this to me?

[2020-03-05 12:17] mhutti1 commented on #1841
@yashk2000 do you have a concrete way of knowing if the hotspot is on?

[2020-03-05 12:20] mhutti1 commented on #1350
I imagine this means you have too many functions in the classes it specifies? I imagine you should move some out into a seperate class?

[2020-03-05 12:34] mohamedsamehkhalil commented on #1350
@mhutti1 I solved the detekt problem thanks to help from macgills and was able to push my solution correctly. please review my pull request #1859 and inform me of your edits or requests.

[2020-03-05 15:05] Frans-Lukas opened #1860 "Create Tests for HistoryDao"
**Type of Test**

* [X] Unit Test
* [ ] UI Test

**Particular area and files to be tested**

HistoryDao/HistoryEntity

**Current Status of the tests**

5.26% coverage according to [codecov](https://codecov.io/gh/kiwix/kiwix-android/tree/master/core/src/main/java/org/kiwix/kiwixmobile/core/dao)

**Particular Behaviour to be tested**

Expected behavior from getHistoryList, deleteHistory, deleteAllHi

[2020-03-05 17:44] 4shutosh opened #1861 "Wrong Animation Showing & Tab gets closed when we hit back from Settings/Bookmarks/History"
**Describe the bug**
**Case1:** Wrong Animation Showing when we hit back from Settings.
**Case2:** Tab gets closed when we hit back from setting page opened from tab manager
and last activity is also killed.

**Expected behavior**
**Case1**: No Animation should appear.
**Case2:** Tab should not be closed/Open tab manager as left before or Open Home Page

**Steps to reproduce the behavior:**
1. Ope

[2020-03-05 18:11] yashk2000 commented on #1841
We will proceed as if the hotspot is on.
Right now, a dialog is shown. It has two options: Proceed and turn on the hotspot.
A user can press proceed even if the hotspot isn't now. In this case(when hotspot isn't on), an overridden method, `onServerFailedToStart` is called. In this function, currently, a toast is shown showing that the server failed to start.

So instead we will let this function h

[2020-03-05 18:11] yashk2000 commented on #1841
@mhutti1 We will proceed as if the hotspot is on.
Right now, a dialog is shown. It has two options: Proceed and turn on the hotspot.
A user can press proceed even if the hotspot isn't now. In this case(when hotspot isn't on), an overridden method, onServerFailedToStart is called. In this function, currently, a toast is shown showing that the server failed to start.

So instead we will let this fun

[2020-03-06 09:52] dipu989 commented on #1777
@kelson42 @macgills We need to make a Kiwix repo on Fdroid that hosts our nightly builds via Gitlab? Is the approach correct?
References - https://android.izzysoft.de/articles/named/fdroid-intro-3?lang=en

[2020-03-06 11:21] TejusR commented on #1827
Hi, I'm new here and I would like to work on this issue. Can I start by writing tests for LocalFileTransferActivity?

[2020-03-06 16:33] an0nym767 commented on #1854
Ok, now things get kinda weird: My 78 gigs download on my tablet worked perfectly, while my Download on my phone is still stuck on pending, which isn't really a surprise because I took the sd card outta the phone, but yesterday I tried to download something else, just for testing, a really small file, into my internal storage, and it's still stuck on pending, now comes the weird part, when I try t

[2020-03-06 19:59] srv-twry opened #1864 "Add unit tests for NewBookDao"
### Problem
Unit tests are missing for `NewBookDao`

### Solution
Add unit tests for `NewBookDao`

### Additional Context
Parent issue: #1827

### Working on it?
Yes

[2020-03-07 10:45] deborahlow97 opened #1865 "Add unit tests for NewRecentSearchDao"
**Type of Test**

* [x] Unit Test
* [ ] UI Test

**Particular area and files to be tested**

NewRecentSearchDao.kt

**Current Status of the tests**

Coverage is at 47.06%

**Particular Behaviour to be tested**

Functions: saveSearch, deleteSearchString, deleteSearchHistory

[2020-03-07 13:18] kelson42 opened #1866 "Search result selection is not haptic"
Steps:
* Load a ZIM file
* Make a search and select any result

What I get:
* The item select is not visually higlighted before the content is loaded. The article is properly loaded.

I want:
* To see clearly, by a highlight operation, which item i have chossen, before the content is loaded... like in any list.

[2020-03-08 06:33] dipu989 commented on #1866
@kelson42 Would like to work on this! Please assign.

[2020-03-08 06:50] dipu989 opened #1868 "App stops when trying to navigate between tabs after a tab is closed"
**Describe the bug**

The app stops when user tries to navigate between different tabs after closing a tab.

**Expected behavior**

App should not close unexpectedly

**Steps to reproduce the behavior:**
1. Open 2 or more tabs.
2. Close any one of the tabs.
3. Click on the tabs display point.
![IMG_20200308_121451](https://user-images.githubusercontent.com/31280303/76157970-79ee2580-6136-11ea-8465

[2020-03-08 10:09] kelson42 commented on #1868
That sounds really bad... but I can not reproduce it.

[2020-03-08 10:27] dipu989 commented on #1868
Attaching a screenshot -
![Screenshot from 2020-03-08 15-55-22](https://user-images.githubusercontent.com/31280303/76161030-68684600-6155-11ea-8491-6321793922f1.png)

[2020-03-08 10:28] kelson42 commented on #1868
@dipu989 You want to fix it?

[2020-03-08 10:30] dipu989 commented on #1868
Sure, Working on #1866 right now! Would fix this after completing the previous one.

[2020-03-08 19:57] Scarlet0103 opened #1869 "Night Mode disappears for a split second"
**Describe the bug**

Whenever I open a downloaded file, for a split second the night mode disappears.

**Expected behavior**

Night mode should not disappear.

**Steps to reproduce the behavior:**
1. Open the app and click download books
2. On the online download one of the file
3. click on the donloaded file on the home page
4. The file is opened while showing described bug.

**Screenshots**

![

[2020-03-09 03:49] danielzgtg opened #1871 "View source"
**Is your feature request related to a problem? Please describe.**

It would be nice to be able to view either the HTML source of the articles. This would be especially useful while waiting for visual bugs like openzim/mwoffliner#1033 to get fixed, or while debugging them.

**Describe the solution you'd like**

To add a "view source" button in the overflow menu. The button would display the source

[2020-03-09 06:06] kelson42 commented on #1871
I’m against this, we should not build feature to debug. In partuculat that one because the HTML is exactly the one in the ZIM and we have tools to know how thw ZIM content looks like.

[2020-03-09 06:07] #1871 closed

[2020-03-09 10:59] sonusourav opened #1872 "Number of tabs opened does not change instantly on undoing"
**Describe the bug**
Even after undoing the closing of a tab, the number change (increase) in the tab switcher is not reflected.

**Expected behavior**
The change in the number of tabs ( i.e. increase and decrease ) should be displayed at the same instance of that of undoing. However, currently, it is changing when you open some other tab.

**Steps to reproduce the behavior:**
1. Open multiple tab

[2020-03-09 11:04] sonusourav opened #1873 "Undo in tab switcher not working"
**Describe the bug**
The UNDO option is not clickable when you are in tab switcher mode.

**Expected behavior**
The UNDO option should work as expected.

**Steps to reproduce the behavior:**
1.  Go to tab switcher mode.
2. Close a tab.
3. Try to undo by clicking the UNDO option in snackbar. It is not clickable.

**Environment**
- Version of Kiwix Android : 3.2.1
- Device : Redmi 4
- OS version : N

[2020-03-09 11:49] sonusourav opened #1874 "Revamping the UI of recycler view items"
**Describe the bug**
The design of recycler view items is not according to Material Guidelines. The items do not look uniform due to different length of the text and in some cases, the alignment of the details are also not correct.

**Expected behavior**
The items should be in accordance with Material Guidelines. Also, using a card view would make it look better.

**Screenshots**

![InkedUI-1_LI](

[2020-03-09 11:57] 4shutosh commented on #1872
Hey! @sonusourav
You correctly pointed out the issue.
Are you willing to work on this issue?
This can be solved by calling ` tabsAdapter.notifyDataSetChanged();`
under the `snackbar.setAction()` for Undo after the `tabsAdapter.notifyItemInserted(index);`
in the `CoreMainActivity.closeTab`

[2020-03-09 12:27] sonusourav commented on #1872
Hey @4shutosh , I am working on the issue.

[2020-03-09 12:40] 4shutosh commented on #1872
Proceed with it! @sonusourav

[2020-03-09 12:52] 4shutosh commented on #1873
Hey! @sonusourav
You correctly pointed out the issue.
But I think It won't work as of now as we are using FrameLayouts for the tab switcher and content frame and the snackBar is in the parent View.

[2020-03-09 13:21] 4shutosh commented on #1873
Hey! @sonusourav
You've correctly pointed out the issue.

But I think this won't work as of now, because we are using FrameLayouts for content frame,
Also the tabswitcher (`activity_main_tab_switcher`) is a child layout of the `main_activity_content` which in turn is child layout of `activity_main`
And the Snackbar is in parent activity.

To make the Snackbar functional the tabswitcher should be c

[2020-03-09 15:15] yashk2000 commented on #1815
@kelson42 #1443 has been merged. I will fix this issue now.
In order to prevent the message from being repeated, in the title and message, I will just give the title along with an icon.
This will provide the message, and at the same time, it will look like an alert too in order to make the user properly aware of what they're doing.

[2020-03-09 16:22] #1798 closed

[2020-03-09 16:24] #1829 closed

[2020-03-09 17:07] #1788 closed

[2020-03-09 17:29] #1847 closed

[2020-03-09 17:31] #1857 closed

[2020-03-10 05:25] binyominzeev opened #1876 ""Find in page" stopped working"
With the most recent update, I have no longer the option to find text inside an opened page. The button is grey, disabled, impossible to click on it (although it appears).

I tried this with two different ZIMs I am using, and both of them are producing the same behavior. Before the update, I was able to use them both, without any problems.

**Screenshots**
![Screenshot_2020-03-10-06-21-08](https:/

[2020-03-10 06:07] kelson42 commented on #1876
@binyominzeev type your search pattern and the “find in page” should become a tive.

[2020-03-10 09:03] ha-kg commented on #1854
I have a similar problem. I cannot download
Wikipedia_de_all_maxi_2020_01 Zim.
Download stopped and is shown in the Library as pending. I want to
cancel the pending download it will not be cancelled. Even after several
uninstall and install of Kiwix (Includig Restart of the Smartphone) I see in the Library "pending"
I copied the file from the smartphone to the SD-card in the same folder
were is Wi

[2020-03-10 10:22] abdulwd commented on #1873
Not a won't fix. This used to work we just need some workaround to get this working.

[2020-03-10 11:43] mhutti1 commented on #1841
Ok that sounds like a good idea to me.

[2020-03-10 12:51] mhutti1 commented on #1842
I think the correct approach would be to fix the bug rather than disable landscape mode for the start.

[2020-03-10 12:55] mhutti1 commented on #1874
We looked at using a cardview but the amount of data we wan't to display means with cards you would only really get 2 times per screen which isn't great. The pictures you point out do seem like issues though.

[2020-03-10 13:02] mhutti1 commented on #1854
I'm really not sure whats going wrong here and don't think I would be able to work it out without a log.

[2020-03-10 13:47] ha-kg commented on #1854
Please find enclosed the log file as well as a screenshot
Hartmut
![Screenshot_20200310-142939_Kiwix](https://user-images.githubusercontent.com/25171599/76318424-f96a2900-62dd-11ea-851c-b9da77df5d73.jpg)
[logcat.txt](https://github.com/kiwix/kiwix-android/files/4312738/logcat.txt)

[2020-03-10 13:54] 4shutosh commented on #1873
Yes @abdulwd
I found the solution
In `CoreMainActivity.closeTab` wrong View was passed to the `Snackbar.make()`
We need to pass `tabSwitcherRoot` instead of `snackbarRoot`.

[2020-03-10 14:56] an0nym767 commented on #1854
If you have access to a tablet, I would recommend trying it on a tablet, because I had the exact same problem, it just stayed on pending all the time on my phone, but it worked on my tablet (started downloading about half an hour of being on "pending"). I dont know if this is a problem related to android,because my phone is running on android 9 and my tablet on android 7. Maybe just letting it sit

[2020-03-10 15:46] #1852 closed

[2020-03-10 15:50] #1861 closed

[2020-03-10 16:08] ha-kg commented on #1854
The problem exists on Tablet and Smartphone, Samsung S7 with Android 8.0 and a Samsung Tab A with Android 8.1. Both not rooted

[2020-03-10 16:15] #1872 closed

[2020-03-10 16:21] macgills commented on #1854
I'd say that it is trying to read the storage of the removed sd card and returning 0, a separate bug. Have you tried explicitly setting your preferred storage to internal?

The main problem here is the behaviour of our downloading library, it has to preallocate space before it starts downloading and on sd cards this can be painfully slow. This option can be changed (ie write as you download) but I

[2020-03-10 16:28] macgills commented on #1874
Cards can be any size they just have an elevation really, I amn't too fussed on this point

The WikEm weird layout is due to a missing field in the data so a text field is hidden and constraints jump about.

TEDMED has a stupid long description, we should probably elipsise that after 3 lines, which I think is generous enough.

These 2 should be worked on

[2020-03-10 16:47] #1843 closed

[2020-03-10 16:50] heimo0 commented on #1775
i asked for Download link...

Am 26. Februar 2020 15:24:35 MEZ schrieb Kelson <notifications@github.com>:

Gruß

Hermann Moseler

[2020-03-10 17:45] abdulwd commented on #1873
@sonusourav has this been fixed?

[2020-03-10 17:58] sonusourav commented on #1873
Yeah by #1879

[2020-03-10 17:58] #1873 closed

[2020-03-10 18:17] sonusourav commented on #1855
This can be solved simply by increasing the animation time.
@Frans-Lukas Are you working on this issue?

[2020-03-10 19:16] sonusourav opened #1881 "Unusual behaviour on pressing back button"
**Describe the bug**

In some Zim files, on pressing back button lands on the home screen while in some others it exits the app. I can't guess the pattern in which case first happens and in which case second happens.

**Expected behavior**

In all cases, it should be the same. Either the app should exit or home screen should appear.

P.S.: It would be better if home screen appears.

**Steps to rep

[2020-03-10 19:57] Frans-Lukas commented on #1855
No I was not working on it. Thanks for fixing it!

[2020-03-11 11:55] Frans-Lukas opened #1883 "Margin in webview layout should be removed"
**Describe the bug**

When browsing a zim file there is a margin left and right to the content. This means less horizontal content can be shown, and in some cases the user has to scroll to see all the horizontal content. If comparing to any other browser, the web content does not have a margin.

**Expected behavior**

There should be no margin of the content of a zim file. The margin should be dec

[2020-03-11 13:03] kelson42 commented on #1883
I dont’t think you can fix that in this repo.

[2020-03-11 13:08] Frans-Lukas commented on #1883
@kelson42 Ah ok! Was looking for where the margin was specified but couldn't find it. Is it defined per zim file basis?

[2020-03-11 13:34] #1883 closed

[2020-03-11 14:45] sonusourav opened #1884 "AUTO in night mode not working"
**Describe the bug**

The auto option in Night mode is not working.

**Expected behavior**

The theme should change based on the local time when AUTO option is selected one.

**Steps to reproduce the behavior:**
1. Go to night mode option in Settings.
2. Change to AUTO mode and observe.

**Screenshots**

![night](https://user-images.githubusercontent.com/34706326/76429361-f1d97b80-63d4-11ea-9837-7

[2020-03-11 15:17] Frans-Lukas opened #1885 "When using kiwix search from selected text, no button works in the search activity."
**Describe the bug**

When selecting text from a zim file, a sub menu appears. By clicking on 'Search Kiwix' in this submenu the search activity is started. This opened search activity is impossible to exit without restarting the application entirely.

**Expected behavior**

I don't actually know what the 'Search Kiwix' sub-menu button should do. Perhaps it should open the search activity with the

[2020-03-11 15:19] Frans-Lukas commented on #1885
Is this fixed? Noticed issue #1681  is similar.

[2020-03-11 15:32] macgills commented on #1885
No, that was the app shortcut I believe. I don't really now what the expected behaviour is.

I'd say go for this

[2020-03-11 15:34] macgills commented on #1884
Not on your version of android. Auto changes by `Battery Saver` like the device does if it supports it.

Feature has been implemented to spec https://developer.android.com/guide/topics/ui/look-and-feel/darktheme closing

[2020-03-11 15:34] #1884 closed

[2020-03-11 15:52] macgills commented on #1881
It should exit the app to keep the behaviour we have had unless @kelson42 wants to chime in and say it should return to the home screen to select a zim.

What is probably happening is 2 instances of MainActivity are created somehow, this should be easy to detect.

[2020-03-11 15:52] Frans-Lukas commented on #1885
Ok. I'll try fixing this.

[2020-03-11 15:54] #1856 closed

[2020-03-11 15:56] macgills commented on #1885
I think this error is coming from the weird pattern of restarting the MainActivity to launch SearchActivity, if you have "Don't keep Activities" turned on this will trap you in SearchActivity as MainActivity only exists to send you to SearchActivity

[2020-03-11 15:58] #1842 closed

[2020-03-11 16:04] macgills commented on #1775
@heimo0 as per my comment [here](https://github.com/kiwix/kiwix-android/issues/1775#issuecomment-589073543) I am having difficulty understanding you. If you can comment on github as opposed to replying via email it might help.

What download link are you looking for?
3.2 has been released on the play store so it may have automatically updated or you will need to manually update.
Or is it a develop

[2020-03-11 16:07] macgills commented on #1871
If you have a debuggable version of the app you can inspect our webpages with chrome dev tools via a computer, if your device is connected. More info [here](https://developers.google.com/web/tools/chrome-devtools/remote-debugging) @danielzgtg

[2020-03-11 16:11] macgills commented on #1827
@TejusR I would avoid Unit Testing any activity but please look for any other class

[2020-03-11 16:16] macgills commented on #1777
[This](https://gitlab.com/fdroid/fdroiddata/-/blob/4f3c79e40009fb930ec0ff9d4415a26fe2264212/metadata/org.kiwix.kiwixmobile.yml) is the file we have on fdroids repository that dictates what gets hosted on fdroid.

I really can't help you much as I have only ever done 1 update to that file and most of fdroid is still very confusing to me. Maybe the repomaker link in the description of this ticket is

[2020-03-11 16:23] macgills commented on #1848
There is a viewmodel but they only last configuration changes, viewmodels also have a saved state for persisting items in so that should also be used if we want the activity to be recreated well.

The problem here is probably the ui state doesn't get recreated well, notice how the list is actually filtered by an invisible search term

[2020-03-11 16:26] macgills commented on #1739
Whatever works? As I said I couldn't repro Kelson's issue.

I hate Mediastore apis but if it works go for it. If anything else works, go for it.

Check [the docs](https://developer.android.com/training/data-storage) they don't suck as much as they used to.

[2020-03-11 16:44] Frans-Lukas commented on #1881
What is the intended way of navigating back to the zim browser from an opened zim file? The only consistent way I have used is to close all tabs.

[2020-03-11 16:48] macgills commented on #1881
Open a new tab from the + in tabswitcher, this presents the list for you to choose a new book or the same book. Choosing a new book will close all the tabs that were open of another book

[2020-03-11 16:49] macgills commented on #1885
A strong contender for the right solution.

[2020-03-11 16:53] heimo0 commented on #1775
I understood in one of your mails that I should test a development version for you....

Was´nt it?

----------

                        If you can comment on github as opposed to replying via email it might help.

It is to difficult for me...

yours.

hermann

------------------------------------------------------------------
Hermann Moseler            Tel.:   089-44848-40-0
München

[2020-03-11 16:55] 4shutosh commented on #1739
Hey! @macgills Android 10 came with [Scoped Storage](https://developer.android.com/training/data-storage#scoped-storage) so the Standard File APIs won't work here.

The latest **Android 11** beta release also confirms [this]
(https://developer.android.com/preview/privacy/storage#scoped-storage).

For Android 10 we still got  a `requestLegacyExternalStorage` for making a file directory (storage/emu

[2020-03-11 16:58] macgills commented on #1739
That is if we target it, we are not in a position to use Scoped Storage right now, we will request legacy storage when we upgrade our target sdk.

[Commonsware](https://commonsware.com/blog/2019/06/07/death-external-storage-end-saga.html) is the guy you go to for how utterly catastrophic the scoped storage change is

[2020-03-11 17:01] macgills commented on #1775
Yes, unfortunately I have less time than when I made that offer, I am afraid I will have to ask for you to wait longer unless another contributor can come in and save the day

[2020-03-11 17:09] 4shutosh commented on #1739
Yes the targetSdk being less than 29 we can still use the older methods.
So making a easily accessible media directory on the ExternalStorage (outside the package folder) is still doable ignoring the Android 10 users, which was infact the reason behind this issue.

We can still make the directory `storage/emulated/0/Kiwix` for saving Pictures.
If so may I work on this?

[2020-03-11 17:11] Frans-Lukas commented on #1881
@macgills Okay! I did not know about the + button, thanks.

[2020-03-11 21:56] thelosergeek commented on #1826
@macgills can i work on this?

[2020-03-12 06:45] yashk2000 commented on #1840
@macgills could I please get some help here?
The apk which is generated seems to be signed already. The `disableSigning` config seems to not be working as expected.

[2020-03-12 07:09] kelson42 commented on #1840
@yashk2000 You are not able to fix the option yourself? Or understand what goes wrong?

[2020-03-12 07:12] kelson42 commented on #1826
@thelosergeek Yes, Please open a ticket with the part you want to move to Kotlin.

[2020-03-12 07:15] kelson42 commented on #1881
@macgills @Frans-Lukas In any case, the behaviour should be consistent. IMO should come back to home screen and then exit if back called an other time.

[2020-03-12 07:18] kelson42 commented on #1739
@4shutosh This is not what I requested.

[2020-03-12 08:16] yashk2000 commented on #1840
@kelson42 this is the code that handles the `release` configuration:

[code]

Here the signing config is made null.
This should work if a release apk is being made. So I generated release apks for the application and ran the following command:

`apksigner verify --print-certs dev-universal-release.apk`

Here, it shows that the apk is already signed.

`Signer #1 certificate DN: CN=Alexandre Saveau,

[2020-03-12 08:18] yashk2000 commented on #1840
I removed this condition:

[code]

I just put `signingConfig = null` without a condition which worked. So I want to know how to give disableSigning as an input paramter while generating apks inorder to test it. Or whether it is automatically there.

[2020-03-12 09:11] Frans-Lukas commented on #1881
@kelson42 I agree when comparing with how a browser handles back navigation as well as Googles recommendation:

 "Every app you build has a fixed start destination. This is the first screen the user sees when they launch your app from the launcher.
...
This is also the last screen they see before exiting the app. [using back navigation]"
 https://developer.android.com/guide/navigation/navigation-p

[2020-03-12 09:21] sonusourav commented on #1881
So, should I proceed with bringing the user to home screen instead of directly escaping?

[2020-03-12 09:41] sonusourav opened #1886 "App crashing on pressing back button in Notes"
**Describe the bug**

When someone presses the back button in the Notes page, app crashes.

**Expected behavior**

The notes should be saved and the page should leave the screen.

**Steps to reproduce the behavior:**
1. Click on the Notes option.
2. Click the back button.
3. App crashes.

**Screenshots**

[Link](https://imgur.com/gBWWDVz)

**Environment**
- Version of Kiwix Android : 3.2.1
- Devic

[2020-03-12 10:18] kelson42 commented on #1886
I can not reproduce the bug on my Android 10, so would be great if you could fix this one as well... otherwise might be difficult to reproduce for an other dev.

[2020-03-12 10:33] 4shutosh commented on #1739
Currently, on all devices the downloaded media is stored in `Android/media/com.kiwix.kiwix/`

@kelson Will it okay if we make it save in Downloads directory?

[2020-03-12 10:38] yashk2000 opened #1887 "Remove all "Surface to user" TODOs"
**Describe the solution you'd like**

Currently, there are a few TODOs which require some data to be shown to the user. These TODOs are present in:

- KiwixDatabase.java, line 192
- KiwixDatabase.java, line 195
- CoreMainActivity.java, line 1447
- KiwixTextToSpeeach.java, line 90
- ZimContentProvider.java, line 94
- KiwixTextToSpeech.java, line 311

A suitable message shall be shown to a user in f