[2019-01-22 18:39] RajaVamsi11 opened #926 "Update the compile and target SDK versions"
**Summary:**
The compileSdkVersion and targetSdkVersion in the build. gradle file of kiwixlib which are now set to versions 27 and 27 respectively, must be changed to 28( Android Pie) as the latest Android APIs must be used to make use of the latest features.

[2019-01-22 18:39] RajaVamsi11 commented on #926
@mhutti1 Working on this.

[2019-01-22 18:48] RajaVamsi11 commented on #890
@mhutti1 Can I start working on this issue?

[2019-01-22 21:13] abdulwd commented on #926
I have done this in #925.

[2019-01-23 16:52] RajaVamsi11 commented on #926
@abdulwd Please check [here](https://github.com/kiwix/kiwix-android/blob/master/kiwixlib/build.gradle#L4). The compile and target versions are set to 27.
Can I start working on this?

[2019-01-23 16:54] RajaVamsi11 commented on #926
@abdulwd Closing this as you have done.

[2019-01-23 16:54] #926 closed

[2019-01-24 14:37] julianharty opened #927 "Travis-CI failing again we need to accept android-28 licenses"
As per #279 which we addressed just over a year ago, it seems we need to update the android-sdk-license file on our web site
https://github.com/kiwix/kiwix-android/issues/279#issuecomment-337059428
@kelson42 please could you update the contents of http://download.kiwix.org/dev/android/api/licenses/android-sdk-licenses with
[code]
please?
I can't guarantee it'll fix the issue, however my local buil

[2019-01-24 14:47] julianharty commented on #927
In case it's a Google bug, see https://issuetracker.google.com/issues/123054726 which is affecting many projects currently.

[2019-01-24 17:31] 287mdsahil commented on #910
@siddharth2010 I have put a pull request for the issue

[2019-01-25 10:13] okkebal commented on #899
I cannot see pictures in Kiwix 2.4 on Wikipedia EN 2018-10 on these articles:

- Adam Curry
- Germany
- IBM

There must be many more articles without pictures. I do see pictures in most articles. It also only just EN Wikipedia that has problems for me.

I guess this is caused by the crawler being blocked from downloading pictures. You can't keep requesting pictures indefinitely from some hosts. Th

[2019-01-25 10:16] okkebal commented on #899
I am using Kiwix 2.4 on android Pie. Using 2018-10-24 EN Wikipedia (78.1 GB in one file)

[2019-01-25 22:02] dazed-horizon commented on #899
@ mhutti1   It is not device specific. I have tried it on 8 different devices, checked the checksum and still no luck. And as  "okkebal" said, there are many articles without pictures! I really hope that there will be finally a version which works...

[2019-01-27 07:48] kelson42 commented on #927
@julianharty thank you for reporting this. I have updated the file following your instructions. What about https://download.kiwix.org/dev/android/api/licenses/android-sdk-preview-license ? What is the purpose of this file?

[2019-01-28 10:58] soloturn commented on #927
master builds green now, so should be fixed.

[2019-01-28 12:12] kelson42 commented on #927
@julianharty Should we close the ticket?

[2019-01-29 10:51] #927 closed

[2019-01-30 14:49] 287mdsahil commented on #911
@siddharth2010 Can you send me the source file for the `ic_home_kiwix_banner.png` , please.
Extracting the pattern form the png files included in the repo would a very tedious task (although I am willing to do it if no other way out is possible :) )

[2019-02-01 09:47] #923 closed

[2019-02-01 11:42] kelson42 commented on #890
@RajaVamsi11 Yes you can :)

[2019-02-01 11:46] kelson42 commented on #84
I reopen it and will move it to the kiwix-lib

[2019-02-01 12:51] #910 closed

[2019-02-01 16:17] Popolechien opened #929 "Add "Support Kiwix" item in app menu"
It would be nice/useful to have a "Support Kiwix" list item in the menu (probably below "Settings")
![screenshot_20190201-171427](https://user-images.githubusercontent.com/21675885/52134946-05001080-2645-11e9-9492-26e11e0ce4c9.jpg)

The item would be an external link to https://www.kiwix.org/support

[2019-02-01 16:46] abdulwd commented on #929
@287mdsahil You can work on this issue.

[2019-02-03 06:39] ritik2017 commented on #863
I had some doubts regarding the code I searched for the dropdown and found that its actually a dynamic dropdown which loads from a url
I found a function getCurrentWebView() which i think returns the view and by default all dropdowns are collapsed??
Am i going right?? @mhutti1  Is this the place of code from where i can open the collapsed icons??
![capture](https://user-images.githubusercontent.co

[2019-02-03 23:52] mhutti1 commented on #863
@ritik2017 The code you have linked is for the side bar not for the searching in the page. I am almost certain the subtext isn't loaded dynamically. The main problem is how to display the user a consistent search. I think the easiest way might be to expand everything when the user attempts to find in page. Everything else might be challenging/ require some weird javascript magic.

[2019-02-04 08:51] genodeftest opened #932 "When running an Android backup, do not backup the .zim files"
**Is your feature request related to a problem? Please describe.**
Taking a backup of the kiwix app using adb (`adb backup -apk org.kiwix.kiwixmobile`) or of the whole system (`adb backup -apk -shared -all`) is quite large and contains all the .zim files. When restoring a backup, they are likely outdated anyways. In the mean time, they just make the backup size bigger

**Describe the solution you'

[2019-02-04 09:06] kelson42 commented on #932
@mhutti1 That sounds sensible, what do you think about that?

[2019-02-04 13:15] mhutti1 commented on #932
Yeah sounds like a good idea.

[2019-02-04 19:41] chris1b opened #933 "Improve network status check"
NetworkUtils.java considers the state 'connecting' on mobile 'OK'

1. The network state check should be more restrictive, e.g. a download operation should pause also if being in state 'connecting', as the respecting network login process may fail.
2. The state info from the service is not checked against null and for 'connected' always.
3. The respective tests have no annotation and fail if annota

[2019-02-05 07:17] ritik2017 commented on #863
Thanks @mhutti1 for the help i got this now
I am expanding the collapsed sections so that all the strings that match gets displayed

[2019-02-06 08:04] iadeelzafar opened #935 "Add up button to the action bar"
**Is your feature request related to a problem? Please describe.**
If user presses back button, it will close the app in some cases. Hence there needs to be an up button so that user goes back to the previous activity when clicking on the up button.

**Describe the solution you'd like**
I'd like to work on this issue. By adding an up button.
1- on the toolbar, set navigation icon to an image of an

[2019-02-06 08:59] abdulwd commented on #912
I think we should add the functionality of searching the ZIM file on the home screen using find in page.

[2019-02-06 09:12] Popolechien commented on #912
Well it already does that, doesn't it?
This being said, I realize your home screen looks a bit different from the one I currently have (and I like yours better)
![screenshot_20190206-100836](https://user-images.githubusercontent.com/21675885/52331061-764e1380-29f7-11e9-9c0c-5636824c326e.jpg)

- V2.4 build 1182160
- Huawei p20 Lite
- Android 8.0

[2019-02-06 14:05] abdulwd commented on #912
@Popolechien The latest home screen is on the master branch while you are building from 2.4.

[2019-02-06 14:14] iadeelzafar opened #936 "Unstructured code in MainActivity's onCreate() method."
**Is your feature request related to a problem? Please describe.**
In the MainActivity.java's onCreate() method, there's a lot of code which is not a good coding practice. Hence, breaking it into functions is a good idea.

**Describe the solution you'd like**
- I'd like to break all that code into different functions related to each functionality.
- Code doing similar work should be placed in a se

[2019-02-06 14:27] iadeelzafar commented on #936
Hey @kiwix/lieutenants !  Kindly Have a look.

[2019-02-06 14:33] iadeelzafar commented on #936
Hey @Popolechien  @mhutti1 ! Kindly review this :)

[2019-02-06 17:29] #898 closed

[2019-02-07 14:36] iadeelzafar opened #938 "Stop Reading Aloud Menu Option doesn't works"
**Describe the bug**
When menu option "Stop reading aloud" is clicked, it doesn't works.

**Expected behavior**
When clicking the menu option "stop reading aloud" it should stop the audio and it's visibility should be GONE.
**Steps to reproduce the behavior:**
1. Open a book, in the menu click "Read aloud"
2. Now again go to the menu option and click "Stop reading aloud"
3. It won't stop the audio

[2019-02-08 08:51] beep-inc opened #940 "Kiwix not recognising "wikipedia no vidc"
**Describe the bug**
1. I've successfully downloaded and opened several wikis: ray Charles, wikipedia-no-pic (34.8gb), wikimed (4.8gb)
2. I've also successfully downloaded Wikipedia-no-vid (78gb), and can see the files in the same "SD card > android >org.kiwix. kiwix mobile > data > kiwix" directory. But "Wikipedia-no-vid" does not appear in the list of content available on device that i can open.

[2019-02-08 08:55] sonusourav commented on #911
@siddharth2010 I have come up with an idea in which we will have two XML layouts for home screen and depending on the screen orientation we will set it to the relevant one. I am already done with the idea and it works perfectly fine. Here is how it looks now.
![kiwix_issue_ 911_resolved](https://user-images.githubusercontent.com/34706326/52467861-e225ad00-2bac-11e9-8c18-8904b4601b2d.gif)

If it lo

[2019-02-08 09:55] Aditya-Sood commented on #932
@mhutti1 I would like to work on this if @genodeftest doesn't plan to

[2019-02-08 17:12] siddharth2010 commented on #911
Yes this actually looks good

[2019-02-08 17:18] siddharth2010 commented on #911
@287mdsahil , Are you still working on this issue, or can @sonusourav work on this.

[2019-02-09 07:22] iadeelzafar opened #943 "Deprecated API Usage"
**Describe the bug**
Deprecated API Usage in 2 files.

**Expected behavior**
Import updated classes and use it's methods.

**Steps to reproduce the behavior:**
1. Deprecated API Usage in KiwixDatabaseTest.Java and TestUtils.java.
2. androidTestImplementation of junit can be updated in build.gradle.
3. import updated class of AndroidJUnit and InstrumentationRegistry in KiwixdatabaseTest.Java.
4. im

[2019-02-09 08:02] prajurock opened #945 "Share button is not working in Device Fragment"
**Describe the bug**
App chrashes when share option is click on Device Fragment

**Steps to reproduce the behavior:**
1. open the Device fragment
2. Click on Share Button

**Screenshots**
![screencast-genymotion-2019-02-09_12 53 12 926](https://user-images.githubusercontent.com/26791135/52518315-d995ab00-2c6e-11e9-9814-607bf5da8bff.gif)

**Environment**
- Version of Kiwix Android : Latest master v

[2019-02-09 08:04] prajurock commented on #945
@Popolechien @mhutti1 Kindly check this :)

[2019-02-09 13:48] siddharth2010 opened #946 "Activity Header size quite small in landscape orientation"
**Describe the bug**

In landscape orientation, the activity header, is really small.
This problem exists for the Following activities:
1. Settings Activity
2. Help Activity
3. Bookmarks Activity
4. Library (For downloading new zim files)
5. History Activity

**Steps to reproduce the behavior:**
1. Open any of the following activities
2. Rotate device in Landscape mode

**Screenshots**

![screensh

[2019-02-09 13:49] 287mdsahil commented on #946
I would like to work on this issue

[2019-02-09 14:11] soloturn opened #947 "convert build.gradle to build.gradle.kts"
gradle switched over from groovy to kotlin. please convert build.gradle, and settings.gradle to kotlin:
https://guides.gradle.org/migrating-build-logic-from-groovy-to-kotlin/
as documented there this does not need to be done at once.

[2019-02-09 14:18] siddharth2010 opened #948 "Changing screen orientations in tab overview"
**Describe the bug**

Changing screen orientation in Tab view and opening new tabs makes the whole UI quite messy.

**Steps to reproduce the behavior:**
1. open tab view
2. change screen orientation
3. click on the '+' button on the top left
4. open tab view again

**Screenshots**

![screenshot_20190209-193835](https://user-images.githubusercontent.com/32238400/52521786-a66d0f00-2ca2-11e9-8c39-278

[2019-02-09 14:23] siddharth2010 commented on #946
Sure! Go Ahead

[2019-02-09 14:29] siddharth2010 commented on #948
Also, once this starts, the only way to fix it is to restart the app. Closing the tabs does not help as the new tabs still open in a specific orientation.

[2019-02-09 14:40] iadeelzafar commented on #948
@siddharth2010  I'd like to work on this issue.

[2019-02-09 14:42] iadeelzafar commented on #947
@soloturn  I'd like to work on this issue.

[2019-02-09 14:44] siddharth2010 opened #949 "Add 'Today' and 'Yesterday' instead of specific dates in History activity"
**Is your feature request related to a problem? Please describe.**

When viewing the History it's easier to just reference the date with today instead of the exact date, in case we viewed the article quite recently.

**Describe the solution you'd like**

In the history activity we should add the headings 'today' and 'yesterday' instead of the date for these two specific dates.

**Additional contex

[2019-02-09 14:45] siddharth2010 commented on #948
Sure. Go ahead!

[2019-02-09 14:46] iadeelzafar commented on #949
@siddharth2010  I'd love to work on this issue.

[2019-02-09 15:14] abdulwd commented on #946
Is it not in accordance with the material guidelines?

[2019-02-09 15:24] siddharth2010 commented on #949
Sure. Go ahead!

[2019-02-09 15:36] siddharth2010 commented on #946
Yes, i just noticed that this is a present in the Gmail app as well.

[2019-02-09 15:39] #946 closed

[2019-02-09 16:11] soloturn commented on #947
@iadeelzafar much appreciated, i made a spike in branch st-build-gradle-kotlin. feel free to pull it in ...

[2019-02-09 16:23] soloturn commented on #922
@okkebal , can you please try with a build from master?

[2019-02-09 16:26] kelson42 commented on #922
@soloturn We provide nightlies https://download.kiwix.org/nightly/

[2019-02-09 17:01] abdulwd commented on #911
I think our present home screen card background looks better than that introduced in #942 if it is to be replaced consider making it more visually appealing than the current one. The source of `ic_home_kiwix_banner.png` was needed, it can be found on this link: https://wiki.kiwix.org/wiki/Special:ListFiles.

[2019-02-09 17:30] soloturn opened #950 "androidx and jetifier"
after updating the dependencies to androidx with #898 the continuous build gives errors:
[code]
a mail thread concerning this topic suggests to exclude 3rd party libs:
https://issuetracker.google.com/issues/119135578#comment5

[2019-02-09 18:09] ritik2017 commented on #863
@mhutti1 @soloturn
Sorry i was unable to find the snippet of code from where i can expand the collapsed section
can you please help me out??

[2019-02-09 18:46] kelson42 commented on #932
@Aditya-Sood No problem, go head and make a PR.

[2019-02-09 19:49] prajurock opened #954 "In downloading fragment last image is not full visible"
**Describe the bug**
the last image is not fully visible in the Downlaoding Fragment.

**Expected behavior**
Image should be fully visible

**Steps to reproduce the behavior:**
1.open online fragment.
2. Download more then 5 books.
3 Scroll last at downlaoding Fragment

**Screenshots**
![screenshot-2019-02-10_01 09 56 518](https://user-images.githubusercontent.com/26791135/52525571-90c30e00-2cd1-1

[2019-02-09 19:50] prajurock commented on #954
I would Like to work on this issue.

[2019-02-09 19:55] prajurock opened #955 "Double click to exit form App."
**Is your feature request related to a problem? Please describe.**
App closes in between reading books if the back button is pressed accidentally.

**Describe the solution you'd like**
I would like to add Double click on Back Button to exit.

**Describe alternatives you've considered**
A dialogue Box open to close the Application.

[2019-02-09 19:55] prajurock commented on #955
I would like to work on this issue

[2019-02-09 20:07] siddharth2010 commented on #955
@prajurock , this has already been discussed at length in #678 .

[2019-02-09 20:08] prajurock commented on #955
okay.

[2019-02-09 20:09] #955 closed

[2019-02-09 20:18] chris1b opened #956 "refactor StorageUtils.java"
**original description**
StorageUtils has no unittests at all
parameterized unittests now available

**adjusted description: see below** (original PR #957 closed)

[2019-02-09 20:33] prajurock opened #958 "On rotating the screen online fragment start Loading data again"
**Describe the bug**
 On rotating the screen online fragment start downloading data again

**Steps to reproduce the behavior:**
1. Open the Online fragment
2. Wait for loading data take place
3. Change orientation of app
4 loading of page start again

**Screenshots**
![screencast-genymotion-2019-02-10_01 32 43 875](https://user-images.githubusercontent.com/26791135/52525968-d7b40200-2cd7-11e9-8cff

[2019-02-09 20:40] Aditya-Sood commented on #896
TL;DR - I have hit a total dead end on this bug, with no hints to the cause or solution online. Unless you have any ideas for how to tackle this, I'd like to put this bug aside and focus on other open issues.

**Final Update:**

I didn't check this earlier, but the error pops up (& is handled without crashing) in the absence of the files as well. So a broken pipe has nothing to do with it.

What d

[2019-02-09 21:53] siddharth2010 opened #960 "Make Alert Dialog boxes Uniform"
**Describe the bug**
Some alert Dialog boxes in the app have different icons in the top left. I think we should also make all the icons in the dialog boxes uniform as well.

**Screenshots**

![image](https://user-images.githubusercontent.com/32238400/52522487-fbf9e980-2cab-11e9-9479-8beefdc0eada.png)

**Environment**
- Version of Kiwix Android : Version 2.4 build 55
- Device : Samsung S6
- OS vers

[2019-02-09 22:01] prajurock commented on #960
I would like to work.

[2019-02-10 00:34] prajurock commented on #929
@abdulwd Can I work if @287mdsahil is not working.

[2019-02-10 00:46] prajurock commented on #902
@kelson42 @Popolechien Can you please help me understanding the bug.

[2019-02-10 01:09] metal450 commented on #896
If this isn't ultimately going to be fixed...is there any other workaround/way I can get the data from http://prepaid-data-sim-card.wikia.com/wiki/Prepaid_SIM_with_data to work in Kiwix...?

[2019-02-10 12:58] mhutti1 commented on #935
Do you think this is a good use of screenspace? Long titles can already be difficult to view. Can you provide a case when going back might close the app?

[2019-02-10 13:08] mhutti1 commented on #940
Can you check that the files exist on the system. It should probably be split into multiple .zimaa .zimab .zimac ... files due to FAT32 limitations?

[2019-02-10 13:09] mhutti1 commented on #945
It works on my device but will test on an older API.

[2019-02-10 13:15] #936 closed

[2019-02-10 13:17] siddharth2010 commented on #895
Hey @sonusourav , I am not able to reproduce this issue right now. Are you still getting it?

[2019-02-10 13:20] mhutti1 commented on #863
@ritik2017 Yeah its a bit complicated. You will likely have to inject some javascript into the webview to do it.

[2019-02-10 13:29] siddharth2010 opened #965 "Add animations to Switches in Settings Activity"
**Is your feature request related to a problem? Please describe.**
The switch animations in the app are not that good.

**Describe the solution you'd like**
We should add animations as per the material design guide [here](https://material.io/design/components/selection-controls.html#switches), so as to get that native look and feel in the app.

| Kiwix App | Settings App
| -------------        |:-

[2019-02-10 13:35] 287mdsahil commented on #965
I would like to work on it.

[2019-02-10 13:43] siddharth2010 opened #966 "Tab headings incorrect in tab overview after deleting all zim files"
**Describe the bug**
After deleting all zim files opening a new tab after closing all open tabs gives wrong heading to that tab.

**Steps to reproduce the behavior:**
1. delete all your zim files
2. open the tab overview (by clicking on the  ![image](https://user-images.githubusercontent.com/32238400/52534452-9703c980-2d67-11e9-9f6a-9573ffb95576.png) button)
3. close all open tabs
4. click on the

[2019-02-10 13:43] siddharth2010 commented on #965
sure. go ahead

[2019-02-10 13:45] iadeelzafar commented on #966
Id love to work on this.

[2019-02-10 13:51] siddharth2010 opened #967 "fix button names in download notification"
Instead of "Play", we should Probably have the string "Resume"

**Steps to reproduce the behavior:**
1. Download a zim file
2. Pause the download
3. Open notifications

**Screenshots**

![screenshot_20190210-190737](https://user-images.githubusercontent.com/32238400/52534540-d383f500-2d68-11e9-8601-770a016ac103.png)

**Environment**
- Version of Kiwix Android : 2.4 Build 55
- Device : Samsung S6
-

[2019-02-10 13:52] iadeelzafar commented on #967
I can work on this

[2019-02-10 14:05] siddharth2010 opened #968 "Text begin cut by the right edge on Home screen"
**Describe the bug**

In the home screen, text in the zim file description is being cut by the right edge

**Screenshots**

![screenshot_20190210-192512](https://user-images.githubusercontent.com/32238400/52534658-78eb9880-2d6a-11e9-8030-b907480b2ff9.png)

(The actual text was: From Vikidia, the encyclopedia for 8 to 13-year **-old** children that everybody can make better)
(The word "old" was cut

[2019-02-10 14:06] siddharth2010 commented on #967
Sure. go ahead

[2019-02-10 14:18] siddharth2010 commented on #966
Sure. Go Ahead

[2019-02-10 14:20] prajurock commented on #968
I want to work on this.

[2019-02-10 14:28] siddharth2010 commented on #968
Sure. Go Ahead

[2019-02-10 15:22] sonusourav commented on #895
@siddharth I am still getting it.

[2019-02-10 15:26] mhutti1 commented on #943
We need to make sure testdroid supports this. Testdroid isn't run on fork prs so will need to be merged into a branch on origin then a new pr created so that the full test suite runs.

[2019-02-10 15:31] kelson42 commented on #940
@mhutti1 We should not recommend any more to people to split their ZIM files as this brakes potentially the embedded fulltext index.

[2019-02-10 16:05] abdulwd commented on #895
I sometimes get this type of crash on the first run when I change the night mode and press back. You can add a simple null check.

[2019-02-10 16:08] abdulwd commented on #913
Closed via #919.

[2019-02-10 16:08] #913 closed

[2019-02-10 16:29] beep-inc commented on #940
It was downloaded thru the kiwix app,  so the big zim was automatically split into .zimxx as expected, each 2Gb in size. Screenshots of the folder as below. Interestingly the last file *.zimbn shows zero byte size, while the second last file *.zimbm shows 690mb.

https://drive.google.com/file/d/1k7QnyJ0tkq2tPV47VhWwbAT-e_K1GZrD/view?usp=drivesdk

[2019-02-10 20:12] iadeelzafar commented on #967
@siddharth2010 this is the Kiwix Home Page that I see.

![screenshot_24](https://user-images.githubusercontent.com/36811908/52538832-21b0ec80-2d99-11e9-84de-69b7d656df15.png)

I've noticed that this is the updated one. How can I get this one so that I could download zim files?

![screenshot_25](https://user-images.githubusercontent.com/36811908/52538862-7f453900-2d99-11e9-822d-2ea5a95c1e5e.png)

[2019-02-10 20:46] iadeelzafar commented on #967
Hi @siddharth2010 , Previously I was on Kiwix VERSION 2017-07 Build 1. Now after seeing your post, I went to Project>Module Settings>app>flavors and updated Version code>55>version name>2.4
This is what I see in my app settings now.
![screenshot_27](https://user-images.githubusercontent.com/36811908/52539310-71de7d80-2d9e-11e9-9122-f0d5b3340a55.png)
But I don't think it's version 2.4 because the a

[2019-02-10 20:57] siddharth2010 commented on #967
oh no all that was not actually required.

The version I am using is the one in the latest master branch. In the settings activity, it says version 2.4 Build 55. Just like you have in your screenshot.

[2019-02-10 21:06] iadeelzafar commented on #943
@mhutti1 Thanks for the response. Let me know if there's anything that I need to do. Id love to refine this and make it work.

[2019-02-10 21:16] iadeelzafar commented on #967
@siddharth2010  I'm also using the latest master branch but my Home Page looks like this.
![screenshot_24](https://user-images.githubusercontent.com/36811908/52539668-d1d72300-2da2-11e9-8db5-ee3fc3023d27.png)
I've noticed that this is the latest one which I'm not seeing because of which I also can't figure out where to download zim files.
![screenshot_25](https://user-images.githubusercontent.com/

[2019-02-10 21:19] iadeelzafar commented on #967
My version was VERSION 2017-07 Build 1 and it still is the same. I tried to edit it to the latest one but I failed.

[2019-02-10 22:24] mhutti1 commented on #940
Yeah, hmm that looks like the download has been corrupted. I am not sure what the best way to fix it might be. Redownloading might work but its a lot of work.

[2019-02-10 23:44] #582 closed

[2019-02-11 02:14] abdulwd commented on #49
Closed via #642.

[2019-02-11 02:14] #49 closed

[2019-02-11 02:14] abdulwd commented on #365
Close via #642.

[2019-02-11 02:14] #365 closed

[2019-02-11 02:35] abdulwd commented on #967
@iadeelzafar The below one is the older home screen, it was changed because it looked more like help screen. You can open a new tab to go to the download button or go to **menu -> Get Content** to download a ZIM file.

[2019-02-11 05:41] prajurock commented on #945
Yes @mhutti1 problem is with older API

[2019-02-11 09:43] iadeelzafar commented on #967
@abdulwd  Oh okay. The above screen which I'm seeing is that the latest one? I'm curious about it because in the settings I see VERSION 2017-07 Build 1.

[2019-02-11 09:55] abdulwd commented on #967
Yes, that is the latest one.

[2019-02-11 12:04] iadeelzafar commented on #967
@abdulwd Look, this is the menu I see. There's no Get Content here.

![screenshot_28](https://user-images.githubusercontent.com/36811908/52561988-d93c1200-2e1e-11e9-9dd7-6abd536cb49b.png)

[2019-02-11 12:20] mhutti1 commented on #967
@iadeelzafar You are running the wrong flavour of the app. You need to change your build variant in Android Studio Settings.

[2019-02-11 12:43] iadeelzafar commented on #967
@mhutti1 Thanks a lot for helping out. kiwixDebug is the build variant I should use.?

[2019-02-11 13:18] iadeelzafar commented on #967
@siddharth2010 I've completed this task. One thing I'm unsure about is that should I add Resume translations as well in all other string files or some specific languages only?

[2019-02-11 13:25] siddharth2010 commented on #967
I think we should do it in all the files.

[2019-02-11 13:46] siddharth2010 opened #973 "Enable bottom toolbar by default"
**Is your feature request related to a problem? Please describe.**

As of now, there is no way to add a bookmark without enabling the bottom toolbar.

**Describe the solution you'd like**

 Enable the bottom toolbar by default.

[2019-02-11 17:33] abdulwd commented on #973
I think we can add more options like go to the home page of ZIM and move forward in history as we have them in the bottom toolbar. We can use Google Chrome/Firefox implementation and it looks quite good:
- **Google Chrome**
![image](https://user-images.githubusercontent.com/20206262/52581488-e3770400-2e50-11e9-906d-0f4a1037a85a.png)
- **Firefox**
![image](https://user-images.githubusercontent.com/

[2019-02-11 17:41] abdulwd commented on #967
We should have translations in as many languages as possible but if you use google translate or any other automated translators the translations will be mostly inaccurate. @mhutti1 How do we handle string translations? I think one should only translate to languages which are known to him/her so it is as accurate as possible.

[2019-02-11 21:20] siddharth2010 opened #975 "App Crashes in in Library Activity"
**Describe the bug**

When the zim file is downloading, opening the Downloading Fragement using the Notifications, followed by clicking the online tab, leads to a crash.

**Steps to reproduce the behavior:**
1. Start Downloading a zim file
2. Open Notifications and tap on the Downloading notification, to open the downloading fragment
3. Click on the online tab
4. The app crashes

**Screenshots**

[2019-02-11 21:25] siddharth2010 commented on #975
Here is the Log for the crash:
[code]

[2019-02-11 21:48] siddharth2010 commented on #975
Also, I noticed that this also happens in case the device is rotated when the zim file is downloading.

**To Reproduce another crash scenario:**
1. Start downloading a zim file
2. Go to the downloading tab
3. Rotate the device
4. Stop the download
5. Go to another tab
6. The app crashes

Here is the gif:
![ezgif com-video-to-gif 1](https://user-images.githubusercontent.com/32238400/52595809-c522ff

[2019-02-11 21:50] siddharth2010 commented on #975
Here is the log for the second scenario:

[code]

[2019-02-11 21:50] mhutti1 commented on #973
I don't think this is a priority. Imo we should enable bottom bar by default.

[2019-02-11 21:51] siddharth2010 commented on #975
@mhutti1 @abdulwd could you please see if you get the crash on your end too.

[2019-02-11 21:51] mhutti1 commented on #967
Only edit strings.xml all the others are auto generated based on manual translations from translatewiki.net

[2019-02-11 21:52] #929 closed

[2019-02-11 23:25] mhutti1 commented on #975
There are lots of known download crashes so this wouldn't surprise me.

[2019-02-12 04:30] codepoet2017390 commented on #973
@siddharth2010 @abdulwd  I would like to work on this

[2019-02-13 10:36] vaibhav2000 opened #978 "Redundant Toast pops up even when storage permissions are allowed"
**Describe the bug**

When the app starts up, the app asks for permissions to access the storage. Upon pressing "Yes" a toast pops up saying "To access offline content we need access to your storage" which is redundant as permissions have already been given.

**Expected behavior**

There is no use of this toast to pop up when permissions have been allowed.

**Steps to reproduce the behavior:**

1.

[2019-02-13 10:49] vaibhav2000 opened #979 "A Snackbar and a Toast pop up simultaneously upon denying the storage permissions"
**Describe the bug**

Upon pressing "No" on the dialog for storage permission encountered when the app is launched for the first time, a toast and a snackbar conveying the same message "To access offline content we need accesss to your storage" pop up simultaneously.

**Expected behavior**

Either the snackbar or the toast should pop up at once. The snackbar is recommended to be popped up here bec

[2019-02-13 13:23] prajurock commented on #968
@sonusourav i am working on this issue

[2019-02-13 14:13] abdulwd commented on #968
@prajurock You may work on the issue but please don't hold the issues if you're not working on them so that other contributors may work on them. Work on at most 2 issues at a time.

[2019-02-13 20:27] prajurock commented on #968
ok @abdulwd

[2019-02-14 09:14] prajurock opened #985 "Set the screen orientation to portrait for some activity"
**Describe the Feature**
Set the screen orientation to portrait for some activity. Like in the library Activity
it will enhance issue #958 and remove bug of #948.

**Environment**
- Version of Kiwix Android: Latest Master 2.4 Build 55
- Device: Asus Zenfone Max M1 Pro
- OS version: Android 8.1(API 27)

[2019-02-14 09:15] prajurock commented on #985
@abdulwd @siddharth2010 What's your view on this.

[2019-02-14 10:48] siddharth2010 commented on #985
I don't think we should good ahead with this. While it does seem like a good idea In the context of mobile devices, in case of tablets, I guess landscape is the preferred orientation.

So locking the user to portrait is probably not the way to go.

[2019-02-14 13:17] prajurock commented on #985
We can free screen orintation in Tab And fix screen orintation to potrait in Mobile.
[https://stackoverflow.com/questions/9627774/android-allow-portrait-and-landscape-for-tablets-but-force-portrait-on-phone](url)

[2019-02-14 13:46] prajurock opened #986 "The last item of Home screen is cutting"
**Describe the bug**
The last item of Home screen is cutting

**Steps to reproduce the behavior:**
1. Open the App.
2.Scroll Down Bottom

**Screenshots**
![whatsapp image 2019-02-14 at 7 08 17 pm](https://user-images.githubusercontent.com/26791135/52790585-eeb67380-308c-11e9-83f7-49b7cc57946e.jpeg)

**Environment**
- Version of Kiwix Android: Latest Master Android
- Device : Asus Zenfone Max M1 Pr

[2019-02-14 13:47] prajurock commented on #986
I will work on this.

[2019-02-14 16:15] abdulwd commented on #958
It will be fixed by #559.

[2019-02-14 16:18] abdulwd commented on #985
We already have a pull request for #958 and @iadeelzafar is working on #948. I don't think we should lock the orientation unnecessarily, instead, we should give the user more flexibility.

[2019-02-14 16:40] abdulwd commented on #920
@PopeRigby You can use the search icon in the app bar to search within the currently opened ZIM file. Multi-ZIM is not supported till now so other ZIM files cannot be searched. If this is what you require you can close the issue otherwise can you please explain this feature in more depth and its use case.

[2019-02-14 16:46] prajurock commented on #985
Okay

[2019-02-14 16:46] #985 closed

[2019-02-14 16:50] PopeRigby commented on #920
Highlighting something in Android brings up a context menu, like this: https://photos.app.goo.gl/K8b9WwcdbPH1Yj4X6. There could be an option in that context menu to search the currently selected word in Kiwix.

[2019-02-14 16:54] prajurock commented on #958
Okay @abdulwd I will close this issue.

[2019-02-14 17:45] sonusourav commented on #986
This issue is already addressed in issue #894.

[2019-02-14 18:07] abdulwd commented on #986
Do not open duplicate issues, search the issue tracker before opening one. If you find duplicate issues you can close them. @sonusourav If you're not working on #894 you can let @prajurock work on it otherwise you can open a PR. :)

[2019-02-14 18:07] #986 closed

[2019-02-14 18:13] abdulwd commented on #920
@PopeRigby I think it's already implemented you can press the 3 dots on the contextual menu and then press Search Kiwix to search for the selected text.
![image](https://user-images.githubusercontent.com/20206262/52807631-11a74e80-30b2-11e9-95f5-126410427de4.png)

[2019-02-14 19:51] souravmunjal opened #987 "App Crashes on get contents"
Steps to get the crash :
1->Go to "Get Contents" option of menu
2->Go to online section.
3->Start any download
4->Now go to downloading section
5->Stop the downloading (not pause)
6->Then again you press the Resume Downloading button the app crashes.
![step1](https://user-images.githubusercontent.com/30770269/52813080-fabb2900-30be-11e9-885e-5df477530b2a.png)
![step2](https://user-images.githubuse

[2019-02-14 20:41] PopeRigby commented on #920
I don't have it [](https://i.imgur.com/yHRjjse.png)

[2019-02-14 21:03] abdulwd commented on #920
@PopeRigby Can you try one of the latest apk from here https://download.kiwix.org/nightly/

[2019-02-14 21:15] PopeRigby commented on #920
It won't let me install any of them

[2019-02-14 23:04] prajurock commented on #894
@sonusourav Are you working on this issue??

[2019-02-15 05:12] prajurock commented on #894
@abdulwd Can i work on this issue .This issue was created many days ago.

[2019-02-15 07:08] siddharth2010 commented on #987
@souravmunjal , are you using the app from the app store, or from the GitHub repo?

[2019-02-15 07:22] prajurock commented on #987
@souravmunjal this not happening in my phone.App version i am using is 2.4 Build:55

[2019-02-15 08:25] iadeelzafar commented on #881
@abdulwd I think this issue is solved already. So, this should be closed.

[2019-02-15 08:40] iadeelzafar opened #988 "A Separate Book Downloaded Successfully Notification"
**Is your feature request related to a problem? Please describe.**

When the book is downloaded, the user should be told in a conscious way about that.

**Describe the solution you'd like**

* Currently, when the book is downloaded, the same old notification text is updated to "downloaded".
* I think it'd be much better, if once the download is finished. This notification disappears and a new noti

[2019-02-15 08:42] iadeelzafar commented on #988
@abdulwd  @mhutti1 What you think about it?

[2019-02-15 08:48] iadeelzafar commented on #948
I'm working on this. I'll make a PR soon.

[2019-02-15 09:01] #881 closed

[2019-02-15 10:11] julianharty commented on #865
I think the various prerequisites are now in place for us to enable code coverage for our tests that run on Bitbar's device cloud. They have updated their systems, API, and gradle plugin https://github.com/bitbar/testdroid-gradle-plugin/pull/28 so that we can now specify we want to use their test framework that enables the code coverage file to be generated when the tests are run. They also fixed

[2019-02-15 10:14] julianharty commented on #865
Note: my interim code changes are in a local branch julianharty/enable_code_coverage_without_breaking_debugging

[2019-02-15 12:30] sonusourav commented on #894
@prajurock  I am working on this issue.

[2019-02-15 12:50] prajurock commented on #894
Ok @sonusourav proceed.Good Luck.

[2019-02-15 14:40] iadeelzafar commented on #329
@abdulwd I tried to reproduce this issue and I think it has been resolved.

[2019-02-15 15:39] souravmunjal commented on #987
I am using it from app Store and @prajurock it happens sometimes and u just keep trying for sometime it will crash I don't know the exact issue (sometimes it does on screen rotation).

[2019-02-15 15:46] prajurock commented on #987
Ok.If i found any i will report.

[2019-02-15 16:22] abdulwd commented on #329
I'm closing this issue if it has not been resolved please reopen it.

[2019-02-15 16:22] #329 closed

[2019-02-15 16:25] siddharth2010 commented on #987
@souravmunjal , You should use the app from GitHub, not the App Store, as the GitHub one is under active development.

The App store one is released once every few months, after adding all the patches from GitHub.

[2019-02-15 20:29] abdulwd commented on #954
Closed via #982.

[2019-02-15 20:29] #954 closed

[2019-02-15 21:09] abdulwd commented on #988
Can you check how does Google Chrome do it or any client app which is used to download files? Do they use alert tone / vibration?

[2019-02-15 21:38] rohap97 opened #990 "App crashes on clicking pause button for download in Landscape mode."
**Describe the bug**

App crashes when we click pause button for download in Landscape mode.

**Steps to reproduce the behavior:**
1. Start Downloading a .zim file
2. Go to Downloading tab.
3. Rotate the screen to Landscape mode.
4. Click the pause button for ongoing download.
5. App crashes

**Environment**
- Version of Kiwix Android : 2.4 Build: 55
- Device :  Lenovo Vibe K5 Note
- OS version :

[2019-02-15 21:40] genodeftest commented on #932
@Aditya-Sood : I don't plan on working on this.

[2019-02-15 22:14] iadeelzafar commented on #988
@abdulwd I checked Chrome, YouTube and TED and yes they all do it silently. So, we too should make no alert sound. Lesson learnt. Any other suggestions to refine this idea?

[2019-02-16 05:51] abdulwd commented on #988
Do they replace the notification with a new one? Or do they hide the progress bar in the notification?

[2019-02-16 09:53] codepoet2017390 commented on #973
@siddharth2010 @abdulwd @mhutti1  can i proceed with this issue.

[2019-02-16 10:13] iadeelzafar commented on #973
@codepoet2017390 See @mhutti1 's comment.

[2019-02-16 10:19] iadeelzafar commented on #988
@abdulwd previous notification disappears and a new notification appears.

[2019-02-16 13:22] sonusourav opened #991 "Swipe to delete feature for list of downloaded books"
**Is your feature request related to a problem? Please describe.**
As of now if a user has to delete any file, user has to go to library section and long press it and then press delete icon for deleting a file. Using swipe to delete feature, it would be easy for someone to delete any Zim file if he/she runs out of space or in any other case where Zim files have to be deleted.

**Describe the solut

[2019-02-16 13:47] sonusourav opened #992 "Swipe down to load more instead of loading at once"
**Is your feature request related to a problem? Please describe.**
It requires more time and data of a user to get the list of Zim files all at once. The user may not have to scroll down the whole list which is being presented to him to find the one he/she is looking for. Further, due to the high data speed requirement for loading list of books at once, many times it is unable to display any Zim f

[2019-02-16 14:45] abdulwd commented on #992
Duplicate of #683.

[2019-02-16 14:45] #992 closed

[2019-02-16 14:54] abdulwd commented on #991
I think it will trigger accidental deletions. Swipe to delete must be used when the items can easily be restored or are of less importance like cards in a news feed. ZIM files are expensive to download as they may be as large as 50 GB. For example, we don't use swipe to delete to delete a song from the device.

[2019-02-16 14:56] abdulwd commented on #988
@iadeelzafar Then you can proceed with the same.

[2019-02-16 14:58] abdulwd commented on #973
@codepoet2017390 You can work on this issue to enable the bottom toolbar by default.

[2019-02-16 15:00] sonusourav commented on #991
I completely agree with you so that's why I kept the option of UNDO. Only after the UNDO timeout occurs, it will get deleted from the mobile. After swiping it will be removed from the list, and after timeout from the device.

[2019-02-16 15:08] abdulwd commented on #991
The user will expect that the memory of the phone will be freed after deletion but actually it won't be. This will create confusion for the user and it is not transparent. Also, you cannot show a snack bar for an indefinite period of time it will obstruct the screen unnecessarily. Moreover, if the user deletes more than one file by mistake he/she will only be able to restore one of them.

[2019-02-16 15:23] sonusourav commented on #991
Let me put it this way. Let's say the snack bar is set to disappear after 5 secs. After swiping, the file name gets removed from the list but the file will get removed from the mobile only after 5 secs. So, if a user deleted accidentally, he/she could recover within that 5 secs. Since till 5 secs, it is there in the mobile, the name of the file will be visible again as soon as UNDO is pressed. Thi

[2019-02-16 16:03] abdulwd commented on #991
Ummm... I defer it to @mhutti1, he can advise something good.

[2019-02-16 18:42] MisterAwesome23 opened #993 "Online contents shows "no items available" on API 28, works normally on API 27"
**Describe the bug**
I had my AVD on android 9 and the online get content section show "no data available"
Then I tried using my actual physical device running Android 7.1.2 and it worked normally.
So I downloaded another AVD with same phone and other specs but on Android 8 (API 27) and it works normally.

**Expected behavior**
Should show online content as on other API levels.

**Steps to reprodu

[2019-02-16 18:52] MisterAwesome23 commented on #993
In logcat I get this as one of the errors:
E/memtrack: Couldn't load memtrack module

Answer on this website: https://code.i-harness.com/en/q/1594cc0
Suggests changing the API to appropriate level fixed it. So is it an API problem or can be fixed via code fixes?

P.S: Tried installing official Kiwix app from google play on android 9 device and it works normally.

[2019-02-16 19:30] MisterAwesome23 commented on #978
I would like to fix this. On it.

[2019-02-16 19:44] prajurock opened #994 "On opening a new tab from Home screen all previous tab close"
**Describe the bug**
On opening a new tab from Home screen all previous tab close

**Screenshots**

![whatsapp video 2019-02-17 at 1 10 09 am](https://user-images.githubusercontent.com/26791135/52904369-54ebf380-3251-11e9-8ef7-e9e0fcc03312.gif)

**Environment**
* Version of Kiwix Android: Latest Master 2.4 Build 55
* Device: Asus Zenfone Max M1 Pro
* OS version: Android 8.1(API 27)

[2019-02-16 19:48] prajurock opened #995 "On clicking menu item icon new tab is open."
**Describe the bug**
On clicking menu item new tab is open.

**Expected behavior**
Only menu option should be open

**Steps to reproduce the behavior:**
1. Click on the menu item icon after deleting all the tab
2. Click on the menu item icon
3 A new tab will open.

**Screenshots**

![whatsapp video 2019-02-17 at 1 13 22 am](https://user-images.githubusercontent.com/26791135/52904404-de032a80-3251-

[2019-02-16 19:49] prajurock commented on #994
I will work on this.

[2019-02-16 19:49] prajurock commented on #995
I will work on this.

[2019-02-16 20:39] abdulwd commented on #994
This is because opening of multiple ZIM files simultaneously is not supported yet and already there are many issues opened regarding this. If you want to work on this issue you will have work on kiwix-lib to enable multi-ZIM support.

[2019-02-17 12:37] #994 closed

[2019-02-17 13:25] iadeelzafar commented on #948
@siddharth2010 @abdulwd The solution for this that I've figured out is that on screen rotation to landscape, the tab overview should show all tabs in landscape mode and vice versa on screen rotation to portrait. But the issue I'm facing is that on screen rotation to landscape, in tab overview, it only shows tabs in landscape when a new tab is created and then it messes up the UI. It doesn't works

[2019-02-17 20:32] iadeelzafar opened #997 "Multiple Files Download Results in Wrong Content Title In The Notification"
**Describe the bug**

* Download multiple files at the same time, when the download is complete, the notification will show name of the content that was started downloading most recently.

* For example if you clicked to download multiple files, first you clicked on "A" and then "B". After A is downloaded, it's notification title will show "B"'s title because B was started downloading most recentl

[2019-02-17 22:11] mhutti1 commented on #991
I don't think this is a good idea with the current size of ZIM files. Maybe if they were more modular it would make sense but I used to accidentally delete emails all the time on gmail until I was able to turn this off.

[2019-02-17 22:11] #991 closed

[2019-02-17 22:15] mhutti1 commented on #995
It shouldn't be possible to delete all your tabs. We should do something like add a new default tab if you delete them all.

[2019-02-17 23:34] mhutti1 commented on #993
Seems we need to allow cleartext https://developer.android.com/training/articles/security-config

[2019-02-18 00:06] #993 closed

[2019-02-18 00:19] prajurock commented on #556
@mhutti1  Can i work on this issue.If it is not solved.

[2019-02-18 00:20] prajurock commented on #995
Yes.This will be fine too

[2019-02-18 14:02] mhutti1 commented on #556
Yeah sure If @vansh1sh is no longer working on it.

[2019-02-18 14:04] prajurock commented on #556
Okay.I will wait for one day if he don't reply then i will start working.

[2019-02-18 15:42] #997 closed

[2019-02-18 15:48] sonusourav opened #1002 "Distorted launcher screen in landscape mode"
**Describe the bug**
The UI of the launcher screen looks distorted in landscape mode.

**Steps to reproduce the behavior:**
1. Launch the app.
2. In the launcher screen, rotate it to landscape mode.

**Screenshots**
![launch_screen1](https://user-images.githubusercontent.com/34706326/52962025-3ce7b180-33c2-11e9-907e-48dccc8763dc.jpeg)
![launch_screen2](https://user-images.githubusercontent.com/347

[2019-02-18 15:53] sonusourav commented on #1002
Would like to work on this.

[2019-02-18 23:19] mhutti1 opened #1003 "Test Suite doesn't compile in Android Studio"
**Describe the bug**
Android studio can't find various classes in the test folders including the main packages and external packages. I have gone back a bit and couldn't get this working so it might be an Android studio change. Anyone else having this issue @siddharth2010 @abdulwd

**Screenshots**

![image](https://user-images.githubusercontent.com/2286937/52980760-a623f080-33d3-11e9-857a-c861e254

[2019-02-18 23:33] iadeelzafar commented on #1003
That's right. I'm facing the same issue too.

[2019-02-19 07:00] sonusourav opened #1004 "Title of zim files changes when opened multiple times"
**Describe the bug**
If the same file is opened in a new tab, the title of the file changes every time. The title is randomly chosen from one of the downloaded files. While the content remains the same, only the title of the file changes.

**Expected behavior**
The title of the file should remain the same.

**Steps to reproduce the behavior:**
1. Open a file and observe the file title.
2. Open the

[2019-02-19 08:58] abdulwd commented on #1002
Maybe you can move text to one side and image to another and check how it looks. You may cross check with material guidelines how it should be done. You should describe your solution while creating an issue.

[2019-02-19 09:09] iadeelzafar commented on #973
@codepoet2017390 Are you working on this?

[2019-02-19 09:36] #938 closed

[2019-02-19 10:08] codepoet2017390 commented on #973
Yes

[2019-02-19 10:09] iadeelzafar commented on #973
Great. Good Luck.

[2019-02-19 11:09] vansh1sh commented on #556
@prajurock I think this issue is resolved and referenced in one my commits earlier.
Just check once, if not you can go ahead.

[2019-02-19 12:03] iadeelzafar opened #1005 "Download Notification doesn't works when multiple files are downloaded"
**Describe the bug**

When you download multiple files, after they are downloaded, only one notification works. Whichever notification you click first, is going to work, rest of the notifications won't work.

**Expected behavior**

* Each notification should work.
* And open the file accordingly.

**Steps to reproduce the behavior:**
1. Download multiple files.
2. After they're downloaded, check t

[2019-02-19 12:34] iadeelzafar commented on #1005
@mhutti1 I've Logged the messages and what I've figured out is that the problem is not with the file paths. The file paths are accurate for each file. The issue seems to be with the pending intent that it works only once.

[2019-02-19 16:40] sonusourav commented on #1002
@abdulwd
There are two options:
**Option1**
A separate XML for landscape mode.

**Option2**
Another option is to change margin and spaces between them but I don't think it is recommended. I tried doing this and here is how it looks like.

Screen1
![land_1](https://user-images.githubusercontent.com/34706326/53031369-bb138900-3492-11e9-89f9-60ae0bd144aa.jpeg)

Screen2
![land_2](https://user-images.g

[2019-02-19 17:32] iadeelzafar opened #1007 "Leaving The App While Downloading Crashes App & Stops Download"
**Describe the bug**

Leaving The App While Downloading Crashes App & Stops Download

**Expected behavior**

* App should not crash when leaving the app.
* Download should continue

**Steps to reproduce the behavior:**

1.  Start downloading.
2. Press home button.
3. App will crash and download will stop.

**Screenshots**

<img src = "https://user-images.githubusercontent.com/36811908/53034854-fa8

[2019-02-19 17:34] iadeelzafar commented on #1007
Is everyone else facing the same issue too?

[2019-02-19 17:38] iadeelzafar commented on #1002
@sonusourav How about moving the Get Started button on the right side with a separator?

[2019-02-19 17:46] mhutti1 commented on #1007
There are a lot of download related issues.  This is likely one of them.

[2019-02-19 23:01] mhutti1 commented on #836
@julianharty We really can't have the testBuildType set to coverage. I spent 3 hours trying to work out why it wasn't working and it was giving me completely unrelated errors. We need to change it back to debug. There's probably a way to pro grammatically change it when needed.

[2019-02-20 00:02] #1003 closed

[2019-02-20 01:26] mhutti1 commented on #865
@julianharty Have you pushed that branch?

[2019-02-20 16:57] prajurock commented on #556
@vansh1sh i check the latest version of app.But this issue is still there

[2019-02-21 02:09] iadeelzafar opened #1010 "Add an EmptyView To Bookmarks Activity"
**Is your feature request related to a problem? Please describe.**

It's a good practice to have an empty view. In bookmarks activity, there's absence of an empty view.

**Describe the solution you'd like**

* Adding an emptyview to the bookmarks activity.

**Additional context**

Currently, here's how it looks.

<img src = "https://user-images.githubusercontent.com/36811908/53138196-4716d500-35a7

[2019-02-21 02:31] iadeelzafar commented on #1007
I can't reproduce this now. Can anyone try to reproduce this?

[2019-02-21 02:38] iadeelzafar opened #1011 "RemoveTab Button Should Be Disabled and Grayed When Zero Tabs"
**Describe the bug**
RemoveTab Button not Disabled and Grayed When there are no tabs.

**Expected behavior**
RemoveTab Button Should Be Disabled and Grayed( OR hidden) When Zero Tabs.

**Steps to reproduce the behavior:**
1. Close all tabs

**Screenshots**
<img src = "https://user-images.githubusercontent.com/36811908/53139328-19338f80-35ab-11e9-9db2-6a186fbc8631.gif" height="700" width="394">

**

[2019-02-21 03:26] sonusourav commented on #1007
@iadeelzafar I am also getting the same.

[2019-02-21 04:00] iadeelzafar commented on #1007
@sonusourav Brother can you reproduce this issue or not?

[2019-02-21 04:22] sonusourav commented on #1007
@iadeelzafar yes, I am able to reproduce it.

[2019-02-21 05:54] abdulwd commented on #1010
Make sure you use a vector image instead of raster image and follow the material guidelines for empty states.

[2019-02-21 12:54] sonusourav commented on #1004
@mhutti1  @kelson42  Please  review it once.

[2019-02-21 13:08] sonusourav commented on #1002
@iadeelzafar  So, are you suggesting option 1 in some way that I have to create a new XML for landscape mode. But would that look good moving to the button to the right?
@abdulwd  If I change just the spaces and positon in this XML only, then may be it will be different in different mobiles. Is it fine to make a new XML for landscape with the same design but proper space and position for the lands

[2019-02-21 14:59] iadeelzafar commented on #1002
Button and some text on one side with a separator for the image on the other. @abdulwd can suggest better.

[2019-02-21 16:12] sonusourav opened #1014 "SVG can not be rendered properly (Images in zim file does not show up)"
**Describe the bug**
Images in some Zim files do not show up. The case is with some files and not all.

**Expected behavior**
The images should load correctly and not have any broken link

**Steps to reproduce the behavior:**
1. Open WikEM (37.3 MB).
2. Scroll down to see.

**Screenshots**

![broken images](https://user-images.githubusercontent.com/34706326/53182424-7bc67300-361f-11e9-9800-79cb2c4

[2019-02-21 16:20] kelson42 commented on #1014
@sonusourav Please secure with `kiwix-serve` that this is not a problem with the ZIM file itself (missing image in the ZIM file)... And then give a concreate zim/page so we can reproduce the problem.

[2019-02-21 16:34] sonusourav opened #1015 "Text in Zim files load improperly in portrait mode"
**Describe the bug**
The text in some Zim files are not displayed properly in portrait mode. While they look perfect in landscape mode, in portrait mode they do not wrap properly. Even some of the links contained in them are broken. Till now, I have found only such file and searching if there are more.

**Expected behavior**
The contents of Zim files should load properly.

**Steps to reproduce the

[2019-02-21 16:44] iadeelzafar commented on #995
@prajurock What solution have you figured out for this?

[2019-02-21 17:39] MisterAwesome23 commented on #990
It seems like downloadFragment.listView.invalidateViews();
doesn't know which orientation to move into. I'd like to work on this can anyone guide me? I am sort of a beginner to android.

[2019-02-21 17:56] sonusourav commented on #1014
@kelson42  I checked from kiwix-server, the zim file is fine there.

![kiwix_desktop](https://user-images.githubusercontent.com/34706326/53190625-fd260180-362f-11e9-88ae-20d0aeb0f87a.png)

Even after I deleted the zim file from my mobile device and re-downloaded, the issue persists.
Is anybody else getting the same problem? Here are the file details:
Project: WikEM
Size: 37.3
Lang: English (en)
Da

[2019-02-21 18:09] kelson42 commented on #1015
@sonusourav Does that work properly with the same resolution on https://en.vikidia.org/wiki/Main_Page ?

[2019-02-21 18:37] sonusourav commented on #1015
@kelson42  In desktop, it seems to be fine but in mobile device, there is text wrap issue

[2019-02-21 20:26] mhutti1 commented on #990
@MisterAwesome23 The general way to go about fixing something like this is to first reproduce it on a device you have. Then get a stacktrace for it. Using this work out where the code is incorrect and attempt to change it so you no longer crash.

[2019-02-21 20:27] mhutti1 commented on #1015
@kelson42 This isn't an issue with kiwix-android more so zim generation.

[2019-02-21 20:28] MisterAwesome23 commented on #990
What exactly is stack tracing. I performed the crash and noted the log cat for reason for crash that is from where I got the list view fragment function. Is there better ways to debug/stack trace or log cat is the right way.
I am pretty new to debugging too, any idea how to grap onto debugging quickly, like any course or resources?

[2019-02-22 00:43] kelson42 commented on #1015
@mhutti1 Not even sure with the ZIM generation, looks like to be a problem with the upstream HTML/wiki code?!

[2019-02-22 00:47] mhutti1 commented on #990
@MisterAwesome23 RE stacktracing yeah use you can use logcat. RE debugging its mostly something you just need to practise imo but there might be some good tutorials on Google.

[2019-02-22 00:47] mhutti1 commented on #1015
Ah ok. Can we close this then?

[2019-02-22 00:49] #1015 closed

[2019-02-22 06:23] sonusourav opened #1017 "App crashes on pressing globe icon after content load"
**Describe the bug**
After the content loads in Online tab in Library screen, when the globe icon (menu item) is pressed, the language selection dialog box appears and the app crashes.

**Expected behavior**
The user could select the language and app should not crash.

**Steps to reproduce the behavior:**
1. Open the app and go to the Online tab.
2. Wait till the content loads and then press globe

[2019-02-22 12:36] mhutti1 commented on #1017
@sonusourav can you git pull and try with the latest master. I think this should have been fixed.

[2019-02-22 13:27] sonusourav commented on #1017
@mhutti1  I updated and checked it. The bug is still there.

[2019-02-22 13:45] sonusourav opened #1019 "Swipe to refresh hides the list of files selected to delete"
**Describe the bug**
In Device tab in Library screen, when you select some files to delete and swipe down to refresh it, the files selected to delete are no more selected, but the option to delete is still there, i.e. you can still delete those on pressing the delete button on the action bar.

**Expected behavior**
Upon selecting files to delete, swipe to refresh feature should be disabled.

**Ste

[2019-02-22 16:17] mhutti1 commented on #1019
It will be easiest to disable swipe to refresh when deleting files.

[2019-02-22 16:38] sonusourav commented on #1019
@mhutti1 I would like to work on this issue. Could you please assign me to this issue?

[2019-02-22 19:35] sonusourav opened #1023 "Selected files get unselected on screen rotation"
**Describe the bug**
When files in Device tab in Library screen are selected on long press and device is rotated, the selected files get unselected. While Contextual Action Bar (CAB) is still visible even after rotation, no files remain selected and when the delete button is pressed, CAB just disappears.

**Expected behavior**
On screen-rotation, the selected files should remain selected and the u

[2019-02-22 20:03] #1017 closed

[2019-02-22 21:01] #967 closed

[2019-02-22 21:18] mhutti1 commented on #1011
I am pretty sure I wrote somewhere that in my mind you shouldn't be able to close all the tabs and if you do we add a new home screen tab. So I don't know if this change is needed. Thoughts?

[2019-02-22 21:22] mhutti1 commented on #627
Bumping this. Disabled cache in https://github.com/kiwix/kiwix-android/pull/1024 as it was more performant without.

[2019-02-22 21:48] #890 closed

[2019-02-22 22:37] #1005 closed

[2019-02-23 06:40] iadeelzafar commented on #1011
@mhutti1 Yes but while the user is still in the tab overview, there can be times where he closes all tabs. At that moment in particular, closeAllTabs button should he hidden. It's weird to have that button even when there are zero tabs. Have a look at the PR I made for this issue.

[2019-02-23 08:47] prajurock commented on #995
@iadeelzafar Check this. I open home page after closing all tab and gave the time of 1500ms. Any suggestions.

[2019-02-23 13:18] prajurock commented on #621
@divyanshub024 Are you working on this issue.@mhutti1 Can I start working on this.

[2019-02-23 14:26] prajurock opened #1028 "Night Mode Tab should be gray in night mode"
**Describe the bug**
Night mode Tab should be gray in Night Mode because its not clickable.

**Screenshots**
![screenshot_20190223-193016](https://user-images.githubusercontent.com/26791135/53287642-184f5900-3777-11e9-9228-f9695adbac26.png)

**Environment**
- Version of Kiwix Android : latest master
- Device : Asus m1
- OS version :API 27

[2019-02-23 15:16] prajurock opened #1029 "Some text not changing to Hindi."
**Describe the bug**

Some text not changing to Hindi.

**Screenshots**

![whatsapp image 2019-02-23 at 8 42 11 pm](https://user-images.githubusercontent.com/26791135/53288212-03d98380-37ac-11e9-8db8-067b4571a9d1.jpeg)

**Environment**
- Version of Kiwix Android : Latest Master
- Device : Asus Zenfone
- OS version : API 27

[2019-02-23 15:19] prajurock commented on #1029
I am facing this issue of my language and I guess there are problems with others.
@iadeelzafar you can also check this for your language.

[2019-02-23 18:36] mhutti1 commented on #621
@prajurock Sure if you @divyanshub024 is not anymore

[2019-02-23 18:37] mhutti1 commented on #1028
? Why should it be grayed out. Surely it should be clickable so you can disable night mode.

[2019-02-23 18:38] mhutti1 commented on #1029
This is because we don't have a complete translation of every string in every language.

[2019-02-23 18:38] #1029 closed

[2019-02-23 22:35] soloturn commented on #648
@RohanBh , @abdulwd you'd be interested in migrating apps/build.gradle to kotlin, #947 ?

[2019-02-24 01:27] sonusourav opened #1030 "CAB remains visible even after clearing all history"
**Describe the bug**
When user selects files to delete in history screen, CAB (Contexual Action Bar, blue action bar here) appears. If user deletes all history using clear history in overflow menu, the CAB remains visible.

**Expected behavior**
The CAB should disappear as soon as all history is cleared using clear history item in overflow menu.

**Steps to reproduce the behavior:**
1. Open histor

[2019-02-24 01:58] sonusourav opened #1031 "Files can be traced back even if all history is cleared"
**Describe the bug**
Even after the user clears all the history, the user can still track back all the files by pressing the back button.
Also, while going back after clearing the whole history, history of files get recorded( in reverse order in this case). So, it seems that none of history is getting cleared until it is done from the home screen.

**Expected behavior**
The user should land on hom

[2019-02-24 07:39] divyanshub024 commented on #621
@prajurock You can work on it.

[2019-02-24 12:31] mhutti1 commented on #958
This causes issues on some devices.

[2019-02-24 12:33] prajurock commented on #958
Yes.I will work on this.

[2019-02-24 12:44] prajurock commented on #621
Thanks @divyanshub024 I will work on it

[2019-02-24 12:50] prajurock commented on #1028
Sorry i forget to mention properly.
Like when we click Automated night mode then night mode tab look like this

![screenshot_20190224-181731](https://user-images.githubusercontent.com/26791135/53299464-6d9c7080-3832-11e9-8718-1154432bd4ab.png)

**But in night mode it should be grey**

![screenshot_20190223-193016](https://user-images.githubusercontent.com/26791135/53299471-a0deff80-3832-11e9-9e22-

[2019-02-24 13:11] mhutti1 commented on #1011
I think my point is that it shouldn't be possible to close all tabs.

[2019-02-24 13:12] prajurock commented on #1011
Yes @mhutti1 i also think that

[2019-02-24 15:20] soloturn commented on #1031
@iadeelzafar you worked on the history with yesterday and today, can you imagine where this is coming from?

[2019-02-24 15:21] soloturn commented on #1030
@sonusourav what is "CAB" ?

[2019-02-24 15:26] soloturn commented on #958
is there a relation to #1030 #1031 ?

[2019-02-24 15:28] prajurock commented on #958
No @soloturn i don't think so.

[2019-02-24 15:30] sonusourav commented on #1030
@soloturn yes, its Contextual action bar. Well, both are different. In #1031 the issue is that the history is still present even after clearing all history because when you press the back button, the user can still open the files which were opened before. While in this case, the issue is that after the action mode ( clearing all history in this case) is finished it is not disappearing.

[2019-02-24 18:54] kelson42 commented on #556
@mhutti1 @soloturn Any reason to keep this ticket open?

[2019-02-24 18:56] kelson42 commented on #1028
@prajurock @mhutti1 Seems to make sense to me.

[2019-02-24 18:59] prajurock commented on #1028
Ok.I will work on it

[2019-02-24 20:06] soloturn commented on #556
probably no ... travis failed though now, but, for the pull request itself it did not: https://travis-ci.org/kiwix/kiwix-android/builds/497753402?utm_source=github_status&utm_medium=notification

[2019-02-24 20:06] #556 closed

[2019-02-25 03:08] iadeelzafar commented on #1011
@mhutti1 I got your point. So, I think we can close this issue as there's going to be no time when all tabs are closed.

[2019-02-25 03:08] #1011 closed

[2019-02-25 03:41] iadeelzafar commented on #1031
I think this behavior is usual. That's the reason in webview apps i.e. browsers, when clicking on history a new tab opens where you clear the history. Maybe, we can implement such a thing.

[2019-02-25 12:39] mhutti1 commented on #1030
Why not replace the main bar with the deletion bar?

[2019-02-25 12:43] mhutti1 commented on #1031
I imagine you can tell the webview to refresh its history. (Would need to be done for every tab).

[2019-02-25 13:11] sonusourav commented on #1030
@mhutti1 I also think that would be the best.

[2019-02-25 18:40] iadeelzafar commented on #1031
Same happens when deleting a ZIM file and going back or if the file is opened in a new tab going there, you can still access the file. I think there can be a mutual solution that solves this issue as well. @mhutti1 @soloturn
<img src="https://user-images.githubusercontent.com/36811908/53360053-6078a200-3956-11e9-8d3e-f9dadebb9804.gif" height="700" width="394">

[2019-02-26 00:17] #1019 closed

[2019-02-26 13:29] JensKorte opened #1033 "zim file not recognized (translated from german)"
Maybe it is related to #293

**Describe the bug**
The german, splitted zim works. The english, unsplitted zim doesn't. The external sd card has an exFat FS. After selecting the english zim I get the error "ZIM file is not recognized" (translated from german "nicht gültig") after selecting the german file I get the same, even though it worked before. After stopping kiwix in the Task-Manager I can s

[2019-02-26 14:47] iadeelzafar commented on #702
This issue has been resolved and I think this can be closed. @mhutti1 @kelson42

[2019-02-26 14:54] #702 closed

[2019-02-26 15:05] iadeelzafar commented on #506
This can be closed too @abdulwd

[2019-02-26 15:33] iadeelzafar opened #1034 "Access A Deleted File After Closing All Tabs"
**Describe the bug**
After you've deleted a ZIM file, you can re-access it by going to the tab overview, closing all tabs, and then clicking on the <img src="https://user-images.githubusercontent.com/32238400/52534452-9703c980-2d67-11e9-9f6a-9573ffb95576.png" height="20" width="20"> button

**Expected behavior**
* It should not be possible to close all tabs as @mhutti1 suggested this earlier.
* Wh

[2019-02-26 15:43] prajurock commented on #1034
Yeah I notice now.I didn't reproduce that bug.Good Luck

[2019-02-26 16:22] #506 closed

[2019-02-26 18:25] #950 closed

[2019-02-27 12:17] julianharty commented on #865
@mhutti1 I hadn't, got distracted last week with dental treatment and dealing with family stuff. I can see you've made some major changes with https://github.com/kiwix/kiwix-android/pull/1016 which breaks my changes. I've had a go at setting the frameworkId and running the tests - I'm able to run the tests `./gradlew  kiwixtestUploadKiwix` and can see they ran successfully on bitbar devices. Howev

[2019-02-27 12:29] mhutti1 commented on #865
Yeah so basically our run configuration has now been moved to a separate file where we call the API directly. I have shared the repo with you (its private for now). We can change the framework Id and other config options in https://github.com/mhutti1/kiwix-test-gateway/blob/master/runtest.php#L26 and we should have even more control than before.

With regards to running the coverage variant. We ca

[2019-02-27 18:14] namrata-jha commented on #547
I'd like to work on this issue, can I please go ahead and do that?

[2019-02-27 18:17] siddharth2010 commented on #547
@namrata-jha , sure go ahead!

[2019-02-27 18:27] namrata-jha commented on #1002
Using a RelativeLayout for these erroneous layouts should work for uniformity in the landscape view too. The main content of the page could be designed as a Relative Layout with layout_below attributes to make sure there is no overlapping. And this RelativeLayout could in turn be a child of the parent layout with centerVertical and centerHorizontal attributes as true.

[2019-02-27 18:29] namrata-jha commented on #979
Is this still an open issue? And if yes, can I go ahead on working on this?

[2019-02-27 18:44] abdulwd commented on #1002
We're using constraint layout which is more powerful than relative layout. @sonusourav You should use a separate layout for the landscape keeping image on left and text on right. Do have a look at material guidelines to check how they should be positioned in landscape mode.

[2019-02-27 19:17] prajurock commented on #625
@soloturn @mhutti1 can i work on this.

[2019-02-27 20:58] siddharth2010 commented on #979
This issue has already been resolved by #980

[2019-02-28 12:35] Aditya-Sood commented on #932
@genodeftest how were you backing-up the data when you faced the issue?
I have tried backing up with both `adb backup -apk org.kiwix.kiwixmobile` and using the backup manager `adb shell bgmr`, and in both cases the zim files that were in `.../Internal Storage/Kiwix/` directory weren't present after restoring the backup (I deleted the zims before restoring the backup)
Does it happen when you're bac

[2019-02-28 13:25] abdulwd commented on #625
@prajurock There is a PR already opened for this issue. Can you try rebasing the same?

[2019-02-28 17:16] haroldadmin commented on #648
Kotlin has been proven to be a highly loved language. In the [StackOverflow 2018 survey](https://insights.stackoverflow.com/survey/2018/) Kotlin was voted as the second most loved language of all. I can attest to that fact, I love Kotlin ❤️

There are great guides to learn Kotlin for Java developers, such as this one: [Guide to Kotlin](https://github.com/Zhuinden/guide-to-kotlin)

I would like to

[2019-02-28 19:41] julianharty commented on #865
@mhutti1 Excellent and thank you for sharing the repo. Would you mind changing the frameworkId to `748` and pushing the change to wherever the code runs? then kick off travis-CI (presumably) to run a set of tests on bitbar that use this frameworkId. If the frameworkId is accepted the tests should run, essentially unchanged, the only material difference would be each device's test output would incl

[2019-03-01 10:39] mhutti1 commented on #648
I think that we should wait until 3.0 before thinking about doing this. It will introduce large changes to our codebase that could make tracking down bugs challenging.

[2019-03-01 14:04] kelson42 commented on #648
@mhutti1 yes, I strongly opposed any change on this front without educated argument. We could have this discussion this summer in person.

[2019-03-01 19:44] harshika-arya commented on #965
@siddharth2010 I would like to work on it since it has been inactive for a long time.

[2019-03-02 04:50] siddharth2010 commented on #965
Sure, go ahead!

[2019-03-02 11:38] sonusourav commented on #1030
@mhutti1 I want to work on this to replace action bar with CAB. Please assign this to me.

[2019-03-02 11:53] harshika-arya opened #1037 "bug: NPE on first launch of application."
**Describe the bug**

Upon a fresh clone of the repository and build using the Android studio, I got a crash right at the right of the application.

**Expected behavior**

It shouldn't crash.

**Steps to reproduce the behavior:**
1. Delete the application if you already have it along with it's data.
2. Build and run it again. You should get a crash.

**Screenshots**

N/A

**Environment**
- Version

[2019-03-02 13:32] sonusourav commented on #1031
There are two more bugs associated with it:
1. If the file which is to be deleted is already open in one tab, and a user deletes it in another tab, the user can find it is still open in the first tab.
2. After deleting the file, when the user comes back to the main screen (where the list of files and Kiwix banner is present) by pressing back arrow in action bar, the list is not refreshed and the d

[2019-03-02 14:03] iadeelzafar commented on #1037
@harshika-arya Could you please upload a GIF of the crash?

[2019-03-02 16:22] sonusourav opened #1040 "Material Design for CloseAllTab FAB not followed"
**Describe the bug**
Material design is not followed in the CloseAllTabs FAB. Material design says
*An app’s color scheme determines its color fill, which should contrast with the area behind the FAB.*
The black background used dissolves its boundary and when the user press it, the action triggered is not visible.

**Expected behavior**
CloseAllTabs floating action button should have black color o

[2019-03-02 17:14] sonusourav opened #1041 "Search option in FindInPage does not work upon switching tabs"
**Describe the bug**
When multiple pages in different tabs of the same file are open and user searches for some text using FindInPage option, text is only searched in the tab in which search was triggered, even if user switches the tab.

**Expected behavior**
Text should be searched in the tab which is open.

**Steps to reproduce the behavior:**
1. Open mutiple tabs of the same files.
2. Press Fin

[2019-03-02 17:32] sonusourav opened #1042 "Search button disappears when search option in action menu bar is selected"
**Describe the bug**
In Bookmark/History page, when a user presses search button present in action bar, and types the text followed by selecting Search option from the action menu, search button disappears upon pressing back arrow button or closing search bar.

**Expected behavior**
Search option should be still present after pressing back arrow button in action bar.

**Steps to reproduce the beha

[2019-03-02 17:36] soloturn commented on #615
Mainactivity at state cfe6258 seems to leak memory.

![screenshot_2019-02-25-09-23-55](https://user-images.githubusercontent.com/825568/53685379-03943780-3d1a-11e9-97fa-d50eeb966520.png)

[2019-03-02 18:07] sonusourav commented on #1004
@abdulwd  Could you please review?

[2019-03-02 18:13] sonusourav commented on #966
@iadeelzafar Since, this issue is resolved you could close this issue.

[2019-03-02 18:19] iadeelzafar commented on #966
@abdulwd @siddharth2010 Could you please close this issue as it has been resolved.

[2019-03-02 20:42] abdulwd commented on #966
Closed via #983.

[2019-03-02 20:42] #966 closed

[2019-03-02 21:17] prajurock commented on #625
ok
@abdulwd but  `unknown repository` is  showing in his branch.
I dont know how to do that please HELP

[2019-03-03 05:31] sonusourav commented on #1023
@mhutti1 Would like to work on this. Please assign me to this.

[2019-03-03 05:41] abdulwd commented on #625
You can open a new PR then.

[2019-03-03 05:42] abdulwd commented on #1040
You can change the color of FAB to white and add an animation.

[2019-03-03 06:17] sonusourav commented on #1040
@abdulwd Please assign me to this.

[2019-03-03 14:31] harshika-arya commented on #1037
![20190303_195738](https://user-images.githubusercontent.com/26279056/53696635-0ca30880-3def-11e9-85c1-a2c937f2c892.gif)

@iadeelzafar

[2019-03-03 19:18] mhutti1 commented on #1041
Imo Find in page should replace the top bar but idk

[2019-03-03 19:20] mhutti1 commented on #1042
I'm a bit confused. Could you explain the expectedd behaviour a bit more?

[2019-03-03 19:23] #1037 closed

[2019-03-03 19:36] sonusourav commented on #1042
@mhutti1  The search icon which is present when bookmark activity is opened hides when the above steps are followed. But, this should not happen i.e it should not disappear.

[2019-03-03 21:44] mhutti1 commented on #110
Reopening as s7 is dropping out a lot.

[2019-03-03 21:45] mhutti1 commented on #110
I have removed it from the list for now.

[2019-03-04 03:49] prajurock commented on #945
c

[2019-03-04 03:49] #945 closed

[2019-03-04 03:49] #995 closed

[2019-03-04 09:00] sonusourav opened #1047 "Contents of TableDrawer not visible"
**Describe the bug**
The headings and sub-headings of TableDrawer are not visible in day mode. But it works fine in night mode.

**Expected behavior**
The headings and sub-heading should be clearly visible. All levels of text colors of drawer items for day mode should be defined in styles.

**Steps to reproduce the behavior:**
1. Open any Zim file.
2. Swipe left to open the drawer.
3. The Headings

[2019-03-04 10:31] ShridharGoel opened #1049 "Clicking on tab switcher icon again should close the tab switcher"
**Is your feature request related to a problem? Please describe.**
Clicking on the tab switcher icon does not do anything when the tab switcher screen is already open.

**Describe the solution you'd like**
Clicking it for the second time should close the tab switcher screen and take back to the previously open tab.

[2019-03-04 12:15] iadeelzafar commented on #1047
I was also curious of this weird behaviour. I'm glad you opened a ticket for this issue.

[2019-03-04 15:18] sonusourav opened #1051 "App exits on pressing back button when Navigation Drawer is open"
**Describe the bug**
In Zim files, when Navigation Drawer is open, and the back button is pressed, app exits.

**Expected behavior**
Instead of exiting, drawer should close if back button is pressed once.

**Steps to reproduce the behavior:**
1. Open any Zim file.
2. Swipe left to open the drawer.
3. Press the back button. App exits.

**Screenshots**
![onbackpressed](https://user-images.githubuser

[2019-03-04 17:43] ShridharGoel opened #1053 "NullPointerException due to null progress bar object"
**Describe the bug**
NullPointerException is thrown at random times which is due to null progress bar object.

**Logs**
[code]

**Environment**
- Version of Kiwix Android : 2.4 Build: 55
- OS version : Android 7.1.2 (API 25)

[2019-03-04 18:24] #1053 closed

[2019-03-04 22:00] mhutti1 commented on #865
Sounds good. I will try to get this working.

[2019-03-04 22:16] prajurock opened #1056 "Zoom level bug"
![IMG](https://user-images.githubusercontent.com/26791135/53687811-665bf200-3d5f-11e9-89c7-d845bc923e15.jpg)

[2019-03-04 22:16] prajurock commented on #1056
I am working on this.

[2019-03-05 04:50] sonusourav opened #1057 "Zim files go backward onBackpressed when TabSwitcher is visible"
**Describe the bug**
When the user goes forward using links in Zim files (i.e. user have opened multiple pages of the same file in the same tab) and then tab switcher is showing then if the user presses the back button, Zim file goes backward.

**Expected behavior**
Upon pressing the back button,  tab Switcher should hide.

**Steps to reproduce the behavior:**
1. Open multiple pages of same Zim fi

[2019-03-05 06:12] sonusourav opened #1058 "History is cleared even when no history is present"
**Describe the bug**
In history activity, even when no history is present if the user selects clear no history, the Toast says *All history cleared*.

**Expected behavior**
The Toast should be **No history present**.

**Steps to reproduce the behavior:**
1. Open history and select Clear History from the overflow menu.
2. Once again, select Clear history.
3. Toast says **All history cleared**.

**S

[2019-03-05 06:55] ritik2017 commented on #1058
I would like to work on the issue

[2019-03-05 12:48] reeshabhkumarranjan commented on #935
I am interested in this issue. Can I make a pull request for this?

[2019-03-05 13:43] AminMekacher commented on #960
May I work on this issue?

[2019-03-05 13:45] prajurock commented on #960
@AminMekacher I already made PR

[2019-03-05 16:33] reeshabhkumarranjan commented on #112
I am getting the same error while building the app. Kindly provide details on how to solve this. I have tried some suggestions from the answers on [this StackOverflow question](https://stackoverflow.com/a/35702596/5394180). But they are not working.

[2019-03-05 17:45] abdulwd commented on #112
@reeshabhkumarranjan Please try this https://github.com/kiwix/kiwix-android/pull/974#issuecomment-463157239.

[2019-03-05 19:34] reeshabhkumarranjan commented on #112
@abdulwd Your comment seems promising. I am cloning the whole project again. The cloning of this project takes a lot of time, I don't know why. WIll update you on this soon.

[2019-03-05 20:15] sonusourav opened #1061 "History not cleared completely"
**Describe the bug**

History is not cleared completely when history is cleared using *Clear history* from overflow menu if  *History from current book* is checked. Only history of that page is cleared.

**Expected behavior**
Whole history should be cleared. If this is how it is intended to work then the *Clear history* should be replaced with some other text like *Clear List* ( clears only whatev

[2019-03-05 20:16] sonusourav commented on #1061
@abdulwd @mhutti1 @soloturn how should it work?

[2019-03-05 20:32] sonusourav opened #1062 "Date issues in History with orientation change"
**Describe the bug**
The date format in History screen changes with a change in orientation.  (March 5, 2019 --> 05-March 2019). Even multiple headings of the same date are formed on orientation change.

**Expected behavior**
1. Date format should not change with orientation.
2. Multiple heading should not be formed.
3. (Optional) If a page is visited multiple times, history should be written for

[2019-03-05 20:32] sonusourav commented on #1062
@mhutti1 @abdulwd Please assign this to me.

[2019-03-06 08:40] reeshabhkumarranjan commented on #112
I tried your fix, but it didn't work. I got these warnings:
[code]
And this:
[code]
Also, the "Run" button is greyed out.
![image](https://user-images.githubusercontent.com/25811225/53867321-9afad280-4019-11e9-8b5d-e1dcb7cdcf5d.png)

[2019-03-06 12:58] abdulwd commented on #112
Have you deleted the .idea folder before importing the project again? Also select kiwixDebug as the build variant.

[2019-03-06 13:34] ritik2017 opened #1064 "Sections not expanding on opening from Nav bar"
**Description**
The collapsed sections does not expand on jumping to them from the navigation drawer.

**Expected behavior**
The collapsed sections should expand on opening it from the navigation drawer and the other sections should be collapsed.

**Steps to reproduce the behavior:**
1. Open any file containing the sub-sections in its bottom.
2. Open the navigation drawer.
3. Jump to the sub-secti

[2019-03-06 13:39] ritik2017 commented on #1064
@abdulwd Is the app expected to behave this way?

[2019-03-06 13:54] sonusourav commented on #1064
@ritik2017  I too observed that but I think that's the problem with the kiwixLib. That has nothing to do with android or navbar. Even if you will open it generally without using navbar, this happens. @kelson42 @mhutti1 @soloturn could give a better answer.

[2019-03-06 14:33] ritik2017 opened #1065 "Dropping down animation for sub-sections"
**Describe the bug**
On clicking the collapsed sub-sections it open with a blink.

**Expected behavior**
The sub-sections should open with a dropping down animation instead of a blink.

**Steps to reproduce the behavior:**
1. Open any file with sub-sections in bottom.
2. Open the sub-sections by clicking on them.
3. Sub-sections open with a blink.

**Screenshots**
Current Behavior -
![ezgif com-vi

[2019-03-06 14:34] ritik2017 commented on #1065
@abdulwd @mhutti1 Can this be an enhancement to the existing behavior?

[2019-03-06 16:43] sonusourav commented on #1042
@mhutti1 Please review this.

[2019-03-06 17:01] reeshabhkumarranjan commented on #112
Finally. Selecting `kiwixDebug` as build variant fixed the issue. This instruction should be in the README.md!

[2019-03-06 17:26] sonusourav commented on #1031
@mhutti1 @abdulwd  Would like to work on this issue. Please assign me.

[2019-03-06 21:31] mjthompson2 commented on #1065
I would like to work on this.

[2019-03-07 04:07] sonusourav opened #1067 "App exits onBackPressed from first page of Zim file"
**Describe the bug**
When a user is in the first page of any Zim file and the user presses the back button, app exits. To open a new book,everytime he/she has to open a new tab which is not a good user experience.

**Expected behavior**
If a user is in the first page (or user can't go backward), onBackPressed user should land up in the Main screen where books are listed.

**Steps to reproduce the

[2019-03-07 07:06] ritik2017 commented on #1065
@mjthompson2 Please go ahead

[2019-03-07 10:39] ShridharGoel commented on #990
Can I take this up?

[2019-03-07 12:32] ilovrencic commented on #547
Is anybody working on this issue? I would like to contribute to this project :)

[2019-03-07 12:36] ilovrencic commented on #572
I would like to tackle this problem. Is anybody still working on this?

[2019-03-07 13:51] iadeelzafar commented on #1067
@sonusourav I opened #935 for the same cause. I thought adding an up button would've been the solution that would take the user back to the default tab. But @mhutti1 suggested not to add the up button for it. Now, I'm thinking that we can use the bottom toolbar "HOME" icon to open the Default Tab everytime it is pressed(currently, it opens the home page of the book). What do you think?

[2019-03-07 14:14] abdulwd commented on #1067
@iadeelzafar The home icon should take the user to the home page of the ZIM file this is the expected behavior. @sonusourav I don't think this is an issue if you open a link in Google Chrome from some other app and press back the browser will be closed.

[2019-03-07 14:16] abdulwd commented on #935
If a link is opened in Google Chrome from some other app and the back button is pressed the browser is closed. So I'm closing this for now if a more lucrative solution is found please reopen it.

[2019-03-07 14:16] #935 closed

[2019-03-07 14:29] iadeelzafar commented on #1067
@abdulwd How about we implement it this way. When the user clicks on the HOME icon and the user is already on the HOME Page i.e. The Home Page of the ZIM File, the user should be taken back to the Default Tab.
So, the user will only be taken back to the Default Tab in case when the user is already on the HOME Page of the ZIM File and clicks on the HOME icon.

[2019-03-07 14:34] iadeelzafar commented on #1067
Otherwise, the HOME icon should be grayed and disabled, when the user is already on the Home Page.

[2019-03-07 16:13] sonusourav commented on #1067
@abdulwd  I did not get the meaning of this line `open a link in Google Chrome from some other app and press back the browser will be closed`. Do you mean, let's say open facebook from chrome and then press back, app exits without landing home screen? If this is what you mean, then I think Google chrome does not do what you told. Infact it does the same what I am requesting for.

![chrome](https:/

[2019-03-07 17:31] abdulwd commented on #1067
@sonusourav Suppose you open a link from WhatsApp in Google Chrome and then press back the browser is closed. This is what I meant.
@iadeelzafar I agree with @sonusourav, we should not confuse the user with such behaviour of home button.

[2019-03-07 17:34] iadeelzafar commented on #1067
@sonusourav I got your point. I think the HOME icon should be grayed and disabled, when the user is already on the Home Page. What's your opinion about this @abdulwd.

[2019-03-07 17:36] abdulwd commented on #572
@ilovrencic You may work on this issue if it still persists otherwise you can report that it has been resolved and we can close this.

[2019-03-07 17:37] abdulwd commented on #547
@ilovrencic I think @namrata-jha is working on it.

[2019-03-07 17:39] abdulwd commented on #990
@ShridharGoel You can work on it. I think @MisterAwesome23 is not working on this.

[2019-03-07 17:43] iadeelzafar commented on #990
I tried to reproduce this today but i couldn't reproduce this.
@abdulwd @shridharghoel can you?

[2019-03-07 18:02] ShridharGoel commented on #990
Yes I'm able to reproduce it.

[2019-03-07 18:10] abdulwd commented on #1058
Instead of making a different toast hide the option from the menu.

[2019-03-07 18:13] abdulwd commented on #112
@reeshabhkumarranjan You can open a PR for that.

[2019-03-07 18:14] abdulwd commented on #1064
@ritik2017 Can you check how does the Wikipedia do it?

[2019-03-07 18:35] ritik2017 commented on #1064
@abdulwd The Wikipedia behaves the way I suggested. It expands the subsections on moving to them through the navbar

[2019-03-07 18:36] sonusourav commented on #1067
@abdulwd  So, in our case isn't
Zim files ----> links in Whats App
and Web view screen ---> Google Chrome?
Consider this, when you open a link in whats app, it takes you to google chrome and then when you press back button in the first page of chrome(when no more it can go back), you are back to Whats App.You don't exit Whats App when back button is pressed in google chrome, correct?

That is what

[2019-03-07 19:08] iadeelzafar commented on #990
@ShridharGoel Alright. Good Luck.

[2019-03-07 21:10] ShridharGoel commented on #990
@iadeelzafar Thanks.

[2019-03-07 23:19] ilovrencic commented on #968
@prajurock Are you still working on this issue? I would like to help if this is still an open issue.

[2019-03-08 06:27] abdulwd commented on #1064
@ritik2017 Then you should work on it.

[2019-03-08 06:28] abdulwd commented on #968
@ilovrencic An approved PR is there for this issue which will be merged soon.

[2019-03-08 06:45] abdulwd commented on #1067
@sonusourav I got your point. @mhutti1 I think you should give your opinion on this.

[2019-03-08 07:37] sonusourav commented on #948
@iadeelzafar Brother, if you are not working, can I work on this?
@abdulwd Could you assign this to me?

[2019-03-08 07:44] iadeelzafar commented on #948
@sonusourav I am working on this but I need some directions. See my comment above.

[2019-03-08 07:48] sonusourav commented on #1031
@abdulwd  Are `Clear History` in overflow menu of History same as  `Clear History` of Settings. I mean, is it like former just clears the history while latter one clears the history and closes all tabs also?

[2019-03-08 09:26] ritik2017 commented on #1064
Working to resolve the issue

[2019-03-08 09:32] abdulwd commented on #948
There are two ways to show the tabs in the tabs overview screen:
- Get the bitmap of the WebView and use that bitmap in the **TabsAdapter** to get the preview of the tab.
- Use the WebView in the **TabsAdapter** as it is without changing it to bitmap. Then there are specifically two things which you need to handle.
     - You have to change the `layout_height` and `layout_width` of the WebView to

[2019-03-08 09:39] abdulwd commented on #1031
The clear history in HistoryActivity is just to clear the browsing history. It has nothing to do with the clear history of settings which clears everything including the browsing history. If a user clears only the browsing history he/she can go back to the same tab and trace back the pages. I don't think of it as an issue. But if a user selects clear history from settings then everything should be

[2019-03-08 09:48] sonusourav commented on #1031
@abdulwd If a user clears the browsing data, and go back to the webView page, IMO, he/she can definitely find the all the opened webView but history should not be traced onBackPressed ( because history is actually cleared). Even Google chrome does that.
And could you please specify what is *everything* in `clears everything including the browsing history`. Do you mean all preferences or all the (b

[2019-03-08 10:49] sonusourav opened #1069 "Bookmarks get unbookmark and deleted on Long press"
**Describe the bug**
If the user selects the bookmark on a Long press and goes back by pressing back arrow, the page gets unbookmarked. The bookmarks also get deleted from bookmark page.

Similar behavior is shown in the History case also.

**Expected behavior**
1. The bookmarks should not get deleted and the page should remain bookmarked.

**Steps to reproduce the behavior:**
1. Bookmark some pag

[2019-03-08 10:50] sonusourav commented on #1069
@abdulwd Could you please assign this to me?

[2019-03-08 16:58] iadeelzafar commented on #948
@abdulwd Thanks for writing. I really appreciate this. I'm looking forward to fixing this issue :)

[2019-03-08 17:01] abdulwd commented on #1031
I meant browsing history and recent searches are cleared from the settings but only browsing history is cleared from history activity.

[2019-03-09 08:30] vkk2018 commented on #1061
@sonusourav ,the error is not seen on my device.I think you should check your system configurations.

[2019-03-09 09:24] waahm7 commented on #1028
@prajurock If you are not currently working on this issue. Can I start working on it?

[2019-03-09 10:28] abdulwd commented on #1061
@sonusourav It is intended to work like this.

[2019-03-09 12:42] AkashAli506 opened #1070 "Search need to show a message that the requested keyword is not found."
**Describe the bug**
When you search a keyword like "Akash", it doesn't show anything.

**Expected behavior**
search need to show a message that "the requested keyword is not found" or "try another keyword".

**Steps to reproduce the behavior:**
1. When you type some keyword in the search.
2. If keyword is not found it doesn't show any message.

**Environment**
- Version of Kiwix Android : 2.4
- D

[2019-03-09 12:46] abdulwd commented on #1070
@AkashAli506 Please follow the issue template while creating an issue.

[2019-03-09 13:19] AkashAli506 commented on #1070
@abdulwd I have changed the template.

[2019-03-09 13:23] prajurock commented on #1028
I am working but you can take this issue.

[2019-03-09 14:05] abdulwd commented on #1070
@AkashAli506 If you want to work on this issue you can otherwise any of our contributors can. This is similar to #1010.

[2019-03-09 14:16] #1061 closed

[2019-03-09 14:21] sonusourav commented on #979
@vaibhav2000 This issue is resolved. Could you please close this issue?

[2019-03-09 14:25] sonusourav commented on #968
@prajurock  Could you please close this issue?

[2019-03-09 14:49] AkashAli506 commented on #1070
@abdulwd I want to work on this issue but I am facing errors in gradle building. Can you please help me building this project?

[2019-03-09 14:55] iadeelzafar commented on #1070
@AkashAli506 Can you share the screenshots of the error?

[2019-03-09 14:58] iadeelzafar commented on #1070
@AkashAli506  Follow this [Build Solution](https://github.com/kiwix/kiwix-android/pull/974#issuecomment-463157239)

[2019-03-09 14:58] AkashAli506 commented on #1070
![Screen Shot 03-09-19 at 07 57 PM](https://user-images.githubusercontent.com/45498607/54073161-afeb9600-42a5-11e9-83ad-a5fc894b69e7.PNG)

[2019-03-09 14:58] AkashAli506 commented on #1070
@iadeelzafar Thanks for help.

[2019-03-09 16:54] sonusourav commented on #973
@abdulwd Since this issue is unresolved for a long time, can I take this issue?

[2019-03-09 17:03] abdulwd commented on #973
@sonusourav I think this is rather a simple issue so we should keep it for newcomers.

[2019-03-09 17:03] sonusourav commented on #973
@abdulwd Can you assign this to me?

[2019-03-09 17:07] #979 closed

[2019-03-09 17:08] abdulwd commented on #968
It will be closed automatically once the PR is merged.

[2019-03-09 17:22] sonusourav opened #1072 "Add refresh/reload option for Zim files"
**Is your feature request related to a problem? Please describe.**
Many times, the Zim files do not load properly( pics are broken) and the page or file has to be reopened from the beginning (if not bookmarked or if it is not main page), which is not good user experience.

**Describe the solution you'd like**
Add a refresh/reload option in the overflow menu.

**Describe alternatives you've conside

[2019-03-10 11:44] waahm7 opened #1074 "Online tab should show no internet when on data and wifi only option is enabled"
**Describe the bug**

Online tab shows loading icon when user is using data and Download content via Wifi only is enabled.

**Expected behavior**

It should show no internet connection or disable wifi only option.

**Steps to reproduce the behavior:**
1. Enable Download Content Via Wifi Option
2. Disable Wifi
3. Turn on Mobile Data
4. Goto Online tab

**Screenshots**

![1](https://user-images.gith

[2019-03-10 11:47] waahm7 commented on #1070
@AkashAli506  I faced build issues too when building in Android Studio 3.3.2. Error was AndroidManifest not found. I resolved it by using latest Android Studio 3.5 canary preview. Update your Android Studio if you are facing similar issue.

[2019-03-10 13:08] sonusourav commented on #1074
@waahm7  I may not be correct but what I could figure out from the switch text is, it is intended to confirm for wifi vs mobile use only for downloading books, and not for fetching the list of files. @abdulwd and @mhutti1  could give better answer.

[2019-03-10 14:50] waahm7 commented on #1074
@sonusourav After a while it just says no item found and does not even fetch the list.

[2019-03-10 15:36] sonusourav commented on #1074
@waahm7  The app can use your mobile data( provided mobile data is on) to fetch books but when it comes to downloading it depends on the permission of the user which one to use.
Many times, it does not load because of network issues but this is how it made to work.

[2019-03-10 19:59] mhutti1 commented on #1065
Imo this should be done in Javascript/CSS @kelson42 ?

[2019-03-10 20:02] mhutti1 commented on #112
@reeshabhkumarranjan It is and is in bold:

[2019-03-10 20:05] mhutti1 commented on #1067
In my opinion this is the correct behaviour and until we have multizim implemented back should exit the app.

[2019-03-10 20:09] mjthompson2 commented on #1065
I will have to drop this unforunately.  I need to switch my attention to a
school project.

On Sun, Mar 10, 2019, 3:59 PM Isaac Hutt <notifications@github.com> wrote:

[2019-03-10 20:12] #891 closed

[2019-03-10 20:48] #1034 closed

[2019-03-10 21:05] TiagoSantos81 opened #1075 "Search does not match all ZIM entries or 'all entry ZIMs' are incomplete"
This applies to the 2.4 Build 55. This issue is not described in the issue tracker in any similar form.

**Describe the bug**Tool
Some words do not appear on the list. I noticed this searching for LanguageTool entry on the Wikipedia-en-nopic.zim from 2017-09-11. Wikipedia dump should have the article, as can be seen in:
https://en.wikipedia.org/w/index.php?title=LanguageTool&action=history

**Expe

[2019-03-10 23:51] sidkathuria14 opened #1077 "Add more filters/search capabilities in the library"
The application currently has the feature to search using a language filter. I suggest there could be other factors added as well for better User Experience. Some of these filters could be Size of Zim, Popularity, has media content or not.

[2019-03-11 00:02] #1051 closed

[2019-03-11 01:05] sidkathuria14 opened #1078 "Floating Action Button for Scroll to top."
If Bottom Toolbar is enabled, then the toolbar overlaps back to top button. Therefore, I suggest adding a FAB(Floating Action Button) on the Bottom Right area of the screen (above the bottom toolbar).
I also thought of adding another FAB for scrolling to top. Both the FAB's would be at bottom right similar to this image:
![nvJ3u](https://user-images.githubusercontent.com/29261743/54094549-c5f17780

[2019-03-11 01:07] sidkathuria14 commented on #1077
Also, I would like to request it to be assigned to me, if it is considered a good feature to be worked upon.

[2019-03-11 03:46] prajurock commented on #1078
This issue is earlier solved. Check for the latest version of the code.

[2019-03-11 04:31] sonusourav commented on #1078
@sidkathuria Are you using app from the playstore or repo? Also, just check if the build variant is set to KiwixDebug.

[2019-03-11 05:25] sidkathuria14 commented on #1078
My repo is updated with latest commits and I cannot see a floating action button for scroll to top.
Anyways, I am suggesting to add 2 floating action buttons: one for scroll to the very top and second to scroll back to the very  bottom.

[2019-03-11 05:26] sidkathuria14 commented on #1078
@sonusourav I am using the app from repo. Is there any issue with the code?

[2019-03-11 05:59] prajurock commented on #1078
I think there is no need of adding scroll to bottom.

[2019-03-11 06:18] sonusourav commented on #1078
![backtoTop](https://user-images.githubusercontent.com/34706326/54103681-51343280-43f3-11e9-928a-5ae8d534378c.jpeg)

BackToTop button is already there. You have to toggle on from settings(default is off). And do any google app has scroll to bottom button?

[2019-03-11 08:49] iadeelzafar commented on #948
Due to some family commitments, I am not able to give time to this ticket. @sonusourav You may proceed with working on this. The directions above will be really helpful for you. Good Luck!

[2019-03-11 08:53] iadeelzafar commented on #684
@abdulwd This bug is still present. I think we should label it as a 'good first issue' for new contributors.

[2019-03-11 09:25] sidkathuria14 commented on #1078
Pdf readers do have a scroll to bottom button therefore, I thought of adding this feature for better UX. It is okay if it is not considered to be viable, I just added a suggestion. :)

[2019-03-11 12:01] sidkathuria14 opened #1080 "Saving scroll position in SharedPreferences."
**Is your feature request related to a problem? Please describe.**
When we exit the app and re-open a Zim file which we were reading earlier, the view loads starting from the very top. If the file loads and starts from the same position where the user left earlier, the UX would significantly improve.
**Describe the solution you'd like**
I am suggesting to save the scroll view of a Zim file when th

[2019-03-11 16:16] sidkathuria14 commented on #1007
I would like to work on this issue. Is someone already working on it?

[2019-03-11 16:24] iadeelzafar commented on #1007
Go for it. Good Luck!

[2019-03-11 16:26] iadeelzafar commented on #1007
@sidkathuria14 First check if you're able to reproduce this bug or not. I was able to reproduce this when I created this ticket but after a while I couldn't reproduce this again.

[2019-03-11 18:46] AkashAli506 commented on #1070
Thanks, @waahm7.

[2019-03-11 18:52] abdulwd commented on #968
Closed via #984.

[2019-03-11 18:52] #968 closed

[2019-03-12 13:34] sidkathuria14 opened #1081 "Adjusting order of zim files in device"
**Is your feature request related to a problem? Please describe.**
I am adding a suggestion to list the files in the device in a manner such that the files recently accessed are listed on top because those files have a high probability of being opened again by the user.

**Describe the solution you'd like**
I plan to save the recently opened files in the shared preferences along with the count.  W

[2019-03-12 13:34] mpannu03 commented on #973
I have opened  a pull request #1079 please review it.

[2019-03-12 13:58] julianharty commented on #865
@mhutti1 Would it be helpful if I came to London and/or we arrange a pairing session somehow so we can break the back of this work? Just ask, I can make the time to help get this done. Thank you.

[2019-03-14 00:09] mhutti1 commented on #865
Hey, yeah I'm very busy this and next week with Uni Exams + GSoC Enquires, I am open to suggestions but can't spend a huge amount of time on this for two weeks :(

[2019-03-14 00:27] #1049 closed

[2019-03-14 02:54] Afleh commented on #625
@abdulwd  can i work on this?

[2019-03-14 02:56] Afleh commented on #572
@abdulwd  can i work on this?

[2019-03-14 04:25] abdulwd commented on #572
@Afleh Can you check if it still persists?

[2019-03-14 04:29] abdulwd commented on #625
@Afleh A pull request is already there for this issue.

[2019-03-15 08:19] #1074 closed

[2019-03-15 08:22] waahm7 commented on #1081
I think alphabetical order makes more sense, otherwise, the user will have a hard time finding a less used entry.

[2019-03-15 10:15] waahm7 opened #1083 "Improve Settings Urdu Language"
**Is your feature request related to a problem? Please describe.**
If you change the application language to Urdu, Most of the text is still displayed in English.

**Describe the solution you'd like**
I would like to improve the translation of Settings screen So that it displayed in Urdu.

**Screenshots**
![53604395_2292074684450130_2404187460960518144_n](https://user-images.githubusercontent.com/

[2019-03-15 15:38] sidkathuria14 commented on #1081
I have written the code to swap the recently opened zim file with the 0-index file in the arraylist. I feel that the recently opened should be on top. After the first file, all the files are listed in alphabetical order.

[2019-03-16 21:00] ritik2017 opened #1084 "Adding Online search option for Wikipedia Pages"
**Is your feature request related to a problem? Please describe.**
Having two apps(Kiwix and Wikipedia) in my device always causes some irritation. I love the way kiwix delivers me the wiki pages but at the same time not able to find all wiki pages in kiwix.

**Describe the solution you'd like**
 To load a file from wikipedia if there is no search result for the querry and the user has internet co

[2019-03-16 21:02] ritik2017 commented on #1084
@abdulwd @mhutti1
What are your opinions regarding the issue ??
I am very much interested in working upon the issue

[2019-03-16 22:29] mhutti1 commented on #1083
This isn't an issue with the app. If you want to improve our translation head to translatewiki.net

[2019-03-16 22:29] #1083 closed

[2019-03-16 22:30] sidkathuria14 commented on #1084
We could implement MediaWiki API as Wikipedia is built on MediaWiki API and it is completely free and open source as well. User's search keyword could be searched on MediaWiki API as well and the related pages could be shown to the User. What do you think? @abdulwd @ritik2017

[2019-03-16 22:31] mhutti1 commented on #1084
This sounds interesting but its likely the backend would be built out in C++ as its a large change.

[2019-03-16 22:33] sidkathuria14 commented on #1084
Yes working on JNI would be efficient but it can also be implemented in Java itself using a library like Retrofit or Volley.

[2019-03-17 00:06] #1047 closed

[2019-03-17 09:02] waahm7 commented on #1056
@prajurock If you are not working on this issue, I would like to fix it!

[2019-03-17 10:30] gptshubham595 opened #1085 "To Add Sort / Filters (eg By Size,date) while searching contents in Library Enhancement"
*Version 2.4 Build:1182160*

**If there should be sort/ filters option in library searching in that option all fields should be add there with size ,date,lang all in one button**

**Adding Filter Option at top Left  instead of just lang**
![Screenshot_2019-03-17-15-37-35-96 - Copy](https://user-images.githubusercontent.com/24877361/54488987-ae395800-48cd-11e9-9bf2-4e12feddfc0f.png)

![Screenshot_2

[2019-03-17 10:37] gptshubham595 opened #1086 "Intro Should be added for newcomer at starting of app"
***Or Simply  The help section is not enough***

**It should be added how to use the app and what steps to follw  for a newcomer, because its easy for a developers who are very much aware about function but new users don't view app like that**

Even I'm was really frustrated for mine's first time when i opened this app and to figure out .

[2019-03-17 11:05] gptshubham595 opened #1087 "There should be add a sample/ Demo option available for Users to view before downloading a huge file"
**There should a option given that on tapping on any content it should provide two option 1) See Sample 2)Download
![to](https://user-images.githubusercontent.com/24877361/54489454-594c1080-48d2-11e9-85c0-ee0a907a7c43.png)**
![to1](https://user-images.githubusercontent.com/24877361/54489469-90222680-48d2-11e9-8e37-6e0c3fddeb1d.png)

*And Sample View should display one sample page how that downlaod

[2019-03-17 11:07] Aditya-Sood commented on #765
@mhutti1 the recentSearch database has a zimID field which seems to contain dash separated hexadecimals. What does it refer to exactly? I couldn't figure that out

[2019-03-17 11:47] gptshubham595 opened #1088 "Preference List should be added there while searching"
**There should be the option of selecting preference list to select and get data accordingly and that should be dependent on that person's feld of interest.**
![to](https://user-images.githubusercontent.com/24877361/54490026-6a981b80-48d8-11e9-8247-8699c6d8910f.png)
![Screenshot_2019-03-17-15-37-35-96 - Copy](https://user-images.githubusercontent.com/24877361/54490031-74ba1a00-48d8-11e9-80b6-99688

[2019-03-17 11:57] gptshubham595 opened #1090 "Search Option should Also be there in Downlaoded files Device"
**There should also be a search bar in downloaded device files also
![Screenshot_2019-03-17-15-37-35-96](https://user-images.githubusercontent.com/24877361/54490214-f0689680-48d9-11e9-8169-da5205969abb.png)
**

[2019-03-17 13:02] sidkathuria14 commented on #1085
Hey! I have already addressed this issue in #1077.

[2019-03-17 13:57] gptshubham595 opened #1091 "There should be the mainpage of the app"
**There should be a main page of the app that would display the last accessed website in the device can be called a type of history**

andd on clicking back button while reading any of the website it should go to this main page instead of closing of app ,this made app bit frustrating for the users i manually tested this with multiple users (20) and according to that around 18 users were confused a

[2019-03-17 13:59] gptshubham595 opened #1092 "Sharing(or Import Export Options should be there in app) of content should be there"
*Export and import options should be there in app for making this app user friendly*

[2019-03-17 21:20] ritik2017 commented on #1084
MediaWiki API sounds very interesting. I read the documentation its actually written in PHP. I going through some of the docs I was able to find this https://m.mediawiki.org/wiki/API:Page_info_in_search_results
@mhutti1 @abdulwd what are your views??
Any suggestions

[2019-03-18 08:52] prajurock commented on #1056
I am working on it.

[2019-03-18 17:23] sauravchandra commented on #572
@abdulwd The issue seems to be resolved.

![rotate-issue](https://user-images.githubusercontent.com/10370619/54549583-5afbfe00-49d0-11e9-8094-99af8775a1c1.gif)

[2019-03-18 19:51] sauravchandra commented on #973
@abdulwd What is the status of the issue? Can I work on it?

[2019-03-19 00:04] mhutti1 commented on #1087
I don't really think this is something we can easily implement in Android. Perhaps link to the real website if its online?

[2019-03-19 00:05] mhutti1 commented on #765
zimID is the id of the ZIM file every file should have a unique id. zimName doesn't change between content upgrades.

[2019-03-19 00:05] mhutti1 commented on #1088
What kind of filters would you suggest?

[2019-03-19 00:06] mhutti1 commented on #1090
It might be nice but less useful once multizim comes out.

[2019-03-19 00:06] #1085 closed

[2019-03-19 00:07] mhutti1 commented on #1091
This is in the plan for multizim. Closing this issue as it is covered by that general plan.

[2019-03-19 00:07] #1091 closed

[2019-03-19 00:08] mhutti1 commented on #1092
Possible duplicate of https://github.com/kiwix/kiwix-android/issues/616 ?

[2019-03-19 00:09] mhutti1 commented on #1084
As I said, it would add a lot of Android specific complexity which we are hoping to avoid where possible.

[2019-03-19 00:10] #572 closed

[2019-03-19 00:10] mhutti1 commented on #973
@sauravchandra It looks like a pull request is open for it so probably not.

[2019-03-19 00:28] #1057 closed

[2019-03-19 09:14] sauravchandra opened #1095 "Open Home page on closing last tab"
### Describe the bug

When the last tab is closed in Tab switcher, instead of opening the Home page the app remains in the Tab switcher view.

![kiwix](https://user-images.githubusercontent.com/10370619/54592112-b02c2400-4a51-11e9-9cba-7670705089ae.gif)

### Expected behavior:

Closing the last tab should open up Home page.

*Example behaviour:*

![firefox](https://user-images.githubusercontent.co

[2019-03-19 09:17] sauravchandra commented on #1095
@mhutti1 Can I work on this if this is an issue and not the intended behaviour?

[2019-03-19 10:47] gptshubham595 commented on #1088
Like on basis of  size ,preference, popular

[2019-03-19 10:49] gptshubham595 commented on #1087
No, when the user is gonna download that he will be under internet service so before downloading he can click and go through the website

[2019-03-19 10:50] gptshubham595 commented on #1088
Also if a person wants material related to Biology then it will list only those

[2019-03-19 12:50] gptshubham595 commented on #1092
No like a simple data transfer via any media like xender, shareit, whatsapp, anything they can share and can be used

What if peopel want to store this in some other place so they may need to semd and store this somewhere

[2019-03-19 12:52] gptshubham595 opened #1096 "Getting error how to resolve this while building"
![IMG20190319181751](https://user-images.githubusercontent.com/24877361/54607209-d82c7f00-4a73-11e9-8589-95d62f79b8fe.jpg)

[2019-03-19 13:02] Aditya-Sood commented on #765
So this issue is aimed at replacing the zim ID everywhere with the corresponding URL and then subsequently using that URL for identifying the zim file?

[2019-03-19 14:13] aadhitya98 opened #1097 "Home Screen of Wikipedia looks so clumsy"
**Describe the bug**
The Home screen looks so congested with the frames having unequal size.

**Expected behavior**
A Proper usage of Frame Layout with equal padding may be a better deal

**Steps to reproduce the behavior:**
1.

**Screenshots**

**Environment**
- Version of Kiwix Android :
- Device :
- OS version :

**Logs**

[2019-03-19 19:49] ritik2017 commented on #1084
@mhutti1 any other way to implement the feature??

[2019-03-19 20:41] abdulwd commented on #1096
These are only warnings. You can complete the build and install the app.

[2019-03-19 20:43] abdulwd commented on #1097
A screenshot will better explain this.

[2019-03-19 20:48] sauravchandra commented on #1095
@abdulwd Can I work on this?

[2019-03-20 04:32] gptshubham595 commented on #1096
How to remove this warning

[2019-03-20 13:38] sidkathuria14 opened #1098 "Overflow menu shows blank menu item in webview actionbar"
**Describe the bug**
In webview, the Contextual Action Bar appears on the text selection(long click on text). In the Contextual Action Bar, the overflow menu button shows no menu item or maybe shows an item with empty string title.

**Expected behavior**
The overflow menu should show Read Aloud button.

**Screenshots**
![Screenshot_20190320_184113](https://user-images.githubusercontent.com/2926174

[2019-03-20 14:24] aadhitya98 commented on #1086
Yeah.. I also felt the same @gptshubham595

First I am so was unable to understand the layout. The main content (For eg: Wikipedia/Ted Talks) download screen should be put up as the home screen rather than the details about the app.

[2019-03-20 15:21] sonusourav commented on #1098
@sidkathuria14  Don't use play store version, install the app from GitHub repo( with KiwixDebug Build variant). Play store version is not used for development purpose, and it does not have all the updates.
Adding to your issue, it is not present in the GitHub version.

[2019-03-20 15:53] aadhitya98 commented on #1097
![WhatsApp Image 2019-03-20 at 9 12 55 PM](https://user-images.githubusercontent.com/38691254/54698595-91af5100-4b55-11e9-995f-ffa3114d0dd4.jpeg)

Here....watch out for Cretaceous ...it is not clearly visible and the size of Charlie Chaplin is dominating over it.

Hence equal padding with proper frame layout placements can wrap up this UI issue.

[2019-03-21 06:38] angmas1 commented on #1098
I want to contribute to this app and am trying to build it but I am unable to import this in Android Studio. I have been trying to ask for help on freenode since last 2 days.
After importing, I get error sdk missing, so I made a file local.properties with correct sdk path. Then I get androidmanifest missing with a popup saying Android structure found with a manifest so I clicked ok. Then on runnin

[2019-03-21 07:21] abdulwd commented on #1098
@angmas1 Can you try this https://github.com/kiwix/kiwix-android/pull/974#issuecomment-463157239 and select kiwixDebug as build variant and try to install the app.

[2019-03-21 07:23] abdulwd commented on #1095
@sauravchandra Yes!

[2019-03-21 07:24] abdulwd commented on #1095
It will be great if you can add the animation for this too. Check out the material guidelines to see which animation to use.

[2019-03-21 07:30] abdulwd commented on #1097
Please install the app by building this repo instead of installing it from Play Store and check if this issue persists. Also, we are loading a web page in a web view we are not using any layout.

[2019-03-21 07:34] abdulwd commented on #1086
@aadhitya98 You're using an older version of the app from Play Store. Build this repo we do have the downloaded books on the home screen.
![image](https://user-images.githubusercontent.com/20206262/54738327-cf55bd80-4bd9-11e9-9752-df439e8c1cb3.png)

[2019-03-21 07:37] abdulwd commented on #1096
You can search stackoverflow.com/google and make a PR to fix these warnings.

[2019-03-21 07:43] abdulwd commented on #1081
@sidkathuria14 There must be material guidelines on what basis the items in a list should be sorted. Please do check them.

[2019-03-21 08:45] angmas1 commented on #1098
@abdulwd Thank you very much. Finally resolved it.

[2019-03-21 17:16] shashwatkathuria commented on #1096
The first and third warnings are related to the jetifier's experimental settings which may be unused in the built variant and some maybe unsupported. The second warning is related to the server address whose value is being changed, so its not something which is wrong with the application as such.

The application is working fine without these issues, you can ignore them as the first and third are

[2019-03-21 17:34] shashwatkathuria opened #1099 "Document opening incorrectly."
**Describe the bug**
A document once opened is already zoomed in which is not visually pleasing.Only a part of the page is displayed.

<img src="https://user-images.githubusercontent.com/37243661/54772537-8deefd80-4c2d-11e9-8ff5-708f2347cd3b.jpg" width="50%" >

<img src="https://user-images.githubusercontent.com/37243661/54772549-95160b80-4c2d-11e9-9db0-173c3c2033f5.jpg" width="50%" >

**Expected

[2019-03-21 17:56] shashwatkathuria opened #1100 "Abnormal behaviour on pressing back on a document."
**Describe the bug**
On pressing back button on the screen while on a document, the application directs us out of the application.

**Expected behavior**
It should instead take us to the device tab in the library just like adobe, in which on pressing back button on a document, we are directed to the page where all documents are present/library.

**Steps to reproduce the behavior:**
1. Go to Librar

[2019-03-21 18:06] sonusourav commented on #1100
Duplicate of  #1067 .

[2019-03-21 18:13] shashwatkathuria commented on #1100
Ok. Closing the issue.

[2019-03-21 18:13] #1100 closed

[2019-03-21 18:33] shashwatkathuria opened #1101 "Ambiguous options in search."
**Describe the bug**
Almost identical options are displayed in search. The 'No Pictures' and 'No Videos' are also very misleading if one has to get the exact file.
<img src="https://user-images.githubusercontent.com/37243661/54776282-cbf01f80-4c35-11e9-97a1-ad24bb4905b9.jpg" width="50%">
<img src="https://user-images.githubusercontent.com/37243661/54776285-cc88b600-4c35-11e9-9976-418f42cb8e18.jpg"

[2019-03-21 18:45] #1098 closed

[2019-03-21 18:48] shashwatkathuria opened #1102 "No specific basis of side info segregation."
**Describe the bug**
The information shown in the smaller texts has no specific basis to segregate(and is also blank sometimes) and so, is very meaningless.
<img src="https://user-images.githubusercontent.com/37243661/54777279-05298f00-4c38-11e9-8bf3-22817e764d34.jpg" width="50%">

**Expected behavior**
Maybe the information on those texts should be related to only the combinations of 'Pictures' a

[2019-03-21 19:02] shashwatkathuria opened #1103 "Redundant information about articles."
**Describe the bug**
The same information is repeated in a single document in almost all of the documents. Also, 'Kiwix' is written on bottom of every document.
Example - In the first highlighted document, 'Wikinews' is mentioned 3 times, In the second highlighted document, 'Wikipedia' is mentioned three times, etc.

<img src="https://user-images.githubusercontent.com/37243661/54778136-e3c9a280-4c

[2019-03-21 19:13] shashwatkathuria opened #1104 "Related to the way feedback is given."
**Describe the bug**
Sending hardwritten feedback through email can be displeasing for a customer.
<img src="https://user-images.githubusercontent.com/37243661/54778758-8afb0980-4c3b-11e9-8858-618e93f22eeb.jpg" width="50%">

**Expected behavior**
The user can fill out a form including ranges of satisfaction and some extra notes(optional) and then that feedback can be sent by populating the email b

[2019-03-21 19:28] shashwatkathuria opened #1105 "Incorrect intent."
**Describe the bug**
The feedback gives us options of apps in which 'Udacity App' is also present, which is not an email app.
<img src="https://user-images.githubusercontent.com/37243661/54779583-87688200-4c3d-11e9-91bb-5f97e125e007.jpg" width="50%">

**Expected behavior**
Only email apps should be displayed.

**Steps to reproduce the behavior:**
1. Navigate to 'Help' through the top three vertica

[2019-03-21 19:40] shashwatkathuria opened #1106 "Tokens for selected languages."
**Describe the bug**
After the 'Selected languages:' there is/are no language/s specified which the user has already selected.
<img src="https://user-images.githubusercontent.com/37243661/54779933-7cfab800-4c3e-11e9-9607-3df9850d1323.jpg" width="50%">

**Expected behavior**
There should be tokens like the ones shown in the image below so that the user can see the languages he/she has selected and

[2019-03-21 20:00] shashwatkathuria opened #1107 "White space in the document list items and date related issue."
**Describe the bug**
The large amount of white space in the document list items is visually not appealing. Also, the dates should be indicating how much time ago the document was written, rather than showing the full hard coded date.
<img src="https://user-images.githubusercontent.com/37243661/54781294-e203dd00-4c41-11e9-8d48-5a7907d7e5a8.jpg" width="50%">

**Expected behavior**
The white space in

[2019-03-21 20:17] shashwatkathuria opened #1108 "Separate information tab once a document is downloaded."
**Is your feature request related to a problem? Please describe.**
The documents once downloaded don't really require the same information to be displayed again and again in the Device tab under Library.

<img src="https://user-images.githubusercontent.com/37243661/54782163-38721b00-4c44-11e9-82e0-d0d1b1877b1d.jpg" width="50%">

**Describe the solution you'd like**
An option for displaying the inf

[2019-03-21 20:26] shashwatkathuria opened #1109 "Documents beyond device capacity should not be displayed."
**Describe the bug**
Documents outside device's capacity are being displayed. Also, clicking on them serves no purpose as the error message is correctly displayed and nothing happens after clicking on them. Only the idle information is visible which serves no purpose as such. ( My device's capacity is 64GB, and the document highlighted below is of 78.1GB )

<img src="https://user-images.githubuser

[2019-03-21 21:02] shashwatkathuria opened #1110 "Tutorial on downloading the application."
**Is your feature request related to a problem? Please describe.**
There is no step by step tutorial or example explanation on how to use the application, which can  help in making the user of the application aware of all its useful features as well as make the user use the application correctly. There are only two pages and one 'GET STARTED' button when the user downloads the application initiall

[2019-03-21 21:06] abdulwd commented on #1109
I don't think it is the correct before. Such items should be shown to let the user know that these books do exists so that they can be download to other devices if needed.

[2019-03-21 21:07] abdulwd commented on #1110
Check the material guidelines to see how it should be done correctly.

[2019-03-21 21:10] abdulwd commented on #1108
Do you think we have so much info about a book that we need fragments to display it?

[2019-03-21 21:17] abdulwd commented on #1101
This can be revamped to look like the home screen.

[2019-03-21 21:29] shashwatkathuria commented on #1109
Then there should be some indication to the user regarding this. Maybe as a small red text on the side?

[2019-03-21 21:30] shashwatkathuria commented on #1108
Then we can have one page regarding the information, rather than the three different pages shown above?

[2019-03-21 21:40] shashwatkathuria commented on #1110
Okay.

[2019-03-22 03:57] aadhitya98 commented on #1097
I will work on, building a specialized app for Kiwix instead of using a web view. I would like to take this as my GSOC project 2019 if I am fortunate enough to get selected.

[2019-03-22 08:31] abdulwd commented on #1109
A toast is displayed on clicking which serves the purpose.

[2019-03-22 08:33] abdulwd commented on #1108
You should have a look at the code, all the info we get from the backend is displayed. I don't think we have more info to display.

[2019-03-22 16:38] sidkathuria14 commented on #1081
@abdulwd  The code is written such that as soon as a file is found in storage, it is added to the arraylist. There is no particular order followed for listing the files.

![Screenshot from 2019-03-22 22-01-50](https://user-images.githubusercontent.com/29261743/54838491-bab71980-4cee-11e9-8844-79f5c27fc773.png)

The ZIM files are also listed in the same order in which they are found (in the logcat)

[2019-03-22 21:21] abdulwd commented on #1081
Yes. Suppose according to material guidelines we should list the files alphabetically. You can sort the files on a background thread after the file search is finished. As I have told you before check the material guidelines on what basis we should sort the books.

[2019-03-22 21:43] abdulwd opened #1113 "Add swipe gesture to switch tabs"
**Is your feature request related to a problem? Please describe.**
Tab switching must be easier.

**Describe the solution you'd like**
Google Chrome offers a great way to switch tabs by horizontally swiping the toolbar. This gesture should be added.

**Additional context**
![ezgif-1-c045626485ed](https://user-images.githubusercontent.com/20206262/54854609-7f7e1000-4d19-11e9-8475-d61f69a8f0b5.gif)

[2019-03-22 21:56] prajurock commented on #1113
I want to take the issue but multi zim is supported?

[2019-03-22 22:34] sauravchandra commented on #1113
It would be a nice UI enhancement. I would like to work on it.

[2019-03-23 05:43] sonusourav commented on #1113
@abdulwd  We can use Horizontal swipe gesture to do this. Would like to work on this.

[2019-03-23 06:11] abdulwd commented on #1113
@prajurock Multi zim is not supported but we can switch between different tabs of the same zim file as done using the tabs switcher. You can work on this issue.

@sonusourav Horizontal swipe gesture is to be added only to the toolbar so that the tabs are not changed by mistake.

[2019-03-23 06:21] abdulwd opened #1114 "Add swipe down animation (was: Add swipe down toolbar gesture to open tabs switcher)"
**Is your feature request related to a problem? Please describe.**
The icon for opening the tab switcher is quite small and it is used frequently. So there must be a gesture to open the tab switcher.

**Describe the solution you'd like**
Google Chrome offers a gesture to open the tab switcher which is pull down from the toolbar.

**Additional context**
![ezgif-1-8ad26a80ceb7](https://user-images.g

[2019-03-23 06:29] ShridharGoel commented on #1114
I would like to work on this.

[2019-03-23 06:30] sonusourav commented on #1113
@abdulwd  I too meant the same, horizontal swipe gesture for the toolbar not anywhere else.

[2019-03-23 06:31] abdulwd commented on #1114
@ShridharGoel You can work on it.

[2019-03-23 06:33] abdulwd commented on #1113
@sonusourav I have updated the issue description to make it clear.

[2019-03-23 07:03] sauravchandra commented on #1113
@abdulwd We need to inflate ActionBar with a custom view in order to detect gestures on it.

[2019-03-23 08:00] #1110 closed

[2019-03-23 08:00] #1109 closed

[2019-03-23 08:00] #1108 closed

[2019-03-23 08:01] #1107 closed

[2019-03-23 08:01] #1106 closed

[2019-03-23 08:01] #1105 closed

[2019-03-23 08:01] #1104 closed

[2019-03-23 08:01] #1103 closed

[2019-03-23 08:01] #1102 closed

[2019-03-23 08:02] #1101 closed

[2019-03-23 08:02] #1099 closed

[2019-03-23 14:00] sidkathuria14 commented on #1081
Where are the material guidelines written?

[2019-03-23 17:47] mhutti1 opened #1116 "Use the new default flavour gradle setting"
Finally after years Google have added a default flavour option https://issuetracker.google.com/issues/36988145

We should use it to make contributing the project easier.

[2019-03-23 18:07] mhutti1 commented on #765
No its about the search activity not the content management activity.

[2019-03-23 18:07] mhutti1 commented on #1084
Yes as I suggested it might eventually be built into the c++ kiwix lib library.

[2019-03-23 18:09] mhutti1 commented on #1086
Closing this as it is not very specific. If you have some specific improvements then please open another issue to suggest them.

[2019-03-23 18:09] #1086 closed

[2019-03-23 18:09] mhutti1 commented on #1096
Closing this as it is misleading.

[2019-03-23 18:09] #1096 closed

[2019-03-23 20:09] abdulwd commented on #1081
https://material.io/

[2019-03-24 15:42] ritik2017 commented on #1084
@mhutti1  I went through the repo of kiwix lib library.
Can you please enlighten me on how to link that to the android app?

[2019-03-24 17:30] MidoHosny opened #1119 "Bug in "Settings" when change Night mode"
03-24 19:28:06.995 27274-27349/org.kiwix.kiwixmobile E/kiwix: Exception reading article A/Main_Page.html from zim file
    java.io.IOException: write failed: EPIPE (Broken pipe)
        at libcore.io.IoBridge.write(IoBridge.java:455)
        at java.io.FileOutputStream.write(FileOutputStream.java:187)
        at org.kiwix.kiwixmobile.data.ZimContentProvider$TransferThread.run(**ZimContentProvider.

[2019-03-24 17:57] MidoHosny opened #1120 "Frazier ONLINE fragment"
need to make onlineFragment to frazier ,
 when load data and i change screen orientation , i loss the data and start swabRefreshLayout is runing and start load data

[2019-03-24 18:01] MidoHosny opened #1121 "Bug in "ZimManageActivity" when press Choose a language button in onOptionsItemSelected"
[code]

[2019-03-24 18:01] #1120 closed

[2019-03-24 18:41] MidoHosny commented on #1119
https://stackoverflow.com/questions/9039877/android-fragment-screen-rotate

[2019-03-25 02:00] sidkathuria14 commented on #1081
![Screenshot_20190325_072650](https://user-images.githubusercontent.com/29261743/54890472-8d759180-4ecf-11e9-8655-297233de30a2.jpg)
Yes, I think we should sort the list alphabetical wise.
Also Should I work on sorting the list in the current Pull Request itself or would that be merged and I create another PR?

[2019-03-25 06:34] avinath1998 commented on #1121
Hey, shall i working on this?

[2019-03-25 10:48] gptshubham595 opened #1122 "Offline voice search option enable"
Can I add offline voice search option in download or file searching

[2019-03-25 15:17] gptshubham595 opened #1123 "Can we add a login and sign up form in menu for saving bookmarks in account and connnecting with firebase(OR ANY DATABASE)"
Can we connect this app to firebase and store the bookmarks to that   persons account so that if he opens that app in some other android so that he can access his saved bookmarks

[2019-03-25 15:20] gptshubham595 opened #1124 "Can we add a share option to share that particular opened at that time"
To add a feature of sharing that screen data or the opened at that time.

[2019-03-25 15:26] gptshubham595 commented on #1124
![pinned-share-app](https://user-images.githubusercontent.com/24877361/54932231-7753e980-4f40-11e9-9fda-8737ccb90983.png)

[2019-03-25 15:28] gptshubham595 commented on #1124
Like if we are reading Wikipedia and inside that  we are reading some content and if we want to share that,with specific page no. ,title, website name

Ex. IMAGE and text written below Wikipedia ,TOPIC: Google,PAGE:42

[2019-03-25 15:43] gptshubham595 opened #1125 "While clicking on links on any page it redirects to a browser and open that page instead open that inbuilt in that app"
open the clicked links on any page while reading instead opening that in browser it should open in that app only as a browser , instead of redirecting to any other app.

like : reading wikipedia->CLICK on any hyperLink -> It opens a browser and open that link
It should be:reading wikipedia->CLICK on any hyperLink -> It opens that link inside the app only

[2019-03-25 17:03] siddharth2010 commented on #1125
i think opening in the browser is the preferred way to do it.
It also gives us extra features like saving pages as pdf, and sharing of opened and bookmarked tabs on the mobile and computer (for specific browsers).

[2019-03-25 17:13] siddharth2010 commented on #1124
We cannot specifically share some pages, as they are bundled together with the ZIM file.

Instead of that we have have the share zim file option using which we can share the whole zim file between devices.

So i think that should suffice.

[2019-03-25 17:18] siddharth2010 commented on #1123
As per the Kiwix website: "Kiwix is an offline reader for online content like Wikipedia, Project Gutenberg, or TED Talks. It makes knowledge available to people with no or limited internet access."

So theres no point for adding cloud functionality in the app, as we are specifically targeting people with limited internet access.

[2019-03-25 17:19] #1123 closed

[2019-03-25 20:48] Raghav-intrigue commented on #1125
But wouldn't that reduce the app retention rate? I agree that there should be an option to open the link in a browser for accessibility, but the current way reduces the retention time by quite a lot since the user moves to the browser just after one link.

[2019-03-26 03:56] gptshubham595 commented on #1124
I m also working for hotspot sharing of zim files

[2019-03-26 10:16] gptshubham595 opened #1126 "Even after deleting the library downloaded file it still remaining cache"
Even after deleting the downloaded library file but still remains as the cache file and doesn't get deleted

[2019-03-26 12:30] gptrohit opened #1127 "How to resolve this show fragment manager error"
![1553603320057109337223](https://user-images.githubusercontent.com/48947469/54997097-f7398c80-4ff0-11e9-8623-f139e97bed5a.jpg)

[2019-03-26 12:35] #1097 closed

[2019-03-26 12:49] mhutti1 commented on #1084
It is linked by the JNI. Its a bit fiddly to setup. If you want to compile using your own code you should use kiwix-build

[2019-03-26 12:52] mhutti1 commented on #1122
I don't think this is a worthwhile feature, it adds a lot of complexity for very little gain.

[2019-03-26 15:23] gptshubham595 commented on #1127
Try invalidate caches amd restart

Do check that:
You have changed build variants changed to kiwix debug

And remove .idea folder before starting

[2019-03-26 15:39] gptrohit commented on #1127
Thanks it solved

[2019-03-26 15:39] #1127 closed

[2019-03-26 15:41] gptrohit opened #1128 "How to resolve this error"
![1553614854565766679018](https://user-images.githubusercontent.com/48947469/55011293-b56a0f80-500b-11e9-8fbf-d1bdf035023f.jpg)

[2019-03-26 15:51] gptrohit commented on #1128
![1553615409897938728552](https://user-images.githubusercontent.com/48947469/55012147-f9a9df80-500c-11e9-9bb6-c524ccfaee03.jpg)

Is error is related to butterknife library as it says that

 the given artefact contains a string literal with the package reference androidx.support.v4.content that cannot be safely rewritten libraries using reflection such as annotationprocessor' needs to be updated ma

[2019-03-26 16:45] ShankarNara opened #1129 "Unable to build the project - Gradle pluggin version issue"
**Describe the bug**

The project gives me  this error
Could not get unknown property 'androidGradlePluginVersion' for object of type org.gradle.api.internal.artifacts.dsl.dependencies.DefaultDependencyHandler.

when I try to build the code.

**Expected behavior**

the project is supposed to run properly , as I haven't changed it a bit.

**Screenshots**

![Screenshot from 2019-03-26 22-14-16](http

[2019-03-26 17:46] gptshubham595 commented on #1129
Before building do make sure you have done this:

Build Variants select Kiwix-debug
delete .idea folder
and build again

[2019-03-26 17:47] gptshubham595 commented on #1129
or simply use 3.3.0 there

[2019-03-26 17:50] gptshubham595 opened #1130 "Improved UI ,Font style and added a light gradient texture"
Enhancement:
should i make a PR

![adding gradient to listed files to improve UI and font as openSans used by google in most of its recent apps](https://user-images.githubusercontent.com/24877361/55024321-a3489b00-5024-11e9-9818-05ad8793704a.JPG)
![Capturead](https://user-images.githubusercontent.com/24877361/55024323-a3489b00-5024-11e9-86f7-28bcf43df839.JPG)
![ui](https://user-images.githubuserco

[2019-03-26 18:11] gptshubham595 opened #1131 "Improved UI,Font Style, Button UI,and background and navbar colour to white"
Should i PR
Error page :Improved Font style ,Button style ,background gradient ,and made colour of navbar to white
![g1](https://user-images.githubusercontent.com/24877361/55024035-0d147500-5024-11e9-8ac6-d105b08d71ca.png)

[2019-03-26 19:20] gptshubham595 opened #1132 "Improved KiwixWebView .java loadind of url 40% more faster"
Improved loading of data in KiwixWebView.java
Should i PR

Added this:
   `getSettings().setDomStorageEnabled(true);
    getSettings().setJavaScriptEnabled(true);
    getSettings().setBuiltInZoomControls(true);
    getSettings().setDisplayZoomControls(false);
    getSettings().setRenderPriority(WebSettings.RenderPriority.HIGH);
    getSettings().setCacheMode(WebSettings.LOAD_CACHE_ELSE_NETWORK);

[2019-03-26 21:25] mhutti1 commented on #1129
If this persists please provide significantly more detail.

[2019-03-26 21:26] mhutti1 commented on #1130
This isn't in tune with material design and in my personal opinion looks a bit tacky. If you have more general suggestions I suggest making an issue calling for general discussion.

[2019-03-26 21:26] #1130 closed

[2019-03-26 21:27] mhutti1 commented on #1131
As mentioned this is a bit of a dated look and isn't in tune with material design. Please follow our issue template for bugs. "Should i PR" is not an appropriate issue.

[2019-03-26 21:27] #1131 closed

[2019-03-26 21:28] mhutti1 commented on #1132
Don't ask if you should submit a PR. Make an issue with a bug/feature. Discuss it there and submit a PR with the issue with the changes. I have no idea what the code posted here might do other than broadly increase speed.

[2019-03-26 21:28] #1132 closed

[2019-03-26 21:45] #1042 closed

[2019-03-26 21:50] mhutti1 commented on #973
I think we should now force it enabled due to this.

[2019-03-26 22:01] #1030 closed

[2019-03-26 22:20] mhutti1 commented on #1124
I don't really see what can be shared. A user can copy and paste text to share if they desire. ZIM sharing is another feature with issues dedicated to it.

[2019-03-26 22:20] #1124 closed

[2019-03-26 22:21] mhutti1 commented on #1126
Which file specifically are you talking about?

[2019-03-26 22:34] #1004 closed

[2019-03-27 07:34] gptshubham595 commented on #1131
I was trying to mark it as a enhancement

[2019-03-27 07:54] gptshubham595 commented on #1130
ok Next time i will take care of it

[2019-03-27 08:00] gptshubham595 commented on #1128
Can you give your stacktrace

[2019-03-27 12:20] VishalBhosale5 commented on #949
@siddharth2010  Is this issue closed?if not i would like to work.

[2019-03-27 12:28] iadeelzafar commented on #949
A PR has been made for this issue already.

[2019-03-27 13:47] gptshubham595 opened #1135 "Found error in read mode it stops working if one does this"
While testing found error that read mode stops working if we once enable  Enable bottom Toolbar once even after disabling read mode not working

Video link :
[KIWIX ISSUE READ MODE:](https://vimeo.com/326815036)

(uploaded video link as in gif sound is not present and we cant upload video direct here)

[2019-03-27 13:57] gptshubham595 commented on #1128
Do have a look on readme file on how to build the app and do try delete .gradle , .idea and try rebuilding it also do check Build variants to kiwix debug

[2019-03-27 13:59] VishalBhosale5 commented on #949
@iadeelzafar  then why it is open?

[2019-03-27 14:25] gptshubham595 commented on #1126
like if I downloaded wikitionary  and after deleting that it should be closed and we should be redirected to main page instead even after deleting that file is open and stored in our cache

[2019-03-27 15:52] julianharty opened #1136 "Add Peer-to-peer sharing"
Google announced they're adding support for peer-to-peer installs and file transfers. Perhaps we can ways to take advantage of what they're providing to help our users install Kiwix, Custom Apps (such as WikiMed), and ZIM files?

Offline peer sharing of app and contents
https://android-developers.googleblog.com/2018/10/offline-p2p-installs-beta.html

Google recommends their own app [Files By Googl

[2019-03-27 15:56] mhutti1 commented on #1131
Could you please format correctly.

[2019-03-27 15:56] ShankarNara commented on #1129
@gptshubham595  I have tried everything you had mentioned , but nothing seems to work

I am not able to chose the build variant (the option isn't highlighted)
the build.gradle file inside has problems in multiple import statements

![Screenshot from 2019-03-27 21-21-02](https://user-images.githubusercontent.com/37106839/55091476-e8c5a080-50d6-11e9-99bb-7499e0d8ce56.png)

There also seems to be 2 d

[2019-03-27 16:00] mhutti1 commented on #1126
Do you have a gif/video of this?

[2019-03-27 16:01] gptshubham595 commented on #1131
wait let me send you the old/earlier screenshot

[2019-03-27 16:02] mhutti1 commented on #1129
Empty? It shouldn't be empty. Can you screenshot the build variant list?

[2019-03-27 16:09] gptshubham595 commented on #1126
Yes wait sending the link
of video

[2019-03-27 16:12] gptshubham595 commented on #1126
[EVEN in cache it remains there](https://vimeo.com/326856188)

[2019-03-27 16:17] ShankarNara commented on #1129
the build.gradle file outside the app folder
![Screenshot from 2019-03-27 21-44-34](https://user-images.githubusercontent.com/37106839/55093068-b9fcf980-50d9-11e9-99ff-7ae4d61365f8.png)

The build.gradle file inside the app folder
![Screenshot from 2019-03-27 21-45-05](https://user-images.githubusercontent.com/37106839/55093104-c5e8bb80-50d9-11e9-8b39-55c31c2cdf90.png)

Build->select build variant

[2019-03-27 16:18] gptshubham595 commented on #1122
But it will be a goog enhancement (By the we are working on improving user experience )

[2019-03-27 16:20] Popolechien commented on #1136
Agree. I know apk sharing is another order but this seems related to #616

[2019-03-27 21:07] mhutti1 commented on #865
@julianharty I have made the framework changes and submitted a pr to change the default build #1137 to test this. It works and can be seen in Auto Test 2282 on the Kiwix project on testdroid. As mentioned this breaks debugging so I will try to configure this option on the fly to use debug locally and coverage on travis.

[2019-03-27 21:24] mhutti1 commented on #1136
Certainly related. Might be useful for embedded ZIMS/ custom apps if it correctly transfers expansion files.

[2019-03-28 07:37] siddharth2010 commented on #949
@VishalBhosale5, A PR has already been made for this issue and is ready to be merged.

[2019-03-28 08:32] julianharty commented on #865
@mhutti1 Excellent, thank you. I can see the `output-files.zip` has been generated and contains `coverage.ec` 👍

From what I understand this file needs to be processed together with the intermediate build files (I don't yet know if the coverage report is generated from the source files, the class files, or a mix) if the coverage report is to be accurate. Anyway, we're at least one step closer :)

[2019-03-29 04:00] sayakdutta opened #1138 "Creating an application built over the kiwix app that can browse the zim files hosted in another device."
This is an important feature that can improve offline internet access by large amounts.In this context I have created a proposal that emphasizes on the use of NSD APIs to achieve this connectivity.Any suggestive or helpful criticism is welcome.@mhutti1 what do you think of this proposal?
[gsoc.pdf](https://github.com/kiwix/kiwix-android/files/3021076/gsoc.pdf)

[2019-03-29 05:43] ShankarNara commented on #1129
I am actually lost now
Nothing in stack overflow seems to be working
To your knowledge is there anything else left to try?

Thank you for your time

On Wed, 27 Mar 2019 at 21:32, Isaac Hutt <notifications@github.com> wrote:

[2019-03-29 08:01] gptshubham595 commented on #1128
Use butterknife 10.1.0

[2019-03-29 15:10] gptshubham595 commented on #1128
Thank you resolved

[2019-03-29 15:44] sayakdutta commented on #1138
Does anyone think that there is a better solution to solving this problem in Android without internet services?

[2019-03-30 07:14] NitishGadangi commented on #1129
I am also facing the same issue, someone please guide me on how to import the project in Android studio properly

[2019-03-30 11:19] mhutti1 commented on #1122
Yes but it adds a lot of complexity for an offline app. I am going to close this for now.

[2019-03-30 11:19] #1122 closed

[2019-03-30 11:22] mhutti1 commented on #1138
The current plan is to use a simple web browser as a potential client with the content hosted on a dedicated app. I don't see why we couldn't have a specific client app but it seems a bit unnecessary.

[2019-03-30 11:23] mhutti1 commented on #1129
Make sure you are using the latest version of android studio and you are importing the project from its root. If that doesn't work try ./gradlew build and report what the output from that is.

[2019-03-30 12:56] sayakdutta commented on #1138
@mhutti1 why should we separately develop a hosting app for some device and web browsers for others.Don't you think that we could integrate both services into a single app so that even client devices connected over the same network could save certain wiki pages and host them.In this way we can reduce the load on the hosting device.My proposal aims on implementing that.If you think I am wrong,I am

[2019-03-30 16:50] NitishGadangi commented on #1129
![image](https://user-images.githubusercontent.com/29014716/55279024-a2bc4700-5339-11e9-8ff7-f9ef97483f6f.png)

<br>
A problem occurred evaluating project ':app'.

<br>
<br>
This is the error that we are facing

[2019-03-30 20:05] mhutti1 commented on #1138
Because we wan't users without internet connection to be able to piggy back of a single user who has downloaded our app and content.

[2019-03-30 20:14] #1069 closed

[2019-03-30 20:18] mhutti1 commented on #1129
I think the issue is that you created a build.gradle file in the outer directory. This shouldn't be there. You should be using the build.gradle.kts delete it and reimport

[2019-03-30 20:35] #1040 closed

[2019-03-30 20:51] mhutti1 commented on #1129
Updating our gradlew wrapper version to 5.2 should hopefully smooth the process a bit.

[2019-03-30 21:01] #1062 closed

[2019-03-31 07:41] kelson42 commented on #1128
@abdulwd Would you be able to have a look to this please? The ticket is unclear to me and it seems there is already a PR... but not sure we have a bug here at all.

[2019-03-31 07:47] gptrohit commented on #1128
@gptshubham595 ok wait trying all those

[2019-03-31 08:09] gptrohit commented on #1128
@gptshubham595 thanks it resolved

[2019-03-31 08:20] kelson42 commented on #1128
@gptrohit @gptshubham595 @abdulwd What about the PR #1139?

[2019-03-31 08:32] gptshubham595 commented on #1128
I just updated the versions

And saw that he was reporting error related to butterknife version  which is written 8.8.1 hopefully he would be using old version

So, and also it worked for him i think

[2019-03-31 10:07] gptrohit commented on #1128
Yes on updating butterknife version it resolved mines thankyou @gptshubham595

@kelson42

[2019-03-31 13:46] sayakdutta commented on #1138
No,I mean web browsers would require local IP address of the host which is dynamic and changes everytime connection is timed out,lost or a new connection is established.It would be tedious to find out the IP address and fix it manually everytime.

[2019-03-31 14:08] ShankarNara commented on #1129
I tried deleting the build.gradle in the outer directory .
But it just gets created again

I am continuously getting this "Could not get unknown property
'androidGradlePluginVersion'" error no matter what I do.

On Sun, 31 Mar 2019 at 02:21, Isaac Hutt <notifications@github.com> wrote:

[2019-03-31 14:14] kelson42 commented on #1116
@mhutti1 Yes, sounds urgent, considering the number of youg people lost at their first compilation attempt.

[2019-03-31 14:21] #949 closed

[2019-03-31 14:24] NitishGadangi commented on #1129
So I finally build the project successfully
Here is what I did..
1. first delete .idea folder
2. in the root folder delete the automatically created build.gradle file and rename build.gradle.kts file to build.gradle
3. in build.gradle file remove the last four line from tasks.create line and save
4. Now select import in android studio and select the folder
5. After completion of gradle build and i

[2019-03-31 14:27] gptshubham595 commented on #1129
Same thing  i said 😅

[2019-03-31 15:05] ShankarNara commented on #1129
Hey Nitish
I tried exactly what you told , Did you get any error like
org.jetbrains.plugins.gradle.tooling.util.ModuleComponentIdentifierImpl.getModuleIdentifier()Lorg/gradle/api/artifacts/ModuleIdentifier;

On Sun, 31 Mar 2019 at 19:57, Shubham gupta Ggps <notifications@github.com>
wrote:

[2019-03-31 15:15] NitishGadangi commented on #1129
No I didn't got any error like that except few warnings,
Which doesn't cause any issues actually

[2019-03-31 16:03] #1128 closed

[2019-04-02 22:47] mhutti1 commented on #1138
Well it can be displayed easilly in the app. It also means that the solution is "turn up and go"

[2019-04-02 22:49] mhutti1 commented on #1129
If you can't build then I suggest recloning with a new directory. It seems there is now a fix so I am closing this.

[2019-04-02 22:49] #1129 closed

[2019-04-03 10:12] gptshubham595 opened #1142 "Feature Enhancement:Onscreen Translation"
Feature enhancement for on screen translation the text

Like most of the types are available in English so  while adding a feature on menu bar to  translate the page on desired selected language using Google Translator api

[2019-04-03 10:55] gptshubham595 opened #1143 "Feature enhancement adding bookmark button, as in new version it is not available"
New version adding bookmark button is not available
![Screenshot_2019-04-03-16-24-07-48](https://user-images.githubusercontent.com/24877361/55473749-135eae80-562d-11e9-93a9-b87faad316dd.png)
![Screenshot_2019-04-03-16-24-10-55](https://user-images.githubusercontent.com/24877361/55473771-16f23580-562d-11e9-82cc-1c1b99afdb16.png)
![Screenshot_2019-04-03-16-24-16-56](https://user-images.githubusercon

[2019-04-03 11:03] gptshubham595 commented on #1142
Like this
![Screenshot_2019-04-03-16-32-28-76](https://user-images.githubusercontent.com/24877361/55474192-2e7dee00-562e-11e9-8e91-ea53fcaabb04.png)

[2019-04-03 11:06] gptshubham595 commented on #1142
![ezgif-3-acae893458f9](https://user-images.githubusercontent.com/24877361/55474360-8c123a80-562e-11e9-8498-7218b0999197.gif)

[2019-04-03 12:37] gptshubham595 commented on #1142
@mhutti1  @abdulwd  @kelson42  please see this

[2019-04-03 13:50] gptshubham595 commented on #1143
@mhutti1 @abdulwd

[2019-04-03 14:23] Raghav-intrigue opened #1144 "Enhancement: The current "Online" ZIM list always downloaded"
**Checklist for requesting a feature:**
- Check the issue tracker. The feature you are requesting may have already been requested. [✓]
- Check if the feature does not exists on the latest developers version. [✓]

**Is your feature request related to a problem? Please describe.**
1. The "Online" ZIM list is always downloaded whenever the library activity is opened.
2. The full list (instead of only

[2019-04-03 14:24] kelson42 commented on #1144
We have meanwhile an OPDS end-point https://wiki.kiwix.org/wiki/OPDS. This should be used instead of the XML file.

[2019-04-03 18:45] mhutti1 commented on #1143
I think this is a duplicate of https://github.com/kiwix/kiwix-android/issues/973

[2019-04-03 18:45] #1143 closed

[2019-04-03 18:46] mhutti1 commented on #1142
This can already be done by using the Google translate button in the action context menu.

[2019-04-03 18:46] #1142 closed

[2019-04-03 18:48] mhutti1 commented on #1144
Relates to #57

[2019-04-03 19:17] Raghav-intrigue commented on #1144
I am referring to the download and update of this list.
![Screenshot_2019-04-02-00-42-43-10](https://user-images.githubusercontent.com/12858001/55506454-14b2ca00-5673-11e9-8240-3acf62b65da8.png)
 @mhutti1.
Not updates to the currently active ZIM file as mentioned in #57 .

[2019-04-03 19:30] Raghav-intrigue commented on #1144
Although since the OPDS backend is ready (https://github.com/kiwix/kiwix-android/issues/57#issuecomment-396044823) we could implement it on the app.
Even considering a conservative amount of usage, downloading a 6mb file multiple times a session every other day amounts to quite a lot. 6mb * 2 * 366 / 2 = ~2gb.

[2019-04-03 19:45] Raghav-intrigue commented on #1144
I was thinking, for this solution:

Since the library.xml file is essentially flat, we can just stream the XML file rather than downloading it fully. We can parse on the go and display the result.
This can be performed using XmlPullParser (currently used), so no extra dependencies needed.

[2019-04-04 03:06] sonusourav commented on #1144
Duplicate of #992 . Related to #683

[2019-04-04 10:32] gptshubham595 commented on #1143
Earlier it was there but in new version of kiwix after the tabs feature update bookmark feature is not there

[2019-04-04 12:40] Raghav-intrigue commented on #1144
Both these combined lead to a long wait time, high data usage and unnecessary server load.

is a duplicate of #683

is new, as far as I know.

I am not aware of the approach in this situation @kelson42 @mhutti1 .
I would like to be assigned to this.

For now, a caching system can be implemented very easily that would only download the library when the date at http://download.kiwix.org/library/libr

[2019-04-04 12:57] #1041 closed

[2019-04-04 12:58] #895 closed

[2019-04-06 06:14] Wajahat-Khan opened #1145 "Night Mode Bug and Improvement in UI"
When I change the night mode, I see the bug in the settings.
Also won't it be more better UI if we change the color to gray?

Thanks

[2019-04-06 06:17] Wajahat-Khan opened #1146 "Quick Review of App"
As, kiwix has to download a large data for it to be available for users, can we add a feature that it shows a quick demo or review of the data before downloading, so that it can help users to check if they are getting what they really want.

[2019-04-06 12:22] sonusourav commented on #1146
Duplicate of #1087 . Always check if the issue you are opening is already opened.

[2019-04-07 13:16] gptshubham595 commented on #1145
#1119
Duplicate

[2019-04-07 13:17] #1146 closed

[2019-04-07 13:17] mhutti1 commented on #1145
Please provide much more detail when opening a pull request.

[2019-04-07 13:17] #1145 closed

[2019-04-07 14:25] gptshubham595 opened #1150 "Feature Ehancement: Convert Material Design png icons into vector assets"
Should i Work on this
Most image formats (png, jpeg, bmp, gif, webp etc) are raster which means they describe the image as a fixed grid of pixels.
Using Vector assets will have benefits like
Sharp/Vector images Resize gracefully
Small
Dynamic

[2019-04-07 15:02] gptshubham595 opened #1151 "FeatureEnhancement: Adding Page curl option on any page intent transition"
Should i work on this
![ezgif-3-58c9fcc33469](https://user-images.githubusercontent.com/24877361/55685466-37472a80-5974-11e9-8906-6e8dfdcd3027.gif)

[2019-04-07 15:27] sonusourav commented on #1151
@gptshubham595  In Kiwix, there isn't any page, rather everything is displayed in webview as one single file. So, I don't think this animation could be used here.

[2019-04-07 15:28] gptshubham595 commented on #1151
on intent to a specific page aniamtion

[2019-04-07 15:33] gptshubham595 commented on #1151
to view transition inside webview
we can use this
`private  void animate(final WebView view){
Animation anim= AnimationUtils.loadAnimation(getBaseContext(),android.R.anim.page_turn_effect);
view.startAnimation(anim);
}`

[2019-04-07 15:52] gptshubham595 opened #1152 "BUG:Error on Rotation of screen on new tabs feature"
on turninig screen rotation and once going back this shows unknow rotations and any tabs opened gets it rotation changed on random

[2019-04-07 16:00] sonusourav commented on #1151
What I mean is the whole file is like one page, and there are no pages inside a file so this animation could not be used.

[2019-04-07 16:06] gptshubham595 commented on #1152
https://vimeo.com/328952168

[2019-04-07 17:02] gptshubham595 commented on #1152
@mhutti1 @abdulwd @kelson42 @sonusourav

[2019-04-07 19:14] sonusourav commented on #1152
Duplicate of #948 . If you want you can work on this, however.

[2019-04-07 19:21] ChandanNaik999 commented on #684
I would like to take upon this issue as no one is working on it.

[2019-04-07 21:41] ChandanNaik999 commented on #547
@abdulwd  and @siddharth2010, Since it has been a long time with not much progress in this issue I would like to take on this project.

[2019-04-07 21:58] ChandanNaik999 commented on #1121
@MidoHosny could you give the full details of the issue...like the android version and the version of the project that you are using

[2019-04-07 22:25] ChandanNaik999 commented on #975
@siddharth2010  for me the app crashes as soon as I stop downloading the app in Landscape mode

The error is:
2019-04-08 03:49:28.550 14337-14398/org.kiwix.kiwixmobile E/kiwix: Exception reading article A/Main_Page.html from zim file
    java.io.IOException: write failed: EPIPE (Broken pipe)
        at libcore.io.IoBridge.write(IoBridge.java:501)
        at java.io.FileOutputStream.write(FileOutpu

[2019-04-07 22:42] ChandanNaik999 opened #1154 "Enhancement of the UI of the card items (library_item.xml)"
**Is your feature request related to a problem? Please describe.**
The ui of the card items of the resources (library_item.xml) are not well developed.

**Describe the solution you'd like**
I would like to improve the layout of the library_item

**Additional context**
This is how I designed the UI to be:
![KiwixMobileActivity – 1](https://user-images.githubusercontent.com/31248010/55690831-23231d8

[2019-04-07 22:43] ChandanNaik999 commented on #1154
@siddharth2010 , @abdulwd , @mhutti1 Shall I take on this project?

[2019-04-08 05:40] siddharth2010 commented on #547
Sure, go Ahead!

[2019-04-08 12:33] gptshubham595 opened #1157 "Bug:When download using wifi then pause the download and then use mobile data and resume download ,the app crashes with no download"
Bug:When download using wifi then pause the download and then use mobile data and resume download app crashes with no download

[2019-04-08 12:38] gptshubham595 opened #1158 "BUG:Cannot open two or more book simultaneously + ALSO on opening another book history of previous gets deleted"
We are delivering offline internet content and while doing that person who is using will definetely need more info maybe like if he is reading stuff about biology inventions then he may need wikitionary,wikipedia(say) simultaneouly
Like if a person is viewing Some Book and want to find realted stuff in wikipedia then on opening wikipedia fom downloaded content all the tabs he opened earlier goes o

[2019-04-08 13:48] sonusourav commented on #1158
@gptshubham595  Related to #892 .
Actually, this is because Kiwix does not have multizim support as of now. It is a part of big update and will be soon integrated into Kiwix as is said in earlier comments of @mhutti1 .

[2019-04-08 13:50] sonusourav commented on #1157
Duplicate of #883 .
You should check earlier tickets before opening new.

[2019-04-08 13:52] gptshubham595 commented on #1157
Oh!! I wll do care next time

[2019-04-08 13:52] #1157 closed

[2019-04-08 13:53] #1158 closed

[2019-04-08 19:01] sherlockbeard opened #1159 "Execution failed for task ':kiwixlib:verifyReleaseResources'."
Error while running gradlew file

FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':kiwixlib:verifyReleaseResources'.

  This should not happen under normal circumstances, please file an issue if it does.

[2019-04-10 13:02] CodetoInvent commented on #975
Hello I am Abdul Malik @codetoinvent ,
I have fixed the above bug you have mention in PR #1161 and #1162
please check it out @siddharth2010 @mhutti1 and Accept my PR
Thanks

[2019-04-11 15:19] rajbohra10 commented on #1014
![Screenshot_2019-04-11-20-25-52-34](https://user-images.githubusercontent.com/39001878/55968996-b2714f00-5c9a-11e9-8340-34f2084de991.png)

@sonusourav @kelson42 The images are not loading even when the device is connected to kiwix-server. I would like to work on this bug, is anyone else working on it?

[2019-04-11 21:51] rajbohra10 commented on #1159
@sherlockbeard Are you getting this error for **KiwixDebug**  build variant?

[2019-04-11 22:04] CodetoInvent opened #1163 "App crash on Library Fragment [online tab] while refreshing and clicking List Items Simultaneously"
Fix : App crash on Library Fragment [online tab] while refreshing and clicking List Items Simultaneously

steps to reproduce 1: [with refreshing list ]
step 1: open ListFragment [ Online Tab ] where you will find the list of ZIM files
step 2: search let say "Math" then refresh and click list simultaneously app will crash

step to reproduce 2: [without refreshing the list ]
step 1:open ListFragment

[2019-04-11 22:08] CodetoInvent commented on #1163
I have fixed this issue at PR #1155 . sorry about first fixing and then opening the ticket

[2019-04-11 22:22] CodetoInvent opened #1164 "Zim File List Item Loading Problem in online tab [ LibraryFragment ]"
Zim File List Item Loading Problem in online tab [ LibraryFragment ]

Short Explanation : we have seen that sometimes or many times online tab will not load the list item within first refresh.
Due to this we are refreshing the list again and again. It is consuming our data.
we need to load the list of books in online tab within its first refresh.

whenever we not see the list view within the first

[2019-04-11 22:45] iadeelzafar commented on #1164
Kindly use the provided ticket template.

[2019-04-14 13:19] ChandanNaik999 commented on #684
can I take this issue?

[2019-04-14 13:21] prajurock commented on #684
Yes I think.

[2019-04-14 17:22] iadeelzafar opened #1165 "New external storage disappears on screen rotation"
**Describe the bug**
Create a new external storage and it disappears on screen rotation.

**Expected behavior**
State should be saved.

**Steps to reproduce the behavior:**
1.  Go to settings>Storage>External.
2. Click the '+' Button.
3. Rotate the screen.

You will notice that newly created external storage disappears

**Screenshots**
<img src="https://user-images.githubusercontent.com/36811908/5

[2019-04-14 17:27] iadeelzafar commented on #1165
@mhutti1 Another closely related bug is that If user chooses this 0 bytes storage. Same bug as shown reappears when user tries to edit it(The 0 byte external storage is not shown in the alert dialog). To resolve this, I think we should not allow the user to select a 0 byte storage.
<img src="https://user-images.githubusercontent.com/36811908/56096629-2f533180-5f04-11e9-8c66-7588172d8f90.gif" heigh

[2019-04-15 20:34] mhutti1 commented on #1150
What is the minimum SDK for vectors?

[2019-04-15 20:34] mhutti1 commented on #1151
As we don't have a concept of pages this would look really gimicky.

[2019-04-15 20:34] #1151 closed

[2019-04-15 20:34] #1152 closed

[2019-04-15 20:35] mhutti1 commented on #1154
We are looking at solving this in a variety of ways. This ticket on its own isn't needed.

[2019-04-15 20:35] #1154 closed

[2019-04-19 19:07] kelson42 commented on #896
@metal450 Sorry for the lack of feedback. I have put the ticket in 2.5. I suspect a problem with the core library. We will see. Thank you for your patience.

[2019-04-19 19:15] metal450 commented on #896
Sounds good, thanks again for following up.

[2019-04-23 13:26] kelson42 commented on #648
Additonal info from @macgills

[2019-04-30 08:45] #648 closed

[2019-04-30 13:45] int-ua opened #1169 "Switching wikis in Get Content does nothing"
**Describe the bug**
Selecting different wiki in Get Content does not change selected wiki.

**Steps to reproduce the behavior:**
1. Have at least two wikis downloaded. In my case the list is RationalWiki, 3 Wikipedias (English No Pictures, English Simple No Pictures, Ukrainian No Pictures), 2 Wiktionaries (English No Pictures, Ukrainian No Pictures).
2. Click on right menu > Get Content
3. Select

[2019-04-30 14:08] kelson42 commented on #1169
@jetownfeve21 May you please help @ int-ua to understand what is going on?

[2019-04-30 14:32] int-ua commented on #1169
Looks like it's changed only after throbber disappears. But that takes about 30 seconds, maybe more.

[2019-05-04 18:17] ciconi commented on #1169
Same here ... problem appears only if you try to change the content file before all files are reindexed (I have ~180GB of ZIMs so I wait around 20s everytime I choose "Get content"). Would be nice if the zim-file-refresh is only done if you drag the list down.

[2019-05-05 15:04] kelson42 commented on #1169
Reintroduce comment by Ciconi:

Same here ... problem appears only if you try to change the content file before all files are reindexed (I have ~180GB of ZIMs so I wait around 20s everytime I choose "Get content"). Would be nice if the zim-file-refresh is only done if you drag the list down.

[2019-05-10 08:24] macgills opened #1171 "Migrate Database from Squidb to Room/Realm/Objectbox"
**Is your feature request related to a problem? Please describe.**
Problem Squidb has not received support for at least a year and it plays very poorly with kotlin.

**Describe the solution you'd like**
A migration to Room which is a part of Android Architecture components or other solutions that more easily expose reactive data will make future work easier and capable of being fully in kotlin

[2019-05-10 21:10] mhutti1 commented on #1171
This sounds sane.

[2019-05-11 04:22] kelson42 commented on #1171
Looks good

[2019-05-12 07:44] SubhrajyotiSen commented on #1150
Vector Drawables are supported from API 7 (Android 2.3) by using Compat libraries
https://developer.android.com/guide/topics/graphics/vector-drawable-resources

[2019-05-15 03:02] soloturn commented on #1171
wow, there is a lot going on now *wonder* difficult to see any handle to help out @macgills , @kelson42 , @mhutti1 . all seems to be big chunks now, no small increments any more. you'd have a little outline or plan how the next release should go out which supports people to get an idea how they can help?

[2019-05-15 05:10] kelson42 commented on #1171
@soloturn This is true, we plan to make a 2.5 release next week. Goal is to fix the bugs around the downloader by using Android downlaodManager as download solution.

[2019-05-18 12:59] mhutti1 commented on #1163
Closing as this should be fixed by 2.5

[2019-05-18 12:59] #1163 closed

[2019-05-18 13:05] #1135 closed

[2019-05-18 13:42] mhutti1 commented on #1164
This should be fixed by 2.5

[2019-05-18 13:42] #1164 closed

[2019-05-18 14:27] #1056 closed

[2019-05-18 14:52] mhutti1 commented on #1081
I don't think this is needed.

[2019-05-18 14:52] #1081 closed

[2019-05-18 16:06] #933 closed

[2019-05-18 16:49] soloturn commented on #947
@iadeelzafar any news here?

[2019-05-18 16:50] soloturn commented on #1165
this is related to #1171 ?

[2019-05-18 16:53] soloturn commented on #1150
@gptshubham595 yes please ...

[2019-05-19 10:11] mhutti1 commented on #1165
I don't think so.

[2019-05-20 14:56] macgills opened #1172 "Add armeabi-v7a support in Kiwixlib"
**Is your feature request related to a problem? Please describe.**
With the addition of Objectbox to the project there has been a complication to the build process.
ObjectBox supports the following architectures:

- armeabi-v7a
- arm64-v8a
- x86
- x86_64

whereas Kiwixlib supports the following architectures:

- mips
- mips64
- armeabi
- arm64-v8a
- x86
- x86_64

For both these libraries to work t

[2019-05-20 15:05] kelson42 commented on #1172
@macgills Thank you for the bug report. IMO this is going to posponed the whole release by at least 2 weeks and will need that you deal with the last version of the libKiwix - which means changing a few things probably in the code. I will move the ticket in the kiwix-lib repo.

[2019-05-20 15:07] macgills commented on #1150
It should be noted vectors are recommended for uncomplicated images and there are cases where supplying pngs ,or better yet WebPs, is the better solution https://developer.android.com/studio/write/vector-asset-studio#when

[2019-05-21 09:48] macgills opened #1173 "Do not filter out files over 4GB when storage is fat32, Grey them out instead"
**Is your feature request related to a problem? Please describe.**
On 2.5 users cannot see files over 4gb if their selected storage is formatted as fat32

**Describe the solution you'd like**
Have the files still be in the list but greyed out and unclickable

**Describe alternatives you've considered**
A dialog warning users that they will no longer be able to see 4gb files when they switch storag

[2019-05-22 11:59] kelson42 opened #1174 "Introduce Unit testing"
* Choose a unit test framework
* Introduce it to the code base
* Make a few unit tests to demo the framework
* Secure the code coverage works fine with the unit tests, cf  #1175
* Introduce the unit testing in the CI (for each PR, before integration/UI automated tests)
* Document how to make new unit tests (if not obvious)

[2019-05-22 12:02] kelson42 opened #1175 "Automated code coverage"
* Evaluate current status with @julianharty and @mhutti1
* Choose a technology stack (measurement, transfers, display, ...)
* Measure code coverage for all automated tests (unit, integration, UI)
* Run it every night
* Publish (consolidate results) publicly
* Document the process (if needed) on the kiwix-android wiki

See also #865 #836

[2019-05-23 11:39] kelson42 commented on #886
@mhutti1 @julianharty What is the status of this ticket?

[2019-05-23 15:37] iadeelzafar commented on #947
@soloturn no. I'm focusing on some other things rn.

[2019-05-27 10:50] macgills commented on #263
Fixed in #1170

[2019-05-27 10:50] #263 closed

[2019-05-27 10:50] macgills commented on #860
Fixed in #1170

[2019-05-27 10:50] #860 closed

[2019-05-27 10:51] macgills commented on #1007
Fixed in #1170

[2019-05-27 10:51] #1007 closed

[2019-05-27 10:51] macgills commented on #990
Fixed in #1170

[2019-05-27 10:51] #990 closed

[2019-05-27 10:51] macgills commented on #987
Fixed in #1170

[2019-05-27 10:51] #987 closed

[2019-05-27 10:52] macgills commented on #975
Fixed in #1170

[2019-05-27 10:52] #975 closed

[2019-05-27 10:53] macgills commented on #988
Added in #1170

[2019-05-27 10:53] #988 closed

[2019-05-27 10:53] macgills commented on #907
Fixed in #1170

[2019-05-27 10:53] #907 closed

[2019-05-27 10:54] macgills commented on #889
Fixed in #1170

[2019-05-27 10:54] #889 closed

[2019-05-27 10:54] macgills commented on #883
Fixed in #1170

[2019-05-27 10:54] #883 closed

[2019-05-27 10:55] macgills commented on #830
Fixed in #1170

[2019-05-27 10:55] #830 closed

[2019-05-27 10:55] macgills commented on #826
Fixed in #1170

[2019-05-27 10:55] #826 closed

[2019-05-27 10:56] macgills commented on #703
Fixed in #1170

[2019-05-27 10:56] #703 closed

[2019-05-27 10:56] macgills commented on #712
Fixed in #1170

[2019-05-27 10:56] #712 closed

[2019-05-27 10:57] macgills commented on #668
Fixed in #1170

[2019-05-27 10:57] #668 closed

[2019-05-27 10:58] macgills commented on #658
Fixed in #1170

[2019-05-27 10:58] #658 closed

[2019-05-27 10:59] macgills commented on #340
Fixed in #1170

[2019-05-27 10:59] #340 closed

[2019-05-27 11:00] macgills commented on #343
Fixed in #1170

[2019-05-27 11:00] #343 closed

[2019-05-27 11:01] macgills commented on #597
Fixed in #1170

[2019-05-27 11:01] #597 closed

[2019-05-27 11:04] macgills commented on #1171
Fixed in #1170

[2019-05-27 11:04] #1171 closed

[2019-05-27 22:01] mhutti1 commented on #886
I think @macgills had been working on a fix.

[2019-05-28 08:39] macgills commented on #886
As part of #1175 I deleted the coverage buildType and enabled coverage on the debug build so I would say the ticket status is obsolete @kelson42

[2019-05-28 08:57] kelson42 commented on #886
@macgills Nice, do you have link to a documentation (CONTRIBUTING.md) where it is explained how it works now? So @mhutti1 @julianharty and other developers might be able to say if they are OK?

[2019-05-28 12:55] julianharty opened #1180 "Misbehaviours in the PHeT app: JavaScript error reported loading list of simulations when app starts"
**Describe the bug**
This bug appeared when I was evaluating other strange behaviours where content doesn't display in the app. (I'll add a link to that issue once I've written it up.)

I restarted the PHeT app, it was taking a few seconds to render the main list of simulations. I was running `adb logcat` and noticed 100's of line of the following text:
`chromium: [INFO:CONSOLE(22)] "Uncaught Type

[2019-05-28 13:05] julianharty opened #1181 "Misbehaviours in the PHeT app: Contents don't always render"
**Describe the bug**
The bug occurs in two different modes from what I can tell, either:

1. The loading splash screen remains indefinitely (20+ seconds), or
2. No content is rendered at all, generally this would mean the main area of the screen is black (not the menus, etc, they're still visible).

**Expected behavior**
Content should always render correctly.

**Steps to reproduce the behavior:**

[2019-05-30 08:07] macgills commented on #1174
Addressed by #1182

[2019-05-30 08:07] #1174 closed

[2019-05-31 21:12] iadeelzafar opened #1186 "Data not disabled when turning on hotspot"
**Is your feature request related to a problem? Please describe.**
Since, we need to enable wifi hotspot for other devices to connect to. For example, a teacher is enabling his/her wifi hotspot and wants to share the ZIM Files with a class of students. She wouldn't want a class full of students to use the data.

**Describe the solution you'd like**
* User should be sent to the data usage summary s

[2019-05-31 21:24] iadeelzafar opened #1187 "Wifi-Hotspot not working on Devices>=Oreo"
**Describe the bug**
Wifi-Hotspot not working on Devices>=Oreo.

**Expected behavior**
Wifi hotspot should be turned on.

**Steps to reproduce the behavior:**
1. go to menu, click on wifi hotspot.
2. app will crash.

**Environment**
- Version of Kiwix Android : 2.4
- Device : Oppo a3s
- OS version : 8.1.0

**Logs**
[code]
**Note**:
This ticket is related to the hotspot app project. Here's the [bra

[2019-06-02 16:48] iadeelzafar opened #1188 "Show local hotspot details for devices>=Oreo"
**Is your feature request related to a problem? Please describe.**
For devices>=Oreo, a local hotspot is created by the android and it's credentials are also created by android itself.
For example:
SSID: ```AndroidShare_3100```
password: ```08d5e120a736 ```
The user doesn't knows what are the credentials of the local hotspot created. Also, these are very hard to remember.

**Describe the solution

[2019-06-02 16:51] iadeelzafar opened #1189 "Disable data warning appearing when turning off hotspot"
**Describe the bug**
Disable data warning appearing when turning off hotspot.

**Expected behavior**
It should appear only when turning the hotspot on.

**Steps to reproduce the behavior:**
1. Turn on hotspot using the app.
2. Turn on data.
3. Try to turn off hotspot using the app.
4. You'll see the warning dialog.

[2019-06-02 17:51] iadeelzafar opened #1190 "Hotspot turning on even irrespective of data warning"
**Describe the bug**
Hotspot turning on even irrespective of data warning and without listening to user's decision.

**Expected behavior**
After the mobile data dialog, hotspot should be turned on only if user is comfortable with it and clicks "SKIP" (negative button). Otherwise it should take the user to the mobile data summary settings to disable it.

[2019-06-04 11:01] kelson42 commented on #643
No feedback here, but all of this should work fine with 2.5 (to be release soon). Please reopen if not.

[2019-06-04 11:01] #643 closed

[2019-06-04 16:53] iadeelzafar commented on #259
I've cloned some sample apps that use [NanoHttpd](https://github.com/NanoHttpd/nanohttpd) but they're unable to host the server on the device using wifi hotspot. The http server can only be hosted on the android device when it's connected to a wifi network.
After an android device has hosted a wireless access point, how can we host a webserver on it? Is it even possible? I tried to find a solution

[2019-06-04 17:21] iadeelzafar commented on #259
This is the closest resource that I've found relevant to our use case.
https://circuits4you.com/2016/12/16/esp8266-web-server-ap/

[2019-06-06 09:30] macgills opened #1193 "Replace Squidb on 3.0"
**Is your feature request related to a problem? Please describe.**
The books/languages databases have already been migrated for 2.5 and now all the tables should be completely migrated.

**Describe the solution you'd like**
Use objectbox to replace squidb

[2019-06-07 08:54] macgills commented on #259
I may have a fundamental misunderstanding of the problem here but we want a kiwix app user who has already downloaded files to easily be able to share them with another kiwix app user? https://developer.android.com/training/connect-devices-wirelessly/wifi-direct if so then this seems like the avenue we would want to take

[2019-06-07 09:16] iadeelzafar commented on #259
@macgills no, it's not that. Although, I've found and implemented the solution. Thanks anyway!

[2019-06-10 15:24] jhbiggs commented on #684
I'd like to have a look.  Is there a reliable way to reproduce it yet?

[2019-06-10 16:03] kelson42 commented on #684
@jhbiggs Looks like this is not straight to reproduce
@macgills Might that be that this bug is already fixed in 2.5?

[2019-06-11 03:17] jhbiggs commented on #973
I'm creating a pull request to solve this issue.  I hope it meets your standards.

[2019-06-13 09:36] macgills commented on #684
This is already fixed in 2.5. I will close this ticket accordingly

[2019-06-13 09:36] #684 closed

[2019-06-14 08:21] kelson42 commented on #836
@macgills Might that be that you have done all the work to achieve this?

[2019-06-14 08:23] macgills commented on #836
Yes, the pr I just merged addresses this

[2019-06-14 08:24] macgills commented on #1175
Merge of pull request #1176  addresses this issue, closing

[2019-06-14 08:24] #1175 closed

[2019-06-14 08:34] macgills commented on #865
Resolved by #1176 , closing

[2019-06-14 08:34] #865 closed

[2019-06-14 08:36] macgills commented on #836
Resolved by #1176, closing

[2019-06-14 08:36] #836 closed

[2019-06-14 08:52] kelson42 commented on #886
@macgills any update?

[2019-06-14 08:54] kelson42 commented on #110
@mhutti1 @macgills @julianharty Can we close that ticket?

[2019-06-14 09:09] macgills commented on #886
Resolved by #1176 coverage buildtype is deleted along with `testBuildType` so the default behaviour of using debug is preserved, closing

[2019-06-14 09:10] kelson42 commented on #886
@macgills I see nothing in https://github.com/kiwix/kiwix-android/blob/master/CONTRIBUTING.md about all of this? Where is the documentation?

[2019-06-14 09:11] macgills commented on #886
I will add a commit to 2.5 branch now

[2019-06-14 09:21] macgills commented on #110
Right now bitbar is running one device so I think that we should add more as now it is our early warning system for device specific crashes

[2019-06-14 09:24] kelson42 commented on #886
Here is a list of questions which should be IMO in a way or an other answer by the CONTRIBUTING:
* [LOCAL] As a newcomer how to build the app (it should be the default gradle buildtype, was the purpose of the ticket)?
* [LOCAL] What should I expect from this default build/buildtype, what is his name?
* [LOCAL] How to run the unit tests (and how to interpret the results, if this is not obvious)?
*

[2019-06-14 09:36] julianharty commented on #110
I agree with @macgills that we should add several more devices to help increase the chances of catching both device-specific bugs and detecting transient issues that cause the tests to fail - if the tests fail so might the app for end-users. That said, perhaps it'd also be worth enhancing the tests so they detect some of the most relevant failure conditions e.g. download server not available.

[2019-06-14 12:00] kelson42 commented on #29
@mhutti1 @mhutti1 I really wonder about the value of this ticket after so many years. I propose to close it.

[2019-06-14 12:05] kelson42 commented on #63
We meanwhile download things directly from Google web site. We also use now kiwix-build which supports for kiwix-android build only GNU/Linux. We don't plan to support MacOS for Kiwix Android in kiwix-build.

[2019-06-14 12:05] #63 closed

[2019-06-14 12:11] kelson42 commented on #695
We have decided to not split anymore the ZIM files on the device during the download. The reason is that, with the level of information delivered, it is impossible for Kiwix-Android to know how to split files properly. With 2.5 the download of files which are not supported by the fs is not allowed anymore. We will try to propose in the OPDS feed a way to know how to split files, see https://github

[2019-06-14 12:11] #695 closed

[2019-06-14 12:20] kelson42 commented on #303
@julianharty Yes, I would be happy to have test again if that has been fixed.

[2019-06-14 12:21] kelson42 commented on #1116
@mhutti1 @macgills I think you have implemented this already. Closing the ticket.

[2019-06-14 12:28] macgills commented on #886
#1199 added details in contributing.md, closing

[2019-06-14 12:28] #886 closed

[2019-06-14 12:31] kelson42 commented on #303
I have tested with 2.4 and it seems to work fine now. @julianharty Please reopen the ticket if not.

[2019-06-14 12:31] #303 closed

[2019-06-14 12:43] kelson42 commented on #692
@mhutti1 Which build variants are not built in the CI currently?

[2019-06-14 12:49] kelson42 commented on #675
@macgills @mhutti1 I strongly suspect we could close this after 2.5 implementation (fixes) and more particuliary #510?

[2019-06-14 12:51] kelson42 commented on #670
We have removed the "pause" ability in 2.5.

[2019-06-14 12:51] #670 closed

[2019-06-14 12:52] kelson42 commented on #627
@mhutti1 So this ticket is now invalid?

[2019-06-14 12:55] kelson42 commented on #240
This kind of bug have been fixed in 2.5 by @macgills

[2019-06-14 12:55] #240 closed

[2019-06-14 13:10] kelson42 commented on #128
@mhutti1 Hmm, you have fixed that one I believe with the test-gateway. Can we close that ticket?

[2019-06-14 13:11] kelson42 commented on #115
@mhutti1 Considering that testdroid is part of our CI I suspect we have answered that question?

[2019-06-14 13:15] kelson42 commented on #635
This kind of bug should have been fixed with 2.5 by @macgills

[2019-06-14 13:15] #635 closed

[2019-06-14 13:41] kelson42 commented on #735
With 2.4 the ZIM file works, but the problem is that the CSS is broken. This seems to be a problem with Android (I suspect with subpages) as it works fine with kiwix-serve http://library.kiwix.org/3dprinting.stackexchange.com_en_all_2019-01/A/question/11.html

[2019-06-14 14:18] mgautierfr commented on #128
Yes, and this is a good thing.

I'm not sure you ask me what to do. But the thing to do is to make the CI not depending of secret keys.

[2019-06-14 20:08] rashiq commented on #29
We can close this

[2019-06-14 20:08] #29 closed

[2019-06-15 16:14] kelson42 commented on #151
@macgills Reassigning to you as you work on the solution.

[2019-06-15 19:43] kelson42 opened #1200 "Explain branching/merging strategy in CONTRIBUTING.md"
Add a new paragraph "Branching" in `CONTRIBUTING.md`

Following questions should be answered
* What are the "develop", "release" and "master" branches or any other branches?
* How to merge a PR?
* When to do rebase?
* How releases are made? How to deal with many releases in parallel?

[2019-06-16 05:01] kelson42 commented on #128
@mgautierfr This problem has been resolved with https://github.com/kiwix/test-gateway

[2019-06-16 05:01] #128 closed

[2019-06-16 06:32] kelson42 commented on #110
@mhutti1 @macgills @julianharty I don't understand: this ticket is 1 year old and the choice of devices (which is probably the most time intensive work) has been made. Why BitBar has still only one device configured? Where is the documentation explaining how to add/remove a device?

[2019-06-16 15:25] soloturn opened #1201 "enable build.gradle so kotlin files are supported"
to allow any contributor to slowly convert kiwix over to kotlin as decided in #648 adjust build.gradle so kotlin files can be built.

maybe define the best strategy to do so. e.g. "start from app/KiwixApplication.java" and then down the dependency tree"

[2019-06-16 15:44] kelson42 commented on #1201
@soloturn Considering that we have introduced Kotlin with 2.5 and are going to release it next week, I hardly believe that gradle can not deal with Kotlin in 2.5. I would just wait to see 2.5 released and merged forward with current 3.0 development to see if that is really necessary to work on that. ping @macgills

[2019-06-16 16:06] mhutti1 commented on #110
The most recent issues were that we were testing on devices that were taking hours to become available. Ideally we would want to specify a subset of devices say 10 and then take the first 5 we can run on and use those to test so If some arn't available things don't go wrong.

[2019-06-16 16:12] mhutti1 commented on #115
Closing as it is being discussed in #110

[2019-06-16 16:12] #115 closed

[2019-06-16 16:28] mhutti1 commented on #675
I think so

[2019-06-16 16:28] #675 closed

[2019-06-16 16:29] kelson42 commented on #110
@mhutti1 What happens if the chosen devices are not available? Do the CI wait? Is that handle in the CI itself (with a loop) or does testdroid just takes hours to give a feedback?

[2019-06-16 16:31] mhutti1 commented on #627
I mean we could still improve travis' speed but I think that would probably be a separate issue.

[2019-06-16 16:31] #627 closed

[2019-06-16 16:36] kelson42 commented on #627
@mhutti1 I'm not sure about all of this, why the way we used the cache somehow slow down things. Anyway if you think you have an idea how we could speed up the CI (with the cache or not), please open a dedicated ticket. This is an important topic.

[2019-06-16 16:37] kelson42 commented on #1144
I would not invest any more energy on this as using our OPDS backend in place of the `library.xml` will solve the problem.

[2019-06-16 16:52] mhutti1 commented on #627
I don't have any specific ideas at the moment.

[2019-06-16 16:52] mhutti1 commented on #110
We timeout after ~30 mins I think and CI marks it as a failure.

[2019-06-16 16:54] mhutti1 commented on #692
I think I told it to only build kiwixDebug to save time. Ideally we should be building and testing at least kiwixCustomExample as well though.

[2019-06-16 16:56] mhutti1 commented on #1116
I don't think we have, its not a duplicate AFAIK.

[2019-06-16 17:12] Aditya-Sood commented on #1116
I'll have a go at it if that's okay

[2019-06-16 19:01] kelson42 commented on #1116
@mhutti1 The documentation of 2.5 says "debug" is the default, cf. https://github.com/kiwix/kiwix-android/blob/macgills/2.5-kotlin/CONTRIBUTING.md

[2019-06-17 05:03] #1144 closed

[2019-06-17 09:11] macgills commented on #1116
In 2.5 we don't even need to specify it because we are not changing the default behaviour. This is done and will soon enough be propagated to the rest of the project, closing

[2019-06-17 09:16] macgills commented on #692
I agree on the building front, as part of this I would also suggest we delete `mock_network` & `local_download_server`, that way the only command we need run is `assemble` or perhaps `assembleDebug`.
Testing is less important to me as the code is shared, I don't know what meaningful test would arise from it.

[2019-06-17 11:11] macgills commented on #1200
I think I will make a PR onto master because the next time master is getting updated is for 3.0.
Brief template of my answers so we can discuss them here:
Develop is what we branch off of while working on new features, develop is the actively worked on next release of the app.
Release should be ignored, it is a temporary measure that will go away shortly (will not include this in the contrib secti

[2019-06-17 16:57] kelson42 commented on #1121
@macgills We don't have more details, here but I strongly suspect that this bug is not valid anymore as you strongly rewritten that part for 2.5?

[2019-06-17 16:59] macgills commented on #1121
I would believe this to be impossible, closing

[2019-06-17 16:59] #1121 closed

[2019-06-17 17:05] kelson42 commented on #1023
@sonusourav Just out of curiosity: how do select a content without generating an action: open the content or download it? I can not reproduce the problem because of that.

[2019-06-17 17:07] kelson42 commented on #1159
No feedback. I close the ticket.

[2019-06-17 17:07] #1159 closed

[2019-06-17 17:10] kelson42 commented on #821
This bug is not reproduceable and the whole library mgmt has been strongly rewritten in 2.5. I will close the ticket.

[2019-06-17 17:10] #821 closed

[2019-06-17 17:14] kelson42 commented on #117
@mhutti1 @macgills Do we still need that ticket? I think all of this is sorted out meanwhile?

[2019-06-17 17:21] kelson42 opened #1203 "Introduce support of OPDS catalog"
It support is done in the libkiwix. More infos at https://wiki.kiwix.org/wiki/OPDS

[2019-06-17 17:21] kelson42 commented on #683
Closing as #1203 will solve the pb

[2019-06-17 17:21] #683 closed

[2019-06-17 17:26] kelson42 commented on #258
We believe this bug has been fixed in later versions

[2019-06-17 17:26] #258 closed

[2019-06-17 19:11] kelson42 commented on #828
FYI this looks like burmese language, which might have a special font handling in the app. I suspect the Burmese font to be packaged with the app itself.

[2019-06-17 21:23] mhutti1 commented on #1116
I am talking about the default build that is loaded into android studio. This has always been alphabetical in the past. I still don't think this has been fixed. Can you point to me to the gradlew code with the change?

[2019-06-17 21:26] mhutti1 commented on #117
I think it might be nice to flesh this out more but I think test-gateway was the main fix for this.

[2019-06-17 21:26] #117 closed

[2019-06-18 04:51] kelson42 commented on #956
I close that ticket as yes code should be unit tested, we should just do it. We don't need a ticket IMO for each piece of code where this is the case.

[2019-06-18 04:51] #956 closed

[2019-06-18 04:56] kelson42 commented on #692
@macgills Could you please activate all the built variants in the CI (and close that ticket) and open a new ticket to remove `mock_network` & `local_download_server` (their value and way they work are totally unclear to me).

[2019-06-18 05:16] kelson42 commented on #402
@mhutti1 @mhutti1 @julianharty What should we do with this. It seems quite unmaintained. I believe it is still not fully running (the mock network/download server)... and to me this seems really overcomplex (and I don't understand why we don't deal with the standard infrastructure). Could we remove this?

[2019-06-18 05:25] kelson42 commented on #112
I think this ticket could be closed and has been supperseeded by #1200

[2019-06-18 07:03] kelson42 commented on #335
Considering that nobody works on this and seems to really want to push this I propose to abandon that task.

[2019-06-18 07:39] julianharty commented on #402
@mhutti1 @macgills @kelson42 I agree we shouldn't leave this code languishing, we have a couple of options I think. The choice depends on whether we would like to be able to setup a controlled environment for testing downloads by the app(s).

- We could remove the build target and the few lines of code from the Android app. This is easy to do and leaves the project's codebase relatively clean. It'

[2019-06-18 07:39] ISNIT0 commented on #335
This was actually merged a while ago, clearly I forgot to close this issue 🤷‍♂
https://github.com/kiwix/kiwix-android/pull/351/files

[2019-06-18 09:06] macgills commented on #1193
fixed by #1194 closing

[2019-06-18 09:06] #1193 closed

[2019-06-18 09:11] macgills commented on #335
Well if that is the case then I will close this issue

[2019-06-18 09:11] #335 closed

[2019-06-18 09:21] macgills commented on #402
I would propose the usage of MockWebServer from the fine folks at square, there however is - I believe - no reason for this to be a build type.
We can just create a suite of tests via subclassing that inject a different retrofit service targeting our mockwebserver and expect all the responses.
I have a personal axe to grind against any ui test that talks to a backend, prime source of intermittent

[2019-06-18 09:24] macgills commented on #692
Activating all the build variants now would slow down the build quite a bit, I would say to wait until we have removed the other buildTypes.

[2019-06-18 09:31] macgills commented on #1116
https://developer.android.com/studio/run Maybe we are talking about different things here because I am not really following you

[2019-06-18 09:36] macgills commented on #821
Those are still filtered out because of some bug? I just ported existing functionality

[2019-06-18 09:39] macgills commented on #1023
In the device tab a long press shows the delete option? Or that is the case for 2.5, I may be behind on some 3.0 functionality

[2019-06-18 10:42] kelson42 commented on #821
@macgills Yes, there is a specific issue for that.

[2019-06-18 14:52] macgills commented on #489
@mgautierfr I would appreciate your input on this and I will outline what the current process is and the solutions we can explore.
As it stands we have a local Android Library Module that possesses the gradle task `bintrayUpload` that, as one would expect, uploads this project to bintray.
To create the next version we take the following outputs from kiwix-build and paste them into this project:
![

[2019-06-18 15:08] macgills commented on #402
Not currently no, I am hoping for some time for a more comprehensive automation strategy in 3.0/3.1. I have regrettably broken some tests that have been ignored and flagged as due for repair. Espresso Idling resources are another source of irritation, automation code have internal knowledge of the source code under test grinds my gears.
The unit test expansion - now that coverage is implemented -

[2019-06-18 15:43] Popolechien opened #1205 "2.5 not recognizing space on external drive?"
Currently testing 2.5 (build 220500) and it gives a strange reading of both my internal and  external SD card (I have a 32Gb card, 16.59 Gb of which is still free; internal has 34.8/64Gb free space). FWIW I'm running a Huawei p20 Lite with Android 8.0)

I'll try with another, fresh microSD to see if the issue remains.

![Screenshot_20190618-173737](https://user-images.githubusercontent.com/2167588

[2019-06-18 15:50] Popolechien commented on #1205
Ok this might have to do with the fact that there are other files on the SD card - I tried with another one fresh from the box and it gives a correct(-ish) number (119Gb/126Gb).

[2019-06-18 16:04] Popolechien opened #1206 "Fails to update/wipe local file list"
I had several zim files stored on an external drive. When I switched cards the files appear as still listed, but when trying to open I get a standard error message "the selected ZIM file could not be found".
![IMG_20190618_175745](https://user-images.githubusercontent.com/21675885/59700315-617a5b80-91f3-11e9-872d-75d955ebea0c.jpg)

Then when I try to delete the entry it exits the library and bring

[2019-06-18 16:20] Popolechien commented on #1206
Confirm that from in the interface I can delete files in my download folder but not those in the Kiwix folder (FWIW default storage in Kiwix is set to internal storage). Also when I update the local library the old zim remains listed (I can "delete" it though).