[2020-03-12 10:39] yashk2000 opened #1888 "Converting toasts to snackbars."
In a lot of places in the application, we are using toasts. Unless we need a message to be displayed even after an activity is destroyed, we should use snackbars.

Benefits of snackbars over toasts:
- More customizable than a toast
- In certain places, due to inappropriate permissions, a toast is shown. Here instead, a snack bar with an action can be shown. This will enhance the UX of the applicat

[2020-03-12 11:15] kelson42 commented on #1888
@mhutti1 @abdulwd @macgills Any opinion on this proposal?

[2020-03-12 11:16] kelson42 commented on #1887
@macgills You confirm this ticket should be implemented?

[2020-03-12 11:35] abdulwd commented on #1888
@yashk2000 Can you list the places where do you want to use snackbars? I'm not in favor of using them too frequently as they block the bottom screen.

[2020-03-12 12:24] yashk2000 commented on #1888
@abdulwd I intend to replace toasts in the following places:

- KiwixMainActivity: The toasts showing "file not found" or "unable to open file"
- Toasts for clearing history, bookmarks, and notes
- Toasts for showing no internet: I intend to show a snackbar instead with the action to open network settings

[2020-03-12 12:57] Dalakoti07 commented on #1886
@sonusourav are working on this issue, I also observed that app crashes, when back button pressed while taking notes, but this behaviour is non-deterministic, I did it 5 times, but app crashed only 1 time.

Please tell if you are working.

[2020-03-12 13:00] sonusourav commented on #1886
Hey @Dalakoti07 I am working on this issue.

[2020-03-12 13:25] Dalakoti07 commented on #1886
ok
Thanks for informing

[2020-03-12 13:53] Dalakoti07 commented on #1826
@macgills @kelson42, I also want to contribute to the project, is there any class which is not assigned to anyone, I can convert to kotlin.

[2020-03-12 15:55] macgills commented on #1840
that property is there so when it is built on fdroid's side it does not try to sign it for example
[code]
will produce an unsigned apk.

Kiwix has dummy credentials in source control so people can sign things locally without issue and our build are more repeatable. On CI these dummy credentials get overwritten and the real signing keys are used.

The only thing I see different in the merge request

[2020-03-12 15:57] #1815 closed

[2020-03-12 16:00] macgills commented on #1881
Lets go home screen (aka list of books under the kiwix banner) then, I never really knew why it worked how it did anyway.

[2020-03-12 16:02] macgills commented on #1739
@4shutosh see the description

After you save media with kiwix we want it to show up in other media viewer apps without the user having to do anything about it

[2020-03-12 16:04] macgills commented on #1887
KiwixDatabse is deprecated so nothing should be done there. I'd also ignore ZimContentProvider, mostly because I will be removing it

The others are all fair game, I say work on it

[2020-03-12 16:10] macgills commented on #1888
Toasts should never block the bottom of the screen or no worse than a toast anyway, if there is interactable UI it should slide up like fabs do when a snackbar is shown.

These all seem like sensible locations to me.

[2020-03-12 16:16] macgills commented on #1826
Everyone should follow the directions of this ticket.

@Dalakoti07 go looking for a class (over 40% of the project is still in java), find one you like, comment its name here and make sure nobody else has already commented then make a ticket and get to work.

This ticket is meant to be a haven of autonomy mostly because my time is a bit limited right now and also I love seeing classes converted to

[2020-03-12 16:16] 4shutosh commented on #1739
So it refers to `Environement.DIRECTORY_DOWNLOADS` or `Environement.DIRECTORY_DCIM` (For Camera ) or for Pictures `DIRECTORY_PICTURES` right?
I think it requires a workaround in KiwixWebView.handleMessage.
I will try implementing this.

[2020-03-12 16:19] macgills commented on #1739
Good luck!

[2020-03-12 17:12] Frans-Lukas commented on #1885
@macgills What I have noticed this far is that in onResume in CoreMainActivity this happens:

[code]
As the SearchActivity returns its result, onResume is called again for CoreMainActivity, However, as the same intent that started the SearchActivity is still the intent that is returned by getIntent(), CoreMainActivity starts the SearchaActivity again. To test this, I used setIntent(null) before st

[2020-03-12 17:19] macgills commented on #1885
Have a look at `OpenFile`, instead of this `startForResult` stuff we can just start the activity with new data and it will either go to `onCreate` or `onNewIntent`

[2020-03-13 06:56] JensKorte commented on #1777
The repomaker is imho the best way. You can create your own repo on your own server and a user can add the repo adress (https://...) in F-Droid at (translated from the german F-Droid) "Options" -> "packet sources" -> "+"

[2020-03-13 07:04] JensKorte commented on #1542
The URL in the screenshot above looks good. In 3.2.1 from download.k.o this is lacking.

[2020-03-13 11:09] Frans-Lukas commented on #1885
Ok, I think I fixed it! The following is what adds the 'Search Kiwix' option to the text selector: in `core/AndroidManifest.xml`
[code]

As this tutorial recommends [[https://medium.com/androiddevelopers/custom-text-selection-actions-with-action-process-text-191f792d2999](https://medium.com/androiddevelopers/custom-text-selection-actions-with-action-process-text-191f792d2999)], intents should not

[2020-03-13 15:05] kelson42 commented on #1777
@JensKorte @macgills Please don't mix with #1777. #1777 is not the solution for this ticket. I want Kiwix is the standard FDroid repo and this is the most important. The solution here is just to make the FDroid PR work fine (or does the option to avoid signing just fail like suggested in FDroid PR?).

[2020-03-13 15:15] yash1ts commented on #1826
I want to convert HelpActivity.

[2020-03-13 15:36] macgills commented on #1777
@kelson42 this is #1777 .

I was just giving dipu the only information I have as regards fdroid. I don't know how automatic publishing will work because we certainly can't set it up for the actual releases of the app on fdroid so I would think this ticket is mildly doomed for the time being

[2020-03-13 15:39] macgills commented on #1885
Try also long pressing the kiwix app icon and selecting "Search" from there.

Also try all of this with a combination of "Don't keep activities" on and off. I am not sure if these 2 features reuse logic portions or not

[2020-03-13 15:39] kelson42 commented on #1777
@macgills Sorry... In addition to push to download.kiwix.org we should push to this repo. (wherever he is...). So this is not about releases, this is only for nightlies.

[2020-03-13 15:52] macgills commented on #1826
@yash1ts make a ticket

[2020-03-13 15:54] macgills commented on #1777
The new repo doesn't work like how the fdroid repo does? We can just hit an endpoint with an apk? If so perfect, if we can't and have to do it the way fdroid do it we are stuck the same way we are for our real releases

[2020-03-13 16:21] Frans-Lukas commented on #1885
@macgills
The search widget seems to be working with "Don't keep activities" off but not on. The same goes for the text selection menu.

[2020-03-13 16:22] macgills commented on #1885
Then get opening that PR, woo!

[2020-03-13 16:24] Frans-Lukas commented on #1885
Hehe, no sorry I can't celebrate yet! I meant it did not work with "Don't Keep activites". It works with "keep activites" i.e. "Don't keep activites" off.

[2020-03-13 16:26] macgills commented on #1885
😢 misread. Well see if they use the same codepath. If they don't then you don't have to worry about "Search Shortcut" as this ticket is about "Search Text"

[2020-03-13 16:31] Frans-Lukas commented on #1885
😢 Seems to use the same code path for when the activity is started but not when sending an intent to onNewIntent.. However, the text selection menu also stops working when "Don't keep activities" is on. Will investigate!

[2020-03-13 16:35] macgills commented on #1885
The problem here is that it starts MainActivity with an intent to start another activity, when MainActivity gets recreated it just sends you straight back to Search.

In older applications I used an "IntentHandlingActivity" that was totally transparent and had `noHistory` set so you couldn't navigate back once it forwarded you on to an Activity.

There is also much more complex things that are ach

[2020-03-13 16:43] Frans-Lukas commented on #1885
Ok, I think now is the time to celebrate. A least a little. I fixed so that the selection search menu-item works with and without "Don't keep activities". However, the search widget only works some times (with and without "Don't keep activities" ). But as you said, that is another issue that I will post.

[2020-03-13 16:48] Frans-Lukas commented on #1885
@macgills Oh missed your comment. My solution, was to check
[code]
As savedInstanceState is null only on inital onCreate.

[2020-03-13 17:14] Frans-Lukas commented on #1885
@macgills What is the expected behavior of the search widget if the app is closed? Should it open the search activity without a zim file or just open the app?

[2020-03-13 17:24] yash1ts commented on #1826
You mean I need to make a new issue and mention this issue there right?

[2020-03-13 17:31] kelson42 commented on #1826
Yes, and you make the corresponding PR with the "fix"

[2020-03-13 17:58] JensKorte commented on #1777
I am not sure, if I get you right. In an F-Droid repo there can be different versions of a program, there is a recommended version and the user can select to up-/downgrade to an alpha or older version.
kiwix-nightly could be the package name, then it is not mixed up with kiwix. If you want to provide test versions like different branches, I would suggest to provide an extra package with a name lik

[2020-03-13 18:12] yash1ts opened #1891 "Convert HelpActivity to Kotlin"
**Is your feature request related to a problem? Please describe.**
HelpActivity is in java.

**Describe the solution you'd like**
Change it to kotlin.

**Additional context**
Parent issue #1826

[2020-03-14 11:18] yashk2000 commented on #1840
@macgills I tried this command. It generates the unsigned apk. This means that `disableSigning` isn't broken.

[2020-03-14 13:12] sonusourav opened #1894 "Text cursor lies at the beginning of text in Notes"
**Describe the bug**

If there are any notes saved, and the user opens the notes again, then the cursor is found at the beginning of the text instead of at the end.

**Expected behavior**

The cursor should be at the end of the text.

**Steps to reproduce the behavior:**
1. Save some notes.
2. Open notes again.
3. Observe the cursor

**Screenshots**

[Link](https://imgur.com/dRNmnXU)

**Environmen

[2020-03-14 20:35] srv-twry commented on #1864
This can be assigned to others.

[2020-03-15 09:05] yashk2000 opened #1899 "ActionMode not finishing when shifting library fragments"
**Describe the bug**
When shifting between the Device ad Online fragments in Library, the actionMode from the Device Fragment does not finish.

**Expected behavior**
ActioMode should finish when shifting fragments.

**Steps to reproduce the behavior:**
1. Go to the library
2. Go to Device fragment
3. Long press any book to select it
4. The actionMode turns on in the toolbar
5. Press on online
6. T

[2020-03-15 19:21] yash1ts opened #1901 "Use Custom Chrome Tabs for opening external links"
**Is your feature request related to a problem? Please describe.**
When user clicks on an external link he is taken to browser. For example clicking "support Kiwix" and links present in books.

**Describe the solution you'd like**
It would be great if the link opens in the app, instead of depending on external browser.
We can use custom chrome tabs for this.

[2020-03-15 20:33] kelson42 commented on #1901
I don’t want to change the Kiwix app in a Web browser.

[2020-03-16 10:55] yashk2000 opened #1902 "Note title, addNoteTextView, text is not always completely visible"
**Describe the bug**
The text held by the text view addNoteTextView, is not completely visible when it is longer than 3-4 words.

**Expected behavior**
It should be visible even when it is longer. I intend to make the text view scrollable so that users can properly see the title by scrolling.

Also, currently, this title looks like an edit text at first glance due to the line under it. The line sh

[2020-03-16 10:59] yashk2000 opened #1903 "Titles in the book index are not completely visible"
**Describe the bug**
The titles in the book index are not completely visible when they are too long.

**Expected behavior**
The titles should be completely visible. The entire index should be horizontally scrollable in order for the text views to be completely visible. Or the individual text views can also be made scrollable.

**Steps to reproduce the behavior:**
1.Open the book index.
2. If the n

[2020-03-16 15:38] macgills commented on #1885
That behaviour seems correct @Frans-Lukas

[2020-03-16 15:46] macgills commented on #1777
Yes but I currently don't believe we have an easy way of automatically updating this "nightly repo" as I would assume the update mechanism is similar to on the main fdroid repo which we currently cannot support because we need to supply an endpoint with version codes.

Our nightly builds are also development versions if i remember correctly, they are intended for nobody but developers.

[2020-03-16 15:50] #1825 closed

[2020-03-16 15:51] macgills commented on #1840
Have you tried a merge request with

[code]
the `.gradle` present? That is the only difference I see in the 2 blocks

[2020-03-16 16:10] macgills commented on #1901
@kelson42 this would just allow us to sort of theme the browser that opens when users open a link from Kiwix, just to clarify that point

[2020-03-16 17:08] kelson42 commented on #1903
@abdulwd @macgills @mhutti1 I'm not sure we have a bug here honestly.... Not convince horizontal scrollable view would be really user friendly...

[2020-03-16 19:46] abdulwd commented on #1903
I would say it's not a bug.

[2020-03-17 06:40] kelson42 commented on #1901
@macgills What does that mean? Why we would need that? Does that mean opening external Web pages in Kiwix?

[2020-03-17 06:44] yashk2000 commented on #1903
It's not a bug, the UI was designed that way.

But shouldn't it be improved so that the user can properly see the titles? Maybe make those views fit in multiple lines so that the titles are completely visible.

[2020-03-17 08:12] JensKorte commented on #1777
I am no developer, but I can help with beta testing.

[2020-03-17 09:22] abdulwd commented on #1903
There are things on which we need to compromise because of screen size. The user can click on the title to go to that heading.

[2020-03-17 09:40] yash1ts opened #1907 "Bug in Bookmarks and History list selection"
**Describe the bug**
In history and bookmarks screen one can select items for deletion, but there is a button which allows user to view bookmark or history from all books. Even after selecting the items one can switch the view. Which results in confusing list(shown in screen shot).

**Expected behavior**
The view book marks from all books switch should be gone after selecting items, so that user c

[2020-03-17 09:46] yashk2000 commented on #1903
Yes, screen size is the reason the text gets cut out.

Should I close this issue then?

[2020-03-17 10:11] abdulwd commented on #1903
@kelson42 Can we close this?

[2020-03-17 10:12] #1903 closed

[2020-03-17 10:34] Frans-Lukas commented on #1907
I think the button does what it says it does. My opinion is that a button should only do what it says it should do, this button says that it will toggle between _showing_ the history of the opened book and all books. It does not say it will _deselect_ items from the list.

Because other multi-selection views shown in for example Material Design [1] hide list-altering actions on entering a selectio

[2020-03-17 10:44] Frans-Lukas commented on #1869
Are you working on this? @Scarlet0103 Otherwise I'd like to work on it.

[2020-03-17 11:39] yash1ts commented on #1907
Yes I want to work on it.

[2020-03-17 15:50] #1887 closed

[2020-03-17 16:07] macgills commented on #1901
https://developer.chrome.com/multidevice/android/customtabs You can see their example here. Sometimes a zim file has an external link eg a stackexchange question that links to another website.

Right now we just launch the browser without much fanfare. I am largely indifferent to the feature.

[2020-03-17 16:23] macgills commented on #1869
@Frans-Lukas you are assigned. @Scarlet0103 I hope you weren't working on it

[2020-03-17 16:24] macgills commented on #1907
Yes, most definitely a bug. Please hide the toggle on action mode start.

[2020-03-17 16:38] #1881 closed

[2020-03-17 17:22] yashk2000 opened #1908 "A toast for error in search being displayed when user just exits search"
**Describe the bug**
Even if a user just exits search, a toast for "Unexpected error while searching" is shown.

**Expected behavior**
This toast should only be shown in case of errors and not when a user exits search.

**Steps to reproduce the behavior:**
1. Open any book.
2. Click on search
3. Exit the search by pressing the back button on the phone or in the toolbar.
4. An unneeded toast is sho

[2020-03-17 17:23] yashk2000 commented on #1908
The toast was made to be displayed by #1889. I think due to an incorrect condition being checked to make the toast and LOG, this toast is being displayed

[2020-03-17 23:27] akkywadhwa opened #1909 "Convert AnimationUtil to Kotlin"
**Is your feature request related to a problem? Please describe.**
AnimationUtil.java is in java. It can be converted to Kotlin.

**Describe the solution you'd like**
Convert it to kotlin.

**Additional context**

Parent issue #1826

[2020-03-18 00:30] akkywadhwa opened #1910 "Convert BookUtil to Kotlin"
**Is your feature request related to a problem? Please describe.**

BookUtil.java is in java. It can be converted to Kotlin.

**Describe the solution you'd like**

Convert it to kotlin.

**Additional context**

Parent issue #1826

[2020-03-18 10:50] Frans-Lukas commented on #1868
@dipu989 Are you still working on this?

[2020-03-18 11:25] NullByte08 commented on #1848
@abdulwd Can you assign this to me ?

[2020-03-18 11:29] NullByte08 commented on #1838
Can I work on this issue? @kelson42

[2020-03-18 13:58] kelson42 commented on #1838
@KushagraK123 You are still working on it?

[2020-03-18 14:11] KushagraK123 commented on #1838
No

On Wed, 18 Mar 2020, 7:29 pm Kelson, <notifications@github.com> wrote:

[2020-03-18 16:25] #1894 closed

[2020-03-18 16:41] #1908 closed

[2020-03-18 16:50] #1885 closed

[2020-03-18 16:51] macgills commented on #1868
I haven't heard from @dipu989 in a while on any of the other PRs they have open so assigning this to @Frans-Lukas

[2020-03-18 16:52] #1869 closed

[2020-03-18 17:01] macgills commented on #1838
I am closing this ticket, nobody should be taking a module, @NullByte08 check the rules of #1826

[2020-03-18 18:10] Frans-Lukas commented on #1868
@macgills Thanks!

[2020-03-18 23:54] rashiq opened #1915 "Pressed states are missing in a lot of RecyclerView rows"
**Describe the bug**
A lot of `RecyclerView`s in the app are missing a pressed state.

**Expected behavior**
Show the default rippled pressed state if you press a `RecyclerView` row.

**Steps to reproduce the behavior:**
Checkout the `RecyclerView`s in the following parts of the app:
- the main search view in `SearchActivity`
- the search in the Bookmarks Activity
- the search in the History Activ

[2020-03-19 07:47] yashk2000 opened #1916 "Add an option for delete note"
**Is your feature request related to a problem? Please describe.**
Currently, there is a feature for save and edit notes. But there is not an option for deleting a note. If a user wants to erase a note, the user has to select all the text and erase it, but the file still stays in memory.

There is a feature to delete **all** notes, but not to delete a **single** note.

**Describe the solution you'

[2020-03-19 07:59] kelson42 commented on #1916
@mhutti1 @Aditya-Sood @abdulwd @macgills We might need here a bit of vision about next steps (I have remarked as well that I have no way to see all notes!).

[2020-03-19 09:47] yashk2000 commented on #1916
I would like to work on a feature to allow a user to view all notes too.

[2020-03-19 11:58] yashk2000 opened #1918 "Toast and snackbar shown together when downloading a large zim with insufficient memory"
**Describe the bug**
A toast and a snackbar are both shown when user tries to download a large zim and there's not enough storage.

**Expected behavior**
Either a toast or a snackbar should be shown. Here, showing just a toast is not an option since the snackbar has an action. So showing just a snackbar with the required message is enough.

**Steps to reproduce the behavior:**
1. Go to online sect

[2020-03-19 15:49] #1888 closed

[2020-03-19 16:00] #1915 closed

[2020-03-19 16:05] macgills commented on #1916
Well this feature sounds valuable anyhow

[2020-03-19 16:09] macgills commented on #1918
We would also need to condense this information into the snack as if we just show the snack it is confusing

[2020-03-19 23:14] akkywadhwa opened #1920 "Convert MetaLinkNetworkEntityTest to Kotlin"
**Is your feature request related to a problem? Please describe.**

MetaLinkNetworkEntityTest is in java. It can be converted to Kotlin.

**Describe the solution you'd like**

Convert it to kotlin.

**Additional context**

Parent issue #1826

[2020-03-20 00:09] akkywadhwa opened #1922 "Convert BaseContract to Kotlin"
**Is your feature request related to a problem? Please describe.**

BaseContract is in java. It can be converted to Kotlin.

**Describe the solution you'd like**

Convert it to kotlin.

**Additional context**

Parent issue #1826

[2020-03-20 00:38] akkywadhwa commented on #59
@macgills @mhutti1 Hello! This feature seems to be useful. I want to take up this issue. Your suggestions on how to proceed on this?

[2020-03-20 04:54] Aditya-Sood commented on #1916
@kelson42 @macgills  if the user deletes a particular zim, they aren't able to view the associated notes in-app anymore. Deletion of these notes can only be done either through 'Clear All Notes' or manually.

If that's not okay, we can add the global notes viewer first - that will allow the use of individual note deletion for the above type of notes

[2020-03-20 05:07] yashk2000 commented on #1916
@Aditya-Sood my issue is different. I aim to provide a delete note option for existing notes that can be viewed if they already exist.

This is a different issue.

I'll be happy to work on a global notes viewer. Since you made the current notes system, could you please give some guidance on what will be the best way to proceed with a global notes viewer?

[2020-03-20 05:43] Aditya-Sood commented on #1916
@yashk2000 that scenario is relevant because how you've proposed to implement individual note deletion won't work for it, unless there's a global notes viewer

The implementation is pretty straightforward - there's a 'Notes' directory in the Kiwix folder with all the notes arranged by zim. The viewer activity would just have to scan it for all the subdirectories with notes from different zims
(A m

[2020-03-20 05:51] yashk2000 commented on #1916
@Aditya-Sood I understood that my solution will not work for the issue you mentioned, for that we need to make a global notes viewer and provide the delete option there too.
But I thought of providing a delete option for the available notes in the add notes dialog too for the convenience of the user.

(A more comprehensive discussion on implementation is best suited to a new issue)

[2020-03-20 05:54] yashk2000 commented on #1916
@Aditya-Sood thanks for idea.
I understood that my solution will not work for the issue you mentioned, for that we need to make a global notes viewer and provide the delete option there too. But I thought of providing a delete option for the available notes in the add notes dialog too for the convenience of the user. The user doesn't know about the issue that notes from a deleted zim are still pre

[2020-03-20 11:48] 4shutosh opened #1926 "Adding Alert Dialogue while deleting selected bookmark."
**Describe the bug**
No warning/alert is shown while deleting selected bookmarks.

**Expected behavior**
A warning should be given when deleting selected bookmarks.

**Steps to reproduce the behavior:**
1. Open Bookmarks
2. Select one or more bookmarks
3. Delete them
4. See error

**Screenshots**
![Webp net-resizeimage (1)](https://user-images.githubusercontent.com/53831987/77160390-3cda4980-6acd-

[2020-03-20 12:01] 4shutosh opened #1927 "Improper Text and no Icon in Alert Dialogue of History & Bookmarks"
**Describe the bug**
The text "Delete History?" or "Delete Bookmark?" is quite grammatically wrong and should be improved

**Expected behavior**
Text: "Are you sure you want to delete History?" & "Are you sure you want to delete Bookmark?"
along with warning icon

**Steps to reproduce the behavior:**
1. Open History/bookmark
2. Delete one or more History/Bookmark
4. See error

**Screenshots**
![Sc

[2020-03-20 13:17] kelson42 commented on #1927
@mhutti1 @macgills Could you please confirm the "bug"?

[2020-03-20 14:58] macgills commented on #59
@kelson42 thoughts? I don't think this a priority

[2020-03-20 15:18] #1855 closed

[2020-03-20 15:32] Frans-Lukas commented on #1866
I'm assuming you are not working on this as well @dipu989. I'd like to work on this if that is the case.

[2020-03-20 15:34] macgills commented on #1927
I think the dialogs are fine as is https://material.io/components/dialogs/#alert-dialog the icons are unnecessary but our button text could use updating to "delete/cancel"

[2020-03-20 15:37] #1916 closed

[2020-03-20 15:38] #1902 closed

[2020-03-21 01:29] akkywadhwa opened #1931 "Convert BasePresenter to Kotlin"
**Is your feature request related to a problem? Please describe.**

BasePresenter is still in java. It can be converted in Kotlin.

**Describe the solution you'd like**

Convert it to Kotlin

**Additional context**

Parent Issue #1826

[2020-03-21 02:07] akkywadhwa opened #1933 "Converting StorageUtils to Kotlin"
**Is your feature request related to a problem? Please describe.**

StorageUtils is in java. It can be converted to kotlin.

**Describe the solution you'd like**

Convert it to kotlin.

**Additional context**

Parent Issue #1826

[2020-03-21 10:56] akkywadhwa opened #1935 "Converting Constants to Kotlin and use it consistently in whole project"
**Is your feature request related to a problem? Please describe.**

Constants are still in java. It can be converted into Kotlin. There must be a consistent way to use Constants in whole project.

**Describe the solution you'd like**

Convert it to Kotlin. Whenever a constant is required, import it from its name.

**Additional context**

Parent Issue: #1826

[2020-03-21 11:42] 4shutosh commented on #1927
Okay I'll change them

[2020-03-21 12:01] 4shutosh commented on #1927
@macgills We are still using warning icon in  options like `ClearAllNotes`, `ClearAllHistory` and `ExternalLinkPopup`. Do I also remove them?
And the texts are should be improved as well of the same.

[2020-03-21 14:16] akkywadhwa opened #1937 "Home Screen Widget for app"
**Is your feature request related to a problem? Please describe.**

Reading anything requires a user to open the app. The bookmarks/favourites seem to be underutilised as of now.

**Describe the solution you'd like**

A home screen widget can be made which will make this lot easier. Please refer the sample screenshot below.
![image](https://user-images.githubusercontent.com/666752/77228298-60c08c8

[2020-03-21 14:18] kelson42 commented on #1937
I don't ready see the added value/use case of this feature.

[2020-03-21 14:30] akkywadhwa opened #1938 "Allowing user to switch to mobile view"
Most of the downloaded content libraries require the user to scroll right to see complete content. Check the screenshot below for reference.
![Screenshot_20200321-195237_Kiwix](https://user-images.githubusercontent.com/666752/77228566-4ab3cb80-6bae-11ea-84a6-835aaa250e8c.jpg)
This hampers the user experience. There must be an OPTIONAL feature to make this display mobile-friendly.

**Describe the s

[2020-03-21 14:32] kelson42 commented on #1938
@akkywadhwa Could you explain please how you would do that on the Kiwix Android side?

[2020-03-21 14:57] yashk2000 opened #1939 "Add an option for Open New Tab and Close All Tabs in tabs section menu"
**Is your feature request related to a problem? Please describe.**

Currently, the only way to open a new and close all tabs in the tabs section is by pressing on the buttons ment for those actions. It would be good to provide these options in the menu too, like chrome does.

**Describe the solution you'd like**

Provide the options for opening a new tab and closing all tabs in the menu too to inc

[2020-03-21 15:00] yashk2000 opened #1940 "Add option to open a new tab to the menu"
**Is your feature request related to a problem? Please describe.**

Currently, the only way to open a new tab is to open the tabs section and click on the plus button.

**Describe the solution you'd like**

Add an option in the menu to open a new tab. Using this, the user will not have to open the tabs section every time they want to open a new tab hence improving the UX of the app.

**Additional

[2020-03-21 15:02] kelson42 commented on #1939
I don't see any added value to add a new "Open a new tab" menu entry. I'm a bit more open about a "Close all tabs" menu entry... Needs to be confirmed.

[2020-03-21 15:04] yashk2000 commented on #1939
Opening anew tab option will also enhance the UI. Chrome also provides the option to open a new tab from the menu as well as a plus button in the tabs section.

[2020-03-21 15:35] yash1ts opened #1941 "Bug in open link in new tab dialog"
**Describe the bug**
Message in open link in new tab is written twice.

**Expected behavior**
Message should be written only once.

**Steps to reproduce the behavior:**
1. Open any Zim file.
2. Long click on a highlighted work.
3. Dialog box appears with "Open link in new tab option" written twice.

**Screenshots**
![Screenshot_2020-03-21-20-56-06-096_org kiwix kiwixmobile](https://user-images.git

[2020-03-21 17:35] yash1ts commented on #1834
@kelson42 @macgills  I think the app should show Some information when we open other zim file, like an alert "Only one file can be opened at a time. This will close all other tabs.". Because it feels like a bug every time you open a new file.

[2020-03-22 09:33] Popolechien opened #1943 "Update Kiwix logo"
There is a new, slightly remodeled logo for Kiwix
https://commons.wikimedia.org/wiki/File:Kiwix_logo_v3.png
The app's icon needs to be updated accordingly

[2020-03-22 10:53] yashk2000 commented on #1943
@kelson42 can I please work on this issue?

[2020-03-22 15:52] 4shutosh commented on #1939
Opening a new tab from Menu requires two touches
Opeinng a new tab from TabSwitcher also requires two touches.

Chrome offers this feature because every tab usually consists of different content.
Generally, the user will not open a new tab to open the same file.(But to read diiferent articles simulatanously) which will require opening Tab Switcher.
If the user wants to open another zim file it can

[2020-03-22 16:11] yashk2000 commented on #1939
Opeinng a new tab from TabSwitcher also requires two touches.
I personally see no enhancement because of this feature

The number of touches is the same, but the position of touches is different. If the options are present in the menu, you basically click twice in almost the same place which makes for better UX.  If you go to the tab switcher, you first click on the top right corner then the top l

[2020-03-22 16:12] yashk2000 commented on #1939
Since this issue is already a question, I'm not yet working on it right now. I'm waiting for the decision made by the other maintainers and will proceed however they see fit.

[2020-03-23 08:57] yashk2000 opened #1946 "Confirm delete dialog shown multiple number of time when deleting more than one zim"
**Is your feature request related to a problem? Please describe.**

Currently, when a user selects more than one zim to be deleted, a dialog is shown for every zim to be deleted. While this might be fine for 1-2 zims being deleted, but when a user will be deleting a large number of zims, this dialog will become a bit cumbersome. The user will have to press delete for every zim to be deleted.

**De

[2020-03-23 08:59] yashk2000 opened #1947 "Notes of deleted zims are not deleted from memory"
**Is your feature request related to a problem? Please describe.**

When a zim is deleted, the notes that were made for that zim are not removed from the memory. Since a user deleted the zim, the user will not have any use for the notes made in that zim too. Hence when a zim is deleted the notes folder for that zim should also be deleted from the memory.

**Describe the solution you'd like**

When

[2020-03-23 09:06] 4shutosh commented on #1946
I think asking confirmation for each zimFile is necesarry, because the app works offline and if the user does not have internet access it will be a hard time to download the zim file again (which usually is big in size).
It might be cumbersome for the users who have easy internet acces all the time but we target the people who don't have internet access all the time.

[2020-03-23 09:10] yashk2000 commented on #1946
We will be showing a general dialog asking for confirmation before deleting.
But imagine you're deleting even just 5 files. It will be too much for the user to click delete 5 different times.
For confirmation, the user is first selecting the files by himself, then clicking the delete icon(aware that a trash button means deletion) and then a dialog will also be shown.

Even apps such as photo appli

[2020-03-23 09:20] 4shutosh commented on #1947
Notes are not supposed to be deleted.
User might need to access the notes he/she has written while reading the information from the ZimFIle, but want to delete the ZimFile for any reason (less storage,etc).

[2020-03-23 09:20] 4shutosh opened #1948 "Accessing all notes inside App"
**Is your feature request related to a problem? Please describe.**
There is no option to access notes inside the app once a zimfile is deleted.
Also the user is required to navigate to the specific page(where the note is made) to access it which is not so convinient.

**Describe the solution you'd like**
A new feature should be created to acces all the notes in one place from any of zimfile (delet

[2020-03-23 09:26] yashk2000 commented on #1948
@4shutosh I already started working on a similar feature.
As I mentioned on this issue.
https://github.com/kiwix/kiwix-android/issues/1916

[2020-03-23 09:27] yashk2000 commented on #1947
Yes, you're right :+1:

[2020-03-23 09:27] #1947 closed

[2020-03-23 09:58] 4shutosh commented on #1948
As mentioned there, a new issue was required for this feature/impementation discussion. So this issue can be used for the same.
I see a PR merged by you for that issue.
So I request ticket for this part.

As far as it goes for the feature implementation, I'll be happy for the feature whoever executes it.

[2020-03-23 10:03] yashk2000 commented on #1948
My apologies, for forgetting to create an issue.
Thanks for creating one :)

Since you also had the same idea, maybe we could work on this issue together and co-author the pr.

[2020-03-23 11:22] Frans-Lukas commented on #1866
@kelson42 I am not sure what you mean by this. Currently, when I select an item, it is 'highlighted' by being tinted gray for half a second after of which the page loads. Can you give an example of a list item being more clearly highlighted in some other app or show an image?

[2020-03-23 11:40] Frans-Lukas opened #1949 "Bottom and top bars opens when clicking an external link in full screen mode."
**Describe the bug**

When clicking on an and going to an external link in full screen mode, the bottom navigation drawer opens as well as the app bar. The app bar remains invisible however (it still takes up space).

**Expected behavior**

The navigation drawer and app bar should be hidden in full screen mode at all times unless otherwise stated by the settings.

**Steps to reproduce the behavior

[2020-03-23 14:49] 4shutosh commented on #1949
@Frans-Lukas You've correctly pointed out the issue.

In CoreMainActivity.closeFullScreen.1043 replacing `updateBottomToolbarVisibility()` to     `bottomToolbar.setVisibility(View.VISIBLE);`
and adding one more condition `!isInFullScreenMode()` in CoreMainActivity.updateBottomToolbarVisibility.1280 will fix this.
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/53831987/77328866

[2020-03-23 15:45] #1868 closed

[2020-03-23 16:18] macgills commented on #1927
The icons feel like a relic of pre material design, I think it would be best to get rid of them in favour of minimalism.

Improving the text is also good by me

[2020-03-23 16:23] #1926 closed

[2020-03-23 16:26] macgills commented on #1937
I hate widgets with a passion. That is mostly the API being horrible but still most widgets kind of suck and the user has to long press and add them themselves so the only ones that ever get used are the default ones that come with the phone. Plus we already have a widget and it doesn't work great.

[2020-03-23 16:28] 4shutosh commented on #1927
@macgills I've executed the changes in PR #1929
Please review them.

[2020-03-23 16:30] macgills commented on #1940
You can also long click a link to open a new tab. I think we might have had "New Tab" in the menu before and that menu just has too much in it so we cut it out. Unconvinced we need this right now.

[2020-03-23 16:30] macgills commented on #1941
@yash1ts do you want to work on this issue?

[2020-03-23 16:31] akkywadhwa commented on #1937
Oh! I didn't take a look at the previous widget before. If widgets don't work great for us then maybe we can chuck this issue.

[2020-03-23 16:35] #1907 closed

[2020-03-23 16:39] #1935 closed

[2020-03-23 16:48] #1940 closed

[2020-03-23 16:48] yashk2000 commented on #1946
@macgills should I proceed with this?

[2020-03-23 16:49] yashk2000 commented on #1939
@macgills "New Tab" is not to be there, but what about the "Close All Tabs"?
Should that be done or should I close this issue?

[2020-03-23 16:53] macgills commented on #1866
There was a PR that added this effect very recently if I am not mistaken

[2020-03-23 17:06] #1910 closed

[2020-03-23 17:15] #1927 closed

[2020-03-23 17:19] macgills commented on #1946
It would be cool if we showed a custom dialog that you can scroll with all the titles of the zims you are about to delete. Individually deleting is slow and tedious

[2020-03-23 17:20] macgills commented on #1939
I'll leave it to @kelson42 to decide on that front

[2020-03-23 17:21] #1920 closed

[2020-03-23 18:40] Frans-Lukas commented on #1866
@macgills ok, so this is probably resolved then?

[2020-03-23 19:39] yashk2000 commented on #1949
@4shutosh wouldn't it be better if you didn't give out the solution to the issue? People might want to work on it by themselves first.

You wanting to help is really awesome, but I'd recommend that you wait for a person to ask first.
I personally wouldn't directly like to see the solution to an issue this way and I believe anyone contributing to open source would agree as they do it to increase th

[2020-03-23 20:15] 4shutosh commented on #1949
Apologies @Frans-Lukas. Got your point @yashk2000. Won't happen again.

[2020-03-23 20:19] Frans-Lukas commented on #1949
@4shutosh No worries! ^^

[2020-03-23 20:35] yash1ts commented on #1941
Yes, I will work on it.

[2020-03-24 03:16] hamza-maqsood opened #1950 "List is not refreshed automatically when you start a download and navigate back to the home screen"
**Describe the bug**

**Expected behavior**
When a download is started and the user navigates back to the home screen, the list is not updated when the download completes, even when the notification is clicked.

**Steps to reproduce the behavior:**
1. Starts a download in the ONLINE tab and navigate back to the home screen.

**Environment**
- Version of Kiwix Android : 7.1
- Device : LG G5
- OS ve

[2020-03-24 05:50] sonusourav commented on #1950
Duplicate of #1797

[2020-03-24 09:02] ashutosh1919 commented on #1941
@yash1ts , Can you please consider this PR since I have raised it? I am sorry, I started working on the PR before you commented yesterday 11 hours ago. That's why I couldn't see your comment.

[2020-03-24 10:03] yash1ts commented on #1941
@ashutosh1919 you should comment on the issue before starting to work. But since you already did the work, i think its fine.

[2020-03-24 10:06] ashutosh1919 commented on #1941
Sorry @yash1ts . And thanks for accepting PR. Please review the PR. Your approval is also needed since the issue was originally assigned to you.

[2020-03-24 10:09] akkywadhwa opened #1952 "Convert ServerUtils to Kotlin"
**Is your feature request related to a problem? Please describe.**

ServerUtils is still in Java. It can be converted to Kotlin.

**Describe the solution you'd like**

Convert ServerUtils to Kotlin

**Additional context**

Parent Issue #1826

[2020-03-24 14:34] ashutosh1919 commented on #1864
@srv-twry , i want to work on this issue. Please assign it to me

[2020-03-24 15:00] macgills commented on #1866
If you can post a screenshot here and validate it with @kelson42 then we can happily close it

[2020-03-24 15:04] #1350 closed

[2020-03-24 15:06] #1797 closed

[2020-03-24 15:08] macgills commented on #1950
I closed that other ticket as this is closer to something we should do, the list in KiwixMain should be observing the same data source as in the ZimFileSelectFragment. It is a bit annoying because the screen currently has no VIewModel

[2020-03-24 15:24] #1949 closed

[2020-03-24 15:40] Pesh4ng opened #1955 "Dark mode feature is not working properly on iphone (kiwix version 1.11v)"
.

[2020-03-24 15:47] #1874 closed

[2020-03-24 16:11] akkywadhwa commented on #1955
@Pesh4ng this is the repository of Kiwix's Android Application. Please refer to https://github.com/kiwix/apple for iOS App.

[2020-03-24 21:43] mhutti1 commented on #1775
I'm not really sure what's going on here?

[2020-03-24 21:44] mhutti1 commented on #59
I mean I wouldn't consider it a priority but I guess the question is is it worth adding the extra complexity for the benefits of the feature.

[2020-03-24 22:47] heimo0 commented on #1775
same to me.....

I am waiting for a Link for a "test" version of Kiwix, but nothing answers...

Only answer, I should do something, I do not understand on a HUB page?

Whatever it is??

I am not a profi, but only normal user...

yours...

hermann

------------------------------------------------------------------
Hermann Moseler            Tel.:   089-44848-40-0
München                           F

[2020-03-25 05:28] kelson42 commented on #1955
/move kiwix/apple

[2020-03-25 05:28] #1955 closed

[2020-03-25 07:27] akkywadhwa opened #1956 "Convert DimenUtils to Kotlin"
**Is your feature request related to a problem? Please describe.**

DimenUtils is still in Java. It can be converted to Kotlin.

**Describe the solution you'd like**

Convert DimenUtils to Kotlin

**Additional context**

Parent Issue #1826

[2020-03-25 10:25] Frans-Lukas opened #1959 "The last zim file card in the starting library view is cut off when the list requires scrolling."
**Describe the bug**

When more zim files are downloaded than can be shown in one screen height, the last card is cut off. This looks out of place and some information is missing (content tags).

**Expected behavior**

The last item should be displayed fully just like every other item in the zim file browser list.

**Steps to reproduce the behavior:**
1. Download enough zim files to enable scrolli

[2020-03-25 10:35] macgills commented on #1959
duplicate of #1611 , be wary

[2020-03-25 10:35] #1959 closed

[2020-03-25 10:40] Frans-Lukas commented on #500
I was about to post a feature request for filtering when searching for files and found this issue. I'd like to explore/work on this if it's still relevant/no one else is. Using @macgills suggestion of a fab filter solution.

[2020-03-25 10:43] Frans-Lukas commented on #1959
oh, ok! sounds more difficult than I imagined.

[2020-03-25 12:00] akkywadhwa opened #1960 "Convert StyleUtils to Kotlin"
**Is your feature request related to a problem? Please describe.**

StyleUtils is still in Java. It can be converted to Kotlin.

**Describe the solution you'd like**

Convert StyleUtils to Kotlin

**Additional context**

Parent Issue #1826

[2020-03-25 12:37] akkywadhwa opened #1962 "Updating View Binding to use Kotlin Extensions"
**Is your feature request related to a problem? Please describe.**

As per the kotlin documentation, it is advised to use Kotlin Extension View Binding.

**Describe the solution you'd like**

Butterknife can be replaced with Kotlin Android Extension for ViewBinding.

**Describe alternatives you've considered**

- Using ViewBinding

**Additional context**

References:
- [StackOverflow](https://stac

[2020-03-25 13:08] yashk2000 opened #1963 "Keyboard does not get hidden on closing the add note dialog"
**Describe the bug**
Keyboard does not get hidden once the add note dialog is closed.

**Expected behavior**
Keyboard should not stay visible once the dialog has been closed.

**Steps to reproduce the behavior:**
1. Open a book
2. Click on add note
3. Click on the close button on the top left corner of the dialog.
4. The dialog closes but the keyboard is still displayed.

**Screenshots**

![screen

[2020-03-25 13:09] yashk2000 commented on #1939
@kelson42 should I proceed with adding a Close All Tabs option to the menu?

[2020-03-25 13:51] mohamedsamehkhalil opened #1965 "Last book in all lists (Library, home page) is only half visible"
**Describe the bug**
The bottom part of the last book is always not visible. I believe this is due to the switch to card view in #1924 to fix #1874

**Expected behavior**
All books should be fully visible

**Steps to reproduce the behavior:**
1. open home page or library
2. have enough books to require scrolling
3. When scrolling to the last book it is only half visible

**Screenshots**
No matter

[2020-03-25 13:53] yashk2000 commented on #1965
Duplicate of #1611.

[2020-03-25 14:11] mohamedsamehkhalil commented on #1965
Yes you are right, thanks closing now

[2020-03-25 14:11] #1965 closed

[2020-03-25 15:26] mgautierfr commented on #1659
FYI, this is done here https://github.com/kiwix/kiwix-lib/pull/328

[2020-03-25 15:37] #1943 closed

[2020-03-25 15:49] #1931 closed

[2020-03-25 15:56] macgills commented on #1775
@mhutti1 heimoo can't see files on the sd card since the update, the version he was on remains a mystery.

I was going to make a development version with a button he could press that would email some specific logs to see what is happening on his device if he was willing but because of the language barrier I couldn't ascertain if I had his consent.

It now seems clear that heimoo is definitely will

[2020-03-25 16:04] macgills commented on #500
This ticket is quite design intensive and will touch on data filtering. Look to `ZimManageViewModel.updateLibraryItems` and see if you understand what is happening there.

Also should be noted this is all to radically change with the introduction of OPDS. Not very friendly ticket right now I think

[2020-03-25 16:11] macgills commented on #1962
@akkywadhwa this is the expected style of our kotlin classes, I will request it on any kotlin PR.

Annoyingly kotlin extensions don't work across modules, you can read more [here](https://youtrack.jetbrains.com/issue/KT-22430).

I'll close this

[2020-03-25 16:11] #1962 closed

[2020-03-25 16:12] #1963 closed

[2020-03-25 16:28] macgills commented on #1659
@mgautierfr excellent! Is it published?

[2020-03-25 17:31] Frans-Lukas commented on #500
What is OPDS @macgills and why will it change this ticket?

[2020-03-25 17:34] grayhatdevelopers commented on #1950
@sonusourav  I saw the issue #1797 as you have mentioned, but my point is why the user needs to refresh the list, providing a refresh option even if nothing is being downloaded will simply be an overkill. The list only needs to be refreshed when something is added, so let the app do it itself

[2020-03-25 17:40] hamza-maqsood commented on #1950
@sonusourav I saw the issue #1797 that you have mentioned, but my point is that the list only needs to be refreshed only when something is downloaded, the app should do it itself.

[2020-03-25 18:07] yashk2000 opened #1966 "Home title not changed when exiting zim"
**Describe the bug**
When we exit a zim and return to the main screen of the app, the title of the screen stays the same as that of the zim just exited.

**Expected behavior**

The title should be set back to "Kiwix"

**Steps to reproduce the behavior:**
1. Open any zim.
2 Press the phone back button to return to the main screen.
3. See the title. It should be "Kiwix", but it is that of the exited

[2020-03-26 09:13] mgautierfr commented on #1659
Yes it is in release 9.0.0 (and version 9.0.1 integrate the change about the offset stored in a long instead of a int)

[2020-03-26 09:50] kelson42 commented on #1659
@mgautierfr thx

[2020-03-26 13:08] yash1ts opened #1967 "Showing warning before closing all tabs on opening new book"
**Is your feature request related to a problem? Please describe.**
On opening some other book all the tabs are closed and a new tab opens with that book's content.
This gives a feeling of bug, its not correct behavior. The user loses all the opened tabs.

**Describe the solution you'd like**
On opening a new book, a warning should be shown like "Do you want to open this book, this will close all t

[2020-03-26 13:12] 4shutosh commented on #1967
@yash1ts We don't support multizim as of now( we cannot open two different files simultaneously in two/more tabs)

We can open same file in different tabs to read/compare  articles .

[2020-03-26 13:16] yash1ts commented on #1967
Yes, I am not saying about opening multizim files. I am just saying we should show a warning before closing all tabs.

[2020-03-26 13:25] 4shutosh commented on #1967
The only way to close all tabs is from tab switcher ( bottom blue cross icon ) which I think is quite obvious suggesting the action that it will close all tabs.

Also the user is used to it, cause there is no warning while closing background apps (Android system), closing all tabs from Chrome,etc.

IMO this feature will be irksome and is not required.

[2020-03-26 13:34] yash1ts commented on #1967
@4shutosh I didn't mean that. Opening any other zim file closes all tabs.

[2020-03-26 15:08] macgills commented on #500
It is a new endpoint for serving data to the LibraryFragment, it is paginated so we request smaller chunks and do so by various criteria, if you search OPDS in the issues you should be able to get more info

[2020-03-26 15:39] macgills commented on #1967
The current behaviour is annoying and unexpected but also showing a message everytime would be pretty annoying too.

Unfortunately I think are users are used to this "quirk" and we can ignore it until MultiZim is a reality

[2020-03-26 15:40] #1941 closed

[2020-03-26 16:14] #1933 closed

[2020-03-26 16:30] alanajjar opened #1968 "Android 4.4 users for WikimedAR app complains that not open after download it"
Hello,
(Here I pass what I noticed from WikimedAR app reviews.)

I noticed that (Android 4.4) often complains that after download the app is not opened with them, as we received two complains (today and yesterday), and I took a look on previous comments, and I found a lot said the same since 2019.

I replied on all of them, that if they can explain more, as the app should work on Android version 4

[2020-03-26 17:08] yash1ts commented on #1967
@macgills the alert box can have an option like "Don't show this again". In this way, the user will not lose all tabs if he accidentally opens any other book and can opt-out from warning if he wants.

[2020-03-26 17:39] yash1ts opened #1969 "Clicking Sub topics in right drawer doesn't work"
**Describe the bug**
Clicking subtopics in the right drawer should scroll the current page to that topic as clicking topics does. It just closes the drawer.

**Expected behavior**
On clicking the subtopic the page should scroll to that topic.

**Steps to reproduce the behavior:**
1. Open any book.
2. Open right drawer from bottom nav bar.
3. Click on any sub-topic.
bug- Closes the drawer but no pa

[2020-03-27 05:02] 4shutosh commented on #1969
The issue is not described well.
It happens when the main parent heading view is collapsed and is required to be expanded for the suptopic drawer item to work.
I think the drawer works fine in other cases.

[2020-03-27 09:16] yash1ts commented on #1969
@4shutosh I agree with you, I didn't see that at first. The clicking doesn't work because the heading is collapsed. As a result, the page is not scrolled on clicking subtopics.

[2020-03-27 15:46] macgills commented on #1967
Implementing the don't show again is the part that makes me want to do this the least.

I will be closing this as I don't want to introduce this as a temporary fix. We should be making strides towards multizim soon with the removal of the ContentProvider.

[2020-03-27 15:47] #1918 closed

[2020-03-27 15:49] macgills commented on #1969
duplicate of #309 closing

[2020-03-27 15:49] #1969 closed

[2020-03-27 18:25] yash1ts commented on #1967
Ok

[2020-03-28 10:32] #1860 closed

[2020-03-28 14:01] Frans-Lukas opened #1971 "Convert HistoryAdapter to Kotlin"
**Is your feature request related to a problem? Please describe.**

The class is written in Java and should be rewritten to Kotlin. See #1826 .

**Describe the solution you'd like**

Convert HistoryAdapter to Kotlin.

**Additional context**

Parent issue #1826 .

[2020-03-28 18:13] #1967 closed

[2020-03-29 10:18] Frans-Lukas opened #1972 "Convert HistoryPresenter to Kotlin"
**Is your feature request related to a problem? Please describe.**

The class is written in Java and should be rewritten to Kotlin. See #1826 .

**Describe the solution you'd like**

Convert HistoryPresenter to Kotlin.

**Additional context**

Parent issue #1826 .

[2020-03-29 18:31] 4shutosh opened #1974 "Better Visiblity of Item Details in Dark Mode."
**Is your feature request related to a problem? Please describe.**
New Card View for items has background color which makes reading item details quite hard in low brightness.

**Describe the solution you'd like**
Colors with better contrast should be used for the CardView and corresponding text.

**Additoinal Context**
I would like to work on this issue.

[2020-03-29 18:35] 4shutosh commented on #1974
Please refer the PR #1975 for better understanding of the issue.

[2020-03-30 07:55] #1966 closed

[2020-03-30 09:20] #1952 closed

[2020-03-30 09:23] macgills opened #1977 "Can't Download Item with no description"
**Describe the bug**
Null descriptions cause an exception because a download request does not accept a nullable.

**Expected behavior**
Downloading n item works

**Steps to reproduce the behavior:**
1. Click on WikEm

[2020-03-30 11:18] macgills commented on #1659
@mgautierfr I am not seeing the method `getArticleSize`

![image](https://user-images.githubusercontent.com/3358282/77906717-53786180-7280-11ea-9345-92e105696568.png)

[2020-03-30 12:40] #1977 closed

[2020-03-30 13:55] mgautierfr commented on #1659
My bad. I've totally mixed up the things. The function is in master but not yet released. It will be available soon.

[2020-03-30 14:01] macgills commented on #1659
Cool, just let me know on release so I can update my draft PR to Ready For Review with the latest library.

[2020-03-30 20:16] akkywadhwa opened #1981 "Convert SettingsPresenter to Kotlin"
**Is your feature request related to a problem? Please describe.**

SettingsPresenter is still in Java. It can be converted to Kotlin.

**Describe the solution you'd like**

Convert it to kotlin

[2020-03-30 20:56] akkywadhwa opened #1983 "Convert IntroPresenter to Kotlin"
**Is your feature request related to a problem? Please describe.**

IntroPresenter is still in Java. It can be converted to Kotlin.

**Describe the solution you'd like**

Convert it to kotlin.

[2020-03-30 22:00] akkywadhwa opened #1985 "Convert MainPresenter to Kotlin"
**Is your feature request related to a problem? Please describe.**

MainPresenter is still in Java. It can be converted to Kotlin.

**Describe the solution you'd like**

Convert it to Kotlin

[2020-03-31 01:00] akkywadhwa opened #1987 "Remove AnimatedProgressBar"
**Is your feature request related to a problem? Please describe.**

AnimatedProgressBar could easily be replaced with just a ProgressBar

**Describe the solution you'd like**

Delete AnimatedProgressBar and adapt our current code to use a ProgressBar

[2020-03-31 08:06] #1983 closed

[2020-03-31 09:04] kelson42 commented on #1968
@macgills Would you be able to look to the Play Store console please and try to identify a pattern?

[2020-03-31 09:16] macgills commented on #1968
There is no crash report to support this. I could try and repro with an emulator? If anyone has a 4.4 device that would be better

[2020-03-31 09:19] macgills commented on #1824
@yash982000 you may need to comment here before I can assign you

[2020-03-31 09:29] 4shutosh opened #1989 "Conditional ZimFile size color on Library"
**Describe the feature you'd like**

Displaying  appropriate text color of ZimFile size according to
* storage available on users device
                      **or**
* setting a limit of size ( if file is more than 1GB or so ) will act as a warning.

**Usage**
![Untitled design](https://user-images.githubusercontent.com/53831987/78009551-d243cc00-735e-11ea-8c4c-10d21c9808ef.png)

This will not onl

[2020-03-31 10:28] macgills commented on #1989
@kelson42 I'll leave this to your decision. I don't think we need it

[2020-03-31 11:15] #1974 closed

[2020-03-31 11:41] kelson42 commented on #1989
@macgills Online books which can not be downloaded should be fully greyed (We have or had an issued about that). So just changing the color seems inappropriate.

[2020-03-31 11:43] #1981 closed

[2020-03-31 11:46] macgills commented on #1989
@kelson42 only items that were unsupported by the filesystem were greyed out. We only check "Insufficient space" when a user clicks on an item

[2020-03-31 11:55] kelson42 commented on #1989
@macgills Then this ticket should muted to grey them out (like for the other which can not be downloaded) IMO.

[2020-03-31 12:07] macgills commented on #1989
The problem then becomes the available storage changing over time. We would need to on an interval check the available space and then make the decision to gray them out

[2020-03-31 13:07] Frans-Lukas opened #1990 "Date is not removed from book history list when all items from that date are removed."
**Describe the bug**

When all history items from a specific date are deleted, the date stamp remains. This looks weird and is not the expected behavior.

**Expected behavior**

If all history items within a specific date are deleted, the date stamp should also be deleted from the list.

**Steps to reproduce the behavior:**
1. Have a list of history items from multiple dates.
2. Open the history a

[2020-03-31 13:11] macgills commented on #1990
@Frans-Lukas if you are looking for a challenge these screens(history and bookmarks which are essentially a copy paste) are not adhering to Unidirectional Data Flow. It would not be an inconsiderate rewrite but these screens have a host of data flow issues because of their outdated architecture

[2020-03-31 13:13] Frans-Lukas commented on #1990
I might be looking for one! I'll take a look and see if I get what to do.

[2020-03-31 13:22] macgills commented on #1990
You can look at SearchActivity or LanguageActivity for some simple examples.

The basic principle is the View sends Actions to the ViewModel, the ViewModel processes the Actions and emits States, the View renders States.

It can be quite challenging because you have to explicitly model the entire state of the screen. It will also require some knowledge of Rx and reactive data flows in general. I a

[2020-03-31 13:23] Frans-Lukas commented on #1990
Ok, I haven't done any Rx so I'll have to look into that and make sure to ask questions if they arise.

[2020-03-31 13:24] macgills commented on #1990
We could then have the adapter use the AdapterDelegates pattern and it would be much nicer

[2020-03-31 13:53] #1838 closed

[2020-03-31 14:49] akkywadhwa opened #1991 "Convert JNIModule to Kotlin"
**Is your feature request related to a problem? Please describe.**

JNIModule is still in java. It can be converted to Kotlin

**Describe the solution you'd like**

Convert it to Kotlin

[2020-03-31 15:48] akkywadhwa opened #1993 "Convert NetworkModule to Kotlin"
**Is your feature request related to a problem? Please describe.**

NetworkModule is in java. It can be converted to Kotlin.

**Describe the solution you'd like**

Convert it to Kotlin.

[2020-04-01 08:37] #1991 closed

[2020-04-01 09:29] macgills commented on #1866
@kelson42 this looks fine to me, closing

[2020-04-01 09:29] #1866 closed

[2020-04-01 14:52] macgills commented on #770
![image](https://user-images.githubusercontent.com/3358282/78151569-a6911680-7430-11ea-98b8-14277f645c73.png)

Here is a very rough implementation with not much formatting of the available date we have on a book

[2020-04-02 09:25] #1937 closed

[2020-04-02 09:36] macgills commented on #1938
Users can zoom out to see the content

or this is an option

![image](https://user-images.githubusercontent.com/3358282/78233065-1bb22980-74cd-11ea-9f3a-bdd4edf6960d.png)

We currently have that slider for "Zoom Preference" in our Settings which I don't see much point for? It would probably look nicer if the page just loaded into the width

[2020-04-02 10:06] #1971 closed

[2020-04-02 10:16] macgills commented on #1876
@kelson42 do we want to make it so `Find in Page` is always enabled? Otherwise this is a `won't fix`

[2020-04-02 10:36] macgills commented on #1854
Okay so there are a few issues here

1. Allocating space for a large file can take a significant amount of time on some sd cards
1. We do not communicate to the user well that we are allocating space and it could take a while
1. We don't automatically switch the preferred storage if a user removes the sd card that was set as the preferred storage
1. We don't stop a download that is in the allocati

[2020-04-02 10:54] macgills opened #1996 "Communicate to the user that a download is allocating space and it could take a while"
**Is your feature request related to a problem? Please describe.**

When a user starts a large download there is a chance that the pre-allocation of the file will take from 30mins to 1hr and they have no idea that they should wait for that to happen.

**Describe the solution you'd like**

When a user presses stop on a pending download(note: investigate the underlying state, could be added) we shou

[2020-04-02 11:01] macgills opened #1997 "Update preferred storage if it was removed by the user"
**Describe the bug**

If the user removes their sd card after setting the sd card as their preferred storage then we continue using this as the preferred storage and report available size as 0
**Expected behavior**

The app should fallback to using internal storage if removable doesn't exist

There is a question if we should switch to internal permanently ie save internal as preferred if current p

[2020-04-02 11:04] macgills opened #1998 "Stop a download that is in the allocating phase"
**Describe the bug**

Clicking stop on a large download that is still in the "allocating" phase does not stop the download and seems to have no effect

**Expected behavior**

When the stop button is pressed the download should be removed from the list and stop all activity

First reported #1854

[2020-04-02 11:05] #1854 closed

[2020-04-02 11:08] #1823 closed

[2020-04-02 11:15] yashk2000 opened #1999 "Unit Test: DarkModeViewPainter"
**Type of Test**

* [X] Unit Test
* [x] UI Test

**Particular area and files to be tested**

- DarkModeViewPainter

**Current Status of the tests**
<!-- Are there any tests included for this particular area, which need improvement, or has this are never been tested at all?
No tests

[2020-04-02 11:16] macgills commented on #1836
Closing this, conversion should be class based, not module

[2020-04-02 11:16] #1836 closed

[2020-04-02 14:20] #1909 closed

[2020-04-02 14:50] kelson42 commented on #1996
The only thing we know here is that the download seems (is) stuck in "Pending". The problem is that we don't really know if user face a slow download or a slow preallocating. Before starting to do a lot of work here, I would like to fix only the status in the UI. Instead of having "Pending" and then "In Progress", we would have: "Pre-allocating space", "Pending" and then "In Progress".

Of course

[2020-04-02 14:51] kelson42 commented on #1998
@macgills That sounds quite important to do to me.

[2020-04-02 14:54] kelson42 commented on #1997
I'm not really in favour of super-smart behavior behind de scene. I think a warning should be printed if the storage is not available anymoire and invite the user (with a button "go to settings") to change it. Doing more seems a bit too smart to my taste.

[2020-04-02 14:56] kelson42 commented on #1854
@an0nym767 Thank you again for your bug report. We will try to implement as much of possible of the three tickets which are consecutive to your report. Please subscribe to them if you want to be kept informed.

[2020-04-03 07:05] #1993 closed

[2020-04-03 07:21] #1985 closed

[2020-04-03 12:12] #1891 closed

[2020-04-03 12:14] macgills opened #2002 "Stop pre allocation of downloads and instead check currently downloading books to calculate available space"
**Is your feature request related to a problem? Please describe.**

Downloads can take a long time on certain devices with large files when saving to an sd card because the downloading library by default preallocates the file before starting a download.

**Describe the solution you'd like**
Get rid of the preallocation and from the currently downloading books and the available space calculate whet

[2020-04-03 12:20] macgills commented on #1998
superseded by #2002

[2020-04-03 12:20] #1998 closed

[2020-04-03 12:21] macgills commented on #1997
superseded by #2002

[2020-04-03 12:21] #1997 closed

[2020-04-03 12:21] macgills commented on #1996
superseded by #2002

[2020-04-03 12:21] #1996 closed

[2020-04-03 14:34] #2002 closed

[2020-04-04 14:49] kelson42 commented on #1840
@abdulwd @mhutti1 Would one of you be able to make that happens?

[2020-04-04 14:51] kelson42 commented on #1876
Seems to work as intended.

[2020-04-04 14:51] #1876 closed

[2020-04-04 14:52] kelson42 commented on #1999
@yashk2000 Do you plan to implement that ticket yourself?

[2020-04-04 14:55] kelson42 commented on #1968
@macgills Yes please do
@alanajjar We don't have any crash report in the Play Console. I guess we will have to close this ticket if we can not achieve to reproduce the problen.

[2020-04-04 15:10] kelson42 commented on #1554
A few months have passed and I think one other fundamental problem is that if "Stop read aloud" works out because it just stops the TTS, it can not work that way for the the Hotspot, as we need to provide a way as well to the user to configure the hotspot while running.

I still believe that just "WiFi Hotspot" is the best compromise.

[2020-04-04 15:46] sonusourav commented on #1683
@kelson42 I guess this issue is resolved because I am not able to reproduce it.

[2020-04-04 15:55] #1683 closed

[2020-04-04 17:45] sonusourav opened #2005 "Buttons overlap in Zoom control dialog"
**Describe the bug**

The buttons overlap in the dialog box of Zoom control in settings

**Expected behavior**

**Steps to reproduce the behavior:**
1. Go to settings.
2. Toggle on Zoom control if it is off
3. Click on Zoom level

**Screenshots**

![zoonm_ui](https://user-images.githubusercontent.com/34706326/78457739-06eeb500-76ca-11ea-8210-4702bfa04a89.jpeg)

**Environment**
- Version of Kiwix A

[2020-04-05 19:47] 4shutosh commented on #1989
What should be done then?
Should I close this Issue?

[2020-04-06 03:13] yash1ts commented on #1835
@macgills I would like to work on this.

[2020-04-06 04:22] alanajjar commented on #1968
@kelson42 yup feel free, I'm only passing what I found on comments.
Thanks for help

[2020-04-06 05:27] Popolechien commented on #1554
I wish we could afford some user testing but for the time being it's still the much clearer option so let's roll with it.

[2020-04-06 13:05] yashk2000 commented on #1999
@kelson42 sorry for the delay.
Anyone can work on this issue.

[2020-04-06 13:11] yashk2000 commented on #1840
@kelson42 I did open an [mr](https://gitlab.com/fdroid/fdroiddata/-/merge_requests/6415) on GitLab for this purpose, but I didn't receive any updates on it later on.

[code]
@macgills yes I tried that. But the droid maintainer told me to remove it because the .gralde folder is no more. Here is a link to his [comment](https://gitlab.com/fdroid/fdroiddata/-/merge_requests/6415#note_297161658).

[2020-04-06 14:04] sonusourav opened #2007 "Convert ChunkUtils to Kotlin"
**Is your feature request related to a problem? Please describe.**

Convert ChunkUtils to Kotlin. See #1826 .

**Describe the solution you'd like**

Rewrite the class in Kotlin

**Additional context**

Parent issue #1826 .

[2020-04-06 14:47] #1865 closed

[2020-04-06 15:00] macgills commented on #1938
@kelson42 there is something to be done on the android side, we could instruct the webview to load pages into the width of the webview as the linked PR may in facet do.

Do you know the point of this setting? I don't and if we could remove it we cold go with a sensible default setting for the webview's zoom behaviour

[2020-04-06 15:28] macgills commented on #1989
Depends on @kelson42 's decision. If we want to gray out files based on available storage it can be done, just needs some definition

[2020-04-06 15:34] macgills commented on #1840
is this ` output: build/outputs/apk/release/dev-universal-release.apk` correct when you build an unisgned apk with `disableSigning `? I would imagine the apk should be named with an `unsigned`

[2020-04-06 16:04] yashk2000 commented on #1840
@macgills on running `./gradlew -PdisableSigning app:assembleRelease` I get `dev-universal-release-unsigned.apk`

[2020-04-06 16:39] heimo0 commented on #1775
Hallo ....

I will Try a version form
"downloaded from the releases page on github or from download.kiwix.org"
But don´t know, which of the version are right for me.
It is Samsung S8 with Android V.9
Make it help to test a pre or beta version?

[2020-04-06 19:07] yash1ts commented on #1835
@macgills app:detekt fails complaining TooManyFunctions 28/11. How can I reduce the number of functions there are a lot of them?

[2020-04-07 11:32] yashk2000 commented on #1946
@macgills is a dialog like the screenshot below fine:

![screencap](https://user-images.githubusercontent.com/41234408/78664384-89a58900-78f1-11ea-84cd-c92850a8da66.png)

[2020-04-07 13:52] mohamedsamehkhalil commented on #1642
I was thinking about the same thing. I thought about adding timestamp to the Book class representing when it was last opened/downloaded and sorting based on this order.
The mainpage also needs a button to switch from default sort and recency sort.
I would like to work on this if I can

[2020-04-07 15:03] macgills commented on #1840
Then this is the offending line

because it is not pointing at the unsigned version

[2020-04-07 15:17] macgills commented on #1775
Releases page: https://github.com/kiwix/kiwix-android/releases
Downloads page: https://download.kiwix.org/release/kiwix-android/

There are many versions so I don't know which one will work for you because I don't know which one you upgraded from.

I cannot make a test version because I do not have the time. A new release of kiwix will happen in a month and maybe your problem will have been fixed

[2020-04-07 15:18] #1956 closed

[2020-04-07 15:23] macgills commented on #1835
we can consider this a legacy problem as you are converting an existing class. Run `gradlew detektBaseline` and this will add the existing issues to an ignore list.

This is the exception when you should do this, most of the time you should fix the issues detekt tells you about

[2020-04-07 15:43] macgills commented on #1946
@yashk2000 show me what it looks like with so many entries that it has to scroll.

I don't think the numbering is necessary.

[2020-04-07 15:56] macgills commented on #309
@kelson42 is there an issue on some other project to add this API for us to consume?

[2020-04-07 16:10] yashk2000 commented on #1946
@macgills on it. I won't be able to download enough zims for this purpose though. I'll just make a custom list with my own words and put it in this dialog.

[2020-04-07 16:21] kelson42 commented on #309
@macgills Yes, this is here https://github.com/openzim/mwoffliner/issues/596. Of course this is not dedicated to MWoffliner it will be part of ZIM format specs and of course we will have default implementations. But we will start with MWoffliner. This will definitly happens in the next months now.

[2020-04-07 16:40] yashk2000 commented on #1946
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/41234408/78696086-9095c100-791c-11ea-9d64-4305f653b8b8.gif)

[2020-04-07 16:40] yashk2000 commented on #1946
@macgills it looks like the above gif.

[2020-04-07 16:46] macgills commented on #1946
Works great for me

[2020-04-07 18:13] yash1ts commented on #1835
Ok

[2020-04-08 12:16] yash1ts commented on #1835
Now l am getting lintDebug error saying requires checkpermission ACCESS_FINE_LOCATION. LocalFileTransferActivity checks for ACCESS_COARSE_LOCATION. Should I change that to fine location or do I need to ignore this error too?

[2020-04-08 13:28] #1886 closed

[2020-04-08 13:58] macgills commented on #1835
It is easier if I can see it, if you need feedback push your changes and open a draft PR.

You can bypass the commit hook by using ` --no-verify` if using git for commandline or there is an option if you commit through AS

[2020-04-08 14:37] mohamedsamehkhalil commented on #1642
After reading more code I have an idea on implementing the recency sort in the **hometab** only.

1. add timestamp to the `Book` entity with default value of the current time
2. in the `newBookDao` add methods to update the timestamp to the current time
3. in `Repository.kt` add methods to allow sorting based on the timestamp instead of just the book name. Also add methods to update timestamp of a

[2020-04-08 19:02] hamza-maqsood opened #2010 "Toast and Storage Selector Option overlaps."
**Describe the bug**
When you try to download a file and enough storage isn't available, app shows a toast message and a storage device selector options behind it, as they both overlap, it's hard to read and respond.
Also the tags are overlaping and text too, in the list item, screenshot is attached.

**Expected behavior**
The toast message and the Storage Options popup should not overlap but clea

[2020-04-09 13:56] macgills commented on #1642
this is somewhat related to #500 as that proposes a UI for filtering the Library and I would want our filtering ui to be consistent across our lists.

The filtering would want to be shared between `Device` and `Home` so it would have to be stored in sharedPreferences.
We would have to define what our sorting strategies would be and how it is displayed. Do we still show the Language Headers when so

[2020-04-09 14:22] macgills commented on #2010
This has been fixed recently I am pretty sure. Are you testing on latest master?

[2020-04-09 15:20] hamza-maqsood commented on #2010
Yes it's fixed now. I re-cloned the develop branch and tested the app.

[2020-04-09 15:23] macgills commented on #2010
Great, we can close this.

[2020-04-09 15:23] #2010 closed

[2020-04-10 02:14] akkywadhwa opened #2012 "Add unit tests for NewBookmarksDao"
**Type of Test**

* [x] Unit Test
* [ ] UI Test

**Particular area and files to be tested**

NewBookmarksDao.kt

**Current Status of the tests**

Coverage is at 33.13%

**Particular Behaviour to be tested**

Functions: getBookmarks, getCurrentZimBookmarksUrl, bookmarkUrlsForCurrentBook, saveBookmark, deleteBookmarks, deleteBookmarks, migrationInsert

[2020-04-10 11:17] yashk2000 commented on #1824
@macgills can I take up this issue?

[2020-04-10 11:24] yashk2000 commented on #1840
@macgills could this be fixed by explicitly defining the output apk path in the build.gradle?

[2020-04-10 12:23] kelson42 commented on #1659
New kiwixlib has been published https://bintray.com/kiwix/kiwix/kiwixlib/

[2020-04-10 12:23] kelson42 commented on #1756
New kiwixlib has been published https://bintray.com/kiwix/kiwix/kiwixlib/

[2020-04-10 13:15] #1835 closed

[2020-04-10 13:31] macgills commented on #1824
@yashk2000 assigned. Please look to the previous PR for existing comments

[2020-04-10 13:32] macgills commented on #1840
Just update the merge request to have the correct path

[2020-04-10 14:25] macgills commented on #1659
After the library upgrade the zim file reading is far more unstable. I might make a separate PR to just upgrade kiwixlib on develop and see if it is affecting the contentprovider too

[2020-04-10 14:35] macgills commented on #1659
Hmmm seems to be working fine on develop. Curious. Will investigate more tomorrow

[2020-04-10 14:36] macgills opened #2014 "Upgrade kiwixlib"
**Is your feature request related to a problem? Please describe.**
9.1.0 was released

**Describe the solution you'd like**
upgrade kiwixlib

[2020-04-10 15:24] sonusourav opened #2016 "Convert BookmarkActvity to kotlin"
**Is your feature request related to a problem? Please describe.**

BookmarkActivity is currently in java

**Describe the solution you'd like**

Convert BookmarkActvity to kotlin

**Describe alternatives you've considered**

Parent issue #1826

[2020-04-10 23:16] DavidKutu opened #2018 "Kiwix won't use my SD card"
**Describe the bug**
I have a 16 GB SD card on my device, yet Kiwix won't download a 10 GB version of Wikipedia. I am using External Storage on settings.

**Expected behavior**
I should be able to download and store stuff on my external storage.

**Steps to reproduce the behavior:**
1. Go to settings, on storage select external
2. Press Download books
3. Search for Wikipedia
4. 10 GB option appear

[2020-04-11 06:34] kelson42 commented on #2018
@DavidKutu Thank you for your bug report. Which version of Kiwix to you use (visible in Settings, at the bottom)? Which filesystem do you use on your SD card? Are you been able to write a file bigger than 4GB at all on this SD card/filesystem?

[2020-04-11 07:32] #2014 closed

[2020-04-11 15:44] sonusourav opened #2020 "Fix lint warnings in bookmark package"
**Is your feature request related to a problem? Please describe.**

There are lint warnings and errors in bookmark package

**Describe the solution you'd like**

Fix all the lint warnings

**Additional context**

Parent issue #1274

[2020-04-11 23:21] DavidKutu commented on #2018
It was FAT32. I reformatted it to exFAT but that didn't help.

[2020-04-12 12:57] kelson42 commented on #2018
@DavidKutu So you don't see your Ext SD card in the settings? You see only the "internal" storage?

[2020-04-12 14:01] Popolechien opened #2022 "Error resolving host name when downloading content"
Not sure it has any actionable value -not even sure this is the right repo as the error might be somewhere else- but we received this from a Russia-based android folk:

![Screenshot_20200410-151458_Kiwix](https://user-images.githubusercontent.com/21675885/79070515-d1a02380-7cd6-11ea-8b57-393800d389c0.jpg)

[2020-04-12 15:30] kelson42 commented on #2022
@macgills I think there is nothing much we can do here, the user infrastructure is just broken.

[2020-04-12 15:31] kelson42 commented on #2022
@Popolechien Please ask users to open tickets here, there is most of the time nothing much we can do otherwise.

[2020-04-12 15:55] Popolechien commented on #2022
@kelson Well the guy wrote in Russian, I only opened the ticket as an FYI because he sent a screenshot. Feel free to close these tickets as they come.

[2020-04-12 15:57] kelson42 commented on #2022
@Popolechien Yes... the fundamental problem is that for a ticket in which the problem is not obvious (from the symption or the rootcause), the value is the exchange between the dev and the user... and here there is no exchange possible unfortunatly :(

[2020-04-12 15:58] Popolechien commented on #2022
Since this is more of an FYI I am more than happy to simply flag it via Slack. Let me know if that would be best.

[2020-04-13 06:27] abdulwd commented on #1274
How do we update the baseline file? Or is it auto-updated when we fix an issue?

[2020-04-13 13:29] #1824 closed

[2020-04-13 13:58] macgills commented on #2018
Hi @DavidKutu can you long click on the greyed out item? A message should display and if I am correct it will say something like "trying to detect storage". If you wait awhile on this screen then we may successfuly detect the filesystem as compatible with files over 4GB. The process can take minutes unfortunately

[2020-04-13 13:59] macgills commented on #2022
I would doubt there is anything to do app side

[2020-04-13 13:59] #2022 closed

[2020-04-13 14:00] macgills commented on #1274
The baseline needs to be updated, ie delete it and next time you run lint it fails and creates an up to date baseline

[2020-04-13 14:02] kelson42 commented on #1938
@macgills I think I will trust you on that one. I'm not sure myself that the zoom feature is necessary (anymore?). The point is that you devs need to be carefull to not try to fix HTML problems on the reader side. I think that could wrap-up my point :)

[2020-04-13 17:03] jhbiggs commented on #1648
/unassign
Hi, sorry everybody, I just can't commit time to this assignment.

[2020-04-13 17:22] kelson42 commented on #1648
@jhbiggs No problem, hope to see you back soon!

[2020-04-13 17:38] DavidKutu commented on #2018
@kelson42 The Ext SD does appear in settings. And it is selected.

@macgills The message does appear, but then nothing happens. How long should it take?

[2020-04-14 14:12] macgills commented on #2018
@DavidKutu I only ever observed 5 minutes at the worst I think? try long clicking at the end of 5 minutes, it has different messages for when it is in progress or failed to assess the filesystem (ie couldn't write a 4GB file)

[2020-04-15 15:41] #1972 closed

[2020-04-16 14:46] #2020 closed

[2020-04-16 14:52] #2016 closed

[2020-04-16 14:59] #1946 closed

[2020-04-16 17:36] mohamedsamehkhalil commented on #2005
Hello, I would like to work on this

[2020-04-17 14:07] #1938 closed

[2020-04-17 14:19] macgills commented on #2005
This dialog has been deleted so I am afraid this can no longer be worked on

[2020-04-17 14:19] #2005 closed

[2020-04-17 14:59] #1899 closed

[2020-04-17 18:22] yashk2000 commented on #1840
@macgills did that. Actually I made the change in the path because the droid maintainer told me to.
I reverted that change now and asked for a review again.
Let's hope we get a response fast.

[2020-04-17 19:44] yashk2000 commented on #1754
@macgills I wasn't able to figure out this issue.
I tried to run the test on my device after removing `@Ignore`.
The test ran successfully on my device.

[2020-04-18 10:17] kelson42 commented on #1228
@abdulwd Have you been able to check this?

[2020-04-18 10:19] kelson42 commented on #1358
@abdulwd Do you think this is a ticket you could fix? This is a pretty annoying one and I would really like to have this test in 3.3.

[2020-04-18 16:48] yashk2000 commented on #1840
@macgills could you please look into this?
https://gitlab.com/fdroid/fdroiddata/-/merge_requests/6415#note_326678907

It still isn't working. I changed the path, and disableSigning also seems to be working.

[2020-04-19 11:56] Frans-Lukas commented on #1990
@macgills How does this work?

[code]

My thinking is that it 'keeps track' of each of the search result-publisher and combines them when any of them update to allow the state to change. But what is Function4/a combiner?

[2020-04-19 13:16] kelson42 commented on #1659
New kiwix-lib is now available https://bintray.com/kiwix/kiwix/kiwixlib/9.1.1

[2020-04-19 13:17] kelson42 commented on #1756
New kiwix-lib is now available https://bintray.com/kiwix/kiwix/kiwixlib/9.1.1

[2020-04-20 11:14] Popolechien opened #2023 "Block access to external links from within the app"
Kiwix (and Kiwix-custom) should have an option that disables entirely the possibility to open an external link from within the app (for instance in a Wikipedia infobox).

We implemented something similar on Kiwix-serve that gives users a warning (e.g. "are you sure you want to do this?"), but I would like the option to open external links entirely removed.

[2020-04-20 12:31] kelson42 commented on #2023
@macgills I think this shoudl be a (build-time) option for kiwix-custom-apps. For now no reason to have it in Kiwix itself.

[2020-04-20 14:25] abdulwd commented on #1228
@kelson42 We have to upload the correct split apk for the given device.
@macgills Can we discuss this over a call?

[2020-04-20 14:57] macgills commented on #1754
@yashk2000 they always ran for me successfully, the problem is on the CI. You would have to open a PR, configure the workflow so it runs on all available emulators (like it does on the nightly build) and run that a bunch of times until you are confident that the test is not flaky

[2020-04-20 15:11] macgills commented on #1990
In english "whenever any of these data sources emits something take that new value and the latest known value of all the other data sources and use the function `reduce` to create a new state object" and then the subscribe takes the value and sends it to the livedata `state`

In strict redux a reducer is only `previousState + newAction = newState` so I was cheating a little bit but this screen is

[2020-04-20 15:23] macgills commented on #2023
Should be pretty easily achievable as we already detect external links, just have to wrap things in a if.

Adding this for custom apps raises some questions, do we want to update the json of all custom apps or do we want this to be an optional field on the json? Is the default behaviour in that case "allow" or "disallow" external links?

[2020-04-20 15:26] macgills commented on #1228
We also do have a universal apk? If you can just upload that then there is no worries.

I can be on a call next week 27th-1st

[2020-04-20 15:30] macgills commented on #1659
@kelson42 @mgautierfr I am still having an issue with the new api for fetching size by url

[code]

[2020-04-20 15:31] macgills commented on #1659
Ah I see my error, hold on, testing a fix

[2020-04-20 16:22] Frans-Lukas commented on #1990
ok, so for the historyViewModel it might use the historyDao, the filter and the reducer? Ah, originally I thought all emitters emitted the same type of value but I see now that they are emitting different types of values that are used in combination to get the correct search results. Cool!

[2020-04-20 16:52] macgills commented on #1990
It would also use actions `ShowAllSwitchToggled` `UserClickedItem`, LanguageViewModel shows an example of this

[2020-04-20 16:53] Frans-Lukas commented on #1990
Ok, cool. Thanks!

[2020-04-20 18:17] yashk2000 commented on #1754
@macgills so like in the nightly build, I have to add the following section to the pull request build?

[code]

[2020-04-20 18:42] kelson42 commented on #2023
@macgills Default is allow. Could we just activate this option is asked in the json? So a default value if not at all in the json?

[2020-04-20 21:07] abdulwd commented on #1228
Cool. Works for me.

[2020-04-20 22:15] asereze opened #2024 "Two strings are not localized correctly"
There are two strings, in the "Online" tab of the Library, that keep remaining in my system's language (Italian), no matter what language I choose in Kiwix's settings: "Selected languages:" and "Other languages". It only happens on that page, in the one where I can select the languages they are correctly localized.

- Version of Kiwix Android : 3.2.1
- Device : Xiaomi Redmi Note 4X
- OS version :

[2020-04-21 05:43] kelson42 commented on #2024
@macgills Any idea? We had an old bug really similar which has been closed because of lack of reprocase.

[2020-04-21 05:53] abdulwd commented on #1358
@macgills Does this one need to be rewritten in robot or should I just try to fix it?

[2020-04-21 06:41] kelson42 commented on #1228
@abdulwd @macgills OK, looks like we should better deal with BrowserStack then. I will close this ticket. If we go further in that direction, I believe we should implement a really simple/minimal/basic automated test using BS and see if this behaves stable during a month. But before that we need a clear ticket to scope the work.

[2020-04-21 06:41] #1228 closed

[2020-04-21 14:38] macgills commented on #1754
or in coverage.yml just increase the amount of api levels being tested would probably be easiest

[2020-04-21 14:39] macgills commented on #2023
Yeah, if the option is not declared in the json we can simply interpret that as "allow external links"

[2020-04-21 14:50] macgills commented on #2024
We are using the application context to get the string in the ZimManageViewModel, which is what produces the data to be rendered in LibraryFragment, this should be easily fixable

[2020-04-21 14:53] macgills commented on #1358
Any test should be written as a robot.

However I still don't think we should bother testing this because it should be changing radically

[2020-04-21 15:06] abdulwd commented on #1358
So should we remove this from milestone 3.3?

[2020-04-21 15:08] macgills commented on #1358
That would certainly be my feeling but I will leave that to @kelson42

[2020-04-21 15:31] macgills commented on #1754
there is a retry button for the actions I believe

[2020-04-22 15:50] macgills opened #2026 "Migrate Zim prefix away from "content://""
**Is your feature request related to a problem? Please describe.**
Zim file urls are prefixed with a long and cumbersome string that previously served to ensure that the content was being served by a contentProvider. After #1659 is merged that will no longer be the case

**Describe the solution you'd like**
use "zim://" as our scheme and handle the cases where the user has a previously open book u

[2020-04-22 15:58] #1659 closed

[2020-04-23 15:42] #1960 closed

[2020-04-23 19:55] kelson42 commented on #1756
For me works fine now with 3.3.0

[2020-04-23 20:19] rgaudin commented on #1756
Well you were never affected by this issue so it’s not very useful:)

Will try to test with the device on Saturday (it’s been reassigned)

[2020-04-23 20:25] kelson42 commented on #1756
@rgaudin It is true that I was not able to get a crash. But, I was not able to play most of the audio of this same ZIM... which I assume was an other symptom of a same root cause. Now I can. Actually I can even play all the chapters of one audiobok together... which is fun.

[2020-04-24 07:38] kelson42 commented on #1775
@heimo0 New release 3.3.0 has been released in beta in Play Store. Should be tested to update the ticket.

[2020-04-24 09:30] heimo0 commented on #1775
How do i update to it?

Am 24. April 2020 09:38:57 MESZ schrieb Kelson <notifications@github.com>:

Gruß

Hermann Moseler

[2020-04-24 12:34] yashk2000 commented on #1840
@kelson42 @macgills this issue can be closed now.
https://gitlab.com/fdroid/fdroiddata/-/merge_requests/6415
The MR has been merged now.

[2020-04-24 12:38] kelson42 commented on #1840
@yashk2000 Thx, so far I don't see 3.2 in FDroid (might come in a few days)... and we need anyway to do 3.3 now!

[2020-04-24 12:42] yashk2000 commented on #1840
@kelson42 The MR just got merged a few minutes ago. 3.2 should be available soon.
If we are ready for the 3.3 release, I can open a new MR for 3.3 now.

[2020-04-24 12:44] kelson42 commented on #1840
@yashk2000 This is probably a bit too early to make a new PR, lets way around a week so the 3.3 milestone is closed first.

[2020-04-24 12:46] yashk2000 commented on #1840
@kelson42 sure. The release is supposed to be made by April end according to the milestone.
So I'll open a new MR then :)

[2020-04-24 13:04] florian29 commented on #864
The same issue is now back again with Kiwix APK 3.3.0 (and also 3.2.1) and the new ZIM file "wikipedia_de_all_maxi_2020-04.zim". Tested with Android 5.0.2 and also 4.4.4 with Samsung Galaxy Tab SM-T530 and also with Samsung Galaxy S4 mini.

To reproduce the issue open the ZIM file, then open some articles with many formulas, like "Maxwell-Gleichungen" and "Satz des Pythagoras". Scroll down the who

[2020-04-24 13:24] florian29 commented on #864
I'm not sure if I have to open a new issue for reporting this. Feel free to do it for me or inform me please. Thank you very much!

[2020-04-24 13:53] macgills commented on #1775
@heimo0 if you go to our store listing https://play.google.com/store/apps/details?id=org.kiwix.kiwixmobile on your phone you should be able to sign up to be a beta user if you scroll down the screen a bit.

[2020-04-24 14:26] kelson42 commented on #864
@florian29 Please open a new ticket. We will then have a look quickly.

[2020-04-24 14:26] #864 closed

[2020-04-24 14:39] macgills commented on #1840
Yes, we want to wait for 3.3.1 which will be the public release, 3.3.0 is a beta release only

[2020-04-24 15:01] macgills commented on #2018
@DavidKutu did waiting have a positive result?

[2020-04-24 15:33] florian29 opened #2032 "some Latex based formulas not shown on Kiwix Android APK 3.3.0/3.2.1"
**Describe the bug**
Some Latex based formulas are not shown on Kiwix Android APK 3.3.0 and 3.2.1 when opening articles with many formulas with the ZIM file "wikipedia_de_all_maxi_2020-04.zim". You must have opened at least 3 big articles with many formulas.

**Expected behavior**
All the formulas should be shown despite of how many articles you opened before. The internal data base should be clea

[2020-04-24 17:04] DavidKutu commented on #2018
No, after 5 minutes I gave up.

[2020-04-25 15:47] rgaudin commented on #1756
OK, I could eventually test with 3.3.0. It works as expected !!!
I could test with 3.2.1 (store) and with that works, it plays correctly but durations are messed-up.

Congrats on fixing this.

[2020-04-25 15:47] #1756 closed

[2020-04-26 06:29] kelson42 commented on #2032
I can not reproduce the problem (tested with a smaller ZIM file) on a recent Android.

[2020-04-26 06:59] danielzgtg opened #2033 "Should be able to easily open article with exact name"
**Describe the bug**

It is very hard to search for things like the word "a" in Kiwix.

While this most visibly affects the word "a," it affects most short words in Wiktionary.

Kiwix is using the query as a prefix but not making sure the exact match is the first result. This was unusable on 3.2 when the search results were limited, but even though it is possible to open the word "a" now on 3.3, I

[2020-04-26 07:42] danielzgtg opened #2034 "Crash after building from source"
**Describe the bug**

Kiwix crashes on launch.

**Expected behavior**

Kiwix not to crash.

**Steps to reproduce the behavior:**

1. Checkout 20d5054a from Git
2. Press the run button in Android Studio

**Environment**
- Version of Kiwix Android : 20d5054a
- Device : OnePlus 7 Pro
- OS version : OxygenOS Beta 11

**Logs**

[code]

[2020-04-26 07:53] danielzgtg commented on #2034
This crash goes away if I select the "app" build configuration instead of "custom".

The crash for "custom" is still a problem though. It should either be removed or the crash fixed.

[2020-04-26 08:07] kelson42 commented on #2034
The custom is a special kind of compilation and needs further resources to have a full working app. Look at https://github.com/kiwix/kiwix-android-custom. To me work as intended.

[2020-04-26 08:41] danielzgtg commented on #2033
I would like to work on this

[2020-04-26 12:45] kelson42 commented on #2033
@danielzgtg how the solution would looks like?

[2020-04-26 16:19] danielzgtg commented on #2033
Here is a video of my preliminary implementation of the exact article opening when the search button on GBoard is pressed:

https://photos.app.goo.gl/zz6hqf3TEELMAAUi8

[2020-04-26 17:40] danielzgtg commented on #2034
If it needs further resources and I forget to provide them, then we should make the Gradle build fail until they are provided. We know this at and we should be able to move this to compile time, so I should not be able to build an APK that we know will crash at runtime.

[2020-04-27 03:58] jonggeunpark commented on #1826
can i work on this?

[2020-04-27 06:33] kelson42 commented on #1826
@jonggeunpark yes, open a ticket and then a PR with the piece of code you want to convert.

[2020-04-27 08:25] macgills commented on #2033
I don't think this is a good idea, enter on a search field is meant to be `submit` aka fetch me results for this, right now we ignore this because we already search for data on each input.

[2020-04-27 08:33] macgills commented on #2034
This error was introduced by the kotlin conversion, opening a PR

[2020-04-27 08:56] danielzgtg commented on #2033
This is how it works on the official Wikipedia website. Most people who use Wikipedia, whether they also use Kiwix or not, would expect this behavior. The enter button can mean "submit," but it can also mean "I'm feeling lucky."

It actually doesn't matter how the underlying problem is solved. I don't care that much (only a little bit about consistency between Android/Linux) about how I am able to

[2020-04-27 09:08] macgills commented on #2033
We are not Wikipedia though, the app is most analogous to a browser and when I tap submit on a search in chrome it searches for it, though I guess if you address a webpage specifically it also goes to it. There could also be the issue where searching takes a long time to load (haven't witnessed it but there have been reports) where an "I'm feeling lucky" would be an ambiguous input.

If the search

[2020-04-27 09:12] kelson42 commented on #2033
@macgills @danielzgtg I would just like to have more time to think about that more in details. To a certain extend, what @danielzgtg asks for is how kiwix-serve and kiwix-desktop works.

[2020-04-27 10:40] #2034 closed

[2020-04-27 13:08] macgills opened #2037 "Crash Report 3.3.0: NPE NightModeViewPainter.deactivateNightMode (NightModeViewPainter.java:55)"
**Describe the bug**
[code]

[2020-04-27 13:09] macgills opened #2038 "Crash Report 3.3.0: ZimFileReader.mimeTypeFromReader (ZimFileReader.java:132)"
**Describe the bug**
[code]

[2020-04-27 17:05] Wikinaut opened #2041 "Kiwix 3.3.0 Build 6230300 crashes with wikipedia_en_all_novid_2018-06.zim"
**Describe the bug**

**Expected behavior**

**Steps to reproduce the behavior:**
1. When selecting that ZIM file  wikipedia_en_all_novid_2018-06.zim (Kiwix shows 77,2 GB, Android filemanager shows 37,02 GB) which md5sum is okay, Kiwix shortly shows the start page, then crashes.
2. Works with (for example) wikipedia_de_all_maxi_novid_2019-08.zim (Kiwix shows 34,5 GB, Android filemanager shows 82,9

[2020-04-28 09:41] #2037 closed

[2020-04-28 09:56] macgills commented on #2032
It will take me an hour or two to download the zim but I am testing

[2020-04-28 11:47] #2007 closed

[2020-04-28 12:18] #1864 closed

[2020-04-28 13:33] #2024 closed

[2020-04-28 14:01] macgills commented on #1968
I can't install any app from the play store with a 4.4 emulator so I don't have much of a way to test this, unfortunately will have to close

[2020-04-28 14:01] #1968 closed

[2020-04-28 14:11] macgills opened #2045 "Create Send Diagnostic Report screen"
**Is your feature request related to a problem? Please describe.**
Some people still have trouble with their sd cards file system detection and other device specific issues #1775 #2018 that are impossible to resolve without further information

**Describe the solution you'd like**
Add a "Send Diagnostic Report" button to Help screen.
Potentially reuse ErrorActivity and also enhance it to give us t

[2020-04-28 14:16] macgills commented on #2041
@Wikinaut are these files downloaded outside of the kiwix app?

[2020-04-28 14:19] kelson42 commented on #2045
This feature seems quite urgent indeed. I think I would prefer a string that the user could copy and do whatever he wants with it.

[2020-04-28 14:20] macgills commented on #2045
Well right now the error screen puts all the info into an email that a user is free to edit

[2020-04-28 14:27] macgills commented on #2045
I can probably get this into the 3.3 milestone, the remaining tickets are mostly fine, I think I have the necessary availability

[2020-04-28 14:33] kelson42 commented on #2045
I'm definitly with you on this. Thx for the quick move.

[2020-04-28 16:59] Wikinaut commented on #2041
@macgills Yes, they were loaded outside kiwix app and then placed into the Kiwix ZIM folder.

Today, I downloaded the last available, newer version.: wikipedia_en_all_maxi_2018-10.zim This works, i.e. no crashes, however images are missing in some articles (like "Prince (musician)" and "Apollo 13". I will investigate and report in a different issue.

[2020-04-28 21:54] kelson42 commented on #2032
@macgills Considering that the android is old, device should be relatively slow. Do we have a kind of timeout in content loading?

[2020-04-29 01:13] florian29 commented on #2032
I tried to reproduce again the bug which I described, but this time it was necessary to open a lot more articles then I described above to get the issue. At least I could get one broken image in the article "Tangens" after opening about 8 articles one by one. This time clearing the cache solved the problem. By the way: Despite the device is old, the Kiwix app and the zim file are opening very quic

[2020-04-29 08:47] macgills commented on #2032
I have a fix.

After some more testing I will create a PR and you can expect a new beta release shortly. Thank you for the bug report

[2020-04-29 09:27] macgills commented on #2041
#2046 boils down to "trouble with loading svgs" and a fix has been implemented so that could be a duplicate of your "missing images" problem

As for this crash I am monitoring our crash dashboard, it could be a problem with mimetype reading and that is also fixed but I have no way of confirming they are the same.

I will try and repro soon, the download process takes some time

[2020-04-29 11:02] #2038 closed

[2020-04-29 11:14] #2032 closed

[2020-04-29 13:44] #965 closed

[2020-04-29 15:07] #1274 closed

[2020-04-29 21:23] danielzgtg commented on #2033
This is exactly what I was trying to say.

Initially, it might have been confusing how I mixed up the titles for the issue/PR, but I fixed them later. I had come up with the ideas for both at the same time.

Going from Desktop to Android, I miss the ability to easily open an article by its exact name. This issue+PR is just requesting the feature to be ported.

[2020-04-30 08:07] macgills commented on #2033
Well I am very much in favour of the current PR to move the exact match to the top, we can await kelson's decision before going any further

[2020-04-30 08:08] #2045 closed

[2020-04-30 08:10] macgills opened #2049 "Crash Report 3.3.0: DateTimeParseException"
[code]

[2020-04-30 09:20] #2049 closed

[2020-04-30 10:42] sonusourav opened #2051 "Convert Bookmark package to kotlin"
**Is your feature request related to a problem? Please describe.**
The bookmark package is still in Java

**Describe the solution you'd like**

Convert it in kotlin

**Additional context**

Parent issue #1826

[2020-04-30 11:05] danielzgtg commented on #2033
Meanwhile, I have become only weakly in favor of it. I took a lot of the stuff I wanted out of that PR, such as sorting when kelson mentioned how that kind of logic belonged in libkiwix, as well as the enter button support after it was separately discussed from the rest of the PR.

Even the code that moves the exact match to the top might be moved to libkiwix. That would leave only the tests (whic

[2020-04-30 11:13] macgills commented on #2051
Please do not convert packages, singular classes preferred

[2020-04-30 11:13] #2051 closed

[2020-04-30 11:23] sonusourav commented on #2051
Hey @macgills ,
Please consider this time. Next time I will this into consideration.

P.S.: Some other files which were showing error are also changed.

[2020-04-30 11:31] macgills commented on #2051
I think it would be for the best if you opened individual tickets, there are confusing changes and video playing & svg loading is broken by this PR currently

[2020-04-30 12:07] sonusourav opened #2053 "Convert Bookmark presenter to kotlin"
**Is your feature request related to a problem? Please describe.**

Bookmark presenter is in Java

**Describe the solution you'd like**

Convert Bookmark presenter in Kotin

**Additional context**

Parent issue #1826

[2020-04-30 12:10] macgills commented on #770
@kelson42 here is the current state of this sheet

![image](https://user-images.githubusercontent.com/3358282/80708423-87df7780-8ae3-11ea-9873-29aa96d66704.png)

![image](https://user-images.githubusercontent.com/3358282/80708503-b0677180-8ae3-11ea-8ab4-81af90178fb2.png)

shown on clicking this new `(i)` icon in the library

![image](https://user-images.githubusercontent.com/3358282/80708578-d55be

[2020-04-30 14:32] sonusourav opened #2055 "Convert Bookmark Adapter to Kotlin"
**Is your feature request related to a problem? Please describe.**

Bookmark Adapter is in Java

**Describe the solution you'd like**

Convert bookmark adapter to Kotlin

**Additional context**

Parent Issue #1826

[2020-04-30 14:55] heimo0 commented on #1775
installed the beta, but bug continues, no zim in inside memory nor on SD-card will be recognized.
So I dowloaded a small online ZIM = Ubuntu, it is stored, but when opening the file, the app freeze.
Have to kill it to get out and off it..
Tried it several times, allways the same...

[2020-05-01 07:44] macgills commented on #1775
There have been a few bugs fixed since the beta and we have introduced a new diagnostic report system so you will be able to send us an email of details from the app to help diagnose your problem.

Thank you for your patience, I have to ask for a bit more. Hopefully we will have a new beta by the end of today

[2020-05-01 08:28] macgills commented on #2041
I have confirmed this is due to failing to load the mimetype for a php resource.

I have also confirmed it is fixed on latest develop, a new beta will be released shortly

[2020-05-01 08:28] #2041 closed

[2020-05-01 09:43] heimo0 commented on #1775
How dow i generate the Diagnostik Report?

Am 1. Mai 2020 09:44:24 MESZ schrieb "Seán Mac Gillicuddy" <notifications@github.com>:

Gruß

Hermann Moseler

[2020-05-01 09:50] macgills commented on #1775
On the new version, which you can download tomorrow (probably), it is in the help screen.
You access the help screen here
![image](https://user-images.githubusercontent.com/3358282/80797307-6b9e1200-8b99-11ea-82d3-964b5f89227d.png)
and then there is a `Send Diagnostic Report` button

[2020-05-01 11:24] macgills commented on #770
@kelson42 I think we should push this from 3.3 I want to make the release sooner rather than later and I think this will need some back and forth, also not a critical feature

[2020-05-01 13:22] #2055 closed

[2020-05-01 13:29] macgills opened #2060 "Archive test/static analysis(/apks?) output on github actions"
**Is your feature request related to a problem? Please describe.**
We currently rely on console output which can be difficult to parse.

**Describe the solution you'd like**
[UploadArtifact](https://github.com/actions/upload-artifact) hit v2 and is now much friendlier to use, we should use it to have easily accessible lint/detekt/unit&instrumentation results

[2020-05-01 13:32] kelson42 commented on #1447
@macgills Just to confirm I understand properly. Clicking on a browser download notification opens kiwix properly bus does not share the ZIM file path, but instead a cryptic content URI which does not allow to know where is the ZIM file it represents. If you confirm, I wonder for what is this URI usefull and how you could get a filedescriptor of it?

[2020-05-01 14:03] kelson42 commented on #2041
@Wikinaut @macgills `wikipedia_en_all_maxi_2018-10.zim` has many (but not everywhere) missing pictures. This is well known.

[2020-05-01 14:12] macgills commented on #1447
You can create an InputStream from it or get a AssetFileDescriptor but we can't get a filename as `content` uris might not even be a local file.  [ContentResolver](https://developer.android.com/reference/android/content/ContentResolver) is what we need to use to get access to the underlying data but kiwixlib would have to support the data in this format

[2020-05-01 14:31] Wikinaut commented on #2041
Yes, I already reported here: https://github.com/openzim/mwoffliner/issues/1008

[2020-05-01 14:31] macgills commented on #1447
[Here](https://stackoverflow.com/a/20559418/12225251) is an example of a dirty hack that we can in no way guarantee will work consistently. It is pretty hideous.

[2020-05-01 15:05] kelson42 commented on #1447
@macgills I think we can affort a proper fix here :)

[2020-05-02 06:36] kelson42 commented on #26
@macgills Would you be able here to help from which software part the problem comes from please?

[2020-05-02 08:22] kelson42 opened #2061 ""Humankind" in place of "human kind""
A user reported that we use the term "human kind" but the proper way to write it is "humankind". He seems to be right.

[2020-05-02 08:22] kelson42 commented on #2061
@macgills @mhutti1 You confirm?

[2020-05-02 12:53] kelson42 commented on #1901
I don’t like the whole principle of this for Kiwix or any other app (like Twitter for example). I don’t really understand the added value but I suspect the increase of complexity it can bring.

[2020-05-02 12:53] #1901 closed

[2020-05-02 13:10] kelson42 commented on #68
I see no reason why we should not have this feature on iOS but on Android. See https://github.com/kiwix/apple/issues/171. I believe we can have a blind friendly Kiwix without having this feature implemented.

[2020-05-02 13:11] #68 closed

[2020-05-02 13:18] kelson42 opened #2062 "Can we avoid to ask for permission for Pictures access?"
At the app installation, it is ask to give permission to access pictures on the fs. Many people don't understand why and then this request sounds dubious.

Could we improve something around this? Why we do need this permission? Could we secure that this permission is required/asked at the time a specific feature of the app is used (like "Save picture")?

[2020-05-03 12:14] jonggeunpark opened #2063 "Convert History contract to kotlin"
**Is your feature request related to a problem? Please describe.**

History contract is in Java

**Describe the solution you'd like**

Convert History contract in Kotlin

**Additional context**

Parent issue #1826

[2020-05-03 16:47] TanyaOrlova opened #2064 "Convert CustomViewPager to Kotlin"
**Is your feature request related to a problem? Please describe.**
CustomViewPager is currently in Java

**Describe the solution you'd like**
Convert CustomViewPager in Kotlin

**Additional context**
Parent Issue #1826

[2020-05-04 08:39] AnneChase09 opened #2065 ""Read Aloud" Feature on the Wiki Med Offline App"
**Describe the bug**
"Read Aloud" Feature on the Wiki Med App Stopped Functioning

**Expected behavior*
 On Clicking the "Read Aloud" feature, the content of the page is meant to be read aloud

**Steps to reproduce the behavior:**
1. Open the Wiki Med Offline App and any article in it.

2. Click on: 'Menu Bar'
3. Scroll down to: 'Read Aloud'
4. See error : "The Language of this page is not support

[2020-05-04 10:20] sonusourav opened #2066 "Convert NetworkUtils to Kotlin"
**Is your feature request related to a problem? Please describe.**

NetworkUtils is in Java

**Describe the solution you'd like**

Convert it in Kotlin

**Additional context**

Parent issue #1826

[2020-05-04 17:10] kelson42 commented on #2065
@mhutti1 @abdulwd @macgills Could you please quickly (before 3.3 release) verify we don't have created a regression here?

[2020-05-05 01:01] AnneChase09 commented on #2065
Have been trying to resolve this issue on my own, for quite  a while now. So I decided to try fixing it by updating my Language Output.

Apparently it worked, after downloading "Google Text-to-speech  [UNITED KINGDOM] voice data" on my device; the default language preference on my device is English (United States).

Inadvertently, I also found out that you can change the way the Voice-Output sound

[2020-05-05 06:41] kelson42 opened #2068 "At first download, ask to choose beetween "internal" and "external""
This is an idea to avoid users to download to the "wrong" place because for the beginners it is not obvious what are all the options the app provides.

[2020-05-05 16:25] macgills commented on #26
We call `jniKiwixReader.searchSuggestions(prefix, count)` with whatever the user has inputed for `prefix` and `count =200`

and then we call
[code]
in a loop until we get null

then we turn all the data we got until that null into a list to display.

I do not modify the search term that comes from the user in any way.

I also don't know if this is how you are supposed to search, I just ported code

[2020-05-05 16:27] macgills commented on #2061
3 occurences

[2020-05-05 16:34] macgills commented on #2062
[code]

the pertinent permissions are these. We need access to read external storage to be able to find zim files that are not in our app's directory.

We probably don't need Write but I'd need a more thorough investigation, we certainly wouldn't be able to delete a zim outside of our app's directories if the user attempted so.

I don't think the user visible request for the permission would chang

[2020-05-05 17:14] #2053 closed

[2020-05-06 07:28] Frans-Lukas commented on #1990
@macgills Should I create a separate issue for the HistoryActivity rewrite?

I have some WIP code that I'd like to have reviewed, do I just do a normal pull request with WIP in the title for that?

[2020-05-06 09:18] kelson42 commented on #26
@mgautierfr I think you are the only who can clarify things here!

[2020-05-06 14:46] macgills commented on #1990
We can use this ticket as the excuse for a rewrite. Open a "draft" PR and I can give you feedback

[2020-05-06 14:49] #2061 closed

[2020-05-06 15:18] macgills commented on #2065
@kelson42 This still works fine for me on 3.3

[2020-05-07 09:22] yashk2000 opened #2071 "Kiwix hotspot starts without mobile hotspot being turned on"
**Describe the bug**

Even if the hotspot of the device isn't on, and then the start server button is clicked, the Kiwix Hotspot starts. If I enter the provided URL in another device, the ZIMS appear in the browser of the other device too.
Earlier if Start Server was clicked without turning on the device hotspot, a toast used to be shown saying that the server couldn't be started.

From what I not

[2020-05-07 09:38] abdulwd commented on #2071
I'm aware of this. This is the intended behavior but isn't documented anywhere. Last year when Adeel was working on this we thought it would be a use case for hosting ZIMs on the same network with no internet.

[2020-05-07 10:34] yashk2000 commented on #2071
So should we update the dialog and the onboarding to include this information too?

[2020-05-07 10:39] abdulwd commented on #2071
Yes please and update the docstrings in the related file(s).

[2020-05-07 10:47] yashk2000 commented on #2071
Ok, I'll do that.

[2020-05-07 15:45] macgills commented on #1775
@heimo0 thank you for the report and patience, I believe I have a fix for this issue

[2020-05-07 15:49] macgills commented on #2018
@DavidKutu we have a new feature where a diagnostic report can be sent from the Help screen. This feature is available in our Beta release and is slowly being released to production over the coming days.

If you send a diagnostic report I am hopeful I can help

[2020-05-07 16:58] kelson42 commented on #2065
@macgills @AnneChase09 Not sure what do to next, but I suspect a glitch if you have certain locales like en-US.

[2020-05-08 12:16] Popolechien opened #2074 "Looks like there is a typo on android UI"
I was looking at translatewiki and I see the first string is _Kiwi_ rather than Kiwi**x**. Isn't this a typo? Does it get fixed here or there?
String: https://translatewiki.net/wiki/Kiwix:Android.ui.kiwi/fr

[2020-05-08 12:17] Popolechien commented on #2074
Just to be clear - the typo isn't in the French translation, which I could fix, but in the English source.

[2020-05-08 14:32] macgills commented on #2065
We could try giving a hint to the users that is better than?

![image](https://user-images.githubusercontent.com/3358282/81415979-06ba5d00-9141-11ea-8242-08413afa9e53.png)

I don't know particularly what we could say? Perhaps a button linking to Google Text To Speech?

[2020-05-08 14:32] #1775 closed

[2020-05-08 14:34] macgills commented on #2074
I think that string is not visible to the user, we should remove it though

[2020-05-08 14:46] kelson42 commented on #2074
@macgills It is in `app/src/main/res/layout/item_intro_1.xml`

[2020-05-08 14:49] macgills commented on #2074
as a contentDesciption if I remember correctly, not typically visible

[2020-05-08 15:10] macgills commented on #1841
Comment from #2075

So should #1841 be closed?

So our options are
1. Always show a dialog saying connect to wifi or hotspot
1. Only show a dialog if connected to neither(?)

Or are there more? can we identify the scenario of wifi vs hotspot? show a warning when you are not the hotspot "For people to view your hosted content they must be connected to the same wifi as you"

I have no firm opinion b

[2020-05-08 17:44] heimo0 commented on #1775
when will this version be available?

[2020-05-08 19:33] yashk2000 commented on #1841
@macgills we can show the dialog when neither is connected. If either wifi or hotspot is enabled, we'll allow the user to create a server.

We can also check whether wifi is enabled or hotspot is enabled. So in the case just wifi is on, we can show an additional warning, saying this instead of the dialog.

I believe the second option will be better as it will cover all the test cases. Please let m

[2020-05-10 07:47] kelson42 opened #2076 ""Problem loading widget""
This is what happen for me when I try to apply the widget to my "desktop". I get a white widget with inside the message "Proablem loadind widget". Seem quite important to fix IMO, we already have got at least one complain about it.

[2020-05-10 08:44] kelson42 opened #2077 "Search Widget broken"
This is what happen for me when I try to apply the widget to my "desktop". I get a white widget with inside the message "Problem loadind widget". Seem quite important to fix IMO, we already have got at least one complain about it.

[2020-05-10 08:44] #2077 closed

[2020-05-10 08:45] kelson42 commented on #2074
@macgills What is this string about? Do we have a typo or is that just the right thing written there? Or is the string OK but just useless?

[2020-05-10 08:49] kelson42 commented on #2065
@macgills I thought our application install the package automatically! This was at least the behaviour before #1510 has been fixed I guess. What is the new one?

[2020-05-10 15:46] kelson42 commented on #2018
@DavidKutu Would you be able to give a try with the latest nightly? https://download.kiwix.org/nightly/

[2020-05-10 17:25] rashiq commented on #2076
Can't reproduce with latest master, do you maybe have something related to that in the logcat?

[2020-05-11 10:17] mgautierfr commented on #26
It seems that you are using it correctly.

`Reader::searchSuggestionSmart` uses the xapian database if available (`kiwix-search` directly use the xapian database).
The java wrapping `searchSuggestions` is a wrapper around `Reader::searchSuggestionsSmart` so we are ok here also.

I don't know what is the problem here. The crash you report in #350 is from `searchSuggestionsSmart` not from `getNextSu

[2020-05-11 15:37] danielzgtg commented on #2074
It's never visible but it's very audible. It should be read by screen readers, but I've never used one.

[2020-05-11 15:43] #2071 closed

[2020-05-11 15:47] danielzgtg commented on #2062
On Android 9+, you don't even need this permission to read ZIMs. We should use the file picker dialog and let the user choose the ZIM file themselves.

On Android 11, apps are not allowed to look through the following directories:

- `/sdcard/`
- `/sdcard/Download/`
- `/sdcard/Pictures/`
- Anything else specified by https://developer.android.com/preview/privacy/storage#file-directory-restrictions

[2020-05-11 15:48] macgills commented on #1775
@heimo0 could you check if your problem is resolved by testing with this apk https://download.kiwix.org/nightly/2020-05-11/dev-universal-debug.apk

I will need to evaluate when we next do a release, ideally we do not do releases too close together to avoid annoying our users with too many downloads.

[2020-05-11 15:51] macgills commented on #1841
This sounds good to me in conjunction with

[2020-05-11 15:57] macgills commented on #2065
it should try to? That was the result of @mohamedsamehkhalil 's [discovery](https://github.com/kiwix/kiwix-android/issues/1510#issuecomment-584288757)

`getFeatures(tts, locale).contains(TextToSpeech.Engine.KEY_FEATURE_NOT_INSTALLED)`
if that evaluates true then we show this error message

[2020-05-11 15:59] #2063 closed

[2020-05-11 16:03] macgills commented on #2076
I assume this is android 10?

[2020-05-11 16:10] macgills commented on #26
Hmmm... that is impossible?

[code]

while we do have a code path for performing "full text results" I don't think it would ever happen because

[code]

and seeing as how that always evaluates to false I would imagine this codepath gets optimized away by proguard

[2020-05-11 16:16] macgills commented on #26
Maybe if you can walk me through the expected usage for the library to perform a successful search I can help but as of right now I don't particularly know which api to use. The code is a bit muddied with calls to searcher and reader that I didn't know enough about to change

[2020-05-11 16:18] macgills commented on #2074
We should remove the string, it is low priority so I probably won't get to it in the immediate future but anyone else is welcome to

[2020-05-11 16:22] macgills commented on #2062
It is a huge ui and behaviour change to support the SAF and we currently need access to files for compatibility with kiwixlib, hopefully this will change soon as there are tickets to support inputstream/file descriptors in kiwixlib.

[2020-05-11 16:43] #2018 closed

[2020-05-11 16:45] mohamedsamehkhalil commented on #2065
I believe that before #1764, we never actively requested the package to be installed. the package was installed automatically only if Google TTS engine was used (possibly other engines too).
in #1764 I just added that the toast but it should still install the package if Google TTS was used.

My theory is @AnneChase09 was initially using a TTS engine other than Google TTS, so it only showed the toa

[2020-05-11 16:45] macgills opened #2079 "Crash Report 3.3.1: NPE MainMenu.isInTabSwitcher"
[code]

[2020-05-11 17:27] kelson42 commented on #2076
@macgills Yes, and now the error has vanished and I can see the searbox properly and us it!!!

[2020-05-12 01:27] jonggeunpark opened #2081 "Convert History module to kotlin"
**Is your feature request related to a problem? Please describe.**

History module in Java

**Describe the solution you'd like**

Convert History module in Kotlin

**Additional context**

Parent issue #1826

[2020-05-12 01:53] roydok opened #2082 "Very slow search function"
**Describe the bug**
Slow search function. Takesna minute or 2 and sometimes never for the search results to come out.

**Expected behavior**
Quick search suggestion and results come out lile in the older 2.5 version

**Steps to reproduce the behavior:**
1. Upgrade to the latest version 3.0 and above
2. Use search
3. Slow to no results

**Environment**
- Version of Kiwix Android : 3.3.1
- Device :

[2020-05-12 05:52] kelson42 commented on #2082
@roydok Thank you for your bug report. Can you give one example of a search which takes two minutes to give results?

[2020-05-12 06:37] roydok commented on #2082
Hi. Thank you very much for your quick reply. I tried moving the 35.8 gb
off-line Wikipedia file from the 512 gb microSD card to my 128 gb internal
storage. The search speed improved but still slower compared to the older
Kiwix version 2.5. The older Kiwix version 2.5 has a fast search and search
suggestion if your file is located in either the microSD card or internal
storage. The current Kiwix v

[2020-05-12 07:01] kelson42 commented on #2082
@roydok This is great if it works better for you. That said, without clear and reproduction reproduction steps, we won't be able to work on this ticket and will close it.

[2020-05-12 14:57] macgills commented on #2076
… well then... problem solved?

[2020-05-12 14:58] #2074 closed

[2020-05-12 14:59] macgills commented on #2081
No modules, individual files only please

[2020-05-12 15:15] macgills commented on #2082
I could maybe build an apk which is 2.5.0 but with latest kiwixlib and see if the slowdown is a result of kiwixlib or if it is the android app?

Otherwise I don't know how to diagnose this. Could it also be the age of the file? `32 gb Wikipedia off-line`, knowing the date of this file wouldn't hurt anyways.

With a 2018-07-01 Wikipedia 77.2GB search is near instantaneous for me on a Galaxy Tab S r

[2020-05-12 15:45] jonggeunpark commented on #2081
What I meant is converting the file HistroyModule.java
Can't I do this?

[2020-05-12 15:54] macgills commented on #2081
Ah that is fine, my mistake

[2020-05-12 15:55] kelson42 commented on #2082
@macgills I strongly suspect this was at a time and with a ZIM file without a title Xapian index. This is why I ask for a concrete up2date use case. I don't think this make sense to come back to 2.5.

[2020-05-12 15:57] roydok commented on #2082
Diagnostic sent as you requested. I transfered back the 35.8 gb off-line
Wikipedia file back to my 512 microSD card and ran Kiwix version 3.3.1
doing the search and generating the diagnostic as you suggested. Search is
still slow.

On Tue, May 12, 2020, 11:16 PM Seán Mac Gillicuddy, <
notifications@github.com> wrote:

[2020-05-12 15:57] kelson42 commented on #2076
Hmmm, closing for now.

[2020-05-12 15:57] #2076 closed

[2020-05-12 15:57] jonggeunpark commented on #2081
thanks

[2020-05-12 16:00] roydok commented on #2082
Diagnostic sent

On Tue, May 12, 2020, 11:57 PM Roy Concepcion, <roydok9111976@gmail.com>
wrote:

[2020-05-12 16:10] macgills commented on #2082
@roydok interesting.... your sdcard reports its filesystem as sdfat which I believe should not support files of this size.

[2020-05-12 16:10] roydok commented on #2082
Thank you very much.

On Wed, May 13, 2020, 12:00 AM Roy Concepcion, <roydok9111976@gmail.com>
wrote:

[2020-05-12 16:14] roydok commented on #2082
My microSD card is a Samsung Evo plus 512 gb. I used it as is and not
reformatted it. I'll transfer the large 35.8 gb file back to the main
internal storage to have a faster search in Kiwix version 3.3.1. Thank you
very much for your time.

On Wed, May 13, 2020, 12:10 AM Seán Mac Gillicuddy, <
notifications@github.com> wrote:

[2020-05-12 16:15] macgills commented on #2082
If you can reformat to exfat the sdcard I would recommend that? Honestly it shouldn't have been able to copy the files over at all if the filesystem does not support files of this size. We could have a flaw in our methodology for detecting filesystems, very few pieces of code are perfect.

[2020-05-12 16:17] roydok commented on #2082
I'll try to reformat the card tom and report back to you and send you the
diagnostic. Thanks again for your help.

On Wed, May 13, 2020, 12:15 AM Seán Mac Gillicuddy, <
notifications@github.com> wrote:

[2020-05-12 16:21] macgills commented on #2082
Thank you for helping diagnose the problem, hopefully we can improve kiwix.

[2020-05-12 16:37] rutvik-panchal opened #2084 "Convert IntroContract to Kotlin"
**Is your feature request related to a problem? Please describe.**
IntroContract is in Java

**Describe the solution you'd like**
Convert it in Kotlin

**Additional context**
Parent Issue - #1826

[2020-05-12 22:12] mifritscher opened #2085 "Automatic split for downloader"
As kiwix can cope with split zim files, it would be very nice to add the functionality to split zim files automatically while downloading. I've a smartphone (android 9) which accepts only a FAT32 filesystem on the sd-card, and so I can't use a offline wikipedia for instance.

[2020-05-13 08:29] kelson42 commented on #2085
Recent versions of Kiwix can not deal with randomly splitted ZIM files anymore. Maybe at some point we will reintroduce a smart splitting, but for now please don't split your ZIM files anymore. See https://github.com/kiwix/kiwix-tools/issues/287

[2020-05-13 08:29] #2085 closed

[2020-05-13 14:20] #2084 closed

[2020-05-13 16:24] rutvik-panchal opened #2087 "Convert CustomViewPager to Kotlin"
**Is your feature request related to a problem? Please describe.**
CustomViewPager is in Java

**Describe the solution you'd like**
Convert CustomViewPager to Kotlin

**Describe alternatives you've considered**
N/A

**Additional context**
Parent Issue #1826

[2020-05-15 08:26] rutvik-panchal opened #2090 "Refactor IntroActivity to Kotlin"
**Is your feature request related to a problem? Please describe.**
IntroActivity is in Java.

**Describe the solution you'd like**
Refactor IntroActivity to kotlin.

**Describe alternatives you've considered**
N/A

**Additional context**
Parent Issue #1826

[2020-05-15 10:06] kelson42 commented on #1840
@macgills I would really like to see this happening and secure the publication happens automatically in the future #1682. You can put that high on your prio list.

[2020-05-15 13:19] #2079 closed

[2020-05-15 14:34] #2081 closed

[2020-05-15 14:50] macgills commented on #1840
https://gitlab.com/fdroid/fdroiddata/-/merge_requests/6790 merge request open

[2020-05-15 15:27] jonggeunpark opened #2092 "Convert HistoryActivity to kotlin"
**Is your feature request related to a problem? Please describe.**

HistoryActivity is in Java

**Describe the solution you'd like**

Convert HistoryActivity to Kotlin

**Additional context**

Parent issue #1826

[2020-05-15 16:11] kelson42 opened #2093 "Reintroduce Download pause/resume"
This had been removed in the 2 milestone to simplify the download procedure and secure it works fine. I believe this is time now to think about reintroducing it.

[2020-05-18 15:52] #2087 closed

[2020-05-18 16:48] macgills commented on #2092
This may not be the best idea, #1990 is well underway and is a total rewrite of HistoryActivity

[2020-05-18 16:54] macgills opened #2096 "Speed up Automated Tests by sharing apks"
**Is your feature request related to a problem? Please describe.**
Currently each automated test has to build the apk, we could see a significant speed boost if we uploaded the apk in a first step and only had to download it in all the others

**Describe the solution you'd like**
Use Upload Artifact and Download Artifact Actions to share apks across our build

[2020-05-18 18:04] rutvik-panchal opened #2097 "Refactor - IntroPagerAdapter to kotlin."
Is your feature request related to a problem? Please describe.
IntroPagerAdapter is in Java.

Describe the solution you'd like
Refactor IntroPagerAdapter to kotlin.

Describe alternatives you've considered
N/A

Additional context
Parent Issue #1826

[2020-05-19 08:03] Frans-Lukas opened #2098 "Change wording when deleting selected history items vs. all history items"
**Is your feature request related to a problem? Please describe.**

When deleting history items from the history view, the confirmation dialog always says "**Delete history?**". I argue that this is not specific enough because there is a difference of deleting all items, or just the selected items which should be made more clear in the confirmation dialog.

**Describe the solution you'd like**

Wh

[2020-05-19 14:53] #1754 closed

[2020-05-19 15:36] macgills commented on #2098
That should be ruled out because we want to avoid pluralised strings eg "Delete 1 **item**" "Delete 2 **items**" as supporting this across all languages is a bit complicated.

This seems ambiguous to me because we delete the "currently viewed" history, ie all history if "showAllHistory" is toggled or "current book history" if it is not and to communicate that to a user I feel gets too wordy and mo

[2020-05-19 16:37] Frans-Lukas commented on #2098
I didn't know it only deleted the items you are currently viewing. I just assumed it deleted everything.  Which I think is telling about the clarity of the dialog text.

What about "**Delete history from Europa Universalis 4 Wiki?**" or "**Europe Universalis 4 Wiki: Delete history from this book?**"?

and "**Delete history from all books?**" when all history is viewed.

[2020-05-20 09:27] Popolechien opened #2100 "Crash at launch"
I've had a few reports from users over the past 24 hours so I'll just copy paste the moste elaborate one (in English) here:

"kiwix was working yesterday (19/may/2020) then after an android update on my galaxy s9+ it just opens and immediately closes again. Ive tried unisyalling, reintalling through playstore, ive tried with the apk from you website. It just wont work now."

I understand this is f

[2020-05-20 14:53] #2097 closed

[2020-05-20 15:06] macgills commented on #2100
There is potential it could be

[code]

Which could mean the WebView (whose implementation we rely on) was updating? But that is only affecting 1 model `Core- X3 (HS8917QC) `

I really can't say from this data and after checking any potential issue that I have on the crash dashboard I can't connect this report to any of them

[2020-05-20 15:44] macgills commented on #2098
I am recalling this from memory, may be prudent to look at the code.

All the following seem acceptable to me

[2020-05-21 05:56] rutvik-panchal opened #2101 "Refactor : FileItem & FileListAdapter to Kotlin"
Is your feature request related to a problem? Please describe.
FileItem & FileListAdapter is in Java.

Describe the solution you'd like
Refactor FileItem & FileListAdapter to kotlin.

Describe alternatives you've considered
N/A

Additional context
Parent Issue #1826

[2020-05-21 13:42] rutvik-panchal commented on #1987
@kelson42 @macgills Can i work on this issue?

[2020-05-21 14:40] macgills commented on #1987
please and thank you

[2020-05-21 14:42] #2090 closed

[2020-05-21 15:47] macgills opened #2103 "Crash Report 3.3.1: java.lang.IndexOutOfBoundsException CoreMainActivity.selectTab"
[code]

[2020-05-21 15:48] macgills opened #2104 "CrashReport 3.3.1: java.lang.NullPointerException FileUtils.contentQuery"
[code]

[2020-05-21 15:49] macgills opened #2105 "Crash Report 3.3.1: java.lang.IllegalStateException BaseActivity.onCreate"
[code]

[2020-05-21 15:51] macgills opened #2106 "Crash Report 3.3.1: java.lang.ClassNotFoundException ErrorActivity.onCreate"
[code]

[2020-05-21 15:52] macgills opened #2107 "Crash Report 3.3.1: java.lang.IllegalStateException FetchCoreUtils.getFileTempDir"
[code]

[2020-05-21 15:53] macgills opened #2108 "Crash Report 3.3.1: java.lang.ArrayIndexOutOfBoundsException CoreMainActivity.selectTab"
[code]

[2020-05-23 16:03] kelson42 commented on #1987
@macgills @akkywadhwa The problem is this ticket is that this is not clear why we have to do anything? What is wrong with the current animated bar?

[2020-05-24 13:15] tigran123 opened #2110 "Zoom controls disappeared in v3.3.1"
I have upgraded Kiwix Android application to v3.3.1 yesterday and now none of the articles are readable, because the default text size is too small and the zoom controls disappeared from the Settings. Fortunately, apkpure hosts the previous versions, so I downgraded Kiwix to v3.2.1 and everything is perfect now.

**Expected behaviour**

Zoom controls should be present in the Settings menu, as in t

[2020-05-24 13:24] kelson42 commented on #2110
It is true we have removed this setting in 3.3.

I don't find the exact ticket and don't remember all the reasons behind that decision but I was supportive because I believe the main problem was that the content itself did not have the right size, but otherwise it should be OK.

The fact is that @tigran123 is not the only one complaining about that loss. Actually, this is probably main pain point

[2020-05-24 13:32] tigran123 commented on #2110
Well, I haven't seen a WikiPedia page which has a concept of "content with fixed size". This is not a printed book or a facsimile of such, where each page is atomic. In electronic texts (such as html or fb2) the information is stored as characters and so the software is free to render them at any size. The main thing here is to be able to reflow the text to fill the screen optimally. If there is n

[2020-05-24 13:37] kelson42 commented on #2110
@tigran123 Really first versions of Kiwix for Android had automatic text reflow in my remembering as well. But we just use here the feature provided by the Android component and this feature has been removed by Google. Let see now the detail of the reasons behind the removal of our zoom setting.

[2020-05-25 12:45] Frans-Lukas opened #2111 "Style guide for the Android Kiwix github repository"
**Is your feature request related to a problem? Please describe.**

The Kiwix Android app contains some consistency with regard to design but fails at other design decisions. Examples include the contrast of text in some views being too low or the behavior of actions being inconsistent with expectations. (Contrast of Zim book tags (currently has a contrast ratio of 2.7, where 4 is the recommended

[2020-05-25 13:03] Frans-Lukas opened #2112 "Merging Library activity with homepage view"
**Is your feature request related to a problem? Please describe.**

Currently, the removal and sharing of a Zim file is handled in a separate activity than from the view where a Zim file is opened from. This leads to a confusing user flow for any action that is done on a book. E.x. User wants to delete a book and then move to another, the user has to open the 'Download Books' activity, switch to t

[2020-05-25 16:55] macgills commented on #1987
My comment on the closed [PR](https://github.com/kiwix/kiwix-android/pull/1988#issuecomment-606548368)

[2020-05-25 17:07] macgills commented on #2110
We removed the zoom bar because it seemed like an extraneous feature and there was a bug report about the default zoom values if I remember correctly.

https://github.com/kiwix/kiwix-android/pull/2004 simple to undo

There may be a best of both worlds solution but it will require some experimentation.

@tigran123 can you please tell me the specific zim file and an example article for me to reprodu

[2020-05-25 17:10] kelson42 commented on #2110
@macgills Thank you for the feedback. I think this feature is worth this experimentation/effort.

[2020-05-25 18:15] tigran123 commented on #2110
Yes, sure, I use the latest 79GB English WikiPedia zim file with MD5 checksum of d3578c4248b6f4ff6f0f917687acd6c1

Here is the URL to it:

[http://download.kiwix.org/zim/wikipedia_en_all_maxi.zim](http://download.kiwix.org/zim/wikipedia_en_all_maxi.zim)

Btw, on your website there are lots of small zim files for WikiPedia which are very recent, but the complete one is still dated 2018-10.

[2020-05-25 18:34] tigran123 commented on #2110
I do not understand how the absolutely critical feature like this could be considered extraneous. Obviously, this is critical not just for me, but for everyone who is reading the text rather than just looking at the pictures. Removing the freedom to set the text size encourages to "go with the flow" of the modern pseudo-educational establishments (schools, universities etc) which encourage superfi

[2020-05-26 07:34] JensKorte opened #2113 "Opening library downloads data"
**Describe the bug**

If I open the library there is data downloaded.

**Expected behavior**
When the library is opened no data should be downloaded. If I click on the tab Online then data should be downloaded. Maybe there should be even a question like "Download list now?", "Use old list with date from xx-xx-xxxx?"

**Environment**
- Version of Kiwix Android : 3.2.1.Build 230201
- Device : Samsun

[2020-05-26 07:42] JensKorte opened #2114 "Scroll bar in the online list"
**Is your feature request related to a problem? Please describe.**
When scrolling through the list of available zim files I don't see how long the list is. It would be nice if there is a scroll bar on the left or right side to see how far I have come or if it make sense to use  another search term.

**Describe the solution you'd like**
Just a normal scroll bar to the left or right. If the files ar

[2020-05-26 07:50] kelson42 commented on #2113
I think we should have a new setting "Online catalog synchronisation":
* None
* Manually
* Automaticall

Per default it should unset and if someone go the library and this is unset then it could choose which of these 3 options he wants to have.

[2020-05-26 07:52] kelson42 commented on #2113
@JensKorte @automactic I don't think this request will make sense at all if we use OPDS?

[2020-05-26 07:54] macgills commented on #2110
@tigran123 have you experienced this issue on a smaller zim file by any chance? Downloading 79GB will take extra time

[2020-05-26 09:10] tigran123 commented on #2110
@macgills You will experience this problem on any article with any WikiPedia zim file, large or small.

[2020-05-26 14:29] macgills commented on #2113
OPDS should solve this.

[2020-05-27 15:08] #1841 closed

[2020-05-27 15:10] #2101 closed

[2020-05-27 18:26] rutvik-panchal commented on #2112
I think the add button to open a tab should be kept, that could help a user to read and switch between two different articles/page from the same file easily.
Speaking about alternatives we can show bookmarks or perhaps an add-on feature of favorite books for displaying a shortlist of books on the main activity or the list of few pages from bookmarks.

[2020-05-28 06:39] Frans-Lukas commented on #2112
I am not saying we should remove the 'add' button, but to change how a new book is opened.

Do you mean sorting the available books based on them being 'bookmarked' or 'favorites'?

[2020-05-28 07:14] yashk2000 commented on #2111
This is a good idea and will definately be of help to new contributors. Maybe instead of adding this to the README causing it to bloat, this could be added to `contributing.md` as this is information just for people who will contribute.
Also, below are a few other points you could add in the list:

- Mention that Kiwix has a set of text appearances already defined like `textAppearanceHeadline6` et

[2020-05-28 14:50] macgills commented on #2111
Adding string resources can be its own document, we have an existing task to document this process #1759

[2020-05-28 16:12] macgills commented on #26
it looks like the app is misbehaving

This is my output when I type very slowly
[code]

And this is my output when I type very quicky
[code]
the slow typing seems repeatable
[code]

We are using a switchmap so we ignore all but the most recent results, seems like I may need to actively cancel the previous task to prevent other running tasks consuming the search suggestions

[2020-05-28 16:14] kelson42 commented on #26
Yes, this is recommended.

[2020-05-28 17:58] rutvik-panchal commented on #2112
Oh, I actually thought you gonna remove the add button or the tabs options with books after looking at the Figma designs. Yes, I think sorting the books on the basis of favorites can improve the user experience.

[2020-05-28 18:19] yashk2000 commented on #2111
@Frans-Lukas your idea is good. We can link all of these guides in the `contributing.md` I guess. That way one doc itself won't get too bloated but will contain the guidelines(or at least links to them) in a single place.

[2020-05-29 11:04] Frans-Lukas commented on #2112
I see, I'll have to make that more clear... For books being sorted based on being bookmarked or favorites: I think it should be put as a separate issue as it is an extension of the zim browser activity and not related to fixing duplicate activities.

[2020-05-29 12:33] Frans-Lukas commented on #2112
I spoke to @macgills about this issue being closely related to an existing issue related to navigation discussed last summer. #1245. They talked about implementing a bottom navigation drawer (as well as?) a navigation drawer.

By implementing better navigation and merging the `view displaying "the list of books when you have no book open"` and the `local library` activity we will potentially fix n

[2020-05-31 12:17] TanyaOrlova commented on #2064
It has been fixed in the issue #2087

[2020-05-31 12:17] #2064 closed

[2020-05-31 12:43] jonggeunpark commented on #2092
I just checked. Would it be better to close the issue?

[2020-06-02 20:36] #2092 closed

[2020-06-03 10:20] Frans-Lukas opened #2119 "Rewrite history activity to adhere to unidirectional data flow"
**Is your feature request related to a problem? Please describe.**

There are a "host of data flow issues because of _their_ outdated architecture" (HistoryActivity & BookmarksActivity). #1990 <- also contains an example of an issue caused by poor data flow in the HistoryActivity.

**Describe the solution you'd like**

HistoryActivity should be rewritten to adhere to unidirectional data flow to so

[2020-06-03 19:33] MichaelBruestle opened #2121 "sd card is not recognized"
I installed kiwix 3.3.1  on a samsung s8 (android 9) but kiwi doesn't recognizes the (external) sd card. In the android settings the access to the external memory is enabled. I later deinstalled 3.3.1 and tried 3.2.0 - but it's the same. SD card is a samsung 128GB Evo (exFat formatted with > 70GB free space).
Do you have any ideas what to do?

[2020-06-04 21:49] desconectando opened #2123 "Handle relative links between ZIM files (as is possible with Kiwix-serve)"
I'd like to be able to link from an article in one zim file to an article in another zim file.  This is possible with kiwix-serve using:
[code]
However, this does not work in kiwix-android.

I'd like to use this capability in some custom zim files that I'm building with non-wikimedia data.  However, I can imagine that this functionality might also be useful in more traditional wikimedia derived zi

[2020-06-05 06:09] gouri-panda commented on #1739
Is this issue still open @macgills? Can I work on this issue?

[2020-06-05 06:46] 4shutosh commented on #2112
Bottom navigation would work great for simplifying the navigation.
I would like to suggest a usecase for Bottom Navigation including the following 4 destinations:
* **Home**: with recent opened zims list (same as the current landing page).
* **Library** : with two tabs- one to download zim files(ONLINE) and another the offline saved one(DEVICE).
* **Reader**: The individual reader activity as you

[2020-06-05 07:14] Frans-Lukas commented on #2112
Good that you also agree that bottom navigation could be needed.

What is the purpose of the `home` destination compared to the `library` destination? What can the `home` destination do, that the `library` destination can not? My conclusion is that the `home` destination should be replaced by the "offline saved one(DEVICE)" tab of the `Library` destination. That is, that we should merge `home` wit

[2020-06-05 08:09] Frans-Lukas commented on #2112
[Here is the mock-up](https://www.figma.com/file/7MEYHVBYlr5BSbqd0i8CdC/Kiwix-Copy?node-id=0%3A1). My current preference is that the bottom navigation should have the following three destinations:

1. `Library` - Books available offline.
2. `Download` - Books available online.
3. `History` - The history of viewed book pages. Click an entry to go to the clicked page.

See the mock-up for arguments

[2020-06-05 09:01] Frans-Lukas opened #2124 "Rewrite bookmarks activity to adhere to unidirectional data flow"
**Is your feature request related to a problem? Please describe.**
There are a "host of data flow issues because of their outdated architecture" (HistoryActivity & BookmarksActivity). #1990 <- also contains an example of an issue caused by poor data flow in the HistoryActivity.

**Describe the solution you'd like**
Bookmarks activity should be rewritten to adhere to unidirectional data flow to sol

[2020-06-05 21:17] desconectando opened #2126 "Hash ignored when linking to other article"
When one article contains a link to another with a hash string pointing to the id of an element in the target article, that hash string is dropped. For example:
[code]
This correctly opens target_url, but it does not scroll to the element with id="target_element".  Similarly, location.hash (checked by js in target_article) returns an empty string instead of "#target_element" as expected.

Links as

[2020-06-06 11:12] 4shutosh commented on #2112
As a landing page for an app will be a good idea, with a limited list of recently opened zim files which will help users to jump back to the file where they left off. What if the user has a large number of zim files saved, it will be quite tedious to go back to where he left. Also, there is no search feature in `ZimManageActivity`
Also, it gives an extra screen to work with some announcements (new

[2020-06-08 00:43] eguinosa opened #2127 "I copied a new Zim file and the app never worked again"
**Describe the bug**
The app crashes right after I open it, it doesn't matter if I have a .zim file on the phone or not. The only way to stop the bug is to denied the storage permissions to the app. How did this happen?

The app used to work perfectly fine for me, I've been using a .zim file of the English Wiktionary for a couple of months, then I decided to copy a new .zim file, this one a French

[2020-06-08 06:36] macgills commented on #2121
@MichaelBruestle could you send a diagnostic report from the help section of the app? I may be able to diagnose the problem

[2020-06-08 06:39] macgills commented on #1739
I would say this issue is still open, feel free to work on it @gouri-panda

[2020-06-08 06:47] macgills commented on #2127
I will check our crash reports and see if anything lines up with your issue and report back here

[2020-06-08 06:49] Frans-Lukas commented on #2112
I think you bring good points. There are definitely some tough choices regarding navigation to make. My opinion still stands for merging the "start-screen" and the local library screen as well as keeping the three destinations mentioned above in the navigation bar.

`Library`, `Download`, `History`.

It will be interesting to hear more opinions and hopefully we can come to a great conclusion that

[2020-06-08 07:30] macgills commented on #2112
I think the `reader` section is tough to lose, one of the primary benefits of this is that you can quickly switch from reading a zim to opening a new zim within 2 clicks at all times.

History I feel like it can not be in the sections, the "reader" is very much a browser so I like to keep it as chrome-like as possible and there are tickets to make the toolbar of that screen look more like a tradit

[2020-06-08 08:12] macgills commented on #2127
I can't see anything particularly obvious but here is what it sounds like to me.

When we get storage permission we scan so we can show you a list of zim files on your device, there have been issues with this scanning when it encounters a file that is not complete. We have to open the file to read the necessary metadata to present information to the user and that fails for incomplete files. Our ow

[2020-06-08 08:26] Frans-Lukas commented on #2112
Ok, what are your thoughts on the bottom navigation bar in the reader? That is, how should it work together with the new bottom navigation bar?

I gave some suggestions but feel like none of them are as intuitive as I would have liked.

[2020-06-08 08:36] kelson42 commented on #2127
@macgills Would you please link the two tickets? so we can keep track with @eguinosa of the progress on this?

[2020-06-08 08:45] macgills commented on #2127
@kelson42 here is the [kiwixlib issue](https://github.com/kiwix/kiwix-lib/issues/361)

[2020-06-08 08:48] macgills commented on #2112
It is very bulky but we can hide it when scrolling down and show it again while scrolling up

[2020-06-08 09:41] macgills opened #2128 "Upgrade Android Gradle Plugin to 4.0"
**Is your feature request related to a problem? Please describe.**
To take advantage of the latest features of AS 4.0 we need to update the AGP

[2020-06-09 09:21] macgills opened #2130 "Upgrade Kotlin to 1.3.72"
**Is your feature request related to a problem? Please describe.**
We should upgrade our kotlin version

[2020-06-09 09:27] macgills opened #2131 "PR instrumentation tests can fail silently"
**Describe the bug**
the bash script for instrumentation returns the result of a `find` call and not the result of the tests

**Expected behavior**
if a test fails, the step fails

[2020-06-09 10:51] #2130 closed

[2020-06-09 12:33] macgills commented on #2126
@kelson42 do you have any insight on how this is achieved on other clients? This seems a bit finicky to me as we would have to store if there was a `target_element` in a load call (we currently strip these out to access the resource to load) and then have a way of accessing the stored element on a completed load in the webview to then trigger auto scrolling by invoking javascript or perhaps reload

[2020-06-09 13:15] macgills commented on #2110
@tigran123 just so I can confirm:

This is a wikipedia article right now at our default text size

![image](https://user-images.githubusercontent.com/3358282/84150912-767e7900-aa5a-11ea-8aac-3c7863e1c113.png)

This is the same article after changing the accessibility settings in my phone system settings

![image](https://user-images.githubusercontent.com/3358282/84151110-c5c4a980-aa5a-11ea-8c50-6d

[2020-06-09 13:26] tigran123 commented on #2110
@macgills Sean, how can I say if this is "acceptable" or not? You showed one enormous picture of what could well be a screenshot of some tiny mobile device with a screen of some unknown size. So, no, this (or any other) picture is not an acceptable solution, of course. The only acceptable solution is the restoration of the user's ability to control text size. Have you restored this functionality y

[2020-06-09 13:28] tigran123 commented on #2110
Ah, I have just re-read your message and noticed the text in between two pictures. So, the answer is "No, it is not acceptable" but for a completely different reason: one should NOT need to change the global system settings because that would affect all other applications. You should restore the Kiwix-specific functionality --- that is the ONLY acceptable solution. I thought this is obvious.

[2020-06-09 13:38] macgills commented on #2110
Yes, I reread the initial ticket and realised the size of your device.

After experimenting with Chrome's confusing accessibility settings that only seem to take affect in "Desktop Mode" I think I have a better idea for a new feature

[2020-06-09 13:45] tigran123 commented on #2110
The size of my main device is 10" (tablet), but I also have 6" device (mobile) and I expect it to work there as well, just like it did work perfectly, until this feature was removed in the recent upgrade.

[2020-06-10 10:05] #1987 closed

[2020-06-10 10:53] macgills commented on #2110
![text_size](https://user-images.githubusercontent.com/3358282/84259693-c3bd2200-ab10-11ea-9469-6d6c93cd73c0.gif)

This is the new functionality, not quite the old zoom but I hope an adequate solution, will open a PR shortly.

[2020-06-10 10:57] tigran123 commented on #2110
Good, thank you. As long as it works with serious articles with pictures and formulae, i.e. things like [https://en.wikipedia.org/wiki/Wigner_quasiprobability_distribution](https://en.wikipedia.org/wiki/Wigner_quasiprobability_distribution) and not just text-only, I am very happy. Thank you again!

[2020-06-11 14:03] yashk2000 opened #2136 "Convert BookDataSource to Kotlin"
Parent issue #1826

Convert BookDataSource to Kotlin

[2020-06-11 14:47] macgills commented on #2136
I wouldn't recommend this class, the `@TableModelSpec` classes are from our deprecated databases

[2020-06-11 15:30] yashk2000 commented on #2136
@macgills ok. I didn't know that.
Do we need to make any other change related to this class since it's deprecated?

[2020-06-12 07:42] macgills commented on #2136
Well at some point we are going to delete them, it has nearly been a year since they were deprecated I think?

I think a lot of our userbase hasn't updated from 2.4 yet and once we delete these classes then they won't be able to migrate their data on an upgrade.

I'd say there is nothing to do here

[2020-06-12 07:54] yashk2000 commented on #2136
@macgills ok. Thanks for the information :)
I'll work on some other issue then :rocket:

[2020-06-12 07:54] #2136 closed

[2020-06-12 08:30] rutvik-panchal opened #2137 "HomePage Toolbar is not visible on Back Button Pressed from Book"
**Current Behaviour:**

Let us consider the following cases -
1) While reading a book, the toolbar is visible and the user has to go back to the Home Page.
On back button press toolbar is visible.

![wtoolbar](https://user-images.githubusercontent.com/39809059/84481264-762cea80-acb3-11ea-98fc-3f4f967ffa1b.gif)

2) While reading a book, the toolbar is not visible and the user has to go back to the

[2020-06-12 08:35] macgills commented on #2137
We have a project underway to revamp navigation that should make this irrelevant.

The report is appreciated but I think if we were to implement this we would quickly remove it again so I will close this

[2020-06-12 08:35] #2137 closed

[2020-06-12 08:36] #2110 closed

[2020-06-12 10:17] mgautierfr commented on #2127
Well, it seems this is the case :

However, @eguinosa said that he has removed all zim files and the crash is still there.

[2020-06-12 10:23] macgills commented on #2127
My theory is dependent on the possibility they have not realised that there is a zimfile somewhere in the entire filesystem, true. It remains most plausible to me.

[2020-06-12 10:34] macgills commented on #2107
It seems like there will be an update released this weekend, [link](https://github.com/tonyofrancis/Fetch/issues/439)

perhaps upgrading will resolve this issue

[2020-06-12 10:53] macgills opened #2139 "KiwixSettingsActivity.testStorageDialog failing consistently on API 29 emulator"
I am going to wait a day to get nightly results to see if it is more widespread than just 29.

We may have to either ignore the test, rewrite the test or fix a root cause should one be obvious.

[2020-06-12 12:23] macgills commented on #2100
Closing as unactionable but noted.

[2020-06-12 12:23] #2100 closed

[2020-06-12 12:40] macgills commented on #2121
@MichaelBruestle have you sent a diagnostic report? We are hoping to do a bugfix release by months end and I'd like to resolve your issue if I can. Please do uniquely identify yourself in the diagnostic report email if it is not obvious from your email address that it is you.

[2020-06-12 13:06] #2108 closed

[2020-06-12 13:06] #2103 closed

[2020-06-12 14:01] macgills opened #2143 "Revisit "writeLogToFile()" functionality"
**Is your feature request related to a problem? Please describe.**
Currently CoreApp has code for writing a log file and I have found the usefulness of this to be low.

**Describe the solution you'd like**
a) Extract the functionality to a separate class
b) Rethinking what commands we run and when we run them

**Describe alternatives you've considered**
Removing the functionality

[2020-06-14 12:02] kllp commented on #2127
Same issue. I tried two different zim files around 38GB and 12GB big.
I copied them and checked the md5sum using the adb shell.
The files are correct and they work with kiwix desktop.
However they crash all kiwix android versions I tested. When I delete them the app works.

[2020-06-14 15:50] MichaelBruestle commented on #2121
@macgills thank you for your reply. I finally realized that the sd card was not working properly any longer - although other programs still could access the card. So I bought a new one and reinstalled kiwix. All the zim-files are now being detected and all is working fine.

[2020-06-14 15:50] #2121 closed

[2020-06-15 15:14] #26 closed

[2020-06-15 15:15] #2106 closed

[2020-06-15 15:16] #2105 closed

[2020-06-15 15:46] #2119 closed

[2020-06-16 15:04] #2026 closed

[2020-06-18 09:46] Frans-Lukas opened #2147 "Make new navigation accessible by menu item and add single fragment activity to the custom app"
**Is your feature request related to a problem? Please describe.**

The new navigation ticket #2112 will re-write many activities into fragments. This should be done piecemeal to reduce mistakes starting CoreReaderFragment.

**Describe the solution you'd like**

A CustomMainActivity will be written that contains a single fragment, the CustomReaderFragment (that is extending the CoreReaderFragment

[2020-06-18 14:54] macgills opened #2149 "Fix NDK version"
**Describe the bug**
github actions updated their NDK and we have to match their version

[2020-06-18 15:00] macgills opened #2151 "Remove explicit NDK version once AGP 4.1 is in stable"
**Is your feature request related to a problem? Please describe.**
Right now we set an ndkVersion in AllProjectConfigurer, nightly.yml and coverage.yml that need to be aligned with the NDKs available on Github Actions runners. With version 4.1 of the Android  Gradle Plugin we can go back to not specifying it and it will be automatically downloaded on request.

[2020-06-18 15:08] #2149 closed

[2020-06-18 21:16] s-ayush2903 commented on #2143
I would like to work on this issue

[2020-06-18 21:30] s-ayush2903 commented on #2143
I think instead of using java's `Runtime.getRuntime().exec("....")` calls we should make use of _BufferedWriter_ for better performance.

* One more thing, since we've been extensively using the logging throughout the codebase, then it can be better if we make use of some logging library like _Timber_.

[2020-06-18 21:33] s-ayush2903 commented on #2143
I've planned of extracting out the current `writeLogFile()` function to the FileUtils.kt and modifying the logic of the same following the approach mentioned above.

@macgills
Please put forward any views and suggestions for further improvement in the approach/functionality described above

[2020-06-18 22:45] s-ayush2903 commented on #2104
@macgills Can you please mention reproducing the crash?

[2020-06-19 14:08] macgills commented on #2143
@s-ayush2903 excellent! You are assigned.

[2020-06-19 14:09] macgills commented on #2104
@s-ayush2903 this is taken from a crash report on the google play console, this is about all the information we have

[2020-06-19 14:19] #2124 closed

[2020-06-19 14:22] macgills opened #2154 "Generify Bookmarks/History"
**Is your feature request related to a problem? Please describe.**
These 2 screens share the same feature set and we would prefer to only have to update 1 place and see that change reflected in both screens

**Describe the solution you'd like**
Abstract base classes and interfaces introduced to facilitate the sharing of features

[2020-06-19 14:37] s-ayush2903 commented on #2104
Sir, don't we have the device information like buildVersion or stuff like that on which the crash took place?
If we get that, it may prove somewhat useful in making the simulations and hence trace the crash

[2020-06-19 14:50] macgills commented on #2104
`3.3.1` is the version this crash happened on, there is a tag on git. I don't have easy access to the original report anymore, google's UI has made it somewhat unfindable

`FileUtils.contentQuery (FileUtils.java:141)`

We have a line number in our codebase, that is plenty to at least slap a bandaid on this

[2020-06-20 20:31] briancherin commented on #1648
I've spent some time working on this and will make a pull request soon. It'd be great if I could be assigned to this issue.

[2020-06-21 14:22] s-ayush2903 commented on #1826
I would like to convert `KiwixWifiP2pBroadcastReceiver.java` class to Kotlin

[2020-06-21 14:24] s-ayush2903 opened #2155 "chore: Convert KiwixWifiP2pBroadcastReceiver to Kotlin class"
Currently, `KiwixWifiP2pBroadcastReceiver` is written in java, it should be instead in Kotlin.
For more info.:
Refer #1826

[2020-06-21 14:55] s-ayush2903 commented on #2155
I would like to work on this issue

[2020-06-21 15:37] kelson42 commented on #1648
@briancherin Thank you for your work. We will try to review your PR soon.

[2020-06-21 19:27] cvzi opened #2157 "Cannot resume download after pausing"
**Describe the bug**
There seems to be no way to resume a download, if you clicked on "Pause" in the notification

**Steps to reproduce the behavior:**
1. Start a download
2. Click "Pause" in the download notification -> the notification disappears
3. In the Library in the "Online" tab, there is only the black square to stop the download, but no way to resume it.

**Environment**
- Version of Kiwi

[2020-06-21 19:49] kelson42 commented on #2157
Somehow a duplicate of #2049 I believe. I wonder a bit we have a "pause" button in the notification @macgills. A bug ?

[2020-06-22 04:48] 4shutosh commented on #2112
Hey @Frans-Lukas just wanted to get an update what are the final bottom navigation bar destinations you are working on?
I believe it should be the **Library**, **Downloads**, **Reader**.
(History being included inside the reader)
Is **Setting** also included in the bottom bar or is it present on every screens overflow menu like the current system?
What about the **Home** Screen / Landing Page?

[2020-06-22 07:08] Frans-Lukas commented on #2112
Hey @4shutosh , My current plan is to do `Library`, `Downloads`, `Reader`. The plan is also to make most if not all activities into fragments and to use the [navigation component](https://developer.android.com/guide/navigation/navigation-getting-started) to handle navigation. This will allow for very easy changes in e.x. destinations of the bottom navigation bar.

`Setting` will remain in the over

[2020-06-22 07:38] Frans-Lukas commented on #1990
Fixed by #2124 and #2119 .

[2020-06-22 07:38] #1990 closed

[2020-06-22 08:49] Frans-Lukas opened #2159 "Add navigation component and a bottom navigation bar to a new navigation activity"
**Is your feature request related to a problem? Please describe.**

The new navigation ticket #2112 will re-write many activities into fragments. This should be done piecemeal to reduce mistakes. This second ticket (the first being #2147) will implement the navigation component, add the bottom navigation bar and its destinations as fragments.

**Describe the solution you'd like**

Using the [navig

[2020-06-22 14:44] macgills commented on #2157
When we migrated to fetch we regained the ability to pause notifications but did not add the functionality, we can either remove the pause button from the notification or support pausing/resuming in the UI

[2020-06-22 15:09] kelson42 commented on #2157
@macgills Could we hide please the "pause" button as long as the full feature is not brought back with  #2049  please ?

[2020-06-22 15:26] macgills commented on #2157
@kelson42 #2049 has no relation to this, #2107 will entail an upgrade of fetch if there has actually been an update from the project maintainer, there wasn't last I checked

[2020-06-22 15:34] kelson42 commented on #2157
@macgills Sorry, I mean #2093. What is important for the moment is not to provide a button which has no proper handling behind. That is all what I want to emphasis.

[2020-06-22 15:36] macgills commented on #2157
We can add this to 3.2.2 and I can probably get it done tomorrow? I don't think there are many other tickets left in 3.2.2 so I was hoping to get it to beta sooner rather than later

[2020-06-24 14:03] Frans-Lukas opened #2161 "History and bookmarks activity does sometimes not load."
**Describe the bug**

When opening the history/bookmarks activities their items will not load because the side-effect `UserClickedShowAllToggle` is called before the items are loaded.

**Expected behavior**

The history and bookmarks items should always load.

**Steps to reproduce the behavior:**
1. Uninstall kiwix.
2. Install and open kiwix.
3. Download a book.
4. Open said book and bookmark a pa

[2020-06-24 14:35] #2155 closed

[2020-06-24 15:07] #2161 closed

[2020-06-25 06:27] Popolechien opened #2163 "Kiwix-android 3.3.1 does not pick up zim file"
From freshdesk with a disposable email address, so feel free to close if there is not enough info:

"My mobile is Sony Xperia XZ1compact (Android 9, Ver. 47.2.A.11.228), using kiwix Ver. 3.3.1 Build: 6230301.
The problem: the file wikipedia_de_all_maxi_2020-06.zim,
(downloaded from https://download.kiwix.org/zim/wikipedia/, md5sum 75ed07bf09c45d54e6af3628906f702f),
is not picked up by kiwix (in ->

[2020-06-25 14:22] macgills opened #2164 "Failing to load content"
**Steps to reproduce the behavior:**
1. Download Europa Universalis IV
1. Open the zim
1. Click on "Beginner's Guide"
1. Click on "Europa Universalis IV"
1. Click on "Beginner's Guide"
1. Page does not load

In Step 2 the url in the webview is `PREFIX//A/Europa_Universalis_4_Wiki` this is correct and loads as expected
In Step 3 the url in the webview is `PREFIX/A/Beginner's_guide` this loads as ex

[2020-06-25 14:24] kelson42 commented on #2164
yes, the ZIM file is bad I beleive.

[2020-06-25 14:29] macgills commented on #2164
Closing

[2020-06-25 14:29] #2164 closed

[2020-06-25 14:33] macgills commented on #2163
The neverending circle says to me that we are trying to determine their filesystem using our fallback of writing a 4GB test file.

If you can ask the user to send a Diagnostic Report from the Help screen I might be able to do something.

[2020-06-26 15:09] #2147 closed

[2020-06-27 09:21] kelson42 opened #2166 "Wikipedia uncollapsed section got forgotten by navigating through history"
Steps:
* Open a wikipedia article
* Uncollapse a section
* Click on a link in this section
* The new article is open properly
* Navigate one level back in the history

I get:
* My uncollapsed section is no collapsed and I'm not exactly back at the same place where I was

I expect:
* To come back at the exactly same place

[2020-06-28 08:37] Mitia99 opened #2167 "[Feature request]Global search"
Feature request:Global search(same word but result of all the sources)
![Screenshot_20200628_113256](https://user-images.githubusercontent.com/56766778/85942714-b1761d00-b933-11ea-87ba-38a156d896fd.jpg)

[2020-06-28 14:43] stumpelrilz opened #2168 "Please Leave the current open tabs open when opening a different source"
Current situation:
I have several tabs of "Wikipedia" open,
then I want to have a glance into "Wikivoyage":
Now all my "Wikipedia" tabs are closed.

Wish:
The currently open tabs should be left open (and in the current state) when opening an article in a different book because:
1. because not for all articles it ist woth to create a bookmark,
2. when re-opening an article from history all tabs fro

[2020-06-28 14:49] stumpelrilz opened #2169 "It would be nice that large books could be downloaded directly on the device"
Current situation:
To download books (zim-files) that are larger 4GB I have to download it on the PC, split it and transfer it to the (android-)smartphone, because android(-7) uses a filesystem for SD-Cards that cannot use more than 4GB per file.

Wish:
It would be nice to download and split large zims directly on the phone.

[2020-06-29 06:31] Popolechien opened #2170 "Library slow to load zim files"
The commenter gave a disposable address, so if the report can not be actioned feel free to close:

"Hi. I am reporting a problem here because I do not want to give my email address to Microsoft (owner of Github).
I downloaded some zim files that were made in the May and June of 2020. Examples are wiktionary_en_all_maxi_2020-06.zim and wikipedia_en_physics_maxi_2020-05.zim.
These files were very ve

[2020-06-29 06:35] Popolechien commented on #2170
Could it be related to what @Jaifroid described in [#628](../../kiwix-js/issues/628#issuecomment-650593866)?

[2020-06-29 06:51] Jaifroid commented on #2170
To summarize the issue I identified: the [libZim code here](https://github.com/openzim/libzim/blob/master/src/fileimpl.cpp#L130) assumes that the URL Pointer List comes one byte after the MIME type table. But recent ZIM files in May and June appear to have relocated the URL Pointer List, in one case at least to the end of the file. This means that the linked function in libZim tries to read a huge

[2020-06-29 07:51] macgills commented on #2167
I believe this was an experimental feature "MultiZim search"
Found the [ticket](https://github.com/kiwix/kiwix-android/issues/54), closing. Thank you for the request.

[2020-06-29 07:51] #2167 closed

[2020-06-29 07:55] macgills commented on #2168
We also share this wish. I don't currently see any ticket where we have explicitly stated we are going to add mutizim support but recent changes we have made have made it a lot easier.

[2020-06-29 08:07] macgills commented on #2170
So I am not sure if this person is saying:
1) v3.3.1 has problems loading 2020 files but loads 2019* files just fine
or
2) The version of kiwix I was on prior to getting these 2020 files was fine.

There is also the size of these files that complicates matters because this is undoubtedly on an sd card which goes unmentioned, if this user can send a diagnostic report identifying themselves in some

[2020-06-29 08:28] Popolechien commented on #2170
@macgills My understanding is (1) - problem loading 2020 files.

As I mentioned they gave an address we can't reply to so feel free to close the ticket.

[2020-06-29 08:31] Jaifroid commented on #2170
@macgills OP is saying that May and June 2020 ZIMs are slow to load, and previous ZIMs were working fine, on all the versions of Kiwix Android that they tested.

[2020-06-29 08:37] macgills commented on #2170
Well my thoughts are we close this ticket as there is already a ticket open to improve the performance of kiwixlib and right as I see it there is nothing to change android side maybe?

[2020-06-29 08:38] Popolechien commented on #2170
Sounds good to me.

[2020-06-29 08:38] #2170 closed

[2020-06-29 13:49] kelson42 commented on #2169
ZIM files could/should not be splitted anymore. If it works, this is only by chance. We have plans to reintroduce a smart split, but no real agenda for now, see https://github.com/kiwix/kiwix-tools/issues/287.

[2020-06-29 13:56] kelson42 commented on #1989
@macgills I think I'm pretty much again the idea. An appropirate library should just allow to sort by size OR/AND filter by size. We don't need this color stuff and threshold system IMO. Would be in favour of closing this as WONTFIX.

[2020-06-29 14:03] macgills commented on #1989
If an item can not be downloaded because the user's filesystem does not support files over 4GB then we mark it as can not download.
That is the only scenario where we mark files as "Can't be downloaded"

[2020-06-29 14:09] #1989 closed

[2020-06-29 14:25] macgills opened #2174 "Issue Opening Bouquineux"
**Describe the bug**
Ca fait 2 fois que je télecharge Bouquinieux et que je n'arrive pas à acceder aux livres. Le télechargement s'effectue en totalité sans problème,  mais qd je cherhe à ouvrir bouquineux, ce sont des lignes de code qui s'affichent et impossible de faire autre chose.
J'essaie de vous envoyer une page ecran dans le mail suivant.

**Screenshots**

![2020_06_28_17 58 02](https://use

[2020-06-29 14:30] #2128 closed

[2020-06-29 17:38] florian29 commented on #2163
I confirm the issue for wikipedia_es_all_maxi_2020-06.zim. The problem is with the new ZIM files from June 2020, there was changed something in the format of the ZIM. Also Kiwix Desktop for Win64 can't open these files anymore. Read this: https://github.com/kiwix/kiwix-desktop/issues/458 and this: https://github.com/kiwix/kiwix-js/issues/629
Jaifroid made a fix yet for Kiwix JS, but obviously some

[2020-06-29 17:42] kelson42 commented on #2163
@florian29 Thank you for going through all the ports and checking the problem/solution. We will release a new maintenance release (planned anyway in the next few days). Hope you will able to subscribe to the beta tester group and tell us if this is fixed.

[2020-06-29 17:42] kelson42 commented on #2163
Seems a duplicate of https://github.com/openzim/libzim/issues/353

[2020-06-30 07:04] macgills opened #2175 "ZimFileReaders not being disposed"
**Describe the bug**
When a FileReader is allocated it takes up a portion of native memory which must be explicitly freed or the memory could grow uncontrollably

**Expected behavior**
The app continues to run smoothly regardless of the amount of FileReaders created

[2020-06-30 08:14] kelson42 commented on #2175
@macgills Seems important to have in the 3.3.2

[2020-06-30 08:24] macgills commented on #2175
@kelson42 yeah, the problem surfaced as part of the new navigation so I might merge this to develop somewhat quickly to unblock that

[2020-06-30 08:36] #2175 closed

[2020-06-30 13:49] Frans-Lukas opened #2178 "Remove flickering when switching to reader destination using the new navigation bar"
**Describe the bug**

When switching to the `reader` destination from `library` or `download` the entire activity flickers/moves around until finally settling. (see gif).

**Expected behavior**

The switching between fragments should be smooth and not produce flickering.

**Steps to reproduce the behavior:**
1. Open the new navigation from the feature/navigation branch.
2. Switch back and forth be

[2020-06-30 13:57] Frans-Lukas opened #2179 "Remove home/library webview from reader fragment in new navigation."
**Is your feature request related to a problem? Please describe.**

As the new navigation system provides easier access to the library we want to remove the library view from the webview. It should instead be replaced with text and a button directing the user to the library destination.

**Describe the solution you'd like**

A couple of things needs to change for the home view to disappear, the on

[2020-07-01 07:19] Popolechien opened #2180 "Is fully zoomed out display a Kiwix or a phone / android issue?"
I'd suspect it's a Xiaomi thing, but asking anyway.
A user sent this, saying this is their current display on a Xiaomi Redmi note 8 pro

![Screenshot_2020-07-01-08-08-15-650_org kiwix kiwixmobile](https://user-images.githubusercontent.com/21675885/86214708-c5ac5b00-bb7b-11ea-99c0-f843dd014068.jpg)

[2020-07-01 07:48] macgills commented on #2179
You can press back on the current reader fragment which will eventually show the "home" page after it shows the main page of the zim. This should probably just exit the app?

[2020-07-01 07:51] macgills commented on #2180
We have added a new feature in 3.2.2 to allow controlling the text zoom

[2020-07-01 07:53] Popolechien commented on #2180
Wut? Where do you manage that?

[2020-07-01 07:56] macgills commented on #2180
Once the latest release is out if a user goes to settings there is a slider they can drag. It is different from our previous feature of setting the initial scale of a webview which was removed.

*3.3.2 earlier comment had a typo

[2020-07-01 07:57] Popolechien commented on #2180
Here we go. Thanks.

[2020-07-01 07:57] #2180 closed

[2020-07-01 08:23] Frans-Lukas commented on #2179
I am thinking it should exit the book to the "No book open" page first, then exit the app.

[2020-07-01 08:28] macgills commented on #2179
Try playing around with a browser on android and try and replicate the behaviour they have

[2020-07-01 09:57] macgills opened #2182 "Use LeakCanary Plumber when it is less experimental"
**Is your feature request related to a problem? Please describe.**
LeakCanary has released a library to "fix" well known leaks in Android itself
[code]
but it is a recent release marked as experimental

[2020-07-01 10:36] #2139 closed

[2020-07-02 05:52] Popolechien commented on #2163
In the meantime the original user has replied:

"Ok, if I wait about 10 mins, the file finally shows up on Library screen, but the circe is still rotating.
Selecting the file freezes the app and everything completely, until Android kicks in and let me finish the app.
Since wikipedia_de_all_maxi_2020-05.zim does not show an neverending circle, but works entirely as intended, I do not think that has

[2020-07-02 08:31] kelson42 commented on #2107
@macgills Do we have updated fetch? Should we move this to the next milestone?

[2020-07-02 08:45] macgills commented on #2107
I think we should move it, sadly there has been no update yet

[2020-07-02 08:48] kelson42 commented on #2163
@Popolechien Thx for your feedback, to me this confirme that this is a duplicate of https://github.com/openzim/libzim/issues/353. Fixed in 3.3.2 to come in beta today or tomorrow.

[2020-07-02 08:48] #2163 closed

[2020-07-02 08:48] kelson42 commented on #1840
We have a serious problems if MR are not merged. We really need to move on with automatic publishing...

[2020-07-02 09:14] macgills commented on #1840
We have both tried contacting the person we have had most contact with at fdroid, I don't know if the current MR is unsatisfactory or licaon is just busy? I don't know what is the appropriate channel for reaching out to them

[2020-07-02 13:59] Frans-Lukas opened #2186 "Always scroll top and bottom toolbars on webview scrolling (including new navigation bar)."
**Is your feature request related to a problem? Please describe.**

Currently, the top and bottom toolbars are manually scrolled out of view when scrolling in the reader destination. That is, the ToolbarScrollingKiwixWebView translates the pixel-values of the toolbars on scroll. This should be changed to be handled by a coordinator layout instead. The new bottom navigation bar will also be include

[2020-07-02 14:01] #2159 closed

[2020-07-02 19:08] florian29 commented on #2163
3.3.2 doesn't work for me. App crashes on opening. (Android 4.4.4, tested with Samsung S4 mini and also with Bluestacks App Player Android 4.4.4)

[2020-07-02 19:18] florian29 opened #2188 "Kiwix 3.3.2 beta crashes on opening on Android 4.4.4"
Impossible to open the latest beta 3.3.2. App crashes on opening. Android 4.4.4, Samsung S4 mini, also tested with Bluestacks App Player for Android 4.4.4. Clearing the data base and the cache won't solve the problem.
The version 3.3.1 only crashes if there are newer ZIM files from June 2020 present on the SD card. If there are only older ZIM files, the 3.3.1 doesn't crash and let's you open the o

[2020-07-02 19:27] kelson42 commented on #2188
@florian29 Thank you for having opened a new ticket.

[2020-07-02 20:05] florian29 commented on #2188
I tried to open the app with no ZIM at all on the Bluestacks player and it crashes immediately. On my phone I renamed all the ZIM files to *.1 instead of *.zim, so that the Kiwix app wouldn't recognize that files anymore (that was what I did with the newer ZIM files which caused the 3.3.1 version to crash, after renaming them I could open the Kiwix 3.3.1) but it doesn't make any difference, the 3.

[2020-07-02 21:04] Robert160 opened #2189 "Can't open conjugation tables"
Hello, everyone,

I use the dictionary "wiktionary_en_all_nopic_2020-05.zim" with the Kiwix beta version 3.3.2 (Build: 6230302) from the Play Store on Android 10 (Samsung Galaxy S10). I have the problem that the conjugation tables of Hungarian verbs like "mond" or "érez" are not displayed. When I access the website en.wiktionary.org via browser (e.g. Firefox), the content of the tables is displaye

[2020-07-02 21:13] florian29 commented on #2169
you should format the SD-Card with exFAT, than Android can handle very large files, I can confirm you that it works even with Android 4

[2020-07-03 19:46] florian29 commented on #2188
I tested it now with a Samsung Tablet with Android 5.0.2 and it works. The Kiwix 3.3.2 app opens in a normal way. But I can't open it with Android 4.4.4 (see above). When trying to open it crashes immediately and shows this message (my phone is in spanish):
![Screenshot_2020-07-03-21-37-39](https://user-images.githubusercontent.com/43439672/86494569-f7891180-bd75-11ea-93c0-d42e4ab53522.png)

The f

[2020-07-05 09:58] kelson42 commented on #2188
@macgills I confirm the problem on 4.2.2.

[2020-07-05 11:09] kelson42 commented on #2082
@roydok @macgills What is the status here? How does it work with ve rsion 3.3.2 in beta an a recent ZIM file?

[2020-07-06 07:50] macgills commented on #2082
We have greatly improved performance with thread safe searches and also helped the memory footprint by disposing unused readers used for searching. I was never able to replicate 2 min searches as the search results appeared almost instantaneously for me

[2020-07-06 07:52] macgills commented on #2188
I will check the console for a crash report, failing that launch an emulator

[2020-07-06 09:31] #2188 closed

[2020-07-06 12:02] florian29 commented on #2188
I confirm that the version 3.3.3 works with Android 4.4.4. Thank you!

[2020-07-06 13:45] kelson42 commented on #2189
/move openzim/mwoffliner

[2020-07-06 13:45] #2189 closed

[2020-07-07 21:46] dbedrenko commented on #2082
@macgills Those improvements that you mentioned were introduced in which version?

I am running v3.3.3 Build: 5230303 on my tablet and search is unbearably slow with the new `wikipedia_en_all_maxi_2020-06.zim`. By comparison, v2.5 and the 2016 English Wikipedia maxi, that I upgraded from, searched instantaneously.

After typing in "faceboo" it takes the app 20-25 seconds to return a list of result

[2020-07-08 05:11] Beater34 commented on #2082
1. Please forgive me if I should not post here, but I have the same slow search problem as roydok with Kiwix 3.3.3 and the 89GB Wikipedia_en_all_maxi_2020-06.zim. Searches for "facebook" and "Canberra" both took 90 seconds.
2. I previously had rapid searches with Kiwix 2.5 and the 78GB Wikipedia_en_all_maxi_2018-06.zim.
3. I have a Motorola G6 Plus phone (XT1926-5) running Android 9 (PPW529.116-11

[2020-07-08 08:38] macgills commented on #2082
@dbedrenko 3.3.3 includes our latest fixes to search and the latest version of kiwixlib.

I will attempt to reproduce the issue on my tablet but this will take a while as the download is quite large, right now it reports as `4 day left`.

I think this issue is related to the zim file but @kelson42 may be able to speak with more clarity there.

[2020-07-08 08:43] kelson42 commented on #2082
I'm not able to reproduce the problem with my Google Pixel2. I believe the ZIM file to be correct. For the moment, I have actually no clue why on a few devices the search is that slow.

[2020-07-08 08:45] macgills commented on #2082
With the Pixel2 I doubt it has a sd card which seems to be a key component in this issue.

[2020-07-08 09:09] Beater34 commented on #2082
Yes, the problem is that Kiwix is very slow to search a **_recent_** ZIM file on an **_SD card_** - even when the SD card is high-speed.

[2020-07-08 10:10] #2111 closed

[2020-07-08 10:22] macgills commented on #309
I would say this bug is not getting fixed for 3.4, moving to 3.5

[2020-07-08 10:29] macgills commented on #1447
As this is pending a potentially difficult kiwixlib update I'll move this out of the milestone

[2020-07-08 10:33] macgills commented on #2169
As there is no action to take on the android side, I will be closing this ticket. Hopefully you have some luck formatting your sdcard with exfat @stumpelrilz

[2020-07-08 10:33] #2169 closed

[2020-07-08 10:35] macgills commented on #2168
Moving this to milestone 3.4, pending an investigation on the technical challenges we hope to add this feature in the next release

[2020-07-08 10:38] macgills commented on #2166
@kelson42 this should be in 3.4? It sounds a bit challenging without the Zim JS API... I need to investigate what is happening but perhaps we would need to persist a list of expanded sections in our history db and restore them when we detect backwards navigation? There may be a more elegant solution

[2020-07-08 10:38] dbedrenko commented on #2082
Do let me know if I can help debug somehow. I have a rooted device, so you could give an .apk with whatever debug messages would be helpful to you. I could then upload this log file.

If it is not too difficult I could also access the device with a debugger? Via AndroidStudio or whatever (I'm not familiar with this environment). Not sure if this would be helpful, offering just in case.

[2020-07-08 10:40] macgills commented on #2127
@eguinosa have you had any luck in resolving this? version 3.3.3 of kiwix is releasing now and will be fully available on Friday

[2020-07-08 10:42] macgills commented on #2126
@desconectando If you can give an explicit example zim file (ideally small file size) with steps so I can recreate the issue easily then that would be a great help

[2020-07-08 10:48] macgills commented on #2082
Thank you very much for the offer but I think raw log inspection may not be very helpful unless I were to deliver you a version with enhanced search logging. I may yet do that and take you up on the offer if my own attempts to recreate the problem are fruitless.

Depending on your code/kotlin literacy I would invite you to look at [SearchResultGenerator](https://github.com/kiwix/kiwix-android/blob

[2020-07-08 10:49] kelson42 commented on #2082
@macgills What might be great here to know is if the process get stuck inside or outside the libkiwix.

[2020-07-08 10:51] kelson42 commented on #2166
@macgills no, does not have to be.

[2020-07-08 19:09] scopulorum commented on #1077
I was about to add a feature request for the same until I found this. What is the status? This seems very important, particularly to new users. The current searchability is quite poor , particularly if you don't know the keywords (e.g. "maxi") in advance. Checking a language doesn't actually restrict results.

[2020-07-09 07:16] macgills commented on #1077
Checking a language partitions results, the results get divided into 2 sections "Selected Languages" & "Other Languages".

As regards this feature it is important to us but requires migration to a new endpoint and it will require reworking of various parts of the app. It is very much on our roadmap

[2020-07-09 08:17] macgills commented on #2082
I have been unable to replicate on my tablet Galaxy Tab S SM-T700  Android 6.0.1 with Wikipedia Maxi 88.5GB 2020-06-26

![fc0bb84c-cd5a-4220-ab21-dc426c2edda5](https://user-images.githubusercontent.com/3358282/87014447-13504580-c1c4-11ea-88f5-a8589ce2c640.gif)

On the very first search I did experience some delay but I would say more in the region of 5 seconds before results appeared and all subse

[2020-07-09 08:23] kelson42 commented on #2082
@macgills My UX is similar and is not coherent with the bug report which is more about 60s. The first search needs a bit of I/O, this is the best explanation I have for the moment. Nothing different otherwise in term of processing.

[2020-07-09 09:06] macgills commented on #2082
I can make a version with logs for @dbedrenko to help us identify the bottleneck but it may be tomorrow with the PRs on my plate

[2020-07-09 20:59] dbedrenko commented on #2082
Take your time, I will be on holiday until Tuesday (and thus unavailable).

Thanks a lot for trying to help the users that DO have this issue! :)

[2020-07-10 08:08] macgills opened #2193 "Crash Report 3.3.3: IllegalArgumentException LanguageUtils.getCurrentLocale"
[code]

[2020-07-10 08:28] macgills opened #2194 "Crash Report 3.3.3: ArrayIndexOutOfBoundsException: CoreReaderFragment.getCurrentWebView (CoreReaderFragment.java:932)"
[code]

[2020-07-10 08:41] kelson42 commented on #62
@mgautierfr @macgills I believe it would be good to implement this if this is the path to follow to be able to investigate properly crash reports. Does that sounds doable now?

[2020-07-10 09:24] macgills commented on #2082
Here is some example output of me searching for "a"

![image](https://user-images.githubusercontent.com/3358282/87138762-d3a65e00-c296-11ea-9634-0d2b8b34623d.png)

And here is a link to the apk:
https://drive.google.com/file/d/1ekCGG8xoR4jXI33Ll35RrWrVK2sM-lWB/view?usp=sharing

Enjoy your holidays and let me know if you encounter any problems

[2020-07-10 10:33] macgills opened #2198 "Crash Report 3.3.3: Dagger component not initialised in activity creation"
[code]

This seems like a device bug, the CoreComponent is created in the `onCreate` of the Application class which happens on the main thread, is one of the leading causes of slow startup times in apps and absolutely should happen before *any* activity's `onCreate`.

The only thing I can really think of here is just not using the component here, perhaps reparenting away from BaseActivity and manu

[2020-07-10 12:56] Frans-Lukas opened #2199 "Replace old navigation with new navigation"
**Is your feature request related to a problem? Please describe.**

One of the final steps in implementing the new navigation is to delete the old navigation. This will delete a bunch of old code and files and should simplify developing the new navigation system. By e.x. deleting HOME_URL, guaranteeing that it is no longer accessible.

**Describe the solution you'd like**

KiwixMainActivity should

[2020-07-10 17:23] s-ayush2903 commented on #1826
I would like to convert `SharedPreferenceUtil.java` class to Kotlin

[2020-07-10 17:25] s-ayush2903 opened #2200 "chore: Convert SharedPreferenceUtil.java to Kotlin Class"
Currently, SharedPreferenceUtil.java is written in java, it should be instead in Kotlin.
For more info.:
Refer #1826

[2020-07-10 17:25] s-ayush2903 commented on #2200
I would like to work on this issue.

[2020-07-11 13:43] #2194 closed

[2020-07-11 13:45] #2193 closed

[2020-07-11 13:48] kelson42 commented on #2104
@macgills Do we have any hints that this bug still occur with 3.3.3?

[2020-07-11 13:49] kelson42 commented on #2174
I can reproduce the problem.

[2020-07-13 08:30] macgills commented on #2104
No report yet

[2020-07-13 08:52] kelson42 commented on #2104
I propose to close it.

I really believe we should treat seriously the crash reports but:
* With borken ZIM files around these last months... I'm afraid of investigating time for nothing
* We need to have the handling to deliver the information necessary for a proper treatment.

IMO we should focus on https://github.com/kiwix/kiwix-android/issues/62, close that one and reopen it if it happens agai

[2020-07-13 09:27] macgills commented on #2104
This is more an issue of stopping the app crashing with opening a zim file from some external location, that is the code path here, no JNI at all

[2020-07-13 09:32] kelson42 commented on #2104
@macgills OK, yes I got confused.

[2020-07-13 10:03] Frans-Lukas opened #2202 "Can't open videos"
**Describe the bug**
When clicking a video, the video is not started. Tested on `master`, `develop` and `feature/navigation`. As well as the published app, but it has a different issue where instead of not opening the video the page gets blank when the video is clicked.

**Expected behavior**
When a video is clicked, it should open. (I don't know what the expected behavior for videos are as I have

[2020-07-13 10:15] macgills commented on #2202
Le Mali Pour Les Nuls is playing the video but there is an issue with fullscreen video, I'll investigate a TED file now

[2020-07-13 10:18] macgills commented on #2202
With TED - Fighting Imposter Syndrome it seems like the links are broken

[code]

what we try to load is the empty url which obviously does nothing.

@kelson42 I will inspect the html but at this point I think there was an issue at zim creation

[2020-07-13 10:23] macgills commented on #2202
![image](https://user-images.githubusercontent.com/3358282/87293979-fdf85580-c4fa-11ea-9799-f0e848bba23e.png)

Hmmm link seems fine.

The problem is when we get the redirect for this article it returns the empty `zim://content/`

[2020-07-13 10:25] macgills commented on #2202
Our options are fix the zim/kiwixlib? Or we report the empty string as not being a valid redirect result

[2020-07-13 10:28] macgills opened #2203 "Fullscreen Video does not display"
**Describe the bug**
Only a white screen is shown with no video or controls

**Expected behavior**

**Steps to reproduce the behavior:**
1. Open Mali les Pour les Nuls
1. click fullscreen on a video

[2020-07-13 10:29] macgills commented on #2202
opened a separate ticket for the fullscreen video bug  #2203

[2020-07-13 10:49] kelson42 commented on #2202
@rgaudin Would you be able to give a feedback on this please?

[2020-07-13 10:51] kelson42 commented on #2202
Looks like a serious regression to me. I can confirm the bug with the Mali ZIM file.

[2020-07-13 10:52] kelson42 commented on #2203
Looks like a serious regression to me. I can confirm the bug with the Mali ZIM file.

[2020-07-13 10:59] kelson42 commented on #2202
@macgills @Frans-Lukas Which file are we exactly talking about?

[2020-07-13 11:12] Frans-Lukas commented on #2202
@kelson42 None of the ones shown in this image works:

![bild](https://user-images.githubusercontent.com/22193232/87298336-52570180-c50a-11ea-9f88-f60f80726fcc.png)

- The lights and sounds of the universe
- The race for your attention
- Why it's (sometimes) good to be bored

[2020-07-13 11:14] kelson42 commented on #2202
@Frans-Lukas It is always important to focus on a concrete thing which fails, otherwise we might follow diffierent tracks. This is why I ask which file exactly.

[2020-07-13 11:14] Frans-Lukas commented on #2202
Is this file naming ok? ted_en_playlist-581_2020-07.zim

[2020-07-13 13:39] rgaudin commented on #2202
All images and videos works for me using kiwix-desktop. Just stating the fact that this seems android-specific at the moment.

[2020-07-13 14:52] julianharty commented on #2104
Here are a couple of screenshots of the error as reported in Google Play Console:
![Screen Shot 2020-07-13 at 15 50 54](https://user-images.githubusercontent.com/785891/87318836-c56b7280-c520-11ea-85d5-c7ecca1b9a9e.png)
![Screen Shot 2020-07-13 at 15 51 10](https://user-images.githubusercontent.com/785891/87318856-cc928080-c520-11ea-89f9-c4d8b69f798b.png)

@macgills Here's the link to the crash cl

[2020-07-13 14:59] julianharty commented on #2104
@s-ayush2903 As the screenshots show:

- The crash happens on at least Android 9 and Android 10, it happens in various versions of our app, so it's probably an old bug.

Version|Count|Percent
-- | -- | --
53 |	78|51.7%
182160|45|29.8%
1182160|10|6.6%
6220501|10|6.6%
45|4|2.6%
6220502|3|2.0%
5220501|1|0.7%

- It's happening on various device models.

Liquid S1 (a10) | 22 | 14.6%
-- | -- | --
Galaxy