[2018-04-03 04:37] harshvardhan-takawale commented on #684
@hjoshi123 As I said, I get this bug sometimes when I follow the steps mentioned above but it is not a completely reliable method to reproduce the bug

[2018-04-03 14:31] Rahul5758 commented on #684
@harshvardhan-takawale Please share the apk you are using.

[2018-04-03 22:26] rashiq commented on #662
I'll take closer look in the coming days and will decide on it

[2018-04-04 04:00] Rahul5758 commented on #681
@abdulwd In your screenshot there are other apps too which do not have an round icon, so I don't think its necessary to specify a round icon.

[2018-04-04 04:47] abdulwd commented on #681
@Rahul5758 I don't think this is a big change. I have only added a single line and we do have the round icon which was unused till now. Someone who has added the icon must have forgotten to define it in the manifest file. An excerpt from https://developer.android.com/about/versions/nougat/android-7.1.html#circular-icons :

[2018-04-05 09:58] julianharty commented on #510
I've reproduced this error on a physical device, a HTC Desire 510 running Android 4.4.3

Here's the extract of the logcat. I'll do some searching. @RajaVamsi11 what progress have you managed to make?

[code]

[2018-04-05 10:29] julianharty commented on #510
The problem seems fairly widespread on older versions of Android and prevents ZIM files from being downloaded from what I can tell so far. I've tested by running (ie using) Kiwix on several older models where Kiwix used to work previously. I'll continue finding more older devices (with Android 4.x and 5.x) to see the extent of the problem.

I can't download ZIM files on the HTC Desire 510 or on a

[2018-04-05 11:01] julianharty commented on #510
Downloads work on:
- Motorola Moto G (Android 6.0)
- Nexus 4 (Android 5.1.1)
- Samsung Galaxy 2 model SM-G360F (Android 5.0.2)

Downloads fail on:
- Lenovo Yoga 2 B6000-F (Android 4.4.2)
- HTC Desire 510 (Android 4.4.3)
- Galaxy Nexus (Android 4.3)
- Nexus S (Android 4.1.2)

I'll continue to dig out various devices, however these tests indicate the app doesn't download ZIM files on 4.x devices. Ne

[2018-04-05 11:11] julianharty commented on #510
That was a useful tests (trying Kiwix 2.2) as it indicates the problem also affects the older release (created over a year ago). I believe Kiwix 2.3 used to work on many, perhaps all, of the devices where the downloads now fail. So something could have changed externally to the app e.g.

- In Android on the devices (unlikely in my view as Android is seldom updated and I've powered some of these de

[2018-04-05 15:47] mhutti1 commented on #510
I think we changed to use the mirrored library and that is likely the change breaking it as some of the mirrors' certificates are not compatible for some reason.

[2018-04-05 16:13] Rahul5758 commented on #678
@mhutti1  SHAREit, Flipkart, Paytm are some apps that use this.

[2018-04-05 20:24] julianharty commented on #510
@mhutti1 which library? and when was it changed? can you remember the details? I ask as my test with last year's version of Kiwix also failed on the older Android releases (4.x) Anyway my guess is that there'll be users of Kiwix who can't use the download feature at the moment so it'll be great to find the cause(s) and enable the app to work again on all the Android releases we support. Thanks for

[2018-04-06 04:34] kelson42 commented on #510
@mhutti1 @julianharty FYI Both `https://download.kiwix.org` and `http://download.kiwix.org` are available. Most of `download.kiwix.org` are configure on `download.kiwix.org` to use `https`. That said we manage ourself a `http` only mirror which is available at `http://mirror.download.kiwix.org` exactly for that purpose: allow devices without https support or with an old key trustore to download th

[2018-04-06 09:33] julianharty commented on #246
It's time to revisit the challenge of coping with runtime permissions as these are preventing the tests from running cleanly on a Samsung S7 I'm using. Here are screenshots from Android Monitor
![hierarchyview of permission prompt on samsung s7](https://user-images.githubusercontent.com/785891/38414240-d397876e-3985-11e8-9a1d-118a4adfd31a.png)
![resourceid of permission prompt on samsung s7 showin

[2018-04-06 10:39] julianharty opened #691 "Bug: Content Header stale value from previous page used"
In my recent testing of Kiwix Android I discovered what seems to be a consistent bug where the Content Header retains the previous text if the current page does not have a suitable value.

I first noticed this when the automated Espresso `BasicTest` failed on a device where I'd used Kiwix previously (to read the Wikipedia for Schools zim file, etc). Instead of seeing `No Content Headers Found` the

[2018-04-06 10:48] julianharty commented on #691
Here's another example using an Arabic Wikipedia ZIM file (Arabic No Videos 8.1GB 2018-03-18)
Here's the homepage without a Heading and with 'No Content Header'
![arabichomepagenocontentheaders](https://user-images.githubusercontent.com/785891/38417391-0a4da9f0-3990-11e8-839d-a0b8c229ef6e.png)

Then an article that does have a heading
![an arabic page with a heading](https://user-images.githubuser

[2018-04-06 10:51] kelson42 commented on #691
Might that be the same bug as #344?

[2018-04-06 10:53] julianharty commented on #691
@kelson42 Yes, looks like they are related bugs. Thanks for making the connection.

[2018-04-06 10:55] julianharty commented on #691
My last example for now, Wikipedia Maths, 2017-12-07, English, 15 000 maths articles from Wikipedia 604MB

![welcometomathsnocontentheader](https://user-images.githubusercontent.com/785891/38417704-44223d0c-3991-11e8-952f-c9f2158e5f7c.png)

![welcometomaths bolzanoarticle](https://user-images.githubusercontent.com/785891/38417712-499825da-3991-11e8-876f-ec5495bd975b.png)

![welcometomathshomepagen

[2018-04-06 11:13] kelson42 commented on #691
Would be really helpful to identify if the problem comes from the Java or the Kiwix/ZIM library.

[2018-04-06 15:51] RohanBh commented on #648
I don't think this is a big problem. We can change this default name using `@JvmName` annotation so that Java code can still use `NetworkUtils.isNetworkAvailable(Context)`.

[2018-04-07 19:31] mhutti1 commented on #678
I don't have any experience with any of those. Most apps I use e.g YouTube, Gmail...

[2018-04-07 21:13] mhutti1 opened #692 "Look into building all app variants in CI to reduce room for errors"
## Feature Request

Look into building all app variants in CI to reduce room for errors when some variants might fail. This will likely increase build time so a compromise might need to be found.

[2018-04-07 22:27] #591 closed

[2018-04-08 09:11] srv-twry commented on #678
@mhutti1 @Rahul5758 @brijeshshah13 @kelson42
I don't think it is a standard to add this double press to exit. It breaks the user experience. None of the official google apps implement them. Flipkart, Paytm do implement them but they are wrong here.
One should only prompt the user, if there is something going on in the background and which will be closed if the app is closed.
If i am a user and i a

[2018-04-08 10:41] Rahul5758 commented on #678
@srv-twry The links you have given pertain to some different feature than the one I have suggested. There is no dialog box in my suggestion that annoys the user, just a toast message that press again to exit. This double press is suggested not to lock the user in the app but to prevent accidental exit from the app while on the home screen. If we are on some other screen accidental back press only

[2018-04-08 10:53] srv-twry commented on #678
@Rahul5758 Even though my links refer to the dialog only, the whole idea of confirm to exit is wrong.

I understood it but why would you want to prevent accidental exit from the app ? Is there any loss for the user ? If he/she accidently pressed the back button, they can easily **reopen** the app.
Let's say you accidently press the back button 1 out of 100 times you use the app. The remaining 99 t

[2018-04-08 11:12] harshvardhan-takawale commented on #678
I have an opinion here, let me know if you all agree. So when we open the app for the first time, it opens in the help activity and then we a guided to open a zim. Here in the summary page when you press back the app exits. So for a new user it is somewhat confusing as the point of entry and that of exit is different. So we can use this double back feature for this case.

[2018-04-08 14:44] abdulwd commented on #615
@mhutti1 I have only fixed it partially.

[2018-04-09 09:15] julianharty commented on #691
@kelson42  Agreed. My impression is the problem's more likely to be in the Java code of Kiwix Android from my testing this weekend but I've yet to isolate the cause.

BTW: if the homepage of the underlying Wikipedia source had a H1 heading then the problem would be less apparent (this would partly mask the issue, not fix, it to be clear...) Here's the source page https://en.wikipedia.org/wiki/Wiki

[2018-04-09 12:34] julianharty commented on #246
Here is another example of errors that affect the automated tests and cause them to fail:

[code]
On my Nexus 7 (2012) running Android 5.1.1 I disabled the 3 Animation settings and the tests then passed. With @ISNIT0 using one of my Lenovo phones adding a `sleep(250)` similar to https://stackoverflow.com/questions/22163424/android-java-lang-securityexception-injecting-to-another-application-requir

[2018-04-09 13:44] julianharty opened #693 "Poor layout of Help page in landscape mode"
Kiwix can work in both portrait and landscape mode.

In landscape mode the help content is rendered so that only the logo is visible, neither of the text or the 'Get Content' menu are visible.
![nexus7landscapelogofillsentireviewinlandscape](https://user-images.githubusercontent.com/785891/38501002-d2ff112a-3c03-11e8-8259-a3d4001ce1b0.png)

The screen need scrolling to see the text and the link.
!

[2018-04-09 14:18] okkebal opened #694 "Can not redirects to redirects (to URL with different depth) properly"
There is a huge problem with Kiwix on Android, (apart from the enormous search problems) wich is the fact that the download list is polluted with over a hundred Stack Exchange Zim files that do now work on android at all!

Thanks to this bug: https://github.com/kiwix/kiwix-lib/issues/70

There are: problems with Fonts, CSS, and images the pages are totally useless this way.

Please remove the Stac

[2018-04-09 14:41] okkebal commented on #315
The new nighly sais: "dumping memory app will freeze .... brr..." all the time (no crash occurs, it just waits and then continues). And can't do any testing like this. Hoprrible: can I turn that off somehow? I did try the '2017-10-10' medical wiki, but Full text search does not work.  0 results when I type 'Exhaustion', although that word appears on many pages. I will try a later version soon. Whe

[2018-04-09 16:55] kelson42 commented on #694
A few random click on any of the StackExchange ZIM file will show the problem: CSS files are not loaded properly.

[2018-04-09 17:23] kelson42 opened #695 "Current download process breaks potentially ZIM files"
# Bug Report

### Environment
  * version of the software you use : git master
  * device / operating system : all

### The Bug:

The download process split automatically ZIM files in 4 GB chunks. This assumes that we can split the ZIM files at any place. That is not true *anymore*. Because a few content (video or ft indexes for examples) are accessed directly (sharing directly the file descriptor

[2018-04-09 17:25] kelson42 commented on #615
@abdulwd We have quite serious (many hundreds of KB) memory leaks still reported. Do you have further ideas to fix the biggest one?

[2018-04-09 17:26] kelson42 commented on #675
Do we have such kind of exceptions with the git master version?

[2018-04-09 17:27] abdulwd commented on #615
@kelson42 I have found memory leaks in MBs (greater than 16MB). I will send the PR within this week. :)

[2018-04-09 17:29] hjoshi123 commented on #675
@kelson42 I am waiting for confirmation so that I can put a PR

[2018-04-09 17:30] kelson42 commented on #615
@abdulwd thx a lot

[2018-04-09 17:30] mhutti1 commented on #695
Currently we use 2GB chunks. We will need to change this to 3.X to facilitate this change.

[2018-04-09 17:41] kelson42 commented on #695
@mhutti1 Could with for 2.4:
* Increase to 4GB (no reason to stick to 2GB IMO)
* Do not split if the FS can handle 4GB+ files

For 3.X the kiwix-lib should be able to provide the download primitive.

[2018-04-09 17:47] mhutti1 commented on #695
So you don't want split ZIM's at all anymore? No more Wikipedia on 90% of android devices?

[2018-04-09 17:51] kelson42 commented on #695
@mhutti1 We can not randomly split ZIM files anymore, this is a fact. A smart splitting can be done and will be done with the next versions of the libkiwix. It does not make sense to make now something smart on java side. But we still need to do our best for the UX, So we have one alternative if the fs can not handle files > 4GB:
* Forbidds download of ZIM > 4GB
* Let the system split it... but th

[2018-04-09 17:59] hjoshi123 commented on #693
@julianharty I think Android itself is adjusting the layout because of rotation. What do you think we can do?

[2018-04-09 18:48] srv-twry commented on #675
@hjoshi123 I am AFK so i can't confirm it. If you're getting it then please send the PR.

[2018-04-09 18:51] srv-twry commented on #678
@harshvardhan-takawale I agree that this is a bit confusing but adding the double back press feature is a workaround, not a solution.
Solution would be to provide proper back stack navigation. Infact there is a GSOC idea on improving the overall experience of the user, hence if it worked upon in the summer, it can be tackled then.

[2018-04-09 18:53] harshvardhan-takawale commented on #675
@hjoshi123 @brijeshshah13 I repeated the steps mentioned and was able to get the exception almost everytime. But sometimes it did throw the exception mentioned by @brijeshshah13 (like once in ten times)
[code]

[code]

[2018-04-09 23:35] Xeddius commented on #259
@dschwen Kiwix-Serve already has a built in webserver, if we integrate the server into kiwix-lib we can just update the app to load the server on a port, worst case why not just make it so the kiwix app can also connect to a server running in the same network? That'd solve the issues with qrcodes and ip addresses. Plus, android supports "network service discovery" natively.

[2018-04-10 04:57] kelson42 commented on #695
@mhutti1 Should work but means:
* no ft search
* really limited suggestions

but we have here basically a strong regression (but so far I can see no crash) on a core feature of Kiwix.

[2018-04-10 15:25] mhutti1 commented on #693
One solution would have 2+ columns for the cards in landscape mode.

[2018-04-10 15:28] mhutti1 commented on #678
@harshvardhan-takawale I think the solution to your issue would be having the help page be at the bottom of the stack for summaries but I don't think its that major of an issue. Closing this issue as won't implement.

[2018-04-10 15:28] #678 closed

[2018-04-10 15:31] mhutti1 commented on #695
There has never been full text of full Wikipedia in Android right? the FT index was too large. By doing as I suggest we still are able to let users use the files that they have. Maybe mark them as limited search functionality?

[2018-04-10 17:07] sakchhams commented on #695
@mhutti1 How about keeping the same download methodology and merging the zim files on supported devices?

[2018-04-10 17:11] mhutti1 commented on #695
@sakchhams That could work but that isn't the main issue. The vast majority of devices don't support it.

[2018-04-10 17:18] RohanBh commented on #695
@mhutti1 Once we have the complete file (all its parts) on the file system, we can redistribute the content in the parts so that the video files, ft index, etc. should remain in one file each. This shouldn't take too long to implement and can work as a temporary solution till the download code is shifted to kiwix-lib

[2018-04-10 17:29] mhutti1 commented on #695
@RohanBh That would work for files overlapping breaks but not for files actually larger than 4GB. I also don't know how easy working out the relative file descriptor offsets would be with the current lib kiwix.

[2018-04-10 17:32] sakchhams commented on #695
@mhutti1 the current implementation doesn't take a file descriptor. It takes a path to the file instead. If it would accept a file descriptor this issue and #56

[2018-04-10 17:42] mhutti1 commented on #695
@sakchhams We use file descriptors for video content already. The issue is if a single file is larger than 4GB then we would have to split it what ever happens. If you think you can get a valid file descriptor from a file that doesn't get duplicated on install then definitely bring that up in #56 but I don't think that it is possible.

[2018-04-10 18:32] RohanBh commented on #695
@mhutti1 That's not what I meant. Assume we have a video in the zim file but it's split in two and is stored in the files `file.zimaa` and `file.zimab` of 2 GB each. What I meant is to read the bits from these files and start a new file where the blob for the video starts and then end the file when that blob ends. So that, in the end, we will have 3 files `file1.zimaa`,  `file1.zimab` and `file1.z

[2018-04-10 18:35] mhutti1 commented on #695
@RohanBh There is no need for this because we already do this but without needing to recreate files. We can open videos with a file descriptor and an offset. The issue is files larger than 4GB.

[2018-04-10 18:38] kelson42 commented on #694
@mhutti1 I hope this will be fixed in the next few months for 3.0, so we do not need sophisticated/robust. Just skip all library_zim.xml where the "url" attribute has "/stack_exchange/" in it. I do not see better solution

[2018-04-10 18:40] RohanBh commented on #695
I understand that when files are larger than 4GB we can't store them as one on Android devices because of FAT32 filesystem limitations. What I am saying is that, when this happens, we download files in chunks of 2GBs each until the whole file is downloaded. Once that happens, there is a possibility that a video content might have been split because of the file breaking into chunks. Because of this

[2018-04-10 18:46] mhutti1 commented on #695
Yes but if the file is bigger than 4GB then it does not fix the problem and that is the main issue we are facing especially with ft indexes.

[2018-04-10 18:49] RohanBh commented on #695
If we can get the split to happen so that the videos and ft indexes are not split between different chunks, then wouldn't that solve the problem?

[2018-04-10 18:50] kelson42 commented on #695
@RohanBh There is no way - for now - to do that in Java. Java does not know where to split properly and can not know it.

[2018-04-10 18:54] RohanBh commented on #695
We can add a class for this operation in `kiwix-lib` and make it available in Java through JNI.

[2018-04-10 18:59] mhutti1 commented on #695
@RohanBh At that point we might as well do it all in kiwix-lib which is what we are working with the added benefit of being able to handle files larger than 4GB which your solution still does not fix.

[2018-04-10 19:19] RohanBh commented on #695
@mhutti1 Can you please tell me why my solution doesn't fix this issue?

[2018-04-10 20:45] julianharty commented on #693
I've discovered there'd be a bit more work to do because of the way we load the help page in the app (apart from improving the layout in landscape mode). As I expect both @hjoshi123 and @mhutti1 know, the help contents are loaded in `onPageFinished(...)` in https://github.com/kiwix/kiwix-android/blob/master/app/src/main/java/org/kiwix/kiwixmobile/KiwixWebViewClient.java

This only happens when a Z

[2018-04-10 22:46] mhutti1 commented on #695
@RohanBh 2 premises
1. kiwix-lib can't read files split between physical files.
2. Android file system on majority of devices can't be larger than 4GB

If we wan't to get kiwix-lib reading a >4GB full text index in a ZIM file that has been split by premise 1 and 2 it is impossible.

[2018-04-11 04:03] RohanBh commented on #695
@mhutti1 If there is a zim file that is split such that none of its files (like image, audio, video) aren't split between two physical files, will kiwix-lib successfully be able to handle it?
Because this is what I was proposing. I wanted to make a program that takes a zim file as an input and outputs another splitted zim file such that it is not "broken", i.e. it can be handled by kiwix-lib.

[2018-04-11 11:00] julianharty opened #699 "Test fails with "Unable to start activity" on TestDroid"
A test fails consistently in TestDroid. It's been failing since Test run 1196 and since 05.04.2018 13:33:25 (their timestamp). So far it's failed 17 times in succession.

Out of curiosity I notice the device being used is an Samsung S6 running Android 6.0.1 instead of the Samsung S7 running Android 7 which we used until late March. I _doubt_ this is the reason, however the change of device might b

[2018-04-11 14:15] julianharty commented on #510
@kelson42 @mhutti1 I tested we could use `http://` to download from mirror service both in a desktop browser and from the app. I've added a helper method to replace https with http and tested it on both a 4.x device (a HTC Desire 510 running 4.4.3) and a Nexus 7 2013 running 5.1.1 (which still uses https). I'll create a pull request and ask @mhutti1 to review it. I'm happy to make improvements and

[2018-04-11 14:37] mhutti1 commented on #695
@RohanBh Yes that is what it does now. Again though this would not fix the issue for the major cases we have though i.e full text indexes. We are already working on a solution that fixes the problem fully not just part of it.

[2018-04-11 14:42] RohanBh commented on #691
The bug was on Java side. I've created a PR (#701) to fix this issue.

[2018-04-11 15:54] #691 closed

[2018-04-11 17:04] julianharty commented on #620
This message seems to be overloaded i.e. used in several circumstances. In my view it's not always the bests choice. In tandem we can choose to add headers to content that doesn't currently have any so this message isn't displayed - valid content headings are instead (since this is used when the content lacks a **_title_** which is gleaned from the content when the content has a valid HTML `<H1>`

[2018-04-11 17:15] julianharty commented on #620
As promised here are some additional comments and observations.

At least for Bollywood, I've found what seems to be the source page. https://en.wikipedia.org/wiki/Wikipedia:WikiProject_Film/Offline_Bollywood
I notice this was edited by one of the project team.

Perhaps other ZIM files also have their 'homepage' online where they can be edited.

For the Bollywood homepage, switching to [edit](http

[2018-04-11 17:15] kelson42 commented on #521
@paologarcia002 Could you please recompile the last master HEAD and check that you still have this bug? It should be fixed.

[2018-04-11 17:38] RohanBh commented on #693
@julianharty The reason that rotation of device won't load the alternate resource file is that we've decided to handle such [configuration changes](https://developer.android.com/guide/topics/resources/runtime-changes.html) ourselves. This is why Android doesn't restart the `KiwixMobileActivity` to load the required XML resource file.
As mentioned [here](https://developer.android.com/guide/topics/r

[2018-04-11 17:43] abdulwd commented on #98
@mhutti1 @kelson42 @rashiq After #617 and #696 is merged I will solve this issue to avoid merge conflicts.
But now we must have our own coding style guidelines. Using Square's [code style](https://github.com/square/java-code-styles/blob/master/configs/codestyles/SquareAndroid.xml) does not feel the solution to me as we need to place the annotation on the same line as the method signature.
I would

[2018-04-11 17:47] abdulwd commented on #683
@kelson42 @mhutti1 Does the **libkiwix** makes the downloading of the catalogue of books faster?

[2018-04-11 18:03] mhutti1 commented on #683
Yes it should do.

[2018-04-11 19:03] julianharty commented on #620
Next suggestion...
The current message only seems pertinent when there are **no section headings**, it seems confusing in all other circumstances. So if there are any section headings (which are generated by Kiwix parsing the HTML of the article) then I suggest we don't use the current message. Instead we could either put nothing (no text / a blank or empty string) or - if we can obtain it the tit

[2018-04-11 19:56] julianharty commented on #693
@RohanBh Thanks for letting me know why you think it's not been called on Rotation Change. Looks like an elegant fix might take quite a bit of work as changes may ripple through the application. Perhaps a partial fix such as the one I've proposed would ameliorate (make less severe) the current limitation? At the moment I'm waiting for @mhutti1 or another of the main contributors to the codebase to

[2018-04-11 20:37] RohanBh commented on #693
@julianharty I think that not much work will be needed if we just override the `onConfigurationChanged()` method. All we need to do is add the corresponding help layout (the XML resource file which is made for that orientation) as a child to WebView and update the WebViewClient's [help variable](https://github.com/kiwix/kiwix-android/blob/96704debdf503dadcd72c9ce5ff7431060242e3d/app/src/main/java/

[2018-04-11 20:40] julianharty commented on #620
@RohanBh I'd reached a similar conclusion of what happens in the code. I did find it odd that the Android view is added as a child of the WebView but on balance - why not, they are both Views after all...

I do like your simple, clean suggestion to add `<H1>` tags to the current minuscule help.html source. However, how about adding a H1 as well as the current title (which is in the head element of

[2018-04-11 20:43] julianharty commented on #693
@RohanBh Thanks for the suggestion. How about we test both approaches?
Would you like to try the one you propose & I'll add some additional
layouts for the one I've suggested?

On 11 April 2018 at 21:37, Rohan Bhatia <notifications@github.com> wrote:

[2018-04-11 21:13] RohanBh commented on #620
Yes, I agree. What I suggested wasn't even going to work (not a regular web coder here).
I never considered the problems of having a large userbase. It is important that a user sees everything in the app in his/her local language.
We need not worry about other articles here, as many articles come in different languages and Kiwix lets you download them in your language. So, this problem won't occur

[2018-04-11 21:14] RohanBh commented on #693
Sure, we can do this.

[2018-04-12 09:58] RohanBh opened #702 "Use notification channels to post notifications"
## Bug Report

### Are you ready to report?
Yes

### Environment
  * version of the software you use: master branch
  * device / operating system: op3/Android 8.0.0

### The Bug:
When downloading zim files on Android O, notifications won't show.

This is because Notification Channels are [not used](https://github.com/kiwix/kiwix-android/blob/master/app/src/main/java/org/kiwix/kiwixmobile/downloade

[2018-04-12 16:19] julianharty commented on #699
I think I've managed to track the problem down to an old version of the Android System WebView on the particular device we happen(ed) to be using on TestDroid/Bitbar. I managed to connect to that device interactively and update the WebView in Google Play and the tests have now run successfully.

![0](https://user-images.githubusercontent.com/785891/38690243-8a4a130c-3e75-11e8-85e0-744097e05a31.png

[2018-04-12 18:42] mhutti1 commented on #702
@RohanBh this is a priority. Please submit a fix ASAP.

[2018-04-13 08:48] Popolechien opened #703 "Download does not stop"
Observed on Huawei P7, Android 7.0

I started downloading a zim file and then interrupted it from the notification area. It showed that download had been interrupted (ie nothing left in the "downloading" window). It did however keep on downloading content, and afer I closed the app it actually resumed downloading in the background (I ended up uninstalling the app).

I do not seem to be able to rep

[2018-04-13 08:51] Popolechien opened #704 "Help button is not helpful"
Tried to press "Help" in the menu but nothing happened (tried in English, French and Spanish): meaning that it took me back to the generic "welcome to Kiwix" page.

[2018-04-13 08:55] Popolechien opened #706 "Updating Kiwix gives library error when (re)opening for the first time"
When updating to 2.4 and at first opening of Kiwix I got the below screen rather than the standard welcome message (or, better, remaining on the last article I had been checking out). Zim files were still around and were identified correctly when I went into my local library, however.

![screenshot_20180409-091544](https://user-images.githubusercontent.com/21675885/38725847-d77f750c-3f08-11e8-9e98

[2018-04-13 09:01] Popolechien opened #707 "Multizim search does not indicate where results are from"
I have two zims with the "molecule" article in them: results that are returned do not tell me in which zim they are located (see image)
![molecule](https://user-images.githubusercontent.com/21675885/38726178-c072dde4-3f09-11e8-9ba2-7f823806049b.png)

[2018-04-13 09:06] Popolechien opened #708 "Search does not open corresponding articles if not in the currently open zim file"
Scenario: I have the "mathematics" zim file open and am looking for a medicine-related term (e.g. diacetyl or fexinidazole) which should be found in the Chemistry of Wikimed zim files. The search console does identify them when I type, but when pressing the result it does not take me to the article and simply closes the search window to bring me back where I was.

If the maths zim is open and I se

[2018-04-13 09:12] Popolechien opened #709 "Render "opening" bar at top of screen in a more visible way"
There seems to be a bit of lag when opening an article in Kiwix. There is a dark blue "opening" bar at the top of the screen to show progress (see image) but it is not very visible and had me think a couple of times that the search was simply not functioning.

Consider turning it to orange so it stands out a little more.
![bar](https://user-images.githubusercontent.com/21675885/38726807-87e55054-3

[2018-04-13 09:32] Popolechien opened #710 "Kiwix ignores language preferences when first opening"
When starting Kiwix it opens on my phones' default language, ignoring earlier language preferences I could have set in another session (see images). However as soon as I open a zim file or article then language preferences kick in (e.g. it changes from French to Spanish or English)

![langue](https://user-images.githubusercontent.com/21675885/38727304-f2ee9fbc-3f0c-11e8-8d6a-926660fc8518.png)
----

[2018-04-13 09:35] Popolechien opened #711 "Deleting Kiwix does not delete zim files (nor some preferences)"
Should it not clean the whole thing (or at least ask?)

I suspect it also does not delete some preferences either : uninstalling and reinstalling Kiwix, it remembered that I wanted it set in Spanish (yet did open in French, as explained in #710). All other preferences and permissions where however reset to zero.

[2018-04-13 10:37] julianharty commented on #699
A quick update. Last night's builds all ran successfully but the automated tests failed with a similar error on TestDroid this morning (13 April 2018). I discovered another update was pending for the Android System WebView component which I applied on the device. I was then able to run Kiwix again on it and the automated tests also completed. I'm contacting bitbar support to see how we can best re

[2018-04-13 13:36] julianharty opened #712 "NPE Exception in pauseDownload reported by Google Play Console"
Google Play Console provides lots of information about the Kiwix-Android app available in the Google Play store (rather than ones users install from elsewhere).

The app has an overall crash rate of 1.53% currently on user's devices. However the crashes aren't evenly distributed so some users and some devices experience far higher crash rates than others.

Many of the most frequent crashes are rel

[2018-04-13 13:40] julianharty commented on #712
## Testing notes
The automated tests don't test either pauses or stopping and restarting downloads. These tests would be welcome, especially once we get the current downloadTest to run reliably. However we probably don't want to have long running tests in our CI process so we may want/need to create a separate test group that is skipped by Travis-CI / Testdroid.

The problems are probably better t

[2018-04-13 17:14] julianharty commented on #110
I've been thinking about which devices we'd like to run our tests on as part of each commit. My impression is we'll want to know, via running the automated tests, whether the changes in *this* commit have caused any new problems.

Separately we may want to run additional heavier-duty tests and/or our current tests on additional devices in order to focus on _existing flaws in our code_ so we can id

[2018-04-14 11:45] kelson42 commented on #711
This is duplicate of #596

[2018-04-14 11:45] #711 closed

[2018-04-14 11:48] kelson42 commented on #596
I my case, using nightly, it in fact already works as this - and this is annoying to me:
1 - Download last nightly
2 - Download a large ZIM file
3 - Kiwix complains that I do not have enought storage and I should the external SD card
4 - Download goes to the end and everything works fine.
5 - ZIM file (chunks) are stored in /storage/9724-C9BE/Android/data/org.kiwix.kiwixmobile/files/Kiwix
6 - Unin

[2018-04-14 12:50] RohanBh commented on #707
@kelson42 It is already marked as experimental in the settings screen

[2018-04-14 12:51] RohanBh commented on #702
I will submit a PR by the end of this weekend.

[2018-04-14 14:33] brijeshshah13 commented on #709
@mhutti1 I think the current color is doing just fine. What are your views?

[2018-04-14 14:45] brijeshshah13 commented on #675
@hjoshi123 Please update your local master and try again to reproduce the exception.

[2018-04-14 15:34] kelson42 commented on #110
@julianharty All of this seems to make sense. Now it is important to implement the change, test and close the ticket. If someone has an improvement on this he can then make next iterative improvement.

[2018-04-14 15:37] kelson42 commented on #709
Yes, I have difficulties myself to see the bar. Not sure here how much Android guidelines apply!? Maybe a bit of a brighter color would be better or one or two pixels higher progression bar. Anyway, not a blocker for maintenance release 2.4.

[2018-04-15 08:36] kelson42 commented on #344
This has not been fixed with #691. I have also remarked that time to time pictures are not rendered properly, I suspect the root cause is the same.

[2018-04-15 08:43] kelson42 commented on #703
We have many problems around download start/stop/sync with notifiation/UI.

See also: #670 #600 #658 #597 #329 #240

[2018-04-15 17:28] sakchhams commented on #709
@kelson42 The color could be made brighter and perhaps an animation could be added to make it visually identifiable. I could work on the same if everyone approves.

[2018-04-15 17:37] sakchhams commented on #355
@mhutti1 @kelson42 if no one is working on this anymore, may I proceed with this?

[2018-04-15 17:39] kelson42 commented on #355
@sakchhams Yes you can

[2018-04-16 08:52] Popolechien commented on #704
@brijeshshah13 Well that the Welcome page is so long already is an issue in an of itself. We could probably create an appropriately named "Help/FAQ" subpage that would already take both sections "Where is the content" and "How to use large zim files". The Where? part needs to be rewritten/simplified, I'll take care of it.

[2018-04-16 09:27] Popolechien opened #714 "Could Kiwix detect somewhat accurately a phone's country of residence?"
We get a lot of support requests from Cuba and I suspect there isn't much in terms of competition for operators there.

Ideally, I would want to have a dedicated Help page asking users to go to the government's Joven Clubs de Computacion to help them, since these offices do distribute localized versions of Kiwix.

[2018-04-16 13:26] julianharty commented on #246
Huawei Honor 7i 22/23 passed. The failing test is `testHistoryDialog`.

Here is the Error log from TestDroid:
[code]
I'll attach the video recording if I can get it downloaded from TestDroid.

[2018-04-16 13:27] julianharty commented on #246
Samsung Galaxy Ace
`PROCESSING_RESULTS: Installing application application.apk failed with error message Failure [INSTALL_FAILED_ALREADY_EXISTS]`

And the error log proudly declares:
[code]

[2018-04-16 13:42] julianharty commented on #246
## Samsung Galaxy Note 5 SM N920R4

Failed tests:
- `testHistoryDialog`
- `testToggle`

Assumption: the device lost connectivity and displayed a lock screen that obscured the test runner from 'seeing' and/or interacting with the app.

From watching the screen recording, the WiFi disconnected at 1:52 according to a Toast message.

![screen shot 2018-04-16 at 14 33 25](https://user-images.githubuser

[2018-04-16 13:50] julianharty commented on #246
## Samsung Galaxy Note Edge SM-N915FY
Failing test: `networkTest`

This test seemed to fail because the WiFi on the device reconnected several times while this test was running. The download was very slow and didn't complete in the allotted time. Here's an example of the Toast message appearing, again I've blanked out the WiFi name. I didn't see any disconnect Toasts (unlike on the previous device

[2018-04-16 14:04] julianharty commented on #246
## Samsung Galaxy S5 Neo SM-G903F
- `testToggle`

A screenlock was displayed at 40, 48 - 53, 59 - 1:02 and numerous additional times during the test run. Similarly there was a Toast message at 1:24 and again at 2:22 stating the device had connected to the WiFi.
[code]

[2018-04-16 14:33] julianharty commented on #246
## Samsung Galaxy Tab S 10.5 SM-T800
- `networkTest`

BTW: The device was running in Landscape view according to the screen recording.

My assessment is that more tests should have failed as the device didn't seem able to reach the kiwix download server. However the `downloadTest` didn't fail, the `networkTest` did.

Here is a zipped copy of the screen recording.
[screen-recording-GalaxyTabS10.5.z

[2018-04-16 15:44] sakchhams commented on #714
@Popolechien using GPS, yes. If that is an option.

[2018-04-16 18:16] julianharty commented on #699
The support team at Bitbar updated the Android System WebView control on Friday 13th April 2018. This seems to have cured the issue. Closing this issue for now. I'll reopen it if the problem reoccurs in the coming days, otherwise we can open a new ticket and refer back to this one.

[2018-04-16 18:16] #699 closed

[2018-04-16 19:12] julianharty commented on #283
@mhutti1 As part of testing changes @ISNIT0 and I have been working on to improve the automated tests #246 I ran some large-scale tests in TestDroid (30 devices). 99.1% of the tests passed. Of the few that failed, several coincided with the WiFi connection dropping / reconnecting on the device. I'm going to ask the support team at Bitbar to investigate. I'll cc you on the email. I don't want to pu

[2018-04-16 23:24] mhutti1 commented on #706
This has always been the case as far as I can remember. We should try to track down the cause.

[2018-04-16 23:26] mhutti1 commented on #708
Multizim is not yet ready in 2.4 @kelson42 do you want this in 2.4?

[2018-04-16 23:28] mhutti1 commented on #712
I think this is in general related to the notification not interacting with underlying service correctly in certain cases where some fragments are not loaded.

[2018-04-16 23:29] mhutti1 commented on #596
It might be nice to expose this to the user but it is a difficult concept to convey.

[2018-04-16 23:29] mhutti1 commented on #707
I suggest simply hiding.

[2018-04-16 23:36] mhutti1 commented on #709
I think there is a line between being jarring for the user and visible. I don't really know where we are on that line.

[2018-04-16 23:39] mhutti1 commented on #704
Yes it might be nice to have a bit of a FAQ page with more detail than the welcome page.

[2018-04-17 04:26] kelson42 commented on #708
No, but if this kind of bug is inside, please mask the option in settings.

[2018-04-17 04:27] kelson42 commented on #707
Hidding option in 2.4 seems best approach

[2018-04-17 08:30] Popolechien commented on #714
Probably not as many are low-end devices :-/
So basically there's no (easy) way to fish the mobile network's operator and then say "if Cubacell then Help.page is XYZ"?

[2018-04-17 08:52] Popolechien opened #716 "Merge library tabs "Device" & "Downloading""
Having three different windows for content is a bit confusing, I suggest removing the "downloading" one to merge it with the local library. See image:

![improve](https://user-images.githubusercontent.com/21675885/38859004-6aeb848a-422d-11e8-8b70-6aa96958729e.png)

#75 (I closed it as duplicate) was mostly seing the same:
- Rename "Device" to "Downloaded"
- Move "Downloads" into "Downloaded" panel

[2018-04-17 09:02] Popolechien opened #717 "2.4 doesn't seem to be able to read "book"-type articles from Wikimed"
When downloading the last en_wikimed zim files (25.03.2018; I tried with the no images and nodet versions), I get the normal landing page ([this one](https://en.wikipedia.org/wiki/Wikipedia:WikiProject_Medicine/Open_Textbook_of_Medicine2) )
But clicking on any of the links returns a blank page.
The search function works and returns normal articles, so it must have to do with the Book format those

[2018-04-17 09:16] kelson42 commented on #717
Duplicate of #633

[2018-04-17 09:16] #717 closed

[2018-04-17 19:39] hjoshi123 commented on #675
@brijeshshah13 I updated it and its still showing me the exception.

[2018-04-18 08:33] brijeshshah13 commented on #510
@julianharty As we are now using the certificate from `Let's Encrypt`, which is a well known CA, I think we can simply use the example given over [here](https://developer.android.com/training/articles/security-ssl.html#HttpsExample) first to test out if this itself resolves the issue.

[2018-04-18 09:40] brijeshshah13 commented on #596
@kelson42 @mhutti1 How about we simply inform the users that the ZIM files will not be deleted when they uninstall the app and the instructions to remove them if they want to, in either the `Help` page or a message via a Dialog box when they download their first ZIM file.

[2018-04-18 09:47] Popolechien commented on #596
Disagree. If the user doesn't want Kiwix there is little reason for them to want to keep the zim files, and we have to aim at lowest tech skill possible (ie people won't be able to/won't bother look into a file storage tree).
There is no point in semi-stealth occupation of useful storage space (it's not like zim files are small and unobstrusive).

[2018-04-18 09:50] brijeshshah13 commented on #596
@Popolechien I agree. I was just providing an approach to inform the users about the same if in case we finalize not to remove the ZIM files.

[2018-04-18 09:59] brijeshshah13 commented on #706
@Popolechien What do you mean by "updating to 2.4"?

[2018-04-18 10:11] Popolechien commented on #706
@brijeshshah13 Well I've updated to the beta release of 2.4 (build 11809880) but tbh and to @mhutti1 's point I never really paid attention if it was the same in earlier versions. I'll correct the title.

[2018-04-18 14:33] Popolechien commented on #709
@schoenbaechler (testing if this works here too :-) Thoughts on this bar thing?

[2018-04-18 14:59] schoenbaechler commented on #709
Hi all, agree that the progress bar’s current color needs more contrast, since the app header is a pure black (#000000). Attached you’ll find some suggestions that work better than the current dark blue (#304E9A). If there already brighter colors in use in another part of the app, I suggest to consider these as well to keep it consistent

![loading-bar-suggestion](https://user-images.githubusercon

[2018-04-18 16:47] ISNIT0 opened #718 "Help page drawers behave weirdly"
## Bug Report
### The Bug:

On help page:
  * Left Drawer shows "Help", even in other languages
  * Right Drawer shows "No content headers" but should show "Help"

![screenshot_2018-04-18-17-39-42](https://user-images.githubusercontent.com/5173131/38946142-7fff31b0-4330-11e8-87ff-0e2f2741de1f.png)
![screenshot_2018-04-18-17-39-52](https://user-images.githubusercontent.com/5173131/38946146-80cd1e9a

[2018-04-18 23:36] mhutti1 commented on #714
There are multiple location layers in Android using a variety of techniques to attempt to acquire location. I think it is possible to get basic country information on most devices.

[2018-04-19 05:06] kelson42 commented on #615
@abdulwd Thx, I will check this and reopen the ticket if I found other memory leaks.

[2018-04-19 06:29] Popolechien commented on #714
Ok, thanks - bonus question/remark then: a lot of people in Cuba I suspect are getting refurbished phones from the US, so the location function should not be device/or default-language related.
Either way, let me know when someone looks into it and I'll prepare the relevant message.

[2018-04-19 17:57] kelson42 commented on #615
We still have memory leaks (tested with last nightly).

[2018-04-19 17:59] kelson42 commented on #702
@RohanBh This is buggy and does not seem to be tested properly, I get duplicates now in my notification bar. On the top of that the "downloading" tab is not refreshed properly (most of the time simply empty).

[2018-04-19 18:17] RohanBh commented on #702
@kelson42 This is not because of what I pushed. I simply added a channel to the notification that was being shown. These bugs should've existed before. I will try to reproduce and find the source of these bugs this weekend.

[2018-04-20 05:15] abdulwd commented on #688
@mhutti1 Please review this issue. May I start working on it? :)

[2018-04-20 17:13] julianharty opened #722 "NPE Exception in isWiFi NetworkUtils when WiFi available but not connected"
This is a simple error in the code which was uncovered by the recently revised automated tests (yay) although I only found it by accident when testing in a new environment where the devices detected WiFi networks were available but weren't actually using the WiFi. Might as well fix it.

[2018-04-20 19:27] abdulwd opened #724 "BookDao not injected in KiwixErrorActivity"
### The Bug:
Pressing **SEND DETAILS** buttons results in `NPE`.

#### Steps to reproduce:

  1. Throw an unhandled exception in the code, then KiwixErrorActivity is launched.
  2. Check "A List of Your Zim Files".
  3. Press **SEND DETAILS**. `NPE` is thrown.

[2018-04-20 19:48] abdulwd commented on #583
Closed via #721

[2018-04-20 19:48] #583 closed

[2018-04-21 00:39] mhutti1 commented on #714
I think we should be able to get this info from the sim card if they have one using https://stackoverflow.com/questions/11872483/reliable-method-to-get-the-country-the-user-is-in. If they have a tablet without GPS or a SIM imported from the US not correctly wiped then it might be more difficult.

[2018-04-21 00:40] #600 closed

[2018-04-21 00:42] mhutti1 commented on #688
Sure :)

[2018-04-21 00:43] #722 closed

[2018-04-21 00:46] #724 closed

[2018-04-21 01:02] #433 closed

[2018-04-21 04:53] kelson42 commented on #710
@abdulwd @RohanBh Could one of you have a look to that ticket please? If confirmed, it looks to me to be a 'no brainer' (even if the bug is quite annoying).

[2018-04-21 09:52] harshvardhan-takawale commented on #704
@Popolechien @mhutti1 @brijeshshah13 Even the "Find in page" does not work on Help page. Should I make a different issue for this?

[2018-04-21 16:25] mhutti1 commented on #704
Sure

[2018-04-21 19:54] harshvardhan-takawale opened #727 ""Find in page" not working on Help page"
## Bug Report

### Are you ready to report?
   - Your issue may already be reported! Please search on the [issue track](../) before creating one.
   - Ensure you have tested with the last (dev) version of the software.  (If not, and if possible, run your test again with the most recent version available.)

### Environment
  * version of the software you use : 2.3
  * device / operating system : Mo

[2018-04-22 22:00] Popolechien commented on #714
Well the worst case scenario (incorrectly wiped) would mean that they wouldn't see any difference with their current situation. So overall I only see benefits in trying.

[2018-04-23 04:47] kelson42 commented on #714
This kind of move:
* Will be heuristic
* Will need special new permissions (GPS access, SIM access, ...).

I understand the need, but I'm really worry the amount of permission/work and the uncertainty of result quality in consideration of the problem.

If the goal is to use more local support forces, other ways might exist: like for example, proposed an integrated support workflow pushing that (as

[2018-04-23 04:50] harshvardhan-takawale commented on #714
Can we not just ask the user to enter the country they live in as one of the fields in the settings?

[2018-04-23 15:04] Xeddius commented on #259
I suggest we integrate this feature with the server as it'll make it easy for others to download a copy of the wiki databases. [ZIM file transfer between two devices...](https://github.com/kiwix/kiwix-android/issues/616)

[2018-04-23 15:05] Xeddius commented on #616
I suggest implimenting the http server first as it can be merged with this feature and takes out two goals in one go.

 [Kiwix-plug mode: Wifi hotspot + Kiwix HTTP server](https://github.com/kiwix/kiwix-android/issues/259)

[2018-04-24 18:32] mhutti1 commented on #714
Regarding permissions only the fine grain accuracy options should need the full permissions. I think you should be able to get at least the country without any more permissions.

[2018-04-27 23:06] #672 closed

[2018-05-01 11:26] kelson42 commented on #616
We need to make the kiwix-lib HTTP daemon ready first https://github.com/kiwix/kiwix-lib/issues/138

[2018-05-03 08:06] metal450 opened #729 "Improvement: Custom Storage Location (or at least move to Android/data)"
Kiwix seems to be storing its downloaded content to the root of the internal storage (in a /Kiwix directory).  As standard practice is for apps to store their external data in /Android/data/<app folder>/files, please consider either moving the data there, or allowing the option to choose our own path.

By hard-coding the database to this top-level location, not only does it increase clutter unnece

[2018-05-05 16:50] mhutti1 commented on #729
This has already been implemented and is on master.

[2018-05-05 16:50] #729 closed

[2018-05-06 07:51] tbertels opened #730 "Release 2.4 on F-Droid"
## Bug Report

### Environment
  * version of the software you use : Kiwix 2.2 (53)
  * device / operating system : 6.0.1

### The Bug:
Based on the [CHANGELOG](https://github.com/kiwix/kiwix-android/blob/master/CHANGELOG), the latest version is 2.3.
From #247 it seems at least some users have the version 2.3

[2018-05-06 07:55] tbertels commented on #247
[Kelson fixed this on August 2017](https://translatewiki.net/w/i.php?title=Kiwix:Android.ui.time_left/fr&action=history) so this can be closed.

[2018-05-06 07:56] kelson42 commented on #247
@tbertels yes, thx, the problem is a lack of documentation on translatewiki... did not have had the time to documented that properly

[2018-05-06 07:56] #247 closed

[2018-05-06 07:59] kelson42 commented on #247
Finally just updated the doc https://translatewiki.net/wiki/Kiwix:Android.ui.time_left/qqq

[2018-05-06 08:03] tbertels commented on #730
You may also want to [publish a more recent version on open beta](https://support.google.com/googleplay/android-developer/answer/3131213).

[2018-05-06 08:17] tbertels commented on #730
With version 2.3 adding improvements like remaining time and full interface translation, you may want to release it before 3.0.
While some apps get updates without noticeable changes, this is really not the case of Kiwix, which could use a little more frequent updates.

[2018-05-09 11:44] mhutti1 commented on #730
2.3 started to be rolled out however it caused crashes on a small but significant proportion of devices that took a very long time to track down. As such we didn't continue with the roll out and have been working on fixing these issues. (They should all now be fixed on master). We will hopefully release 2.4 soon and will ensure it is on fdroid.

[2018-05-09 11:47] mhutti1 commented on #729
Yeah we are working on getting it out as quickly as possible. If you don't mind a bit of instability you can check out our nightlies: http://download.kiwix.org/nightly/

[2018-05-10 09:37] tbertels commented on #730
Thanks for the info! I'm looking forward to 2.4!

[2018-05-14 17:11] TimMagee opened #731 "Open Wikipedia Links"
Could Kiwix Android open wikipedia.org links?

Or would this be too difficult?

[2018-05-16 06:57] harshvardhan-takawale opened #732 "Feature: Create an "Update zim" option"
## Feature Request

#### Feature Description
Some zim files get updated in the span of a few months. If the user has downloaded the previous version of the file, he can be prompted about the new version and can be given an option to download it.

Please describe the feature you want to add to the project.

The zims have the month and year of upload in their name, they can be checked to provide thi

[2018-05-16 09:54] abdulwd commented on #469
@siddharth2010 Since you are refactoring the package structure we should discuss the new package structure in this issue. Can you propose a new package structure here as is done in #471. Also, you are using underscore in some package names like `content_provider` which I think should be changed to `contentprovider` according to the Java docs [here](https://docs.oracle.com/javase/tutorial/java/pack

[2018-05-16 13:08] siddharth2010 commented on #469
@abdulwd , I think the package structure suggested in [#471](https://github.com/kiwix/kiwix-android/pull/471) is really good. So I would suggest the same basic structure, with a few minor changes here and there. (like the renaming of the package `main` (containing `SplashActivity.java`) to `splash`).
Also, I yes, you are absolutely right. According to the [google java style guide](https://google.g

[2018-05-16 13:29] abdulwd commented on #469
@siddharth2010 I think we should have separate packages for **KiwixMobileActivity** and **KiwixErrorActivity**. We can rename **KiwixMobileActivity** to **MainActivity** and move it to a package called `main`.
Please have a look at this [sample app](https://github.com/googlesamples/android-architecture/tree/todo-mvp/) so that it may give us a greater insight into architecture. You can find more sa

[2018-05-16 13:29] abdulwd commented on #469
@siddharth2010 I think we should have separate packages for **KiwixMobileActivity** and **KiwixErrorActivity**. We can rename **KiwixMobileActivity** to **MainActivity** and move it to a package called `main`.
Please have a look at this [sample app](https://github.com/googlesamples/android-architecture/tree/todo-mvp/) so that it may give us a greater insight into architecture. You can find more sa

[2018-05-16 13:32] siddharth2010 commented on #469
@abdulwd Sure. I will look into it right now and get back to you as soon as possible.

[2018-05-16 15:35] brijeshshah13 commented on #732
@mhutti1 This can prove to be a valuable feature. We can ask the user to update the ZIM file, if yes: then delete the existing file and download the new one.

[2018-05-16 17:20] siddharth2010 commented on #469
@abdulwd , I guess I now understand the idea behind having separate packages for `KiwixMobileActivity` and `KiwixErrorActivity`, and I think it's the right way to go. I will do this.

[2018-05-17 14:25] harshvardhan-takawale commented on #57
We could ask the user to choose the files he would be interested in, only in case there is an update in that file we would notify him. Also, we can have a job scheduled for the period of 15 days or so from the app so that we would not need a server-side script.

[2018-05-17 14:29] mhutti1 commented on #57
@harshvardhan-takawale The problem is that at the moment using 6 MB of data every x days is not sustainable. We need a way of only returning the ZIM files we are interested in. @kelson42 any update on this?

[2018-05-18 01:28] TimMagee commented on #731
Hmmm . . . .
All the unofficial Reddit apps can open Reddit links.
[NewPipe](https://newpipe.schabi.org/donate/) can open Youtube links.
Twidiere can open Twitter links.
I don't think we need to control wikipedia.org to register as an opener for wikipedia.org links.
Remember, we are simply registering our app withing the android system.

[2018-05-18 16:40] mhutti1 commented on #731
Oh ok. I equated offline search with linking for some reason. Is there a way to programmically add hosts though?

[2018-05-19 02:58] siddharth2010 commented on #731
@mhutti1 I am not quite sure I understand the question? By "programmically adding hosts", do you mean that we add a set of hosts in a resource file and run a loop in the android manifest, and reference a host from the file in each iteration to make the intent filter?

[2018-05-20 13:02] mhutti1 commented on #731
Yes something like that.

[2018-05-20 13:55] #694 closed

[2018-05-20 13:55] mhutti1 opened #735 "Revert #734 to show stack exchange zims"
## Feature Request

#### Feature Description

Re-enable stack exchange zim files once they work again.

[2018-05-20 14:25] mhutti1 opened #736 "Download notification periodically makes notification sound"
# Bug Report

### Environment
  * version of the software you use : master
  * device / operating system : Nexus 5X 8.1

### The Bug:

When downloading items a continual notification sound is heard.

#### Steps to reproduce:

  1. Download an item

This should not be happening.

[2018-05-20 14:35] mhutti1 commented on #736
Fixed by 3bead53f134ef3167015e55ce6a3cd5bbc39ef1d

[2018-05-20 14:35] #736 closed

[2018-05-20 15:01] mhutti1 opened #738 "Opening ZIM files from download file manager searches their name instead of opening them"
## Bug Report

### Environment
  * version of the software you use : master
  * device / operating system : Nexus 5X 8.1.0

### The Bug:

Opening a ZIM file with the android download manager instead searches it.

#### Steps to reproduce:

  1. Download a ZIM file
  2. Open said ZIM file using the download manager

[2018-05-20 16:34] mhutti1 commented on #710
The issue is more complex than expected. In later versions of Android the first initialisation of a WebView resets your language cause Android... https://stackoverflow.com/questions/40398528/android-webview-language-changes-abruptly-on-android-n Creating a webview then immediately destroying it before setting the lanugage seems to fix this.

[2018-05-20 16:53] kelson42 commented on #633
We should probably call `urlDecode(path, true)` here https://github.com/kiwix/kiwix-lib/blob/master/src/reader.cpp#L467. @mhutti1 Can you try it please?

[2018-05-20 16:59] kelson42 commented on #710
@mhutti1 ouch :(

[2018-05-21 02:16] siddharth2010 commented on #731
I did some research on this topic, but i couldn't find much. I don't think we can add the loop directly in the xml file. However, we can write a simple python script that takes a resource file containing the hosts and generate the required xml code.

[2018-05-21 10:42] harshvardhan-takawale commented on #716
@mhutti1 Sounds like a good idea. If we are going foreward with this I would like to work on this.

[2018-05-21 13:32] mhutti1 commented on #716
I think this will be worked on by @abdulwd sorry.

[2018-05-21 20:25] julianharty commented on #283
It's time to close this issue as our tests are now running reliably and successfully. The most recent failure was for `testRightDrawer`. The download test has passed on 3 devices for the last 50+ test runs on BitBar / TestDroid. When I saw failures they were reporting actual problems in the test infrastructure :)

[2018-05-21 20:25] #283 closed

[2018-05-21 21:13] julianharty commented on #110
A quick update. I've added a Xiaomi Android 4.4 device and re-run one of the current open merge requests. One test failed on that device. I don't know exactly why yet the error message is:
[code]
I'll investigate in the morning. Perhaps another batch of tests will have been run overnight on this device which may help indicate whether the issue is related to the device or something else.

[2018-05-22 10:32] julianharty opened #742 "TBC: OOM when running the Espresso tests when testing 'help' on low-end devices"
When I ran the automated Espresso tests on this device the last test consistently failed as follows.
[code]
[code]

I then ran some manual interactive tests on this and another Xaomi device also running Android 4.4.x While I didn't seem to trigger the OOM error there were numerous flaws trying to use the device to download ZIM files (Bollywood) and the device was not very responsive. Rather than h

[2018-05-22 10:43] julianharty commented on #742
The same test also failed on the Sony Xperia M2 device with a similar error. I've replaced it with a Lenovo Lemon running Android 4.4

![lenovo lemon added running android 4 4](https://user-images.githubusercontent.com/785891/40357409-042409aa-5db4-11e8-880b-338981602eb8.png)
![autotest 1318 networktest failed on samsung galaxy s6 else ok](https://user-images.githubusercontent.com/785891/40357645-

[2018-05-22 13:17] julianharty commented on #110
I'll close this issue as we've now got a useful set of 4 devices for CI testing. They are:

1. Samsung Galaxy S7 Edge, Android 6.0.1
2. Samsung Galaxy S6, Android 7.0
3. OnePlus Two A2001, Android 6.0.1
4. Lenovo Lemon K3, Android 4.4.4

![android devices for testing in the ci 22 may 2018](https://user-images.githubusercontent.com/785891/40364591-a3067466-5dca-11e8-83b4-66e28df19ce9.png)

They are

[2018-05-22 19:13] abdulwd opened #743 "Create new home screen"
The present home screen is the help screen which is not user-friendly. So a new screen has been designed.

![image](https://user-images.githubusercontent.com/20206262/40384780-32981042-5e22-11e8-9a76-f0f69543518b.png)

This screen shows the offline books the user has downloaded. The user can just tap any of the
downloaded books to start reading from the start of the book. The book will open in the

[2018-05-22 19:17] abdulwd commented on #743
Any suggestions for the screen design are welcomed. :)

[2018-05-22 19:27] abdulwd opened #744 "Create new initial landing screen"
On first landing a dismissable card is shown which shows the
instructions to download new books, this is the recommended way to show empty [states
according to Material Guidelines](https://material.io/design/communication/empty-states.html#content). We can choose some ZIM files which
will be shown on the first launch as recommended books and the user can download those
books from the initial landi

[2018-05-22 19:38] abdulwd opened #745 "Refactor bottom toolbar"
The bottom toolbar has to be refactored to make it more user-friendly.

![image](https://user-images.githubusercontent.com/20206262/40385838-8896a578-5e25-11e8-9fea-00bfc82872c7.png)

This is just a mock-up final design has to be discussed with @mhutti1 and @rashiq.
Should we include a button for the table of contents like the Wikipedia app does?

[2018-05-23 23:22] mhutti1 commented on #745
I think having a button for table of contents might be a good idea.

[2018-05-24 06:26] brijeshshah13 commented on #744
@abdulwd I think as it is the landing screen, the option to cancel that tab should not be available, hence showing the tab number should not be displayed.

[2018-05-24 06:31] brijeshshah13 commented on #745
@mhutti1 @abdulwd I agree, because its almost accidentally that the user can know about a right navigation drawer containing the table of contents.

[2018-05-24 07:03] abdulwd commented on #743
@mhutti1 It will not be merged with #744. Are there any changes to be done on this home screen?

[2018-05-24 07:07] abdulwd commented on #744
@brijeshshah13 This screen has to be shown only on the first launch. We do have tab numbering in Google Chrome even if it's the first launch, I don't think it will be a problem as the UI is quite intuitive.

[2018-05-24 07:11] brijeshshah13 commented on #744
@abdulwd I agree. But they want to give user the option to clear all the tabs and display an empty screen with options, do we?

[2018-05-24 07:15] abdulwd commented on #744
@brijeshshah13 Yes, we do.

[2018-05-25 19:03] mhutti1 commented on #743
@abdulwd ? It is very confusing to have two separate screens that do the same things. Imo #744 should be a bridge between #498 and this.

[2018-05-25 19:14] abdulwd commented on #743
This is the screen which the user will see whenever a new tab is opened so that he can just open the offline book and start reading right away. IMO this screen should be left as it is or at least we should provide a way to the user using which he/she can open the offline books easily.
#744 is only shown on the first-time launch so should I change #744 to look more like #498 and should I include su

[2018-05-25 19:40] mhutti1 commented on #743
Ah ok. I see. I still think there is a lot of shared functionality. We should discuss this next call to come up with a common approach to minimise duplication. I think #744 should definitely link with #498 with regards to that. In regards to what to open on new tab I think that is another issue as well that needs to be thought out.

[2018-05-26 18:55] Akhilan opened #746 "Problem with search and go"
New version on kiwix available on Playstore shows me some bug on search. Eventhough it shows search suggestions, wont leads to the page on selection. I'm not sure weather its only for non-latin languages (since Im using Malayalam zim files)

[2018-05-27 21:15] mhutti1 commented on #702
Worked on with 3bead53f134ef3167015e55ce6a3cd5bbc39ef1d . @kelson42 the other issues are long standing and not related to this issue. If you feel they are blockers for 2.4 can you open a separate issue.

[2018-05-27 21:30] mhutti1 commented on #521
Closing as am pretty sure this is a duplicate of #344

[2018-05-27 21:30] #521 closed

[2018-05-27 21:42] mhutti1 opened #747 "Files can't download on first run"
## Bug Report

### Environment
  * version of the software you use : master
  * device / operating system : 8.0 Emulator

### The Bug:

On first run files don't download.

#### Steps to reproduce:

  1. Install
  2. Attempt to download

### Other Comments:

I think this is an issue with leak canary

[2018-05-27 22:47] mhutti1 commented on #615
Adding memory leaks as they occur here
- [ ] TextToSpeech leaks KiwixMobileActivity context.

[2018-05-28 04:34] kelson42 commented on #702
@mhutti1 @RohanBh OK, thx

[2018-05-29 19:29] julianharty commented on #98
As there is a large volume of reported issues (370+) when I ran Lint today (29 May 2018) on the `master` branch, I agree with @abdulwd it's a good time to refine / establish a code style guideline, and one that includes how we address the many and various types of Lint warnings and errors.

BTW the [RocketChat](https://github.com/RocketChat/java-code-styles/blob/master/CODING_STYLE.md) code style

[2018-05-29 22:45] mhutti1 commented on #706
I have worked out this is due to us changing our provider base url to allow custom apps to not accidentally use another apps content. I will try fixing this where it occurs.

[2018-05-30 22:26] #706 closed

[2018-05-30 22:57] abdulwd commented on #469
Closed via #748

[2018-05-30 22:57] #469 closed

[2018-05-31 15:53] julianharty commented on #615
A quick update, not sure how much it'll help identify where the leaks are happening, however the technique may at least help us find more leaks...

I've been running Android monkey on various apps, including Kiwix. Today I tried it on one of my older Samsung mid-range devices, A Galaxy Core Prime running Android 5.1.1  It triggered so many (10+ leaks) that LeakCanary ran out of memory and wiped ou

[2018-05-31 16:11] julianharty commented on #615
[code]
I did try running monkey with the seed (by adding `-s 1528150310004` to the command line) but it didn't crash this time.

Running this command several more times does seem to trigger Leaks but they're not showing any more in LeakCanary. However the app also failed again with a native crash, see below...

`adb shell monkey -p org.kiwix.kiwixmobile -v 1000 -s 1528150310004`

[code]

[2018-06-01 09:28] #633 closed

[2018-06-05 20:34] mhutti1 opened #756 "Fix kiwix-lib getId crash"
This is a very annoying crash for users as corrupted ZIM files will crash the ZIM manager with little explanation.

https://github.com/kiwix/kiwix-lib/issues/143

[2018-06-06 22:53] #355 closed

[2018-06-07 10:35] abdulwd commented on #688
Closed via #755

[2018-06-07 10:35] #688 closed

[2018-06-07 10:54] abdulwd opened #757 "Disable exception handler for debug build variants"
## Bug Report

### Environment
  * version of the software you use: master
  * device / operating system : Redmi Note 3 / Marshmallow

### The Bug:

We should disable the default exception handler in **SplashActivity** as I am not able to get crash errors in Logcat or Run tab. After removing the default exception handler everything works fine so we should disable the exception handler for debug bu

[2018-06-09 12:34] kelson42 commented on #355
@mhutti1 Thx for this bug fix!

[2018-06-10 10:06] kelson42 commented on #98
@mhutti1 @julianharty @abdulwd IMO this is important/urgent to work to avoid warnings. Quite a bad habit to let them "live" long.

[2018-06-10 10:17] kelson42 commented on #747
@mhutti1 I think I can confirm that bug, somehow the book stays in the "online" tab... I need to reclick on it to finally say it in the "downloading" tab.

[2018-06-10 12:05] kelson42 commented on #326
@julianharty The crash scenario at the libzim level has been fixed and the app does not write ZIM chunks (*.zimaa, ...) as long as the full content has not been download (see #355). I strongly believed this should have fixed this bug. Therefore I'll close it.

[2018-06-10 12:05] #326 closed

[2018-06-10 12:06] kelson42 commented on #731
This tickets depends in addition of the implementation of https://github.com/openzim/mwoffliner/issues/278

[2018-06-10 12:20] kelson42 commented on #57
@mhutti1 We have implemented an experimental OPDS backend in kiwix-serve/library.kiwix.org and an experimental client in the libkiwix. The OPDS backend is available at https://library.kiwix.org/meta but I do not have found a lot of documentation. @mgautierfr Do you have writtent something somewhere related to this?

[2018-06-11 11:26] Popolechien opened #760 "Does not open articles with special characters"
Tested on Wikivoyage Europe (latest zim 2018-06-10) and Kiwix-Android 2.4 Build 1180980:

When searching for an article I can not open those with special characters (Saint-Lô, Zürich, Korčula): they are found in search, even without typing ô, ü or č, but clicking/tapping the name in the search list will return to the previously opened article.

[2018-06-12 04:33] kelson42 commented on #760
@mhutti1 I confirm this regression with http://mirror.download.kiwix.org/zim/wikivoyage/wikivoyage_en_europe_2018-06.zim :(

[2018-06-12 04:36] kelson42 opened #762 "Opening file from file browser put filename in search"
## Bug Report

### Environment
  * version of the software you use : last nightly
  * device / operating system : Android 6 on Samsung Galaxy tab

#### Steps to reproduce:

  1. Open a file browser
  2. Click on a ZIM file
  3. Choose Kiwix
  4. Kiwix starts

But:
1 - The focus is on the search bar and the search bar is filled with the filename
2 - The ZIM home page does not display (but the corre

[2018-06-13 17:34] abdulwd commented on #745
@mhutti1 Which of these should we keep for night mode and day mode?
![image](https://user-images.githubusercontent.com/20206262/41367910-030a7ee4-6f5e-11e8-90fe-c3b0711102bf.png)
![image](https://user-images.githubusercontent.com/20206262/41367920-074cf180-6f5e-11e8-8b04-e418d1a3fa33.png)
![image](https://user-images.githubusercontent.com/20206262/41367926-0a98a8f2-6f5e-11e8-92b2-39046edcfad6.png)

[2018-06-13 21:49] mhutti1 commented on #745
Can we try black in day mode? Also what would position it as such

bookmark < home > contents?

[2018-06-13 22:30] abdulwd commented on #745
@mhutti1 We generally do have a home button at the center. I don't think people generally use bookmarks at the center, IMO we should keep home in the center. So which of the 4 pictures we should implement and in which modes(night/day)?
![image](https://user-images.githubusercontent.com/20206262/41381892-4b9cd412-6f87-11e8-9155-774bc28c3762.png)

[2018-06-14 15:35] mhutti1 commented on #745
@abdulwd I am confused I didn't suggest moving bookmarks to the center? I suggested moving it to the far left.

[2018-06-14 15:37] abdulwd commented on #745
@mhutti1 Sorry for misinterpreting it. So the ordering will be:
bookmark | back arrow | forward arrow | home | toc
Any change in color scheme?

[2018-06-14 21:35] abdulwd commented on #500
Selecting **Get content** from the options menu will show this screen. This screen shows the different categories from which the user can download the books. The user can also select the languages in which he/she want to download the books using the language icon in the toolbar. Selecting an item from this list will show all the books from the category.
![image](https://user-images.githubuserconte

[2018-06-14 22:41] mhutti1 commented on #762
I thought I fixed this in #738

[2018-06-15 21:32] mhutti1 commented on #745
See the pr

[2018-06-17 18:45] abdulwd opened #764 "Create language selection screen"
Presently, a dialog box is shown which shows the list of languages but the dialog box is considerably small to show the long list of languages and it also makes searching for a language difficult so I have made a complete screen which makes the selection of languages for articles fast and easier. The list also shows the number of books in the particular language.

The cross icon will be replaced b

[2018-06-17 23:01] mhutti1 commented on #762
@kelson42 Just tried on Galaxy Tab 6.0.1 on bitbar and can't produce with latest nightly.

[2018-06-17 23:16] mhutti1 commented on #760
Seems to be related to https://github.com/kiwix/kiwix-android/pull/594/files

[2018-06-18 00:04] mhutti1 opened #765 "Convert search activity to use URLs not titles"
## Code Improvement

Convert the search activity to use URLs rather than titles to reference articles internally and in the saved recent search database.

[2018-06-18 00:05] mhutti1 commented on #760
Root cause is #765 but I am  going to implement a quick fix here.

[2018-06-19 16:49] abdulwd commented on #421
Closed via #754

[2018-06-19 16:49] #421 closed

[2018-06-19 18:50] siddharth2010 opened #766 "Add UI tests for the Splash Activity and the Intro Screens"
Add UI tests for the intro screens created in #754

[2018-06-20 06:14] Popolechien commented on #760
Ok FWIW it doesn't work with Chinese characters either.

[2018-06-20 06:33] kelson42 commented on #760
@mhutti1 I do not think you have do to so because (1) This was working fine, we have a regression here (2) kiwix-serve works that way too, and it works fine

[2018-06-20 19:19] #757 closed

[2018-06-20 19:56] mhutti1 commented on #760
@kelson42 Ok I have come up with a fix that should work but we should implement #765 for 3.0

[2018-06-20 20:14] #760 closed

[2018-06-20 21:37] mhutti1 opened #770 "Add open in file explorer"
## Feature Request

Allow users a way to open the parent folder of a ZIM file.

[2018-06-21 04:14] kelson42 commented on #760
@mhutti1 thx, yes we should use urls instead of titles

[2018-06-21 15:11] siddharth2010 opened #771 "Add UI tests for the Bottom bar"
Add UI tests for the Bottom toolbar created under #763

[2018-06-22 10:29] mhutti1 commented on #703
@kelson42 This is not a regression and while I agree there are a host of issues with downloading I don't think 2.4 is the time to address them. It would take me a very long time to track down each specific edge case. Would probably be better to rewrite the back end entirely.

[2018-06-22 10:48] mhutti1 commented on #695
This is a bit hard for me to test. My emulator is playing up for large ZIM files and my phone doesn't have enough space. @kelson42 Have you seen this on any smaller ZIMs?

[2018-06-22 20:12] abdulwd opened #773 "Create an activity to show history"
Selecting History from the options menu on the home screen will show this activity. Here the user can see the history of pages he/she has visited and can search his/her history of pages visited using the search icon. Upon long pressing any item a contextual menu will be shown to delete the items from history.
![image](https://user-images.githubusercontent.com/20206262/41797147-8d8fb47e-7686-11e8-9

[2018-06-22 20:14] abdulwd commented on #773
@mhutti1 Any suggestions?

[2018-06-22 23:44] abdulwd commented on #764
@mhutti1 Which color of the toolbar looks good in day mode? The same toolbar color will be implemented in all activities so we should choose wisely. IMO we should not go with white because then we have to change the tint of all the drawables programmatically every time when switching from day mode to night mode, resulting in more code.
In night mode the toolbar will remain black.

I have also made

[2018-06-23 12:54] kelson42 commented on #695
@mhutti1

The problem appears only with ZIM files over 4GB. All the other one should simply work like today.

Kiwix Android should know if it really need to split a ZIM file in 4GB chunks or not. This can be done simply by trying to create a dummy file of more than 4GB and then remove it.

Than we have two cases:
* If it works, no need to split the ZIM files and then no problem
* otherwise, you wi

[2018-06-23 12:58] kelson42 commented on #703
@mhutti1 OK. The libkiwix should handle the download in the near future (before end 2018). I descopte the ticket of the milestone.

[2018-06-23 14:17] mhutti1 commented on #773
I think some good additions might be a toggle to toggle global or currently open ZIM history.

[2018-06-23 14:19] mhutti1 commented on #764
I don't think this is a major issue as it can be changed with one line in the future. Do whichever you feel is best.

[2018-06-24 17:19] mhutti1 commented on #344
@kelson42 I can't reproduce on my own device is it still not working?

[2018-06-24 18:00] abdulwd commented on #744
Closed via #761

[2018-06-24 18:00] #744 closed

[2018-06-24 18:01] abdulwd commented on #743
Closed via #761

[2018-06-24 18:01] #743 closed

[2018-06-25 17:16] mhutti1 commented on #695
@kelson42 Do we not already use legacy mode? Can you give an example of an article that you can't search by title by?

[2018-06-25 17:41] mhutti1 commented on #611
Redundant by #745

[2018-06-25 17:41] #611 closed

[2018-06-25 17:43] mhutti1 commented on #631
Redundant by #774

[2018-06-25 17:43] #631 closed

[2018-06-25 17:44] mhutti1 commented on #610
Fixed by the new bookmark bar.

[2018-06-25 17:44] #610 closed

[2018-06-25 17:45] mhutti1 commented on #634
Redundant by new language activity.

[2018-06-25 17:45] #634 closed

[2018-06-25 18:01] abdulwd commented on #383
@mhutti1 This is made redundant by the new language activity in #774.

[2018-06-25 18:01] #383 closed

[2018-06-25 19:16] #747 closed

[2018-06-25 19:42] abdulwd commented on #745
Closed via #763

[2018-06-25 19:42] #745 closed

[2018-06-26 05:20] kelson42 commented on #695
@mhutti1 legacy mode works fine if not xapian index in the ZIM file. Here we (1) have a xapian ft index (2) but its splitted/corrupted. In that case it fails to give any suggestion.

[2018-06-26 15:22] mhutti1 commented on #695
Do you have an example of a ZIM file with this issue?

[2018-06-26 18:28] kelson42 commented on #695
https://download.kiwix.org/zim/wikipedia/wikipedia_fr_all_nopic_2018-03.zim will probably have the problem...

[2018-06-26 23:01] abdulwd opened #776 "Revamp BookmarksActivity"
The BookmarksActivity should be revamped to look similar to #773. I will reuse as much code as possible.
@mhutti1 Any suggestions?
![image](https://user-images.githubusercontent.com/20206262/41943865-de35cb0e-79c2-11e8-95ac-ff1e4eb3228e.png)

[2018-06-27 17:03] mhutti1 opened #778 "Books added multiple times"
## Bug Report

### Are you ready to report?
   - Your issue may already be reported! Please search on the [issue track](../) before creating one.
   - Ensure you have tested with the last (dev) version of the software.  (If not, and if possible, run your test again with the most recent version available.)

### Environment
  * version of the software you use : 3.0
  * device / operating system : 8.

[2018-06-27 21:19] mhutti1 commented on #695
@kelson42 It doesn't I can search on it.

[2018-06-27 21:20] mhutti1 commented on #776
Same as history an option for local and non local bookmarks.

[2018-06-28 19:03] mhutti1 commented on #778
Might be fixed by #663

[2018-06-28 19:10] mhutti1 commented on #165
Resolved by #763

[2018-06-28 19:10] #165 closed

[2018-06-28 20:30] mhutti1 commented on #155
Resolved by the bottom bar.

[2018-06-28 20:30] #155 closed

[2018-06-28 20:35] mhutti1 commented on #495
Resolved with the new bottom bar.

[2018-06-28 20:35] #495 closed

[2018-06-28 20:58] mhutti1 opened #779 "Add ability to share ZIM files from within the app"
## Feature Request

#### Feature Description

Long clicking a downloaded file should give the option to either delete or share via a top menu as happens in bookmarks.

![screenshot_20180628-225705_kiwix](https://user-images.githubusercontent.com/2286937/42060313-52fd2b38-7b1e-11e8-867a-16c47b67159d.jpg)

[2018-06-28 21:03] mhutti1 commented on #779
Also see #770

[2018-06-28 21:06] mhutti1 commented on #765
This will require a database migration.

[2018-06-28 21:09] mhutti1 commented on #731
It might be possible to implement this without that fix with a small workaround.

[2018-06-29 04:17] metal450 commented on #729
Do we have any idea when this might make it onto the app store? Looks like it hasn't been updated on there in over 16 months (Feb 27, 2017).

[2018-06-29 08:46] mhutti1 commented on #756
This will crash anyone who partially downloaded a ZIM file using 2.2 larger than 2GB

[2018-06-29 09:46] #628 closed

[2018-06-29 14:42] renggli commented on #770
Turns out this is tricky to implement, as there is no standard way of opening a directory on Android. It can be made to work on certain devices, or if certain third-party apps are installed, but I see no generic way.

This is a similar bug of another android open-source project that describes the wider context of the problem: https://github.com/syncthing/syncthing-android/issues/838

[2018-06-30 02:05] abdulwd commented on #778
@mhutti1 I think we should get rid of **ZimFileSelectFragment** as it is just duplicating the new home screen. The only additional functionality which is provided by the **ZimFileSelectFragment** is the delete feature which can easily be integrated into the new home screen.

**ZimFileSelectFragment** also creates the object of **FileSearch**. So, there will be two searches going on unnecessarily w

[2018-06-30 06:47] siddharth2010 opened #784 "UI Test Language Activity"
Add UI Tests for the Language Activity created under #774

[2018-06-30 06:48] siddharth2010 opened #785 "UI Test History Activity"
Add UI Tests for the History Activity created under #777

[2018-06-30 06:51] siddharth2010 opened #786 "UI Test Bookmarks Activity"
Add UI tests for the new revamped Bookmarks Activity (after #776)

Tests should be added to this file https://github.com/kiwix/kiwix-android/blob/master/app/src/androidTestKiwix/java/org/kiwix/kiwixmobile/tests/activities/BookmarksActivityTest.java

Use other tests such as https://github.com/kiwix/kiwix-android/blob/master/app/src/androidTestKiwix/java/org/kiwix/kiwixmobile/intro/IntroActivityTest

[2018-06-30 20:40] mhutti1 commented on #776
We store the zim name and id in the bookmark table. Isn't that what you
need?

On Sat, 30 Jun 2018, 21:24 Abdul Wadood, <notifications@github.com> wrote:

[2018-06-30 20:45] mhutti1 commented on #778
This might be what we do in the long term but it is not the solution for
now. It is not difficult to avoid duplicates. At all times an insertion
should check if the zim id is already present (we should likely lock the
list to avoid concurrency issues)

On Sat, 30 Jun 2018, 03:05 Abdul Wadood, <notifications@github.com> wrote:

[2018-06-30 20:50] abdulwd commented on #776
@mhutti1 To open a new zim file we need the file path. You should have a look at **onItemClick** method in **HistoryActivity** in #777 that is how I am opening the file if it is not currently open. I don't know how to get the file path from Zim id or name. :/
[code]

[2018-07-01 13:54] mhutti1 commented on #776
That information should be in the library database table. We prepopulate the list of local ZIM's with it.

[2018-07-01 13:55] mhutti1 commented on #770
Oh well, we can keep this open incase a solution is added in the future.

[2018-07-01 18:42] mhutti1 commented on #756
Fixed by https://github.com/kiwix/kiwix-lib/commit/ea8cd9f1a9836fc0b425c0dcbbd729edc9d967fb

[2018-07-01 18:42] #756 closed

[2018-07-01 20:10] #654 closed

[2018-07-01 23:17] abdulwd commented on #766
Closed via #772.

[2018-07-01 23:17] #766 closed

[2018-07-01 23:19] abdulwd commented on #764
Closed via #774.

[2018-07-01 23:19] #764 closed

[2018-07-02 02:44] abdulwd commented on #85
@ISNIT0 @kelson42 @EladKeyshawn If anything has to be done further in this issue, please reopen it. :)
Closed via #754.

[2018-07-02 02:44] #85 closed

[2018-07-02 03:49] abdulwd commented on #149
@julianharty @mhutti1 I'm not sure but I think we can get rid of Guava. I have found only one use of Guava in **LibraryAdapter** using only one class of the library and that is **com.google.common.collect.ImmutableList**.

So, I replaced the **ImmutableList.copyOf** method with **Collections.unmodifiableList** and replaced **ImmutableList** with **List** and removed Guava from the dependencies. As

[2018-07-02 22:16] mhutti1 commented on #149
Is Collections.... available on older Android versions?

[2018-07-02 22:31] abdulwd commented on #149
@mhutti1 Yes.

[2018-07-02 23:01] mhutti1 commented on #149
Are you sure https://developer.android.com/reference/java/util/Collections#unmodifiableList(java.util.List%3C?%20extends%20T%3E) ?

[2018-07-03 01:08] abdulwd commented on #149
@mhutti1 I see that the link says **added in API level 24** but I ran this on an emulator with API 16 and I was able to see the list of books. Ideally, the app should have crashed if the method was not found. [Collections.unmodifiableList](https://docs.oracle.com/javase/7/docs/api/java/util/Collections.html#unmodifiableList(java.util.List)) was present in Java 7.
May I make a PR to test this on ph

[2018-07-03 06:17] julianharty commented on #149
@abdulwd sounds good. We're currently using 4 devices on Testdroid, running a mix of Android 4.4, 6.0 and 7.0 which means we're testing on API level 20 and higher
https://en.wikipedia.org/wiki/Android_version_history
I should be able to add a device running Android 4.3 (API level 16), Testdroid seem to have several. Have you also tried creating and testing on an emulator image running 4.3?

[2018-07-03 06:41] julianharty commented on #149
I've added an Acer Iconia B1-A71 which seems to be running Android 4.3 (according to Bitbar's filters in Testdroid, they protect the settings app from being used directly). I'll run a set of tests on all 5 devices by restarting a build in Travis-CI to see if the current tests and code run cleanly on this device.

[2018-07-05 21:41] siddharth2010 opened #789 "Add UI Tests for Right Navigation Drawers"

[2018-07-06 19:50] abdulwd commented on #149
@mhutti1 It's a bug in the documentation for **Collections.unmodifiableList** and it has been reported [here](https://issuetracker.google.com/issues/37109296). IMO we should test the PR on API 14 and merge it if it passes all the tests.

[2018-07-06 21:45] kelson42 opened #792 "All white dialogs in night mode"
Kiwix 2.4 on Android 6.

Device selector dialog has both background and text color in white if "night mode" is activated.

They should have a grey background with black font like other dialogs (in night mode).

[2018-07-06 21:56] mhutti1 commented on #149
Ok, I am still very cautious about this.

[2018-07-08 06:39] uwemock opened #794 "German Wikipedia (using ZIM chunks) articles are not all rendered properly with 2.4"
I am running Kiwix 2.2 Build 53 from the Google Play Store.

I have a couple of ZIM files on my SD card, such as german Wikibookx, german Wikiquote, german and english Wikivoyage... They all work fine. However, I could not get the german Wikipedia up and running.

I tried to use the -nopic and the-novid files, but they just won't show up in the Kiwix content list.

I tried to split the -novid into

[2018-07-08 08:37] Martin5372 commented on #794
Hi,
I just have the same problem and found your entry :-)
I tried the following files:

MD5 hashes: created from my downloaded files:
f8af88cc286c0b4e8d311e5c89d9af5f *wikipedia_de_all_nopic_2018-05.zim
f7119ed39fcf12f34afa9968d4aa5fc4 *wikipedia_de_all_novid_2018-05.zim
a45623bd6993b3f7c374082e4c2b5408 *wikipedia_de_all_novid_2018-06.zim

The MD5 hash for wikipedia_de_all_novid_2018-06.zim.md5 is

[2018-07-08 18:35] siddharth2010 opened #796 "Create new issue template for "Testing" related issues"
**Is your feature request related to a problem? Please describe.**

 - The existing issue templates only cater to adding new features and reporting bugs. These however don't suffice when you have to create an issue regarding adding new tests

**Describe the solution you'd like**
 - I think we should add a new template for adding issues related to "Testing"

[2018-07-08 18:54] siddharth2010 opened #797 "UI issue in initial landing screen"
**Describe the bug**
- Opening the help activity and pressing back from the initial landing screen leads to the kiwix image (with the download books button) of the initial landing screen floating on top of the help activity.

**Expected behavior**

- Only the initial landing screen should appear

**Steps to reproduce the behavior:**
1. open the app (for the first time after installing the apk, so

[2018-07-08 19:08] siddharth2010 opened #798 "Scrolling Issue in the initial landing screen"
**Describe the bug**

- on scrolling down on the kiwix image on the initial landing screen, the image moves up

**Expected behavior**

- The image should remain stationary.

**Steps to reproduce the behavior:**
1. open the app (for the first time after installing the apk, so that it opens the intial landing screen)
2. try to scroll down by swiping up on the kiwix image

**Screenshots**

<img width

[2018-07-08 19:08] siddharth2010 opened #799 "Animations on the initial landing screen"
**Describe the bug**

- On scrolling down on the initial landing screen, the scroll down animation occurs below the kiwix dialog box.

**Expected behavior**

- The scrolling animation should occur on top of the screen below the action bar

**Steps to reproduce the behavior:**
1. open the app (for the first time after installing the apk, so that it opens the intial landing screen)
2. try to scroll

[2018-07-08 19:18] julianharty opened #800 "A possible restriction on 4.4 devices? io.reactivex.exceptions.OnErrorNotImplementedException: database is locked (code 5)"
Note this happened during one of the test runs, shortly after I'd removed the older Android 4.1 device to leave the remaining 4. At the moment I'm recording it so we have a record of the issue. I noticed many more of our tests failed on the older Android version (4.1) I'd like us to be able to test comprehensively and reliably on any/all the Android versions we want to support.

**Describe the bug

[2018-07-08 22:57] mhutti1 opened #801 "Fix ZIM file part code"
**Describe the bug**
There are a few issues with how we use .part and .part.part that can result in partially downloaded files not working correctly. These need to be fixed. One specific issue is the conflict between the current .part.part and .part and the original .part. I think we should use .part-part or similar to know which version is being used.

[2018-07-09 04:39] kelson42 commented on #801
@mhutti1 "part" files are temporary during the download I thinks? To me it is not a priority to provide people a Kiwix upgrade path which works smoothly during a download. The download problems I experience are not related to this and seems to me worse in a sense that they impact downloads started with 2.4.

[2018-07-09 06:41] FTno commented on #794
Had the same problem with the english Wikipedia file 'wikipedia_en_all_novid_2018-05.zim'. Other zim files like Wikivoyage, Wikiquote and some more worked fine.

Then I updated to v2.3 (kiwix-2.3_arm64-v8a.apk - https://sourceforge.net/projects/kiwix/files/android/2.3/) and the Wikipedia file worked.

But the search feature does not work for the Wikipedia file, just a blank page whatever I search

[2018-07-09 09:39] abdulwd commented on #800
@julianharty Does this bug exist in branch 3.0?

[2018-07-09 11:23] Martin5372 commented on #794
I just switched from Kiwix 2.2 (latest version in the Play Store) to 2.3 from
https://sourceforge.net/projects/kiwix/files/android/2.3
thanks to FTno :+1:

With this new Kiwix version for Android the described access problem for my ZIM file
a45623bd6993b3f7c374082e4c2b5408 *wikipedia_de_all_novid_2018-06.zim
was fixed.

But I have the same problem like FTno:
The search function is working, but for

[2018-07-09 20:02] mhutti1 commented on #801
They are related to this though. When the service restarts it currently looks for a .part. It should look for either .part or .part.part (should be renamed)

[2018-07-09 20:04] mhutti1 commented on #794
Could you try the nighties here: http://download.kiwix.org/nightly/2018-06-08/ and see if this fixes it?

[2018-07-09 22:12] GeVic commented on #630
@siddharth2010 Please close the issue as it's was resolved long back.

[2018-07-09 23:29] mhutti1 commented on #794
How about https://drive.google.com/open?id=1nI8vzMB-cXyrDLL9iPWXa7RCXekciCgo  ?

[2018-07-10 00:09] abdulwd commented on #630
@mhutti1 I'm reopening this as it still exists in 3.0.

[2018-07-10 00:13] abdulwd commented on #773
Closed via #777.

[2018-07-10 00:13] #773 closed

[2018-07-10 00:50] abdulwd opened #802 "Create HelpActivity"
**Is your feature request related to a problem? Please describe.**
The current home screen is also used as the help screen.
**Describe the solution you'd like**
There should be a separate help activity.

[2018-07-10 10:09] GeVic commented on #630
@abdulwd Can't the same pull request be used?

[2018-07-10 15:59] abdulwd commented on #799
@siddharth2010 I don't think it's an issue, the banner remains stationary and there's a recycler view below it. So the animation will always be below the banner. Also, most of the time there will be ZIM files present below the banner.
@mhutti1 I would like to have your opinions on this.

[2018-07-10 16:00] abdulwd commented on #797
@siddharth2010 Can you check #803 and see if it exists?

[2018-07-10 16:16] abdulwd commented on #798
@siddharth2010 You can go to settings and enable **Keep Toolbar Visible** that will make the banner stationary. I think I have found an issue while trying to reproduce this one. When **Keep Toolbar Visible** is disabled, I'm not able to scroll to the last item of the recycler view unless I scroll the banner.
@mhutti1 Should we make the banner stationary for the home screen? i.e. the scrolling beha

[2018-07-10 16:59] Martin5372 commented on #794
Hello mhutti1,
here are the results for my smartphone with Android 7.1.2 (LineageOS 14.1-20180628):

- Kiwix 2.4 + wikipedia_de_all_novid_2018-06.zim (ZIM splitted in 4000 MB(!) pieces):
This combination did not work. Still the same problems:

Then I tried the following combination on my smartphone:
- Kiwix 2.4 + wikipedia_de_all_novid_2018-06.zim (ZIM splitted in 1500 MB(!) pieces):
Result: This

[2018-07-10 17:20] siddharth2010 commented on #797
@abdulwd sure, I will get right on it

[2018-07-10 17:30] siddharth2010 commented on #798
@abdulwd , I saw the **Keep Toolbar Visible** option in the settings, and its working fine, however, I think you are right, making the banner stationary for the home screen will probably be a good idea.

[2018-07-10 17:33] siddharth2010 commented on #799
oh yes, @abdulwd , It just slipped my mind. The recycler view is below the banner, which is stationary. So yes, its not an issue..

[2018-07-10 17:54] abdulwd commented on #799
So I'm closing this for now.

[2018-07-10 17:54] #799 closed

[2018-07-10 22:53] #792 closed

[2018-07-10 23:08] #801 closed

[2018-07-11 22:30] mhutti1 commented on #798
The banner should not be kept stationary imo it should scroll. If there are issues due to this they should be fixed.

[2018-07-11 22:31] mhutti1 commented on #799
Not important

[2018-07-12 14:39] abdulwd commented on #676
Closed via #774.

[2018-07-12 14:39] #676 closed

[2018-07-12 19:01] abdulwd commented on #641
This has been implemented in branch [3.0](https://github.com/kiwix/kiwix-android/tree/3.0) via #777.

[2018-07-12 19:01] #641 closed

[2018-07-13 11:50] uwemock commented on #794
While Kiwix 2.3 (from the above link) was able to read the german Wikipedia, the newer 2.4 that came through the Play Store can't read my files. It even refused to read files that were fine with 2.2. So I went back to 2.3.

Sorry, guys - this is a mess. Release versions should always be able to read the format of files that have been published to deliver the application workload.

[2018-07-13 22:51] mhutti1 commented on #794
@Martin5372 you should be able to go .zimaa -> .zimaz ->.zimba -> .zimbz -> .zimzz

[2018-07-13 22:52] mhutti1 commented on #794
Does this problem occur with 2000MB chucks (the size we use automatically for our downloads)?

[2018-07-14 08:16] uwemock commented on #794
I tried with Kochwiki which is only 60MB large. Kiwix 2.2 and 2.3 will read the file with no problems, Kiwix 2.4 just quits after a few seconds of white screen.

[2018-07-14 08:31] kelson42 commented on #794
@mhutti1 What would be the best approach you would recommend to @uwemock to share with us his Kiwix Android crash log?

[2018-07-14 09:50] abdulwd commented on #778
Closed via #805.

[2018-07-14 09:50] #778 closed

[2018-07-14 10:09] sparrow007 commented on #779
can i work on this issue ??

[2018-07-14 10:13] sparrow007 commented on #727
can i work on this ??

[2018-07-14 10:37] abdulwd commented on #727
@sparrow007 Sorry but this will not be applicable after #803 is merged.
You can take other issues from the issue tracker we have plenty of them. Maybe you can try #451 to get a quick start, but remember to pull the code from branch [3.0](https://github.com/kiwix/kiwix-android/tree/3.0). Also choose base branch as 3.0 while making the PR. :)

[2018-07-14 10:37] #727 closed

[2018-07-14 12:07] Martin5372 commented on #794
@mhutti1

for wikipedia_en_all_novid_2018-05.zim I tried it with 1500 MB chunks with Kiwix 2.3 on my old tablet.
It's working :-)

for wikipedia_en_all_novid_2018-05.zim I tested afterwards 2000 MB chunks with Kiwix 2.3 on my old tablet.
It's working :-)

thank you very much!

[2018-07-14 12:14] siddharth2010 opened #806 "Add Idling Resources for Testing purposes"
Currently the **LanguageActivityTest** is is using the **BaristaSleepInteractions.sleep** method to wait for the network call to finish. This is not recommended as adding artificial delays to the tests makes it longer for the test suite to finish and the test can fail in conditions of low internet connectivity.

So we need to add the CountingIdlingResource to the LanguageActivity so that instead o

[2018-07-14 12:39] abdulwd commented on #784
Closed via #793

[2018-07-14 12:39] #784 closed

[2018-07-14 15:23] kelson42 commented on #794
@mhutti1 I can confirm that we have here something really buggy. Depending of the content and chunk size, Kiwix for Android seems not always able to deal properly with it. I have splitted `wikipedia_de_all_novid_2018-06` in 3500 MB chunks and then I can confirm that not all contents (images, pages) can be loaded properly... but if I try with kiwix-serve, with the same files, everything works fine.

[2018-07-15 12:29] GeVic commented on #665
I am closing this issue as it's currently active as #311 and #315.

[2018-07-15 12:29] #665 closed

[2018-07-16 01:18] abdulwd commented on #806
@siddharth2010 I have fixed this in #803.

[2018-07-16 08:33] siddharth2010 commented on #806
@abdulwd sure then. I will close the pr #807

[2018-07-16 23:03] mhutti1 commented on #794
@kelson42 hmm interesting. If standard sized chunks work then this isn't a major issue at the moment but we should certainly look into the root cause behind instability with larger chunk sizes. Possibly the use of Java int's overflowing somewhere I am not sure.

[2018-07-17 08:00] abdulwd commented on #806
Closed via #803.

[2018-07-17 08:00] #806 closed

[2018-07-17 08:01] abdulwd commented on #802
Closed via #803.

[2018-07-17 08:01] #802 closed

[2018-07-17 08:02] abdulwd commented on #797
Closed via #803.

[2018-07-17 08:02] #797 closed

[2018-07-17 08:06] abdulwd commented on #704
Closed via #803.

[2018-07-17 08:06] #704 closed

[2018-07-17 08:10] abdulwd commented on #693
Help page has been moved to a separate activity. See #803.

[2018-07-17 08:10] #693 closed

[2018-07-17 19:08] siddharth2010 opened #809 "Add a "selected languages" list in the Language Activity in 3.0"
**Is your feature request related to a problem? Please describe.**

It was a problem to scroll through the whole list of languages to find out the ones you have selected, and to unselect them.

**Describe the solution you'd like**

Display the list of selected languages in the beginning. It would give the user a birds eye view of the selected languages

**Additional context**
Heres the current scr

[2018-07-17 21:01] siddharth2010 opened #810 "Fix Intent in "Send Feedback""
**Describe the bug**

So Clicking on the send feedback option on the help screen, opens up the share via options menu. However, the Manu contains options like "Save to drive",  and "Add to onedrive", in addition to the Email option. The options instead of Email, actually fail to complete when clicked and show errors

**Expected behavior**

Only the email options should be shown in the share with m

[2018-07-17 21:13] siddharth2010 commented on #810
Also, The title on the share with menu is missing

[2018-07-17 22:37] siddharth2010 commented on #810
Fixed by #811

[2018-07-17 22:37] #810 closed

[2018-07-18 17:36] kelson42 commented on #347
We should try again with recently release version 2.4.

[2018-07-19 19:17] Wikinaut commented on #794
I run wikipedia_de_all_novid_2018-06 but a search for "PDP" does not give any result (but pages like "PDP-11" are present, when I follow a link on the page "VAX" to it.

@kelson42 : pls. can you confirm, that this not-fully working search or index again breaks the Kiwix functionality (it's a show-stopper again, in my view).

[2018-07-19 19:21] Wikinaut commented on #794
@Martin5372 can you help me, again, I found Kiwix not fully working. I downloaded and split wikipedia_de_novid_2018-06 to 2000MB chunks, like in the tutorial, but there are no results for a search for "PDP". Can you confirm that a split into smaller chunks really helps?

[2018-07-19 21:44] mhutti1 commented on #794
Hi @Wikinaut this is a known bug with our C++ backend. In larger files with a full text index the index must fit in a chunk for it to work unfortunately. We should be falling back to title search in this case, thanks for providing a specific reproduction case. I will look into this and see what is happening.

[2018-07-20 05:12] Wikinaut commented on #794
@mhutti1 and @kelson42 Yesterday, I made a larger check, here are my findings, and I willing to help and to fix this issue very soon - I want to have the Kiwix running since years, but not a single German (or other version) worked for me in the last three years. This leaves me quite puzzled, because you are promoting Kiwix so much and loud, but as it never works here, I really doubt what is going

[2018-07-20 16:08] asereze commented on #109
Hello,
I asked to gsantner, a developer that worked for a lot of open source projects for Android, what was his solution for having a working language selection menu, and he told me to check out the code that he wrote here:

https://github.com/gsantner/opoc/blob/12445a8996f142be483b1b05f077e8b73ce553e7/android/java/net/gsantner/opoc/preference/LanguagePreferenceCompat.java

https://github.com/gsan

[2018-07-20 16:45] mhutti1 commented on #109
Hi @asereze I think its possible we have fixed this in version 2.4 which we are rolling out now. If not then I will have a look again. Thanks for the links 👍

[2018-07-21 18:18] IrgendwerA8 commented on #794
I think this is a very serious issue too. On my Android 4.1.2 device, I'm not able to open a more current version of the German Wikipedia, even when spitted to the standard 2000MB chunk size:

Official 2.2: Fehler: Die ausgewählte Datei ist keine gültige ZIM-Datei.
2.3 from above: Crashes during start-up
2.4 from above: Starts and "seems" to open the ZIM after selecting, but after a second or so s

[2018-07-21 20:32] kelson42 commented on #794
@IrgendwerA8 What happens if you do not split it?

[2018-07-21 20:41] IrgendwerA8 commented on #794
I cannot put it on my FAT32 formatted SD-Card? ;)

[2018-07-22 06:20] kelson42 commented on #794
@IrgendwerA8 No way to get a card using exFAT? What you describe is a bug, but - up to now - to get full featured new ZIM, users will have to keep them in one (so, stop to split them)... so stop use FAT32 as a filesystem.

[2018-07-22 06:35] uwemock commented on #794
Things are getting weird...
While Kiwix 2.3 is fully functional on my phone, the same version behaves differently on my tablet. I can see the start page of each ZIM, and I can also follow links to single articles. But I cannot use the search function. The results list remains empty.
This occurs on the -nopic Wikipedia split into 2000M chunks as well as on the 60MB Kochwiki.

[2018-07-22 09:36] amire80 opened #816 "Searching in Malayalam on Android doesn't work"
Install Kiwix, version 2.2. Install the Malayalam Wikipedia.

Type "ഇന്ദിരാ" in the search box. This is the name "Indira", as in [Indira Gandhi](https://ml.wikipedia.org/wiki/%E0%B4%87%E0%B4%A8%E0%B5%8D%E0%B4%A6%E0%B4%BF%E0%B4%B0%E0%B4%BE_%E0%B4%97%E0%B4%BE%E0%B4%A8%E0%B5%8D%E0%B4%A7%E0%B4%BF). The correct word is seen in the search box, but what actually comes up at the top of search results is n

[2018-07-22 10:47] IrgendwerA8 commented on #794
@kelson42 Just found my assumption confirmed by testing it: My device doesn't support exFAT and the microSD isn't recognized then. So splitting the data seems to be the only solution. I wonder what happened to the zim files that older ones work flawlessly and newer ones aren't valid anymore?

[2018-07-22 11:40] mbe57 opened #817 "Android: make Kiwix react to Wikipedia links in other apps"
Other than Aard2, opening a Wikipedia link in another app, Kiwix is not offered as serving App.
I.e. in Android you can have a link that "points" to a Wikipedia entry. Android has a number of Apps registered that serve such links. Web browser (Chrome e.g.), or Aard2, are both offered. The Kiwix App is not offered, although it can handle Wikis and Wikipedia.
Just "tell" Android that Kiwix is "inter

[2018-07-22 17:03] #796 closed

[2018-07-22 17:16] mhutti1 opened #818 "Test Language Activity Fails"
**Describe the bug**
testLanguageActivity

**Expected behavior**
Test fails on Galaxy S8

**Environment**
- Version of Kiwix Android : 3.0
- Device : Samsung Galaxy S8
- OS version : 8.0

[code]

[2018-07-23 09:00] julianharty commented on #818
@mhutti1 just checking - do you actually expect the test to fail?

What is a pass intended to indicate? ie if the test passes what have we learned about the behaviour of the app?

[2018-07-23 13:16] siddharth2010 commented on #818
@julianharty this is a UI test that tests all of the UI interactions that the user can perform in the language activity and verifies that that the app behaviour is as expected.
this includes tests like 'searching for a language, selecting it, and then clicking cross, and verifying that the language is not selected'
And no. the tests is expected to pass. However it is failing.

[2018-07-23 16:31] uwemock commented on #794
Actually, the title holds for my original problem: The german Wikipedia did not work in Kiwix 2.2. This problem has been resolved by Kiwix 2.3.

Unfortunately, two things happened:
1) Kiwix 2.4 messed it all up again.
2) People having problems with splitting ZIM files up took over my thread.

I should, again, note that my problems with search not working in Kiwix 2.3 on my tablet apply to the Koch

[2018-07-23 21:07] mhutti1 commented on #817
Thanks for reporting. Duplicate of #731

[2018-07-23 21:07] #817 closed

[2018-07-23 21:10] mhutti1 commented on #729
We are rolling out to 25% of users at the moment. Still resolving a few final issues before increasing that size.

[2018-07-23 21:44] mhutti1 commented on #794
I have done some testing. My results are:

Full 30GB German file -> Searching "PDP" works (is a bit slow, be sure you don't mistake this for no results)
Split into ~2000MB chunks -> searching pd searches using the fallback searchsuggestions method. Searching pdp tries to do this but finds nothing. Searching pdp-11 gives nothing as well. If we however use developer tools to search PDP-11 and don't

[2018-07-23 21:49] mhutti1 commented on #794
Some more details. It isn't the length of a string that causes this issue. "hello" works fine. It might be the "-" or possibly the capitalisation.

[2018-07-23 21:51] Wikinaut commented on #794
@mhutti1 V i e l e n   D a n k

[2018-07-24 11:39] viswam commented on #816
Observations:
1. Apparently, the search autosuggest list shows up filtering out all vowels and displaying only the consonant characters within the originally input search word.
2. Regardless of the autosuggestions, the actual search results seems to process the search word properly and the output is as desired normally.

[2018-07-24 13:05] asereze commented on #109
@mhutti1 Ok, I will wait for the new version, then! You are welcome, thank you for your work!

[2018-07-24 16:21] Stevko-sk opened #820 "wikipedia_en_all_novid_2018-06.zim causes crash when scaning SD card for zim files"
When I open _Get content_ menu item kiwix starts scanning for zim files. It shows some of them and then I get Android message Kiwix has stopped. The next one it would show would be wikipedia – when I remove wikipedia zim file, other files show up and work as expected.

**Expected behavior**
I expect all zim files to show in the menu and then open when clicked

**Steps to reproduce the behavior:**

[2018-07-25 20:05] mhutti1 commented on #794
@uwemock Could you try wiping the app data (not deleting the ZIM files) from settings.

[2018-07-25 20:06] mhutti1 commented on #816
Its possible this could be a display issue fixed in 2.4

[2018-07-25 22:58] mhutti1 commented on #820
Hi @Stevko-sk this could possibly be the key to solving a large amount of crashes. Many thanks for the log, specifically this section 👍

[code]

[2018-07-27 07:00] Popolechien opened #821 "Missing zim files in remote library"
When looking for content on Android I can only see the full (4.8Gb) Wikimed file: the nopic, novid and nodet versions are not to be seen.

PhET is also absent, and so are each and every StackExchange zim files.

[2018-07-27 07:26] Popolechien opened #822 "Export bookmarks feature"
A gentleman from Australia wrote to say that upon reinstall he'd lost all of his bookmarks. Maybe find a way to export it?

[2018-07-27 10:15] Popolechien commented on #821
German Wikipedia is also missing.

[2018-07-27 13:39] Popolechien opened #823 "2.4 can not find existing zim files and crashes upon opening of library"
Report from user
KIWIX. 2.4.BUILD 181980
SONY XPERIA 2
build Sony 23.5.A.1.291

[2018-07-27 13:43] Popolechien commented on #823
Could it be related to #820? The user was francophone though.

[2018-07-27 15:45] #823 closed

[2018-07-27 15:49] kelson42 commented on #821
Phets are in the library_zim.xml https://ftp.nluug.nl/pub/kiwix/library/library_zim.xml. Same for the 3 wikipedia_en_medicine versions

[2018-07-28 21:45] mhutti1 commented on #820
@Stevko-sk Can you confirm this is fixed in the latest rollout release with https://github.com/kiwix/kiwix-lib/pull/159 in it?

[2018-07-28 21:45] mhutti1 commented on #821
@kelson42 could this be an issue with the old library list?

[2018-07-28 22:34] Stevko-sk opened #824 "wikipedia_en_all_novid_2018-06.zim cannot be opened"
When I try opening wikipedia_en_all_novid_2018-06.zim file, I get an error (toast) that it is not a valid ZIM file and after a while I (sometimes) get _Dumping memory, app will freeze. Brrr._

* Version of kiwix: https://download.kiwix.org/nightly/2018-07-28/kiwix-android_arm-debug.apk
* Device : Lenovo K33a42 (also known as Lenovo K6 Power)
* OS version : 7.0

[kiwix.log](https://github.com/kiwix

[2018-07-28 22:34] Stevko-sk commented on #820
Opened #824

[2018-07-29 05:37] kelson42 commented on #820
@Stevko-sk Thank you, I close this one then

[2018-07-29 05:37] #820 closed

[2018-07-29 05:56] kelson42 opened #825 "Not able to open any ZIM file with last nightly"
ZIM files are correctly listed in the library, but if I click on one of them, the app crash

**Environment**
- Version of Kiwix Android : 2.4
- Device : old Samsung Galaxy tab
- OS version : 4.2.2

[android.log](https://github.com/kiwix/kiwix-android/files/2238543/android.log)

[2018-07-29 05:57] kelson42 commented on #825
Maybe similar to #824?

[2018-07-29 09:30] kelson42 commented on #821
@mhutti1 yes, but Kiwix-Android 2.4 looks to https://download.kiwix.org/library/library_zim.xml !? I have checked on my device and I can see both last version of phets & Wikipedia in German! I can not confirm that bug.

[2018-07-29 10:02] kelson42 commented on #816
@viswam @amire80 Thank you for your bug report, I have tried wit last version (currently being staged rolling out) and it seems to work fine. See the screenshot. Please reopen the ticket if it still fails with 2.4.

![screenshot](https://user-images.githubusercontent.com/1029718/43365079-35b4224a-9327-11e8-82b2-32f43138fd88.png)

[2018-07-29 10:02] #816 closed

[2018-07-29 10:45] Popolechien commented on #821
I'm with 2.2 build 53. Uninstalled and reinstalled as trying to access library crashed the app. Confirm I still cannot see PhET. As a matter of fact, it now crashes rather systematically when I have files stored, and can't seem to find the content of the remote library (which I guess makes it a separate issue).

[2018-07-29 10:47] kelson42 commented on #821
@Popolechien Forget about 2.2, 2.4 is the last one.

[2018-07-29 11:34] mhutti1 commented on #825
[code]

[2018-07-29 11:37] mhutti1 commented on #824
[code]

Might be the issue.

@Stevko-sk I think I have also had this issue. If you restart the app and try again does it work?

[2018-07-29 11:46] viswam commented on #816
I see that my Kiwix version on the mobile is 2.2
When I search in Google's play Market store, my version seems to be the latest (in which, the problem persists).
How can I access ver 2.4?

[2018-07-29 11:47] kelson42 commented on #816
@viswam It will be updated on your device sometime soon, If you want to check now, you can download a nightly build https://download.kiwix.org/nightly/

[2018-07-29 11:51] viswam commented on #816
Thanks. @kelson42 ! :-)   I will look forward and report back. Great day ahead!

[2018-07-29 12:20] Stevko-sk commented on #824
I force closed kiwix and then did the following:
1. Run kiwix from the launcher
2. Go to menu→Get Content
3. Click on Wikipedia
    It „opened“: Title changed to Wikipedia, I did not get any visible error. The space with article was completely empty (white).
4. Search for an article (click on magnifiing glass, write `europe`). No results were shown.
5. Go back to empty article (clicking on back ar

[2018-07-29 13:48] mhutti1 commented on #824
@Stevko-sk Ok this is an error we are seeing in a few cases. Could I ask if your file is chunked and if so how big are the chunks?

[2018-07-30 06:31] Aditya-Sood commented on #779
@mhutti1 when you say share the ZIM file in-app, do you mean to do so over a Wi-Fi connection between the two devices? And/or share a link to download that particular ZIM file?

[2018-07-30 06:32] Aditya-Sood commented on #779
Sharing it over a WiFi connection would be a really useful feature for users in regions with poor internet connectivity. And also, users in those regions would probably be the ones that depend most on the app, of all the users.

[2018-07-30 13:24] mgautierfr opened #826 "Kiwix doesn't clean properly downloading zim and crash."
## Description

Using the last version of the multi-arch nightly  apk (http://download.kiwix.org/nightly/2018-07-29/kiwix-android-debug.apk), it seems that kiwix doesn't correctly clear a stopped download, keep display it and crash when user want to interact with it.

- No local zim.
- apk newly installed.
- press "getContent"
- press "ONLINE" tab
- select a zim to download
- kiwix move automatica

[2018-07-30 13:30] mgautierfr commented on #826
I have also information coming from "Application leak" notification.

"General" information :
[code]

I can also provide the head dump (hprof format, 46Mo)

[2018-07-30 13:59] mgautierfr opened #827 "TextToSpeech seems to leak memory."
## Description

"Leaks" complains about memory leak in kiwix with TextToSpeech.

I was "reading aloud" an article and change navigate from article to another
(Reading aloud keep reading the first article, bug ?).
After a moment, I've stop the textToSpeech.
Few seconds later, "leaks" application complains about memory leaks.

![leak_texttospeech](https://user-images.githubusercontent.com/86161/4340

[2018-07-30 14:06] mgautierfr opened #828 "[UI] Cancel button of "Delete this file? "dialog is broken."
The "Cancel" button is wrongly displayed.

- long press a zim
- "Delete this file?" dialog appears
- "Cancel" button is wrongly displayed.

![screen_cancel](https://user-images.githubusercontent.com/86161/43402210-833e585a-9412-11e8-8b45-3866b05a2c37.png)

[2018-07-30 14:08] mgautierfr commented on #828
My kiwix application language in english, so it is not the translation string that is wrong.
Setting kiwix application to french, the "Cancel" button is correctly displayed in french ("annuler")

[2018-07-30 19:46] mhutti1 commented on #779
For this specific issue I mean share via the standard android sharing interface.

[2018-07-30 19:47] mhutti1 commented on #826
The crash itself we can solve the issue with cleaning the notification is more tricky though as we are dead.

[2018-07-31 03:17] Aditya-Sood commented on #779
Could you clarify what you're referring to by that? I'm only aware of Android Beam for sharing files between devices

[2018-07-31 03:48] Aditya-Sood commented on #779
Using the Wi-Fi P2P API would be a better option though - It supports connectivity over a greater distance and a much higher file transfer rate (thanks to Wi-Fi Direct), than the NFC pairing + Bluetooth connection used by Android Beam

[2018-07-31 08:39] kelson42 commented on #826
I confirm the bug, the handling of the synchronisation between the downloading tab and the notification system is buggy.

[2018-07-31 18:33] mhutti1 commented on #779
![image](https://user-images.githubusercontent.com/2286937/43479563-98273296-94f8-11e8-9c87-33799683c5bf.png)

I mean share like this. If you want to share with wifi IMO the user can just install an app.

[2018-08-01 19:12] Stevko-sk commented on #824
http://download.kiwix.org/nightly/2018-08-01/ fixed this (as indicated in [kiwix-lib/issues/162](../../kiwix-lib/issues/162). I can open wikipedia zim (and switch between zim files), search for articles and display them.
I think this can be closed.

[2018-08-01 21:27] mhutti1 commented on #824
@Stevko-sk again I can't thank you enough for the help. :+1:

[2018-08-01 21:27] #824 closed

[2018-08-01 21:28] mhutti1 commented on #779
I think in general it would be sharing the file always.

[2018-08-02 06:27] Aditya-Sood commented on #779
Majority of the ZIM files available are too large to be uploaded over normal data connections to a social media site or as an attachment in an email - So in situations where Internet access (when available) is not restricted, it would be better to allow the user to share just the link to the ZIM file, instead of forcing them to wait and upload the entire file.

SMS, clipboard and notes won't suppo

[2018-08-02 13:42] abdulwd commented on #779
@Aditya-Sood We intend to share the file(s) between 2 devices without an internet connection. Apps like **ShareIt**, **Mi Drop**, etc can handle the transferring from one device to another. For this issue, we just need to add a share button which will open the bottom sheet as shown by @mhutti1 with **ShareIt/Mi Drop/or any other app for file transfer**. The user can then select the desired app for

[2018-08-02 15:50] kelson42 commented on #825
@mhutti1 Problem is still there with 1st August 2.4 Google Play release. New logcat
[logcat.txt](https://github.com/kiwix/kiwix-android/files/2254163/logcat.txt)

[2018-08-03 07:59] #825 closed

[2018-08-03 11:54] Aditya-Sood commented on #779
@abdulwd thanks but did you go through the whole thread?
My query essentially is:
- Should the app only share the actual ZIM file (and thus only apps which can do that should show up in the menu),
OR
- Should it also offer to share the link (for the apps which would be inefficient in/don't support sending the entire ZIM file, like Email, Social Media, Notes, etc)?

[2018-08-03 11:54] Aditya-Sood commented on #779
@mhutti1 could you clarify?

[2018-08-03 23:38] mhutti1 commented on #825
@kelson42 did this resolve it?

[2018-08-03 23:39] mhutti1 commented on #779
Sharing a link is not really possible as it is not part of the ZIM spec. I think only sharing the file would be fine.

[2018-08-04 04:12] Aditya-Sood commented on #779
Okay
I'll get started then

[2018-08-04 08:30] Popolechien opened #830 "Downloading window does not clean after completion of restarted download"
v2.4 release 1182130

Started downloading a file (Bollywood nopic), then closed phone (no shutdown), went back up: download had paused. Restarted download, which completed. The zim file, however, is now listed in both local library and "downloading" (where it is shown as completed, e.g. with download bar full).

[2018-08-04 10:05] kelson42 commented on #825
@mhutti1 Yes it did. Thank you.

[2018-08-04 10:07] kelson42 commented on #794
This bug (big files not open or all articles not rendered properly) has been fixed and is available in 2.4 (latest build) and in nightlies.

[2018-08-04 10:07] #794 closed

[2018-08-04 10:51] mhutti1 commented on #779
No but if it gets done by then we will add it.

[2018-08-04 10:51] mhutti1 commented on #825
Ok I will build a new version for release and bump up the percentage a bit.

[2018-08-04 13:39] IrgendwerA8 commented on #794
@kelson42 Sorry to say, but no, on my device the local selection of zim files is still empty...

[2018-08-04 14:01] kelson42 commented on #794
@IrgendwerA8 This ticket has gathered many kind of different use cases. We think to have fixed the most important one, if you have still a problem, please open a new ticket and share again/copy your details after a new test with 2.4.

[2018-08-04 15:13] kelson42 opened #831 "Empty storage device list"
Kiwix has a settings to choose where to save the content. I allows to choose in a list the storage devices. This list is empty for me.

My device as an SD card (available at /storage/9724-C9BE), so I should see two entries:
* Internal
* External
This was working fine with 2.2

**Steps to reproduce the behavior:**
1. Install Kiwix
2. Launch Kiwix
3. Go to the library and authorize the access to the

[2018-08-05 06:38] Wikinaut commented on #794
@kelson42 @mhutti1 I installed (beta tester) the

* Kiwix 2.4 Build 1182160 from Google Play Store and
* wikipedia_de_all_novid_2018-06 .zim with 2000 MB ( 1,95 GB) chunks

and I confirm that this **works** now.

[2018-08-05 06:40] Wikinaut commented on #794
@kelson42 Did I say "Thank you" ? Thank you!

[2018-08-05 07:08] uwemock commented on #794
I tried the current release from the Play Store (Kiwix 2.4 Build 1182160), and I deleted the app data after the upgrade.

It works on my Samsung S5 mini (Android 6).
It doesn't work on my Samsung Galaxy Tab A6, Android 5.

On the Galaxy Tab, I have the following issues:
* The UI is in English while the device is set to German.
* Article search works on smaller file, e.g. KochWiki, not on Wikipedia

[2018-08-05 07:11] kelson42 commented on #794
@uwemock Please open new tickets, one problem per ticket. "Work" or "Does not work" is not something a developer can start with. Please give a concrete example by confronting what you get with what you expect.

[2018-08-05 07:36] uwemock opened #833 "Article search does not work on Kiwix 2.4 Build 1182160, Android 5.1.1"
Device: Samsung Galaxy Tab A6, Android 5.1.1
Kiwix 2.4 Build 1182160
ZIM: wikipedia_de_all_nopic_2018-05 in 2 GB chunks

Steps to reproduce:
1. Open Kiwix
2. Tap overflow menu and select "Get Content"
3. Wait until file search is complete
4. Select "Wikipedia" from files list
5. Wait until Wikipedia start page appears
6. Tap looking glass icon in action bar
7. From the keyboard, tap "M"

Expected

[2018-08-05 07:38] Wikinaut commented on #794
@uwemock wrote

I confirm this issue (since the beginning of Kiwix).

[2018-08-05 07:39] uwemock opened #834 "Kiwix 2.4 Build 1182160 randomly changes UI language"
This bug cannot be reproduced reliably.

At some stage, Kiwix switches to english UI while my device is set to German.

Deleting the app data will make Kiwix switch back to the device language.

[2018-08-05 09:45] kelson42 commented on #730
2.4 is currently being rolled out on Google Play.

[2018-08-06 22:08] #762 closed

[2018-08-06 22:08] mhutti1 commented on #762
@kelson42 if you have this issue still reopen.

[2018-08-06 22:17] mhutti1 commented on #831
Can't reproduce on bitbar. @kelson42 can you add the path manually?

[2018-08-07 09:00] abdulwd commented on #483
Closed via #832.

[2018-08-07 09:00] #483 closed

[2018-08-07 09:03] abdulwd commented on #609
Fixed in #832.

[2018-08-07 09:03] #609 closed

[2018-08-07 09:08] abdulwd commented on #493
Fixed in #832.

[2018-08-07 09:08] #493 closed

[2018-08-07 09:14] abdulwd commented on #442
Redundant by #803.

[2018-08-07 09:14] #442 closed

[2018-08-07 09:16] abdulwd commented on #406
Redundant by #832.

[2018-08-07 09:16] #406 closed

[2018-08-07 09:17] abdulwd commented on #432
Redundant by #832.

[2018-08-07 09:17] #432 closed

[2018-08-07 14:23] Wikinaut opened #835 "Incognito mode / Clean usage traces"
In (inter alia) my pull request/s (in 2015) to the Wikipedia Android App https://phabricator.wikimedia.org/T116360 I proposed an "incognito mode" with the most important option to never store the browsing history. I never understood, why the Wikipedia Android App developers decided finally **not** to integrate my proposals.

I wish to propose this for KIWIX, too, and, if you agree, that this is us

[2018-08-07 16:52] Popolechien opened #836 "Measure code coverage"
As part of our deal with the Foundation we're supposed to increase code coverage but in order to do so we should have the means to do it.

We need A HTML based report:
* computed automatically, for example one time a night on mastet
* which include code coverage numbers gathered including unit testing, integration testing and UI testing
* A way to visualize module by module which part of the code

[2018-08-07 21:07] mhutti1 commented on #833
Download platform tools from https://developer.android.com/studio/releases/platform-tools

Connect phone to computer. Run command adb logcat
Copy result/pipe to file and post.

[2018-08-08 02:51] metal450 commented on #729
I just got the update offered to my device - yay! :) And although I was able to change the path...unfortunately, the app still keeps recreating the Kiwix folder in the root-level storage, filling it with a single logcat.txt.  Since the goal was of course to get rid of the clutter in the device's root-level storage, recreation of the Kiwix folder for this logcat file seems to be negating the benefi

[2018-08-08 06:03] kelson42 commented on #836
@julianharty Would you be interested to measure this within the automated tests?

[2018-08-08 21:33] mhutti1 opened #837 "Use custom selected location for all files"
**Is your feature request related to a problem? Please describe.**
See #729

**Describe the solution you'd like**
All android files we save should be saved to the selected location.

[2018-08-08 21:34] mhutti1 commented on #729
@metal450 I am sorry we didn't fully address this in the release of 2.4 I have created a separate issue and I hope we can get it included in the next release.

[2018-08-08 21:35] mhutti1 commented on #836
In the past we have looked into this a bit. We have a build variant with a coverage library I think for instrumentation tests and unit test coverage can be measured by Android Studio. I think we would need to flesh these out more to meet the requirements of this issue though.

[2018-08-08 21:40] metal450 commented on #729
Cool, thanks. I just really hope that one isn't another 17 months away! :/

[2018-08-08 21:53] mhutti1 commented on #729
Hopefully considerably sooner.

[2018-08-09 11:51] asereze opened #838 "Missing strings on translatewiki"
In the new 2.4 version there are a few strings in the settings menu that are not available for translation on translatewiki, and so I get them in English no matter what language I've been using:

"History"
"Extras"
"External" (in the "Memory" section)
"Enable bottom toolbar"
"Display a toolbar with quick actions at the bottom of the screen"
"Warn when entering external links"
"Display popup to war

[2018-08-09 21:48] mhutti1 commented on #838
@kelson42 are we still using a manual script for this?

[2018-08-10 17:42] andreapaolini opened #840 "Search is not working on the latest Kiwix for Android with the latest Italian Wikipedia or Wikipedia Medicine. Other Italian .zim files from the Repository work correctly"
**Describe the bug**

**Expected behavior**

**Steps to reproduce the behavior:**
1.

**Screenshots**

**Environment**
- Version of Kiwix Android :
- Device :
- OS version :

**Logs**

[2018-08-10 19:13] kelson42 commented on #840
@andreapaolini Hmmm... we need the details?

[2018-08-11 06:44] kelson42 commented on #840
No details

[2018-08-11 06:44] #840 closed

[2018-08-11 16:40] abdulwd commented on #809
Closed via #839.

[2018-08-11 16:40] #809 closed

[2018-08-12 17:01] mhutti1 commented on #833
I think the issue is:
[code]

That looks like a very strange URL to me. @kelson42 any ideas?

[2018-08-13 04:50] kelson42 commented on #833
@mhutti1 Yes, quite strange why the WE search a title for this image url. At this level the behaviour might be correct, the question is more how this string `m/fe14645d633efb57d07e760170c44f83a8769ee1.svg` cam here in first place.

[2018-08-15 12:13] Popolechien opened #841 ""Search in page" text does not disappear when people type their search in top bar"
A gentleman raised this point today : when he was looking for text in the page (clicking on the magnifying glass on top) the "find in page" text does not disappear (see image).
I would also add that if one use "find in page" in the options menu, then one has two little arrows only, which is a lot more convenient.
![2018813_93957241](https://user-images.githubusercontent.com/21675885/44147622-15022

[2018-08-16 06:54] Popolechien opened #842 "Search function not working on files with images"
This may or may not be related to #833 (or be a mwoffliner issue?), but basically a couple of users have reported that the search function does not work on zim files that include images (apparently the same search works on nopic versions).
Devices involved are Samsung A5 2017 Android 8 and Galaxy S3.

[2018-08-16 22:07] mhutti1 commented on #61
We have released version 2.4 (as 3.0 was taking longer than expected) so this version should be published.

[2018-08-17 09:53] jeyca opened #844 "Cannot add german wikipedia"
This might be similar to #821, I installed Kiwix 2.2 47 on android phone (LineageOS 14.1) but cannot add german wikipedia. First I tried to find it within the app, but in Get Content->Online there were just a few downloads at all. Could not find the german wikipedia. I then downloaded it via the wiki Torrent

https://wiki.kiwix.org/wiki/Content_in_all_languages
`wikipedia (Deutsch) | de | 11G | 20

[2018-08-17 17:41] kelson42 opened #845 "Kiwix-lib JNI for Android with openjdk 10+"
_From @kelson42 on August 12, 2018 18:4_

[code]

_Copied from original issue: kiwix/kiwix-build#239_

[2018-08-17 17:41] kelson42 commented on #845
_From @mhutti1 on August 12, 2018 18:11_

Issue is using openjdk-11 https://stackoverflow.com/questions/50352098/javah-missing-after-jdk-install

"The tool javah.exe was removed in Java 10. The reason is simple, it is obsolete. From JEP 313: Remove the Native-header Generation Tool (javah):"

I think the solution is to use the -h flag on javac

[2018-08-17 17:52] mhutti1 commented on #845
@kelson42 shouldn't this be in kiwix-lib?

[2018-08-17 18:00] kelson42 commented on #845
This issue was moved to kiwix/kiwix-lib#167

[2018-08-17 18:00] #845 closed

[2018-08-19 13:44] mhutti1 commented on #844
You should be able to open the ZIM file directly from most file browsers. One issue users face is that the SD card might be formatted to only allow 4GB files to be used. In terms of seeing files it might have been a language issue. You can select more languages in the top right or search for what exactly you want.

[2018-08-20 07:15] uwemock commented on #833
I expected things to work properly on my phone. I found yesterday that this is not the case.

I searched for "DFB-Pokal" in the german Wikipedia. When I enter the search expression, there are only 10 results for "DF" and no result for "DFB". In the online Wikipedia, there are more than 10 articles that contain "DFB" in their title.

[2018-08-20 14:20] siddharth2010 opened #846 "Fix Language Activity Test"
**Type of Test**

* [ ] Unit Test
* [x] UI Test

**Particular area and files to be tested**
LanguageActivity
we need to refactor test for selected and unselected header

[2018-08-22 00:13] srv-twry commented on #836
Hi @mhutti1 @kelson42
Got free from GSoC duties at Fossasia and hence back.

If I understood the requirements of the issue correctly, we need a way to measure the code coverage of the project. Most other open source Android projects use https://codecov.io/. It can easily be integrated with Travis. Sample integration example: https://github.com/codecov/example-android

It will display the code cove

[2018-08-22 02:59] abdulwd commented on #836
@srv-twry Welcome back!
The JVM tests will be run on Travis so, **codecov.io** can be used but the Espresso tests are run on physical devices hosted by [Bitbar](https://bitbar.com/testing/). It will be great if you can tell how will you get the coverage of the Espresso tests.

[2018-08-22 03:13] srv-twry commented on #836
@abdulwd Hi, I wasn't aware of this. I thought we run integration tests on Travis only. I'll do some more research to see if I can find a solution for this.

[2018-08-22 05:45] kelson42 commented on #836
@srv-twry Welcome back, I have enhanced the requirements. All-in-one they are quite standards.

[2018-08-22 05:50] ritik2017 commented on #841
Working on it

[2018-08-23 05:18] kelson42 commented on #836
The priority of this ticket has been raised up, we need to get these number for october. If someone wants to volunteering on this, I would be really thankful. Maybe @siddharth2010 this is finally a solution to measure all the good work you have done on testing :)

[2018-08-23 15:15] Popolechien opened #849 "Kiwix crashes on Android 6"
The gentleman attached his log:
´´´
--------- beginning of main
08-23 16:50:07.789 25563 25563 D kiwix   : Initializing TextToSpeech
08-23 16:50:07.854 25563 25563 D kiwix   : Kiwix normal start, zimFile loaded last time -> Open last used zimFile /storage/F582-1110/Kiwix/wikipedia_de_all_nopic_2017-01.zimaa
08-23 16:50:07.855 25563 25563 I kiwix   : Attempting to create reader with: /storage/F582-

[2018-08-23 19:13] mhutti1 commented on #849
I would try wiping app data/reinstalling. It says the shared preferences have been corrupted.

[2018-08-24 06:34] Popolechien commented on #849
It worked apparently, thanks.

[2018-08-24 06:34] #849 closed

[2018-08-25 15:37] kelson42 commented on #151
Here is the command to sign:
[code]

[2018-08-26 08:26] kelson42 commented on #841
@ritik2017 Thx.

[2018-08-26 08:31] kelson42 commented on #844
@jeyca We need you to update to 2.4 and let us know if the problem still occurs with this version.

[2018-08-26 13:38] abdulwd commented on #530
Fullscreen mode is provided to make the UX more immersive. If you want the bottom toolbar, you can switch off **Keep Toolbar Visible** in settings and enable bottom toolbar. That will make the toolbars visible on scrolling else it's fullscreen.

[2018-08-26 13:38] #530 closed

[2018-08-26 13:39] abdulwd commented on #540
Made redundant by the new HelpActivity.

[2018-08-26 13:39] #540 closed

[2018-08-26 13:42] abdulwd commented on #538
Redundant by the new **LanguageActivity**. See #774.

[2018-08-26 13:42] #538 closed

[2018-08-26 13:47] abdulwd commented on #718
Made redundant by #832.

[2018-08-26 13:47] #718 closed

[2018-08-26 13:49] kelson42 commented on #842
We can not really do something with work/notwork. We need to know:
* Which version of Kiwix for Android
* Which file?
* Splitted or not?
* What is exactly the reproduction scenario, at least what is the pattern given and the result.

[2018-08-26 13:56] kelson42 commented on #838
@kelson, Yes I should make a sync.

[2018-08-26 13:58] Popolechien commented on #842
wikipedia (Deutsch) | de | 11G | 2018-05 | all nopic,
File unsplit
I've asked for more specifics (Search terms, use case, etc.)

[2018-08-26 14:03] abdulwd commented on #555
Made redundant by #803.

[2018-08-26 14:03] #555 closed

[2018-08-26 14:11] abdulwd commented on #573
I have fixed this in #832.

[2018-08-26 14:11] #573 closed

[2018-08-26 14:15] abdulwd commented on #566
Fixed in #832.

[2018-08-26 14:15] #566 closed

[2018-08-26 14:29] abdulwd commented on #532
I have changed the accent color to a brighter shade of blue.

[2018-08-26 14:29] #532 closed

[2018-08-26 14:36] abdulwd commented on #379
Link to download the app can be shared from the PlayStore so there is no need to have an explicit share button.

[2018-08-26 14:36] #379 closed

[2018-08-28 23:04] mhutti1 opened #852 "Read adaptive icon"
Readd adaptive icon removed by https://github.com/kiwix/kiwix-android/pull/851

[2018-08-29 06:58] Popolechien opened #853 "Cannot read zim file from external drive"
From OTRS feedback system - let me know if I should ask for more details:
"Downloaded 20GB English no pictures words to a 32GB flash drive. Can use this with tablets and PC, but latest version of Kiwix on Android 7.0 Moto 5gplus days file is large and spins apparently trying to maybe copy the Zim file to local storage? See screenshot"
![attachment](https://user-images.githubusercontent.com/2167588

[2018-08-29 22:51] mhutti1 commented on #853
If it doesn't let them open this then they might need to split it. I don't know if there is anything we can do.

[2018-08-30 05:16] Popolechien commented on #853
Ok thanks.

[2018-08-30 05:16] #853 closed

[2018-08-30 09:11] #846 closed

[2018-08-30 09:12] siddharth2010 commented on #846
Fixed via #848

[2018-08-30 12:42] SaxSeven commented on #833
Same to me. I installed Kiwix 2.4 build 1182160 ( on my Samsung S9 )wikipedia_de_all_nopic_2018-05.zim,splitted it into 2GB chunks.
The start page appears, all links work, but the Search doesnt work at all.
Best regards Gunter

[2018-08-30 13:14] Popolechien commented on #152
Seems the problem is still here as well with the german wikipedia zim (wikipedia_de_all_novid_2018-06) whereas wikipedia_de_all_2017-06 worked fine. Here is the screenshot provided:
![40493939_687848854903836_8012107017894232064_n 1](https://user-images.githubusercontent.com/21675885/44853866-5c99ea80-ac67-11e8-8c90-8be55fd41f58.png)

[2018-09-02 16:49] aleksejrs commented on #347
Even later, "pressing near the bottom of the entry" stopped helping. Could have depended on the screen orientation though.

[2018-09-03 06:41] Popolechien opened #855 "Can't read files from ext. drive"
Copying feedback from user

"Can't read 360MB simple English Wikipedia (or any ZIM) from fat32 thumb drive with OTG cable. Android 7.0 and moto5gplus. This is an update to an earlier bug report.
Version 2.4 build 183160
Moto5gplus Android 7.0

I normally use this version of Kiwix with the 360mb simple wiki stored on my MicroSD card in  Works great. Also use schools version 2.6gb no problem. I deci

[2018-09-05 04:07] kelson42 commented on #855
Yes, we do not support OTG, it might or might not work.

[2018-09-05 04:07] #855 closed

[2018-09-09 18:17] kelson42 opened #856 "Fresh build phets custom app keeps crashing"
I have built and published in the internal test group (in the Play Store) the new version of the Phets app. Unfortunately the app keeps crashing at the time of loading a specific simulation.

All the other apps seem to work fine and do not suffer of this problem.
[logcat.txt](https://github.com/kiwix/kiwix-android/files/2364509/logcat.txt)

[2018-09-09 22:49] TomTomH2 commented on #833
Same problem here!
ZIM: wikipedia_de_all_nopic_2018-05 in 2 GB chunks
latest kiwix 2.4 (182160)

Samsung Galaxy Note 4 on Android 6.0.1
wikipedia_de_all_nopic_2018-05, split into 2GB-chunks: Search doesn't work at all, only intra-page
wikipedia_en_medicine_novid_2018-08: Search works normally

[2018-09-10 11:34] SaxSeven commented on #833
is anybody from kiwix taking care ??

[2018-09-10 11:36] kelson42 commented on #833
@SaxSeven We would be happy to fix it... the problem is that we have so far no reproduction case!

[2018-09-15 06:53] aditmehta9 commented on #572
@brijeshshah13  when made changes in the app and installed it again on the device, changes weren't shown in the original app instead a custom test app was installed. Please help me how can I make changes in main app and install that on my device with the changes I made?

[2018-09-15 07:40] abdulwd commented on #572
@aditmehta9 You need to select the build variant as **kiwixDebug** which you will find on the left side in Android Studio.

[2018-09-15 07:50] aditmehta9 commented on #572
Thank you veyr much @abdulwd

[2018-09-17 08:07] kelson42 opened #859 "Systematic problem by opening and reponing N times the same file"
If I try (with 2.4) to open and reopen N<10 times the same file in the local library the app at some point:
* Crash OR
* Says the ZIM file is invalid
[logcat.txt](https://github.com/kiwix/kiwix-android/files/2387705/logcat.txt)

[2018-09-17 12:58] julianharty commented on #836
A quick update. I have been able to generate a plausible code coverage when running the tests on a particular device (a Nexus 5x running Android 8.0.0).
<img width="1400" alt="successful kiwix-android code coverage report" src="https://user-images.githubusercontent.com/785891/45623705-7ff6cf00-ba88-11e8-8071-a36b50711b4c.png">

When I ran the tests on a Samsung Phone (a Galaxy2 SM-G360F running An

[2018-09-17 13:04] julianharty commented on #836
Reverting the testCoverageEnabled to false in `app/build.gradle` firstly changes the build targets in Gradle, secondly and more relevantly it seems that gradle doesn't perform any build actions for build targets (a.k.a. Gradle tasks) with Coverage in their name.

I've experimented by changing the section called `coverage` to `Julian` to see how gradle tasks such as `createKiwixCoverageCoverageRepo

[2018-09-17 14:06] julianharty commented on #836
After several test runs where tests failed I have finally managed to experience a clean test run and a coverage report was generated that includes code coverage data.
<img width="1402" alt="successful kiwix-android code coverage report from nexus 7 android 5 1 1" src="https://user-images.githubusercontent.com/785891/45627730-dc5eec00-ba92-11e8-9497-3599acc493ed.png">

On the previous test run seve

[2018-09-17 15:03] julianharty commented on #836
Yet more notes, if only for my own failing memory...
When tests fail, the coverage report doesn't seem to be updated.

Here are the details for the report's index.html (last updated over an hour ago, when all the tests passed for the coverage build target)
[code]
However the coverage data is more recent:
[code]
This behaviour is unwelcome and the effect is the coverage report is misleading. Runnin

[2018-09-18 12:43] Popolechien opened #860 "Download keeps restarting"
From OTRS

"I can't download Wikipedia (wikipedia_en_all_novid_2018-06) using Android Kiwix because it keeps restarting the download. So Kiwix will download say zimaa to zimad and a bit of zimae, then start again with zimaa.

I'm using a Samsung Galaxy 7 with Android 8.0.0 and the latest Kiwix, using WiFi only."

[2018-09-18 13:31] julianharty commented on #836
Here, finally seems to be the way to circumvent various gotchas related to generating code coverage for the tests, at least on devices that provide coverage reports with data in.

This answer is 3 years old https://groups.google.com/forum/#!topic/adt-dev/DUGRuTm6u1g
[code]
which was the key to enabling me to use a buildType other than `debug` to generate the coverage. Gradle otherwise declares the

[2018-09-19 09:22] julianharty opened #862 "Update the Testdroid dependency"
We're currently using version 1.5 of the testdroid gradle plugin. The latest version is [2.63](https://github.com/bitbar/testdroid-gradle-plugin/releases/tag/v2.63.0). Perhaps it's a good time to update our build dependency, in particular as we're aiming to collect code coverage from the tests we run on the bitbar/testdroid devices where I suspect we'll end up needing to use their latest API to ob

[2018-09-19 10:49] kelson42 commented on #730
Seems to be a duplicate of https://github.com/kiwix/kiwix-android/issues/61

[2018-09-19 10:49] #730 closed

[2018-09-19 11:00] Popolechien opened #863 "Find in page function not performing on collapsed sections"
When looking for a word in page in a wiki zim, no results will be returned if the section with the target word is collapsed: one has to expand all sections in order for the search to function correctly (see images).
![screenshot_20180919-125543](https://user-images.githubusercontent.com/21675885/45749422-ec4e0b80-bc0b-11e8-81eb-ef87b89e0daa.jpg)
![screenshot_20180919-125530](https://user-images.gi

[2018-09-19 12:42] julianharty commented on #836
For those that follow on, here's one of the best examples of the problem and the way we addressed the issue: https://stackoverflow.com/questions/31720389/coverage-on-android-build

[2018-09-20 10:56] florian29 opened #864 "some Latex based formulas not shown on Kiwix Android APK 3.3.0/3.2.1"
**Describe the bug**
All latex based formulas are very much smaller than the main text and therefore difficult to read. Some formulas are completely missing.

**Expected behavior**
Latex based formulas should have the same text size as the main text and every formula or symbol should appear.

**Steps to reproduce the behavior:**
open article "Satz des Pythagoras" of wikipedia_de_all_novid_2018-06.

[2018-09-20 12:30] mhutti1 commented on #864
It is working fine on my Galaxy S8 with 8.0 so I suspect this might be a Webview / Device bug. We might be able to workaround somehow though.

[2018-09-21 04:14] florian29 commented on #864
indeed the ZIM file is okay, it works fine on the alpha3 version for windows, the problem must be with the android kiwix apk version 2.4 (same issue with 2.3), I've tested it with Andy Android emulator and not a physical device, I will test it now on my Galaxy S4 mini and report you, by the way it worked well with Andy with kiwix apk 2.2 with an older version of the ZIM file, but the newer ZIM fil

[2018-09-21 06:39] julianharty opened #865 "Running Code Coverage"
This is related to issue #836 which focuses on enabling the generation of code coverage reports. I've decided to create this issue where I/we can focus on how (and perhaps also where) the code coverage reports can and will be generated as there are distinct topics such as:

- Do we want to generate code coverage on each build, or on a periodic basis?
- Do we care whether it's generated on real dev

[2018-09-21 08:56] kelson42 commented on #864
@florian29 older ZIM files had PNG files for equations. That might be the explanation why it was displaying properly.

[2018-09-24 12:07] MidUK commented on #860
I have this problem as well.

I'm trying to make it reproducible but it's slow to test.

It might be caused by a change of wifi.

I left it downloading all night last night and it was fine this morning when I checked it. I drove to the office and then checked on the status (in the same way that I did when I woke up this morning) and then it restarted - the only change being the wifi.

It's a serio

[2018-09-25 11:33] Aditya-Sood commented on #779
Apologies for this delay
I'll try and finish it by the end of coming weekend

[2018-09-25 13:10] Aditya-Sood commented on #779
Regarding the location of the option to share:
I'm planning on adding it within the WebView, so that the users would be able to share the ZIM file they are currently reading

I could alternatively/additionally add the Share option in the Downloads Library, wherein you could select multiple ZIM files for sharing. This would also require shifting the 'Delete' functionality to the new action bar that

[2018-09-25 15:08] Aditya-Sood commented on #779
Also, what's the procedure to add string translations to the string resources?
Do I simply use Google Translate for converting 'Share' to other languages and manually make the addition to the resource?

[2018-09-27 11:29] Imarok commented on #833
I have the same problem as the OP.
No search for wikipedia_de_all_nopic_2018-05. Searching in e.g. wikiquote works.
Just to be sure: @kelson42 have you tried reproducing it exactly with wikipedia_de_all_nopic_2018-05?

[2018-09-27 11:31] kelson42 commented on #833
What would be helpful at this stage is to explain how you have splited your files and if possible post the list of files with the md5sum or similar.

[2018-09-27 11:48] Imarok commented on #833
Just to make sure: I have not split the zim file into 2GB chunks. (At least not intentionally)
I just downloaded it from [here](http://wiki.kiwix.org/wiki/Special:MyLanguage/Content_in_all_languages) via torrent and then copied it onto my phone.

[2018-09-27 15:56] Aditya-Sood commented on #779
UPDATE: I'm facing difficulty in identifying/obtaining URI for the currently open ZIM file.

Despite spending 3 days on the same trying to get the file uri using getIntent() on the main activity (KiwixMobileActivity), & subsequently tinkering with methods from the ZimContentProvider, but I still couldn't obtain the direct uri to the currently open file.

Examining the logs of errors and crashes, I

[2018-09-27 16:10] Aditya-Sood commented on #779
So I've decided to instead focus on adding the ability to share from the Downloads Library page

[2018-09-28 19:28] abdulwd commented on #779
@Aditya-Sood You should not add the share button within the **WebView** but in the downloaded books tab i.e. **Device** tab. You can shift the delete functionality to the contextual action bar.

You can try using:
`Uri.fromFile(new File(ZimContentProvider.getZimFile()));`

Also, you should rebase your branch on [3.0](https://github.com/kiwix/kiwix-android/tree/3.0).

[2018-09-28 19:52] florian29 commented on #864
Finally I was able to test it with my Galaxy S4 mini and, like @mhutti1 commented, the article "Satz des Pythagoras" works fine (kiwix 2.4 apk from Google Play). But then I tested it opening "Maxwell-Gleichungen" (wikipedia_de_all_novid_2018-06.zim) and there is the same issue as you can see in the screenshot:
![screenshot_2018-09-28-21-38-51](https://user-images.githubusercontent.com/43439672/462

[2018-09-29 06:32] kelson42 commented on #864
I plan to close that ticket. The problem seems to be that that older versions of Android do not support SVG looks like. Nobody with a more or less recent device seems to be impacted.

[2018-09-29 12:33] florian29 commented on #864
I post you here a screenshot of the same article (Maxwell-Gleichungen) as above, with the same device (Galaxy S4 mini) but this time with the OLD version of the Kiwix Android apk (ver. 2.2) and the OLD zim file (wikipedia_de_all_2017-06.zim). As you can see everything worked pretty well and the pictures were SVG files too. The problem started with the new Kiwix Anroid apk ver. 2.4, which is necess

[2018-09-30 12:45] florian29 commented on #864
@kelson42

If you want to quit the support for older versions of Android, you will have to announce it to Google Play Store.
![sin titulo](https://user-images.githubusercontent.com/43439672/46257767-5a71b880-c4bf-11e8-864c-16a09c9e48ce.png)

[2018-09-30 13:30] mhutti1 commented on #864
Ok. Thanks for the reproduction steps. I think we should look into this and work out why the images are not loading correctly.

[2018-09-30 14:30] florian29 commented on #864
@mhutti1 Thank you for answering. If I can help something, please let me know. Maybe the issue occurs on how the android app handles the SVG files in the version 2.4. Since the 2.2 version handles the same SVG pictures correctly, maybe you can a take look what have changed in this kind of handling from version 2.2 to version 2.4.

[2018-09-30 14:41] kelson42 commented on #860
@MidUK Plan is to secure download using metalink... but we are not so far on Android... but this has nothing to do with your problem of "restart". Please wait 2.5 release and let us know.

[2018-09-30 17:30] kelson42 commented on #864
I have a Samsung Galaxy Tab with 4.2.2 with the same problem as reported here. The problem is not that SVG are not rendered at all, they are with 2.4 "in general" on this device (but "yes" they are really small in comparison with the font).

But, lets focus on the "missing equations". This is a specific problem with many of them on "Satz des Pythagoras".  Not all of them, like we see on the screen

[2018-10-01 09:38] florian29 commented on #864
But you can compare the versions 2.2 and 2.4 by opening the old ZIM file "wikipedia_de_all_2017-06.zim", which can be opened with both versions of the Kiwix Android app. I post you the screenshots above. The first one is a part of the article "Maxwell-Gleichungen" opened with the 2.2 apk. As you can see all the SVG images are displayed well:

![ver 2 2](https://user-images.githubusercontent.com/43

[2018-10-01 19:27] RajaVamsi11 commented on #828
@mhutti1 @mgautierfr Can I start working on this issue?

[2018-10-02 08:15] mgautierfr commented on #828
I'm not working on it.
Note that I'm pretty sure that the issue appears also for other texts.

[2018-10-02 09:02] mhutti1 commented on #828
@RajaVamsi11 Sure.

[2018-10-02 19:44] ritik2017 commented on #579
what is the status of the issue? Shall I work to resolve it?

[2018-10-03 09:38] mhutti1 commented on #579
I think this is still an issue if you want to give it a shot.

[2018-10-03 21:52] Aditya-Sood commented on #779
@mhutti1
Could you please review and give a feedback? Thanks

[2018-10-05 05:27] nemobis commented on #708
Is this a duplicate of https://github.com/kiwix/kiwix-android/issues/54 ?

[2018-10-06 14:38] kelson42 commented on #579
@panvica10 good :)

[2018-10-07 18:53] mhutti1 commented on #779
Could you please follow abduls advice and then I will gladly give you a review :)

[2018-10-07 18:55] mhutti1 commented on #864
@kelson42 Couldn't we test this with kiwix serve to check this. I assume the pictures wouldn't display on that either.

[2018-10-07 18:56] mhutti1 commented on #708
Yeah

[2018-10-08 06:02] ritik2017 commented on #841
@kelson42 how do i join the slack channel

[2018-10-08 06:04] Popolechien commented on #841
@ritik2017 The easiest is via your web browser [chat.kiwix.org](http://chat.kiwix.org)

[2018-10-08 06:05] Popolechien commented on #841
@ritik2017 I can send you an invite but tbh it's not super active, people here are more the irc type (http://chat.kiwix.org)

[2018-10-08 06:10] ritik2017 commented on #841
okay got it.. can i get an invite to the slack community

[2018-10-08 06:12] Popolechien commented on #841
Sure. Send your email address to info@kiwix.org

[2018-10-12 10:40] samuk commented on #616
I also think this would be a great feature. I'd make it so it can share the kiwix.apk too, so users have everything they need, rather than assuming the second user already has Kiwix installed.

Two existing FOSS projects that use Wifi sharing are:

https://play.google.com/store/apps/details?id=de.fun2code.android.pawserver&hl=en
http://paw-android.fun2code.de/

And

https://play.google.com/store/a

[2018-10-12 12:31] IrgendwerA8 opened #871 "Some articles are not found by the search function"
Kiwix 2.4 Build 182160
Android 4.1.2
Wikipedia 2018-06-30 German, no video, 32.2 GB in 2 GB chunks

Tapping the magnifier icon for "find" and entering "DCF77" (case doesn't matter) will not show any matching article.

But if you look up "Funkuhr" (which can be found) and tap the link "DCF77" in the text, the "DCF77"
article is shown - so it is available.

(Had this issue for other articles too, bu

[2018-10-12 12:58] MennovdHurk commented on #871
https://github.com/kiwix/kiwix-android/issues/84

[2018-10-12 13:16] IrgendwerA8 commented on #871
Isn't #84 a different issue? There is no article "FFT", but in my case the article "DCF77" is no ambiguous abbreviation, but existing "natively"...

[2018-10-15 12:04] Popolechien commented on #842
Ok, another user with the same issue - files were split into 2Gb chunks this time.

[2018-10-15 12:17] kelson42 commented on #842
@Popolechien Search function works in general, so we need to know which ZIM file is impacted exactly.

[2018-10-15 12:18] Popolechien commented on #842
Exact same file, suprisingly enough (I should have been clear about it, sorry).

[2018-10-15 12:20] kelson42 commented on #842
@Popolechien So, wikipedia (Deutsch) | de | 11G | 2018-05 | all nopic ? This is not exactly fitting to this ticket "Search function not working on files with images" ! I propose to close that ticket as it seems this is basically a duplicate of #833

[2018-10-15 15:09] bhaskargupta98 commented on #563
So we just have to move this method and change it's type?
I'm completely new to open source so not familiar with the way people talk here.

[2018-10-16 03:29] faith-hb commented on #402
The result?

[2018-10-16 13:17] Aditya-Sood commented on #779
On it

[2018-10-17 16:16] kelson42 commented on #563
@mhutti1 Could you please help @bhaskargupta98 ?

[2018-10-18 22:55] mhutti1 commented on #563
A pull request already exists for this so it is not a good issue to start with.

[2018-10-19 13:39] bhaskargupta98 commented on #563
So please tell me where to start from. Actually I'm completely new to development and open source but I'm really intrigued by the concept of Kiwix so wanted to contribute here. I'm fluent in Java so the experts at IRC suggested me to go with Kiwix Android.

[2018-10-22 08:36] Popolechien opened #875 "Background download does not seem to be working anymore"
Version 2.4 build 1182160 Huawei P7Lite running Android 8.0
Basically when my phone goes to sleep (ie I'm not using it), download pauses and sometimes even restarts from scratch when I reopen the app/phone.
Bottom line, I can't download a file without disabling the standby/sleep function.

[2018-10-22 21:22] mhutti1 commented on #563
A good place to start might be to add some tests. This will familiarise you with the code base and increase our code coverage :)

[2018-10-22 21:29] mhutti1 commented on #852
The reason this was removed was to fix custom apps using this. We would need to come up with a solution for custom apps.

[2018-10-22 22:28] #862 closed

[2018-10-23 17:41] abdulwd commented on #852
@mhutti1 I think we can use [this](https://stackoverflow.com/a/22876224/7792129) for adding the icons to different build types or do we need to create the icons for custom apps?

[2018-10-23 20:07] chstdu opened #878 "Search not working"
**Describe the bug**
When clicking on a search result, the old page remains and nothing happens. (Clicking on a link on the starting page of wikipedia works fine.)

**Expected behavior**
The article which I just clicked on should appear.

**Steps to reproduce the behavior:**
1. Download the German wikipedia without pictures, copy it to the android phone and open the content within kiwix.
2. Type i

[2018-10-24 23:34] mhutti1 commented on #563
Tests are an important way of detecting regressions. This task is to add some UI tests to the Kiwix Offline Wikipedia Android Project.

We use https://developer.android.com/training/testing/espresso/in this project this allows tests to be written and then run on real devices.

It might be worth checking out https://developer.android.com/studio/test/espresso-test-recorder for a tool to help but it

[2018-10-25 15:24] refeed opened #879 "Place `google()` repository as the first priority repository"
When I was building this project with Android Studio, I was struggled by this error:
[code]

After asking on #kiwix channel and searching for a while, I found that the fix is only by moving `google()` repository as the first priority repository, especially before `jcenter()` repo. (https://stackoverflow.com/a/50768265/6156700).

[2018-10-25 15:54] #879 closed

[2018-10-25 20:18] vansha10 opened #881 "On cancelling a download, Android notification shows 'downloaded' instead of 'cancelled' or 'stopped'."
**Describe the bug**
In the get content tab, on stoppping an ongoing download, the downloading notification changes to downloaded.

**Expected behavior**
The notification should either disappear or show cancelled or stopped.

**Steps to reproduce the behavior:**
1. Download an article.
2. Go to downloading tab and stop the download.
3. Check the notification of the same download.

**Screenshots**

[2018-10-25 20:44] vansha10 commented on #881
One more thing: facing this issue only in the app downloaded from the play store, not in the one that I ran from my laptop.

[2018-10-27 18:17] sonusourav opened #883 "App crash upon switching from wifi to mobile data while downloading"
**Describe the bug**

When download mode is changed from wifi to mobile data after pausing the download, and download is restarted, app crashes (Initially, download using wifi data only is toggled **ON**).

**Expected behavior**

Once download using wifi only is turned **OFF** and wifi is turned off while mobile data is on, download connection should not break and should continue downloading.

**S

[2018-10-29 00:30] mhutti1 opened #886 "Can't run tests without changing the testBuildType to "debug""
**Describe the bug**
Tests fail to run

**Expected behavior**
Tests should run

**Steps to reproduce the behavior:**
Try to run tests

**Environment**
- Version of Kiwix Android : master
- Device : Galaxy S8
- OS version : 8.0.1

**Logs**
Can't get log back as can't reproduce once I fixed it but it is this error https://stackoverflow.com/questions/28659451/test-running-failed-permission-denial-sta

[2018-10-29 19:16] IrgendwerA8 opened #887 "Another search oddity in conjuction with suggestions"
Kiwix 2.4 Build 182160
Android 4.1.2
Wikipedia 2018-06-30 German, no video, 32.2 GB in 2 GB chunks

Tapping the magnifier icon for "find" and entering "Der kleine" will fill the drop down with matching articles. You will find there "Der kleine Maulwurf". OK.

But when typing "Der kleine M" to narrow the filter and reduce the number of entries, no matching article is found/shown.

[2018-10-30 07:05] olllllii commented on #878
I ve exactly the same Problem, the APP is useless

[2018-10-30 07:10] kelson42 commented on #878
This is a problem with that specific file, not the app. We are going to regenerate a new version soon. Sorry for the problem.

[2018-10-30 07:10] #878 closed

[2018-11-03 05:54] RajaVamsi11 commented on #828
[
![screenshot_2018-11-03-11-19-27](https://user-images.githubusercontent.com/30550059/47948649-c467fc80-df5a-11e8-9492-5af3b0fa1740.png)
](url)
@mgautierfr @mhutti1 There is no issue with my device.whai i have to do now?

[2018-11-03 21:42] mhutti1 commented on #828
@RajaVamsi11 this is an issue where most of the issue would be reproducing it I feel.

[2018-11-05 08:46] Popolechien commented on #833
Adding another log from another user, FYI
[logcat.txt](https://github.com/kiwix/kiwix-android/files/2547487/logcat.txt)

@Imarok Yes it does, at least for the larger wikis. We also have the occasional server crash, which is annoying when that happens after 2+ weeks of compressing 0_o

[2018-11-08 14:56] Aditya-Sood commented on #837
Went through #729
TL;DR - No clear upside of introducing this feature. Possibly better to keep things as is.

The Android/data/<package-name>/files directory is deleted upon uninstalling the app, so storing files there goes back to the debate in #596 (whether the ZIM files should stay or not)

For adding custom storage, I think most Kiwix users wouldn't be plugging in their devices or SD cards to

[2018-11-08 17:56] metal450 commented on #837
I strongly disagree.

Isn't that the point of having options? Those who are happy with the default behavior can leave the default settings.  Those who prefer the other behavior wouldn't be forced into this behavior, & can electively configure it as they prefer for their devices. It doesn't have to be one or the other/one-size-fits-all.  That's why we have options

I really don't see a basis for th

[2018-11-09 06:45] Popolechien opened #888 "Is is possible that a specific brand cannot open Kiwix?"
A gentleman on OTRS says he can't open Wikimed nor Wikimed mini (neither from APKpure nor from the appstore). The app downloads and then is reported as corrupted (see images). Could it have to do with his phone's brand (oppo A5, so fairly recent) or settings?
![screenshot_2018-11-09-13-56-43-12 1](https://user-images.githubusercontent.com/21675885/48247320-2e692180-e3f3-11e8-9c8d-9691f4b51f61.png)

[2018-11-10 14:45] mhutti1 commented on #888
So there is likely an issue with apkpure. I don't know if it correctly downloads expansion files containing the ZIM. It might also be possible that trying once with this might corrupt the directory meaning it won't install from Google correctly either.

[2018-11-11 10:01] kelson42 commented on #888
@mhutti1 The bug report specifically says "neither from APKpure nor from the appstore".

[2018-11-11 20:55] #779 closed

[2018-11-12 04:10] sonusourav opened #889 "Download tab does not list downloading files after crash"
**Describe the bug**

If files are being downloaded and app crashes due to some reason, you lose control of the downloading files i.e you can't play or stop. They do not even go out from the notification bar. Only after restarting or uninstalling the notification goes.

**Expected behavior**

The downloading files should be visible on the notification bar even if the app crashed due to any reason.

[2018-11-12 04:36] sonusourav opened #890 "Title bar items not visible"
**Describe the bug**

When the app is in the fragment screens, the title bar items are not visible. Since the letters are in white and the title bar is also set to white, so is the problem there.As could be seen clearly only those items which are not white in color are visible.

**Expected behavior**

It should be transparent or some other color so that items and text should be visible.

**Screens

[2018-11-12 07:09] sonusourav opened #891 "Upon closing all the tabs and pressing back button , app crashes."
**Describe the bug**

App crashes when all tabs are closed and back button is pressed

**Expected behavior**

The app should just exit without crashing.

**Steps to reproduce the behavior:**

1. Open two or more tabs are open.
2. Close all tabs using CloseAllTabs or swiping up for all tabs.
3. Press back button.

**Screenshots**

![kiwix crash 3 gif](https://user-images.githubusercontent.com/34706

[2018-11-13 19:57] sonusourav opened #892 "Multiple tabs not working"
**Describe the bug**

Even if multiple tabs are open one could not use all the tabs because once you open any document on one tab rest tabs get closed. Multiple tabs do not work like multiple tabs rather allow you to open only one tab finally.

**Expected behavior**

It should behave as the name suggests i.e. people could open different documents on different tabs.

**Steps to reproduce the behavi

[2018-11-13 20:20] Wikinaut opened #893 "Certain 3-Letter entries like ICC and NSA are not searchable (DE)"
* https://download.kiwix.org/zim/wikipedia/wikipedia_de_all_novid_2018-06.zim
* KiwixAndroid 2.4 build 1182160

I recently noticed, that abbreviations like "ICC" and "NSA" do not give the corresponding search results. Please can someone check this and report here?

[2018-11-13 21:01] sonusourav opened #894 "List item not visible on KeepToolbarVisible option Off"
**Describe the bug**

When you keep toggle off the settings' KeepToolbarVisible button, the last list item is not completely visible. Again if you toggle on the switch, it behaves properly. This happens upon the second time, not in the first time.
Similar to #566 but bit different. It does not happen in the first time but in the second or third time.

**Expected behavior**

All the list items shou

[2018-11-13 21:02] sonusourav opened #895 "App crashes on toggling on/off all settings switches"
**Describe the bug**

When you toggle on/off all the settings switches all at a time, app crashes. This may not happen when you do for the first time but probably in the second or third time.

**Expected behavior**

The app should not crash.

**Steps to reproduce the behavior:**

1. Open the settings page.
2. Toggle on/off all switches at once.
3. Press the back button.
4. Repeat it one or two tim

[2018-11-13 22:20] metal450 opened #896 "Crash on Get Content when a particular zim is anywhere on internal storage"
**Describe the bug**
I have a zim created from a Fandom wiki (http://prepaid-data-sim-card.wikia.com/wiki/Prepaid_SIM_with_data) by zimmer (https://github.com/vss-devel/zimmer).  The zim works perfectly in Kiwix for Windows.  If I copy the zim to the phone's internal storage, launch Kiwix, & go to "Get Content," it immediately crashes.  The zim needn't even be in Kiwix's data folder to cause the c

[2018-11-15 07:53] Aditya-Sood commented on #896
1) Does it happen for any of the ZIMs downloaded on Kiwix, when you move them to a different location?
2) Have you experienced this issue with ZIM files from other sources/zim-creators before?
3) Also can you post the stack trace of the crash?

[2018-11-15 08:04] metal450 commented on #896
1. Nope
2. Nope, but I haven't tried any others.  I have 3 ZIMs (2 of which are from Kiwix directly, & this one)
3. How do I obtain one?

[2018-11-15 08:38] Popolechien commented on #822
Be my guest.

[2018-11-15 11:36] cipo7741 commented on #84
Please, do something about it. My Grandma has a very old kiwix running, were the search works fine.
We never updated, since we noticed that she wouldn't be able to look for "USA".
We want to save the time and space to create a full-text index. We just wanna find the title.

related issues:

#26
#893
#134

[2018-11-15 11:44] cipo7741 commented on #84
Off topic: love kiwix-android, great job. :+1:

[2018-11-15 13:17] adnion commented on #878
How long does it take? What is the process of regenerating like?

[2018-11-15 13:29] chstdu commented on #878
I see here (http://wiki.kiwix.org/wiki/Content/de) that the German wikipedia file **with pictures** was recently regenerated. However, this file is too large to save on my phone (34 GB). I can only use the smaller one without pictures (11 GB). So I cannot check whether the problem is solved (with the new file). Can anyone download the large file and check it please?

[2018-11-15 14:47] Aditya-Sood commented on #896
For the stack trace you can use `adb logcat`:
- Plug in your device, run the command on the terminal and then reproduce the error.

- As soon as the app crashes, you'll get an error on the terminal screen like `.../org.kiwix.kiwixmobile E/AndroidRuntime: FATAL EXCEPTION: main
Process: org.kiwix.kiwixmobile...` followed by a bunch of lines specifying the stack trace of the error in multiple files.

[2018-11-15 14:48] Aditya-Sood commented on #822
Thanks

[2018-11-15 19:18] adnion commented on #878
I could test the the 34 GB image and it works well. Nonetheless I prefer the smaller image **without pictures**. Do you have any idea how .zim files are created?

[2018-11-15 22:07] metal450 commented on #896
I tried 1 more, & the behavior was the same.  Works fine on PC, crashes on Android.  Were you not able to reproduce this by replicating my specific steps above?

While I don't see the exact text you're mentioning, here's the section around the term "Fatal":

11-15 11:39:34.261 19385 19531 I kiwix   : Attempting to create reader with: /storage/emulated/0/Android/Kiwix/wikivoyage_en_all_novid_2018-1

[2018-11-16 15:13] Aditya-Sood commented on #896
The error seems to be some code blocking the UI thread
I'll try some files created on zimmer

[2018-11-18 15:54] kelson42 commented on #822
To me this is a function which has to be done in the kiwix-lib because:
* This is a common feature for all readres
* We want to have the file reusable on different systems

[2018-11-19 01:15] mhutti1 commented on #84
I think the answer is that the C++ (kiwix lib) doesn't support this anymore and users are unfortunately expected to use newer ZIM files.

[2018-11-19 01:16] mhutti1 commented on #878
@kelson42 ^

[2018-11-19 05:13] sonusourav commented on #892
@mhutti1 Is it part of any milestone and is anybody currently working on this?

[2018-11-19 13:38] mhutti1 commented on #892
@sonusourav Its a very big update planned to be part of 3.0.

[2018-11-20 23:04] samuk opened #897 "Annotate in Kiwix"
I'm looking to build .zim files from textbooks that have questions in the text (.PDF files designed for printing)

I would like the users to be able to add the answers to these questions in 'notes' from within the Kiwix interface.

from the press/hold drop down a 'add note' menu item would appear. When adding a note a text box & keyboard would appear on screen.

The text would be marked in some wa

[2018-11-21 08:05] kelson42 commented on #897
This is a feature we had with Kiwix-Desktop 1.0. I think this is really a legitimate and valuable feature request. That said, this should be mostly implemented in the Kiwix-lib (before working on the Android UI). This might take a bit of time before we come to that feature, but this will be done.

[2018-11-24 22:17] julianharty commented on #886
@mhutti1 I'm not sure of the cause; however I've discovered there are various inbuilt poorly described requirements to get the tests (and optionally the test coverage) to run. As standard, I believe (from when I last looked at this a couple of months ago) that tests only run for debug builds. Setting the `testBuildType` enables the tests to run for other build targets (which was how I managed to g

[2018-11-28 20:21] abdulwd commented on #891
@sonusourav Do you have any updates on progress made?

[2018-11-28 20:40] abdulwd opened #898 "Migrate to AndroidX"
**Is your feature request related to a problem? Please describe.**

Since AndroidX is released, we should migrate the support libraries to the androidx namespace.

**Describe the solution you'd like**

Migrate the stable libraries to the androidx namespace.

**Additional context**

Please refer to this [link](https://developer.android.com/jetpack/androidx/migrate).

[2018-11-29 06:54] sonusourav commented on #891
@abdulwd Due to end sem exams, not much progress is there. Exams will be over by 4th Dec and then I will try to do at the earliest.

[2018-11-29 12:12] cipo7741 commented on #871
Sadly it's the same problem, because its forcing each search with the first letter upper case, rest lower case.
FFT = Fft
USA = Usa
DCF77 = Dcf77
DDR = Ddr (results into Ddrescue)

As you work with recent kiwix and recent wiki, it's strange it still persists.
https://github.com/kiwix/kiwix-android/issues/84#issuecomment-347545915

[2018-12-02 05:40] metal450 commented on #896
I'm on Windows & I did already have Node setup...but other than that, nope.

If you prefer, I can just send you the zim...?

[2018-12-02 08:48] kelson42 commented on #896
@metal450 I don't think we can really help here without you having published the ZIM file.

[2018-12-02 08:55] Aditya-Sood commented on #896
@metal450 that would be great - Just share the drive link to both the ZIMs that you'd created

[2018-12-02 08:56] Aditya-Sood commented on #896
@kelson42 I couldn't get the ZIM creator to work, will try and recreate the error with the shared files

[2018-12-02 09:00] kelson42 commented on #896
@Aditya-Sood I don't understand at all why `zimmer` has been started!... So let just wait we get the file before investing to much time here IMO.

[2018-12-10 11:55] dazed-horizon opened #899 "German & English Wikipedia no pictures on some Articles with kiwix 2.4"
There are no pictures on some articles on Kiwix for Android Version 2.4 (latest version).
I am using the "wikipedia_de_all_novid_2018-11.zim" , downloaded it twice, checksum ok. I tried different Android phones with Android 7.0 and Android 4.1, still no pictures. For example on these articles:
"Deutschland" (no pictures at all!) and "Binomial-Verteilung" (scroll down, no pictures) as well as "Deut

[2018-12-15 12:07] kelson42 opened #900 "Unable to build new custom apps"
[code]

gives

[code]

[2018-12-16 07:39] kelson42 commented on #900
I think I was simply on the wrong branch

[2018-12-16 07:39] #900 closed

[2018-12-16 07:51] JessRiedel commented on #315
@okkebal:

It means it keeps only the first paragraph from each article:

"limit to lead paragraph (_nodet format) and keep only one image if possible (a few articles have more than one illustration in the intro)"

https://github.com/kiwix/kiwix-android-custom/issues/13

[2018-12-18 01:00] mhutti1 commented on #899
I can see pictures on that article so this is likely device specific.

[2018-12-18 10:37] siddharth2010 opened #901 "Make activity transition uniform"
**Describe the bug**
The Transition to the settings activity is not uniform with the rest of the app.

**Expected behavior**
There should be a sliding animation.

**Steps to reproduce the behavior:**
1. Open any book
2. Click on the overflow menu, and open settings

**Screenshots**
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/32238400/50148542-cd304a00-02de-11e9-864e-bb318ff

[2018-12-19 09:41] Popolechien opened #902 "Save Media option saves whole article rather than file"
When using the new landing page layout: on android 2.4 a long press on an image will give me the opportunity to "save media"
![savemedia](https://user-images.githubusercontent.com/21675885/50211754-ad9a2f80-0379-11e9-8cb8-9e75b7202a15.jpg)

The problem is that it won't save the image but the .html file.

[2018-12-20 07:22] kelson42 commented on #902
@Popolechien Do you have the same problem with an image in an article or is that linked to this new welcome page?

[2018-12-20 22:42] Asgardian8740 opened #903 "UI - Text on Card Alignment"
**Describe the bug**
 Misaligned content in the card view .

**Expected behavior**
Text Content Should be within the boundary of the card.

**Steps to reproduce the behavior:**

1.Download any book.
2.Close the app
3.Now open the Downloaded Book

**Screenshots**

[screenshot_20181221-040127__01](https://user-images.githubusercontent.com/33763700/50314774-36c67900-04d6-11e9-9f48-eb1f74000033.jpg)

[2018-12-21 23:15] Aditya-Sood commented on #896
@kelson42  Is it possible that the contents of the ZIM file are dependent on the program creating it?

Becuase while I couldn't find any answers to the problem online, related solutions and re-reading the errors all hint at this new file invoking stuff which the Kiwix downloaded ZIMs don't when opened

The error apparently occurs as soon as the app discovers and tries to parse this new file during

[2018-12-21 23:20] Aditya-Sood commented on #896
Also, this is an entirely different error from the one faced by @metal450 on his device, which was a `...Fatal signal 6 (SIGABRT), code -6...` error about some blocking process on the UI thread

[2018-12-22 20:04] mrjohnc commented on #259
Hi all

Is there progress on this issue? We are working on getting a table for Wikipedia at UNESCO Mobile Learning Week (the largest UN ICT in education conference) in March and this would be an amazing thing to demonstrate

https://en.unesco.org/mlw

[2018-12-22 21:55] Aditya-Sood opened #905 "Launch activity (night-mode) inverts colour of icons"
**Describe the bug**
Launch activity in night-mode inverts colour of the ZIM file icons

**Expected behavior**
The icons should retain their original colour

**Steps to reproduce the behavior:**
1. Activate night-mode
2. Navigate to the launch activity

**Screenshots**

![screenshot_20181223-023547](https://user-images.githubusercontent.com/15438998/50378844-753c6f00-0661-11e9-8154-b707395d1464.pn

[2018-12-22 21:56] Aditya-Sood commented on #905
Seems like a simple UI fix, as it doesn't occur in the library
I'll get to it

[2018-12-23 15:20] kelson42 commented on #905
@Aditya-Sood thx

[2018-12-23 22:13] mhutti1 commented on #903
I don't think this is related specifically to the android version. It is likely a mobile formatting issue.

[2018-12-23 22:14] mhutti1 commented on #896
@Aditya-Sood If you wipe the apps data do you get the same error?

[2018-12-25 18:03] knightcube commented on #898
How can this issue be solved? I mean which module or which file should we edit? In the link given I tried the "Refactor > Migrate to androidx" solution and that gives loads of refactoring to be done in about 85 files. So how where should I begin?

[2018-12-27 11:11] abdulwd commented on #272
@theLimitBreaker You may work on this issue. Can you please share how will you resolve this issue i.e. what changes you plan to make?

[2018-12-27 11:35] theLimitBreaker commented on #272
@abdulwd  So far I was able to see DownloadService as Background Process. For apps Above 5.0 we can use Job Scheduler. If network is unavailbale then Job Scheduler can retry on its own and work in background. For Android  Above 8.0 normal Service throws exception when in Background.

[2018-12-27 12:42] abdulwd commented on #272
@mhutti1 As `DownloadService` is only used to download the ZIM files I think we can rely on this library https://github.com/lingochamp/okdownload for downloading the ZIM files instead of improving our custom solution. It has high test coverage and is being maintained actively.

[2018-12-27 12:59] theLimitBreaker commented on #272
Correct me if wrong . But OkDownload is library for download files . Would it Handle Background exceptions thrown by Android Platform above 8.0
Would it Handle Background executions . I think for that we have to use WorkManager or JobScheduler Only .
🤔

[2018-12-27 13:21] abdulwd commented on #272
I'm not sure about. If WorkManager/JobScheduler is our only option we can use it. You may start working on this issue once @mhutti1 provides his feedback.

[2018-12-28 11:04] theLimitBreaker opened #907 "No Online Items availabe to download , even when connected to internet."
**Describe the bug**
Not Getting any online items after tapping Get Content option. Even after connected to working Internet.

**Expected behavior**
Should present the items from online to download

**Steps to reproduce the behavior:**
1. Click on options menu
2. Click on 'Get Content' option

**Screenshot**
<img src = "https://user-images.githubusercontent.com/24780524/50513391-7d5f3900-0abd-11e9

[2018-12-29 18:02] isaeef commented on #905
@kelson42  is this open for PR ?

[2018-12-31 06:51] kelson42 commented on #905
@isaeef Like you can seem, @Aditya-Sood is assigned to the ticket and seems to work on it.

[2018-12-31 10:51] Aditya-Sood commented on #896
@mhutti1 it's slightly different upon reinstalling
The error related to History table is gone, but the other two remain along with a new one about an exception:

    12-31 16:01:19.350 27451-27529/org.kiwix.kiwixmobile E/kiwix: Exception reading article A/Main_Page.html from zim file
                                                              java.io.IOException: write failed: EPIPE (Broken pipe

[2018-12-31 10:53] Aditya-Sood commented on #896
Is it possible that this ZIM file is structured in a different manner from how kiwix creates the same?

[2018-12-31 10:56] Aditya-Sood commented on #905
@isaeef you can use the `no:assignee` qualifier to search for unassigned issues

[2018-12-31 17:41] Asgardian8740 commented on #903
Ohk sir

[2018-12-31 17:41] #903 closed

[2018-12-31 17:48] Asgardian8740 commented on #907
I checked this on my one plus 6.It was working perfectly.
This is i guess something device specific issue which is being caused due to permission issue or restricted data usage.
![unnamed](https://user-images.githubusercontent.com/33763700/50565202-50778400-0d52-11e9-9e35-a4937088262a.jpg)

[2019-01-01 04:57] Aditya-Sood commented on #905
@kelson42 turns out it's not as simple as I'd expected
This launch activity is not a regular layout but a webview. From my understanding, the webview's night mode is currently being handled by having the GPU invert the entire view currently rendered on the screen (unlike how a layout's night mode is implemented, by setting the app to use a night mode theme).

However, this error of image inversion

[2019-01-01 09:31] mhutti1 commented on #896
@Aditya-Sood i'm not sure. Broken pipe might imply that there's too much data trying to be read?

[2019-01-01 09:36] mhutti1 commented on #905
@Aditya-Sood If I can remember we flip the webview on the Java end and then use css injection to flip the images.

https://github.com/kiwix/kiwix-android/blob/master/app/src/main/java/org/kiwix/kiwixmobile/data/ZimContentProvider.java#L485

[2019-01-01 09:37] mhutti1 commented on #905
This won't be run for non ZIM pages.

[2019-01-01 09:38] mhutti1 commented on #259
Not as of this moment no. We are working on getting multi zim support and better downloading as our highest priorities.

[2019-01-01 10:02] #149 closed

[2019-01-02 01:39] TheBrokenRail commented on #259
The FTC robotics app has a similur feature where it will start a hotspot which you can log on to and then go to self hosted website to edit code, the app is open source (most of the code is in the ```libs``` folder), so maybe that could help.

https://github.com/ftctechnh/ftc_app

[2019-01-02 12:22] chasingTheDragon opened #908 "Question: How can I see which of the downloads can do fulltext search?"
I wanted to download a zim file with index for fulltext search, but it's unclear which file I need to download.

[2019-01-02 12:39] kelson42 commented on #908
All ZIM files which allow fulltext search have the _ftindex tag.

[2019-01-02 12:39] #908 closed

[2019-01-02 12:53] chasingTheDragon commented on #908
Thank you. Do I understand correctly, the filename contains "_ftindex"?
If so, do you know where I can download these? There seem to be none on https://wiki.kiwix.org/wiki/Content_in_all_languages or http://download.kiwix.org/zim/wikipedia/

[2019-01-02 13:00] kelson42 commented on #908
@chasingTheDragon No, this is a tag, so a meta-data of the ZIM file. That said, just remarked that the Kiwix Android does not display the hidden tag. But you can assume that any new ZIM we produce are with a fulltext index.

[2019-01-02 13:14] chasingTheDragon commented on #908
I understand. with the kiwix-desktop program I can see the _ftindex tag.
Do you happen to know if splitting the zim to zimaa, zimab,... breaks the index functionality? Because I downloaded the file wikipedia_de_all_novid_2018-11.zim and splitted it and transferred those to the phone and now fulltext search does not seem to work.

[2019-01-02 13:17] kelson42 commented on #908
@chasingTheDragon yes, it can. That is the reason why we do not recommend anymore to split the ZIM files.

[2019-01-02 16:34] kelson42 commented on #259
@mrjohnc No direct progress on this. https://github.com/kiwix/kiwix-lib/issues/138 is a requirement/blocker for this and it does not belong to the top of the priorities of the Kiwix Library. IMO, this might take quite a bit of time to get all of this working fine (many technical challenges in different areas of expertise) if nobody clearly decides to make the necessary investment in time/money/ski

[2019-01-05 13:42] Aditya-Sood commented on #896
@mhutti1 the error `write failed: EPIPE (Broken pipe)` apparently occurs when the app tries to execute a root command without the permission to do so

I went over the stacktrace and found this error: `12-31 16:01:18.244 27489-27489/? E//system/bin/webview_zygote32: Failed to make and chown /acct/uid_99935: Permission denied`, and chown requires root privilege

[2019-01-05 13:42] Aditya-Sood commented on #896
So chown is probably the 'root' of the error here, but we don't request root access in the manifest as of now. Should we leave it on the back-burner until one of our own ZIMs raises the error?

[2019-01-05 20:53] prat-bphc52 commented on #902
I would like to work on this issue. Hoping to get it done within a short span of time.

[2019-01-05 21:05] prat-bphc52 commented on #891
Appears to be a case of error handling. I shall try to reproducing the error and check out thoroughly what's causing the error. Hopefully it shall not take much time to get it resolved.  . Can I get to work on this issue?

[2019-01-06 01:52] Aditya-Sood commented on #905
Thanks @mhutti1
I'll see how to work with this

[2019-01-06 09:30] kelson42 commented on #902
@prat-bphc52 Please go ahead, this is probably a problem in Kiwix Android.

[2019-01-06 10:34] kelson42 commented on #896
@Aditya-Sood Which exact piece of code of Kiwix-Android does a `chown`?

[2019-01-08 16:09] ARR8 opened #915 "Request: Add redirects to search results"
So that, e.g., one could type JFK in the Wikivoyage app rather than John F. Kennedy International Airport. Would be more convenient for on-the-go use.

[2019-01-08 20:32] siddharth2010 opened #909 "Tab not loading in certain cases"
**Describe the bug**

in some cases a new tab is not loaded (and is blank), and needs to be refreshed.

**Expected behavior**

The tab should to load properly.

**Steps to reproduce the behavior:**
1. open a zim file
2. click on the tab overview button
3. open "History" from the overflow menu
4. press back

**Screenshots**
![ezgif com-video-to-gif 5](https://user-images.githubusercontent.com/32238

[2019-01-08 21:27] siddharth2010 opened #910 "Change activity transition style for mode change (from dark to light and vice versa)"
**Is your feature request related to a problem? Please describe.**

Right now we are using slide animations all throughout the app. However for mode change (from light to dark, and vice versa), the fade transition should be a much better option.

Here's the current animation for mode change:
![ezgif com-video-to-gif 1](https://user-images.githubusercontent.com/32238400/50858227-d41a1c00-13b5-11e9-

[2019-01-08 21:37] siddharth2010 opened #911 "Fix aspect ratio of main banner in home screen"
**Is your feature request related to a problem? Please describe.**

when the device is rotated, the main Kiwix banner looks distorted.

Here's the screen:
![screenshot_20190109-023355](https://user-images.githubusercontent.com/32238400/50860096-0f6b1980-13bb-11e9-990e-de8d88979cf4.png)

And heres how it looks when the device is rotated:
![screenshot_20190109-024049](https://user-images.githubuserc

[2019-01-08 21:53] siddharth2010 commented on #909
A similar thing also happens when we click on the tab overview and then click on "Get Content" from the overflow menu, and then press back.

Here's the gif:
![ezgif com-video-to-gif 3](https://user-images.githubusercontent.com/32238400/50861170-e8faad80-13bd-11e9-9919-56ce738820d2.gif)

[2019-01-08 22:02] siddharth2010 opened #912 "[Question]: what is the use of the find in page option in the initial home screen?"
**Screenshots**

![screenshot_20190109-031117](https://user-images.githubusercontent.com/32238400/50860893-198e1780-13bd-11e9-8e82-a2f030ec7b67.png)

**Environment**
- Version of Kiwix Android : Version 2.3 Build 55
- Device : Samsung S6
- OS version : 7.0

[2019-01-08 23:16] siddharth2010 opened #913 "Make dialog boxes uniform for both light and dark modes"
**Describe the bug**

The "Entering External Link" Dialog box looks very different in light and dark modes.

![screenshot_20190109-044013](https://user-images.githubusercontent.com/32238400/50864807-34ff1f80-13c9-11e9-99c0-fabd425f8f6a.png)

![screenshot_20190109-044030](https://user-images.githubusercontent.com/32238400/50864812-392b3d00-13c9-11e9-810a-94af6da675ab.png)

**Expected behavior**

Th

[2019-01-08 23:39] siddharth2010 opened #914 "Zoom Level retains last value when clicked on cancel. This leads to wrong zoom value when zoom is disabled."
**Describe the bug**

when we change the value of the zoom slider and tap cancel, the slider level is still fixed to the newly set value. Therefore, when the zoom toggle is switched off, the zoom level, is initialized with the value of the slider (which now contains the wrong value). This leads to the wrong zoom level being set.

**Expected behavior**

The zoom level should reset to the last used

[2019-01-09 06:00] ARR8 commented on #915
I'm not sure what you mean. I'm referring to pages like this one: https://en.wikivoyage.org/w/index.php?title=JFK&redirect=no

[2019-01-10 17:14] ravi-kishan commented on #914
I would like to work on this issue

[2019-01-10 20:17] abdulwd commented on #914
@ravi-kishan Go ahead!

[2019-01-10 20:18] siddharth2010 commented on #914
Sure!

[2019-01-12 05:13] RajaVamsi11 commented on #910
@siddharth2010 I am interested in working this. Can you please assign me?

[2019-01-12 06:12] siddharth2010 commented on #910
@RajaVamsi11, sure. There you go.

[2019-01-12 12:19] Aditya-Sood commented on #896
Interestingly though, there are additional errors which aren't highlighted in red by android studio and don't necessarily occur always:

1. There was a `TracingController` class not found error, fixed by lowering the target and min sdk versions to 27 & 26. This occurs only for this zim, not in its absence

2. A bunch of additional lines correlating to error in some javascript files (that I couldn'

[2019-01-12 12:20] Aditya-Sood commented on #896
Are there javascript files within a zim file, to help with parsing and other stuff?

[2019-01-12 16:16] #914 closed

[2019-01-14 02:01] metal450 commented on #896
Sure, here's another I just made from a different random wiki: https://www.dropbox.com/s/dsumhpixcrohpyu/magnumpi.wikia.com.zim?dl=0

[2019-01-14 18:07] ritik2017 commented on #913
Working on it.

[2019-01-14 18:08] ritik2017 commented on #913
how should the dialog look as per the dark theme or the light theme @siddharth2010

[2019-01-15 11:22] ritik2017 commented on #913
Fixed the issue and created a pull request. Waiting for review.

[2019-01-17 15:14] PopeRigby opened #920 "[Feature Request] Add "Search Kiwix" option to context menu"
You could either set the default wiki to search (i.e. Wikipedia, Spanish Wiktionary) or have it ask you every time.

[2019-01-19 08:39] okkebal commented on #84
Why is this issue closed? This has not been fixed

[2019-01-19 08:43] okkebal opened #922 "Video not working on Huawei P Smart 2019 (Android Pie)"
On my new phone videos do not work. I just see two spinning circles on top of each other. The video controls are greyed out.

**Expected behavior**
The video should play

**Steps to reproduce the behavior:**
1. Download any TED or Crash Course file with videos
2. Use a Huawei P Smart 2019
3. Open a page with a video
4. See error

**Environment**
- Version of Kiwix Android : 2.4
- Device : Huawei P

[2019-01-19 09:01] okkebal commented on #315
This issue is opened more than a year ago and Search just keeps getting worse. I personally use Aard to seach: then, when I know the exact title of an article i type that in to kiwix and usually I can then find it on Kiwix. But that stopped working as well. Even if I type in the exact article name still nothing comes up for a lot of articles. Please reopen https://github.com/kiwix/kiwix-android/is

[2019-01-19 15:08] okkebal commented on #922
I just downgraded to 2.3 and now video works...

[2019-01-20 05:40] AnkurIngale commented on #913
In darkmode the button "Do not ask anymore" is white while others are blue.

[2019-01-20 10:39] knightcube commented on #898
Please assign this issue to someone else. I tried but could not get rid of various errors

[2019-01-20 16:18] soloturn opened #923 "add .editorconfig"
https://editorconfig.org/ makes file formatting guidlines more explicit. add one which matches the current format.

[2019-01-21 10:24] MennovdHurk commented on #84
There is some confusion: Yes the new indexed ZIM file work in the latest 2.4 version You can actually find "IBM" etc. But for some reason I cannot search "IBM" on the 2019 wikipedia 100.000 articles version. I guess these ZIM files do not have an index??

[2019-01-21 20:09] 287mdsahil commented on #910
@siddharth2010 Hello, I am new to the kiwix community. If the issue is still not solved can I work for it?

[2019-01-21 20:13] siddharth2010 commented on #910
Hi @287mdsahil , I am not sure about it.
@RajaVamsi11 , are you still working in this?

[2019-01-21 22:10] mhutti1 commented on #863
@ritik2017 We can't assign you on GitHub until you contribute a patch but consider yourself assigned.

[2019-01-21 22:12] #905 closed

[2019-01-22 06:34] 287mdsahil commented on #911
@siddharth2010 I would like to work on this issue. I am really new to this community, and I want to contribute

[2019-01-22 06:43] siddharth2010 commented on #911
Sure! Go ahead!

[2019-01-22 06:46] siddharth2010 commented on #911
I am unable to assign you as this is your first contribution, but, consider yourself assigned!

[2019-01-22 06:53] RajaVamsi11 commented on #910
@287mdsahil You can work on this issue.

[2019-01-22 08:16] ritik2017 commented on #863
Thanks @mhutti1 working to resolve the issue