[2021-12-23 07:45] cdhiraj40 commented on #2678
I tried reproducing and its definitely does not detect wifi.
seems like the old way of checking if wifi is enabled or not is not working, I tried with a new way its working perfectly.
will make PR soon.

[2021-12-23 07:48] cdhiraj40 commented on #2678
I tried reproducing and its definitely does not detect wifi.
seems like the old way of checking if wifi is enabled or not is not working, I tried with a new way it's working perfectly.
any thoughts on this? @kelson42 if approved will make PR soon :)

@suterma when wifi is detected it shows this dialog
![image](https://user-images.githubusercontent.com/75211982/147206356-a72b7dbb-5696-4cab-bef6-884

[2021-12-23 07:48] cdhiraj40 commented on #2678
I tried reproducing and its definitely does not detect wifi.
seems like the old way of checking if wifi is enabled or not is not working, I tried with a new way it's working perfectly.
any thoughts on this? @kelson42 I will make PR soon :)

@suterma when wifi is detected it shows this dialog
![image](https://user-images.githubusercontent.com/75211982/147206356-a72b7dbb-5696-4cab-bef6-884f32641c90.

[2021-12-23 09:05] cdhiraj40 commented on #2639
@kelson42 isn't this already done?
I can see greyed Zim files(size over 4GB) in the download section when I am choosing my sd card to download.

[2021-12-23 09:39] cdhiraj40 opened #2770 "Showing a dialog when clicked on close server"
Checklist for requesting a feature:
- [x] Check the issue tracker. The feature you are requesting may have already been requested.
- [x] Check if the feature does not exist on the latest developer's version.

**Is your feature request related to a problem? Please describe.**
when closing the server it directly closes it and it may have happened by mistake. As it closes the server immediately the r

[2021-12-24 02:15] heerNo1 opened #2771 "android 11 can not find my zim"
**Describe the bug**
I download zim,move to kiwix folder,but app can not find this zim.This zim can use in windows 10, so this zim is ok.I also download zim from this app , it can be read at first , then I moved it to another folder then move this zim download from app back to kiwix folder(0/android/data/org.kiwix.kiwixmobile/files/kiwix/) , this app can not find it , this is very weird.

**Expect

[2021-12-24 02:43] gouri-panda commented on #2771
@heerNo1 Can you test this on our nightly [Apk](https://download.kiwix.org/nightly/2021-12-24/dev-universal-debug.apk)?

[2021-12-24 02:43] heerNo1 commented on #2771
我已收到，会尽快回复！

[2021-12-24 04:19] gouri-panda commented on #2678
I'm not sure about this issue. @kelson42 I'm letting you decide this issue :)

[2021-12-24 04:22] heerNo1 commented on #2771
Thanks,that works.In this debug app, it can request the permission of all files access , when I allowed it , it can read the zim I put in 0/kiwik folder
thank you guys again , it helps a lot !  ｡◕‿◕｡

[2021-12-24 04:26] #2771 closed

[2021-12-24 19:58] kelson42 commented on #2678
I have a few question:
* when this regression has been introduced?
* which versions onf android are impacted?
* are we abke to reproduce the buggy behaviour described in the bug report?

[2021-12-24 20:11] kelson42 commented on #2678
@cdhiraj40 The scenario 1) works right? So what does your PR fixes? And how?

[2021-12-24 20:15] cdhiraj40 commented on #2678
when this regression has been introduced?
which versions onf android are impacted?
are we able to reproduce the buggy behaviour described in the bug report?

@kelson42 According to me, the answers are:

1. If I'm not wrong it most probably has been there for a long time as the bug is for android 10,11 and this feature was implemented, I cant find the PR, soon will link it
2. on the basis of my tes

[2021-12-24 20:18] cdhiraj40 commented on #2678
@kelson42 As of now, My PR doesn't fix anything now(there was confusion earlier ), I am working on a new implementation to find if the network connection is there or not in android OS>=10

[more info](https://developer.android.com/reference/android/net/wifi/WifiManager#getConnectionInfo())

If it will work then yes it will solve this issue of not detecting wifi, reason of not showing the dialog

[2021-12-24 20:20] kelson42 commented on #2678
This feature has been introduce 3 years ago. Android 10,11 was not a topic at that time. To me it seems that the problem has been introduced with android 10. So it never has worked on android 10+.

.... but to me this has nothing to do with this bug reports which basically says 2) does not work and @cdhiraj40 tells: 1) does not work on android10+. This seems two different problems!

[2021-12-24 20:23] cdhiraj40 commented on #2678
I think it is related to the bug report as the reason for the wifi dialog being not shown is the device used by the user.

OS version : 10

Yes the issue will be updated according the new changes

[2021-12-24 20:27] kelson42 commented on #2678
@cdhiraj40 Will make a dedicated test session tomorrow with my android10 and android11 devices. Does you PR secures it still works fine with android9-?

[2021-12-24 20:48] cdhiraj40 commented on #2678
@kelson42 Yes I have tested for Android 9 (API 28)too and it does detect wifi and network connection, so the problem indeed seems to be just for android 10 and 11.

[2021-12-24 21:14] gouri-panda commented on #2678
@kelson42 Thank you!  After confirming we should update the ticket and PR as well. I'm sorry I don't have two physical devices otherwise I tested that.

[2021-12-25 11:50] Ryonez commented on #2592
I'm really regretting deleting my old wiki zim to replace it with the update.
I've copied an 89 GB file twice and it refuses to see the file next to the other 2 it can see. I had a look at downloading it on the app, and it's guessing it'll take 17 hours. That's almost 8 times longer than it takes me to copy it from my computer over wifi. And the app has to be active for the download to continue. I

[2021-12-25 12:58] kelson42 commented on #2592
@Ryonez Does latest development version solves your problem? http://download.kiwix.org/nightly/2021-12-25/

[2021-12-27 15:00] kelson42 opened #2772 "WikiHow zim files are definitely not using the correct logos / icons"
From wikihow created by [Popolechien](https://github.com/Popolechien): openzim/wikihow#104

![Screenshot wikiHow](https://user-images.githubusercontent.com/21675885/143431429-ad04ce42-6859-4fdf-ab00-0b270533edf3.png)

[2021-12-27 15:00] kelson42 commented on #2772
Shouldn't it be in wikihow repo ?

[2021-12-27 15:00] kelson42 commented on #2772
Sorry you'll have to move it again

[2021-12-27 15:00] kelson42 commented on #2772
Could we fix it by forcing the wikiHow logo into the recipe?

[2021-12-27 15:00] kelson42 commented on #2772
But it looks like a reader/catalog issue actually as those icons are not random from the ZIM but from other ZIMs

[2021-12-27 15:00] kelson42 commented on #2772
It's probably because wikihow ZIMs uses new Illustration and no favicon

[2021-12-27 15:00] kelson42 commented on #2772
So I'd say it's a reader issue

[2021-12-27 15:00] kelson42 commented on #2772
Which ZIM file is that? Do we know if this is a problem in the `library.xml` or in Kiwix-Android?

[2021-12-27 15:00] kelson42 commented on #2772
@Popolechien thx.

[2021-12-27 15:00] kelson42 commented on #2772
Not sure how much of a reader issue that is: I'm looking at library.kiwix.org (kiwix-serve) and the WikiHow zim files show no icon at all.
![Capture d’écran 2021-11-25 à 12 19 56](https://user-images.githubusercontent.com/21675885/143432383-9bfb1a4a-7ae9-4691-aa15-fdf655734c6e.png)

[2021-12-27 15:00] kelson42 commented on #2772
@kelson42 Not sure we can move the issue across projects (from openzim/wikihow to kiwix/kiwix-android)

[2021-12-27 15:00] kelson42 commented on #2772
I will move the ticket to kiwix/kiwix-android

[2021-12-27 15:00] kelson42 commented on #2772
I don't know what else to say. Those ZIM have `Illustration_48x48` and thus no `-/favicon` entry. The library XML doesn't exposes those icons so there is no `favicon` property in those nodes.

kiwix-serve 3.1.2-5 understands there is no icon and thus displays no icon. We're aware of this ; it was discussed back in August. kiwix-android apparently isn't expecting this situation and is probably disp

[2021-12-27 15:00] kelson42 commented on #2772
@kelson42 There has only been one run so the files and file names are those in https://download.kiwix.org/zim/wikihow/

wikihow_pt_maxi_2021-10.zim
wikihow_nl_maxi_2021-10.zim
wikihow_es_maxi_2021-10.zim
wikihow_ko_maxi_2021-10.zim

Interestingly, here is another screenshot of the same series taken at a different time - the icons have changed compared to my earlier screenshot:
![Screenshot_2021112

[2021-12-27 15:00] kelson42 commented on #2772
@rgaudin yes, even 3 times now and my question stay unanswered. I need the exact filename to make my assessment.

[2021-12-27 15:00] kelson42 commented on #2772
For some reason this ticket does not move... but it should. Config looks good.

[2021-12-27 15:00] kelson42 commented on #2772
/move to kiwix/kiwix-android

[2021-12-27 15:00] kelson42 commented on #2772
No. The scraper already gets the proper icon and sets it properly. It's a *new ZIM*, using the new `Illustration_` metadata for the Icon. The problem is that the reader, which uses previous version is not aware of this. You'll notice that _old_ kiwix-serve doesn't displays it either while the current one (on dev-library) does.

[2021-12-27 15:00] kelson42 commented on #2772
have you read my comments ?

[2021-12-27 22:07] mcmordie commented on #2592
@kelson42  Had the same issue and your 12-25 nightly build worked for me.  Do you have a non-debug version?

[2021-12-28 06:35] kelson42 commented on #2592
@mcmordie soon

[2021-12-28 08:26] cdhiraj40 commented on #2678
@gouri-panda @kelson42 I researched about the issue and why the older approach was not working. I got to know that in Android Q+ we cant get this true
[code]
 that is checking if wifi has an active connection or not without location permission and location mode turned on. [here](https://issuetracker.google.com/issues/136021574)
 Once I turned on the location it works and detects so now we have 2 s

[2021-12-30 08:18] AdiAr11 commented on #2723
@Rigzbot please continue with this issue, there are so many things going on, so I won't be able to work on it for a few more days. Very Sorry !!

[2021-12-30 10:12] AdiAr11 commented on #2723
@Rigzbot @Popolechien has assigned you !

[2021-12-30 12:27] dracula145 commented on #2723
Is this issue still open?

[2021-12-30 12:29] dracula145 commented on #2723
Can i work on it?

[2021-12-30 13:49] #2756 closed

[2021-12-30 14:06] Popolechien commented on #2723
@dracula145 I've just assigned @Rigzbot, let him have a first pass.

[2022-01-01 11:29] cdhiraj40 commented on #2723
Hey @Rigzbot, there will be some violations listed above this message try fixing them. If more errors then you can try joining the [slack](https://join.slack.com/t/kiwixoffline/shared_invite/zt-c5fgl342-VDYtm7fwY6w0BAeBqYxIGg) and message me I will sure help :)

[2022-01-03 20:50] kelson42 commented on #2728
Fixed with #2743

[2022-01-03 20:50] #2728 closed

[2022-01-03 20:53] kelson42 commented on #2606
@Rigzbot @AayushSolanki Does one of you work on this ticket?

[2022-01-04 17:26] AayushSolanki commented on #2606
@kelson42 not yet but i would like to work

[2022-01-04 18:03] kelson42 commented on #2606
@AayushSolanki Please do a PR

[2022-01-07 04:47] Rishavgupta12345 commented on #2770
can i work on this issue

[2022-01-08 23:24] Moosss88 commented on #2592
I know the answer is not that good but
I tried many things
What worked for me is to download the old version
kiwix-2-5-3.apk
From other site but you have to delete the not working one first then click on the left 3 dots then the + downthere then you will see your file

[2022-01-09 05:25] Rishavgupta12345 commented on #1602
Hello! May I know what exactly has to be done in order to solve this issue and how to proceed as well?

[2022-01-10 12:52] gouri-panda commented on #2770
@Rishavgupta12345  it's not discussed yet. @cdhiraj40  I don't think it's necessary. User can simply reconnecting the service by clicking one button(Start Server) and the other side of the device or user won't even notice if they are static. @kelson42  What do you think?

[2022-01-10 13:12] cdhiraj40 commented on #2770
if it works like that then i agree on this being unnecessary but i will still check once and verify you again.

[2022-01-18 19:14] puranjayK commented on #2671
Hi @kelson42 , I would like to work on this issue. However I'm a newbie here so could you guide me with this issue?

[2022-01-18 19:33] kelson42 commented on #2671
@puranjayK OK, but what isnthe root cause? How do you plan to fix the problem?

[2022-01-19 07:30] puranjayK commented on #2671
@kelson42 I'm a newbie, so i don't have much idea what about this. Could u guide me where I need to start from and if I should even take this issue?

[2022-01-19 07:36] kelson42 commented on #2671
@puranjayK This is not a programming lesson here. Either you have a clue how to fix it and you take it and if you have technical questions we might then help. But you need to know first what you have to do. All the necessary information should be available in the `README.md` to start with.

[2022-01-19 13:05] puranjayK commented on #2671
@kelson42  I might have come out wrong but I wasn't asking for progamming lessons.
I meant I'm new to this org so can you help me from where I should begin for this issue?

[2022-01-20 19:41] vivek-gite opened #2777 "convert UserAgentInterceptor.java to Kotlin"
Parent issue: #1826

**What changes you will do:**
Convert UserAgentInterceptor Java file to Kotlin

[2022-01-21 11:21] vivek-gite commented on #2777
@kelson42 Please review my PR.

[2022-01-23 18:26] airpods69 commented on #2671
well I'd like to work on this issue
might take 2-3 days cause i still need to look at the source code (downloaded it and got graddle working but its kinda late here for now and i got some classes)

also its funny (Varenyam Bhardwaj here)

[2022-01-23 22:12] airpods69 commented on #2671
![image](https://user-images.githubusercontent.com/65490150/150699707-1723201e-0396-4682-a622-3fa405bb4242.png)
Seems like the "?" does something weird and messes up the URL for some reason

[2022-01-23 22:14] airpods69 commented on #2671
also im so sorry @puranjayK I totally ignored the fact that you wanted to work on this issue!

[2022-01-24 08:13] cdhiraj40 commented on #2671
@airpods69 could you tell me where you got the article which had this  ``?``so that I can reproduce and see if I get something :)

[2022-01-24 08:23] airpods69 commented on #2671
found it in the wikipedia (the simplified english one i forgot the name ;-;)
search for rihana then scroll down and look for the loud album
open it and you should find the article with a "?" in it

[2022-01-24 09:05] cdhiraj40 commented on #2671
Thanks @airpods69 telling me the file name. @kelson42 seems like the content doesn't exist in the kiwix library itself so it can't find it which results in not opening the next article
for eg:
http://library.kiwix.org/wikipedia_en_simple_all_maxi_2022-01/A/What's_My_Name?
I don't think so if the issue is with our app

[2022-01-24 09:11] airpods69 commented on #2671
maybe it is an issue with link if you ask me (just a hunch tbh)
![image](https://user-images.githubusercontent.com/65490150/150753628-b5c3711a-90c3-43ce-be77-bb83956543c5.png)
but looking at the links it doesnt allow or even consider "?" while looking for it

and also i used the simplified wikipedia because it had a smaller download size
the person who opened the issue must have been using the com

[2022-01-24 09:19] cdhiraj40 commented on #2671
you are correct but I have noticed many times that the link with the ``?`` mark in end doesn't matter it will go to the same link
try: [link1](https://www.kiwix.org/en/support-us/code?)[link2](https://www.primevideo.com?)

I checked in complete version only that is https://download.kiwix.org/zim/wikipedia/wikipedia_en_simple_all_maxi_2022-01.zim

[2022-01-24 09:26] airpods69 commented on #2671
well no thats not the issue here

"whats my name?" does exist
instead of "?" it goes to %3F

so it doesnt exist cause its the wrong link which we are going to

replacing "?" with "%3F" should solve the issue while looking up for the link

we are looking for:
http://library.kiwix.org/wikipedia_en_simple_all_maxi_2022-01/A/What's_My_Name?

when we should be looking for:
http://library.kiwix.org/wiki

[2022-01-24 09:28] cdhiraj40 commented on #2671
okay yeah, that does solve the thing, I thought the link didn't exist. Thanks for the info ;)

[2022-01-24 09:30] airpods69 commented on #2671
yep that seems to be the case for rihana but lemme just check with the german one

[2022-01-24 09:36] airpods69 commented on #2671
actually that doesnt explain one thing

if it doesnt redirect then why does it work when the link is opened in a new tab
so that means its not a library issue right?

[2022-01-24 09:38] airpods69 commented on #2671
I am not sure how libraries work but replacing "?" with "%3F" at all occurrences when loading the URL should fix it without changing everything in the library

[2022-01-24 14:58] airpods69 commented on #2671
me and @cdhiraj40 discussed this but i thought putting it up here also would make sense so that everyone knows

![IMG_20220124_153357~2.jpg](https://user-images.githubusercontent.com/65490150/150806748-59634fd3-a250-45ea-bca1-3755a2ff4798.jpg)

something interesting that i found

[2022-01-25 22:20] Caleb13-2 opened #2779 "Unable to open ZIM files on Samsung device with Android 12"
I know that similar bugs had been reported in the past, but I think I encountered a new variant. I recently bought Samsung Galaxy Tab S7+ (part number SM-T970) and I upgraded it to Android 12 (core 4.19.113-2322000). Later, I installed Kiwix 3.4.5 via APK file, but I'm unable to open any ZIM files. It dosn't matter if they're in the tablet's internal Flash or on SD card. (Files downloaded via Kiwi

[2022-01-26 22:00] Jaifroid commented on #2671
Hi all, this is an issue we also had in Kiwix JS. Please see https://github.com/kiwix/kiwix-js/issues/806 and the PR that fixes it https://github.com/kiwix/kiwix-js/pull/807. The issue is simply that the URL needs to have any querystrings and anchors removed BEFORE it is decoded.

A URL in a ZIM article is URI-encoded by default, but it may have additionally have a querystring, or an anchor (and t

[2022-01-31 16:20] aneeshgupta25 commented on #1826
Can I work on this issue?

[2022-02-04 15:58] the-illuminatus commented on #1826
if there are still issues left then I would like to contribute to this one.

[2022-02-04 16:01] the-illuminatus commented on #2068
if this issue is still relevant and to be worked upon, I would like to contribute my bit on it.

[2022-02-04 16:13] cdhiraj40 commented on #2068
hey @the-illuminatus the pr has already been made for this issue. I will suggest you pick up another issue, if any help needed then do tell :)

[2022-02-04 16:36] the-illuminatus commented on #2068
yes please can you suggest me a issue wherein i can contribute since most of the issues have been closed and i am not able to get started with the PRs plz suggest me a issue based on good first issue.

[2022-02-04 17:35] cdhiraj40 commented on #2068
sure!

[2022-02-04 17:38] cdhiraj40 commented on #1826
hello @aneeshgupta25 and @the-illuminatus pick any java file from here https://github.com/search?p=5&q=repo%3Akiwix%2Fkiwix-android+language%3AJava&type=Code
and convert it to kotlin and make a PR!
Don't forget to check if PR for some file has already been created and if not then do create an issue for your file :)

[2022-02-04 21:41] aneeshgupta25 commented on #1826
@cdhiraj40 Thanks.. Will definitely work on it.. :)

[2022-02-05 08:18] aneeshgupta25 commented on #1826
@cdhiraj40 I am working on the templates.java file but there's this variable _"CUSTOM_APP_HAS_EMBEDDED_ZIM "_ and is initialized to  **~embed_zim~** I am not able to figure out what's **~** symbol in JAVA and about embed_zim. Can you plz guide me about this..?

[2022-02-08 17:55] ru2saig commented on #2779
Could you try the development version here: http://download.kiwix.org/nightly/2022-02-08/dev-universal-debug.apk? I had the same issue you had, but this debug version fixed it. I think this will be for the next stable release 3.5.6.

Warning: the screen will flash on screen updates!

[2022-02-10 19:32] Caleb13-2 commented on #2779
Yes, it works fine with the development version. Kiwix even automatically found all the ZIM files on the SD card. Thanks.

[2022-02-12 00:54] ChronosNoob opened #2784 "Filesystem Support"
I have a Nokia 2.4 and they have decided that their phones cannot support any filesystem other than fat32. I bought an SD card for use with this app. Then I find out that you can't download files over 4GB, due to restrictions in the filesystem. Is there any way you could make it so the app splits downloads into parts or something so I can download what I need to?

Thanks in advance for any advice

[2022-02-20 19:47] cyberpunxrded commented on #2784
This is not an issue with the App itself. Doing some digging, it is an issue in Android itself (some say licensing for ext systems, some say problem with certain Apps).

For some reason when Android is interacting with an SD and certain Apps it will default the filesystem as FAT. The only solution I have seen proposed online is:

"If you want to use ext4 on your sd-card and your phone is rooted th

[2022-02-20 21:57] cyberpunxrded commented on #2639
Speaking of greyed out download link issues.....

For some reason the App treated my SD card/Thumb Stick as a FAT32 storage device with 4GB limitation when it is not. (Don't know if this is an Android exFAT licensing issue: Using a Oneplus 6+ exFAT formatted Thumb Stick)

 For some reason this all cleared up when I manually downloaded a >4GB ZIM from my PC to the main directory of the SD card.

 S

[2022-02-24 18:30] Archenoth commented on #2709
@cdhiraj40, @4shutosh An example of this behavior can be seen in the [Zimgit post-disaster library](https://download.kiwix.org/zim/other/zimgit-post-disaster_en_2022-01.zim). This zim file in particular is just one article filled with PDF links, all which appear to fail to open on Android in general.

[2022-02-25 12:38] samuk commented on #2709
What would really work for me is a bundled .[PDF viewer](https://f-droid.org/en/packages/com.gsnathan.pdfviewer/) which just opened .pdf's. Would that be a lot  of work?

[2022-02-25 13:40] cjohnsto-nz commented on #2709
PDF readers are incredibly feature rich. The functionality to pass through to another app is already there. It just doesn't seem to actually pass the file.
________________________________
From: samuk ***@***.***>
Sent: Saturday, February 26, 2022 1:38:42 AM
To: kiwix/kiwix-android ***@***.***>
Cc: Chris Johnstone ***@***.***>; Mention ***@***.***>
Subject: Re: [kiwix/kiwix-android] PDF files acce

[2022-02-25 13:55] samuk commented on #2709
Yes, it does assume that the user has a .pdf reader though. My use case would be offline, where the user may not have a .pdf reader. The intention is to install kiwix.apk from a SD card. I just need to add another step  to get the user to install pdfreader.apk first.

[2022-02-25 15:09] LAfricain opened #2785 "How to use big zim on sdcards?"
It's not exactly a bug. I want to use wikisource on an sdcard, it's 12Giga big. Impossible to copy it on the sd.
Any idea?

[2022-02-25 15:17] kelson42 commented on #2785
@LAfricain what is exactly the problem with copying 12GB on the SD card?

[2022-02-25 18:33] LAfricain commented on #2785
Fat32 doesn't accept big files. I tried to split it but it's not working (I don't know why).

[2022-02-25 19:01] kelson42 commented on #2785
There no recommended solution to use big ZIM files with fat32. ExFAT or any modern (and supported) filesystem shoukd be used.

[2022-02-25 19:01] #2785 closed

[2022-02-25 19:53] LAfricain commented on #2785
Is exfat supported by android?

[2022-02-25 20:43] kelson42 commented on #2785
It depends of the carrier. Samsung always does and now that exfat driver has been freed by MS, theoritically all new Android could support it.

[2022-02-25 22:30] jgoerzen commented on #2766
Could the f-droid like be removed from the website then?

[2022-02-26 10:54] LAfricain commented on #2785
It's working with exfat, that you!

[2022-02-27 06:41] jgoerzen opened #2786 "Most downloads work, but "Low-Tech Magazine" downloads and disappears"
Most downloads are working fine; the file downloads and then is visible in the library.

However, for "Low-tech Magazine", the file downloads, I get the usual "complete" confirmation, and then is NOT visible in the library.  The Android Settings -> Apps confirms that it is using storage space, but it can't be opened, or deleted, or seen in any way.  If I try to download it again, the download comp

[2022-02-27 07:03] gouri-panda commented on #2786
@jgoerzen Which version app are you  using? Is it latest version of ours?

[2022-02-27 14:07] jgoerzen commented on #2786
It's 3.4.4 from the Play store.  (The version on f-droid seemed to be outdated.)

[2022-02-27 14:58] jgoerzen commented on #2786
I also tried the 3.4.5 apk from GitHub and it behaves the same. Just that one ZIM exhibits the issue
--
Sent from a mobile device. Please excuse my brevity.

Feb 27, 2022 1:08:50 AM gouri-panda ***@***.***>:

[2022-02-27 16:36] KolyaKorruptis opened #2787 "ZIM files copied into Kiwix storage dir never get listed in the app"
Also mentioned here: #2676

Due to Kiwix instable download mechanic, (which I won't get into here), I eventually downloaded my ZIM files on desktop and then moved them to my phone, into the same dir where other ZIM files already exist and newly downloaded ones appear.
But ZIM files added this way never show up in the app. I tried restarting the app and the phone.
Placing the ZIM files into externa

[2022-02-27 16:42] gouri-panda commented on #2787
@KolyaKorruptis  Can you try 3.4.5 version of our app? I hope it solves your problem!

[2022-02-27 16:57] KolyaKorruptis commented on #2787
Just installed 3.4.5 from the releases here. Same problem persists. Only ZIM files downloaded via the Kiwix app are listed. Other ZIM files that sit right next to them do not show up. Again tried restarting the app and the phone to no avail.

[2022-02-27 17:13] KolyaKorruptis commented on #2787
**Log file**
[logs1645981751321.txt](https://github.com/kiwix/kiwix-android/files/8149072/logs1645981751321.txt)

**Screenshot**
![Screenshot_20220227-181229_Total Commander](https://user-images.githubusercontent.com/4076947/155892326-29a2c636-97f6-47c8-aff2-f77f6473907c.jpg)

[2022-02-27 17:34] gouri-panda commented on #2787
@KolyaKorruptis  I'm wondering did you somehow revoke the storage permission? If, so you have to give the app all files storage permission.

[2022-02-27 17:43] KolyaKorruptis commented on #2787
Kiwix 3.4.5 Build: 7230405 has the permission: **Files and Media** which I guess is the one you're referring to. I confirmed this in Android's app info. I could not find storage permission in the settings.

[2022-02-27 17:51] gouri-panda commented on #2787
@KolyaKorruptis here ![Screenshot_2022-02-27-23-19-17-93_924282dd390cc14aae1af1e29436bb16.jpg](https://user-images.githubusercontent.com/43576162/155893626-7ecf30e4-a0d4-46ff-896f-b51726864416.jpg)

[2022-02-27 17:53] KolyaKorruptis commented on #2787
Yeah, I don't have that.![Screenshot_20220227-185218_Kiwix.jpg](https://user-images.githubusercontent.com/4076947/155893732-c876c012-096f-4fc0-9236-3fdffeea3481.jpg)

[2022-02-27 17:59] KolyaKorruptis commented on #2787
Are you on the same version @gouri-panda?

[2022-02-27 20:07] gouri-panda commented on #2787
I have same APK version as yours. If it doesn't hurt , Can you reinstall the APK? We will investigate further why the permission preference doesn't show in your case? Thanks!

[2022-02-27 21:13] KolyaKorruptis commented on #2787
I uninstalled Kiwix, re-downloaded the universal release 3.4.5, installed it. Upon starting the app I got a system request whether to allow the permission for Files and Media. Just like the first I installed Kiwix, I approved that permission.

Now there is still no setting in Kiwix for Permissions as seen in @gouri-panda's screenshot. Also still only ZIM files that I downloaded via Kiwix itself ar

[2022-02-27 21:23] KolyaKorruptis commented on #2787
[logs1645996746343.txt](https://github.com/kiwix/kiwix-android/files/8149463/logs1645996746343.txt)

[2022-02-28 11:13] mbe57 commented on #2592
2.5.3 does not help on my Huawei M5 tablet - Android 9.
And 3.4.5 sucks, too.
There is a busy icon circling for hours, but not finding 3 HUUUGE ZIMs in /extSD/Kiwix.
I have sent error reports via Kiwix App.

[2022-03-01 06:54] ITCMD commented on #2085
Bumping this, sadly Kiwix is incompatible with most android devices since it doesn't support split ZIM files anymore and 4GB is the file size limit for SD cards with android (as they do not support ext3,4, exfat, or ntfs)

[2022-03-01 07:30] kelson42 commented on #2085
Most of the the latest smartphones and tablets support exFAT file system.
Source: https://frameboxxindore.com/android/best-answer-do-android-phones-support-exfat.html

[2022-03-01 22:46] ITCMD commented on #2085
This is true, but my point still stands that most do not, especially since I wouldnt want to spend money on a flagship device for a wikipedia box.

I get it though, gotta pick and choose where volunteer time goes. The alternative I've discovered is hosting it on a pi-zero-w and accessing that via an old tablet.

[2022-03-04 16:04] Popolechien opened #2788 "Unable to open Nautilus-based zim files (with PDFs)"
There are several files that have been generated via nautilus and consist of PDF files (see, e.g. [this](https://library.kiwix.org/zimgit-post-disaster_en_2022-01) or [that](https://library.kiwix.org/mesptitesquestions_fr_2022-01)).

When trying to open these files I always get an error message "unable to open". Seems a regression to me as it used to work (or even did when I opened [this ticket](.

[2022-03-04 21:54] Archenoth commented on #2709
So, I decided to take a look at this to maybe get more information about what's happening here to hopefully help a little, and it looks like all of the content URLs in pages [are prefixed with `https://kiwix.app/`](https://github.com/kiwix/kiwix-android/blob/develop/core/src/main/java/org/kiwix/kiwixmobile/core/reader/ZimFileReader.kt#L248), and later handled by the internal reader

But when the U

[2022-03-05 10:06] bahbarnett commented on #2787
Same problem, S22 + Android 12.

NOTE: A thought.  I don't know of another app quite like this, which maintains a database and must have files added to that database to be usable.

EG, I have book readers which just show a list of files, and I can click to open them.  I have OOo docs which I can just open from a file picker as well.

I know you guys want to present a nice interface, but at the sam

[2022-03-05 10:18] bahbarnett commented on #2787
I found a copy of 3.4.4 on another phone, copied it over, and not only did it see files in the kiwix dirm but it also found other files on my SD card.  So 3.4.5 is broken for me, 3.4.4 works, on S22 + Android 12.

[2022-03-05 10:51] KolyaKorruptis commented on #2787
For what it's worth I can confirm the weirdly long display of the loading spinner.

Also since my SDCard which was formatted as FAT couldn't hold the huge ZIM files (FAT has a 4GB file size limit) I re-formatted the card on the phone. Android didn't say which file system it used, but I was able to copy the ZIM files onto it after.

Something else changed with this format: Now no app can access the

[2022-03-06 16:01] Incognito commented on #2684
For the curious, I also have this issue. Attached is a video recording. Using the app directly from the play store.

https://user-images.githubusercontent.com/379322/156931095-e3b79baa-dd6f-4498-b27d-9941d0bd2963.mp4

[2022-03-08 08:20] samuk opened #2789 "Requested URL cannot be loaded as service workers are not supported here."
**Describe the bug**
This error appears requested URL cannot be loaded as service workers are not supported here.
**Expected behavior**
View https://twitter.com/KiwixOffline/status/1500761820818194437 resource
**Steps to reproduce the behavior:**
1. install kiwix android
2. Download Military medicine'
3. Try to open file in Kiwix Android

**Environment**
- Version of Kiwix Android :
- Device : Sam

[2022-03-09 17:56] bip7686 commented on #2671
org.kiwix.kiwixmobile.core.main.CoreWebViewClient in line 143 the url "https://kiwix.app/A/What's_My_Name?" is not encoded. So that would mean that the url is decoded somewhere else? I was not able to find the place where the actual request is done.

[2022-03-13 21:47] samuk commented on #2709
So it just needs to be re-written to something like; file:///I/files/Emergency%20Preparedness%20(1).pdf

Or is it more complicated than that, for some reason I'm missing?

[2022-03-14 17:54] Archenoth commented on #2709
Since I don't think the files are ever extracted from the zim, I think that means that the links need to be replaced with `content://` URLs and that there needs to be a [ContentProvider](https://developer.android.com/guide/topics/providers/content-provider-creating) to serve it from. I could be wrong though!

I'm not really an Android dev (or know Kotlin), so I'm not sure how difficult that would

[2022-03-14 20:47] Archenoth commented on #2788
Issue #2709 is related.

The tl;dr in there is that it seems as though internal media [gets content URLs that are "https://kiwix.app/"](https://github.com/kiwix/kiwix-android/blob/develop/core/src/main/java/org/kiwix/kiwixmobile/core/reader/ZimFileReader.kt#L248) followed by the internal filepath. External readers try to resolve this as an actual hostname and fail.

It seems commits 3a2ac5f064f7da

[2022-03-23 15:47] petrarca-arezzo commented on #2766
I just want to support the wish to see kiwix being available (and mostly up-to-date) on the free F-Droid. Some people don't have Google on their Android and rely on F-Droid.

[2022-03-25 21:27] sobaee opened #2790 "Difference between Wikipedia en medicine and medicine maxi zim libraries"
Hello dear developers

I need to know the difference between 2 wikipedia english medicine zim libraries founded beside each other

There is a very big difference in size

Is it worth to download the 7 gb file?

See this picture:
![Screenshot_20220326002229](https://user-images.githubusercontent.com/65910585/160202974-f4c3fb2c-4def-477f-b633-86f5eb0bd361.jpg)

[2022-03-26 06:25] kelson42 commented on #2790
The biggest one can have audio/video content

[2022-03-26 06:25] #2790 closed

[2022-03-30 07:30] kelson42 opened #2791 "Get app validated by the Play store moderation team"

[2022-03-31 19:40] fftmp opened #2793 "Broken view of pages with "*.js" titles"
Seems, raw HTML text is shown instead of rendered page.

As an example can check on small ZIM with page 'Node.js':
https://download.kiwix.org/zim/other/archlinux_en_all_nopic_2022-03.zim
For "big" wikipedia ZIM seems all other pages are broken also (backbone.js, ember.js, vue.js).
These pages looks OK on linux version of kiwix.

**Screenshots**
![Kiwix_nodeJS](https://user-images.githubusercontent

[2022-04-01 02:12] H-P-W opened #2794 "Where are bookmarks stored?"
Forgive the lack of formatting.
I bricked my device but was able to backup the basic filesystem including a Kiwix folder, but I can't find any reference to the bookmarks. I had hundreds that I wish I could recover. Is there any way to access my bookmarks? Could I transfer any of the folders to a new android device and have the bookmarks show up?

Appreciate any guidance you have.

H

[2022-04-01 05:01] GPLv3-fan opened #2795 "Add a Pop-up Function to Kiwix"
**Is your feature request related to a problem? Please describe.**
I't is rather slow to search words on Kiwix as a language learner. I need to consult the Wiktionary very often and it is painfully slow to open the App manually and type letter by letter. I had to consult the Wiktionary about 80 times per day and it is time-consuming.

**Describe the solution you'd like**
Implementing a Pop-up func

[2022-04-01 06:37] kelson42 commented on #2794
@gouri-panda Can ypu help pkease here?

[2022-04-01 10:39] gouri-panda commented on #2794
@H-P-W Thank you for the report. Can you reproduce this issue? If so, please give us step by step procedure on how to produce this issue, or If you can send a Log file of the application that can help us to reproduce this issue. Thanks!

[2022-04-01 10:46] gouri-panda commented on #2795
@GPLv3-fan We have a similar type of functionality. if you select any word on your phone android gives some options. In there we have a functionality called `Search Kiwix` which lets you search the given word inside the Kiwix app or custom app of ours. Try this out! Let us know what do you think? Thank you!

[2022-04-01 14:42] GPLv3-fan commented on #2795
@gouri-panda  the "Search Kiwix" has an important flaw:

If you are using a Browser or a Book Reader and search a word (e.g. "_Biochemie_" in German) with the Kiwix App, the pop-up appears and then it does not show the desired word automatically. Instead, it shows the word that was seen before.

Here is a concrete example with the "[LibreraPro](https://play.google.com/store/apps/details?id=com.foo

[2022-04-01 15:09] gouri-panda commented on #2795
@GPLv3-fan The issue has been fixed already. Is it your latest version? If you don't have google play store services on your phone you can download the APK from [here](https://download.kiwix.org/release/kiwix-android/kiwix-3.4.5.apk).

[2022-04-01 16:05] GPLv3-fan commented on #2795
@gouri-panda  **The bug happens on the latest Apk (3.4.5) from GitHub.** The problem also happens with the previous version of Kiwix (3.4.4) downloaded via Aurora Store (Google Play front-end). Older version from F-Droid is the same.

I changed the title from Feature Request to [Bug].

 _Is it possible that the code written in Kiwix depends on Google Services to function correctly ?_

Please let m

[2022-04-01 16:31] gouri-panda commented on #2795
I'm not sure!  It should be. A lot of Huwai phone user folks complaining about intent features in the phone over the internet.
We tested a lot of devices with this feature. It works fine with this feature. If it's possible Can you test with this on your google play service phone(other phones) as well? Thanks!

[2022-04-01 17:49] GPLv3-fan commented on #2795
_Correction:_  The bug only happens with a well-known App called "Librera Reader"

Other Apps as Anki work correctly with the "Search Function" of Kiwix. It might be an specific issue of the interaction between Kiwix and Librera Reader.

Unfortunately, the author of @LibreraReader (@foobnix) seems to be in Ukraine right now. Hopefully the author and his/her family is OK. Let's not close this issue

[2022-04-04 09:29] MohitMaliFtechiz opened #2797 "Unable to save notes in android 10 and above"
**Describe the bug**

 Unable to save notes in android 10 and above

**Expected behavior**

Note Should be saved in data folder without any error.

**Steps to reproduce the behavior:**

1. After downloading ZIM file
2. Click on Note
3. When trying to save note in Android 10 and above, Toast message displayed ” Note saved ” as showing in screenshot below but note not saved.
In Logcat Showing error

[2022-04-04 11:05] gouri-panda commented on #2797
@MohitMaliFtechiz It's actually saved. If you close the dialog and then reopen it you can see your saved note.

[2022-04-04 11:47] MohitMaliFtechiz commented on #2797
Hi @gouri-panda ,

Here is my finding so far
a) on playstore build its working.
b) on develop branch its toast a wrong message as note saved but actually its fall on condition folder not exist. please refer to
code line .

https://github.com/kiwix/kiwix-android/blob/c18fc0749fb8f3cc3f688e103a9b35b5b68797c5/core/src/main/java/org/kiwix/kiwixmobile/core/main/AddNoteDialog.kt#L304
https://github.com/

[2022-04-04 11:47] MohitMaliFtechiz commented on #2797
Hi @gouri-panda ,

Here is my finding so far
a) on playstore build its working.
b) on develop branch its toast a wrong message as note saved but actually its fall on condition folder not exist. please refer to
code line .

https://github.com/kiwix/kiwix-android/blob/c18fc0749fb8f3cc3f688e103a9b35b5b68797c5/core/src/main/java/org/kiwix/kiwixmobile/core/main/AddNoteDialog.kt#L304
https://github.com/

[2022-04-04 11:54] gouri-panda commented on #2797
Hi @MohitMaliFtechiz ! Thanks for the update. On my device, it's still  working. but if you think it's possible in certain scenario then please go head raise a PR :)

[2022-04-04 12:55] gouri-panda commented on #2793
@kelson42 Do you think it's Android related?

[2022-04-04 14:39] kelson42 commented on #2793
I think this is because the mime-type given by the zim for this page is not properly handled. This problem happened in the past and there was a ticket here. What is the mime-type here?

[2022-04-04 14:43] gouri-panda commented on #2793
Is it the application or the zim file?

[2022-04-04 14:48] kelson42 commented on #2793
Duplicate of #2174

[2022-04-05 12:43] jgoerzen commented on #2786
FYI - I just tried http://download.kiwix.org/nightly/2022-03-05/ apk and although it fixes some other storage-related issues, it doesn't fix this.  I believe this is a "bug", not a "question" and is hopefully easily reproducible.  Thanks!

[2022-04-05 13:06] fftmp commented on #2793
Sorry for using old version. This is the most recent version available from f-droid now.
I tried version 3.4.5 Build: 6230405 and problem remains.
I also can't see manually downloaded ZIM files anymore (may be related to #2787 ), so check against new ZIM from library.

@kelson42, can you reopen issue? Do you need more info?

BTW, also tried v3.4.4 - can see ZIM files, but have problem with .js pag

[2022-04-05 17:15] kelson42 commented on #2786
We need to confirm here to have a repro. case.

[2022-04-05 18:09] jgoerzen commented on #2786
Sorry if I'm not quite understanding that comment - are you having trouble reproducing it?  Anything I can do to help?

[2022-04-05 21:47] LookinR commented on #2592
I have the same problem with Kiwix on my Xiaomi Redmi 9 with Android 11, MIUI 12.5.4 - this is really very unpleasant bug, because the list of downloable zim files for my native language (czech) is very short, also for my purposes are many files missing (i. e. JavaDoc) or outdated. This makes Kiwix useful only for offline Wikipedia...

I downloaded my own zim file on SD card and also copied it on

[2022-04-07 10:42] MohitMaliFtechiz commented on #2596
hi @kelson42 ,

I have tested this issue on Samsung tab A with android version 7. I am not able to replicate this , I tested with both offline and online mode both are working fine.

do you have any suggestion on this ?

[2022-04-07 10:44] kelson42 commented on #2596
@MohitMaliFtechiz Lets assume it works now
@shapeshifter910 It shoudl work, please give a try to a nighlty (apk file) from http://download.kiwix.org/nightly/ and let us know if it still does not work.

[2022-04-07 10:46] #2596 closed

[2022-04-09 19:02] virtadpt commented on #2592
I just gave the latest version a try on my tablet, using a copy of the 2021-03 .ZIM file of Wikipedia, and it seems to work now.  I was able to run a few searches and read wiki articles normally.

[2022-04-11 08:12] kelson42 commented on #2791
@MohitMaliFtechiz What is the status on this ticket? Which PR fixes it?

[2022-04-11 08:13] kelson42 commented on #2676
@MohitMaliFtechiz Sorry, but I had to add this ticket in the project.

[2022-04-11 08:15] kelson42 commented on #2690
@MohitMaliFtechiz Can you describe here please what you plan do to? I'm not sure there is anything to do honestly.

[2022-04-11 08:15] kelson42 commented on #2405
@MohitMaliFtechiz Can you explain here what you plan to do?

[2022-04-11 08:46] MohitMaliFtechiz commented on #2690
hi @kelson42 ,

I am currently switch back to ```MediaStore Api``` to move app specific folder to public directory so it can shareable to other app , also once we uninstall the app the data remain stored in memory. For internal storage i have figured it out to store and retrieve from public folder with external storage its not allow me to create folder apart from app specific so i am currently fig

[2022-04-11 08:49] MohitMaliFtechiz commented on #2676
hi @kelson42 ,

By introducing the ```MediaStore Api``` and saving on public folder should also fixed this issue too.

[2022-04-11 13:25] MohitMaliFtechiz commented on #2791
hi Kelson,

I follow up the document [(https://developer.android.com/training/data-storage/manage-all-files)] tried both alternative with [MediaStore](https://developer.android.com/reference/android/provider/MediaStore) and [Storage Access Framework](https://developer.android.com/training/data-storage/shared/documents-files) but unfortunately on andorid 11 and above scan for zim file is not workin

[2022-04-11 13:33] MohitMaliFtechiz commented on #2405
hi @kelson42 ,

I will try to optimise the search time. so that result will prompt relatively fast if that doe's resolve the issue then last solution is to add file chooser.

[2022-04-14 11:30] MohitMaliFtechiz commented on #2676
Hi ,
after merging the following pull request
https://github.com/kiwix/kiwix-android/pull/2800

we will able to read saved zim files and it will prompt on reinstalling the app. this feature will be fully working on android 11 and above while below android 11 only internal save  work while external is app specific.

[2022-04-14 11:36] MohitMaliFtechiz commented on #2784
hi @kelson42 ,

Its not possible to split zim file and download it until unless to being done on backend level.

[2022-04-15 09:57] MohitMaliFtechiz commented on #2405
hi @kelson42 ,

We have to add file picker to fix this problem , it won't take long few lines of code will resolve this issue. We can options in menu item to open file. Let me know if that solutions works for you ?

[2022-04-15 11:12] MohitMaliFtechiz commented on #2791
Hi @kelson42 ,

### Why we required MANAGE_EXTERNAL_STORAGE permission

* To scan all external memory to load zim files.

* To select a public directory on sd card in which we save our zim files in android R and above ,
if the user delete our app then all the zim files automatically deleted which he downloaded with app.

* if users download the zim file from his desktop and put into the sd card ou

[2022-04-18 12:25] kelson42 commented on #2405
@MohitMaliFtechiz Please do ao with a PR if there is no alternative. We will discuss the details and rationals asap.

[2022-04-20 08:53] MohitMaliFtechiz opened #2804 "CI/CD failing."
**Describe the bug**
CI/CD is failing.

**Expected behavior**
CI/CD should work without any issue.

[2022-04-20 08:59] kelson42 commented on #2804
Please look at #2802 and #2803 and talk with @gouri-panda

[2022-04-20 09:03] MohitMaliFtechiz commented on #2804
ok @kelson42 , let me discuss with @gouri-panda .

[2022-04-20 09:04] kelson42 commented on #2784
@ChronosNoob There is indeed no solution in view if your system does not support files larger than 4GB. Sorry.

[2022-04-20 09:04] #2784 closed

[2022-04-20 09:13] kelson42 commented on #2793
@MohitMaliFtechiz Can you please have a look to that one as well?

[2022-04-20 09:24] MohitMaliFtechiz commented on #2793
ok @kelson42 ,

[2022-04-20 12:32] #2797 closed

[2022-04-21 22:18] mhjackson123 commented on #2592
I have tried many ways to get the 90GB full wikipedia file onto my S22Ultra with no success. I tried the renaming trick suggested above with no luck. I was able to share the file via the app from a phone running Android 9 but it did not show up... I will keep trying but there must be a way to get Kiwix Android to find files stored on the phone...

[2022-04-22 10:31] MohitMaliFtechiz commented on #2793
hi @kelson42 and @fftmp ,

I tried to open archwiki on version 3.4.4 and also current develop on three devices below and above android 10. Its rendering fine , I am unable to reproduce it .  Please let me know if i am missing something. ?

[2022-04-22 14:15] Jaifroid commented on #2592
OK, I see #2800 might fix this. I'll be happy to test a nightly on my Android once merged.

[2022-04-23 11:27] fftmp commented on #2793
Just as ideas:
1. Is it possible, that kiwix use some android component to render page and this component is differ on your Android and LineageOS?
2. Is it possible, that rendered page was cached while I use old version and didn't renewed?

I check 3.4.5 on another device (with vendor preinstalled, but rooted Android 11 and custom browser) - bug reproduced.  Still can't exclude previous ideas, bec

[2022-04-23 13:10] kelson42 commented on #2793
@MohitMaliFtechiz I can reproduce the problem with Android11 on my google pixel2. Have you really zeszed with article "node.js"? I will verify if mimetype is correct in ZIM.

[2022-04-25 09:19] MohitMaliFtechiz commented on #2793
hi @kelson42 and @fftmp ,

I am able to replicate it , i was not opening node js page.

[2022-04-26 12:46] MohitMaliFtechiz commented on #2793
hi @kelson42 , @fftmp

I figured it out what's wrong with ```.js``` titles actually its case of mime mismatch , from server mime type we are getting is text/html even for ```.js``` type but on android if we fetch mime type of ```.js``` file is application/javascript. so this is can figured it out by two ways one is the correction from server end with correct mime type another on my end to code if

[2022-04-26 22:37] wbillan opened #2808 "Remove requirement to grant photo and media permission"
**Is your feature request related to a problem? Please describe.**
Currently Kiwix requires users to grant grant photo and media permission, which gives it access to all of the user's photos and videos, which has privacy implications.  The app doesn't actually need this permission as per Android scoped storage  (https://source.android.com/devices/storage/scoped) in Android 11+, as an app does not

[2022-04-28 15:18] Jaifroid commented on #2592
@LTVA1 It looks like a fix is in #2800, but that PR hasn't been merged yet, so nightly will still have the old File Access code. (I'm only a user of this app, not a developer of it, so I don't have any special insight here.)

[2022-04-28 15:43] LTVA1 commented on #2592
Upd3: after several reloads this long pagevloading diappears and all works perfect!

Although it is still nightly build, so I look forward to seeing at least this way to load custom zim files in play market app version.

[2022-04-28 17:00] LTVA1 commented on #2592
Search doesn't work — it gives the results, but when I tap any of them it just reloads current page

[2022-04-29 13:37] LTVA1 opened #2811 "Icon of custom zim file is not shown in the app"
**Describe the bug**
I made a zim file with zimwriterfs on Windows 10. When I open the kiwix desktop app and navigate to my zim file (1.9 gb), it displays its icon. However, when I put zim file to root directory of my xiaomi mi note 8 pro (Android 11, MIUI 12) and use android app nightly build from 28.04.2022, it shows up in the list without the icon.

**Expected behavior**
Obviously, I expected t

[2022-04-29 13:42] LTVA1 opened #2812 "Search inside custom zim file is not getting you to the page you want"
**Describe the bug**
I made a zim file with zimwriterfs on Windows 10. When I open the kiwix desktop app and navigate to my zim file (1.9 gb) and try to use search, it gives me the correct results, but when I use Android app and click on one of them, the app just reloads the current page and does not move to the page I need.

**Expected behavior**
Obviously, I expected the search to work and the a

[2022-04-29 13:44] LTVA1 commented on #2811
P.S. I tried to manually move one of the zim files downloaded by kiwix (iirc some Wikipedia articles selection) into root folder and it successfully displays the icon.

[2022-04-29 13:44] LTVA1 commented on #2812
P.S. I tried to manually move one of the zim files downloaded by kiwix (iirc some Wikipedia articles selection) into root folder and kiwix successfully searches and allows you to navigate to different pages of this file via search.

[2022-04-29 18:04] #2592 closed

[2022-04-29 18:04] #2676 closed

[2022-04-29 18:04] #2690 closed

[2022-04-29 18:04] #2787 closed

[2022-04-30 01:01] #2741 closed

[2022-04-30 06:24] #2405 closed

[2022-04-30 06:36] kelson42 commented on #2594
@MohitMaliFtechiz What’s up with this ticket?

[2022-04-30 06:47] kelson42 commented on #2791
@MohitMaliFtechiz What is left to do here?

[2022-04-30 08:09] gouri-panda commented on #2594
@kelson42 Looking at the Log file, the error happened because of unable to find mime type. We recently fix that bug in #2809 . Hopefully it can fix that.

[2022-04-30 08:13] MohitMaliFtechiz commented on #2791
hi @kelson42 ,

We just to justify the google play store why we need this permission , i already mentioned you the reason why its being needed just need to pass this information to google while submitting to playstore.

[2022-04-30 15:05] kelson42 commented on #2794
@gouri-panda Where do we save the bookmarks? In the Kiwix dedicated internal storage? If "yes", usually where is the path on the internal storage?

[2022-04-30 17:06] gouri-panda commented on #2794
@kelson42 We recently stores this on our application's external directory.

[2022-05-01 07:35] kelson42 commented on #2794
Thx!

[2022-05-01 07:35] #2794 closed

[2022-05-01 07:37] kelson42 commented on #2729
@MohitMaliFtechiz Have you seen this comment? Is this activated properly?

[2022-05-01 07:37] kelson42 commented on #2729
Problem handled within #2804

[2022-05-01 07:37] #2729 closed

[2022-05-01 08:14] gouri-panda commented on #2729
@kelson42 We have already tried that. It doesn't work.

[2022-05-01 08:26] kelson42 commented on #2729
@gouri-panda To bypass download.kiwix.org redirections and secure we keep using https. I have recommended yesterday to @MohitMaliFtechiz tondirectly use https://mirror.download.kiwix.org/library/library_zim.xml.

[2022-05-01 08:47] gouri-panda commented on #2729
@kelson42 I hope it works. I tested with the above `android:usesCleartextTraffic="true` , it overrides the https protocol for all url, but nothing really happened.

My second try would be customizing our network preference by overriding the url which you given.

[2022-05-01 08:52] gouri-panda commented on #2729
Maybe we are looking wrong part of the solution because Google added this protocol in Android 26. In Android 29 it works fine(previously tested)  but in Android 30 it doesn't.

[2022-05-02 11:42] MohitMaliFtechiz opened #2813 "Mime type of .js for archlinux zim file needs to fix."
**Describe the bug**
Mime type for Node.js files is ```text/html``` but needs to update as ```application/javascript```

File link :-
https://download.kiwix.org/zim/other/archlinux_en_all_nopic_2022-03.zim
For "big" wikipedia ZIM seems all other pages are broken also (backbone.js, ember.js, vue.js).

**Expected behavior**
Mime type must be ```application/javascript```

**Environment**
- Version of

[2022-05-02 11:44] MohitMaliFtechiz commented on #2793
Hi ,

I have created the [#issue2813](https://github.com/kiwix/kiwix-android/issues/2813) for this particular file since MIME type is return as ```text/html``` while must be ```application/javascript```

[2022-05-02 11:51] kelson42 commented on #2813
Should be moved to openzim/mwoffliner.

[2022-05-02 11:51] MohitMaliFtechiz opened #2814 "MIME type for Bouquineux file is wrong needs to fix."
**Describe the bug**
MIME type for Bouquineux is returning as ```text/html;``` but needs to correct as ```text/html``` without semicolon.

File Link :-  https://download.kiwix.org/zim/other/bouquineux_fr_all_2013-07.zim

**Expected behaviour**
file must return ```text/html``` without semicolon.

[2022-05-02 11:52] MohitMaliFtechiz commented on #2174
https://github.com/kiwix/kiwix-android/issues/2814

[2022-05-02 11:52] MohitMaliFtechiz commented on #2174
https://github.com/kiwix/kiwix-android/issues/2814

[2022-05-02 11:53] kelson42 commented on #2813
@MohitMaliFtechiz Do you talk about this article? http://library.kiwix.org/archlinux_en_all_nopic_2022-04/A/Node.js ? The mimetype text/html is correct then.

[2022-05-02 11:57] rgaudin commented on #2814
@MohitMaliFtechiz this doesn't look like a kiwix-android issue. Bouquineux was created using [warc2zim](https://github.com/openzim/warc2zim/) so it's probably more appropriate there.

Now on the issue itself, you should provide the URL (or path) of the Entry with which you're having difficulties.

I believe there are no entries with `text/html;` MIME types but `text/html;raw=true` is to be expecte

[2022-05-02 11:57] kelson42 commented on #2814
@MohitMaliFtechiz Mime-type with semi-colon is correct, see specification https://en.wikipedia.org/wiki/Media_type. We really uses this. You have somehow to handle it is kiwix-android.

[2022-05-02 11:59] MohitMaliFtechiz commented on #2813
Yes we are talking about that article in android js file mime type is ```application/javascript```.

[2022-05-02 12:00] kelson42 commented on #2814
@rgaudin This bouquineux ZIM file was not created wit Warc2zim... but 10 years ago with zimwriterfs.

[2022-05-02 12:01] rgaudin commented on #2814
Ah I didn't look at the date in the URL. Interestingly both uses extended MIME attributes 😉

[2022-05-02 12:06] MohitMaliFtechiz commented on #2814
hi @rgaudin @kelson42  ,
this issue was occurred  earlier where we made custom fix in android to handle particular this condition https://github.com/kiwix/kiwix-android/issues/2174.I have just removed the condition where this problem is explicitly. @kelson42 if that needs to handle at android end then we have to place filter like we were doing earlier we just cannot take directly mime type from zi

[2022-05-02 12:07] kelson42 commented on #2814
@MohitMaliFtechiz Why not just removing what is after the semi colon?

[2022-05-02 12:09] MohitMaliFtechiz commented on #2814
ok @kelson42  we can do that.

[2022-05-02 12:11] MohitMaliFtechiz commented on #2813
hi @kelson42 ,

I think i don't have access to move this issue to openzim/mwoffliner , transfer issue does not pop me up any repo.

[2022-05-02 12:12] kelson42 commented on #2814
@MohitMaliFtechiz Once fixed, please check a file like http://download.kiwix.org/zim/zimit/musictheory.net_en_all_2021-12.zim continues to displayed properly.

[2022-05-02 12:12] kelson42 commented on #2813
@MohitMaliFtechiz I will move it.

[2022-05-02 12:23] MohitMaliFtechiz commented on #2814
ok sure

[2022-05-03 04:32] #2814 closed

[2022-05-04 15:19] MohitMaliFtechiz commented on #2594
hi ,
The maximum possible size for a file on a FAT32 volume is 4 GB minus 1 byte or 4,294,967,295 bytes, SD memory in your phone is formatted as FAT32 so you limited to have files smaller than 4GB in your phone.

here are some useful link
https://forum.xda-developers.com/t/bypassing-4gb-filesize-limit-of-micro-sd-card.3799843/#:~:text=By%20default%2C%20if%20you%20format,file%20size%20limit%20of%20

[2022-05-04 15:34] kelson42 commented on #2594
@MohitMaliFtechiz I guess your analysis is based on the logcat?

[2022-05-07 18:57] kelson42 commented on #2813
@MohitMaliFtechiz The ZIM file is correct, mime-type in the ZIM is `text/html`, see:
[code]

[2022-05-07 19:16] kelson42 commented on #2813
@gouri-panda @MohitMaliFtechiz Might that be that we have the JNI doing some kind of magic with the mimetype? Is the mime-type wrong just out of the JNI? Or made wrong later?

[2022-05-07 21:10] gouri-panda commented on #2813
@kelson42 We will check that 👍

[2022-05-08 17:42] bartash commented on #2592
Just got a new phone and added a .zim of wikipedia on an sd card, but can't get kiwix to use it
Do we need to wait for a new android release to get the bug fix?

[2022-05-09 12:05] #2804 closed

[2022-05-09 13:03] kelson42 opened #2816 "Stop relying on Jfrog for libkiwix JNI & other deps"
We should reupload our current JNI content to Maeven.

Regarding rebuilding libkiwix JNI, see https://github.com/kiwix/java-libkiwix/issues/1

[2022-05-11 08:17] kelson42 opened #2817 "Use Barista from Maeven"
It has been migrated, see https://github.com/AdevintaSpain/Barista/issues/382#issuecomment-902484033

See also #2816

[2022-05-11 08:58] #2793 closed

[2022-05-11 08:58] #2813 closed

[2022-05-11 09:03] danielcudjoe23 opened #2818 "Solutions For your network 🔏"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2022-05-11 10:20] kelson42 opened #2819 "Release 3.5.0"
- [x] Secure all tickets in milestone are closed (except this one)
- [x] Update version of Kiwix Android
- [x] Update the changelog file
- [x] Secure the CI is green on git `develop`
- [x] Secure nightly build are OK
- [x] Check manually most important functionalities
- [x] Merge `develop` to `master`
- [x] Secure the CI is green on git `master`
- [x] Create a tag on git
- [x] Secure new APK is pu

[2022-05-11 10:24] #2818 closed

[2022-05-11 13:30] MohitMaliFtechiz opened #2820 "Internal Storage download not working showing pending forever on specific android 10."
**Describe the bug**
Internal Storage download not working showing pending forever on specific android 10.

**Expected behaviour**
Its should download the file without any issue.

**Steps to reproduce the behaviour:**
a) Select internal storage.
b) Download any lib.

[2022-05-11 13:59] gouri-panda opened #2821 "Test fails if no activity found"
***Logs:***
[code]

*Expected Behaviour:*
Handle Gracefully if no activity is found
**Environment**
- Version of Kiwix Android : 3.4.5
- Device : Pixel 3
- OS version : 10

[2022-05-12 10:23] MohitMaliFtechiz opened #2826 "Jcenter dependency: androidx.tonyodev.fetch2"
**Describe the bug**
We are using https://github.com/tonyofrancis/Fetch for downloading the file in our app. Its dependent on Jcenter.

I found that this library is being already moved to jitpack repo.

## https://github.com/tonyofrancis/Fetch/issues/586#issuecomment-954225519

Part of #2816

[2022-05-12 10:24] #2817 closed

[2022-05-12 10:26] MohitMaliFtechiz commented on #2826
Hi @kelson42 , I also found that this library is not maintained from past 2 year we must also started finding alternative for this library. for now we can use jitpack.

[2022-05-12 10:27] kelson42 commented on #2826
@MohitMaliFtechiz Considering the Jcenter deprecation, maybe people talk about Jitpack as an alternative. But what is Jitpack? How is that different from Jcenter or Maeven? Considering Fetch library, who has moved to Jitpack? The author of the plugin or someone else? Can we trust the code there?

In general with Fetch, it seems there is another problem: the code seems unmaintained! Is that reasona

[2022-05-12 10:36] MohitMaliFtechiz commented on #2816
https://github.com/kiwix/kiwix-android/issues/2826

[2022-05-12 10:37] MohitMaliFtechiz commented on #2826
https://github.com/kiwix/kiwix-android/issues/2816

[2022-05-12 10:43] kelson42 commented on #2826
@MohitMaliFtechiz OK, so if not too complicated, agree to use Jitpack in place JCenter for this lib. Then we could discuss its deprecation.

[2022-05-12 12:19] MohitMaliFtechiz opened #2828 "Jcenter dependency: io.objectbox:objectbox"
### Describe the bug
We are using ```io.objectbox:objectbox```  for database operations. Version we are using 2.8.1 is available on jcenter while higher version are available on maven central.

Maven Central have 3.1.3 as latest version. I am updating to this version.
https://mvnrepository.com/artifact/io.objectbox/objectbox-android

Part of #2816

[2022-05-12 12:42] MohitMaliFtechiz commented on #2828
Hi ,
I tired with version 3.1.3 lots of issue , we need to refactor code to support latest version for now i am upgrading to version 2.9.1 which is working fine.

[2022-05-12 12:42] MohitMaliFtechiz commented on #2828
Hi ,
I tired with version 3.1.3 lots of issue , we need to refactor code to support latest version for now i am upgrading to version 2.9.1 which is working fine.

[2022-05-12 12:56] MohitMaliFtechiz opened #2830 "Jcenter dependency:com.yahoo.squidb:squidb"
**Describe the bug**
We are using com.yahoo.squidb:squidb for database operations. Must move to maven central.

Part of https://github.com/kiwix/kiwix-android/issues/2816

[2022-05-12 14:04] kelson42 commented on #2828
@gouri-panda Probably, but for the moment the priority is mostly to get rid of jcenter.

[2022-05-12 14:10] kelson42 commented on #2830
This ticket is interesting https://github.com/google/j2objc/issues/325. Would it be complicated to use instead native `android.database.sqlite` ?

[2022-05-12 15:59] gouri-panda commented on #2830
We can use Room. It's Android's recommendation way to create Database. Why do we need cross platform API?

[2022-05-12 16:04] kelson42 commented on #2830
@gouri-panda The only point which is important to me is that the stroage format does not change.

[2022-05-13 08:31] MohitMaliFtechiz commented on #2830
hi @kelson42 and @gouri-panda , I have check Room database replacement it will involve lots of refactoring of code. I think we should work on refactoring in another milestone since many libraries needs to updated or replaced which are not maintained.

For now i think we can use jitpack for this library https://jitpack.io/p/yahoo/squidb

[2022-05-13 08:35] MohitMaliFtechiz opened #2831 "Jcenter dependency: com.pacioianu.david:ink-page-indicator"
**Describe the bug**
This library is only used for page indicator on intro fragment so i think best is to customised code without using this library since its only used for intro screen.

This library is also not maintained or available in maven or jitpack.

part of #2816

[2022-05-13 08:42] MohitMaliFtechiz opened #2832 "Unstable code coverage"
**Describe the bug**
We are facing issue where code coverage on android 21 and android 30 sometimes fails . So we need to figure it out how we can stable the envrionment.

**Suggestion would be**
a) Change Os to Ubuntu latest
b) only allow one max-parallel.
c) increase core
d) increase ram.

[2022-05-14 05:36] #2828 closed

[2022-05-14 06:22] #2826 closed

[2022-05-14 06:28] kelson42 commented on #2831
What is « page indicator »? I don’t really understand the feature here. Can we not simply avoid to use it?

[2022-05-14 06:32] MohitMaliFtechiz commented on #2831
hi @kelson42 ,

The page indicator only did a animation on navigation between intro pages. We can avoid it if you want well i am almost done with the change to parse it into our code.

[2022-05-14 06:34] kelson42 commented on #2831
@MohitMaliFtechiz Thx for the clarification. Lets keep it, it is not in a critical part of the app.

[2022-05-16 13:00] #2830 closed

[2022-05-16 13:27] #2820 closed

[2022-05-16 14:26] gouri-panda commented on #2816
@kelson42 Now We only depend on Jcenter for these two libraries.

[2022-05-17 13:21] MohitMaliFtechiz opened #2837 "Jcenter dependency: com.yahoo.squidb.util is missing after moving to jitpack."
**Describe the bug**
After moving com.yahoo.squidb to jitpack we have found that submodule is missing on version 2.0.0 , so we must move to higher version for which code needs to refactor.

[2022-05-17 19:30] gouri-panda opened #2839 "Mobile Network permission dialog doesn't show"
**Describe the bug**
The network permission dialog doesn't show if we re-click the download section.
**Expected behavior**
It should show permission dialog.

**Steps to reproduce the behavior:**
1. Fresh install the app or remove network permission from the settings
2. Open the app and go to the download section (you can see the network permission dialog)
3. click the 'no' option
4. click the down

[2022-05-18 04:39] kelson42 commented on #2839
@MohitMaliFtechiz @gouri-panda This seems quite critical to me because in such a scenario user can not download at all and there is nothing in the app he ca do. Right?

[2022-05-18 04:48] MohitMaliFtechiz commented on #2839
Ok @kelson , i will place fix for this bug.

[2022-05-18 04:51] gouri-panda commented on #2839
@kelson42 Yes, but if it relaunchs again, then it will show the network dialogue.

[2022-05-18 05:19] kelson42 commented on #2839
@gouri-panda Ok, but considering that ending/starting an app in Android is pretty unclear. I already see the bug reports. I think we should still fix it in `3.5.0`. Is that a regression?

[2022-05-18 07:37] gouri-panda commented on #2839
No, I don't think it's not a regression. Yes, we should fix in 3.5.

[2022-05-19 04:55] #2831 closed

[2022-05-19 12:07] gouri-panda opened #2841 "Show message if we don't have internet permission"
**Is your feature request related to a problem? Please describe.**
Currently, if the user hasn't been given network permission to download the data. The download screen is completely dark. It may confuse users about what's going on.
<img src ="https://user-images.githubusercontent.com/43576162/169288096-18e3b798-87a5-487c-83b4-b3a20256da7d.jpg" width=50% height=50%>

**Describe the solution you'd

[2022-05-19 13:16] #2832 closed

[2022-05-19 13:18] #2839 closed

[2022-05-19 20:09] Dark-Knight11 commented on #2841
Hi, I would like to work on this issue

[2022-05-19 20:48] gouri-panda commented on #2841
@Dark-Knight11 Thank you! Please go ahead!

[2022-05-20 09:32] gouri-panda commented on #2606
@cdhiraj40 Can i take this one?

[2022-05-20 09:35] gouri-panda commented on #2606
Thank you! We are waiting for you 👍

[2022-05-20 13:18] gouri-panda commented on #2618
#2844 should fix this

[2022-05-20 13:20] gouri-panda commented on #2616
#2844 should fix this

[2022-05-20 13:20] #2616 closed

[2022-05-20 13:24] gouri-panda commented on #2576
Can't reproduce anymore.

[2022-05-20 13:24] #2576 closed

[2022-05-20 17:52] #2723 closed

[2022-05-22 17:03] Dark-Knight11 commented on #2841
Hi, I looked into the issue a little bit and I'm confused about a few things.
- Unless the user specifically disables mobile data and wifi for the app, it won't lose its internet permission.
- If I disable these permissions, then on the download screen it simply shows `No Items Available`. So the enable internet settings message is expected here? because I'm not getting any blank screen here. If p

[2022-05-22 17:22] gouri-panda commented on #2841
@Dark-Knight11 Yes! If the app has internet permission but the user turned of network connection then it shows No items available (Maybe we should show network connection unavailable, it's a different issue). The objective of this issue show the app has no network connection permission. There are many way we can create this scenario.
**Steps to reproduce**

1. Fresh install the app
2. Go to downlo

[2022-05-22 20:06] NaegelC opened #2845 "Large Downloads Are Halted 3.4.5 (7230405)"
**Describe the bug**

Downloading large files like the 88.7 GB wikipedia_en_all_maxi_2022-05.zim has repeatedly failed/halted due to "UNKNOWN_HOST".

**Expected behavior**

The download should continue as normal.

**Steps to reproduce the behavior:**
1. Start a fresh session of Kiwix.
2. Go to the Download tab.
3. Use the search function and enter "wikipedia".
4. Tap on the the 88.7 GB file to beg

[2022-05-23 10:27] Inbefortus opened #2847 "Some articles can not be opened in a new tab"
- Kiwix 3.4.5
- Article: Dart (programming language)
- 2022-05 English Wikipedia

Opening "abstract classes" in a new tab leads to nothing:

![20220523_115441](https://user-images.githubusercontent.com/71934042/169799173-8df7dcbe-5327-443c-9b05-f98a088b38c9.gif)

[2022-05-23 10:30] gouri-panda commented on #2847
@Inbefortus What's the zim file name?

[2022-05-23 10:31] Inbefortus commented on #2847
@gouri-panda wikipedia_en_all_maxi_2022-05.zim
- https://farm.openzim.org/pipeline/c6a127664153b4fc9e0de626

[2022-05-23 10:41] gouri-panda commented on #2847
@Inbefortus If you can give us the log file, that would be helpful. The file is too large to download 🙂

[2022-05-23 11:07] Inbefortus commented on #2847
@gouri-panda Sure, but if you're talking about the method of getting the log via developer mode, unfortunately I don't have access to my computer at the moment.... I will send you the log as soon as I have it in my hands.

[2022-05-23 11:29] gouri-panda commented on #2847
You can access the log file with out the developer mode. Go to application -> Help -> Send diagnostic report. Make sure before that you have  produced that bug in application once more.

[2022-05-23 12:15] Inbefortus commented on #2847
@gouri-panda
[logs1653307865305.txt](https://github.com/kiwix/kiwix-android/files/8754391/logs1653307865305.txt)

[2022-05-24 12:42] MohitMaliFtechiz opened #2848 "gradle-play-publisher lib upgrade to 3.7.0"
## Describe

We are using outdated gradle-play-publisher version 2.8.0 , we should upgrade it to 3.7.0

[2022-05-24 19:03] Inbefortus opened #2849 "Not possible to jump to sections in Table of Contents containing single quote"
- Kiwix 3.4.5
- Article: List of creepypastas
- [wikipedia_en_all_maxi_2022-05.zim](https://de.wikipedia.org/wiki/Der_Patriot_(Tageszeitung))
- Log:
[logs1653416153136.txt](https://github.com/kiwix/kiwix-android/files/8765420/logs1653416153136.txt)

Selecting `Hi I'm Mary Mary` does nothing, as it contains a single quote.

![20220524_203942](https://user-images.githubusercontent.com/71934042/17010

[2022-05-26 12:47] MohitMaliFtechiz opened #2851 "Gradle plugin version is outdated needs to update to 7.1"
**Describe the bug**

Currently we are using gradle plugin version 4.0.1 which is outdated due to which many libraries updates are not compatible. So we need to upgrade it and refactor it.

[2022-05-26 12:47] MohitMaliFtechiz commented on #2848
hi @kelson42 ,

To make it upgrade to 3.7.0 , we need to upgrade gradle plugin version to 4.2.1 which not latest also so i will recommended to move to latest gradle plugin version 7.2 and its library then we need to refactor the code.  this issue is being blocked by https://github.com/kiwix/kiwix-android/issues/2851

[2022-05-27 08:23] NielsGx opened #2852 "Unable to open local zim file"
I dom't get where I should put my zim files for the app to detect them.

I tried in android/data/kiwix folder/Kiwix, like where are the zim files downloaded trough the gui, but doesn't work.

Your readme doesn't even explain this.

A bit weird for an app that is made for offline usage.
Also it's a handmade zim file with zimit, so it isn't on the download thing, obviously

thanks

[2022-05-27 08:38] kelson42 commented on #2852
@MohitMaliFtechiz Can you please help?

[2022-05-27 09:14] MohitMaliFtechiz commented on #2852
hi @NielsGx ,

Thank you for reaching out at kiwix, can you let us know which kiwix version you are using ? so i can better assist you with your problem ?

[2022-05-27 10:12] MohitMaliFtechiz opened #2853 "Removal of MANAGE_EXTERNAL_PERMISSION to approved on play store."
**Describe the bug**
Google play store only allow certain apps to access the all files access permission, such as file managers, backup and restore apps, anti-virus apps, and document management apps, or apps cannot effectively make use of the more privacy friendly [best practices](https://developer.android.com/training/data-storage#scoped-storage), such as using the [Storage Access Framework](htt

[2022-05-27 10:14] NielsGx commented on #2852
hi, it's version 3.4.5 from the android play store.

Basically I tried to put it in storage/emulated/0/Android/data/org.kiwix.kiwixmobile/files/Kiwix/myfile.zim

the file had spaces, maybe it's an issue

also I tried to open the .zim with Kiwix, through Solid Explorer. I do open with > all > Kiwix
and the app opens and on the library page the load logo is spinning but no new entry with my zim file

[2022-05-27 10:35] NielsGx commented on #2852
Actually if I force close the app then try to open the .zim through solid explorer, kiwix starts then directly crash.

[2022-05-27 11:35] MohitMaliFtechiz commented on #2853
hi @kelson42 ,

I was also checking the same scenario right now and its failing to load zim file. File not allowed to read.

[2022-05-31 07:32] MohitMaliFtechiz commented on #2819
Hi @kelson42 ,

I have created merged request on Fdroid https://gitlab.com/fdroid/fdroiddata/-/merge_requests/11122

[2022-05-31 09:05] licaon-kter commented on #1682
Where did the 7 come from? https://gitlab.com/futuretechnoworld.mohit/kiwix-fdroid/-/jobs/2526061190#L582

`Could not build app org.kiwix.kiwixmobile: Unexpected version/version code in output; APK: '3.5.0' / '7230500',  Expected: '3.5.0' / '230500'`

[2022-05-31 09:24] licaon-kter commented on #1682
Already done

[2022-05-31 09:52] licaon-kter commented on #1682
_That's not the automation you are looking for..._

Put versionCode & versionName in some file that we can grep and tag after that. Done. ;)

[2022-05-31 10:02] MohitMaliFtechiz commented on #2852
hi @NielsGx ,

can you please try 3.5.0 [kiwix apk](https://download.kiwix.org/release/kiwix-android/kiwix-3.5.0.apk).

Thanks and Regards
Mohit Mali

[2022-05-31 10:29] kelson42 opened #2857 "Consider being listed in "Second Wind" app repository"
From overview created by [mossroy](https://github.com/mossroy): kiwix/overview#66

I found that through this French blog post: https://korben.info/second-wind-fdroid.html

https://secondwind.guardianproject.info/

It's an F-Droid repo that contains only apps that work offline. It seems to me that Kiwix would be a good candidate.

From what I understand, there is no need to deploy Kiwix to another

[2022-05-31 10:29] kelson42 commented on #2857
Sounds interesting, I would tend to move this ticket to kiwix/kiwix-android. It might help us to not forget about it.

[2022-05-31 10:30] kelson42 opened #2858 "Consider being listed in "Second Wind" app repository"
From kiwix-android created by [kelson42](https://github.com/kelson42): kiwix/kiwix-android#2857

From overview created by [mossroy](https://github.com/mossroy): kiwix/overview#66

I found that through this French blog post: https://korben.info/second-wind-fdroid.html

https://secondwind.guardianproject.info/

It's an F-Droid repo that contains only apps that work offline. It seems to me that Kiwix

[2022-05-31 10:30] #2857 closed

[2022-05-31 10:30] kelson42 commented on #2858
Sounds interesting, I would tend to move this ticket to kiwix/kiwix-android. It might help us to not forget about it.

[2022-05-31 12:10] kelson42 commented on #1682
@licaon-kter And Fdroid will have something checking this periodically? You have an example of an app working like this?

[2022-05-31 12:26] kelson42 commented on #2819
Because of #2853, we have abandoned the idea to publish this version on the Play Store.

[2022-05-31 12:27] #2819 closed

[2022-05-31 12:32] kelson42 opened #2859 "Improve to 10/10 on Exodus"
Our assessment on Exodus is 9/10
https://reports.exodus-privacy.eu.org/fr/reports/org.kiwix.kiwixmobile/latest/

I would like to see if we can improve to 10/10

[2022-05-31 12:41] gouri-panda commented on #2859
`ACCESS_COARSE_LOCATION` for hosting the zim files and `ACCESS_FINE_LOCATION` for zim files transfer.

[2022-05-31 13:28] MohitMaliFtechiz opened #2860 "Publish to download.kiwix.org CI/CD failing"
**Describe the bug**
We have publish the version 3.5.0 on downoad.kiwix.org but job failed just after uploading the apk.
[code]
https://github.com/kiwix/kiwix-android/runs/6667290837?check_suite_focus=true

[2022-06-01 13:27] kelson42 commented on #2859
@gouri-panda thank you for your response. If I refer to https://developer.android.com/reference/android/Manifest.permission, I have:
* `ACCESS_COARSE_LOCATION` "Allows an app to access approximate location". I don't understand how this could be necessary for "hosting the zim files" (which I guess you mean launching a HTTP daemon and the WIFI in Hotspot mode). Would you be able to explain please to

[2022-06-01 20:46] gouri-panda commented on #2859
@kelson42 We use WI-FI for hosting zim files and sharing zim files to nearby devices. A successful WI-Fi discovery peer needs these permissions to scan for available WI-Fi peers for the purpose of establishing a connection[^1].

But starting from android 13 we can make this go away by adding this permission to our manifest.  `NEARBY_WIFI_DEVICES` allows apps to manage device's connections to nearb

[2022-06-01 22:08] gouri-panda commented on #2860
We should re-run the job and see if it reoccurs or not.

[2022-06-09 13:16] MohitMaliFtechiz opened #2861 "google play publisher upgrade to 3.7.0"
**Describe the bug**
please upgrade the google play publisher lib to support the gradle 7

[2022-06-09 13:17] MohitMaliFtechiz opened #2862 "Upgrade kotlin version to 1.4.21."
**Describe the bug**

Upgrade kotlin version to 1.4.21 to support gradle 7

[2022-06-09 13:18] MohitMaliFtechiz opened #2863 "Upgrade klint lib to 10.3.0"
**Describe the bug**
Upgrade klint lib to 10.3.0 to support gradle 7

[2022-06-09 13:19] MohitMaliFtechiz opened #2864 "Upgrade detekt lib to 1.20.0"
**Describe the bug**
Upgrade detekt lib to 1.20.0 to support gradle 7

[2022-06-09 13:23] MohitMaliFtechiz opened #2865 "jacoco lib : update and move forked project dependency to master project."
**Describe the bug**
We are using the unmaintained forked project for jacoco lib ```com.hiya:jacoco-android``` while the master project was at ```com.dicedmelon.gradle:jacoco-android``` so please update to master project as dependency.

[2022-06-09 13:25] MohitMaliFtechiz opened #2866 "codecov bash upload is depreciated update to github action runner"
**Describe the bug**
codecov bash upload is depreciated update to github action runner2

[2022-06-09 13:27] MohitMaliFtechiz opened #2867 "Upgrade project environment from java 8 to java 11"
**Describe the bug**
Upgrade project environment from java 8 to java 11

[2022-06-09 13:31] MohitMaliFtechiz opened #2868 "Create google play-store compilation flag in gradle build"
**Describe the bug**
We need to maintain ```play-store compilation ``` flag to remove the  usage of ```MANAGE_EXTERNAL_STORAGE``` permission which is causing rejection on play store upload.

[2022-06-12 20:53] assarbad commented on #2853
Hi, perhaps you can help me out regarding one issue, as I think it is related. I used to have a phone that uses Android 10 and where I could store files in `/Kiwix` on the SD card. That worked nice and I was happy with it. I simply downloaded the `.zim` files from my desktop PC and moved the files onto the SD card when updates became available.

I recently migrated to an Android 11 tablet and an A

[2022-06-13 13:18] MohitMaliFtechiz commented on #2853
Hi [assarbad](https://github.com/assarbad),

Can you please install and test the above issue on 3.5.0 on F-Droid ?
https://f-droid.org/en/packages/org.kiwix.kiwixmobile/
Thanks and Regards
Mohit Mali

[2022-06-14 20:46] assarbad commented on #2853
Thanks for the advice. **Thanks so much!** That did the job. When I installed the 3.5.0 version I was prompted to give the "all files" permission (which I did), then when I switched from internal to external storage in the app it prompted to pick a folder, which is when I picked the `Kiwix` folder on the SD card. Switching to the library it took 3-5 minutes and the installed ZIMs became visible af

[2022-06-14 21:36] gouri-panda commented on #2853
We tried twice to update that version on Google Play Store as well! But unfortunately Google doesn't let us publish the version. We'll fix that as well!

[2022-06-15 04:30] kelson42 commented on #2853
@MohitMaliFtechiz Is that normal that we use a new key to sign the app?

[2022-06-15 08:23] MohitMaliFtechiz commented on #2853
hi @kelson42 ,

I believe since F-droid build and sign apk in their CI/CD, so they are using their own keys to sign on , here @assarbad download the app from playstore then try to update it from F-droid so this might be the issue with the key.

[2022-06-15 10:58] Jaifroid commented on #2819
@kelson42 This is sad! Is there no possibility of using a file/directory picker instead of a scanner? All you really need is access to a folder where users have stored their ZIMs, which might be downloaded in-app or might be downloaded externally, transferred to the device, and then put in the appropriate folder by the user. This is the approach I use on the UWP app: the user only has to pick the

[2022-06-19 10:11] gouri-panda opened #2872 "`Field` s instance doesn't create properly in database testing"
In new version  tried ```Query.select()``` but i was getting error , I have also tried with query with parameter but that was also not working so i changed it to any()

_Originally posted by @MohitMaliFtechiz in https://github.com/kiwix/kiwix-android/pull/2838#discussion_r896790525_

[2022-06-19 12:17] kelson42 commented on #2872
@gouri-panda What is the new version you talk aboit exactly? What are the reproduction steps? Is that a regression?

[2022-06-19 12:24] #2841 closed

[2022-06-19 12:27] gouri-panda commented on #2872
@kelson42 The description was come from [this](https://github.com/kiwix/kiwix-android/pull/2838#discussion_r896790525) In #2838 we increment the squidb library version that's why . We haven't merged yet that PR, so it's not regression yet. I think it's a future bug .
cc @MohitMaliFtechiz

[2022-06-19 12:30] kelson42 commented on #2872
ok, then we should close this ticket and comment/fix the appropriate PR.

[2022-06-19 12:31] #2872 closed

[2022-06-19 20:21] gouri-panda opened #2873 "Upgrade to Kotlin 1.7.0"
**Is your feature request related to a problem? Please describe.**
A new version of kotlin has been released with stabilizes language features and brings performance improvements for the JVM.

**Describe the solution you'd like**
An upgrade to kotlin 1.7.0 with a migration run to fix any potential issues and improve the performance.

[2022-06-20 07:39] kelson42 commented on #2873
How much woek is needed her? What are the benwfits?

[2022-06-20 08:45] gouri-panda commented on #2873
Not so much, i would think!

[2022-06-20 10:03] #2848 closed

[2022-06-20 10:03] #2851 closed

[2022-06-20 10:03] #2861 closed

[2022-06-20 10:03] #2862 closed

[2022-06-20 10:03] #2863 closed

[2022-06-20 10:03] #2864 closed

[2022-06-20 10:03] #2865 closed

[2022-06-20 11:34] kelson42 commented on #2569
@gouri-panda I guess this has been fixed by #2869 ?

[2022-06-20 12:15] IzzySoft commented on #2569
I didn't check. Takes another release to be running through F-Droid's build cycle successfully to see. And there was no new release yet after merging that PR, if I'm not mistaken.

[2022-06-20 13:32] kelson42 commented on #2858
@IzzySoft You know how we could add Kiwix? It's not clear to me so far.

[2022-06-20 13:33] kelson42 commented on #2852
@NielsGx Any feedback?

[2022-06-21 14:46] #2709 closed

[2022-06-21 14:46] #2518 closed

[2022-06-21 14:46] #2788 closed

[2022-06-21 14:51] kelson42 commented on #2808
@wbillan I agree on the principle, I guess this ticket is a duplicate of #2062

[2022-06-21 14:51] #2808 closed

[2022-06-21 15:34] gouri-panda commented on #2808
+1

[2022-06-21 18:48] kelson42 commented on #2859
Why we need to "scan" for devices? The feature is only about creating a WiFi hotspot and other users access it normally via any Web browsers. I still don't understand why we need this.

[2022-06-21 18:51] kelson42 commented on #2811
@LTVA1 Do you see the icon in kiwix-serve? Are you able to share your ZIM file somewhere so we can check it? I suspect `icon.png` is not at the root of `C:/Users/%User%/Desktop/site`.

[2022-06-22 06:47] kelson42 commented on #2594
@MohitMaliFtechiz @gouri-panda  It seems to me the case is explained and there is nothing more we can do right?

[2022-06-22 06:57] kelson42 commented on #2786
@jgoerzen Sorry for the late feedback but I can not reproduce this problem. Have you tried with the latest released version 3.5.0 https://download.kiwix.org/release/kiwix-android/

[2022-06-22 07:00] kelson42 commented on #2847
@gouri-panda Have you been able to reproduce the bug?

[2022-06-22 10:05] MohitMaliFtechiz commented on #2594
Yes @kelson42 ,

We can do anything since its fat32 behaviour that can't download more then 4 gb file.

[2022-06-22 10:11] MohitMaliFtechiz opened #2875 "Improve and beautify getDecodedFileName method"
**Describe the bug**
Currently method is written as
[code]

**Expected behavior**
We can beautify and improve this piece of method code.

[2022-06-22 10:20] #2594 closed

[2022-06-22 12:48] MohitMaliFtechiz commented on #2062
Hi @kelson42 , @gouri-panda

### Playstore Compilation
- > In current changes that we have done on play store compilation we can get rid  of ```READ/WRITE Permission ``` for android 11 and above since we are using app specific storage for reading and writing .
- > For Below android 11, we do requires this READ/WRITE permission but if we move to request ```WRITE ``` permission seperately need to re

[2022-06-22 13:02] MohitMaliFtechiz commented on #1682
hi @licaon-kter ,

So basically we need to host file which pointed to the latest versioncode , versionname and tag , similar like https://ota.koreader.rocks/koreader-android-fdroid-latest is that correct  ?

@kelson42 how we can host this file on download.kiwix.org?

[2022-06-22 13:15] licaon-kter commented on #1682
@MohitMaliFtechiz versionName and Code only, and have versionCode match Tag

[2022-06-22 13:22] MohitMaliFtechiz commented on #1682
Hi @licaon-kter one more question can we include file on our git repo with this information will that work too ?

[2022-06-22 13:22] kelson42 commented on #1682
@MohitMaliFtechiz I would do it directly in git. OK?

[2022-06-22 13:29] licaon-kter commented on #1682
Yes :)

[2022-06-23 09:19] MohitMaliFtechiz commented on #1682
ok

[2022-06-23 10:16] #2860 closed

[2022-06-23 12:14] CorallusCaninus commented on #2594
Hi, the SD card is formatted using NTFS. The problem has been solved for me using the latest version of Kiwix.

[2022-06-23 13:19] kelson42 commented on #2062
@MohitMaliFtechiz Please consider #1739 as well. If a picture is saved in a directory which is not easily accessible, it does not help.

[2022-06-23 13:36] MohitMaliFtechiz commented on #2062
hi ,

I have included the fix for ```Playstore Compilation``` for android 11 and above to remove ```READ/WRITE``` permission in https://github.com/kiwix/kiwix-android/pull/2870. I will wait for discussion for below android 11 fix.

[2022-06-23 13:40] MohitMaliFtechiz commented on #2845
hi @kelson42 ,

This is due to network fluctuation , so basically its network issue we can increase Read and Write timeout and autoRetryMaxAttempts. Let me know if that helps.

[2022-06-23 13:41] MohitMaliFtechiz commented on #2786
hi @kelson42 and @jgoerzen ,

I am also not able to replicate the problem.

[2022-06-23 14:03] jgoerzen commented on #2786
Looks to be solved now for me!  Thanks!

[2022-06-23 16:12] #2786 closed

[2022-06-24 06:36] MohitMaliFtechiz commented on #2845
hi @kelson42 ,

Current  autoRetryMaxAttempts = 10 and  Read and Write timeout is default as 20 sec

[2022-06-24 09:54] kelson42 commented on #2845
@MohitMaliFtechiz So after 200s failing, there is an error? Even if there is no network at all?

[2022-06-24 11:20] MohitMaliFtechiz commented on #2845
yes @kelson42 , there was error as ```UNKNOWN HOST```

[2022-06-24 12:11] MohitMaliFtechiz commented on #2730
Hi,

This scenario was crashing on android 9 and android 8, I have placed the fix.

[2022-06-24 14:51] kelson42 commented on #2845
@MohitMaliFtechiz If there is no network at all, it just not zry to download. I'm sure Android providrs an API to know that.

[2022-06-25 17:40] kelson42 commented on #2873
OK, putting in the next release.

[2022-06-26 10:59] asereze opened #2882 "The app gives me an error message whenever I try to open pdf files inside zim ones (Kiwix 3.5.0)"
**Describe the bug**
I've downloaded and tried many zim files from the app, but some of them, the ones with PDFs inside, give me error messages. Every time I click on one of them (for example, the pic is from the "Post Disaster Resource Library") the app tells me that I don't have an app installed for that kind of data, while I do.

**Expected behavior**
I expected to be able to open the different

[2022-06-26 11:18] kelson42 commented on #2882
@asereze Thank you for your bug report. A few days ago, in the development branch, many bugs related to PDF handling have been fixed. Woukd you be able to give a try with latest nightly? http://download.kiwix.org/nightly/2022-06-26/dev-universal-debug.apk

[2022-06-27 09:53] MohitMaliFtechiz commented on #2845
hi @kelson42 ,

Yes there is check for no network and yes we can add this strategy to retry and prompt message to user.

[2022-06-27 12:17] #2755 closed

[2022-06-27 12:37] kelson42 opened #2883 "codecov/patch almost systematicaly fails in CI"
With #2874, we have now the ability to have a fine grained Codecov configuration at https://github.com/kiwix/kiwix-android/blob/develop/.codecov.yml.

It is as well configured in a way that this is not too sensitive. But still, codecov/patch almost systematicaly fails in CI to the contrary to
codecov/project.

This means that the code added in the PR is not tested enough (at leas from a perspectiv

[2022-06-27 12:39] kelson42 commented on #2883
@MohitMaliFtechiz @gouri-panda What do you propose to do? What would be the best approach to on one side garanty a good code quality, on the other side to have green CI... but without having to do sillly test code.

[2022-06-27 13:36] kelson42 commented on #2882
@MohitMaliFtechiz Please have a look to this ticket. Maybe you already have fixed it.

[2022-06-27 13:36] kelson42 commented on #2852
No feedback, I have to close this ticket.

[2022-06-27 13:36] #2852 closed

[2022-06-27 14:21] gouri-panda commented on #2883
@kelson42 I don't think it's possible with out test code. In code coverage we are measuring codes in project and patches by test codes. My solution would be add test cases in necessary PR's in order to get green CI. This will be a burden in short run but in a long run it will add great value to our project. @MohitMaliFtechiz What do you think?

[2022-06-27 18:23] asereze commented on #2882
Yes, I tried it right now and with that version it works!

[2022-06-27 19:20] #2868 closed

[2022-06-27 19:47] #2837 closed

[2022-06-28 04:28] kelson42 commented on #2882
@asereze Good to hear, then this bug will be fixed in next release, hopefuly to be released in July.

[2022-06-28 04:29] #2882 closed

[2022-06-28 04:54] kelson42 commented on #2569
Lets check after the next release then.

[2022-06-28 04:55] kelson42 commented on #2725
No feedback, closing ticket.

[2022-06-28 04:55] #2725 closed

[2022-06-28 05:04] kelson42 commented on #2638
This should be automatically fixed by using latest libkiwix

[2022-06-28 06:47] MohitMaliFtechiz commented on #2883
hi @gouri-panda and @kelson42 ,

For me its still uncleared how code coverage working on this project because i have seen sometime its just failed by reformatting without changing any test code and sometimes its increasing without making any addition to the file in which its indicate as increase. So for me i have to learned the parameter on which code coverage report is generated , its very unclea

[2022-06-28 10:51] MohitMaliFtechiz commented on #1682
hi @licaon-kter ,

I have just issue the PR with file containing the information can you please check once.

Thanks and Regards
Mohit Mali

[2022-06-30 16:46] opk12 opened #2886 "Back button after opening a search result closes the app"
**Describe the bug**
Pressing Back closes the app, if you have opened an article from the search result list.

**Expected behavior**
It should bring you back to the search result list.

**Steps to reproduce the behavior:**
- Open article A.
- Follow a wikilink to B.
- Press Back. It brings to A, as expected.
- Click the magnifying glass.
- Press Back. It brings to A, as expected.
- Click the magni

[2022-06-30 17:55] kelson42 commented on #2886
@opk12  I confirm the behaviour. But to me it should not go back to the search result list, but to the article A!
@MohitMaliFtechiz Could you please fix this bug? For an unknow reason, it seems that loading an article from the search, just empty the navigation history, which should not be the case.

[2022-07-01 17:19] #2845 closed

[2022-07-02 06:20] kelson42 commented on #2859
@MohitMaliFtechiz Maybe you have an explanation to my last question?

[2022-07-02 06:38] kelson42 commented on #1447
@MohitMaliFtechiz Once we benefit of the new libkiwix binding, please have a look to this ticket.

[2022-07-02 06:42] kelson42 commented on #2482
We should clarify if this is still a valid ticket.

[2022-07-02 20:38] julianharty commented on #2482
Yes, it's still happening, there are several crash clusters for this problem:

1. [java.lang.IllegalArgumentException org.kiwix.kiwixmobile.core.main.CoreMainActivity.navigate](https://play.google.com/console/u/0/developers/9116215767541857492/app/4975184706939091905/vitals/crashes/68fbf339/details?versionCode=&osVersion=&days=60), 31 occurences 20 users affected in the last 60 days.
2. [java.lang

[2022-07-02 20:39] julianharty commented on #2482
In case the following is helpful when addressing this crash, there are several current crashes in the same code module `CoreMainActivity` in the last 60 days, according to Android Vitals:

- [java.lang.NullPointerException org.kiwix.kiwixmobile.core.main.CoreMainActivity.hideTabSwitcher](https://play.google.com/console/u/0/developers/9116215767541857492/app/4975184706939091905/vitals/crashes/35277

[2022-07-03 02:30] keepChatAlive opened #2889 "This APP Performs 4GB Large File Write Test which Seriously Harms the Phone/External SDCard's Flash Memory Lifespan"
**Describe the bug**
Flash Memory's lifespan is limited, APP should not try to write a large amount of data at random interval just to test the ability to write large files.

**Expected behavior**
Large file writing test should not be performed, or only to be performed manually when there is a problem

**Steps to reproduce the behavior:**
1.I saw that big file checker file in my SDCard
2.See the f

[2022-07-03 05:20] Jaifroid commented on #2889
@keepChatAlive I completely agree. A couple of years ago, I suggested a simple solution to this problem: write a small text file in the Kiwix directory on the microSD card to indicate that the test had been done, so that it does not need to be repeated each time (https://github.com/kiwix/kiwix-android/issues/1664#issuecomment-573420698). It would seem like the obvious solution to me, and is really

[2022-07-03 05:43] Jaifroid opened #2890 "Introduce file/directory picker instead of file scanning"
Currently, the Kiwix Android app uses a file scanner to detect ZIM archives in the Android file system and on external microSD cards. However, this is problematic for a number of reasons:

* It is the main reason the [app is being rejected](https://github.com/kiwix/kiwix-android/issues/2819#issuecomment-1142067233) by the Play Store;
* The file scanning process incorporates a big file test which [

[2022-07-03 06:51] kelson42 commented on #2889
@MohitMaliFtechiz At which occasion this test is done? How often this happens?

[2022-07-03 06:58] kelson42 commented on #2890
@Jaifroid There is a filepicker already in 3.5.0.

[2022-07-03 07:04] Jaifroid commented on #2890
@kelson42 I don't have this version (due to the Play Store issue). In the Play Store version of the app, will it replace the file scanner, and allow users to access archives in the directory of their choice, with persistent permission? If so, then this issue would be fixed in the next Play Store version, when released.

[2022-07-03 07:10] kelson42 commented on #2890
We build a customised version for the PlayStore. This is the version 3.6.0. This version does not allow to read any ZIM file but only a dedicated app directory (but only the version in PLayStore, other versions work like before). This directory can be placed on the SD card. There is nothing more we can do because of Google. @MohitMaliFtechiz you confirm please?

I strongly recommend in the future

[2022-07-03 07:27] Jaifroid commented on #2890
@kelson42 OK, that's good to know. Regarding using Play Store vs F-Droid versions, I think it's important to have some Kiwix insiders testing and using regularly the Play Store version, because realistically it will be the dominant version (much though I don't like Google's quasi-monopoly...).

Maintaining the File Scanner in a separate version of the app on F-Droid could still raise privacy conce

[2022-07-03 08:03] kelson42 commented on #2889
See as well https://github.com/kiwix/libkiwix/issues/267.

[2022-07-03 09:03] keepChatAlive commented on #2889
You can read SDCard ID (in the format of AAAA-AAAA, A stands for alphanumeric characters) from its mounting path /storage/AAAA-AAAA to know if SDCard is changed.
Most modern SDCards use exfat by default and it supports large files. So maybe you don't need to detect them right away. You can add an option to let the user manually perform the check if he or she encountered problems.

[2022-07-03 09:06] keepChatAlive commented on #2889
Also the risk far outweigh the benefit to do such detections. Better let error happen than let SDCard dies after a few month. Or you can make a banner to let flash-lifespan-aware users to use the .crx zim reader. Please give back the right of informed consent to users.

[2022-07-04 11:11] Jaifroid commented on #2889
Why not simply inform the user if they are downloading an archive larger than ~4GB that they need to check that their storage is able to accept files larger than 4GB?

In any case, personally I think one 4GB test is acceptable for the given card, so long as it is not repeated again for that card. Ideally, user could allow or disallow the test as @keepChatAlive suggests - simply ask before performi

[2022-07-04 15:09] licaon-kter commented on #1682
@MohitMaliFtechiz typo aside (it's spelled F-Droid :stuck_out_tongue: ) https://github.com/kiwix/kiwix-android/pull/2885 looks good

A tentative recipe modification would be:
[code]

Ref: https://f-droid.org/docs/Build_Metadata_Reference/#UpdateCheckData

But we can be sure everything is fine after you (merge of course then) update it for next version and then tag your next version.

[2022-07-05 06:01] MohitMaliFtechiz commented on #2890
Yes I confirm, on Play-Store version we will not have file picker while F-Droid version will have this functionality.

[2022-07-05 06:38] Jaifroid commented on #2890
I don't understand what stops you using a directory picker for the Play Store version. There is no restriction on using the ACTION_OPEN_DOCUMENT_TREE intent (other than not being able to open the Root directory or the Download directory). See https://developer.android.com/training/data-storage/shared/documents-files#grant-access-directory which has code samples. As the guide says:

[2022-07-05 11:14] MohitMaliFtechiz commented on #2889
hi @kelson42  and @Jaifroid ,

I have checked the condition for this , we are saving information on ```CAN_WRITE_4GB``` and ```CANNOT_WRITE_4GB```  on ```.file_writing_result``` file currently. So basically  after first run it will check whether we can write or not and save this information on ``.file_writing_result`` file. on Second run they pull information from this file and ignore the case in

[2022-07-05 11:37] Jaifroid commented on #2889
I think @keepChatAlive would be better placed to verify that this is working as intended.

[2022-07-05 13:44] MohitMaliFtechiz commented on #2890
hi @Jaifroid , On android 11 and above cannot use it on root, download, and other app-specific folders so what is used since all Zim file will auto-populate on the app-specific folder. I tried it it's not allowed to read files while giving ``` MANAGE_EXTERNAL_PERMISSION``` it will enable reading all but this permission is being denied on play store to upload the build.

[code]

[2022-07-05 14:01] MohitMaliFtechiz commented on #2482
Hi ,

Bugs mostly occurred due to navigation one part is already fixed on  https://github.com/kiwix/kiwix-android/issues/2730 and other is being fixed by above PR.

[2022-07-06 04:25] kelson42 commented on #2482
@MohitMaliFtechiz So, each of the scenarios reported by @julianharty is fixed by these two PRs?!

[2022-07-06 06:23] MohitMaliFtechiz opened #2892 "CI job to detect Kotlin version 1.7.0 is used in project."
**Describe the bug**
We have to make sure in CI that we are using kotlin version 1.7.0 in our project to build , if fail abort the build process.

[2022-07-06 06:37] MohitMaliFtechiz commented on #2482
yes @kelson42

[2022-07-06 07:14] #2873 closed

[2022-07-06 07:20] kelson42 commented on #2482
@julianharty Thx for commenting with detailed and updated stacktraces from Google Play. This is very much appreciated because we have currently the resources to fix this kind of edge case bugs quickly thx to the additional help of @MohitMaliFtechiz. We don't have so far made a new pass on the most common crash scenarios report in the Play Store because we focus on other stuff. But if you reports n

[2022-07-06 07:33] Jaifroid commented on #2890
@MohitMaliFtechiz The Android 11 guide linked above clearly states that you don't need that permission (MANGE_EXTERNAL_PERMISSION) to use the ACTION_OPEN_DOCUMENT_TREE file picker. You don't need any system permissions at all. Yes, you can't open the root directory, but user will be told that if they attempt to open root or attempt to open Downloads. Other than that, user is free to pick directory

[2022-07-06 07:37] kelson42 commented on #2892
@MohitMaliFtechiz
* Check our Kotlin code fit this configured Kotlin version
* Report appropriatly in the CI if not matching

[2022-07-06 07:40] kelson42 opened #2894 "Release 3.6.0"
- [x] Secure all tickets in milestone are closed (except this one)
- [x] Secure latest Translatewiki translations are integrated
- [x] Update version of Kiwix Android
- [x] Update the changelog file
- [x] Secure the CI is green on git `develop`
- [x] Secure nightly build is OK
- [x] Check manually most important functionalities
- [x] Merge `develop` to `master`
- [x] Secure the CI is green on git

[2022-07-06 07:45] MohitMaliFtechiz commented on #2890
ok I will take a look once again.

[2022-07-06 11:57] MohitMaliFtechiz commented on #2859
hi @kelson42 ,

We can only get rid of these permission once we target android 13  and above  below we do requires this permission https://developer.android.com/about/versions/13/features/nearby-wifi-devices-permission. We require this permission for Peer to Peer connection https://developer.android.com/guide/topics/connectivity/wifip2p .

[2022-07-06 16:03] kelson42 commented on #2859
@MohitMaliFtechiz Ok so we should change for abdroid13+. There is no way to require only this permission when this specific feature is used? To avoid a bad note?

[2022-07-07 08:06] Popolechien opened #2895 "F-droid entry uses deprecated logo"
See here https://f-droid.org/en/packages/org.kiwix.kiwixmobile/

Correct logo to use is https://commons.wikimedia.org/wiki/File:Kiwix_logo_v3.svg

[2022-07-07 08:27] kelson42 commented on #2895
@IzzySoft This is something we should be able to configure/change via the Fastlane directory?

[2022-07-07 09:22] IzzySoft commented on #2895
@kelson42 yes: `images/icon.png` in the corresponding locale directories. And make sure you use the correct image inside the app itself (`res/drawable*` etc). Though the `icon.png` should override what#s used by the app itself, it would be a bit confusing if it looked different :wink:)

[2022-07-07 09:34] opk12 opened #2896 "Search: ability to press Enter to skip the search"
**Is your feature request related to a problem? Please describe.**
When you know the exact word of interest, the search is unnecessary. You must wait a couple seconds to search, move the finger from the keyboard to the top of the screen, tap the search result.

This is not a "bug", but I use Wiktionary as a language learning aid at home (make a lot of queries while reading) and abroad (quickly loo

[2022-07-07 09:36] opk12 opened #2897 "Search results should be ordered"
**Is your feature request related to a problem? Please describe.**
The search results are not ordered, so I need to skim the list to find the correct entry. This is especially a problem for Wiktionary, where many words are very similar to each other (share the stem).

For example, in the German `Wiktionary 2022-05-24 Pic`, searching `apf` gives `Apfelteilern` - `apfelartig` - `äpfelndern` - `Apfel

[2022-07-07 12:26] MohitMaliFtechiz commented on #2859
yes currently i have checked we are requesting this permission on runtime when specific feature is used.

[2022-07-07 13:11] kelson42 commented on #2859
@MohitMaliFtechiz OK. Can you adapt for 13+?

[2022-07-07 14:57] kelson42 commented on #1682
@licaon-kter File to catch latest version info will be available at https://download.kiwix.org/release/kiwix-android/VERSION_INFO

[2022-07-07 19:03] kelson42 opened #2898 "Nightly workflow is almost always red"

[2022-07-08 04:55] #2760 closed

[2022-07-08 05:02] #2761 closed

[2022-07-08 10:25] licaon-kter commented on #1682
We were lost in translation a bit :)

@kelson42 in my post above, it's just a bit of the recipe, the end of it.

That `UpdateCheckData` line takes the file named `RELEASE_INFO`, parses it and extracts the needed info.

At the moment when I posted that, the RELEASE_INFO file from your PR looked like [this](https://github.com/kiwix/kiwix-android/pull/2885/commits/baa054a3b99789dbf9687428bb3a77d28463

[2022-07-08 12:10] Jaifroid commented on #2890
@MohitMaliFtechiz The last bit above ("and which is created by the app itself") is not part of the restriction when using the Storage Access Framework API. The relevant part of your graphic shows this (see circled below). The user doesn't need access to root and doesn't need access to the Downloads folder. What the user needs is access to a folder of their own choosing where they'd like to store Z

[2022-07-08 12:23] MohitMaliFtechiz commented on #2890
hi @Jaifroid ,

Yes I agreed to your point that files will not lost when we uninstall the app but only those files which are downloaded from app , we can ask user to select folder which will use to download the zim files but if users just copied any zim file from external system like PC or any other app to that folder it will not work while with app specific if user can copied to its directory fro

[2022-07-08 12:38] Jaifroid commented on #2890
@MohitMaliFtechiz I don't think your interpretation is quite right here. The user can download ZIM files in their browser and add them to the selected directory, or transfer them from PC into that directory. As the graphic says, these are files "contributed by other apps", e.g. by a Web browser or file explorer application. They are files that are **_not_** in an app-specific directory. Of course

[2022-07-08 12:42] Jaifroid commented on #2890
NB Make sure you're not trying to access files from:

* The Android/data/ directory and all subdirectories.
* The Android/obb/ directory and all subdirectories.

The API doesn't give access to those locations, as it says in the guide.

[2022-07-08 13:58] MohitMaliFtechiz opened #2901 "Permissions preference needs to hide from Play-Store build."
**Describe the bug**
Since we don't require permissions for Play-Store build , this section is unnecessary so need to hide it.

[2022-07-08 14:28] MohitMaliFtechiz commented on #2890
On my current scenario , I have create zim file inside Document folder by our app and also copied one zim file from computer , after implementing the ```Storage Access Framework``` , I was able to fetch the file which my app created but the one copied is failing ok I am looking at it further

[2022-07-08 15:02] #2898 closed

[2022-07-08 15:20] licaon-kter commented on #1682
https://gitlab.com/fdroid/fdroiddata/-/commit/d764273668aa1cce93d712f444bfe319db31c5d0

Keep this open until we can check its correctness ;)

[2022-07-09 10:27] #2886 closed

[2022-07-09 13:24] MohitMaliFtechiz commented on #2892
hi @kelson42 ,

I have check the klint its being set to the latest version since we are using square which is auto installed for code style https://github.com/square/java-code-styles/blob/6cdf2144265bcc436b1f3845a6dd425410797bba/configs/codestyles/SquareAndroid.xml#L241 and this is set to kotlin official and we are using kotlin 1.7.0 so if the code is not formatted with kotlin 1.7.0 then k-lint wi

[2022-07-09 13:34] MohitMaliFtechiz commented on #2890
hi @Jaifroid ,

Just to update you I developed a two small application , app1 which is writing a file ```a.txt``` under ```Download/Kiwix``` and app2 which is writing a file ```b.txt``` under  ```Download/Kiwix``` . I am sharing my finding on below point

a) app1 can access ```a.txt``` but failed to read ```b.txt``` even its on shared storage.
b) Simlarly app2 can access ```b.txt``` but failed to

[2022-07-09 13:45] julianharty opened #2903 "An Overview of frequent failures reported by Android Vitals"
As requested by @kelson42 here's an assessment of various crashes and ANRs that are topping the charts in Android Vitals for the core Kiwix Android app. Some of these crashes may appear in some of the custom apps (WikiMed, etc.)

I'm going to focus on failures that happen frequently where there also seems to be enough information in the crash clusters or ANR clusters to provide a viable probabilit

[2022-07-09 13:47] julianharty commented on #2482
@kelson42 @MohitMaliFtechiz Happy to help, I've just created https://github.com/kiwix/kiwix-android/issues/2903 which I'll add an overview of a bunch of failures I reckon we might be able to fix relatively quickly. Of course, my estimates aren't going to be 100% accurate and some bugs may be much more awkward to address than they look to me. Let's see how much progress we can make collectively :)

[2022-07-09 14:02] kelson42 commented on #2903
@julianharty Pleade open one new bug ticket per problem. No meta ticket.

[2022-07-09 14:06] julianharty commented on #2903
I'll cover some prerequisites first. It'll be much easier to work on these issues if you (whoever's working on the issue) has direct access to Google Play Console for the family Kiwix Android apps. Ping @kelson42 if you don't have access, read-only access should be sufficient. The data being used in these bug reports are reported in Android Vitals and collected from users who are "opted-in" to [Sh

[2022-07-09 14:12] julianharty commented on #2903
A tip is to compare the results with and without various filters e.g. to filter for only production releases of the app (to help us focus on bugs that are happening to the current release(s)); and also to see if the bug is affecting any of the custom apps.

Android Vitals sometimes has multiple crash clusters for what's probably the same underlying issue so it's worth checking through several page

[2022-07-09 14:14] kelson42 commented on #2890
@MohitMaliFtechiz Is that not trivial to verify which permissions are needed by a random app?

[2022-07-09 15:00] julianharty opened #2904 "When the app is installed from outside Google Play it crashes often with UnsatisfiedLinkError for io.objectbox.NativeLibraryLoader"
I admit this may be awkward to fix, the main reason I've added it here is this crash is the most frequent one that occurs currently for production releases of the Kiwix Android when it has _not_ been installed from Google Play. It also happens less often (but still enough to appear in the top few crashes) when the app is installed from Google Play.

If we can find a way to address this problem the

[2022-07-09 15:00] julianharty commented on #2904
This is the first issue reported as part of https://github.com/kiwix/kiwix-android/issues/2903

[2022-07-09 15:15] julianharty opened #2905 "java.lang.IllegalStateException org.kiwix.kiwixmobile.core.main.CoreReaderFragment.webViewFailedLoading"
**Describe the bug**
A Java IllegalStateException occurs when the Core Reader Fragment tries to load the WebView.

|Occurrences in last 30 days in Google Play|Occurrences in last 30 days total|Total occurrences|Impacted users|URL to crash cluster|
|          ---: |          ---: |          ---: |          ---: | :---         |
|81|113|497|64|[Cluster 335f63cb](https://play.google.com/console/u/0/d

[2022-07-09 15:21] julianharty commented on #2905
This crash hasn't been reported for either of the top 2 most popular custom Android apps (Chemistry & Physics simulations) and WikiMed in English. In terms of understanding the extent of failures related to WebViews - there _are_ other exceptions related to WebViews in Kiwix Android and these custom apps, these will be reported at some point, they're sufficiently infrequent not to be in the top fe

[2022-07-09 16:06] julianharty opened #2906 "Chrome.apk crashes in Kiwix-Android and top custom apps"
**Describe the bug**
Various crashes are reported in Android Vitals for `Chrome.apk` in the Kiwix family of apps. They have a variety of offsets, it's not clear whether this means the various crashes are distinct and/or whether we could/would handle them differently depending on the specific offset, etc.

It occurs regardless of where the app was installed from (but mainly when installed from Goog

[2022-07-09 16:19] julianharty commented on #2906
Note: these crashes also occur in older releases of Kiwix Android. In the small volume of crashes reported for WikiMed in English there are 2 related crash clusters in the top 10 (filter criteria: the last 30 days for production releases installed from Google Play in the last 30 days):

- `signal 5 (SIGTRAP), code 1 (TRAP_BRKPT) Chrome.apk (offset 0x1ea7000)` which occurred 6 times.
- `signal 5 (S

[2022-07-09 17:00] julianharty commented on #2906
Other developers have faced similar crashes e.g.

- [Native crash at signal 5 / signal 11 - Chrome.apk](https://stackoverflow.com/questions/69786802/native-crash-at-signal-5-signal-11-chrome-apk)](https://stackoverflow.com/q/69786802/340175)
- [Catch WebView (chrome) crashes with lower Android API](https://stackoverflow.com/questions/56196888/catch-webview-chrome-crashes-with-lower-android-api)](h

[2022-07-09 18:21] julianharty opened #2907 "Kiwix Android: ANRs exceed bad behavior threshold for Android 10 and 11"
**Describe the bug**
Android Vitals shows that the Kiwix Android app exceeds the bad behavior threshold of 0.47%. Currently, the ANR rate is 1.06% which is an increase of 0.12% over the previous 3 months, and significantly higher than the peer group of apps which has a median of 0.05%.

**Expected behavior**
The app should be responsive on all the versions of Android the app is intended to run on.

[2022-07-09 18:21] julianharty commented on #2907
Filed based on https://github.com/kiwix/kiwix-android/issues/2903

[2022-07-09 19:54] julianharty commented on #2907
I'm curious, I get the impression this ANR is possibly related to file downloads from searching for `LibGlobalFetchLib` which is one of the threads reported here.

I'm very out of date on the Kiwix Android codebase. I can see that Fetch was integrated in 2019 by reading commit messages https://github.com/kiwix/kiwix-android/search?q=fetch&type=commits  Meanwhile it seems the Fetch project was last

[2022-07-09 20:02] julianharty commented on #2907
The ANR rate has increased steadily in the last 12 months (apart from a small drop in absolute counts in the last complete month, June 2022[^1]). Here's an extract from the relevant graph for the Kiwix app's dashboard in Google Play Console.

![Screenshot 2022-07-09 at 20 59 35](https://user-images.githubusercontent.com/785891/178120850-afd73dc8-0010-4dcf-ac60-002cb128dfbc.png)

[^1]: The apparent

[2022-07-09 20:07] julianharty opened #2908 "QQ: Do we include the Fetch downloader in the custom apps?"
I noticed Fetch appears in the credits for the custom apps (if I've understood https://github.com/kiwix/kiwix-android/blob/19a70529f481909ff78ab7c879d9c85ceaeed304/custom/src/main/assets/credits.html correctly). I'd expect the Fetch library would only be used in the core Kiwix app and not be part of the custom apps. If it is, perhaps we could remove it?

You're welcome to close this issue if it's

[2022-07-10 16:19] kelson42 commented on #2908
@MohitMaliFtechiz Do we include dependences that we don’t use in custom apps?

[2022-07-10 16:22] kelson42 commented on #2906
What is chrome.apk? We don’t publish such a file?!

[2022-07-10 16:25] kelson42 commented on #2904
@MohitMaliFtechiz Do you have an explanation? Would that bug be easy to fix?

[2022-07-11 14:18] #2901 closed

[2022-07-12 09:20] MohitMaliFtechiz commented on #2890
hi @kelson42 ,

if we figured it out is there is way other then ```MANAGE_EXTERNAL_PERMISSION``` which these apps is using then we can have file picker working on play store build.

[2022-07-13 07:06] Jaifroid commented on #2890
@MohitMaliFtechiz Are you sure your apps are using the DIRECTORY picker rather than the FILE picker? That behaviour, where an app has access only to one file in a directory, sounds very much like only one file was picked. If you are using a directory picker, AND you are not requesting MANAGE_EXTERNAL_PERMISSION, AND you are picking a folder external to the app's data directory, then the behaviour

[2022-07-13 07:28] julianharty commented on #2890
@MohitMaliFtechiz you mentioned you've created two small Android applications in https://github.com/kiwix/kiwix-android/issues/2890#issuecomment-1179546262 If you're able to share your code for your small test apps please can you do so e.g. in a GitHub repo? And perhaps you could also include the APK files for each of these small apps which might help @Jaifroid and anyone else use these apps easil

[2022-07-13 07:32] julianharty commented on #2890
@MohitMaliFtechiz a quick question, have you tried https://github.com/braver-tool/Android11FilePicker in combination with your two small apps? for instance, can it access the files your apps create?

[2022-07-13 13:08] MohitMaliFtechiz commented on #2890
hi @Jaifroid and @julianharty ,

I think after going through the https://github.com/braver-tool/Android11FilePicker , i understand how other apps read other file apps data on android 11 and above.
let me explain you on following points.
a) So basically what this kind of https://github.com/braver-tool/Android11FilePicker does is they just copy the file into their cache and create a ```temp file ```

[2022-07-13 14:14] julianharty commented on #2890
@MohitMaliFtechiz Thank you for investigating that project https://github.com/kiwix/kiwix-android/issues/2890#issuecomment-1183202716 I agree with you and with @kelson42 their approach is not viable for the Kiwix Android app.

Please could you share your source for your mini apps you mentioned earlier? I'd still appreciate being able to see what's happening based on your experiements.

[2022-07-13 14:23] MohitMaliFtechiz commented on #2890
Hi @julianharty ,

Link was already there on my finding let me send you again https://github.com/MohitMaliFtechiz/android-11-file-picker-demo

[2022-07-13 14:26] julianharty commented on #2890
My bad... when I read the name of the project I got the impression it was your clone of the https://github.com/braver-tool/Android11FilePicker project... Thank you :)

[2022-07-13 16:29] Jaifroid commented on #2890
@MohitMaliFtechiz I notice that the Android File Picker you are looking at depends on the READ_EXTERNAL_STORAGE permission, whereas the API we're discussing requires no austen permissions at all, because the user provides permission explicitly through a directory picker. Could you confirm whether your test code reads a directory and enumerates is contents, or whether the code picks a specific file

[2022-07-14 09:22] MohitMaliFtechiz commented on #2890
Hi @Jaifroid ,

In Demo we are granting access to Directory via file picker not specifically for file.

[2022-07-15 04:27] #2905 closed

[2022-07-16 06:26] Jaifroid commented on #2890
If the ACTION_OPEN_DOCUMENT_TREE API is set up correctly, the user should be asked to pick a directory, not a file within it. According to the [API documentation](https://developer.android.com/training/data-storage/shared/documents-files#grant-access-directory), once the directory is picked "your app can then access any file in the selected directory and any of its sub-directories".

It would be w

[2022-07-16 16:46] #1948 closed

[2022-07-19 13:15] Jaifroid commented on #2890
Thank you for trying. It's a real shame it's not working out. Maybe some sample code that makes this possible will emerge over time as devs wrestle with these APIs. I have noticed some Android apps explicitly asking me for permission to access existing files in folders, and I say yes, and they get access. But I don't know if they've managed to persuade Google to accept their use of the restricted

[2022-07-20 08:54] julianharty commented on #2907
I've been reading on SO and the following discussions *might* help us diagnose and fix these ANRs. I don't know the code in sufficient depth to determine which of these would help, your insights would be welcome.

- https://stackoverflow.com/questions/55894636/android-9-pie-context-startforegroundservice-did-not-then-call-service-star/56338570#56338570
- https://stackoverflow.com/questions/4442558

[2022-07-20 10:23] julianharty commented on #2907
Some interesting background reading on how engineers at a company called Bumble analysed and reduced their ANRs

1. https://medium.com/bumble-tech/how-we-achieved-a-6x-reduction-of-anrs-part-1-collecting-data-7c473ceb1c83
2. https://medium.com/bumble-tech/how-we-achieved-a-6x-reduction-of-anrs-part-2-fixing-anrs-24fedf9a973f

[2022-07-21 06:16] kelson42 commented on #1682
@licaon-kter Thx, so moving this ticket to the next release to check if 3.6.0 will be automatically update on F-Droid.

[2022-07-21 06:18] kelson42 commented on #2904
@MohitMaliFtechiz Any feedabck? We should avoid the crash and detect the problem earlier to have a managed exit. What can be done?

[2022-07-21 06:18] kelson42 commented on #2895
@MohitMaliFtechiz P,ease handle this ticket.

[2022-07-21 06:24] #2890 closed

[2022-07-21 08:54] MohitMaliFtechiz commented on #2895
hi @licaon-kter ,

Can you please let me know how we can update logo on F-Droid page , last release contain the right logo.

[2022-07-21 09:20] licaon-kter commented on #2895
I fail to see the issue

Al these look the same to me :shrug:
* https://commons.wikimedia.org/wiki/File:Kiwix_logo_v3.svg
* https://github.com/kiwix/kiwix-android/blob/develop/fastlane/metadata/android/en-US/images/icon.png
* https://f-droid.org/en/packages/org.kiwix.kiwixmobile/

[2022-07-21 09:23] MohitMaliFtechiz commented on #2895
hi @licaon-kter ,

On this logo https://f-droid.org/en/packages/org.kiwix.kiwixmobile/  look at feet and ball distance and compare with https://commons.wikimedia.org/wiki/File:Kiwix_logo_v3.svg.

[2022-07-21 09:46] licaon-kter commented on #2895
:) ah, so it is different

Current version 3.5.0 is based on the in-APK icon (I guess), since, at that time, the fastlane icon was not setup, right https://github.com/kiwix/kiwix-android/blob/3.5.0/fastlane/metadata/android/en-US/images/icon.png ?

I'm not sure which icon got extracted, maybe https://github.com/kiwix/kiwix-android/blob/3.5.0/app/src/main/kiwix_icon-web.png ?

Anyway, for 3.6.0 fas

[2022-07-21 13:10] MohitMaliFtechiz commented on #2904
Hi @kelson42 ,
Proper handling for this situation is being done on the above PR.

[2022-07-22 12:47] #2737 closed

[2022-07-25 08:48] yustAnotherUser opened #2916 "The SD card is not used, although I can see and select it in the options."
As I said in the title I cannot use the SD card as storage.
It will detect the sd card and it will let me choose a directory there but it won't use it. It still says internal after choosing the directory. Tried several times to change to path it doesn't care. Didn't have this problem with any other apps so I'm pretty lost here. Any tips?!

**Environment**
- Version of Kiwix Android : 3.5.0
- Devic

[2022-07-25 09:31] yustAnotherUser commented on #2916
Nevermind. A reinstall of the whole app fixed the problem. Now it won't let me select a directory anymore but at least it uses the SD card now. Probably it had some issues with it's changed directory structure as mentioned in an older post with the same problem - before it was in the root a folder called kiwix. Now after a reinstall and selecting the SD card it uses the dir SD/Android/data/org.kiw

[2022-07-26 12:55] MohitMaliFtechiz opened #2918 "Introduce android 13 CI in project"
**Describe the bug**
Configure android 13 CI configuration.

[2022-07-26 12:59] MohitMaliFtechiz commented on #2908
hi @kelson42 and @julianharty ,

We are downloading TestZim file in custom by using Fetch Library that why its included on cusotm.

[2022-07-26 13:01] MohitMaliFtechiz commented on #2916
hi @yustAnotherUser ,

You need ```MANAGE_EXTERNAL_PERMISSION``` make sure its being given. and let me know if you still find out issue.

Thanks and Regards
Mohit Mali

[2022-07-26 16:07] #2620 closed

[2022-07-26 16:21] kelson42 commented on #2908
@MohitMaliFtechiz I think I understand... there should be a fallback system in custom apps which makes the app downloading the ZIM at first run if for any reason the packaged ZIM is not available... Could you please confirn?

[2022-07-26 17:37] julianharty commented on #2908
FYI here's Google Android's documentation on implementing checks and a downloaded to obtain expansion files from Google Play if/when required https://developer.android.com/google/play/expansion-files?hl=en#Downloading

Iff (if and only if) we choose to add support to download expansion files from sources outside Google Play then this SO discussion is relevant https://stackoverflow.com/questions/56

[2022-07-26 17:50] julianharty commented on #2904
@MohitMaliFtechiz and @kelson42 Sorry for the late code review, however I've noticed the current message is a bit unclear for the users and I think we can make the message clearer. I've added a code review to the PR.

[2022-07-27 11:28] amire80 opened #2919 "Lego message: Android.ui.rate dialog msg 1/2"
**Describe the bug**

The message that invites the user to rate the app is broken into two messages, which is called "lego" in translatewiki jargon. The name "Kiwix" is inserted automatically in the middle between two messages, but this is really not great. This causes misunderstanding and incorrect translations.

**Expected behavior**

It's much better to have one message, and simply let the tran

[2022-07-27 12:10] kelson42 commented on #2919
@MohitMaliFtechiz Woukd you;be able please to still fix this quickly in 3.6.0?

[2022-07-28 12:33] #2068 closed

[2022-07-28 12:54] kelson42 commented on #2671
@Inbefortus Maybe this big is already fixed in 3.6.0, but otherwise we will fic it in 3.7.0.

[2022-07-28 14:53] Nikerabbit opened #2921 "Literal `n` in a message"
**Describe the bug**

```<string name="delete_zim_body">The following zim file(s) will be deleted:n\n%s</string>```

I think the removal of `\` before the `n` after the colon was a mistake.

**Expected behavior**

**Steps to reproduce the behavior:**
1.

**Screenshots**

**Environment**
- Version of Kiwix Android :
- Device :
- OS version :

**Logs**

[2022-07-28 15:02] kelson42 commented on #2921
@MohitMaliDeveloper @gouri-panda To be fixed before 3.6.0 release.

[2022-07-28 15:03] kelson42 opened #2922 "Stop fixing Translatewiki PRs manually"
This is not substainable, not efficient, not robust, etc... see #2921

A solution should be found to avoid to tweak these PRs manually

[2022-07-28 15:17] gouri-panda commented on #2921
I can take this. It's a small fix.

[2022-07-28 15:19] #2606 closed

[2022-07-28 16:50] #2921 closed

[2022-07-29 12:53] MohitMaliFtechiz opened #2924 "Search Fragment breaks on 3.6.0"
**Describe the bug**
Cannot able to search , its keep showing the search screen even after click.

[2022-07-29 12:56] kelson42 commented on #2924
We should have an automated test for that.

[2022-07-29 21:48] DUOLabs333 opened #2927 "Can't download files bigger than 4GB, despite my filesystem being ext4"
**Describe the bug**
Title

**Expected behavior**
Download files bigger than 4GB.

**Steps to reproduce the behavior:**
1. Download app (F-droid, though it may also happen with the Google Play version --- don't know if there is a difference). Version 3.5.0
2. Try to download Wikitionary
3. See it's grayed out.

**Screenshots**

**Environment**
- Version of Kiwix Android : 3.5.0
- Device : Pixel 5

[2022-07-29 21:50] DUOLabs333 commented on #2927
It works now, I had to restart the app.

[2022-07-29 21:50] #2927 closed

[2022-07-30 04:24] kelson42 commented on #2894
@MohitMaliFtechiz Nightly is failing since 10 days, can you please fix it?

[2022-07-30 11:49] #2919 closed

[2022-07-30 13:48] MohitMaliFtechiz commented on #2894
hi @kelson42 ,

They are randomly failed to hangup of emulator , out of all sometimes one of the emulator 21 ,25 and 30 failing randomly on some test due to emulator issue which is known.

[2022-07-31 09:37] gouri-panda opened #2928 "Rewrite the test cases that are failing sometimes in our CI"
**Context**
Sometimes our CI is failing due to faulty test cases, particularly instrument tests. We should rewrite/fix them. <del>For example, our [IntroRobot](https://github.com/kiwix/kiwix-android/blob/develop/app/src/androidTest/java/org/kiwix/kiwixmobile/intro/IntroRobot.kt) is hugely unreliable to our CI</del>.
**Expected Behaviour**
A green CI :)

[2022-07-31 09:43] gouri-panda opened #2929 "Improvement CI/CD"
**Is your feature request related to a problem? Please describe.**
We are using very outdated code for our CI. Update with the new features and refactor the old code.

**Result**
A better and faster CI/CD is very important for the development project. This enables us faster and easy development process.

[2022-07-31 09:52] gouri-panda opened #2930 "Add Test case for Note section"
**Context**
Write test cases for our Note section.

**Type of Test**

* [x] Unit Test
* [x] UI Test
* [x] Instrumentation Test

**Particular Behaviour to be tested**
One of the core things to be tested here is that the user's note text file shouldn't be deleted if the user uninstalls the app.

[2022-08-01 05:51] amire80 commented on #2919
Thanks a lot for fixing this! I see it in translatewiki now.

A tiny follow-up: #2931.

[2022-08-04 10:33] #2924 closed

[2022-08-04 13:25] MohitMaliFtechiz opened #2934 "Search Widget navigation to search fragment twice click while navigating."
**Describe the bug**
When we are navigating via search widget the search fragment required twice click to open search.

[2022-08-04 15:07] MohitMaliFtechiz commented on #2542
hi @kelson42 ,

I am not able to reproduce this bug.

[2022-08-04 15:29] gouri-panda commented on #2546
@MohitMaliFtechiz I can't reproduce the issue either. So far nobody complains about this.

[2022-08-04 15:43] kelson42 commented on #2546
Should we close ot?

[2022-08-04 16:08] kelson42 commented on #2542
@MohitMaliFtechiz This comes from the play store. Have you checked there?

[2022-08-05 06:26] Mitia99 opened #2938 "[Kiwix 3.5.0] F-Droid - App not installed"
**Describe the bug**
App not installed

**Expected behavior**
App installed

**Steps to reproduce the behavior:**
1. Download Kiwix 3.5.0 from F-Droid
2. Install the app
4. See error

**Screenshots**
![Screenshot_20220805_092314_com.google.android.packageinstaller.jpg](https://user-images.githubusercontent.com/56766778/183014655-4a2c2a8e-0aec-4fec-817f-801ccf4bf03a.jpg)
For your info, I had ver 3.

[2022-08-05 06:29] kelson42 commented on #2938
@Mitia99 It is the only app of F-Droid which currently does not install on your device?

[2022-08-05 06:32] Mitia99 commented on #2938
@kelson42 I can't find link for 3.5.0.apk in repo assets and I don't have tools for installing from source code. Would be nice if someone drop apk on assets. Thanks

[2022-08-05 06:42] kelson42 commented on #2938
APK ate available here http://download.kiwix.org/release/kiwix-android/

[2022-08-05 06:45] MohitMaliFtechiz commented on #2938
hi @Mitia99 , F-Droid does not have 3.4.5 version so most probably you downloaded it  play store or download.kiwix.org , since base version is not from F-Droid so its can be install as an update , you must need to uninstall the 3.4.5 and then installed 3.5.0 from F-Droid.

[2022-08-05 06:47] Mitia99 commented on #2938
Thanks for the link. Seems like it's an issue with the F-Droid one cause the one you shared is working well![Screenshot_20220805_094618_com.google.android.packageinstaller.jpg](https://user-images.githubusercontent.com/56766778/183018303-3ca0fc26-8c1b-4abd-98b9-812b4d7c4226.jpg)

[2022-08-05 06:50] Mitia99 commented on #2938
@MohitMaliFtechiz I already uninstalled previous version (3.4.5) before installing 3.5.0 from F-Droid. Only @kelson42 app link works

[2022-08-05 10:44] MohitMaliFtechiz opened #2939 "Search screen not popup after pressing back from search result."
**Describe the bug**
Search screen not popup after pressing back from search result.

[2022-08-05 12:06] MohitMaliFtechiz commented on #2542
yes i tried playstore build.

[2022-08-05 12:10] kelson42 commented on #2542
@MohitMaliFtechiz It's not what I mean I mean we should check playstore reports.

[2022-08-05 12:59] #2939 closed

[2022-08-06 21:32] julianharty commented on #2542
@kelson42 @MohitMaliFtechiz I've checked the PlayStore reports in Android Vitals and reviewed the crash clusters for the most popular of the Kiwix family of apps: (Chemistry and Physics simulation, Kiwix - even though it's not a custom app, WikiMed (English), WikiMed (Arabic), WikiMed (French), WikiMed (mini), WikiMed (Spanish), WikiMed (Chinese), and WikiMed (German). Of these the last 2 didn't h

[2022-08-06 21:51] kelson42 commented on #2542
@julianharty Thank you very much for checking this.

[2022-08-06 21:52] #2542 closed

[2022-08-07 11:40] gouri-panda commented on #1777
@kelson42 @MohitMaliFtechiz Since we are on F-Droid now. Now it's the perfect time to deploy nightly automatically. I can make a PR that CI automatically puts nightly APK to F-Droid.

[2022-08-08 12:49] MohitMaliFtechiz opened #2942 "SearchFragmentTest often failed at lower android version on nightly build."
**Describe the bug**
SearchFragmentTest is often failing on CI. Sometimes its works but sometimes its failing.

```java.lang.RuntimeException: No view found with Id org.kiwix.kiwixmobile:id/search_list```

[2022-08-09 12:22] MohitMaliFtechiz commented on #2789
hi @samuk ,

This is issue with the webview related to chrome , please update the chrome and it will disappear.

[2022-08-09 14:35] gouri-panda commented on #2908
@kelson42 No, Our project is divided into modules that are `core`, `main`, and `custom`. Android system automatically detects which dependencies we should use or not by gradle.

[2022-08-10 06:54] kelson42 commented on #2789
It's not a bug, but a limitation and It won't work better with newest Chrome IMO. Read https://github.com/openzim/zimit/issues/106#issuecomment-1068907042 and https://github.com/kiwix/kiwix-tools/issues/416

[2022-08-10 06:56] kelson42 commented on #2789
I think there is really nothing we can do more here. Closing the ticket.

[2022-08-10 06:56] #2789 closed

[2022-08-10 12:17] #625 closed

[2022-08-10 12:17] #2934 closed

[2022-08-10 12:18] #2546 closed

[2022-08-10 13:51] MohitMaliFtechiz commented on #2907
hi @julianharty ,

We have already placed the fix on 3.6.0 hope after upgrading the play store build it will resolve.

[2022-08-10 19:15] kelson42 commented on #1755
@gouri-panda What is the status of this bug? This actual? If "yes", could we reactivate the test?

[2022-08-10 19:30] kelson42 commented on #1223
BitBar can be really useful, for both CI testing on multiple devices or manual testing. But our experience so far as shown that it is pretty cumbersome to use BitBar (and maybe any other device farm) + we have already serious defficulties to get a stable CI with emulator on Github + emulator based CI delivers already most of the testing features we expect from a CI. Therefore, for the moment, we w

[2022-08-10 19:30] #1223 closed

[2022-08-11 10:35] kelson42 commented on #2894
@MohitMaliFtechiz We can now tag and releade properly I guesd

[2022-08-11 18:05] ddevz opened #2947 "Kiwix now displays a blank screen after loading recent wikipedia"
Kiwix for android worked for several .zim files before using the integrated download screen to install wikipedia_en_all_maxi_2022_05

Now selecting *any* zim in the library shows a essentially blank screen (shows the top bar (hamburger button, name of the .zim data and the number of "tabs"), and the bottom bar ("reader", "library", "download"), but nothing else)

Deleting wikipedia did not resolve

[2022-08-11 19:05] kelson42 commented on #2947
@ddevz I would try with latest nightly http://download.kiwix.org/nightly/2022-08-11/dev-universal-debug.apk

[2022-08-11 19:40] ddevz commented on #2947
Sure.  I'm not willing to risk loosing my bookmarks and history though, can you tell me where I can find the bookmarks and history on the filesystem so I can back them up in a second location before doing so?

[2022-08-12 02:33] yamenbousrih opened #2948 "Read QRPedia codes and open the related Wikipedia Article"
**Is your feature request related to a problem? Please describe.**
This feature will allow the Kiwix application to read a QRPedia code and display the related Wikipedia article (if available). Without internet, it's not possible to scan a QRPedia code and open the Wikipedia article but assuming that the Kiwix app contains the related Wikipedia article it will be interesting to be able to scan the

[2022-08-12 06:44] kelson42 commented on #2948
@gouri-panda The feature request is interesting and I wonder that we don’t already have a ticket for that, because the idea is old (at least in my mind). That said, I’m not infavour of complexify our app by adding a qr ode scanner. My question is: woukd that be possible, if not internet is not available, to have Kiwix checking id the article is in a ZIM and open it if posssible?

[2022-08-13 09:33] kelson42 commented on #1777
@MohitMaliDeveloper  @gouri-panda It seems this has not been fixed fully. Please explain what is the current problem.

[2022-08-16 09:10] gouri-panda commented on #2947
@ddevz Now we are storing history and bookmarks in the database but it would be a good idea to have an option to backup.

@kelson42 @MohitMaliFtechiz What do you think?

[2022-08-16 09:37] gouri-panda commented on #1358
@kelson42 I have tested this. I have seen nothing unusual. So far we are only testing the Language List adapter in `langaugeTestActivity`. If you want to add some more tests for the `langaugeTestActivity` we can add that :)

[2022-08-16 12:42] gouri-panda opened #2950 "Nightly fails on the `SearchFragmentTest`"
java.lang.RuntimeException: File /data/data/org.kiwix.kiwixmobile/cache/testzim.zim is not readable. Original File /data/data/org.kiwix.kiwixmobile/cache/testzim.zim is readable = false Size

[2022-08-16 12:47] MohitMaliFtechiz commented on #2947
hi @gouri-panda , Yes we can add this feature request.

[2022-08-16 13:09] MohitMaliFtechiz commented on #2950
this might be issue with the runner , i just check nightly build runner is out to date.

[2022-08-16 19:37] ddevz commented on #2947
Cool.  That would be ".../user/0/org.kiwix.kiwixmobile/databases/Kiwix.db", right?  I'll back up Kiwix.db, as well as my notes, move the zim files, and then set the zim files to read-only.  Then I think I should be safe to remove Kiwix and install it again and begin testing.

(having a backup that can be initiated through the user interface will still be a cool feature in the future as I believe m

[2022-08-16 20:03] gouri-panda commented on #2883
According to Wikipedia

So, without test code, it's not possible to increase our code coverage report.

Maybe it failed before the formatting too ...

My solution would be simple to write tests for those we're not covered yet.In this way we can increase the code coverage quality.

[2022-08-17 06:58] gouri-panda opened #2956 "Android 12 UITests are failing due to lack permission"

[2022-08-17 07:10] #2942 closed

[2022-08-17 07:59] gouri-panda opened #2958 "UI fails to AutoConnect in the CI"
<del> Using 1.4.0 libraries and </del>  In espresso 3.4.0, I occasionally run into the following RuntimeException with a simple call to getInstance(InstrumentationRegistry.getInstrumentation())

	java.lang.RuntimeException: Error while connecting UiAutomation
	at android.app.UiAutomation.connect(UiAutomation.java:210)

No tests particularly at this point. It fails sometimes on CI emulation at the

[2022-08-17 09:41] MohitMaliFtechiz commented on #1682
hi @licaon-kter , We have just released 3.6.0 , version information is hosted on https://download.kiwix.org/release/kiwix-android/VERSION_INFO. Please proceed with auto publish on Fdroid.

[2022-08-17 10:49] licaon-kter commented on #1682
@MohitMaliFtechiz tested locally and updated autoupdate mode of operation: https://gitlab.com/fdroid/fdroiddata/-/commit/6417334e120538e5018bf81734826d099bf2eb16

It should be picked up in 12-20h

[2022-08-17 11:02] licaon-kter commented on #1682
Simplified the check a bit to use repo hosted file instead ( eg: https://github.com/kiwix/kiwix-android/blob/3.6.0/VERSION_INFO ), so updates are picked up only when tagging: https://gitlab.com/fdroid/fdroiddata/-/commit/5e27e7038da26343a94c031ceb929cad243f4c68

[2022-08-18 07:09] licaon-kter commented on #1682
Success https://gitlab.com/fdroid/fdroiddata/-/commit/32b7a899499e1ab75195b5ec9a00cb68ea37f4f2

/close this

[2022-08-18 07:58] licaon-kter opened #2959 "Non-FOSS in F-Droid build"
ref:  https://github.com/kiwix/kiwix-android/commit/3a14a7409085bc89b3da2406eadd738f5fcc54d6#diff-df8b4af8cccf28e19228317a74d3fba23fed6c067665f72670b7d4986515ad39R428

ref: https://gitlab.com/fdroid/fdroiddata/-/jobs/2899620162#L992

[2022-08-18 09:03] gouri-panda commented on #1358
I'm closing this. If I'll find something unusual then I'll reopen this ticket.

[2022-08-18 09:49] gouri-panda commented on #1777
@kelson42 According to documentation We have to follow these steps:
 * Create a new GitLab “project” by appending -nightly to the name. For example, https://gitlab.com/fdroid/fdroidclient becomes https://gitlab.com/fdroid/fdroidclient-nightly and https://gitlab.com/eighthave/fdroidclient becomes https://gitlab.com/eighthave/fdroidclient-nightly

* In that new project, add the SSH Public Key derive

[2022-08-18 10:19] kelson42 commented on #2959
I don't understand this ticket.

[2022-08-18 10:21] licaon-kter commented on #2959
This library is not open source: https://mvnrepository.com/artifact/com.google.android.play/core/1.10.3

[2022-08-18 10:23] julianharty commented on #2959
@kelson42 From what I can tell:

- The commit [3a14a74](https://github.com/kiwix/kiwix-android/commit/3a14a7409085bc89b3da2406eadd738f5fcc54d6#diff-df8b4af8cccf28e19228317a74d3fba23fed6c067665f72670b7d4986515ad39R428) added Google Play Services to the app's codebase.
- This means the binary now includes a Google non-open / proprietary library
- Therefore the build process for the f-droid binary ha

[2022-08-18 10:24] kelson42 commented on #2959
@julianharty thx
@MohitMaliFtechiz you confirm?

[2022-08-18 10:27] MohitMaliFtechiz commented on #2959
yes its being added for object box crashes , we can remove it its only for prompting dialog if architecture is not supportable..

[2022-08-18 10:29] MohitMaliFtechiz commented on #2959
hi,

its being added to fix this https://github.com/kiwix/kiwix-android/issues/2904

[2022-08-18 10:39] kelson42 commented on #2959
@MohitMaliFtechiz so we can close the ticket?

[2022-08-18 10:51] MohitMaliFtechiz commented on #2959
hi @kelson42 , we need to remove ```google_android_play_core``` lib and make changes to master need to retagged 3.6.0 then its will work on FDROID. but we have to compromise on https://github.com/kiwix/kiwix-android/issues/2904 fix.

[2022-08-18 11:09] licaon-kter commented on #2959
Note that a Tag is not needed, we can use whatever commit has the fixed code ;)

[2022-08-18 11:21] gouri-panda commented on #2948
I researched a little bit and if found this

Once the QR code is static, the information is hard-coded and cannot be changed. However, you can generate static QR codes such as text, number, and Wi-Fi for free.
On the other hand, online QR codes such as URL, vCard, social media are in dynamic form.

Static QR are texts, numbers, and wifi. Dynamic QR are URLs, files and social links, etc. Online we

[2022-08-18 12:57] julianharty commented on #2959
@kelson42 @MohitMaliFtechiz Here are some ideas about ways we can address the needs of [#2904](https://github.com/kiwix/kiwix-android/issues/2904) for both the F-Droid Build and the Google Play Builds while also helping the end users. I expect there will be some details to resolve in terms of the implementation.

1. We want the apps to work regardless of where users obtain them from.
2. Google pro

[2022-08-18 13:01] MohitMaliFtechiz opened #2961 "Publish playstore build failure."
publishing is aborted after uploading done.

[code]

[2022-08-18 13:19] MohitMaliFtechiz commented on #2904
#2959

[2022-08-18 13:20] MohitMaliFtechiz commented on #2904
reopen now because of F-Droid publish issue for FOSS issue.

[2022-08-18 13:41] MohitMaliFtechiz commented on #2816
hi @kelson42 @gouri-panda ,

I have hosted the libkiwix 9.4.1 on jitpack https://jitpack.io/#kiwix/java-libkiwix/v9.4.1

[2022-08-18 13:47] gouri-panda commented on #2816
After updating the dependency we'll close this ticket.

[2022-08-18 14:16] MohitMaliFtechiz commented on #2959
hi @licaon-kter , Please build the F-Droid build now.

[2022-08-18 14:24] MohitMaliFtechiz commented on #2950
hi @gouri-panda @kelson42 , seems like last PR changes works since nightly is green now . https://github.com/kiwix/kiwix-android/actions/runs/2879107285

[2022-08-19 04:34] kelson42 commented on #2816
Why jitpack, we had decided to use maeven?

[2022-08-19 04:37] kelson42 commented on #2961
@MohitMaliFtechiz Please systematically put labels and milestone on a ticket.

[2022-08-19 10:31] MohitMaliFtechiz commented on #2816
hi @kelson42 , Jitpack is best with github project because its auto build the release so we don't need any CI job for publish , as soon any release perform it will automatically within 2 minutes it will available on jitpack.

on the other side , I have spent a lot of time fixing issue with maven they have lots of signing mechanism ,  So to just upload the aar its required to sign in via PGP key an

[2022-08-19 14:58] licaon-kter commented on #2959
Done https://gitlab.com/fdroid/fdroiddata/-/commit/c64a0bffebdcd61fba41ca265c43c7a63c9242ad

[2022-08-19 14:58] #2959 closed

[2022-08-19 15:52] Mitia99 commented on #2445
Bug details update
•Device: Huawei P30 (no sd card)
•Android 10
•Kiwix: 3.6.0

[2022-08-19 15:52] Llantha commented on #2592
I downgraded to kiwix 2.1.
https://m.apkpure.com/kiwix-offline/org.kiwix.kiwixmobile/download/45-APK (pick the right one)
I manually put the files in <my computer's name>\<my pixel 6 pro's name>\Internal shared storage\Android\data\org.kiwix.kiwixmobile\files\Kiwix
Profit.

[2022-08-19 16:57] kelson42 commented on #2445
@Mitia99 Thx for the update

[2022-08-19 17:07] Mitia99 commented on #2445
@kelson42 No problem. Btw, I noticed that rather than an infinite loading it is actually a slow library load.(My kiwix library size is about 700mo) Maybe it has something to do with my heavy memory usage (90% of 128go).

[2022-08-22 11:26] kelson42 commented on #2816
@MohitMaliFtechiz Ok, but the ticket ask specificaly to use Maven. You can not decide like this to change what to do withour refering. Your move raise many questions:
*

[2022-08-22 17:55] opk12 opened #2965 "URL in the external link warning window"
**Is your feature request related to a problem? Please describe.**
(Edit - I copy @kelson42's clearer and shorter version here at the top)
When clicking on an external link, a warning is displayed that the user will leave the Kiwix application, but the URL is is not given. This is unoptimal from a security perspective. Having the URL displayed will help the Kiwix user to decide if he wants to cont

[2022-08-22 18:00] opk12 opened #2966 "Ability to copy the URL of an external link"
**Is your feature request related to a problem? Please describe.**
I would like to copy an external URL into my personal notes or share to a chat.

**Describe the solution you'd like**
Any way of copying the URL would be fine. For example, I could long-tap the link and see a toast message `URL copied`.

[2022-08-22 18:06] gouri-panda commented on #2966
We can do this by displaying the link. Maybe we can merge the feature with #2965.

[2022-08-22 19:04] #2892 closed

[2022-08-22 19:11] kelson42 commented on #2965
I'm not fully sure by reading this ticket I understand what this is about. But it seems this is about what happen with clicking on an external link. A warning is displayed that the user will leave the Kiwix application but the URL is is not given. This seems to be unoptimal from a security perspective. Having the URL displayed will help the Kiwix user to decide if he wants to continue or not.

Tha

[2022-08-22 19:14] kelson42 commented on #2966
@gouri-panda Where would you display it? My first intuition would be to allow long click on external link and then have the overlay to copy the data.

[2022-08-22 19:20] gouri-panda commented on #2966
@kelson42 We can add this along with the Url link (#2965).

[2022-08-22 19:34] #2929 closed

[2022-08-22 20:29] opk12 commented on #2966
I was thinking something along the lines of what @kelson42 said. @gouri-panda The external window will not show up if it is disabled in the settings, or if `Do not ask anymore` was clicked. A change to the window to allow for copying would duplicate the work of implementing another means of copying for the case that the window is disabled.

[2022-08-22 20:41] opk12 commented on #2965
Yes. Sorry for not being as clear, I copied this at the top of the issue.

Yes. 2966 could also potentially be approached in such a way that the external link warning window's implementation changes, but it is another topic (copying the URL into the clipboard vs displaying the URL on-screen).

[2022-08-23 11:09] MohitMaliFtechiz commented on #1848
hi ,

this issue is not reproduce able in latest 3.6.0.

[2022-08-23 11:10] MohitMaliFtechiz commented on #2437
hi,

this already updated on 3.6.0.

[2022-08-23 11:11] MohitMaliFtechiz commented on #2947
hi @kelson42 ,

can you please confirm the feature request so that i can create a ticket for this.

[2022-08-23 13:41] kelson42 commented on #2947
@MohitMaliFtechiz Here, we should fix the ticket first. For anything else (like feature request about bookmark export or backup, etc...), please open a dedicated ticket (if not already done). Do we know what goes wrong on @ddevz device?

[2022-08-23 14:01] kelson42 commented on #1848
@AjayThakur12 This bug seems to have been fixed already in one of the latest versions. Thank you anyway for reporting.

[2022-08-23 14:01] #1848 closed

[2022-08-24 06:17] #2437 closed

[2022-08-24 09:37] gouri-panda opened #2969 "Pull request's CI jobs are not running"
Pull Request workflows CI jobs are not running.

[2022-08-24 11:42] #2969 closed

[2022-08-24 14:08] MohitMaliFtechiz commented on #2847
hi @kelson42 ,

I am able to reproduce this bug.

[2022-08-24 14:25] gouri-panda opened #2971 "Nightly fails on NDK"
More info at https://github.com/kiwix/kiwix-android/runs/7963449493?check_suite_focus=true

[2022-08-25 09:47] MohitMaliFtechiz commented on #2895
logo is now updated on F-Droid https://f-droid.org/packages/org.kiwix.kiwixmobile/ , I am closing this ticket.

[2022-08-25 09:47] #2895 closed

[2022-08-25 12:58] MohitMaliFtechiz commented on #2938
hi ,

I have tested the scenario from F-droid its working fine.

[2022-08-25 12:58] MohitMaliFtechiz commented on #2916
hi @yustAnotherUser ,

any update on this ?

[2022-08-25 13:01] MohitMaliFtechiz commented on #2889
hi @Jaifroid ,

any update on this ?

[2022-08-25 13:02] MohitMaliFtechiz commented on #2883
hi @gouri-panda ,

Yes we need to add more test to improve the code coverage quality.

[2022-08-25 13:07] Mitia99 commented on #2938
@MohitMaliFtechiz Maybe may depend on device. Since 3.6.0 is out, I'll close this

[2022-08-25 20:01] kelson42 commented on #2938
3.6.0 is now available on F-Droid.

[2022-08-26 04:49] Mitia99 commented on #2938
@kelson42 I'll close this issue then

[2022-08-26 04:49] #2938 closed

[2022-08-26 05:00] kelson42 commented on #2811
@MohitMaliFtechiz Pretty sure this will be fixed automatically when you will use latest version of libkiwix.

[2022-08-26 05:02] kelson42 commented on #2595
@MohitMaliFtechiz Transfering the ticket to you

[2022-08-26 05:03] kelson42 commented on #2768
@MohitMaliFtechiz This critical bug should be fixed automatically by using latest libkiwix I guess.

[2022-08-26 05:05] kelson42 commented on #1826
@MohitMaliFtechiz @gouri-panda How much work is left here? I’m not really wanting to keep sucha ticket far more longer open.

[2022-08-26 05:07] kelson42 commented on #2883
@gouri-panda Please make a proposal of codecov configuration for qhich everybody is happy. To me, the only thing which is really important is that the global code coverage never goes down significantly. Basically all new code should have its automated testing code with it.

[2022-08-26 06:13] MohitMaliFtechiz opened #2975 "Convert Chunk.java into Kotlin"
Parent Issue: #1826

[2022-08-26 08:44] MohitMaliFtechiz opened #2977 "Convert HotspotService.java into Kotlin"
Parent Issue: #1826

[2022-08-26 09:32] MohitMaliFtechiz opened #2980 "Convert VideoEnabledWebView.java to Kotlin"
Parent Issue: #1826

[2022-08-26 11:15] MohitMaliFtechiz opened #2982 "Convert DataModule.java file into Kotlin"
Parent Issue: #1826

[2022-08-26 14:47] ddevz commented on #2947
I uninstalled, reinstalled (the same version), and it happened again, but after reinstalling I also found a workaround.

Workaround Procedure:
* try to open a item in the library (and get a blank screen, with just a partial header, for example, no "random" button)
* click the "1" in the upper right corner to make the "tabs" screen appear
* click the "1" in the upper right corner to make the "tabs"

[2022-08-26 15:50] kelson42 commented on #2816
@MohitMaliFtechiz I finally had a look in detail to jrtpack and even if jetpack might work, i'm not happy with it because the same problem like with bintray can happen. Jetpack has a freemium business model like bintray had. Please try to fix the key signing problem with Maven. First thing to do is to explain it in detail here.

[2022-08-27 08:15] #2975 closed

[2022-08-27 09:05] gouri-panda opened #2984 "Misalignment of `FloatingActionButton`"
**Describe the bug**
The `FloatingActionButton` stays above the app is newly installed.

**Expected behavior**
Align with the top of `BottomNavigationBar`
**Steps to reproduce the behavior:**
* Fresh install the app

**Screenshots**
![Screenshot_2022-08-27-14-23-41-10_924282dd390cc14aae1af1e29436bb16](https://user-images.githubusercontent.com/43576162/187023196-4e1a18b8-5b17-463a-a285-85bab375100c

[2022-08-27 09:06] #2982 closed

[2022-08-27 09:17] kelson42 commented on #1755
We will postpone this ticket to 3.8.0 because it implies a larger rewriting of onlinelibraryfragment…. And this part will probably be significantly revamped in 3.8.0 because of OPDS support.

[2022-08-27 13:28] kelson42 commented on #2984
@gouri-panda This is a regression? Do we still have it in 3.6.0?

[2022-08-27 13:37] gouri-panda commented on #2984
@kelson42 sorry! It's 3.7.0. Yeah may be it's a regression.

[2022-08-27 14:01] kelson42 commented on #2984
OK, feel free if you have a fix in mind. I hate regressions.

[2022-08-27 17:43] gouri-panda commented on #2984
@kelson42 Ok :)

[2022-08-27 17:55] #2971 closed

[2022-08-29 05:55] #2114 closed

[2022-08-29 06:35] MohitMaliFtechiz opened #2986 "Convert WebServerHelper.java to Kotlin"
Parent Issue: #1826

[2022-08-29 07:23] MohitMaliFtechiz opened #2988 "Convert VideoEnabledWebChromeClient.java to Kotlin"
Parent Issue: #1826

[2022-08-29 11:48] MohitMaliFtechiz opened #2991 "Convert KiwixDatabase.java to Kotlin"
Parent Issue: #1826

[2022-08-29 12:33] #2894 closed

[2022-08-29 17:28] #2883 closed

[2022-08-30 03:54] kelson42 commented on #2958
@gouri-panda What is "1.4.0 libraries", which library you talk about exactly?

[2022-08-30 10:11] gouri-panda commented on #2958
@kelson42 Sorry! That was a typo! I have updated the description.

[2022-08-30 10:21] gouri-panda opened #2993 "Wrong content description in file picker floating button"
https://github.com/kiwix/kiwix-android/blob/53407ffcb8b6d7995f879d2b02a2f046ea381267/app/src/main/res/layout/fragment_destination_library.xml#L87
**Expected**
Give a good content description so that users can easily know the functionality of the  button

[2022-08-30 18:19] #2777 closed

[2022-08-31 09:03] MohitMaliFtechiz opened #2995 "Convert BookDao.java into kotlin"
Parent Issue: #1826

[2022-08-31 09:29] MohitMaliFtechiz opened #2997 "Convert BookmarksDao.java to kotlin"
Parent Issue: #1826

[2022-08-31 10:03] MohitMaliFtechiz opened #2999 "Convert BookmarksSpec.java into kotlin"
Parent Issue: #1826

[2022-08-31 10:36] MohitMaliFtechiz opened #3001 "Convert LibraryDataSource.java into kotlin"
Parent Issue: #1826

[2022-08-31 10:58] MohitMaliFtechiz opened #3003 "Convert NetworkLanguageSpec.java into kotlin"
Parent Issue: #1826

[2022-08-31 11:04] MohitMaliFtechiz opened #3005 "Convert RecentSearchSpec.java into kotlin"
Parent Issue: #1826

[2022-08-31 11:09] MohitMaliFtechiz opened #3007 "Convert BookDataSource.java into kotlin"
Parent Issue: #1826

[2022-08-31 11:46] #2986 closed

[2022-08-31 11:59] #2956 closed

[2022-08-31 21:03] gouri-panda commented on #2958
@kelson42 @MohitMaliFtechiz In the meanwhile we should try not use this method `getInstance(InstrumentationRegistry.getInstrumentation())`.That's the only solution i can think of it now.

[2022-09-01 04:01] kelson42 commented on #2958
@gouri-panda What is the purpose of this function? Could we avoid to use it at all?

[2022-09-01 06:14] MohitMaliFtechiz opened #3009 "Convert KiwixService.java to kotlin"
Parent Issue: #1826

[2022-09-01 07:00] MohitMaliFtechiz opened #3011 "Convert IO.java to kotlin"
Parent Issue: #1826

[2022-09-01 07:03] MohitMaliFtechiz opened #3012 "Convert MainThread.java to kotlin"
Parent Issue: #1826

[2022-09-01 07:17] MohitMaliFtechiz opened #3015 "Convert LibraryNetworkEntity.java to kotlin"
Parent Issue: #1826

[2022-09-01 11:49] MohitMaliFtechiz opened #3017 "Convert MetaLinkNetworkEntity.java to kotlin"
Parent Issue: #1826

[2022-09-01 13:08] MohitMaliFtechiz opened #3019 "Convert SettingsContract.java to kotlin"
Parent Issue: #1826

[2022-09-01 13:18] MohitMaliFtechiz opened #3021 "Convert NetworkUtils.java into kotlin"
Parent Issue: #1826

[2022-09-01 14:50] gouri-panda commented on #2958
@kelson42 It gets the `UiDevice` instance by `InstrumentationRegistry`.

We should try an alternative way to find the `UIDevice` instance for the moment.

[2022-09-01 15:43] gouri-panda commented on #2958
@kelson42 @MohitMaliFtechiz I'm closing this issue unless we see this problem in our existing code.

[2022-09-01 17:14] kelson42 commented on #2958
@gouri-panda problems should be trackef somrwhere in the repo.... even if root cause os outside

[2022-09-02 09:41] MohitMaliFtechiz opened #3023 "Convert TestingUtils.java into kotlin"
Parent Issue: #1826

[2022-09-02 09:58] MohitMaliFtechiz opened #3025 "Convert ViewModelFactory.java into kotlin"
Parent Issue: #1826

[2022-09-02 10:56] MohitMaliFtechiz opened #3027 "Convert IpAddressCallbacks.java into kotlin"
Parent Issue: #1826

[2022-09-02 11:07] MohitMaliFtechiz opened #3029 "Convert NetworkLanguageDao.java into kotlin"
Parent Issue: #1826

[2022-09-02 11:20] MohitMaliFtechiz opened #3031 "Convert WebViewCallback.java into kotlin"
Parent Issue: #1826

[2022-09-02 11:29] MohitMaliFtechiz opened #3033 "Convert CoreWebViewClient.java into kotlin"
Parent Issue: #1826

[2022-09-02 11:56] MohitMaliFtechiz opened #3035 "Convert CoreReaderFragment.java into kotlin"
Parent Issue: #1826

Duplicate of #2458

[2022-09-02 12:34] kelson42 commented on #1777
@gouri-panda If i create the repo, you can do the rest?

[2022-09-02 12:35] gouri-panda commented on #1777
@kelson42 Yes!

[2022-09-02 12:41] kelson42 commented on #1777
https://github.com/kiwix/kiwix-android-nightly

[2022-09-02 18:55] gouri-panda opened #3038 "Add `DEBUG_KEYSTORE` in Settings."
**Steps**
* Run fdroid nightly --show-secret-var in the local git repo that is being setup, e.g. fdroid/fdroidclient. It will print out the SSH Public Key. Using --show-secret-var will make it print out base 64 text to be pasted into secret variable called DEBUG_KEYSTORE.
* In the Settings of the project being built, find “Actions” under “Secrets” in the “Security” section. Paste the whole DEBUG_K

[2022-09-03 09:05] kelson42 commented on #2958
@gouri-panda I think to better understand this ticket, we shoudl update it with information allowing to answer the following questions:
* Which test fails exactly? Is that always the same?
* Does it always fail at the same place?
* How often does it fails?
* Does it fail only with emulator? Only with emulator in Github?
* Does it fail always with the same API level (seems to always be a problem wi

[2022-09-03 11:38] #3027 closed

[2022-09-03 12:14] kelson42 commented on #2993
@gouri-panda not sure here about the user impact. This ticket has been triggered by an other ticket… but there is no link :( So I don’t understand the ticket.

[2022-09-03 13:42] kelson42 opened #3040 "Release 3.7.0"
- [ ] Check if we [support latest API (and should bump-up oldest API supported)](https://apilevels.com/)
- [x] Secure all tickets in milestone are closed (except this one)
- [x] Secure latest Translatewiki translations are integrated
- [x] Update version of Kiwix Android
- [x] Update the changelog file
- [x] Secure the CI is green on git `develop`
- [x] Secure nightly build is OK
- [x] Check manua

[2022-09-03 16:58] MohitMaliFtechiz opened #3041 "Convert CorePrefsFragment.java into kotlin"
Parent Issue: #1826

[2022-09-04 09:21] kelson42 opened #3042 "Display Navigation History"
Kiwix has a "back" menu option which is a type of history, but when you're researching a subject, jumping between several articles, it can be difficult
to refer back to article#3 and then article#7 and then article#4 just by the
"back" and "forward" menu options.

It would be great to have some kind of simple history viewer by implementing contextual menus on back and forward buttons. By long clic

[2022-09-05 07:18] MohitMaliFtechiz opened #3044 "Convert KiwixDatabaseTest.java into kotlin"
Parent Issue: #1826

[2022-09-05 07:30] MohitMaliFtechiz opened #3046 "Convert LanguageFragmentTest.java into kotlin"
Parent Issue: #1826

[2022-09-05 08:50] MohitMaliFtechiz opened #3048 "Convert KiwixSplashActivityTest.java into kotlin"
Parent Issue: #1826

[2022-09-05 08:56] MohitMaliFtechiz opened #3050 "Convert TestUtils.java into kotlin"
Parent Issue: #1826

[2022-09-05 09:12] MohitMaliFtechiz opened #3052 "Convert ViewActions.java into kotlin"
Parent Issue: #1826

[2022-09-05 09:21] MohitMaliFtechiz opened #3054 "Convert FileUtilsInstrumentationTest.java into kotlin"
Parent Issue: #1826

[2022-09-05 09:30] MohitMaliFtechiz opened #3056 "Convert IOUtils.java into kotlin"
Parent Issue: #1826

[2022-09-05 09:35] MohitMaliFtechiz opened #3058 "Convert RecyclerViewItemCountAssertion.java into kotlin"
Parent Issue: #1826

[2022-09-05 09:39] MohitMaliFtechiz opened #3060 "Convert StandardActions.java into kotlin"
Parent Issue: #1826

[2022-09-05 09:47] MohitMaliFtechiz opened #3062 "Convert DownloadTest.java into kotlin"
Parent Issue: #1826

[2022-09-05 09:51] MohitMaliFtechiz opened #3064 "Convert NetworkTest.java into kotlin"
Parent Issue: #1826

[2022-09-05 09:57] MohitMaliFtechiz opened #3066 "Convert ZimTest.java into kotlin"
Parent Issue: #1826

[2022-09-05 12:53] #3012 closed

[2022-09-05 16:01] #3011 closed

[2022-09-05 19:49] gouri-panda commented on #2618
I think it's best to individually fix this.

[2022-09-05 21:29] gouri-panda opened #3069 "`BottomNavBar` is Blank"
**Describe the bug**
When we scroll the Zim list in the libarary tab, in the BottomNavBar it shows a blank screen.
**Expected behavior**
Hides the Bottom Nav Bar and show the Zim item book view
**Steps to reproduce the behavior:**
1. Open the App
2. Scroll the App
3. Observe the Bottom Nav Bar

**Screenshots**
![Screenshot_2022-09-06-02-37-48-80_924282dd390cc14aae1af1e29436bb16](https://user-image

[2022-09-06 16:05] #2928 closed

[2022-09-06 19:03] #3001 closed

[2022-09-07 04:46] #3031 closed

[2022-09-07 05:19] #3003 closed

[2022-09-07 05:52] #2618 closed

[2022-09-07 09:05] MohitMaliFtechiz commented on #2984
Hi @gouri-panda ,

I Noticed this issue is present when zim files loading first time After zim files loaded and recyclerview is visible to screen this error is gone.
also same with this issue.
BottomNavBar is Blank #3069

[2022-09-08 05:50] kelson42 commented on #2896
@gouri-panda @MohitMaliFtechiz Does that sounds a good idea?

[2022-09-08 09:54] gouri-panda commented on #2896
@kelson42 Yes

[2022-09-08 13:04] opk12 commented on #2896
To inform the user that the search can be interrupted, a message could appear above the rotating spinner, or in a toast message, or as a tip in the Settings...

    💡 Tip: Press Enter to stop searching and try to match the exact article title

[2022-09-09 04:45] kelson42 commented on #2958
@gouri-panda Any update/answer in view?

[2022-09-09 07:29] gouri-panda commented on #2958
@kelson42 Not yet

[2022-09-09 11:53] #2617 closed

[2022-09-10 11:54] #3066 closed

[2022-09-10 12:39] kelson42 commented on #1682
@licaon-kter @MohitMaliFtechiz I don't think this last move was appropriate because with the current system the `VERSION_INFO` is generated by the Github Workflow but not commited to the repo. This would be an operation to happen manually. We have been fooled I believe because @MohitMaliFtechiz has commited/pushed that file to the git repository. But actually it should only live in https://downloa

[2022-09-10 12:45] kelson42 commented on #2569
@IzzySoft To me it looks the online screenshots are the same which are provided in our fastlane directory. Looks good for you too?

[2022-09-10 12:54] kelson42 commented on #2904
Copied from https://github.com/kiwix/kiwix-android/issues/2959#issuecomment-1219460710

@kelson42 @MohitMaliFtechiz Here are some ideas about ways we can address the needs of [#2904](https://github.com/kiwix/kiwix-android/issues/2904) for both the F-Droid Build and the Google Play Builds while also helping the end users. I expect there will be some details to resolve in terms of the implementation

[2022-09-10 13:09] kelson42 commented on #2904
AFAIK, we need a FOSS compatible (to the contrary of previous attempt) way to check at start if the APK architecture is the same at the runtime architecture.

[2022-09-10 13:34] IzzySoft commented on #2569
I've just manually triggered a fastlane update on my end to pull the latest changes – and yes, looks fine! F-Droid already had the screenshots, mine will have them in a few hours (with the next sync). Also, `full_description.txt` renders fine, looking a bit better in my repo (which supports full Markdown) than with F-Droid even :see_no_evil:

Remaining question: I just wondered why Kiwix was no lo

[2022-09-10 13:51] kelson42 commented on #2569
Thx for the verification.

I think you have been fooled by our chaos (we have released many time the same `3.6.0`). Does it looks better now for you https://github.com/kiwix/kiwix-android/releases ?

[2022-09-10 14:00] kelson42 commented on #2569
Closing the ticket, @IzzySoft Please keep letting me know if you have any additional problem with our publishing process or with Kiwix for Android itself. Thx again for all your help.

[2022-09-10 14:00] #2569 closed

[2022-09-10 14:30] kelson42 commented on #2812
@LTVA1 Looking again to this ticket. I hardly understand how you made a ZIM file under Windows, considering that `zimwriterfs` is not distributed for Windows!

Here two things are missing to reproduce the bug:
* The ZIM file itself
* The exact procedure of searching (what do you type and where, what do you get exactly and what you expect

Would you be able please to provide this?

[2022-09-10 14:34] IzzySoft commented on #2569
Thanks @kelson42 – yes, now the APK is pulled from the latest release. So I take it you want me to keep it in my repo, despite of it being present and up-to-date at F-Droid.org again? Current information on that is "it's here because it's disabled at F-Droid", which no longer meets reality. I gladly keep it if you want me to (and update that information accordingly) – or, if you prefer, remove it

[2022-09-10 14:50] kelson42 commented on #2569
@IzzySoft I really don't have any strong opinion on this honestly. I personaly mostly use F-Droid. But it's true that if your repository is conceived to be complementory to F-Droid, this probably does not makes much sense anymore.

[2022-09-10 15:51] IzzySoft commented on #2569
I'd agree. As the past has shown, we can easily re-establish it in my repo if needed. Though given it's size it doesn't hurt me keeping it either, so I'll leave the decision to you. For some guidance, the pros and cons [are decribed here](https://gitlab.com/IzzyOnDroid/repo/-/wikis/FAQ). Just let me know then whether to keep or to kick :wink:

[2022-09-10 18:14] gouri-panda opened #3072 "Refactor test in `DownloadTest`"
https://github.com/kiwix/kiwix-android/blob/c6f372d31801ecd0b87fd462daabc94bebc99a77/app/src/androidTest/java/org/kiwix/kiwixmobile/DownloadTest.java#L81-L86
**Current Behaviour**
The test was broken in 2.5. Refactor the test code.

**Expected Behaviour**
Pass the test.

[2022-09-11 18:29] kelson42 commented on #3038
Done, see https://github.com/kiwix/kiwix-android-nightly/issues/1

[2022-09-11 18:29] #3038 closed

[2022-09-12 05:28] MohitMaliFtechiz opened #3073 "Update KiwixLib to 10.1.1"
Parent Issue: #2816

[2022-09-12 06:27] MohitMaliFtechiz commented on #1682
hi @licaon-kter @kelson42 ,

Yes we should use https://download.kiwix.org/release/kiwix-android/VERSION_INFO this is because this will auto uploaded during release via gradle task  ```generateVersionCodeAndName```  , while on git hub during creating final PR release i am running ```generateVersionCodeAndName``` on local and this changes VERSION_INFO were committed along other.

[2022-09-12 08:18] licaon-kter commented on #1682
@MohitMaliFtechiz done https://gitlab.com/fdroid/fdroiddata/-/commit/dca017aaba6bbd040e609a28d2563d68c840c215

[2022-09-12 08:29] kelson42 commented on #2816
This has been made at https://search.maven.org/artifact/org.kiwix.kiwixlib/kiwixlib.

[2022-09-12 08:29] #2816 closed

[2022-09-12 09:04] #1682 closed

[2022-09-12 09:19] #3062 closed

[2022-09-12 09:46] #2984 closed

[2022-09-12 09:46] #3069 closed

[2022-09-13 11:06] gouri-panda commented on #2958
There are no tests in particular. It doesn't fail in same test case.

Some times

Only with the emulator in Github

No

I don't know when it was started

[2022-09-17 12:07] gouri-panda opened #3080 "Initial download doesn't happen"
**Describe the bug**
If the user first times download, it only shows the storage option. After that, it doesn't download the selected zim files.
**Expected behavior**
Download the zim file as user wanted
**Steps to reproduce the behavior:**
1. Fresh install the app/ remove caches or storage
2. Go to download
3. Click a zim file
4. You'll have an option to select storage, click yes(see nothing happ

[2022-09-17 12:36] kelson42 commented on #3080
@gouri-panda Sounds like a regression?

[2022-09-17 12:51] gouri-panda commented on #3080
@kelson42 Yes.

[2022-09-17 13:03] #3073 closed

[2022-09-17 14:01] #2980 closed

[2022-09-18 10:13] kelson42 commented on #3080
@gouri-panda I don't have tested but this sounds a serious regression. Do we know which PR is faulty? Would that be possible to build an automated test to avoid a similar regression in the future?

[2022-09-18 11:33] gouri-panda commented on #3080
@kelson42 I'll look into it.

Yes. We should add tests in the following PR.

[2022-09-18 11:36] kelson42 commented on #3080
@gouri-panda Thank you very much. We really need to do the max to avoid regression, which are basically a step backward.

[2022-09-19 01:13] xandris opened #3081 "Can't grant storage permission on Android 13"

[2022-09-19 05:30] kelson42 commented on #3081
@MohitMaliFtechiz Can you please have a look?
@xandris Which exact version of Kiwix do you use?

[2022-09-19 05:34] xandris commented on #3081
@kelson42 it is 3.6.0 from F-Droid

[2022-09-19 14:24] gouri-panda opened #3083 "F-Droid fails on `DEBUG_KEYSTORE`"
**Describe the bug**
The F-Droid nightly action doesn't recognize the `DEBUG_KEYSTORE` value. Please look at #3079 .
It gives the following error although we set the `DEBUG_KEYSTORE` properly.
[code]
**Expected behavior**
Pass the F-Droid nightly jobs.

[2022-09-19 14:56] licaon-kter commented on #3083
Not my area of expertise unfortunately

@eighthave ?

[2022-09-19 17:31] eighthave commented on #3083
Looks like an error in your GitHub Actions setup:
https://github.com/kiwix/kiwix-android/actions/runs/3038848761/jobs/4893145316

I don't really know much about GitHub Actions.

[2022-09-19 17:49] gouri-panda commented on #3083
@eighthave Thanks for looking into it.  Sorry it was #3079 .

[2022-09-19 17:53] eighthave commented on #3083
If you want to use the _wardvl_ setup, you should ask him.  This is what I got working:
https://f-droid.org/docs/Publishing_Nightly_Builds/#configuring-for-github-actions

[2022-09-19 18:20] gouri-panda commented on #3083
@eighthave We have tried that also :). Our last attempt was wardvl.

[2022-09-19 19:03] eighthave commented on #3083
If you post a log of a job with the f-droid.org setup, I can take a look.  it is
most likely something in your GitHub settings inkiwix/kiwix-android.

[2022-09-19 21:08] gouri-panda commented on #3083
@eighthave Thanks for your time :). Here are the logs [logs_8759.zip](https://github.com/kiwix/kiwix-android/files/9602368/logs_8759.zip) . Let me know if you need anything.

[2022-09-19 21:15] eighthave commented on #3083
If you look at _Publish nightly build/5_fdroid nightly.txt_, it looks like `DEBUG_KEYSTORE` is unset or blank:

[code]

Try this step again:

[2022-09-19 21:35] gouri-panda commented on #3083
@eighthave We have already set the `DEBUG_KEYSTORE` in our actions. Previously we set this `export DEBUG_KEYSTORE=${{ secrets.DEBUG_KEYSTORE }}` but the output was ""  and the error was this
[code]
I have a doubt in my mind does the `DEBUG_KEYSTORE` have to be from organisation

[2022-09-21 05:58] kelson42 commented on #2198
@MohitMaliFtechiz An update here would be welcome

[2022-09-21 06:01] kelson42 commented on #2096
@gouri-panda Still a valid proposal to your opinion?

[2022-09-21 08:40] gouri-panda commented on #2096
@kelson42 Yes, absolutely!

[2022-09-21 09:07] kelson42 commented on #2096
@gouri-panda how many times is ot build for one full CI build? How many would we get if we implent this ticket?

[2022-09-21 09:58] gouri-panda commented on #2096
@kelson42 Our current system builds one APK per automated test.  How many tests are there or will it builds that many.

We will first build one and later use it in others.

[2022-09-21 10:16] gouri-panda commented on #2096
I don't know the exact numbers but maybe 40 or 50+.

[2022-09-22 11:46] MohitMaliFtechiz opened #3085 "Some test failing on android 13"
**Describe the bug**
We have found that right now only ```google_api``` are available for target 33 which is causing failure of test cases , if we select target as ```google_apis``` on even target 30 test are failing and works fine with default api this indicate that we have wait till default api is available are target 33. So i have by pass some test on https://github.com/kiwix/kiwix-android/pull

[2022-09-23 07:44] MohitMaliFtechiz commented on #2772
hi @kelson42 ,

This issue seems rectify by using lib 10.1.1 for WikiHow , i am attaching the current screenshot but **if favicon is not available then its pick's up the icon of next or previous list item.**
|wikiHow Search |Download screen|
|-----|--------|
|![Screenshot_2022-09-23-12-43-09-694_org kiwix kiwixmobile](https://user-images.githubusercontent.com/34593983/191913198-a181da65-9d1d-4e9a-

[2022-09-23 12:06] MohitMaliFtechiz commented on #2768
hi @kelson42 ,

The above mentioned search scenario is now working with 10.1.1 but on main page its showing now blank screen while search is working if we try to back from search result then  home page is working while on earlier version of libkiwix search is not working while home was working.

I dig up more on this what i found is on homepage while opening first time url retrieving is ```https:/

[2022-09-23 15:45] traverseda commented on #2592
I can confirm that this doesn't work with my samsung galaxy note 10 and kiwix 3.4.5, which is very unfortunate as we're about to be hit by a large storm in Nova Scotia and I may be without power for a week plus if things go really poorly.

[2022-09-23 15:52] traverseda opened #3087 "Unable to open ZIM files that Kiwix for Android did not download."
Zim files loaded via android MTP are not available in kiwix for android.

**Environment**
- Version of Kiwix Android :  3.4.5 build 7230405
- Device : Galaxy Note10+
- OS version :  Android 12

**Logs**

[logs1663948131516.txt](https://github.com/kiwix/kiwix-android/files/9635169/logs1663948131516.txt)

[2022-09-23 16:25] MohitMaliFtechiz commented on #3087
Hi @traverseda  ,

We have fix for this issue on 3.6.0. Please download an test.

[2022-09-23 22:58] erayd commented on #2592
@traverseda The version you are using is out of date. v3.5.0 and v3.6.0 both work fine.

Note that you'll need to fetch it from f-droid or directly from the kiwix website. The version in the play store hasn't been updated for about a year.

[2022-09-24 13:29] kelson42 opened #3088 "UI is not immediatly translated (after changing UI language)"
With 3.6.0, after changing le UI language in the settings, the UI is not immediatly updated in to the newly chosen language. Only part of tge UI is updated. See for example what I see after changing (from English) to French.

![Screenshot_20220924-152318](https://user-images.githubusercontent.com/1029718/192100577-85fe8c0c-767b-40c1-bb70-4bdb0c7aa0c4.png)

You can see part of the UI is still in En

[2022-09-24 17:00] traverseda commented on #2592
Noted, thanks!

[2022-09-24 17:08] traverseda commented on #3087
Thanks, didn't quite get to it in time as I had to make preparations for keeping the ducklings warm, but we got lucky with the storm and we've already got power back! I'll make sure to get a new version from fdroid.

[2022-09-24 17:35] #3087 closed

[2022-09-25 10:46] kelson42 commented on #2772
@MohitMaliFtechiz Good news. I think a PR is need to fix the following points:
* If no illustration availabl, display default logo https://fileproinfo.com/file-type/zim#
* Stop displaying wrong logo (of precent file).
* I have seen the bug in the bookmark view yesterday, so check there as well.

[2022-09-25 11:15] kelson42 commented on #2768
@MohitMaliFtechiz I guess this is redirection and it should be handled! Wonder why this is not!

[2022-09-25 11:46] #2993 closed

[2022-09-25 20:12] opk12 commented on #2897
The situation is unchanged in the latest version.

[2022-09-26 11:05] licaon-kter opened #3091 "Non-FOSS in F-Droid build - io.objectbox:objectbox-gradle-plugin"
ref: https://github.com/kiwix/kiwix-android/blob/754252d1422a141d1d1f1a24bbdd15bb6acfa9d8/buildSrc/src/main/kotlin/Libs.kt#L216 (since https://github.com/kiwix/kiwix-android/pull/1541 or even older?)

Ref: https://github.com/objectbox/objectbox-java/issues/560

Ref: https://gitlab.com/fdroid/fdroidserver/-/merge_requests/1150

/LE: At least since 2.5.0

[2022-09-26 11:09] licaon-kter commented on #3091
ref: https://gitlab.com/fdroid/fdroiddata/-/commit/a9113ab0e71dbe0740f00cd37b7463967c2b52f4

[2022-09-26 14:45] #3080 closed

[2022-09-27 09:52] gouri-panda opened #3092 "Remove deprecate objects from `LibraryNetworkEntitiy `"
We deprecated the `File` object in `LibraryNetworkEntitiy`. Perhaps it's time to remove deprecated objects/methods.
https://github.com/kiwix/kiwix-android/blob/2ab7a552d7b763b342f64a88956607ad0a0e85e6/core/src/main/java/org/kiwix/kiwixmobile/core/entity/LibraryNetworkEntity.java#L94-L97

_Originally posted by @gouri-panda in https://github.com/kiwix/kiwix-android/pull/3051#discussion_r973580519_

[2022-09-27 11:28] MohitMaliFtechiz commented on #3091
hi @kelson42 ,

If we are about to remove objectbox as database then we might need to switch core database like SQLite or room database. There is also new database exits called RealM. this will require lots of refracting of code.

[2022-09-27 13:08] MohitMaliFtechiz commented on #2768
This issue is still exist , I comment on related ticket , @kelson42 please reopen it as I have no access on libkiwix project.

[2022-09-27 14:00] kelson42 commented on #2897
@MohitMaliFtechiz I will assess the ticket.

[2022-09-28 06:36] MohitMaliFtechiz commented on #2897
hi @opk12 ,

Current result after sorting search result.

Its sorting the search result.

| Keyword      | search Result |
| ----------- | ----------- |
| new      | <img src="https://user-images.githubusercontent.com/34593983/192704394-a32828f8-c973-41aa-8a8b-654a8500e400.jpg" width=300px height=600px />|
| apf   | <img src="https://user-images.githubusercontent.com/34593983/192705296-79d0e65f-bb

[2022-09-28 07:27] kelson42 commented on #2897
They are ordered, but maybe not like you want. It seems you want them ordered alphabetically and they are ordered by pertinence.

[2022-09-28 07:34] kelson42 commented on #2811
Pretty much a duplicate of #2772 IMO. @LTVA1 Please check with nightly if your bug is fixed https://download.kiwix.org/nightly/ and reopen the ticket please if not.

[2022-09-28 07:34] #2811 closed

[2022-09-28 07:36] kelson42 commented on #2768
@MohitMaliFtechiz If you belive there is still an issue in libkiwix, please open a new ticket in kiwix/libkiwix explaining clearly (so with reproduction step) what you do, get and expect from the libkiwix.

[2022-09-28 07:43] MohitMaliFtechiz commented on #2768
https://github.com/kiwix/libkiwix/issues/824

[2022-09-28 09:24] kelson42 commented on #2768
@MohitMaliFtechiz I don't understand, the ticket you point to is about the mainpage?!

[2022-09-28 09:34] opk12 commented on #2897
For clarity to my future self: what is called `current result` above by @MohitMaliFtechiz is the result of the non-merged PR 3093 linked above.

[2022-09-28 10:27] #3050 closed

[2022-09-28 13:04] MohitMaliFtechiz opened #3094 "Article opening after search page result leads to blank page on wikihow (Chinese)"
**Describe the bug**
Article opening after search page result leads to blank  page on wikihow (Chinese)

**Expected behavior**
Article must open without any issue

**Steps to reproduce the behaviour:**
1) Open wikihow (chinese)
2) Search for any article
3) Try opening the article leads to blank page.

*

**Environment**
- Version of Kiwix Android : 3.6.0 with https://github.com/kiwix/libkiwix/issu

[2022-09-28 13:22] mgautierfr commented on #3094
This is probably the same issue than https://github.com/kiwix/libkiwix/issues/824

If you display the main entry (`C/대문`) as the main page (`/`) links are broken.
You must redirect the main page (`/`) to the path (`C/대문`) and display the content of the entry. This way, the application knows that current path is `/C/...`, and relative links are ok.

[2022-09-28 15:56] #2772 closed

[2022-09-30 10:40] MohitMaliFtechiz opened #3095 "Nightly build are actually running on default API but showing as its running on google_apis"
**Describe the bug**
We need to fixed the label since on nighlty we are running it on ```default API``` but label showing ```google_apis```

[2022-09-30 16:51] LeoColman commented on #3091
@MohitMaliFtechiz

If you're looking for an alternative, I've considered
- Realm
- Room
- LitePal
- SQLDroid + KTorm

And ended up with SQLDelight.
I found it easy to use, it's very well maintained and seemed to me the closes solution with the "easier" migration.
I decided to bump it to a new major version instead of trying anything to migrate the previous database. My app already had an Export/Im

[2022-09-30 18:23] kelson42 commented on #3091
@licaon-kter is that the reason why you have basicaly removed all the recent versions of kiwix from F-Droid? If yes, i can only say that auch a move without temporising and informing is really problematic and hardly acceptable as fair.

[2022-09-30 18:49] kelson42 commented on #3091
@MohitMaliFtechiz Îm not in favour of removing objectbox. Not as long as Indon’t fully understand the problem. I don’t understand the rational why part of the compilation script is closed source.

[2022-09-30 18:58] novellus opened #3097 "Kwix on F-Droid only goes up to version 2.4 and has not been updated since 2018-09-21"
Kwix on F-Droid only goes up to version 2.4 and has not been updated since 2018-09-21.
Expected: F-Droid should host the latest builds

https://f-droid.org/packages/org.kiwix.kiwixmobile/

[2022-09-30 19:10] kelson42 commented on #3097
@novellus I discovered the problem 30 mn ago. I guess the problem is directly a consequence of #3091. To be confirmed.

[2022-09-30 19:38] licaon-kter commented on #3091
@kelson42 not sure what's unclear, I've informed you and removed tainted versions so users don't install non-FOSS apps.

[2022-09-30 19:50] kelson42 commented on #3091
@licaon-kter I have not been informed that you will removed all kiwix versions since years, back to a super old version. This move is anyway unfear, after these has been accepted during years. You basically come back on your own decision without giving time to us to find a situation, so we are basically in a hard and urgent situation because of your lack of ability to enforce your own rules. Final

[2022-09-30 19:58] licaon-kter commented on #3091
The F-Droid policy is clear: _only FOSS_

Devs choose what libs they use, right?

Devs check libs licenses, yes?

Devs check licenses of dependencies of said libs, we hope.

Oh, this did not happen? This does not happen regularly? Yes, and we deal with the flack from both sides, users and devs, just scroll https://gitlab.com/fdroid/fdroidserver/-/issues/1004

[2022-09-30 20:01] kelson42 commented on #3091
Who says that? Sorry I can not see the source of your citation. To the contrary I read https://github.com/objectbox/objectbox-java/issues/560#issuecomment-1186811918 which stated exactly the contrary.

[2022-10-01 05:55] kelson42 commented on #3091
I have no problem to admit there is an issue and F-Droid is legitimate to regulate things like they/you want. We are all FOSS supporters and doers and we know why this is important that as much as possible software pieces are FOSS.

Regarding the F-Droid regulation to forbids non-FOSS in the tollchain, I'm not sure to fully understand the rationals behind them. But I would be really glad to hear t

[2022-10-01 06:30] licaon-kter commented on #3091
I don't see a reason to distribute it if not-FOSS.

If you want to avoid F-Droid distributing the older version in the mean time, I guess we can disable all versions until 3.7.0 is out.

[2022-10-01 06:36] licaon-kter commented on #3091
We've discussed an upgrade path too, but that is done under specific rules and timing: https://gitlab.com/fdroid/fdroiddata/-/issues/2776

[2022-10-01 07:39] kelson42 commented on #3091
This is exactly where you mix things IMO, beetween build dependences and runtime dependences. You only distribute the runtime, and this is perfectly FOSS. What is none FOSS here are the build dependences which you run once in compilation farm, but that does not impact end users because none of this is included in the APK.

You don't have answered about then constraints F-Droid has on the build too

[2022-10-01 07:49] kelson42 commented on #3091
@LeoColman Thank you very much for your inputs. It seems we share the same lot. For the moment, I just try to understand fully the problem and see how to make damage control. I was angry after the play store and now after F-Droid, which is far more painful for me. Nice start in the WE!

[2022-10-01 07:56] licaon-kter commented on #3091
https://f-droid.org/en/docs/Inclusion_Policy/

etc.

Also note that everything mentioned there is FOSS, either if F-Droid builds it, or Debian, or it's a maven repo or it's pulled from upstream.

[2022-10-02 13:50] kelson42 commented on #3091
@MohitMaliFtechiz @gouri-panda if we should consider an alternative to objectbox. Which of the alternatives proposed by @LeoColman would fit the best for us? And why?

[2022-10-02 13:56] gouri-panda commented on #3091
@kelson42 We should consider Room for our database. Google officially recommends this.

According to the official documentation

[2022-10-02 14:19] laggykiller opened #3098 "Custom created uptodate zim search not working on android (Works in Windows and kiwix-serve)"
**Describe the bug**
I have created a zim of uptodate by zimwriterfs. The content of uptodate is downloaded from archive.org: https://archive.org/details/UTDAll2018

Opening the zim in kiwix-android and searching does not work, with infinite loading. It behaved normally on Windows and kiwix-serve -> Firefox are normal.

**Expected behavior**
Uptodate zim displays result after searching on Android

[2022-10-02 15:00] kelson42 commented on #3091
@LeoColman @licaon-kter @gouri-panda Is Room FOSS?! Pretty unclear to me.

[2022-10-02 15:05] gouri-panda commented on #3091
@kelson42 I don't we should worry about license here. It comes with Android SDK package. I think we are good to go.

[2022-10-02 15:08] kelson42 commented on #3091
@gouri-panda Firebase is part of the SDK as well right?

[2022-10-02 15:12] gouri-panda commented on #3091
@kelson42 Yes, but it's hosting service for database, content and authentication etc.

[2022-10-02 15:13] kelson42 commented on #3091
Firebase is forbidden... so we should always be  careful about licenses.

[2022-10-02 15:16] gouri-panda commented on #3091
@kelson42 I think this [file](https://cs.android.com/androidx/platform/frameworks/support/+/androidx-main:room/room-runtime/src/main/java/androidx/room/Room.kt?q=room&ss=androidx%2Fplatform%2Fframeworks%2Fsupport) is a good way to look at it.

[2022-10-02 15:17] gouri-panda commented on #3091
Honestly, I don't know much about licenses.

[2022-10-02 15:27] licaon-kter commented on #3091
https://mvnrepository.com/artifact/androidx.room/room-runtime/2.4.3 looks fine

Firebase (except like 1 lib) is not FOSS licensed afaik. And if it is then it depends on other Google proprietary lib like GMS

[2022-10-03 07:16] MohitMaliFtechiz commented on #3091
hi @kelson42 ,

I also vote for ROOM db since its google official now.

[2022-10-03 07:48] eighthave commented on #3091
F-Droid's policies on free software come from Free Software Foundation, Open Source Initiative, Debian, etc.  They have clearly defined what free software is, so we don't need to.  (In fact, F-Droid is a bit looser than all of those, we currently allow non-free assets, though that might change).  An easy way to think about what free software is: can the user customize it using only free software?

[2022-10-03 12:10] MohitMaliFtechiz commented on #2595
hi @kelson42 ,

Unable to reproduce the error, i think this is already fixed.
  * Version of Kiwix Android : 3.6.0
  * Device : MI Redmi Note 9
  * OS version : Android 11

[2022-10-03 12:13] kelson42 commented on #2595
@RaiLokesh We beliwve this bug is fixed in kiwix for android 3.6.0. Please tey with it or a nigthlt https://download.kiwix.org/nightly/. If you still have a problem, please reopen this ticket.

[2022-10-03 12:13] #2595 closed

[2022-10-03 12:57] MohitMaliFtechiz commented on #3098
hi @laggykiller ,

I tried to build the custom zim , I am following yours step please confirm the step
``` zimwriterfs -w UpToDate.htm -l eng -I uptodate.png -t uptodate2018 -d "UpToDate 2018" -c UpToDate -p myself ./UTDall ./uptodate2018.zim```.

here ```-I``` needs to be in lower case also ```-i``` stands for ```-i, --withFullTextIndex	index the content and add it to the ZIM.``` so i am not sure

[2022-10-03 13:26] MohitMaliFtechiz opened #3099 "Zim file not opening over hotspot on libkiwix 10.1.1"
**Describe the bug**
On libkiwix 10.1.1 , zim file while opening over hotspot resulting ```The requested URL "/" was not found on this server.```.

**Expected behavior**
Its should open the zim file without any issue

**Screenshots**
![Screenshot from 2022-10-03 18-52-57](https://user-images.githubusercontent.com/34593983/193588946-e4684153-6689-46ec-9f8b-7cfa55dc1bae.png)
![Screenshot from 2022-1

[2022-10-04 12:41] MohitMaliFtechiz commented on #3099
hi @mgautierfr ,

I debug the issue seems like its issue with the libkiwix lib not from android side , I have debug the path seems like we are getting the path url on android while creating Library object for  calling ```getNativeServer(library)```. But after starting server home page works fine but inner url leads to not found. @kelson42 please transfer this ticket to libkiwix lib.

[2022-10-04 13:01] MohitMaliFtechiz commented on #3098
hi @laggykiller ,

I tried build the zim you mentioned above , it was succeed by replacing ```-I```  to ```-f``` but when i am searching anything it's just bring me unloaded image. I am attaching the screenshot may be this is due to  different version of ```zimwriterfs``` .

<img src=https://user-images.githubusercontent.com/34593983/193825526-f70042b2-fc35-4f23-8e56-2cd226c4687b.jpg width=200px h

[2022-10-04 13:57] laggykiller commented on #3098
That unloaded image might be the spinning icon...
Does your zim work on desktop / kiwix-serve?

[2022-10-04 18:12] gouri-panda opened #3101 "Migrate from ObjectBox to Room"
We previously discussed why it's important for our applications in #3091

**Describe the solution you'd like**
We can create helper classes that migrate the previous data of the user to the new room database and then refactor necessary the code along the way.

[2022-10-04 18:34] gouri-panda opened #3102 "Update the database tests"
This is a subtask of #3101. Some of the breaking changes are we doing in those areas.

* History(Responsible for the save history, deleting history, and deleting pages) https://github.com/kiwix/kiwix-android/blob/e2c901bf22034ea891c29ce12bc5793df7eccf52/core/src/main/java/org/kiwix/kiwixmobile/core/dao/entities/HistoryEntity.kt
* NewBookDaoTest (Responsible for offline storing Books/Zims in) https