[2019-08-31 18:05] kelson42 commented on #746
Not enough details to reproduce the problem or fix it.

[2019-08-31 18:05] #746 closed

[2019-08-31 18:07] kelson42 commented on #169
@mhutti1 @rashiq Wonder if this ticket is still valid after 3 years?

[2019-08-31 18:07] kelson42 commented on #174
@mhutti1 @rashiq Wonder if this ticket is still valid after 3 years?

[2019-08-31 18:07] kelson42 commented on #173
@mhutti1 @rashiq Wonder if this ticket is still valid after 3 years?

[2019-08-31 18:18] abdulwd commented on #173
Still, we have not extracted the menu logic to a separate class. So yes.

[2019-08-31 18:22] abdulwd commented on #547
@geekRishabhjain You can work on it. Do read the readme and contributing.md.

[2019-08-31 19:16] kelson42 commented on #122
@julianharty Could you please explain the relation to Android vitals?

[2019-08-31 19:37] geekRishabhjain commented on #547
@abdulwd yes, thanks.

[2019-08-31 19:44] kelson42 commented on #1084
I dont understand the primary problem. It seems that is is difficult to find things, but we don't know what. Therefore I have no clue if at the root of this request there is a bug. My feeling about the idea is pretty much the same as @mhutti1: sounds a bad idea. In favour of closing that ticket with: wontfix.

[2019-08-31 19:46] kelson42 commented on #1064
This is a serious usability problem. I see no good solution without using the new to be implemented ZIM JS API.

[2019-08-31 19:47] kelson42 commented on #1065
This is a request for MWoffliner IMO.

[2019-08-31 19:48] kelson42 commented on #1065
/move openzim/mwoffliner

[2019-08-31 19:48] #1065 closed

[2019-08-31 19:54] kelson42 commented on #859
I need to confirm or close that with 3.0

[2019-08-31 19:55] rajput2122 commented on #1355
Sir i am not able to check it on my phone because get content or download book option is not showing anything to download even online , so there is no items in recyclerview to check the scrolling

[2019-08-31 19:56] kelson42 commented on #911
@siddharth2010 Instill believe this would be really great to fix that problem soon. Would you by any chance in position to tacle that problem?

[2019-08-31 19:58] kelson42 commented on #844
No feedback from the user. Being unable to reproduce the problem, there is nothing more we can do.

[2019-08-31 19:58] #844 closed

[2019-08-31 20:00] kelson42 commented on #841
@ritik2017 has fixed that problem.

[2019-08-31 20:00] #841 closed

[2019-08-31 20:33] siddharth2010 commented on #911
Sure @kelson42 , I will fix it in a day or two.

[2019-09-01 11:17] geekRishabhjain opened #1419 "Search button not working"
**Describe the bug**

**Expected behavior**

**Steps to reproduce the behavior:**
1. Run the latest code.
2. Click on the search icon.
3. Nothing happens

**Environment**
- Version of Kiwix Android : 2.5.1
- Device : Samsung J7
- OS version : 9

[2019-09-01 12:45] abdulwd commented on #1419
Have you opened any zim file before searching?

[2019-09-01 14:39] geekRishabhjain commented on #1419
In that case this turns into a UI problem.
I think we need to tell users that the search button is for zim files and not for online search. Users(as Me) can get deluded into believing it as latter (more intutive). We can either hide it when no zim file is previously accessed, as was the case with me, or it should be made to search online too.

[2019-09-01 14:41] abdulwd commented on #1419
Hide it.

[2019-09-01 14:42] Aditya-Sood commented on #1302
@geekRishabhjain does the problem persist for you after using `develop`?

[2019-09-01 14:46] Aditya-Sood commented on #765
Discussion about integrating a possible fix for this issue is taking place at [kiwix-build/#354](https://github.com/kiwix/kiwix-build/issues/354)

[2019-09-01 15:23] geekRishabhjain commented on #1419
Yes, Yes I will.

[2019-09-01 15:26] mrjohnc commented on #259
@kelson42 why was the issue closed? Has it been implemented?

[2019-09-01 15:30] abdulwd commented on #259
Yes, it's implemented in #1327. You can pull the code from the develop branch and test/use it.

[2019-09-01 15:43] mrjohnc commented on #259
@abdulwd amazing :)

[2019-09-01 16:00] kelson42 commented on #259
@mrjohnc Will be shipped with Kiwix for Android 3.0 during September.

[2019-09-01 17:36] rajput2122 commented on #1355
Can you please help me sir.I want to fix this issue

[2019-09-01 17:38] siddharth2010 commented on #1355
@rajput2122 , are you using the correct build variant?

[2019-09-01 18:03] rajput2122 commented on #1150
i have done this sir .How do i open PR for this issue. I am not able to commit there is error message showing ERROR: JAVA_HOME is not set and no 'java' command could be found in your PATH.

[2019-09-01 18:16] rajput2122 commented on #1355
i am using kiwixDebug

[2019-09-01 20:08] abdulwd commented on #1150
Install jdk 8 and add JAVA_HOME to your environment variables. May I know which OS you're on?

[2019-09-01 20:22] mhutti1 commented on #1411
Well I mean one could argue that its representative of the real state of the webview as I imagine they don't load while not visible.

[2019-09-01 20:23] mhutti1 commented on #943
I think it means we should implement the fixes?

[2019-09-01 20:24] mhutti1 commented on #169
We have moved a lot of them. I guess there is always more possible work.

[2019-09-01 20:25] kelson42 commented on #169
@mhutti1 Do we have any method to detect them?

[2019-09-01 20:25] mhutti1 commented on #174
It looks better, I imagine it could still do with some refactoring. Maybe not worth its own issue though.

[2019-09-01 20:27] #174 closed

[2019-09-01 20:28] mhutti1 commented on #1084
Yeah I would label this won't fix for now at least,

[2019-09-01 20:29] #1084 closed

[2019-09-01 20:36] rajput2122 commented on #1355
please help me sir?

[2019-09-01 20:47] mhutti1 commented on #169
I think the linter detects some types.

[2019-09-01 20:49] rajput2122 commented on #1150
I am working on window 10

[2019-09-01 20:49] rajput2122 commented on #1150
i have already installed jdk 8

[2019-09-01 20:50] rajput2122 commented on #1150
Can you please help me to setting this?

[2019-09-01 22:27] rajput2122 commented on #1355
I have done it sir but while commiting showing error that java home is not set .screenshot of issue solved
![Screenshot_20190902-033457_Kiwix](https://user-images.githubusercontent.com/43101744/64082994-c0049f80-cd35-11e9-91f5-cb81373264ed.jpg)
![Screenshot_20190902-033503_Kiwix](https://user-images.githubusercontent.com/43101744/64082995-c85cda80-cd35-11e9-9a11-4942dd7ec9fa.jpg)

[2019-09-02 01:43] iadeelzafar opened #1420 "Select all files with a single click in ZimHostActivity"
**Is your feature request related to a problem? Please describe.**

There should be a way for the user to select all ZIM files with a single click in ZimHostActivity.

**Describe the solution you'd like**

A button to select all ZIM files. This will make it easier for the user to select all files with a single click that he/she wants to host on the server.

[2019-09-02 08:06] siddharth2010 commented on #1355
@rajput2122 , great job! You just need to install the Java JDK on your computer and set the JAVA_HOME Environment variable.
Here are the instructions to do it: https://confluence.atlassian.com/doc/setting-the-java_home-variable-in-windows-8895.html

[2019-09-02 08:12] abdulwd commented on #1150
Have a look at this: https://stackoverflow.com/a/47902024/7792129.

[2019-09-02 10:36] rajput2122 commented on #1355
ERROR: JAVA_HOME is not set and no 'java' command could be found in your PATH.

Please set the JAVA_HOME variable in your environment to match the
location of your Java installation.

Static analysis found violations and attempted to autofix, please commit these autoformat changes
If the build failed for another reason please make sure JAVA_HOME is set to JDK8

should i have to restart the window

[2019-09-02 12:16] siddharth2010 commented on #1355
Yeah you need to restart the terminal emulator on android studio...

Would be a good option to restart android studio itself

[2019-09-02 12:18] rajput2122 commented on #1355
17:46	Commit failed with error
			0 files committed, 26 files failed to commit: Kiwix banner is now under scrollable region and All
			Running lint...

			Configuring Kiwix
			Configuring customexample
			Configuring kiwix

while commiting this error occurs how to solve it?

[2019-09-02 12:19] siddharth2010 commented on #1355
@macgills might be able to fix that.

[2019-09-02 12:24] rajput2122 commented on #1355
Sir is there any public chat channel on gitter of kiwix/anroid?

[2019-09-02 12:54] rajput2122 commented on #1355
I have opened a PR kindly review it @siddharth2010

[2019-09-02 13:34] abdulwd commented on #1355
@rajput2122 How did you commit even when the lint was failing?

[2019-09-02 13:37] rajput2122 commented on #1355
Actually sir in lint there was error showing about srcCompact attribute for imageview . i resolved that then there was no any error in logcat and committed successfully

[2019-09-02 13:39] rajput2122 commented on #1355
i also resolve issue #1150 in this pull requests as mentioned in that issue to change every .png to vector assets

[2019-09-02 14:14] geekRishabhjain commented on #547
@abdulwd I wanted to know, don't RecyclerView.Adapter have .addall(recentSearches) function, as is the case of ArrayAdapter<String>.
I want to change

[code]

This function, and addAll is not accessible? Do I create a new Instance of defaultAdapter? Here is the default Adapter that I have created so far::

[code]

[2019-09-02 15:26] kelson42 commented on #1411
@mhutti1 Yes, you probably could... but pretty sure you shouldn't ;)

[2019-09-02 18:06] geekRishabhjain commented on #547
I have converted one of the list views into the recycler view can someone please review the code before I commit and create a PR.

(I think it needs some improvement and I am facing one bug, the notifyDataSetInvalidate() in autoComplete Adapter is not getting recognized, I googled why but could not figure out)

Any other suggestions are also welcomed, here are the links for gists for the code:

[S

[2019-09-02 18:11] kelson42 commented on #547
@geekRishabhjain If you work is not over, then open a PR in draft mode or with "WIP" written in the topic. Code review consumes time. Code review without PR is even worse... so please do a PR.

[2019-09-02 18:24] geekRishabhjain commented on #547
oh thanks, @kelson42 . can you please tell me how to resolve the issue(A single issue, I feel it should not take much time) in [autocomplete](https://gist.github.com/geekRishabhjain/c68b5f8ed83ebc75ef249811da0d6ed9)

Line number 155, notifyDataSetInvalidated(). notifyDataSetChanged() (line 153) is working fine but not former.

On googling I found, we need to do adapter.notifyDataSetInvalidated().

[2019-09-02 21:18] mhutti1 commented on #1383
This is more difficult that I thought. We need storage permissions to clear notes and we don't currently have a way of getting these from settings.

[2019-09-03 08:04] kelson42 commented on #1136
I'll close that ticket for now.

[2019-09-03 08:04] #1136 closed

[2019-09-03 09:09] macgills commented on #173
Refactoring would be good, adding a new library is not needed I would say

[2019-09-03 09:47] macgills commented on #943
Deprecated usages can be a bit annoying but it isn't the most urgent. We could raise the IDE inspection to error to heavily discourage deprecated usages happening in the future?

[2019-09-03 10:09] macgills commented on #169
`magic number` & `hardcoded text` are the inspections/issues that would help us, overall constants need to be handled better and placed in appropriate files

[2019-09-03 10:17] macgills commented on #1383
We really need to make a PermissionRequester class to ease the pain of requests

[2019-09-03 10:23] geekRishabhjain commented on #1355
@siddharth2010

The same error is also occurring in ubuntu, any references or links?
Further, I've worked on other android app projects too but JAVA_HOME error never occurred, is it something related to the version of JAVA the different projects use?

[2019-09-03 10:29] macgills commented on #1355
Have you built locally using `gradlew` before?
Before every commit we run a `hook` so that the quality of the code is verified and this requires the user to be set up to run gradle commands

[2019-09-03 10:31] geekRishabhjain commented on #1355
Actually I want to create a work in progress commit.
Whole work is complete but one line is causing bug, so.

[2019-09-03 10:33] geekRishabhjain commented on #1355
What should I really do? I want my code reviewed, I have previously mentioned it  [here](https://github.com/kiwix/kiwix-android/issues/547#issuecomment-527219321)

@kelson42 suggested me to create a PR with Work in progress head when I went to commit it, the error was shown. Seeing it first time.

[2019-09-03 10:33] macgills commented on #1355
comment out the line?

[2019-09-03 10:42] geekRishabhjain commented on #1355
I did it, committing is still showing me the same JAVA_HOME error, and gradlew is also not found.
What wrong am I doing here?

[2019-09-03 10:44] geekRishabhjain commented on #1355
`java --version` gives me
[code]

[2019-09-03 10:45] macgills commented on #1355
ignore committing for now, go to your kiwix-android folder and run `gradlew lintKiwixDebug`.

Then that is obviously wrong, your java home needs to be set to 8 and is 11

[2019-09-03 10:49] siddharth2010 opened #1422 "Add java 8 dependency in the Readme"
We should add the instructions to install JAVA 8 and setting up the JAVA_HOME environment variable in the readme in the Build section.
This will be very helpful for new comers, who are not familiar with the commit githooks and are stuck with the commit failing..

[2019-09-03 10:51] siddharth2010 commented on #1422
@macgills , do you think we should do this.
IMO this would be very helpful cause most newcomers that i know just use the JDK bootstrapped with android studio and dont have the JDK installed on their computers

[2019-09-03 11:02] macgills commented on #1422
[code]

We present an error message at the appropriate time. I don't think adding an additional thing that people won't read is of massive use or - more accurately - is equally useful

[2019-09-03 11:02] iadeelzafar opened #1423 "Turning off hotspot manually doesn't updates layout"
**Describe the bug**
Turning off hotspot manually doesn't updates layout. (on devices < Oreo)

**Expected behavior**
If server was started, and user turned off hotspot manually, then the layout should be updated. And the foreground notification should be dismissed.

**Steps to reproduce the behavior:**
1. Start server in `ZimHostActivity`
2. Turn off hotspot manually
3. Go back to `ZimHostActivity

[2019-09-03 11:05] iadeelzafar opened #1424 "Remove/hide books from list which are not hosted in ZimHostActivity"
**Describe the feature you'd like**
In `ZimHostActivity`, after the user pressed the start server button the books which are not hosted should either be grayed out or hidden from the list of hosted books.

[2019-09-03 11:15] macgills commented on #1424
Deleted you mean?

[2019-09-03 11:18] iadeelzafar commented on #1424
@macgills Hidden as long as the server is running. Once server is stopped, they should re-appear.

[2019-09-03 11:24] geekRishabhjain commented on #547
@kelson42 Sorry for asking a nuisance question, but I did some searching and am left clueless.
As you mentioned I should Create a PR with WIP in the topic. I tried committing the code and it would show me this:
'''
BUILD FAILED in 2m 6s
20 actionable tasks: 13 executed, 7 up-to-date

Configuring Kiwix
Configuring kiwix
Configuring customexample

Deprecated Gradle features were used in this build,

[2019-09-03 11:26] macgills commented on #1424
ZimFileSelectFragment should not allow books to be deleted while they are being hosted by the HotspotService.
I think we still want a user to be able to read them locally while they are being hosted

[2019-09-03 11:31] macgills commented on #547
`gradlew` not `gradle`

You didn't do anything wrong setting up the project but there are some expectations are knowing about JAVA_HOME, path varaibles and the JDK before jumping into Android development.

Due to an error with a recent merge develop is not as error free as it always should be, this would have gone a lot more frictionless if process had been followed explicitly on that PR. I have m

[2019-09-03 12:19] abdulwd commented on #1424
No no, the goal of this ticket is to let users know which ZIMs are hosted on the server. So after user presses the start server button the books which are **NOT** hosted should either be grayed out or hidden from the list of hosted books in ZimHostActivity.

[2019-09-03 12:28] macgills commented on #1424
Sorry yes, ZimHostActivity, my mind kept putting in `ZimManageActivity` for some reason.

[2019-09-03 12:38] geekRishabhjain commented on #547
@macgills thanks, I'll look into the changes.

[2019-09-03 13:27] siddharth2010 commented on #1422
Yeah, I guess you are right..

[2019-09-03 13:27] #1422 closed

[2019-09-03 14:05] julianharty opened #1426 "Proposal: to update the custom Android apps with bug-fixes on the 2.4 release"
Our most recent releases for the custom apps range from August to December 2018. AFAIK they're based on release 2.4 of the main Kiwix Android app. The crash rates for many of these apps is far higher than either we'd like, and they also exceed Google's threshold for the maximum crash rate (1.09%)

Here's the current statistics for our custom apps with at least 1000 active installs.

Custom App | 3

[2019-09-03 14:08] julianharty commented on #1426
I've assigned myself for now and happy to help make this happen. I'd suggest we create test releases initially.

Contributions are also welcome and I don't have the tools or permissions to make releases.
@kelson42 @macgills @Popolechien @mhutti1 What do you think about this idea? please let me know where there are issues, challenges, etc. Also you may well have alternative suggestions based on you

[2019-09-03 14:17] Popolechien commented on #1426
I'm all for it, with one simple question: assuming this is successful, how complicated will it be to manage technical debt in the medium term (say, 2 years from now)?
Or is it just a quick immediate fix to a specific issue that does not prevent us to move to 2.x or even 3.0 later on?

[2019-09-03 14:22] macgills commented on #1426
My preferred route is await 3.0 release and update the custom apps then.
My next preference is to update them with 2.5.3.
My least preferred option is to use 2.4.

I will be travelling to Switzerland on the 16th for a few days to work through the strategy for custom apps with @kelson42 in person and I feel the intention was to use the (hopefully) recently released 3.0 as the basis for that.

Maint

[2019-09-03 14:39] macgills commented on #1181
@kelson42 I moved this ticket to 3.1, please move it back to 3.0 if you think it the better place for it

[2019-09-03 14:40] macgills commented on #1116
I think it no longer makes sense to have this in the 3.0 milestone, moving to 3.1

[2019-09-03 14:46] macgills commented on #62
I am moving this ticket to 3.1, @mgautierfr if you can review the information on this ticket and give your opinion on it's viability we can progress with it

[2019-09-03 15:18] mgautierfr commented on #62
Yes it is feasible. At least we will be able to have some trace and solve issues.

Next question will be : "What to do when native code crash ?" If we crash because of a sigsegv, the library is in an undefined state so unusable.

[2019-09-03 15:19] macgills opened #1428 "KiwixSettingsActivtyTests Disabled"
**Type of Test**

* [ ] Unit Test
* [x] UI Test

**Particular area and files to be tested**
KiwixSettingsActivityTest was disabled because the old tests were causing the build to hang, these tests should be rewritten in kotlin and with a PageObject

**Current Status of the tests**
Ignored

**Particular Behaviour to be tested**
Click on every preference and dialog

[2019-09-03 15:22] macgills commented on #62
Is there much internal state of the library? Can we supply a method to reset the state of the library.
On android we can relaunch the process which is fairly nasty but gives you a guarantee there is no lingering state

[2019-09-03 17:10] Popolechien commented on #1426
I don't know if it is related or adds much to the discussion but for the past couple of weeks I've seen an increase in users reporting an erratic behaviour with the Wikimed app.

[2019-09-03 20:07] julianharty commented on #1426
@Popolechien What I'm proposing would be an interim release, to be replaced once we have new and improved custom apps around release 3.1 timeframe. So I'd hope this update would have a useful life of between 2 and 6 months.

@macgills I agree it's sometimes painful to support 3 release branches. The main reason I propose using 2.4 is because there have been extensive changes in the interim to the

[2019-09-03 20:14] julianharty commented on #64
Here are some thoughts on how we can design and implement support for obtaining the expansion file(s) on a device.

Firstly, Kiwix aims to support offline use - so there should be viable alternatives to obtain the content beyond (re-) downloading it from Google Play Store. For many users that won't be viable/desirable. As I've discovered, in some regions users share and sideload apps, including Ki

[2019-09-04 04:19] kelson42 commented on #12
@macgills @mhutti1 I see that @jhbiggs  has started to work on that issue. Considering that the ticket is preety old, would like to confirm with you that this is still what we want to do?

[2019-09-04 06:31] Aditya-Sood commented on #1383
@mhutti1 for now we could shift it to the add-note fragment itself, as an option that is always displayed in an overflow menu (so that the user is aware that it 'clear(s) all notes')

[2019-09-04 07:23] geekRishabhjain commented on #547
This is causing me headaches now,

what wrong am I doing?
[code]
[code]
And

[code]
Gives
[code]

[code]
Gives
[code]

[2019-09-04 08:08] macgills commented on #1426
3.0 milestone is set to end 15th September, I have some reservations about that given the amount of remaining tickets in the milestone but it is unrealistic that 3.0 will be unreleased by the end of September.

[2019-09-04 08:11] kelson42 commented on #1426
@julianharty Kiwix for Android 3.1 is focus on releasing again properly our custom apps on the new 3.0 code base. This is planned an will happen before the middle of October. I'm not in favour to speeding up this as this would mechanically means delay 3.0 release.

[2019-09-04 08:12] macgills commented on #12
I really can't comment on the Phet app but would urge @jhbiggs and other contributors to first look at the `good first issue` tags in the latest milestone ie 3.0

[2019-09-04 08:15] kelson42 commented on #12
@jhbiggs I think your work is necessary but probably a few things need to be clarified first for this ticket. We will do that specifically during the 3.1 milestone (in a few weeks). Sorry to see you working on things which are not 100% ready, our fault. Please let us know if you plan to work on something first, so we are all sure we don't waste time.

[2019-09-04 08:23] macgills commented on #1383
The app barely functions without access to storage permissions as is and a user would have had to have granted the permission to want to delete notes they had created in the first place.
I could be fine with following the example of historyClear
[code]
but throw a `ContextCompat.checkSelfPermission` in there and show a toast saying we can't delete without storage permission. Flag it for updating w

[2019-09-04 08:33] macgills commented on #547
This is what I have set for my java home
![image](https://user-images.githubusercontent.com/3358282/64238375-36500000-cef6-11e9-873f-6e7559bf3bc9.png)

This is what I have set in my PATH for java
![image](https://user-images.githubusercontent.com/3358282/64238497-6eefd980-cef6-11e9-9b53-ce544d6abc58.png)

I haven't done this on linux so [stack overflow is your friend](https://askubuntu.com/questio

[2019-09-04 08:36] julianharty commented on #1426
@kelson42 I'm confused by what you've written. To help me understand, please could you clarify your plans and timescales for the current custom apps and whether fixing the current crashes is worth the investment in the current releases of the custom apps.

Here are some suggested options:

1 Park this proposal, focus on getting 3.0 and then 3.1 released. The work for 3.1 will involve renovating an

[2019-09-04 08:52] macgills commented on #152
I am struggling to reproduce this as all links on this issue have expired but with the recent re-enabling of StackOverflow zims I say this should be re-tested

[2019-09-04 08:53] kelson42 commented on #152
@macgills If you can reproduce the problem with the article "Signal Processing" and https://download.kiwix.org/zim/stack_exchange/dsp.stackexchange.com_en_all_2019-01.zim ... then I would recommend to close the ticket.

[2019-09-04 08:59] macgills commented on #1426
If you want to branch off of develop now (periodically merging dev in) and begin work on 3.1 tickets relating to custom apps that could expedite that release and will focus our energy towards a mutual goal.
A 2.4.x release is not desirable especially if it is in fact partly 2.5.3. Already in 3.0 there are so many fixed bugs that will improve user experience and crash rate, I believe this to be the

[2019-09-04 09:11] macgills commented on #152
tch, still broken
![image](https://user-images.githubusercontent.com/3358282/64241863-67333380-cefc-11e9-870f-c46347e2b7dd.png)

[2019-09-04 09:30] macgills opened #1429 "Standardise Copyright across project using Copyright Plugin"
**Is your feature request related to a problem? Please describe.**
Copyrights are inconsistently placed, missing or have varying contents.

**Describe the solution you'd like**
Using the [plugin](https://www.jetbrains.com/help/idea/copyright.html) bundled with android studio we should commit this configuration to git and apply it to the project

[2019-09-04 12:28] macgills opened #1431 "Revert build.gradle.kts to build.gradle"
**Is your feature request related to a problem? Please describe.**
Android Studio shows a warning that it does not support build.gradle.kts files

**Describe the solution you'd like**
Revert the file back to groovy

**Describe alternatives you've considered**
Wait until build.gradle is supported

**Additional context**
We can additionally move our versions/libs to a `buildSrc` folder and have that

[2019-09-04 13:13] iadeelzafar opened #1432 "Hotspot stops when going back to MainActivity (>=O)"
**Describe the bug**
Hotspot stops when going back to MainActivity (on devices>=O).

First, I suspected this might be happening when `ZimHostActivity` is destroyed. But that's not the case. If you turn on hotspot and destroy the app from the background, hotspot won't stop.
I've reproduced this bug only after going back to `MainActivity`.

_P.S: This bug can be reproduced 1/4th of the times._

**Ex

[2019-09-04 14:07] rocky-III opened #1434 "No Article – just white page"
tested today kiwix  2.5.1 (220501) for android install from f-droid… Content from before 2018-10 does work just fine… but with newer content i got some problems…
the index of articles   is shown but if i select an article I just get a white page… I tried quid a few content sources zim files…  small and big ones… all Content after  2018-10 does not seam to work on my device. I´m on android lienageO

[2019-09-04 14:57] kelson42 commented on #1434
@rocky-III Thank you for your bug report. This bug has been fixed in 2.5.3. You can download an APK from https://download.kiwix.org/release/kiwix-android/2.5.3/

[2019-09-04 14:57] #1434 closed

[2019-09-04 14:58] kelson42 commented on #1432
@iadeelzafar Thank you for reporting this, seems quite a serious problem to me.

[2019-09-04 14:59] iadeelzafar commented on #1432
@kelson42 That's right. I'm working on this as my first priority right now.

[2019-09-04 15:06] rocky-III commented on #1434
Ohh YES - thnak you very much...

better update this version on f-droid soon -- thanks

[2019-09-04 15:28] julianharty commented on #1426
@macgills I'll do what I can to contribute to a 3.1. I don't plan to lead the development or merging of tickets as I reckon that'd take more time than I can volunteer, however let's see how much is involved and play things by ear.

I'll leave it to you and others to decide to wait until 3.1 - I don't have the tools or access to make releases anyway :) I do think it's a pity to let the current cras

[2019-09-04 15:36] rocky-III commented on #1434
Do you have also an update for wikivoyageeurope ?
https://f-droid.org/de/packages/org.kiwix.kiwixcustomwikivoyageeurope/
I find the same bug at this app

[2019-09-04 15:38] kelson42 commented on #1434
@rocky-III Not for now, a new release will be done in October.

[2019-09-04 15:38] kelson42 commented on #1434
@rocky-III But you can use a recent Wikivoyage ZIM file with Kiwix for Android...

[2019-09-04 15:38] rocky-III commented on #1434
thanks for your work

[2019-09-04 16:34] hamkido opened #1435 "The horizontal screen shows abnormal white"
**Describe the bug**
The horizontal screen shows abnormal white
*Screenshots**
![Screenshot_20190905-002830_Kiwix](https://user-images.githubusercontent.com/43724352/64273924-e5cbb780-cf74-11e9-9f49-5246cb871383.png)

**Environment**
- Version of Kiwix Android : from 2018 year version to today 2.5.3
- Device : mi8 and huawei
- OS version： lineagos and emui
android  6 7 8 9

[2019-09-04 16:37] kelson42 commented on #1435
Looks to be a similar bug like reported here #226

[2019-09-04 16:38] abdulwd commented on #1435
@hamkido Can you test the develop branch?

[2019-09-04 16:39] kelson42 commented on #1435
@hamkido Or with this APK https://download.kiwix.org/nightly/2019-09-04/3143-kiwix-universal-debug.apk

[2019-09-04 16:40] kelson42 commented on #226
@mhutti1 Could you tell us if the bug is still there with 3.0 please?

[2019-09-04 23:36] hamkido commented on #1435
@abdulwd I tried the nightly build, It can display normally. Thank you for your help.

[2019-09-04 23:36] hamkido commented on #1435
@kelson42 It works. Thank you.

[2019-09-05 03:49] #1435 closed

[2019-09-05 06:53] rocky-III commented on #5
hi
I´m testing kiwix on android and i would find it very usfull if the geo links in WikiVoyage would also work in the offline version but all maps do not show up in the first place... Why ??
If the links could linked to an offline map like OsmAnd this would be perfect for traveling.
thanks

[2019-09-05 07:08] kelson42 commented on #5
@rocky-III This is a complex problem as we would need to integrate a mapping system in the ZIM file itself. Currently in many places you have a `geo:` link which should redirect to whatever mapping app you prefer.

[2019-09-05 07:23] rocky-III commented on #5
Ok thanks but I can´t find this `geo:` links in the german WikiVoyage Kiwix version... where do i have to search?

[2019-09-05 07:45] kelson42 commented on #5
@rocky-III This is a decision of Wikivoyage DE then. For now, there is nothing more we can do on our side.

[2019-09-05 08:02] #563 closed

[2019-09-05 08:07] rocky-III commented on #5
i just wnat to be sure that i don´t miss something...

that is how is looks for HAMBURG online:
![h-burg-01](https://user-images.githubusercontent.com/6730765/64323033-f6574e80-cfc3-11e9-8d39-3b1fb13d25cf.jpg)

and this is kiwix showing:
![2Screenshot_20190905-100256_Kiwix](https://user-images.githubusercontent.com/6730765/64323352-9f05ae00-cfc4-11e9-8608-c72910091f4d.png)

where are the geo links

[2019-09-05 11:04] #1150 closed

[2019-09-05 11:04] #1355 closed

[2019-09-05 11:29] macgills commented on #859
Could not reproduce, closing

[2019-09-05 11:29] #859 closed

[2019-09-05 14:22] alexanderadam opened #1440 "Content seem to be empty/invisible"
**Describe the bug**
I'm using Kiwix with storage set to SD card ( `/sdcard/Android/data/org.kiwix.kiwixmobile/files/Kiwix/` because the device storage is too small)

Now when I go to `Get Content` I can see the zim dumps (it's `wikipedia_de_all_maxi_novid_2019-08.zim` and `wikivoyage_de_all_novid_2019-06.zip` in case that's relevant) within the `DEVICE` tab with proper icon, size and metadata. No

[2019-09-05 14:31] macgills commented on #451
Coloring the status bar is not supported pre 5.0. Any solution is a dirty hack eg requesting translucent status bar and making toolbar fit system windows. Also dirty hacks that don't work because I just tried that.
I am going to close and label as `won't fix`. If somebody who was able to reproduce champions this then more power to you

[2019-09-05 14:31] #451 closed

[2019-09-05 14:34] macgills commented on #1440
resolved in 2.5.3 which is released on the play store and [here](https://github.com/kiwix/kiwix-android/releases/tag/2.5.3) and [here](https://download.kiwix.org/release/kiwix-android/2.5.3/). Thank you for the report

[2019-09-05 14:34] #1440 closed

[2019-09-05 14:37] alexanderadam commented on #1440
@macgills thank you for your fast response. Do you know when [`2.5.3` will land on F-Droid](https://f-droid.org/en/packages/org.kiwix.kiwixmobile/)?

[2019-09-05 14:40] macgills commented on #1414
Read Aloud is not present when no Zim File has been selected. Issue likely fixed in 3.0 some time ago.
Thank you for your report @XDivergent , closing

[2019-09-05 14:40] #1414 closed

[2019-09-05 14:42] macgills commented on #1440
[October it seems](https://github.com/kiwix/kiwix-android/issues/1434#issuecomment-527957550)

[2019-09-05 14:58] alexanderadam commented on #1440
Oh wow. Until now I thought those releases usually would be done automatically via GitHub tags or so?

Thank you for the info.

[2019-09-05 15:12] macgills commented on #1440
The relative size of f-droid means the tooling is not so easy. We just recently added automatic play store publication, GitHub releases and publishing to our own download.kiwix.org.
With the introduction of our more streamlined build process and semantic versioning I think this should be easier. I have not been involved in many conversations on F-droid

[2019-09-05 15:22] alexanderadam commented on #1440
I see, thank you for explaining this issue and your work in general!

[2019-09-05 19:14] geekRishabhjain opened #1441 "ISSUE CREATING A PR"
This is causing me headaches now.
I have done everything.
Uninstalled Java, reinstalled it. Got rid of JAVA 11, JAVA 12, JAVA 8 and then reinstalled JAVA 8.
Checked JAVA_HOME multiple times.

**Describe the bug**
Not able to commit in ubuntu

**Expected behavior**
Should be able to commit

[code]
This is what I get.

**Environment**
JAVA -version:
[code]
[code]

[code]

I am trying to commit since

[2019-09-05 19:32] geekRishabhjain commented on #1441
I really want to contribute to the project, in case I am not able to solve this issue. I'll share you gists. So that someone else can create the PR.
BTW none of the team members uses linux?

[2019-09-05 23:42] jhbiggs commented on #12
No worries, I'm really just enjoying the practice.  I'll have a look at the other good first issues.

[2019-09-05 23:48] jhbiggs commented on #1126
A good issue to work on?

[2019-09-06 03:33] kelson42 commented on #1126
@jhbiggs Definitly if the bug is still there.

[2019-09-06 04:39] kelson42 commented on #1441
@macgills Always give the command you type with the output you get in a bug report. Which command goes wrong?

[2019-09-06 04:43] kelson42 commented on #1431
@macgills Reading #947, I thought we were still using groovy!

[2019-09-06 08:29] macgills commented on #1431
We have a mix right now, the project `build.gradle` was converted to `build.gradle.kts` but the app level `build.gradle` is still in groovy

[2019-09-06 08:36] macgills commented on #1441
There should be far more output than this. Please paste the full log. Seeing as `BUILD SUCCESSFUL in 4s` is present I'd wager you solved the problem and did not see that the build was failing for a reason. Start again from develop or merge develop in and you should have an easier time of it.
There is also the option of skipping the pre-commit hook by using `--no-verify` but the commit hook is actu

[2019-09-06 09:26] macgills commented on #1396
Unsuccessful load after a dummy cursor returned on ContentProvider query
[code]
`2019-09-06 10:14:26.216 9179-9944/org.kiwix.kiwixmobile D/kiwix: reading  A/New_Skyfarer_Special_January_2018.html(mime: text/html, size: 17809) finished.`  this line I think may be of special interest as we were told to load `A/The_New_Skyfarer_Special.html` but actually read `A/New_Skyfarer_Special_January_2018.html

[2019-09-06 09:54] macgills opened #1443 "Route all usages of AlertDialog to DialogShower"
**Is your feature request related to a problem? Please describe.**
To control the styling and behaviour of all dialogs right now is a pain as the implementations are spread across many classes

**Describe the solution you'd like**
Route all dialog showing through the DialogShower component

[2019-09-06 09:59] macgills commented on #1383
@mhutti1 have you been working on this? I assume you have but it hasn't been explicitly stated, could you assign yourself?

[2019-09-06 10:07] macgills commented on #1263
We will need to do another translation push as a lot of strings have been added for LocalFileTransfer and Hotspot. I don't think there are anymore strings to be added so now is a good time to do it @kelson42

A lot of these problems are going to be pretty persistent though because the text getting rendered is just data we get from the server and unless that responds with the correct text for the l

[2019-09-06 12:44] #430 closed

[2019-09-06 12:53] macgills commented on #1205
I've opened a PR (see above) and I redid it completely and am using a new component and standardised a bunch of code and I am pretty sure it behaves exactly the same as the old code :/

So android continues its grand dance of lying straight to my face. Or it is reporting the truth and what it shows is really the amount of space we can use.
Either way there is more kotlin code and tests so I am hap

[2019-09-06 13:19] macgills commented on #1014
[code]
I am completely unaware of how to diagnose this.
`2019-09-06 14:05:10.319 17627-19257/org.kiwix.kiwixmobile D/kiwix: reading  I/m/Kaji-Title-v3-Print-COVER-AMAZON.jpg%3Fresize%3D232%2C348.svg(mime: image/svg+xml, size: 8439) finished.
`
 this reading seems fine? is it a problem with svgs? If so will we have to detect the mime type and write out custom html at `ZimContentProvider.TransferThr

[2019-09-06 13:21] geekRishabhjain commented on #1441
@kelson42
[code]
And this is the output I got
[code]

@macgills This is my first real life project, I have never used gradle before and have developed only a few small 3-4 mb aps.
So I think there is alot to learn.
BTW it shows error in string.xml which I haven't even touched.

[2019-09-06 13:32] macgills commented on #1441
Yup those string errors were from a bad merge that happened, I resolved them at the start of this week so update and it should all be fine.

Gradle is great fun when you get into the swing of things, I tap `gradlew uninstallAll` (uninstalls all app variants from all connected devices) about 50 times a day and because you can mangle the hell out of a task name and it makes sense of it what you can

[2019-09-06 13:52] macgills commented on #765
@Aditya-Sood what is the state of this? Why does it need a kiwix-lib update?
[code]
it seems like we already get all the data we need? Title/url of the suggestion and ZimContentProvider has the ZimId.
I feel like I am missing something here. This screen is also a prime candidate for unidirectional data flow and updating with a recyclerview

[2019-09-06 13:58] macgills opened #1445 "Crash on opening Zim File from a browser download"
**Describe the bug**
Download a zim file in chrome on your phone and when you click open there is a crash

**Expected behavior**
No crash

[2019-09-06 14:14] macgills opened #1447 "Can't open zim from external download"
**Describe the bug**
When you click open on a download of a zim it says "error can't open zim file"

**Expected behavior**
The zim file should open

**Steps to reproduce the behavior:**
1. click on [this](https://download.kiwix.org/zim/stack_exchange/dsp.stackexchange.com_en_all_2019-01.zim ) in chrome
2. click "open" after download completes
3. See error

**Environment**
- Version of Kiwix Androi

[2019-09-06 14:15] geekRishabhjain commented on #1441
oh, in that case, I'll just learn "Gradle" stuff.

[2019-09-06 14:17] macgills commented on #1441
Don't worry about it too much. Run `gradlew tasks` and it will explain what tasks are available to you and which you can run.

Please close this issue if your problem has been resolved

[2019-09-06 14:27] #1441 closed

[2019-09-06 14:37] macgills commented on #152
[code]
So it seems that the app can't figure out from the extension `.js` that the mime type is `application/javascript`.
I added a quick mapping for that and still no luck with mathjax rendering
[code]

Once again completely stuck without some help. @mhutti1 @mgautierfr

[2019-09-06 16:19] kelson42 commented on #152
@macgills There should be not assumption about the mime-type based on the extension. The mimetype is delivered by the libzim.

[2019-09-07 10:35] Aditya-Sood commented on #765
There's an implementation of getNextSuggestion() in kiwix-lib which, along with a title, also returns the corresponding url ([link to function](https://github.com/kiwix/kiwix-lib/blob/master/src/reader.cpp#L814)). Using this implementation will help avoid the cost of an additional call at:
[code]

That is what I am looking at until now. But I need to go through SearchActivity again because I think

[2019-09-07 15:43] kelson42 commented on #1329
I have tested a custom APK provided by @iadeelzafar and it seems to work now on my test device :)

[2019-09-07 15:43] #1329 closed

[2019-09-07 16:31] kelson42 commented on #893
I confirmed this has been fixed. I have tested this with `wikipedia_fr_all_mini_2019-08.zim`. This was a problem in the libzim at indexing time, at least the redirects were not properly taking in account. We will need to regenerate a new WPDE ZIM file.

[2019-09-07 16:31] #893 closed

[2019-09-07 16:35] kelson42 commented on #1075
Quite sure this is fixed with libzim 6.0.0 and Kiwix-Android 3.0, but needs to be confirmed with a recent WPEN ZIM file.

[2019-09-07 16:37] kelson42 commented on #66
This has been fixed with libzim 6.0.0 and Kiwix-Android 3.0, but a new ZIM file of WPEN will be needed.

[2019-09-07 16:37] #66 closed

[2019-09-07 16:39] kelson42 commented on #26
I think this has been fixed, but need to be confirmed with Kiwix Android 3.0 and new ZIM file of WPES

[2019-09-07 16:42] kelson42 commented on #315
I close that ticket as many of the things are quite old and the situation as been seriously improved with Kiwix Android 3.0 (and newest ZIM files).

[2019-09-07 16:42] #315 closed

[2019-09-07 16:43] kelson42 commented on #311
Search should not crash the app or activity anymore, even with 2.5.3.

[2019-09-07 16:43] #311 closed

[2019-09-07 16:45] kelson42 commented on #316
Most of the reports are really old and there is not more we can do with them. Suggestion system has been seriously improved in Kiwix-Android 3.0 / libzim 6.0.0. New tickets should be open if a specific new problem happen.

[2019-09-07 16:45] #316 closed

[2019-09-07 16:46] kelson42 commented on #915
They are added with newer ZIM files and are available in Kiwix Android 3.0

[2019-09-07 16:46] #915 closed

[2019-09-07 16:48] kelson42 commented on #833
This should have been fixed in Kiwix Android 3.0. Please reopen if not.

[2019-09-07 16:48] #833 closed

[2019-09-07 16:49] kelson42 commented on #1320
This is fixed in Kiwix Android 3.0.

[2019-09-07 16:49] #1320 closed

[2019-09-07 16:50] kelson42 commented on #871
This is fixed in Kiwix Android 3.0

[2019-09-07 16:50] #871 closed

[2019-09-07 16:51] kelson42 commented on #887
Strongly suspect this is fixed in Kiwix Android 3.0, but this will need to be verified.

[2019-09-07 16:52] kelson42 commented on #1321
It is now.

[2019-09-07 16:52] #1321 closed

[2019-09-08 21:39] mhutti1 commented on #226
I think this might be an issue with all apps on my phone. I don't think it is kiwix specific.

[2019-09-08 21:39] #226 closed

[2019-09-08 21:44] mhutti1 commented on #12
I think this was requested by @ISNIT0 for Phet? I can't fully remember though.

[2019-09-08 21:56] mhutti1 commented on #1014
This could be todo with redirects (are you using the fixed version)? Otherwise it might be svgs?

[2019-09-08 21:57] mhutti1 commented on #152
I spent a considerable amount of time looking into this and couldn't come up with anything either.

[2019-09-08 21:59] mhutti1 commented on #1383
I haven't been looking at it actually recently. I have been a bit busy :(.

[2019-09-09 01:51] #1205 closed

[2019-09-09 01:54] #1445 closed

[2019-09-09 02:01] kelson42 commented on #1447
@macgills Sounds to be a duplicate of #1312 to me

[2019-09-09 02:02] kelson42 commented on #1351
@Aditya-Sood Which kind a problem (from a user perspective) this ticket should fix?

[2019-09-09 08:12] macgills commented on #1014
Using the fixed version. If there is any way I can debug further to get more info please let me know.The quickest way to patch up my knowledge on kiwix rendering is unfortunately to ask a lot of pestering questions

[2019-09-09 08:19] macgills commented on #152
[code]
Then it is up to @mgautierfr to decipher this line which I think is coming from JNI?

@kelson42 that is not how it works in the app
[code]
We only ask kiwixlib if the `android.webkit.MimeTypeMap` has no satisfying answer. My mapping of js to a mimtetype was just a shot in the dark that has not been committed

[2019-09-09 08:19] macgills commented on #1383
Fair enough, I may take it over as I assess tickets today or anyone else can take it if they manage to swoop in

[2019-09-09 08:22] macgills commented on #1447
No, very different. This launches the app and then fails to open it

[2019-09-09 08:24] macgills commented on #1351
Aditya would have had to learn Rx which was mildly out of scope for the original ticket so we decided to not spend the time there but make a ticket to improve it. From a user perspective there should be zero impact. From a code perspective way nicer.

[2019-09-09 08:55] #1399 closed

[2019-09-09 09:19] macgills opened #1449 "Database Migration 2.5.3 -> 3.0"
**Is your feature request related to a problem? Please describe.**
A migration of data is required to maintain user data across the versions of the app

**Describe the solution you'd like**
Add migrations and test upgrading old data to new data

[2019-09-09 10:09] Popolechien commented on #1263
@macgills Where do you get these strings from (and that I could direct translators to?) Translatewiki?

[2019-09-09 10:17] macgills commented on #1263
The project has a `strings.xml` file that contains the default English strings that we should base translations on. The process of translation is not very clear to me so @kelson42 will have to fill you in but I imagine it is Translatewiki?

[2019-09-09 12:37] macgills commented on #1126
@jhbiggs are you working on this? If not I will take it over

[2019-09-09 13:01] macgills commented on #344
I cannot replicate to echo @mhutti1 's sentiment. @kelson42 please verify that you can not reproduce this issue and if that is the case please close it

[2019-09-09 13:14] macgills commented on #620
I think there is nothing to do on this ticket. I cannot reproduce the original issue, it seems the zim files have been correctly updated so they have sections/h1 headings. @kelson42 recommend closing.

[2019-09-09 13:47] mgautierfr commented on #1396
It is possible that getRandomPage "returns" a redirection article. I don't know if android, within this specific code path handles it correctly.

[2019-09-09 14:01] mgautierfr commented on #152
@macgills What zim are you using ?

[2019-09-09 14:06] macgills commented on #152
https://download.kiwix.org/zim/stack_exchange/dsp.stackexchange.com_en_all_2019-01.zim this one and then I go to the article "why is the Fourier Transform so important"

[2019-09-09 14:10] macgills commented on #1396
[code]
I think it should be? I don't think the codepath is different than the normal article load?

[2019-09-09 14:16] macgills commented on #1396
More context:
[code]
[code]
[code]

I could try adding redirect checking to the randomArticle call and report back?

[2019-09-09 14:34] kelson42 commented on #1396
@macgills Yes, if redirect... the webview should redirect...

[2019-09-09 14:36] #620 closed

[2019-09-09 14:39] macgills commented on #1396
Right, I have a fix, apparently the original redirect code only works when using the in browser navigation. Thanks a lot for your time @mgautierfr

[2019-09-09 14:50] kelson42 commented on #344
@macgills Trust you, will reopen if it reappears.

[2019-09-09 15:08] kelson42 commented on #1014
@macgills Have you checked the webView can display SVG properly?

[2019-09-09 15:19] kelson42 commented on #1014
@macgills I have uploaded a test ZIM with a SVG here http://tmp.kiwix.org/svg_test.zim... unfortunately I was not able to test it... because Kiwix crash at the time I try to open it!!!!

[2019-09-09 15:20] macgills commented on #1014
that would be [this](https://github.com/kiwix/kiwix-android/pull/1446) issue that I fixed

[2019-09-09 15:23] kelson42 commented on #1014
OK, so my conclusion is WebView is not able to render properly SVG. This won't be a problem for which we can quickly find a solution.

[2019-09-09 15:29] macgills commented on #1014
[code]
from that test file, aye.
SVG support has been apart of Webviews in android since 3.0 though. I can navigate on my device browser to a Wikipedia article on svgs that has them there

[2019-09-09 15:31] kelson42 commented on #1014
@mgautierfr @macgills  Something special in the libkiwix JNI. Kiwix-Desktop and Kiwix-serve have no problem with it!

[2019-09-09 15:33] kelson42 commented on #911
@siddharth2010 Any news? We are approaching the end of the 3.0 milestone.

[2019-09-09 15:34] macgills commented on #911
From the PR:

[2019-09-09 15:41] kelson42 commented on #1432
@iadeelzafar Any news on this? we are approaching the end of the 3.0 milestone.

[2019-09-09 15:57] kelson42 commented on #1014
@macgills Hmm.. no it works for me on Android. Are you able to get the test file working... or it simply fails like I said first?

[2019-09-09 16:15] mgautierfr commented on #152
There is no article `-/static/MathJax.js?config=TeX-AMS_HTML-full` but `-/static/MathJax.js` in this file.

[2019-09-09 16:20] kelson42 commented on #152
@macgills Obviously the arguments of the URL should be removed before requisting the asset to the libzim.

[2019-09-09 16:55] mgautierfr commented on #152
Should it be also removed at zim file creation ?

[2019-09-09 22:02] jhbiggs commented on #1126
I've been banging my head on it for a while.  Would love to see what you come up with.

[2019-09-09 22:56] iadeelzafar commented on #1432
@kelson42 Not yet. So far I've tried different things but nothing worked. I'm approaching other discussion forums to seek help on this.

[2019-09-10 07:45] macgills commented on #1014
@kelson42, after downloading it I can find it with the kiwix app and then open it and the image is not displaying

[2019-09-10 08:52] macgills commented on #1014
I am not sure what was happening but on develop I can now open that test svg file and it displays
![image](https://user-images.githubusercontent.com/3358282/64599042-a5bf6700-d3b0-11e9-934b-caaaa81e3372.png)

[2019-09-10 08:55] macgills commented on #1014
is WikEM full of broken links for anyone else? When I click `Kaji Review Volume 3` I get taken to a blank page because it tries to load nothing
[code]

[2019-09-11 05:18] #1031 closed

[2019-09-11 05:20] #152 closed

[2019-09-11 05:25] #1383 closed

[2019-09-11 05:27] #1396 closed

[2019-09-11 05:29] kelson42 opened #1458 "Update CHANGELOG file"
Before 3.0 release, CHANGELOG should be updated for 2.5.1, 2.5.2, 2.5.3 and 3.0 releases. This should have been done each time at release time.

[2019-09-11 07:57] #1449 closed

[2019-09-11 08:57] #1304 closed

[2019-09-11 09:06] #1458 closed

[2019-09-11 09:59] macgills commented on #1206
@popolechien a beta will be published today and if you can test that then hopefully this should finally be resolved

[2019-09-11 09:59] #1385 closed

[2019-09-11 12:50] kelson42 commented on #1426
@julianharty The milestones are here https://github.com/kiwix/kiwix-android/milestones. 3.1 has already quite a few tickets in it. This will need to be refined next week if we want to be able to release 3.1 + custom apps in October. What is sure is that I want to (1) fix the most important problems common to all the custom apps (2) automatise the publication process so the whole publication thing

[2019-09-11 17:31] kelson42 commented on #1411
The very first user feedback about the new 3.0 is a complain about that bug.

[2019-09-11 17:52] abdulwd commented on #1411
Then I think we should do it as Firefox does. And move the tab switcher to the bottom toolbar.

[2019-09-11 18:35] abdulwd commented on #1411
https://user-media-prod-cdn.itsre-sumo.mozilla.net/uploads/gallery/images/2017-04-18-20-07-21-0f073e.png

Check this out. Should we do something like this?

[2019-09-11 18:37] abdulwd commented on #1411
Ignore the toolbar just look at the tabs preview we can have the icon to switch tabs in the bottom toolbar. @macgills What do you suggest?

[2019-09-12 06:05] kelson42 commented on #1312
With 3.0.1, it seems the complete download notification is not clickable at all anymore.

[2019-09-12 12:59] kelson42 opened #1463 "Library should remember which tab (Device/Online/Downloading) was open"
Currently, launching the library always open the "online" tab. This is bad behaviour IMO. It should remember what tab was open and start again at the same place (like the library has been left).

[2019-09-12 13:04] kelson42 opened #1464 "Impossible to filter by author with Gutenberg"
* Donwload https://download.kiwix.org/zim/gutenberg/gutenberg_fr_all_2018-10.zim
* Open it
* Try to filter by author (top input text box)
* nothing happen

You should have a list of authors appearing depending what you type in the search box.

Here is the online version:
http://library.kiwix.org/gutenberg_fr_all/

[2019-09-13 08:24] macgills commented on #1464
6c9794f70ff5be684b88ce34f5fe3e35a3a7df3e this is the commit, making a fix

[2019-09-13 11:44] kelson42 commented on #1464
@macgills Should we close that ticket?

[2019-09-13 11:45] macgills opened #1466 "Crash Report: java.lang.NullPointerException: at org.kiwix.kiwixmobile.wifi_hotspot.HotspotService.onHotspotTurnedOn (HotspotService.java)"
**Describe the bug**
in 3.01 beta:
[code]

**Expected behavior**
No crash.

**Steps to reproduce the behavior:**
Unknow, reported from play store

**Screenshots**

**Environment**
- Version of Kiwix Android : 3.0.1
- Device : Pixel XL
- OS version : 10

[2019-09-13 11:47] macgills commented on #1464
Yes, currently I am working on a release branch because I don't want anything happening on develop to affect 3.0.x

[2019-09-13 11:47] #1464 closed

[2019-09-13 12:16] rgaudin opened #1469 "XmlHttpRequest calls not possible"
**Describe the bug**

All `XmlHttpRequest` calls within ZIM files fail with a message similar to this one (in the webview console):

[code]

**Expected behavior**

Ajax requests should load properly.

Note: works fine with kiwix-serve and Kiwix iOS.

**Steps to reproduce the behavior:**
1. Download and load [test-ajax.zim](http://tmp.kiwix.org/test-ajax.zim)
2. display homepage while watching the

[2019-09-13 12:28] kelson42 commented on #1469
@rgaudin I strongly suspect this is not a regression or do we have an actual production ZIM file with this problem?

[2019-09-13 12:32] macgills commented on #1469
I'll test this now, could very easily be a 1 line fix

[2019-09-13 12:36] kelson42 commented on #1469
@macgills That would be awesome... I suspect this is a limitations we suffer of since the start of the project.

[2019-09-13 12:37] macgills commented on #1469
1 line fix, creating PR

[2019-09-13 12:38] rgaudin commented on #1469
yay !

On Fri, Sep 13, 2019 at 12:37 PM Seán Mac Gillicuddy <
notifications@github.com> wrote:

[2019-09-13 12:45] macgills commented on #1469
@kelson42 do you want this to be a part of the 3.0 release?

[2019-09-13 13:06] kelson42 commented on #1469
@macgills definitly

[2019-09-13 16:41] kelson42 commented on #1469
Done

[2019-09-13 16:41] #1469 closed

[2019-09-13 19:29] abdulwd commented on #1419
Closed via #1461.

[2019-09-13 19:29] #1419 closed

[2019-09-14 06:33] abdulwd commented on #1126
Closed via #1462.

[2019-09-14 06:33] #1126 closed

[2019-09-14 07:31] kelson42 commented on #1432
@iadeelzafar @macgills @abdulwd @mhutti1 We have to fix this problem in the very few next days as this is one of the last blocker for the final release of 3.0.

[2019-09-14 07:38] kelson42 opened #1471 "Able to download the same content two times"
On a slow device, it is possible to click many time on the same online library item (before it moves to the "Downloading" tab. This shoudl not.

![screenshot](https://user-images.githubusercontent.com/1029718/64905093-64da9180-d6d3-11e9-9e84-6ec446eb5566.png)

[2019-09-14 18:02] jhbiggs commented on #1429
After looking again at the issue needs, I will look further into committing the configuration to git.

[2019-09-14 18:37] jhbiggs commented on #1429
Ok, would I add the following to the .git/config file?  Below is just a guess.  I haven't found much information online about committing copyright information to local git config.

[copyright]
	text = "/** Kiwix Android\nCopyright (c) 2019 Kiwix <android.kiwix.org>\n * This program is free software: you can redistribute it and/or modify\n* it under the terms of the GNU General Public License as pu

[2019-09-16 09:43] macgills commented on #1471
[code]

we already check this. I guess we will have to disable the view for a period of time after the user clicks it. That is shockingly slow.
Or we can run this code inside a database transaction which might make more sense

[2019-09-16 10:10] macgills opened #1473 "Crash Report FIleNotFoundException in Storage Calculator"
**Describe the bug**
[code]

**Expected behavior**
No crash

**Steps to reproduce the behavior:**
I believe this happens we a user has set removable storage as their preferred storage and then removes that storage

**Environment**
- Version of Kiwix Android : 3.0.1
- Device : Xiaomi Redmi 6A (cactus)
- OS version : 8.1

[2019-09-16 10:23] #1466 closed

[2019-09-16 12:48] #1473 closed

[2019-09-16 12:54] #1471 closed

[2019-09-16 14:06] macgills opened #1476 "Stabilise Tab behaviour"
**Is your feature request related to a problem? Please describe.**
The tabs work mysteriously, sometimes opening a new tab close your current tab and tabs do not persist

**Describe the solution you'd like**
Using a TabsDatabase persist what the user has opened and bring stability to the feature

**Describe alternatives you've considered**
Not clear at this point how else this could be made stable

[2019-09-17 04:43] kelson42 opened #1477 "CHANGELOG file is not updated"

[2019-09-17 07:34] kelson42 opened #1479 ""Stop reading aloud" menu item clicking does nothing"
In 3.0.1:
*  Click on the menu item "Read aloud"
* The overlay with buttons "Pause" and "Stop" displays properly
* Click on the menu item "Stop reading aloud"

I get:
* Nothing, the overlay is still there, the menu item "Stop reading aloud"

I should get:
* Overlay should disappear and menu item should be changed back to "Read aloud"

[2019-09-17 07:42] kelson42 opened #1480 ""Read aloud" does not read selected content anymore"
If a part of an article is selected then the "Read aloud" feature should read it. If nothing is selected it should just start at the begin of the article.

With 3.0.1 it looks like that whatever a content is selected or not, it always start at the begin of the article.

AFAIK this is a regression.

[2019-09-17 08:21] macgills commented on #1477
Changelog has been updated in 3.0 branch

[2019-09-17 08:21] #1477 closed

[2019-09-17 08:39] kelson42 commented on #18
No feedback and good chance we might have fixed that one. @julianharty Really happy if you could confirm and reopen that ticket if this still does not work. I have no Chromebook to verify this.

[2019-09-17 08:39] #18 closed

[2019-09-17 08:41] kelson42 commented on #1033
@JensKorte We want to release 3.0 soon and think this bug might have been fixed with this new version. Would you be able to test it in beta? You should join the beta testers group here https://play.google.com/apps/testing/org.kiwix.kiwixmobile

[2019-09-17 08:54] kelson42 commented on #798
Fixed in #1427

[2019-09-17 08:54] #798 closed

[2019-09-17 09:13] macgills commented on #246
I would say this ticket is too generalised and we should work on individual aspects. If you identify non robust test then we should focus on that test/class in its own ticket. Closing.

[2019-09-17 09:13] #246 closed

[2019-09-17 09:15] macgills commented on #334
These tests have been reimplemented with PageRobots in kotlin. If the problem still persists please reopen the ticket.

[2019-09-17 09:15] #334 closed

[2019-09-17 09:30] kelson42 commented on #33
I will try to reproduce it with 3.0

[2019-09-17 09:31] kelson42 commented on #1318
We use a totally different download library in 3.0 (than in 2.5). This bug might or might not appear anymore... but in both case the situation is totally different. A new ticket should then be open if necessary.

[2019-09-17 09:31] #1318 closed

[2019-09-17 09:34] kelson42 commented on #33
We believe this has been fixed.

[2019-09-17 09:34] #33 closed

[2019-09-17 09:36] macgills commented on #1222
I will close this because the language forcing should be maintained for the foreseeable future.

[2019-09-17 09:36] #1222 closed

[2019-09-17 10:55] kelson42 opened #1483 "Hotspot mode should be configurable"
* Default SSID should be KIWIX
* Default should be without password
* Automatically generated password should be shorter (6 charaters are enough IMO)
* SSID/password should be configurable

[2019-09-17 10:56] #1479 closed

[2019-09-17 11:11] kelson42 commented on #39
I need to check if we still have the bug with 3.0.

[2019-09-17 11:14] kelson42 opened #1484 "History does not display the title of articles, but the content URL"
tested with 3.0

[2019-09-17 11:19] kelson42 opened #1485 "Blank screen after opening an external/http link"
It seems external links (links to online web sites for example) are not handle properly anymore. If I click on one of them I get a blanck screen (it seems Kiwix tries to open the online link). Instead it should open the browser or propose a list of browsers (to be then picked by the user) to open the link.

Tested with 3.0

[2019-09-17 11:26] kelson42 commented on #940
The download has probably been corrupted here. The version 3.0 of Kiwix will be released in a few days and has a fully rewritten downloader service. If such a problem happens again with 3.0 then please open a new ticket and we will be quicker to handle it this time :) Thx for your report anyway.

[2019-09-17 11:26] #940 closed

[2019-09-17 11:52] kelson42 opened #1487 "Unable to recover properly after closing the app"
Steps:
* Download https://download.kiwix.org/zim/wikipedia/wikipedia_fr_medicine_maxi_2019-09.zim
* Open it and go to homepage
* Quit the app and restart it

I get:
* A white page

I should get:
* homepage article

Remark:
* If, instead of the homepage, I get a random article, then instead of getting a white page I get the article displayed... but without any stylesheet!

**Describe the bug**

**E

[2019-09-17 12:05] JensKorte opened #1489 "kiwix android 3.0.2 hangs when selecting settings -> storage -> internal"
**Describe the bug**

I use kiwix android 3.0.2 from download.kiwix.org.
When clicking Settings -> Storage -> Internal for selecting external, the app hangs. I can wait or close it. Nothing else.

**Expected behavior**
I shouöld be able to select external storage.

**Environment**
- Version of Kiwix Android : 3.0.2 (direct download from kiwix.org)
- Device : Galaxy S5 (SM G900F)
- OS version :  li

[2019-09-17 12:14] #1484 closed

[2019-09-17 12:51] kelson42 commented on #35
We won't do that.

[2019-09-17 12:51] #35 closed

[2019-09-17 13:24] macgills commented on #1489
Very unfortunate. This is due to us trying to detect the filesystem of the sd card, even though we do this on a background thread it is somehow congesting the device. Is it possible to use another sd card to try and see if the issue is isolated to the card?
It is possible it will eventually work if you wait long enough but it is obviously not desired functionality

[2019-09-17 14:47] JensKorte commented on #1033
I downloaded 3.0.2 from download.kiwix.org and now I have no problems with big files. How about closing this report in 1 week? Till then I will have used kiwix some time.

[2019-09-17 15:22] kelson42 commented on #1033
@JensKorte Great to hear. I would better close the ticket now, but feel free to reopen it... or maybe an other one if you find other weird behaviours.

[2019-09-17 15:22] #1033 closed

[2019-09-17 15:46] kelson42 commented on #1078
It's done and available in 3.0. Before we had also a similar option which should work as well.

[2019-09-17 15:46] #1078 closed

[2019-09-17 15:48] kelson42 commented on #26
@mgautierfr The bug is unfortunately still there with libkiwix 7.0 and Kiwix Android 3.0 :(

[2019-09-17 15:57] kelson42 commented on #1058
@mhutti1 @abdulwd @macgills Do we really need that? I'm not sure this is really worth it.

[2019-09-17 16:52] macgills commented on #1058
I will admit to being largely indifferent. it is a good first issue though

[2019-09-17 19:35] iadeelzafar commented on #1432
I'm working on the fallback. Had no luck so far in getting this fixed.

[2019-09-18 08:22] kelson42 commented on #1058
@mhutti1 @abdulwd @macgills Do we really need that? I'm not sure this is really worth it.

[2019-09-18 08:44] kelson42 commented on #1058
After discussing with @macgills we want the following:
* Remove the menus
* Create an icon in the topbar to enable/disable the display of all (versus current) book/tab history
* Replace the 3dots menu with a simple trash icon. The click on trash should simply delete what is displayed.

[2019-09-18 09:30] kelson42 commented on #44
@macgills Sorry to make this part of 3.0 at the last time, but would be really have this working regarding the big effort made by @rgaudin to get the video based ZIM file working fine everywhere. This should be fixed against http://tmp.kiwix.org/youtube-playlist-PLdUM7Ji5ZffmPyZBFv-c3ExBWi3G-TaVn_fr_all_HD.zim

[2019-09-18 10:15] kelson42 commented on #1354
@mgautierfr Tested with a recent ZIM file and kiwix-serve and still not working fine "the wolf of " search pattern does not return "The wolf of Wall street"... it seems that the suggestions don't prioritize if the words are put in the right order. Is that normal?

[2019-09-18 10:23] kelson42 commented on #887
This has been fixed, we just need to generate a new ZIM file of WPDE. @IrgendwerA8 Thx again for reporting that pb.

[2019-09-18 10:23] #887 closed

[2019-09-18 10:28] kelson42 commented on #26
@mgautierfr This has not been fixed, in fact "fortaleza de san carlos de la cabana" as a pattern does not even give "Fortaleza de San Carlos de La Cabaña" as suggestion with latest WPES ZIM files and kiwix-serve.

[2019-09-18 12:54] abdulwd commented on #1058
@kelson42 IMO I think we don't need it.

[2019-09-18 14:23] kelson42 opened #1493 ""Search Kiwix" does not work properly"
Steps:
* Open any article
* Select a word
* Contextual display appears
* Click on "Search Kiwix" item
* A new search is launched on the selected word

The problem is that most of the time you no suggestion at all... Although if I remove the last letter of the search pattern and retype it, then I get the proper suggestions!

[2019-09-18 14:52] kelson42 opened #1494 "Many errors in the credits page"
Authors, license, deps

[2019-09-18 14:57] kelson42 commented on #863
I don't think this bug is really solvable as long as the ZIM does not provide a proper JS API to handle/instrument section collapsing from the apo.

[2019-09-18 15:02] kelson42 commented on #909
@macgills Might that be that you have fixed that pb at the same time as #1487?

[2019-09-19 08:53] macgills commented on #909
I wouldn't be incredibly confident? notionally it should but MainActivity is so overfull that it makes it impossible to authoritatively say anything

[2019-09-19 10:43] kelson42 commented on #909
@siddharth2010 Have you been able to reproduce/experience the bug recently with 3.0?

[2019-09-19 11:10] macgills commented on #1493
@kelson42 I will require a more specific repro case. I went to Granblue Fantasy Wiki, selected "characters", selected "SEARCH KIWIX" and was then shown a screen of suggestions

[2019-09-19 11:31] kelson42 commented on #1493
Pff... seems to work perfectly now for me too :(

[2019-09-19 11:31] #1493 closed

[2019-09-19 11:33] macgills commented on #1489
@JensKorte I am  bit of a loss as to why this is happening.
Is it possible for you to try and replicate the bug in any of the following scenarios:

- on a non Samsung phone
- on a non lineage OS
- on 2.5.3 release of kiwix
- with a different sd card

Otherwise I will just be taking stabs in the dark as to why this is happening

[2019-09-19 15:49] macgills opened #1496 "Crash Report: StorageManager.getUUIDForPath"
**Describe the bug**
[code]

[2019-09-19 15:53] macgills opened #1497 "Crash Report: ZimHostActivity.onCreate"
**Describe the bug**
[code]

[2019-09-19 17:19] JensKorte commented on #1489
I found a difference with 2.5.3:
* When starting for the first time after installing I can go to settings without Get content and select the Extern from storage. There is neither internal storage nor "/" to select. When clicking External again, there is no internal storage. Selecting External again works. Killing kiwix and starting over doesn't change anything. When I get content, switch to files

[2019-09-19 19:14] JensKorte opened #1500 "Google Play Services needed for server 3.0.2 Beta"
**Is your feature request related to a problem? Please describe.**
**Describe the solution you'd like**
When I want to start the server I get the error Google Play Service needed. Is Google really needed? It would be nice to check for Google Play Services after clicking "Host Books" and to show an error at the top where "Select the files you wish to host on the server" is shown.

**Describe altern

[2019-09-20 05:07] siddharth2010 commented on #909
@kelson42 , yes, I just tested it. Looks like this bug still exists in 3.0

[2019-09-20 06:53] kelson42 commented on #1500
@JensKorte Do I understand properly? The WIFI hotspot feature is not available for users without access to the PlayStore?

[2019-09-20 07:22] JensKorte commented on #1500
If WifiHotspot and "Host Books" are the same, then yes. After tapping "Start Server" I get the message: "Kiwix won't run without Google Play services, which are not supported by your device".

I have the plain lineageos image without the Gapps addon.

[2019-09-20 07:23] JensKorte commented on #1500
Sorry PlayStore and Google Play Services are different imho.

[2019-09-20 07:31] kelson42 commented on #1500
Ok. Trying to understand why that would be needed and found https://android.stackexchange.com/tags/google-play-services/info... but still don't see why it should.

[2019-09-20 07:59] macgills commented on #909
The fix is not on the 3.0 branch yet, it is in review

[2019-09-20 08:01] macgills commented on #1500
This is due to the location request code. We can probably rewrite this.

[2019-09-20 10:38] abdulwd commented on #1500
We have to rewrite this to remove play services but then we have to turn the hotspot manually.

[2019-09-20 10:57] macgills commented on #1500
We can do a location request without bothering with google play services and in fact the more I think about it I am dubious as to why we need it in the first place. Surely the permission is the only thing we need granted to turn on the hotspot?

[2019-09-20 11:19] abdulwd commented on #1500
@iadeelzafar has more context on this.

[2019-09-20 12:39] macgills commented on #1489
https://drive.google.com/open?id=1CvMCIEhAtsvTchMjs1ELjh286k-h1c-q A bit unorthodox but can you try with this apk? Very much an in development version but there is a possibility it will alleviate your issues. If it is successful I can pursue this solution more fully.

[2019-09-20 12:42] iadeelzafar commented on #1500
@macgills @abdulwd Acc to the documentation of [startLocalOnlyHotspot](https://developer.android.com/reference/android/net/wifi/WifiManager#startLocalOnlyHotspot(android.net.wifi.WifiManager.LocalOnlyHotspotCallback,%20android.os.Handler)) only `Manifest.permission.CHANGE_WIFI_STATE` and `ACCESS_FINE_LOCATION` permissions should be required.

But even after granting these permissions, I was gettin

[2019-09-20 12:54] macgills commented on #1500
Yeah we don't need the google play services to do that I would think.
[This](https://stackoverflow.com/questions/25175522/how-to-enable-location-access-programmatically-in-android) is ringing a bell from the ble app I worked on

[2019-09-20 13:12] JensKorte commented on #1489
I didn't work for me. Now the frame around the app blinks several times and I get back to the kiwix start screen. Sometimes the app crashes. Message at the Android status line:
"3 retained instances, tap to dump head. App visible, waiting until 5 retained instances." Are there dumps I can upload?

[2019-09-20 13:21] JensKorte commented on #1489
[logcat.txt](https://github.com/kiwix/kiwix-android/files/3636104/logcat.txt)
I hope, this is it.

[2019-09-20 13:23] macgills commented on #1489
Yeah, the "retained instance" thing is a developer thing, don't need to worry about that.

Was this on a fresh install?

[2019-09-20 13:31] macgills commented on #1489
I am in the process of making a version without the retained instance stuff and also with the ability for you to email me crash reports. Will upload shortly

[2019-09-20 13:32] macgills commented on #1489
https://drive.google.com/open?id=1KW8xKAcnSSE91jzeatmUJrZs_zCgmXln

[2019-09-20 13:39] JensKorte commented on #1489
I installed your Kiwix-debug version several time. I don't know, if the logcat file gets refreshed. The lineageos is not fresh, but quite up to date: 16.0-20190917-NIGHTLY-klte

[2019-09-20 13:46] macgills commented on #1489
The logcat files are generated quite poorly, I wouldn't rely on them for now, they are often quite incomplete. If you can try with that new version and if prompted email crash reports then hopefully I can make some headway. Thank you for your assistance

[2019-09-20 13:58] JensKorte commented on #1489
The 2. Version: After tapping on Storage - Internal the app hangs. Android asks for wait or kill? I tapped waiting once and then end. Kiwix starts with Homepage. Second time tapping Internal, Kill the app crashes back to android starter.

I haven't configured the standard mail app but use another one. Is this relevant or do I get a message about which app to use for mailing?

[2019-09-20 14:03] macgills commented on #1489
it should allow you the choice of any mail app. Hmmm let me go back to the drawing board. I don't think your problem is related to us writing that 4GB file anymore so at least that is progress

[2019-09-20 14:25] macgills commented on #1489
https://drive.google.com/open?id=1mdoOXcJs-uOVsFWpVjgk5BsaaUmgImuG New version of the app, what I think will happen :
You click on internal and will see an empty dialog for a few seconds (if I am very unlucky, a few mintes) and then you will be able to select the right storage.

[2019-09-20 14:26] #1494 closed

[2019-09-20 15:23] kelson42 commented on #835
@Wikinaut We will keep it open, just need to be prioritise at some point next year.

[2019-09-20 15:32] JensKorte commented on #1489
I was able to select the storage without problems. There was no delay.  "/" and select dir was missing.

[2019-09-20 20:31] kelson42 commented on #909
@siddharth2010 Which PR are we talkinga about? I see nothing in that ticket linked to a PR!

[2019-09-21 15:41] kelson42 opened #1502 "Open per default the Local library tab"
Except if:
* The "download" button is clicked OR
* The local library is empty

Follower of https://github.com/kiwix/kiwix-android/issues/1463#issuecomment-530863028

[2019-09-22 07:53] kelson42 commented on #1002
@abdulwd @siddharth2010 MIght that be that this problem has been fixed in 3.0? I can not reproduce it?

[2019-09-23 07:53] macgills commented on #1489
"/" feature was removed. Cool, I'll move forward with this solution

[2019-09-23 07:54] macgills commented on #909
https://github.com/kiwix/kiwix-android/pull/1492

[2019-09-23 08:29] #44 closed

[2019-09-23 08:38] #1496 closed

[2019-09-23 08:45] #1485 closed

[2019-09-23 08:46] #121 closed

[2019-09-23 09:45] #1487 closed

[2019-09-23 09:49] kelson42 commented on #131
@dapgo Does this problem still occur with last version of Kiwix?

[2019-09-23 10:09] JensKorte commented on #1500
I am not sure, if I understand the whole situation. Is the rewrite of this part of play service a kind of open-source replacement for one part of the Gapps?
If yes, would it make sense to put it into an external library to make it available to other projekcts?

Does it make sense to check for the existence of Play Services and use it if available or if the user selects to?

[2019-09-23 10:17] macgills commented on #1500
This is pretty standard non specialised code. The google play services `task` just wraps around some things nicely/easily and if we _actually_ wanted to know the user location then it might be a concern but we don't, we just need the user to have turned on their location services which we can prompt them to do.

[2019-09-23 10:17] #911 closed

[2019-09-23 10:51] kelson42 commented on #1500
@macgills I'm not sure to fully understand myself. In case this was not so clear, I really against requiring permissions for things we really don't need. Here it seems we could avoid asking about that permission. Do I understand properly? If "yes", could we do that please?

[2019-09-23 10:59] macgills commented on #1500
With the removal of the 8.0 code I think we will no longer need the permission. 8.0 code definitely needed the permission because we programmatically turned on a hotspot. I'll evaluate the situation when I take over the hotspot code

[2019-09-23 11:25] #1502 closed

[2019-09-23 11:50] kelson42 commented on #912
I think we should simply remove that tool for that page.

[2019-09-23 11:53] kelson42 commented on #324
@julianharty @macgills Do I'm right or this bug has been fixed/deprecated by 3.0?

[2019-09-23 12:04] macgills commented on #324
would have been fixed for 2.5.X

[2019-09-23 12:27] #324 closed

[2019-09-23 12:30] #1489 closed

[2019-09-23 13:04] kelson42 commented on #909
@macgills OK, so I guess this is fixed now.

[2019-09-23 13:04] #909 closed

[2019-09-23 13:19] kelson42 commented on #45
I strongly suspect that this might be fixed with Kiwix Android 3.0. Should be verified.

[2019-09-23 13:23] kelson42 commented on #443
@mhutti1 @macgills @abdulwd Is that still a valid ticket? What should we do with it?

[2019-09-23 13:37] macgills commented on #443
Well the email reporting is implemented?

[2019-09-23 13:37] macgills commented on #909
It is likely it is fixed, I have not tested it but my fix is now on 3.0

[2019-09-23 13:42] macgills commented on #1500
@iadeelzafar removed the code for requesting location, this will be fixed by #1506

[2019-09-23 13:53] kelson42 commented on #443
@macgills Yes AFAIK, even if I don't know exactly when this will appear (I don't have experienced it myself). You should have access to the mailbox to read the emails.

[2019-09-23 13:57] macgills commented on #443
It appears anytime there is a crash, you not seeing it is a good thing. I have already received and triaged multiple emails to us regarding crashes

[2019-09-23 13:58] kelson42 commented on #443
@macgills yes... sod we should close this ticket to your opinion?

[2019-09-23 14:05] macgills commented on #443
email is pretty clunky for crash reporting, I would be in favour of using a more extensive solution somewhere down the line

[2019-09-23 14:33] #1432 closed

[2019-09-23 14:34] #1500 closed

[2019-09-23 14:40] kelson42 commented on #770
@mhutti1 Do we still really need that? I see no reason (anymore) so far.

[2019-09-23 15:46] kelson42 commented on #131
Strongly suspect this problem has been fixed, other please reopen the ticket.

[2019-09-23 15:46] #131 closed

[2019-09-24 05:10] kelson42 commented on #134
Problem is still there with Kiwix Android 3.0.

[2019-09-24 06:42] kelson42 commented on #39
This works now

[2019-09-24 06:42] #39 closed

[2019-09-24 06:45] kelson42 opened #1509 "Read aloud feature does not support switching ZIM files -> crash"
1 - Start read aloud on a random article
2 - Go to library and open an other ZIM file
3 - Read aloud stops
4 - Start read aloud on a random article of this new file

My Kiwix just stops working or even crash.

[2019-09-24 06:52] kelson42 opened #1510 ""Read aloud" is not always (with a new language) available immediatly"
If I start to read an article in a language in which I never have use read aloud before, it won't work immediatly. First the feature won't generate any sounds for many minutes.... But after trying maybe 10 minutes, then it looks like that it will start to work.

I strongly suspect that in the background Android has to download the voice and that explains why it does not work immediatly. But that s

[2019-09-24 07:05] kelson42 commented on #1095
@macgills @abdulwd @siddharth2010 I think this has been fixed in 3.0. I can not reproduce the bug anymore. Could you confirm please?

[2019-09-24 08:39] macgills commented on #1095
I confirm that the bug cannot be reproduced

[2019-09-24 08:39] #1095 closed

[2019-09-24 09:17] macgills commented on #1423
#1506 fixed here

[2019-09-24 09:17] #1423 closed

[2019-09-24 09:49] macgills commented on #45
[code]

On `TED talks - Business` I get this error and can't play video.

On `TEDxLausanne2014` it plays but I see no option for subtitles

[2019-09-24 09:54] kelson42 commented on #1206
@Popolechien Could you please confirm, so we can close the ticket?

[2019-09-24 10:10] macgills commented on #1509
There is a dumb fix we can do to avoid the crash but depending on how we want this to work there should probably be a service that handles TextToSpeech

[2019-09-24 10:25] kelson42 commented on #45
OK, if this does not work this is probably a problem with the ZIM files, they should be fixed, newly generated.

[2019-09-24 10:26] macgills commented on #1509
Okay so we need to collect requirements about how TTS works.
A task gets submitted to our service. A task can be paused, stopped, complete itself or be terminated by requesting a new task.
Tasks are "Read Current Selection" & "Read Current Page"?
A task continues until explicitly stopped by user interaction? We will need a notification if this is the case to support it being used while our app is

[2019-09-24 11:32] Popolechien opened #1511 "Fails to display landing page"
Kiwix Android 3.0.3 / Android 9
I've tried to download a couple of the Top 50k (French, Chinese, Norsk Bokmal): when opening these the tiled landing page appears for a split second before the screen appears dark. I can stil check articles, so it really is a display issue.
Interestingly, the display issue does not seem to happen with a couple of selections (e.g. [Football, french](http://download.k

[2019-09-24 11:39] kelson42 commented on #1511
If it fails on library.kiwix.org, yes this is a problem with the ZIM.

[2019-09-24 11:57] kelson42 commented on #1511
I can not reproduce the problem with my Pixel on Android 9

![screenshot](https://user-images.githubusercontent.com/1029718/65509631-2dd65e00-ded3-11e9-96d9-a8d5b0f023d2.png)

[2019-09-24 12:02] Popolechien commented on #1206
Yay, fixed \o/
Well done gents

[2019-09-24 12:02] #1206 closed

[2019-09-24 12:12] Popolechien commented on #1511
Dammit, I can't reproduce it anymore either. Looks like the fix consists of turning the phone off and then back on again : [I should have known better](https://www.youtube.com/watch?v=5UT8RkSmN4k)!

Closing ticket.

[2019-09-24 12:12] #1511 closed

[2019-09-24 13:00] kelson42 commented on #1002
Please reopen if not

[2019-09-25 15:45] mhutti1 commented on #443
I agree with macgills

[2019-09-25 15:46] mhutti1 commented on #770
I mean I think it does give them the flexibility to delete ZIM files themselves. Not sure if its technically possible though.

[2019-09-25 16:02] kelson42 commented on #770
@mhutti1 What I don't understand is "Allow users a way to open the parent folder of a ZIM file."

[2019-09-25 16:06] mhutti1 commented on #770
As in open the place the ZIM file is located in the file explorer app so they can see its context.

[2019-09-25 16:11] kelson42 commented on #770
@mhutti1 ZIM file should be deletable from the libary UI... but we don't need to open in a file browser. This is why I strongly suspect this feature request should/will not be implemented. Why making things complex if we can do it easily directly in the library?

[2019-09-25 17:38] mhutti1 commented on #770
Because I personally think that if we are saving very large files to a users phone we should at least give them an easy way to see exactly what we are doing.

[2019-09-25 17:40] kelson42 commented on #770
@mhutti1 What kind of information in actually missing in Kiwix's library?

[2019-09-25 17:44] mhutti1 commented on #770
Where exactly the ZIM files are located.

[2019-09-25 19:46] kelson42 commented on #770
@mhutti1 We might be able to provide this information without having to implement that feature (just providing the path). I wonder if just saying if the ZIM file is on the "internal" or "external" storage might be enough?

[2019-09-25 19:52] kelson42 commented on #443
@macgills @mhutti1 I would then recommend to open a new ticket to superseed this one, kind of last track of what should exactly done in this ticket!

[2019-09-26 09:01] macgills opened #1512 "Crash Report 3.0.3: UnsatisfiedLinkError ObjectBox"
**Describe the bug**
[code]

**Expected behavior**
Follow best practices [here](https://docs.objectbox.io/android/app-bundle-and-split-apk)

**Environment**
- Version of Kiwix Android : 3.0.3 (5230003)
- Device : LGE LG G4 Stylus (mp1s3gds)
- OS version : 6.0

[2019-09-26 09:24] macgills opened #1514 "Crash Report 3.0.3: MissingResourceException"
**Describe the bug**
[code]

**Expected behavior**
No crash

**Environment**
- Version of Kiwix Android : 3.0.3 (6230003)
- Device : HTC HTC U11+ (htc_ocmdugl),
- OS version : Android 9

[2019-09-26 09:47] macgills opened #1515 "Crash Report 3.0.3: AndroidInjection.Inject"
**Describe the bug**
[code]
This is a very strange one
[code]
The only reason I can see for this dagger code to fail is if `activity.getApplication()` returns null which is a head scratcher in and of itself. I would propose scouring `dagger-android` from the application and using plain `dagger` injection. Not a small task and the crash rate is fairly low.

**Expected behavior**
No Crash

**Environ

[2019-09-26 09:54] macgills opened #1517 "Crash Report 3.0.3: UnsatisifedLinkError JniKiwixSearcher"
**Describe the bug**
[code]
Interestingly this is happening in the error activity so I assume it is likely we have arrived here from another UnsatisfiedLinkError

**Expected behavior**
No Crash

**Environment**
- Version of Kiwix Android : 3.0.3
- Device : Motorola Moto E4 (perry_f)
- OS version : Android 7.1

[2019-09-26 10:05] macgills opened #1519 "Crash Report 3.0.3: JniKiwixException opening file"
**Describe the bug**
[code]
Opening a file failed

**Expected behavior**
No Crash

**Environment**
- Version of Kiwix Android : 3.0.3
- Device : LGE V20 (elsa)
- OS version : Android 8.0

[2019-09-26 10:21] macgills opened #1520 "Crash Report 3.0.3: IllegalArgmentException FileUtils.contentQuery"
**Describe the bug**
[code]

**Expected behavior**
No crash

**Environment**
- Version of Kiwix Android : 3.0.3
- Device : Huawei P20 (HWEML)
- OS version : Android 9

[2019-09-26 10:42] macgills opened #1523 "Local File list renders poorly with long titles on MainActivity"
**Describe the bug**
Long titles extend beyond bounds of the screen

**Expected behavior**
titles should wrap if long

**Screenshots**
![image](https://user-images.githubusercontent.com/3358282/65682446-e4148180-e052-11e9-83eb-3910291ae8b3.png)

**Environment**
- Version of Kiwix Android : 3.0.3
- Device : Nexus 5X
- OS version : 8.1

[2019-09-26 10:56] #1514 closed

[2019-09-26 10:56] #1517 closed

[2019-09-26 12:23] macgills commented on #1512
We should revisit this after [this](https://issuetracker.google.com/issues/140851070) bug with r8 has been fixed. Right now trying to run instrumented tests on r8 minified app is not working

[2019-09-26 12:23] #1523 closed

[2019-09-26 21:07] kelson42 opened #1526 "findinpage makes the virtual keyboard disappear"
* Read any article of any ZIM file
* Click on the magnify glass icon
* virtual keyboard appears
* click on "find in page"
* virtual keyboard disappears... and it should not

[2019-09-27 08:42] macgills opened #1527 "Crash Report 3.0.3: SecurityException FileUtile.contentQuery"
**Describe the bug**
[code]

**Expected behavior**
No crash

**Environment**
- Version of Kiwix Android : 3.0.3
- Device : Samsung Galaxy S8+ (dream2lte)
- OS version : Android 7.0

[2019-09-27 08:50] macgills opened #1528 "Crash Report 3.0.3: NullPointerException MainActivity.onPrepareOptionsMenu"
[code]
This is a bit ridiculous as a view found by Butterknife is null? This would cause a runtime exception if butterknife has already called bind so this is happening before Butterknife binds or after it has called unbind?

**Expected behavior**
No Crash

**Environment**
- Version of Kiwix Android : 3.0.3
- Device : Samsung Galaxy S5 (kltespr)
- OS version : Android 5.0

[2019-09-27 12:11] #1528 closed

[2019-09-27 14:30] #1520 closed

[2019-09-28 08:49] Popolechien opened #1531 "Content list unreadable in dark mode"
Version 3.0.3
Funnily enough, the issue is only with the online catalogue, not the local library.
![Dark Mode enabled](https://user-images.githubusercontent.com/21675885/65814067-95472300-e1dd-11e9-903b-f407bbdd8a89.png)

[2019-09-28 08:51] kelson42 commented on #1531
Pretty much a duplicate of #1301, even if the symptom seems now slightly different. Problems around Night-mode are known and need a revamping in 3.1

[2019-09-29 09:35] Aditya-Sood opened #1532 "Refactor LocalFileTransfer: UI changes"
As linked [here](https://github.com/kiwix/kiwix-android/pull/1276?_pjax=%23js-repo-pjax-container#pullrequestreview-274146177) and [here](https://github.com/kiwix/kiwix-android/pull/1276?_pjax=%23js-repo-pjax-container#issuecomment-521173777), the zim transfer module is to be tweaked with an entry point in the contextual action bar itself

- @mhutti1 @macgills are there any other UI changes that y

[2019-09-30 09:11] macgills opened #1533 "Crash Report 3.0.3: FileUtils.getFileCacheDir NPE"
**Describe the bug**
[code]

**Expected behavior**
No crash

**Environment**
- Version of Kiwix Android : 3.0.3
- Device : Huawei Y7 Prime 2019 (HWDUB-Q)
- OS version : Android 8.1

[2019-09-30 09:50] #1519 closed

[2019-09-30 09:58] #1533 closed

[2019-09-30 10:09] #1429 closed

[2019-09-30 10:57] macgills commented on #1532
When you launch the sender/receiver it doesn't automatically ask for permission or start scanning on successfully getting permission, ideally user should never have to press the search icon and the search icon should probably be a refresh icon. Steal as much as possible from bluetooth ui in the phones system, this will be most analgous to the user.
There should ideally be 2 separate UIs for these

[2019-09-30 12:25] mhutti1 commented on #770
Not really. Each device can do pretty much what they want, especially on older APIs. Making the path available would probably be ok though.

[2019-09-30 18:27] shotintoeternity commented on #1064
Really appreciate all of your hard work on this project, but this software isn't currently functional if users can't expand different sections and read them. The issue is also occurring on Chrome on Windows 10 x64.

[2019-09-30 19:50] Aditya-Sood commented on #765
Before merging, the kiwix-android PR #1537 needs to be updated to use the kiwix-lib version number with the kiwix-lib PR [#289](https://github.com/kiwix/kiwix-lib/pull/289) merged to master

[2019-10-01 02:59] RickAust opened #1539 "Kiwix Display Problem"
Hi.
I don't know if anyone can help me but most of my phone's Kiwix pages are no longer displaying accurately.
I have Wikivoyage on my SD card, which seems to be working fine. However when I go to use Wikipedia (split into 4 files on my SD card), variations of the attached page appear (once I leave the homepage). The particular page shown below is what appears when I use the "Wikimedia Foundation"

[2019-10-01 06:22] kelson42 commented on #1539
@RickAust What is the exact ZIM file name and the article name impacted by this problem? Could you please try without splitting the ZIM file?

[2019-10-01 07:18] RickAust commented on #1539
Hi Kelson42.
The file names are: Wikipedia (nopic 2012-01).zimaa, Wikipedia (nopic 2012-01).zimab, Wikipedia (nopic 2012-01).zimac, & Wikipedia (nopic 2012-01).zimad
The article names are numerous. I think just about every link is affected. The screenshot was Wikimedia Foundation but also happens with Reference Work, Volunteers, Larry Sanger etc. These are just the first few I tried.
Re splitting,

[2019-10-01 07:19] kelson42 commented on #1539
@macgills Could you please have a look to that one? I don't think we still provide that file online, but it clearly looks like a regression... and we had similar tickets fixed relatively recently.

[2019-10-01 07:22] RickAust commented on #1539
Do you mean to try just one non-split zim? Just clarifying.

On Tue, 1 Oct 2019, 17:20 Kelson, <notifications@github.com> wrote:

[2019-10-01 09:06] macgills commented on #1539
@RickAust the kiwix app no longer supports the splitting of zim files itself though it should still be able to read them.
If it is possible for you to download the entire file I would recommend it (though it sounds like it isn't) as that will ensure the best behaviour from Kiwix.
@kelson42 from what resource can I get these split zim files for repro-ing this bug?

[2019-10-01 09:12] kelson42 commented on #1539
@macgills Looks like the original file has been renamed and even if I would have it, I'm pretty sure we don't distribute anymore.
@RickAust Without the file, no reproduction case... and not obvious solution to that problem appears for now. If you can not upload the file or download a new version of that file, it looks like it will be complicated for us to fix this problem. As a workaround you coul

[2019-10-01 10:16] RickAust commented on #1539
I think I understand all the advice. Thanks everyone for all the very
prompt feedback. Will see what I can manage at my end...

On Tue, 1 Oct 2019, 19:12 Kelson, <notifications@github.com> wrote:

[2019-10-01 10:26] RickAust commented on #1539
Re your gratefully received advice...

I think I used FFSJ to split the original downloaded zim file. It was
several years ago however, so the memory is not so fresh in my mind.
http://www.fastfilejoiner.com/
https://wiki.kiwix.org/wiki/FAQ

I might be a little stuck with the split zims as I need to utilise a
microSD card for zim storage on my phone. I seem to recall the card
wouldn't accept a >4G

[2019-10-01 10:32] RickAust commented on #1539
And just to make clear. I didn't originally download the split zim files. I
downloaded a single unsplit zim file (2012 no-pic English-language
Wikipedia) from the main Kiwix.org website, then split it myself on my
laptop.
Thanks to all of you.

On Tue, 1 Oct 2019, 20:15 Rick Aust, <rick.aust@gmail.com> wrote:

[2019-10-01 11:00] kelson42 commented on #1539
@RickAust To be a bit more clear, I suspect the problem does not come from the split ZIM file (even if this might be something to check). I mostly suspect that this quite old ZIM file had not proper mime-types associated with the article and that we have now a libzim which is a bit more strict than it was. As a consequence the reader just does not recognised that it is HTML content anymore.

[2019-10-01 11:01] kelson42 commented on #1539
@RickAust I'll close the ticket as there is nothing more we can really do for now on our side. Please open a new ticket if one of the solutions/workarounds provided still fails or just add a small comment if you finally achieved to get back your beloved Wikipedia Encyclopedia :)

[2019-10-01 11:06] RickAust commented on #1539
OK. I'm a little slow with some of the technical concepts but you've
explained things really well. Time to update my zim files (for a variety of
reasons!)...

On Tue, 1 Oct 2019, 21:00 Kelson, <notifications@github.com> wrote:

[2019-10-01 11:06] RickAust commented on #1539
Thanks again 🙂🙂🙂

On Tue, 1 Oct 2019, 21:01 Kelson, <notifications@github.com> wrote:

[2019-10-01 12:06] macgills commented on #1539
Or if you can upload the zimaa-zimXX to someplace I can download them (google drive/etc) then I can try to reproduce the error if that is a viable path for you

[2019-10-01 12:10] RickAust commented on #1539
Hi Sean.
Thanks but I'll try a newer zim version first and get back to you guys if
I'm still stuck.
This is way overdue anyhow... 🙂

On Tue, 1 Oct 2019, 22:06 Seán Mac Gillicuddy, <notifications@github.com>
wrote:

[2019-10-01 14:10] macgills opened #1540 "Modularise Kiwix-Android to allow for separation between custom and regular apps"
**Is your feature request related to a problem? Please describe.**
To enable non interfering work and to share resources appropriately the app should be structured into modules depending on a core library

[2019-10-03 09:35] kelson42 commented on #344
The problem is still there with newly created ZIM files and Kiwix Android 3.0.4. It should be easy to reproduce for you.

See video.

![default](https://user-images.githubusercontent.com/1029718/66115716-b048d700-e5d1-11e9-926c-a9cf00500b6c.gif)

Tested files are:
* https://download.kiwix.org/zim/other/mali-pour-les-nuls_fr_all_2019-09.zim
* https://download.kiwix.org/zim/other/vsauce-language_en_

[2019-10-03 09:36] kelson42 commented on #344
@rgaudin Are you also impacted?

[2019-10-03 09:40] rgaudin commented on #344
I'll test but I've had mixed content in the past and it was not related to video ZIMs. I couldn't systematically reproduces so I didn't report it.

[2019-10-03 09:46] kelson42 commented on #344
@rgaudin Just try the same steps like I did, always fails for me.

[2019-10-03 09:47] macgills commented on #344
Do you want me to hop off modularisation for a bit to investigate this?

[2019-10-03 10:01] kelson42 commented on #344
@macgills no non... or maybe you can just confirm that you have a reprocase? But this is something we will have to fix in 3.1.

[2019-10-03 11:15] macgills commented on #344
I confirm the bug exists using these 2 files. The root cause is a real puzzler because we have set the Zim to read from before any load occurs, webview or kiwixlib being in error seems most likely at this early stage. Or my current usage of kiwixlib is grossly abusive

[2019-10-03 11:31] macgills commented on #344
Looking through the api of JNIKiwixReader I see the method `dispose`. I have until now been relying on GC to remove these objects from memory. Is `dispose` necessary?

[2019-10-03 12:19] kelson42 commented on #344
@macgills I don't know, but if the kiwix-lib JNI is able to deal only with on ZIM file at a time (which I guess is the case). I would better call it before opening a new/different ZIM file.

[2019-10-03 12:55] macgills commented on #344
I create a new instance of `JNIKiwixReader` each time I open a zim file (also when scanning files).
This issue presents itself just having opened either of these files at any time, I was opening them and interspersing it with opening another zim and only their contents were mangled which to me points to a kiwixlib issue. Whenever I am free from modularisation I will give the dispose call a chance.

[2019-10-05 14:48] jhbiggs commented on #1526
Hi, ready to work on this issue if you like.

[2019-10-05 17:56] JensKorte opened #1542 "Make socket address better visible, clickable and shareable"
**Is your feature request related to a problem? Please describe.**
I didn't recognize the message with IP:Port at first. Maybe it could be better visible.
The version is [3.0.4 from download.k.o](https://download.kiwix.org/release/kiwix-android/3.0.4/3312-kiwix-universal-release.apk)

**Describe the solution you'd like**

After starting the server the message "Enter this ip address into your brows

[2019-10-07 08:23] Popolechien opened #1544 "Remove email addresses from Credits"
The Settings page lists Kiwix contributors and includes their email addresses, which can lead to unsollicited (and rarely actionable) email, particularly for former contributors.

If people want to comment they should generally use the Android store, or the webform on our website.

So the proposal is to remove contributors email addresses and, to be clear, **not** replace it with a generic address

[2019-10-07 19:51] kelson42 commented on #1544
Looks good to me.

[2019-10-09 10:26] kelson42 opened #1546 "download.kiwix.org released APK name/directory is not proper"
* We should not have a `3.0.4` subdirectory because we have only one file in it
* The file should be called `kiwix-x.y.z.apk` and not `3312-kiwix-universal-release.apk`

[2019-10-09 10:29] kelson42 commented on #1546
@macgills I have moved the files, so don't be surprised if you don't find the old/badly named apk files.

[2019-10-13 14:55] kelson42 commented on #1369
@julianharty The core of Kiwix Android is currently being reorganised to better isolate Kiwix core Android App from Kiwix Custom app specific code. If after this work is finished by @macgills (should happen sometime next week) and if you still identify a specific piece of code which suffer of the weakness you describe here, please open a ticket: one ticket per problematic piece of code.

[2019-10-13 14:55] #1369 closed

[2019-10-15 09:04] #1544 closed

[2019-10-16 08:27] #1526 closed

[2019-10-16 15:37] henriquehenrique opened #1551 "I cant't read the full definitions in the Galician Wikipedia for Kiwix"
Hello!

I need help with an issue. I have Kiwix installed for two years, now the latest version for mobile phones, I have an Android Phone with Android 4.2.2.
I use Wikipedia in English, Spanish and Galician. In the Galician version, with the latest Wikipedia, I can't see the full text of the definitions.
This is the version I have (2019-04):
http://download.kiwix.org/zim/wikipedia_gl_all_novid.zi

[2019-10-17 09:45] #1531 closed

[2019-10-17 10:03] macgills commented on #932
This problem has probably been reintroduced because we use our private storage for downloading zim files now

[2019-10-17 15:51] kelson42 commented on #1301
@macgills I assign you the ticket to avoid any ambiguity about who should fix night mode problems

[2019-10-17 15:53] kelson42 commented on #1551
@henriquehenrique Thank you for your report. I need to confirm the problem, but it looks like to me you are confusing the mini version (first section only) with the nopic.

[2019-10-18 14:10] #1540 closed

[2019-10-19 11:23] kelson42 commented on #1551
Have tried with the newly generated http://download.kiwix.org/zim/wikipedia_gl_all_maxi.zim and it seems to work fine.

[2019-10-19 11:23] #1551 closed

[2019-10-19 11:58] kelson42 commented on #932
@Aditya-Sood @jhbiggs Would one of you be able to check the nature of the problem/feature with Kiwix 3.0? Do you also now how could we configure, on the app side, which data will be backup with a standard `adb` call?

[2019-10-19 12:21] kelson42 opened #1553 "Hotspot URL should be shareable (as a QR code?)"
The URL could also be shown as a qr-code so other people could scan the qr-code and start surfing. Am I right that network connections can be shown as qr-code? Maybe there could be a 2. qr-code for connecting to the local hotspot.
Is it possible to support people who want to post/send the URL, network connection and/or qr-code(s) by messenger? Either it could be copied to clipboard or there could

[2019-10-19 12:22] kelson42 commented on #1542
I have splitted your ticket in two with #1553 to bring more clarity.

[2019-10-19 12:24] kelson42 commented on #1542
@JensKorte I agree with you.
@iadeelzafar Would you be able to put these connections details in a more visible manner at the top of the screen? Maybe in a color box? I also think the URL should be clickable.

[2019-10-19 12:26] kelson42 opened #1554 "Rename "Host Books" with "WiFi Hotspot" in menu"
I'm not convinced about the naming of the feature. I think "WiFi Hotspot" is better.

[2019-10-19 12:27] kelson42 commented on #1554
@Popolechien @rgaudin @macgills @mhutti1 What is your opinion? Maybe you have an other proposal?

[2019-10-19 12:28] kelson42 opened #1555 "Kiwix Hostpot page should only list books which are served one time hotpost started"
Currently it lists all books which is IMO a non-sense.

[2019-10-19 12:30] kelson42 commented on #1483
@iadeelzafar Any way to configure that from Kiwix itself?

[2019-10-19 12:34] kelson42 opened #1556 "Per default, all content should be selected for Kiwix hotspot"
All content should be selected for Kiwix-hotspot per default.

[2019-10-19 12:35] kelson42 opened #1557 "Remember books which are served by Kiwix Hotspot"
This will avoid to reconfigure everytime.

[2019-10-19 12:38] iadeelzafar commented on #1483
Short answer is 'no'.
This would be possible for <Oreo. But even for that, it will be possible via Reflection.
So far, Android doesn't provides any official SDK to play with default hotspot.

[2019-10-19 12:38] kelson42 opened #1558 "With Android 9, impossible to start hotspot directly from Kiwix"
We discussed that many time and I was under the impression that with Android 9+ it would be able to start the WiFi hotspot from Kiwix without any additional configuration. It seems it is not :( Any reason?

[2019-10-19 12:42] iadeelzafar commented on #1558
@kelson42 because we couldn't fix #1432

[2019-10-19 12:51] Popolechien commented on #1554
I would use an action word that is easy to understand/nontechnical. “Activate hotspot", "Share as hotspot", or simply "Broadcast".

[2019-10-19 21:24] iadeelzafar commented on #1557
@kelson42 is this possible duplicate of #1555 ?

[2019-10-20 16:19] jhbiggs commented on #12
/unassign

[2019-10-20 17:17] kelson42 commented on #1555
@iadeelzafar not at all

[2019-10-21 01:31] iadeelzafar commented on #1557
@kelson42 I don't get this one. Can you please provide more context..

[2019-10-21 06:12] kelson42 commented on #1557
Beetween two app restarts, the app chosen to be hosted, should be the same, without having to choose again.

[2019-10-21 07:04] abdulwd commented on #1555
I think we should gray out the books which aren't being served instead of removing them from the list. This will keep the user informed that those books aren't being served.

[2019-10-21 08:29] kelson42 commented on #1554
@Popolechien What is behind the menu item is not hotpost activation. It can be hotspot deactivation, or other hotspot related operation ... pretty much like for the "Library".

[2019-10-21 08:32] Popolechien commented on #1554
@kelson42 I think the wording is most important for new users: once they've tried it they'll know what it does. But we need something that is understandable at first glance (incl. from a screenshot for the store).

[2019-10-21 08:53] macgills commented on #1557
I still don't understand this feature request. The book selection on the screen should be persisted? Always? Only while the screen is the topmost activity?

[2019-10-21 08:56] macgills commented on #1554
"Book Sharing"? Conflicts a bit with Local Transfer. "Hotspot Sharing"?

[2019-10-21 09:11] abdulwd opened #1560 "Opening a zim file results in a crash"
**Describe the bug**

Opening a zim file crashes the app.

**Expected behavior**

No crash

**Steps to reproduce the behavior:**
1. Make a fresh install of the kiwix app
2. Download a new zim file and open

**Environment**
- Version of Kiwix Android : develop
- Device : Redmi Note 3
- OS version : Pixel Experience Android 9

**Logs**
[code]

[2019-10-21 09:11] iadeelzafar commented on #1554
If this was a Bluetooth feature, we'd use **Bluetooth Books**.
Similarly, how about **Hotspot Books**
OR
Something like **Books Server**

[2019-10-21 09:16] kelson42 commented on #1560
@macgills @abdulwd Could you please have a look on top prio to that one?

[2019-10-21 09:27] macgills commented on #1560
Yeah we just need to update `app/AndroidManifest.xml` with the correct intentfilter

[2019-10-21 10:24] kelson42 commented on #1560
@macgills I don't understand why this is wrong in a first place?

[2019-10-21 10:27] macgills commented on #1560
Modularisation. There are now 2 MainActivities and they need to be addressed differently.
Basically how we open a file right now is very dumb and it closes the entire activity, relaunching it with a new intent. I am in the process of changing it to be not so destructive.
Nobody is impacted because this is on develop

[2019-10-21 10:35] kelson42 commented on #1560
@macgills @abdulwd just realized this in on develop... And this was written. That said, this should not happen, the CI should detect such a problem.

[2019-10-21 10:48] macgills commented on #1560
That would be the case if we had zim file opening tests, those were disabled due to flakiness

[2019-10-21 11:19] mhutti1 commented on #1554
I personally prefer broadcast, but hotspot works as well.

[2019-10-21 11:28] kelson42 commented on #1554
@Popolechien "wifi hotspot" is clearer than just "hotspot" and Im against to put everywhere a verb, this is inefficient IMO.

[2019-10-21 11:44] iadeelzafar commented on #1554
How about "Broadcast Books"?

[2019-10-21 12:33] #1560 closed

[2019-10-21 12:54] iadeelzafar commented on #1557
From what I understand, Same ZIMs should be hosted everytime unless the user clicks on an Edit button and makes changes to the list of books to be hosted? @kelson42 ?

[2019-10-21 13:01] kelson42 commented on #1557
@macgills yes, the selection should be persisted until user decides differently. It is extremly boring to have at each app relaunch to reselect the books I want to put in the hotspot.

[2019-10-22 08:27] kelson42 commented on #1483
@iadeelzafar You mean >=Oreo?

[2019-10-22 08:34] iadeelzafar commented on #1483
No. <Oreo. Like how we were using reflection before to turn on hotspot on those devices. I even made the hotspot configurable for those devices using the same specs you've proposed here.
* No password by default.
* SSID should be 'Kiwix'
But since it was using reflection, we had to fall back to manual.

---------
On the other hand, SDK for >=Oreo doesn't allows us to play with the default hotspot.

[2019-10-22 08:38] kelson42 commented on #1483
You have confirmed implicitly in #1558 that with >=Oero, it is possible to start the Hotspot via the SDK.

[2019-10-22 08:40] iadeelzafar commented on #1483
@kelson42 toggling the hotspot(local Hotspot) is indeed possible for >=Oreo. And I even implemented that. But #1432 is a blocker currently for that.

[2019-10-22 08:43] macgills commented on #1483
Yes we encountered the issue of the hotspot randomly turning off and there was no easy solution nor even a hard one, we decided to fallback to this functionality so we had a stable feature.

[2019-10-22 08:46] kelson42 commented on #1483
@macgills OK, I understand that, but this is not the point here. The point is: there is a SDK and I would like to get confirmation that there no method (even readonly) to read or/andwrite Hotspot SSID and password? With other words: please confirm the user has to go manually through settings to change/read the Hotspot SSID/password (which is extremely annoying).

[2019-10-22 09:03] macgills commented on #1483
There was a way but it stopped working in 5.0 from what I can gather and you had to use reflection. Perhaps creating a hotspot can still work as detailed [here](https://stackoverflow.com/questions/44175056/how-to-create-custom-wpa-hotspot-with-ssid-and-password-in-android) but turning it on should definitely not work. Should be mentioned how unreliable reflection is in android due to vendor specif

[2019-10-22 09:12] iadeelzafar commented on #1483
The SDK we're using. Acc to the documentation it only provides 3 callback methods, onStart(), onStop(), onFailed. We can't do much other than that.
[StartLocalOnlyHotspot](https://developer.android.com/reference/android/net/wifi/WifiManager#startLocalOnlyHotspot(android.net.wifi.WifiManager.LocalOnlyHotspotCallback,%20android.os.Handler))

Some references:
https://stackoverflow.com/questions/47700

[2019-10-22 10:03] macgills commented on #56
It could be possible to use the `raw` folder to include the zim, I think this would be exempt from compression but presents the problem the we can use only
`public InputStream openRawResource (int id)`
or
`public AssetFileDescriptor openRawResourceFd (int id)`
to read from the file. It seems [somewhat feasible](https://stackoverflow.com/questions/24701029/how-to-properly-pass-an-asset-filedescript

[2019-10-22 10:25] macgills commented on #64
My current thinking is that we do not need expansion files if we are just going to develop our own way of getting the zim files for a non-play store distribution of a non-embedded custom app. They add extra overhead/complication while giving us very little (user still has to download all this data) and limiting us (files cannot exceed 2GB).
This would entail the proposal of a new screen I would im

[2019-10-22 10:33] macgills commented on #1546
the `3312` is so we have a build number association to an apk. If we are intent on only hosting "fat" apks then I can do the rename.
Is this only for these hosted files or should the names of apks generated at build time be changed?

[2019-10-22 10:39] macgills commented on #36
[Gradle play publisher](https://github.com/Triple-T/gradle-play-publisher#handling-version-conflicts) has a mode where it can automatically choose the next sequential version code

[2019-10-22 10:42] macgills commented on #32
https://github.com/kiwix/kiwix-android/issues/36#issuecomment-544901831 much the same answer as here, we can set the version name to be `date+versionCode`

[2019-10-22 10:46] mhutti1 commented on #64
I disagree. Many of our custom app users don't want to go through additional steps and the main point of them is in my opinion the ability to install with one click.

[2019-10-22 10:51] macgills commented on #64
I think there is an acceptance that any app that provides significantly large data will have to go off and download it after install as many games do.
They still install with one click and most likely they launch us after installation (seeing as how the install is 15MB~) and we just start downloading and tell them "installing", in most scenarios it is just as convenient I'd hazard

[2019-10-22 10:55] mhutti1 commented on #64
Sure. But if I downloaded an app that was 30MB I wouldn't expect it to start downloading 2GB of data. I think it would be annoying for a lot of people.

[2019-10-22 10:59] macgills commented on #64
They downloaded an app that has Wikipedia on it, there would have to be hefty delusion to think it is only 15MB though I guess that should not be underestimated.
[Hearthstone](https://play.google.com/store/apps/details?id=com.blizzard.wtcg.hearthstone&hl=en_IE) is 14MB.

[2019-10-22 11:44] kelson42 commented on #64
I quite agree with that. We don't really consider to have ZIM files over 2GB and if we would need that, we would handle the with 2/3 extensions (splitted ZIM files). Having the ability to install custom apps is one click is a really important feature.

[2019-10-22 11:55] macgills commented on #64
It is still 1 click and we get to disentangle ourselves from the play store. Loads of apps do this because expansion files are incredibly limited.
Also many SD cards can support files over 2GB, it depends on the device. We can remove that limitation if we address FileSystem detection issues.
It also means we don't need to develop and maintain 2 separate systems for play distributed and other store

[2019-10-22 12:25] mhutti1 commented on #64
In an ideal world I would have any stuff more than 2 GB be able to be downloaded as extra "modules" of content. I think we are in danger of seriously misleading users if we are not up front about the app size and I don't see a good way of conveying this on the play store without bundling the content with the app.

[2019-10-22 12:36] macgills commented on #64
Hearthstone has 10million+ downloads and nearly every game app does this. I would be shocked if Pokemon Go doesn't. Users should know this.
iOS doesn't even allow this, max app size is 4GB (not enough for many games) so they immediately go download off their own servers on launch.
This is an industry standard for serving large content across ecosystems.

[2019-10-22 12:37] kelson42 commented on #64
@macgills We tend to do smaller ZIM custom apps, not bigger and what I mean with 1-click, is not only 1-click, it is atomic and transparent from the start how much size is needed. Basically I share the opinion of mhutti. I have to say that we also had this discussion in the past and the consensus was pretty much on how it works today. We can ping @Popolechien to get its opinion too.

[2019-10-22 12:47] Popolechien commented on #64
I get your point @macgills but the use case we are dealing with isn't as vertical (ie, connect to the store -> download from store) as in Northern markets. In many cases (Cuba, India, Eritrea are confirmed) people will buy the APK off the street or share it somehow from user to user - without ever connecting to the internet proper.

[2019-10-22 12:53] macgills commented on #64
@Popolechien that is not this scenario. Though my solution would probably help that scenario.
This is "online distributiont", in this scenario we have a guarantee that somebody has internet access and can download the app/data.
"Offline distribution" is why we have "embedded" apps, these are fat apps with the zim file baked in

[2019-10-22 13:03] kelson42 commented on #64
@Popolechien This discussion started by @macgills is only about the online installation.

[2019-10-22 13:55] kelson42 commented on #56
@macgills So the ZIM will be kept in the resource file/blob after installation? but in that case the data would be not manipulated/compressed, so if we know the ZIM offset and the length it might be directly usable by the `libkiwix`? Would you need in that case a new libkiwix ABI? If "yes" which one?

[2019-10-22 14:15] macgills commented on #56
The zim file would be an internal resource to the application so the `apk` itself would include it.
I have this far been unlucky in being able to expose the file's actual location on disk and it might infact be impossible but we can definitely expose an InputStream or an AssetFileDescriptor, right now we construct a Reader like so `JNIKiwixReader(zimFile.path)` and I don't personally know the exte

[2019-10-22 17:15] kelson42 commented on #56
The solution has to allow to use the Zim file directly, so no extraction or copy which need additional CPU/disk.

[2019-10-22 19:11] geekRishabhjain commented on #547
One of these have been converted. Few more to go.

[2019-10-23 08:12] macgills commented on #56
Then kiwixlib must work with an InputStream/AssetFileDescriptor/AssetManager is my current assessment

[2019-10-23 08:21] kelson42 commented on #56
@macgills libkiwix deals with a path and it can deal probably with a path/offset/size. Can you provide this?

[2019-10-23 08:28] macgills commented on #56
No, the "files" do not have a path, they are bundled as a bunch of bytes in the apk. The file descriptor seems feasible as I linked earlier.
[code]

[2019-10-23 08:30] kelson42 commented on #56
@macgills Of course the file here is not the ZIM file, but some kind of asset file.

[2019-10-23 08:43] macgills commented on #56
It is all the bytes of a zim file, the InputStream/AssetFileDescriptor is a logical wrapper around a sequence of bytes contained in the apk not some other type of file. I think the `raw` folder is best or at least most idiomatic for the intended usage

[2019-10-23 11:08] macgills commented on #56
By using the noCompress aapt option in the android closure of build.gradle
[code]
I can confirm we can successfully read a file from either raw or assets as an InputStream or AssetFileDescriptor

[code]

[2019-10-23 11:42] kelson42 commented on #56
@macgills thx
@mgautierfr in worse case with could have the apk path (instead of the fd, but this would not be the most robust approach).

[2019-10-23 11:52] kelson42 commented on #38
@mhutti1 What would be the real advantage of doing so? save 15MB (size of the kiwix app) of bandwidth for the user?

[2019-10-23 11:59] kelson42 commented on #36
@macgills So we should close that one? What is importante is the version name, what is displayed to the user (it should stay with the format yyyy-mm).

[2019-10-23 12:01] kelson42 commented on #1218
@macgills Tell me when you start to define in detail the new worflow, those points are still valid imo.

[2019-10-23 12:04] kelson42 commented on #32
Like my comment in #36, we need to respect the yyyy-mm format, where this date is the publication date of the ZIM file.

[2019-10-23 12:06] kelson42 commented on #1181
@macgills @julianharty For the moment, the best we can do is IMO preparing a new custom app with latest code and see if the bug is still there.

[2019-10-23 12:08] kelson42 commented on #978
@abdulwd Would you be able to help us to fix that one?

[2019-10-23 12:08] macgills commented on #38
`uploading APKs with an existing expansion.` this is so developers do not have to go into the play console and manually associate our expansion files with each new apk, there are a [host of gotchas](https://stackoverflow.com/questions/11933508/problems-testing-apk-expansion-library?noredirect=1&lq=1) when working with expansion files. This functionality is supported by [gradle play publisher](http

[2019-10-23 12:09] kelson42 commented on #902
@mhutti1 would you be able to help us to fix that one?

[2019-10-23 12:10] macgills commented on #902
Is there a small zim file where this can be repro-ed? To give anyone who takes this up an easier time of diagnosing?

[2019-10-23 12:10] kelson42 commented on #45
/move openzim/ted

[2019-10-23 12:10] #45 closed

[2019-10-23 12:11] macgills commented on #1181
agreed

[2019-10-23 12:12] kelson42 commented on #293
@Popolechien I guess you can not reproduce that pb anymore with last version?

[2019-10-23 12:16] macgills commented on #36
I need to implement it so keep the ticket open

[2019-10-23 12:18] kelson42 commented on #902
Should occur with http://download.kiwix.org/zim/wikipedia/wikipedia_ru_football_nopic_2019-10.zim. I guess the problem is that the code is done to handle traditional HTML images, and here we have CSS defined stuff... and the error mgmt is wrong on the top of the root inability to retrieve the picture URL/name.

[2019-10-23 12:20] kelson42 commented on #38
OK, I see now that I have understood the ticket upside down: upload content without code change.

[2019-10-23 12:21] kelson42 commented on #38
@macgills great if we can do that almost out of the box. This sounds an important feature indeed.

[2019-10-23 12:25] Popolechien commented on #293
Not really, I cannot reproduce anymore. But then there's a separate (and new) issue of it not having a landing page anymore to start with (Version 2018-08 build 1182421).

[2019-10-23 16:39] abdulwd commented on #978
@kelson42 I will work on it this weekend. I'm busy with other stuff at the moment. :(

[2019-10-24 10:47] kelson42 opened #1563 "Unable to download content, UNKNOWN_IO_ERROR"
Since a few weeks I'm having vacation in Morocco and since that time it seems that Kiwix 3.0.4 is not able to download any content. This is for sure the case using two Wifi networks of two different hotels.

Here is how it looks like:
![screenshot](https://user-images.githubusercontent.com/1029718/67478333-bae81080-f653-11e9-8e7e-d9d297e32d40.png)

Typical steps:
1 - Refresh the online library
2 -

[2019-10-25 08:31] macgills commented on #1563
I assume the pixel2 is running android 10?

[2019-10-25 08:53] macgills commented on #1563
Is it this file specific? Also how can I find this file in kiwix

[2019-10-25 08:59] kelson42 commented on #1563
now it is, but the problem was there with Android 9. The problem is not related to hotels network either, I have tried with a normal internet access and it does not work either. You can find the content by filtering in Arabic... But the problem is not with this specific content imo. It does not work better with an other content.

[2019-10-25 09:06] macgills commented on #1563
Downloaded without error for me.
Found another bug with some irish zims where the `meta4` is not containing `hashes` and we are refusing to download it because of this missing field

[2019-10-25 09:11] kelson42 commented on #1563
so the log does not tell you what goes wrong? This is a problem.

[2019-10-25 09:12] kelson42 commented on #1563
Where is the ticket for this other bug?

[2019-10-25 09:14] macgills commented on #1563
I have not created the ticket yet.
This log goes from `36:44` - `38:06` and doesn't mention kiwix once, whatever error occurred it is not in the log

[2019-10-25 09:19] macgills commented on #1563
https://github.com/tonyofrancis/Fetch/issues/441 possibly this issue. Launching Android 10 emulator

[2019-10-25 09:19] kelson42 commented on #1563
The error appeared on the screen during I was taking the log, so the log should be turned in away we can understand what is happening. I have a case where here where the whole app is almost useless.

[2019-10-25 09:26] macgills commented on #1563
With android10 emulator there is no issue

[2019-10-25 09:28] macgills commented on #1563
Have you tried an uninstall/reinstall?

[2019-10-25 09:34] kelson42 commented on #1563
I had tried this and I just retried, same wrong behaviour.

[2019-10-25 09:37] kelson42 opened #1564 "Error toast by starting kiwix"
The error is only briefly visible, but it says: error loading url....   base/null. This happen just after a fresh reinstall.

[2019-10-25 09:48] kelson42 opened #1565 "Local library refresh fails to detect a new Zim file in Downloads directory"
I just have downloaded a new Zim file with firefox on my Pixel2 with Android10. The download has been Ok and the file is in the Downloads directory. Unfortunately, the local library tab, even after forcing a refresh does not list it as part of available Zim files.

[2019-10-25 09:52] macgills commented on #1565
I downloaded a zim from chrome, did a swipe to refresh and it was found. Android10 emulator.

[2019-10-25 10:02] kelson42 commented on #1565
The pb is again with mawsouaa_ar_all_2019-09.zim. I have tried with an other Zim file it has been detected properly... But mawsouaa_ar_all_2019-09.zim is still missing. Either there is a problem with this specific Zim file or the code is not robust.

[2019-10-25 10:04] macgills commented on #1565
can you post the link here so I can click on it from the emulator?

[2019-10-25 10:31] macgills commented on #1565
`mawsouaa_ar_all_2019-09.zim` was detected after I downloaded it from https://ftp.acc.umu.se/mirror/kiwix.org/zim/other/mawsouaa_ar_all_2019-09.zim

Cannot reproduce. I will have access to a Pixel3a running 10 outside of office hours and I can make some attempts then on these assorted 10 issues I can not repro. Unless another developer has a device they can repro on

[2019-10-25 10:45] macgills opened #1566 "Meta4 files missing hash/pieces"
**Describe the bug**
Certain zim.meta files eg  http://download.kiwix.org/zim/wiktionary/wiktionary_ga_all_maxi_2019-06.zim.meta4 do not contain hashes or pieces which causes our xml parsing to fail as those fields are required. This means these files cannot be downloaded by the app

**Expected behavior**
Mark these fields as not required for deserialisation

**Environment**
- Version of Kiwix And

[2019-10-25 11:29] #1566 closed

[2019-10-25 11:57] macgills commented on #344
the `dispose` call had no effect, not sure what could be happening

[2019-10-25 13:12] macgills commented on #47
I am having great trouble installing kiwix on an sd card on any of my devices/emulators. My Samsung tablet won't format an sd card as internal, my budget device will but fails with "not enough space" despite having 100GB+ free. I have tried altering `android:installLocation` to `preferExternal` to no avail.

I have seen a few comments saying that kiwix does not perform well when on the sd card so

[2019-10-25 13:25] kelson42 commented on #1563
one theory is because the meta4 is Geo dependant... The http url used between you and me is not the same.

[2019-10-25 13:42] kelson42 commented on #1563
@macgills Can you please check that if kiwix gets this meta4 then it fails or work?

[2019-10-25 14:33] macgills commented on #1447
If we support inputStreams/FileDescriptors #56 this gets a hell of a lot easier. The underlying issue is that we get returned "Content Uris" and mapping them to "File Uris" is not easy. We have existing code that makes an attempt but every new FileProvider (chrome/firefox/etc) needs custom dedicated code from what I can surmise.

As a short term solution: the content uri is something like `content

[2019-10-25 14:39] macgills commented on #1116
The confusion should no longer exist because of modularisation. The App module doesn't have buildFlavors anymore, only buildTypes debug/release. I would say this is all fairly self explanatory now so I will close this ticket

[2019-10-25 14:39] #1116 closed

[2019-10-25 14:40] kelson42 commented on #1116
@macgills If documentation is updated, good to me

[2019-10-25 14:41] macgills commented on #1411
I know understand a lot more about web content rendering. This is infeasible until we support multizim, essentially a map of file/path/uri to a ZimFileReader so we can select from the ContentProvider the appropriate data

[2019-10-25 14:41] kelson42 commented on #1563
@macgills it is about the content of the meta4

[2019-10-25 14:42] macgills commented on #1116
Yup, it was

[2019-10-25 14:49] macgills commented on #1563
I hardcoded `http://wiki.mirror.tn/zim/other/mawsouaa_ar_all_2019-09.zim` into the app as the url to use for any download, worked just fine on 8.1, I'll test 10

[2019-10-25 14:53] macgills commented on #1563
[code]
the mirror is not a part of our cleartext http traffic policy

[2019-10-25 14:59] macgills commented on #1563
[code]
How many domains do I need to add?

[2019-10-25 14:59] kelson42 commented on #1563
@macgills Happy we have finally found the pb. You understand that because this bug all people in Africa/middle East are probably not able to use our downloader. A new maintenance release of 3.0 is urgently needed and something needs to be done that such an error never happen again.

[2019-10-25 15:01] macgills commented on #1563
this only affects Android 9/10, I don't know how widespread those OSes would be there.

The best way is to support https only on the entire stack, that way I get to delete this file

[2019-10-25 15:02] kelson42 commented on #1563
Our list of mirror changes time to time. You can rely on http://download.kiwix.org/mirrors.html... I don't see any other solution than making a dedicated automated test for that.

[2019-10-25 15:04] kelson42 commented on #1563
We have to keep http links for now, so please check the domain config against the mirror list if not too complicated.

[2019-10-25 15:04] kelson42 commented on #1563
But top prio is fix and release

[2019-10-25 15:06] macgills commented on #1563
I can just allow all http traffic in the app alternatively

[2019-10-25 15:11] kelson42 commented on #1563
@macgills good to me, I dislike this kind of security anyway. Please also put the fix for the meta4 hash in 3.0.5... and anything else which makes sense to you and is easy)

[2019-10-25 15:14] macgills commented on #1563
It may have to wait for monday for a new release.... Tuesday actually because of the bank holiday

[2019-10-25 15:26] kelson42 commented on #1563
@macgills no problem, just do it before anything else. Have a good long WE.

[2019-10-27 10:05] kelson42 commented on #1411
@macgills Moving to 3.3

[2019-10-27 10:07] kelson42 commented on #1447
@macgills Moving to 3.3

[2019-10-27 18:29] JensKorte opened #1573 "Bookmarks not readable in nightmode"
**Describe the bug**
If I switch to night mode the bookmarks are white text on white background. Is the background left in day mode and the text is switched to night mode?

**Expected behavior**
The text should be white and the background should be black or grey like the layout of the settings menu in night mode.

**Steps to reproduce the behavior:**
1. make sure you have a bookmark
2. switch to n

[2019-10-27 19:26] mhutti1 commented on #902
I might be able to have a look later in the week. Will see how much time I have.

[2019-10-27 20:15] kelson42 commented on #1573
@JensKorte Thank you for your bug report. We have various bugs related to the night/dark mode. The reason behind is a weak global mgmt of this feature, in particular in relation to the Android OS own Dark mode. We are aware of the problem, and the whole problematic will be treated within the milestone 3.1 (so the one currently in development).

[2019-10-27 20:17] kelson42 opened #1574 "New standard tags should be interpreted properly"
Like described at https://wiki.openzim.org/wiki/Tags. Would be good to secure some kind of backward compatbility.

See also #1407

[2019-10-28 02:41] jhbiggs commented on #932
Sure, I will give it a go.

[2019-10-28 05:44] kelson42 commented on #932
@jhbiggs Thank you!

[2019-10-28 17:48] geekRishabhjain commented on #1250
Are we only including Spanish? I know French. If someday  French description is also needed, I'll do it.

[2019-10-29 06:56] Popolechien commented on #1250
@geekRishabhjain We have French, German, Turkish, Arabic and Spanish covered. Currently looking for Hindi, Urdu, Farsi, Pashto, Russian, Portuguese and Bahasa Indonesia.

[2019-10-29 09:12] geekRishabhjain commented on #1250
I can help with Hindi too.

[2019-10-29 09:18] Popolechien commented on #1250
@geekRishabhjain Thanks. Here is the text:
No internet, no problem!

Kiwix allows you to store a complete copy of hundreds of website on your phone or tablet: once it is installed, select which content you would like to download so you can still use it when your internet connexion is down. Kiwix is entirely free and has no ads.

Contents available include Wikipedia (including smaller thematic sele

[2019-10-29 09:42] macgills commented on #958
This is not the case anymore. The ViewModel requests the data on creation and the viewmodel persists across config changes

[2019-10-29 09:42] #958 closed

[2019-10-29 10:15] #1563 closed

[2019-10-29 14:18] geekRishabhjain commented on #1250
@Popolechien Here it is:

कोई इंटरनेट नहीं? कोई बात नहीं!

Kiwix  का इस्तेमाल करके आप अपने फोन या टैबलेट पर सैकड़ों वेबसाइट की एक पूरी कॉपी डाउनलोड कर सकते हैं : इनस्टॉल होने पर, वह कंटेंट्स चुनें जिसे आप डाउनलोड करना चाहते हैं ताकि आप इसका उपयोग तब कर सकें जब आपका इंटरनेट न हो। कीवीक्स पूरी तरह से मुफ्त है और इसमें कोई विज्ञापन नहीं है।

आप में 100+ भाषाओं में विकिपीडिया (छोटे विषय, जैसे फुटबॉल य

[2019-10-29 14:36] Popolechien commented on #1250
It's now online. I don't know how to check from the user end, but thanks @geekRishabhjain

[2019-10-30 08:07] Popolechien commented on #1250
@kelson it is there already.

[2019-10-30 08:07] kelson42 commented on #1250
@Popolechien Great, so I close this ticket. Thx.

[2019-10-30 08:07] #1250 closed

[2019-10-30 08:20] geekRishabhjain opened #1576 "Red border are annoying."
I don't know if only I feel it, but the red borders that appear when you click anything are very annoying.
If they are intentional, then there should be some button in settings to turn them off. For me they are annoying.

**Describe the bug**
The red border that appears whenever you click anything.

**What should it be**
Either they should be shut off, or there should be some option in settings to

[2019-10-30 08:20] kelson42 commented on #1576
@geekRishabhjain Which version of the app are you using? Self-compiled?

[2019-10-30 08:23] geekRishabhjain commented on #1576
Yes. It is:
[code]

[2019-10-30 08:33] kelson42 commented on #1576
@geekRishabhjain We don't have this on Google Play versions of the app. I'm quite sure this is either related to a dev versin or due to the Android developer mode. @macgills Could you confirm please?

[2019-10-30 08:54] macgills commented on #1576
This is only on develop and a gentle reminder to developers that they are violating strict mode, logs can be checked for what rule is being violated. Not an issue.

[2019-10-30 08:54] #1576 closed

[2019-10-30 08:56] macgills commented on #1250
@kelson42 are we making separate tickets for these remaining languages

[2019-10-30 09:08] kelson42 commented on #1250
@macgills @Popolechien Yes, we need to do so, otherwise this is qutie complex to close this kind of ticket. This ticket was first about Spanish and have forgotten to take in account later comment.

[2019-10-30 12:33] geekRishabhjain commented on #1576
@macgills I am sorry if I did something wrong. Can I know what is strict mode? And What log I have to check? I am really sorry if I was did something wrong.

[2019-10-30 12:48] macgills commented on #1576
You did nothing wrong, the app just does a lot of wrong stuff, most of it inconsequential.
See CoreApp where this gets installed
[code]

StrictMode can also be enabled in Developer Settings for all apps.

Open logcat in Android Studio and you will see there is a corresponding "StrictMode Violation" for every flash

[2019-10-30 12:50] geekRishabhjain commented on #1576
@macgills I thought that we have some "strict mode" in our project. Thanks BTW.

[2019-10-30 13:51] macgills opened #1577 "Custom Apps try to open Home"
**Describe the bug**
Open a new tab in a custom app. See a blank screen

**Expected behavior**
A new tab opens on the main page of the custom app's zim file.

[2019-10-30 15:30] macgills commented on #64
The implementation of the official solution is even worse than first expected.
According to the docs we must download the modules from the sdkManager, which would be fine except those aren't the latest version.
The latest version is on [github](https://github.com/google/play-apk-expansion) and last updated 2 years ago. Neither of these versions are actually gradle projects.
The community comes to

[2019-10-31 11:25] macgills commented on #64
I think it would be best to ignore the google download/licensing library, it is too old and unwieldly.
We can use a manual download of a `zim` in the case where we do not have an `obb` file installed a scenario which is when the app was sideloaded, magical install failure or user manually deleted the `obb` file.

I would propose an "installation verification" screen with a flow like

- has only ob

[2019-10-31 13:25] mhutti1 commented on #64
Sounds good. I would ask the user if they want to delete the ZIM though. We also need to start mapping zim ids to obb files I think so we can verify they are the same.

[2019-10-31 13:46] macgills commented on #64
The scenario where a use has an obb and a zim at the same time would be if they sideloaded, later connected to the play store and updated to a newer version. Or perhaps google does some automatic downloading if they detect missing obbs, it is difficult to get a clear answer.

I think in that scenario to save disk space alone that deleting the zim is preferable if both are there.

We do need a way

[2019-11-01 09:59] kelson42 commented on #64
@macgills I'm suppportive

[2019-11-01 10:03] kelson42 commented on #1558
@iadeelzafar Thank you for the reminder, on a longer term, we will have to find a solution. The workflow is really too complex IMO.

[2019-11-01 10:19] macgills commented on #64
@kelson42 then we would need a way of downloading the zimFile, how do we get a meta4 link from the json
[code]
?

[2019-11-01 13:29] mhutti1 commented on #64
I think we at one point at least included a download url in the the json schema.

[2019-11-01 13:48] kelson42 commented on #64
@macgills if you look to #1218 (which is part of 3.1) milestone, you can see that I'm in favour of allowing an URL

I'm in favour of having the `meta4` link directly in the JSON, like https://download.kiwix.org/zim/wikipedia_fr_all_maxi.zim.meta4

Be careful, such a permalink is a redirect.

[2019-11-01 13:49] macgills commented on #64
@mhutti1 ![image](https://user-images.githubusercontent.com/3358282/68029032-4134d000-fcae-11e9-9960-b9c8c5a32ace.png)
you are correct, it is just not in `customExample`

[2019-11-02 09:47] kelson42 commented on #173
@macgills This is not something you have done recently? Considering that the menu is different for Kiwiax and Custom apps, this would have maybe make sense?

[2019-11-03 17:11] kelson42 commented on #62
@macgills Your last comment would probably benefit of a dedicated ticket on the kiwix-lib repo.

[2019-11-03 22:03] jhbiggs commented on #932
@kelson42 Would you like to add a setting to affect the adb backup behavior?

[2019-11-03 23:04] kelson42 commented on #932
@jhbiggs You an on/off new setting which would give the ability (or not) to backup the ZIM files by running the `adb` command?

[2019-11-04 08:51] macgills commented on #173
It is probably something I will do on the road to custom apps.

[2019-11-04 09:12] macgills commented on #932
Going by the [advice](https://developer.android.com/guide/topics/data/backup)

The xml files are declared in the manifest so they cannot be changed at runtime.

[2019-11-04 10:06] kelson42 commented on #932
I'm anyway not in favour of making this customisable. But I would configure the manifest in a way the ZIM files are not backuped. Or @macgills do  you think this whole feature request is a bad idea?

[2019-11-04 10:12] macgills commented on #932
The zim files should be excluded. Seeing as how the backup size is 25MB I don't think they would be anyways but probably good to define that

[2019-11-04 10:31] #978 closed

[2019-11-04 11:12] kelson42 commented on #932
@jhbiggs I guess you have your answer then :)

[2019-11-05 03:04] jhbiggs commented on #932
Please help! I can't seem to find a way to filter the domain such that it excludes only .zim files.  I've tried path = "*.zim", "/*.zim", "%.zim" and others.  I can tell the zims are in the backups in these cases because I receive an error message "Size quota exceeded."  I've sought information online but haven't found anything helpful.

[2019-11-05 07:32] genodeftest commented on #932
@jhbiggs I can't exactly tell you the solution, but if you run your backup using adb, you will not run into the size limitation. At least in my case (stock Android 9) several apps have much larger backup content. Hope that this info helps.

I couldn't find any exclude syntax either which can filter on file endings. Can't you filter by folders?

[2019-11-05 09:23] macgills commented on #932
You can filter by folders. Zim files are saved to a folder called `Kiwix`
![image](https://user-images.githubusercontent.com/3358282/68194938-da652e80-ffad-11e9-9cbb-37b97b1d1084.png)

![image](https://user-images.githubusercontent.com/3358282/68194863-ad188080-ffad-11e9-9b15-91b92d0b8d42.png)
So try `./Kiwix` for your path? eventually something will work

[2019-11-05 09:36] macgills commented on #1431
.kts files will be supported fully in Android Studio 4.0 (currently available in Canary channel only) so I will close this

[2019-11-05 09:36] #1431 closed

[2019-11-06 10:20] #1577 closed

[2019-11-06 14:52] kelson42 commented on #902
@mhutti1 You have met specific difficulties ti fix that one?

[2019-11-06 14:58] kelson42 commented on #47
@macgills Would that be true to say that moving an app to an external SD card is not an official/std Android feature?

[2019-11-06 14:59] kelson42 commented on #293
@macgills What would you recommend here?

[2019-11-06 15:03] kelson42 commented on #60
@macgills I propose to pospine that one, it has to be a problem with Play app or the device... Nothing I believe we can easily fix on our side in this milestone.

[2019-11-06 15:06] kelson42 commented on #1565
Need to further investigate...

[2019-11-06 15:07] kelson42 commented on #62
@macgills We can not fix this ticket now. Postponing..

[2019-11-06 15:09] kelson42 commented on #1564
@siddharth2010 Might be one for you?

[2019-11-06 15:10] kelson42 commented on #1554
What we do is not a broadcast solution.... and this won't be understood by people because broadcast = tv, radio for most of them.

[2019-11-06 15:15] kelson42 commented on #4
I will try to reproduce that problem.

[2019-11-06 15:16] kelson42 commented on #852
@macgills Anything new regarding that ticket.

[2019-11-06 15:54] macgills commented on #293
Are these releases to the app store that are malfunctioning? I'd say hold tight and let me get automated releases working. I have no way of knowing what version of kiwix was used or what the bug could be

[2019-11-06 15:57] macgills commented on #47
It is an official feature just sd cards in general are poorly supported, the Pixels for example don't have sd card slots. If some other developer can get this installed on an sd card it would be beneficial, I haven't tried in the intervening 12 days

[2019-11-06 16:01] macgills commented on #60
There is really nothing to be done, using obb files we can at most provide 2 files to the user so splitting is not incredibly viable here. I'd close it as won't fix

[2019-11-06 16:04] macgills commented on #852
I have nothing to report, I'll worry about icons when I can actually upload custom apps to the play store

[2019-11-07 01:36] kelson42 commented on #47
@macgills Ok, if not official, descoped

[2019-11-07 09:06] macgills commented on #47
It is official, there is a manifest property `installLocation` that accepts 3 values `["auto" | "internalOnly" | "preferExternal"]` and we currently have it set to `auto` ie no preference but it can be installed to an sd card.
It just seems to work a bit funky, I can experiment more at a later date but I was just doing this as to occupy my time while awaiting decisions on custom app processes

[2019-11-07 09:50] macgills opened #1581 "Remove dagger-android"
**Is your feature request related to a problem? Please describe.**
dagger-android adds complication and is no longer being supported as google have decided it is not fit for purpose as announced [last week](https://youtu.be/o-ins1nvbDg?t=539)

**Describe the solution you'd like**
Replace all usages

**Describe alternatives you've considered**
Just continue with the deprecated library

[2019-11-07 14:46] macgills commented on #852
That turned out to be a bit of a lie, I am now interested in icon generation. Programmatically creating an adaptive icon will be difficult, doing it with the conventional way with the tools of android studio doesn't work, see:
![image](https://user-images.githubusercontent.com/3358282/68398395-8e141d00-016c-11ea-9a85-11e0e75e6195.png)
which produces these assets:

[2019-11-07 15:28] macgills commented on #852
An example of what an adaptive icon should look like during this process: https://dev.to/sfarias051/how-to-create-adaptive-icons-for-android-using-android-studio-459h

The flow of custom app icon generation is
1. Use a [script](https://github.com/kiwix/kiwix-android-custom/blob/master/gen-std-icon.py) to create a 512*512 icon. Given a file or url of the original icon it pastes it onto a white back

[2019-11-07 17:22] kelson42 commented on #852
@macgills Do I understand properly:
* We use adaptive icon(s) already for Kiwix app?
* The problem is how to get that icons for custom apps?

[2019-11-07 17:25] 4tip opened #1582 "Remove CHANGE_NETWORK_STATE useless permission"
**Describe the solution you'd like**

Could you please make the Kiwix app more privacy friendly and delete the following permissions?:
- approximate location (network-based)
- change network connectivity

They seem, to me, unnessecary for the app to work, anyway, especially the first one.

I'd be happy if you consider this and answer me.

Best regards

[2019-11-07 17:33] kelson42 commented on #1582
@4tip I strongly suspect these permissions are really needed.. but could someone confirms why exactly?

[2019-11-07 17:44] kelson42 commented on #1581
@macgills What are the replacement candidates?

[2019-11-08 09:02] macgills commented on #1581
Plain old Dagger, `dagger-android` is a module that tried to remove boilerplate but came with its own issues

[2019-11-08 09:09] macgills commented on #1582
I would believe the location would relate to our book sharing options, ie hotspot & WifiP2P. My hypothesis is scanning for nearby wifi devices could leak the users location so we have to request the coarse location permission even though we are not trying to get the users location.
I can run a quick experiment and report back with my findings

[2019-11-08 09:17] macgills commented on #852
We do not use adaptive icons in the kiwix app because it would default to the kiwix icon (on certain api levels) for custom apps.

The prolem with not using adaptive icons is that our apps' launcher icon looks ugly compared to other apps.

[2019-11-08 09:35] macgills commented on #1582
`CHANGE_NETWORK_STATE` can probably be removed I would say

[2019-11-08 11:34] 4tip commented on #1582
Could you remove it directly and release a new Kiwix version called 3.1.0 or 4.0.0 today?

[2019-11-08 18:21] kelson42 commented on #1582
OK, so let's remove `CHANGE_NETWORK_STATE` in 3.1.

[2019-11-09 15:47] kelson42 commented on #852
@macgills Thx for the answer. Why not extending https://github.com/kiwix/kiwix-android-custom/blob/master/gen-std-icon.py which is our solution to generate custom app icons to be able to generate all the flavours of bitmaps we need for the adaptive icons?

[2019-11-09 17:22] jhbiggs commented on #932
Ok, I think I got it.  Is there any other external file besides a zim?

[2019-11-09 17:22] kelson42 commented on #932
I don't think so.

[2019-11-09 17:23] jhbiggs commented on #932
Ok, great.  Then this should work for zim files.  I tried it with lots of scenarios and a couple of zims that were over the backup memory limit.  It seems to function properly.  Shall I create a pull request?

[2019-11-09 17:25] kelson42 commented on #932
@jhbiggs Definitely :)

[2019-11-09 23:04] jhbiggs commented on #1582
In core/src/main manifest Android Studio gave me an error on android:exported="true", recommending with a red light bulb to change to false.  So I did.  Other than that there was just the one deletion of the CHANGE_NETWORK_STATE permission.

[2019-11-09 23:11] I338 opened #1585 "possible cause of slow search"
I don't know if the cause for the slow search in kiwix is known, but I noticed that it scales rapidly with the number of search results found. If I paste a highly specific search term that only has one article related to it, the search loads almost immediately, but if there are many results, it can take upwards of a minute.

[2019-11-10 00:07] 4tip commented on #1582
The CHANGE_NETWORK_STATE permission is not needed, so you may delete it.

[2019-11-11 09:15] macgills commented on #852
Because a) generating new icons is rare and b) in constant flux as google changes how icons work every other release.
The automation effort is probably not in step with the gain as we have to maintain this tool

[2019-11-11 11:47] 4tip commented on #1582
Please release a new version of Kiwix called 3.1 as soon as you have deleted the permission (even if you have no other updates to the app or bugfixes to include).

[2019-11-11 13:05] #64 closed

[2019-11-12 00:59] kelson42 commented on #852
@rgaudin Do you see anything complicated to achieve here in Python in what @macgills has described?

[2019-11-12 10:04] Popolechien opened #1586 "wikipedia_en_all_nopic_2019-10.zim does not appear listed on Android list of contents"
Looking at the available content in the library, I realize that the latest nopic version is not listed. Nor, as a matter of fact, if the Maxi one (wikipedia_en_all_maxi_2018-10.zim)

Am on Android 3.0.5

[2019-11-12 10:11] macgills commented on #1586
There is a possibility that it is filtered out temporarily while we try to detect the filesystem of your preferred storage, assuming this is over 2GB

[2019-11-12 10:17] Popolechien commented on #1586
Yeah, but I've got plenty of space and, _fun fact_, I get the exact same issue (no Wikipedia all_maxi, no all_nopic; I do get Top_maxi though) with other languages (French, Dutch, Arabic, Spanish). Waited for about 5 minutes with multiple refreshes, to no avail.

[2019-11-12 10:19] macgills commented on #1586
![image](https://user-images.githubusercontent.com/3358282/68662942-b49fd280-0535-11ea-944f-11a6ddc40c99.png)
The trick here is to just stay on the library screen an awfully long time. FileSystem detection varies in quality depending on the sd card as we try to write a 2GB file, some filesystems support doing this instantaneously, others require you allocate each byte

[2019-11-12 10:21] macgills commented on #1586
change storage of off sd card and you should see all files, if you have more than 2GB on your phone

[2019-11-12 10:23] Popolechien commented on #1586
Ok, this fixed the issue insofar as the files have now appeared, but this is odd as I had 17Gb listed as available on internal storage and one of the missing wikis was 4.4Gb.

[2019-11-12 10:23] #1586 closed

[2019-11-12 10:27] macgills commented on #1586
Local files have different rules to the online list. there is a ticket to gray out items we think cannot be downloaded instead of hiding them

[2019-11-13 09:26] rgaudin commented on #852
Just discovered Adaptive icons so I may have missed something but my understanding is that we could fix the script to:

* Enforce a solid background color: white probably. It's already kinda the case as it helps us not to worry about how our flags would appear.
* Keep generating the previous version as it is (believe it's OK, right?).
* Generate a foreground PNG that fills the 36dp diameter of the

[2019-11-13 09:30] macgills commented on #852
@rgaudin yes we talked about this on the call yesterday.
I will be modifying the script to produce a backgroundless icon and do the import in android studio to create the icons and will request your review on that PR

[2019-11-15 19:53] kelson42 opened #1593 "Move CI from Travis to GitHub Actions"
GitHub Actions is simply faster.

[2019-11-17 15:12] kelson42 commented on #46
@macgills As you are working on adaptive icon, have you fixed that one? What would be needed?

[2019-11-17 23:27] mhutti1 commented on #902
So the url is in this from.
`../I/m/%D0%9A%D0%BE%D0%BD%D1%81%D1%82%D0%B0%D0%BD%D1%82%D0%B8%D0%BD%D0%BE%D0%B2%D1%81%D0%BA%D0%B8%D0%B9_%D0%B4%D0%B2%D0%BE%D1%80%D0%B5%D1%86.jpg`

I think this is too long to save so it causes issues.

[2019-11-17 23:54] mhutti1 commented on #902
@macgills  When I try to commit (I bypassed)
[code]

[2019-11-18 09:28] macgills commented on #46
Android Asset Studio also produces round icons, this will be fixed

[2019-11-18 09:30] kelson42 commented on #46
@macgills Great, just secure the stuff is fixed for Kiwix app as well please.

[2019-11-18 09:39] macgills commented on #902
@mhutti1 curious, have you tried invalidating caches and restarting? Can you build a custom app locally?

[2019-11-18 10:45] #1582 closed

[2019-11-18 15:35] #932 closed

[2019-11-18 16:06] kelson42 commented on #902
@mhutti1 I hope the string is URL decoded before writing?

[2019-11-18 18:08] kelson42 commented on #947
@macgills Do I have understood properly? We should wait a new version of Google Studio that we can carry on with this? Should we postpone it?

[2019-11-18 18:10] kelson42 commented on #1218
@macgills Here is a reminder about this ticket as you are polishing new custom app publishing process.

[2019-11-19 09:50] macgills commented on #947
We can do it now, Android Studio 4.0 shouldn't be far off and post modularisation most of our buildscript code is already in kotlin

[2019-11-19 09:54] macgills commented on #1218
I would say none of these points are still valid?

[2019-11-19 12:04] #1360 closed

[2019-11-19 15:38] kelson42 commented on #1218
@macgills The stuff with the `version_code` and `version_name` seems to be handled already with #36. But what about merging `zim_url` and `zim_file` (they can be contradictory) and are confusing!?

[2019-11-19 15:42] macgills commented on #1218
We only need zimUrl, zimFile doesn't exist. If we need a zimFile (eg when uploading an expansion file) we download it during the build process.
We do not support embedded zims at this time. Pending the necessary update to kiwixlib we can enhance the solution

[2019-11-19 16:22] Wikinaut commented on #835
Stopp!

[2019-11-19 16:57] macgills commented on #835
@Wikinaut you don't need to comment. We are keeping an eye on this, stalebot is just a bit of automation to help oragnisation of the project

[2019-11-20 05:05] kelson42 commented on #1218
/move kiwix-android-custom

[2019-11-20 05:06] #1218 closed

[2019-11-21 12:20] macgills opened #1598 "Move IntroActivity to app module"
**Is your feature request related to a problem? Please describe.**
Custom apps should not have the intro/onboarding screen as it contains information not relevant to them that could be confusing to a user

**Describe the solution you'd like**
Move IntroActivity to app module

[2019-11-21 14:53] macgills opened #1600 "Move ZimHostActivity to app module"
**Is your feature request related to a problem? Please describe.**
Custom apps should not be allowed to host books

**Describe the solution you'd like**
Move zimHosting to app module

[2019-11-21 15:34] kelson42 commented on #1600
@macgills What is exactly the current problem of having this feature in the custom app?

[2019-11-21 15:40] macgills commented on #1600
They could only host one file and the feature would have to be altered to support obb files.

[2019-11-21 15:43] kelson42 commented on #1600
@macgills What exactly the problem with the obb, really surprised it does not work ou of the box?

[2019-11-21 15:46] macgills commented on #1600
Because they are not zim files. We do not add them the same way. Zim files get added to a database when we download/detect them and that database is what powers many screens that allow for viewing zim files.
It is certainly possible to implement but it doesn't seem to me like a feature we want in custom apps as a custom app is simply a browser for one book, in my current understanding

[2019-11-21 16:02] kelson42 commented on #1600
Even if we have only one book, I would prefer to have the wifi hotspot working for it. This is not a priority.

Considering that the obb is only a zim file with another file extension, I don't believe/understand we use the libkiwix differently. I guess the current incompatibility comes from Java/Kotlin code, but here again it is not fully clear why this use case is different from loading a random

[2019-11-21 16:05] macgills commented on #1600
We would have to entirely rework the UI, it would look less than stellar with only one book and no way to add more from its current name "Host Books", the selections ui, all dead space

[2019-11-21 16:14] kelson42 commented on #1600
@macgills Thx for confirming this is only a UI Java/Kotlin issue. And "yes" there is only one book in the library. I'm not sure to fully understand the problem here. This UI needs anyway to be improved (a few tickets are already open), so this is probably one of the things to improve. Please just open the ticket to reintroduce the feature, if you remove it for now in custom apps. How you deal with

[2019-11-21 16:20] macgills commented on #1600
Well it raises a lot of questions for the user.
"Why can I deselect the book"
"why does the ui talk about multiple books"
etc

The screen would be clearer with an icon of the custom app and a button "start hosting" or something equally simplistic.

I had done 99% of the work by your first comment so I have opened a PR that moves it to app.

If we want a different UI for custom then in the future I

[2019-11-21 16:43] kelson42 opened #1602 "Reintroduce Hotspot feature in custom apps"
It has been removed because of #1600

[2019-11-22 09:43] #1598 closed

[2019-11-22 19:15] kelson42 opened #1603 "Do we still need https://test-gateway.kiwix.org/ ?"
This is the gateway to BitBar and I'm asking myself if:
* We still need now?
* We will (still) need it in a near future?
* Why?

[2019-11-24 14:26] mhutti1 commented on #902
@kelson42 I think the issue is it wasn't being in certain circumstances. @macgills I will try.

[2019-11-24 14:29] mhutti1 commented on #1603
As far as I am aware as we are no longer using it we don't need it at the moment.

[2019-11-24 19:07] mhutti1 commented on #902
@macgills

[code]

[2019-11-25 06:35] weatherman1776 commented on #1564
I get the same error toast on start.
Error: Loading article (url: content://org.kiwix.kiwixmobile.zim.base/null) failed.
Library is blank, won't load zim files.

[2019-11-25 06:36] kelson42 commented on #1564
@weatherman1776 I my case this is just a misleading error message. All the rest works fine.

[2019-11-25 09:21] macgills commented on #902
@mhutti1 `Exceeded max line length (100)` you have to wrap these lines for the formatter to be okay with it, unfortunately it can't fix this

[2019-11-25 12:55] #32 closed

[2019-11-25 12:55] #36 closed

[2019-11-25 12:55] #852 closed

[2019-11-25 14:45] amire80 opened #1605 "Document translatable messages in translatewiki"
**Describe the bug**

Kiwix is localized in translatewiki. About 250 translatable message are currently not documented, and this makes localization more difficult. Every message, short and long, must be documented.

**Expected behavior**

The list of "untranslated" message documentation items must be empty. The list is available here:
https://translatewiki.net/wiki/Special:Translate?filter=%21tran

[2019-11-25 21:30] mhutti1 commented on #902
But I am not changing the files. That's the weird thing. It is changing them when I commit.

[2019-11-26 10:01] macgills commented on #902
Yeah, that is confusing, it could depend on what branches you have been on lately. I have updated the git hooks and `ktlint` now observes all source sets (it had been ignoring `androidTest`) and that seems the most likely culprit. Merging develop in should get rid of it.

[2019-11-26 17:19] #46 closed

[2019-11-26 21:49] mhutti1 commented on #902
Yeah merging in develop fixed it thanks.

[2019-11-27 04:33] kelson42 commented on #947
@macgills OK, so lets do it.

[2019-11-27 04:34] kelson42 commented on #38
@macgills From what I have heard recently, this is not so easy to do (anymore)? What is the status here?

[2019-11-27 09:39] macgills commented on #38
We couldn't use GPP for custom uploads so it is not implemented, it is possible afaik but we would probably need to add another config file on the root of kiwix-android-custom to offer options to the GitHub action on how it builds.

The Action uploads the artifact in draft and at that point the attached obb can be manually selected to be an older version if we so wish, obviously would be better if

[2019-11-27 10:45] kelson42 commented on #38
@macgills Thx, I descope it from the milestone for now.

[2019-11-27 11:40] kelson42 opened #1606 "Remove plurals translations"
It is too hard (for the moment) to be translated properly.

[2019-11-27 18:20] jhbiggs commented on #1581
I'm ready to work on this one if you'd like.

[2019-11-27 18:32] kelson42 commented on #1581
@jhbiggs Thank you
@macgills Do you think this is something doable for @jhbiggs? Do you have important advices to share here?

[2019-11-28 09:02] macgills commented on #1581
Dagger is inherently quite complicated, I am happy for jhbiggs to do it and will offer guidance but I don't know their familiarity with the core concepts.

[2019-11-28 09:09] kelson42 commented on #1581
@jhbiggs I allow myself to write that probably #1173 would be more adapted to you.

[2019-11-28 19:37] jhbiggs commented on #1581
Ok, good to know. I was hunting for a meat-and-potatoes issue. I’ll have a look.

I’m currently about 1/2 through #1581.  Thought I was almost done but noticed the SearchActivity has deep roots in Dagger-Android in app and not core. I have Core working without dagger-Android now except for the SearchActivity.

On Nov 28, 2019, at 3:09 AM, Kelson <notifications@github.com> wrote:

[2019-11-29 09:15] kelson42 commented on #1509
The read aloud should continue in the backround (like any audio playing app) as long as the article/selection is not read to the end or the feature stopped explicitly in Kiwix or another article/selection to be read started. I think also that the user should probably be able to continue to do whatever he wants with kiwix.

[2019-11-29 09:16] #765 closed

[2019-11-29 10:31] kelson42 commented on #1603
OK, I have removed it for now

[2019-11-29 10:31] #1603 closed

[2019-11-29 15:29] macgills opened #1609 "Travis CI Issues"
**Describe the bug**
All pull requests have a non completing check from travis CI, also builds cannot be rerun by clicking `re-run checks`

**Expected behavior**
Builds should be able to be re-run and PRs should not have a non completing check

**Steps to reproduce the behavior:**
1. Open a PR

[2019-11-30 02:28] #1606 closed

[2019-11-30 02:29] kelson42 commented on #1609
I confirm... will try to have a look

[2019-12-02 09:31] #902 closed

[2019-12-02 10:19] #173 closed

[2019-12-02 11:31] #1600 closed

[2019-12-02 11:39] macgills commented on #1075
Issue still present with Wikipedia 2019-10-21 en nopic, latest develop

[2019-12-02 12:03] macgills commented on #1509
@kelson42 it seems this functionality is supported without us making any changes and this bug has been fixed.
I would propose deferring this ticket to a latter milestone in the interest of wrapping up 3.1

[2019-12-02 12:34] macgills commented on #1574
@kelson42 I do not understand what is to be done for this ticket.

Will our meta4 links' content contain `tags`?
Will we need to point the Library at a new endpoint?
Are tags supplied from kiwixlib ie known only for downloaded books?
Tags are to be added to the ui of our list items like `pic`/`vid`?
Tags should be searchable?

[2019-12-02 12:59] kelson42 commented on #1609
@macgills I might have fixed that pb by tweaking travis-ci perms in settings>branches. Could you please confirm it works now?

[2019-12-02 13:13] macgills commented on #1609
The non completing check is gone, I don't know if we can re-run builds

[2019-12-02 14:42] kelson42 commented on #1574
No, this is about the catalog.

Yes, but not now.

Tags are in the ZIM files and in the catalog (https://download.kiwix.org/library/library_zim.xml).

Yes. This is the most important. It is already done, but that does not fit the new rules.

No. No new feature, just secure the information displayed are proper. Ideally, I would like to see a kind of simple code to easily identify if content is vide

[2019-12-02 14:53] macgills commented on #1574
Okay, I have an idea of what to do now.
[code]
the showing of pic/vid should be controlled by `_pictures/_video:yes|no`
We can add a `text only` label if both those are 'no', are these tags guaranteed to be present on all zims?
`text only` becomes `short text only` if `_details:no`?

[2019-12-02 15:00] kelson42 commented on #1574
yes

yes and no maybe the tags are not there... but then there is nothing you say or show.

exactly.

[2019-12-03 15:38] macgills opened #1611 "Stop using translation for BottomToolbar and programtically set HideBottomViewOnScrollBehavior based on preference"
**Describe the bug**
Add enough books so that you would have to scroll the screen, scroll the screen as far as possible, see final list item only showing half of its content

**Expected behavior**
All content can be scrolled into view

**Screenshots**
![image](https://user-images.githubusercontent.com/3358282/70065212-9da74a00-15e2-11ea-92fb-44f36e430aad.png)

**Environment**
- Version of Kiwix An

[2019-12-03 15:40] macgills commented on #1611
We should remove the nested scrollview and only use recyclerview

[2019-12-04 00:02] jhbiggs commented on #1581
So I pushed a 1581 branch, I'm hopeful that you @macgills could please have a look and let me know if I'm totally off base.  I didn't run git hooks because there is plenty of work left to do and the commit would fail.  I hope that's ok.

[2019-12-04 09:28] macgills commented on #1581
@jhbiggs that is okay, I'll have a look, I am just working my way through notifications right now but you can always open a PR in draft (and tag me) to get my feedback

[2019-12-04 10:25] #1556 closed

[2019-12-04 10:25] #1557 closed

[2019-12-04 16:12] #1028 closed

[2019-12-04 16:12] #1301 closed

[2019-12-04 16:12] #1573 closed

[2019-12-05 11:49] kelson42 opened #1614 ""Delete notes" alert buttons are not displayed properly"
This kind of dialog should be standard.

![Screenshot_20191205-124556](https://user-images.githubusercontent.com/1029718/70232866-a708f180-175d-11ea-96ee-c0aa93880407.png)

[2019-12-05 11:51] macgills commented on #1614
If this isn't working then all the dialogs should not be working, can you verify with "clear history" for example?

[2019-12-05 11:52] macgills commented on #1614
Also an android OS version would be helpful here as I suspect it is that

[2019-12-05 14:25] macgills commented on #1574
@kelson42 I think this should be deferred until kiwixlib has been updated to provide us with tags.

As it currently stands if the user downloads a zim from outside the app we would have no way of inferring the tags aside from the current solution of parsing the filename.

[2019-12-05 14:36] kelson42 commented on #1614
"Clear history" works fine. Android 10, Google Pixel2

[2019-12-05 14:43] kelson42 commented on #1574
@macgills The Kiwixlib provides the tags AFAIK. What is exactly missing?

[2019-12-05 14:51] kelson42 commented on #1609
This has been fixed

[2019-12-05 14:51] #1609 closed

[2019-12-05 14:52] kelson42 commented on #1614
@macgills I got that with the last "wikimed" alpha version.

[2019-12-05 14:52] macgills commented on #1574
@kelson42 there is no `getTags` method in the public api of kiwixlib.

[code]

at least not in 8.2.1

[2019-12-05 14:55] macgills commented on #1614
on a 10 emulator with latest develop the buttons appear for me, I would say that this is no longer an issue post our theme update for the night mode. Closing

[2019-12-05 14:55] #1614 closed

[2019-12-05 15:16] kelson42 commented on #60
We have revamped the system of installation. I will close this ticket for now and this should be reopen if we still have problems. In worse case the direct download fallback we have implemented should save most of the edge cases.

[2019-12-05 15:16] #60 closed

[2019-12-05 15:19] kelson42 commented on #293
I will close that ticket for the moment as we have a fully revamped custom app process and in additional a fallback solution allowing users to get the ZIM file through a direct HTTP download. If this problem still occurs we should then reopen this ticket.

[2019-12-05 15:19] #293 closed

[2019-12-05 15:23] #947 closed

[2019-12-06 13:34] kelson42 opened #1618 "Error displayed behind authorization request"
A full black or white background should be preferred.

![Screenshot_20191206-143057](https://user-images.githubusercontent.com/1029718/70326670-5f559900-1835-11ea-93ca-ae7363327bbb.png)

[2019-12-06 13:35] kelson42 opened #1619 "strange message displayed at Wikimed first launch"
I would like to remove it

![Screenshot_20191206-143108](https://user-images.githubusercontent.com/1029718/70326781-a5aaf800-1835-11ea-95c0-baab52fdc6f7.png)

[2019-12-06 13:37] kelson42 commented on #1614
@macgills I confirm it looks better now that we compile against `develop` branch.

[2019-12-06 13:39] macgills commented on #344
Unnsuccessful load example:
[code]

`I/chromium: [INFO:CONSOLE(111)] "Uncaught TypeError: Cannot read property 'slice' of undefined", source: content://org.kiwix.kiwixmobile.zim.base/-/assets/db.js (111)` this line looks particularly suspicious

as it is notably absent from a successful load
[code]
@rgaudin @kelson42 any ideas?

[2019-12-06 13:41] kelson42 opened #1620 ""Read aloud" seems completly broken with `develop` branch"
Testing with the Wikimed custom app, I never get a sound. For the rest the feature seems to work.

[2019-12-06 13:50] macgills commented on #1620
Seems it is zim file dependent, investigating further

[2019-12-06 14:14] macgills commented on #1620
checked the logs and onError is being hit
[code]

the error is absolutely useless though as it is just an id we passed in to the system earlier. We can implement the TODO but I am not seeing an easy way forwards with this, TTS seems [incredibly flaky](https://stackoverflow.com/questions/55080063/android-texttospeech-behaves-irregular)

[2019-12-06 14:19] kelson42 commented on #1620
@macgills Do you mean you can not get it working at all?

[2019-12-06 14:22] macgills commented on #1620
It works right now on `Granblue Fantasy Wiki` for example, I have little experience with TTS but from a quick browse of the code I can't see a glaring error. It bears more investigation but I am giving a heads up that this might be a real tricky one

[2019-12-06 14:22] kelson42 commented on #344
@macgills I think you should create an automated test for that specific case so we can work on something easier.

[2019-12-06 14:24] kelson42 commented on #1620
@macgills OK, I would start from my bug report - with Wikimed. If you test something different, then that does not make the investigation easier.

[2019-12-06 14:26] macgills commented on #344
@kelson42 you are going to have to clarify as I don't know what you mean

[2019-12-06 14:32] macgills commented on #1620
Testing includes verification, verifying it works in some scenarios is a huge insight because it narrows the field of possible problems from "seems completely broken" down to "broken for some zims".

It being a custom app has no bearing on the functionality

[2019-12-06 14:33] kelson42 commented on #344
@macgills This bad behaviour should be narrowed down in a "unit test".

[2019-12-06 14:37] kelson42 commented on #1620
@macgills It is just an advice. As long as we don't understand from which part of the software the problem comes from, I would start from the problem itself instead of guessing things (for example, that it won't work with any ZIM file). If you are sure the custom app does not play any role, then at least play with the same ZIM file. But again, this is only an advice, I just does not want to open a

[2019-12-06 14:38] macgills commented on #344
Any test I write will absolutely not be a unit test seeing as our repro case is

1) is download these 2 specific files
2) open both of them
3) observe a visual error in a webview

There is no lower level for this from the android app perspective

[2019-12-06 14:47] macgills commented on #1620
I verified it worked in the main app with the same file so seeing as the problem is not the content, it is in fact the custom app. I believe it to be associated with the language enforcing

[2019-12-06 14:49] kelson42 commented on #1620
@macgills Yes, a bit of info I remember which might help. The TTS system needs at some point to be initialized with a language (a voice need to be chosen). This language should come from the ZIM file itself... but the meta data coming from the ZIM file might not be exactly in the format taken by the TTS system, so a transformation might be needed.

[2019-12-06 14:54] kelson42 commented on #344
@macgills forget about download, just assume the files are there and forget the webview, just mockup the content requests which are wrong. Just open the first make one-two content requests and then open the second and do the same (with similar URLs, I guess the problem is around this). If we have somehow a problem, this should be enough to reproduce it. If this is the case, I will build two smalle

[2019-12-06 15:10] macgills commented on #344
The act of reducing the content of these zim files down to their minimum reproducable state is valuable but I don't know how to do that so it is up to you.

I am also not sure how easy it is unless we get it down to literally 1 request as I believe it is the webview that is responsible for successive content requests from the ContentProvider

[2019-12-06 15:11] #1619 closed

[2019-12-06 15:13] macgills commented on #1618
What are the repro steps? What device? What OS? This is a custom app? This is a custom app with an obb or download fallback?

[2019-12-06 15:24] kelson42 commented on #1618
1 - install wikimed custom app (the new one)
2 - launch it
3 - you get the screenshot I have posted with the error

[2019-12-07 18:04] devilmonk commented on #1564
Is this issue resolved? Or is anyone working on it?

[2019-12-08 06:46] kelson42 commented on #1564
@devilmonk yes and yes (see PR).

[2019-12-08 12:53] devilmonk commented on #1611
I want to work on it if someone tells me: what part of code what changes I have to make.

[2019-12-08 12:54] kelson42 commented on #1611
@devilmonk Great :)

[2019-12-08 16:22] kelson42 opened #1625 "Night mode does not always apply properly on pictures"
Dark mode does no apply properly on pictures just after:
- App's restart (after been properly removed from memory) in night mode
- After switching on the night mode and exiting settings

see for example:
![Screenshot_20191208-171713](https://user-images.githubusercontent.com/1029718/70392326-3d981580-19df-11ea-9048-2f67d2754fb7.png)

Further page loadings are OK

[2019-12-08 19:29] #1564 closed

[2019-12-08 19:29] #1618 closed

[2019-12-09 00:17] #1620 closed

[2019-12-09 09:17] macgills commented on #1611
@devilmonk CoreWebViewClient:133 `inflateHomeView` is what is adding this view, it calls a callback which attaches the adapter/data to the recyclerview, MainActivity:1663 `setHomePage`

[2019-12-09 09:19] macgills commented on #1625
I don't see the problem with this image?

[2019-12-09 09:24] kelson42 commented on #1625
This bug report is buggy indeed! But there is a problem of this order. This is how it looks like just after having changed from dark -> light in the settings. See screenshot.

[2019-12-09 11:29] #1625 closed

[2019-12-09 11:35] macgills opened #1627 "In night mode videos with div poster overlay are inverted"
**Describe the bug**
A video with a poster overlay is inverted, this is because the poster was displaying as inverted it so we inverted its colors which in turn inverts the video.

**Expected behavior**
Both items should display correct colors.

**Steps to reproduce the behavior:**
1.  Activate night mode
1. open Mali Les Pour Les Nuls
1. play video

**Screenshots**
![image](https://user-images.gi

[2019-12-09 11:41] kelson42 commented on #1546
@mac I have tried again with Chrome & Firefox with my older and my newer devices... and last nigthlies just install properly :) No clue what happened at that time.

[2019-12-09 11:47] kelson42 commented on #1565
@macgills Tested again with last nightly... and works fine.

[2019-12-09 11:47] #1565 closed

[2019-12-09 11:48] kelson42 commented on #4
@macgills Do you think there is a bug at all here?

[2019-12-09 11:49] #1173 closed

[2019-12-09 11:51] devilmonk commented on #1611
@macgills Thanks

[2019-12-09 11:51] kelson42 commented on #1180
This bug needs to be re-evaluated with new Phets custom app to be released with 3.1 code base (in the next 2 weeks).

[2019-12-09 11:52] macgills commented on #4
@kelson42 It is possible? This was a custom app and depending on file permissions it could make sense that that the obb file is unreadable by another user. There isn't really a way to work around this, a users files should be a users files. Potentially this is just a problem with cynagenmod and android now has a proper inclusion of file rights for obbs on shared app installs.
Regardless we do now

[2019-12-09 11:57] kelson42 commented on #4
@macgills Does that not sounds weird to have the app available for all but the extension only for a user? Is that not a sign of a misconfiguration?

[2019-12-09 11:59] macgills commented on #4
The play store handles downloading & storing of an obb file, I couldn't misconfigure something if I tried.

[2019-12-09 12:00] kelson42 commented on #4
I close the ticket as there is nothing we really can do here. Works as Google has conceived it!

[2019-12-09 12:00] #4 closed

[2019-12-09 12:49] #1627 closed

[2019-12-09 12:58] macgills commented on #1512
I think it best to defer this until the release of Android Studio 4.0 and more importantly  4.0 of the android gradle plugin as that manages the version of r8. We could explicitly include a version of r8 but I want to avoid doing that as by design it has been made to be bundled in AGP

[2019-12-09 15:17] devilmonk commented on #547
two are left now. One in storage_select_dialog.xml, other in activity_local_file_transfer.xml.

[2019-12-10 10:40] macgills commented on #1574
@kelson42 I am thinking of using the material [Chips](https://material.io/components/chips/#choice-chips) component to render the tag information

[2019-12-10 10:41] kelson42 commented on #1574
@macgills Good, post a mockup if you can.

[2019-12-10 11:13] macgills commented on #1574
![image](https://user-images.githubusercontent.com/3358282/70524912-1572f880-1b3e-11ea-8fd6-bd0f41cfb8c3.png)

[2019-12-10 11:21] macgills commented on #1574
@kelson42 I believe you were talking about all items being present, this would be an example of a no_pic, no_vid, no_details list item:
![image](https://user-images.githubusercontent.com/3358282/70525331-03458a00-1b3f-11ea-8036-6915fa29b1ee.png)

I can make this line of chips wrap to the next line or be horizontally scrollable if we want to add more or change the text up

[2019-12-10 16:39] #1574 closed

[2019-12-10 21:25] JensKorte opened #1632 "Categories/Tags in Download Books don't make sense (to me)"
**Describe the bug**
I downloaded 3.1.0 from the homepage and want to select a ZIM file. All my files get the tags Pic, Vid, Text Only, and Short Text Only.  I don't understand how the tags are meant. I prefer the big german version with Pics. This version has no Vids. Why do Pics and Vids have the same color?
PS: I clicked on Download Books and then selected the local device.

**Expected behavior

[2019-12-10 21:53] JensKorte opened #1633 "No local ZIM files get listed during first start after installation"
**Describe the bug**
After installation of 3.1.0 from a local apk I start kiwix from the installation dialog. I click Get started. LineageOS asks for the permission to give kiwix access to local files, I allow it. Then I see the Kiwix local files dialog with the "Download Books" button on the upper right without a file list. But nothing ever happens and I wonder. ;) If I kill kiwix and restart it

[2019-12-11 05:54] kelson42 opened #1634 "App becomes unresponsive in the library"
... if I click on the icon in the top right corner of this screenshot. I have no clue what should happen.
![Screenshot_20191211-065049](https://user-images.githubusercontent.com/1029718/70595170-f7130880-1be2-11ea-8287-795f82b8eed7.png)

[2019-12-11 06:00] kelson42 commented on #1632
@JensKorte I guess what happen here is that you have old Zim files which don't have the new tags. Per default, they have all tags.
@macgills "short text" and "text" should not be active together. If not specified, "short text" should've inactive.

[2019-12-11 06:50] JensKorte commented on #1632
@kelson42 I have old files, like WP en 2018-10-24 78GB. But the WP de 2019-08-07 34GB is quite fresh.

[2019-12-11 07:21] kelson42 commented on #1632
@JensKorte Files older than october don't have the proper tags... there will be unfortunately a transition period.

[2019-12-11 08:34] JensKorte commented on #1632
@kelson42 Can the e.g. WP de from 2019-08-07 modified with only few work? Like changing/adding headers?

[2019-12-11 09:03] macgills commented on #1632
Hmm curious, I put in code to hide the tags for books with improper tag data, it is clearly not working.

I will address this today but 3.1.1 release to beta may be next week as we look to resolve another issue

[2019-12-11 09:46] macgills commented on #1632
A very dumb error by myself `==` instead of `=`. Tags will now be hidden. Probably time to install detekt on the project, I am surprised our checks didn't catch this.

On the design of tags:
![image](https://user-images.githubusercontent.com/3358282/70609716-2e40e400-1bfa-11ea-8141-8cec34f0b763.png)

All tags are always present, the tags are activated/deactivated by the presence/absence of tag dat

[2019-12-11 10:07] macgills commented on #1632
@JensKorte I have created a PR which will close this issue.

If you wish to open a new feature request to discuss the design of tags ie should be hidden if not present, should have different colors, strikethrough text for deactivated tags. I think that issue should be place for that discussion

[2019-12-11 10:09] macgills commented on #1634
This is my fault for removing a permission, I tested this but must not have uninstalled inbetween testing so the permission, though no longer requested in the manifest, was already granted? That is my theory anyway

[2019-12-11 10:18] JensKorte opened #1636 "If the ZIM file tag (Vid,Pic) doesn't fit, additionally the text should be stroke."
**Is your feature request related to a problem? Please describe.**
#1632
I was confused about the colors with non tagged files. If the text would be stroked the color usage would be clear, even if there happens a bug.

**Describe the solution you'd like**
e.g.: ~Vids~

[2019-12-11 10:23] kelson42 commented on #1636
This is a typical 3.2 decision

[2019-12-11 11:00] #1634 closed

[2019-12-11 11:01] #1633 closed

[2019-12-11 14:44] #1632 closed

[2019-12-11 14:51] kelson42 commented on #1632
@JensKorte no

[2019-12-13 05:53] kelson42 commented on #1311
Works for me now

[2019-12-13 05:53] #1311 closed

[2019-12-13 06:07] kelson42 commented on #1546
I made an error here by closing the ticket, the naming is still wrong.

[2019-12-13 06:07] kelson42 commented on #1546
This is only for the release ones.

[2019-12-13 06:10] kelson42 commented on #1585
@I338 There is nothing much we can do here with this ticket. If you experienced a bug, a slow search experience... Please the open a bug with all the details.

[2019-12-13 06:10] #1585 closed

[2019-12-13 06:12] kelson42 commented on #1428
@macgills Do you think this is a good time now to reintroduce it?

[2019-12-13 06:14] kelson42 commented on #1443
@macgills Is that still a work to do?

[2019-12-13 06:16] kelson42 commented on #272
@mhutti1 @julianharty @macgills What to do with this ticket? Is that still pertinent?

[2019-12-13 06:19] kelson42 commented on #742
@julianharty @macgills What is the current status on this with 3.1?

[2019-12-13 09:15] macgills commented on #742
Out of Memory errors are always possible for apps that show images and that are running on low end hardware?

[2019-12-13 09:17] macgills commented on #272
No, we don't really do any "background" work anymore. We use foreground services with notifications if performing a long running task

[2019-12-13 09:17] macgills commented on #1443
Yes

[2019-12-13 09:18] macgills commented on #1428
Yes, I will experiment on my Github actions branch

[2019-12-13 09:51] #272 closed

[2019-12-13 09:52] kelson42 commented on #742
@julianharty Any chance you could redo a test with these same devices, considering that the libzim has really been optimized in the meantime?

[2019-12-13 14:08] gaurivn commented on #12
I would like to work on this issue.

[2019-12-13 14:10] kelson42 commented on #12
@gaurivn The discussion is still open if we really want to do that. I would recommend to pick an other task.

[2019-12-13 14:17] gaurivn commented on #12
Okay, I'll try other good first issues.

[2019-12-13 14:19] gaurivn commented on #1443
I would like to work on this issue.

[2019-12-13 14:48] kelson42 commented on #1443
@gaurivn Thx, that would be great!

[2019-12-14 20:51] JensKorte opened #1642 "Order of the books"
**Is your feature request related to a problem? Please describe.**
If I open the books, I see my local language first, which is nice. In german I have two books, an old WP and a new one. The old one is listed first. The newer and bigger ones should be at the top, imho. Another rule of sorting could be "Which ZIM file was mostly or recently opened, without ordering by language".
There could be even

[2019-12-15 10:29] ShivamPrajapati-dev opened #1643 "Corrupt application dialog appears after installing app."
**Describe the bug**

When I clone the repository and then install it into my phone with android 9.0, the application fails to install with a 'corrupt application dialog opened'. And it suggests downloading the app from play store.

**Screenshots**

![Screenshot_2019-12-15-15-49-38-49_c4696a07e91bd7d7377775a7de880950](https://user-images.githubusercontent.com/53396008/70861415-9291d980-1f53-11ea-8

[2019-12-15 10:47] kelson42 commented on #1643
@ShivamPrajapati-dev Thank you for reporting this bug. We are really interested to investigate it. Do you use the beta version of this app https://play.google.com/apps/testing/org.kiwix.kiwixcustomwikimed ?

[2019-12-15 10:47] kelson42 commented on #1643
Same as #888?

[2019-12-15 11:32] ShivamPrajapati-dev commented on #1643
No, I am just using the cloned version from Github.

[2019-12-15 11:35] kelson42 commented on #1643
@ShivamPrajapati-dev Ok, sorry I misread your report. You will get an answer to your request on Monday.

[2019-12-15 12:29] kelson42 opened #1644 "Clicking on action bar title should open search box"
This had been already report in #1344 and I remember a discussion with @abdulwd and @macgills and probably even @mhutti1. The conclusion at that time that we should/could live without. Unfortunately I don't find the trace of that discussion, might have been on Slack. Anyway, I suffer a bit of this removed feature. Therefore I open a new the ticket as I think it should really be brought back.

[2019-12-15 15:50] kelson42 commented on #1374
@julianharty I have published the a new version of the Phet app in closed alpha. https://play.google.com/apps/testing/org.kiwix.kiwixcustomphet to secure you are alpha tester. Please tell me if this problem still occur.

[2019-12-15 15:50] kelson42 commented on #1181
@julianharty I have published the a new version of the Phet app in closed alpha. https://play.google.com/apps/testing/org.kiwix.kiwixcustomphet to secure you are alpha tester. Please tell me if this problem still occur.

[2019-12-15 15:51] kelson42 commented on #1180
@julianharty I assume now this is a problem with the javascript. Do you have the problem in a browser as well?

[2019-12-16 09:55] macgills commented on #1643
This is the custom app. If you want to use kiwix please follow the instructions on the readme

[code]

Seeing as we don't actually use this string anymore I would also guess you are on `master` branch and not `develop`? It should be gone on both actually so outdated anyway

[2019-12-16 10:21] kelson42 commented on #344
@mhutti1 Here are two small ZIM files to test with:
* http://tmp.kiwix.org/youtubetest1_en_all.zim
* http://tmp.kiwix.org/youtubetest2_en_all.zim

[2019-12-16 10:22] kelson42 commented on #1643
@macgills Thank you. Closing the ticket as question is answered.

[2019-12-16 10:22] #1643 closed

[2019-12-16 14:22] #344 closed

[2019-12-16 15:00] macgills commented on #1642
A good bit of thought would want to be put in to the design of this. Especially in light of the unification of the downloading/library tabs.

Maybe a sensible default for the list when you are opening a new tab is most recently opened first? Other than that I can see the usefulness of ordering the list by various criteria but where to put it? Make our language filtering a subsetting of a new scree

[2019-12-16 18:13] JensKorte commented on #1642
Have a look at Osmand~. Maybe the download map dialog could be a template.  ;)

[2019-12-17 00:17] mhutti1 commented on #1350
![Screenshot_1576541827](https://user-images.githubusercontent.com/2286937/70953830-a7a95e00-2062-11ea-9509-f9c00749ef27.png)

[2019-12-17 00:18] mhutti1 commented on #1350
A search icon should be added to the bar to allow users to search into a new tab.

[2019-12-17 00:22] mhutti1 opened #1648 "Open search results in a new tab"
We should add a feature to allow users to open searches in a new tab on long click.

[2019-12-17 02:56] zzndb opened #1649 "SVG images donot render properly in night mode"
**Describe the bug**

SVG images donot render properly in night mode, such as a just black text svg image you just can see black space in night mode.(see image below

**Expected behavior**

Maybe should invert SVG image color in night mode.

**Steps to reproduce the behavior:**

Just switch to night mode read some page use just black SVG image.

**Screenshots**

![Screenshot_20191217102507](https:

[2019-12-17 05:20] kelson42 commented on #1649
@zzndb Thank you for your bug report, could you please tell us which content and which article your screenshots are from?

[2019-12-17 05:21] kelson42 commented on #1648
Sounds a good idea. Is that a standard/recommended gesture?

[2019-12-17 06:18] zzndb commented on #1649
the image from English Wikipedia `AVL tree` entry `Balance factor` section with landscape screen.

[2019-12-17 06:47] kelson42 opened #1650 "Library "Text Only" seems to be wrong"
for this book entry:

[code]

It has `_details:no` (which is different from `_details` unset which is like `_details:yes`). In that case, "Short text" should be highlighted. It is not.

It should be also "Short text", not "Short text only".

I would also put "Text Only" at the end (and "Short text" before).

**Describe the bug**

**Expected behavior**

**Steps to reproduce the behavior:**
1.

**Sc

[2019-12-17 06:58] kelson42 commented on #1649
@zzndb This picture is (in the ZIM) a PNG (see http://library.kiwix.org/wikipedia_en_all_maxi/I/m/AVL-tree-wBalance_K.svg.png). This is a bug in the scraper (not in Kiwix Android). Here is the duplicate ticket on MWoffliner side https://github.com/openzim/mwoffliner/issues/1026

[2019-12-17 07:17] zzndb commented on #1649
I know this file is a png file
![Screenshot_20191217150318](https://user-images.githubusercontent.com/20870493/70972723-fb598d00-20de-11ea-9baf-fb267587cdef.jpg)
I can see it from the right corner.

BUT

I mean these SVG files (there are all SVG files which can confirm from kiwix save media or online wiki page

![图片](https://user-images.githubusercontent.com/20870493/70972955-95b9d080-20df-11ea-82

[2019-12-17 09:52] macgills commented on #1650
[code]
what is the tag state of this book?

There is an error where I have been interpreting `_details:` as `_details:no`
I wasn't aware the value could be empty for the private tags

[2019-12-17 09:56] macgills commented on #1650
https://github.com/kiwix/kiwix-android/issues/1574#issuecomment-560429974 I describe the behaviour implemented here but I am guessing what you want is
[code]

[2019-12-17 10:01] macgills commented on #1649
@kelson42 We do not invert the colors on svg tags currently, this can be fixed if the content is in a `svg` tag

[2019-12-17 10:29] macgills commented on #1649
Read the linked issue, nothing to be done on the android side for the general case. We preserve the original colors of images in night mode - otherwise they would look like negatives for most of the content - and it just so happens that the design of this site is not night mode friendly as their images (here images of black text) cannot contrast on a dark background.

There is the slight possibili

[2019-12-17 11:08] macgills commented on #1546
@kelson42 I don't think this has a place in a maintenance milestone, I'll be completely redoing this in a GitHub action on 3.2 anyway

[2019-12-17 11:38] macgills commented on #1014
I think this file is lying about being an svg, I am not incredibly well versed on the formats but the byte difference is a lot
WikEM:
[code]
Test SVG:
[code]

The WikEM seems to just be a jpeg/jfif? @kelson42  I would say if we recreated the zim file now this issue would disappear

[2019-12-17 11:52] macgills commented on #1509
@kelson42 what is to be done here, there is no crash. I don't think a maintenance release is the place to be rearchitecting TextToSpeech

[2019-12-17 12:48] macgills commented on #1649
Achievable like so
[code]
![image](https://user-images.githubusercontent.com/3358282/70996697-3c47a680-20cb-11ea-893c-595053ec0542.png)

Note I was using Mathematics by Wikipedia, at this time cannot guarantee the same span class is used in Wikipedia maxi but I would imagine it is

[2019-12-17 13:02] zzndb commented on #1649
@macgills maybe not elegant, but provide a switch to let user choose maybe can take into consideration.

[2019-12-17 13:27] kelson42 commented on #1649
OK, we have the problem with SVG with transparent background as well. Still openzim/mwoffliner#1026.

[2019-12-17 13:28] #1649 closed

[2019-12-17 13:30] macgills commented on #1649
@zzndb unfortunately we will not support this fix in the android app but thank you for the report

[2019-12-17 13:44] kelson42 commented on #1650
[code]

Displayed in this order.

[2019-12-17 13:58] kelson42 commented on #1509
Works more or less... but we have a few weird behaviours there. We probably need to clarify tabs/multizim first.

[2019-12-17 13:58] #1509 closed

[2019-12-17 13:58] kelson42 commented on #1014
OK, I close the ticket. Seems to work fine with proper SVG files.

[2019-12-17 13:58] #1014 closed

[2019-12-17 13:59] kelson42 commented on #1546
ok

[2019-12-17 14:10] kelson42 commented on #1480
@macgills Looks like this works now. You probably have fixed it.

[2019-12-17 14:12] #1480 closed

[2019-12-17 14:40] kelson42 commented on #443
@macgills @mhutti1 I hope the necessary tickets have been open... I have unfortunately not much visibility on this part of the app as I don't know how to trigger it. What seems clear is that nothing more can be done for that ticket. I'll close it.

[2019-12-17 14:40] #443 closed

[2019-12-17 14:46] kelson42 commented on #260
Putting this is 3.2, level of emergency is increasing.