[2019-06-18 17:04] Popolechien opened #1207 "How are zim files listed in the libraries?"
It does not look to be the same in the online and local library.
Online (left): French and English are mixed, no apparent order I can make out
Local (right): posssibly alphabetical
![Screenshot](https://user-images.githubusercontent.com/21675885/59704019-74912980-91fb-11e9-83e5-081425167923.jpg)

[2019-06-18 21:08] mhutti1 commented on #692
I think this was partly my motivation for maybe having a two tier build system with the other flavours being run as an additional check but merging being allowed without them. Not sure if its a good idea though.

[2019-06-18 21:09] mhutti1 commented on #1116
Yes it chooses debug but it chooses the custom app debug version. It should be choosing the normal version.

[2019-06-18 21:15] mhutti1 commented on #1207
As far as I can remember online is determined by the server and offline is alphabetical.

[2019-06-19 06:11] Popolechien commented on #1207
Thanks. We need to do some thinking / testing about that server side then.

[2019-06-19 06:11] #1207 closed

[2019-06-19 08:20] macgills commented on #1207
Online ordering is determined by the server and selected language, I think there has been some changes to ordering on the device tab in 3.0 because now we stick in language headers? I didn't play around with it much

[2019-06-19 08:38] macgills commented on #692
I think parallel stages are a thing travis can do? That would assuage fears of slowdown.
I think it should fail a build, the changes made have incurred a regression and it is the duty of that person to fix them

[2019-06-19 08:44] macgills commented on #1116
Does it? I don't think it did for me ever.
It is very strange because it is acting like a flavour without ever being defined as such, I guess because it has it's own `build.gradle`? This is very much unchartered territory for me.

[2019-06-19 08:48] macgills commented on #1206
I think I will solve this by putting a filter on the BooksOnDisk emission of `file.exists()` and create a separate subscription that observes non existing files and deletes them from the db

[2019-06-19 12:40] macgills commented on #112
I think we provide sufficient information, closing

[2019-06-19 12:40] #112 closed

[2019-06-19 13:39] macgills commented on #489
Output of discussion between @mgautierfr and myself:
I will create the android publishing library inside kiwix-lib, kiwixbuild will populate this with the necessary files and invoke the gradle publishing command

[2019-06-20 12:54] macgills commented on #1201
#1192 kotlin support is now on develop, closing.
Vis a vis migrations I have been espousing the Boyscout rule ie leave the place nicer than you found it.
The idea being that if you change a class even slightly maybe consider converting it to kotlin.

[2019-06-20 12:54] #1201 closed

[2019-06-20 13:21] macgills commented on #227
I am okay with closing this. I am plotting a full revamp of the automation tests as is

[2019-06-20 13:30] julianharty commented on #227
@macgills OK, I agree with fully revamping the automation tests. Some of the main causes of crashes  in production seem to be either device, content, or lifecycle related. Be great to have as many as practical of these covered in the revamped suite.

I'll close this ticket.

[2019-06-20 13:30] #227 closed

[2019-06-20 13:35] macgills commented on #151
I will aim to create a deploy step on travis that will run only on cron job types with branch == develop.
Can I be pointed towards the code that uploads to https://download.kiwix.org/nightly/ and also any credentials that are required?

Nightly builds pose a strange question for our version codes, let me post the "javadoc" of our version codes
[code]
seeing as how the leftmost digit can logistical

[2019-06-21 08:59] macgills opened #1211 "Ensure compliance with new google play icon specifications"
**Describe the bug**
We need to ensure we comply with this https://developer.android.com/google-play/resources/icon-design-specifications as it is currently erroring our automatic uploads. Further reading: https://github.com/Triple-T/gradle-play-publisher/issues/597

**Expected behavior**
Automatic uploads do not 500

**Steps to reproduce the behavior:**
Preform an automated release or upload icon

[2019-06-21 09:24] macgills opened #1212 "Create new automated test architecture"
**Is your feature request related to a problem? Please describe.**
Test are somewhat non deterministic causing coverage variance and depend on external data.

**Describe the solution you'd like**
A full kotlin rewrite lightly inspired by [this article](https://blog.codecentric.de/en/2018/11/android-testing-part2-kotlin-dsl-for-espresso-and-uiautomator/). The important takeaways are:
+ no more idli

[2019-06-21 11:15] macgills commented on #828
![image](https://user-images.githubusercontent.com/3358282/59918874-e5179080-941d-11e9-88bb-7bee1f2810ef.png)
The string has been changed to No since this tickets creation and I see no issues with the translation nor any special handling of Burmese. Closing this ticket

[2019-06-21 11:15] #828 closed

[2019-06-21 11:25] macgills commented on #834
[code]

[2019-06-21 11:53] macgills commented on #798
![image](https://user-images.githubusercontent.com/3358282/59920133-75a3a000-9421-11e9-94f1-2b87c952f4d1.png)
You can also scroll it to the side once you start scrolling, not a fan of this behaviour at all.
The only way I am seeing of doing it right now is disabling scrolling on the entire webview but then we have to reenable it when a user selects a file

[2019-06-21 12:09] macgills commented on #217
superseded by #489 closing

[2019-06-21 12:09] #217 closed

[2019-06-22 12:26] kelson42 commented on #151
@mgautierfr This is why the compilation shoudl run properly from kiwix-buid. Kiwix-build Travis configuration does all of this already properly. I'm not sure this is the correct solution to rebuilt all of this somewhere else. Here again, please sort out the problem with @mgautierfr next week.

[2019-06-22 12:29] kelson42 commented on #785
@siddharth2010 I'm really in favour of more automated testing... but this ticket seems stalled and nothing move forward. I'm not sure of the value of keeping it open, or do you plan to fix it?

[2019-06-22 12:31] kelson42 commented on #834
@macgills I'm not sure about what you mean? Does that implies any change in term of feature?

[2019-06-22 13:05] kelson42 commented on #1212
This is a priority. I don't want more massive code changes without propoer automated tests (infrastructure).

[2019-06-22 14:06] kelson42 commented on #1211
@macgills How is that ticket related to #46, #852, #681 and #1150. I would appreciate if we could sort all of that simultaneously.

[2019-06-23 07:58] kelson42 commented on #550
@macgills You have closed the PR, saying this was fixed in 2.5. But the linked ticket has remained open. Could you please confirm/close here too?

[2019-06-23 08:30] kelson42 commented on #1072
@macgills @sonusourav I don't understand what is the problem here. If pics are broken, there is a problem the libzim/jni/render OR the ZIM is broken itself. In both case we need a concrete repro case and this has nothing to do with any menu. So for me here (1) the problem is not clear (2) the solution is not related. Therefore I propose to close that ticket.

[2019-06-23 09:03] siddharth2010 commented on #785
I agree @kelson42 , I was planning on adding some more tests after gsoc this year. I guess we should probably close this ticket. I will reopen it when I am back to testing!

[2019-06-23 09:03] #785 closed

[2019-06-23 09:11] kelson42 commented on #771
@siddharth2010 Closing for same reason as #785

[2019-06-23 09:11] #771 closed

[2019-06-23 09:18] kelson42 commented on #1169
This bug will need to be confirmed with 2.5 to be released soon.

[2019-06-23 09:21] kelson42 opened #1214 "Universal APK have to be automatically published too"
To Gihub and download.kiwix.org.

[2019-06-23 09:26] kelson42 commented on #1206
@macgills Great if you can fix it! This is really a long standing bug reporting many times already.

[2019-06-23 09:30] kelson42 commented on #1116
@mhutti1 @macgills Re-opening ticket.

[2019-06-23 09:46] nocheiner opened #1215 "Kiwix 2.4: New ZIMs downloaded, recognised but don't work; older ZIMs still do"
1. Downloaded wikivoyage_de_all_nopic_2019-06.zim (111 MB) and wikivoyage_de_all_novid_2019-06.zim (692 MB) with Kiwix (2.4 build 182160)
2. Both listed in "Get content"
3. When choosing one of them --> white screen while Kiwix menu is still visible and working (no chrash); when entering search tearm --> no results

Older ZIMs are still working: wikipedia_de_all_nopic_2017-08.zimxx (SD);  wikivoya

[2019-06-23 09:46] kelson42 commented on #402
@macgills @mhutti1 @julianharty Putting to 3.0 milestone

[2019-06-23 09:48] kelson42 commented on #1215
@nocheiner Thx for your report. I will check this with 2.5 (to be released soon).

[2019-06-23 12:58] kelson42 commented on #1215
@nocheiner I have tested with 2.5 and it works fine for me... Lets see if you can reproduce the problem one time 2.5 will be released.

[2019-06-23 13:04] kelson42 commented on #1205
I have myself a few mixes, see this screenshot.

![screenshot (1)](https://user-images.githubusercontent.com/1029718/59976657-fbf9e680-95c7-11e9-9eba-5056b0fd0bb7.png)

@macgills One possible explanation:
* Internal is in place of external SD card
* For the too small space, that might be storage with many partitions and only the first one is detected.

[2019-06-23 15:32] kelson42 opened #1216 "How works Android Global Crash Reporting?"
I have learned from #335 that this has been merged but I never have seen working. How does that work? Is that somewhere documented properly?

[2019-06-23 16:15] kelson42 commented on #1023
@macgills I'm not even sure this is a real selection, it does only show a dialog box. Even if we consider this like a selection, then this is impossible to have multiple selection like in the video. That said the delete dialog disappears when rotating the screen.

[2019-06-23 17:03] kelson42 commented on #110
@macgills  Something needs to be done here, maybe by following Isaac's advice, to achieve to test on a good set of devices.

[2019-06-23 21:35] #1072 closed

[2019-06-23 22:21] mhutti1 commented on #1216
I think it is currently disabled as it didn't fully handle some types of crashes but this was some time ago so I am no so sure.

[2019-06-24 07:21] macgills commented on #1216
I believe it was until very recently disabled on all buildTypes and has just recently been enabled on develop by myself.
![image](https://user-images.githubusercontent.com/3358282/59999036-dc5ece80-9658-11e9-9320-d4d8e8377024.png)
got the commit that disabled it, it seems to me like native crashes are the only thing it can't handle.

[2019-06-24 07:24] kelson42 commented on #1216
Is that worth the effort to have it, even if it handle only native crashes?

[2019-06-24 07:31] macgills commented on #110
I re-added the devices mentioned by this ticket, will monitor their progress

[2019-06-24 07:33] macgills commented on #1216
It is definitely worth it even though we _won't_ get native crashes, we could usurp it with a proper crash reporting system but in the meantime this is fine

[2019-06-24 07:36] macgills commented on #1023
Then that would be another issue. Unless @sonusourav can shed some light on this problem I say we close

[2019-06-24 07:37] kelson42 commented on #1216
OK, then I just need the documentation (probably in `CONTRIBUTING.md`). Following questions should be answered:
* Where (which releases) is that activated?
* What kind of behaviour is crashed?
* Which information are gathered?
* What the value of this system?
* How and to whom are these informations sent?
* What kind of expectations should we have by sending this crash reports?

[2019-06-24 07:37] kelson42 commented on #1023
@macgills Agree.

[2019-06-24 07:39] kelson42 commented on #110
@macgills Thx, I propose to close that ticket. The purpose if this ticket has been reached. If the CI is not reliable because of any weakness in the device farm mgmt (devices not always available on time?) then a new ticket should be IMO open.

[2019-06-24 07:40] macgills commented on #1216
I don't think this is something that needs to be in `CONTRIBUTING`, it is just a feature and an optional one to send an email on a java crash.

[2019-06-24 07:40] macgills commented on #110
Agreed

[2019-06-24 07:40] #110 closed

[2019-06-24 07:42] kelson42 commented on #1216
@macgills OK, then please put the doc in the wiki. What is important is not where is the documentation, but that we have a clear documentation about that.

[2019-06-24 08:10] macgills commented on #550
My mistake, yes I confirm this is not a problem, closing

[2019-06-24 08:10] #550 closed

[2019-06-24 08:15] macgills commented on #1211
@kelson42 Not related to any of those tickets, it is the icon on google play, not our app's icon

[2019-06-24 08:17] macgills commented on #834
We offer a feature to allow people to change the language of the app in-app. I think that is very misguided and we should just allow android's already existing feature of changing your device's language to function as it does.
Unless there is a very good requirement for keeping it I think it is a bad feature and should be deleted.

[2019-06-24 09:56] macgills commented on #1216
https://github.com/kiwix/kiwix-android/wiki/Crash-Reporting I think this satisfies the queries? Would you like more detail @kelson42 ?

[2019-06-24 09:59] kelson42 commented on #1216
@macgills It does not answer most of my questions.

[2019-06-24 10:06] macgills commented on #1216
![image](https://user-images.githubusercontent.com/3358282/60010434-b2fd6d00-966f-11e9-8350-0b0e317c287f.png)
If I attach this image and specify the email address will that do?
I don't know who views this information, I don't have the login details for `android-crash-feedback@kiwix.org` I assume it goes to you. Pointing to the source file really shows everything

[2019-06-24 10:11] macgills commented on #1214
Because we are not publishing "universal" apks to the play store (and never were) this makes the solution a bit more complicated.
You cannot upload a universal when you only split your app by architectures and provide a matching apk per architecture. You however can upload a universal if you split the apk by density because you need to have support for future densities, this would also give us the

[2019-06-24 10:13] kelson42 commented on #1214
@macgills What does mean "split by density"? What is the impact for the end users?

[2019-06-24 10:16] macgills commented on #1214
We package our app with sets of icons for the various screen sizes, all icons for all sizes are present in each apk.
By introducing a split we make a separate apk for each screen size, reducing the install size by only providing the required assets.

[2019-06-24 10:19] kelson42 commented on #1214
@macgills Thx, this has to be tracked in an other issue, as this does not solve my problem which is: provide a simple solution - outside the play store - to install Kiwix for Android. The multi-arch APK is the easiest solution to achieve to do that. We do that already for the nightly. This request is about doing the same for releases.

[2019-06-24 10:23] kelson42 commented on #1216
@macgills The problem is that me neither. That is why I ask about details.

[2019-06-24 10:28] macgills commented on #1214
So this is a necessary part, the split by density, or at least the easiest way forward.

I can currently build a "universal" apk but not when I am building the release because google play will complain at me if I try to upload one.
If I add the splits by density then I can upload everything to the playstore and GitHub without trouble, the individual apks and the universal.
Uploading to download.ki

[2019-06-24 10:29] macgills commented on #1216
Then I think this is up to you @ISNIT0 ?

[2019-06-24 10:39] kelson42 commented on #1214
@macgills So, if I understand properly, using split by density (on the top of split by architecture) will allow us to:
* Provide small APKs through the Play store
* Universal APKs (all archs+density) in one file on github+download.kiwix.org
* By keeping one elegant compilation+packaging process in CI

[2019-06-24 13:35] tim-moody opened #1217 "How can I build an android custom app for offline deployment"
Users who have no internet connection can not get to the Google playstore, so Internet in a Box provides kiwix apks with embedded zims that can be loaded to an android phone directly from the server.  In previous versions of the custom app builder the json file could be passed as an argument and this json file could have embed_zim: true. It could also have other parameters set to custom values. It

[2019-06-24 15:27] int-ua commented on #1169
Can I help with it somehow?

[2019-06-24 15:36] macgills commented on #1169
@int-ua yes you can! If you can use version 2.5 of the app to try and replicate the problem for us that would be appreciated. If you are not a beta tester then please download the apk here https://github.com/kiwix/kiwix-android/releases/tag/2.5.1 you will want v8a or v7a if your phone is a bit older, the x86 ones will work on an emulator.
If it still exists please report back.

[2019-06-24 15:41] int-ua commented on #1169
2.5.1 Build 220501, cannot reproduce. Thank you!

[2019-06-24 15:41] #1169 closed

[2019-06-24 15:48] macgills opened #1219 "Add splits by density"
**Is your feature request related to a problem? Please describe.**
#1214 requires splits by density

**Describe the solution you'd like**
apks will be split by all supported densities in the app resulting in smaller downloads.

[2019-06-24 16:17] jhbiggs commented on #960
Hi,

Would you like the first set of icons to appear (i.e. "clear_all_history" dialog, or the second set?

[2019-06-24 16:28] kelson42 commented on #960
@siddharth2010 Is that still an active feature request? If "yes" what is the value of the attached PR? Would something be reusable? Would you be able to advise @jhbiggs on this ticket?

[2019-06-24 19:06] #1200 closed

[2019-06-24 19:10] kelson42 commented on #1219
See also #86

[2019-06-24 19:11] kelson42 commented on #86
I don't think we can really do more here. Closing the ticket.

[2019-06-24 19:11] #86 closed

[2019-06-24 19:16] kelson42 commented on #1214
@macgills We have system to load the `icudt*.dat` file necessary for `libicu` at the runtime.  Please takes care that it works fine.

This file is usually integrated at the compilation time, but for a universal build, this would multiply this content by as many as supported architectures. This means many MB wasted in the APK.

This system should IMO kept and verified that it worked properly, see #

[2019-06-24 19:19] kelson42 commented on #662
@rashiq @mhutti1 @macgills Do we have had enough time to give a definitive answer on this question?

[2019-06-24 19:21] kelson42 commented on #430
@RajaVamsi11 @mhutti1 Is that still a problem with 2.5?

[2019-06-24 19:27] kelson42 commented on #75
Duplicate of #716

[2019-06-24 19:27] #75 closed

[2019-06-24 19:34] kelson42 commented on #360
@mhutti1 Can we do more here?

[2019-06-24 19:35] kelson42 commented on #207
@mhutti1 @macgills What is the status on this as this selection has been quite seriously revamped for 2.5?

[2019-06-24 20:02] siddharth2010 commented on #960
@kelson42 , The basic dialog box style has been fixed. However, the icons corresponding to the 'Alert symbol' still needs to be made the same for all the textboxes:
<img width="550" alt="Screen Shot 2019-06-25 at 1 27 13 AM" src="https://user-images.githubusercontent.com/32238400/60047916-8f2a3d80-96e8-11e9-8dbf-cbc56e311fff.png">

The attached PR is not quite the fix we are looking for and has so

[2019-06-24 20:30] mhutti1 commented on #360
I assume it is now fixed.

[2019-06-24 20:30] #360 closed

[2019-06-25 02:00] jhbiggs commented on #960
Ok, I see my rebase attempt was for naught.  Retrying...

[2019-06-25 07:08] ISNIT0 commented on #1216
Hopefully @kelson42 will have/reset the details for that mailbox (https://github.com/kiwix/kiwix-android/issues/335#issuecomment-361912988) I certainly don't anymore 😄

P.s.
I *think* some of the logging bits caused a crash on some devices. That was implemented by @EladKeyshawn when he was in the UK. I believe it pipes `logcat` to a local file, and then attaches it to the email. Might be worth che

[2019-06-25 07:31] kelson42 commented on #1216
I didn't. Who is going to take care of that mailbox?

[2019-06-25 07:35] ISNIT0 commented on #1216
You didn't what? You said you created the mailbox (https://github.com/kiwix/kiwix-android/issues/335#issuecomment-361912988) can you reset the password?

[2019-06-25 07:39] kelson42 commented on #1216
I did not have reset the details... that are still the same as I have created it. But my question is: who will take care of that mailbox?

[2019-06-25 07:54] macgills commented on #1216
Give me the details, I have no trouble with that being a part of my responsibility, I will test the fileProvider now. @ISNIT0 was it an issue on a particular android version or just universal?

[2019-06-25 08:09] macgills commented on #207
In another ticket I was asking for our language selection in Settings to be totally removed because I did not like it and if we want the app to render in another language we should just respect the android device's settings.
That was not revamped in 2.5, the dialog for choosing your selected languages was.

[2019-06-25 08:14] macgills commented on #662
We did it 🎊

[2019-06-25 08:14] kelson42 commented on #207
@macgills thx for the clarification. I'm not really ready to remove that feature, I see a few valid use cases like:
* Android does not support the language the user wants
* someone wants to use the app but is not the device owner.

@macgills Please open a dedicated ticket to propose this feature removal and we will discuss it openly ;)

[2019-06-25 08:16] #662 closed

[2019-06-25 08:24] macgills opened #1222 "Remove Forcing Language in In-App Settings"
**Is your feature request related to a problem? Please describe.**
#207 There are some existing problems with this feature and android already has a system for changing your language that we should just respect

**Describe the solution you'd like**
Complete removal of this feature

**Describe alternatives you've considered**
For languages that don't exist in android we rebrand this feature as "unp

[2019-06-25 08:25] ISNIT0 commented on #1216
@macgills Not sure, sorry. I really don't remember

[2019-06-25 08:25] macgills commented on #1216
@ISNIT0 no prob

[2019-06-25 08:30] Popolechien commented on #1222
Well if the warning is in a language that's not understood (e.g. English), might as well no warn them at all (and hope for the best).

@macgills Can you please clarify?

[2019-06-25 08:30] kelson42 commented on #1222
On my side I can see two argument to keep this feature:
* Android does not support the language the user wants. I don't have check recently, but a few years ago languages like Burmed (this is an example) was not supported. I think it was the same for some important language flavours (PT-BR). So if we remove it, we are not able to make a custom app in one of this not-supported language.
* Someone w

[2019-06-25 08:40] macgills commented on #1222
I would think that user would have to have the device already support their language for them to have it?
Is the use case they have a device they use that they barely understand most of the time?

I am not sure what the impediment is to changing the device language, is it a multi user account scenario? Are they changing the language because they think it would be fun to read only kiwix in another

[2019-06-25 08:47] macgills commented on #1214
This would not have been impacted, the `dat` is in the assets folder of android, it is added once and only once to each apk.

I cannot speak for libkiwix

[2019-06-25 08:58] Popolechien commented on #1222
I've seen quite a few users with devices sent from family abroad (e.g. Cubans with some family in the States or Canada get shiped an English device and have no idea how to switch to Spanish).

[2019-06-25 09:05] macgills commented on #1222
Analytics would be quite handy here to see if they can find and do use this feature.

[2019-06-25 09:45] macgills opened #1223 "Bitbar should run tests on multiple devices"
**Is your feature request related to a problem? Please describe.**
Continuation of #110 . After adding the devices listed in this ticket the build became nigh unpassable

**Describe the solution you'd like**
Get rid of bitbar, use Firebase Test Lab.

**Describe alternatives you've considered**
Find through trial and error find a combination on bitbar that works

[2019-06-25 10:03] kelson42 commented on #1223
@macgills I think, if we leave BitBar, we should really know exactly why.

[2019-06-25 10:14] macgills commented on #1223
That was more a thing to get the discussion rolling, bitbar is frustrating to use in my experience thus far.
I haven't used test lab but it is the recommended way of automated testing at CircleCi but it does have limitations.
We should explore bitbar more first.

[2019-06-25 10:17] macgills opened #1224 "Fix Crash Reporting"
**Describe the bug**
#1216 does not work due to a crash

**Expected behavior**
A user experiencing a crash is able to send an email

**Steps to reproduce the behavior:**
Crash the app, try to send the logfile, see crash

[2019-06-25 10:43] macgills commented on #1211
I toggled a button on the google play console, apparently that was all that was needed.

[2019-06-25 10:43] #1211 closed

[2019-06-25 10:58] kanupriyaa commented on #579
Why is this issue still open when a PR was accepted? @mhutti1

[2019-06-25 11:06] macgills commented on #579
@kanupriyaa see conversation here https://github.com/kiwix/kiwix-android/pull/1210
This seems to be a branching error, the branch called 2.5 never wound up being used in the 2.5 release.
I will begin the process of getting this added to 3.0

[2019-06-25 11:29] macgills commented on #579
Confirmed bug still present, moving to 3.0 milestone

[2019-06-25 12:18] macgills opened #1226 "Add Stalebot to mark old issues as stale"
**Is your feature request related to a problem? Please describe.**
There are many outdated issues on GitHub, an automated way of flagging them will help triage-ing

**Describe the solution you'd like**
Stalebot will flag issues that have had no activity for 60 days as stale

**Describe alternatives you've considered**
just keep doing it manually

[2019-06-25 12:49] kanupriyaa commented on #547
I am new to open source, and since no active work is going on for this issue, I will begin by converting ListView to RecyclerView, starting with LibraryFragment.

[2019-06-25 13:02] kelson42 commented on #547
@macgills Your comment about @kanupriyaa's proposal would be welcome

[2019-06-25 13:10] macgills commented on #547
Hi @kanupriyaa, if you could check our (incredibly recently updated) contributing guidelines you will now see that we have a new branching structure in place and develop is what should be considered the most up to date branch in terms of development.
I am not sure how many ListViews are left in the project but Library/Device/Downloading have all been converted to Recyclerview by myself as part of

[2019-06-25 13:18] #1226 closed

[2019-06-25 14:07] macgills opened #1228 "Bitbar not working with split APKs"
**Describe the bug**
Uploads to bitbar on travis are not functional on develop or any derived branches.
There is a possibility that with the advent of #1219 and the generation of a universal apk that bitbar will select it from the group of generated apks.

**Expected behavior**
Bitbar uploads happen without error

**Steps to reproduce the behavior:**
open a pull request into develop

**Logs**
[cod

[2019-06-26 04:24] kanupriyaa commented on #1028
I am working on this issue.

[2019-06-26 04:56] kelson42 commented on #897
@Aditya-Sood I that not matching what your are currently implementing?

[2019-06-26 04:58] kelson42 commented on #1218
Putting in 3.0. I think all of this will become depracated one time the publication will be automated... but this has to be checked then

[2019-06-26 05:34] kelson42 commented on #1067
Yes, this is a feature, not a bug.

[2019-06-26 05:34] #1067 closed

[2019-06-26 07:22] julianharty commented on #305
Closing as we've several newer tickets on this topic, follow #335 if you're interested in the chain of tickets.

[2019-06-26 07:22] #305 closed

[2019-06-26 07:38] #789 closed

[2019-06-26 07:38] #786 closed

[2019-06-26 07:40] siddharth2010 commented on #789
Closing for the same reason as #785

[2019-06-26 07:40] siddharth2010 commented on #786
Closing for the same reason as #785

[2019-06-26 08:33] macgills commented on #1224
closed by #1225

[2019-06-26 08:33] #1224 closed

[2019-06-26 08:55] macgills commented on #1216
So if the details of this account can be communicated to me then I will close this ticket now that this is working?
Do we need to clarify that I - or another developer - will triage any received error reports into bug issues if there are no existing duplicates on github

[2019-06-26 08:58] macgills opened #1229 "Remove unused buildTypes"
**Is your feature request related to a problem? Please describe.**
There are unused buildTypes that add confusion for new contributors and have no benefit.

**Describe the solution you'd like**
Delete the buildTypes

**Describe alternatives you've considered**
Just keep them?

[2019-06-26 11:59] ISNIT0 commented on #1216
Might be possible to setup some kind of automation (zapier etc.) to automatically create an issue

[2019-06-26 12:21] Aditya-Sood commented on #897
@kelson42 yes, [feature/NoteKeeper](https://github.com/kiwix/kiwix-android/pull/1198) covers most of the requirements stated here except the nature of how notes are created. Right now the user can create one note file per article/page in the wiki, so it is not like annotating some lines (like in a PDF) as requested here:

Other than that, all notes exist as plain text files, can be shared through

[2019-06-26 20:17] mhutti1 commented on #1228
I think we got this working before. I am not entirely sure though.

[2019-06-27 15:02] Popolechien opened #1235 "Delay request to rate app"
There is some understandable level of complaint that the app would ask users to rate it even before they've had the chance to actually use it:
https://play.google.com/apps/publish?account=9116215767541857492#ReviewDetailsPlace:p=org.kiwix.kiwixmobile&reviewid=gp:AOqpTOFynxa5ioZX8ieSt_oFHfIIOOwJ22EdjjM_1uKv88iRuUcA3EVM2BFGzN_2PwoGeQ7DQtyr1oFst5y6_Xg
Can we delay the prompt after the nth time the ap

[2019-06-27 15:24] macgills commented on #1235
https://github.com/Vorlonsoft/AndroidRate after searching not very much I found this library, there are loads of libraries but this one seem very versatile for our requirements

[2019-06-27 15:33] kelson42 opened #1236 "Clearly communicate about our preference for Kotlin"
Otherwise developers might still continue to make PR in Java.

[2019-06-28 09:53] Stevko-sk commented on #1075
I can confirm this with v 2.5.1 (2504-kiwix-armeabi-v7a-release.apk downloaded here from GitHub) and with wikipedia_en-all_novid_2018-10.zim.

Entering LanguageTool into search box does not show any results (same when entering it as langaugetool or as Languagetool). The article is contained in zim file: If I open an article that links to it and follow the link, the LanguageTool article is displaye

[2019-06-28 11:52] macgills opened #1238 "Unit Test FileSearch"
**Type of Test**

* [x ] Unit Test
* [ ] UI Test

**Particular area and files to be tested**
FileSearch

**Current Status of the tests**
No tests aside from automation

**Particular Behaviour to be tested**
Need full coverage so our coverage reports become stable

[2019-06-29 08:03] kelson42 opened #1240 "Change default branch from "master" to "develop""
The current default branch is `master` which IMO should not be anymore. It should be `develop` as we want people to work on this branch instead of `master`.

Feedback welcome (in particular if you disagree).

[2019-06-29 16:32] kelson42 opened #1242 "Does android dark theme inverts picture colors?"
I don't have an android version which allows that but a user complains that the dark theme invert the ZIM articles picture colors. We need to confirm that.

[2019-06-29 16:57] bi0shacker001 opened #1243 "Packaging and hosting newer zim files"
I've been looking around, but I can't seem to find a simple way to do this:
I have spare storage and bandwidth, so I'm wondering how I'd go about packing Wikipedia all novid ZIMs and hosting them for the project? It looks like it takes terabytes of storage capacity to download all of the wikipedia content manually, and I can't see an available method of stripping out the images and etc. Since I wa

[2019-06-29 17:04] kelson42 commented on #1243
@bi0shacker001 Do you want to offer a new mirror? Maybe this would help https://download.kiwix.org/README ?

[2019-06-30 11:23] nocheiner commented on #1215
Just upgrading to 2.5 didn't make it. But after unistalling Kiwix and installing the new version it works. Thank you!

[2019-06-30 11:23] #1215 closed

[2019-06-30 12:07] siddharth2010 commented on #1242
@kelson42 , From what I see, the image colors are not inverted as such. However, when we are in the tab mode, the colors for the whole page are inverted. This is probably leading to the inversion in image colors.

Here is an example:

| Normal Mode        | Tab View           |
| ------------- |:-------------:|
| ![Screenshot_1561895624](https://user-images.githubusercontent.com/32238400/60396301-

[2019-06-30 12:46] kelson42 commented on #1242
@siddharth2010 Thx for having a look. This tab mode is available on `2.5`? This does not looks like mine!

[2019-06-30 14:09] siddharth2010 commented on #1242
@kelson42, the tab mode is not available on the release branch (2.5).
Here the images are looking fine on the emulator as well as on my device.

[2019-06-30 14:13] kelson42 commented on #1242
@siddharth2010 Thx again for testing all of this. You confirm that you have properly tested with the **Android** dark mode in collaboration with the **Kiwix** night mode and that you confirm that in none of the combination the picture colors are inverted with Kiwix 2.5? Would be nice also if you could indicate your version of Android.

[2019-06-30 15:23] siddharth2010 commented on #1242
@kelson42 , yes. I have tested the app on Android versions 8.1, and 9 emulators, And From my observations, none of the combinations of android dark mode and Kiwix Night mode has the picture colors inverted.

However, There is one specific case, when the image colors would be inverted. if the user selects the invert colors option in Android and then uses the Kiwix app.
here is that case:

| Normal

[2019-06-30 16:52] mhutti1 commented on #1228
@macgills Possibly. I am not sure. If there is an easier way to fix this it might be worthwile.

[2019-06-30 16:54] kelson42 commented on #1242
@siddharth2010 OK, then this is clear what happen now... That said, I'm not sure this is a bug? Looks like Android "invert colors" mode... just inverts color... So looks like a feature to me.

[2019-06-30 16:55] siddharth2010 commented on #1242
exactly. That's what I think too.

[2019-06-30 16:58] mhutti1 commented on #1240
Yeah I think we should do this.

[2019-06-30 16:59] kelson42 commented on #1242
OK, closing the ticket. If people want a real "night mode" they can use the one of Kiwix.

[2019-06-30 16:59] #1242 closed

[2019-06-30 17:37] kelson42 opened #1244 "Trying to scrape Wikispecies makes a log full of useless warnings"
With git master head
[code]

I get:
[code]

**Describe the bug**

**Expected behavior**

**Steps to reproduce the behavior:**
1.

**Screenshots**

**Environment**
- Version of Kiwix Android :
- Device :
- OS version :

**Logs**

[code]

[2019-06-30 17:37] kelson42 commented on #1244
Wrong repo, sorry.

[2019-06-30 17:37] #1244 closed

[2019-06-30 19:46] Aditya-Sood opened #1245 "Enhancement: Convert app to use a navigation drawer based workflow"
Most apps with multiple top-level actions use a navigation drawer which shows up on startup & allows easy navigation for the users (Medium, gmail, reddit, etc). In my GSoC proposal, I suggested something like this:
<p align="center">
  <img src="https://user-images.githubusercontent.com/15438998/60400546-f9345e00-9b92-11e9-9ca2-a8e1955eb588.jpg" width="350">
</p>

 **Differences from current setup

[2019-06-30 19:47] Aditya-Sood commented on #1245
@mhutti1 @macgills @kelson42 your thoughts on this?

[2019-07-01 08:34] macgills commented on #1245
Nowadays the [bottom navigation bar](https://material.io/design/components/bottom-navigation.html#) is the preferred navigation but it is limited to 5 items so we would have to give serious thought into our "primary destinations" to pursue it.
As mentioned [here](https://uxdesign.cc/please-dont-replace-the-bar-with-the-drawer-d9808850ca87) the nav drawer can coexist with the bottom navigation draw

[2019-07-01 08:42] macgills commented on #1240
I don't foresee an issue and think it is probably the right route to go

[2019-07-01 09:07] kelson42 commented on #1240
@mhutti1 @macgills Thx for your feedbacks. Just did it.

[2019-07-01 09:07] #1240 closed

[2019-07-01 09:07] #1236 closed

[2019-07-01 09:09] #1229 closed

[2019-07-01 09:19] #1219 closed

[2019-07-01 09:25] kelson42 commented on #1243
Moving this ticket to the "maintenance" repo, which is more adequate.

[2019-07-01 09:50] kelson42 commented on #1216
@macgills @ISNIT0 I have communicated the details (password) of the mailbox to both of you perl email

[2019-07-01 10:23] kelson42 commented on #692
Now that #1229 has been implemented. How much work would be needed to implement this ticket?

[2019-07-01 10:25] macgills commented on #692
5 minutes?

[2019-07-01 10:27] kelson42 commented on #402
local_download_server buildType has been removed.

[2019-07-01 10:28] macgills commented on #402
closing

[2019-07-01 10:28] #402 closed

[2019-07-01 10:39] kelson42 commented on #488
@srv-twry @Aditya-Sood What should we do with this ticket? Is that still actual?

[2019-07-01 10:49] kelson42 commented on #390
@abdulwd @siddharth2010 May one you please just do a little fix to help quickly to fix that bug?

[2019-07-01 10:50] macgills commented on #390
This button no longer exists. However I feel the "No content" text is not consistent across these 3 screens, in either positioning or size

[2019-07-01 10:50] Aditya-Sood commented on #488
@kelson I'll have a go at this once I'm through with the remaining deliverables?

[2019-07-01 11:19] macgills commented on #1216
Are we happy to close so?

[2019-07-01 12:18] macgills opened #1248 "Enable StrictMode on debug builds"
**Is your feature request related to a problem? Please describe.**
With StrictMode enabled we can get better feedback on misbehaviours within our code, catching them before they impact an end user.

**Describe the solution you'd like**
Enable StrictMode only on debug builds

[2019-07-01 12:44] kelson42 opened #1250 "Translate Play Store Kiwix descriptions"
Considering that half of our users have Spanish native speakers, this is probably worth the small effort.

[2019-07-01 12:44] kelson42 commented on #1250
@Popolechien Would you be able to help here?

[2019-07-01 12:45] Popolechien commented on #1250
Yep, no problemo.

[2019-07-01 13:52] macgills opened #1251 "Make Stalebot Mark PRs as stale after 7 days"
**Is your feature request related to a problem? Please describe.**
PRs tend to go unmerged/unreviewed pretty quickly

**Describe the solution you'd like**
Stalebot will mark PRs with no activity for 7 days as stale

[2019-07-01 14:04] macgills commented on #1251
requires #1247 to be merged so the stale.yml is available on develop

[2019-07-01 14:34] kelson42 commented on #347
@aleksejrs @run-dey Would be good to know if this still happen with 2.5.

[2019-07-01 14:36] kelson42 commented on #98
@mhutti1 @macgills Would that make sense to just get CI reporting errors if linting fails with warnings?

[2019-07-01 14:40] macgills commented on #98
CI is currently running lint, I could open a PR where we fail all warnings. Some will definitely need disabling/ignoring

[2019-07-01 14:41] kelson42 commented on #98
@macgills You mean through a global linting configuration... or do you many locally deactivating the linting for pieces of code?

[2019-07-01 14:43] macgills commented on #98
[code]
We can specify in lint.xml or my preferred way of doing it in build.gradle. It might make sense to ignore some instances of lint violations with annotations on a specific class or the like but the general case should be specified in configuration

[2019-07-01 14:45] kelson42 commented on #98
@macgills Then I'm really in favour to make the CI fail if linting fails. Would you be able to propose a base linting configuration? A tradeoff should probably found between being strict and somehow achieving to get the current code base passing.

[2019-07-01 14:46] macgills commented on #98
I'll get working on it

[2019-07-02 09:21] macgills commented on #98
I went about fixing some errors and then it got pretty horrible so I have went with the baseline file.
This file takes all issues we currently have and ignores the specific instances but still reports new errors.
We should however make tech debt tickets to reduce the amount of issues in baseline, which is 1500+

[2019-07-02 09:31] kelson42 commented on #1216
@macgills I have gathered all the rest information I wanted, upgraded the wiki page and I close that ticket.

[2019-07-02 09:31] #1216 closed

[2019-07-02 09:38] kelson42 commented on #1214
Looks like it works only for nightlies so far. Not for releases.

[2019-07-02 15:30] macgills opened #1253 "Recreate Action Mode Context menu for sharing/deleting"
**Is your feature request related to a problem? Please describe.**
I deleted this while merging 2.5 to dev

**Describe the solution you'd like**
Port the functionality from java/listview to kotlin/recyclerview

[2019-07-03 13:09] kelson42 opened #1258 "Make the CI fails if memory leask are detected"
If I have correctly understood, we should secure that LeakCanary is properly installed/configured/running on the CI and then the result of it should be check to invalidate the CI build if necessary.

[2019-07-03 13:10] macgills commented on #1258
Necessitates upgrading to leakcanary 2.0 so that will be done as part of this ticket

[2019-07-03 13:10] #1251 closed

[2019-07-03 14:58] macgills opened #1259 "Crash Report: UnsatisfiedLinkError reported in Android Vitals for 2.5.x users"
**Describe the bug**
[code]

We could use [ReLinker](https://github.com/KeepSafe/ReLinker) which might help, we would also potentially want to catch this exception and instead of allowing them to give feedback warn them that the app does not support sideloading if downloaded from the Play Store

[2019-07-03 15:01] macgills opened #1260 "Crash Report: IllegalArgumentException FileUtils.contentQuery (FileUtils.java:159)"
**Describe the bug**
[code]

[2019-07-03 15:04] macgills opened #1261 "Crash Report: IndexOutOfBoundsException KiwixMobileActivity.onResume (KiwixMobileActivity.java:1263)"
**Describe the bug**
[code]

[2019-07-03 15:11] macgills opened #1262 "ANR Report: Fat32Checker.canCreate4GbFile (Fat32Checker.kt:96)"
**Describe the bug**
[code]

Subscription need an `.observeOn(Scheduler.io())`

[2019-07-04 05:52] #1248 closed

[2019-07-04 06:59] Popolechien opened #1263 "Localization not supported"
I have an android phone whose default language is French. I set Kiwix to Arabic.
Resulting display is a mix of English (menu, description), French (description) and Arabic (file name, size)
![translation issue](https://user-images.githubusercontent.com/21675885/60645769-e8594600-9e39-11e9-947a-058d0d6c4adf.jpg)

[2019-07-04 07:34] kelson42 commented on #1263
I should first resync the traduction, I don't have done that for ages

[2019-07-06 20:44] kelson42 commented on #1263
I have just made a resync https://github.com/kiwix/kiwix-android/pull/1264... will should then have a look if we have other problems

[2019-07-07 17:04] mhutti1 commented on #1259
Side loading should work in most cases though right? Most devices are arm so only arm64 to arm32 would be the main issue?

[2019-07-08 08:27] macgills commented on #1259
That is the only scenario yes but it is nearly a 50/50 split in devices and it is the most prevalent crash we have. Explicitly informing the user is better than them spamming installs trying to get it to work

[2019-07-08 09:04] kelson42 commented on #1245
@Aditya-Sood I don't really see or understand the value of this proposal. Just saying "Most apps follow this structure" is not enough to justify massive UI changes IMO.

[2019-07-08 09:11] macgills commented on #1245
@kelson42 I personally have found the navigation in the app very confusing and think it could be rethought somewhat. The fact that when I press back while reading a zim that it exits the app is not the most desirable behaviour I would think.
Navigation is always a very complex thing but I think our overflow menu and navigation drawer are overworked and inconsistent. We should do our best to adhere

[2019-07-08 09:15] kelson42 commented on #1245
@macgills Then I would like to see the problems clearly exposed first before talking about the solution.

[2019-07-08 09:32] macgills commented on #1245
This to me is a problem.

Another is that once I started reading a zim I couldn't figure out how to get back to downloads, I felt trapped in the zim reader. Obviously I figured it out but if in our bottom bar we had a download icon that brought us to that location from anywhere in the app then that would speed navigation immensely.
This navigation is popular across all the largest apps on the mark

[2019-07-08 09:38] kelson42 commented on #1245
@macgills I don't see any relationship between the behaviour of the hardware button "back" (one time we have reached the first item of the navigation history) and a navigation drawer. What is it?

[2019-07-08 09:44] macgills commented on #1245
I was talking on the overarching topic of navigation and how to improve it, which is the intention of this ticket I believe.
We currently are not adhering to the material guidelines to which I have linked.

[2019-07-08 09:58] Aditya-Sood commented on #1245
@kelson42 my aim with proposing this was that since the way of navigating through the app isn't similar to the general trend, it is not as intuitive for new users, and may even be a deal-breaker for some of them (This [user review](https://play.google.com/store/apps/details?id=org.kiwix.kiwixmobile&hl=en_IN&reviewId=gp%3AAOqpTOEi6btvbmvg1hRBJlEIL4OhdKr6ZGBKDS7HcfSsdjpKkGqiDmor62ZPnemD6ttNIySQpgAzP

[2019-07-08 10:13] kelson42 commented on #1245
@Aditya-Sood @macgills My concern here is that the problem we try to fix is not fully understood/written and therefore won't be properly fixed. Not only the problem is not really written but the uses case (step-by-step workflows) implied by the new design are not clear/written either to me. How would that interact with the current menu? We will have duplicates!? What kind of gesture will make this

[2019-07-08 10:44] #1238 closed

[2019-07-08 11:27] Aditya-Sood commented on #1245
@kelson42 I was planning to finalise how navigation between screens will take place once a drawer UI was agreed upon, but I'll do that now if you feel it should be discussed before?

If so, then @macgills @mhutti1 also need to decide whether we're using a nav-drawer or bottom drawer

[2019-07-08 14:01] #1253 closed

[2019-07-08 14:05] #98 closed

[2019-07-09 10:25] macgills commented on #1261
This was already fixed

[2019-07-09 11:04] #1262 closed

[2019-07-09 12:37] macgills commented on #1259
Ahhh the library loading is in KiwixLib, if we wish to use ReLinker then the update will have to be made there.

I will however catch the exception in kiwix-android

[2019-07-09 13:47] macgills opened #1270 "Lint Issue: Unconditional Logging"
**Is your feature request related to a problem? Please describe.**
[code]

**Describe the solution you'd like**
We should write our own logger class(or top level kotlin functions) and disallow production logging

**Describe alternatives you've considered**
Continue ignoring this lint warning if we want to have production logs

See also #98 #252

[2019-07-09 13:51] macgills opened #1271 "Lint Issues Ignored"
**Is your feature request related to a problem? Please describe.**
For each ignored lint issue we should have a corresponding ticket in this description

+ Issue id: LogConditional #1270
+ Issue id: MissingTranslation #1272
+ Issue id: CheckResult #1273
+ Issue id: DuplicateStrings #1275
+ Issue id: SyntheticAccessor #1319

**Describe the solution you'd like**
Clear consensus on each lint issue th

[2019-07-09 13:58] macgills opened #1272 "Lint Issue: MissingTranslation"
**Is your feature request related to a problem? Please describe.**
[code]

**Describe the solution you'd like**
While this is a very useful warning to have I don't think logistically we will have full mapping anytime soon and as such it should not fail the build.
We can downgrade this to a warning and not an error I think

[2019-07-09 14:05] macgills opened #1273 "Lint Issue: CheckResult"
**Is your feature request related to a problem? Please describe.**
[code]

**Describe the solution you'd like**
I think this can be a warning. A build failure doesn't need to occur because a return value is unused especially with the often useless nonsense that comes from android classes

[2019-07-09 14:10] macgills opened #1274 "Lint Baseline Issues"
**Is your feature request related to a problem? Please describe.**
There are potentially 2000+ issues that we are not checking because they are obscured by our baseline file

**Describe the solution you'd like**
A series of sub tickets on this issue to address baselined issues in manageable chunks. Once the baseline file is empty we can consider this done

[2019-07-09 14:32] macgills opened #1275 "Lint Issue: Duplicate Strings"
**Is your feature request related to a problem? Please describe.**
[code]

**Describe the solution you'd like**
This should be fixed to reduce app size and lessen the burden of translation. It will require a regeneration of translations after the issue is addressed for English.

[2019-07-09 15:36] macgills commented on #1259
This went [far deeper](https://github.com/objectbox/objectbox-java/issues/605) than I thought. I really don't have much of a better idea than using ReLinker at this stage. It is very annonying as this is happening on downloads from the play store and the latest versions of android.

[2019-07-09 15:42] macgills commented on #1259
Also I can't sideload? I copied an incompatible apk over to my phone and it refused to install it?

[2019-07-09 16:59] Aditya-Sood commented on #1245
Upon launching the app, the Library will be opened. From there:
- To read a zim -> Tap on the zim
- To open settings -> Open nav drawer and tap on 'Settings'
- To download zims -> Open nav drawer and tap on 'Download Wikis'
- Similarly for other actions displayed in the mock

Those menu items which are not specifically related to reading articles ('Get Content', 'Support Kiwix') are being taken ou

[2019-07-09 18:04] Aditya-Sood commented on #1136
#1276 partially solves this, specifically the part about using the P2P API for transferring ZIM files from one device to another

[2019-07-09 22:21] mhutti1 commented on #1259
Should make sense. Android shouldn't let you. But there are ways of doing it manually I imagine.

[2019-07-09 22:40] mhutti1 commented on #1245
I would prefer not to launch into the library as I think a homepage would be nicer like we currently have.

The plan I imagine is to have a bottom nave bar too? We already have a pr trying to make this the default.

[2019-07-10 07:43] Aditya-Sood commented on #1245
I think the 'Library' is identical to the homepage in terms of functionality - both show a list of downloaded zims
Also, since multiple tabs can be opened only for a single zim, showing the list of zims in a webpage might give a false impression that different zims can be opened in different tabs (as the 'add new tab' icon is visible on top)?

I think we should have only one of the two (bottom bar

[2019-07-10 08:18] macgills commented on #1245
We can have both, the most important in nav bar and the less important screens in the nav drawer.
The nav drawer is about absolutely crucial locations, I doubt we even need 5. Like why is one of whatsapp's the camera? And status as one of your top destinations, could so much more easily be accessed from anywhere. Utterly ridiculous, they just padded it out.

[2019-07-10 09:01] kelson42 opened #1277 "Get your apps ready for 64 bits. What does that mean?"
After reading https://android-developers.googleblog.com/2019/01/get-your-apps-ready-for-64-bit.html I'm still not 100% sure what it means to us:
* If we do nothing, how this will impact our (custom apps) users?
* Does the 1 August is an important date for us?
* Do we have to do something to secure the same level of service as today?

[2019-07-10 09:57] macgills commented on #1277
**August 1, 2019**
After this date we will have to release custom apps with 64bit architectures.

 **August 1, 2021**
After this date users with 64 bit devices will not be allowed download 32 bit apps.

A user with a 32 bit device and a 32 bit app will see no changes

[2019-07-10 09:59] #692 closed

[2019-07-10 10:08] Aditya-Sood commented on #1245
Is that on iOS? Because its still the the same 4 tabs (camera, chats, status, calls) at the top in my android

So for kiwix, should we have both or just the bottom drawer?

[2019-07-10 10:14] macgills commented on #1245
BottomNavBar is just non swipeable tabs at the bottom, I was just talking about prominence.
I think both is not the worst idea in the world, it is used in google maps as that article I linked says
![image](https://user-images.githubusercontent.com/3358282/60961172-74201600-a303-11e9-9d2c-7d29af1f7446.png)
but this is just my 2 cents, @mhutti1 gets say here

[2019-07-10 10:16] Aditya-Sood commented on #1206
@macgills I am facing a related (or probably the same) issue with `develop`, wrt to #1276
Basically before I merged with develop (when it was still based on master); after file transfer completed, the 'Library' on the receiver device automatically detected the new zims. But this doesn't happen after merging with develop, even after swiping down to refresh the 'Library'

[2019-07-10 10:41] macgills commented on #1206
@Aditya-Sood that is odd if it doesn't work on a swipe down. The fileSearch operation still runs then. Potentially a separate issue, we will retest once I have addressed this issue

[2019-07-10 10:55] Aditya-Sood opened #1278 "Specify book name of the zim being deleted"
So earlier long pressing a zim displayed a dialog to delete it
In #866, since the files also had to be selected, I replaced long pressing with selection, with an option to share or delete on the CAB. And since multiple files could be deleted, I added the book name of the zim being deleted to the dialog to avoid confusion as to which one is currently being deleted.

`develop` currently follows the

[2019-07-10 10:59] Aditya-Sood commented on #1278
@macgills please have a look

[2019-07-10 11:11] macgills commented on #1278
There will need to be an update to DeleteZim and AlertDialogShower as previously all the dialogs were just showing text via ids, to support formatted Strings I will probably extend the KiwixDialog hierarchy but I must think about the best way to go about this

[2019-07-10 11:27] macgills opened #1279 "Move AndroidStorageDevices to KiwixAndroid"
**Is your feature request related to a problem? Please describe.**
There are currently resource leaks happening in this library that strict mode has highlighted and to make modifications to fix them would require a release of it

**Describe the solution you'd like**
Move the code internally to the project with the blessing of @mhutti1 and close the leaks

[2019-07-10 12:29] kelson42 commented on #1279
@mhutti1 Worth the information for you IMO.

[2019-07-10 12:32] kelson42 commented on #1277
@macgills AFAIK all our (custom) apps support architecture `arm64-v8a` and `x86_64`. So, does that mean that this news has no impact at all for us?

[2019-07-10 12:41] macgills commented on #1277
From the email I got it seems one of our apps does not support some 64bit architecture

[2019-07-10 12:43] kelson42 commented on #1277
@macgills Yes, that is why I have open the ticket. But it seems to be not specified. I suspect this is our app which is blocked. So, lets assume that. I really hope anyway that in the first half of August we can release new custom apps. Thx for the explanation.

[2019-07-10 12:43] #1277 closed

[2019-07-11 07:53] Aditya-Sood commented on #1245
@macgills so we can go with `Library, Download Wikis, Help` on the bottom bar, and rest in the nav-drawer?

Subsequently, I was thinking of having a 'View Notes' fragment to view and manage all available notes, and that can replace 'Help' on the bottom bar?

[2019-07-11 10:27] #1260 closed

[2019-07-11 14:52] macgills commented on #897
I will close this issue for now. @samuk please let us know if this is insufficient

[2019-07-11 14:52] #897 closed

[2019-07-11 15:08] macgills commented on #1258
The build on travis took 50 minutes and was therefore terminated because of
`The job exceeded the maximum time limit for jobs, and has been terminated.`
So it looks like we will have no luck with this until travis supports x86 hardware acceleration on its vms.
I have started a build to see if without the leak crasher that our tests will still run in an acceptable timeframe so we can at least take

[2019-07-11 16:40] kelson42 commented on #1258
@macgills Does the problem/solution is clearly reported by TravisCI? Would be good to check to secure proper feedback/information about that.

[2019-07-11 19:21] Aditya-Sood commented on #1245
@mhutti1 @kelson42 what else should we focus on ironing out?

[2019-07-12 08:25] #1278 closed

[2019-07-12 08:32] macgills commented on #613
Done in 2.5, closing

[2019-07-12 08:32] #613 closed

[2019-07-12 08:59] macgills commented on #1258
@kelson42 I do not understand this comment.
My quote is the output from the build [here](https://travis-ci.org/kiwix/kiwix-android/builds/557272976). The problem we are facing is that running leakcanary makes the tests take way way longer, if a job takes longer than 50 on travis it fails apparently

[2019-07-12 13:07] macgills commented on #151
https://download.kiwix.org/nightly/2019-07-12/ nightly published here, closing

[2019-07-12 13:07] #151 closed

[2019-07-12 19:13] kelson42 commented on #661
@macgills What is your opinion on this as you have already revamped that part?

[2019-07-12 19:14] #661 closed

[2019-07-12 19:15] kelson42 commented on #176
Download & File scan has been rewritten. I'll close that ticket. If someone one to improve a particular piece, I propose to create a specific ticket and related PR.

[2019-07-12 19:15] #176 closed

[2019-07-12 19:42] kelson42 commented on #309
This is a problem which should be fixed with the ZIM JS Api, we should provide a method "gotosection"

[2019-07-12 19:45] kelson42 commented on #1119
@MidoHosny Could you please confirm this bug is still there with Kiwix for Android 2.5 we have release? I can not reproduce it!

[2019-07-12 19:46] kelson42 commented on #488
@Aditya-Sood thx

[2019-07-14 22:46] mhutti1 opened #1289 "Wifi Hotspot service crash"
@iadeelzafar

[code]

[2019-07-14 22:48] mhutti1 commented on #1279
Sounds good.

[2019-07-14 22:51] iadeelzafar commented on #1289
This bug was on Android 9 which I was resolved in the latest commit. Can I know when have you installed the APK?

[2019-07-14 22:59] mhutti1 commented on #1245
I am against having such options on the bottom bar for the default browsing session. If you look at how the official wikipedia app does it they have a bottom bar for general stuff and a bottom bar for browsing articles. I think that that might be the way to go because Bookmarks, find in page and others are more useful when browsing.

[2019-07-15 05:31] kelson42 commented on #1289
I close as the bug has been fixed.

[2019-07-15 05:31] #1289 closed

[2019-07-15 05:57] Aditya-Sood commented on #1245
From what I understood this "navigation bottom bar" will be separate from the toolbar in the zim-reader.
I think we can even avoid keeping the bottom-bar inside the zim-reader MainActivity, only the side nav-drawer. Rest of the places will have both.

[2019-07-15 08:31] macgills commented on #1245
Sounds good to me

[2019-07-15 08:46] #1279 closed

[2019-07-15 08:57] macgills commented on #488
@Aditya-Sood MVP is not really what we want anymore, MVI is much more our aim

[2019-07-15 09:29] macgills commented on #1228
The universal apk does not work, the testdroid plugin does not work.
I could open an issue on [their repo](https://github.com/bitbar/testdroid-gradle-plugin)?

[2019-07-15 10:19] macgills commented on #1258
Until either leakcanary or our automation test improve dramatically I don't think there is anything to be done here

[2019-07-15 10:23] macgills commented on #1222
@kelson42 I propose moving this ticket out of the 3.0 milestone.
Seeing as how it is offering some usability on old versions of android with poor language support it adds value. With the slow progress of raising the minSDK hopefully we won't need it in the future but for now it can stick around

[2019-07-15 11:06] macgills commented on #62
This requires a kiwix-lib update, the native code must [re-throw exceptions as java ones](https://stackoverflow.com/questions/8415032/catching-exceptions-thrown-from-native-code-running-on-android) for the android app to begin handling them.

[2019-07-15 11:41] Aditya-Sood commented on #488
@macgills thanks, I'll read up on MVI and discuss the changes with you before doing anything

[2019-07-15 14:10] kelson42 commented on #488
I'm not comfortable with this kind of ticket because It's on meta level, making decision and implementing this needing:
* a good understanding of the whole app (in particular if a new pattern is introduced)
* a good technical know-how (in particular if a new pattern is introduced)
* a lot of time.

I dont' want this happening like this. If we need a new architecture of the software which will need

[2019-07-15 14:10] #488 closed

[2019-07-15 14:23] kelson42 commented on #62
@macgills I think:
* Newer version of the libkiwix tends to generate exceptions (general approach)
* The JNI tends to catch them already.

@mhutti1 @macgills Could you confirm? If the libkiwix does not behaves properly from your perspective, please open a ticket and linked it here. But, I believe this ticket can be closed.

[2019-07-15 14:32] kelson42 commented on #1228
@macgills Please try with https://download.kiwix.org/release/kiwix-android/kiwix-2.4.apk and let me know if it fails too.

[2019-07-15 14:34] kelson42 commented on #1258
Where is the ticket on TravisCI side about "supports x86 hardware acceleration" ?

[2019-07-15 15:18] macgills commented on #1258
https://travis-ci.community/t/add-kvm-support/1406 this is the travis ticket.
What does zimcheck do?

[2019-07-15 15:24] macgills commented on #1228
@kelson42 the issue is that 2.5 onward is a split apk.
The testdroid plugin does not allow -from what I can see- specifying the upload of a particular apk when splits are present.
2.4 would probably work but I would need to make 2.4 build on travis because that has the keys for uploading to bitbar and that seems like more trouble than it is worth

[2019-07-15 15:27] macgills commented on #62
This ticket cannot be closed. When the native code causes an error we get fatal signals, such errors are present in 2.5.1
![image](https://user-images.githubusercontent.com/3358282/61227965-4250ea00-a71d-11e9-86c3-6dbc6c99b6ab.png)
If Java Exceptions were getting thrown I would get a stacktrace for such an error but what actually happens is I get this
![image](https://user-images.githubusercontent

[2019-07-15 15:33] kelson42 commented on #62
I think this is a crash of the libzim, so a bug in it. You can not handle that neither in c++ nor in Java IMO. Do you have a reprocase for that?

[2019-07-15 15:46] macgills commented on #62
I have absolutely no idea how that crash happened but the library @mhutti1 [linked to](https://github.com/xroche/coffeecatch) claims it can catch SIGSEGV signals and if that was the case I would have a stacktrace and at least some idea of what code execution caused it.

[2019-07-15 15:57] kelson42 commented on #62
OK, thx for the explanation. Then, yes, if CoffeCatch works, then it should be setup.

[2019-07-15 19:23] kelson42 commented on #1258
@macgills Thx. I pospone then this ticket to next release.

I have happend my last comment to the wront ticket. but just FYI, `zimcheck` is a command line tool which check the quality of a ZIM files. It is part of the zim-tools repo.

[2019-07-15 19:27] kelson42 commented on #1228
@macgills What I don't understand is why bitbar does not work with the 3.0 universal APK, because we can build it?
@julianharty Anyway you can help us on this?

[2019-07-16 13:19] #973 closed

[2019-07-16 14:31] macgills commented on #1116
@kelson42 Android Studio 3.5 is still not out in the stable channel, recommend pushing this to 3.1.
Hopefully it will be soon as [3.4.2](https://developer.android.com/studio/releases#3-4-0) was in July

[2019-07-16 14:38] macgills opened #1292 "Use LanguageActivity"
**Is your feature request related to a problem? Please describe.**
Due to merge problems with 2.5->3.0 LanguageActivity is no longer used but instead the older LanguageSelectDialog

**Describe the solution you'd like**
Revert to the 3.0 LanguageActivity

[2019-07-16 15:47] kelson42 commented on #1292
@macgills I'm not sure to properly understand. Does that mean the language selector needs to be ported a second time to Kotlin?

[2019-07-16 16:20] kelson42 commented on #947
@macgills Please comment on this idea

[2019-07-17 11:20] macgills commented on #947
I am in two minds about it because kotlin is great and hardly anyone knows Groovy that well.
On the other hand most examples are all in groovy and the kotlin constructs are often clunkier, my gut says it would be better to postpone to a later date to see how well kotlin takes off as replacement even though the advantages are very cool

[2019-07-17 11:33] kelson42 commented on #18
@julianharty Would be good to see if this is still an bug with 3.0 dev version. Could you please do that?

[2019-07-17 11:36] kelson42 commented on #21
Old bug report without repro-case. I close the ticket.

[2019-07-17 11:36] #21 closed

[2019-07-17 11:39] kelson42 commented on #37
As we need to re-evaluate the support of "exotic" languages anyway in 3.1. Lets put it here.

See also #1222 #207

[2019-07-17 11:42] kelson42 commented on #213
@macgills @julianharty What should we do with that old automated test problem?

[2019-07-17 12:03] kelson42 commented on #212
I have cleanup all the old stalled branches.

[2019-07-17 12:03] #212 closed

[2019-07-17 12:11] kelson42 commented on #195
@mhutti1 @macgills Not sure what we should do with that ticket. I strongly suspect this is totally outdated and we can close it.

[2019-07-17 12:13] kelson42 commented on #246
Moving this to 3.0 and assigning to @macgills as this is exactly what he is working on these days.

[2019-07-17 12:14] kelson42 commented on #129
This report is really old. Many scenarios have been fixed meanwhile and @macgills monitors this carefully now.

[2019-07-17 12:14] #129 closed

[2019-07-17 12:15] kelson42 commented on #100
@macgills What the current situation and feeling about this ticket?

[2019-07-17 12:17] kelson42 commented on #108
@macgills Here again we are around automated testing. I'm not sure exactly here what kind of problem @mhutti1 wants to fix.

[2019-07-17 12:18] macgills commented on #100
https://docs.gradle.org/current/userguide/checkstyle_plugin.html we can add it

[2019-07-17 12:18] kelson42 commented on #170
@macgills What is the status on this?

[2019-07-17 12:21] macgills commented on #108
The unit tests of FileSearch are validating that functionality so a mock FileSearch is probably the avenue to go? I'd need to consider the code for a bit.
I am pretty uniformly against most automated tests hitting any external dependency, file system/endpoint/database etc as we should be testing our rendering handles expected input

[2019-07-17 12:22] macgills commented on #170
[code]
Still there but these wouldn't cause a memory leak. Still very bad practice though

[2019-07-17 12:26] macgills commented on #195
well kiwix-build should have nothing to do with kiwix-android now so I would say close it

[2019-07-17 12:31] macgills commented on #101
I will hopefully be setting up R8 - the successor to proguard - as part of this ticket

[2019-07-17 13:10] abdulwd commented on #1292
@kelson42  The language selection dialog was changed to a separate activity that also includes searching the list of languages. So because of merging the old dialog is being displayed instead of the new activity.

[2019-07-17 14:34] kelson42 commented on #170
@macgills OK, then we should try to change that, not a big deal I guess.

[2019-07-17 15:22] Aditya-Sood commented on #1116
@kelson42 @macgills so @mhutti1 had told me to do this once 3.5 is out in a couple of months, I can take it off your hands then if you like

[2019-07-18 05:03] kelson42 commented on #195
Is my feeling. Closing the ticket.

[2019-07-18 05:03] #195 closed

[2019-07-18 05:14] kelson42 commented on #265
@macgills @EladKeyshawn @abdulwd @siddharth2010 Can someone reproduce that bug? Otherwise I would like to close it.

[2019-07-18 05:17] kelson42 commented on #287
Because #240 has been closed and the whole library heavily revamped. I close that ticket.

[2019-07-18 05:17] #287 closed

[2019-07-18 05:18] kelson42 commented on #336
AFAIK this should not happen anymore after 2.5 release.

[2019-07-18 05:18] #336 closed

[2019-07-18 08:08] macgills commented on #336
This problem should be removed, yes

[2019-07-18 12:16] kelson42 commented on #1165
@macgills After you have make a few fixes on this dialog. Do you think by any chance, this bug might have been fixed?

[2019-07-18 12:23] macgills commented on #1165
No I wouldn't imagine it is. Just out of curiousity, why do we allow people to specify a new external storage? the use case is escaping me

[2019-07-18 12:52] kelson42 commented on #1165
@mhutti1 is the best to answer this but AFAIK this was because @mhutti1 was not convinced that this tool was able to alwasy detect the storage properly. Personnaly, I would like to avoid that feature... which makes the whole stuff too complex.

[2019-07-18 13:13] macgills commented on #1165
I would be much more in favour of getting rid of this feature and perfecting storage detection, very intense for a user to have to know their storage location

[2019-07-18 13:25] siddharth2010 commented on #265
I have a Galaxy S6 running Android 7.1. Will test it tonight!

[2019-07-18 13:31] macgills commented on #265
I have not been able to replicate this, tested on an emulator running 7.0, android device 8.0. Recommend closing

[2019-07-18 13:46] kelson42 commented on #265
Closing the ticket. @siddharth2010 Please test it and reopen the ticket if you see a problem.

[2019-07-18 13:46] #265 closed

[2019-07-18 13:47] siddharth2010 commented on #265
@kelson42 , I just tested it. It seems to be working perfectly fine on 7.1 as well.

[2019-07-18 14:05] Popolechien opened #1294 "Landing page is not displayed on Wikimedia zims"
Kiwix-Android 2.5.1 build 220501 / Huawei P20 Lite Android 8.0

I recently noticed that Kiwix does not read/show the landing page of Wikimedia zims: I am only shown a blank page . I tried other mediawiki zims (e.g. Granblue or InstallGentoo) and they mostly worked, although some (ArchWiki, WikEM) did not either. Non mediawiki (PhET, Skin of color) The bug remains after rebooting the phone, uninsta

[2019-07-18 14:08] kelson42 commented on #899
@okkebal @dazed-horizon I have checked, the problem is with the ZIM file itself. Not with Kiwix for Android. An effort is currently ongoing on MWoffliner to identify why time to time images are not scraped properly. Here is one of these tickets https://github.com/openzim/mwoffliner/issues/462.

[2019-07-18 14:08] #899 closed

[2019-07-18 14:14] kelson42 commented on #888
I would say we don't support AKpure... I have no clue how they have copied and distribute the APK. Nothing much we can do here. Our distribution channel for custom apps is only - for now - Google Play.

[2019-07-18 14:14] #888 closed

[2019-07-18 14:24] macgills commented on #1294
![image](https://user-images.githubusercontent.com/3358282/61465225-8fc49580-a96f-11e9-9732-9f5dee00ec2b.png)
which Archwiki? It also worked for all WikiEms I just tried. Nexus 5X 8.1.0

[2019-07-18 14:35] Popolechien commented on #1294
@macgills Archwiki 2019-04-01 novid/nopic (does not really matter). Btw I confirm that Archwiki won't display any other page either (though search does seem to work / list articles)
![Screenshot_20190718-163248](https://user-images.githubusercontent.com/21675885/61466186-c43d4f00-a979-11e9-89b4-9c16c63ab117.jpg)

[2019-07-18 14:37] macgills commented on #1294
Can I ask you to try with a [nightly?](https://download.kiwix.org/nightly/2019-07-18/)

[2019-07-18 14:46] kelson42 commented on #1165
@macgills I support this approach, if this can be done. @mhutti1 Your input here would be much appreciated as you have built all of this and has a longer experience of the problem.

[2019-07-18 14:48] Popolechien commented on #1294
Dammit - it did work for half a second until I tried to open another wiki and then it did not work anymore :-/

[2019-07-18 15:05] kelson42 commented on #1223
I think this ticket should be solved before 3.0 release.

[2019-07-18 15:07] kelson42 commented on #1294
I have I think saw that kind of behaviour myself, but this is sporadic and never achieved to get a fully pattern. I suspect, a trace would be really helpful here.

[2019-07-18 15:23] macgills commented on #1165
By raising the minSDK to 19 (4.4, roughly 1500 users would not be able to upgrade) I am reasonably confident in a solution backed by [Context.externalFilesDirs](https://developer.android.com/reference/android/content/Context.html#getExternalFilesDirs(java.lang.String))

[2019-07-19 08:26] macgills commented on #1294
I am unsure how to proceed, Zim rendering is still a mystery to me tbh

[2019-07-19 08:41] Popolechien commented on #1294
Well the mystery deepens. I uninstalled and reinstalled once more and now rendering is fine (tried several files, incl. WikEM and Archwiki).
Should we close the ticket?

[2019-07-19 08:42] macgills opened #1295 "Fix Recursive FileSearch"
**Describe the bug**
I misread the Javadoc for `listFiles` and thought it would work recursively

**Expected behavior**
A FileSearch should iterate through all directories reported as root and find a zimfile at any depth

[2019-07-19 08:48] macgills commented on #1294
well my suspicion was that the WebView on your phone was wonky but that doesn't seem to be the case.
Equally it should not be kiwix-lib as that has remained the same.
How frequently do we reupload zims? Is it actually the same zim?

Otherwise it is a transient error and that is awful news

[2019-07-19 09:49] macgills opened #1297 "Version Code Displayed does not represent splits"
**Describe the bug**
Because of how the android build system works splits do not recompute VersionCode as a performance feature. Right now regardless of our version we show 220501 where there should be 2 leading digits denoting density and abi architecture respectively.

**Expected behavior**
In the settings screen I see the real version code for the currently installed apk

[2019-07-19 14:56] rashiq commented on #170
I believe there used to be a static fragment that was accessed from the main activity. I'm guessing that that one got removed.

So yeah, these static booleans shouldn't leak memory, so we can close this for now.

[2019-07-19 14:56] #170 closed

[2019-07-20 18:41] Aditya-Sood opened #1301 "Night mode does not work properly in library (with 3.0)"
**Describe the bug**
Night mode inverts book icon colour in 'Get Content' library

**Steps to reproduce the behavior:**
Navigate to 'Get Content' library with in-app night mode enabled

**Screenshots**
<p align="center">
  <img src="https://user-images.githubusercontent.com/15438998/61582639-d6bab280-ab4a-11e9-93d7-8768ba57d6d2.png" width="350" title="bleh">
</p>

**Environment**
- Version of Kiwi

[2019-07-20 18:47] Aditya-Sood commented on #1301
@macgills might be similar to #905
The double inversion to support night-mode might be required [here](https://github.com/kiwix/kiwix-android/blob/develop/app/src/main/java/org/kiwix/kiwixmobile/zim_manager/library_view/adapter/LibraryViewHolder.kt#L44) in LibraryViewHolder.kt

[2019-07-20 22:48] mhutti1 commented on #1165
I don't think this specific issue is worth fixing imo. Its purely cosmetic. WRT the minSdk I would open another issue.

[2019-07-20 22:56] mhutti1 commented on #1173
@macgills This was implemented right?

[2019-07-21 11:01] kelson42 commented on #1165
@mhutti1 Without new clearly open new issue, I would like to keep that ticket open? Could you please tell us more about this custom path input?

[2019-07-21 12:33] kelson42 commented on #1301
What I see is that the text is not inverted ether. To me the Night mode is broken within the library.

[2019-07-21 15:06] abdulwd opened #1302 "App crashes on clicking Clear All Notes"
**Describe the bug**

On a fresh installation when I go to the menu and select **Clear All Notes** the app crashes.

**Steps to reproduce the behavior:**
1. Menu -> Clear All Notes

**Environment**
- Version of Kiwix Android : develop branch
- Device : Emulator Pixel 2
- OS version : API 29

**Logs**

[code]

[2019-07-21 15:09] abdulwd commented on #1302
@Aditya-Sood It would be great if you can remove all the lint warnings from this file. At least the code we're writing now should be clean so that we can clean codebase bit by bit. You just have to go to **Analyze -> Inspect Code...**

[2019-07-21 17:35] Aditya-Sood commented on #1302
@abdulwd the app doesn't crash on my device on the re-installed version, gives the "No notes found for deletion" toast as it should. Can you check on your device as well? (could be a discrepancy between working on emulator & a device)

Meanwhile I'll try and work out what went wrong lower in the stack trace

[2019-07-21 17:40] abdulwd commented on #1302
The next time I click **Clear All Notes** I get this toast. You just have to add a null check to prevent this crash.

[2019-07-21 17:46] Aditya-Sood commented on #1302
Thing is, clearing notes does not open 'Add note dialog'. I'm trying to figure out why it's being opened in the first place.

[2019-07-21 20:02] Popolechien commented on #1294
Ok, I'm reopening the issue as I get a little more reproducibility:
- Upon installing the app, I can open zim files and they display normally
- If I close the app, clear the phone's memory and then reopen the app -> the landing pages are not shown anymore. I've repeatedly uninstalled / reinstalled to the same effect and pattern.

[2019-07-21 20:07] Popolechien commented on #1294
Good news: I'm not the only one having this issue.
Bad news, I'm not the only one having this issue. From OTRS:
"Hi, I've installed yesterday Kiwix on my android 7 phone (device model Xiaomi Mi Max 2), with 4GB Ram, 64 GB Rom. The app installed ok, found 4 zims I had already downloaded on my 64gb sd card, opened them ok, browsed them ok, read 5-10 several articles without issues, everything looked

[2019-07-22 08:07] Popolechien commented on #1294
FWIW, someone wrote: "Update it as soon as you exit and close the application, after no longer able to access the external and internal memory, you must go to delete data every time."
(ok, he's Italian, so forget the grammar)

[2019-07-22 08:10] kelson42 commented on #1294
@Popolechien not sure about what that means at all... not even sure the symptom is the same as for this ticket.

[2019-07-22 08:11] Popolechien opened #1303 "File system error when trying to download zim"
Apparently the user was downloading a file when he updated and got the below error message, but I've asked him to clarify if it happens every time from now on.
![Screenshot_20190721_092513_org kiwix kiwixmobile](https://user-images.githubusercontent.com/21675885/61616541-0069fb80-ac69-11e9-83a7-9d20b4434627.jpg)

[2019-07-22 08:50] Popolechien opened #1304 "Broken downloads, incompatibility with Blokada"
From @bernhardino

<s>
A user reported the following scenario:
- tried to download a zim file;
- Download window indicates "pending";
- Nothing more happens.

Kiwix Version 2.5.1  Build 220501
Sony Xperia XA   F3113
Android version 7.0 Build number 33.3.A.1.126
</s>
Original ticket (because this one has been highjacked by the Blokada incompatibility) moved to #459

[2019-07-22 09:13] kelson42 commented on #1304
@macgills We need here a bit more error reporting probably.

[2019-07-22 13:05] Wikinaut commented on #893
still a valid problem

[2019-07-22 13:43] Bernhardino commented on #1304
I had the same issue a week ago. I've tried four times to download the whole german content of wikipedia (33GB), and each time the download stopped after about 12GB (Galaxy S9, 254GB, with Android 9, not rooted). As I'm also a android app dev in my spare time, maybe I can give you some more informations if you tell me which one you need.

[2019-07-22 14:31] kelson42 commented on #1304
@Bernhardino Thank you for your feedback and your offer. Do you see anything special in the Android log when this happens?

[2019-07-22 14:32] kelson42 commented on #893
@Wikinaut Yes, a famous one. A singnificant amount of time will be invested on the search core component in the next two months. I hope we will found what goes wrong here.

[2019-07-22 14:38] Wikinaut commented on #893
Since I filed this issue I found more example where the index is broken (it starts listing the suggesting entries but the listing stops somewhere and continues with shorter lenght suggestions). Let me know if you need the details. Then, and only then  I have to remember them.

[2019-07-22 14:39] kelson42 commented on #893
@Wikinaut Yes we are! Please open one ticket per problem.

[2019-07-22 14:42] Wikinaut commented on #835
please let it open

[2019-07-22 14:45] Wikinaut commented on #893
Because I regularly delete my search list, it will take some time. Unfortunately, until now, you did not  accept/implement my privacy idee https://github.com/kiwix/kiwix-android/issues/835 (on the Wikipedia App I coded that finally, but that ready-for-implementation patch was dismissed, so I stopped working for this team. I still regard privacy search settings as essential in certain environments.

[2019-07-22 15:14] Bernhardino commented on #1304
@kelson42 Actually, in this moment I'm trying to download within Kiwix a 24GB zim file to see if the action stopps again. But if I remember properly, my error message wasn't "pending" like above but something like "Can't be downloaded". Anyway, in one hour, I'll know more ...

[2019-07-22 15:26] Bernhardino commented on #1304
Bingo, my download failed ("HTTP data error"). In the log, i found only these two lines:

2019-07-22 17:15:05.991 6860-15915/? D/DownloadManager: [3795] Starting org.kiwix.kiwixmobile
2019-07-22 17:15:06.113 6860-15383/? W/DownloadManager: [3795] Stop requested with status HTTP_DATA_ERROR: Local halt requested; job probably timed out

If it is of use, I can send to you the last minutes of the log.

[2019-07-22 16:50] KapeSP commented on #1294
Hi, everybody

I am new here and have seen this thread in Google. But I hace the dame problemas in two phone since four days, so i tel you more info.

Two phones: Samsung Galaxy 9 and Honor 6C

[2019-07-22 18:03] Aditya-Sood commented on #1302
Still trying to work out why this happened, but #1305 fixes the crash

[2019-07-23 00:36] Bernhardino commented on #1304
@kelson42 I did some further tests and found that Kiwix has (at least on my smartphone) a problem with Blokada, a popular ad blocker (not in App Store, Google won't allow that). If Blockada is activ, the download window of Kiwix shows "pending", and nothing happens, as described in the first post. I use Blockade for half a year and had absolutly no problems 'till now with it, that's the very first

[2019-07-23 09:05] #1297 closed

[2019-07-23 09:27] macgills commented on #1304
https://github.com/kiwix/kiwix-android/blob/develop/app/src/main/java/org/kiwix/kiwixmobile/downloader/model/DownloadStatus.kt We just report the errors the [DownloadManager](https://developer.android.com/reference/android/app/DownloadManager) reports to us. We could show a retry button when we enter the FAILED state and encourage the user to turn on wifi only downloading as that might have an eas

[2019-07-23 09:59] macgills commented on #1303
quite the same as #1304 unfortunately, I have no more information than what was is reported to me by DownloadManager

[2019-07-23 10:09] macgills commented on #1301
Our nightmode implementation is strange, it is not theme driven.
Can anyone supply a justification for the current approach? @mhutti1

[2019-07-23 10:24] macgills commented on #1173
No, not yet

[2019-07-23 13:16] #489 closed

[2019-07-24 08:51] #1302 closed

[2019-07-24 09:33] abdulwd commented on #1270
Instead of writing our own logger class, can we use [Timber](https://github.com/JakeWharton/timber)?

[2019-07-24 09:49] macgills commented on #1270
I like wrapping it in our own functions, even if we use timber under the hood, it allows us to do things like truncating tags ourselves, swapping to a new logging library easily, writing individual logs to a file.

in total it is like 5 functions

[code]

I think losing the formatArgs functionality is not so important

[2019-07-24 10:05] abdulwd commented on #1270
That's cool. We should set the class name as the default for the tag, it saves time.

[2019-07-24 10:11] kelson42 commented on #1270
@macgills @abdulwd Yes, please don't write your own Logger. Each language propose one or two well established Logging framework. Please make a choice and rely on it. That said, of course, no problem to have your own Log class on the top of it to expose and handle only what you need, in the way you prefer.

[2019-07-24 10:14] macgills commented on #1270
I have done a good few experiments with this and overall it still makes sense to have a `TAG` field in your class and pass it in to the function.
`getClass.getSimpleName()` works as long as you are not obfuscating your class names
and my too ambitious
[code]
would unfortunately capture whatever instance it was in and played terribly with lambdas

[2019-07-24 11:16] macgills opened #1307 "Enforce formatting automatically"
**Is your feature request related to a problem? Please describe.**
It is too easy to accidentally commit code that does not adhere to our styles

**Describe the solution you'd like**
Using precommit hooks and placing inspections and styles in VCS everyone will be able to work in a similar environment and auto format on every commit

[2019-07-24 11:18] kelson42 commented on #1304
@Bernhardino Thank you for the report, so deactivating Blockada and everything works fine?
@macgills Two remarks:
* It should autoretry
* Error should be printed (seems not to be the case in the first report of @Popolechien).

[2019-07-24 11:24] macgills commented on #1304
@kelson42 Errors are always printed, I give as much information as I get. If it was Pending then the downloadManager was telling me that the download was pending.

Re retry: then we need to define auto retry logic.
How many times do we retry?
What is the backoff between retries?
How do we alert the user that a retry is now being attempted?

The easiest solution is just to show a retry button on fa

[2019-07-24 11:27] kelson42 commented on #1304
@macgills Does a retry will reastart from offset 0?

[2019-07-24 11:34] macgills commented on #1304
Yes, if it has gone to failed the downloadManager will have deleted the file it was downloading, there is no retry functionality for it

[2019-07-24 11:40] macgills commented on #1304
Ahhh a thought: blockada might not play well with http traffic, we really should be using https only, the android ecosystem gets ever more insistent on it

[2019-07-24 21:58] Bernhardino commented on #1304
@kelson42 Sorry to answer so late. Yes, on my Galaxy S9 with Android 9 I've able to reproduce this effect (5x): With Blockada the error "Pending" in the download window of Kiwix from the very first second on, and then for 2 hours nothing happens (then I stopped the "download"); without Blockada, no problems with the desired download. But to be honest, I don't understand this, because Blockada has

[2019-07-25 06:26] JuLuers opened #1309 "Many pictures of German Wikipedia (no video, 33GB) are not displayed"
Many pictures of German Wikipedia (no video, 33GB) are not displayed on Huawei P30 Pro.
For example in "Albert Einstein" there are empty picture rectangles, but "Through Hole Technology" shows pictures.
Kiwix 2.5.1, Build 220501, Google Play Store
Wikipedia, German, 2018-11-06, MO Videos
Huawei P30 Pro, VOG-L29, EMUI 9.1.0, Android 9, buyed some days ago
All software is up-to-date

Is there a way

[2019-07-25 07:00] Bernhardino commented on #1309
Yes, just drag & drop

[2019-07-25 08:20] macgills commented on #1309
duplicate of #1014 , thank you for the report

[2019-07-25 08:20] #1309 closed

[2019-07-25 08:45] kelson42 commented on #1309
@JuLuers The problem is in the ZIM file itself. No problem with the reader here. We have fixed many things related to image retrieval in the Wikipedia scraper. Next one should have far less missing pictures. Thank you again for reporting it.

[2019-07-25 08:49] kelson42 commented on #1014
I confirm the problem with 2.5 and recent version of WiKem homepage. I can also confirm that the problem is not with the ZIM.

[2019-07-25 09:08] kelson42 commented on #1294
@macgills My feedback. I can easily reproduce the problem (at least a problem which seems to match the description). Here are the steps:
* Install nightly
* download WiKem novid
* open it, everything works fine.
* Quite the app (remove it from the hibernate list of apps)
* Restart it, then you get a blanck screen, the last open ZIM file welcome page is not loaded properly.

Here is how it looks li

[2019-07-25 09:45] kelson42 opened #1311 "Nightlies can not always be installed from the Browser (but always works via adb)"
Steps:
* Uninstall any previous version of Kiwix
* Downloadin via Firefox for Android the nightly APK
* Clicking on the download finished notification
* Getting the invitation to install the APK
* Getting the PlayProtect stuff and forcing install
* Getting the dialog "App not installed"

On the log I see:
[code]

If I install the same package via `adb install 2709-kiwix-universal-debug.apk` then i

[2019-07-25 09:58] JuLuers commented on #1309
@kelson42 The ZIM file has been downloaded by Kiwix App. If the problem is in the ZIM file itself, it must be updated on the server accessed by Kiwix. Don't know, were to get a correct ZIM file.

[2019-07-25 10:00] kelson42 commented on #1309
@JuLuers Yes, it will.

[2019-07-25 10:31] macgills commented on #1311
![image](https://user-images.githubusercontent.com/3358282/61867618-88e9d580-aecf-11e9-81c1-44a49ed81a2d.png)
Can you verify that this is the same model that you are using? It works fine for me with those repro steps

[2019-07-25 12:05] kelson42 opened #1312 "Not able to open a ZIM file from the "download completed" notification"
Steps:
* With last nightly
* Download from Kiwix a ZIM content
* Download is successful and we get a notification
* Clicking on the notification to open the file with Kiwix

Instead:
* Getting a list of apps... but not Kiwix in the list

This happens on my Google Pixel with Android 9. What is strange is that time to time this works fine, Kiwix opens properly the newly downloaded content.

Here is

[2019-07-25 12:38] macgills commented on #1312
This is an existing problem with our intent filters and was not addressed during the rewrite of downloads.
Currently when you click on an ongoing download notification you are brought to the Downloading tab.

We either need to fix our intent filters or when we get notified that a download has completed show a custom notification so we can control the navigation.

I can confirm the intermittent nat

[2019-07-25 13:00] kelson42 commented on #1312
@macgills Since the beginning of the project we have failed to have working intent filters. I had a look myself to them, but it seemed impossible (at least to me) to easily fix the problems. Considering that I'm also annoyed that people can not open file in a reliable manner from any file browser. I would like at least to get the intent filters working properly.

[2019-07-25 13:04] kelson42 commented on #1312
@macgills BTW, please open systematically a bug if you discover something not working fine which is not already reported. That would in many cases allow to save time.

[2019-07-25 13:08] kelson42 commented on #1311
![screenshot](https://user-images.githubusercontent.com/1029718/61876808-ff95cb80-aeed-11e9-82fe-970943517891.png)

[2019-07-25 13:11] macgills commented on #1311
Absolutely identical.
I doubt this is an issue with the way we sign, upload or do anything inside this project. I don't think there is an issue here to resolve.

[2019-07-25 13:14] macgills commented on #1312
I just noticed the inconsistency there as I was verifying it

[2019-07-25 13:14] kelson42 commented on #1311
The problem here is that we basically have no clue about what goes wrong... but what is sure is that this is not specific to one device.

[2019-07-25 13:25] macgills commented on #1311
It is a failing of android. If we can't fix it then I do not see a reason to have a ticket except to point people at and say we can't fix it. In which case we could close this ticket.

We could revisit appcenter/fabric as beta distribution models and this might go away?

[2019-07-25 13:30] kelson42 commented on #1311
@macgills Maybe, lets try to focus on our other priorities first, we will then have a look again to that problem.

[2019-07-26 09:53] #1295 closed

[2019-07-26 15:55] metal450 commented on #896
I just re-tested this, & it looks like it's at long last fixed :)

[2019-07-26 16:26] #896 closed

[2019-07-27 07:40] kelson42 commented on #1304
download.kiwix.org is only a redirecting solution, then the download is routed to a mirror, here mirror.download.kiwix.org. But it can be an other download mirror. So it can also happen than an other mirror was needed. FYI, AFAIK mirror.download.kiwix.org is the only HTTP mirror, all the other ones are HTTPs.

@macgills I wonder what we can do here... to me the main problem is only that we have no

[2019-07-28 22:19] jhbiggs commented on #1235
I noticed in MainActivity.java that there's already a counter, currently set to 5.  I set it to 10.  I reserve the right to be obtuse here and have missed some obvious obstacle to this solution...

[2019-07-29 08:31] macgills commented on #1304
We could add some text somewhere? A one time message that pops up on first download? "You may have to disable ad blockers to download zim files".
I am showing as much information as is provided to me by downloadmanager

[2019-07-29 08:35] kelson42 commented on #1304
@macgills I wonder why the downloader/Kiwix does not already report and error. Do you know why?

[2019-07-29 09:17] macgills commented on #1304
https://github.com/blokadaorg/blokada/issues/324 found it

[2019-07-29 09:32] kelson42 commented on #1304
So, what I see here is that the whole thread is about Blokada... but this does not fit or give a response to the original but report from @Popolechien. I'll open a new ticket #459

[2019-07-29 09:37] kelson42 opened #1318 "Download always in pending status"
A user reported the following scenario:
- tried to download a zim file;
- Download window indicates "pending";
- Nothing more happens.

Kiwix Version 2.5.1  Build 220501
Sony Xperia XA   F3113
Android version 7.0 Build number 33.3.A.1.126

First reported at  #1304

[2019-07-29 09:38] kelson42 commented on #1318
@Popolechien Would you be able to ask the user if he uses a blocker similar like Blokada (would be then a duplicate of #1304.
@macgills Any chance to detect this and avoid a download to be pending for years?

[2019-07-29 09:47] macgills commented on #1318
Is it possible to do so? Absolutely.
Do I think it will be useful to a user? Probably not, if the download is failing they have a problem and me just retrying is probably not going to help at all.

[2019-07-29 09:52] kelson42 commented on #1318
@macgills If the download is failing, I don't like to have it reported as "pending". This is the problem. If there is a winning strategy to try to avoid that or recover from that, is another one.

[2019-07-29 10:00] macgills commented on #1318
The thing is if the DownloadManager tells me it is Pending then it _is_ pending, it is just waiting for some issue to resolve itself. Pending is a very valid state and can be a state for a very long time because of the nature of data connections.
We can fake `has been pending a while` but I think the best way is to warn users about adblockers and the like, we can display it beneath the "No Downloa

[2019-07-29 10:08] kelson42 commented on #1318
@macgills Thx, this is the kind of response I was aiming to. What I don't want is anything where we warn the users about this kind of scenario, even if they have no problem (which is the most probable scenario). But in that case we have somehow to detect this `has been pending a while`... and I understand your concern about that.

I don't really understand your proposal about "No downloads"... pro

[2019-07-29 10:13] macgills commented on #1318
When you have no downloads then the list is empty in the downloads tab and we show some text `No Downloads` or the like. We could add `Note: you may need to disable your adblocker to download zims` just below this when the list is empty. This means the message is always there in the app and they are likely to see it...… hmmm actually we are planning on removing the downloading section entirely so

[2019-07-29 10:24] kelson42 commented on #1223
OK, all of this is quite to complex and time consuming for 3.0.

[2019-07-29 10:26] kelson42 commented on #1303
There is nothing we can do here, this is either a bug with Android (probably not) or a problem with the hardware (most probable).

[2019-07-29 10:26] #1303 closed

[2019-07-29 10:30] kelson42 commented on #615
I'm not convinced this tickets brings a lot. We will have always memory leaks and as a consequence this ticket will be always open. I prefer one ticket per memory leak with all the relevant details.

[2019-07-29 10:30] #615 closed

[2019-07-29 10:32] kelson42 commented on #1205
@Popolechien Macgills has work a bit on this piece of software for 3.0. It would be really much appreciated if the problem is still there with a nightly.

[2019-07-29 10:38] #101 closed

[2019-07-29 10:52] macgills commented on #213
I am happy to close this

[2019-07-29 10:52] #213 closed

[2019-07-29 11:07] Popolechien commented on #1205
Last nightly I see is http://download.kiwix.org/nightly/2019-07-26/, in which case no, issue not solved.

[2019-07-29 11:50] macgills opened #1319 "Lint Issue: SyntheticAccessor"
**Is your feature request related to a problem? Please describe.**
[code]

**Describe the solution you'd like**
I propose we ignore this lint issue, the addition of a synthetic method is not important to us since we introduced R8 nee Proguard and I would rather have private methods than default visibility.

[2019-07-29 11:54] macgills commented on #1114
For this to be considered fixed we would require there to be an animation for opening the tab switcher

[2019-07-29 13:55] Popolechien commented on #1318
I've asked and no, no blocker of any type.

[2019-07-29 15:05] ciconi commented on #1169
Checked it also, everything working perfect, thanks!

[2019-07-29 19:47] mhutti1 commented on #1165
I don't think it saves state in general tbh. Its a bit of a hack.

[2019-07-29 19:48] kelson42 commented on #1322
Old bug report. To be checked again.

[2019-07-29 19:50] mhutti1 commented on #1301
A theme approach might work better. I implemented most of this so long ago I can't really remember the full details, android has changed a lot too since then.

[2019-07-29 20:00] mhutti1 commented on #1235
@rashiq Had some views on this if I can remember.

[2019-07-29 20:09] kelson42 commented on #1235
@mhutti1 Yes. I have put him as reviewer of the PR. No feedback so far.

[2019-07-29 20:13] kelson42 commented on #1165
@macgills I think you can carry in by removing the feature. Less convince by increasing the minimal SDKfor now, for that.

[2019-07-30 06:21] kelson42 opened #1323 "Bookmarks are not permanent over ZIM files update"
If two ZIM files have the same name metadata (and not filename) then a bookmark should be valid for both. That way we can keep bookmarks over ZIM files updates.

[2019-07-30 08:19] macgills commented on #1301
Undoubtedly, it is a shifting sea of sand.
So this ticket becomes "rework night mode completely", not a small amount of work

[2019-07-30 08:22] #1292 closed

[2019-07-30 08:25] macgills commented on #1323
[code]

We should uniquely associate bookmarks by what field? `bookName`? `id`?

[2019-07-30 09:11] Aditya-Sood commented on #1301
@macgills when you say theme driven, is it different from specifying themes in styles.xml and using them?

[2019-07-30 10:09] macgills commented on #1301
It is a bit different and more powerful to use themes well as they are applied once in the Manifest and this affects every activity. Essentially we need to reparent our baseTheme to a material `DayNight` theme and then use android's inbuilt day night system to inform the system what mode we are currently in. It will also take some attribute chicanery and potentially supplying different resources f

[2019-07-30 10:13] macgills commented on #1301
[Chris Banes](https://medium.com/androiddevelopers/appcompat-v23-2-daynight-d10f90c83e94) goes into better detail than myself

[2019-07-30 12:42] gilcu3 commented on #61
Is current version (2.5) rolling to f-droid?

[2019-07-30 12:52] kelson42 commented on #61
@gilcu3 This is still a task to do :(

[2019-07-30 13:08] gilcu3 opened #1324 "Cannot use full text search"
**Describe the bug**

Option for full text search is missing from settings since version 2.4 (version 2.2 works). Zim files are recent (2018). When searching terms, it clearly only searches in titles.

**Expected behavior**

Full text should work as in previous versions.

**Steps to reproduce the behavior:**
1. Search a term

**Environment**
- Version of Kiwix Android : 2.5.1
- Device : Redmi Note

[2019-07-30 15:47] kelson42 commented on #1324
I think fulltext should work differently from the suggestion system, like with kiwix-serve. Mixing title search and fulltext search does not seem to be a good approach to me.

[2019-07-30 16:08] gilcu3 commented on #1324
I understand, but the problem is usually when one is making a search, and the term doesn't appear in the title, there is no way to find the corresponding article. In version 2.2 it was possible with Full Text Search enabled.

[2019-07-31 08:36] #1190 closed

[2019-07-31 08:36] #1189 closed

[2019-07-31 08:36] #1188 closed

[2019-07-31 08:36] #1187 closed

[2019-07-31 08:36] #1186 closed

[2019-07-31 08:44] iadeelzafar opened #1325 "Hotspot Ip address incorrect for Android Pie"
Hotspot ip address changes everytime it starts for android pie. P.S: I've worked around that in this [commit](https://github.com/kiwix/kiwix-android/commit/8516403d066ae852fa87320e4372e32c043e0e09).
The issue right now is i'm unable to host the server on that ip address for pie. We need to do the following things now:
**1.** Confirm if the ip address i'm getting for pie is correct using the hardwa

[2019-07-31 09:22] kelson42 commented on #1325
@iadeelzafar Regarding your code I have a few remarks:
* An IP should be stored in a proper class, not as a string.... and for sure not with `\n` at the end.
* If the device has many interfaces, this is not clear at all how you choose the one to pick. To me it should be the WIFI one, but there is nothing about that in your code.
* I really wonder about this `isSiteLocalAddress()`, in fact it seems

[2019-07-31 09:30] kelson42 commented on #1186
@iadeelzafar Why this ticket has been closed?

[2019-07-31 09:35] iadeelzafar commented on #1325
@kelson42 So IMO what we need to do at this point is confirm the ip address using the hardware settings of the device. This will be concluded as soon as I'm able to get my hands on an Android 9 device.

[2019-07-31 13:01] #1307 closed

[2019-07-31 19:34] iadeelzafar commented on #1186
@kelson42 This has been fixed.

[2019-08-01 19:39] iadeelzafar opened #1326 "App Crashes on new install"
**Steps to reproduce the behavior:**
1.  Run the app on first install from develop branch.
2. App crashes.

P.S: Works fine when opening the app second time.

**Environment**
- Version of Kiwix Android : Develop branch
- Device : Motorola Droid Turbo
- OS version : 6.0

**Logs**
[code]

[2019-08-03 19:23] iadeelzafar opened #1328 "MANAGE_WRITE_SETTINGS screen won't appear"
**Problem description:**
Manage write settings screen won't appear. A wifi screen shows up instead.
A little background i,e, We need this permission to turn on wifi hotspot programmatically on devices < Oreo.

_P.S: This issue arised on the older version of our wifi-hotspot branch where we're turning on hotspot programmatically for devices version<Oreo._

**Tested device:**
Android 6.0.1
Galaxy ta

[2019-08-03 19:27] iadeelzafar opened #1329 "Ip address empty for android 7"
**Bug:**
Empty ip address is returned.

**Tested device:**
Android 7

[2019-08-03 19:28] iadeelzafar commented on #1329
@kelson42 can you please tell us the name of the device?

[2019-08-03 19:46] iadeelzafar commented on #1328
Quoting from android developer [documentation](https://developer.android.com/reference/android/provider/Settings.html#ACTION_MANAGE_WRITE_SETTINGS):

[2019-08-03 19:49] iadeelzafar commented on #1328
Looking at this [question](https://stackoverflow.com/questions/48422080/no-activity-found-to-handle-intent-act-android-settings-action-manage-write-se) on SO, all that we could do AFAIK is to handle the crash.
But in our case there's no crash, instead a different screen i.e. wifi screen shows up.

[2019-08-03 19:53] iadeelzafar commented on #1328
I'm looking forward to anyone's input on this, if there's any way we could figure this out.
Btw this is how the [write settings screen](http://prntscr.com/onyh69) looks like.

[2019-08-04 21:18] mhutti1 commented on #1323
It should be name but it might be id. I think it was even title originally.

[2019-08-05 06:04] abdulwd commented on #1328
You can just show a dialog to the user to open the hotspot manually.

[2019-08-05 08:45] kelson42 commented on #1329
It is a FairPhone

[2019-08-05 23:42] jhbiggs commented on #960
Right, so I merged a fix for this issue, and I hope I was not being too presumptuous.  Open for comments, definitely new still but trying my best to follow commitstyle, etc.

[2019-08-06 01:07] I338 opened #1330 "Add progress/loading indicator for suggestions"
It would be nice if there was some kind of indicator that the app is doing something while it is searching in the background.

[2019-08-06 04:47] kelson42 commented on #1330
@I338 The search should really quick. I think here this is the main problem that currently it is not.

[2019-08-06 12:08] licaon-kter commented on #1129
What's the point of `kiwix-android/app/gradle/wrapper` ? This will throw off fdroidbuilder and tries to use Gradle 3.3 to build and fails, since it's too old.

[2019-08-07 02:10] jhbiggs commented on #960
Could someone please advise me on creating a pull request for my fixed issue #960 branch to the develop branch?  I was able to compare across forks, but I'm missing something here.

[2019-08-07 02:17] jhbiggs commented on #960
Aha!  I figured it out.  Git skullduggery...

[2019-08-07 06:19] kelson42 commented on #1129
@licaon-kter I would recommend to open a new ticket, commenting on old closed ticket is not recommended, in particular if this is unclear if your question is related (It is for me at least).

[2019-08-07 06:31] licaon-kter opened #1332 "What's the point of `kiwix-android/app/gradle/wrapper` ?"
This will throw off fdroidbuilder and tries to use Gradle 3.3 to build and fails, since it's too old.

Ref: https://gitlab.com/fdroid/fdroiddata/blob/master/metadata/org.kiwix.kiwixmobile.txt#L96

[2019-08-07 08:32] macgills commented on #1332
![image](https://user-images.githubusercontent.com/3358282/62607355-de71a980-b8f5-11e9-84b9-41f0f81ed0ab.png)
The what? Are you on the develop branch @licaon-kter ?
The repro environment is only frdroid builder?

[2019-08-07 08:33] #1235 closed

[2019-08-07 08:45] licaon-kter commented on #1332
I can see it in 2.5.1: https://github.com/kiwix/kiwix-android/tree/2.5.1/app

[2019-08-07 09:52] Popolechien opened #1333 "Why create an empty text.text and hidden .storageLocationMarker?"
Question from a user on OTRS (Xiaomi Mi A2 Lite)
" I've noticed that kiwix is creating a 0 byte text.txt and the hidden file .storageLocationMarker. Is this really necessary? Is there no nicer way to check storage access?"

[2019-08-07 09:57] Popolechien commented on #1294
Further feedback on OTRS - I suspect it relates to this particular issue:

screen kept blank.

the zim files.

it cannot open the files.

reinstallation I reinstalled but removed network connections Connectivity
after download.

connectivity again blank screens were shown again and menu has changed to
English.

connectivity and started the network. Now it still works.

gets corrupted."

[2019-08-07 10:04] kelson42 commented on #1294
I got also directly per email and on the sourceforge forum.

[2019-08-07 10:20] kelson42 commented on #1333
I have already noticed that and I think @macgills was surprised about that. But this is a bug, at least the file should be removed just after its purpose is over.

[2019-08-07 10:31] macgills commented on #1332
Seeing as this no longer exists on develop and a 3.0 release is in the pipeline I would move to close this ticket if that is alright by you?

[2019-08-07 12:01] #1332 closed

[2019-08-07 20:26] I338 commented on #1330
That's a good point. I guess if the search was fast enough, it would be silly to have a loading bar.

[2019-08-08 23:17] JPRO89-Cu opened #1339 "Blank pages on Webview Chrome 76 in latest zim files"
I tried android >= 7. With wiki all_nopic_ES  zim file from june (latest). Devices  that uses Chrome as default webview (not tried default webview v76 but is the same), but in v76 (maybe v7*) kiwix displays a blank page in all articles with the latest zim file of wikipedia. I tried old zim files and worked. But to work with the latest zim file I have to downgrade chrome to v66

[2019-08-09 03:47] JPRO89-Cu commented on #1339
Found this on logcat opening wikipedia no pics june spanish where Wikipedia:Portada is the article to search
ContentResolver: Failed to get type for: content://org.kiwix.kiwixmobile.zim.base/A/Wikipedia:Portada (Attempt to invoke virtual method 'boolean java.lang.String.isEmpty()' on a null object reference)

[2019-08-09 05:32] kelson42 commented on #1339
Quite sure this is a duplicate of #1294

[2019-08-09 05:32] #1339 closed

[2019-08-09 05:35] kelson42 commented on #1294
@macgills @mhutti1 @siddharth2010 @rashiq @abdulwd We get meanwhile each day complains about that regression. We have to fix it in top priority and release a 2.5.2 ASAP. We can not wait additional weeks that 3.0 will be ready.

[2019-08-09 10:06] macgills commented on #1294
The content uri has no extension, this is causing an NPE in ZimContentProvider.getType(). This would have been a compile time issue in kotlin.
It is a one liner fix, opening a PR now

[2019-08-09 10:23] julianharty commented on #1304
@kelson42 @macgills FYI a year or so ago we had issues reported on the download mirror used for users in India. IIRC there were issues downloading the content using HTTPS (on older Android OS Releases) see #510 for the background. Perhaps it's worth testing any changes on old, mid-range devices (I have several and can test changes when you ask me).

[2019-08-10 10:25] mhutti1 commented on #1333
I do not think there is an easier way. I guess we could delete them. The main issue was a as far as I am aware there was no way to tell whether two mount points pointed to the same file system.

[2019-08-10 10:47] kelson42 commented on #1333
@mhutti1 Yes, file has to be deleted.

[2019-08-10 10:50] kelson42 commented on #1333
RIIA pattern should be used here. Whatever how you get out of the scope, the temporary file should be automatically deleted.

[2019-08-10 10:55] kelson42 commented on #1333
Example of implementation https://docs.juce.com/master/classTemporaryFile.html

[2019-08-10 12:12] kelson42 commented on #1294
@macgills To me, 2.5.2 has fixed the problem, but the PR and the ticket is surprinsingly still open?

[2019-08-10 13:57] siddharth2010 opened #1342 "Multiple instances of the same Zim File visible on Home Screen"
**Describe the bug**

Multiple instances of the same Zim File are visible on the Home Screen.

**Expected behavior**

There should only be one instance per zim file.

**Steps to reproduce the behavior:**
1. Open Kiwix
2. Click on 'Download Books'
2. Download a Zim File
3. Open the Zim File using the notification tray
4. Close all open tabs in the Kiwix app
5. Now, 4 instances of the same Zim file

[2019-08-10 14:36] siddharth2010 opened #1343 "Zim File queue not updated for home screen, (in a specific case)"
**Describe the bug**

If the used leaves the 'Library' activity while Zim file is being downloaded, the file is not displayed on the 'Home Screen' (however the file is still available in the 'Device' tab in the Library activity).

Once the user opens any zim file from the Library activity, the list on the Home Screen is refreshed and all the recently downloaded files are now visible on the home sc

[2019-08-10 14:37] #1294 closed

[2019-08-10 14:59] siddharth2010 commented on #1342
Another weird behaviour is that over time the zim files seem to switch icons

|    |          |         |      |
| :-------------: |:-------------:|:-------------:|:-------------:|
| ![Screenshot_20190810-165443](https://user-images.githubusercontent.com/32238400/62823293-febc9500-bb8f-11e9-8fed-d26c6dcdc3c8.png) | ![Screenshot_20190810-165429](https://user-images.githubusercontent.com/32238400/62

[2019-08-10 15:01] siddharth2010 commented on #1342
I am not quite sure whether this is specific to my device only. could someone please try to reproduce this. Thanks!

[2019-08-10 15:17] abdulwd commented on #1342
Working on this.

[2019-08-10 15:37] kelson42 opened #1344 "With 3.0, it is impossible to search in ZIM file quickly"
With 2.5 I see in the topbar:
* The magnnify glass icon I can click on
* If I click on the title of the ZIM file, I get the search input form

That is how it should continue to work IMO.

[2019-08-11 09:13] siddharth2010 opened #1347 "Git Commit fails because of GitHooks"
**Describe the bug**

I am unable to commit to any branch because the GitHooks are failing.

**Logs**

[code]

[2019-08-11 09:20] mhutti1 commented on #1347
I think this is a MacOS issue. It works fine for me on linux. We should also test Windows.

[2019-08-11 09:50] #1342 closed

[2019-08-11 12:11] #1343 closed

[2019-08-11 14:16] siddharth2010 commented on #1347
Yeah, I just checked it. its working fine on windows.

[2019-08-11 15:14] #960 closed

[2019-08-11 15:37] siddharth2010 commented on #948
This issue has been fixed, (in the sense that the images all have the same dimensions), however, the aspect ratio of the images is not same. and the tabs opened in horizontal orientation appear stretched.

![Screenshot_20190811-173243](https://user-images.githubusercontent.com/32238400/62835982-a0aab300-bc5e-11e9-9b41-c89642ffbb6f.png)

[2019-08-11 16:02] mhutti1 opened #1350 "Search should be available from new tab menu"
It should be possible to search from the new tab menu and the search to open in a new tab.

[2019-08-11 17:08] abdulwd commented on #1344
Clicking on the action bar does not open the search input.

[2019-08-11 17:09] #1344 closed

[2019-08-11 17:10] mhutti1 commented on #1344
Please open a new issue if you support this.

[2019-08-11 17:48] mhutti1 commented on #735
So there are still issues withe these ZIMs. I am going to try look into one now.

[2019-08-11 19:09] Aditya-Sood opened #1351 "Refactor LocalFileTransfer: Use Coroutines instead of AsyncTasks"
- [feature/LocalFileTransfer](https://github.com/kiwix/kiwix-android/tree/feature/LocalFileTransfer) currently uses async-tasks for transferring files, metadata exchange, etc.
- Aim of this ticket is to replace said async-tasks and use rx instead
- <s>I'll be working on this ticket once #1276 has been merged</s>

[2019-08-12 08:59] macgills commented on #1347
`/Users/siddharth/.gradle/daemon/5.4.1/app/src/customexample/info.json (No such file or directory)` this sounds like it is not the hook that is failing but just building in general?
It is possible to skip the hook by using `--no-verify` but that is not recommended

[2019-08-12 09:07] abdulwd opened #1352 "Download button covers the Kiwix logo for RTL scripts"
**Describe the bug**

Download button covers the Kiwix logo for RTL scripts

**Expected behavior**

The download button should remain on the right so that the kiwix logo is not covered by it.

**Steps to reproduce the behavior:**
1. Go to settings and change the app language to any which uses RTL script.
1. Go to the home screen.

**Screenshots**

<img src="https://user-images.githubusercontent.co

[2019-08-12 09:23] abdulwd commented on #1347
On macOS, I'm able to build and install kiwix-android and the custom app.

[2019-08-12 09:23] siddharth2010 commented on #1347
The app seems to build and work perfectly fine.
Also, when I try to commit using android studio, then I am able to commit (after I uncheck "Run Git Hooks")

<img width="250" alt="Screenshot 2019-08-12 at 11 21 13 AM" src="https://user-images.githubusercontent.com/32238400/62855798-70f9ba80-bcf3-11e9-8a4a-c9a46b475c65.png">

[2019-08-12 09:24] abdulwd commented on #1347
@macgills But the hook fails.

[2019-08-12 09:36] mhutti1 commented on #735
The issue seems to be with redirections. @mgautierfr will update kiwixlib to make redirections visible and then the android side will have to handle them.

[2019-08-12 09:42] macgills commented on #1347
here is the [script](https://github.com/kiwix/kiwix-android/blob/develop/team-props/git-hooks/pre-commit.sh) can you try running the gradle command and reporting back?

[2019-08-12 09:46] siddharth2010 commented on #1347
Here is the output:
[code]

[2019-08-12 09:50] macgills commented on #1347
`/Users/siddharth/.gradle/daemon/5.4.1/app/src/customexample/info.json` this path is immensely suspicious, where is the project on disk?

this is the code that is causing this error, it adds custom app flavors dynamically
[code]

[2019-08-12 09:52] siddharth2010 commented on #1347
yes, coming to think of it, this does seem a bit odd.

Here is the project path:
[code]

[2019-08-12 10:05] macgills commented on #1347
hmmm I don't think it would be the GRADLE_HOME variable.... this command should be run in the project directory and I have no good idea why it is going into the `.gradle`

[2019-08-12 10:12] macgills commented on #1347
comment out all of the `map.each { name, directory -> …. }` and check that that still works and there are no other problems

[2019-08-12 10:15] siddharth2010 commented on #1347
Just a second. Actually I am using the embedded Gradle that comes with android studio.
I am trying to install the Gradle via brew and test it.

will get back in a minute

[2019-08-12 10:28] macgills commented on #1347
I mean if you use gradlew it should download the version of gradle specificed in the properties file, it is very handy and ensures everyone is using the same thing

[2019-08-12 10:30] siddharth2010 commented on #1347
oh, got it. yeah. that seems about right..

I will comment out the map.each {...} lines and see that

[2019-08-12 10:30] ciconi opened #1354 "Search order of articles involving spaces"
**Describe the bug**
When searching for articles with one or more space characters, sorting fails:
1. Sort order is broken, articles belonging together are listed apart:
Enter: "The Wolf of " (including one space)
[code]
2. Articles are not shown
Enter: "Gone " (including one space)
"Gone with the Wind" is not shown.
This is probably because the list is too long, to show it completely. If you ente

[2019-08-12 10:34] siddharth2010 opened #1355 "Add main Kiwix banner inside the scrollable region"
**Is your feature request related to a problem? Please describe.**
Making the banner scrollable would add extra space for displaying the zim files.

**Describe the solution you'd like**

Just add the main banner inside the scroll view (along with the recycler view).

[2019-08-12 10:40] abdulwd opened #1356 "Creating a new note crashes the app"
**Describe the bug**

The app crashes when I open a book and click on **New Note**.

**Expected behavior**

The app should not crash and **New Note** should be renamed to **Notes** and moved down the menu.

**Steps to reproduce the behavior:**
1. Open a book.
1. Go to menu -> New Note

**Environment**
- Version of Kiwix Android : develop
- Device : Redmi Note 3
- OS version : Android M

**Logs**
[

[2019-08-12 10:48] #1352 closed

[2019-08-12 11:04] siddharth2010 commented on #1347
ok, so after commenting those lines, it gives a different error.
[Here](https://gist.github.com/siddharth2010/2b0486188b6677a7b9d568fdd9349780) is the error log.

[2019-08-12 11:07] macgills commented on #1347
Compilation is failing due to generated files, hoooo boy.
What JDK/JREs do you have installed?

[2019-08-12 11:12] siddharth2010 commented on #1347
I am using the embedded android studio one. also I have JDK 8 and JDK 12 installed. However, my JAVA_HOME points to the JDK 12.

[2019-08-12 11:15] macgills commented on #1347
That is the problem. Point it at 8 I'd say. You have a [few options](https://stackoverflow.com/questions/18487406/how-do-i-tell-gradle-to-use-specific-jdk-version) but I think setting JAVA_HOME is easiest? Don't know how that will affect other dev work you perform

[2019-08-12 13:28] iadeelzafar opened #1357 "Foreground notification not dismissing automatically"
**Describe the bug**
When you turn on your hotspot, the foreground notification won't dismiss after the second time you turn on your hotspot.

**Steps to reproduce the behavior:**
1. Start server.
2. Stop server.
3. Start server again.
4. Now try to stop it. The server will be stopped but the foreground notification will still be running.

**Screenshots**
Look at the screenshot below, the server h

[2019-08-12 13:38] mhutti1 opened #1358 "Language Activity Test Hangs"
When testing the develop branhc on my Galaxy S8  `testLanguageActivity` hangs.

[2019-08-12 13:38] macgills commented on #1358
I have disabled that and am poised to rewrite in in #1212

[2019-08-12 13:47] macgills commented on #1358
Also I think it works sometimes, I was caught off guard by that damn BaristaRule which by default retries each test 3 times and winds up giving you a different error than what the test actually failed with the first time

[2019-08-12 14:00] siddharth2010 commented on #1347
Yeah!! That fixed it!
Thanks Seán!

[2019-08-12 14:02] macgills commented on #1347
Closing issue, happy days

[2019-08-12 14:02] #1347 closed

[2019-08-12 14:59] abdulwd opened #1359 "Unable to remove Bookmark from bottom bar"
**Describe the bug**

I'm unable to remove an item from bookmarks by using the bottom toolbar. Sometimes the app also crashes.

**Expected behavior**

We should be able to remove bookmarks using the bottom toolbar.

**Steps to reproduce the behavior:**
1. Remove an already bookmarked item using the bottom toolbar it remains bookmarked and also appears in the bookmarks activity.

**Environment**
-

[2019-08-12 15:22] mhutti1 commented on #735
Another update. So redirections are now visible but the issue is we need to know if we are to redirect before we attempt to load our content in order to throw a sane error that can be caught (otherwise we would have to use a hacky response body and listen out out for it). So we agreed to add a simple method to determine the redirect for a url to allow this to be run before attempting to load a pag

[2019-08-13 09:15] abdulwd commented on #912
@siddharth2010 I'm unable to find `Find in page` on the home screen. Can you please double? If it's not present we can close this issue.

[2019-08-13 09:15] siddharth2010 commented on #912
let me just check

[2019-08-13 09:18] siddharth2010 commented on #912
Yeah, so if you click on the :mag: button on the action bar, you get the "find in page" option on the right.

[2019-08-13 09:19] abdulwd commented on #912
I was searching for it in the overflow menu. 😕

[2019-08-13 10:38] julianharty opened #1360 "Improve the gradle build process for custom Kiwix apps"
I've been learning how to build custom Android apps using gradle as part of trying to address a couple of small bugs. Based on these experiences and some discussions with various team members at the hackathon in Stockholm I'd like to help improve the gradle scripts that underpin other build scripts and tools.

I hope I/we don't introduce problems for those tools and would appreciate help testing a

[2019-08-13 10:44] julianharty commented on #1360
See also #900 for an example of building a custom app using another approach. Similarly #1217 contains detailed guidance of building custom apps as of 2017

[2019-08-13 10:47] #1357 closed

[2019-08-13 10:48] iadeelzafar commented on #1357
This issue has been resolved by a simple fix in 635bc4ee8d2a4b47e64013

[2019-08-13 11:24] julianharty opened #1361 "Custom app cannot find contents bug"
**Describe the bug**

**Expected behavior**

**Steps to reproduce the behavior:**
1. Build a custom app e.g. `./gradlew installPhetDebug`
2. Start the custom app on the device. (Optionally copy across a ZIM file to the device.)
3. Wait for it to crash.

**Screenshots**

**Environment**
- Version of Kiwix Android : 2.5.x
- Device : HTC Desire 510
- OS version : 4.4.3

**Logs**
[code]

[2019-08-13 12:06] macgills commented on #1361
`'/storage/emulated/0/Android${File.separator}obb/` that is extremely odd it is not just rendering the fileSeparator

[2019-08-13 12:08] macgills commented on #1361
`"{File.separator}` yup, that 100% explains it FileUtils:40.
I'll fix it

[2019-08-13 12:09] macgills commented on #1361
It was the Lint auto fomat! Oh that is just evil

[2019-08-13 13:18] julianharty commented on #1361
You're racing ahead, just cos we went to lunch. I even had the fix pending :) Anyway, thanks for fixing this. I also added an extra debug log statement which I'll add since creating custom apps has been a bit of a challenge trying to learn how the custom app actually gets configured with the file size, etc.

[2019-08-13 13:19] #1361 closed

[2019-08-13 13:49] macgills commented on #28
Sounds like this should have been closed? @kelson42 reopen if I have misunderstood

[2019-08-13 13:49] #28 closed

[2019-08-13 14:40] julianharty opened #1364 "Custom app crashes when no content found"
**Describe the bug**
The behaviour is similar to #1361 as in the app crashes, however this time the app looks in the right place for the contents :)

The current behaviour of the Android code seems odd, as execution in the `OnCreate()` etc. continues irrespective of whether the contents are found, or not.

This behaviour leads to the app crashing shortly after the `zimFileMissingDialog` has been s

[2019-08-13 15:55] julianharty commented on #1364
The more complete log when the crash happens is:
[code]

[2019-08-14 07:19] Aditya-Sood commented on #1356
@abdulwd you mean 'Add Note'? If so it doesn't happen on my device, even with a fresh install
Give more context about how it happened and more entries in the log if you can

[2019-08-14 08:44] macgills commented on #1356
@Aditya-Sood there is an error with the code as can be seen with the crash report.
`at org.kiwix.kiwixmobile.main.AddNoteDialog.getTextAfterLastSlashWithoutExtension(AddNoteDialog.java:205)`
[code]
some urls do not have extensions so it trys to create a `substring(80, 40)` for example. An update is required here.
@abdulwd  the zim file you had open would have been beneficial to this bug report, Wi

[2019-08-14 10:48] macgills commented on #1319
forgot to update inspection profile too

[2019-08-14 10:49] Aditya-Sood commented on #1356
@macgills are we sure about this? I was using article titles previously but @kelson42 had informed that they are never assured, while urls are

[2019-08-14 10:53] macgills commented on #1356
Positive, I did a release of 2.5.2 because some zim files would not load, the reason they would not load is they had no extensions and a NPE was happening in ZimContentProvider

[2019-08-14 10:54] Aditya-Sood commented on #1356
Did they have a name though? Like instead of `.../Main_Page.html`, atleast `.../Main_Page`?

[2019-08-14 10:56] macgills commented on #1356
yes, they are of that form

[2019-08-14 10:59] Aditya-Sood commented on #1356
So a fix wherein "if the file name doesn't contain a dot (.), I use the whole filename" works?

[2019-08-14 11:08] macgills commented on #1356
if it doesn't have an extension don't remove the extension.
`substring(rightmostSlash + 1, rightmostDot>rightmostSlash?rightmostDot:string.length)`

[2019-08-14 11:39] julianharty commented on #1364
Test strategy for this work is manual, using `adb` commands to create and remove folders and files for the expected contents file (the zim file expected by the custom app).

The commands are mainly covered in https://github.com/kiwix/kiwix-android-custom/blob/master/README.md in terms of transferring a valid ZIM file to the device. Note: the actual filename and location the app looks for is report

[2019-08-14 11:59] #1319 closed

[2019-08-14 12:14] #1364 closed

[2019-08-14 12:17] macgills commented on #1359
Why didn't this issue auto close when the pr was merged? @kelson42 ?

[2019-08-14 12:18] mhutti1 commented on #1359
I don't think the pr was merged?

[2019-08-14 12:20] macgills commented on #1359
Wow, how dumb of me

[2019-08-14 12:21] #1359 closed

[2019-08-14 12:23] macgills commented on #1359
would I have gotten the delete branch prompt if I just closed it? I feel like my internet has been messing me around today, comments not appearing and the like

[2019-08-14 13:26] julianharty opened #1369 "Remove unnecessary work from Custom Apps"
**Describe the bug**
The current codebase for custom apps is shared with the main Kiwix app. Several methods are called in custom apps that are not necessary and may cause poor performance and other bugs.

**Expected behavior**
The custom app only initialises and performs necessary work. (And reciprocally, the main app does not need to perform work (or ideally include code) that's specific to cust

[2019-08-14 13:26] julianharty commented on #1369
Specific example: The call to `searchFiles();` in `OnCreate()` is not needed AFAIK in custom apps.

[2019-08-14 13:29] abdulwd commented on #1356
I'm getting a crash for all zims. ArchWiki 37.5 MB, InstallGentoo Wiki 1.8 MB, Vikidia 4.5 MB are some of them.

[2019-08-14 13:32] julianharty commented on #1369
Please add other examples as we discover them :)

[2019-08-14 13:45] julianharty opened #1370 "Make app Android Monkey friendly, especially when using LeakCanary"
- Our debug builds currently include LeakCanary.
- LeakCanary creates a sibling pseudo-app using an activity name based on the same namespace as the app.
- Android Monkey can be told to only interact with certain activities by specifying the target packagename _however_ as I discovered, this means that Monkey also interacts with the Leaks app associated with the app we want to exercise.
    - Thes

[2019-08-14 13:47] Aditya-Sood commented on #1356
That's weird - I have installgentoo & vikidia, they work fine. Was it a specific article that caused the crash or at the Main Page itself?

[2019-08-14 14:00] Aditya-Sood commented on #1356
@abdulwd can you add `Log.d(TAG, "Url: " + articleUrl);` after line 186 in AddNoteDialog and give us its output when it crashes?

[2019-08-14 14:50] abdulwd commented on #1356
@Aditya-Sood
[code]

[2019-08-14 14:52] abdulwd commented on #1356
The crash is on line 204 because start index > end index.

[2019-08-14 15:03] Aditya-Sood commented on #1356
What article is this?

[2019-08-14 15:19] mhutti1 commented on #1356
I would make sure not to make assumptions about URLs. Be sure to correctly error handle and avoid crashing the app.

[2019-08-14 15:23] julianharty commented on #1356
FYI I reproduced this crash using Android Monkey which triggered the crash after a long stream of events.

[code]
My guess is that for whatever reason, the article was effectively `null` and therefore the call `String notefileName = getTextAfterLastSlashWithoutExtension(articleUrl);` passes an articleUrl of null which causes `int rightmostSlash = path.lastIndexOf('/');` to crash with the NPE

[2019-08-14 15:45] julianharty commented on #1370
Example commands to run Android Monkey to test both Kiwix and a custom app:

`adb shell monkey -p org.kiwix.kiwixmobile  --monitor-native-crashes   -c android.intent.category.MONKEY  -v 3300 -s 1`

`adb shell monkey -p org.kiwix.kiwixcustomphet  --monitor-native-crashes   -c android.intent.category.MONKEY  -v 3300 -s 1`

[2019-08-14 16:43] #1370 closed

[2019-08-14 16:50] Aditya-Sood commented on #1356
@mhutti1 as I had discussed previously, a unique article identifier is the basis for associating a note per article. Right now it's the name of the html file in the url of the article

I'm hopeful that once I know some of the specific articles which cause the crash I'll be able to pinpoint the cause of the error, but is there maybe an alternative fail-safe way of uniquely identifying articles that

[2019-08-14 16:59] Aditya-Sood commented on #1356
@julianharty I'm not familiar with using android monkey - does testing with it involve some interaction on your behalf?

Basically I am not clear about how the menu was accessible when there was no article open

[2019-08-14 17:53] mhutti1 commented on #1356
@Aditya-Sood we should already have the logic to check this for bookmarks, maybe try there?

[2019-08-14 20:29] julianharty opened #1374 "PHeT index does not render in Kiwix Android 2.5 on some devices"
**Describe the bug**
In the Android Log chromium reports a problem when loading index.html for the PhET ZIMs when Kiwix 2.5.x (or a custom app built using the same codebase) loads the PHeT content.

**Expected behavior**
The PhET homepage (a vertical list of images of each of the simulations) should appear in the main contents area (the WebView). The problem does not appear in the custom app avail

[2019-08-14 20:33] julianharty commented on #1374
PS: The strange colours might be related to the following message I see in the android logs for these devices:
`W/AwContents( 5645): nativeOnDraw failed; clearing to background color.`

[2019-08-14 20:39] mhutti1 opened #1375 "Bottom Bar is incorrectly rendered on API 16"
**Describe the bug**
The bottom bar is incorrectly rendered

- Device : Android API 16 Emulator
- OS version : ^

![image](https://user-images.githubusercontent.com/2286937/63054493-3e62e400-bee4-11e9-9050-c29abcd14143.png)

[2019-08-14 20:46] mhutti1 commented on #1375
It seems that the carview doesn't render correctly on API 16. While it may be possible to configure it to, I see no reason not to just use a Linear Layout.

[2019-08-14 21:17] mhutti1 commented on #1374
I couldn't find any files in the ZIM file you shared with me. I can see the issue with English phet though so am debugging that.

[2019-08-14 21:44] mhutti1 commented on #1374
It seems to be working fine sometimes on my Galaxy S8 but never not on my API 16 Emulator.

[2019-08-14 22:10] mhutti1 commented on #1374
Last update of the Night:
2.4 can load the 2018 Phet Zim but not the 2019 Phet Zim on API 16
2.5 can't load either correctly on API 16

2019 Loads in API 28 in 2.5

This seems like very specific javascript features are being used and swapped out.

[2019-08-15 05:38] Aditya-Sood commented on #1356
@mhutti1 from what I could gather (& maybe evident from [this line](https://github.com/kiwix/kiwix-android/blob/develop/app/src/main/java/org/kiwix/kiwixmobile/main/MainActivity.java#L1363)), bookmarks also use article urls to uniquely identify the bookmark

Only difference with notes is that here the file name at the end of the article (like Main_Page from `.../Main_Page.html`) is used to name th

[2019-08-15 07:10] Popolechien opened #1376 "Unable to delete old zim files after re-install"
Here is the reported use case:

- User loses his phone. Gets a new one (Huawei 8X Max / android version 8.1.0) and re-downloads Kiwix and zim files.
- Older zim files cannot be removed
- Uninstalling / reinstalling Kiwix (2.5.2) does not change anything (see below images 1-3)

![Screenshot_20190813-223221](https://user-images.githubusercontent.com/21675885/63078599-4f3f4400-bf3c-11e9-9770-f5c5c381

[2019-08-15 07:41] mhutti1 commented on #1356
Is there a reason you can't just use the whole URL?

[2019-08-15 08:44] macgills commented on #1356
A note is saved as a file so using a full url would create some less than glamorous paths I would think, it may be necessary to save it in a database.
right now it is saved in `{External Storage}/Kiwix/Notes/ZimFileTitle/ArticleTitle.txt` so user visible

[2019-08-15 08:44] Aditya-Sood commented on #1356
I'm using the file name to name the note file - Like `Main_Page.txt` for the url `content://org.kiwix.kiwixmobile.zim.base/A/Main_Page.html`
Using the whole url will, other than being unreadable, probably run afoul of the system by having a very long name

[2019-08-15 08:47] Aditya-Sood commented on #1356
@macgills saving it in a database will prevent the users from accessing the notes from outside the app
I think we don't need to abandon the approach just yet, waiting for one of the actual articles causing the crash

[2019-08-15 08:49] macgills commented on #1356
you can share just text itself, it does not have to be a file

[2019-08-15 08:51] mhutti1 commented on #1356
Hmm. If you wanted to keep the file you could name them "Title - ID" and then link the url to id in a database to allow them to be found by the app.

[2019-08-15 08:57] Aditya-Sood commented on #1356
@macgills I think it will be cumbersome to share each note individually
@mhutti1 not sure I follow, could you clarify the new note file name you're suggesting?

[2019-08-15 09:00] mhutti1 commented on #1356
`Jurassic Park - Note #aedba31`

[2019-08-15 09:16] Aditya-Sood commented on #1356
But this way user's won't be able to tell one note from the other without opening it
One of the advantages of the current setup is that keeping them organised article wise will help someone like a student keep notes for a specific topic & quickly navigate to them

[2019-08-15 09:17] Aditya-Sood commented on #1356
@abdulwd could you share the name of the article for which you have given the url?

[2019-08-15 12:04] julianharty commented on #1374
Some diagnostic tests:
- LG4 running Android 6.0.1 running app version 2018-09 Build 182520 displays the main menu of PhET. The bottom bar (with the various buttons) renders acceptably and the buttons seem to work correctly.

[2019-08-15 12:18] julianharty commented on #1374
- The same LG4 with the latest build of the PhET app (2.5.2) Version 2019-06 Build: 35000004 and the most recent PhET file (from download.kiwix.org 2019-06, as above) also displays the main menu of PhET

[2019-08-15 12:24] #579 closed

[2019-08-15 12:29] #1375 closed

[2019-08-15 12:31] julianharty commented on #1374
The problems may be wider, I noticed a PhET simulation did not load, and then the homepage failed to load twice before loading the third time. There are several lzma errors reported in the LG4_601_logcat_failed_to_load_BalancingAct_sim.txt logcat file. The second attachment is for the failure to load the homepage twice before it then worked.

[LG4_601_logcat_failed_to_load_homepage_twice_then_work

[2019-08-15 13:17] macgills commented on #1376
I have opened up a PR that I believe addresses the root cause.

[2019-08-15 13:19] macgills commented on #1323
@kelson42 `name metadata` refers to the field
[code]
?

[2019-08-15 13:34] julianharty opened #1379 "White text for notes on Android 4.4"
**Describe the bug**
The text appears to be in white on a white background on an older Android release (4.4). The text can be edited, highlighted, and edited. It can also be saved. It *is* visible in night mode on Android 4.4 devices. The issue occurs on a real device (HTC Desire 510) and in an AVD (with a Nexus 5 skin and Android 4.4 with Google APIs).

*** See also ***
In #792 there seems to be

[2019-08-15 13:35] julianharty commented on #1379
Notes: I've tested the functionality on Android 6.0.1 and the text is visible. Additional testing on Android 5.0 and perhaps Android 5.1 may help hone in on the extent of the issue.

[2019-08-15 13:41] julianharty commented on #1356
@Aditya-Sood

Android Monkey is a software tool that is provided by Google with the Android development tools. It has been available for many years and sends key events, etc. semi-randomly at Android apps. See https://github.com/kiwix/kiwix-android/wiki/Automated-Testing for some notes on using it with Kiwix. I'm using the terminal to run it. It might be possible to configure and run it in Android

[2019-08-15 13:44] julianharty commented on #1356
@Aditya-Sood when the article is 'null' then there _isn't_ an article. Often this happens when there is a glitch reading content from the ZIM file. It's a bit like web browsers coping with HTTP errors for content that's requested by a web page, the browser may continue to do the best it can to render content even if there was an error retrieving an image file. I imagine Kiwix Android doing somethi

[2019-08-15 13:51] #1333 closed

[2019-08-15 13:57] macgills commented on #1379
`android:textAppearance="@style/TextAppearance.MaterialComponents.Body1"`
probably aligning the style of the editext is all we need to do if our other text is the correct color.
Probably many issues like this will be solved by #1301

[2019-08-15 13:58] mhutti1 commented on #1379
Yes I have seen a lot of these bugs recently.

[2019-08-15 14:04] mhutti1 commented on #1165
@kelson42 I don't support removing this feature. It was added for a reason and this bug is really not very important, I wouldn't really class it is a bug at all to be honest. The feature is very bare bones for a reason, we don't want users to use it unless necessary. But as a last resort they can enter their own path and select it. Once it is selected it is used and displayed in the menu but won't

[2019-08-15 14:29] mhutti1 commented on #1222
I think there is value in being able to change your language as a user but I really don't know how much this is used.

[2019-08-15 14:31] mhutti1 commented on #1138
Closing as this is being implemented by #259

[2019-08-15 14:31] #1138 closed

[2019-08-15 14:37] mhutti1 commented on #304
I think we should close this as it is covered by other issues at this point.

[2019-08-15 14:37] #304 closed

[2019-08-15 14:45] macgills commented on #1165
…. well I didn't see this comment until just now.
I have a PR removing it there. I don't think this feature has a big value add so I would be in favour of the removal

[2019-08-15 14:54] macgills commented on #1206
#1376 has hopefully fixed this, @Popolechien if you can retest this tomorrow with the nightly that would be very helpful

[2019-08-15 14:55] Popolechien commented on #1206
@macgills It shall be done.

[2019-08-15 14:56] macgills commented on #1206
Vielen danke

[2019-08-15 15:04] kelson42 commented on #1165
@mhutti1 @macgills What is sure is that this feature should work fine and here we suffer at least from two weaknesses like reported by @iadeelzafar. I don't know how the problem should be fixed, but either we fix the current bug or we remove the flacky part of the this external storage selector... But this is assuming the path proposed by @BBT-SeanMacGillicuddy works to a really large extend. Hope

[2019-08-15 15:12] kelson42 commented on #1323
@macgills Not sure to understand your question, here is the spec https://wiki.openzim.org/wiki/Metadata

[2019-08-15 15:41] kelson42 commented on #1326
@iadeelzafar We believe @julianharty might have fixed that bug a few days ago. Are you still able to reproduce it with git develop HEAD?

[2019-08-15 16:42] Aditya-Sood commented on #1356
Thanks for explaining @julianharty, I'll add a null check for article url

[2019-08-15 16:48] Aditya-Sood commented on #1379
I checked this on my device (moto g5s+, oreo), seems to be working. (I had only checked on this device during development as well)
Is this a backward compatibility issue?

[2019-08-15 17:27] DoS007 opened #1382 ""Unknown file system error" when downloading"
**Describe the bug**
Getting content I want to download the in the online tab listed things, e.g. wiktionary or wikipedia. When I click to download in download tab i see "Paused: Waiting to retry". After a few minutes after attempting download it says "Unknown file system error".

**Expected behavior**
It should just download e.g. "wiktionary".

**Steps to reproduce the behavior:**
See "Describe t

[2019-08-15 19:38] mhutti1 commented on #54
Blocked by https://github.com/kiwix/kiwix-lib/issues?q=is%3Aissue+is%3Aopen+label%3Akiwix-android-multizim

[2019-08-15 19:38] mhutti1 commented on #54
Most of the work is done in kiwix-lib but it is not quite there.

[2019-08-15 19:39] mhutti1 commented on #892
This will be supported once #54 is implemented.

[2019-08-15 19:39] #892 closed

[2019-08-15 20:16] mhutti1 opened #1383 "Cleanup Menu"
There are currently too many items in the menu. I propose:

1. Remove Home, find in page and new tab as their functions are available elsewhere.
2. Move Clear all Notes to settings.
3. Rename Add Note to Notes
4. Reorder the Items in order of expected use.

[2019-08-15 20:20] mhutti1 commented on #1383
Also the question of where Get Content should point to and if it should be renamed.

[2019-08-15 20:37] abdulwd commented on #1356
@Aditya-Sood Here are the logs:
[code]

[2019-08-16 08:28] macgills commented on #1379
Yes, compatibility themes are all over the place and you often have to define various styles for api levels, you place a resource in `styles-v{android api number}` and it will use it on that version and below (more info [here](https://developer.android.com/guide/topics/resources/providing-resources#AlternativeResources)) but I think it is pretty unreasonable to manually test your change across 10

[2019-08-16 08:33] macgills commented on #1382
Is the problem persistent? We use an android component called the DownloadManager which has a known problem with blockada #1304 .
If you were updating a lot of apps from the playstore this could cause congestion on your device and prevent a download for a while.
We should detect if there is enough free space when you click on an item but perhaps make some space on the sd card? Or if you can try an

[2019-08-16 08:35] #1165 closed

[2019-08-16 08:35] #1323 closed

[2019-08-16 09:40] kelson42 commented on #1383
It should be renamed in "Library"

[2019-08-16 12:15] macgills commented on #1014
@mhutti1 would this have anything to do with the redirect problem being addressed in #1368 ?

[2019-08-16 12:21] macgills commented on #108
I don't think we have need of this, we have unit tests to guarantee FileSearch.
Maybe if we write a massive e2e test?
With #1212 nearly merged there is a pretty easy mechanism to supply your own mocks/fakes to an activity if you need to.

[2019-08-16 13:00] mhutti1 commented on #1014
I guess it could theoretically. Will be interesting to see if it is fixed by it.

[2019-08-16 13:04] DoS007 commented on #1382
Yes, the problem remains.

I no nothing/don't use of blockada.

I didn't update a lot of apps.

The sd card has plenty of space (i have an 400gb sandisk extreme; i have more than 200gb space). I cannot test another sd card.

When i switch to internal storage, the download directly begins.

Oh and now the app crashed after switchting to extern. I now manually added the storage path, but the problem

[2019-08-16 13:09] Aditya-Sood commented on #1383
@mhutti1 I think 'Notes' will be confusing, since right now the user can view/edit only the note associated with the currently open article
Maybe we leave it as is for now? Otherwise an alternative name could be 'Article note'

[2019-08-16 13:12] mhutti1 commented on #1383
I think Notes is fine.

[2019-08-16 13:14] macgills commented on #1382
Are you using your sd card as internal storage or external storage? If you go to storage in your phone's settings it should let you know or there should be an option to format it as removable/internal. Kiwix works better with an sd card that is formatted as internal storage, if that is an option for you it may be helpful in the short term

If you got to a file explorer there should be a folder `Ki

[2019-08-16 13:23] mhutti1 commented on #108
Ok I think we can close this then.

[2019-08-16 13:23] #108 closed

[2019-08-16 13:25] DoS007 commented on #1382
I use the sd card as external. Internal is for various reasons not an option for me.

Logs:
Maybe this part helps?

[logcat.txt](https://github.com/kiwix/kiwix-android/files/3509773/logcat.txt)

[2019-08-16 14:02] macgills commented on #1382
I am afraid that doesn't help.
This is a bit more to ask of you but if you can install this [development version of kiwix](https://download.kiwix.org/nightly/2019-08-16/2958-kiwix-universal-debug.apk
) and see if the problem persists? You will have to uninstall your current version of kiwix.

You could also try downloading the zim file to internal and then copying over to external? This may produc

[2019-08-16 14:41] mhutti1 opened #1385 "Storage Not Accessible in API 28"
I am unable to access storage on my API 28 emulator.

[2019-08-16 14:44] mhutti1 commented on #1385
Bug
[code]

[2019-08-16 14:50] Aditya-Sood commented on #1356
@abdulwd which zim is this?

[2019-08-16 14:52] abdulwd commented on #1356
I mentioned a few of them. I think I used ArchWiki 37.5 MB.

[2019-08-16 15:00] Popolechien commented on #1206
Tested the nightly:
Good: it does find (and open) files I download with it
Not so good: it does not seem to find files that had been previously downloaded or are located on the external SD card.

[2019-08-16 15:05] DoS007 commented on #1382
Ok, i tried it: I removed the current version, downloaded the versionfrom the link, switched to extern and tried downloading german wiktionary. The same problem appears (first "Paused: Waiting to retry" and after that "unknown file system error"). Logcat.txt seems to be empty?

Downloading internal and copy to external is not a real option for me, because i want to use big wiki with photos.

[2019-08-16 16:09] iadeelzafar opened #1386 "Faulty snake cases in strings.xml"
**Describe the bug**
There are tons of faulty snake cases in the `strings.xml` that need to be fixed. For example:
 `<string name="error_nozimfilesfound">`

**Expected behavior**
Should be `error_no_zim_files_found` . Similarly, all faulty snake cases should be fixed in `strings.xml`.

[2019-08-16 16:39] iadeelzafar commented on #1326
@kelson42 I can't reproduce it anymore. I think this can be closed now.

[2019-08-16 17:05] iadeelzafar commented on #1126
I believe this has been fixed in #1346

[2019-08-16 18:54] mhutti1 commented on #373
/move kiwix/overview

[2019-08-16 18:54] mhutti1 commented on #373
@kelson42 This should be moved to kiwix/overview

[2019-08-16 18:55] mhutti1 commented on #456
Closing this as we should use the standard android toast imo.

[2019-08-16 18:55] #456 closed

[2019-08-16 19:03] kelson42 commented on #714
@Popolechien I will close this ticket as the discussion about the real problem (from user perspective) is not properly set and the topic quite difficult to handle within a ticket of kiwix- android.

[2019-08-16 19:03] #714 closed

[2019-08-16 19:04] mhutti1 commented on #837
Custom locations are now removed as of #1165 so I am closing this.

[2019-08-16 19:04] #837 closed

[2019-08-16 19:07] mhutti1 commented on #978
I don't think this is problematic enough to warrant changing.

[2019-08-16 23:56] metal450 commented on #837
Does that mean it will now use the proper location in Android/data/(app-path)/files?  Or it will just go back to cluttering up the top-level storage in a hard-coded path (per my comment above from Nov 2018)?

[2019-08-17 04:06] Aditya-Sood commented on #1385
IIRC starting from Pie there was a change in how files could be accessed. With the new scoped storage, apps can only access those directories which they've created themselves. For other directories, the user needs to explicitly grant access for each of them. So just having `WRITE_EXTERNAL_STORAGE` permission won't suffice.

[2019-08-17 08:30] mhutti1 commented on #837
We will continue using our current setup for now. This can vary based on device configuration. If you have a specific issue with this I suggest making a new issue.

[2019-08-17 08:31] mhutti1 commented on #1385
We will likely need to work out a workaround for this then.

[2019-08-17 10:00] julianharty commented on #1261
This bug exists in the current (2.5.x) releases and occurs many times a day (1899 times in 60 days). @abdulwd fixed this issue in the 3.0 codebase, please could we back-port it to 2.5.x and make a bug-fix release so that we reduce the crash rate for the app in production?

[code]

[2019-08-17 10:14] julianharty commented on #1261
@kelson42 Here's the issue I mentioned which I hope would be worth deploying a fix for in 2.5.x to reduce the crash rate for our users (and improve our ranking in Google Play).

[2019-08-17 10:42] julianharty commented on #1259
FYI here are some summary details from Android Vitals in the last 60 days for this failure. The figures for 2.5.2 are lower than 2.5.1. My guess is this is because 2.5.2 is still relatively new.

| Release | error | crashes | users affected |
| ------------- | ------------- | ------------- | ------------- |
| 2.5.1 | java.lang.UnsatisfiedLinkErrorin org.kiwix.kiwixlib.JNIKiwix.<clinit> | 1,769 | 2

[2019-08-17 11:28] MidUK commented on #1382
I also have this exact same problem.

I thought it might be because my SD card is FAT32 formatted and the file is being downloaded as a massive file (>4GB).

I tried switching to the internal storage and downloading. This works fine but because I need the internal storage for other things, this also isn't an option for me but it seems the file size could be a problem.

One additional thing to note

[2019-08-17 12:39] DoS007 commented on #1382
I looked up the permission setting in android, and kiwix as storage access.

I tested big file, copied ~5,4 GB file from computer to sd card no problem.  So the 4GB limit should be no problem. But anyways the problem also appeared with wiktionary which is only 1GB. So storage limit shouldn't be the cause.

[2019-08-17 12:45] julianharty commented on #1260
@macgills  @kelson42 As a request, could we include this fix in a 2.5.3 bug-fix release please? It's a long-standing crash that's pervaded the apps for years and continues to affect users running 2.5.x (as well as those on older Kiwix releases).

`java.lang.IllegalArgumentException org.kiwix.kiwixmobile.utils.files.FileUtils.contentQuery`
The line number is sometimes 159 and sometimes 156 (possibl

[2019-08-17 13:06] MidUK commented on #1382
You're right - I've just checked with small downloads in Kiwix and they have the same problem.

Reading about another issue on here, it looks like it could be an Android Pie problem and the way permissions are requested.

[2019-08-17 13:36] kelson42 commented on #373
/move openzim/overview

[2019-08-17 13:37] #373 closed

[2019-08-17 13:52] kelson42 commented on #1382
@MidUK @DoS007 Even if the problem is not reproducible on our end, we don't exclude of course a weakness/bug in Kiwix. But might it be that you have a problem with this special SD cards. Does it fail in the same way with an other SD card?

[2019-08-17 14:22] DoS007 commented on #1382
I use Samsung Note 8 on Stock Android Pie. I use as SD Card: "SanDisk Extreme 400GB microSDXC Memory Card + SD Adapter with A2 App Performance, up to 160MB/s, Class 10, UHS-I, U3, V30" which works flawlessly with every other app.

I currently cannot try another sd card.

Is there any other information which could help: E.g. path to memory card or trying another kiwix modified version with other lo

[2019-08-17 14:37] MidUK commented on #1382
I'm using a Sandisk 128 Ultra SD card.

I've just tried with a Samsung Pro and it had the same problems.

Likewise there are no problems using other apps. All my apps use external storage.

[2019-08-17 15:39] jhbiggs commented on #932
Is this still a valid issue?

[2019-08-17 17:18] metal450 commented on #837
...So before I do that, just to clarify: what will now happen if an existing install (that had a custom storage location) is updated to the current version?  Will it go back to recreating the hardcoded /Kiwix folder at the root of the storage, and move the files back there? Or will it still keep using them at the previous location?

I just updated to 2.5.2, but in that version at least, the option

[2019-08-18 05:39] Aditya-Sood commented on #932
@jhbiggs I haven't heard back from anyone or faced the problem when I was trying to recreate it, so not sure if it is

[2019-08-18 09:28] mhutti1 commented on #932
I would imagine it is still valid.

[2019-08-18 14:55] jhbiggs commented on #1386
I updated the strings, but somehow can't commit anything to the branch I created.  Error message shows
 * What went wrong:
Task 'ktlintKiwixDebugCheck' not found in project ':app'.
Any suggestions are welcome.

[2019-08-18 15:06] kelson42 commented on #1386
@macgills Might you be able to help @jhbiggs? Does this has to do with the new git hooks?

[2019-08-19 08:18] #1326 closed

[2019-08-19 08:22] macgills commented on #1126
I would think this still exists, when we delete a file that is currently open by ZimContentProvider we need to clear it from that I believe

[2019-08-19 08:38] macgills commented on #1382
#1385 this is an issue we will be addressing shortly. Thank you for the reports

[2019-08-19 08:46] macgills commented on #1386
It does, but if @jhbiggs branched off of any recent develop commit then `ktLint` task should be available. Worst case go to `.git/hooks` in the project and delete `pe-commit`

[2019-08-19 08:56] macgills commented on #1385
This is [thorny](https://developer.android.com/preview/privacy/scoped-storage) but it looks like we can kick the problem down the line to a later release by doing this
[code]

[2019-08-19 09:13] #1261 closed

[2019-08-19 09:16] macgills commented on #1206
@Popolechien that is a symptom of #1385 can you try on an earlier android version?

[2019-08-19 09:34] Popolechien commented on #1206
Let me ask around, I may be able to get one early next week.

[2019-08-19 09:42] macgills commented on #1206
just not 9. I will probably have a fix for that issue pushed by later today and ideally merged tomorrow so don't stress yourself

[2019-08-19 11:37] macgills commented on #1385
Tch, ScopedStorage is 29>=, this is a problem on 28. The end solution might be similar to supporting Scoped Storage

[2019-08-19 12:16] macgills commented on #1385
After reading all of [The Death of External Storage](https://commonsware.com/blog/archive.html) articles I have concerns. Particularly in the [performance](https://www.xda-developers.com/android-q-storage-access-framework-scoped-storage/) department

[2019-08-19 15:01] Aditya-Sood commented on #1385
@macgills is it a problem if we shift to using the new app-specific directory `/data/media/{user}/Android/...` instead? We won't have to use the 'Storage Access Framework' then (& avoid the performance issues I guess)

As long as zims are downloaded through app (internet or local file transfer), we can restrict the zims to that directory. Only downside is that it will become non-trivial for a user

[2019-08-19 15:07] macgills commented on #1385
I tried to set the download location in downloadManager to the internal directory on removable storage and it still errored, possibly because downloadManager does not have the permissions to write to our internal removable directory? I need to do a lot more investigation

[2019-08-19 16:57] kelson42 commented on #1382
@macgills If we understand the root cause of the symptoms our users reported and this is already treated in #1385, could we close that ticket as duplicate?

[2019-08-19 17:27] kelson42 commented on #1386
@macgills Does all what is needed to @jhbiggs to commit properly is explained in the CONTRIBUTING.md file? It seems I don't and he doesn't understand the problem.

[2019-08-20 09:38] florian29 commented on #864
The issue is solved now with Kiwix APK 2.5.1/2.5.2 and the new ZIM file wikipedia_de_all_maxi_novid_2019-08.zim.
The issue can be closed. Thank you!

[2019-08-20 09:43] macgills commented on #1382
Will do, closing as duplicate

[2019-08-20 09:48] macgills commented on #1386
@kelson42 it shouldn't really need explaining, this only happened because jhbiggs was on a branch that did the automatic install/format that relies on a dependency and then they switched to an older branch that did not have it. Any branch off of develop will now have it.
The problem is that git hooks are not strictly in version control and must be installed, I have piggybacked on a gradle command

[2019-08-20 12:27] macgills commented on #1385
Api 28 P 9.0: Can only write to sd card location that are private to your app, can read from sd card, downloadmanager can not save files directly to sd card
Api 27 O 8.1: can't find sd card??? emulator bug?
Api 26 O 8.0: can't find sd card??? emulator bug? It shows one storage but changes its mind on wether it is internal or external

This is very [complex](https://stackoverflow.com/a/40201333).

[2019-08-20 12:28] macgills commented on #1385
@kelson42 I will keep working through emulators and if anyone else wants to verify my findings that could be helpful

[2019-08-20 13:17] macgills commented on #1385
There is a 4th unsavoury option
**Give us root** so we can do whatever we like when we like it. Terrible option for all but the superuser

[2019-08-20 13:39] macgills commented on #978
I find it pretty annoying and it is a most a one line fix? Also this happens on ZimManageActivity

[2019-08-20 14:12] #1382 closed

[2019-08-20 15:58] macgills commented on #1386
@jhbiggs please revert your changes. To begin development of a new feature a branch should occur off of develop and not master. The history on the branch is very odd, please review [contributing guidelines](https://github.com/kiwix/kiwix-android/blob/develop/CONTRIBUTING.md)

[2019-08-20 16:23] MidUK commented on #1385
May I suggest an alternative option?

Allow users to download ZIMs in 4GB chunks so we can manage file storage ourselves.

[2019-08-20 16:55] macgills commented on #1385
@MidUK that was the solution we were using prior to 2.4 and found it to be slow and error prone. I don't think this solution is viable for the 3.0 milestone but I would say we are open to reimplementing the feature in the future either as experimental feature to be enabled in settings or as a full scale download replacement.

[2019-08-20 17:09] MidUK commented on #1385
I hadn't realised there was a location to be able to download ZIM chunks. Secondly, I fear that there isn't the information to get those chunks working once copied onto the SD card (does it need to be in a specifically labelled folder or do I just dump them in the Kiwix folder and Kiwix auto detects them).

Just out of curiosity, for any other users reading this, what reason do you not download th

[2019-08-20 20:53] abdulwd commented on #1385
@macgills IMO we should replace the download manager with Fetch for all APIs if there's no con apart from rewriting the code. I also found this library some time ago https://github.com/lingochamp/okdownload

[2019-08-20 21:05] abdulwd commented on #1385
I think Fetch is better we can also use it to share zims between devices.

[2019-08-21 08:52] macgills commented on #1385
@MidUK It is a dense topic. SD cards were not officially supported in android until 4.4 (surprising I know) and we support 4.0.3-9.0. Android's ability to report an SD card even being present varies wildly by manufacturer and version and even then the permission to write to these sd cards changes.
We choose the kiwix folder because it is very public and easily accessible to users and we want those

[2019-08-21 08:58] macgills commented on #1385
@abdulwd replacing with fetch seems like the most frictionless way forward. We do lose the functionality of the downloads continuing outside of our app and we would have to move zim files to our private storage (only on sd cards?) so they will now be deleted on uninstall.
We currently have zim file sharing thanks to Aditya so it may not be necessary to replace that with fetch

[2019-08-21 09:48] macgills commented on #1181
@kelson42 I think this should be moved to 3.1, custom apps should get more attention then

[2019-08-21 10:17] macgills commented on #1356
I have also noticed a bug when you click on History with no zim file loaded, very easy to do just do it on a fresh install without first downloading. This seems to me to be a more fundamental problem with this ui being open and these options being present.
Not that there is anything else to be done for this ticket but something to consider for #1245 perhaps? Breaking the UI with the banner and lis

[2019-08-21 10:27] macgills commented on #1383
If we call it notes my expectation when I click on it that I would see a list of all notes for the current zim file, clicking on these notes would open them and maybe also some buttons to share/delete a note or navigate to the article where I made the note, basically a bookmark with associated text.

[2019-08-21 10:36] macgills commented on #62
@mgautierfr I believe this issue should be moved to kiwix-lib, can you confirm this?

[2019-08-21 10:53] macgills opened #1391 "HistoryActivity crashes when ZimFile is null"
**Describe the bug**
HistoryDao tries to perform a lookup matching null

**Expected behavior**
HistoryActivity launches and shows a blank screen

**Steps to reproduce the behavior:**
Click on history on a fresh install

[2019-08-21 12:29] #1391 closed

[2019-08-21 13:23] macgills commented on #1379
I will close this ticket, the full overhaul of styles to support night mode will render this obsolete

[2019-08-21 13:26] #1379 closed

[2019-08-21 13:28] macgills commented on #1119
I would say we can close this ticket @kelson42

[2019-08-21 16:38] kelson42 commented on #1119
@MidoHosny We believe to have fixed the bug behind the problem you have reported. Please re-open it if you still suffer from the same bug.

[2019-08-21 16:38] #1119 closed

[2019-08-22 07:35] Popolechien opened #1396 "Random button works... randomly"
There is a couple of instances where clicking the random button will not open a new article (android 9 / 2.5.3). This actually happens a lot more often with the 3.0 nightly.

[2019-08-22 07:51] Popolechien opened #1397 "Kiwix 2.5.3 / 3.0 does not consistently look for files from previous installs."
I noticed this while testing/comparing both nightly and 2.5.3 (android 9)

- I downloaded a zim file from the nightly (3005 from 19.08) and it was stored on my internal download folder. Yet, it could not find the zim file that had been stored on my external storage (at least not within a few minutes; at some point I just gave up waiting).
- I then uninstalled the nightly and re-installed 2.5.3: th

[2019-08-22 09:27] macgills commented on #1397
#1385 so first of all how did you get a file onto external storage on 9.0? Did you manually add it there? It should be completely impossible to download to an external sd card on 9.0.
I fixed the indefinite scanning bug yesterday in https://github.com/kiwix/kiwix-android/pull/1394, no files were being scanned in 9.0 because some code was throwing an exception.

I don't think we support downgrading

[2019-08-22 09:29] Popolechien commented on #1397
@macgills The file was there from a previous install (pre 9.0).
Are you basically saying that from 9.0 onwards people won't be able to store content externally? (not just Kiwix users but everyone out there?)

[2019-08-22 09:31] macgills commented on #1397
The ticket I linked has all the details, I talked with @kelson42 for 1hr+ about it yesterday. I am working on a solution.
TL:DR apps can't write to public places on an SD card in 9.0

[2019-08-22 09:32] Popolechien commented on #1397
Ok. Closing this then?

[2019-08-22 09:32] #1397 closed

[2019-08-22 12:06] #1212 closed

[2019-08-22 15:37] macgills commented on #1396
Successful random article
[code]
Unsuccessful random article
[code]

[2019-08-22 16:31] vertigo220 commented on #1396
Love the title. So, a couple things I've noticed in testing this out are that the blue loading bar across the top shows every time, regardless of whether it actually loads a new article or not and it seems to work a bit more consistently (though still only about 50% of the time) when either hitting the random button every second or so or every 10 seconds, whereas doing it every ~4 seconds seems to

[2019-08-22 22:09] DoS007 commented on #1385
I'm a user without programming know how. just want to say: Downloading on internal and then copying on external is often on big things like wiki with pictures not possible.

[2019-08-23 05:55] abdulwd commented on #1385
@macgills Files can be saved to the Kiwix folder using Fetch, if we encounter some error then we can try the private storage.

[2019-08-23 07:59] Popolechien commented on #1376
User reports that the issue is still there with 2.5.3. Should I reopen the issue and/or ask for more info?

[2019-08-23 08:11] macgills commented on #1376
No, the fix is for 3.0, 2.5.3 was a very minor update

[2019-08-23 08:11] #1376 closed

[2019-08-23 08:34] #1356 closed

[2019-08-23 10:14] macgills commented on #1385
On 28 you cannot save files onto an sd card anywhere but private, for uniformity of code and user experience I will be exclusively using private storage to save files.
In the future we may start using Storage Access Framework (in tandem with Fetch) but for now that is not supported on all apis we support and is not backported.

[2019-08-23 12:47] julianharty opened #1398 "High Crash Rate JNIKiwix reported in Android Vitals"
**Describe the bug**
There are ongoing crashes reported in current (2.5.3) and prior releases of the Kiwix Android app related to JNIKiwix. Two crash clusters are reported in Android Vitals, the second seems to be all the crashes on Android 6.0, the first has crashes on other Android Releases. I don't know why Android Vitals deems them to be distinct (that's a separate topic from fixing the proble

[2019-08-23 13:01] julianharty commented on #1398
Some extra info, these crashes are reported in _some_, *not all*, of our custom apps in addition to Kiwix.
- These counts are for 60 days to Monday 19th August 2019 (before 2.5.3 was rolled out).
- Note: the counts are a subset of the overall crashes in this period, these are the count of the stack traces we obtained from Android Vitals.

[code]
No JNIKiwix crashes reported in
[code]

[2019-08-23 13:09] julianharty commented on #1259
**Describe the bug**
There are ongoing crashes reported in current (2.5.3) and prior releases of the Kiwix Android app related to JNIKiwix. Two crash clusters are reported in Android Vitals, the second seems to be all the crashes on Android 6.0, the first has crashes on other Android Releases. I don't know why Android Vitals deems them to be distinct (that's a separate topic from fixing the proble

[2019-08-23 13:09] julianharty commented on #1259
Some extra info, these crashes are reported in _some_, *not all*, of our custom apps in addition to Kiwix.
- These counts are for 60 days to Monday 19th August 2019 (before 2.5.3 was rolled out).
- Note: the counts are a subset of the overall crashes in this period, these are the count of the stack traces we obtained from Android Vitals.

[code]
No JNIKiwix crashes reported in
[code]

[2019-08-23 13:09] julianharty commented on #1398
Merging with #1259 and I'll close this one.

[2019-08-23 13:09] #1398 closed

[2019-08-23 13:48] julianharty opened #1399 "Medium Crash Rate: ISO3 reported in Android Vitals"
**Describe the bug**
Android Vitals reports ongoing crashes that mainly happen in 2.5.x of Kiwix Android, however the issue seems to have started previously and similar crashes are reported in earlier releases and in some of the custom apps. We have about 1.2 of these crashes reported per day (see screenshot below)
[code]
No ISO3 crashes reported in
[code]
**Expected behavior**
The app to work cor

[2019-08-23 16:00] kelson42 commented on #1330
After release of 3.0 we should re-evaluate if this is necessary.

[2019-08-23 16:01] kelson42 commented on #1304
@macgills Does moving to Fetch would help here?

[2019-08-23 16:04] kelson42 commented on #1136
@julianharty Are you happy with new sharing feature? What should we do next we this ticket?

[2019-08-23 16:07] kelson42 commented on #1125
Kiwix is a ZIM file browser. Like @siddharth2010 said, this is the intend behaviour to open Web links in a Web browser.

[2019-08-23 16:07] #1125 closed

[2019-08-23 16:11] kelson42 commented on #915
@ARR8 I think we have fixed this in the last libzim, but this need to be confirmed.

[2019-08-23 16:12] kelson42 commented on #893
I think we have finally fixed this pb in the libzim. This will need to be confirmed.

[2019-08-23 16:14] kelson42 commented on #596
@macgills I strongly suspect this will be clarified with 3.0?

[2019-08-23 18:19] dakkad commented on #1399
Is this realated to https://github.com/zaeemsiddiq/kiwix/blob/998260793142a142068e05d46d4b92f015712114/kiwix/android/src/org/kiwix/kiwixmobile/utils/LanguageUtils.java#L112 where the method can return null if the iso3 string is not listed in the set of Locale.getAvailableLocales().getISO3Language() set?

[2019-08-24 07:43] dakkad commented on #1259
One developer has reported that they are seeing similar behaviors associated with 64 bit build support and they were able to resolve the issue with NDK filters: https://medium.com/mobiwise-blog/unsatisfiedlinkerror-problem-on-some-android-devices-b77f2f83837d or https://support.crashlytics.com/knowledgebase/articles/605193-unsatisfiedlinkerror-exception-for-ndk suggests re-configuring builds inclu

[2019-08-24 10:12] kelson42 commented on #1259
@dakkad Thank you for your analysis and hint.
@macgills What is the status on this issue? Do you need something from @mgautierfr ?

[2019-08-24 10:50] kelson42 commented on #451
@Nair18 @abdulwd @mhutti1 Do you think or can confirm that the problem is fixed in versions 2.5.3 or 3.0.0?

[2019-08-24 16:26] kelson42 commented on #547
This is now written in the first paragraph of the README.md.

[2019-08-24 16:27] kelson42 commented on #547
@kanupriyaa Any news on your side?

[2019-08-24 18:00] Aditya-Sood commented on #1116
Android Studio 3.5 has a stable release now, I'll get to this

[2019-08-24 18:16] jhbiggs commented on #681
@abdulwd Please let me know how this commit works for you all.

[2019-08-24 19:04] kelson42 commented on #347
We don't have experienced this problem since more than a year. I will assume the bug has been fixed meanwhile.

[2019-08-24 19:04] #347 closed

[2019-08-24 19:10] kelson42 commented on #317
@julianharty @macgills I would like to get a chance to close this ticket with 3.0.

[2019-08-24 19:19] kelson42 commented on #1322
This has been fixed.

[2019-08-24 19:19] #1322 closed

[2019-08-24 19:23] kelson42 commented on #1033
@JensKorte Thank you for your report, would you please be able to tell us if the problem still occur with the version 2.5.3?

[2019-08-24 19:27] kelson42 commented on #831
@macgills Do you think we could close that ticket with 3.0? This was with the same tablet like yours?

[2019-08-24 19:31] kelson42 commented on #590
"Read aloud" is the feature to read full article or selection. You can access it via the app. menu.

[2019-08-24 19:31] #590 closed

[2019-08-26 06:33] #681 closed

[2019-08-26 08:20] macgills commented on #1330
Can we also specify which search this is referring to?

[2019-08-26 08:20] macgills commented on #1304
Yes, users would be able to whitelist our app through blokada

[2019-08-26 08:26] macgills commented on #596
All files will be in app private storage whether that is internal or removable storage so it will be deleted on uninstall

[2019-08-26 08:36] macgills commented on #1259
We are now using reLinker which I believe should impact our crash rate. I will close this issue and revisit it after the 3.0 release with some pertinent crash data.

[2019-08-26 08:36] #1259 closed

[2019-08-26 08:41] macgills commented on #547
![image](https://user-images.githubusercontent.com/3358282/63677747-90a9dc00-c7e5-11e9-80c6-96bd0e178bda.png)
We have 3 listviews left.

[2019-08-26 08:44] kelson42 commented on #547
@abdulwd @siddharth2010 Would you be able to help here?

[2019-08-26 08:45] kelson42 commented on #596
OK, so this can be considered to be done in 3.0.

[2019-08-26 08:45] #596 closed

[2019-08-26 09:10] macgills commented on #831
This ticket is "Retrieving a list of writable storages is failing" and is a much more general issue. I wasn't intending a massive overhaul of storage detection as part of my work on replacing the downloads and moving the storage location

[2019-08-26 09:20] macgills commented on #317
general issues should be avoided (I have made this mistake myself) and to group things we should label them appropriately, this would be my suggestion.
Focused conversations on the constituent errors should be the best way to resolve problems.

[2019-08-26 09:27] kelson42 commented on #317
@macgills Agree

[2019-08-26 09:27] #317 closed

[2019-08-26 11:59] kelson42 commented on #616
@Aditya-Sood @mhutti1 @macgills Should we not close that ticket, now that this feature has been implemented by @Aditya-Sood?

[2019-08-26 12:01] macgills commented on #616
This is done by Aditya, closing

[2019-08-26 12:01] #616 closed

[2019-08-26 12:02] kelson42 commented on #1329
@iadeelzafar What is the status on this?

[2019-08-26 12:02] kelson42 commented on #1325
@iadeelzafar What is the status on this?

[2019-08-26 12:04] kelson42 commented on #1328
@iadeelzafar What is the status on this? What will be the exact impact? How many users will be impacted?

[2019-08-26 12:09] iadeelzafar commented on #1328
@kelson42 This is no more relevant. Since now we don't ask for **MANAGE_WRITE_SETTINGS** permission. Now we're telling the user to turn on hotspot manually on devices<Oreo.

[2019-08-26 12:12] iadeelzafar commented on #1329
@kelson42 I'll send you a newer APK and you can test on this device to confirm if this issue has been resolved.

[2019-08-26 12:13] iadeelzafar commented on #1325
@iadeelzafar This one has been resolved in 45208f64a712fa647b82c5ef981e7a5acf235828 . I tested it on a number of Android Pie devices and we're getting the correct ip address now. I believe this can be closed.

[2019-08-26 12:14] #1325 closed

[2019-08-26 12:19] iadeelzafar commented on #1325
**Conclusion in relevance to this ticket's description:**
We were already getting the correct ip address on Android Pie. But we were unable to host the server due to some other reason which was resolved later on. So, ip address was never the issue.

[2019-08-26 12:41] abdulwd commented on #547
@macgills Should we convert storage_select_dialog to recycler view?
@kelson42 I will try to complete one of these on this weekend.

[2019-08-26 12:44] macgills commented on #547
Yes, storage select dialog is now internal to our codebase and should be treated with the same rigor.

Just to reiterate my earlier advice:

[2019-08-26 13:15] kelson42 commented on #1328
@iadeelzafar Thx for the feedback. Therefore, I'll close the ticket.

[2019-08-26 13:15] #1328 closed

[2019-08-26 13:19] kelson42 commented on #831
@macgills This is an old ticket, even maybe outdated... and this was on my tablet (like yours), so I will close the ticket for now (I can not reproduce it anymore).

[2019-08-26 13:19] #831 closed

[2019-08-26 13:36] kelson42 commented on #1330
@macgills This is the suggestion system, but we will have a similar challenge one time we will implement the fulltext search.

[2019-08-26 17:33] Aditya-Sood commented on #1116
The AOSP gradle plug-in implementation might still be a little buggy, because despite numerous attempts with `release` [marked](https://github.com/kiwix/kiwix-android/compare/develop...Aditya-Sood:hotfix/1116?expand=1#diff-39e7d8c00954e920b98e7636f0ac30b2R304) as the default build-type, it's still picking `debug` (customExampleDebug) as the default build-variant. [Other users](https://issuetracker

[2019-08-26 19:21] geekRishabhjain commented on #1350
Ya, I also found creating a new opens up completely blank. I found this not looking good. BTW, Hi, the community I am new to kiwix-android. Found this app useful and felt like contributing.

[2019-08-26 22:28] mhutti1 commented on #451
I am not sure it is fixed. I would assume it might not be.

[2019-08-26 23:02] mhutti1 commented on #1383
@macgills I think that that is out of the scope of this issue though. Maybe we can call it Note?

[2019-08-27 09:12] macgills commented on #1383
Yeah completely out of scope.
"Note" or "Article Note" are A OK with me

[2019-08-27 09:34] macgills commented on #1116
`debugKiwix` is meant to be the default variant.

you are re-importing the project each time? If we can mark the flavor `isDefault=true` and that actually works that would be cool

[2019-08-27 11:50] Aditya-Sood commented on #1116
Yes - in fact I cloned a new copy of the repo (in a new location) every time and imported it to avoid having Studio use the build-variant used in the previous import (if that's possible).

It's supposed to pick the build-type marked with `isDefault = true` (syntax for selecting a flavour hasn't been explicitly specified yet). So it should be selecting `release` instead of `debug` (selecting `debug

[2019-08-27 12:04] macgills commented on #1116
if it doesn't select flavour then it is useless to us as it already defaults to debug. We don't want it to be release

[2019-08-27 12:13] Aditya-Sood commented on #1116
@macgills the AOSP commit says it's supposed to allow setting of a default variant. Maybe they'll fix it soon - It only got available last week I think, with Studio 3.5's release

[2019-08-27 12:20] macgills commented on #1116
Yup, lets hope

[2019-08-27 12:49] CheshtaK commented on #390
I'd like to work on this issue, can I please go ahead and do that?

[2019-08-27 12:55] macgills commented on #390
@CheshtaK please do. Just give our contributing guidelines a quick read first please, it might be best to click on them in the repo as opposed to following the links on the readme those are linking to slightly old copies right now but will be updated on the next release

[2019-08-27 14:14] #735 closed

[2019-08-27 14:52] rajput2122 commented on #1355
I want to work on this issue. Can you please elaborate more?

[2019-08-27 15:08] rgaudin opened #1407 "Use new tagging system"
In order to support the [new tagging system](https://wiki.openzim.org/wiki/Tags), please make sure your reader:

* is feeding itself from the OPDS stream (using a local cache/copy or not) #1203
* is using the [centralized Categories List](https://github.com/kiwix/kiwix-tools/issues/317) #500
* <s>is using the lastest libkiwix (not released ATM). It supports new options and includes the backward-om

[2019-08-27 15:11] macgills commented on #1355
![image](https://user-images.githubusercontent.com/3358282/63783496-08126500-c8e5-11e9-910f-40deed40d00f.png)
this is the banner with list.
![image](https://user-images.githubusercontent.com/3358282/63783562-1f515280-c8e5-11e9-95a2-05bdfc89f2dc.png)
this is after partially scrolling the list.
This ticket is about making the banner scroll too, I have my doubts if adding it to the Scrollview would w

[2019-08-27 15:18] macgills commented on #1355
@rajput2122 yes we do want to pursue this functionality! As per #798 that was decided.
I will assign the ticket to you

[2019-08-27 18:43] geekRishabhjain opened #1409 "Test Custom App not getting Started"
**Describe the bug**
Test Custom App won't start. Keep on asking for Go to play store. Leak detected.

**Expected behavior**

The app should run fine when done build and run on android studio.

**Steps to reproduce the behavior:**
I got this code cloned, ran it in android studio and tried to run the app on my android phone.
Running the app instead of installing kiwix installs two apps test custom

[2019-08-27 18:46] iadeelzafar commented on #1409
Hi Rishabh, can you please confirm that you're using the correct **BUILD VARIANT**. You have to select **`kiwixDebug`**.
There's a left pane in android studio where you'll see `Build Variants`. There you can select the correct one.

[2019-08-27 18:54] geekRishabhjain commented on #1409
@iadeelzafar thanks, its working fine now.

[2019-08-27 18:54] #1409 closed

[2019-08-27 19:00] geekRishabhjain commented on #1302
@Aditya-Sood the app still crashes on my device

[2019-08-27 19:59] parasg97 commented on #390
how do I unsubscribe to this thread?

[2019-08-28 01:27] Aditya-Sood commented on #1302
@geekRishabhjain can you share the logs?

[2019-08-28 08:04] macgills commented on #390
![image](https://user-images.githubusercontent.com/3358282/63837125-c4663c80-c972-11e9-8976-014a906a5e9a.png)
I assume you have similar options to myself @parasg97

[2019-08-28 08:52] macgills opened #1410 "Lint Baseline Issue: IconDensities"
**Describe the bug**
The lint issue IconDensities must be resolved and density splits re-enabled.

**Expected behavior**
All icons are supplied at all densities and the correct size for their density. The app should install without problem on all densities we support

**Steps to reproduce the behavior:**
With density splits enabled try to install on a hdpi emulator.

[2019-08-28 09:21] siddharth2010 commented on #390
@parasg97 , you can also unsubscribe from Gmail itself.

![image](https://user-images.githubusercontent.com/32238400/63843019-52f2b200-c9a3-11e9-8274-f64a1ca4bfae.png)

[2019-08-28 13:38] geekRishabhjain commented on #1302
@Aditya-Sood
Here is the log:

    Process: org.kiwix.kiwixmobile, PID: 24655
    java.lang.NullPointerException: Attempt to invoke virtual method 'int java.lang.String.lastIndexOf(int)' on a null object reference
        at org.kiwix.kiwixmobile.main.AddNoteDialog.getTextAfterLastSlashWithoutExtension(AddNoteDialog.java:185)
        at org.kiwix.kiwixmobile.main.AddNoteDialog.getZimNoteDirectoryN

[2019-08-28 13:47] macgills commented on #1302
@geekRishabhjain you can confirm this is using the latest code on develop branch?

[2019-08-28 13:50] macgills commented on #1302
I suspect not as AddNoteDialog line 185 for me is
[code]

[2019-08-28 14:02] geekRishabhjain commented on #1302
@macgills Tell me if I am doing something wrong here. I am new to contributing to open source organizations.
`git remote -v`
shows me following

origin	https://github.com/geekRishabhjain/kiwix-android.git (push)
upstream	https://github.com/kiwix/kiwix-android.git (fetch)
upstream	https://github.com/kiwix/kiwix-android.git (push)

`git fetch upstream`
shows me nothing, not result.
`git checkout mas

[2019-08-28 14:47] macgills commented on #1302
Develop is what we use as our branch for development.
Master is what we (will) use for releases of the app.
See our [CONTRIBUTING
](https://github.com/kiwix/kiwix-android/blob/develop/CONTRIBUTING.md#branching)

[2019-08-28 15:02] geekRishabhjain commented on #1302
@macgills yeah. My mistake, absolutely sorry. I thought diving directly into the code is a good idea, but I think I need to read the documentation.

[2019-08-28 15:08] macgills commented on #1302
The enthusiasm is appreciated and thank you for reporting! Hope to see contributions from you

[2019-08-28 22:33] JensKorte commented on #1033
I switched from F-Droid Kiwix 2.5.1 to Yalp-Store Wikipedia 2.5.3 and had still the same problem. With 2.5.1 and 2.5.3 I have a problem to open the splitted WP german 2019-08 all maxi novid. With 2.5.3 the splitted file worked once.

The md5sum of the big file after copying to SD-Card was Ok.

[2019-08-29 10:51] rajput2122 commented on #1386
Is this issue closed?

[2019-08-29 10:54] rajput2122 commented on #1150
Can i work on this?

[2019-08-29 11:20] rajput2122 commented on #1355
sir app is not building saying sdk path is not defined but i have already include sdk.Can you please guide me to build?

[2019-08-29 11:40] macgills commented on #1386
@rajput2122 no, jhbiggs is working on it at the moment

[2019-08-29 11:42] macgills commented on #1150
You are assigned to the issue, happy coding

[2019-08-29 11:43] macgills commented on #1355
Can you show me a print screen or paste the log in here?

[2019-08-29 11:52] #948 closed

[2019-08-29 12:09] kelson42 commented on #1329
Any apk?

[2019-08-29 12:19] kelson42 commented on #61
FDroid has beeb updated with 2.5.1

[2019-08-29 12:19] #61 closed

[2019-08-29 12:23] kelson42 commented on #1033
@JensKorte Thank you for your feedback. We don't support anymore splited ZIM files like in the past. Are all the files you have problem with splited?

[2019-08-29 12:26] gilcu3 commented on #1324
Just to wrap up, full text search and title search where mixed in version 2.2, but from version 2.4 and up to version 2.5.1 (current) is it possible to do a full text search?

[2019-08-29 12:36] kelson42 commented on #800
Bitbar not being part anymore of the CI, this problem will be difficult to reproduce. But if this is still a problem with 3.0 we will see it in the play store.

[2019-08-29 12:36] #800 closed

[2019-08-29 12:38] kelson42 commented on #164
@macgills @mhutti1 Still a valid ticket?

[2019-08-29 12:42] kelson42 commented on #1324
Like you can see the ticket is still open.

[2019-08-29 12:54] kelson42 commented on #922
@okkebal This is a problem with the ZIM file codec. So far we dont have found the perfect solution regardings codecs. Here you had a file with h264, something which is not supported well in Android.

[2019-08-29 12:54] #922 closed

[2019-08-29 12:55] gilcu3 commented on #1324
yeah :(,  but shouldn't old implementation work?

[2019-08-29 13:03] macgills commented on #164
this shouldn't cause a memory leak. Without a LeakCanary report I am inclined to just close it

[2019-08-29 13:24] rajput2122 commented on #1355
Sir, there is no android module appearing only project is showing
![12](https://user-images.githubusercontent.com/43101744/63944045-734b6b00-ca8e-11e9-9d2d-e40eb6510fa1.png)

[2019-08-29 13:28] macgills commented on #1355
Create a new empty project and see what problems that has. I assume clicking `sync project` and `Add Android module` have had no great affect?

[2019-08-29 13:35] rajput2122 commented on #1355
All other projects are building with no issue.Even if I invalidate the cache and restarting this project the same issue appearing, again and again, .syncing this project with file system has no effect on this project. Sir is it necessary to download android ndk for this project?

[2019-08-29 13:38] #164 closed

[2019-08-29 13:38] macgills commented on #1355
It is not necessary. Can you clone the project to a new location and try opening that? Also what OS are you running?
I would also like to see the error messages, there must be something in `event log` or one of those windows

[2019-08-29 14:40] abdulwd opened #1411 "Render tabs in tabs overview screen as WebViews instead of bitmaps"
**Is your feature request related to a problem? Please describe.**

Currently, in the tabs overview screen, the tabs are rendered as bitmaps but it has some shortcomings like the preview of the tab is not shown if the WebView is not loaded yet, bitmaps take up memory, etc.

**Describe the solution you'd like**

Use WebViews in TabsAdapter instead of converting them into bitmaps. The WebViews have

[2019-08-29 15:40] siddharth2010 commented on #1355
@rajput2122 , I had a similar problem a few days ago.
I tried cloning it a couple of times but with no success. However the problem was fixed when i did a fresh clone and then used the `import project` option instead of the 'open project' one.

![image](https://user-images.githubusercontent.com/32238400/63954881-73a13180-caa1-11e9-9b04-53c949423a2c.png)

[2019-08-30 06:58] rajput2122 commented on #1355
Thanks, sir for help build is successful

[2019-08-30 07:46] #390 closed

[2019-08-30 07:50] #1386 closed

[2019-08-30 07:55] rajput2122 commented on #1355
After running app in my phonr after splash screen sending me to download the test content app from playstore but item not found error appear in playstore

[2019-08-30 08:24] macgills commented on #1355
The variant you should be using is `kiwixDebug`, from our readme

[2019-08-30 14:02] JensKorte commented on #1033
No, I removed the splitted version copied the whole file on the SD card. Afterwards I copied the splitted file again.

[2019-08-30 18:03] kelson42 commented on #1033
@JensKorte Thx, give around month to tacle your ticket properly.

[2019-08-31 06:58] XDivergent opened #1414 "App Crash on clicking Read aloud"
**Describe the bug**
App crash when clicked on Read aloud from the menu.

**Steps to reproduce the behaviour:**
1. Install new app
2. click + icon from sidebar
3. click Read aloud from menu.
4. crash

**Environment**
- Version of Kiwix Android : 2.5.3
- Device : redmi4
- OS version : Android

[2019-08-31 07:00] XDivergent commented on #1414
Can I help in fixing the bug?

[2019-08-31 07:21] Wikinaut opened #1415 "After deleting zim files (e.g. de_11_2018), the content page is still showing the old content."
**Describe the bug**

I upgraded my wikipedia_de_novid from 2018-11 to 2019-08.
Then I deleted all(!) old 2018-11 files on my SD card.

Even after having

* stopped Kiwix App
* cleared the Kiwix app cache

the both content versions were still shown in the Content page.

Then I deinstalled and re-installed the Kiwix app. Now, the content page is showing the only correct content file.

**Environment

[2019-08-31 07:21] kelson42 commented on #1414
@XDivergent of course! Would be great! Waiting to your PR.

[2019-08-31 07:40] kelson42 commented on #1415
Might be a duplicate of #1126.

[2019-08-31 07:45] kelson42 commented on #1411
@abdulwd @macgills I'm not really sure to understand properly the user impact of this bug. Do you mean the tabs preview does not always match the reality of the open tabs?

[2019-08-31 08:00] Wikinaut commented on #1415
duplicate of #1126 .

[2019-08-31 08:00] #1415 closed

[2019-08-31 09:00] abdulwd commented on #1411
Yes, in the sense that if the WebViews in the list have not been rendered yet then there will just be a white tab in its preview.

[2019-08-31 09:01] kelson42 commented on #1411
This a serious bug then.

[2019-08-31 11:10] XDivergent commented on #1414
Sir, I need help in building kiwix-android

I am getting this error everytime I try to run `kiwix-build kiwix-android`
[code]

[2019-08-31 11:19] kelson42 commented on #1414
@XDivergent Have you read the `README.md` and `CONTRIBUTING.md` properly?

[2019-08-31 15:02] jhbiggs commented on #1414
@XDivergent could you please explain further how to reproduce this problem?  I have followed the steps on emulated Nexus API 28 and the reader succeeds.

[2019-08-31 15:19] XDivergent commented on #1414
I installed the app from playstore.

[2019-08-31 15:29] abdulwd commented on #1414
@XDivergent Can you build the app from the develop branch and check if the bug is present?

[2019-08-31 15:43] XDivergent commented on #1414
I am building the app but every time I am getting a web view app. Not the app available on play store.

[2019-08-31 15:50] abdulwd commented on #1414
Have you changed the build variant to `kiwixDebug`?
Also, the app on the play store is the older version. We have added many new features which are yet to be released.

[2019-08-31 15:51] XDivergent commented on #1414
Yes I am using kiwixDebug variant

[2019-08-31 16:27] XDivergent commented on #1414
@abdulwd Got it. my mistake, I misunderstood the new app as a web app. It looks like a browser but it is not😭. I did not find the option read aloud in this version.

[2019-08-31 16:39] abdulwd commented on #1414
Open a file then it will be there.

[2019-08-31 16:39] abdulwd commented on #1414
Have you downloaded any ZIM file?

[2019-08-31 16:46] XDivergent commented on #1414
Not showing any file for download in the online tab.

[2019-08-31 16:48] abdulwd commented on #1414
There must be a loading icon, the files are dynamically fetched so it takes some time. You have to wait after opening the online tab and don't close it.

[2019-08-31 17:26] geekRishabhjain commented on #1354
I would want to work upon it. I am a student and that too new to the project, so any resources or tips will be a great help.

[2019-08-31 17:42] kelson42 commented on #1354
@geekRishabhjain The whole is handled deep in a C++ library. I would not start here. But feel free to pick an issue with the tag " good first issue".

[2019-08-31 17:43] #259 closed

[2019-08-31 17:47] geekRishabhjain commented on #1354
@kelson42 I thought this is something as easy, just rearranging of objects types. I'll look at some issues in "good first issue". Thanks.

[2019-08-31 17:53] kelson42 commented on #943
@mhutti1 @macgills Testdroid is not used anymore and the question of which farm of devices we should use is again fully open. Therefore, it seems to me we could close this issue?

[2019-08-31 17:55] geekRishabhjain commented on #547
@kelson42  I' love to convert these three List View into recyclerView. Is anyone working on it?