[2018-02-22 17:00] pprathameshmore opened #494 "Searching is not working in after running app."
**Is it a ?**

- [x] Bug Report

## Bug Report

### Step 1: Are you ready to report ?
   - Your issue may already be reported! Please search on the [issue track](../) before creating one.
   - [x] I have test with the last (dev) version of the software?  ( If not, and if possible, run your test again with the most recent version available.)

### Step 2 : What is your environment ?
  * browser / ap

[2018-02-22 17:40] RajaVamsi11 commented on #98
@rishabchirania  any updates on this issue? are you still working on this?

[2018-02-22 17:42] MayankChuriwal opened #495 "Bottom toolbar Bookmark"
**Is it a ?**

- [x] Bug Report

- [ ] Feature Request

## Bug Report

### Step 1: Are you ready to report ?
   - Your issue may already be reported! Please search on the [issue track](../) before creating one.
   - [x] I have test with the last (dev) version of the software?  ( If not, and if possible, run your test again with the most recent version available.)

### Step 2 : What is your environ

[2018-02-22 21:19] arpank10 commented on #494
I don't think it would work in emulator unless you have downloaded a zim file. With no zim file, the search button shouldn't show up ideally. Are you using the kiwixDebug build variant?

[2018-02-23 01:02] #475 closed

[2018-02-23 01:04] mhutti1 commented on #117
This is a large issue. We have some ideas ourselves and will start sharing our opinions on possible applications closer to the application date.

[2018-02-23 01:05] mhutti1 commented on #12
This is not what we want to do. Please read the task description.

[2018-02-23 01:06] mhutti1 commented on #491
If this is an issue for you then it is clearly not the correct end user result so please work on it.

[2018-02-23 01:07] mhutti1 commented on #493
Please do research before opening issues. We already have a back to top option in settings. If you would like to improve this then please make a comparison to it.

[2018-02-23 01:08] mhutti1 commented on #495
Please upload a stacktrace for crashes.

[2018-02-23 01:09] mhutti1 commented on #494
Not enough details. Please make a new issue with more details so I can work out what you are trying to convey.

[2018-02-23 01:09] #494 closed

[2018-02-23 05:49] harshvardhan-takawale commented on #117
@mhutti1  Can I start small? Like one or two espresso tests for particular features? Also is there a personal communication service for the organisation like slack or gitter, it is a bit tough to communicate through these comments.

[2018-02-23 05:51] RajaVamsi11 commented on #117
Nice idea @harshvardhan-takawale

[2018-02-23 08:03] Popolechien opened #500 "Sort zim files by category"
ICYMI: iOS 1.9 has a great feature whereby zim files are first sorted by category and then only within that category (iPad view below). This makes it a lot more readable as it reduces the clutter of having too many files:
![image-2_ipad_white_portrait](https://user-images.githubusercontent.com/21675885/36584007-519062be-1878-11e8-8c89-7388d6411e8b.png)

[2018-02-23 11:09] pprathameshmore opened #501 "Ripple Effect on Card View"
- [x] Feature Request

## Feature Request

Add ripple effect on Card View

#### Feature Description

Ripple Effect looks great.
Can I work on this feature?

[2018-02-23 11:27] suyash0103 opened #502 "If left on full screen and exited from app, the app crashes when opened again."
**Is it a ?**

- [✔️ ] Bug Report

- [ ] Feature Request

## Bug Report

### Step 1: Are you ready to report ?
   - Your issue may already be reported! Please search on the [issue track](../) before creating one.
   - [✔️ ] I have test with the last (dev) version of the software?  ( If not, and if possible, run your test again with the most recent version available.)

### Step 2 : What is your env

[2018-02-23 11:32] suyash0103 commented on #502
StackTrace:

FATAL EXCEPTION: main
Process: org.kiwix.kiwixcustomexample, PID: 20542
java.lang.RuntimeException: Unable to start activity ComponentInfo{org.kiwix.kiwixcustomexample/org.kiwix.kiwixmobile.KiwixMobileActivity}: java.lang.NullPointerException: Attempt to invoke interface method 'android.view.MenuItem android.view.MenuItem.setVisible(boolean)' on a null object reference
    at android.

[2018-02-23 11:44] MayankChuriwal commented on #501
Why do you need ripple effect on card views when they are only meant to provide first time information to the user. But open to comments from other contributors as well.

[2018-02-23 11:59] #502 closed

[2018-02-23 12:52] brijeshshah13 commented on #501
@pprathameshmore I don't think this is required. However, it can be implemented for `Get Content` button present in the Help screen. @mhutti1 What do you think?

[2018-02-23 13:00] abdulwd commented on #500
Nice enhancement! This will need discussion as it can be implemented in many ways for devices with small screens. Two of which are:
- We can have all the categories on one screen and clicking on a category will take us to the next screen which will show all the files from that category.
- We can add the category as a header to all the files as is done in Settings app for Android. Under the header,

[2018-02-23 13:22] RajaVamsi11 commented on #501
@brijeshshah13  I had worked on the ripple effect of the **Get Content** button  and send a PR also.you can check it in pull requests.

[2018-02-23 13:30] brijeshshah13 commented on #501
@RajaVamsi11 Thank you for the update. @mhutti1 I'm closing this issue as this addition does not enhance either user experience or performance of the app.

[2018-02-23 13:30] #501 closed

[2018-02-23 17:03] sakchhams commented on #154
May I work on this?

[2018-02-23 17:22] RajaVamsi11 commented on #460
@srv-twry  The issue is about copying  and pasting  the given GPL3 header in the example file above in all source files of app.
Can i start  doing it ?

[2018-02-24 06:56] MayankChuriwal commented on #433
Does this problem still continues or it has been fixed? @arpank10 because I am not getting this problem.

[2018-02-24 07:08] arpank10 commented on #433
The PR is still not merged I think. @MayankChuriwal  Did you kill the app and then restart?

[2018-02-24 10:10] MayankChuriwal commented on #433
Yes I did kill the app and restarted it. Did it happen once or the problem still continues? @arpank10

[2018-02-24 10:45] arpank10 commented on #433
It happens everytime. I have made a pull request solving this issue. It has not merged yet.

[2018-02-24 10:54] kelson42 commented on #154
@sakchhams Yes, please propose a description of your solution (mockup?) before implementing anything.

[2018-02-24 16:09] kelson42 commented on #490
I'm not sure at all this is an improvement. The icon will be really more difficult to identify if the background is fully transparent. In addition that does not solve the problem that this is currently not at all visible in case of white background. So all in one, I think this is quite a bad idea.

[2018-02-24 16:12] venomousboxer opened #506 "Tabular text getting cropped by sideward shifting"
**Is it a ?**

- [X] Bug Report

- [ ] Feature Request

## Bug Report

### Step 1: Are you ready to report ?
   - Your issue may already be reported! Please search on the [issue track](https://github.com/kiwix/kiwix-android/issues) before creating one.
   - [x] I have test with the last (dev) version of the software?  ( If not, and if possible, run your test again with the most recent version avai

[2018-02-24 16:13] kelson42 commented on #506
I do not have the screenthos, but this looks like a content issue, nothing which can be fixed within Kiwix.

[2018-02-24 16:15] venomousboxer commented on #506
I’ll just send you the screen shots

[2018-02-24 16:22] venomousboxer commented on #506
Here are some screenshots
![2fd3465d-eef2-41c0-814f-e9eb21e61b21](https://user-images.githubusercontent.com/31950172/36632461-d6eee61c-19ac-11e8-8fcb-ea7349356929.jpg)

![5dcd4b4e-da03-4061-810b-bbf368d6f266](https://user-images.githubusercontent.com/31950172/36632464-ded613dc-19ac-11e8-96e2-2727effbd245.jpg)

[2018-02-24 16:24] kelson42 commented on #506
That confirms what I said. If there is a problem, this is in the HTML itself. So, not a bug with Kiwix...

[2018-02-24 16:25] venomousboxer commented on #506
Okay

[2018-02-24 16:33] kelson42 commented on #493
There is an other problem with the "back to top" bar, it is going to be masked by the bottom bar (if both activated).

[2018-02-24 16:34] brijeshshah13 commented on #490
@kelson42 No offence, but I surveyed asking some people before raising this issue and they said that the icon looked like it was cut and paste from an image and that the background of the icon must be transparent. Also, when the background changes from white to black while using night mode, the icon can be changed to white.

[2018-02-24 16:56] sdivakarrajesh commented on #493
I am currently working on a new branch that overcomes this issue.
will soon make a pull request

[2018-02-24 17:09] kelson42 commented on #417
Yes, all of this needs more hardware resources and we want a light app working find on low-end devices.

[2018-02-24 17:09] #417 closed

[2018-02-24 17:11] kelson42 commented on #421
In general, I think that we should focus to fix bugs and make the app easier to use. If we achieve that I strongly believe we won't have to write tutorials.

[2018-02-24 17:15] kelson42 commented on #344
FYI we have json content loading here. The whole is then rendered in javascript.

[2018-02-24 17:24] harshvardhan-takawale commented on #421
I don't know, many apps these days have something like this for first-time users so that they do not get overwhelmed when they start using the app, so I just made a basic mockup like @mhutti1 suggested. We can add or remove things from this basic structure.

[2018-02-24 18:11] brijeshshah13 commented on #490
@kelson42 I definitely agree on this. I will try to provide the same functionality for the full-screen exit button as you described. @mhutti1 Will the current improvement be merged or shall I close this issue?

[2018-02-24 18:22] RohanBh commented on #345
@kelson42 Can you elaborate on how to reproduce this crash? Library content search works fine for me. I am using android version 8.0.

[2018-02-24 18:53] RohanBh opened #507 "Display number of matches of the string found by using "Find in page""
**Is it a ?**

- [ ] Bug Report

- [x] Feature Request

## Feature Request

#### Feature Description
Currently when we use the *Find in page* feature of the app, we do not get the total matches found and the index of the match currently highlighted on the page. I'd like to add this to the app.

[2018-02-24 19:01] kelson42 commented on #507
@RohanBh concrete example of mis-behaviour?

[2018-02-24 19:02] kelson42 commented on #345
@RohanBh I do not remember the details and do not have a clear reprocase, but from the the log, it should be clear to know what goes wrong.

[2018-02-24 19:10] RohanBh commented on #507
![find_in_page](https://user-images.githubusercontent.com/24610859/36634003-23fc1882-19c4-11e8-9e6a-5f7c307d49d4.jpeg)
@kelson42 this is the screenshot from the app.
![screenshot from 2018-02-25 00-38-48](https://user-images.githubusercontent.com/24610859/36634016-4f987774-19c4-11e8-8547-51dea8572865.png)
and this is a screenshot from a browser's *find in page* feature.

[2018-02-24 19:30] kelson42 commented on #507
@RohanBh I do not understand, which word exactly is not detected properly in your screenshot?

[2018-02-24 19:45] RohanBh commented on #507
@kelson42 read your first comment. Sorry for the confusing language :sweat_smile:

[2018-02-24 20:00] sakchhams commented on #154
I was intending to remove the find in page option from the three dot menu, and add a static always visible option to the suggestions of global search.
![Screenshot](https://i.imgur.com/SF5T9Ew.jpg)
Clicking on it would open the standard find in page workflow.

[2018-02-24 20:13] kelson42 commented on #154
I'm not really convinced by your proposal... Maybe an other one: addinh a "Find in page" button on the right of the the search input bar. If this is clicked then it searches in the page. That would mean merge somehow the "article search" and the "find in page search" text input.

[2018-02-24 20:20] sakchhams commented on #154
@kelson42 That idea did come across my mind, but since the search in page UI has additional "find up" and "find down" buttons in the menu I thought adding an additional button with text would make it cluttered. What do you suggest? I can pursue either.

[2018-02-24 22:14] paologarcia002 commented on #344
Ah sorry about not following up had exams, but I just tried to recreate the problem and for me it doesn’t change at all. For instance I go to tedx then ted business, all the the tedx stuff is there despite me changing to ted business

[2018-02-24 22:17] paologarcia002 commented on #344
Also do the jsons/js get sent and rendered from the webview like the html, or is that from jni?

[2018-02-25 01:03] mhutti1 commented on #117
@harshvardhan-takawale we already have some espresso tests. If you would like to add more feel free. We use IRC to talk however we are mostly volunteer developers with jobs/studies so don't expect immediate reply's. This specific issue relates to how we currently use testdroid and is quite a challenge although you should be able to work it out by reading our code.

[2018-02-25 01:12] mhutti1 commented on #490
Yeah removing it sounds good to me. I think auto hide is now default if its not we should enable that at the same time.

[2018-02-25 01:17] mhutti1 commented on #344
Everything goes from the JNI to the Webview. I'm confused about your first comment. It seems to imply you can reproduce the issue.

[2018-02-25 01:28] #437 closed

[2018-02-25 01:34] mhutti1 opened #510 "Download issues on older emulator."
## Bug Report

Environment:
Android API 16 Emmulator

Bug:
Unable to download ZIM files (possibly because network looks like it has no signal).

#### Steps to reproduce:

  1. Attempt to download a ZIM file.

[2018-02-25 02:22] #507 closed

[2018-02-25 03:36] srv-twry commented on #460
@RajaVamsi11 You have already contributed to the project multiple times. I would suggest you pick up some more involving issues. This can be left for first timers.

[2018-02-25 04:19] brijeshshah13 commented on #490
@mhutti1 I'm closing this issue for now. Will open a new issue with the discussed behavior of the full-screen exit button.

[2018-02-25 04:19] #490 closed

[2018-02-25 05:45] Ananthusubramanian opened #511 "Enhanced the items in the download using cardview[Feature]"
Feature Request:

Cardview looks nice in the download list items view with elevation on the cardview makes it look better.

Changes Added:
Changing the layout by adding cardview to the items

Screenshots:
![screenshot_2018-02-25-00-08-49-164_org kiwix kiwixmobile](https://user-images.githubusercontent.com/22250995/36638511-21c19b4c-1a1d-11e8-85e4-fa6904eff947.png)
![screenshot_2018-02-25-00-19-08-

[2018-02-25 05:46] cmeher196 commented on #456
@RajaVamsi11 hey is this issue still open?? or issue is fixed?? if not then can i work on it?

[2018-02-25 06:14] cmeher196 commented on #461
since one is working on this issue am trying to remove it.

[2018-02-25 08:57] srv-twry commented on #456
@cmeher196
I would suggest you please go through the above discussion.

[2018-02-25 09:09] kelson42 commented on #511
The rounded corners do not seems to be properly done, I still see the square corner.

[2018-02-25 09:53] kelson42 commented on #343
@mhutti1 To me it looks like we could close this ticket as https://github.com/kiwix/kiwix-android/issues/343 has been implemented. That said I do not have tested myself, I assume the fix is proper in libzim/libkiwix/JNI. This means we should not have crashes anymore. The point with the partial filename wrong naming is not mandatory anymore (to avoid crashes), but should be really implemented IMO.

[2018-02-25 11:00] ISNIT0 commented on #443
@brijeshshah13 At a previous hackathon, we looked at a few different solutions, but decided that email was the simplest and easiest to control. We did start using crashlytics, and ended up changing.

Another reason to go with email, is that... It's implemented :)

[2018-02-25 11:21] harsh-2711 opened #516 "Greetings message hindered"
Feature Request

 What is your environment?

Latest Version available. Tested on One Plus 5T
Android

Describe the problem:

 Th greeting message that appears at the bottom of the main page gets hindered by the default navigation bar of the mobile.

Steps to reproduce:

1. More space can be added at the bottom so that the message is clearly visible.

2. Or the location of the message should be shi

[2018-02-25 11:24] ashutoshbsathe commented on #460
Can I do this ? Or this has already been assigned ?

[2018-02-25 11:28] kelson42 commented on #460
@ashutoshbsathe Yes you can

[2018-02-25 11:46] ashutoshbsathe opened #517 "Change dialog icon color according to night mode"
**Is it a ?**

- [ ] Bug Report

- [x] Feature Request

## Feature Request
Change the color of warning icon in "Clear All History Dialog"
![screenshot_20180225-171131](https://user-images.githubusercontent.com/22210756/36641016-3851fafa-1a4f-11e8-8b89-28549c7fd046.png)

#### Feature Description
As you can see in the screenshot, the warning icon isn't clearly visible, This feature will enable black

[2018-02-25 12:41] kelson42 opened #518 "CI does not build Kiwix Android properly"
[code]

[2018-02-25 12:43] harshvardhan-takawale commented on #518
@kelson42 Can I try this one?

[2018-02-25 13:18] ashutoshbsathe commented on #517
This here is the result of changes I'm proposing :
Night Mode Off :
![screenshot_1519564369](https://user-images.githubusercontent.com/22210756/36641836-5744a2d4-1a5c-11e8-8c66-79e5c3f9aa71.png)
Night Mode On :
![screenshot_1519564595](https://user-images.githubusercontent.com/22210756/36641837-611ce0fa-1a5c-11e8-9f2c-215a4b14bcc6.png)
I guess this looks much better !
Should I create the PR ?

[2018-02-25 13:20] ashutoshbsathe commented on #460
@kelson42 Thanks,
The header should have year 2018 right ? And only java code needs these right ?
I checked a couple of android apps and they are only having license on manifest and java code
Should I do the same ? Thanks again

[2018-02-25 13:35] srv-twry commented on #518
@kelson42 I don't think it's a bug from our side.
It's already reported on the google issue tracker [here](https://issuetracker.google.com/issues/69380617)

[2018-02-25 13:36] srv-twry commented on #516
@harsh-2711 Please attach a screenshot.

[2018-02-25 14:07] brijeshshah13 commented on #518
@kelson42 @srv-twry Yes. This issue will be fixed in Android Plugin Version `3.1.0-alpha5`. And currently we are using version `3.0.1`.

[2018-02-25 14:16] brijeshshah13 commented on #443
@ISNIT0 I agree that it may be easy to control and it's already implemented, but asking the users to select which data is to be sent (which they no nothing about) and manually send it from an email client will be quite cumbersome for them which will result in almost no crash reports being reported.

[2018-02-25 14:33] brijeshshah13 commented on #517
@ashutoshbsathe Can you please remove the extra area above in the top blue line including it so that both the versions have uniform UI?

[2018-02-25 15:02] kelson42 commented on #460
Yes and yes

[2018-02-25 15:23] ISNIT0 commented on #443
¯\_(ツ)_/¯ I personally am not fussed, and the discussion would be very different if we had a PR for each solution.

I seem to remember we were unable to allow users to decide how much info they send us (or even if they send it). Email is a well understood medium, and users are well aware of what to expect from sending one (it uses mobile data, exposes their email address, sends the content of the

[2018-02-25 15:24] kelson42 commented on #511
@brijeshshah13 I'm not convinced myself. The whole library UI should be revamped IMO. This kind of small change does not really fix the fundamental problems... but keep people busy away of doing it.

[2018-02-25 15:25] kelson42 commented on #518
@srv-twry @brijeshshah13 What is the timeline to get this fixed (release of version 3.1.0 of Android Plugin)? What would be then needed to do?

[2018-02-25 15:27] kelson42 commented on #516
Duplicate of https://github.com/kiwix/kiwix-android/issues/442 ?

[2018-02-25 15:29] Kartik2016 commented on #355
While deleting the split chunks, mainting a list was not a viable solution since the service could be destroyed and the list would not persist. Will creating a shared preference file help? Any other suggestions?

[2018-02-25 15:32] brijeshshah13 commented on #443
@ISNIT0 Agreed. But, Fabric doesn't expose the email address of the user at the least as @mhutti1 emphasized on prevention of user's identity in any way. Also, Fabric does provide the facility to present the user with a dialog box asking for the permission and the crash data is sent only upon acceptance by the user.

[2018-02-25 15:36] kelson42 commented on #355
@Kartik2016 No chunk is ever deleted, only renamed. Here is how it should work IMO: just keep the chunk filenames with "part" until the end. One time the download has reached the end. Rename all of them at a time. By doing so, you will probably need to change the logic to detect if a chunk has been fully downloaded, this could be done by checking the file size and/or by seen if the next chunk has

[2018-02-25 15:39] Kartik2016 commented on #355
Yes i have done exactly this in the code. When the entire book is download, i have called the function to rename all chunks to remove the .part in the end. My doubt is regarding the case when the download is stopped midway or a downloaded book is deleted.

[2018-02-25 15:51] paologarcia002 commented on #344
My bad but for not being clear but for me, I can’t even render ted business after visiting tedx, as if I never left tedx, not even the content, but Kelson’s screenshots show a mix where ted business content is visable, just the wrong header.

[2018-02-25 16:15] brijeshshah13 opened #519 "Explicitly include codestyle for XML files"
**Is it a ?**

- [ ] Bug Report

- [x] Feature Request

## Feature Request

#### Feature Description

Noticing that almost all the PR's are facing the Indentation issue for the XML files, I think it would be great if we could specify that `kiwix` follows `2dp` for the `Indent` and `Continuous Indent` values.

We can even provide the following screenshot in the `codestyle.md` file to indicate the s

[2018-02-25 16:30] brijeshshah13 commented on #518
@kelson42 No fixed date has yet been issued for the release of version `3.1.0`. You can refer [this](https://developer.android.com/studio/releases/gradle-plugin.html) as a reference on how to upgrade to the latest version of Android Plugin Version.

[2018-02-25 16:49] MayankChuriwal commented on #516
I guess he means to say that the help text gets hindered by the on screen navigation button in phones with 18:9 display right? Phones which do not have physical navigation buttons. @harsh-2711 @kelson42

[2018-02-25 17:33] RajaVamsi11 commented on #510
Can i work on this issue? @mhutti1

[2018-02-25 18:09] brijeshshah13 opened #520 "Action bar gets cut off on API 16 emulator"
**Is it a ?**

- [x] Bug Report

## Bug Report

### Step 1: Are you ready to report?
   - Your issue may already be reported! Please search on the [issue track](../) before creating one.
   - [x] I have tested with the last (dev) version of the software.  ( If not, and if possible, run your test again with the most recent version available.)

### Step 2: What is your environment?
  * version of th

[2018-02-25 18:19] abdulwd commented on #520
Me too. :stuck_out_tongue:
On a device with API 17.

[2018-02-25 20:28] mhutti1 commented on #461
Closing this as the publisher might have an effect for local ZIM files and if we are going to remove it it would be part of a larger redesign.

[2018-02-25 20:28] #461 closed

[2018-02-25 20:30] mhutti1 commented on #343
I was still facing JNI crashes with this message still last time I checked.

[2018-02-25 20:38] mhutti1 commented on #511
Agreed with @kelson42 closing this. We need to revamp the library however this is a large coordinated task that will not be solved with small incremental changes which change our design in sometimes opposite directions.

[2018-02-25 20:38] #511 closed

[2018-02-25 20:40] mhutti1 commented on #355
You can either used sharedpreferences or a database entry. We already use the database when downloading "books".

[2018-02-25 20:41] mhutti1 commented on #344
@paologarcia002 Create a new issue with reproduction steps if that is the case.

[2018-02-25 20:42] mhutti1 commented on #519
This sounds like a reasonable idea in general.

[2018-02-25 20:45] mhutti1 commented on #518
@kelson42 This has been happening for sometime and as far as I am aware has no adverse effects on any part of the build process.

[2018-02-25 20:46] mhutti1 commented on #516
Duplicate of #442.

[2018-02-25 20:46] #516 closed

[2018-02-25 20:47] mhutti1 commented on #510
Yeah @RajaVamsi11 please checkout https://github.com/kiwix/kiwix-android/invitations so we can assign you to tasks.

[2018-02-25 21:10] #67 closed

[2018-02-25 21:24] paologarcia002 opened #521 "Inability to switch between different libraries"
## Bug Report

- [Y] I have tested with the last (dev) version of the software.

### Step 2: What is your environment?
  * version of the software you use : AVD of Pixel 2 with API 27, Ted Business, Tedx 2014

### Step 3: Describe the problem:
When I was trying to reproduce the issue #344, instead of rendering correctly or with a mix of the two different ted libraries like in the issue, it only re

[2018-02-26 00:43] venomousboxer commented on #510
@mhutti1 I think it is basically because in app permissions you need to add write external storage permission as well for android versions less that or equal to 18.
Therefore for those versions we need to ask for one more permission from the user. If we add maxSdkVersion in manifest permission in write external storage and check if the permission was given in case of these android versions before

[2018-02-26 02:01] Abishek10 commented on #472
@kelson42 Can I work on this ?

[2018-02-26 02:58] ashutoshbsathe commented on #517
@brijeshshah13 sure I will try to do that !

[2018-02-26 06:04] ashutoshbsathe commented on #517
@brijeshshah13 It's fixed !
Night Mode looks like this now !
![screenshot_1519621333](https://user-images.githubusercontent.com/22210756/36655479-f38027e0-1ae8-11e8-9963-3357bffee4f3.png)
Should I create separate PR's for both the issues ?

[2018-02-26 08:38] Ananthusubramanian commented on #327
Is anyone working on this issue?

[2018-02-26 10:05] harsh-2711 commented on #516
@MayankChuriwal Yes

[2018-02-26 12:44] harsh-2711 commented on #442
I have made necessary changes in PR #524. Please review it.

[2018-02-26 14:45] RajaVamsi11 commented on #489
@mhutti1 I think i can work on this issue if you guide me.please explain me.

[2018-02-26 16:30] RajaVamsi11 commented on #510
@mhutti1  zim file is downloading without problem in emmulator with API level 16 .
![screenshot 11](https://user-images.githubusercontent.com/30550059/36682134-5836f3b0-1b40-11e8-8ac7-603bdef9ecfa.png)

[2018-02-26 16:34] RajaVamsi11 commented on #520
Me too on a device with API level 16.

[2018-02-26 16:44] RajaVamsi11 commented on #456
@cmeher196  The issue was with emmulator itself.It works fine in actual devices.

[2018-02-26 16:58] RajaVamsi11 commented on #100
@mhutti1 How can we get list of checkstyle warnings?

[2018-02-26 17:01] harsh-2711 commented on #432
Is this issue still open?

[2018-02-26 19:06] brijeshshah13 commented on #518
@mhutti1 Agreed. @kelson42 So shall we close this issue as this can be dealt only after the release of the updated Android Plugin version?

[2018-02-26 19:14] kelson42 commented on #518
Keep track of this tu update the Android plugin ASAP

[2018-02-26 19:16] brijeshshah13 commented on #517
@ashutoshbsathe Nice. However, the `Cancel` and the `OK` button must be of the same color as in the regular mode.

[2018-02-26 19:18] brijeshshah13 commented on #518
@kelson42 Sure. I will keep an eye out for the release of the updated version.

[2018-02-26 19:23] brijeshshah13 commented on #327
@Ananthusubramanian No one has been assigned the task. However, please clarify first about how the implementation is to be carried out with @mhutti1 @kelson42.

[2018-02-26 20:39] brijeshshah13 commented on #510
@mhutti1 Works fine for me as well.

[2018-02-26 20:57] brijeshshah13 commented on #520
@vansh1sh Kindly first ask using comments if anyone is already working on the issue and if available, then start working on the issue rather then asking here and directly sending the PR. First time contributors might get discouraged from such incidents.

[2018-02-26 21:30] vansh1sh commented on #520
@brijeshshah13 Sure, will do that from next time :)

[2018-02-27 05:55] ashutoshbsathe commented on #517
Done @brijeshshah13 Check out the PR I created

[2018-02-27 06:26] ashutoshbsathe commented on #419
Is this still being worked on ? If not then I'm interested in doing so

[2018-02-27 06:27] srv-twry commented on #419
@ashutoshbsathe The linked PR is still active, so yeah it is still being worked upon :smile:

[2018-02-27 07:31] brijeshshah13 commented on #472
@Abishek10 Please make sure with @siddharth2010 that you can be assigned the issue because he is already assigned and you didn't get any confirmation from @kelson42.

[2018-02-27 07:35] siddharth2010 commented on #472
@Abishek10 , actually I have been busy with my university exams, so I wasn't able to work on this issue. Sure you can go ahead...

[2018-02-27 08:50] arpank10 commented on #521
See issue #236 , also take a look at the PR #481

[2018-02-27 10:15] Popolechien commented on #500
Seems to me like the first solution you mention is the more manageable/intuitive for someone with big fingers.

[2018-02-27 15:30] RajaVamsi11 commented on #101
AS @brijeshshah13  says  Just enabling `minify Enabled true` isn't making any difference in the apk size. I also tried it.

[2018-02-27 15:31] brijeshshah13 commented on #101
@RajaVamsi11 Indeed. Necessary proguard rules will have to be written.

[2018-02-27 23:53] mhutti1 commented on #489
@RajaVamsi11 its quite complex and will require access to some cloud accounts as such needs to be implemented by a more seasoned contributor with this access (or possibly as part of GSoC as part of a task with such oversight).

[2018-02-27 23:56] mhutti1 commented on #100
Download the checkstyle plugin for android studio and configure it with https://github.com/kiwix/kiwix-android/blob/master/config/checkstyle/checkstyle.xml

[2018-02-27 23:58] mhutti1 commented on #327
This issue is the first part of an issue that was partitioned for GCI. I am going to close it as such and we will come up with a more robust single implementation.

[2018-02-27 23:58] #327 closed

[2018-02-28 00:04] mhutti1 commented on #510
It does not work for me with Jellybean API 16 x86 4.1 (Google APIs)

[2018-02-28 00:07] mhutti1 commented on #419
@ashutoshbsathe Please don't edit out comments unless necessary :(. Put an EDIT: below the original so we don't get confused by later comments.

[2018-02-28 00:32] #419 closed

[2018-02-28 00:42] #472 closed

[2018-02-28 06:09] harshvardhan-takawale opened #528 "Language name overlapping with the number of files"
**Is it a ?**

- [x] Bug Report

- [ ] Feature Request

## Bug Report

### Step 1: Are you ready to report?
   - Your issue may already be reported! Please search on the [issue track](../) before creating one.
   - [x] I have tested with the last (dev) version of the software.  ( If not, and if possible, run your test again with the most recent version available.)

### Step 2: What is your environ

[2018-02-28 06:37] harshvardhan-takawale opened #529 "Create espresso test for Settings Activity"
**Is it a ?**

- [ ] Bug Report

- [ ] Feature Request

- [x] Code coverage

We should have espresso tests for the settings activity for automated testing of the activity.

### Are you willing to work on the issue?
        Yes.

@mhutti1 @kelson42 @brijeshshah13 @srv-twry Please review.

[2018-02-28 10:59] harsh-2711 commented on #528
Can I work on this issue?

[2018-02-28 11:50] harsh-2711 opened #530 "Problem in full screen mode"
**It is a **

- [ ] Bug Report

## Bug Report

### Step 1: Are you ready to report?
   - Yes

### Step 2: What is your environment?
  * version of the software you use : 2017-07
  * device / operating system : One Plus 5T

### Step 3: Describe the problem:

  * The bottom toolbar disappears as soon as the view is shifted to full screen

#### Steps to reproduce:

  1. In Settings, enable bottom too

[2018-02-28 12:36] srv-twry commented on #528
@harshvardhan-takawale What is your proposed solution for this problem ?

@harsh-2711 It is already assigned. Please find another issue to work on.

[2018-02-28 13:02] harshvardhan-takawale commented on #528
@srv-twry I have thought of a few approaches. Please let me know which one to follow.
1) Ellipsize
2) Horizontally scrolling text
3) Autosizing textview (but that will only be effective with newer phones- API 26)

[2018-02-28 13:02] harsh-2711 commented on #530
please review it @mhutti1

[2018-02-28 13:07] srv-twry commented on #528
I would go for Ellipsize. Let's wait for other's suggestions.

[2018-02-28 13:07] srv-twry commented on #528
Appologies, Accidently closed it.

[2018-02-28 13:30] RohanBh commented on #345
@kelson42 @mhutti1 The crash is happening precisely [here](https://github.com/kiwix/kiwix-android/blob/master/app/src/main/java/org/kiwix/kiwixmobile/utils/NetworkUtils.java#L72) at **line 72**.
[code]
This code gives a substring from the second occurunce of `_` char till the last occurence of `_`

For example - For the string `HELLO_WORLD_IN_JAVA_8`
variable `details` will contain `IN_JAVA`.

But

[2018-02-28 13:35] omkarprabhu-98 opened #531 "Replace checkboxes with radio buttons in Language selection"
**Is it a ?**

- [ ] Bug Report

- [x] Feature Request

## Feature Request

#### Feature Description

Currently the application has checkboxes to select between Languages,

![screenshot_20180228-184931 1](https://user-images.githubusercontent.com/23053768/36789688-69ad9774-1cb8-11e8-9d5e-1287d10b9fb2.png)

<b>This can be replaced with radio buttons for selection</b>

#### Are you willing to work o

[2018-02-28 13:38] RohanBh commented on #260
@kelson42 Can I work on this issue?

[2018-02-28 13:39] abdulwd commented on #531
This is same as #491. I have sent the PR for this so you can safely close this. :)
Also, you must go through the open issues before opening one.

[2018-02-28 13:46] omkarprabhu-98 commented on #531
Extremely sorry @abdulwd, @kelson42 @mhutti1
I had searched for issues with checkboxes, didn't find any. Might have missed this one.

[2018-02-28 13:46] #531 closed

[2018-02-28 14:00] RohanBh commented on #49
@mhutti1 @kelson42 Is this issue fixed?

[2018-02-28 15:31] Abishek10 commented on #493
@kelson42 Can I work on this ?

[2018-02-28 16:14] brijeshshah13 opened #532 "Use correct shade of blue in night mode"
**Is it a ?**

- [x] Bug Report

- [ ] Feature Request

## Bug Report

### Step 1: Are you ready to report?
   - Your issue may already be reported! Please search on the [issue track](../) before creating one.
   - [x] I have tested with the last (dev) version of the software.  ( If not, and if possible, run your test again with the most recent version available.)

### Step 2: What is your environ

[2018-02-28 16:19] brijeshshah13 commented on #510
@mhutti1 Can you please post the log?

[2018-02-28 16:25] brijeshshah13 commented on #528
@harshvardhan-takawale @srv-twry I think the approach suggested by @abdulwd would be the best as the whole info matters. Still, wait until @mhutti1 reviews it.

[2018-02-28 16:27] ashutoshbsathe commented on #495
@mhutti1 here's the stacktrace https://del.dog/waqecepone.sql
Should I go ahead and fix it ?

[2018-02-28 18:06] RajaVamsi11 commented on #528
Another vote for @abdulwd

[2018-02-28 18:11] RajaVamsi11 commented on #489
Ok @mhutti1

[2018-02-28 19:38] RohanBh commented on #226
@mhutti1 can I work on this?

[2018-03-01 01:23] Abishek10 opened #535 "Stop music from other apps when Read Aloud is enabled."
**Is it a ?**

- [x] Bug Report

- [ ] Feature Request

## Bug Report

### Step 1: Are you ready to report?
   - Your issue may already be reported! Please search on the [issue track](../) before creating one.
   - [x] I have tested with the last (dev) version of the software.  ( If not, and if possible, run your test again with the most recent version available.)

### Step 2: What is your environ

[2018-03-01 06:00] aryanagarwal15 commented on #532
I would like to work on this issue.

[2018-03-01 07:02] aleksejrs commented on #347
I found later that pressing near the bottom of the entry worked much better.

[2018-03-01 10:21] harshvardhan-takawale commented on #528
@mhutti1 @brijeshshah13 @srv-twry @abdulwd @RajaVamsi11 I have one more idea. Can we shift the "localized name" below the "language name"?

[2018-03-01 10:28] abdulwd commented on #528
@harshvardhan-takawale That's what I said. :)
If you want to do it for every item, it will increase the size of the list too much. So it would be better to show the **localized name** in next line if the text is long.

[2018-03-01 10:43] brijeshshah13 commented on #535
@Abishek10 If you are going to work on it, I can assign it to you. Shall I?

[2018-03-01 10:44] Abishek10 commented on #535
@brijeshshah13 Yes. I am willing to working on it.

[2018-03-01 10:46] harshvardhan-takawale commented on #528
@abdulwd I'll have to think how to do that as it would require different layout file for some items only. Also, the size if the list won't increase  even if we move all the **localized names** below as the height of the layout is already fixed as "?android:attr/listPreferredItemHeightSmall", it's just that the text will be a bit smaller for **localized name** .

[2018-03-01 10:49] brijeshshah13 commented on #532
@MayankChuriwal might be working on it. Please verify with him before starting.

[2018-03-01 12:57] arunkiddo commented on #530
Yep I like Work on this issue

[2018-03-01 13:22] harsh-2711 commented on #530
But I am currently working on it..

[2018-03-01 14:05] ashutoshbsathe commented on #495
@brijeshshah13 Should I create the PR for this ? Or is it already been fixed and I'm just being blind ? xD
Anyway if it's still open, I have a quick fix for this which I would like to merge

[2018-03-01 14:28] ISNIT0 opened #537 "Some articles have HTML artefacts in bookmark view"
**Is it a ?**

- [x] Bug Report

- [ ] Feature Request

## Bug Report

### Step 1: Are you ready to report?
   - Your issue may already be reported! Please search on the [issue track](../) before creating one.
   - [x] I have tested with the last (dev) version of the software.  ( If not, and if possible, run your test again with the most recent version available.)

### Step 2: What is your environ

[2018-03-01 14:32] harshvardhan-takawale commented on #537
@ISNIT0 Are you working on this issue? I would like to give it a try if you are not.

[2018-03-01 14:37] ISNIT0 commented on #537
@harshvardhan-takawale Go for it!
The artefacts also seem to show in the left slide-out menu 👍

[2018-03-01 14:40] ISNIT0 opened #538 "App crashes when changing ZIM language in landscape mode"
**Is it a ?**

- [x] Bug Report

- [ ] Feature Request

## Bug Report

### Step 1: Are you ready to report?
   - Your issue may already be reported! Please search on the [issue track](../) before creating one.
   - [x] I have tested with the last (dev) version of the software.  ( If not, and if possible, run your test again with the most recent version available.)

### Step 2: What is your environ

[2018-03-01 14:40] brijeshshah13 commented on #495
@ashutoshbsathe It's working fine for me. Can you make sure that you are in sync with the latest master branch?

[2018-03-01 15:00] harsh-2711 commented on #538
It's working fine for me.

[2018-03-01 15:03] ISNIT0 commented on #538
For more info, see http://159.65.37.191/crash/b5890dbfb57fc1444f88dbf309eac3e7d76f3b0c

[2018-03-01 15:03] ISNIT0 commented on #538
After happening "reliably" 5 times in a row, it now happens 50% of the time for me.

[2018-03-01 15:04] ISNIT0 commented on #538
@harsh-2711 What device(s) are you using?

[2018-03-01 15:06] harsh-2711 commented on #538
One Plus 5T

[2018-03-01 15:16] ISNIT0 commented on #538
@harsh-2711 Just reproduced it on an Android Emulator

[2018-03-01 15:22] brijeshshah13 commented on #538
@ISNIT0 Crashing for me as well on Motorola E3 Power, Android 6.0

[2018-03-01 15:25] ashutoshbsathe opened #540 "Update title when opening help."
**Is it a ?**

- [x] Bug Report

- [ ] Feature Request

## Bug Report

### Step 1: Are you ready to report?
   - [x] I have tested with the last (dev) version of the software.  ( If not, and if possible, run your test again with the most recent version available.)

### Step 2: What is your environment?
  * version of the software you use : Kiwix Dev apk compiled locally from android studio 3
  * d

[2018-03-01 15:27] ashutoshbsathe commented on #495
@brijeshshah13 No, it does crash for me. Check the log I posted.

[2018-03-01 15:30] brijeshshah13 commented on #495
@ashutoshbsathe Can you please attach a gif for the same?

[2018-03-01 15:37] brijeshshah13 commented on #540
@ashutoshbsathe Please go ahead and fix it.

[2018-03-01 16:48] Abishek10 commented on #532
@MayankChuriwal Are you working on this issue ? Or, shall I proceed with it ?

[2018-03-01 16:51] GeVic commented on #538
@ISNIT0 @harsh-2711  It didn't crash for me but i saw a very odd behavior that is after fetching the content online if i change the orientation the content doesn't load again.

[2018-03-01 17:33] brijeshshah13 commented on #532
@Abishek10 Please wait until you are assigned the issue. The last thing we want is multiple PR's for the same issue.

[2018-03-01 18:25] savannahar68 commented on #440
I want to work on this issue,please assign it,
Thank you!

[2018-03-01 18:26] aryanagarwal15 opened #543 "HTML <i> Tag showing in the Navigation menu"
**Is it a ?**

- [x] Bug Report

- [ ] Feature Request

## Bug Report

### Step 1: Are you ready to report?
   - Your issue may already be reported! Please search on the [issue track](../) before creating one.
   - [x] I have tested with the last (dev) version of the software.  ( If not, and if possible, run your test again with the most recent version available.)

### Step 2: What is your environ

[2018-03-01 18:34] harshvardhan-takawale commented on #543
@aryanagarwal15 An issue has already opened regarding this (Issue #537 ).

[2018-03-01 18:34] harshvardhan-takawale commented on #537
@brijeshshah13 @srv-twry can you assign me the issue?

[2018-03-01 18:36] aryanagarwal15 commented on #543
@harshvardhan-takawale Issue #537 only shows this bug in Bookmark activity.

[2018-03-01 18:40] harshvardhan-takawale commented on #543
@aryanagarwal15 Actually @ISNIT0 later mentioned about the menu in the comments

[2018-03-01 18:43] aryanagarwal15 commented on #543
@harshvardhan-takawale Are you already working on it? If yes I'll close this issue.

[2018-03-01 18:46] harshvardhan-takawale commented on #543
Yes. Thank you.

[2018-03-01 18:48] #543 closed

[2018-03-01 18:56] aryanagarwal15 opened #544 "Double tap to zoom for main screen"
**Is it a ?**

- [ ] Bug Report

- [x] Feature Request

## Feature Request

#### Feature Description

Please describe the feature you want to add to the project.
- Currently pinch to zoom in active for the main screen, but double tap to zoom will give users more flexibility to navigate in the application. It is very intuitive to double tao to zoom in a particular word/sentence.
Leading browsers li

[2018-03-01 18:58] RajaVamsi11 commented on #544
@aryanagarwal15 Nice idea

[2018-03-01 19:18] jb1998 commented on #495
Hi ,
@brijeshshah13 I am facing the same issue, I was just about to open one but then I saw this issue.
Below I am attaching gif for the same.
Device : Micromax A106
Android version : 5.0
![crash](https://user-images.githubusercontent.com/23710417/36864489-d685c6aa-1db2-11e8-9e6c-93109a6c55a5.gif)

[2018-03-01 19:21] RajaVamsi11 commented on #495
@jb1998 What is the version of the app you are using?

[2018-03-01 19:23] jb1998 commented on #495
I have the current version.
I have set up the project 2 hrs ago.

[2018-03-01 19:29] harsh-2711 commented on #495
In my mobile, the bookmark(star) button doesn't work when on home page whereas it works for all other pages. So there's no issue.

[2018-03-01 19:57] mhutti1 commented on #345
@RohanBh its up to you. Fix the issue anyway you feel works well and then we review it.

[2018-03-01 20:03] mhutti1 commented on #49
@RohanBh Please instead of asking us this question, do a bit of work for yourself and find out. We don't have infinite memories. If you come back and think its fixed then we can verify this and then close the issue.

[2018-03-01 20:04] mhutti1 commented on #493
@Abishek10 as you can clearly see by the comment just above yours (please actually read issues fully before attempting to comment) @sdivakarrajesh has been working on it for 5 days. If after a week or two still no work has been completed then we can think about reassigning it.

[2018-03-01 20:08] RajaVamsi11 commented on #98
@mhutti1  It is about 2 weeks that @rishabchirania working on it ,but there is no update.
Can i start working on this @rishabchirania .

[2018-03-01 20:11] mhutti1 commented on #510
It looks to be a HTTPS issue, thus locale's might use a different mirror and might not be effected as much. We should still try to fix this though:

[code]

[2018-03-01 20:14] mhutti1 commented on #537
GitHub is weird about who can be assigned. We can do some people but others need to accept an invite which should just have been sent to you.

[2018-03-01 20:15] RajaVamsi11 commented on #510
@mhutti1  On it.

[2018-03-01 20:17] RajaVamsi11 commented on #537
@mhutti1 I tried assigning this issue for @harshvardhan-takawale  but the name is not present in list.Why?

[2018-03-01 20:19] mhutti1 commented on #544
@aryanagarwal15 Firstly this might be difficult as it is part of the Android WebView secondly I just tried this out on my phone and chrome does not do this.

This might lead to people accidentally zooming do you have any more evidence to back this up?

[2018-03-01 20:20] mhutti1 commented on #537
@RajaVamsi11 See my comment just above yours where I explain it in detail.

[2018-03-01 20:30] aryanagarwal15 commented on #544
@mhutti1 Chrome (mobile) does have double tap to zoom but it doesn't work for websites that are responsive, try opening website in Desktop mode and using double tap to zoom. You can try using google search as a test site. If you want I can upload a gif for the same.

[2018-03-01 21:27] siddharth2010 commented on #425
@mhutti1 @srv-twry @kelson42 , to do this task, I was thinking of using Data Binding (https://developer.android.com/topic/libraries/data-binding/index.html) in the help.xml layout file to set the src of the image based on the boolean value of the nightMode variable from userPreferences.

Do you think this is the correct way, or is there any other better way.

[2018-03-02 00:31] amerinoo commented on #538
Hi, in my case didn't crash instead of it the screen freeze with a white background.

[2018-03-02 00:44] #491 closed

[2018-03-02 00:58] #519 closed

[2018-03-02 01:01] mhutti1 commented on #544
@aryanagarwal15 Its an interesting dilemma then because most of our content is responsive but I don't think its under any obligation to be. My gut feeling is that this isn't really needed and will cause more confusion than anything else but if anyone disagrees I would like to here their opinion.

[2018-03-02 01:02] mhutti1 commented on #425
@siddharth2010 I have never used data bindings before but they look interesting. If you want to try to use them then sure go ahead and I am sure I will learn something.

[2018-03-02 01:30] amerinoo commented on #538
@GeVic You are right with "the activity is getting created and destroyed again if the orientation changes." because is the proper behaviour of the fragment lifecycle. When the user rotates the device the view is automatically destroyed and created again. Check this [link](https://stackoverflow.com/a/17135346) for more information.

[2018-03-02 02:29] amerinoo commented on #519
Possible GSoC trying to help :). What do you think about export the Kiwix project settings? Developers as me could import then the correct settings and should be easier follow the codestyle.

![](https://lh3.googleusercontent.com/6IPPym4134jWfSh0nmiIhHF_icsMuQWCrc36N7pFVQ-yXxGV6l6-qrLyzMjxMcuun_Fz7X3KGyBxygKuGd4vv9YbdXsO5AtFDTwkp7ZP1LSvpn4QLhSsGEep3yX7AShryWyFJMJXqq_gsE4SmYjHbMbIQy71an_oqxcBANhH6n

[2018-03-02 03:59] srv-twry commented on #425
@mhutti1 @siddharth2010 I have used Data bindings before and it's a really good library to use. Although IMO we should either use Data bindings in each and every layout or shouldn't use it all. There should be consistency throughout the application.

[2018-03-02 04:15] savannahar68 commented on #493
@mhutti1 Hello sir, the issue is open since 8 days and @sdivakarrajesh hasn't even forked the repo and started to work, I have already made the necessary changes and made it look good if you say sir can I send a PR.

[2018-03-02 05:48] srv-twry opened #547 "Convert all ListView to RecyclerView"
**Is it a ?**

- [ ] Bug Report

- [x] Feature Request

## Feature Request

#### Feature Description

Right now we are using ListViews. We should refactor to use RecyclerView in order to get high performance. I do understand that on smaller lists it hardly matters, but in lists with large number of entries, it does. For eg: In LibraryFragment where we have a huge list of zim files to download.

@m

[2018-03-02 08:16] suyash0103 opened #548 "Bottom Navigation Bar Scrollable."
**Is it a ?**

- [ ] Bug Report

- [x] Feature Request

## Bug Report

### Step 1: Are you ready to report?
   - Your issue may already be reported! Please search on the [issue track](../) before creating one.
   - [x] I have tested with the last (dev) version of the software.  ( If not, and if possible, run your test again with the most recent version available.)

### Step 2: What is your environ

[2018-03-02 08:23] harshvardhan-takawale commented on #537
@ISNIT0 I am facing a problem in reproducing the bug, it might be another bug. I downloaded the Bollywood Zim and searched "Battle of Bittora" and "Dliwale Dulaniya le jayange", I can see the names below the search bar but when I tap on I it doesn't open but takes me to Bollywood's homepage. @brijeshshah13 @srv-twry @RajaVamsi11 can you guys confirm the behavior?

[2018-03-02 08:27] ISNIT0 commented on #537
Hmm, I don't get that at all - what device are you using?

[2018-03-02 09:10] harshvardhan-takawale commented on #537
@ISNIT0 Moto G4 Plus.

[2018-03-02 09:55] sdivakarrajesh commented on #493
Hey there..
I am working on a local cloned repo..
There is a persisting bug that makes the app crash that I discovered while implementing the feature..
That’s why I haven’t made a PR yet..

[2018-03-02 10:18] savannahar68 opened #549 "Language Section Enhancement"
**Is it a ?**

- [ ] Bug Report

- [x] Feature Request

## Bug Report

### Step 1: Are you ready to report?
   - Your issue may already be reported! Please search on the [issue track](../) before creating one.
   - [x] I have tested with the last (dev) version of the software.  ( If not, and if possible, run your test again with the most recent version available.)

### Step 2: What is your environ

[2018-03-02 10:19] harshvardhan-takawale commented on #537
@ISNIT0
![20180302_140325](https://user-images.githubusercontent.com/28982436/36894408-38813898-1e31-11e8-8d40-d671a1af980e.gif)

[2018-03-02 10:27] savannahar68 commented on #493
@sdivakarrajesh Ok cool,I have already made changes and the app works perfectly fine ,if you want I can make a PR and add the feature

[2018-03-02 10:42] ISNIT0 commented on #537
I think I originally found it by clicking through links - try finding it through links I guess?

[2018-03-02 10:47] harshvardhan-takawale commented on #537
@ISNIT0 Yes found it through the links. So there is no problem in the zim file I guess. So must be a but in the app? What do you think?

[2018-03-02 13:14] RajaVamsi11 commented on #548
@suyash0103  Decsribe the feature you want to add.

[2018-03-02 14:23] arunkiddo commented on #517
Yep I like to work on this.Could You assign me this ??

[2018-03-02 14:30] RajaVamsi11 commented on #517
@arunkiddo I think that @ashutoshbsathe was working on it.He also created a PR.
Kindly find an another issue or create your own issue and start working on it.

[2018-03-02 14:35] RajaVamsi11 commented on #549
@savannahar68 The feature request is good to add.
what do you say @srv-twry @abdulwd @brijeshshah13

[2018-03-02 14:38] srv-twry commented on #549
@savannahar68 LGTM.

[2018-03-02 14:42] ashutoshbsathe commented on #517
@arunkiddo This issue is almost fixed and PR is also up !
I will close this issue when the PR is merged.
So I'd suggest look for another issue
Peace

[2018-03-02 14:44] srv-twry commented on #549
@savannahar68 Please don't call me sir :smile:
I would wait for @mhutti1 to suggest what to do in this issue and also in the RecyclerView issue. I created that issue and the plan if accepted would be to change all the ListViews to RecyclerView or atleast the performance intensive ones. If we indeed decide to change to RecyclerView then it would be better to hold this one up.

[2018-03-02 14:44] #477 closed

[2018-03-02 16:36] amerinoo opened #550 "Unregister the receiver when fragment is destroyed. Refactor code."
**Is it a ?**

- [x] Bug Report

- [ ] Feature Request

## Bug Report

### Step 1: Are you ready to report?
   - Your issue may already be reported! Please search on the [issue track](../) before creating one.
   - [x] I have tested with the last (dev) version of the software.  ( If not, and if possible, run your test again with the most recent version available.)

### Step 2: What is your environ

[2018-03-02 17:29] savannahar68 opened #552 "Local languages and count not present in Night mode"
**Is it a ?**

- [x] Bug Report

- [ ] Feature Request

## Bug Report

### Step 1: Are you ready to report?
   - Your issue may already be reported! Please search on the [issue track](../) before creating one.
   - [x] I have tested with the last (dev) version of the software.  ( If not, and if possible, run your test again with the most recent version available.)

### Step 2: What is your environ

[2018-03-02 17:31] kelson42 commented on #100
The implementation of this ticket seems really important to save a lot of reviewers time.

[2018-03-02 18:17] sdivakarrajesh commented on #493
Happy to say that i am ready to make the pull request now..:-)

[2018-03-02 18:31] jb1998 opened #555 "Bottom Toolbar hide text in Help screen"
**Is it a ?**
 Bug Report

## Bug Report

### Step 1: Are you ready to report?
   - Yes

### Step 2: What is your environment?
  * version of the software you use : Android Studio 3.0.1
  * device / operating system : Micromax/5.0

### Step 3: Describe the problem:
When bottom toolbar is enabled then on help screen the bottom most text is not visible
as Bottom toolbar is on it.

  * What do you ob

[2018-03-02 22:29] vansh1sh opened #556 "Zoom level option color should be grayed when disabled"
**Is it a ?**

- [x] Bug Report

## Bug Report

### Step 1: Are you ready to report?
   - [x] I have tested with the last (dev) version of the software.  ( If not, and if possible, run your test again with the most recent version available.)

### Step 2: What is your environment?
  * version of the software you use :  3.0.1
  * device / operating system :  Samsung J7 / 7.0

### Step 3: Describe th

[2018-03-02 23:31] mhutti1 commented on #519
We are looking at implementing a style check into our build process after that we can look into exporting standard settings.

[2018-03-02 23:33] mhutti1 commented on #548
Firstly the template is a template. You are meant to comment out the questions and write your answer, leaving the whole thing in makes it almost unreadable,

Secondly closing this as I have no clue what you are describing. Please create a new issue with more detail and some graphics.

[2018-03-02 23:33] #548 closed

[2018-03-02 23:45] mhutti1 commented on #550
We should fix this. When the issue template asks for a "copy or a screenshot" it means that you copy a crash log or screenshot the application. Not screenshot the log :P.

[2018-03-02 23:47] mhutti1 commented on #549
I don't believe fastbar is needed at the moment and we have another issue open looking into that. As for nightmode you have created another issue so closing as duplicate of #552.

[2018-03-02 23:47] #549 closed

[2018-03-02 23:49] mhutti1 commented on #556
Sure go ahead.

[2018-03-03 00:23] #520 closed

[2018-03-03 06:18] GeVic commented on #555
@jb1998 I saw two option related to this in settings, first to enable the toolbar and the second is to make it visible/ or not while scrolling so i think that solves the issue.

[2018-03-03 06:51] brijeshshah13 commented on #98
@RajaVamsi11 Please go ahead. I will assign the issue to you.

[2018-03-03 07:07] brijeshshah13 commented on #544
@aryanagarwal15 @RajaVamsi11 I agree with @mhutti1 and do not think it's really needed as we already have pinch to zoom and text size zoom (in progress). This may even lead to accidental opening of unwanted hyper links as there are many in the content.

[2018-03-03 07:23] brijeshshah13 commented on #547
@srv-twry @mhutti1 I think it will have a positive impact on the performance. Please go ahead.

[2018-03-03 07:30] jb1998 commented on #555
@GeVic That option is also not working.
The above screenshot in the issue has option "Keep Toolbar Visible" off and by it last 5-6 lines are not visible.
By turning this option on last 2 lines are not visible. So problem is still there.
Below is screenshot when "Keep Toolbar Visible" option is turned on
<img src="https://user-images.githubusercontent.com/23710417/36931761-ca66030e-1ee2-11e8-97fc-6

[2018-03-03 07:33] brijeshshah13 commented on #555
@jb1998 Please go head and fix this.

[2018-03-03 07:45] aryanagarwal15 commented on #544
@brijeshshah13 So should I close the issue then?

[2018-03-03 07:49] brijeshshah13 commented on #544
@mhutti1 @aryanagarwal15 Yes please.

[2018-03-03 07:53] RishabhRawatAndroid commented on #556
@vansh1sh  where you find the **version 2.3 build 55 **.  I recently clone this repo but I found that my master branch app **version number is 2017-07 build 1** and I have already up to date repo.

[2018-03-03 07:55] #544 closed

[2018-03-03 09:00] vansh1sh commented on #556
@RishabhRawatAndroid You need to select the correct build variant. Ensure your build variant is kiwixDebug to build the standard app.

[2018-03-03 09:42] amerinoo commented on #550
Ups... Hahaha. Actually the applicattions doesn't crash but is better prevent future problems with that. As you can see in the PR, I removed code from ZimManageActivity where in theory the app unregister the reciver, but it really didn't do that because the code should be in the fragment itself. Do you agree?

[2018-03-03 10:12] RishabhRawatAndroid commented on #556
@vansh1sh  Big thank you vansh1sh.

[2018-03-03 11:25] RajaVamsi11 commented on #98
@mhutti1  As you can see in screenshot (linked below) there are
1767 warnings, 181 errors and 3140 typos.

![screenshot 12](https://user-images.githubusercontent.com/30550059/36933653-1418fe14-1f03-11e8-8cbf-22ffc0c0ee56.png)

I am gonna **supress** each and every warning and error.
I will add all the typos to dictonary.

[2018-03-03 12:09] GeVic opened #561 "Unnecessary padding in Full-Screen"
### It is a?

- [x] Bug Report
- [ ] Enhancement

## Bug Report

### Are you ready to report?
- [x] Ensure you have tested with the last (dev) version of the software.  (If not, and if possible, run your test again with the most recent version available.)

### Environment
  * version of the software you use : **3.0.1**
  * device / operating system : **Huwawei BLN-L22 (Android 7.0 API 24 )**

###

[2018-03-03 12:41] srv-twry commented on #550
Log:
[code]

[2018-03-03 12:53] srv-twry commented on #550
@amerinoo

I kind of disagree but you're on the right track. It does do what it is supposed to do but it does it when the Activity is finished not the fragment. Hence we get the crash.
Your PR seems correct though since you have moved it to the ```onDestroy``` of the Fragment.

[2018-03-03 13:13] harsh-2711 commented on #561
There's no problem with my device. I am using One Plus 5T(Android 8.0). No extra padding is appearing.

[2018-03-03 13:32] srv-twry opened #563 "Refactor: Move Play-Store URI constants to `goToRateApp` method"
## Feature Request

#### Feature Description

Currently the PlayStore URI's are created in the ```initPlayStoreUri``` method in the ```KiwixMobileActivity```.
They should be made a public static const field inside the ```NetworkUtils``` and used directly inside the Activity.

It's a very simple issue hence should be tackled only by first timers.

[2018-03-03 13:43] sdivakarrajesh commented on #493
i have opened a new pull request #564

-Still the back to top feature is set as a user preference and can be enabled or disabled.
-But now the button has been replaced by FAB and it does not overlap the bottom tool bar when both are enabled
-Added a night mode version of the FAB too

[2018-03-03 13:52] srv-twry opened #565 "Refactor: Instantiate all clickListeners in separate methods in KiwixMobileActivity"
## Feature Request

#### Feature Description

Right now all the clickListeners are instantiated inside the ```onCreate``` of the ```KiwixMobileActivity``` which makes it really lengthy and hard to read.
Create separate methods for it and call them from the ```onCreate``` method.

**Eg**:
Right now the following code is present inside the ```onCreate```
[code]

It would be better to make a separate

[2018-03-03 15:45] GeVic commented on #561
@harsh-2711  When i run this repository on the studio it shows the padding even on the emulator but the app "kiwix" on the play store doesn't.
Can you please tell me why?

[2018-03-03 15:51] amerinoo commented on #550
Have you already get the crash? It's so strange. Could you tell us the steps to reproduce the crash?

[2018-03-03 15:53] srv-twry commented on #550
Sorry, by crash i meant the error log. The app doesn't crash.
Also this isn't from your PR. You added the screenshot for the error which is difficult to read hence i added the log message from the master branch.

[2018-03-03 15:56] brijeshshah13 commented on #495
@MayankChuriwal What is the status of the PR?

[2018-03-03 15:58] brijeshshah13 commented on #442
@jb1998 Indeed. @harsh-2711 is currently working on the issue with another approach. However, you can create a new issue to solve this particular issue.

[2018-03-03 16:03] GeVic commented on #555
@jb1998 @brijeshshah13 It's working for me. I made it run on emulator too. It stills shows no problem to me.

[2018-03-03 16:04] brijeshshah13 commented on #555
@GeVic Can you please attach a screenshot?

[2018-03-03 16:51] jb1998 opened #566 "Bottom text hidden when toolbar visibility is off"
## Bug Report

### Are you ready to report?
   - Yes

### Environment
  * version of the software you use : Android Studio 3.0.1
  * device / operating system : Micromax / 5.0

### The Bug:

  * What do you obtain? A copy of the error message or a screenshot is always useful.
gif showing the issue

<img src="https://user-images.githubusercontent.com/23710417/36935061-4ab266e4-1f18-11e8-9c5d-08321d

[2018-03-03 16:54] jb1998 commented on #442
@brijeshshah13 Okay.I opened a new issue to remove this unwanted relation between "Keep Toolbar Visible" and bottom text :)

[2018-03-03 16:59] kelson42 opened #567 "Positive search result in Wikimed fails to send user to corresponding article."
_From @Popolechien on March 3, 2018 13:0_

From OTRS:
I'm using the wikimed app.
 Version : 2017-08
Buid : 1172141

Whenever I type gongylonema pulchrum , I get the search results but when I tap on it.. nothing happens... It doesn't direct me to the content.

_Copied from original issue: kiwix/kiwix-android-custom#17_

[2018-03-03 16:59] kelson42 commented on #567
I confirm the bug... but this is more for the Kiwix repo.

[2018-03-03 17:46] GeVic commented on #555
@brijeshshah13 yeah sure, here you go

![issue](https://user-images.githubusercontent.com/29516629/36937342-c458a174-1f37-11e8-8328-df05ce9ebc43.gif)

[2018-03-03 17:50] brijeshshah13 commented on #555
@GeVic As you can notice from the previous comments, the issue is concerned with the Help screen and not with the content screen.

[2018-03-03 17:56] RajaVamsi11 commented on #547
@srv-twry  RecyclerView is better than ListView in many ways.Nice idea.

[2018-03-03 17:59] GeVic commented on #555
@brijeshshah13 Are you talking about the kiwix app (on play store) because when i ran this on studio, there is no help button there.

[2018-03-03 18:03] brijeshshah13 commented on #555
@GeVic Nope, I'm too building it from the studio. It is in the menu options. Please make sure you are using the `kiwixDebug` build variant.

[2018-03-03 19:47] brijeshshah13 opened #569 "App directly minimizes on back pressed in full-screen mode"
## Bug Report

### Are you ready to report?
   - Your issue may already be reported! Please search on the [issue track](../) before creating one.
   - Ensure you have tested with the last (dev) version of the software.  (If not, and if possible, run your test again with the most recent version available.)

### Environment
  * version of the software you use : 2.3 build 55
  * device / operating sy

[2018-03-03 19:53] srv-twry commented on #569
IMO we should go with the second one i.e. go to the parent webview before exiting the full screen mode.

Reason: If we go for the first one, then we won't have any way to go back to the previous webview without leaving full screen. In that case the user would have to leave full screen first, go back to previous web view and then enter full screen again.

While in the second option, if he/she wants

[2018-03-03 19:56] brijeshshah13 commented on #569
@srv-twry Sounds logical to me. I'll wait for @mhutti1's view, although I think even he will go with the second one.

[2018-03-03 20:12] RohanBh commented on #569
I too think that the second approach is better.

[2018-03-03 20:16] srv-twry commented on #56
@kelson42 @mhutti1 I have been researching on this issue and would appreciate some help on a problem.

I am trying to find the code snippet where we load the embedded zim files from the assets folder and open it, in order to explore the issue further. I can't find it.
The closest thing i found is the following code snippet inside ```KiwixMobileActivity```:

[code]

I think in order to access files

[2018-03-03 20:17] RohanBh commented on #561
I am confirming that this issue exists. My device is oneplus 3(Android 8.0).

[2018-03-03 20:21] harsh-2711 commented on #561
@GeVic What is the Android version of your emulator?

[2018-03-03 20:31] GeVic commented on #561
@harsh-2711  Its 8.0

[2018-03-03 21:09] RohanBh commented on #49
@mhutti1 I am sorry for before.
I have checked with the latest build on master as of now and have found the following

1. While searching in forced RTL mode(via developer settings), the text is always LTR. Other apps like Chrome, Play Store, WhatsApp, etc. behave in the same way.
2. In LTR searching, back arrow and the cross are opposite to each other. But, in RTL searching, both of these icons cl

[2018-03-03 21:31] sakchhams commented on #154
@kelson42 I've opened a PR #571 based on your suggestion. Please have a look and provide inputs. Thank you!

[2018-03-03 22:12] RohanBh commented on #567
@kelson42 which search is this? For me, there is no problem with the global search. I am on the ArchWiki zim.

[2018-03-03 22:30] vansh1sh opened #572 "Screen Rotation deletes the user input in the search bar"
**Is it a ?**

- [x] Bug Report

## Bug Report

### Step 1: Are you ready to report?
   - [x] I have tested with the last (dev) version of the software.  ( If not, and if possible, run your test again with the most recent version available.)

### Step 2: What is your environment?
  * version of the software you use :  3.0.1
  * device / operating system :  Samsung J7 / 7.0

### Step 3: Describe th

[2018-03-03 22:36] RohanBh opened #573 "Bottom Toolbar hides the content of the last few lines on any page"
## Bug Report

### Are you ready to report?
Yes

### Environment
  * version of the software you use : v2.3 Build 55
  * device / operating system : oneplus 3, Android 8.0

### The Bug:

![20180304_035223](https://user-images.githubusercontent.com/24610859/36939934-a27c2134-1f5f-11e8-9605-51f0d4e3a220.gif)
The Bottom Toolbar when visible hides the last few lines of the webpage.

#### Steps to repr

[2018-03-03 23:47] mhutti1 commented on #569
Yeah second sounds better.

[2018-03-03 23:51] mhutti1 commented on #56
So our current solution is a bit of a hack. We package the ZIM as a .so file and save it as if it were a native library. It gets extracted automatically on install and we read it as if it were a ZIM file. If we uses Assets then the same happens except we do the extraction our self neither are efficient. We should implment the C++ solution but it is very challenging.

[2018-03-03 23:54] mhutti1 commented on #49
I would.

[2018-03-03 23:58] mhutti1 commented on #573
I am very worried about us simply going in circles with #555 and #556 and this possibly. These issues must be fixed synchronously not concurrently otherwise its very likely you will accidentally just undo each others work to get your issue fixed.

[2018-03-04 00:11] Abishek10 commented on #565
@srv-twry Can i work on this ?

[2018-03-04 00:31] RohanBh commented on #573
I agree with you. I noticed this issue while working on [this PR](https://github.com/kiwix/kiwix-android/pull/570), since movement of bottom toolbar is constrained with that of action bar. So I opened this as soon as I completed that PR without realizing that similar issues have been opened.
Should I close this issue now?

[2018-03-04 04:13] jb1998 commented on #555
@brijeshshah13 @mhutti1
According to me we can have 2 things-
1) When "Keep Toolbar Visible" is enabled then both bottom and top toolbar are fixed on screen. So we can make the top toolbar fixed on screen when "Keep Toolbar Visible" is enabled and bottom toolbar hides on scrolling.
2) If we want both bottom and top toolbar fixed on screen when "Keep Toolbar Visible" is enabled then we can leave th

[2018-03-04 06:41] kelson42 commented on #56
This is IMO a too complicared task for the Gsoc.

[2018-03-04 06:49] kelson42 commented on #567
@RohanBh Read properly the ticket. It is not a problem with the archwiki zim. It is a problem with one article of the wikipedia en medical zim.

[2018-03-04 06:57] abdulwd commented on #547
We must use **RecyclerView** for a huge list of items. So, in **LibraryFragment** it'll surely have a positive impact. But for small lists, as you said there's hardly any improvement so we can keep using **ListView**. I'm a bit busy these days because of my exams so it's difficult to balance this. So it took me time to reply.

[2018-03-04 07:12] venomousboxer commented on #563
can I work on this?
I am a first timer.

[2018-03-04 07:13] srv-twry commented on #563
Yes, please go ahead.

[2018-03-04 07:14] srv-twry commented on #565
Yes, please go ahead.

[2018-03-04 07:35] brijeshshah13 commented on #547
@abdulwd I agree that **RecyclerView** will hardly have any improvement for small lists, however, there are other benefits as well such as [these](https://stackoverflow.com/a/31199564/6216410) which gives itself an edge considering the future prospects. Sounds reasonable?

[2018-03-04 07:43] sdivakarrajesh opened #574 "Open downloaded content library section on closing last tab"
## Bug Report

### Are you ready to report?
   - Yes

### Environment
  * version of the software you use : 2.3 Build 55
  * device / operating system : nexus 5(Emulator) / Nougat

### The Bug:

  * Closing the last tab (with the first page) of the  article opens the first page of the same article again
  * it should open the available downloaded articles (in device section)

#### Steps to reprodu

[2018-03-04 07:57] brijeshshah13 commented on #572
@vansh1sh Please go ahead and fix it.

[2018-03-04 08:02] brijeshshah13 commented on #555
@jb1998 I think the first one will be a more cleaner and better approach. @mhutti1 What are your views?

[2018-03-04 09:48] savannahar68 commented on #552
@brijeshshah13  Sir, should I close this issue as the PR is made and the enhancements are added.

[2018-03-04 10:13] GeVic commented on #561
@RohanBh Yeah its still there so @mhutti1 can i work on this issue.

[2018-03-04 10:17] RohanBh commented on #561
Yes, I think you can start working on it. Mhutti1 might have gone to sleep
now.

On Mar 4, 2018 3:43 PM, "Veeki Yadav" <notifications@github.com> wrote:

@RohanBh <https://github.com/rohanbh> Yeah its still there so @mhutti1
<https://github.com/mhutti1> can i work on this issue.

—
You are receiving this because you were mentioned.

Reply to this email directly, view it on GitHub
<https://github.c

[2018-03-04 12:36] Aditya-Sood commented on #488
Hello @srv-twry
I'm just over the beginner threshold in Android, and want to contribute to the app portion of the project.
I have a decent idea about the separation of data, app logic, & user interaction in the MVP model.

Are there any activities which you haven't covered yet which I can have a go at?

[2018-03-04 12:36] aryanagarwal15 opened #579 "Snackbar appears over bottom toolbar"
## Bug Report

### Are you ready to report?
   - Your issue may already be reported! Please search on the [issue track](../) before creating one.
   - Ensure you have tested with the last (dev) version of the software.  (If not, and if possible, run your test again with the most recent version available.)

### Environment
  * version of the software you use : Android Studio 3.0.1
  * device / oper

[2018-03-04 12:55] srv-twry commented on #488
@Aditya-Sood
Hi! Actually i haven't started yet. I am having to wait for other issues to be solved before i can go ahead with this.
Also this issue is a big issue so yes we can split them once it's time to work on it.

[2018-03-04 15:46] Aditya-Sood commented on #488
@srv-twry
Which list of GSoC ideas are you exactly referring to? I couldn't find one anywhere

[2018-03-04 15:52] srv-twry commented on #488
[here](http://wiki.kiwix.org/wiki/GSoC#GSoC_2018_Ideas_List)

[2018-03-04 16:01] Aditya-Sood commented on #488
Thanks :+1:
Let me know when we can start working on it

[2018-03-04 16:02] srv-twry opened #581 "Refactor: Unify common code in BookDao"
## Feature Request

#### Feature Description

BookDao contains methods ```getDownloadingBooks```, ```getBooks```, ```saveBook``` and ```saveBooks```. There is a lot of common code between ```getDownloadingBooks``` and ```getBooks```. We should extract out the common code in another method.
Similarly in case of ```saveBook``` and ```saveBooks```.

[2018-03-04 16:13] RohanBh opened #582 "Icons are clumped together in RTL global search"
## Bug Report

### Are you ready to report?
   Yes
### Environment
  * version of the software you use: v2.3 Build 55
  * device / operating system: oneplus 3, Android 8.0

### The Bug:
In LTR searching, back arrow and the cross are opposite to each other. But, in RTL searching, both of these icons clump together in the left corner.
![LTR](https://user-images.githubusercontent.com/24610859/3693930

[2018-03-04 16:15] RohanBh commented on #49
#582
I have created a new issue.

[2018-03-04 16:16] RohanBh commented on #49
@mhutti1 can you please assign me #582 and #365?

[2018-03-04 16:18] srv-twry opened #583 "Refactor: Make KiwixDatabase and DAOs available through DI"
# For a Feature Request:

## Feature Request

#### Feature Description

Currently we aren't using Dependency injection for KiwixDatabase and it's DAO classes. We must provide them using Dagger.

[2018-03-04 16:27] Aditya-Sood commented on #121
@kelson42 @mhutti1
Based on what I know, one can find out the type of file being referred to by the link; and then use an _intent_ to open it (which will automatically give the user a list of apps which can open that particular type of file).

If this is how you want it done, can I work on this issue?

[2018-03-04 17:43] GeVic commented on #561
@RohanBh So i was working on the issue and was trying to fix it and made some changes but as soon as i undo those changes the problem was gone. I don't how but the problem is no longer there.
It would be good if you can also give a check to it in your studio and let me know.
And the problem occurs only when you have not-ticked "Keep toolbar visible". So can you give it a try to be sure?

[2018-03-04 17:44] GeVic commented on #561
@RohanBh  also the GIF above was before any changes i made so it's weird.

[2018-03-04 17:53] GeVic commented on #581
@srv-twry i would like to work on this.

[2018-03-04 17:53] GeVic commented on #581
@srv-twry  I would like to work on this.

[2018-03-04 18:05] srv-twry commented on #581
Please go ahead.

[2018-03-04 18:54] amerinoo commented on #566
On my phone is working well. I can see the full text without enable the option "Keep Toolbar Visible"

[2018-03-04 19:17] amerinoo commented on #550
Now it's all ok I think, isn't it?

[2018-03-04 19:33] srv-twry commented on #566
@amerinoo
@jb1998 has already mentioned that he would like to explore and work on this issue.

[2018-03-04 19:33] srv-twry commented on #550
Yup

[2018-03-04 20:58] amerinoo commented on #566
@srv-twry  Ok, I just wanted to help. I will find another issue for me, any suggestion?

[2018-03-04 21:12] srv-twry commented on #566
#583 May be ?

[2018-03-04 23:25] amerinoo commented on #583
I will work on that.

[2018-03-05 00:46] mhutti1 commented on #573
Its up to you. Imo we should combine all issues relating to this into a single issue.

[2018-03-05 00:48] mhutti1 commented on #574
No it should not. For now the current solution is what is intended.

[2018-03-05 00:48] #574 closed

[2018-03-05 00:50] mhutti1 commented on #555
I don't really mind. Implement a solution that is both easy to understand and efficient while keeping the current features.

[2018-03-05 00:51] mhutti1 commented on #552
@savannahar68 The PR is not merged so the issue will stay open to track it as is standard.

[2018-03-05 00:59] mhutti1 commented on #365
@Koundinyalanka are you still working on this?

[2018-03-05 01:01] mhutti1 commented on #121
If you are able to reproduce and then fix it then sure.

[2018-03-05 01:04] mhutti1 commented on #561
At the moment we have about 5 open issues regarding variations on bottom and top bar padding. One could easily have fixed this. @GeVic can you confirm this is now fixed on master so we can close this up?

[2018-03-05 01:06] mhutti1 commented on #583
Read up on it and look what we have already implemented in the di folder.

[2018-03-05 01:25] #528 closed

[2018-03-05 01:54] #168 closed

[2018-03-05 05:45] brijeshshah13 commented on #579
@aryanagarwal15 Go ahead, fix it.

[2018-03-05 06:09] brijeshshah13 commented on #573
@RohanBh @mhutti1 Agreed. There are multiple people working on this same task under different issues and PR's. Also, please note that we require a fix and not a hack.

[2018-03-05 06:15] brijeshshah13 commented on #552
@savannahar68 As @mhutti1 said and please don't refer to me as "Sir" 😄 , I'm too a fellow applicant.

[2018-03-05 06:17] RohanBh commented on #573
@brijeshshah13 What do you mean by a hack?

[2018-03-05 06:18] brijeshshah13 commented on #573
@RohanBh Like making the bottom toolbar transparent or as such.

[2018-03-05 07:10] GeVic commented on #561
Sure!

On Mar 5, 2018 6:34 AM, "Isaac Hutt" <notifications@github.com> wrote:

[2018-03-05 09:12] RohanBh commented on #573
@mhutti1 How do we merge these issues? I can think of creating a main issue covering all the points in these sub-issues. Then reference the main issue from all these sub-issues and close them.
Or we can assign a person to work on all these issues and when he makes a PR, he'll just reference all these issues at once, thereby closing them as the PR is merged.

[2018-03-05 09:28] GeVic commented on #561
@mhutti1 The issue has been resolved but someone messed up with the search button in the help section as the app crashes when i click on it.
Should i resolve it?

[2018-03-05 09:41] brijeshshah13 commented on #573
@RohanBh The first approach sounds better.

[2018-03-05 09:41] GeVic commented on #561
@mhutti1 @RohanBh So it was because of the recent merges made to the searchactivity which made the app to crash.
Should i go ahead and correct those changes?
Anyhow this issue #561 is resolved so you can close this one.

[2018-03-05 10:25] RohanBh opened #585 "Kiwix crashes when search button is pressed"
## Bug Report

### Are you ready to report?
   Yes
### Environment
  * version of the software you use : v2.3 Build:55(latest build from master, commit cf4187f)
  * device / operating system : oneplus 3, Android 8.0

### The Bug:

[code]

#### Steps to reproduce:

  1. Tap on the search icon in the Action bar

**UPDATE:** I noticed that even after fixing the crash, a bug still remains. The [AutoCo

[2018-03-05 10:31] kelson42 commented on #585
@RohanBh I can not reproduce this crash. Does that happen only under certain conditions (not listed in the ticket?)

[2018-03-05 11:32] GeVic commented on #585
@RohanBh  I know why it is happening. It is because of the recent merges in the searchactivity

[2018-03-05 11:34] GeVic commented on #585
@RohanBh There is SharedPreferenceUtil import which can't be resolve and so the app crashes as clicked on search.
I can resolve it. should i?

[2018-03-05 11:35] RohanBh commented on #585
No it happens always @kelson42. It is happening in the latest build.
I know @GeVic.Thanks anyways.

[2018-03-05 11:39] RohanBh commented on #585
@Gevic I have already made a PR.

[2018-03-05 11:42] GeVic commented on #585
@RohanBh  oh i didn't notice it.

[2018-03-05 13:33] Aditya-Sood commented on #121
Thanks
I'll get started

[2018-03-05 14:47] RohanBh commented on #567
@kelson42 Sorry for replying late, but I wasn't able to download WikiMed zim as there was some issue(which fixed randomly). All the links on its main page open a blank page. Is it same for you too?

[2018-03-05 15:37] abdulwd commented on #547
@brijeshshah13 I know these benefits and also I don't have any problem in converting all of them to **RecyclerView**. The assignee can fix this once any of the maintainers approve it. :smile:

[2018-03-05 15:40] Popolechien commented on #567
It seems to reproduce on every article that is in italics (same result with _Candida albicans_ and _New England Journal of Medicine_): the articles are not empty though because if they exist as links within the text they appear normally (e.g. from the Vaginal yeast infection and Haemophilia articles).

[2018-03-05 16:24] srv-twry commented on #547
@mhutti1 Your views please ?

[2018-03-05 17:27] Aditya-Sood commented on #121
@kelson42
Could you give me some context as to where this issue occurs?
I downloaded and browsed a bunch of collections, but didn't come across one facing the above issue.

Videos are taken care of by the video player embedded in the browser, while hyperlinks to sites work just fine by requesting the user to select any one of the installed browsers to complete the task.

The only collection where

[2018-03-05 18:49] dhirajj75 commented on #579
We can set the timer for the snackbar and make it disappear after specific time.

[2018-03-05 19:01] aryanagarwal15 commented on #579
@dhirajj75 The timer is already there. I'm trying to solve this bug by using what google specifies in their material guidelines page. I'm trying to achieve what I've shown in the last screenshot in the issue.

[2018-03-05 19:04] dhirajj75 commented on #579
@aryanagarwal15  yes! It can be done.

[2018-03-05 19:05] dhirajj75 commented on #579
Can I work on this?

[2018-03-05 19:16] aryanagarwal15 commented on #579
@dhirajj75 I am already working on this.

[2018-03-05 20:32] GeVic commented on #585
@RohanBh if you don't mind can you tell me how setupDagger() stopped the crash.
Thanks

[2018-03-05 20:45] RohanBh commented on #585
`setUpDagger()` is the method where we use the component to inject the dependencies into the class. `sharedPreferenceUtils` is one of such dependency. Calling a `SharedPreferenceUtils.java` class' method through `sharedPreferenceUtils` variable without instantiating it produces a `NPE`.

[2018-03-06 00:43] mhutti1 commented on #561
@GeVic Can you report your crash in a new issue if it isn't already then you can work on it.

[2018-03-06 00:43] #561 closed

[2018-03-06 00:44] mhutti1 commented on #573
Yeah we should do that. The person who created the first issue should get first attempt at solving the combined issue and the second next as such.

[2018-03-06 00:45] mhutti1 commented on #547
Yeah, lets do this.

[2018-03-06 00:59] #569 closed

[2018-03-06 01:10] #535 closed

[2018-03-06 01:24] #413 closed

[2018-03-06 01:32] #459 closed

[2018-03-06 01:40] #375 closed

[2018-03-06 02:48] anandwana001 opened #588 "Improve Readme"
## Feature Request
Improve Readme

#### Feature Description
Improve Readme file with play store account link, app logo, chat badge and Used libraries description which can help newcomers to get easy access and it makes readme file look appropriate

[2018-03-06 03:49] dhirajj75 commented on #579
@aryanagarwal15 okay!

[2018-03-06 04:45] srv-twry commented on #585
Ah! my mistake. Thank you.
BDW Can you please do a quick check in all the classes which use SharedPreferenceUtil whether injection is done properly ?
I checked it and was also checked by others during PR review but may be we missed one or two.

[2018-03-06 04:46] srv-twry commented on #585
For the list of files you can see my PR #515

[2018-03-06 04:53] siddharth2010 commented on #424
superseded by #552

[2018-03-06 04:53] #424 closed

[2018-03-06 05:08] dhirajj75 commented on #532
@brijeshshah13  I have solution for the night mode we can use blue color of shade #42A5F5 and for anything having white color we can change it to off white or with brownish white.
can I work on this?

[2018-03-06 06:48] GeVic commented on #561
@mhutti1 actually it's already been reported by @RohanBh and he created PR too.

[2018-03-06 10:24] dhirajj75 commented on #160
@rashiq  You want to say that you want the three tabs  Device Online Downloading above the navigation. Am I right?

[2018-03-06 10:48] RohanBh commented on #585
I did check your PR before.

[2018-03-06 11:52] amirh123123 opened #590 "Kiwix doesn't work with talk back"
## Feature Request

#### Feature Description

Get Talk back reading Kiwix articles

https://play.google.com/store/apps/details?id=com.google.android.marvin.talkback&hl=en_GB

[2018-03-06 12:32] abdulwd opened #591 "Update to Dagger 2.15"
## Feature Request
Update **Dagger** to version **_2.15_**
#### Feature Description
**Dagger** is a great dependency injection framework but presently, we are using **Dagger 2.0.2** which was released around 2 years ago. Many improvements have been made in 2 years so we must upgrade to the latest version.
After upgrading the version number, many changes might have to be made in the code since **Da

[2018-03-06 12:55] abdulwd commented on #588
I think we must further improve the documents like **README.md**, **CONTRIBUTING.md**, etc.
I have seen for small changes contributors are making multiple commits. So we must include this, that a single commit is sufficient for such type of changes and multiple commits are only required when solving a big issue.
Also, I think **COPYING** should be renamed to **LICENSE.md**.
If someone can incorpor

[2018-03-06 13:13] brijeshshah13 commented on #532
@dhirajj75 I believe @Abishek10 is working on this issue as he has made a PR for the same.

[2018-03-06 13:47] ashutoshbsathe commented on #590
I'm not clear with what issue you are having
But you need to enable "Read aloud" function for reading aloud

[2018-03-06 14:09] #460 closed

[2018-03-06 14:09] kelson42 commented on #460
@ashutoshbsathe thx for your work!

[2018-03-06 16:14] amirh123123 commented on #590
hi i use talk back but cant read articles with touching

[2018-03-06 16:57] RohanBh commented on #582
@mhutti1 I have fixed this issue. But currently, search activity crashes when it opens in the master branch. Can you please take a look at [this PR](https://github.com/kiwix/kiwix-android/pull/586) which fixes the crash, so that I can create a PR for this issue. Also, the work that is done in this PR so less. I was wondering if I can make a PR that fixes #365 as well since they are related.

[2018-03-06 17:42] Aditya-Sood opened #592 "Bug: Navigation buttons of left sliding-tab"
## Bug Report

### Environment
  * version of the software you use : v2.2
  * device / operating system : Moto G5 Plus / Android 7.0

### The Bug:

  * What do you obtain?
The navigational history of the current collection-tab (in terms of which of the two directions, forward and/or backward, can the user navigate to from the current position) is carried forward to the next collection-tab a user n

[2018-03-06 17:45] Aditya-Sood commented on #592
@mhutti1
Pl have a look at the issue

[2018-03-06 17:52] brijeshshah13 commented on #592
@Aditya-Sood Nice work finding out this bug. Please go ahead and try to fix it.

[2018-03-06 17:52] Aditya-Sood commented on #121
@mhutti1 @kelson42
Could you help me out with reference to the above comment?

If not, then I would like to proceed to a bug that I came across while using the app ( #592 )
And please do inform about your decision, so that I start focussing on the new issue.

[2018-03-06 18:04] Aditya-Sood commented on #592
@brijeshshah13
Thanks
I'll get started

[2018-03-06 19:25] dhirajj75 commented on #160
can I work on this?

[2018-03-06 21:37] brijeshshah13 commented on #160
@dhirajj75 I think this is quite a big issue because just moving the tabs to bottom bars using `BottomNavigationView` won't make much of a difference. The whole UI for the download management should be improved and thus can be a part of the GSoC application. @mhutti1 What are your views?

[2018-03-06 21:56] RohanBh commented on #567
@kelson42 I have fixed this issue. I will make a PR as soon as [this PR](https://github.com/kiwix/kiwix-android/pull/586)(which addresses the search activity crash) gets merged into master.

[2018-03-06 21:58] RohanBh commented on #567
Thanks @Popolechien for pointing out that. It helped a lot :smile:

[2018-03-07 00:26] mhutti1 commented on #561
Great, thanks for the work 👍

[2018-03-07 00:27] mhutti1 commented on #591
Yeah we should go ahead but after #515 has been sorted.

[2018-03-07 00:29] mhutti1 commented on #588
Related to #112

[2018-03-07 00:33] mhutti1 commented on #582
give @Koundinyalanka one more day then you can be reassigned.

[2018-03-07 00:38] mhutti1 commented on #121
@Aditya-Sood I am not too sure. You could try using your own HTML by temporarily modifiying around line 481 of ZimContentProvider to serve your own HTML.

[2018-03-07 00:39] mhutti1 commented on #160
Yeah I am going to close this for now as it is part of a larger issue that will get resolved separately.

[2018-03-07 00:39] #160 closed

[2018-03-07 00:41] #585 closed

[2018-03-07 00:54] #517 closed

[2018-03-07 04:03] dhirajj75 commented on #160
Yeah. I have seen this project on GSoC'18 project ideas aiming to change the whole user experience!

[2018-03-07 04:29] dhirajj75 commented on #70
yes. Because every time we open the kiwix and click on get content it takes time and internet to load the content. I also think that kiwix should be opened in search mode so that the content already loaded is not loaded again and it will be user experience.
@mhutti1

[2018-03-07 13:44] JunsuLime opened #596 "Removing application, Downloaded ZIM file still in storage."
## Bug Report

### Are you ready to report?
Ready to report :)

### Environment
  * version of the software you use : version name 2.3, version_code 55
  * device / operating system : Huawei honor A6 / Android 7.0

### The Bug

Exactly, Not Bug but enhancement.

* **Problem**
When we remove Kiwix application, Downloaded zim files are remained. Zim file is so large that it takes up our device stora

[2018-03-07 15:50] srv-twry commented on #588
There should be a single commit before opening a PR but they shouldn't squash the commits into one after changes have been requested on the PR. It is quite easier to review PRs in that way as that would allow the reviewer to check the changes after the changes were requested.
Also i believe multiple commits are never a problem. After the PR is reviewed and approved, @mhutti1 can easily squash and

[2018-03-07 16:28] Wanjuuuuu opened #597 "App crushes when pause the download whose progress is 100%"
## Bug Report

### Environment
  * version of the software you use : version name 2.3
  * device / operating system :  Galaxy S8 / Android 7.0

### The Bug:

When the progress of download is 100% and clicked the pause button, app crush has occurred.

* Why happened?
Since the downloaded one has already been cleared in another worker thread, cannot access and pause it. It would be better to check w

[2018-03-07 19:12] srv-twry commented on #591
@mhutti1 What do you mean by "sorted" ? Isn't it already merged ?

[2018-03-07 23:31] mhutti1 commented on #70
@dhirajj75 I think you might misunderstand how remote content works. once you have downloaded it once it stays on your device.

[2018-03-07 23:35] mhutti1 commented on #596
Actively removing files on uninstall is  impossible without workarounds violating Androids TOS. In most cases we should be using a file location that should get cleaned up by Android but on some devices we are direct to use an external (or fake external) location that does not do this. Do you have any specific workarounds to this as it has been discussed in multiple places before?

[2018-03-07 23:38] mhutti1 commented on #588
This depends. The issue arises when it is a large change that would ideally be split into multiple commits but because of a messy history I am left with no option but to squash and merge. It is more on a case by case basis though.

[2018-03-08 00:35] #345 closed

[2018-03-08 01:27] jb1998 commented on #555
Update : I am putting space in bottom dynamically.This is kind of straight solution to the problem.
The user has enabled "Keep Toolbar Visible" for easy usage of options so it is kept fixed until user disable this option.
So now bottom toolbar may be enabled or disabled but bottom text is now visible.

The solution is simple,this issue was with help screen so whenever help screen is called I am pr

[2018-03-08 05:57] JunsuLime commented on #596
## Problem

Current codes of Kiwix get default download directory by
[code]
In this code, `SD_CARD` is user accessible storage. And `KIWIX_ROOT` is Kiwix dowloaded files directory.
`KIWIX_ROOT` is not dependent on Application because it is not included in application data folder.

So, when we remove Kiwix application, this directory and files are not removed.

## How to solve

Instead of `Environm

[2018-03-08 06:23] divyanshub024 opened #599 "[Bug] TextView going out of the screen in landscape view"
# Bug

## Environment
  * version of the software you use: Android Studio 3.0.1
  * device / operating system : Nexus 6 / Android 7.0.1

### The Bug:
Bottom TextView in Home screen with the text "Thank you for choosing Kiwix" is going out of the screen in landscape view.

### Image
![device-2018-03-08-113400](https://user-images.githubusercontent.com/16731434/37136374-56bc5096-22c7-11e8-8cbf-8a881

[2018-03-08 06:59] divyanshub024 opened #600 "[Bug] App crashes when you close the app in while downloading in no connection condition"
## Bug Report

### Environment
  * version of the software you use: Android Studio 3.0.1
  * device / operating system : Nexus 6 / Android 7.0.1

### The Bug:

 App crashes when you close the app in no network condition while downloading the content.

#### Logs
[code]

#### Steps to reproduce:

  1. Start downloading some content
  2. disconnect network
  3. force close the app

[2018-03-08 09:01] divyanshub024 opened #601 "Download do not continue after device restart"
## Feature Request

#### Feature Description

The download does not continue when you restart the device while downloading.

[2018-03-08 12:32] harshvardhan-takawale opened #602 "bug: Transaction for "isFirstRun" not applied in SharedPreferenceUtil"
## Bug Report

The boolean has not been applied in the SharedPreferenceUtil.

[2018-03-08 17:14] RohanBh commented on #56
What is the problem with downloading the zim file once the app is downloaded?

[2018-03-08 17:15] RohanBh commented on #56
Like when we download big games, game files are downloaded after the app is installed.

[2018-03-08 17:19] brijeshshah13 commented on #599
Duplicate #555.

[2018-03-08 17:19] #599 closed

[2018-03-08 20:03] srv-twry opened #606 "bug: NPE when opening Bookmarks"
## Bug Report

### Are you ready to report?
Yes

### Environment
  * version of the software you use : Latest master
  * device / operating system : Android 5.1.1

### The Bug:

  * What do you obtain? A copy of the error message or a screenshot is always useful.
[code]

  * When does this occur?
On opening Bookmarks

#### Steps to reproduce:

  1. Open application
  2. Click on Bookmarks in the o

[2018-03-08 20:19] dhirajj75 commented on #70
@mhutti1 I was talking about the content that we get to download after we click on Get Content Button. I think untill the user makes a new search the previously loaded content should be available for download.

[2018-03-08 23:29] mhutti1 commented on #596
"Returns the absolute path to the directory on the primary shared/external storage device where the application can place persistent files it owns. These files are internal to the applications, and not typically visible to the user as media." from https://developer.android.com/reference/android/content/Context.html#getExternalFilesDir(java.lang.String). Is this misleading and can the user and othe

[2018-03-08 23:31] mhutti1 commented on #601
@divyanshub024 If you reopen our download page it does work for me. Are you sure this is the case for you?

[2018-03-08 23:32] mhutti1 commented on #56
Because this is for the specific use case where distribution is offline.

[2018-03-08 23:34] mhutti1 commented on #70
@dhirajj75 Oh ok. That has no relation to this issue though and is part of a more long running backend task.

[2018-03-09 03:46] JunsuLime commented on #596
Except Kiwix, other programs need to access downloaded zim file too?

If downloaded zim file is only for Kiwix, then It will work.
Doing something through Kiwix application, user can control all files in `getExternalFilesDir(...).getPath`.

[2018-03-09 03:53] RohanBh commented on #56
But they'll need to be online to download the app, right?

[2018-03-09 04:30] divyanshub024 commented on #601
Yes, this is the case. I tried 2-3 times it doesn't work for me.

[2018-03-09 04:57] divyanshub024 commented on #601
@mhutti1 It's working now. Maybe there was some other problem before.

[2018-03-09 05:24] divyanshub024 opened #608 "Online content reloads again after screen rotation"
## Bug Report

### Are you ready to report?

yes

### Environment
  * version of the software you use: Latest master
  * device / operating system: Nexus 6/ Android 7.1

### The Bug:
Online Content reload again after screen rotation.

#### Steps to reproduce:

  1. **go to** get content -> online
  2. Load the content
  3. change screen orientation

  * **What should be the behavior from your poin

[2018-03-09 06:07] #601 closed

[2018-03-09 06:37] divyanshub024 opened #609 "[Bug] Bottom toolbar hides reading aloud control toolbar"
## Bug Report

### Are you ready to report?
   -Yes
### Environment
  * version of the software you use: Latest master
  * device / operating system: Nexus 6/ Android 7.1

### The Bug:

  When you enable the bottom toolbar and start reading aloud, the bottom toolbar will hide reading aloud control bar.

[2018-03-09 09:08] GeVic commented on #608
@divyanshub024 This issue is already reported #559 and worked on

[2018-03-09 09:09] GeVic commented on #608
@divyanshub024 This issue has already been reported #559 and being worked on.

[2018-03-09 09:13] GeVic commented on #609
It's a bug and it happens when "Keep toolbar visible" is true otherwise it's fine.
I can resolve the issue, should i start working on it @mhutti1

[2018-03-09 09:13] divyanshub024 commented on #608
Ok, I will close the issue.

[2018-03-09 09:13] #608 closed

[2018-03-09 09:27] divyanshub024 commented on #609
even if  "Keep toolbar visible" is false the toolbar will hide only on scroll otherwise it will be shown, which is not the correct way.

[2018-03-09 09:30] divyanshub024 commented on #609
@GeVic @mhutti1 I think we should allow users to control the reading aloud feature from notification just like other music apps do. @mhutti1 if you allow I can start working on that.

[2018-03-09 09:36] GeVic commented on #609
@divyanshub024  Actually yeah you are right, and since you wants to work on it i'll take a step back.

[2018-03-09 10:10] divyanshub024 opened #610 "[Bug] Bottom toolbar is allowing "Help" to be bookmarked"
## Bug Report

### Are you ready to report?
   - Yes

### Environment
  * version of the software you use : Latest master
  * device / operating system : Android 7.1

### The Bug:

  Action bar doesn't allow Help to be bookmarked but when you enable bottom toolbar, it allows you to bookmark help.

**What should be the behaviour from your point of view? How do you expect the service to work?**

Hel

[2018-03-09 10:32] GeVic commented on #610
@divyanshub024 It would be better if you write below the issue report if you want to work on the same.

[2018-03-09 10:38] GeVic commented on #579
@dhirajj75 If you are not currently working on this should i resolve the issue. Should i @mhutti1

[2018-03-09 11:04] aryanagarwal15 commented on #579
@GeVic I am currently working on it.

[2018-03-09 11:37] GeVic commented on #579
@aryanagarwal15 Okay

[2018-03-09 13:25] GeVic opened #611 "Bottom Toolbar darker shade"
## It is a:
- [ ] Bug Report

- [x] Enhancement

### Description
The color of the bottom toolbar should be more darker according to me.
The present color:
![1](https://user-images.githubusercontent.com/29516629/37209350-0770735a-23cb-11e8-98d6-028c3d3c290d.png)
One shade darker:
![3](https://user-images.githubusercontent.com/29516629/37209370-19b2e836-23cb-11e8-81cc-7b406aa6ba1a.png)
Two shades da

[2018-03-09 19:02] debasree88 opened #612 "Language selection should be done on tapping the web imageview too"
The language choosing on tapping web imageview can not be done

###My  Environment
  * version of the software you use :2.2
  * device / operating system : Redmi note 4 /android nougat

   this is a feature request from the present version

  i feel that on tapping the web image view where users get the language lists for the 2nd time they should be able to modify their choice of language too exce

[2018-03-09 19:33] srv-twry opened #613 "Refactor: Convert ListView to RecyclerView in LibraryFragment"
## Feature Request

#### Feature Description

As discussed, we should convert the ListView in LibraryFragment to a RecyclerView.

#### Parent issue
#547

[2018-03-09 20:50] kelson42 commented on #56
@RohanBh thune of just distributing an Apk, outsider thé Google App Store.

[2018-03-09 20:56] RohanBh commented on #56
Gotcha.

[2018-03-09 22:34] RohanBh commented on #64
@mhutti1 If we add the zim files as expansion files for the app, then the custom app's apk will no longer be a standalone apk. The apk size will reduce drastically but sharing of only the apk won't be enough to pass content between devices.
You yourself told me

[2018-03-09 23:35] RohanBh commented on #46
I think this ticket can be closed as the launcher icon has been made an [adaptive icon](https://youtu.be/5MHFYfXno9c) in [this PR](https://github.com/kiwix/kiwix-android/pull/496).

[2018-03-10 10:25] abdulwd opened #615 "Fix memory leaks"
## Bug Report
We must fix all the memory leaks present in the app as it leads to **ANR** and crashes especially on older devices.

### Environment
* version of the software you use: 2.3
* device / operating system: Redmi Note 3 / Android 6.0.1

### The Bug:
Memory leaks are present in the following classes:
* KiwixWebView - The **Handler** class must **be** static.
* DownloadService - **DownloadFr

[2018-03-10 13:24] arpank10 commented on #615
I think it's a duplicate of #364

[2018-03-10 14:33] abdulwd commented on #615
@arpank10 No. It's not a duplicate. Leak Canary is just used to detect memory leaks, it cannot be used to fix them. I just want to fix them as they are hazardous. ;)

[2018-03-10 17:14] abdulwd commented on #547
@srv-twry I'm working on an issue solving which will remove the entire **LanguageSelectDialog** class, so you don't need to change the **ListView** to **RecyclerView** in it. Just a polite reminder to save your time. :sweat_smile:

[2018-03-10 18:12] RishabhRawatAndroid opened #616 "ZIM file transfer between two devices through the WIFI P2P Direct in-app feature"
# ZIM file transfer between two devices through the WIFI P2P Direct in-app feature.

## Feature Request
Transfer the ZIM file between two devices through the WIFI Direct without any need of internet.

#### Feature Description
From **WIFI P2P Direct** the two devices are directly connected to each other without the need of any intermediate access point ( without the need of local router).So from th

[2018-03-10 21:38] RajaVamsi11 commented on #46
Can we close this issue? @mhutti1

[2018-03-10 21:41] RajaVamsi11 commented on #402
@mhutti1 Asthis warning is not harmful and it has no consequential effects on anything.Why is this still open? we can close it because it was just increasing the no of issues i think.

[2018-03-10 21:49] RajaVamsi11 commented on #590
@amirh123123  Are you working on this issue?

[2018-03-10 21:57] RajaVamsi11 commented on #616
@RishabhRawatAndroid  Nice feature . @mhutti1  what do you say?

[2018-03-10 23:30] mhutti1 commented on #596
@JunsuLime Its debatable. One of the great aspects of ZIM files is they are shareable. That is why I think this feature is fairly essential. @kelson42 any views?

[2018-03-10 23:31] mhutti1 commented on #609
@divyanshub024 That sounds like a good idea but please create a separate issue.

[2018-03-10 23:32] mhutti1 commented on #611
That does look better imo. Is there precedent in our styling for this? Is the colour already defined?

[2018-03-10 23:55] srv-twry commented on #616
@RishabhRawatAndroid Nice feature ! Just a quick side note from my side.
Please always discuss the usefulness and the correct approach of adding any new feature before working on them. This would make sure, that your hard work never goes in vain.

[2018-03-10 23:56] mhutti1 commented on #612
Could you elaborate more please. I don't really understand what the "web imageview" is referring to.

[2018-03-10 23:59] mhutti1 commented on #64
@RohanBh These are two different mechanisms. The .so mechanism is for pre packed standalone APK files for offline distribution. .obb files are Google Play store specific. They are different systems but at the end of the day you are still just reading a ZIM file.

[2018-03-11 00:00] mhutti1 commented on #615
Yeah this is a good thing. Some should be solved via dagger.

[2018-03-11 00:02] mhutti1 commented on #46
I do not think this is resolved as the adaptive icon only deals with the vanilla app and only on Oreo+. We still have the task of a script to possibly build rounded apps for custom apps.

[2018-03-11 00:03] mhutti1 commented on #402
10+ people have thought incorrectly this was the cause of a build failing. This is why we should fix it.

[2018-03-11 00:06] mhutti1 commented on #616
This sounds like a good idea. If it is not too code intensive then It would be a good idea to add however when implementing these sort of features, one must always be careful not to implement large features that could be performed by a user installed app. I don't know how difficult this is/has been to implement so whether we decide to include it will depend on that.

[2018-03-11 00:07] mhutti1 commented on #64
@RohanBh we do, other people might, anyone can. As an open source app it is important that we are not depended on the closed source nature of the Play Store to function.

[2018-03-11 00:11] srv-twry commented on #616
There is a famous applications called ```Share It``` which does exactly that. It uses WIFI P2P to transfer files and application between phones. [Play-Store](https://play.google.com/store/apps/details?id=com.lenovo.anyshare.gps&hl=en)

[2018-03-11 00:17] #567 closed

[2018-03-11 00:51] #154 closed

[2018-03-11 00:59] #602 closed

[2018-03-11 01:10] #425 closed

[2018-03-11 01:12] #588 closed

[2018-03-11 01:25] #606 closed

[2018-03-11 01:40] JunsuLime commented on #596
Oh! If ZIM file needs to be shared with other application then .., should not get rid of the file when application is removed.

Is there any case using ZIM file in other application?

[2018-03-11 05:12] brijeshshah13 commented on #443
Any conclusions drawn regarding this issue? @mhutti1 @kelson42 @ISNIT0

[2018-03-11 09:51] ISNIT0 commented on #443
While we're chatting about this, it may be worth looking at Count.ly...
I've built a simple integration for other purposes in this branch: https://github.com/kiwix/kiwix-android/tree/ISNIT0/instrumentation
(it has a dead API key in there)

It's been quite nice/easy to use and integrate. It's very obvious what's going on, and is open source (where Fabric is not). @julianharty and I have collected l

[2018-03-11 09:55] RishabhRawatAndroid commented on #616
@mhutti1 @RajaVamsi11 I think you all agree with this idea.Now I am working further to do this.When I complete this feature then I will immediately pull the request.

[2018-03-11 11:27] siddharth2010 opened #618 "Fix "Credits" dialog box colors in night mode"
## Bug Report

### Environment
  * version of the software you use : Version 2.3 build 55
  * device / operating system : Samsung Galaxy S6 (Android 7.0)

### The Bug:
I think that the colors inside the "credits" dialog box should also be inverted in night mode.

![screenshot_20180311-165341](https://user-images.githubusercontent.com/32238400/37252748-b7ad2632-254c-11e8-859b-26d51de97001.png)

###

[2018-03-11 11:30] GeVic commented on #611
@mhutti1 i didn't get your questions correctly but colour.xml file is defined in attributes where i changed the colour from.

[2018-03-11 11:32] GeVic commented on #618
@siddharth2010 can i do this ?

[2018-03-11 12:07] MayankChuriwal commented on #618
@GeVic You may proceed with the same. If you want any reference issue #526

[2018-03-11 12:28] siddharth2010 commented on #618
Sure @GeVic , Go ahead!

[2018-03-11 12:34] kelson42 commented on #616
@RishabhRawatAndroid We are super agree with the idea, but probably the implementation is not super easy to make it user friendly. Could you please upload a diagram which would explain the workflow between the two devices? To me it is not really clear from the the gifs you have uploaded.

[2018-03-11 12:38] kelson42 commented on #596
I think we can arg for both approaches. I'm not myself sure what is the best solution. Probably to propose a choice to the user... but that seems impossible :( So probably keeping it like it is is the best approach.

[2018-03-11 12:59] arpank10 opened #619 "Heading does not change in App bar when Help is opened."
## Bug Report

### Environment
  * version of the software you use : Version 2.3 build 55
  * device / operating system : Android 7.1.1

### The Bug:

  * What do you obtain? A copy of the error message or a screenshot is always useful.

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/24573296/37253603-e7e171c0-2559-11e8-8087-3a38e481d30f.gif)

#### Steps to reproduce:

  1. Op

[2018-03-11 13:08] arpank10 opened #620 "Opening contents by swiping right on main page shows "No content headers found""
## Bug Report

### Environment
  * version of the software you use : Version 2.3 Build 55
  * device / operating system : Android 7.1.1

### The Bug:

  * What do you obtain? A copy of the error message or a screenshot is always useful.
![whatsapp image 2018-03-11 at 6 33 50 pm](https://user-images.githubusercontent.com/24573296/37253694-1151946c-255b-11e8-864d-e18c61868b6c.jpeg)
![whatsapp image

[2018-03-11 14:08] divyanshub024 commented on #609
@mhutti1 sure. But what do you think about this issue? How should this issue be resolved?

[2018-03-11 14:16] divyanshub024 opened #621 "Control read aloud from notification"
## Feature Request

#### Feature Description
Create a notification for controlling the read-aloud feature like play, pause and stop.

[2018-03-11 14:17] divyanshub024 commented on #621
@mhutti1 if you can assign it to me I can start working on it.

[2018-03-11 14:59] amirh123123 commented on #590
hi i use talk back but not read articles in kiwix i connect to internet and open article in kiwix but read article

[2018-03-11 15:31] jb1998 commented on #555
I fixed this issue in pull request :  #604

But due to changes in master branch of kiwix-android in last few days after merging conflicts the Travis CI test was done but the screen in my device have some empty space on the top.
I am looking out what is causing that because my code is straight forward of dynamically adding bottom space and removing it when bottom toolbar is enabled and disabled.
If

[2018-03-11 16:01] kelson42 commented on #620
The title of the page should be displayed... I have here a recent version of Kiwix which seems to work... so I suspect this bug has been introduced recently or this is depending of the content currently loaded.

[2018-03-11 16:04] RohanBh commented on #582
Can I be assigned #365 now @mhutti1?

[2018-03-11 16:04] RajaVamsi11 commented on #619
@arpank10  Can i work on this issue?

[2018-03-11 16:17] arpank10 commented on #619
@RajaVamsi11  Sure, go ahead.

[2018-03-11 20:14] GeVic commented on #618
@siddharth2010 Thanks. One question though, since the content of the alert box is in webview so i am not able to change the text colour dynamically when the theme is changed.
Any suggestions ?

[2018-03-11 21:41] GeVic commented on #618
@siddharth2010 @mhutti1 Since credit dialog box contained **HTML (with `pre` tag)** so i changed the code as follows:
`if(nightMode(sharedPreferenceUtil)) {`
        `view.setBackgroundColor(0);`
        `view.loadUrl("file:///android_asset/credits_dark.html");`
      `} else {`
        `view.loadUrl("file:///android_asset/credits.html");`
      `}`
You can see here **i created two copies of credi

[2018-03-11 23:21] mhutti1 commented on #618
Javascript is your friend. You can inject it into the page. I think that would likely be the easiest option.

[2018-03-11 23:21] mhutti1 commented on #611
As in is it a predefined colour?

[2018-03-11 23:23] mhutti1 commented on #596
It is probably possible to ask them but idk if its worth it. I think also as they can select a path themselves to save ZIM files to it might not be needed entirely.

[2018-03-11 23:24] mhutti1 commented on #609
We have a lot of trouble with the Bottom bar atm. I think its best too wait that out for a bit and see if this is resolved.

[2018-03-11 23:25] mhutti1 commented on #620
@kelson42 likely content dependent which ZIM file is this?

[2018-03-11 23:27] mhutti1 commented on #619
Duplicate of #540 please search before opening issues.

[2018-03-11 23:27] #619 closed

[2018-03-12 00:15] srv-twry commented on #583
@amerinoo Status please ?

[2018-03-12 03:44] siddharth2010 commented on #618
Exactly. This is the best idea AFAIK.

[2018-03-12 04:29] GeVic commented on #611
@mhutti1 yes

[2018-03-12 06:46] GeVic commented on #618
@mhutti1 @siddharth2010 oh it totally slipped off my mind. Creating pull request now

[2018-03-12 11:08] JunsuLime opened #625 "[Bug] Search function with widget do not work properly in specific case."
## Bug Report

### Are you ready to report?
    Yes 👍

### Environment
  * version of the software you use : version name 2.3 (2018-03-12 master branch)
  * device / operating system : Samsung Galaxy S8, Huawei Honor A6

### The Bug:

  ![bug_report](https://user-images.githubusercontent.com/17852124/37279510-5d63770c-262e-11e8-8048-5cbfeaae2e38.gif)

In specific case when I use widget search, It

[2018-03-12 11:40] GeVic commented on #611
@mhutti1 should i change the shade then? And which shade?

[2018-03-12 11:41] GeVic commented on #611
@mhutti i think the last one would be good.

[2018-03-12 11:48] ISNIT0 commented on #443
Fine by me!

[2018-03-12 12:39] arpank10 commented on #620
@mhutti1 Wikipedia Maths(122 MB) and Wiktionary(5.7 MB)

[2018-03-12 12:39] arpank10 commented on #620
I will check for few other Zim files.

[2018-03-12 13:23] amerinoo commented on #583
Working on that. I've have never use it so I'm going slow.

[2018-03-12 13:33] ritwikagarwal commented on #590
Are all objects labelled?
Are decorative objects ignored?
Are all form inputs labelled?
Are changes of state announced?
Are the correct input types used?
Is content order logical

Check these on Lint.
Also there may be problems for talk back to render articles from web as it can't access web content from hybrid apps So web accessibility can be enhanced from the Setting option in the mobile.

In ei

[2018-03-12 17:39] Aditya-Sood commented on #121
I've resolved the bug (pull request #626 )
Will try and figure this out while I work on my proposal

[2018-03-12 20:54] RishabhRawatAndroid commented on #616
@mhutti1 @RajaVamsi11 @kelson42 @srv-twry I just uploaded a youtube video for showing the app wifi p2p feature. https://www.youtube.com/watch?v=VlvmbrImH1I&feature=youtu.be . But till now the same problem(data corruption) are occurring so if you give the permission then I pull the request and resolve the further issue.
I want to tell one thing. In that app I am not updating the progress bar I just

[2018-03-13 00:07] mhutti1 commented on #611
@GeVic open a PR for review

[2018-03-13 00:11] mhutti1 commented on #616
This looks promising. If you open a PR it would be good to review. No promises yet though 👍

[2018-03-13 00:28] #581 closed

[2018-03-13 00:38] #529 closed

[2018-03-13 00:47] mhutti1 opened #627 "Improve Travis Cache speed"
## Bug Report

### Environment
 Travis Build

### The Bug:

All builds force a recache. We should limit this so that builds are quicker.

#### Steps to reproduce:

  1. Run a travis build on a PR
  2. It passes but detects a cache change

In 99% of cases there should be no need to update the cache.

[2018-03-13 00:58] #592 closed

[2018-03-13 04:54] venomousboxer opened #628 "Warning message remains displayed in online zim files search"
## Bug Report

### Are you ready to report?
   - Your issue may already be reported! Please search on the [issue track](https://github.com/kiwix/kiwix-android/issues) before creating one.
   - Ensure you have tested with the last (dev) version of the software.  (If not, and if possible, run your test again with the most recent version available.)

### Environment
  * version of the software you us

[2018-03-13 04:56] venomousboxer commented on #628
@mhutti1 @srv-twry I would like to work on it.

[2018-03-13 06:20] kelson42 commented on #616
@RishabhRawatAndroid Looks promising, keep going ahead.

[2018-03-13 15:59] kelson42 commented on #616
@RishabhRawatAndroid Looks promising, keep going ahead.

[2018-03-13 16:00] amirh123123 commented on #590
hi
Where to access the settings thanks for helping

[2018-03-13 16:51] siddharth2010 opened #630 "UI Bug in "Storage" dialog box in "settings""
### Environment
  * version of the software you use : build 2.3, latest commit
  * device / operating system : Samsung S6, Android 7.0

### The Bug:
  * What do you obtain? A copy of the error message or a screenshot is always useful.
selecting the "storage" option in "settings" (with night mode selected) opens a dialog box with text not visible.
![screenshot_20180313-112006](https://user-images.g

[2018-03-13 16:57] siddharth2010 commented on #630
@mhutti1 , I think we should create a new label, "UI" for issues involving tweaking the UI.

[2018-03-13 17:11] siddharth2010 opened #631 "UI bug in "Languages" dialog box in "Settings""
## Bug Report

### Environment
  * version of the software you use : Version 2.3 Build 55 (Latest Commit)
  * device / operating system : Samsung Galaxy S6 Android 7.0

### The Bug:

The Header, as well as the OK button is not displayed in The Language dialog box in settings (in night mode)
![screenshot_20180313-112031](https://user-images.githubusercontent.com/32238400/37357340-68f2a0b2-26a5-11e8

[2018-03-13 18:27] GeVic commented on #631
@siddharth2010 Can i go ahead with this issue ? Can you assign it to me ?

[2018-03-13 18:28] GeVic commented on #630
@siddharth2010  can i work on this too? can you please assign it to me?

[2018-03-13 18:52] GeVic commented on #627
@mhutti1 i can work on this if you can guide me. Can i ?

[2018-03-13 19:57] kslohith opened #632 "The list of contents available for download do not have a line divider between each item."
## Bug Report
### The Bug:

  * The download option for the app displays a list of items that can be downloaded, but each item does not have a line divider separating it from the others.

![screenshot_2018-03-14-01-10-18](https://user-images.githubusercontent.com/32676813/37366472-89f9f554-2726-11e8-8d4a-23339dbb17ce.jpg)

    *All items should have a line divider between them for better viewing e

[2018-03-14 00:07] mhutti1 commented on #627
@GeVic once you accept the email invite I can assign you. Sure go ahead till then. Open a pr for a random change and see that travis recaches. I think we probably need to exclude some files that we are currently caching so that it doesn't keep recaching them.

[2018-03-14 00:08] mhutti1 commented on #632
Won't fix. This is a design feature. If you would like to propose an alternate design please create a new issue with a mockup.

[2018-03-14 00:08] #632 closed

[2018-03-14 05:00] siddharth2010 commented on #631
Sure. Go ahead!

[2018-03-14 05:01] siddharth2010 commented on #630
Sure. Go ahead!

[2018-03-15 13:55] kelson42 commented on #630
@mhutti1 I have the problem on my table too, so we face here a clear regression.

[2018-03-15 15:23] kelson42 opened #633 "Unable to open certain articles of wikipedia_en_medicine_nodet_2018-03.zim"
## Bug Report

### Environment
  * version of the software you use : Kiwix last nightly
  * device / operating system :  Samsung Galaxy Tab

### The Bug:

1 - download https://download.kiwix.org/zim/wikipedia/wikipedia_en_medicine_nodet_2018-03.zim
2 - open the welcome page
3 - Click on the first link "Cancer care"
4 - A blank page is displayed

The article "Book:Cancer" should be displayed, if i

[2018-03-15 16:37] Rahul5758 commented on #633
@kelson42  Can I work on this issue? Please assign this to me.

[2018-03-15 17:52] kelson42 commented on #633
@Rahul5758 Yes :)

[2018-03-15 18:12] GeVic commented on #630
@siddharth2010 @mhutti1 There is currently a bug in the support library that causes styles not to show up properly. Changing the `DialogFragment` in the `onCreateView `to use the activity's inflater seems to resolve the issue but file 'StorageSelectDialog.java' is read only and i can't change it

[2018-03-16 00:53] Rahul5758 commented on #633
@kelson42 Please share your operating system complete details and also provide the apk of kiwix you are using.

[2018-03-16 04:25] harshvardhan-takawale opened #634 "Language in dialog checked even when it is not selected in Library fragment"
# For a Bug Report:

## Bug Report

### Are you ready to report?
   - Your issue may already be reported! Please search on the [issue track](../) before creating one.
   - Ensure you have tested with the last (dev) version of the software.  (If not, and if possible, run your test again with the most recent version available.)

### Environment
  * version of the software you use: 2.3 build: 55, Bui

[2018-03-16 05:52] harshvardhan-takawale commented on #336
@julianharty  Encountered this bug while testing, did you find some fix?

[2018-03-16 06:04] harshvardhan-takawale opened #635 "App crash after refreshing Library fragment"
# For a Bug Report:

## Bug Report

### Are you ready to report?
   - Your issue may already be reported! Please search on the [issue track](../) before creating one.
   - Ensure you have tested with the last (dev) version of the software.  (If not, and if possible, run your test again with the most recent version available.)

### Environment
  * version of the software you use : 2.3 Build: 55, Bu

[2018-03-16 06:05] harshvardhan-takawale commented on #635
@kelson42 @mhutti1 Can you try to reproduce this?

[2018-03-16 06:44] kelson42 commented on #633
https://download.kiwix.org/nightly/2018-03-15/kiwix-android_arm-debug.apk with android 6.0.1

[2018-03-16 06:45] kelson42 commented on #635
@harshvardhan-takawale why? If you have it, this is good enough.

[2018-03-16 06:52] kelson42 commented on #121
Sorry, for the late answer, but this is typically with the Gutenberg ZIM file at the time you clikc on an EPUB file. Then IMO the app should provide a list of app supporting that file format (epub).

[2018-03-16 08:44] mahmoudhanoraa commented on #547
Is there anyone working on this issue. Can I start working on it ? @srv-twry

[2018-03-16 10:01] mahmoudhanoraa commented on #613
Can I work on this issue ? @srv-twry

[2018-03-16 10:16] GeVic commented on #634
@harshvardhan-takawale @mhutti1 why we need multiple checkbox style here ?
And instead of `ok` button what we should do is as soon as the language selected the dialog should perform the function qnd disappear. Also we should use checkbox style as we used in settings.

[2018-03-16 10:19] GeVic commented on #635
@harshvardhan-takawale i tried reproducing it but it didn't crash for me.

[2018-03-16 10:22] kelson42 commented on #613
@mahmoudhanoraa looks like a pr is already ongoing...

[2018-03-16 10:27] harshvardhan-takawale commented on #634
@GeVic  I guess you are a bit confused about the use of this dialogbox. It is kind of a filter, so you can select multiple languages and list out the files in those languages. Therefore a checkbox is required and radio buttons won't do.

[2018-03-16 10:27] mahmoudhanoraa commented on #613
@kelson42  I did not notice. I will check the pull requests before asking next time. Thanks

[2018-03-16 10:31] GeVic commented on #634
@harshvardhan-takawale oh yes you're right i don't gave it a thought before writing.
Thanks by the way

[2018-03-16 10:34] harshvardhan-takawale commented on #635
@GeVic you will have to press back twice, to the point where the bar reads ```Library``` as the heading.

[2018-03-16 10:40] GeVic commented on #635
@harshvardhan-takawale i tried but it didn't crash.
Should i send you a gif?

[2018-03-16 10:41] harshvardhan-takawale commented on #635
@GeVic Yes please.

[2018-03-16 10:43] GeVic commented on #635
@harshvardhan-takawale so yes it crashe and goes back to wiki page but it happened only once in 10-15 tries.
Is it happening consecutively for you?

[2018-03-16 10:44] harshvardhan-takawale commented on #635
@GeVic Yes it happens everytime I do it.

[2018-03-16 10:44] GeVic commented on #635
Let me send you a gif in some time

[2018-03-16 11:01] GeVic commented on #635
![test1](https://user-images.githubusercontent.com/29516629/37517431-6ac3dd40-2937-11e8-8f2e-697f79880ba4.gif)

@harshvardhan-takawale This is what i am getting and occasionally it crashes also.

[2018-03-16 11:09] harshvardhan-takawale commented on #635
@GeVic No no, you are getting me wrong. Open the online tab. Let it load. Go to search and type something random. Press back twice to get back and then refresh.

[2018-03-16 11:10] GeVic commented on #635
@harshvardhan-takawale i did that only, actually i uploaded the wring gif

[2018-03-16 11:18] GeVic commented on #635
@harshvardhan-takawale can you check the video on below link please, i dont have my laptop handy right now.
https://drive.google.com/a/bennett.edu.in/file/d/1cZ-sxdb-XjuIXpWgG_k_6--BWnl9xJQW/view?usp=drivesdk

[2018-03-16 12:47] brijeshshah13 commented on #443
@ISNIT0 Does Count.ly provide the facility to display a dialog box or notification to ask the user if they want to send the crash data?

[2018-03-16 13:06] harshvardhan-takawale commented on #635
@GeVic You are doing all the steps correctly. Something seems to be wrong. I have to do a bit more research. You are using kiwixDebug only right?

[2018-03-16 13:12] ISNIT0 commented on #443
No, that would be for us to do manually (easy enough to do)

On Fri, 16 Mar 2018 at 12:47 Brijesh Shah <notifications@github.com> wrote:

--
Joseph E. Reeve

[2018-03-16 13:18] GeVic commented on #635
@harshvardhan-takawale yes.

[2018-03-16 13:28] brijeshshah13 commented on #443
@ISNIT0 Can you please verify that is indeed possible because the `enableCrashReporting()` automatically catches uncaught Java exceptions and reports them to server. The problem arose when I tried to set up a dialog box to display on the screen asking for the approval before the crash data is sent. However, the files provided by Count.ly are read-only files, thus preventing us from editing them an

[2018-03-16 13:54] kelson42 opened #637 "Test Wikimed app on Xiaomi Redmi Note 4"
From the Google Play feedback analysis it seems that a lot of people have difficulties to install Wikimed https://play.google.com/store/apps/details?id=org.kiwix.kiwixcustomwikimed on a Xiaomi Redmi Note 4. As we do not have such a device my request would be to someone having one, please give a try and let us know if the install process (and the rest) works properly.

[2018-03-16 14:13] ISNIT0 commented on #443
Instead of using their global crash handler, register a custom one as per
https://github.com/kiwix/kiwix-android/pull/351
You can then use Countly.logException and log everything manually :)

On Fri, 16 Mar 2018 at 13:28 Brijesh Shah <notifications@github.com> wrote:

--
Joseph E. Reeve

[2018-03-16 14:55] brijeshshah13 commented on #443
@ISNIT0 From what I understand, you are saying that we use the global crash handler implemented in #351 to catch the crash and instead of using `Countly.sharedInstance().enableCrashReporting()`, we manually catch every exception in the project using `Countly.sharedInstance().logException(Exception exception)` which will allow us to send the crash report to Count.ly as `logException()` method conta

[2018-03-16 15:02] ISNIT0 commented on #443
To be clear, this would be an alternative to email.
But yes, we'd implement the global crash handler on our end, not using the
Countly global crash handler.

On Fri, 16 Mar 2018 at 14:56 Brijesh Shah <notifications@github.com> wrote:

--
Joseph E. Reeve

[2018-03-16 15:15] brijeshshah13 commented on #443
@ISNIT0 If email feature is going to be removed, how will the user be able to add the feature requests/suggestions or other issues?

[2018-03-16 15:49] kelson42 commented on #637
@srv-twry would you be able to do that? It seems in general Kiwix has a lot of problem with this device - and maybe Xiaomi devices in general.

[2018-03-16 16:05] brijeshshah13 commented on #443
@ISNIT0 If email feature will be removed, how will the user be able to add the feature requests/suggestions or other issues? I think we must provide redirecting to the email app so that the former can be added by the user if they wish. This is will accomplish both the tasks:

- We will be able to get the crash reports on Count.ly without worrying about the spam e-mails or false data being sent to

[2018-03-16 16:21] srv-twry commented on #637
Yes, i don't have it though but i can arrange it and give feedback in a day or two.

[2018-03-16 16:36] Rahul5758 commented on #637
@kelson42 @srv-twry I have a Redmi note 3, Redmi 3s and Redmi 4 device. I can see into this.

[2018-03-16 16:37] srv-twry commented on #637
@Rahul5758 Yes, please go ahead. Infact this issue can be tackled by more than one developers.

[2018-03-16 16:48] kelson42 commented on #637
@Rahul5758 @srv-twry Thank you to both of you, yes please check on all these devices. I'm quite confident that something goes really wrong with these these devices.

[2018-03-16 23:01] GeVic commented on #631
@sidharth2010 can you help me here? Actually their is no custom dialogbox theme here it's the Android list preference which has its own dialogfragment.
I researched but didn't found any way to do this other that changing Android file itself or making new custom dialog.

[2018-03-17 06:56] brijeshshah13 commented on #443
@ISNIT0 Can you please address this issue at your convenience as soon as possible because I have to include it in my proposal.

[2018-03-17 12:21] GeVic opened #639 "Night Mode Accessibility"
# For a Bug Report:
- [x] Feature
- [ ] Bug

# For a Feature Request:

## Feature Description
Night mode is always frequently used so it accessibility does affect the UI design of the application.
Providing button option Menu bar/ Bottom toolbar and also in the settings fragment will make it easier and enhance the UI.

Something like the image referred below
![night](https://user-images.githubuser

[2018-03-17 12:53] kelson42 commented on #639
I'm quite against having it in the Kiwix menu/bottom bar. This is not used often enough to justify this. That said the I do not understand what the screenshot is about - it's not Kiwix, so not sure I fully understand the feature request.

[2018-03-17 13:04] GeVic commented on #639
@kelson42 doesn't have to be bottom bar but how about  giving it on side menu drawer.
But since you are saying not used much then this feature turns out to be null/void

[2018-03-17 15:06] #639 closed

[2018-03-17 19:59] sakchhams commented on #635
Tried out the same on Emulator Android 8.1.0 same version and build. It didn't crash for me. I tried several times, no crash was observed.

[2018-03-18 02:33] Rahul5758 commented on #637
@kelson42 @srv-twry I downloaded and installed the app on Redmi note 3, Redmi 4 and Redmi 2. The app installed correctly and also works properly. I will give the feedback on rest of the devices also soon.

[2018-03-18 06:33] kelson42 commented on #635
My personal experience is that the library, during a download, crashes time to time.... sporadically. I can not tell why or how to make it reproducible.... but quite sure something here is not properly implemented. One point which seems weak is the handling of download termination, time to time the item is stuck inthe downloading tab and does not want to migrate to the device tab... clicking on it

[2018-03-18 07:40] GeVic commented on #635
@kelson42 @harshvardhan-takawale to be precise it crashes only when i click back while the searching of results still processing, then only it crashes to the main page of the app.

[2018-03-18 09:26] kelson42 commented on #637
@Rahul5758 Thank you for this feedback. Yes please test on the rest of the device, really important is to test with Xiaomi Redmi Note 4.

[2018-03-18 12:54] amirh123123 opened #641 "how do access history to kiwix on android"
hi how do access history to kiwix on android

[2018-03-18 14:03] kelson42 commented on #641
You can go back/forward with the left side bar (buttons in the bottom). But there is no visualisation of the history.

[2018-03-18 14:08] kelson42 commented on #627
@GeVic I have assinged it to you... but is that not more a ticket for the "kiwix-build" repo?

[2018-03-18 14:52] kelson42 commented on #582
@RohanBh Any news on this?

[2018-03-18 17:14] kelson42 commented on #567
@RohanBh Thank you for fixing this important bug.

[2018-03-18 17:21] kelson42 commented on #260
@RohanBh Sorry for the late answer, this is a quite complex one. Please make a proposal about your approach to fix that first before implementing anytin.

[2018-03-18 17:30] RohanBh commented on #582
@kelson42 I was busy with a project for this college fest this week. I have made a PR now fixing the assigned issues. Sorry for the delay.

[2018-03-18 19:24] mhutti1 commented on #627
No this is for improving kiwix-android build speed.

[2018-03-18 20:13] bhardwajaditya commented on #634
Can I try this issue?

[2018-03-18 21:46] harshvardhan-takawale commented on #634
@bhardwajaditya Actually I have started working on it.

[2018-03-19 02:56] GeVic commented on #627
@kelson42 first i had the same thought but no it's not

[2018-03-19 02:57] GeVic commented on #627
Actually i am working on my gsoc proposal that's why resolving this issue is talking some time but I'll make sure to resolve it asap

[2018-03-19 06:07] Rahul5758 commented on #637
@kelson42 The app also installed and ran correctly on Redmi Note 4.

[2018-03-19 06:28] kelson42 commented on #637
Thank you all for your testing, the result is a bit puzzling... but it's an important info!

[2018-03-19 06:28] #637 closed

[2018-03-19 13:11] brijeshshah13 commented on #443
@mhutti1 What I'm thinking is that we divide this into 2 parts:

- **Global Crash Handler** will handle the crashes and redirect the user to an email app to send the crash report. We do not change it's structure or body of the email.

- **Report an issue** option will provide the user an almost replica of the global crash handler except that it won't collect any _Details of the crash_ as there won

[2018-03-19 14:30] RohanBh commented on #641
@kelson42 What does the "question" label means?

[2018-03-19 14:32] RohanBh commented on #641
I don't think kiwix currently stores history. If it is required, I can add this feature to kiwix.

[2018-03-19 14:51] amirh123123 opened #643 "cant download zim files"
hi my phone is grand 2 but cant download zim files from library

[2018-03-19 15:07] kelson42 commented on #643
What happens exactly? Are you connected through Wifi? Is that a new problem?

[2018-03-19 15:22] RohanBh commented on #641
I was actually asking @kelson42. He is the repository's maintainer.

[2018-03-19 18:17] sakchhams commented on #625
@mhutti1 I think it is a good idea to hide the FIND IN PAGE button when a search is triggered this way. It seems unnatural and doesn't make any sense there. What do you think?

[2018-03-19 19:27] debasree88 commented on #612
just mentioned the browser imageview on tapping which the language spinner comes

[2018-03-19 23:49] mhutti1 commented on #443
That sounds like a fairly decent solution. We are a bit flooded at the moment with the GSoC application process so I don't think any work will be able to be made till a bit after the application deadline.

[2018-03-19 23:51] mhutti1 commented on #612
I am still not very clear. Language spinner?

[2018-03-20 02:07] debasree88 commented on #612
I just meant the drop down menu of the language lists.

[2018-03-20 09:01] amirh123123 commented on #643
hi i change my phone language to en us and zim files is downloaded

[2018-03-20 09:54] kelson42 commented on #643
@amirh123123 What was the original language? If you change back, does it fail again?

[2018-03-20 09:57] kelson42 commented on #612
I do not understand either what goes wrong. Provide a step by step procedure of what you do. Explain clearly what you get and then why what you get is wrong.

[2018-03-20 13:47] rashiq commented on #70
I strongly disagree. The wikipedia app doesn't open in search mode either. No app does, because it's disruptive and an anti-pattern.

Imagine you open the app, and then _bam_ keyboard pops up. It wouldn't be a nice UX flow.

[2018-03-20 13:49] kelson42 commented on #70
I would suggest that if people want to make straight away searches, then they probably have to use Kiwix search widget.

[2018-03-20 13:51] rashiq commented on #70
Yes totally agree @kelson42. Shall we close this?

[2018-03-20 13:51] #70 closed

[2018-03-20 13:54] rashiq commented on #41
We could probably play around with [levenshtein distance](https://en.wikipedia.org/wiki/Levenshtein_distance)

[2018-03-20 13:57] rashiq commented on #176
Though we could convert this [into](https://github.com/kiwix/kiwix-android/blob/108af1096b9316f9dd00ecee912aff4c5cfc4942/app/src/main/java/org/kiwix/kiwixmobile/utils/files/FileSearch.java#L62-L73) an observable

[2018-03-20 13:57] hjoshi123 commented on #633
@kelson42 Can i work on this issue? Can you assign it to me?

[2018-03-20 13:58] rashiq commented on #364
I love Leak canary! Would definitely like to have it. Especially since it wouldn't introduce any run time dependencies. Just for the dev builds.

[2018-03-20 13:58] kelson42 commented on #41
All of this should be done in the kiwix-lib anyway. The libzim has already a Levenshtein distance implementation.

[2018-03-20 13:58] hjoshi123 commented on #600
@mhutti1 Can I work on this issue? can you assign it to me?

[2018-03-20 14:00] kelson42 commented on #41
Will generate a new WPES ZIM file and check this again.

[2018-03-20 14:00] rashiq commented on #41
Gotcha

[2018-03-20 14:03] kelson42 commented on #600
@hjoshi123 you should have got an invitation link, please accept so I can put you owner of the ticket.

[2018-03-20 14:07] hjoshi123 commented on #600
@mhutti1 I accepted the invitation. Did u assign it to me?

[2018-03-20 14:10] kelson42 commented on #600
@hjoshi123 now it is :)

[2018-03-20 14:11] hjoshi123 commented on #600
:D thanks.. One more question that is related to gsoc.. how should I send my draft proposal for review?

[2018-03-20 14:12] kelson42 commented on #600
You can send an email to gsoc@kiwix.org, but I thought you could send it using gsoc web tool and then refine it!?

[2018-03-20 14:14] hjoshi123 commented on #600
Ok.. Yeah Saw it now.. Cool thanks.. I will work on the bug

[2018-03-20 14:24] srv-twry commented on #637
@kelson42 I also tested it and it works fine for me too.

[2018-03-20 14:32] kelson42 commented on #633
@hjoshi123 Yes

[2018-03-20 14:36] kelson42 commented on #637
@srv-twry Thank you very much again for "closing that door".

[2018-03-20 15:14] Frenzie commented on #41
@kelson42 The latest Kiwix for Android on F-Droid and Google Play (2.2) is from almost exactly one year ago, 2017-03-21, so unsurprisingly when you type `deja vu` it doesn't find `déjà-vu`.

Is there some kind of nightly build easily available to test with or would one have to build it?

[2018-03-20 19:52] #618 closed

[2018-03-20 20:25] RohanBh commented on #641
@kelson42 @rashiq Should I pursue this one?

[2018-03-20 20:34] rashiq commented on #641
hmmm - I've never thought about a history tab. What do you think @mhutti1?

[2018-03-21 06:22] Rakshit1411 opened #647 "Unable to run app"
### Environment
  * version of the software you use : _android studio 3.0.1____
  * device / operating system : _Emulator Nexus_5x_API_26_2____

### The Bug:
I am unable to run the app using android studio. The app runs fine when we download from play store but not by compiling the code.
I have been working on this issue from the last 2 days but I am unable to figure the main problem.

Error : Fat

[2018-03-21 07:05] RohanBh commented on #647
You need to change your build variant to kiwxDebug as written in the [README](https://github.com/kiwix/kiwix-android/blob/master/README.md).

[2018-03-21 07:36] #647 closed

[2018-03-21 07:36] Rahul5758 commented on #633
I have already asked to be assigned this issue @kelson42  5 days ago. Kindly see into this.

[2018-03-21 07:42] kelson42 commented on #633
@hjoshi123 yes, sorry @Rahul5758 is already working on this. My bad.

[2018-03-21 07:47] Rahul5758 commented on #633
Can you assign this issue me now so that it is not reassigned again @kelson42 ?

[2018-03-21 07:51] kelson42 commented on #633
@Rahul5758 I have sent you an invitation, you have to accept it.

[2018-03-21 08:53] RohanBh opened #648 "Proposal: Use Kotlin as the primary development language for Kiwix"
## Feature Request

#### Feature Description
Last year Koltin became an official language for Android Development. Since then, it has received enormous love from the community. A few advantages of using Kotlin over Java are:
1. Kotlin is a type and null-safe language.
2. Kotlin is concise and fun to write. It makes Android Development a lot faster.
3. It is interoperable with Java. We can call Kot

[2018-03-21 12:39] hjoshi123 commented on #600
@divyanshub024 Can you exactly tell me how you got the crash? I tried recreating and ended up with a new crash
[code]

[2018-03-21 14:30] brijeshshah13 commented on #641
This question has quite been debatable in my mind. Why?

Pros:

- User can check the History to open the content that he/she might not remember.

Cons:

- As we do not provide the facility to read content directly online, it kindof discards the need of keeping an History.

- According to our app's behavior, when a different ZIM file is opened, the Bookmarks also change and all the opened tabs for

[2018-03-21 15:22] divyanshub024 commented on #600
@hjoshi123
Steps to reproduce:
1. start downloading
2. start aeroplane mode
3. close the app

[2018-03-21 15:23] rashiq commented on #648
I like kotlin, but I think since there is a lot going on in the org (new contributors coming in, lots of new PRs), it's really hard to just start converting files. I'd like the code base to eventually be kotlin, but I think we should defer that for now. Just my two cents.

[2018-03-21 15:48] RohanBh commented on #648
@rashiq I am not in favor conversion of Java code to Kotlin using Java to kotlin conversion feature in Android Studio as the Kotlin code isn't efficient that way. The process has to start sometime so I was planning to do it bit by bit. For e.g., we can start by converting model classes or interfaces to Kotlin as they aren't structurally much different from Java's.

[2018-03-21 18:26] hjoshi123 commented on #600
@divyanshub024 I think I solved it. How should I push the code so that you can check?

[2018-03-21 18:42] kelson42 commented on #600
@hjoshi123 Make a Pull Request.

[2018-03-21 19:17] #612 closed

[2018-03-21 20:02] rashiq commented on #648
Yeah I get what you mean - it is interoperable after all. I just fear that even tho it is pretty easy to learn, it might turn away a lot of new comers and first-time-contributors. @mhutti1 what do you think?

[2018-03-21 22:17] hjoshi123 commented on #610
@mhutti1 Can I be assigned to the bug? I would like to work on it

[2018-03-22 06:07] sakchhams commented on #648
@RohanBh how about using kotlin for new code while keeping Java code the same?

[2018-03-22 06:28] RohanBh commented on #648
@rashiq Then we can wait. I just wanted to put forth the idea of using Kotlin in the project.
@sakchhams It doesn't solve @rashiq's concern. First-time contributors might leave seeing Kotlin code.

[2018-03-22 06:36] kelson42 commented on #648
Few other concerns:
* How many people are able to deal with Kotlin (in comparison to Java)?
* How many hours of work would be needed to move things *properly* from Java?

[2018-03-22 06:59] GeVic opened #651 "Onboarding Fragment"
# It is a
- [ ]  Bug Report
- [x]  Feature Request

## Feature Request

#### Feature Description
I am suggesting this feature to show first-time users how to get most from our app. As our app aims to disseminate and increase offline reach of our users, So It's important to draw users attention to noteworthy features in our app.

@mhutti1 @kelson42 @rashiq  Any suggestions? Should I go ahead with i

[2018-03-22 07:06] GeVic commented on #616
@kelson42 @mhutti1 Why to load our app with extra code and increase the apk size? Instead we should use third-party apps like share-it etc. Wouldn't that would be a more optimized solution?

[2018-03-22 07:31] GeVic commented on #616
@kelson42 Now a days everyone uses share-it, whats-app, also Gmail for sharing purposes. I am just saying that people are so used to these methods that they will probably won't have any problem using those for kiwix too.

[2018-03-22 07:36] kelson42 commented on #616
@GeVic Never heard about a user using that so far I can remember.

[2018-03-22 07:41] GeVic commented on #616
@kelson42 Actually now a days whats-app is even more popular in sharing files but I am not sure on how big of files it can handle. Although share-it is pretty easy to use without and limits on files transfer.
Any suggestions again?

[2018-03-22 09:25] harshvardhan-takawale commented on #651
@GeVic This issue has already been brought up(#421). I have also created a PR for the same with basic design.

[2018-03-22 10:56] abdulwd commented on #648
@RohanBh I like Kotlin and have a year experience in it but everything cannot be changed gradually. For instance, the last time I checked _annotationProcessor_ and _kapt_ were not compatible so the code using annotation processing has to be updated otherwise there is no source code generation.
If maintainers approve this issue I can provide a helping hand. :stuck_out_tongue:

[2018-03-22 13:00] RishabhRawatAndroid commented on #616
@kelson42 @GeVic @mhutti1  Never forget me I am working on this feature very long time.Nowadays I am working on this feature.
@GeVic in some country peoples are not using the share-it app or any other third party application for sharing the data. And I always try to make a user-friendly kiwix app means any part of the application should not depend on the third party application.The main motive of

[2018-03-22 14:17] mhutti1 commented on #641
I think it is sometime to think about after full implementing multi zim

[2018-03-22 14:18] mhutti1 commented on #651
Close as duplicate of #421

[2018-03-22 14:18] #651 closed

[2018-03-22 14:20] mhutti1 commented on #648
I also agree on waiting. Kotlin in Android is still very new. I would suggest waiting a bit and seeing how support for it pans out.

[2018-03-22 14:30] GeVic commented on #651
@harshvardhan-takawale @mhutti1 I wasn't aware of the same.

[2018-03-22 14:33] srv-twry commented on #364
@rashiq @mhutti1 Alright, I will send in the PR shortly

[2018-03-22 14:57] RohanBh commented on #648
@abdulwd This isn't true. If you read [kapt's doc](https://kotlinlang.org/docs/reference/kapt.html), you will find -

[2018-03-22 15:03] hjoshi123 commented on #610
@divyanshub024 the app crashes when I click on bookmark for help? Is that what you are talking here? Because I am working on that crash

[2018-03-22 15:15] sakchhams commented on #648
@RohanBh Java and Kotlin both compile to the same intermediate code. So doesn't that make Kotlin sheer syntactic sugar? The shared intermediate should mean they both have the same feature set at the lower level. Am I missing something?

[2018-03-22 15:16] RohanBh commented on #648
@mhutti1 Kotlin isn't "very new" in Android. It has been under development for many years. It's just Android made Kotlin a first-class supported language last year. There are so many articles flooding related to Kotlin. These are all by happy developers who shifted to Kotlin.
[Jake Wharton](https://github.com/JakeWharton) who worked for square earlier (now a Google Engineer) [loves Kotlin](https:/

[2018-03-22 15:31] RohanBh commented on #648
Yes, It is true that Kotlin compiles to Java bytecode. It even compiles to JavaScript's source code. Yes, it won't change the size of final Dalvik Bytecode which is compressed and put in the apk. But at the higher level, you'll have to read/write lesser code. Thus it is easier to debug.
I wasn't exactly sure where you were going with your question. Hope this answers it.

[2018-03-22 16:56] ShreyanshLodha commented on #563
Can I work on this issue?

[2018-03-22 17:32] hjoshi123 commented on #610
@divyanshub024 I fixed the crash. Can you tell me what exactly were u meaning when u posted the issue? Was it about the crash when you pressed on Bookmark?

[2018-03-22 18:47] hjoshi123 commented on #275
@mhutti1 Is the issue solved? If not can you explain with a bit more content as to how to reproduce it?

[2018-03-22 19:17] sakchhams commented on #56
@mhutti1 I looked into the C++ approach you mentioned, the problems that I'm seeing are as follows:
### Modifications required to zimlib

- [file_compound.cpp](https://github.com/openzim/libzim/blob/master/src/file_compound.cpp) reads the zim file in parts/sections as per requirements and thus needes the file path to manage indexing. A new logic will be required for that.
- FilePart, FileImpl, Fil

[2018-03-22 19:27] sakchhams commented on #259
@kelson42 Since the concept relies on using local WiFi hotspot, it can be safely assumed that it's users are in close proximity. So a simple QR code display on the host device which can be scanned on other devices to access content should suffice. This would save the could that would be needed for handling DNS requests and would add an additional layer of security as well.

[2018-03-22 19:35] kslohith opened #653 "List of contents to be downloaded vanishes on rotating the screen."
## Bug Report

### Environment
  * version of the software you use :  2.2
  * device / operating system :  android 6.0.1

### The Bug:
On rotating the screen after the contents are loaded in the online section , the list vanishes and we have to download content list again.

#### Steps to reproduce:

  1.  Go to the online section of get content.
  2.  Click proceed.
  3.  After the list is populat

[2018-03-22 19:40] kslohith commented on #653
Can i work on this?

[2018-03-22 20:15] hjoshi123 commented on #610
@divyanshub024 Should I create a PR for this?

[2018-03-23 01:42] venomousboxer commented on #563
@ShreyanshLodha I have already submitted the pull request

[2018-03-23 02:23] srv-twry opened #654 "Chore: Create separate issues template"
## Feature Request

#### Feature Description

With the new update to Github, it supports adding multiple issues templates according to the context. I propose to use it now and create separate issue templates for

- [ ] bug
- [ ] feature
- [ ] chore/maintainence
- [ ] documentation

@rashiq @mhutti1 Your views please ?

[2018-03-23 05:45] brijeshshah13 commented on #443
@ISNIT0 I'm a bit confused here. How will be we integrating `Countly.sharedInstance().logException(Exception exception)` with our global crash handler? Because `Countly.sharedInstance().logException(Exception exception)` will log handled exceptions whereas the global crash handler will handle uncaught exceptions. Please elaborate.

[2018-03-23 06:11] ISNIT0 commented on #443
@brijeshshah13 Take a look here: https://github.com/kiwix/kiwix-android/blob/ISNIT0/instrumentation/app/src/main/java/org/kiwix/kiwixmobile/base/BaseActivity.java#L23
This implementation works 😄

[2018-03-23 06:42] GeVic commented on #443
@brijeshshah13 It could be implemented as shown in the below example.

@Override public void uncaughtException (Thread thread, Throwable e) {
Countly.sharedInstance().logException(new Exception(e)
 }

@ISNIT0 Link provided by you isn't working for me.

[2018-03-23 06:55] brijeshshah13 commented on #443
@ISNIT0 Alright. So we manually catch uncaught exceptions in each activity and before passing the `Intent` to the `KiwixErrorActivity`, we log the handled exception using Countly, correct?

[2018-03-23 11:56] brijeshshah13 commented on #579
@aryanagarwal15 What is the status of this issue?

[2018-03-23 13:30] brijeshshah13 commented on #402
What is this purpose of the following block in the `app` level `build.gradle` file?

[code]

[2018-03-23 13:57] Raghav-intrigue commented on #620
Can I get assigned to this?

[2018-03-23 13:58] arpank10 commented on #620
Sure.

[2018-03-23 14:07] Raghav-intrigue commented on #596
I believe that if we want the zim files to be shareable, we can add a share option in the content management page which would allow the user to share the large files via ShareIt or any other peer to peer sharing system easily.
This would also allow us to keep the storage path in the Kiwix Root and not having the user worry about the storage location as well. Plus the zim files which remain after u

[2018-03-23 14:17] abdulwd commented on #648
@RohanBh You didn't get my point. We will need to make changes in the tests simultaneously. Well, that won't be much of an issue once we start working everything will get sorted. ;)

[2018-03-23 14:24] Raghav-intrigue opened #658 "Download Service Issue"
## Bug Report

### Environment
  * version of the software you use : 2.2
  * device / operating system : 6.0.1 Onplus X

### The Bug:

  * Content download does not start/or happens at a very slow speed if you switch apps just after starting the download. This was tested for different types of content and multiple times. The speed of download is significantly slower if the app gets minimized and t

[2018-03-23 15:11] daroodar opened #659 "[Bug] Search function does not work perfectly"
# Search function does not work perfectly

# For a Bug Report:

## Bug Report

### Are you ready to report?
   - Yes

### Environment
  * version of the software you use:  Latest master
  * device / operating system : Infinix X5010 Android 7.0

### The Bug:

  * If the search bar is tapped on, the keypad appears. If you tap anywhere outside of keypad or search bar, keypad should minimize and other

[2018-03-23 16:13] hjoshi123 commented on #659
@daroodar The bug is that keyboard doesn't disappear right or is it about the search functionality?

[2018-03-23 16:15] daroodar commented on #659
@hjoshi123 the bug is that the keyboard does not disappear

[2018-03-23 16:16] hjoshi123 commented on #659
Cool

[2018-03-23 16:31] rashiq commented on #654
I didn't know that was possible. Would be really cool! can you link to the blog that introduces this feature?

[2018-03-23 16:34] #364 closed

[2018-03-23 16:48] srv-twry commented on #654
Hi @rashiq , It's a new feature. You can find more information [here](https://blog.github.com/2018-01-25-multiple-issue-and-pull-request-templates/)

[2018-03-23 16:57] Raghav-intrigue commented on #635
I am able to reproduce the error reliably, is it fine that I work on it?

[2018-03-23 17:08] srv-twry commented on #176
@rashiq Yes, i will send in the PR shortly.

[2018-03-23 17:16] arpank10 commented on #658
This does not happen in my phone.

[2018-03-23 17:21] RohanBh commented on #402
[This](https://stackoverflow.com/a/47547753/7263373) explains the warning. But the answer doesn't mention how to turn it off. A workaround is to manually copy the buildConfigFIeld initializations from debug build type to local_download_server build type.
But I think current code makes more sense. It's more readable. It says to do everything same as in debug build type but with one change only.

[2018-03-23 17:33] RohanBh commented on #648
@abdulwd What changes will we have to make?

[2018-03-23 18:36] brijeshshah13 commented on #402
@mhutti1 We can store the `KIWIX_DOWNLOAD_URL` in the `gradle.properties` file and fetch it using the `signingConfig signingConfigs.debug` which will use the default keystore file to sign the debug version of the apk. However, I strongly believe that the current implementation is to-the-point and we should not try to make things complex unnecessarily over this warning. To acknowledge the developer

[2018-03-23 20:38] Raghav-intrigue commented on #658
It can be a bit unreliable to reproduce but I tried it on the emulator and it still happened.
I have attached the screenshots. Just for context, I have a gigabit connection and the file size is ~110 Mb.

![bug1](https://user-images.githubusercontent.com/12858001/37852271-fded3776-2f07-11e8-9eb2-950cfd876d7c.png)
The progress after 4 minutes:
![bug2](https://user-images.githubusercontent.com/128580

[2018-03-23 20:51] julianharty commented on #402
All,
I'm the person who created this concept. Let me at least explain the intention then we can made an informed decision on what to do about the warning, placement, etc. of this parameter. I'll start with the basic context first:

We want to be able to test the kiwix-android app before we ship it. Our testing consists of a mix of automated tests (generally written in Espresso) and interactive tes

[2018-03-23 23:16] RohanBh commented on #402
@julianharty is it possible for us to see the error logs testdroid's devices generated when they frequently crashed?

[2018-03-24 04:59] brijeshshah13 commented on #653
@hjoshi123 As you can notice, @kslohith has requested to work on this issue. Please allow him to try to resolve it.
@kslohith Go ahead and fix it.

[2018-03-24 05:43] GeVic commented on #653
@brijeshshah13 I think it's been already worked on. I reported this issue a way back and someone said he's is already working. So please check if there is any on going issue with this.

[2018-03-24 05:53] brijeshshah13 commented on #653
@GeVic Thank you for pointing out. Duplicate #559.

[2018-03-24 05:53] #653 closed

[2018-03-24 09:01] srv-twry opened #661 "Refactor: Convert File scan thread into RX operations"
## Feature Request

#### Feature Description

Right now we start separate threads in the ```scan``` method of the ```FileSearch``` class in order to do custom file search and media file search [here](https://github.com/kiwix/kiwix-android/blob/108af1096b9316f9dd00ecee912aff4c5cfc4942/app/src/main/java/org/kiwix/kiwixmobile/utils/files/FileSearch.java#L62-L73).
These should be converted to RX Obser

[2018-03-24 09:03] srv-twry commented on #659
@hjoshi123 @daroodar I think we have a lot of issues already open on the search problem. This is a feature which has a lot of problems right now. I would recommend going through the older issues to see if this issue has already been opened. If yes, then close this otherwise keep going!

[2018-03-24 09:27] hjoshi123 opened #662 "Android Architecture Components"
## Feature Request

#### Feature Description

Google introduced Architecture Components in I/O 2017 to handle lifecycle events gracefully among many other things. More and more orgs are moving to MVVM and arch components. We could handle data changes using LiveData and since we are already using RxJava we could easily integrate with it. What do you guys think? @kelson42 @rashiq

[2018-03-24 09:52] srv-twry commented on #662
I also considered migrating to Architecture components but we have to consider a few things before we go ahead with this.

**PROS**

1. It has official support
2. We can utilise the components specially LiveData ( I don't think we need to migrate to ROOM as SQUI db is working pretty well.

**CONS**

Our project follow MVP architecture which is very different from the MVVM architecture and is extre

[2018-03-24 09:52] RohanBh commented on #662
I feel that MVVM is a cleaner architecture than MVP. Using Architecture Components would be a great advantage. Although, Kiwix is based on MVP and one of the GSoC tasks involves writing unit tests for the presenter logic. I am not sure, but shifting from MVP to MVVM should take a lot of time (given the amount of code) hence hindering that task.

[2018-03-24 11:02] hjoshi123 commented on #662
I love LiveData very much. We could use the benefits of it to manage configuration changes and all. Especially because we use RxJava architecture components will easily merge.

[2018-03-24 18:03] sam1096 opened #664 "Unable to build properly (in CI too) since Leakcanary dependence has been added to project"
#[Bug]While building kiwix-android app in android studio found error:package com.squareup.leakcanary does not exist

### Environment
  * version  : android studio
  * device / operating system : ubuntu 16.04

### The Bug:While running the app of kiwix-android on emulator there is an error occurred saying package com.squareup.leakcanary does not exist.Then I tried some of the solutions given on sta

[2018-03-24 18:08] kelson42 commented on #664
This seems to be a problem introduced by #364. Please @srv-twry and @rashiq, try to close that problem ASAP.

[2018-03-24 18:18] srv-twry commented on #664
@sam1096
1. You're adding the dependencies in the wrong ```build.gradle``` file.
2. You don't need to add any dependencies in the first place.

@kelson42 Yes, it has been introduced due to it but it works absolutely fine on my local machine. I think we need others to fetch the latest code and try to run it. @brijeshshah13 @hjoshi123 @siddharth2010 @RohanBh Can you guys check and confirm the issue

[2018-03-24 18:21] hjoshi123 commented on #664
@srv-twry @sam1096 Its working fine for me. No issues in building

[2018-03-24 18:25] srv-twry commented on #664
@sam1096
Another possible case : Are you by any chance building the application in offline mode. I would suggest taking a look at your settings and disabling the offline mode in case it is enabled.
You can find the settings in
File -> Settings -> Build,Execution,Deployment -> Build Tools' -> 'Gradle'
Uncheck "offline work".

[2018-03-24 18:28] srv-twry commented on #662
Actually it won't be that easy.
To use LiveData we will have to completely change the way the data flow happens in the application. MVP and MVVM are very different. One key difference is that the "presenter" holds a reference to "view" in MVP but the "ViewModel" doesn't hold any reference to the "view" in MVVM.

[2018-03-24 18:40] hjoshi123 commented on #662
@srv-twry True that. But we won't need to worry about configuration changes. Plus as you said before its officially supported. I am not proposing we do it now. We can implement it slowly. We can also do this as a GSoC task. What do you think?

[2018-03-24 19:42] brijeshshah13 commented on #664
@srv-twry Works good for me as well.
By the way, did anyone notice that @sam1096 (even though it wasn't required to add the dependencies) added them in the `dependencies { }` present in the `buildscript { }`, and not in the root `dependencies { }` 😄 That's the reason of the error. Please close this issue if there are not other developments.

[2018-03-24 21:53] GeVic commented on #664
@srv-twry @hjoshi123 Most probably its because of the dependencies that you added. As @srv-twry already stated its not required. But sometimes doing instant run also triggers the leakcanary to report memory leaks.

[2018-03-24 22:17] GeVic commented on #662
@hjoshi123 MVVP is more of a of a reactive programming and also produces less code to work with. So,  moving to MVVP is certainly a good choice keeping aside some of the cons that it brings with it. Although the amount of time it requires is not small But doing it as GSoC task might just work.But if we prioritize the GSoC ideas lists with this, then I think this should wait.
@mhutti1 @kelson42 You

[2018-03-24 22:40] GeVic opened #665 "Search bar crashes the app"
# For a Bug Report:
- [ ] Feature Request
- [x] Bug Report

## Bug Report

### Are you ready to report?
- [x] Ensure you have tested with the last (dev) version of the software.  (If not, and if possible, run your test again with the most recent version available.)

### Environment
  * version of the software you use : **3.0.1**
  * device / operating system : **Huwawei BLN-L22 (Android 7.0 API 24

[2018-03-24 23:06] RohanBh commented on #665
I am confirming the crash @Gevic. Actually, for me it doesn't matter if the list is loading or not,  the app always crashes even if I skip the 2nd point.

[2018-03-24 23:27] GeVic commented on #665
Ok then, I'll look into it and will create a PR asap.

[2018-03-25 01:24] mhutti1 commented on #56
@sakchhams Thanks I thought as much.

[2018-03-25 02:59] sam1096 commented on #664
I did all those things you told @srv-twry  and I removed those lines from dependencies,still I'm getting previous errors which I was getting when I run app for first time.For only those errors I added dependencies later.Could you please help me in fixing this.I took another screen shot after removing dependencies and "off line work" is also unchecked.
![firstlook](https://user-images.githubusercon

[2018-03-25 03:17] brijeshshah13 commented on #664
@sam1096 It is because you are building the wrong Build Variant of the app. First you need to change the build variant to `kiwixDebug`. LeakCanary has been added in that build variant only.

[2018-03-25 08:10] sam1096 commented on #664
Changed build variant to kiwixDebug.It says about Error:Execution failed for task ':app:transformDexArchiveWithExternalLibsDexMergerForKiwixDebug'.

![bbb](https://user-images.githubusercontent.com/16611326/37873051-4cc501dc-2fc9-11e8-9478-eb7312e9a612.png)

[2018-03-25 08:50] hjoshi123 commented on #664
@sam1096 Have you enabled multidexing ?

[2018-03-25 09:48] sam1096 commented on #664
yes.
![multidex](https://user-images.githubusercontent.com/16611326/37873715-08985456-2fd7-11e8-8652-960adbc0d059.png)

[2018-03-25 10:53] brijeshshah13 commented on #664
@sam1096 I see that you have made some changes in the `app` level `build.gradle` file and `KiwixApplication.java` file as well. Can you please try stashing them and taking a fresh pull from the remote branch. After that, do `Clean Project` followed by the building the app again. Please post here if the issue persists.

[2018-03-25 13:05] daroodar commented on #659
@hjoshi123 @srv-twry  Yes I think I have read the documentation again. It's correct. I will close the issue. Thanks!

[2018-03-25 13:06] #659 closed

[2018-03-25 15:39] kelson42 commented on #665
@GeVic Thx, this to me an important bug to fix. Many users reported that under certain condition the app was crashing by making searches.

[2018-03-25 15:41] kelson42 commented on #662
This definitly a question for @mhutti1 and @rashiq

[2018-03-25 15:47] Raghav-intrigue opened #667 "[bug] Online ZIM list fails to repopulate after device rotates"
## Bug Report

### Environment
  * version of the software you use: Kiwix Official 2.2
  * device / operating system : Oneplus X (6.0.1)

### The Bug:

  * The list of online ZIMs fail to load after rotating the device.

![p1](https://user-images.githubusercontent.com/12858001/37876905-03308b56-3071-11e8-9411-c4a291f151f6.jpeg)
![p2](https://user-images.githubusercontent.com/12858001/37876907-036c

[2018-03-25 15:52] kelson42 commented on #667
Is that not a duplicate of #559 and #608?

[2018-03-25 17:11] Raghav-intrigue commented on #667
No @kelson42, the issue I've reported points to the inability of the app to repopulate the list on rotation. #559 and #608 focus on avoiding the redownload of the list.

[2018-03-25 17:21] Raghav-intrigue commented on #667
Apparently, the activity doesn't have a call to unregister receiver and due to the leaked receiver, the activity crashes when the view is destroyed and created again on rotation.
Can I get assigned to this?
The error log has been attached for your reference:
`03-25 22:47:34.087 31155-31155/? E/ActivityThread: Activity org.kiwix.kiwixmobile.ZimManageActivity has leaked IntentReceiver org.kiwix.kiwi

[2018-03-25 17:24] hjoshi123 commented on #667
@Raghav-intrigue Refer to this PR https://github.com/kiwix/kiwix-android/pull/652 . I have attempted to solve it and its improved.

[2018-03-25 19:09] Raghav-intrigue commented on #667
Alright. Closed then.

[2018-03-25 19:09] #667 closed

[2018-03-25 19:15] Achintya999 opened #668 "App Crashes when tap the Notification Bar"
Bug Report

Are you ready to report?

-Yes

Environment

    version of the software you use: Latest master
    device / operating system: One Plus 5/ Android 8.0

The Bug:

When in no internet range, and we close the app while downloading we can see the downloading in the notification and if we tap the notification the app crashes.
Similar to Issue number #600 but its when we close the app.

[2018-03-25 19:24] Achintya999 opened #669 "Closing The ZIM file"
Bug Report

Are you ready to report?

-Yes

Environment

version of the software you use: Latest master
device / operating system: One Plus 5/ Android 8.0

The Bug:
When we want to close any ZIM files from the Navbar and we click the close button. Instead of closing the zim file we are directed back onto the same page and we can't go to the home page. So i suggest on closing the ZIM we must be dir

[2018-03-25 21:31] Achintya999 opened #670 "Not always possible to cancel a ZIM while Downloading"
Bug Report

**Environment**

version of the software you use: Latest master
device / operating system: One Plus 5/ Android 8.0

**The Bug**

When we start the download of the ZIM file and close the internet and opens the app again, no matter how many time we cancel the downloading it doesn't get cancelled it just remain there in the download section.

[2018-03-26 04:37] harshvardhan-takawale opened #671 "Reducing the download chunk size for better validation and download process for the user."
## Feature Request

#### Feature Description:
I am suggesting to reduce the chunk size from current 4GB to something like 100MB. What this does is, in case of failure in the download of large files, few of the chunks are already fully downloaded and thus the download need not begin from the start and thus save the user data.
Another feature that this idea has a potential to serve is validation. If

[2018-03-26 04:39] harshvardhan-takawale commented on #671
@kelson42 @mhutti1 @rashiq I have provided a possible solution in my proposal please let me know if you find some problem in it. Also, please tag someone from the team who can answer the question.

[2018-03-26 07:17] kelson42 commented on #671
I will close this proposal because we have meanwhile ZIM files with content (like videos or fulltextindex) which can not be randomly cut in the middle ie. in two or more files). That means that the Java code can not know where to split a file. This information needs to be stored in the ZIM file itself. On the top of that, we are going to integrate the downloading library to the Kiwix-lib, so in th

[2018-03-26 07:17] #671 closed

[2018-03-26 07:24] harshvardhan-takawale commented on #671
@kelson42 Alright I'll drop the idea of reducing the chunk size. But we can go on with the validation of the entire file right(4GB chunks)?

[2018-03-26 07:28] kelson42 commented on #671
@harshvardhan-takawale I do not think so. Do you want to implement a Metalink/Bittorrent client in Java? How do you want to validate that 4GB chunk?

[2018-03-26 07:31] harshvardhan-takawale commented on #671
Just a simple MD5 checksum after download won't do?

[2018-03-26 07:49] kelson42 commented on #671
@harshvardhan-takawale A md5 checksum is only a checksum... to make a validation, you need to validate against a reference? Which one?

[2018-03-26 07:51] harshvardhan-takawale commented on #671
@kelson42 We do have an ID right with each file which is its MD5? Just another question, how does the pause feature work in the current download process for video files? Can't we try the same here?

[2018-03-26 07:55] kelson42 commented on #671
@harshvardhan-takawale We do not download videos. You need to clear out where your reference md5sum checksum would come from in your proposal IMO... Anyway it might come from the metalink provided online for each ZIM file, but then the size of each chunk would be driven from the metalink file (so server side)... and that would basically mean reimplementing Metalink in Java... which is a bad idea a

[2018-03-26 07:59] harshvardhan-takawale commented on #671
@kelson42 What if instead of downloading it in parts, we just pause it after a fixed interval and validate, the pause mechanism is already implemented right?

[2018-03-26 08:48] harshvardhan-takawale commented on #671
@kelson42 I sent a draft yesterday from whatever I understood, you can read the proposal there in a bit detail. Anyway, after this discussion, I will make some major changes in it(maybe remove the entire download thing). You can comment there if you like something want it in the final proposal as I don't think there will be enough time for sending new draft. I guess the proposal was a bit too ambi

[2018-03-26 09:12] kelson42 commented on #670
I can not reproduce the problem, but by playing around this (stopping randomly both Internet connection and app itself) and I have discover few other bugs:
* Downloads in the Android notifications list but not in the "Download" section
* It seems indeed difficult to stop them from the notification... at some point I have even achieved to make the app crash by trying this.

So I think there is a fu

[2018-03-26 09:14] kelson42 commented on #669
@Achintya999 What does "close" a ZIM file mean? I do not understand?

[2018-03-26 09:17] kelson42 commented on #668
Yes to me, pretty much a duplicate of #600

[2018-03-26 09:17] kelson42 commented on #670
To me, pretty much a duplicate of #600

[2018-03-26 09:52] kelson42 commented on #259
@sakchhams Why should we do something "complicated" like this if we can avoid it?

[2018-03-26 09:55] kelson42 commented on #616
@RishabhRawatAndroid You should have got one.

[2018-03-26 10:06] harshvardhan-takawale commented on #671
@kelson42 Just a help one last time please. The id of the book we get is the MD5 of the file right? If yes, can we run the md5 algorithm on the file after completely downloading it and compare both the id and whatever we get after running the algorithm? I will not change a thing in the way download happens(no implementation of anything like Metalink,Bittorrent,etc. client in Java). Sorry, if I am

[2018-03-26 10:12] kelson42 commented on #671
@harshvardhan-takawale The ID of a ZIM file is not the md5sum.

[2018-03-26 11:44] harshvardhan-takawale commented on #671
@kelson42 I checked out the library and also tried downloading some files and for every `zim` file there is a corresponding `meta4` file that contains the details I need (md5 and sha hashes for the whole file, and also by parts)
For eg. [wikipedia _ab_all_nopic_2017-07.zim](http://download.kiwix.org/zim/wikipedia/wikipedia_ab_all_nopic_2017-07.zim) and [wikipedia _ab_all_nopic_2017-07.zim.meta4](h

[2018-03-26 11:54] Achintya999 commented on #669
@kelson42 Like we download any ZIM file and when we open it it opens and at the time of closing there is no option of closing it, like in navbar there is a button infront of it but on pressing x it says tab closed and nothing happens, so particulary there is no way to get out from there as by clicking the "x" button and this is of no use so i consider it as a bug in the app.

[2018-03-26 11:56] Achintya999 commented on #668
Yes but this is when the app is closed and the downloading continues we can see it in the notification panel and then the app crashes.

[2018-03-26 11:57] Achintya999 commented on #670
@kelson42 assign this bug to me i will start working on it.

[2018-03-26 12:27] hjoshi123 commented on #668
@Achintya999 Can you explicitly tell me when the crash occurred because in PR  https://github.com/kiwix/kiwix-android/pull/652 I fixed the unregisterReceiver issue that crashed the app when you closed it. So please tell me so when you are getting this error. I will try and if its still there I will make a PR as soon as possible.

[2018-03-26 13:15] brijeshshah13 opened #672 "App directly minimizes on back pressed in Find in page"
## Bug Report

### Environment
  * version of the software you use : 2.3 build 55
  * device / operating system : Motorola E3 Power, Android version 6.0

### The Bug:

  * What do you obtain? A copy of the error message or a screenshot is always useful.

![20180326_183027](https://user-images.githubusercontent.com/18366144/37907932-1b6aaf0e-3124-11e8-9fe9-4264ec5e2518.gif)

  * When does this occu

[2018-03-26 15:32] kelson42 commented on #664
@rashiq @srv-twry Nightlies do not build anymore since this merge. See https://download.kiwix.org/nightly/.

[2018-03-26 15:40] kelson42 commented on #259
@sakchhams this is the exaclty purpose of a DNS to avoid to type IP addresses... and this is more convenient than having a whole classroom ruching to scan a QRcode (which might not be so easy if you do not have a mobile phone).

[2018-03-26 16:34] RohanBh commented on #259
Not taking sides here, but some smartphones have poor camera quality because of which it's not possible to scan the QR code.

[2018-03-26 16:36] GeVic commented on #665
@kelson42 The exceptions that we are getting on the crash is `java.io.IOException: write failed: EPIPE (Broken pipe)`
And so I think the problem is file size.

[2018-03-26 16:36] srv-twry commented on #664
[code]

@kelson42 Are you sure this has been happening after the dependencies were introduced ?
Isn't this related to #518 . Looks very similar.

[2018-03-26 16:43] kelson42 commented on #664
@srv-twry #518 is not blocking and does not make the CI fails. It exists since longer, but the CI has started to fail just after the last commit.

[2018-03-26 16:46] hjoshi123 commented on #664
@kelson42 Yeah it has started recently. My PR's got built successfully but @brijeshshah13 posted a PR today whose build failed.

[2018-03-26 16:47] GeVic commented on #665
@kelson42 I got the below error once and it's related to `leakcanary`
![screenshot_20180326-214758](https://user-images.githubusercontent.com/29516629/37920075-78da454a-3143-11e8-8a42-3c449192151e.png)

[2018-03-26 18:59] sakchhams commented on #259
@kelson42 Yes I agree. Makes total sense. I meant to suggest this as an alternative to be used if the DNS implementation fails. @RohanBh has a valid point as well.

[2018-03-27 13:36] hjoshi123 opened #675 "SSL exception"
## Bug Report

### Are you ready to report?
   - Yes

### Environment
  * version of the software you use : 2.2
  * device / operating system : Android Nougat 7.1.2

### The Bug:

  * What do you obtain? A copy of the error message or a screenshot is always useful.
[code]
  * When does this occur?
      Put a zim file to download and then go to airplane mode. This exception occurs without closing

[2018-03-27 13:37] hjoshi123 commented on #675
@kelson42 Can I work on this?

[2018-03-27 20:07] sakchhams opened #676 "Search option for available languages."
## Feature Request

#### Add an option to search for available languages.

The current Library->Online->Search - Select Languages looks like this.
![Screenshot of language selection dialog](https://i.imgur.com/fvzDw9Q.png)

There should be an option to search for a particular language in the list. Also, the selected languages should be shown on top of the list to make sure they're easily visible a

[2018-03-27 20:10] sakchhams commented on #676
@mhutti1 @kelson42 I think this could come under 'good first issue'. What do you suggest?

[2018-03-28 07:36] julianharty commented on #402
The error logs are available. I'll see if we can find a way to get you
access to them.

On 23 March 2018 at 23:16, Rohan Bhatia <notifications@github.com> wrote:

[2018-03-28 08:36] kelson42 commented on #283
@mhutti1 We talk about ZIM download? If yes, this is a problem probably with either our distribution solution or by TestDroid. We should get the logs about this failing and act accordingly.

[2018-03-28 09:56] Rahul5758 opened #678 "Providing option to exit the App with double back presses (was: in the drop down menu)."
1. Provide an exit button in the drop down menu to exit the Kiwix app from any screen.
2. The user may press the back button accidentally while on the home screen so exit the app only after double back press.

Provide a exit option in the drop down so that the user may exit the app from any tab.

![exit_button_eg](https://user-images.githubusercontent.com/26683036/38021986-edefe8cc-329b-11e8-9564-

[2018-03-28 12:01] brijeshshah13 commented on #664
@kelson42 @srv-twry After cloning the `master` 3 times for verifying this issue, I report that the error does occur when I build the default build variant. However, after I change to `kiwixDebug`, the build passes successfully and installs the app too.

[2018-03-28 12:20] brijeshshah13 commented on #675
@hjoshi123 Are you sure that you are not receiving it because of the device because I'm getting the following exception:

[code]

[2018-03-28 12:24] mgautierfr opened #679 "kiwix-android fails to compile on kiwix-build 's travis-ci"
## Bug Report

   Last commit https://github.com/kiwix/kiwix-android/commit/ebac71aeed61821c7c4c443d28cca5a40afdc82c fails to compile.

`leakcanary` doesn't exist.

Log from travis :
[code]

### Environment
  * version of the software you use : master
  * device / operating system : travis-ci (kiwix-build)

[2018-03-28 12:28] brijeshshah13 commented on #679
@mgautierfr Please have a look at this issue #664.

[2018-03-28 12:34] mgautierfr commented on #679
Oops, my bad. I'm closing this issue as a duplicate of #664.

[2018-03-28 12:34] #679 closed

[2018-03-28 12:37] brijeshshah13 commented on #678
@Rahul5758 I think adding the facility to exit the app on double back presses would be an improvement. However, I don't think there is any need of adding the Exit menu option as the user can always close the app directly via the navigation bar of the device, can't he?

[2018-03-28 12:49] brijeshshah13 commented on #676
@sakchhams I agree with you on the idea that the selected languages should be shown on the top of the list. And about the Search option for available languages, can you please provide any reference app screenshot showing how and where you want to implement it (as its a Dialog box) ?

[2018-03-28 12:55] hjoshi123 commented on #675
@brijeshshah13 This is the part of exception that I got. The full exception is the one I posted. Are you sure you did airplane mode?

[2018-03-28 12:58] brijeshshah13 commented on #675
@hjoshi123 Positive. Btw, I can't locate the exception I'm getting in the log you provided. I'm pretty sure they are different.

[2018-03-28 13:06] hjoshi123 commented on #675
@srv-twry Can you check if you are getting the exception?

[2018-03-28 18:57] sakchhams commented on #676
@brijeshshah13 I'll try and pull up a sample. Although I guess you'd have surely seen it. It's a common UI practice to do so. Include a text field (EditText) on top of the list, and the list items would be filtered based on the entry in the text field.

[2018-03-29 06:05] brijeshshah13 commented on #676
@sakchhams I have, but still it would be better if you could post a reference here so that @mhutti1 and @kelson42 can verify the same before you start with the implementation.

[2018-03-29 13:14] kelson42 commented on #678
We won't do that. "Exiting" an app has almost no sense on Android.

[2018-03-29 14:17] ISNIT0 commented on #443
@GeVic the link still works for me, could you try again?
@brijeshshah13 All activities inherit from BaseActivity, so we can just catch them there.

[2018-03-29 16:14] Rahul5758 commented on #678
@kelson42 You are right, but as @brijeshshah13 agreed can the facility to allow double press before actually exiting or minimizing the app be given?

[2018-03-29 17:30] julianharty commented on #283
I'm doing some analysis of the test failures on TestDroid. This is the most common test to fail and in the most recent failures has happened every time the test run has an error 13 times in the last 25 test runs. The other test that fails is the NetworkTest which has happened twice, a 2 in 25 error rate.
[code]

The line where the failure occurs is: `org.kiwix.kiwixmobile.tests.DownloadTest.downlo

[2018-03-29 19:18] mrjohnc commented on #259
I'm trying to find programmers to help with this on Twitter (fingers crossed), retweets very welcome https://twitter.com/mrjohnc/status/979428219140149249

[2018-03-29 19:49] julianharty commented on #283
BTW: in recent tests I see at least one instance (test run 1137) where we seem to get a different device, one with the locale set to `en-GB` rather than `en-US`. Again I don't yet know if it's significant. Here's the log extract that includes the strange `ChinaFeaturesLib` error BTW.

[code]

[2018-03-29 20:00] jvonau commented on #259
I have experience with kiwix from my time spent with[ internet-in-a-box]( https://github.com/iiab/iiab). The dhcp and dns part would be handled by android's hotspot feature by default, you can also make use of avahi(.local) if that is available on android.  How is the http server started, bound to the lookback only? The $64,000 question does the android kernel have required iptables modules availa

[2018-03-29 21:36] kelson42 commented on #259
@jvonau Good question indeed :) I hope we can start a daemon bound to the wireless network interface.

[2018-03-30 09:38] mrjohnc commented on #259
Is there anything a non programmer can do to help make this happen? Very happy to beta test etc

[2018-03-30 18:10] dschwen commented on #259
https://github.com/NanoHttpd/nanohttpd is a BSD licensed Java http server for Android.

[2018-03-31 06:19] sakchhams commented on #676
@brijeshshah13 here's a crude mockup. <br/>![Screenshot](https://i.imgur.com/5DRMYZA.png)
Showing a text box to type the name of the language and a list that displays elements filtered based on the text entered. If no text is entered all items will be displayed in the list.

[2018-03-31 09:50] kelson42 commented on #259
@dschwen The HTTP side is the least problem IMO as we have already a HTTP daemon running (soon in the C++ core). The challenge is all the WIFI/DNS/Networking configuration to get users connection via WIFI works properly and then the HTTP requests automatically routed to our HTTP daemon running. I'm not so familiar with nanohttpd, but it looks like this does not solve these "problems".

@mrjohnc Ad

[2018-03-31 10:24] GeVic commented on #665
@kelson42 So, The app crashes because of the LIstVIew Modifications.
[code]

[2018-03-31 10:39] GeVic commented on #311
@Wikinaut Please close the issue as I reported it again and working on it right now.

[2018-03-31 10:55] kelson42 commented on #311
@GeVic Usually it works the other way arround. Duplicates are the last created tickets and should be close, you can work on this one.

[2018-03-31 11:13] GeVic commented on #311
@kelson42 As you assigned it to me so I thought that this one should be closed.

[2018-03-31 11:17] GeVic commented on #311
@kelson42 Anyhow can you please refer to my last comment on #665.

[2018-03-31 16:56] kelson42 commented on #678
@Rahul5758 Ooops, sorry for this bad moove. I have reopen the ticket and changed the title.

[2018-03-31 17:08] brijeshshah13 commented on #678
@Rahul5758 Please go ahead and send a PR for the same. I'm assigning the issue to you.

[2018-03-31 17:40] abdulwd commented on #678
Pressing back twice to exit fullscreen mode makes more sense. But pressing back twice every time to exit the app will be annoying to the user.

[2018-03-31 18:25] brijeshshah13 commented on #676
@sakchhams Alright. @kelson42 Please share your views of the mockup.

[2018-03-31 20:18] abdulwd commented on #98
@RajaVamsi11 I don't think you're working on this issue. May I take this?
If you're working on it can we divide this task? As there are so many warnings to be removed.
We can then solve this issue by taking up classes one by one and opening PRs one by one when a class is completely fixed.

[2018-03-31 20:52] abdulwd commented on #648
@RohanBh Sorry for the late reply. I was quite busy these days.

For instance, suppose we have a class called **NetworkUtils** where we have all the helper methods which are static. Consider one method `isNetworkAvailable(Context)`, presently we call this method using `NetworkUtils.isNetworkAvailable(Context)` but when we convert this class to _Kotlin_ we can have package level functions declared

[2018-03-31 22:05] abdulwd opened #681 "Specify round icon in AndroidManifest"
### Environment
  * version of the software you use: 2.3
  * device / operating system: Moto G5S / Android 7.1.1

### The Bug:
The circular icon of the app is not shown by the launchers using circular icons.

Screenshot:
![image](https://user-images.githubusercontent.com/20206262/38167925-eee77326-355c-11e8-9a8a-6fefbf81da81.png)

[2018-03-31 22:24] mhutti1 commented on #662
I don't have a huge amount of experience with this. I think unless there are major benefits to a new system we should stick with what we have.

[2018-03-31 22:25] mhutti1 commented on #670
I think this is when the download service crashes but the notification gets left and is non dismissable. If we can we should clean up notifications when we crash.

[2018-03-31 22:27] mhutti1 commented on #669
Closing this as it is a feature and this behaviour will not make sense with multizim.

[2018-03-31 22:27] #669 closed

[2018-03-31 22:28] Achintya999 commented on #670
Sir assign this bug to me.I will work on it and try to fix it

[2018-03-31 22:31] mhutti1 commented on #678
Yeah I don't think locking the user into the app is a good idea.

[2018-03-31 22:33] mhutti1 commented on #283
This could be todo with #510 on certain locals specifically SSL certificate issues?

[2018-03-31 22:53] abdulwd opened #683 "Pagination of library data"
### Environment
  * Version of the software you use: 2.3
  * Device / operating system: Redmi Note 3 / Android 6.0.1
## Feature Request
When we go to Menu -> Get Content, the list of books that can be download from the library must be paginated.
#### Feature Description
Presently, we download the full list of books which can we download from the Kiwix app regardless of the user language preference

[2018-03-31 22:55] abdulwd commented on #683
@kelson42 @mhutti1 @EladKeyshawn @rashiq This will greatly enhance the user experience. We must implement this.

[2018-04-01 01:42] Rahul5758 commented on #678
What is your suggestion then @mhutti1?

[2018-04-01 04:37] hjoshi123 commented on #683
@kelson42 I think this is good feature. @abdulwd Can I work on this?

[2018-04-01 04:39] hjoshi123 commented on #662
@mhutti1 I think it has great advantages for us. We don't to worry about Lifecycle events or data changes etc. I think we should start working on this.

[2018-04-01 08:09] brijeshshah13 commented on #678
@mhutti1 @abdulwd @Rahul5758 I think we must provide this facility only when/after the user is on the Home page of the ZIM file, this way the user won't have to back press twice every now and then.

[2018-04-01 08:17] kelson42 commented on #683
@hjoshi123 All the library UI will be rewritten before end of this year. I would not recommend to invest too much energy on this now.

[2018-04-01 08:38] abdulwd commented on #683
@kelson42 This is independent of the UI of the library. Even after the revamp of the library we must have pagination of data. Our efforts will not go waste.

[2018-04-01 08:48] kelson42 commented on #683
@abdulwd I don't think we have to provide a pagination system. For example: Google Play does not.

[2018-04-01 08:52] Rahul5758 commented on #678
@brijeshshah13 I have stated this thing in the issue description.

[2018-04-01 11:20] sakchhams commented on #259
@jvonau Yes, the server is bound to loopback only. However, incoming connections are redirected by default so that is not a problem. The $64,000 answer; No, android production builds do not include iptable modules. There are ways to set that up on android but none without root so I believe we'd have to think of something else.

[2018-04-01 12:34] harshvardhan-takawale opened #684 "EmptyView overlaps with the content"
## Bug Report

### Environment
  * version of the software you use: 2.3 Build: 55
  * device / operating system: Moto G4 Plus

### The Bug:

The Empty View overlaps with the content in the ZimManagerActivity.

There are no proper steps to reproduce it, although I did it by loading the content, turning off and on the data and refreshing the list.

### ScreenShot

![kiwix_overlap1](https://user-imag

[2018-04-01 12:57] dschwen commented on #259
How do ftp server apps for transferring data to and from your phone to it then? For example https://github.com/wolpi/prim-ftpd

Is the problem that those all operate in an existing WiFi network rather than in hotspot mode?

[2018-04-01 14:38] abdulwd commented on #683
@kelson42 By pagination I mean to load a subset of data (list of books) from the network. Google Play Store does have it.

![ezgif-3-d1eea7eb4c](https://user-images.githubusercontent.com/20206262/38174261-42cb8b7c-35e8-11e8-9556-a68916a150b9.gif)

[2018-04-01 15:32] brijeshshah13 commented on #678
@Rahul5758 You didn't clearly mention which Home page were you speaking of and you attached the Help page to depict it. I'm speaking of the Home page of the ZIM file.

[2018-04-01 15:39] brijeshshah13 commented on #443
@ISNIT0 Sorry for the late response, I have been quite occupied lately. I checked and found that `KiwixSettingsActivity`, `SplashActivity` and `ZimManageActivity` do not inherit `BaseActivity`. How do we want to cover those activities?

[2018-04-01 17:54] kelson42 commented on #683
The loading of the catalog will be soon be handled withing the libkiwix. So this is not something Kiwix for Android will handle directly. At least this is the plan: the stuff is in the libkiwix but still not exposed through the JNI. Even the ZIM download will be handled via the libkiwix... So, again, I do not think this makes a lot of sense to invest now on this at the Java level.

[2018-04-01 17:57] Rahul5758 commented on #684
@harshvardhan-takawale I also faced the same issue on Moto G4 Plus mobile.
![shared1](https://user-images.githubusercontent.com/26683036/38175996-18c643f0-3604-11e8-84e9-e2326157d11c.jpg)

[2018-04-01 21:00] abdulwd commented on #98
@mhutti1 May I please work on this?

[2018-04-01 22:19] mhutti1 commented on #283
Sometimes we get

```SSL handshake timed out```

Which I think is a retrofit error.

[2018-04-01 23:10] #664 closed

[2018-04-02 01:26] abdulwd opened #688 "Add static shorts"
### Environment
  * version of the software you use: 2.3
### Feature Request
Add the following static shorts to the app:
- New tab
- Get content
#### Feature Description
App shortcuts were introduced in API 25, they let the user quickly do common tasks. So as we move to multi-ZIM paradigm these shortcuts will be more useful. Therefore, we must add them now. For more information refer to this [link

[2018-04-02 03:21] brijeshshah13 commented on #684
@mhutti1 I confirm the existence of this bug. @harshvardhan-takawale Would you like to resolve this?

[2018-04-02 06:18] harshvardhan-takawale commented on #684
@brijeshshah13 I wish to work on the issue but I am unable to reproduce the bug reliably so testing whether it is solved or not is difficult.

[2018-04-02 09:01] brijeshshah13 commented on #684
@harshvardhan-takawale I will try to reproduce the bug and update this comment when I find do.

[2018-04-02 13:16] hjoshi123 commented on #684
@harshvardhan-takawale How did you get the bug? I am not able to reproduce it. I want to work on this.

[2018-04-02 19:53] sakchhams commented on #683
@kelson42 but would the libkiwix implementation address the issues mentioned by @abdulwd ?