[2016-06-08 13:06] rashiq opened #1322 "[Bug] Rendering on Android - main page of Russian Wikivoyage [sf#841]"
**Reported by abaturin on 2015-02-28 20:50 UTC**
Main page of Russian Wikivoyage looks ugly on Android. See the attached screenshot.

I'm not sure if that's a bug in Wikivoyage page markup itself, or that is a bug in Kiwix.

[2016-06-08 13:09] rashiq opened #1321 "[Bug] Android app: search is not always case insensitive [sf#943]"
**Reported by axel_boldt on 2016-02-24 00:56 UTC**
I'm using Android Kiwix 1.96 on Android 4.4.4, with the complete German Wikipedia zim file.

I expect the search to be case insensitive, and for the most part it is: searching for "am adler" or "Am adler" or "am Adler" or "AM ADLER" or "aM aDler" will all find the article "Am Adler".

But if the article title has three or more words, and the secon

[2017-01-24 20:54] Herve5 opened #1 "trouble with fulltext search on Android 5 while not on Android 4"
Hello all! I am an extremely happy user of Kiwix on a relatively old tablet (samsung on Android 4), where everything ls perfect, among others I have the Wikipedia and the related index file, and fulltext search activated.
Recently I tried to install the same config on a phone with Android 5, and I find the zim files are found and used, but the .idx folder (that I locate at the same place as the .z

[2017-01-24 21:09] kelson42 opened #2 "Move Android code to to kiwix-android repo"
From "kiwix" repo and "android" directory.

[2017-01-24 21:10] kelson42 opened #3 "Merge custom compilation python script to Meson"

[2017-01-27 08:11] Popolechien opened #4 "App appears corrupted when user is logged out"
From the OTRS queue:
"The Wikivoyage Offline Travel Book app only starts when I'm logged in
as the user who first installed it. When logged in as another user,
the app displays the following error message when started:

"Wikivoyage"
"Your application is corrupted."
"This might happen when you remove files on the SD Card."
"You need to uninstall then reinstall the App from the Play Store."

The dev

[2017-01-27 08:16] Popolechien opened #5 "Support OSM maps and markers in WikiVoyage"
From the OTRS queue:
"The Wikivoyage website offers numeric markers in the text, usually in
the "See" section of articles, that open an OpenStreetMap map when
they are clicked. This feature is extremely useful when visiting a
place: the markers in the text and on the map are the easiest way to
find one's way to a mentioned landmark.

Wikivoyage European Travels and Wikivoyage Offline Travel Book d

[2017-01-27 19:36] kelson42 commented on #5
@Popolechien Could you please put the picture (like written in the feedback)?

[2017-01-27 19:39] kelson42 commented on #4
@mhutti1 @EladKeyshawn @rashiq Ideas? I thought first to a hardware/fs problem with the SD card... but this sounds finally a bit more serious (I was not aware that on Android it was possible to have many users).

[2017-01-28 11:41] Popolechien commented on #5
Dude forgot to add the picture to his email - I wrote him back asking for it.

[2017-02-03 17:23] kelson42 commented on #5
@Popolechien thx, it's important.

[2017-02-05 18:56] kelson42 commented on #5
Few feedbacks about this:
* Mediawiki/Wikipedia/Wikivoyage has or had many ways to specify links pointing to a geo coordinates.
* Two "systems" were supported, but the "new" "Special:Map' were not
* This is a mwoffliner topic, not a reader one
* We have decided a long time ago to code this kind of links with the prefix "geo", like "geo:lat,lon". More details here https://en.wikipedia.org/wiki/Geo_

[2017-02-05 18:56] #5 closed

[2017-02-06 09:00] Popolechien opened #6 "Problem with WikiMed on Android 7.0"
From the OTRS feedback queue:
"This app is very useful and thank you.
But I want to report a problem that it doesn't work on android 7.0
It worked correctly on android 6 but since I upgrade to android 7 it doesn't and get error: The selected file is not a valid ZIM file. and then show nothing but a white page.
I attached a screenshot of that error"
![screenshot_20170206-024203](https://cloud.githu

[2017-02-06 09:07] Popolechien commented on #5
Ok just for the record, here are the images:
Mobile website: markers in text:
![1 - mobile website - markers in text](https://cloud.githubusercontent.com/assets/21675885/22640624/cc543b30-ec53-11e6-85ab-7d34e045492d.png)
Mobile website: markers on map
![2 - mobile website - markers on map](https://cloud.githubusercontent.com/assets/21675885/22640623/cc53b4ee-ec53-11e6-95fb-2309ba1f6b02.png)
App: n

[2017-02-10 09:02] Popolechien opened #7 "Add contact email address to help page"
Just as a quick experiment to try and identify where users come from, let's add the address android@kiwix.org at the bottom of the help page. Current text is
"Thank you for choosing Kiwix! We are glad to have you on board and would appreciate any feedback or suggestions"
change it to
"Thank you for choosing Kiwix! We are glad to have you on board and would appreciate any feedback or suggestions at

[2017-02-20 21:36] kelson42 opened #8 "Index not synced with article"
Sometimes, especially with many open tabs open and after closing one or more of them, I noticed that the index is incorrect for at least one open article. It looks as if the index is somehow not updated about the closed tabs. So the array of article-names-in-open-tabs differs from the array of article-names-in-index.

tested with 2.1

![17746_2 0_stale_menu_122_72lo](https://cloud.githubuserconten

[2017-02-23 17:32] mgautierfr opened #9 "Correctly handle icudt*.dat in android."
For now the icudt*.dat is loaded by the java code on android.

However, the kiwixlib has code to load the same data.
It is only used if we are on a apple platform (with the define \_\_APPLE__).

We should simplify this. Only one code should handle this. Either the kiwixlib itself or the caller code, but not both.

[2017-02-25 16:57] kelson42 opened #10 "Improve "Hide toolbar when scrolling""
I'm one of kiwix and Wikipedia readers, I'd love to be one of the the participants of the Wikipedia kiwix design team, and would like you to add this advantage of 'pocket' app to the  'kiwix' app because I love this app and want it to be the best ever.
- the advantage is when you scroll down ⬇ in the screen the app will automatically full screen so the reader will enjoy full screen reading easily

[2017-02-25 16:57] kelson42 commented on #10
@borisfba @mhutti1 @EladKeyshawn @rashiq Any feedbacks about that idea?

[2017-02-25 16:59] mhutti1 commented on #10
@kelson42 We have already implemented this in 2.2 as a setting.

[2017-02-25 17:05] kelson42 commented on #10
@mhutti1 OK, I was not sure to 100% understand what was meant. That said this is still "only" available as an option "Hide toolbar when scrolling", not activated per default and we also have the option "fullscreen". Assuming feedbacks are good about the option "Hide toolbar when scrolling", would that make sense to make this behaviour mandatory and remove both option "fullscreen" and "Hide toolbar

[2017-02-25 17:07] mhutti1 commented on #10
@kelson42 I don't think the feature is fully ready in 2.2, other apps implement a small delay before starting the toolbar hide and I think we should also add this before possibly making it default in 2.3

[2017-02-25 17:14] kelson42 commented on #10
@mhutti1 OK, I reopen the ticket with the goal to do the improvments discussed in previous comments.

[2017-02-26 20:50] kelson42 opened #11 "Bookmarks should be sorted alphabetically"

[2017-02-26 20:59] kelson42 opened #12 "Make three options to deactivate sidebars, tabs and reading"
There should be a custom configuration option using our buildVariant system that can disable side bars and tabs independently. It should not be exposed to the user.

* index side bar
* tabs side bar (probably deactivate tabs)
* read aloud

This is necessary for the Phet app

[2017-02-26 21:02] kelson42 opened #13 "Allow custom strings/translations files for custom app"
The phet app needs to rename a few menu entries

[2017-03-02 06:31] kelson42 opened #14 "Check if the space is really freed correctly avec (custom) app uninstall"
A user complained it's not.

[2017-03-02 12:38] mhutti1 commented on #14
@kelson42 I am not too sure what you mean by this. We don't have hooks too install / uninstall events and expansion files should be cleaned up by Google Play. There's really nothing we can do about this.

[2017-03-04 21:14] kelson42 opened #15 "SD seems to be not detected on Motorola Moto E XT1021"
Tested on BitBar and reported first here: https://play.google.com/apps/publish/?account=9116215767541857492#ReviewDetailsPlace:p=org.kiwix.kiwixmobile&reviewid=gp:AOqpTOGJzvB79Xcn_ho8bCAbUXsJzTZIpL2EIupU3wN2hIqXj6VDhf_WWZ1CPcJa-6sdbefgAMve9LSBWwpXfT0

[2017-03-08 08:50] #2 closed

[2017-03-08 10:37] Popolechien opened #16 "Problem with table visualisation (Wikimed / arabic)"
The table appears cut (see image) and it is not possible to move around to see what's missing (in this example the Arabic article for Tropin).
![screenshot_20170307-230220](https://cloud.githubusercontent.com/assets/21675885/23700491/3935ff20-03f3-11e7-94bd-20c1b5475abc.png)

[2017-03-08 10:39] Popolechien opened #17 "Missing webview scrollbar"
I've had the request on OTRS so I'm just asking: has the elevator bar been removed after the 2.2 release? Is it a bug or a feature?

[2017-03-09 16:25] Popolechien commented on #17
Since the guy insisted on Twitter: here's a screenshot from his Lenovo Vibe K5, where he is apparently scrolling but no elevator bar appears (otherwise everything is normal).
![c6fj2d-vaaencc8](https://cloud.githubusercontent.com/assets/21675885/23759508/4af70588-04ed-11e7-9c40-04bf0e742981.jpg)

[2017-03-10 07:15] kelson42 commented on #17
@mhutti1 Any idea was is meant here. I do not understand was goes wrong.

[2017-03-10 07:17] Popolechien commented on #17
@kelson42 See red arrow for what is missing ![screenshot_2017-03-07-14-56-42](https://cloud.githubusercontent.com/assets/21675885/23785839/f62aead8-0569-11e7-9027-c436b84ce562.png)

[2017-03-10 16:37] mhutti1 commented on #17
This is a bug, we changed around or layouts and it likely changed something here. The scroll bar is actually there but it is the same colour as the background so is invisible. (You can see it if you scroll left as far as possible and down at the same time)

[2017-03-13 07:24] kelson42 commented on #1
@Herve5 How does that work with 2.2?

[2017-03-13 07:27] kelson42 commented on #6
@mhutti1 We should really verify this. Sounds weird to me.

[2017-03-13 14:17] mhutti1 commented on #6
@kelson42 This sounds like its an Android issue. Can we get the user to reinstall the app?

[2017-03-15 08:08] Herve5 commented on #1
Sorry for this delayed answer. I actually installed Kiwix from the F-Droid repo, where it is still at version 2.1.
If things do not change in the coming days I'll switch at least temporarily to the Google repo to try version 2.2.

Thank you for the excellent work!

-- fh.sainct@laposte.netvia html interface

----- Mail d'origine -----De: Kelson <notifications@github.com>&Agrave;: kiwix/kiwix-andro

[2017-03-17 07:02] kelson42 opened #18 "SD card seems not to be detected on ChromeBook"
It's possible to run Android app on ChromeBook. Unfortunately, it seems that the SD card is not detected. Here a feedback of a user (James)

[2017-03-17 07:03] kelson42 commented on #18
The "only" think we need to fix that problem is the full patch on the system on which the SD card is mount.

[2017-03-17 10:25] #17 closed

[2017-03-17 11:34] mhutti1 commented on #18
@kelson42 I don't think this will be that east... [chromium bug report](https://bugs.chromium.org/p/chromium/issues/detail?id=660189#c6). It looks like neither read nor write access to the SD card is freely available at the moment, and the later might not be for some time. We might be able to get a work around set up to get rid of the "Error. The selected zim cannot be found". but it likely is an

[2017-03-17 11:48] kelson42 commented on #18
@mhutti1 Thx for the research and the input. That's sad, but we need to keep track on this problem. That said, I'll de-scope this ticket of 2.3.

[2017-03-17 15:24] #11 closed

[2017-03-18 12:14] kelson42 opened #19 "Improvment for blind people?"
_From @kelson42 on February 20, 2017 7:40_

User feedback... I have no clue what is going here... why wikimed behaves differently like Kiwix?
[code]

_Copied from original issue: kiwix/kiwix#465_

[2017-03-18 12:14] kelson42 commented on #19
_From @Popolechien on February 21, 2017 6:47_

Extra note from the gentleman: " I am running kiwix version 2.2 and wikimed version 2016-10. Really hoping this will get sorted, thanks very much for everything!"

[2017-03-18 12:15] kelson42 opened #20 "Content download progress bar is not updated if not downloading"
_From @kelson42 on February 14, 2017 6:50_

Which has for consequence that if you restart Kiwix with an ongoing download, the progress bar is empty at the beginning - as long as you do not download new data (even if you have already downloaded 50% for example).

_Copied from original issue: kiwix/kiwix#461_

[2017-03-18 12:15] kelson42 commented on #20
_From @EladKeyshawn on February 15, 2017 20:26_

@kelson42 I cannot reproduce the problem, for me after app restart the progress bar is up to date.

[2017-03-18 12:15] kelson42 commented on #20
_From @mhutti1 on February 15, 2017 21:32_

I can reproduce fine. I will fix it for the release of 2.3.

[2017-03-18 12:18] kelson42 opened #21 "Icon tooltip font color is wrong"
_From @kelson42 on February 11, 2017 19:6_

by clicking on the icon a tooltip appears explaining the purpose of the button. the font is in black. Considering the background of the tooltip is black or grey (depending the android version) I think it would be better to make white (or grey light).

_Copied from original issue: kiwix/kiwix#459_

[2017-03-18 12:18] kelson42 commented on #21
_From @EladKeyshawn on February 11, 2017 19:11_

I also experienced this but I thought it's specifically happening on my
Huawei.on  what device did you get this?

On Sat, Feb 11, 2017, 9:06 PM Kelson <notifications@github.com> wrote:

[2017-03-18 12:18] kelson42 commented on #21
@EladKeyshawn on my both Samsung Galaxy tabs?

[2017-03-18 12:18] kelson42 opened #22 "It should be possible to hide "read aloud" for custom apps"
_From @kelson42 on February 11, 2017 18:53_

The phets apps does not need that option.

_Copied from original issue: kiwix/kiwix#458_

[2017-03-18 12:19] kelson42 opened #23 "Android downloads should show an estimation of remaining time"
_From @tbertels on January 30, 2017 14:25_

There is currently no way to guess how long a download will take.
Showing the remaining time would help the users.

_Copied from original issue: kiwix/kiwix#450_

[2017-03-18 12:19] kelson42 commented on #23
Yes, nice-to-have

[2017-03-18 12:20] kelson42 opened #24 "Sync /android/res/values-* with translatewiki"
_From @tbertels on January 30, 2017 10:7_

The translatable strings aren't all available on https://translatewiki.net/w/i.php?title=Special:Translate&group=kiwix

_Copied from original issue: kiwix/kiwix#449_

[2017-03-18 12:20] kelson42 commented on #24
Yes, we have a massive string delay/discrepency with translatewiki. This sounds really important that #385 is implemented to avoid this problem in the future and solve this ticket.

[2017-03-18 12:21] kelson42 opened #25 "UI language change of Kiwix for Android UI should apply to HTML render widget language"
_From @kelson42 on January 17, 2017 18:47_

Like this we should be able, if the ZIM file is correctly configured, to adapt the content, depending of UI language. This is  in particular needed for the Phets custom app.

_Copied from original issue: kiwix/kiwix#444_

[2017-03-18 12:21] kelson42 commented on #25
@mhutti1 Does that make sense to you?

[2017-03-18 12:21] kelson42 commented on #25
_From @mhutti1 on January 17, 2017 18:49_

@kelson42 How would the alternative languages be stored in the ZIM file?

[2017-03-18 12:21] kelson42 commented on #25
@mhutti1 All languages are stored (maybe partly with json files, ...) in the ZIM, javascript (in the ZIM HTML content) would do the rest.

[2017-03-18 12:21] kelson42 commented on #25
_From @mhutti1 on January 17, 2017 22:36_

@kelson42 So we can call javascript functions or use different urls. Ideally if we use java-script though text shouldn't be displayed until the app tells it which language to use to avoid flickering,

[2017-03-18 12:21] kelson42 opened #26 "Search problem - some results disappear as typing advances"
_From @Popolechien on January 17, 2017 9:30_

(from OTRS - the example was with Wikipedia in Spanish but I guess it applies to other languages)
"If I type "fortaleza de san car" it shows me one result when there should be two:
1. Fortaleza de San Carlos de la Cabaña.
2. Fortaleza de San Carlos de Perote.
It only shows Perote (the second one), when la Cabaña appears in the list if I were to type on

[2017-03-18 12:22] kelson42 opened #27 "Current android downloads do show an empty progress bar (sometimes)"
_From @kelson42 on January 8, 2017 23:42_

If Kiwix restarts and there is no internet, the oinging download show en empty progress bar. The bar should show how many is already downloaded (anyway if the downloading process currently runs or not).

_Copied from original issue: kiwix/kiwix#431_

[2017-03-18 12:23] kelson42 opened #28 "Allow cross-app search using share function"
_From @Popolechien on January 4, 2017 11:39_

From the OTRS queue:
"It would be very helpful if users could longpress to highlight a word in another app (e.g. an eBook reader) and use the Share function to send the word to Kiwix for searching its meaning. Other apps are
already doing this... for example, the offline dictionary app English  Dictionary - Offline by Livio (
https://play.google.com/st

[2017-03-18 12:23] kelson42 commented on #28
_From @mhutti1 on January 4, 2017 18:1_

@Popolechien We should now have this functionality on android 6.0+ simply by highlighting text and pressing more. It seems like a good idea if we can also implement this solution for use on older android versions though.

[2017-03-18 12:23] kelson42 commented on #28
_From @Popolechien on January 5, 2017 15:6_

Cool, thanks. I guess you can close the ticket then :-)
(for some reason I can't)

[2017-03-18 12:23] kelson42 opened #29 "MVP pattern for the app?"
_From @rashiq on January 1, 2017 16:54_

Hey!
So I've been wanting to do this for quite some time now, but I'm not sure, if I should do it.

I want to refactor the app to follow the MVP (Model View Presenter) design pattern, in order to structure the app better, to enforce separation of concern better and especially to separate business logic from view logic.

It takes some time to wrap your head

[2017-03-18 12:23] kelson42 commented on #29
@rashiq I support this, but you mostly do have to agree with @mhutti1 and @EladKeyshawn. I also insist on the fact that this move should be done step-by-step and by implementing bug fixes/features. I want to avoid a many months long release blackout.

[2017-03-18 12:23] kelson42 commented on #29
_From @EladKeyshawn on January 1, 2017 17:39_

@kelson42 @rashiq  I agree as well, the code is really difficult to maintain as of now, there are many classes unnecessarily nested withing classes. This would be a great step.

[2017-03-18 12:23] kelson42 commented on #29
_From @rashiq on January 1, 2017 17:39_

great ❤️
I will do it in steps as @kelson42 suggested, to not block new features

[2017-03-18 12:23] kelson42 commented on #29
_From @mhutti1 on January 1, 2017 17:42_

@rashiq I also support this as the code does need to be cleaned up. Perhaps if you could start with an activity that is less complicated and considerably more compact i.e the Bookmark activity we could then see the application of this style in our project and it would certainly help me to get to grips with it.

[2017-03-18 12:23] kelson42 commented on #29
_From @rashiq on January 1, 2017 17:43_

That's a really good idea @mhutti1. I will do that!

[2017-03-18 12:24] kelson42 opened #30 "Give access to article in the history through Android Screen Search"
_From @kelson42 on December 31, 2016 12:30_

To improve Kiwix integration in the Android ecoystem we should provide a way to access/search in Kiwix content through Android Screen Search.

Open article (so which are in the history) should be also be available through the Android Screen Search. Probably using the Persional Content Indexing https://firebase.google.com/docs/app-indexing/android/person

[2017-03-18 12:25] kelson42 opened #31 "Android menu is unreadable on Huawei Mate S, 5.1."
_From @mhutti1 on December 31, 2016 11:5_

![a4114dcc-c938-11e6-9e75-b5d22cc502a4](https://cloud.githubusercontent.com/assets/2286937/21577172/0196170a-cf49-11e6-9a4b-a9b527f7386d.png)

_Copied from original issue: kiwix/kiwix#415_

[2017-03-18 12:25] kelson42 commented on #31
@mhutti1 @EladKeyshawn What is the status on this? Who exactly can reproduce the problem with on of its test device?

[2017-03-18 12:25] kelson42 commented on #31
_From @EladKeyshawn on February 5, 2017 11:15_

I still have it on my Huawei device

On Sun, Feb 5, 2017, 1:06 PM Kelson <notifications@github.com> wrote:

[2017-03-18 12:25] kelson42 commented on #31
@EladKeyshawn @mhutti1 What is the solution to fix that problem? Elad seems to be the only one able to reproduce the problem (I have tried hardly on BitBar to find a device with the same problem without success)

[2017-03-18 12:27] kelson42 opened #32 "Implement a automod system for the Android custom app version_name"
_From @kelson42 on December 30, 2016 20:22_

gen-custom-android-build.py is the script used to create custom apps, ie. apps which include a unique content (ZIM file) and are rebranded.

If version_name is empty, then script gen-custom-android-build.py should try to take it from the ZIM file content. It can do that because:
* Custom apps versions are the date of the content, for example 2016-12
* T

[2017-03-18 12:27] kelson42 commented on #32
@EladKeyshawn If you could look at this one this would be great also. We are almost over to allow "automatically" to create new custom apps.

[2017-03-18 12:28] mhutti1 opened #33 "Invalid bookmark creation on Android"
_From @kelson42 on April 9, 2016 19:56_

1 - Click many times on "random" and "bookmark" icons in the action bar (to create dozens of random bookmarks
2 - Open the bookmarks (long clikc on bookmark icon)
3 - Part of the bookmarks listed are listed as content://org.kiwix.zim.base/..... and trying to open these bookmark opens the welcome page of the current ZIM file

The problem probably happens if

[2017-03-18 12:28] mhutti1 commented on #33
_From @EladKeyshawn on April 9, 2016 19:58_

im still on the version before the long click to open bookmarks and i dont see any problem

[2017-03-18 12:28] mhutti1 commented on #33
_From @EladKeyshawn on April 9, 2016 20:19_

Now i see its on tablet. i got a 4.4.4 android tablet and crashes when trying to open any article not just random

[2017-03-18 12:28] mhutti1 commented on #33
_From @EladKeyshawn on May 7, 2016 21:28_

@mhutti1, @kelson42  Is this still relevant ? as i have tested it and could not reproduce the problem.

[2017-03-18 12:28] mhutti1 commented on #33
_From @kelson42 on May 12, 2016 16:12_

Pretty sure if that was not fixed by a better bookmarking approach. Try with and old/lowend/slow device.

[2017-03-18 12:28] mhutti1 commented on #33
_From @EladKeyshawn on May 12, 2016 16:28_

I have a pretty cheap tablet running 4.4.4 and still can't reproduce.

[2017-03-18 12:28] mhutti1 commented on #33
You need to do it **very quickly** and have the random button in your action bar to allow the quick clicking.

[2017-03-18 12:28] mhutti1 commented on #33
_From @kelson42 on July 24, 2016 14:27_

@EladKeyshawn Any way to make this button (bookmark) actionable only at the time the page is completly loaded?

[2017-03-18 12:28] mhutti1 commented on #33
_From @EladKeyshawn on July 25, 2016 20:43_

@kelson42 Yes i'll check that, even though i could no reproduce the problem in anyway

[2017-03-18 12:28] mhutti1 commented on #33
_From @kelson42 on August 28, 2016 16:9_

@EladKeyshawn Do a check to be sure you can get the HTML title (so wait the page is fully loaded) and it will fix the problem

[2017-03-18 12:28] mhutti1 commented on #33
This is a tricky bug to reproduce. I don't know if we can get a 100% way for someone to reproduce unless they have a slow android tablet. My emulator is far to fast.

[2017-03-18 12:28] mhutti1 commented on #33
_From @kelson42 on November 22, 2016 18:25_

@mhutti1 I can always reproduce it. At least easy for me.

[2017-03-18 12:28] mhutti1 commented on #33
@kelson42 Yeah but its the kind of bug that can't be solved without testing and as we can't come up with guaranteed reproduction steps it may not be suitable for GCI at this time.

[2017-03-18 12:28] kelson42 opened #34 "not durable when relocated to external drive"
_From @Thetoxicarcade on March 14, 2017 4:15_

I tried moving kiwix to a removable drive.

Kiwix essentially bricks itself when trying to list repos afterwards.

It's possible I'm just stupid, but if we could explain this process better, that would make working with an external (portable) kiwix installation dir a much better process.

Maybe the answer is better explanations, maybe the solution is

[2017-03-18 12:28] kelson42 commented on #34
@Thetoxicarcade That should work, can you please give us the step-by-step procedure to reproduce the problem? I suspect you use Linux? Can you explain what means exactly "bricks itself"?

[2017-03-18 12:28] kelson42 opened #35 "gen-custom-android-build.py should provide a solution to override info.json"
_From @kelson42 on December 30, 2016 20:17_

gen-custom-android-build.py is the script used to create custom apps, ie. apps which include a unique content (ZIM file) and are rebranded.

The custom apps properties are stored in a json file like custom/wikimedpt/info.json for example. We need a solution to be able to call gen-custom-android-build.py with a info json file and overrides json files pro

[2017-03-18 12:28] kelson42 commented on #35
_From @EladKeyshawn on December 31, 2016 1:7_

@kelson42 tell me if this what you required

[2017-03-18 12:28] kelson42 commented on #35
@EladKeyshawn Thx, works for me. Before closing this ticket, I think it would be even better to check the arguments (base on DEFAULT_JSDATA to detect early any typo). You probably need to change a little the way how it works with mandatory fields (they are commented out).

[2017-03-18 12:28] kelson42 commented on #35
_From @EladKeyshawn on December 31, 2016 9:24_

@kelson42 yeah I look a bit further into it;)

On Sat, Dec 31, 2016, 10:50 AM Kelson <notifications@github.com> wrote:

[2017-03-18 12:28] kelson42 commented on #35
_From @EladKeyshawn on January 1, 2017 10:21_

@LFT09KA ?

[2017-03-18 12:28] kelson42 commented on #35
_From @mhutti1 on January 1, 2017 19:51_

@EladKeyshawn Hes a spammer.

[2017-03-18 12:28] kelson42 commented on #35
_From @tim-moody on January 19, 2017 13:52_

could we also have the zim directory as a separate optional parameter to which zim_file would be relative.

[2017-03-18 12:28] kelson42 commented on #35
@tim-moody I would open a new ticket asking to put absolute path in the "zim_file" field

[2017-03-18 12:28] kelson42 commented on #35
@EladKeyshawn Could you got ahead/finish that ticket? You have almost done most of the work.

[2017-03-18 12:28] kelson42 commented on #35
_From @EladKeyshawn on February 5, 2017 8:41_

@kelson42 Remind me what addition do I need to do?

[2017-03-18 12:28] kelson42 commented on #35
https://github.com/kiwix/kiwix/issues/409#issuecomment-269856148

[2017-03-18 12:28] kelson42 commented on #35
_From @tim-moody on February 5, 2017 14:35_

putting an absolute path for the zim and image files in the json file already worked, at least the last time I ran it.  but I am asking for the opposite, having a separate path parameter so the json files don't all have to be changed if I move the zims.

[2017-03-18 12:29] kelson42 commented on #35
@tim-moody I do not really understand how this would be easier to what we already have. But you can implement yourself, and I would merge it if that really helps you. I think in particular that you should use #387 new feature.

[2017-03-18 12:29] kelson42 opened #36 "Allow custom app version_code to be unspecified and to instead query Google Play and increment"
_From @mhutti1 on December 30, 2016 20:12_

If the version code is unspecified (not available or empty string) in a custom apps json we should query Google play and increment the version code from the latest version that is published (including alpha/beta).

_Copied from original issue: kiwix/kiwix#408_

[2017-03-18 12:29] kelson42 commented on #36
This is one of the few mandatory things to do to allow to build an auto-update system for custom apps. Important ticket.

[2017-03-18 12:29] mhutti1 opened #37 "Remove custom LayoutInflatorFactory for custom fonts"
_From @rashiq on June 8, 2016 11:30_

Kiwix uses custom fonts to render unsupported Languages (see LanguageUtils.java).
But the custom language-changer solution is now a bit outdated. Replace the font changing with the library [Calligraphy](https://github.com/chrisjenx/Calligraphy).

_Copied from original issue: kiwix/kiwix#56_

[2017-03-18 12:30] kelson42 opened #38 "Improve Google Play update script to allow updates without content change"
_From @mhutti1 on December 30, 2016 18:9_

upload-apk.py should be updated to allow for uploading APKs with an existing expansion. For now this operation can only be achieved using the Google Play Admin Web UI.

_Copied from original issue: kiwix/kiwix#407_

[2017-03-18 12:30] kelson42 commented on #38
_From @mhutti1 on December 30, 2016 18:9_

@kelson42 as this requires an API key to test its not really suitable for GCI.

[2017-03-18 12:30] kelson42 commented on #38
@mhutti1 AFAIK update-play-store.py is only there to update the play store meta data, not to upload APK. So it is not clear to me which problem this ticket should solve.

[2017-03-18 12:30] kelson42 commented on #38
_From @mhutti1 on December 31, 2016 11:1_

@kelson42 my mistake I meant upload-apk.py

[2017-03-18 12:30] kelson42 commented on #38
@mhutti1 You mean, you meant update-play-store.py?

[2017-03-18 12:30] mhutti1 opened #39 "[Bug] Android TTS does not work for Dutch [sf#821]"
_From @rashiq on June 8, 2016 13:6_

**Reported by kelson42 on 2015-01-24 08:51 UTC**
TTS does not work for Dutch Wikipedia ZIM file. After investigating the code it seems that the TTS class simply does not access Locale( 'nl' ) although the Free Google voice claims the support of it.

_Copied from original issue: kiwix/kiwix#185_

[2017-03-18 12:30] mhutti1 commented on #39
_From @rashiq on June 8, 2016 13:15_

**Updated by kelson42 on 2015-02-23 10:26 UTC**
- **summary**: Android TTS does not work for russian --> Android TTS does not work for Dutch
- Description has changed:

Diff:

[code]

[2017-03-18 12:30] mhutti1 commented on #39
_From @kelson42 on August 28, 2016 14:8_

I re-open that bug... Reason to close it is not clear to me.

[2017-03-18 12:31] kelson42 opened #40 "Allow updates to storage locations without app update"
_From @mhutti1 on December 16, 2016 23:36_

Allow the app to get an updated list of locations from the internet to ensure we can quickly fix devices that users can't access.

_Copied from original issue: kiwix/kiwix#393_

[2017-03-18 12:31] mhutti1 opened #41 "Suggest similarly spelled search results"
_From @rashiq on June 8, 2016 13:6_

**Reported by rauldelacalle on 2015-03-09 01:16 UTC**
SPANISH;

Buen día.

Descargue la aplicacion Kiwix para android y la instalé. Descargué el Wikcionario en español, lo descomprimí y lo cargue en la memoria externa del telefono inteligente. Desde la aplicación leo el archivo y todo está bien.

Pero cuando escribo una palabra de manera equivocada el Wikcionar

[2017-03-18 12:31] mhutti1 commented on #41
_From @rashiq on June 8, 2016 13:14_

**Updated by kelson42 on 2015-06-23 04:55 UTC**
- **labels**:  --> android
- **Group**: v1.0 --> None

[2017-03-18 12:31] mhutti1 commented on #41
This appears to be a search limitation. @kelson42 what is the desktop version do, that the app doesn't that makes search more intelligent?

[2017-03-18 12:31] mhutti1 commented on #41
_From @Frenzie on March 2, 2017 14:32_

For search query results it would be nice to make them ignore case, diacritics, and possibly punctuation (except that the matches closest to what you typed should come higher in the results list). Especially on a phone it's much easier to type `deja vu` or `deja-vu` than `déjà-vu`. Basically like Aard Dictionary.

[2017-03-18 12:31] kelson42 opened #42 "Update Gradle version and compilation scripts"
_From @mhutti1 on December 16, 2016 23:30_

_Copied from original issue: kiwix/kiwix#392_

[2017-03-18 12:31] kelson42 commented on #42
Next week the kiwix-lib repo should be ready and I will create a branch to start to build against it (instead of ../src/dependences). If it works, we could then move the Android code to the kiwix-android dedicated git repo.

@mhutti Do you have other concerns/topic regarding the compilation?

[2017-03-18 12:31] kelson42 commented on #42
_From @mhutti1 on December 17, 2016 12:1_

@kelson42 No that should be good. I should be able to help make sure things are working right.

[2017-03-18 12:32] kelson42 opened #43 "Add i18n check to Kiwix Android's compilation script"
_From @kelson42 on December 11, 2016 12:55_

Your task is to implement a check to detect string literals in Kiwix app source code and - using this new feature - move the few detected string literals still in the code to the string resource file.

Steps to reproduce:

- Compile Kiwix for Android

What you get:

- Compilation run fine - even if string literals (hard coded strings not in our strings.

[2017-03-18 12:32] mhutti1 opened #44 "[Bug] On Android, video fullscreen is not possible [sf#884]"
_From @rashiq on June 8, 2016 13:7_

**Reported by kelson42 on 2015-06-04 09:35 UTC**
Steps to reproduce:
- Download a TED ZIM file
- Start to play a video
- Click on the fullscreen buton

Nothing happens, this seems to be related to a security limitation of Android, but there is a workaround in javascript which should be implemented.

Using [this](https://github.com/cprcrack/VideoEnabledWebView)

[2017-03-18 12:32] mhutti1 commented on #44
_From @kelson42 on December 3, 2016 16:58_

@mhutti1 Do you have an opinion about this? How much work would be necessary?

[2017-03-18 12:32] mhutti1 commented on #44
@kelson42 I will look into it but don't know at the moment.

[2017-03-18 12:32] mhutti1 opened #45 "[Bug] On Android, unable to play TED sub titles [sf#885]"
_From @rashiq on June 8, 2016 13:7_

**Reported by kelson42 on 2015-06-04 09:36 UTC**
With the TED ZIM files, on Android, it's impossible to see/load the subtitle.

_Copied from original issue: kiwix/kiwix#207_

[2017-03-18 12:32] kelson42 opened #46 "Add Android 7.1.1 Circular icons"
_From @mhutti1 on December 6, 2016 23:4_

We should implement circular icons for the main app and for the custom apps. I am not entirely sure how best to do this for custom apps @kelson42 do you have any ideas.

https://developer.android.com/about/versions/nougat/android-7.1.html?utm_campaign=android_launch_androidnougat_120516&utm_source=anddev&utm_medium=blog#circular-icons

_Copied from origina

[2017-03-18 12:32] kelson42 commented on #46
@mhutti1 Sounds relatively trivial!? For custom apps, each app round icon should indeed be created. They are all in their respective directories in the "custom" directory. Not sure how they are put in the "res", but that should be easy.

[2017-03-18 12:32] kelson42 commented on #46
_From @mhutti1 on December 7, 2016 11:50_

@kelson42 Currently we do this by python script calling a linux command. I don't know how it would work for a circle as it would require cropping in a weird way.

[2017-03-18 12:32] kelson42 commented on #46
_From @EladKeyshawn on December 7, 2016 11:56_

@mhutti1 I think it could be done by an online service of which we can upload the icon with specific parameters and get the result. I'll look into it later.

[2017-03-18 12:32] kelson42 commented on #46
@mhutti1 @EladKeyshawn Could someone of you do it for Kiwix, I would then do the necessary for custom apps (maybe create a new feature request if necessary).

[2017-03-18 12:32] kelson42 commented on #46
_From @mhutti1 on December 31, 2016 17:23_

@kelson42 I have added the assets for the Kiwix icon (not the code yet). The custom apps need just one icon with I think the highest resolution and then we can get the python script to create the different resolutions at build as we do at the moment.

[2017-03-18 12:33] kelson42 opened #47 "Custom apps should be moveable to the external SD card"
_From @kelson42 on November 29, 2016 11:33_

Kiwix releases pretty big custom apps (~1GB). Google plays allows only to downlaod the app on the main memory. Android allows only to move the app (and not any companion files) to the external SD card.

This is a problem because most of the people do not have a lot of free space on the main storage or do not want to keep it there.

The solution is not c

[2017-03-18 12:33] kelson42 commented on #47
_From @mhutti1 on November 30, 2016 0:18_

@kelson42 Well I guess its theoretically possible. We have write access to the .obb so we should just be able to provide an interface to copy it to another storage directory. Might be fiddly to implement correctly though and Google play likely wouldn't like it so might require a very hacky solution.

[2017-03-18 12:33] kelson42 commented on #47
* APK: Android itself has a tool to "migrate" an app to the ext SD card (at least on my Samsung device) and I believe to remember that many apps provide this kind of feature. So maybe the primitive is available in the Android SDK and we can use it to let Kiwix migrate itself.
* OBB: Might be interesting to have a proof of concept (moving obb somewhere, and see how Android behave - update, uninstal

[2017-03-18 12:33] kelson42 commented on #47
Duplicate of #8

[2017-03-18 12:33] kelson42 commented on #47
_From @mhutti1 on December 1, 2016 21:44_

@kelson42 I don't think we can achieve number one based on the nature of android. Number 2 sounds feasible however and might be suitable as a GCI task to create a proof of concept / fail and produce well written documentation on why it is not feasible.

[2017-03-18 12:33] kelson42 commented on #47
@mhutti1 (1) OK, how work apps allowing to move apps to the SD card? Or does the problem is that the app can not move itself? (2) Sounds good.

[2017-03-18 12:33] mhutti1 opened #48 "[Bug] "Unterminated quoted string" error during compilation [sf#886]"
_From @rashiq on June 8, 2016 13:7_

**Reported by nicolas_raoul on 2015-06-05 07:25 UTC**
Seen during compilation (it does not seem to prevent compilation though):

[code]

_Copied from original issue: kiwix/kiwix#208_

[2017-03-18 12:33] mhutti1 commented on #48
_From @rashiq on June 8, 2016 13:12_

**Commented by nicolas_raoul on 2015-06-05 07:37 UTC**
The same error actually appears several times:

[code]

Ubuntu 2014.04 LTS bash 4.3.11

[2017-03-18 12:33] mhutti1 commented on #48
_From @rashiq on June 8, 2016 13:12_

**Commented by kelson42 on 2015-06-05 11:10 UTC**
What is your exact command (to get this errors)?

[2017-03-18 12:33] mhutti1 commented on #48
_From @rashiq on June 8, 2016 13:12_

**Commented by nicolas_raoul on 2015-06-19 05:50 UTC**
kiwix/android$ ./gen-custom-android-build.py customapp-json/wikivoyageen.json

[code]

[2017-03-18 12:33] kelson42 opened #49 "Search box should be align on the right if UI uses a RTL language"
_From @kelson42 on November 26, 2016 15:13_

Currently it's alway aligned on the left.

_Copied from original issue: kiwix/kiwix#370_

[2017-03-18 12:33] kelson42 commented on #49
_From @mhutti1 on November 26, 2016 15:29_

@kelson42 Do you mean that the text should be typed right to left when searching?

[2017-03-18 12:33] kelson42 commented on #49
@mhutti1 the box itself should be on the right. But yes of course the text should be typed from right to the left (but this is maybe already the case).

[2017-03-18 12:33] kelson42 commented on #49
_From @mhutti1 on November 26, 2016 15:33_

@kelson42 For me the box is on the right I think? Are you talking about content search, online search or file search?

[2017-03-18 12:33] kelson42 commented on #49
![screenshot](https://cloud.githubusercontent.com/assets/1029718/20641437/f1378658-b3f7-11e6-8966-d30822019392.png)

[2017-03-18 12:33] kelson42 commented on #49
_From @mhutti1 on November 26, 2016 15:50_

![screenshot](https://lh3.googleusercontent.com/5DipVgDfmK8x8qSHHs_8zVOSD5LvdWw4DUpfHCyJDmh2L3GGChl-gyK_IzVe0rhwKCRyXvwmgie-=w557-h990-no)

[2017-03-18 12:33] kelson42 commented on #49
_From @mhutti1 on November 26, 2016 15:51_

It seems that long search bar can have the wrong text. But even short search bar when you type is the wrong way round.

[2017-03-18 12:33] kelson42 commented on #49
_From @EladKeyshawn on November 26, 2016 15:59_

@mhutti1 On portrait the search box is aligned correctly, the problem is the box itself is not fully fit to the actionbar (it's at the middle).

[2017-03-18 12:33] kelson42 commented on #49
@EladKeyshawn yes, this is an other bug... and @mhutti1 also discovered that (with last wikimed ar) makeing landscape-portrait-landscape puts the whole set of buttons on the wrong side (right), it should be left like at the beginning.... Seems we have a little bit work to do around this ;)

[2017-03-18 12:33] kelson42 commented on #49
_From @mhutti1 on November 26, 2016 16:2_

http://www.phonearena.com/news/How-to-force-right-to-left-RTL-layouts-on-Android_id64154

This allows you to test in english.

[2017-03-18 12:33] kelson42 commented on #49
_From @mhutti1 on November 26, 2016 16:4_

@kelson42 We could potential make a few GCI tasks out of this each to fix a part of the RTL layout. Now we can reproduce easily enough it should be in a students capability,

[2017-03-18 12:33] kelson42 commented on #49
_From @EladKeyshawn on November 26, 2016 16:4_

@kelson42 I have not encountered this yet ;)

[2017-03-18 12:33] kelson42 commented on #49
@mhutti1 Yes, split as much as you think this is necessary. Makes perfectly sense to me.

[2017-03-18 12:33] kelson42 commented on #49
_From @EladKeyshawn on November 26, 2016 16:7_

@mhutti1 So you mean once the device is RTL and searching in LTR then I confirm its unaligned

[2017-03-18 12:33] kelson42 commented on #49
_From @mhutti1 on November 26, 2016 16:10_

@EladKeyshawn I can see 3 bugs at the moment.

1. Search is LTR 100% of the time once you start typing.
2. If the search bar is large enough it can show LTR initially.
3. If you switch orientation twice then you are reset to LTR.

[2017-03-18 12:33] kelson42 commented on #49
_From @EladKeyshawn on November 26, 2016 16:16_

@mhutti1  For me when I set my device to Hebrew you can see when I type english it uses RTL.
![screenshot 06-13 26 2016](https://cloud.githubusercontent.com/assets/17123769/20641621/741c018c-b404-11e6-9ca6-f50b78f13290.png)

[2017-03-18 12:33] kelson42 commented on #49
_From @mhutti1 on November 26, 2016 16:28_

@EladKeyshawn This doesn't happen for me. What device/os?

[2017-03-18 12:33] kelson42 commented on #49
_From @EladKeyshawn on November 26, 2016 16:40_

@mhutti1 5.1 huawei mate s, but I checked on other apps like messanger and others and the behaviour is similar. So I dont think this is worth fixing.

[2017-03-18 12:34] mhutti1 opened #50 "[Bug] On Android, pages with "%" character can not be loaded [sf#900]"
_From @rashiq on June 8, 2016 13:7_

**Reported by kelson42 on 2015-07-22 20:13 UTC**
Pages where the title has a % don't load. Try eg, "100% Chance of Rain" or "1%CLUB".
http://download.kiwix.org/zim/wikipedia/wikipedia_en_all_2015-05.zim

_Copied from original issue: kiwix/kiwix#212_

[2017-03-18 12:34] mhutti1 commented on #50
_From @jan-wassenberg on June 8, 2016 14:45_

Possibly related: #222 (cannot search for pages with %)

[2017-03-18 12:34] mhutti1 commented on #50
@kelson42 I created a zim with 1%CLUB only with zimbalaka and I can't open on desktop either. I can't download full wikipedia on my device to test it with that though so it could be a zimbalaka issue.

[2017-03-18 12:34] mhutti1 commented on #50
_From @kelson42 on August 30, 2016 18:37_

@mhutti1 not sure, but might be a problem in the ZIM file in that case. Will try to confirm the problem with a smaller ZIM file than wikipedia_en_all

[2017-03-18 12:34] mhutti1 commented on #50
_From @kelson42 on August 30, 2016 19:55_

I have retested again with wikipedia/wikipedia_fr_all_nopic_2016-06.zim and I confirm the problem, I'am not able to open the article "101%"

[2017-03-18 12:34] mhutti1 commented on #50
@kelson42 In this case can we assume this is not an issue with android but Kiwix itself?

[2017-03-18 12:34] mhutti1 commented on #50
_From @kelson42 on August 30, 2016 20:0_

@mhutti, pretty sure. The "%" is used as meta-character in URLs, this is a URL encoding issue.

[2017-03-18 12:34] mhutti1 commented on #50
Pretty positive this is a problem with the C++ as it doesn't seem to work on desktop either.

[2017-03-18 12:34] mhutti1 commented on #50
_From @kelson42 on September 9, 2016 5:12_

@mhutti1 Will have a looks this WE

[2017-03-18 12:35] kelson42 opened #51 "Research and implement some instrumentation tests to improve Android stability"
_From @mhutti1 on November 21, 2016 12:18_

Research different instrumentation test suites and experiment with them before coming to a consensus about which one to move forward with.

_Copied from original issue: kiwix/kiwix#365_

[2017-03-18 12:35] mhutti1 opened #52 "Kiwix for Android should integrate a feedback system"
_From @kelson42 on June 22, 2016 12:27_

Speaking with the Wikimed community, it's popup that this Wikipedia community would love to get feedback from the field about articles.

To do so it would be greate to have in the wikimed app:
- An option activating a feedback box
- This feedback box would allow to put a text (maybe a picture) to each article (at the end).
- The feedback would be saved loca

[2017-03-18 12:35] mhutti1 commented on #52
_From @kelson42 on June 22, 2016 14:27_

Re-using the code of the Mediawiki feedback extension might be a good idea:
https://www.mediawiki.org/wiki/Article_feedback

[2017-03-18 12:35] mhutti1 commented on #52
_From @kelson42 on September 11, 2016 8:42_

@zaeemsiddiq Any news on this? We are almost ready to release kiwix 2.0 (next week) for android and just after it would be a good timing to integrate your work. Are you ready?

[2017-03-18 12:35] mhutti1 commented on #52
_From @zaeemsiddiq on September 13, 2016 14:42_

@kelson42 Hopefully i will be able to finish it by the end of this month. Was busy with other assignment projects

[2017-03-18 12:36] mhutti1 opened #53 "google play market app name and description can not be translated"
_From @danny2008 on June 25, 2016 8:57_

google play market app name and description can not be translated.

My android phone is in hebrew. when I look at the kiwix app page in the play market I see
that the app description is machine translated. Instead, it should be possible to translate the app name,     short description and the full description on translatewiki.net

_Copied from original issu

[2017-03-18 12:36] mhutti1 commented on #53
_From @kelson42 on August 28, 2016 16:11_

Yes, agree, we have no sync for now for the Play store description page. This should be implemented.

[2017-03-18 12:36] kelson42 opened #54 "Add Multizim search to android"
_From @mhutti1 on November 21, 2016 12:5_

We should implement multizim search as in the IOS app into the android app.

The ZIM files that are searchable should be a user selected subset of the available ZIM files.

Memory implications might need to be looked into if we use the JNI to open multiple files at once. I am not too sure at the moment.

_Copied from original issue: kiwix/kiwix#364_

[2017-03-18 12:36] kelson42 commented on #54
_From @mhutti1 on November 24, 2016 23:41_

I have actually got much further much faster than I thought I could. Although still a prototype I have successfully implemented multizim search with only a few issues.

https://github.com/kiwix/kiwix/tree/android_multizim_search

At the moment I can see 3 potential issues.

First, memory:

- [ ] Work out memory implications of storing multiple zim reader

[2017-03-18 12:36] kelson42 commented on #54
1 - This should be first optional IMO
2 - On iOS, the user can choose which ZIM file to include in the search (which allow to make it quicker if the whole stuff is too slow).

I'll have a look in detail to your code.

[2017-03-18 12:36] mhutti1 opened #55 "Allow bookmarks to be sorted into folders"
_From @mhutti1 on August 25, 2016 14:19_

It should be possible to create folders to easily sort bookmarks.

_Copied from original issue: kiwix/kiwix#295_

[2017-03-18 12:36] mhutti1 commented on #55
_From @EladKeyshawn on August 25, 2016 20:15_

:+1:  nice suggestion

[2017-03-18 12:36] mhutti1 commented on #55
Was not my idea :P One of our users suggested it on google play. Now we can make this dream a reality for him/her.

[2017-03-18 12:36] mhutti1 commented on #55
_From @kelson42 on August 31, 2016 18:47_

Was also reported here https://sourceforge.net/p/kiwix/feature-requests/889/

[2017-03-18 12:36] mhutti1 commented on #55
I think this would be suitable for GCI if we split it into 2 sub-tasks of:
1. Create the UI with a placeholder array of folder names.
2. Update the database to allow persistence.

[2017-03-18 12:36] mhutti1 commented on #55
_From @kelson42 on November 13, 2016 13:40_

@mhutti1 OK for me if you have a pretty clear idea how this feature should really looks like. On my side I do not know how to provide all of this (add/move/delete folder/booksmarks) with a simple UI.

[2017-03-18 12:37] mhutti1 opened #56 "Reduce mass-storage consumption with Android custom apps with embedded ZIM"
_From @kelson42 on August 28, 2016 13:33_

We have a working system to build custom apps with embedded ZIM files (see #6). The only way to have it working correctly is to use the "assets". The problem with that solution is that you can not access it directly because you do not have a filehandle. As a consequence:
- It use twice more storage memory (one time in assets, on time copied somewhere on t

[2017-03-18 12:37] mhutti1 commented on #56
_From @kelson42 on October 15, 2016 10:55_

Have talked to a Google developer and it seems to be a "standard" way of doing... even if not well enought documented. That said, this method will add an overhead (zip decompressions)... that said this might be not much worse (in term of app perfomance).

[2017-03-18 12:37] kelson42 commented on #54
@mgautierfr is currently working to have a nice multizim support in the zimlib. Then the work could start on UI side.

[2017-03-18 12:38] mhutti1 opened #57 "Provide Android content update notification"
_From @kelson42 on September 5, 2016 17:52_

I have implemented last WE the support of the ZIM metadata "name". The name being a string which is table over ZIM revisions.

This should allow to display a notification to the user if the a content has been updated. I could so in one click download an updated version of the content.

For now, I do not have published officially ZIM files with this meta

[2017-03-18 12:38] mhutti1 commented on #57
_From @kelson42 on September 11, 2016 8:37_

The first ZIM files with this new tags have been created and in library.xml.

[2017-03-18 12:38] mhutti1 commented on #57
@kelson42 So one way of finding this out is to download the 6mb file every time we want to check. That isn't very efficient though. It might be a good idea to create a serverside script that we can query to tell us if there is an update. e.g kiwix.org/testscript?zim_name=name&current_version=2016-10 giving either false or the url of the download.

[2017-03-18 12:38] mhutti1 commented on #57
_From @kelson42 on January 22, 2017 15:46_

@mhutti1 Indeed, we need to have a new version of the library. But I would not force anyway the download of it because of this. Ideally if would be a hook dealing with this (showing the notification) each time the library is updated. On the longer term (6 months), the OPDS implementation will allow to deal with this more elegantly (in a similar way like

[2017-03-18 12:38] mhutti1 commented on #57
@kelson42 Well i'm to expert but a small piece of server side code (e.g php) running on a server somewhere would cache the library every day and parse it to find the version code and url of the ZIM files in it. Then our app would (at most once a day) when it starts send a request to the server in JSON telling it the versions and names of any ZIM files on the device. The server would then check thi

[2017-03-18 12:38] mhutti1 commented on #57
_From @kelson42 on January 22, 2017 16:10_

@mhutti1 Ok, so lets pospone this to the time OPDS will be implemented.

[2017-03-18 12:38] mhutti1 commented on #57
_From @tbertels on January 30, 2017 10:41_

To lower the server usage, static files could be used instead.
They would be created each time a zim is updated and they would contain the last version of their respective zim file.
Since that doesn't require to run a server script for each request, it lowers the server load and makes the requests much faster, especially with a lot of concurrent requests

[2017-03-18 12:38] mhutti1 commented on #57
@tbertels This would still require either manual curation or a serverside script to create these static files though.

[2017-03-18 12:38] mhutti1 commented on #57
_From @tbertels on January 30, 2017 16:12_

Yes, a script that could be run at the end of each zim creation or once everyday.

[2017-03-18 12:38] kelson42 opened #58 "Add auto Day Night switch"
_From @mhutti1 on October 29, 2016 19:56_

Automatically change from light to dark mode possibly utilising android's Day/Night theme. This should be an an additional option along with permanent night and permanent day.

_Copied from original issue: kiwix/kiwix#354_

[2017-03-18 12:38] kelson42 commented on #58
_From @EladKeyshawn on October 30, 2016 12:27_

@mhutti1 I tried messing around with creating a custom theme for night-mode but there are specific elements that look horrible/hidden like the close(X) button in tabs which should be white now. You say there is built in function which takes care of all of that?

[2017-03-18 12:38] kelson42 commented on #58
_From @mhutti1 on October 30, 2016 12:38_

@EladKeyshawn I think to fix it we would need to change the colour to a predefined one in the style so that it auto updates if you get what I mean.

[2017-03-18 12:38] kelson42 opened #59 "Allow persistent highlighting of text"
_From @mhutti1 on October 24, 2016 8:27_

Allow the user to highlight important text to refer back to.

_Copied from original issue: kiwix/kiwix#351_

[2017-03-18 12:38] kelson42 commented on #59
@mhutti1 I saw a feedback about this feature... but I still do not get it. It's already possible to select/highlight text, so what is this feature request exactly about?

[2017-03-18 12:38] kelson42 commented on #59
_From @mhutti1 on October 24, 2016 11:15_

@kelson42 It means highlight in the form of annotations for future reference. ie yellow highlighter pen. Its not high priority and might be tricky to implement but it would be a good feature.

[2017-03-18 12:38] kelson42 commented on #59
@mhutti1 ok, I call this "annotating"

[2017-03-18 12:38] mhutti1 opened #60 "[PLAY STORE] Custom app/Wikimed fails to install on low-end devices"
_From @kelson42 on September 11, 2016 9:8_

A few people report that they are not able to install the Wikimed app (in English). The installation crashs at 99%. At a first I thought this is a problem with the internet connection, but it seems that we face here an other problem. I suspect Google Play to compress the companion files and then to crash during the decompression of this file at the insta

[2017-03-18 12:38] mhutti1 commented on #60
_From @julianharty on September 11, 2016 20:47_

I've got some low-end devices and can test the theory locally. I'm
interested in learning more about the download process that's integrated
into Google's system for extension files anyway. I thought there was a
2-file limit for extension files anyway, so if we were to chop the file
into several smaller ones we're likely to break the Google guideline

[2017-03-18 12:38] mhutti1 commented on #60
_From @kelson42 on October 15, 2016 10:53_

@julianharty any test results about this?

[2017-03-18 12:39] mhutti1 opened #61 "FDroid version update"
_From @homlett on September 15, 2016 16:52_

Kiwix for Android sounds great, but it should to be updated.

_Copied from original issue: kiwix/kiwix#312_

[2017-03-18 12:39] mhutti1 commented on #61
_From @kelson42 on September 15, 2016 18:47_

@homlett Why not asking the FDroid team?

[2017-03-18 12:39] mhutti1 commented on #61
@kelson42 I think he is asking why fdroid version is 1.97 but google play version is 1.99

[2017-03-18 12:39] mhutti1 commented on #61
_From @kelson42 on September 15, 2016 18:51_

@mhutti1 I don't know. The question should be asked to the FDroid team. I have tried to ping them a little bit without success. Now, the best is to release 2.0 and then ask again I think.

[2017-03-18 12:39] mhutti1 commented on #61
@kelson42 Ok I might look into it a bit after 2.0 release.

[2017-03-18 12:39] mhutti1 commented on #61
_From @kelson42 on December 4, 2016 20:26_

The problem is that they have a strange Python problem. They told me they will retry but no news. I have asked again today someone of the Fdroid team.

[2017-03-18 12:39] mhutti1 commented on #61
_From @kelson42 on February 13, 2017 18:56_

@rashiq Could you please have a special look to this ticket as you know personnaly mvdan and are familliar with both Android an Python?

[2017-03-18 12:39] mhutti1 commented on #61
_From @rashiq on February 13, 2017 18:57_

@kelson42 will do! I only noticed a few days ago that the kiwix version on fdroid is very outdated

[2017-03-18 12:39] mhutti1 commented on #61
_From @kelson42 on February 13, 2017 18:59_

@rashiq Thx very much. Yes, because (what looks like to be) a silly Python bug/problem, FDroid is behind our release mgmt of more than 6 months.

[2017-03-18 12:39] mhutti1 commented on #61
_From @mvdan on March 4, 2017 21:18_

@rashiq did indeed stalk me in real life, so I'm having a look at the moment.

To provide some context, Kiwix is one of the more complex builds on the main repo so it makes sense that it would easily fall behind unless someone actively works on updates.

[2017-03-18 12:39] mhutti1 commented on #61
_From @mvdan on March 4, 2017 22:12_

This took a while, but got a build working. Pushed https://gitlab.com/fdroid/fdroiddata/commit/6e10f23954ed608ccf6a1cbad5741886dfdaa21b.

[2017-03-18 12:39] mhutti1 commented on #61
_From @rashiq on March 4, 2017 22:24_

Thanks again @mvdan :)

[2017-03-18 12:39] mhutti1 commented on #61
_From @kelson42 on March 5, 2017 10:40_

@mvdan @rashiq Thank you very much for the good work. @mgautierfr is currently working to revamp compilation scripts for the whole project (Android included). Things should be over next week for Android. It should make the maintenance work on FDroid side easier. I least we hope so... let see for the next releases :)

[2017-03-18 12:39] mhutti1 commented on #61
_From @mvdan on March 12, 2017 19:42_

This is really weird - the build worked locally, but we're hitting the same utf8 error on the buildserver: https://f-droid.org/wiki/page/org.kiwix.kiwixmobile/lastbuild_45

I've filed a very probable fix for this in our python codebase: https://gitlab.com/fdroid/fdroidserver/merge_requests/224

When I first encountered this crash, I think my understanding of

[2017-03-18 12:39] mhutti1 commented on #61
_From @mvdan on March 15, 2017 12:33_

There happens to be a huge backlog of apps with failing builds, so this is taking longer than usual. Still waiting on a build with the updated python code.

[2017-03-18 12:39] mhutti1 commented on #61
_From @mvdan on March 16, 2017 11:19_

Finally succeeded: https://f-droid.org/wiki/page/org.kiwix.kiwixmobile/lastbuild_45

The index update will happen in a few hours - then it will be visible on https://f-droid.org/app/org.kiwix.kiwixmobile

[2017-03-18 12:39] mhutti1 commented on #61
_From @rashiq on March 16, 2017 14:49_

Awesome! Thanks :)

Daniel Martí <notifications@github.com> schrieb am Do., 16. März 2017,
12:19:

[2017-03-18 12:39] mhutti1 commented on #61
_From @kelson42 on March 18, 2017 10:56_

@mvdan I just saw this morning that Kiwix has been updated on my Fdroid! Yohoo! Then I remarked... that this is not the last version: this is version 2.1 and we have released 2.2 a few weeks ago. Not sure the reason why, maybe because we did not had tagged the git for Kiwix git repo correctly. Anyway, I have done this now https://github.com/kiwix/kiwix/rel

[2017-03-18 12:39] mhutti1 opened #62 "Android apps should catch & handle JNI crashes as exception"
_From @kelson42 on September 26, 2016 10:57_

To avoid any wild crashes of the apps. Here is a how to:
http://blog.httrack.com/blog/2013/08/23/catching-posix-signals-on-android/

_Copied from original issue: kiwix/kiwix#330_

[2017-03-18 12:39] mhutti1 opened #2888 "Android apps should catch & handle JNI crashes as exception"

[2017-03-18 12:40] kelson42 opened #63 "Android OSX SDK missing from download.kiwix.org/dev"
_From @julianharty on October 2, 2016 23:37_

I'm resurrecting my build environment on OSX (Yosemite 10.10). `make android-deps` fails as one of the downloads - the Android SDK - is missing from the download server (I've checked).

I'll see if I can download the android sdk separately for now. Could you also make it available on the download server please?

`wget --wait=10 --timeout=600 --retry-co

[2017-03-18 12:40] kelson42 commented on #63
@julianharty
Yes, nobody in the dev team uses OSX, so we can not maintain it for now. The instructions to build it are here https://github.com/kiwix/kiwix/blob/master/src/dependencies/Makefile.am#L65. If you build the OSX tarball please share it somewhere so we can upload it on download.kiwix.org/dev/.

That said, this is really better/easier to simply install Ubuntu.

Let me know about the result

[2017-03-18 12:41] mhutti1 opened #64 "Custom apps should validate their expansion files and re-download if corrupt/missing"
_From @mhutti1 on September 27, 2016 11:43_

https://developer.android.com/google/play/expansion-files.html#Downloading

This article suggests that we should implement Googles download library and create a simple UI to inform the user of our progress.

_Copied from original issue: kiwix/kiwix#331_

[2017-03-18 12:41] mhutti1 commented on #64
_From @kelson42 on December 11, 2016 15:59_

@mhutti1 I support the idea. Can we go ahead on this?

[2017-03-18 12:41] mhutti1 commented on #64
So this either requires us implementing https://developer.android.com/google/play/licensing/index.html or using our own download method. We will need to work out which is the best option.

[2017-03-18 12:42] mvdan commented on #61
@kelson42 yeah, I didn't see 2.2 because there just wasn't a git tag.

Should we build from this new repo or from the regular one, then? I assume 2.2 still uses the same build system, still?

[2017-03-18 12:46] kelson42 commented on #61
@mvdan The build with the new repo (kiwix-android) is slightly different. I guess we will have a look together to this at some point, but later (and in an other ticket). 2.2 is available on the "legacy" repo like before, so you should just have to change the revision/tag to checkout and it should work (at least I hope so).

[2017-03-18 12:48] mvdan commented on #61
Cool, I'll add the build then. This issue can be closed - just nag me here or on IRC if it doesn't show up in a day or two.

[2017-03-18 12:50] kelson42 commented on #61
@mvdan OK, thx a lot a again for your help on this!

[2017-03-18 14:34] kelson42 commented on #48
The compilation script in Python has been rewritten by @mgautierfr, so I suppose this bug has just vanished by doing so. This should be checked.

[2017-03-18 14:45] mhutti1 commented on #48
build-android-with-native.py has been rewritten but I think this relates to gen-custom-android-build.py, which has yet to be improved.

[2017-03-19 02:04] Thetoxicarcade commented on #34
Why did we move it here??

[2017-03-19 08:29] kelson42 commented on #34
Indeed, this is not an Android issue.

[2017-03-19 08:29] #34 closed

[2017-03-20 07:27] khanhhung2512 opened #1320 "Poor search feature on Android + Index files too large for Fat32"
I just performed a search on Kiwix for Android, Wikipedia database, non-indexed with keyword "eMMC" and it yielded no result. I had to search for "Multimedia Card" instead. However, on Windows, the search for "eMMC" yielded the right result, even though the database isn't indexed.

Also, even though the zim files are divided so that I can copy them to Fat32 drives/SD cards, the index files aren't.

[2017-03-21 16:47] khanhhung2512 opened #66 "Poor search feature on Android"
I just performed a search on Kiwix for Android, Wikipedia database, non-indexed with keyword "eMMC" and it yielded no result. I had to search for "Multimedia Card" instead. However, on Windows, the search for "eMMC" yielded the right result, even though the database isn't indexed.

[2017-03-22 18:00] mhutti1 commented on #57
@kelson42 Will the new content system be in place by 2.3?

[2017-03-22 18:02] mhutti1 opened #67 "Add Adaptive Icon"
https://developer.android.com/preview/features/adaptive-icons.html
Is related to #46

[2017-03-22 18:03] mhutti1 commented on #43
As we are reworking how we build our apps we should think about this.

[2017-03-22 18:04] #42 closed

[2017-03-22 18:11] mhutti1 commented on #27
Caused by the same problem as #20

[2017-03-22 18:12] #27 closed

[2017-03-22 20:26] kelson42 commented on #43
Is that possible to add a "lint" test during the build and just stop building if the test fails?

[2017-03-22 20:26] kelson42 commented on #57
@mhutti1 No, this won't be ready before this summer.

[2017-03-22 20:29] mhutti1 commented on #43
Yeah I think that should be possible with gradle.

[2017-03-22 20:41] #7 closed

[2017-03-29 05:50] Popolechien opened #68 "Export reading to browser (or PDF)"
I'll try to summarize the conversation I had with a visually impaired person who made a enhancement request: she essentially would like that articles can be opened in a separate browser (I assume one that caters better to her needs). When I asked what the browser offered that Kiwix didn't this is what she said:

"I can't speak for others, but to me being able to use the browser would allow for the

[2017-04-03 08:43] Popolechien commented on #68
Additional info:
"I'm using an android tablet, which was released around July 2016, called the Braille Note Touch. This is by Humanware and it uses a skin on top of android kitkat called KeySoft."

[2017-04-03 09:24] dattaz opened #69 "Ressource doesn't load when the page is a redirection"
Step to reproduce :
Download this zim file  [redirection_fail_base.zim.zip](https://github.com/kiwix/kiwix-android/files/889527/redirection_fail_base.zim.zip) un-compress, open in kiwix app

Open a page (which is a redirection) : click a tag and then on a question , you will see html without image or css
Open a page (which is not a redirection) : made a search for a question

You should probably i

[2017-04-03 16:32] kelson42 opened #70 "Open Kiwix in search mode"
If Kiwix has already content loaded and it's not the first time it has been started then it might make sense to open it in "search mode", that ḿean with the searchbox available and the virtual keyboard layout visible. This is the feedback of a user and it seems to not be a fundamentally bad idea.

I do not have any strong opinion, maybe this behaviour could be made optional? This ticket is first m

[2017-04-04 07:17] ISNIT0 opened #71 "Change bookmark star icon to a heart"
Twitter did it for a reason :) Increase in feature usage by 6%, 9% in new users.

https://www.buzzfeed.com/alexkantrowitz/heres-the-data-that-shows-why-twitter-switched-to-hearts-fro?utm_term=.hvg3YBa84#.sr44vkBlq

Sorry I can't find the source anywhere.

[2017-04-04 07:57] kelson42 commented on #71
That might be a good idea. Would be great to check if that does not go against Android UI guidelines. In the worse case this might be done as an option (custom app config json). It seems to make really sense for the Phets custom app - at least.

[2017-04-04 20:35] kelson42 opened #73 "Set custom user-agent for the ZIM downloader"
This is necessary to get more detailed stats. I think to something like "kiwix-android x.y.z"

[2017-04-05 07:42] ISNIT0 opened #74 "Left menu overlapped by header"
Android 4.4.2, app build is latest commit

[2017-04-05 07:44] ISNIT0 commented on #74
![screenshot_2017-04-05-08-40-34](https://cloud.githubusercontent.com/assets/5173131/24695032/1fa85180-19dc-11e7-9cfc-03c430b4d37e.png)

[2017-04-05 08:21] ISNIT0 opened #75 "Content Management Tweaks"
As Discussed:
- Rename "Device" to "Downloaded"
- Move "Downloads" into "Downloaded" panel
- When a download is initiated, move the user to "Downloads"

[2017-04-05 08:37] ISNIT0 opened #76 "Languages showing up as "zz" in all content"
![screenshot_2017-04-05-09-12-44](https://cloud.githubusercontent.com/assets/5173131/24697006/759ce8ec-19e3-11e7-8d68-ddacdc2123c4.png)

[2017-04-05 08:56] ISNIT0 opened #77 "Content downloaded notification could have more detail"
Would be nice for it to contain more text, something like:
### Your Kiwix content has downloaded!
Click here to view [NAME OF ZIM FILE] in Kiwix

[2017-04-05 09:24] rashiq opened #78 "Use Fragments from the support library"
I discovered that we are using `android.app.Fragment` instead of `android.support.v4.app.Fragment`!

We need to change this asap.

[2017-04-06 16:55] EladKeyshawn commented on #76
@ISNIT0 Do you have some specific details to reproduce?

[2017-04-06 17:20] Imarok opened #84 "Abbreviations cannot be searched anymore"
I'm using Kiwix 2.2
Searching for abbreviations (like FFT) doesn't work anymore.
Some versions ago (2.1 or 1.97)  it worked properly.
Maybe refs #66
(Maybe Disambiguation sites not working anymore is the underlying reason)

[2017-04-06 20:58] ISNIT0 commented on #76
Not really, it seems to always happen on my Lenovo K3 Note.
Feel free to come grab it and do some debugging whenever.

On Thu, 6 Apr 2017 at 17:55 Elad Keyshawn <notifications@github.com> wrote:

--
Joseph E. Reeve

[2017-04-06 21:38] EladKeyshawn commented on #32
@kelson42 Is this still relevant ? since Issac is already doing a new custom-apps gen in gradle?

[2017-04-07 07:51] ISNIT0 opened #85 "Onboarding mockups"
https://www.figma.com/file/aloDDgh0zCRTtRYwURNdXdU6/KIWIX

[2017-04-07 08:02] EladKeyshawn commented on #85
elad.keyshawn@gmail.com

[2017-04-07 08:10] ISNIT0 commented on #85
![kiwix logo white](https://cloud.githubusercontent.com/assets/5173131/24791468/17efc3be-1b72-11e7-83d1-833503d3e0be.png)

[2017-04-07 08:11] ISNIT0 commented on #85
[Archive.zip](https://github.com/kiwix/kiwix-android/files/904932/Archive.zip)

[2017-04-07 10:13] mhutti1 opened #86 "APK size improvements"
We need to look at reducing apk size by:

- Using proguard
- <s>Utilising architecture specific apks</s>
- Reducing size of libkiwix by fixing bugs in that.
- Looking at possibility of using icu provided by android 24?

[2017-04-08 10:57] mhutti1 commented on #78
This is done except for preference fragment that we agreed to leave alone for now.

[2017-04-08 10:57] #78 closed

[2017-04-08 11:00] mhutti1 commented on #32
This should now be implemented in build.gradle

[2017-04-08 21:25] EladKeyshawn opened #95 "Touch up README"
We should  update the readme to readme.md and enhance the format to be more readable and look better

[2017-04-10 08:46] mhutti1 opened #96 "Move kiwixlib to a separate library and import with gradle"
Kiwixlib should be build automatically and published to a repository e.g jcenter/mavencentral that can be downloaded by gradle.

[2017-04-10 10:33] mhutti1 commented on #43
https://github.com/kiwix/kiwix-android/pull/97

[2017-04-10 10:33] #43 closed

[2017-04-10 10:34] mhutti1 opened #98 "Fix lint warnings"
We have something like 400 lint warnings. We need to go through them and either fix or suppress.

[2017-04-10 12:54] mhutti1 opened #100 "Fix Checkstyle issues"
There are approximately 800 checkstyle warnings. We need to fix the issues or in some cases update rules.

[2017-04-10 12:55] mhutti1 opened #101 "Set up proguard"
Set up Proguard to reduce apk size for #86.

[2017-04-11 10:04] mhutti1 commented on #96
We have discussed this further and separate libraries for each architecture might be easier to generate and just as easy to import.

[2017-04-14 13:37] mhutti1 opened #103 "Mock Network"
Implement a way to mock network requests to allow testing without a real connection.

[2017-04-15 18:44] kelson42 opened #105 "New libary URL"
Use https://download.kiwix.org/library/library_zim.xml instead of https://download.kiwix.org/library/library.xml

[2017-04-16 09:13] kelson42 commented on #96
@mhutti1 I think that is done meanwhile. Can you please put the URL where the kiwixlib can be found?

[2017-04-16 09:29] mhutti1 commented on #96
@kelson42 This isn't done. Kiwixlib is being built but not packaged for android or uploaded to a distribution service yet.

[2017-04-18 04:18] kelson42 opened #106 "Invisible SD card on Galaxy Tab PRO 8.4"
User complains: Running Lineage OS (Android M) on a Galaxy Tab PRO 8.4 and it can't see my SD card at all, just the internal storage, which makes the app useless.

[2017-04-18 10:07] mhutti1 opened #107 "Create Test ZIM file"
Create a small (< 1MB) ZIM file for testing that can be added to the repository. It should contain features that a normal ZIM file would.

[2017-04-18 14:04] #103 closed

[2017-04-18 14:06] mhutti1 opened #108 "Come up with alternative to mocking file system"
Its impracticable to mock the file system but we also need to sandbox some of our device tests so they are not conflicting with other ZIM files already on the device. This might be done by setting up a test ZIM folder and restricting file scans to this.

[2017-04-18 15:34] mhutti1 commented on #38
This should be implemented into our new build system however it ends up working.

[2017-04-18 15:36] mhutti1 commented on #14
I'm closing this isn't an issue with our app and there really is nothing we can do to solve it, its up to Android/Google Play.

[2017-04-18 15:37] mhutti1 commented on #13
This should be possible as of now with manifest merge. If you still want it as a feature we will need more details.

[2017-04-18 15:41] kelson42 commented on #13
@mhutti1 Maybe we could provide a standard way to overwrite a menu entry in the custom app json file? I'm not familiar with the "manifest merge", is that a feature of the Android SDK?

[2017-04-18 15:47] mhutti1 commented on #13
@kelson42 Yeah its a gradle feature. With our new system you can overwrite resources simply by placing the new resource you want in the corresponding folder. So if you wanted to overwrite strings.xml you simply place a new strings.xml in phet/res/xml/strings.xml (might be slightly different). Obviously its slightly more complicated if you need to import new strings though and you have the problem

[2017-04-18 16:39] mgautierfr opened #109 "Problem with translations in Kiwix for Android"
(This is a copy of https://github.com/kiwix/kiwix/issues/482, a android bug reported by @l2212 on kiwix repository)

Every time I close and open Kiwix (2.2) again from my phone the language switches back from the one I choose to the system language (in my case, Italian). If I open the list of languages the one who's selected is the correct one, but I have to click on it again to change the languag

[2017-04-20 06:29] kelson42 commented on #13
@mhutti1 Is that an "overwrite" or a "merge"? A "merge" would be great, as we would only put the one or two strings the app wants to custom. Otherwise ("overwrite"), we need to keep the whole strings.xml up2date (with the std app strings.xml).

[2017-04-20 06:30] kelson42 commented on #14
@mhutti1 In theory you are right, but the problem is what really happens. Can we check that we do not leave things?

[2017-04-20 07:52] mhutti1 commented on #14
@kelson42 No, not really. Its google play services that controls this, you can't really automate downloading an app from the app store (at least not on a service like testdroid). And the point is that even if we could we couldn't fix anything... I just checked on my device everything works entirely as intended, this is not a problem with our app.

[2017-04-20 07:58] mhutti1 commented on #14
If the user can tell us what exactly gets "left behind" then we can confirm this beyond all doubt but until then we just have to assume its entirely a Google Play services issue.

[2017-04-20 07:58] kelson42 commented on #14
@mhutti1 OK. Thank for the explanation, and the stuff we "unpack" on the fly, like the ICU data file? Is that also removed correctly?

[2017-04-20 08:02] mhutti1 commented on #14
@kelson42 We copy the file to our local directory. This should be cleaned up on uninstall but again its not done by us and we have no control over this at all.

[2017-04-20 08:03] mhutti1 commented on #13
@kelson42 Just gave it a try and it appears to merge, prioritising custom app resources. This will work perfectly for our use case.

[2017-04-20 08:11] #14 closed

[2017-04-20 11:17] mhutti1 opened #110 "Come up with a set of devices we want to test on"

[2017-04-20 13:51] mhutti1 commented on #73
The android side of this looks to be done. We send the app version in the user agent. stats.kiwix.org doesn't look capable of displaying custom user agents. @kelson42 does it show up in the logs?

[2017-04-21 13:39] mhutti1 commented on #108
The best way of doing this seems to be to inject a FileSearch object.

[2017-04-23 08:51] EladKeyshawn commented on #95
@kelson42 @mhutti1 Can I switch the readme to use markdown (.md)?

[2017-04-23 08:52] kelson42 commented on #95
@EladKeyshawn OK to me.

[2017-04-24 06:21] kelson42 commented on #73
@mhutti1 Thx, will take care of stats.kiwix.org. What is the string of the user-agent (can not find it in the commit)?

[2017-04-24 07:58] mhutti1 commented on #73
@kelson42 It should be "kiwix-android-version:x" I can't be 100% certain its working though so if you can't find it we might need to do some more debugging.

[2017-04-24 08:04] mhutti1 commented on #74
Can replicate in emulator api 19

[2017-04-24 10:47] kelson42 commented on #74
@EladKeyshawn Maybe you would have look to this as this is with the bookmarking system?

[2017-04-24 10:50] kelson42 commented on #73
@mhutti1 Thx, I have started to have a look to Piwik to find out how to deal with this, it looks like there is no clean solution:
1 - https://github.com/piwik/piwik/issues/11641 (so we need to write a plugin)
2 - Modify directly in the source code the list of browser to support this new user agent.

[2017-04-24 10:52] kelson42 commented on #73
Everything is done here on the kiwix-android side. Thx @mhutti1

[2017-04-24 10:52] #73 closed

[2017-04-24 10:53] mhutti1 commented on #74
Don't worry its been fixed on my branch.

[2017-04-24 10:53] #74 closed

[2017-04-26 08:04] julianharty opened #112 "Update README so build instructions are current and complete"
The current contents of the README are out of date. They describe how the app used to be build before being migrated to this repo (kiwix-android). I think the build is now simpler. Let's revise the README accordingly.

I'm basing my assessment on the travis config https://github.com/kiwix/kiwix-android/blob/master/.travis.yml

I'll update these notes with the build steps I take to build the main k

[2017-04-26 08:07] julianharty commented on #112
Note: `./gradlew build` needs to know where Android tools are.
[code]
Let's document this expectation & perhaps suggest how people can address it.

[2017-04-26 08:10] julianharty commented on #112
`export ANDROID_HOME=/Users/julianharty/Library/Android/sdk`

[code]
Do we need the NDK to build the app?

[2017-04-26 08:11] mhutti1 commented on #112
@julianharty no, I am pretty certain not. (Although I think you do if you are building from sources as is done in kiwix-build)

[2017-04-26 08:15] mhutti1 commented on #112
At the moment we use an old version of kiwix-lib at some point we need to look at importing the newest version automatically with gradle. I think the build should be possible just with ./gradle build if the android sdk is set. You can avoid this by importing into android studio and this will step you through this process.

[2017-04-26 08:18] julianharty commented on #112
BUILD SUCCESSFUL

[2017-04-26 10:13] julianharty commented on #112
From the vast set of tasks listed by `./gradlew tasks` I'd appreciate guidance on which targets to use when. I've read the task descriptions and they're too similar for me to guess which ones would run the Espresso tests, which one(s) would deploy a debug build of standard Kiwix on my device, etc.

[2017-04-26 10:22] mhutti1 commented on #112
Yeah that sounds like a good idea, basic rundown.the first word is the command:

- compile - Build an apk

- install/uninstall - As named

- connected - runs instrumentation (espresso) tests

- test - Runs unit tests

Some commands depend on others. I.e connected will compile if it needs too.

The next words specify what flavour/build variant to use.

The standard is KiwixDebug

You join an action

[2017-04-26 12:23] mhutti1 opened #115 "Figure out what constitutes a "pass" on testdroid"
Sometimes devices might become unavailable. If a device isn't available after ~15 mins then our test will time out. We need to consider if we accept the remaining devices outcome in this case or we fully fail.

[2017-04-26 15:36] mhutti1 opened #117 "Evaluate the possibility of setting up separate Testdroid status checks"
Currently Testdroid checks are handled by Travis but it might be more beneficial to integrate them directly with GitHub. This would likely require some code running on a server somewhere though.

[2017-04-27 06:32] kelson42 commented on #117
@mhutti1 Basically not a problem. If this is a simple script, we can let it run it somewhere... If this is more, pleaes create a docker instance and I will run it.

[2017-04-27 08:20] mhutti1 commented on #117
@kelson42 Sounds good. Its fine for now but it might be something to improve in the future to slightly decrease feedback times and allow more specific feedback.

[2017-04-27 12:43] #51 closed

[2017-04-27 13:40] mhutti1 opened #118 "Host our accepted licenses for Travis"
@kelson42 Is it possible that we can host the contents of [http://mhutti1.eu/api/licenses/](http://mhutti1.eu/api/licenses/) somewhere. Gradle can now download sdk dependencies for us if we copy these licences in at the start of each build.

[2017-04-27 13:41] mhutti1 commented on #118
The might also need to be updated from time to time.

[2017-05-02 05:15] kelson42 opened #121 "Improve "unknown content" handling"
If a content (mime-type) is unknown or if there is not associated app, then it's impossible to access the content (link target). In such cases, the Kiwix app should propose to download/save the content (or maybe give a choice of apps to open it)?.

Reported first at https://sourceforge.net/p/kiwix/feature-requests/926/

[2017-05-02 05:19] kelson42 opened #122 "Add support of language without two letters ISO code"
Reported first at https://sourceforge.net/p/kiwix/feature-requests/845/

[2017-05-03 07:01] kelson42 opened #124 "ZIM files not detected on a BB10 (Android Jelly bean)"
Kiwix v2.2 and also previous versions cannot locate the ZIM files in my device (i tried storing in different paths) however from a file explorer I can click on a ZIM file and Kiwix will open the file.

The device is a BB10 using an Android Jelly bean runtime and the path mapping between internal QNX filesystem and runtime is something like :

Internal mem:
* /mnt/sdcard/ (Android runtime)
* /sdcar

[2017-05-03 07:03] kelson42 commented on #124
@mhutti1 Any idea?

[2017-05-03 07:11] dapgo commented on #124
Thanks for create the ticket,

These ZIMs files are stored in:
/mnt/sdcard/kiwix (for bb10 native apps path seems mapped to /misc/android/kiwix)
/mnt/sdcard/external_sd/kiwix_sd

Being able to specify a path i could try and figure out where is the problem. In other android apps i have no problems to find files, but with few other opensource apps such as "aard" i had the same problem.

[2017-05-03 09:32] mhutti1 commented on #124
All those paths should be checked except /misc/android/kiwix and /accounts/1000/. We use two methods to search for files so it is interesting that neither would work. I can try add those 2 paths to an apk to test on a device if you think it might work?

[2017-05-03 10:40] dapgo commented on #124
if you can add these paths, it would be great and I'd happily test it. ;)

[2017-05-04 06:07] kelson42 opened #125 "Too many people complain about Google Play download"
The download process (install?) of big (1GB+) custom apps seems to be pretty weak (not robust) and for an unknownreason stops in the middle or even worse at 1-2% of the end. Why?

[2017-05-04 06:14] kelson42 commented on #125
Duplicate of #60

[2017-05-04 06:14] #125 closed

[2017-05-05 11:45] nomisto opened #126 "FindBugs Error"
Hey,
I've imported kiwix from the git repository in Android Studio. When I want to analyze it with FindBugs i get an error

Does anybody know how to make this work?
If I want to emulate it with a Virtual Android device i get a warning if this helps:

Kind regards
Simon

[2017-05-05 11:47] kelson42 commented on #126
@mhutti1 Any idea?

[2017-05-05 11:55] mhutti1 commented on #126
Yeah this is due to our translations being out of date. It doesn't cause crashes though as the string isn't used. If you care struggling to compile can you post the full gradle log.

[2017-05-05 16:48] nomisto commented on #126
Sorry for my late reply.
Build is successful, but maybe it has something to do with the TESTDROID username not set?
Or maybe the error comes from the plugin FindBugs itself.

`Executing tasks: [:app:generateKiwixDebugSources, :app:generateKiwixDebugAndroidTestSources, :app:prepareKiwixDebugUnitTestDependencies, :app:mockableAndroidJar, :kiwixlib:generateDebugSources, :kiwixlib:generateDebugAndroid

[2017-05-05 16:57] nomisto commented on #126
And the error appears when

if this helps you.

[2017-05-05 17:30] mhutti1 commented on #126
It seems like a weird bug. It might be that you are not building all of kiwix-android and only kiwixlib. Gradle should definitely not be claiming a successful build.  So it doesn't install on your device yet still claims success or am I missing something?

[2017-05-05 17:56] nomisto commented on #126
I had to import your application in Android Studio for University and analyze it. (Dependency analysis, Metrics, etc...). Furthermore we had to use a plugin called FindBugs, and everytime I wanted to analyze with it, it gives me the error mentioned above.
But i finally managed to get it to work. I had to adjust the gradle file a little:

line 98

`if(custom.listFiles()){
  custom.eachFile() { file

[2017-05-05 17:58] kelson42 commented on #126
@mhutti1 Anything to merge here to our code base?

[2017-05-05 17:59] mhutti1 commented on #126
Cool thanks, No problem, we are looking at using findbugs later ourselves. Thx for the information 👍

[2017-05-05 18:02] mhutti1 commented on #126
@kelson42 @nomisto Yeah if you want to submit a pull request it would be appreciated. Otherwise I can add it myself.

[2017-05-05 18:08] nomisto commented on #126
@mhutti1 No problem. Nice feeling i can contribute something to you :) Add it yourself please, im pretty new to GitHub and don't want to mess something up.

[2017-05-05 18:12] kelson42 commented on #126
@nomisto Be bolt, no way to mess something in our git repository. Do like following:
1 - Create a fork of the git repository
2 - Checkout your fork on your computer
3 - Make your fix
4 - Commit and push to github
5 - Make the pull request (https://help.github.com/articles/creating-a-pull-request/)

[2017-05-05 18:28] nomisto commented on #126
@kelson42 Ok, I'll try it.

[2017-05-05 19:04] nomisto commented on #126
Finished, hope it worked 😄

[2017-05-05 19:08] mhutti1 commented on #126
@nomisto It looks good. Our automated build system is building now. @kelson42 Just realised something, travis  won't give testdroid an api key on commits triggered from a non contributor because it might lead to the key being exposed. This will likely cause this build to fail (although the gradle build will still succeed). What do you want to do about this long term?

[2017-05-05 19:13] mhutti1 commented on #124
@dapgo sorry it took so long. I have exams at the moment. Also sorry its so big, we have a small problem with our libs at the moment. [link](https://drive.google.com/open?id=0Bwjmzre_HGWzSHFoTHdmRTdsb0E)

[2017-05-06 05:28] kelson42 commented on #126
@mgautierfr any idea about @mhutti1 complain.

Maybe we should deactivate the testdroid (in case of external fork-based pull requests). if not solution can be found to that problem.

[2017-05-06 14:41] kelson42 opened #128 "travis won't give testdroid an api key on commits triggered from a non member"
Just realised something, travis won't give testdroid an api key on commits triggered from a non contributor because it might lead to the key being exposed. This will likely cause this build to fail (although the gradle build will still succeed). What do you want to do about this long term?

First reported here https://github.com/kiwix/kiwix-android/issues/126#issuecomment-299550664

[2017-05-06 14:42] kelson42 commented on #128
@mgautierfr any idea?

[2017-05-06 14:42] kelson42 commented on #126
i close that ticket. Thx again @nomisto for the valuable patch. Feel free to make new bug reports or pull requests.

[2017-05-06 14:42] #126 closed

[2017-05-06 14:55] kelson42 opened #129 "100 NullPointerException crashs reported a week"
This is what Google Play tell us, and this does not count the custom apps. This is by far the main reason of crashes of the app - TOP8 crash tracelots. Can something be done about it?

[2017-05-06 14:56] kelson42 commented on #129
@mhutti1 @rashiq @EladKeyshawn Who volunteers?

[2017-05-06 18:16] mhutti1 commented on #129
I have looked at them and I think some might be fixed. I can look into further close to 2.3 release though.

[2017-05-06 19:33] kelson42 commented on #129
@mhutti1 thx, yes maybe just before the end, checking each of this scenario might make sense.

[2017-05-08 09:41] dapgo commented on #124
No sorry,
I tried it with success because  now Kiwix can detect ZIM files :)
For your information in the bottom of the page it seems that kiwix is still looking for dictionaries forever, but it doesn't freeze the app so it is possible to select a dictionary and work.

![kiwix_zim_detected_bb10](https://cloud.githubusercontent.com/assets/4981669/25798780/c9bc0804-33e2-11e7-8fab-8582255811d3.png)

[2017-05-08 09:49] kelson42 commented on #124
@dapgo Good news :)
@mhutti1 Might that be that we do not detect recursive infinite loops in fs scanning?

[2017-05-08 17:54] dapgo commented on #124
logging the output:

I/QNXNavigatorClient(13082844): canJoinGroup: cid=1964612583842017 (org.kiwix.kiwixmobile) shell group already joined
I/Zygote  (13082844): Process: zygote socket opened
I/ActivityManager(13082844): Start proc com.svox.pico for service com.svox.pico/.PicoService: pid=53616884 uid=10136 gids={50136, 1015, 1028}
I/TextToSpeech(53502164): Sucessfully bound to com.svox.pico
E/kiwi

[2017-05-08 17:57] dapgo commented on #124
Loggin the output:

I/QNXNavigatorClient(13082844): canJoinGroup: cid=1964612583842017 (org.kiwix.kiwixmobile) shell group already joined
I/Zygote  (13082844): Process: zygote socket opened
I/ActivityManager(13082844): Start proc com.svox.pico for service com.svox.pico/.PicoService: pid=53616884 uid=10136 gids={50136, 1015, 1028}
I/TextToSpeech(53502164): Sucessfully bound to com.svox.pico
E/kiwix

[2017-05-08 22:33] bobthomson100 opened #130 "Kiwix cannot find an external SD partition on Acer B1-770"
At the request of Emmanuel Engelhart in [the Sourceforge discussion here](https://sourceforge.net/p/kiwix/discussion/604121/thread/3b517029/), I am writing to open a "ticket" to try to resolve a problem I'm having getting Kiwix to recognize a 20 GB zim file on a second ext3/ext4 partition on my external SD card of my Acer B1-770 android tablet running Android 5.01.

On the tablet, using ES File Ex

[2017-05-08 22:47] mhutti1 commented on #130
@bobthomson100 I will look into this bug can I get some extra information first.

1. Can you see files/folders in /data/sdext2 using ES file Explorer
2. Are you sure you can't modify the contents of this directory and its sub-directories?
3. If you can get a ZIM file on the sdcard and then click it with ES file explorer and try to open it with Kiwix, does it load correctly.

[2017-05-09 19:23] bobthomson100 commented on #130
I notice my reply to Isaac Hutt's email isn't posted here. Did it get through?

[2017-05-09 19:31] kelson42 commented on #130
@bobthomson100 nothing went through.

[2017-05-09 19:46] bobthomson100 commented on #130
OK. Here's what I "posted" via a reply to the email I received.

On 2017-05-08 06:47 PM, Isaac Hutt wrote:

**>     _**Can you see files/folders in /data/sdext2 using ES file Explorer****_

No. Or at least I couldn't earlier. See below.

Yes. Or rather, I could add directories to /data. But then I couldn't add them to /data/sdext2.

However, I just tried again and managed to create /data/sdext2/ki

[2017-05-09 20:06] mhutti1 commented on #130
Firstly /data/kiwix is just going to be an internal storage location as it isn't mounted anywhere (we don't look here when searching for ZIM files because on most systems it would likely be access protected). Secondly there looks to be little that we can do about getting Kiwix working with the external sd card if you can't find the files in ES file explorer unfortunately. I don't know much about h

[2017-05-12 09:08] dapgo opened #131 "Links to content inside the same ZIM file (BlackBerry=QNX+android runtime)"
Using the jelly bean android runtime, Kiwix does the following functions with success:
Displays the Home page
Search function  find and access to any entry in the ZIM file
Random article opens a random ZIM content page
Links to external webpages work fine

However when a you press over a link to local content (same ZIM) a blank page is loaded.

[2017-05-12 10:56] kelson42 commented on #131
What is that exactly for a runtime "QNX + Android"?
Sounds really strange to me?

[2017-05-12 11:14] kelson42 commented on #118
@mhutti1 This is hosted here now http://download.kiwix.org/dev/android/api/licenses/. I think we can close that ticket. For the future, I want to setup a more flexible "artefact hosting system" to let you do that on your own.

[2017-05-12 11:15] mhutti1 commented on #118
Sounds good.

[2017-05-12 11:15] #118 closed

[2017-05-12 11:20] kelson42 commented on #110
@mhutti1 What is the status on this? I think you made a first choice. This might be improve lately but this ticket seems to be implemented.

[2017-05-12 11:42] kelson42 commented on #13
@mhutti1 Before closing the ticket, could you please tell me exactly:
* The path/name of the XML files (for english ans translations)?
* The original location on which which should take example?

[2017-05-12 11:56] kelson42 commented on #32
@mgautierfr @mgautierfr I think this should work now, please confirm and close this ticket.

[2017-05-12 12:14] kelson42 commented on #84
What is the content you use?
What do you mean exactly with "doesn't work anymore"?
Do you have the fulltext search activated?

[2017-05-12 17:42] kelson42 opened #132 "Add kiwix to Amazon app store"
First reported here https://sourceforge.net/p/kiwix/feature-requests/921/

[2017-05-12 18:37] laserbyte commented on #132
I attempted to submit the App yesterday:

[2017-05-12 19:15] Imarok commented on #84
I use the german wikipedia from 2016-08-16.
"Searching for abbreviations (like FFT) doesn't work anymore." means it just doesn't yield any results for this abbrevation. (before it found the article [FFT](https://de.wikipedia.org/wiki/FFT) when searching for FFT)
Enabling/Disabling fulltext search doesn't change the issue.
(Furthermore it seems fulltext search doesn't work at all)

[2017-05-12 20:29] kelson42 commented on #132
@laserbyte thx for trying, I think we have a amazon account we should use for that.
@Popolechien a new case for trademark agreement.

[2017-05-12 20:43] mhutti1 commented on #110
Yes we have an initial set of devices. We can close this ticket if you want but we will need to revisit it in the future.

[2017-05-12 20:45] mhutti1 commented on #13
You simply add xml files in the corresponding location with the coresponding name to the custom app generation folder like so:
https://github.com/kiwix/kiwix-android/blob/master/app/src/raycharles/res/values/strings.xml

Is this clear? Its quite hard to explain.

[2017-05-13 06:01] kelson42 commented on #13
@mhutti1 thx
@ISNIT0 So this is for you :)

[2017-05-13 06:01] #13 closed

[2017-05-13 12:15] mhutti1 commented on #110
We need to ensure that we test on devices popular with our users and ensure
we also test on a cross section of Android devices. Currently I have simply
picked 3 devices with different versions that are popular.

[2017-05-13 14:46] kelson42 opened #133 "TestDroid emails sent to Kiwix contact email address"
I just have discovered this and I strongly suspect that @Popolechien is not really interested to to get this CI notification for the Android port. It looks like this is something we can configure with Testdroid web interface. Should we disable this notification? Or it would maybe make sense that @mhutti1 still get them (in that case it looks like to be doable, as the notification email is configur

[2017-05-13 14:51] mhutti1 commented on #133
Is it testdroid or travis sending these emails?

[2017-05-13 14:54] kelson42 commented on #133
@mhutti1 I just have forwarded one to you, but it comes from bitbar.com

[2017-05-13 15:02] mhutti1 commented on #133
Should be fixed. You can add/remove email addresses for people to receive
notifications.

[2017-05-13 15:07] kelson42 commented on #133
@mhutti1 perfect. thx.

[2017-05-13 15:07] #133 closed

[2017-05-13 15:37] dapgo commented on #131
QNX is the operating system that Blackberry has been using for the last few years and they run android apps through android jelly bean runtime
[https://developer.blackberry.com/android/apisupport/android_native_support.html](https://developer.blackberry.com/android/apisupport/android_native_support.html)

[2017-05-13 16:23] kelson42 commented on #131
the problem will be complicated to fix I think as this is pretty obviously a blackberry specific issue, we do not have any device of that kind... and BB mobile bisness has been stopped (so no real reason for us to invest lots of resources on this).

[2017-05-14 17:17] kelson42 commented on #4
@mhutti1 Unable to understand anything regarding that ticket, do you think you have fixed it with your commit?

[2017-05-14 17:18] kelson42 commented on #6
@Popolechien What is the status on this? Could you ask the user to reinstall the app?

[2017-05-14 17:35] kelson42 commented on #1
@Herve5 Yes, I think this is fixed in 2.2. You can also download the apk from http://download.kiwix.org/. Please reopen the ticket if you still have the problem with 2.2

[2017-05-14 17:35] #1 closed

[2017-05-15 06:22] Popolechien commented on #6
It looks like the user had reinstalled the app back then. I'll ping him again.

[2017-05-15 10:35] mhutti1 commented on #4
@kelson42 Idk will add to 2.3 milestone

[2017-05-16 08:15] dapgo commented on #131
IMHO the solution can be something quite basic, in fact 99% of apps (not using google play services) works seamlessly.
At least, can you tell how kiwix access to data after clicking a link?
I tried to logging the output after click the link but i cannot see any event.

[2017-05-16 10:58] mhutti1 commented on #131
@dapgo We use a content provider to navigate inside a webview, The clicking and navigation is handled by the Android runtime we just give Android content when it asks for a url. Theres a chance its asking for the wrong url. If you restart the app while on a blank page does the log indicate the url of the page that is being opened?

[2017-05-17 15:59] moneytoo opened #134 "Can't find article by its exact name (Space Shuttle retirement)"
I use Kiwix v 2.2 on Android (Samsung Galaxy S7 / Android 6.0.1) with the latest full English wiki (wikipedia_en_all_2016-12.zim, MD5 is 6a8c2dead3219cb8eba901db15ddeca9 so it's ok).

My intention is to find the article ``Space Shuttle retirement``. There are lots of close results so the search phrase is not trivial. However searching for ``Space Shuttle re`` lists other two articles but not the o

[2017-05-17 21:57] mhutti1 opened #135 "Automatically pause download if WiFi is lost"
If a user starts a download and then WiFi is lost we should pause the download until WiFi reconnects possibly notifying the user.

[2017-05-18 07:21] kelson42 opened #136 "How Kiwix behaves with mobile data"
I had a feedack from a user switching from wifi to mobile data... and he does not want to use data for content download (which was already started with wifi). I suspect here we need an option about which system is allowed to be used for download (or do we have a dialog box prompted)?

[2017-05-18 07:38] mhutti1 commented on #136
Duplicate of #135

[2017-05-18 07:38] #136 closed

[2017-05-18 11:25] kelson42 commented on #135
We have basically two options for the download:
* Wifi only
* Mobile data + Wifi

Then there is the workflow:
* Global configuration
* Ask each time of Wifi -> mobile data switch

I propose to add a configuration item to choose between the two options and if "Wifi only" is chosen (per default) AND we have an opportunity to switch (ongoing download and moving to mobile data) then invite the user (v

[2017-05-19 07:22] kelson42 commented on #134
@moneytoo Thx for your bug report. We have many problems with the search systems and are currently working on them. We will come back to you in a few weeks with new informations.

[2017-05-19 12:21] mhutti1 commented on #8
@kelson42 I am struggling to reproduce. Has this been fixed?

[2017-05-19 12:30] #105 closed

[2017-05-19 15:08] mhutti1 commented on #25
I'm closing this. If specific implementations are required make a new ticket with the details.

[2017-05-19 15:43] mhutti1 commented on #31
@kelson42 I don't know I can't replicate it :(

[2017-05-19 17:33] kelson42 commented on #31
@EladKeyshawn I seem you are the only one able to reproduce it and as a consequence the only one who can fix it. Could you please have a look so we get a change to close that tricky ticket?

[2017-05-19 18:24] kelson42 commented on #25
@mhutti1 Sorry I have to reopen this ticket. We need basically a way, using the javascript in the ZIM file, to know the Kiwix UI language. Does such a way exists? If yes can we use "navigator.language" https://developer.mozilla.org/en-US/docs/Web/API/NavigatorLanguage/language ?

[2017-05-19 18:46] kelson42 commented on #8
@mhutti1 I will try to reproduce it with 2.2

[2017-05-20 08:53] mhutti1 commented on #25
Use ``navigator.userAgent``

[2017-05-20 08:53] #25 closed

[2017-05-20 16:11] mhutti1 commented on #135
#140

[2017-05-20 16:11] #135 closed

[2017-05-21 08:13] mhutti1 commented on #40
I have implemented a half way solution that doesn't require and internet connection. Users can input their own path to the mount point and instead use that.

[2017-05-21 08:13] #40 closed

[2017-05-21 09:00] mhutti1 commented on #124
Possible but unlikely. It could just take a long time to scan.

[2017-05-21 15:13] kelson42 commented on #124
@mhutti1 If the fix is merge, on my side we can close that ticket.

[2017-05-21 15:15] mhutti1 commented on #124
Haven't merged yet. I will do soon.

[2017-05-22 16:33] borisfba commented on #23
#145

[2017-05-22 16:33] #23 closed

[2017-05-30 07:25] julianharty opened #149 "Check the APK only contains essential libraries"
I discovered LibRadar last week (while I was at the ICSE 2017 conference). It processes an APK file and detects which libraries are incorporated into the app. There seem to be a couple of unexplained libraries in the APK file of Kiwix (I checked 2.0 and 2.2). Perhaps we can tweak the settings of the gradle build files to exclude non-essential libraries?

http://radar.pkuos.org/

Details from their

[2017-05-30 10:44] kelson42 commented on #149
@julianharty Could you run this again a nightly build and let us know the one in particular which should not be included to your opinion?

[2017-05-30 14:14] mhutti1 commented on #149
I'm a bit confused about what this says. I am almost certain that we use some of these.

[2017-06-03 12:12] kelson42 opened #150 "Delete "custom" directory"
This is handled separatly now, isn't it?

[2017-06-03 12:22] mhutti1 commented on #150
I don't understand what this is referring to

[2017-06-03 12:23] kelson42 commented on #150
This is the directory (https://github.com/kiwix/kiwix-android/tree/master/custom) where we have the metadata for the custom apps. But now these informations are in https://github.com/kiwix/kiwix-android-custom... so it should not be necessary to have a duplicate here?

[2017-06-07 19:11] kelson42 commented on #3
This has been done.

[2017-06-07 19:11] #3 closed

[2017-06-07 20:06] mhutti1 commented on #150
It allows for testing without downloading the extra repositories.

[2017-06-08 19:58] kelson42 opened #151 "Sign CI build properly (Unable to install unsigned ARM nightly builds)"
They can not be installed on my ARM based Android devices. Also tested by @mhutti1. Looks like the architecture is simply wrong.

Nightlies are available at https://download.kiwix.org/nightly/

[2017-06-09 04:23] kelson42 commented on #150
@mhutti1 ok, this is a bit disturbing, I should probably be in some kind of "test" directory and here a git submodule should be used instead of having a duplicate. A few mockup data should also be better than bunch of real-one, or maybe renaming then.

[2017-06-09 04:28] mhutti1 commented on #150
The point of the directory being in the main repository allows developers to test custom apps easily on the main repository. I agree we should change it to a test file but no such ZIM file currently exists.

[2017-06-09 13:32] dattaz opened #152 "Mathjax render doesn't work on android"
For zim of stackexchange/stackoverlfow we use mathjax for rendering latex and math symbole.

It's work well on web browser (with kiwix server) but not in kiwx-android.

Issue for step to reproduice : https://github.com/openzim/sotoki/issues/63

[2017-06-10 07:02] kelson42 commented on #6
@Popolechien without feedback, we will have to close that ticket.

[2017-06-10 09:53] Popolechien commented on #6
No more feedback from user. Case closed.

[2017-06-10 09:53] #6 closed

[2017-06-11 07:03] kelson42 commented on #150
@mhutti1 Ok, so let me fix https://github.com/kiwix/kiwix-android/issues/107 first.

[2017-06-11 09:25] kelson42 commented on #152
@dattaz Do you have a concrete file/url + article name + screenshot to share here. That would help the developers to reproduce quickly the problem and maybe fix it.

[2017-06-11 09:33] kelson42 commented on #124
@mhutti1 Does that have been done meanwhile?

[2017-06-11 09:52] dattaz commented on #152
Sure,
url : A/question/1443.html
article name : Can one latexify formulae on Signal Processing meta?
zim : http://dattaz.fr/sotoki/meta.dsp.stackexchange.com_en_all_2017-06.zim
![fail_mathjax_android](https://user-images.githubusercontent.com/6572195/27010067-6ad462c6-4e9c-11e7-89ee-9b880e4e51ac.png)

[2017-06-11 09:55] kelson42 commented on #152
@borisfba Would that be something you would volunteer to work on?

[2017-06-11 12:25] mhutti1 commented on #124
@kelson42 Its not been done yet. As I said its 2 lines. I will do it in a few days time hopefully.

[2017-06-11 12:26] mhutti1 commented on #150
Yeah. Once we have a test ZIM ideally considerably smaller we can use that instead.

[2017-06-11 21:25] julianharty commented on #149
For http://download.kiwix.org/nightly/2017-06-10/kiwix-android_arm-release-unsigned.apk here is the output, this time as JSON
@mhutti1 We use all of these AFAIK; for me the question is whether we should include all of these in the *release* build of Kiwix-Android. From my perspective we shouldn't be including JUnit, for instance, and probably not hamcrest either in the release binary. Also there's

[2017-06-11 21:29] mhutti1 commented on #149
@julianharty Ok that sounds sensible. We certainly need to carry out these actions as part of reducing apk size. I think we might need to test removing the duplicate libraries carefully.

[2017-06-11 21:32] julianharty commented on #149
@mhutti1 Of course we could increase the test coverage and use those to help weed out any problems :) BTW: I'm willing to help create tests for the app. Just let me know what progress you've made with the automated tests and where you'd like some help and I'll have a go (and if we could track the tests using issues here that'll help us keep them on the radar...)

[2017-06-11 21:49] mhutti1 commented on #149
@julianharty Yeah that sounds like a good idea. I'll add a few wiki pages about our current tests/build process next weekend once uni deadlines are over and get in touch about ideas for future tests / improvements. We are tracking some test related stuff [here](https://github.com/kiwix/kiwix-android/projects/2). Our current test suite seems to be working well and is now mandatory to merge so it wi

[2017-06-12 05:04] kelson42 opened #153 "Night mode inverts also picture colors on Android 4.2"
Tested on BitBar with a

[code]

[2017-06-12 09:53] dapgo commented on #124
BTW, using the the previous modified apk , I detected that after installation and scan, zim files are detected (in internal an external memory).
However,  after a while I decided to free internal mem so  I moved some files from internal memory to external memory, but the scan never end and files were not detected, I tried several times and waiting for a very long time.

So I reinstalled the app, a

[2017-06-12 11:46] mgautierfr commented on #151
The PR https://github.com/kiwix/kiwix-lib/pull/55 should fix this.

The directories for native libs will be :
- arm
- aarch64 (instead of arm64 now)
- mipsel
- mips64el
- i686
- x86_64

@mhutti1, @kelson42, please let me know if the dir names are wrong.

[2017-06-12 12:03] mhutti1 commented on #153
Do you mean 4.2?

[2017-06-12 12:05] mhutti1 commented on #124
@dapgo Ok Thanks I will look into this.

[2017-06-12 12:07] mhutti1 commented on #151
I am not entirely sure if the directory name matters. The current architecture directory names are:

- arm64-v8a
- armeabi
- mips
- x86

[2017-06-12 18:11] kelson42 opened #154 "Try to merge global search + find in page"
**Problem**
When in an article (Glaucoma), I wanted to know the specific symptoms of the disease. I went directly to the magnifying glass to search. The magnifying glass is the universal icon for searching.

Because this is really a “global search” and not a search of the contents of the article, my search did not turn up what I was looking for. Instead, I saw a list of other articles.

The “find

[2017-06-12 18:33] kelson42 commented on #151
@mgautierfr I have no clue, but I would do it like it was before. I can also confirm that the x86(_64) can also not be installed. So this is a "generic" problem.

[2017-06-13 15:33] mgautierfr commented on #151
The used directory will be (in correspondence to https://developer.android.com/ndk/guides/abis.html#sa):
- armeabi (instead of 'arm'),
- arm64-v8a (instead of 'arm64'),
- mips,
- mips64,
- x86,
 -x86_64.

It should fix install on `arm*` device (I can install the apk on my arm (32) device).
However, as the `x86*` directory is good, I don't know what is the problem here.

I don't have a intel device

[2017-06-13 18:58] kelson42 commented on #153
@mhutti1 yes

[2017-06-15 05:50] kelson42 commented on #154
One idea from Abbey would be: I have seen it done dividing the search findings into "in page" and "all content", or something like that.

[2017-06-15 06:04] kelson42 opened #155 "Go back home should be easier"
Recommendations:
Make it so there is only one tap to get back to the main menu. If users are looking for several different items in a row, they will most likely want to go back to the main menu frequently to begin their navigation for the next item starting with the table of contents.

Perhaps if what is behind the hamburger menu currently is not needed, a wikimed, or other logo could be used as a

[2017-06-15 06:22] kelson42 opened #156 "Overlapping menus"
It is possible to open both the dot menu (on top right) and the line menu (on top left) at the same time. On small screens, they overlap. Make it impossible to open both menus at the same time. This is confusing and confuses the focus of the person using the app. Switching one on should switch the other one off.  This will conserve screen space and improve user UX.

[2017-06-17 07:51] kelson42 commented on #151
I still have the problem, the device still tels me "App not installed". @mhutti1 Does it still fails for you too?

[2017-06-18 17:52] mhutti1 commented on #151
@kelson42 It works for me. Are you using the right architecture?

[2017-06-18 18:35] kelson42 commented on #151
@mhutti1 That is a good news, I'll try again.

[2017-06-18 19:40] kelson42 commented on #151
@mgautierfr after verification it seems that @mhutti1 and myself confirm that (tested for ARM and x86):
* the debug builds work now fine
* the release-unsigned fails.

[2017-06-21 10:02] mgautierfr commented on #151
What is the error when trying to install the release-unsigned apk ?
`debug` and `release-unsigned` apks are build at the same time by gradle so I doubt that the architecture of the release-unsigned is wrong while the debug one is good.
Maybe it is because the release apk should be signed and you cannot install a unsigned one.

[2017-06-26 18:51] kelson42 opened #1218 "Fixes for build-custom-app"
* Explain how to install ruby
* Explain how to install travis (the travis doc is big)
* Talk about "hash -r"
* Put a word about "kiwix-android-custom" that people know where to modify things
* zim_url and zim_content should be merged (in zim?)
* remove version_code fron info.json
* add httpslib2 in the deps
* add google-api-python-client in the deps
* add space before "if you found it"

[2017-06-27 15:25] mhutti1 commented on #121
@kelson42 I am not entirely sure what this means. Do you mean we should give the option to download corrupted ZIM files?

[2017-06-27 15:53] kelson42 commented on #121
No, if you have for example an EPUB file in a ZIM file, by clicking on the link Kiwix should provide a list of app to open the EPUB file (as Kiwix itself is not able to deal with it). Or at least shoudl propose to save it somewhere.

[2017-06-30 07:51] rashiq opened #160 "Move Tabs in Download Content view to bottom bars"
In the download view:
![](https://i.imgur.com/7zxS8d8m.png)

Convert the tabs to bottom navigation: https://material.io/guidelines/components/bottom-navigation.html

[2017-06-30 07:54] rashiq opened #161 "Improve List Dialog in Language Selector"
Make the List in the Language Selector Dialog selectable. Right now, you can only click on the check boxes, and focusing the entire row is not possible.

![](https://i.imgur.com/WbDdTQ7m.png)

The Language Selector is accessible through the Online tab in the "Get Content" menu section.

![](https://i.imgur.com/ojy4Zirm.png)

[2017-06-30 07:57] #77 closed

[2017-06-30 08:00] rashiq opened #162 "Replace the spinner with a SwipeRefreshLayout in the Download Activity"
Add a [SwipeRefreshLayout](https://developer.android.com/training/swipe/add-swipe-interface.html) to replace the Spinner in both the online library and the local library of the Get Content section of kiwix. This will improve our adherence to the google UI style.
![](https://i.imgur.com/HveJiTZm.png)

[2017-06-30 08:01] mhutti1 commented on #162
This should be done for both the device and online fragments.

[2017-06-30 08:04] rashiq opened #163 "Collapse Toolbar when you scroll the content"
Collapse the toolbar when you scroll the main content:
![](https://i.imgur.com/c5cJLBm.png)

[2017-06-30 08:08] #163 closed

[2017-06-30 08:19] rashiq opened #164 "Improve global state of WebViews"
Right now we keep a strong reference to all WebViews which can leak memory. Create a container that is wrapped in a WeakReference and provides all WebViews through dependency injection via dagger.

All the WebViews right now are tracked in the KiwixMobileActivity:

    private List<KiwixWebView> mWebViews = new ArrayList<>();

[2017-06-30 08:22] rashiq opened #165 "Improve bottom bar"
Add a collapsable bottom bar to the article view like in the wikipedia app.
This bar should have a shortcut to the already existing actions: save as a bookmark, read aloud, find in page and  show side bar.

![](https://i.imgur.com/JxNd3ou.png)

[2017-06-30 08:27] rashiq opened #166 "Add quick view to the article view when clicking on link"
Try to create a [BottomSheet](https://material.io/guidelines/components/bottom-sheets.html) that displays a snippet of the article you clicked on. You'd need to parse the article, as there is no way to access snippets through the zim libarary. Also make it togglable through the settings, so the user can turn off this behaviour.

It's like in the wikipedia app:
![screenshot](https://user-images.git

[2017-06-30 08:30] kelson42 opened #167 ""captures" directory could probably be deleted."
Sounds not to belong to the git repo = not necessary to get the app working.

[2017-06-30 08:37] rashiq opened #168 "REFACTOR: Unify SharedPreferences and provide them through dagger"
Right now we have a lot of different ways we're accessing SharedPreferences. Create a SharedPreferenceManager that takes care of editing all values (create getter and setters) and provide that SharedPreferenceManager as a singleton through dagger to the app.

Basically, remove all PreferenceManager.getDefaultSharedPreferences() calls.

[2017-06-30 08:40] rashiq opened #169 "REFACTOR: move constants to a separate package"
We have a lot of constants: log tags, preference keys, activity result keys and whatnot. In some places these constants are hardcoded.

1. Remove all hard coded strings and replace them with a constant
2. Group constants that are of the same kind (all Preference Keys for example) and move them to a separate class (create a new package called constants for that).

For example:

`zimFile = getIntent

[2017-06-30 08:44] rashiq opened #170 "MEMORY LEAKS: Remove all static member updates from Activities"
We're doing some bad things in some Activities. For example in our SettingsActivity we're updating a static member of the KiwixMobileActivity.

Make members like these non-static:

[code]

Instead of statically updating them you could start the SettingsActivity with startActivityForResult() and then update the field through setting a Result in the SettingsActivity.

[2017-06-30 09:15] rashiq opened #173 "REFACTOR: Extract Menu logic to a separate class"
[Lightcycle](https://github.com/soundcloud/lightcycle) is a great library that makes it possible to chunk of logic from the Activity to a contained class that gets all the Android lifecycle callbacks. Extract all the Menu logic (onOptionsItemSelected, initAllMenuItems, onPrepareOptionsMenu, onCreateOptionsMenu etc.) into one of those lightcycles. You will need to add the library to the project fir

[2017-06-30 09:21] rashiq opened #174 "REFACTOR: Legacy method manageExternalLaunchAndRestoringViewState()"
Nobody ever dared to touch that method and it's just very ugly.

[2017-06-30 09:33] rashiq opened #176 "Convert all AsyncTasks to run with RxJava Schedulers"
There are examples of RxJava networking in the DownloadService class. We want to get rid of AsyncTasks (like the SaveNetworkLanguages in LibraryAdapter) and replace it with a similar construct.

[2017-06-30 10:16] kelson42 commented on #101
@mhutti1 the goal is to have it in the CI? That would be really great!

[2017-06-30 10:23] mhutti1 commented on #101
Yeah it would be done on CI but also locally.

[2017-06-30 10:51] kelson42 commented on #24
Done, I'm currently updating the maintenances scripts to resync everything efficiently.

[2017-06-30 10:51] #24 closed

[2017-06-30 10:53] kelson42 commented on #130
Nothin much we can do here.

[2017-06-30 10:53] #130 closed

[2017-06-30 10:54] kelson42 commented on #15
@mhutti1 Seems to need an improved of your SD card dection librayr.

[2017-06-30 10:55] kelson42 commented on #31
@EladKeyshawn It would be really great to go ahead quickly on this as we should release 2.3 ASAP now.

[2017-06-30 10:57] kelson42 commented on #170
Sounds pretty important to get that sorted out indeed!

[2017-06-30 12:33] #161 closed

[2017-06-30 13:08] kelson42 commented on #20
@mhutti1 What is the status on this?

[2017-06-30 13:11] mhutti1 commented on #20
I think it is fixed now.

[2017-06-30 13:11] #20 closed

[2017-06-30 13:21] kelson42 commented on #107
@mhutti1 Please let me know the requirements you have and I will prepare one (with a montly update) ASAP. Let me know what you have in mind, we can easily then upgrade it with additional kind of content.

[2017-06-30 13:37] kelson42 commented on #46
Here is a tool to do them https://jgilfelt.github.io/AndroidAssetStudio/icons-launcher.html. I have created one for the custom_app "phets". Can someone update the kiwix-build script to deal with that?

[2017-06-30 14:36] kelson42 commented on #152
A working example (served by kiwix-serve) can be seen here http://download.kiwix.org:8080/meta.dsp.stackexchange.com_en_all_2017-06/A/question/1443.html

[2017-06-30 14:51] kelson42 commented on #58
Implemented with https://github.com/kiwix/kiwix-android/pull/186

[2017-06-30 14:51] #58 closed

[2017-06-30 14:56] kelson42 commented on #101
A manual cleanup has been done with #177, but nothing automated so far.

[2017-06-30 14:59] kelson42 commented on #166
Not sure exactly how to do that, but this is probably something (a piece of javascript) to implement in the ZIM itself. Might be a ticket for mwoffliner.

[2017-06-30 15:43] EladKeyshawn commented on #31
@kelson42 I can't actually reproduce it now

[2017-06-30 18:37] kelson42 opened #189 "TOC menu entries are wrong with new Wikipedia ZIM (with mobie layout)"
Instead of each menu entry, "..." is displayed. Try with http://download.kiwix.org/zim/wikipedia/wikipedia_en_medicine_2017-06.zim

[2017-06-30 18:37] kelson42 commented on #189
@mhutti1 If you could have a look to this quickly, that would be really helpful as this is a blocker to the release of the new version of the Wikimed app.

[2017-06-30 18:40] kelson42 commented on #31
@thx for the feedback. I'll close the ticket as this has probably been fixed with an Android update on your phone (I suppose). Anyway we can not fix a problem we can not reproduce.

[2017-06-30 18:40] #31 closed

[2017-06-30 18:40] kelson42 commented on #189
@borisfba ping :)

[2017-07-03 09:24] mgautierfr opened #192 "kiwix-build fails to build kiwix-android"
Since 3 days, daily builds made by `kiwix-build` fails.  (https://travis-ci.org/kiwix/kiwix-build/builds)

Between build 482 (https://travis-ci.org/kiwix/kiwix-build/builds/248569545) and build 483 (https://travis-ci.org/kiwix/kiwix-build/builds/248969369), nothing has changed in `kiwix-build`, `kiwix-lib` and `libzim`.
The only recent changes are on `kiwix-android` sides.

[2017-07-03 09:27] mhutti1 commented on #192
I though I might have fixed it last night I think some JNI imports got removed.

[2017-07-03 09:30] mgautierfr commented on #192
Ok, I will wait the next daily build and close this issue if everything is ok.

[2017-07-03 09:31] mhutti1 commented on #192
Yeah. Sounds good. I can't test locally though as it fails to build. Is there a specific set of commands to build android?

[2017-07-03 09:35] kelson42 commented on #192
What is annoying is that travis-ci does not complain about it https://travis-ci.org/kiwix/kiwix-android

[2017-07-03 09:40] mgautierfr commented on #192
I'm not sure to understand your question. But..

If you want to know how to build `kiwix-android` using `kiwix-build` :
```kiwix-build.py --target-platform android_arm kiwix-android```

If you want to know which commands are launched by `kiwix-build` to build `kiwix-android`, it is mainly copy of directory to have everything at the right place and launch of `graddle`.
(See "configure" step https:/

[2017-07-03 09:49] mgautierfr commented on #192
What is more annoying is that PR #159, #171, #172, #175, #179, #180, #185 and #186 have been merge whit a failed travis build.

[2017-07-03 11:31] mhutti1 commented on #192
That command fails for me. I will try again tonight. Those prs were made from remote forks and so fail by default. (they now pass).  We checked they compiled in Travis and tested locally.

[2017-07-03 20:57] mhutti1 commented on #192
Ok. This should be fixed. There were 2 errors causing it to fail.

1. The JNI was altered and as it isn't compiled in kiwix-android fell through the cracks
2. A hard coded string was added that for some reason passed the kiwix-android build but failed the kiwix-build build. I will open a new ticket for this.

[2017-07-03 20:58] mhutti1 opened #195 "Lint passed in kiwix-android but failed in kiwix-build"
![screenshot from 2017-07-03 21-57-52](https://user-images.githubusercontent.com/2286937/27807737-c0fbfca4-603a-11e7-8cf0-df136e97054d.png)

#184 Passed kiwix-android tests but failed the lint check on kiwix-build

[2017-07-04 17:13] #192 closed

[2017-07-04 17:15] kelson42 commented on #192
@mhutti1 thx!

[2017-07-04 17:17] kelson42 commented on #195
Why that does not block the CI?

[2017-07-09 15:34] kelson42 commented on #189
@borisfba @rashiq @mhutti1 @EladKeyshawn Could someone have a look to this? This is pretty urgent.

[2017-07-10 20:30] mhutti1 commented on #189
@kelson42 I will look at now. That is a big zim file.

[2017-07-10 20:36] kelson42 commented on #189
@mhutti1 Thx, you can work with http://download.kiwix.org/zim/wikipedia/wikipedia_en_medicine_novid_2017-07.zim which is slightly smaller.

[2017-07-10 21:34] #189 closed

[2017-07-11 06:31] kelson42 commented on #189
@mhutti1 thx for that important fix.

[2017-07-16 18:52] mhutti1 commented on #107
@kelson42 For now it should be as small as possible while containing images and text. Other features should come later.

[2017-07-16 19:45] kelson42 commented on #107
@mhutti1 So one article ZIM file would be good enough?

[2017-07-16 19:46] mhutti1 commented on #107
I think that at least 3 would be good.

[2017-07-16 20:00] #167 closed

[2017-07-16 20:14] kelson42 commented on #107
It's here http://download.kiwix.org/zim/wikipedia/wikipedia_fr_test_2017-07.zim.

A new version should be generated each month.

[2017-07-16 20:14] #107 closed

[2017-07-16 20:16] kelson42 commented on #150
@mhutti1  #107 is done, so this one can be closed too?

[2017-07-16 20:25] kelson42 commented on #107
The corresponding permalink is download.kiwix.org/zim/wikipedia_fr_test.zim (will work in the next hours).

[2017-07-16 20:28] mhutti1 commented on #150
@kelson42 Will just need to swap the file out/ get gradle to download dynamically.

[2017-07-17 14:47] Popolechien opened #199 "Version number does not appear in settings"
While it is normally indicated in the previous release of Wikimed (2016-10), it is absent from the alpha I just tested.
![crop](https://user-images.githubusercontent.com/21675885/28273815-95b59b24-6b0f-11e7-8514-cfa583dccfc9.jpg)

[2017-07-17 15:07] Popolechien opened #200 "Wikimed landing page needs to be replaced"
The new link for the english Wikimed landing page is:

https://en.wikipedia.org/wiki/Wikipedia:WikiProject_Medicine/Open_Textbook_of_Medicine2

[2017-07-17 15:44] Popolechien commented on #200
Got feedback from Doc James, he wants to make another couple of changes.

[2017-07-17 15:45] mgautierfr commented on #199
@mhutti1, I've build the alpha version specifying the version_code (with `-p version_code=xxxxxx`)

From this https://github.com/kiwix/kiwix-android/blob/master/app/build.gradle#L237-L243, the versionName and versionCode should be xxxxx.

And the version is displayed here : https://github.com/kiwix/kiwix-android/blob/master/app/src/main/java/org/kiwix/kiwixmobile/settings/KiwixSettingsActivity.jav

[2017-07-17 15:46] mgautierfr commented on #200
@kelson42 Is the landing page specified when generating the zim file ?

[2017-07-17 16:54] kelson42 commented on #199
That is strange, by me I see the version number, but this is the version of Kiwix, not of the custom app (so 2.2).

[2017-07-17 16:55] kelson42 opened #201 "Fulltext crash with custom app wikimed"
Currently in alpha. The crash happens just after the first character is put in the search box.

[2017-07-17 17:11] kelson42 commented on #200
@mgautierfr yes, just need to make a switch. This is trivial.

[2017-07-17 18:16] mhutti1 commented on #199
Mine says:
2.3 Build 54. Is this right?

[2017-07-17 18:18] mhutti1 commented on #201
07-17 19:17:41.627 28918-28916/? A/google-breakpad: Microdump skipped (uninteresting)
07-17 19:17:41.650 27579-28916/? W/google-breakpad: ### ### ### ### ### ### ### ### ### ### ### ### ###
07-17 19:17:41.650 27579-28916/? W/google-breakpad: Chrome build fingerprint:
07-17 19:17:41.650 27579-28916/? W/google-breakpad: 1171980
07-17 19:17:41.650 27579-28916/? W/google-breakpad: 1171980
07-17 19:17:

[2017-07-17 18:23] kelson42 commented on #201
Same crash with Kiwix for Android. The ZIM file is OK, I have tested with kiwix-serve.

[2017-07-17 18:25] kelson42 commented on #201
@mhutti1 Do you know which JNI call is made and can you check the arguments look OK?
@mgautierfr An idea?

[2017-07-17 18:25] mhutti1 commented on #201
Java_org_kiwix_kiwixlib_JNIKiwix_indexedQuery+132

[2017-07-17 18:26] kelson42 commented on #199
@mhutti1 no, it should be 2017-07 (not sure about the build number).

[2017-07-17 18:28] mhutti1 commented on #199
@kelson42 Well thats the issue. Its displaying org.kiwix.kiwixmobile (vanilla kiwix) information. And blank if that is not installed.

[2017-07-17 19:32] mhutti1 commented on #199
This should be fixed but I would test.

[2017-07-17 23:20] #150 closed

[2017-07-18 06:27] kelson42 opened #205 "New CI test for fulltext search"

[2017-07-18 06:27] kelson42 commented on #205
I will first remake the test ZIM file with embedded FT.

[2017-07-18 06:38] kelson42 commented on #46
@mhutti1 I do not know how important/urgent is that, but if you confirm it's not, I would postpone to 3.0.

[2017-07-18 06:40] kelson42 commented on #152
@EladKeyshawn @borisfba That would be really helpful if one of us could have a look to that bug.

[2017-07-18 08:14] mgautierfr commented on #201
The `SIGSERV` seems to appear in the `kiwix::removeAccents` function.

Which version of kiwix-lib is used in android application ? Is it the nightly ? (The older the version is, the better it is)

[2017-07-18 09:14] mgautierfr commented on #201
Cannot reproduce with alpha wikimed.
In the search entry, I enter a letter, suggestions appear, I can click on a suggestion or enter other letters.
So everything seems to work fine.

Which exact version (version_code) have you ?
You can find it the "Applications" entry in android (global) settings.
When selecting "Medical Wikipedia" to get the info, under the title there is a number (me is `171980

[2017-07-18 10:01] mgautierfr commented on #201
I **suppose** that it is related to the change we've made about icu data file at commit 6fa885fb64f and 57744b3c1

Those commits removed the version information of the data filename because we wanted kiwix-android not dependent of the icu version.

But from icu documentation (http://userguide.icu-project.org/icudata) it seems that the name of the data file must include the icu version and a format

[2017-07-18 10:18] kelson42 commented on #201
@mgautierfr Thx!

[2017-07-18 13:01] mgautierfr commented on #201
I confirm my assumption, it is a problem with icu data filename.
PR #206 fix the problem.

I'm rebuilding a new alpha version. It will be uploaded in the hour.

[2017-07-18 13:32] mgautierfr commented on #201
New alpha version of wikimed uploaded. Next update from play store should fix this issue.
(Close the issue if you can confirm on your side)

[2017-07-18 14:41] mgautierfr commented on #199
New wikimed alpha should include the fix.

[2017-07-18 14:49] Popolechien commented on #199
Yup (2017-07 Build: 1171990). Thanks.

[2017-07-18 14:49] #199 closed

[2017-07-18 15:00] mgautierfr opened #207 "In app language selection doesn't work on 7.0+"
On a android 7.0 configured in French.

Using the last alpha version of wikimed (`2017-07 Build: 171990`), the (top right) menu is sometime in english and sometime in french.

It seems that the language doesn't change during a run of the application.
But if you close the application (and remove it from "opened applications") and relaunch the application, the menu language can change.

Reproducer i

[2017-07-18 15:05] mgautierfr opened #208 "[wikimed alpha] Credits is not available."
In the settings menu, it is not possible to get the "view/page" associated to `credits` button.

![credits](https://user-images.githubusercontent.com/86161/28324326-59f85a78-6bdb-11e7-94d6-6ddc98ab431b.png)

[2017-07-18 15:11] mgautierfr commented on #207
A reproducer :
- Start wikimed (from fresh start) => menu is in french
- Go to settings (options) and change the Night mode (Mode nocturne)
- Go back => menu is in english

[2017-07-18 16:28] kelson42 commented on #201
Works fine now :)

[2017-07-18 16:28] #201 closed

[2017-07-18 18:25] kelson42 commented on #207
@mhutti1 A clue about what is going on? Not really a blocker for new Wikimed release, but would be better to have it working properly.

[2017-07-18 18:27] kelson42 commented on #208
File is there ./app/src/main/res/raw/credits.html... so I suspect the link is "simply" wrong... @mhutti1 ?

[2017-07-18 19:37] mhutti1 commented on #207
So this is an intended feature as `  "enforced_lang": "en"
` is set. I am not sure why it starts out in french though.

[2017-07-19 04:50] kelson42 commented on #208
Thx @mhutti1, I close the ticket and will reopen it if we still have the problem with the next nightly.

[2017-07-19 04:50] #208 closed

[2017-07-19 04:52] kelson42 commented on #207
This seems to impact only the custom apps. Probably something is a bit wrong and makes the app mixing Android language=default Kiwix language and the enforced_lang (only for custom apps). Not a blocker for Wikimed release but would be nice to have it fixed to avoid confusing users. We still have a few days before Wikimed public release.

[2017-07-19 12:20] Popolechien commented on #200
Ok page is ready, you can implement at the next release.

[2017-07-19 19:07] kelson42 commented on #200
This is implemented, next version, in August, will implement the new welcome page.

[2017-07-19 19:07] #200 closed

[2017-07-19 19:10] kelson42 commented on #36
@mgautierfr I think this feature request is outdated... but may you please explain why?

[2017-07-19 19:12] kelson42 commented on #35
@mgautierfr I think this feature request is outdated... but may you please explain why?

[2017-07-19 19:14] kelson42 commented on #151
@mgautierfr It simply says "App not installed"

[2017-07-19 19:19] kelson42 commented on #151
This is the log

[code]

[2017-07-19 19:28] kelson42 commented on #151
@mgautierfr After searching a bit it seems that is related to the signature. Could you please sign it and release kiwix-android_arm-release.apk instead?

[2017-07-19 20:10] kelson42 commented on #69
This is a duplicate of https://github.com/kiwix/kiwix-lib/issues/70

[2017-07-19 20:10] #69 closed

[2017-07-19 20:20] kelson42 commented on #9
@mgautierfr You confirm you have fixed that bug?

[2017-07-19 22:01] mhutti1 commented on #207
Ok. I think I can reproduce in Kiwix. I set language to french and restart app and it is in english. Can you reproduce?

[2017-07-19 22:09] mhutti1 commented on #207
I think the whole locale selection logic might need reviewing. I can see if I can find the bug tommorow.

[2017-07-20 06:20] kelson42 commented on #207
@mhutti1 Perfect, yes please have a look. I do not have tried to reproduce the pb but of course @mgautierfr can.

[2017-07-20 07:04] kelson42 opened #211 "Problem to read OTG with Android Marshmallow"
_From @kelson42 on March 9, 2016 20:20_

- Impossible to see the ZIM file from Kiwix itself
- Clicking on the ZIM file does not open Kiwix

_Copied from original issue: kiwix/kiwix-xulrunner#9_

[2017-07-20 07:04] kelson42 commented on #211
_From @mhutti1 on March 14, 2016 22:10_

I have ordered an adaptor so should be able to look into this soon.

[2017-07-20 07:04] kelson42 commented on #211
_From @mhutti1 on March 16, 2016 22:15_

While Marshmallow adds OTG support universally it seems to completely lock it down for security reasons. [This](https://source.android.com/devices/storage/traditional.html#support_usb_media) states that the only way to access this storage without root is to go through the [Storage Access Framework](https://developer.android.com/guide/topics/providers/docume

[2017-07-20 07:04] kelson42 commented on #211
@mhutti1 Thx for the explanation... this does not looks good at all :(

[2017-07-20 07:04] kelson42 commented on #211
It seems to be no way, for now, to deal with OTG stored content with Android 6.0+. I close the ticket.

[2017-07-20 07:04] #211 closed

[2017-07-20 20:31] mhutti1 commented on #207
This is a much bigger task than I anticipated. Google depreciated the API we use and didn't replace it so work arounds require some creativity. We need to add a whole new set of language selection logic for 7.0+

[2017-07-21 05:58] kelson42 commented on #207
@mhutti1 ok :( Thank you very much for the investigation. In a sense, this is good to hear that this is a 7.0 specific bug. As 7.0 is only a few % of our audience, this confirm we can release Wikimed with that bug. That said, I tend to think, we should have fixed this 2.4? What do you think about the priority?

[2017-07-21 13:46] julianharty opened #212 "CLEANUP Defunct code branches"
There are 39 branches according to GitHub for this project, details of the branches are  https://github.com/kiwix/kiwix-android/branches roughly 3 in 5 are Merged, and 2 are Closed. Do we still have value in preserving these branches?

[And yes one of the branches is mine, which I'm going to work on too https://github.com/kiwix/kiwix-android/tree/instrumentation-poc ]

I ask as I'd like to have a

[2017-07-21 14:41] julianharty opened #213 "CLEANUP Tests failed"
I'm opening this issue while I find out why several of the current Instrumentation based tests fail. They might be related to my device, or more general. I'm on the `master` branch.

I'm running `./gradlew connectedAndroidTest`

`connectedAndroidTest - Installs and runs instrumentation tests for all flavors on connected devices. `

I expect all the tests to pass. However 4 of the 9 tests fail on m

[2017-07-21 15:24] julianharty commented on #213
I've disabled animations as per
http://google.github.io/android-testing-support-library/docs/espresso/setup/index.html#setup-your-test-environment

Still 4 of the 9 tests fail. I'll keep looking...

[2017-07-21 15:25] julianharty commented on #213
The first clue: The device wasn't connected to the Internet. When I connected the device to a local WiFi two of the failing tests now pass. Let's see if we can find a way to check the network state as part of running the tests.

The following tests still fail.

[code]

[2017-07-21 15:30] mhutti1 commented on #213
The first one fails because you need to be on the welcome page on app start
(get to the page and exit the app then start the test). The second one is
weird.

On 21 Jul 2017 4:25 pm, "Julian Harty" <notifications@github.com> wrote:

[2017-07-21 17:26] mhutti1 commented on #212
Yeah we should probably clean these up at some point. All of the branches mentioned have been merged. All the testing stuff should be on master.

[2017-07-21 17:29] mhutti1 commented on #213
That function was removed a long time ago. Are you sure you have got master update?

https://github.com/kiwix/kiwix-android/commit/fd568a06a46e4b664d1cf0af1411b33caa95108f

[2017-07-21 19:05] julianharty commented on #213
@mhutti1  Thanks for the info. I'm currently trying various devices to see how the tests perform (as presumably we'd like them to run successfully on any/all of the suitable devices).

- So far, I've spent several hours in a losing battle with the infamous 'Overlay detected' on a brand-new Samsung S7 (non-Edge) device with Android 6.0.1 installed. None of the various 'solutions' work (e.g. disabli

[2017-07-21 19:17] mhutti1 commented on #213
@julianharty I have already mentioned what I think the problems with the galaxy nexus are but the s7 is very weird. We test with an s7 running 6.0.1 on testdroid with no issues.

[2017-07-21 19:44] julianharty commented on #213
On a Samsung Galaxy GT-I9300 7 of the 9 tests failed when the device was in flight mode. However the problems were generally finding elements in the view rather than related to the lack of network connectivity. The menu items are displayed near the bottom of the screen when the tests were running. The same tests failed when the device had a network connection.

For some reason I don't yet know, th

[2017-07-21 19:48] mhutti1 commented on #213
org.kiwix.kiwixmobile.utils.ContentTest has not existed for months. Perhaps try unistalling and reinstalling/making sure you are on the latest branch.

[2017-07-21 20:42] julianharty commented on #213
@mhutti1 On master I can see https://github.com/kiwix/kiwix-android/blob/master/app/src/androidTestKiwix/java/org/kiwix/kiwixmobile/tests/ContentTest.java which was last updated 21 days ago.

Because of the strange errors (calling methods that no longer exist) I'll do a fresh checkout of kiwix-android into a fresh folder in case there's something fishy in my current folder (which was several month

[2017-07-21 20:45] mhutti1 commented on #213
@julianharty Yeah that should be up to date. I really don't know why its erroring with that message.

[2017-07-22 07:50] kelson42 commented on #212
I have remove branches "135" and "update_icudata" which have been merged to master.

[2017-07-22 08:06] kelson42 commented on #212
@mhutti1 @borisfba @EladKeyshawn @rashiq Could you please remove you resepctive feature branches which have already been merged?

[2017-07-22 15:18] tim-moody commented on #35
Haven't tried this for awhile, so not sure if my request is satisfied. I had a workaround before which hopefully still works.

[2017-07-22 19:54] julianharty commented on #213
An update with some good news. I finally realised that running `./gradlew clean` might help. In fact I ran `./gradlew clean cAT` (`cAT` is shorthand for connectedAndroidTest`) and that seems to have cleared away the stale copies of the test code. I now have 7 tests that run, 1 database test, and 6 for `org.kiwix.kiwixmobile.tests`.

These tests have run successfully on many of my devices so far. T

[2017-07-22 20:16] julianharty commented on #213
Tests passed on a Nexus 7 (2013) running Android 4.4.4

[2017-07-24 10:11] mgautierfr commented on #32
This is done for the `VERSION_CODE` (internal "true" version number).
The `VERSION_CODE` is automatically defined for custom app by the script `build_custom_app.py` in kiwix/kiwix-build repository.
It is base on the current day. If you want to make several release on the same day, you can use the option `--extra-code` (`0` by default) and increment it.

The `VERSION_NAME` is not really relevant, i

[2017-07-24 10:44] kelson42 commented on #32
@mgautierfr Thx for the status update (and reminders about version_code), then it looks like this ticket is pretty much still something to do.

[2017-07-24 15:11] Popolechien opened #214 "Bookmarked articles indicate path instead of article name (if missing "title" node)"
See screenshot
![screenshot_2017-07-24-17-03-05](https://user-images.githubusercontent.com/21675885/28530157-1d769878-7093-11e7-8af9-f38b935fbf44.png)

[2017-07-24 15:32] kelson42 commented on #214
@mhutti1 Unfortunately, we have found an other blocker for our custom app updates... Hope this is nothing big.

[2017-07-24 16:00] kelson42 commented on #214
@EladKeyshawn Any idea? Maybe have you introduced that regressiong with on of your last commits?

[2017-07-24 18:21] EladKeyshawn commented on #214
@kelson42 I haven't merged any changes so it shouldn't be the problem.

[2017-07-24 18:29] kelson42 commented on #214
@EladKeyshawn I mean this bug might be as old as April/hackathon.

[2017-07-24 20:32] kelson42 commented on #18
@julianharty Have you been able to read the SD (with kiwix-android) card on your chromebook?

[2017-07-24 20:33] kelson42 opened #215 "Add an option to select which kind of connection can be use to download"
WIFI and/or DATA. This would avoid users to loose inadvertently their whole mobile data.

[2017-07-24 21:07] mhutti1 commented on #215
I think we already have this. Implemented in Vienna.

[2017-07-24 22:53] mhutti1 commented on #214
This is a content issue. It is fine for old ZIM files, I am looking into it now.

[2017-07-24 22:58] mhutti1 commented on #214
@kelson42 The title tag of the new ZIM files is empty. I could hack a work around but it would be very messy. Is it possible to have the title tag set correctly?

[2017-07-25 04:15] kelson42 commented on #214
@mhutti1 mhm,,, this is indeed a bug in the ZIM file. This is not a normal situation, but might be good to have a better handling of that case. Need to check how looks the title in the ZIM file index itself. I would try to use it here if the DOM node "title" is missing.

[2017-07-25 04:16] kelson42 commented on #215
ok, perfect then.

[2017-07-25 04:16] #215 closed

[2017-07-25 04:25] kelson42 commented on #214
I have open that bug on mwoffliner side https://github.com/openzim/mwoffliner/issues/99

[2017-07-25 12:59] mhutti1 commented on #214
@kelson42 There is also title in a header I could probably extract rather than make JNI changes. Trouble is i'm going to need to parse every page before it loads to make this change. The other solution is to rework how titles are handled across the app but this would be a lot of work. Can I confirm if you want me to go ahead with this hack?

[2017-07-25 13:39] mgautierfr commented on #214
Sorry but I don't get it. Of which title tag we are speaking about ?

Are you speaking of the article of the zim itself ? The title of the article in the dirent ? The title in the html head ?

[2017-07-25 13:51] mhutti1 commented on #214
The title in the html head. <title>

On 25 Jul 2017 2:39 pm, "Matthieu Gautier" <notifications@github.com> wrote:

[2017-07-25 14:05] mgautierfr commented on #214
Ok, so of which title you're are speaking about here ? :)

I was thinking this sentence was about the html title.

---

The JNI API is pretty poor to be honest. I plan to rewrite it [*].
I could do a small API change to extend
`byte[] getContent(String url, JNIKiwixString mimeType, JNIKiwixInt size);`
to
`byte[] getContent(String url, JNIKiwixString title, JNIKiwixString mimeType, JNIKiwixInt size

[2017-07-25 14:11] mhutti1 commented on #214
That would be one way of solving the issue and would be better than just
parsing it from the html.

On 25 Jul 2017 3:05 pm, "Matthieu Gautier" <notifications@github.com> wrote:

[2017-07-25 14:12] mhutti1 commented on #214
The title I am speaking of there is in a <h> tag I might be able to parse.

On 25 Jul 2017 3:11 pm, "Isaac Hutt" <mhutti1@gmail.com> wrote:

[2017-07-25 15:51] kelson42 commented on #214
@mhutti1 Please don't this is Mediawiki specific. What propose @mgautierfr is probably the only solution to that ticket.

[2017-07-25 16:11] mhutti1 commented on #214
Cool. Even that is likely going to be very hacky on the Java side though.
While I can override the getTitle() method. I doubt it's a good idea long
term. Especially with our reliance on content providers.

On 25 Jul 2017 4:59 pm, "Kelson" <notifications@github.com> wrote:

[2017-07-25 16:13] mhutti1 commented on #214
In fact it would be easier to edit the html while parsing it anyway. So I
guess the solution is too hard set the title to a value returned by the JNI
as specified above.

On 25 Jul 2017 5:10 pm, "Isaac Hutt" <mhutti1@gmail.com> wrote:

[2017-07-26 09:08] mgautierfr commented on #214
@mhutti1, I've updated the API as I've proposed in this PR kiwix/kiwix-lib#74
You can start to update the code on your side. I will merge the PR in kiwix-lib when you want to.

[2017-07-27 20:26] julianharty commented on #18
There _does_ seem to be a problem accessing the SD-Card with Kiwix-Android (Version 2.2 Build 53) on a Chromebook. I've tested the app on my ASUS Chromebook where I've got several ZIM files in the Downloads folder and in addition I've got a 64GB removable Micro SD card with a small ZIM file on it. The app cannot see anything on the SD-Card. It can see ZIM files in the Downloads folder. It cannot s

[2017-07-27 23:01] mhutti1 commented on #214
@mgautierfr My changes are ready to merge. They will likely break kiwix-build until kiwix-lib is merged. I have tested them and they seem to integrate well. If you want to go ahead and merge both when you are ready.

[2017-07-27 23:03] mhutti1 commented on #96
Fixed in #216

[2017-07-27 23:05] mhutti1 opened #217 "Make publishing new kiwix-libs to jcenter easier"
Either implement a manual process or automated one.

[2017-07-28 12:41] kelson42 commented on #217
@mhutti1 What would exactly be needed to be uploaded? Could you make do the first and document the process?

[2017-07-28 12:45] mhutti1 commented on #217
@kelson42 It is already uploaded. The process involves building kiwixlib for each architecture, collating the libs directories, copying them to a template android module directory and then incrementing three numbers in a script and then running a gradle command. The template module only contains a handful of files but we should proberberly upload it somewhere.

[2017-07-28 19:47] kelson42 commented on #217
@mhutti1
OK. If you want someone else than you to do that work, we could probably work to somehow automate this... but this need to  be documented first somewhere.

[2017-07-28 19:51] mhutti1 commented on #217
@kelson42 Yeah i'll sort it all out.

[2017-08-01 21:25] mhutti1 commented on #15
Storage locations can now be manually added. I have tested and this is possible on the moto E. It should be working as we have the path added but I don't think it is worth investigating further.

[2017-08-01 21:25] #15 closed

[2017-08-01 21:57] #124 closed

[2017-08-02 09:15] mgautierfr opened #219 "[Wikimed beta] Application corrupt."
Play store update automatically my wikimed application.
But trying to launch it, I've got a message saying it is corrupt :
[code]

[2017-08-02 09:36] mhutti1 commented on #219
Google Play calls the expansion file main.172130.org.kiwix.kiwixcustomwiki for all versions. This is only the correct name for one of the architectures though. Either we need to upload multiple, proberbly not a good idea or reconfigure all versions to use the 1.... version.  https://github.com/kiwix/kiwix-android/blob/master/app/src/main/java/org/kiwix/kiwixmobile/utils/files/FileUtils.java#L86

[2017-08-02 11:23] mgautierfr commented on #219
This is normal. All apk use the same expansion file.
This is setup in `build_custom_app.py` at upload here (https://github.com/kiwix/kiwix-build/blob/master/build_custom_app.py#L401-L408). And confirm in google play console, each apk is using `main.172130.org.kiwix.kiwixcustomwikimed.obb
` expansion file.

This was already the case in the previous alpha version.

[2017-08-02 12:19] mhutti1 commented on #219
I can reproduce on my end. I have check the file system and the new file is there and correctly named. There must be an issue with either permissions, location size or name. I will try to work out which this evening.

[2017-08-02 15:06] kelson42 opened #220 "Remove option "Download content only via Wifi" for custom apps"
This is a non-sense to have it there.

[2017-08-02 17:12] kelson42 commented on #219
I think this was my fault

[2017-08-02 17:13] #219 closed

[2017-08-02 17:33] mgautierfr commented on #219
Is it fixed?
Have you published a new version?

[2017-08-02 17:35] kelson42 commented on #219
@mgautierfr Yes

[2017-08-02 19:03] kelson42 commented on #220
Done.

[2017-08-02 19:03] #220 closed

[2017-08-02 19:05] kelson42 commented on #214
mwofliner has been fixed and now Mediawiki ZIM files will be generated with HTML pages without title. Fixing the java to deal with such a use case seems (1) almost useless (2) not trivial to do easily. Nothing will be done further here. That said, thx to @mgautierfr to improve JNI in kiwix-lib.

[2017-08-02 19:05] #214 closed

[2017-08-02 19:38] #96 closed

[2017-08-04 19:52] kelson42 opened #222 "Problem with finding external SD card with Huawei P8 Lit"
User report external SD card is not visible. Mount point is /storage/4689-07F1
Have tested with Bitbar, but unable to reproduce the problem.

More details here https://play.google.com/apps/publish/?account=9116215767541857492#ReviewDetailsPlace:p=org.kiwix.kiwixmobile&reviewid=gp:AOqpTOEw-rPXWEThCIoWjnrS6S9o0heRNXaR2Yqf3_jTaQ61HVIODewMQmzO05KI_ayc_SrBqMePI5aU4eDabgM

[2017-08-04 19:59] mhutti1 commented on #222
This appears to be randomly generated. As you are unable to reproduce there's not much point looking into this. 2.3 will allow user defined sd paths that should resolve this users issue.

[2017-08-04 20:09] kelson42 commented on #222
@mhutti1

OK, but the pattern 4numbers-4numbers is stable and pretty common as far as I believe. At least it is not the first time I see this kind of pattern. Would that be possible to put a path pattern recognition in the soft?

I'm no convinced at all with the ability given to the users to put theire own path... This is far too complicated for 95% of users. Things should work out of the box. We

[2017-08-04 20:14] mhutti1 commented on #222
It might be possible to do that but would not be easy due to the way android mounts stuff. And would likely result in duplicate storage devices of others. One manufacturer might decide /storage should be the storage directory others that subdirectories of storage should be. How do we distinguish? A pattern is not a great solution

[2017-08-05 05:45] kelson42 commented on #222
@mhutti1 We need to discuss this again. The work you have done so fat works pretty well. We need to complete it to achieve near 100% device overage.

[2017-08-05 09:23] mhutti1 commented on #222
Well with no way to reproduce there's nothing I can do at the moment.

On 5 Aug 2017 6:45 am, "Kelson" <notifications@github.com> wrote:

@mhutti1 <https://github.com/mhutti1> We need to discuss this again. The
work you have done so fat works pretty well. We need to complete it to
achieve near 100% device overage.

—
You are receiving this because you were mentioned.

Reply to this email directly,

[2017-08-06 05:43] kelson42 opened #223 "bookmarks should be sorted alphabetically"

[2017-08-06 18:41] mhutti1 commented on #21
@kelson42 Did we get a reproduction case for this because I can't find one.

[2017-08-07 13:18] mhutti1 commented on #4
I am struggling to reproduce so am pushing to 3.0

[2017-08-07 13:50] mhutti1 commented on #152
@kelson42 I think something has changed. I can no longer find the article to reproduce.

[2017-08-07 14:23] mhutti1 commented on #165
Initial implementation on the bottombar branch.

[2017-08-09 19:18] mhutti1 opened #226 "Fix scrolling toolbar in windowed mode"
There is a small white bar at the top of the app when it is the window at the bottom of dual app mode and in scrolling toolbar mode.

[2017-08-09 20:54] julianharty opened #227 "Mock Network revisited..."
@mhutti1 In https://github.com/kiwix/kiwix-android/issues/103 you added support for a mock web-server, and support for 3 specific downloads:

1. library.xml
2. test.zim.meta4
3. testzim.zim

These seem enough to test the download e.g. a list of (1) ZIM file, and enable it to be downloaded.

However, when I try running these tests with the Android device in flight-mode or with WiFi disabled the net

[2017-08-09 21:00] mhutti1 commented on #227
Yeah thats a good point. I guess we should probably look at overriding the network connectivity checks in the test so that they still attempt to download. As well as this on testdroid lots of tests fail due to random device connectivity issues so we might look at fully mocking the network. What are your thoughts on this?

[2017-08-09 21:09] julianharty commented on #227
@mhutti1 I'm up for trying to create tests where the network is fully mocked. In my view, we can and should have an option to run tests that test over a real network connection too.

FYI I was toying with several options e.g. running a mini-server using DNS, and/or changing the currently hardcoded
`KIWIX_DOWNLOAD_URL = "http://download.kiwix.org/"; ` (in NetworkModule.java).
It'd be great to have

[2017-08-09 21:17] mhutti1 commented on #227
@julianharty Yeah, thouse sound like good ideas.

[2017-08-10 13:46] mhutti1 commented on #165
This is implemented now so I think we can release it as an optional feature in 2.3 and then look to enable it by default in 3.0

[2017-08-10 15:01] mhutti1 commented on #165
We should look at adding more buttons/changing out buttons and look to make this default in 3.0

[2017-08-12 20:14] mhutti1 commented on #129
Done some work on this in #229. We will see if it has made improvements.

[2017-08-13 18:13] mhutti1 opened #232 "Andorid downloads restart when the app is restarted"
Once the app is restarted downloaded items restart downloading.

[2017-08-13 18:15] mhutti1 opened #233 "Search for 2.3"
The new JNI has three cases. We need to work out what to do. The easiest option seems to be to disable the fulltext option and keep it as it is now, which I think fulltext search if available.

@mgautierfr Can you give your opinion on this?

[2017-08-13 18:58] kelson42 opened #234 "Would that be a good idea/move to load only visible/displayed images?"
This would speed up things, save CPU and Power without any visible impairment for the users.

We need to determine if:
* This is a good idea
* This is possible technically

[2017-08-15 13:18] okkebal opened #236 "Cant open Zim files on Android"
I have about 10 Zim files on my phone, tree of them with big indexes. Fulltext search works in these. When I go to 'get content' and try to open one of my local files it usually does not work. If Kiwix opened up with Dutch Wikipedia and I choose say wiktionary I still get Dutch Wikipedia. Restarting the app does nothing. I can select a different Zim only by using ES filemanager and directly openin

[2017-08-15 14:03] kelson42 commented on #236
@okkebal Thank you for your bug report. Would you like to join the kiwix-testing google user group? We are currently testing 2.3 and would like to know if you still have the problem there.

The Kiwix-testing Google user group:
https://plus.google.com/communities/106410746144853739922

And then activate the testing for the app:
https://play.google.com/apps/testing/org.kiwix.kiwixmobile

[2017-08-15 16:04] okkebal commented on #236
I'd love to join, but I'm not going to do anything in the "Play store" I use Yalp. Sorry

I did try a nightly from download.kiwix.org and the problem is still there... Is there a 2.3 nightly there too? It looks like its 2.2 still..

[2017-08-16 13:29] #233 closed

[2017-08-16 18:31] julianharty opened #240 "Crash after selecting "Get Content""
Target Release: 2.3 (Beta release)
Build: 172281

Device: Samsung GT-I9300, Android 4.3

Zim file: wikipedia_af_all_nopic_2016-05.zim

App crashes shortly after selecting "Get Content" We guess it might be triggered by the ZIM file it's trying to read (using libzim).
<details>
  <summary>Click to expand</summary>

Digital Barf:
I/DEBUG   ( 1937): *** *** *** *** *** *** *** *** *** *** *** *** ***

[2017-08-16 19:47] julianharty commented on #240
An update: crashes occur when running the android_arm build on various devices. It (the arm32 build) can be installed and should run on both 32-bit and 64-bit devices. We've experienced crashes in libzib on Nexus 5X devices, HTC Desire 510, and another Android ARM device one of the team has.

[2017-08-18 11:07] tbertels opened #243 ""Back to Top" button should be darker in night mode"
"Back to Top" button, virtually transparent in normal mode, is very visible in night mode and should be darker with a white/grey font color this option can be accessed from the settings panel:

![screenshot_2017-08-18-12-52-22](https://user-images.githubusercontent.com/3265870/29456476-0e89d97e-8416-11e7-9ae4-4e4d6859c172.png)

[2017-08-19 14:53] julianharty opened #244 "Suggested enhancement: Use Cached Library file when..."
Currently, the app downloaded the library catalogue file each time the user selects the Online tab. It might be worth implement support where the app uses a cached copy when...

- The network is slow, problematic, or unavailable
- The file was downloaded recently (in the same user session). The file changes infrequently.

Downloading the library file often may be a waste of the user's time and pre

[2017-08-19 14:56] kelson42 commented on #244
We are going to provide the online catalog through an OPDS API. As a consequence, I'm not sure this ticket is really valid.

[2017-08-19 15:05] julianharty commented on #244
Tell me more...
will that be downloaded over a network connection? when? what happens if the network isn't available, etc? how will the catalogue be updated on/to the device?

[2017-08-19 17:54] julianharty commented on #149
Note to self: let's check that we have sorted out the most appropriate set of dependencies for the various build variants. See these for more info.
https://developer.android.com/studio/build/build-variants.html
https://developer.android.com/studio/build/dependencies.html

[2017-08-20 01:58] kelson42 commented on #244
@julianharty kiwix-lib will happen in September. Details will be discussed in collab with @automactic and @mhutti1 at that time.

[2017-08-22 11:07] julianharty opened #246 "Improve reliability of Tests in various Android runtimes"
There are a couple of challenges when running automated tests on various Android devices. These include:

1. Coping with Permissions, and 'asking' for permission e.g. to access the file system.
1. Tests failing on occasion because animations are enabled on the device.
1. "Screen overlay detected" which can be triggered on certain devices, when the app needs permissions to be granted, particularly

[2017-08-22 11:14] julianharty commented on #246
Some notes:
Google provide a simple app that requests permissions at runtime https://github.com/googlesamples/android-RuntimePermissions This may be a useful testbed.

On StackOverflow there's a useful recent discussion on permissions: https://stackoverflow.com/questions/33929937/android-marshmallow-test-permissions-with-espresso/

Google recently released a utility method (in beta) to grant permi

[2017-08-22 17:54] julianharty commented on #246
Before I forget, while updating Espresso to 3.0.0 and Android Test Support Library to 1.0.0 I discovered the app failed to install/run on one of my 4 devices I've got connected.

The error included the following complaint:
`android java.lang.ClassNotFoundException: com.android.dex.DexIndexOverflowException`

The fix is as follows, add the `notClass` argument to `defaultConfig` in `app/build.gradle

[2017-08-23 10:00] Popolechien opened #247 "Interface translation problem"
When downloading content there is now a time indicator that says "x minutes left". For some reason the French interface translates it as "left-hand" (I did not see the issue in es/de/it/zh).

![screenshot gutenberg](https://user-images.githubusercontent.com/21675885/29610000-2e362cdc-87f9-11e7-99b4-679843d62574.png)

[2017-08-24 14:15] julianharty commented on #227
Some implementation notes: I've managed to implement a local download server using Apache on a Raspberry Pi running Raspbian. This needs a minimum of 3 files (listed in the order they'd be downloaded by the app):

1. `library_zim.xml`
1. `wikipedia_fr_test_2017-07.zim.meta4`
1. `wikipedia_fr_test_2017-07.zim`

There's a folder structure, the library is expected in `./library`. I'd temporarily put

[2017-08-24 14:16] julianharty commented on #227
Another note: We could edit the `library_zim.xml` to include some zim files with known characteristics e.g. corrupt and missing entries and keep these away from the production site. Having these additional files can make it easier to test how the app behaves with flawed ZIM files.

[2017-08-24 15:32] julianharty commented on #246
I'd hoped that `@RequiresApi(...)` would do the trick, but it seems not to work, at least not in the test runner.

Code sample that still runs on Android 4.2 & 4.3
[code]
https://developer.android.com/reference/android/support/annotation/RequiresApi.html

I've posted a Q on StackOverflow to see if anyone's got a better approach https://stackoverflow.com/questions/45865658/how-can-we-automatically-

[2017-08-24 19:21] julianharty commented on #246
So far I've received two suggested answers. One disappeared :( that suggested https://stackoverflow.com/questions/17654249/ignoring-android-unit-tests-depending-on-sdk-level/17654337#17654337 I implemented a version of this and it works (although the test runner in Android Studio has a shadow, second, instance of the tests. However, there a much simpler approach that uses the [SdkSuppress](https:/

[2017-08-24 19:29] julianharty commented on #246
I suspect the reliability of some tests can be improved by improving/increasing our use of [IdlingResource](https://developer.android.com/reference/android/support/test/espresso/IdlingResource.html)'s

We currently use what's now deprecated.

See https://github.com/JakeWharton/okhttp-idling-resource for ideas on creating custom idling resources and the lates Google docs, etc. :)

[2017-08-25 13:22] ISNIT0 opened #252 "Logging (quantity and quality)"
Having read:
https://www.javacodegeeks.com/2011/01/10-tips-proper-application-logging.html

@julianharty and I have been discussing what makes logging good/bad. This is based on:

- Quality of the message (appropriate tag/type, contents, contextual information, ease of understanding)
- Quantity/Location of Logs (near troublesome code, spread across the project)

I've generated a report about our l

[2017-08-26 10:26] okkebal commented on #84
Removed from 2.3.....

Cant find. "IBM" on dutch wikipedia...

For me this is the most important bug

[2017-08-26 10:28] kelson42 commented on #84
@okkebal Which version of the file do you have? date?

[2017-08-26 11:37] okkebal commented on #84
2017-08-09

[2017-08-26 11:38] okkebal commented on #84
You can find "international business machines"

[2017-08-26 17:16] okkebal commented on #84
Other searches that yield no results on the latest Dutch wikipedia:

EMMC - should yield article about memory cards
SSD - solid state drived are in the Dutch wikipedia
KNSB - this is the Dutch skate and chess clubs

[2017-08-26 18:19] kelson42 opened #254 "Crash with 2.3 (at app start)"
[code]

[2017-08-26 18:37] kelson42 opened #255 "Improve content search usability in library"
Kiwix for Android provides the list of contents available for download in the "Library". The library provides a simple but important search box on the top. This search box allows the user to search for content selections from an online library. This search engine gives results based on library details.

So far so good. Currently the feature can behave strangely with the language filtering feature

[2017-08-26 18:39] kelson42 commented on #84
@okkebal This should work fine now indeed. I'll try to reproduce the problem quickly. Please do not hesitate to ping me again on this soon, if nothing change on that ticket.

[2017-08-26 18:39] kelson42 commented on #84
@mgautierfr @mhutti1 Kind of strange bug... you can reproduce it? Have an explaination?

[2017-08-26 18:50] mhutti1 commented on #84
Search is not on the android side so I don't know.

[2017-08-26 19:05] okkebal commented on #84
http://download.kiwix.org/nightly/2017-08-16/
Im using this nightly, later folders do not contain an android version. Perhaps you think I  am using the 2.3 beta from the Google Play program but I am not. Just so you know. If you want me to try some build please provide an APK

[2017-08-28 16:49] okkebal commented on #84
Can someone please add this to the 2.3 milestone. Without this Kiwix to me is pretty useless. More hassling with huge, outdated index files to work around this bug. Im about ready to buy an IOS device, but storage is at a premium at Apple, and these devices are like 3x overpriced. So how do you see this playing out in Africa? Just tell the locals to buy the latest Apple hardware?

[2017-09-02 20:35] mhutti1 commented on #254
I have tried to go back to the first version of kiwix-lib that works with the new build version,2bcd43af980754c590175cc30f888172174c6ad9 but it still crashes with arm. Either we fix this or I can build with a very old kiwix lib from the repo.

[2017-09-04 08:57] mgautierfr commented on #254
Hum, the last wikimed application (2017-08) is using a kiwix-lib version more recent than https://github.com/kiwix/kiwix-lib/commit/2bcd43af980754c590175cc30f888172174c6ad9

It is probably not a simple bug in the lib but rather a bug elsewhere (or worst, a combination of different bugs in different projects). We will need to be precise on what version we are testing.

@mhutti1, have you just go ba

[2017-09-04 13:00] mhutti1 commented on #254
Yeah I just went back with kiwix-lib I guess libzim / kiwix-build could be
causing issues.

On 4 September 2017 at 09:57, Matthieu Gautier <notifications@github.com>
wrote:

[2017-09-10 12:04] kelson42 opened #258 "NullPointerException"
_From @eileenfan on September 10, 2017 11:29_

//package name: org.kiwix.kiwixmobile
//version: 1.96
 java.lang.NullPointerException
 	at org.kiwix.kiwixmobile.KiwixWebView.performLongClick(KiwixWebView.java:176)
 	at android.webkit.WebViewClassic$PrivateHandler.handleMessage(WebViewClassic.java:7402)
 	at android.os.Handler.dispatchMessage(Handler.java:99)
 	at android.os.Looper.loop(Looper.java:

[2017-09-10 12:05] kelson42 commented on #258
@eileenfan I suspect this is with version 2.2?

[2017-09-10 15:51] kelson42 commented on #254
@mhutti1 Could you please give @mgautierfr the revision number you have used for the last beta? So he can go ahead with the investigation?

[2017-09-11 09:49] mhutti1 commented on #254
@kelson42 It crashes for pretty much all recent kiwix-lib versions. Ive been busy this week but will try some more libzim kiwix-build combos tonight.

[2017-09-11 21:46] mhutti1 commented on #254
Its caused by https://github.com/openzim/libzim/commit/aab94db9f49b84f3858a4cb7a9c91001720ee90b#diff-c98a2e52b550f3132937fe9ec8b6cdd0L198 libzims before this commit work. Re adding the big endian check removes the crash but ZIM files can't be read. I suspect the buffer can't handle arm's endiananess.

[2017-09-11 22:26] Xeddius opened #259 "WiFI Hostpot HTTP service mode"
I feel this would be an important and incredibly useful feature given that most android devices can create wireless hotspots that others can connect to. Given the low power consumption of most android devices I feel this could also be helpful in small villages/towns or third world countries where access to more powerful devices is limited and often prohibitively expensive. The desktop edition of K

[2017-09-11 22:47] mhutti1 commented on #259
@kelson42, @Xeddius suggested a wrapper app for kiwix serve using its arm build. Have you thought about this or would it be easier to implement it using kiwix-lib?

[2017-09-11 23:03] Xeddius commented on #259
An example design/layout for a companion app:
![Example Layout](https://i.imgur.com/1RuSjfI.png)

[2017-09-12 04:48] kelson42 commented on #259
@Xeddius How do you transform your mobile device in a WIFI hotspot which route all http requests to the kiwix-serve?

[2017-09-12 05:36] kelson42 commented on #259
@mhutti1 Regarding the implementation, I'm pretty much against a system call to start an external binary. @mgautierfr This might be the ultime reason why to integrate kiwix-serve code - as an option - within the kiwix-lib.

[2017-09-12 08:29] mgautierfr commented on #254
Wow, really interesting.
However, the `fromLittleEndian` function test for endianess before doing any conversion (https://github.com/openzim/libzim/blob/master/src/endian_tools.h#L66-L81). Testing the endianness before calling the function seems counter-productive.

And we've seen that the app crash even without a zim to read (so, without calling this function).

@mhutti1, when you say " Re adding

[2017-09-12 09:42] mhutti1 commented on #254
@mgautierfr

[code]

Does not crash but instead prints to the log that the ZIM file can't be read and doesn't read ZIM files.  Multiple people have now experienced this crash on their devices, some building on their own computers. It seems arm can operate in either endianess. One possibility is the emulator opperates in the oppososite to real devices or contains some kind of flag to tell endianess

[2017-09-12 13:58] mgautierfr commented on #254
It not surprising it cannot read the ZIM file with our patch, if we are in a little endian architecture, the `offset` is never set. And if we are in BigEndian, you create in the `if` block a second variable `offset`, masking the first one, and set the second variable. Once you leave the `if` block and return `offset` you're actually return the first offset not initialized.

You should use somethin

[2017-09-12 14:07] mhutti1 commented on #254
@mgautierfr I tried what you suggested and if I remember correctly it results in a crash.

[2017-09-12 22:04] Xeddius commented on #259
@kelson42 Most android devices can host a wireless access point. Every android device I have owned has had this feature. If you look at the IP of the android device and add the port you can connect to it just like you would when accessing kiwix-serve on a laptop on the local network.

[2017-09-12 22:32] mhutti1 commented on #254
I have confirmed that it doesn't crash without a ZIM file.

[2017-09-13 05:22] kelson42 commented on #259
@Xeddius Is that an Android feature, an external app? What is the exact procedure?

[2017-09-13 16:33] nataren commented on #254
For what is worth, the error I am getting looks like [this](https://gist.github.com/nataren/3731fca8818b5e3927a8ee657d0e9b5b):
[code]
The way I am building the APK is with:
[code]

[2017-09-16 13:21] kelson42 opened #260 "Automatize creation and update of Google Play Screenshot"
This should also allow to have correct localized screenshots.

https://fastlane.tools/ seems to allow to do that.

[2017-09-21 11:17] okkebal commented on #26
This has to do with:
https://github.com/kiwix/kiwix-android/issues/84

[2017-09-21 11:20] okkebal commented on #84
Some mode description of this problem here:
https://sourceforge.net/p/kiwix/bugs/953/

Although that bug is closed because I managed to finally get the indexes to work and work around the bug. Its crazy that without an extra index you have to exactly type "author: Nicola Tesla" to find the article on the famous scientist: so to me that bug should not have closed.

PS: I cannot test the latest nigh

[2017-09-21 15:08] okkebal commented on #84
I manged to install the latest nightly, 21 sept 2017. I directly opened a zim because of the Get Content crash bug. I can verfy that the latest Dutch Wikipedia still cant find emmc knsb, ibm or any of the other abbreviatoons

[2017-09-22 19:41] okkebal commented on #259
This would be a great idea, even without a nameserver. The applications should say something like

---
Kiwix server is now available on: **http://192.168.178.0.1:8080**

To use Kiwix on another phone:
1 Create a wireless hotspot on this phone
2 Connect another phone to your wireless hotspot.
3 Open an internet browser on the other phone
4 In the adress bar type in: _http://192.168.178.0.1:8080_ an

[2017-09-25 14:33] mgautierfr commented on #254
This issue may be related to this bug (kiwix/kiwix-tools#76) and this correction (openzim/libzim#53).

@mhutti1 can you test with the fix once the PR openzim/libzim#53 is merged ?

[2017-09-25 14:36] mhutti1 commented on #254
@mgautierfr Yeah Ill test once its merged.

[2017-09-25 16:39] mhutti1 commented on #254
@mgautierfr It does not fix the bug.

[2017-09-26 13:51] #254 closed

[2017-09-26 15:40] mhutti1 commented on #254
Yes this is fixed :)

[2017-09-27 06:05] Popolechien opened #263 "Kiwix doesn't pick up local connection"
See image: I'm connected to my wi-fi network but Kiwix won't pick it up and connect to the library. Restarting the app won't improve things, however it is not constant: if I try again 10-20 minutes later it may work again (without me having done anything else).

![screenshot_2017-09-27-08-01-07](https://user-images.githubusercontent.com/21675885/30898224-7a03abfe-a35a-11e7-805a-e9d6ea1327e6.png)

[2017-09-27 06:13] kelson42 commented on #263
Looks like a bug even if only sporadic... and difficult to reproduce.

[2017-09-27 06:17] Popolechien opened #264 "Library still lists old zim files"
The library shows an outdated zim file from December on top of the list. This maybe a naming issue as the newer one is named "No Videos"

![screenshot_2017-09-27-08-11-31](https://user-images.githubusercontent.com/21675885/30898404-876ff602-a35b-11e7-9bd2-52e3ec843eb3.png)

[2017-09-27 06:21] kelson42 commented on #264
This is the problem with the library.xml itself as we do not provide anymore (for now) files with everything inside (meant in the past without videos and now with videos) for many wiki. I should probably provide a hack to avoid that. That said, it would be good to change www.kiwix.org to have the link pointing to the _novid_ versions of the files.

[2017-09-27 06:25] Popolechien commented on #264
do you have a generic link so I don't need to update everytime we get a new zim? The website currently points at http://download.kiwix.org/zim/wikipedia_en_all.zim

Should I use http://download.kiwix.org/portable/wikipedia_en_all_novid.zim instead?

[2017-09-27 12:18] Popolechien opened #265 "Split screen crashes secondary app"
Feel free to ask questions, I'm only parroting from OTRS ticket service and will get back to the user if needed:

Problem is on Android 7.1: user says that it "breaks the app" when he tries to do split screen. Here's a small screencap animation that the user sent.

https://drive.google.com/file/d/0B9KLZQhlTuPvRXlnYWY4MVVNaW8/view

This issue is not dependent on which app Kiwix shares the screen wi

[2017-09-28 06:17] kelson42 commented on #265
@Popolechien I do not have a device with Android 7.0, so I can not even try to reproduce that problem. @rashiq @EladKeyshawn @borisfba @mhutti1 @ISNIT0 @julianharty Anyone to confirm?

[2017-09-28 07:05] Xeddius commented on #259
@kelson42 I have to agree with @okkebal. Even without a nameserver it would still be extremely useful. A nameserver wouldn't be impossible, just incredibly difficult, Bind9 has arm binaries.

[2017-09-28 07:06] julianharty commented on #265
I've got devices with android 6 and 8, I should manage to get a device with
7 and will try to reproduce this in the coming days.

On 28 Sep 2017 07:17, "Kelson" <notifications@github.com> wrote:

[2017-09-28 07:35] EladKeyshawn commented on #265
@kelson42 I've have Android 7 i'll try to reproduce

[2017-09-28 11:03] kelson42 opened #266 "Night mode and video doe not work well together"
Videos are also inverted. They should behave like pictures: keep there colors.

[2017-09-28 11:04] kelson42 opened #267 "Opening content after downloading fails with 2.3"
1 - download a content
2 - At the end of the download a dialog appears at the bottom of the screen inviting to open the file
3 - Clicking on "open" generates an error like "file invalid" and the last open file homepage is displayed (instead of the one of the new ZIM file).
4 - Going then to the local library and opening the file works.

[2017-09-28 12:06] mhutti1 commented on #266
That is strange. Should be fixed by adding the video tag to the image tag that we insert custom rules for.

[2017-09-28 12:42] okkebal commented on #84
@kelson42 Please look at this issue

I've read somewhere that Kiwix cannot use internal ZIM indexes if the file is split up. Question: do new ZIM files contain an index jet? What clients support this index? Is there a Windows beta version that works?

I've re-downloaded the ZIM files sothat the files are not in parts, tried the latest nightly (arm64), but the index does not work, nor does search w

[2017-10-01 12:36] kelson42 commented on #266
@mhutti1 Hope this is what you meant https://github.com/kiwix/kiwix-android/pull/269

[2017-10-02 09:53] julianharty opened #272 "Adapting the app to support Background optimizations"
Android 7.x and Android 8 include various changes intended to optimize how apps behave when running the background. These include changes to network traffic, background services, etc. Users can apply most of the restrictions even if the app does not target these releases! so users can choose to affect and constrain the behaviour of Kiwix-Android anyway. So I think it'd be good for us to revise the

[2017-10-04 07:39] #266 closed

[2017-10-04 13:59] julianharty commented on #263
At the moment we display a single error message regardless of the cause of the network problem or error. How about we add some additional information to help at least technical users make better sense of what's going wrong? I'd like to also improve the information displayed for all users, however we'd need to add extra strings and have them translated which put me off doing so at the time.

[2017-10-04 14:02] julianharty commented on #252
Added logging of the OkHttp requests and responses https://github.com/kiwix/kiwix-android/commit/86f0da12c633400a87d40899b38bc7d7576d8271

[2017-10-05 12:24] mhutti1 opened #275 "Get Content opens twice"
Sometimes get content opens twice. One over another meaning you need to select the ZIM file twice.

[2017-10-05 14:07] #267 closed

[2017-10-05 14:59] #232 closed

[2017-10-05 16:05] kelson42 opened #277 "Implement video playing/streaming properly"
Currently the whole video is copied to the device mass storage before being played. Instead this should be streamed directly from the lib zim/kiwix.

[2017-10-05 16:06] kelson42 commented on #277
@mgautierfr Do you confirm lib kiwix/zim git master is ready for that?

[2017-10-06 19:29] okkebal commented on #240
06-Oct-2017 02:24 http://download.kiwix.org/nightly/latest/kiwix-android_arm64-debug.apk

Still crashes on my Huawei P8 when I select get content.

[2017-10-06 20:38] mhutti1 commented on #240
@okkebal So the 64 bit version still crashes?

[2017-10-06 22:59] okkebal commented on #240
@mhutti1 yes, the 64bit version still crashes, just tried the 32 bit version too, and that also crashes

[2017-10-07 22:09] mhutti1 commented on #240
@okkebal I can't reproduce on testdroid. Can you get me a crash report?

[2017-10-08 13:53] okkebal commented on #240
Kiwix just restarts, I dont have the option to mail anything.

[2017-10-08 14:54] mhutti1 commented on #240
@okkebal You have to enable developer mode, get https://developer.android.com/studio/releases/platform-tools.html . Connect your device to your computer and run adb logcat.

[2017-10-08 15:48] okkebal commented on #240
[log.txt](https://github.com/kiwix/kiwix-android/files/1367001/log.txt)

Well I tried. I have USB debugging on, but when I connect a USB cable all kinds of "helpfull" Huawei software starts up called "HiSuite". I think this produces most the loglines. I did this:

c:\>abd logcat >log.txt

Then I crashed the application twice on my phone en attached the log.txt here.

Hope it helps.

[2017-10-09 21:23] mhutti1 commented on #240
@okkebal You log isn't showing a clear crash. What is your exact device version?

[2017-10-10 12:31] okkebal commented on #240
Whats that?

Model number:  HUAWEI GRA-L09
Build number: GRA-L09C432B398
Android version: 6.0

[2017-10-10 12:40] mhutti1 commented on #240
Yeah. I can't reproduce on either of the P8 models online and the crash log does not contain any helpful information. Theres not much more we can do if we can't reproduce or get an actual recorded crash. I don't think the app is crashing. What happens if you try to open the ZIM files from a file manager?

[2017-10-10 13:23] okkebal commented on #240
I can open a ZIM file with ES File manager. Directly open it with Kiwix. Strange enough the ZIM file does not open immediatly. I first see an adress bar that holds the file location at the top. I press the back button (next to the adress at the top) and my Zim file is then opened.

So I can open a ZIM file.

When I go to "Get Content" Kiwix immediately restarts and shows me the open ZIM file again

[2017-10-10 13:24] okkebal commented on #84
In recent builds (nightlies) search is even more broken. This can be seen in WikiSource (latest EN), if you search "a" you will get results. If you search "b" nothing happens, so you can only search stuff that starts with the letter "a"...

[2017-10-10 15:24] mgautierfr commented on #84
I confirm this using `kiwix-serve`.
It is probably not a `kiwix-android` problem but a `libzim` or `kiwix-lib` one.

I'm investigating

No, we are facing a dead end with windows version as xulrunner is abandoned.
We need to rewrite the whole application with a new UI system :/

[2017-10-10 20:55] mgautierfr commented on #84
https://github.com/openzim/libzim/pull/60 should fix some of the issues here.

However, this fixes bugs introduced recently (august 2017).
Older bugs are not especially addressed.
(But a lot of changes have been made on this point recently, maybe they are fixed)

(And I'm testing using `kiwix-serve`, not with `kiwix-android`)

[2017-10-16 06:01] julianharty opened #279 "Travis-CI fails as we don't accept the terms of Google's licenses"
I noticed a build on Travis failed for a minor change (fixing a typo in text).
https://travis-ci.org/kiwix/kiwix-android

See below for the relevant text

[code]
I've not got time to investigate this today, I'll do so in the next few days however anyone else is welcome to address it sooner :)

[2017-10-16 06:09] julianharty opened #280 "Java 8 support is changing in Android SDK's, we need to adapt :)"
While investigating a build failure I also noticed the following warnings.

Google decided to retire their use of Jack (which provided support for Java 8 features) earlier this year. We - like several other Android projects - will need to adapt our build configuration.  e.g. https://developer.android.com/studio/write/java8-support.html

I've taken a quick look at the build.gradle scripts for the a

[2017-10-16 06:36] kelson42 commented on #279
@mhutti1 Seems we need to fix that if we want to get a new build of 2.3 (currently nothing seems to be build at all).

[2017-10-16 09:44] mhutti1 commented on #280
I thought the reason that they retired Jack was that it was made obsolete by its benefits being made default. I'm not sure why they are warning us it is disabled though.

[2017-10-16 09:46] mhutti1 commented on #279
I think this is due to them moving more of the SDK to be available via gradle download. It should be as simple as reaccepting the licence and updating the file that we host on the kiwix.org domain. I will look at tonight.

[2017-10-16 20:09] julianharty commented on #279
@mhutti1 thank you.

BTW: are the good reasons why we don't use one of the many tricks to pipe y to sdkmanager? e.g. see https://stackoverflow.com/a/45782695/340175 and https://stackoverflow.com/a/43672509/340175 for example

https://stackoverflow.com/questions/38096225/automatically-accept-all-sdk-licences

I don't think I have access to write files to our download server otherwise I'd try your a

[2017-10-16 22:02] mhutti1 commented on #279
Its considerably quicker to do it this way when I tested it.

[2017-10-16 22:14] mhutti1 commented on #279
@kelson42 can you replace the contents of  http://download.kiwix.org/dev/android/api/licenses/ with:

8933bad161af4178b1185d1a37fbf41ea5269c55
d56f5187479451eabf01fb78af6dfcb131a6481e

[2017-10-16 22:15] mhutti1 commented on #279
@julianharty it is also recomended by google in their documentation.

[2017-10-17 05:31] julianharty commented on #279
@mhutti1 where? :) and thank you.

[2017-10-17 06:15] kelson42 commented on #279
@mhutti1 done

[2017-10-17 10:21] mhutti1 commented on #279
https://developer.android.com/studio/intro/update.html#download-with-gradle

[2017-10-17 10:21] #279 closed

[2017-10-17 11:36] julianharty commented on #279
I restarted the build on Travis and it now passes :) Well done and thanks all.

[2017-10-22 15:35] kelson42 opened #281 "Being more transparent if an external/Web link is open"
With concerns about customer's mobile data costs, they might not know that this opens an external page and will cost them MBs/$$$ as the switch between the Kiwix "browser" and the Web browser happens smoothly.

It might be good if there was a popup that indicated that they would be opening a Web browser and that this
* will not work if they're offline,
* will cost them data if they are online.

To

[2017-10-24 15:36] Popolechien opened #282 "Error 495 happens when trying to download (Wikimed)"
Am just escalating to an issue as I had several similar reports over the past 72 hours.

[2017-10-24 16:58] kelson42 commented on #282
@Popolechien You mean the download of the Android Wikimed app through the Google Play app?

[2017-10-24 17:05] Popolechien commented on #282
Correct. Normally I don't think the problem is on our side, but just in case to get confirmation next time it's reported to us.

[2017-10-24 17:06] kelson42 commented on #282
Yes, this is the "typical" google play app download problem. Nothing we can really do about it. At least, we do nothing wrong.

[2017-10-24 17:06] #282 closed

[2017-10-25 16:01] mhutti1 opened #283 "Improve testdroid download test reliability"
Sometimes the download test fails on testdroid. I think this is due to a connection problem. We should fix this.

[2017-10-26 12:08] okkebal commented on #84
In recent nightlies of kiwix-android, search does not work better, still no abbreviations are found. Still can't find "IBM" on the dutch Wikipedia.

I see stuff about "find*" in openzim/libzim#60 wich I guess means that the app will only search in title names that start with the keyword. This is not correct behavior. It should be "*find*". If on WikiSource you search for 'Tesla' you especially wan

[2017-10-29 14:26] mhutti1 commented on #240
@kelson42 I think this  might be the bug users in google play are talking about. Trouble is I still have not been able to reproduce it once.

[2017-10-29 15:08] kelson42 commented on #240
@mhutti1 @okkebal We should really try to understand what is going on here. Would a live session (with maybe the android screencast) help to understand the problem? Would that be possible?

[2017-10-29 15:15] kelson42 commented on #240
@julianharty Could you please check you have the last 2.3 build and tell us if you still suffer of the problem. It looks like this is a serious one (many other complain on Google Play) but we still do not have a clue about what is going one here.

[2017-10-29 15:31] mhutti1 commented on #240
Yeah a screenrecording of the crash could be useful.

[2017-10-29 17:07] kelson42 commented on #240
@okkebal We also still have a doubt about the file integrity, could you share with us the md5sum?

[2017-10-29 22:56] mhutti1 commented on #240
@okkebal Could you give a list of ZIM files and also try reinstlaling the app if you havn't done so already.

[2017-10-30 10:19] okkebal commented on #240
[tmp_6572-NewScreenRecording1509357979345.mp4-2026378099.zip](https://github.com/kiwix/kiwix-android/files/1426771/tmp_6572-NewScreenRecording1509357979345.mp4-2026378099.zip)

Atrached is a recording. First Kiwix 2.2, after that the lastest nightly that crashes.

I did manage to crash 2.2 also, but that was due to the English Wikipedia Zim file ( not in parts) it probably had a download error.

I

[2017-10-30 10:46] okkebal commented on #240
[tmp_17484-NewScreenRecording1509360028779.mp4-1506067012.zip](https://github.com/kiwix/kiwix-android/files/1426858/tmp_17484-NewScreenRecording1509360028779.mp4-1506067012.zip)
Notes in next comment

[2017-10-30 10:51] okkebal commented on #240
About the second screen recording:

- I removed ALL Kiwix files from my device.
- First you see the wonderfull scan feature of Kiwix 2.2 scanning the device and not finding any Kiwix files. BTW I hate this scanning feature since it is so slow. I much prefer it if you could disable it and just manually add the Kiwix files to your list ala Aarddict 2.

- So you can see that after forever Kiwix 2.2 f

[2017-10-30 10:54] okkebal commented on #240
PS: I have a 200 gb MicroSD card with hunderds of thousands of files....

[2017-10-30 18:42] kelson42 commented on #240
@okkebal Thx for this detailed feedback, this is really interesting to see that the app crash also without ZIM file. Could you also publish the Android log please? We have to see here the details of the crash.

[2017-10-30 19:29] kelson42 commented on #240
@okkebal We have also release a new version of the 2.3 APK with a more recent version of the C++ kiwixlib http://tmp.kiwix.org/kiwix_2.3_head_kiwixlib.apk. Could you also please try it?

[2017-10-31 13:12] okkebal commented on #240
Oke I tried the new version kiwixlib, but no change.

I did the "adb logcat" thing again. I don't know what I am doing here, but here is the log attached again.

I see it says something in my settings about 'debugging a program installed by ADB'. I don't know what that means but I am pretty sure I did not use "adb" to install anything, since I used an APK. Maybe thats why it does not work.
[kiwix.

[2017-10-31 13:13] okkebal commented on #240
So I installed the APK, unzipped the 'platform tools' enabled 'developer mode' on my phone, enabled 'usb debugging' on phone and then I did 'adb logcat >kiwix.log' in Windows.  Just to be clear.

[2017-10-31 13:14] okkebal commented on #240
Oh yeah, and I then crashed the app like 4 times on my phone and hit ctrl+break on windows.

[2017-11-01 00:10] mhutti1 commented on #240
So from the log there are two suspicious items. Once appears to be a webview chrome crash. One is a system error. Neither have stack traces or any useful information whatsoever. @okkebal Could you try adding the app to https://android.stackexchange.com/questions/152649/what-is-protected-apps-in-huawei-phones and see if that makes a difference.

[2017-11-01 07:48] okkebal commented on #240
The appkiller never closes foreground apps. Adding it to protected apps does nothing.

Dont I need to use some Windows commandline command to install the app instead of just opening the apk on the phone?

[2017-11-01 16:09] mhutti1 commented on #240
@okkebal The app is installed and it should be outputing error messages to the log. Have you tried adding it to protected apps? If you have and it doesn't change anything i suggest the next issue could be the webview. Could you disable chrome in the app settings. This should reset you to the default android webview. Then try the app again and post a log.
[code]

[2017-11-01 22:00] okkebal commented on #240
I have added Kiwix to the protected apps. It does not work.

Chrome is not webview. I've uninstalled Chrome just to be sure. Same issue.

I have the latest Webview for my device installed. I have also tried resetting webview to the factory version (uninstalled the updates) but the problem remains.

[2017-11-01 22:13] okkebal commented on #240
Also tried disabling Android System Webview altogether. But still the same problem.

I've seen some different crash behaviour.

Most of the times its like in the screenrecordings: Kiwix restarts.

Sometimes Kiwix does not restart, it just quits. Gone, you're back at the Home Screen.

Sometimes the app freezes and after a while android asks to either wait or quit the app, because it is no longer re

[2017-11-01 22:30] mhutti1 commented on #240
@okkebal Can you get me some locks using http://download.kiwix.org/nightly/2017-09-30/kiwix-android_arm-debug.apk It should have debug symbols that might identify a native crash.

[2017-11-02 02:32] julianharty commented on #240
Some logs, rather than locks :)

On 2 Nov 2017 07:30, "Isaac Hutt" <notifications@github.com> wrote:

[2017-11-02 18:04] dbedrenko commented on #153
Any status update on this? Otherwise, could I get a hint of where in the code I should even look to find the problem? Should I be fixing this in the Android port or in the "core" libs?

I just got a 128GB microSD JUST so that I could have wikipedia with pictures, and it's useless when they are inverted.

[2017-11-02 18:24] kelson42 commented on #153
@dbedrenko Which version of Android do you have?

[2017-11-02 18:34] dbedrenko commented on #153
Full specs:
[code]

I bought this tablet exclusively for reading, so you can bet your chops I'm motivated to find a fix for this :)

[2017-11-02 19:19] mhutti1 commented on #153
It seems the problem is that our current solution https://github.com/kiwix/kiwix-android/blob/master/app/src/main/java/org/kiwix/kiwixmobile/ZimContentProvider.java#L457 does not work on earlier android versions I assume because of the webkit version. We need to come up with an alternative to invert the image colours that does.

[2017-11-03 09:48] okkebal commented on #240
The link is broken. I used this link: http://download.kiwix.org/nightly/2017-11-02/kiwix-android_arm-debug.apk

So I used the 32 bits version this time, since you seem to point me toward that.

[kiwix-new.log](https://github.com/kiwix/kiwix-android/files/1440585/kiwix-new.log)

[2017-11-05 00:28] mhutti1 commented on #240
@okkebal I have disabled the c++ backend and created a build. https://drive.google.com/open?id=0Bwjmzre_HGWzS2tfMUk5X1MxN00 Can you download and see if it still crashes?

[2017-11-05 13:33] okkebal commented on #240
It works! It no longer crashes!!

[2017-11-05 13:52] mhutti1 commented on #240
@okkebal ok I will create 2 new builds once I get home. One control with the build system I used and one with some of the C++ enabled and some disabled.