[2020-11-04 12:20] gouri-panda commented on #2331
I'm taking this up since @tdopires isn't available.

[2020-11-04 12:23] gouri-panda commented on #2331
@macgills I am waiting for #2460 to complete. It will be easier to finish. Is that ok?

[2020-11-04 17:58] s-ayush2903 commented on #2068
@kelson42 Well, I believe that people who have contributing for some long time to the project should not take up/fix the `good-first-issues` as I don't want to real beginners to struggle with our project. If I or anyone(who has been contributing to the project for some time) take up and finish all the low hanging fruits then it would become nearly impossible for beginners in on-boarding to our pro

[2020-11-04 18:10] gouri-panda commented on #2475
@macgills I can't reproduce this issue. Can you tell me how to find this bug?

[2020-11-04 18:17] s-ayush2903 commented on #2475
Open the Bookmarks screen from sideNav and look at the toolbar, that'd suffice.

[2020-11-04 18:29] gouri-panda commented on #2475
D'oh, I thought about web page titles. Thanks!

[2020-11-04 18:30] gouri-panda commented on #2475
@kelson42 Should we hotfix this now or wait for newcomers?

[2020-11-05 09:23] macgills commented on #2331
works for me

[2020-11-05 10:14] macgills commented on #2475
It isn't urgent? It would be nice to fix though. New contributors are also difficult to predict, though we are coming to a period of colleges closing for the season which could lead to an uptick? Depends what yourselves want to work on and if ye have enough on your plate at the minute

[2020-11-06 07:11] AmeyaPhadnis-2019H1030012G commented on #2475
Can I work on this issue, I am new to open-source and looking forward for opportunities to contribute

[2020-11-06 07:59] gouri-panda commented on #2475
@AmeyaPhadnis-2019H1030012G sure! please go ahead. Let us know your progress!

[2020-11-06 11:10] #2359 closed

[2020-11-06 11:42] #2471 closed

[2020-11-06 20:10] s-ayush2903 commented on #2093
@kelson42 If you allow I would like to fix it. This sounds to be a nice feature.

[2020-11-07 11:41] kelson42 commented on #2475
This is definitly a regression, should be easy to fix by looking at older revision.

[2020-11-07 17:21] gouri-panda commented on #2475
@AmeyaPhadnis-2019H1030012G How is your progress?

[2020-11-07 19:52] ilyapashuk opened #2480 "can't download or open wikipedia"
**Describe the bug**
if I try download full wikipedia, I'm getting unabletodownload mark, but I have enough space. If I try to download it from pc and open in FileManager, app hangs.

android 9, samsung galaxy a 30, last kiwix from android, last wikipedia.
with text only version all works fine.

[2020-11-07 21:44] s-ayush2903 commented on #2480
@ilyapashuk Thanks for reporting. If you give us the recording in which you can depict the problem being encountered by you, it'll help us diagnose it smoothly and then propose a valid fix.

[2020-11-07 21:44] s-ayush2903 commented on #2480
@ilyapashuk Thanks for reporting. If you give us the video recording in which you can depict the problem being encountered by you, it'll help us diagnose it smoothly and then propose a valid fix.

[2020-11-09 08:16] macgills commented on #2475
the fix is quite simple, I had a look to the file and misuse of a scope function means an variable outside the scope is not being used where it should be on account of it  being shadowed by a property in scope.

[2020-11-09 08:24] macgills commented on #2480
@ilyapashuk

Is the list item greyed out? You can long click these cells and then a message will show telling you why it is greyed out. Potentially this is just because we are trying to figure out the filesystem and this unfortunately can take some time

If you have transferred the file from your pc via sdcard I would recommend you launch Kiwix and then the scanning feature of the app should find

[2020-11-09 08:34] gouri-panda commented on #2475
since there is no feedback from @AmeyaPhadnis-2019H1030012G . I am taking this.

[2020-11-09 09:37] #2475 closed

[2020-11-09 10:06] macgills opened #2482 "Crash Report 3.4.1: IllegalArgumentException org.kiwix.kiwixmobile.core.main.CoreMainActivity.navigate"
**Describe the bug**
[code]

![image](https://user-images.githubusercontent.com/3358282/98527701-40485e00-2273-11eb-9440-9e7f4672b7af.png)

[2020-11-09 10:07] #2468 closed

[2020-11-09 11:21] gouri-panda commented on #2482
relate to #2435 #2469

[2020-11-09 16:18] ilyapashuk commented on #2480
I know that my fs can create such files, so how I can forceably make it to work out from this fact.

[2020-11-10 09:40] macgills commented on #2482
I don't think it is? This is an actual full on crash as reported in analytics

[2020-11-10 09:45] gouri-panda commented on #2482
@macgills Due to navigation these mention issues are occuring I think.

[2020-11-10 09:57] macgills commented on #2480
If you leave the app open on the download section for several minutes it should figure this out (if you have your preferred storage set to external) and once it figures it out once it will then cache the result in a file on your external drive to avoid repeating this lengthy check. It would also be possible to trick the detection system by manually adding this file but it is not a path I would rec

[2020-11-10 10:19] macgills commented on #2482
[code]

yes, there is no question of that. It is not related to memory leaks however

[2020-11-10 14:04] s-ayush2903 opened #2484 "CI: Upload Build APKs as Artifacts at GH-Actions"
**Is your feature request related to a problem? Please describe.**
As of now, to test the app on various online emulators, we need to build APK of the concerned module locally from AS and then use it. Doing so takes time, so it'll be better if we associate APK build and uploading as artifacts to GH Actions with each merge-commit and/or Pull Request.

**Describe the solution you'd like**
A new job

[2020-11-10 18:11] s-ayush2903 opened #2486 "CI: Upload CI check Reports to GH-Actions"
**Is your feature request related to a problem? Please describe.**
Upload the reports of following to GH-Actions:
* Static Analysis
* UnitTests' Report from Codecov
* Instrumentation Tests' Report from Codecov

**Describe the solution you'd like**
New jobs/steps at concerned sites.

**Describe alternatives you've considered**
No other alternatives I have currently.

**Additional context**
To enhan

[2020-11-11 09:05] macgills opened #2488 "Investigate nightly issue on API 27"
**Describe the bug**
The nightly instrumentation tests have been failing consistently on API 27
[code]

**Expected behavior**
test should stop crashing

[2020-11-11 09:13] kelson42 commented on #1447
Here the libkiwix related feature request: https://github.com/kiwix/kiwix-lib/issues/423

[2020-11-11 09:13] kelson42 commented on #56
Here the libkiwix related feature request: https://github.com/kiwix/kiwix-lib/issues/423

[2020-11-11 09:39] Popolechien commented on #2408
Ok, user wrote back saying he was deleting files that he didn't know were needed o_0
Case closed.

[2020-11-11 09:39] #2408 closed

[2020-11-11 16:24] ilyapashuk commented on #2480
now I downloaded one small package from the app and than reset data of the app in the settings.
and app found nothing, but content file was not deleted, so your scanning system is not working.
if I try to open zim in filemanager, I get error about that the app for such file type not found, or app hangs forever.

please add menu item to open the saf window and find file from it in app directly.

[2020-11-12 09:41] macgills commented on #2480
Have you tried uninstalling the app and on a fresh install trying to download a relatively small file to your internal storage through the app? I would like to try and verify the basic functionality is operational in your environment.

I would avoid trying to open a zim through the file explorer for the time being.
What I alluded to previously was if your sd card is preoccupied with us trying to f

[2020-11-12 11:08] macgills opened #2489 "Improve speed of commit hook by removing lint"
**Is your feature request related to a problem? Please describe.**
Commits take too long leading contributors to default to the `--no-verify` option

**Describe the solution you'd like**
Only keep detekt and ktlint in the hook which are relatively very quick steps that avoid full compilation

[2020-11-12 11:18] macgills opened #2490 "Crash Report 3.4.1: IndexOutOfBoundsException CoreReaderFragment.restoreTabs"
**Describe the bug**
[code]

![image](https://user-images.githubusercontent.com/3358282/98933622-cd402100-24d8-11eb-8c8d-e24065a66614.png)

[2020-11-12 15:25] ilyapashuk commented on #2480
uninstalling, using internal storage, opening small zim's in explorer, I tried all, and your scanner is not working in all cases, app detects only zim's which downloaded, but ignores them after reset.

4gb detection works fine.

[2020-11-13 00:59] s-ayush2903 commented on #2488
Feels like this is causing the crash
|Maybe error prone|
|--|
|![danger](https://user-images.githubusercontent.com/56556919/99014757-5e66d480-2579-11eb-99aa-049da0066291.png)|

Writing it in null-safe format may fix the issue.

[2020-11-13 01:03] gouri-panda commented on #2488
@s-ayush2903 I think crash is happening here. Here manager gets null.

[2020-11-13 05:47] s-ayush2903 commented on #2488
Ah the stupid me. Thanks for helping though.

[2020-11-13 09:22] #1351 closed

[2020-11-13 09:30] s-ayush2903 opened #2492 "CI: Old runner version causes errors in Nightly Runs"
**Is your feature request related to a problem? Please describe.**
The current version `2.2.0` creates error for removal of `add/set-path` command

**Describe the solution you'd like**
Updating the emulator-runner version from Reactive-Circus

**Describe alternatives you've considered**
Updating the runner version is the unique solution to this problem

**Additional context**
Failures in [this](ht

[2020-11-13 09:35] macgills commented on #2480
`reset` could be deleting our files as they are stored internal to the app? Definitely wiping the database that backs the library list, when downloading from our app a successful download inserts into that database. I wonder if the file scanner is throwing an exception? Have you tried downloading zim files(via browser, torrent, etc) to your internal storage, without an sd card inserted? It would b

[2020-11-13 09:45] #2484 closed

[2020-11-13 09:47] #2490 closed

[2020-11-13 09:57] #2492 closed

[2020-11-13 10:21] gouri-panda commented on #2447
@s-ayush2903 Are you planning to work on this?

[2020-11-13 10:43] #2486 closed

[2020-11-13 11:04] kelson42 commented on #2469
@gouri-panda Thank you for for reporting/working on this issue. Memory leaks is really something we should make an effort to fix them.

[2020-11-13 11:05] gouri-panda commented on #2469
@kelson42 thank you!

[2020-11-13 11:40] gouri-panda commented on #1420
@macgills What should we do with this PR?

[2020-11-13 11:41] gouri-panda commented on #2445
@macgills Option 1 sounds good. Should I start working on this ticket?

[2020-11-13 11:49] macgills commented on #2303
It is clumsy and ugly but I am pushing up a draft PR that launches a page on the open of a zim that performs unregistration and calls back to our code to proceed to mainpage, from what I can tell from minor testing it works with that small war2c file and 3d printing stack exchange. Would not be possible without the heroic efforts of @rgaudin

[2020-11-13 11:50] macgills commented on #1420
I am happy to close as I am content with the current functionality

[2020-11-13 11:50] #1420 closed

[2020-11-13 11:52] macgills commented on #2445
make a sub ticket for a coroutines rewrite would be best I think

[2020-11-13 12:05] gouri-panda commented on #1948
@4shutosh How is your progress?

[2020-11-13 13:47] gouri-panda opened #2496 "Show Download list in separate Screen"
**Is your feature request related to a problem? Please describe.**

It would be ideal if we show users a separate screen for downloading content(Zim files). Therefore they will know what content are they downloading on one screen and they can easily pause or stop the downloading content.

**Describe the solution you'd like**
It will be much better if we add a new screen for downloading content.

*

[2020-11-13 13:53] kelson42 commented on #2496
It was before in a separate screen. I think the current setup is better and it was requested.
I would like to know which problem this ticket is suppose to fix... Or why we need an improvement?

[2020-11-13 14:07] gouri-panda commented on #2496
Now if a user downloading multiple files if he wants to cancel a downloading file then he has to scroll the list where he found the item also we can save the download list and if the user wants to download a file again we can easily download for them.

[2020-11-13 14:10] kelson42 commented on #2496
I agree with the probelm description. But I believe having a section gathering current downloads at the top is a far better idea to solve it.

[2020-11-13 14:12] kelson42 opened #2497 "Remove empty/white sidebar"
In the library/downloads view, if we swipe left on the right border and empty sidebar appears. It should not be displayed.

[2020-11-13 14:13] kelson42 commented on #2497
@gouri-panda Maybe you could have a look to this bug please? That would be helpful to avoid this dirty behaviour.

[2020-11-13 14:19] gouri-panda commented on #2496
Yes if we can show the download list on the download fragments top then that would be awesome!

[2020-11-13 17:41] 4shutosh commented on #1948
Hey, @gouri-panda sorry for the delay. I am stuck on an error seeking help from sean. I've done a no verify commit on a branch [here](https://github.com/4shutosh/kiwix-android/tree/all_notes_page). Will update you soon.

It will be great if you too take a look and help me with the errors.

[2020-11-13 18:36] gouri-panda commented on #1948
@4shutosh Thanks for updating. You can make a pull request in the draft and then we can help you with that.

[2020-11-14 07:11] kelson42 commented on #2482
Does that happens often? It seems complex to fix as well. Should we not move this to next 3.5 milestone?

[2020-11-14 07:15] kelson42 commented on #2437
@BBT-SeanMacGillicuddy Do we really need that for 3.4?

[2020-11-15 17:49] s-ayush2903 commented on #2447
Yeah, it is in my list

[2020-11-16 07:42] macgills commented on #2496
I think we will want to move active downloads to library, when thinking about how the app will work with the OPDS endpoint I think it is the least confusing as you could start searching for something separate from the file you just clicked download on and with this solution it would still be present. Doesn't feel very tidy to me but I could be convinced

[2020-11-16 07:59] macgills commented on #2437
no, only a nice to have that I thought would be easy and quickly wasn't

[2020-11-16 08:40] gouri-panda commented on #2435
**Scenario 2**
* Open Library Fragment
* Tap the share button on the upper right corner
* Search the wifi
* Go back until you reach the home screen

[2020-11-16 09:26] abdulwd commented on #2496
As Emmanuel said, it was in a separate screen before. Personally, I prefer the current UI.

[2020-11-16 18:03] ilyapashuk commented on #2480
reset don't delete zim files
without sd it detects files on internal storage, but with sd inserted it detects nothing but opens already detected files.
sd is formatted by system's tools and contains nothin but this wikipedia.

I think it may be because android_secure file or folder exists, may be app tries to access it.
please rewrite scanning service so that it will ignore uncritical errors like

[2020-11-17 09:29] macgills commented on #2480
Have you sent me a diagnostic report? Until I get logs then this is mostly speculation and I would like to arrive at concrete solutions from reliable data

[2020-11-17 11:00] #2435 closed

[2020-11-17 11:21] gouri-panda opened #2501 "NestedCoordinatorLayout is leaking"
**Describe the bug**
NestedCoorinatorLayout is leaking

**Expected behavior**
Memory leak shouldn't happen

**Steps to reproduce the behavior:**
* Open Library Fragment
* Tap the share button on the upper right corner
* Search the wifi
* Go back until you reach the home screen

**Screenshots**
<img width="313" alt="Screenshot 2020-11-17 at 4 47 24 PM" src="https://user-images.githubusercontent.com

[2020-11-17 11:25] gouri-panda opened #2502 "ZimManagerViewModel is leaking"
**Describe the bug**
ZimManagerViewModel is leaking

**Expected behavior**
Memory leak shouldn't happen

**Steps to reproduce the behavior:**
* Open Library Fragment
* Tap the share button on the upper right corner
* Search the wifi
* Go back until you reach the home screen

**Screenshots**
<img width="313" alt="Screenshot 2020-11-17 at 4 52 57 PM" src="https://user-images.githubusercontent.com/43

[2020-11-17 11:28] s-ayush2903 commented on #2501
@gouri-panda What do you think if we have a parent issue for memory leaks as well from where we can further reference all the memory leak issues? I mean quite similar to that of what we have for converting Java files to kotlin, doing so will help keeping track of leaks fixed. Thoughts?

[2020-11-17 11:30] macgills commented on #2501
I am fine with an issue per leak, the kotlin conversion task was just a way of allowing autonomous work by new contributors.

[2020-11-17 11:31] gouri-panda commented on #2501
yes, that's a fantastic idea! I leave it to @macgills @kelson42

[2020-11-17 11:35] s-ayush2903 commented on #2501
Okay, I meant a big issue and creating minor issues like "this part is leaking" and referencing the major issue in the smaller ones, just an idea, nothing else

[2020-11-17 11:40] macgills commented on #2501
We don't want an eternal task ever, ideally we eventually get this repo down to 0 open issues. We should only go multi ticket when we are decomposing a very large yet finite task and even then tags are probably a better mechanism to achieve this. When a leak is detected we should create a ticket to fix that leak and I don't particularly see the benefit of having a history of our leaks fixed refere

[2020-11-17 11:42] s-ayush2903 commented on #2501
Now this makes it as clear as today's sky.

[2020-11-17 11:45] #2488 closed

[2020-11-17 12:18] #2469 closed

[2020-11-17 18:01] ilyapashuk commented on #2480
How I can get such data? How I can make this app to generate logs?

[2020-11-18 09:05] gouri-panda commented on #2385
@s-ayush2903 Nowadays I am not encountering this problem very often. Sometimes the download fragment has loaded and sometimes it doesn't but before that, it only loads in the mid/late night.

[2020-11-18 09:11] macgills commented on #2480
On Library/Reader/Download click on the drawer icon in the top left to open the nav drawer, help is in there

![image](https://user-images.githubusercontent.com/3358282/99509647-f0a61880-297d-11eb-90e1-75006653d060.png)

and inside Help is "Send Diagnostic report"

[2020-11-18 10:55] macgills commented on #2303
I am encountering issues opening new tabs and with the opening of epub/pdfs from bouquineux. @kelson42 can you refresh my memory on what standard zim file contains epubs/pdfs? Just so I can validate our existing functionality works. It seems likely I will have to extract our common functionality around overriding URL loading to be shared among normal loads and SW loads, there are some challenges

[2020-11-18 11:36] macgills commented on #2303
### Standard zim
HTML
[code]
long clicking to open in a new tab uses
[code]
normal clicking to open in the same tab uses
[code]

### War2c zim
HTML
[code]
long clicking to open in a new tab uses
[code]
normal clicking to open in the same tab uses
[code]

@rgaudin @kelson42 any ideas on why the long click url is so bizarre?

[2020-11-18 11:38] #2497 closed

[2020-11-18 11:48] rgaudin commented on #2303
Pinging @ikreymer

[2020-11-18 12:01] macgills opened #2504 "Uploads of Reports on github actions should happen even on failure"
**Is your feature request related to a problem? Please describe.**
for failed runs we do not get reports

**Describe the solution you'd like**
update the relevant upload steps to use
[code]

[2020-11-18 12:15] gouri-panda opened #2505 "Refactor Rxjava to coroutines in FileSearching"
**Is your feature request related to a problem? Please describe.**
Currently, we are using Rxjava for file searching. It would be great if we convert Rxjava to coroutines.

**Describe the solution you'd like**
Replace all the Rxjava methods with coroutines.
**Parent issue**
#2445

[2020-11-18 12:16] kelson42 commented on #2505
@macgills Can you please validate the idea? Why should we do that?

[2020-11-18 12:18] macgills commented on #2505
I have approved it in the parent issue, coroutines are faster, easier to work with and more easily interruptible, stopping wasted cycles.

[2020-11-18 12:52] ilyapashuk commented on #2480
[Hi.txt](https://github.com/kiwix/kiwix-android/files/5560080/Hi.txt)

[2020-11-18 12:53] ilyapashuk commented on #2480
When i'm opening something from internal storage without sdcard, all works fyne, but when I mount sdcard, nothing works.
formatting don't help.

[2020-11-18 13:30] s-ayush2903 commented on #2505
I would like to work on this issue

[2020-11-18 13:33] gouri-panda commented on #2505
@s-ayush2903 sorry, I am already start working on this.

[2020-11-18 13:36] s-ayush2903 commented on #2505
Ah, fine then. But if we have any new issue on coroutines, I would like to work on it, I wanna learn implementing 'em efficiently

[2020-11-18 13:40] gouri-panda commented on #2505
@s-ayush2903 I don't think we have any new issue on coroutines. But if you like you can create new issues. Perhaps @macgills can help you with that.

[2020-11-18 13:57] s-ayush2903 commented on #2505
A big thanks for your help! I'll create issues regarding the same after consulting the seniors and you, thanks again!

[2020-11-18 16:15] ikreymer commented on #2303
I'm not sure what long clicking is (loading without sw?) but these are the raw URLs loaded from the ZIM that the service worker would load.

I have a suggestion in general. I think this issue could perhaps be resolved more easily by using unique paths for each ZIM file, similar to what kiwix-serve does.

Instead of loading from `https://kiwix.app/`, could kiwix-android load from the `https://kiwix

[2020-11-18 19:19] rgaudin commented on #2303
@ikreymer this was an early suggestion of course that's been ruled out by the way the codebase works. @macgills investigated that and said it's not really doable at the moment.

[2020-11-19 07:30] gouri-panda opened #2509 "Kiwix app doesn't launch"
**Describe the bug**
I was using the application. After some time it didn't launch even after clearing the cache.

**Expected behavior**
The application should be launch.

**Steps to reproduce the behavior:**
Don't know

**Environment**
- Version of Kiwix Android : develop
- Device : realme
- OS version : 10

**Logs**
I hope [this](https://drive.google.com/file/d/150EfFo_j3-SIhYlJROtUhK75vaqEiATl/

[2020-11-19 08:59] macgills commented on #2480
You are not using our most recent version, could you upgrade to 3.4.1 and confirm the issue still persists?
[code]
your secondary storage is reporting as `sdfat`. Judging by the `magisk` mount points you are running a rooted device? What OS are you running?

[2020-11-19 09:03] macgills commented on #2509
This sounds like a development issue not an app issue, you should be able to see a clear cause in logcat

[2020-11-19 09:09] gouri-panda commented on #2509
@macgills unfortuantely I wasn't debugging this time. I am not sure what was causing that issue.I'm still confused about this issue. It's up to you now for closing this issue ;)

[2020-11-19 09:15] kelson42 commented on #2303
@macgills If there is an agreement over this ticket's participants that the zimfile id in the URL would help, would you be able please to open a ticket dedicated to that and explain the why? how? etc?

[2020-11-19 09:16] macgills commented on #2303
It wasn't doable easily, if I implement that I then also basically implement multiple zims open simultaneously, which would be great, just very costly in time which I am in short supply of. It would be a lot better but these issues would still persist

[2020-11-19 09:17] kelson42 commented on #2303
@macgills ah ok, then this is the multzim ticket.

[2020-11-19 09:29] macgills commented on #2303
if the user long presses on a link on their mobile device it triggers this code in the webview

[code]
where `result.extra` is a string containing the url of the content that has been pressed
Next we show a dialog asking if the user wants to open this link in a new tab, they click yes, hey presto new tab with hopefully correctly loaded content.

However trying to load `https://kiwix.app/A/mp_/http

[2020-11-19 09:32] macgills commented on #2509
If it is throwing an exception at startup this crash would be visible if you just connected to a computer and had android studio running, debugging is not necessary. I will close this as it is at the moment unactionable, if you discover a bug and have a trace we can reopen/rewrite this ticket or just make a new one

[2020-11-19 09:32] #2509 closed

[2020-11-19 10:39] macgills commented on #2299
We have a separate ticket to upgrade AGP so I am hijacking this ticket to bump our libraries

[2020-11-19 11:16] #2504 closed

[2020-11-19 16:14] ilyapashuk commented on #2480
3.3.1 is the last version that is available on your fdroid.

I'm sorry, but I don't using gapps.

[2020-11-19 16:17] ilyapashuk opened #2513 "version on fdroid older then gp version"
In fdroid, last package is 3.3.1, september 9, but in gp it is october 16

[2020-11-20 07:45] kelson42 commented on #2513
@macgills How reasonable it is to consider this as duplicate of #1682 (3.5)?

[2020-11-20 09:17] macgills commented on #2480
https://github.com/kiwix/kiwix-android/releases you can get the latest version directly off github, I'd try the arm64-v8a version first. I'll work on updating fdroid

[2020-11-20 09:20] macgills commented on #2513
I can do a manual release, the automation of the release is still not there, I don't think we have decided on where to host the file that fdroid needs to read?

[2020-11-20 10:34] macgills commented on #2513
https://gitlab.com/fdroid/fdroiddata/-/merge_requests/7753 up to fdroid maintainers now

[2020-11-20 10:45] s-ayush2903 commented on #2447
Okay, so on diagnosing, the call from the corresponding method works as expected, but the problem is that the server UI isn't being updated, means the server caches the previously hosted books despite the new list of books sent to it.
|Logs that show only the selected books are being sent to server|
|--|
|![cap](https://user-images.githubusercontent.com/56556919/99791252-627f8d00-2b4b-11eb-96e8-55

[2020-11-20 10:49] macgills commented on #2447
keep following the data

[code]

[2020-11-20 11:08] s-ayush2903 commented on #2447
What do you mean, can you please throw some light?

[2020-11-20 11:11] macgills commented on #2447
`startService` is called with the action `ACTION_START_SERVER` so I pasted the code in HotspotService that gets invoked by this call. If you have eliminated the possibility that we are sending bad data then the error must lie somewhere where we receive the data

[2020-11-20 12:02] macgills commented on #2303
I think opening epubs/pdfs from a zim in an external application was an unwitting sacrifice when we moved away from the content provider. So I can compartmentalise that away as a separate issue for the time being. Should be noted that in a non SW zim that has epubs ie Project Gutenberg, that even with multiple epub apps installed it is not resolving the intent such that it even attempts to open an

[2020-11-20 12:05] macgills commented on #1245
We did this, hooray

[2020-11-20 12:05] #1245 closed

[2020-11-20 12:08] macgills opened #2514 "Pressing back from Bookmarks/History always goes to Library"
**Describe the bug**
When navigating back from bookmarks/history you don't arrive at Reader/Downloads if you navigated from there

**Expected behavior**
Pressing back should return you to where you were previously

**Steps to reproduce the behavior:**
1. Click Reader
1. Navigate to Bookmarks
1. Press back
1. See you are on Library

[2020-11-20 12:12] s-ayush2903 commented on #2514
I would like to work on this issue

[2020-11-20 12:14] kelson42 commented on #2303
@macgills Yes, please open a dedicated ticket for EPUP/PDF with all the necessary details. For me, it was working after #121 was fixed... so it seems this is not that easy. Put it in 3.5 milestone.

I propose as well to open a ticket for the long click with SW ZIM files and postpone its fix to 3.5 milestone.

[2020-11-20 17:54] ilyapashuk commented on #2480
after update it started work instantly.

I think it is more simple to track releases on both markets then work with such issues.

[2020-11-20 17:54] #2480 closed

[2020-11-20 18:07] rutvik-panchal opened #2515 "Messages displayed should be consistent"
**Describe the bug**

The message's displayed on open books and no files in downloads is not consistent.

**Expected behavior**

The message's displayed should be consistent in terms of their placement, typography and spacing.

**Steps to reproduce the behavior:**

Close and delete all the books

**Screenshots**

<img width="50%" src= "https://user-images.githubusercontent.com/39809059/99834092-0a

[2020-11-20 18:08] rutvik-panchal commented on #2515
@macgills I would like to work on this issue.

[2020-11-23 07:14] macgills commented on #2515
You are assigned, looking forward to a PR

[2020-11-23 07:15] #2299 closed

[2020-11-23 08:15] macgills opened #2516 "Target Android 11 before November 2021"
**Is your feature request related to a problem? Please describe.**
To continue to update kiwix we will have to target Android 11 and consequently SAF. https://android-developers.googleblog.com/2020/11/new-android-app-bundle-and-target-api.html

[2020-11-23 08:32] macgills opened #2517 "Can't open EPUB/PDF from Project Gutenberg in external app"
**Describe the bug**
Clicking on an epub/pdf fails to open it in an external application, instead showing a toast "Could not find an installed application for this type of file"

**Expected behavior**
Epubs/pdfs should be openable in other reader apps

Also of note is this may be due to the deletion of the contentprovider, this may need to be reintroduced explicitly for epub/pdf files

[2020-11-23 08:39] macgills opened #2518 "ServiceWorker does not support opening epubs/pdfs in external apps"
**Describe the bug**
Our service worker client needs to share the capability to open epubs/pdfs that already exists in our WebViewClient

**Expected behavior**
Click a pdf/epub link in bouquineux and have it open in an external application

[2020-11-23 08:42] macgills opened #2519 "Long clicking to open in a new tab does not work with service worker"
**Describe the bug**
see [comment](https://github.com/kiwix/kiwix-android/issues/2303#issuecomment-729622213)

**Expected behavior**
Bug free tabs

[2020-11-23 13:10] kelson42 opened #2520 "Kiwix uses mobile data without asking"
Steps:
* Mobile only with data / no WIFI
* Install Kiiwx
* Go to library download tab

You get
* You see the content of the catalogue available for download

You should get:
* A dialog inviting to deactivate "Download content only via Wifi"

Remark:
I believe there is/was something unclear around catalogue/content. The feature "Download content only via WiFi" seems to work fine for downloading ZIM

[2020-11-24 08:36] Popolechien opened #2522 "Improper display of wikitables"
Not entirely sure if this is a mwoffliner or android issue, but here we go:
https://library.kiwix.org/wikiversity_en_all_maxi_2020-10 looks fine on Kiwix-serve, but there is a serious display issue on the android landing page (and presumably elsewhere):
![wikiversity](https://user-images.githubusercontent.com/21675885/100068349-b1713f00-2e37-11eb-8b41-9f90e178504e.jpg)
![image](https://user-images

[2020-11-24 11:59] macgills commented on #2385
Have encountered this issue
[code]

I was not receiving the list and had inadvertently connected to my wifi extender that was complaining it wasn't connected and returning the above garbage html. The non strict nature of the serialiser was permitting a malformed object through and causing a failure when we tried to offer an item. Enforcing the strictness allowed the retries to perform and fail gra

[2020-11-24 17:05] kelson42 commented on #2522
I believe this is a problem with mwoffliner

[2020-11-24 17:05] kelson42 commented on #2522
/move openzin/mwoffliner

[2020-11-24 17:06] kelson42 commented on #2522
/move openzim/mwoffliner

[2020-11-24 17:07] #2522 closed

[2020-11-25 08:55] #2385 closed

[2020-11-25 10:01] macgills commented on #2520
The current logic behind requesting the library is
"When our request stream emits and our internet connection stream emits CONNECTED then perform a library GET" Note: after both of these streams emit then an emission of either will cause a fetch.

The "request stream" starts with a request loaded in the chamber so upon creation of our ViewModel (if we are connnected to the internet) a fetch occurs

[2020-11-25 10:17] macgills commented on #2520
My only concern over the dialog is that since the request is performed in the background right now the user will be prompted upon the launch of the top level destinations without them having performed an action so it may seem disconnected with their flow, like we are posing a more general question they don't have context for

[2020-11-26 09:08] kelson42 commented on #2520
@macgills Why not asking at the first start? And make the background loading conditional?

[2020-11-26 09:40] gouri-panda commented on #2385
@macgills  I'm still encountering this problem.

[2020-11-26 09:42] macgills commented on #2520
This mostly, it is disconnected from the user doing anything explicitly. I was just highlighting the mild concern, if we are fine with it just popping up then it can be implemented

[2020-11-26 09:50] kelson42 commented on #2520
@macgills Good to me, maybe the workding need to be revamped to better match the new workflow. Thx.

[2020-11-26 09:50] macgills commented on #2385
go to `NetworkModule`
change
[code]
`BASIC` to `BODY`, post your logs. It will take 5 minutes for it to totally fail if the root cause is slow connection

[2020-11-26 10:03] gouri-panda commented on #2501
@macgills I can't reproduce this and #2502 in the recent develop branch. should we close this?

[2020-11-26 10:20] macgills commented on #2501
Close 'em

[2020-11-26 10:21] #2501 closed

[2020-11-26 10:21] #2502 closed

[2020-11-27 09:54] #2303 closed

[2020-11-30 08:56] #2520 closed

[2020-12-01 09:20] gouri-panda commented on #2388
@macgills  I want to work on this issue ;)

[2020-12-01 10:52] macgills opened #2530 "Remove activity finishing from IntroFragment and rely on default behaviour"
**Is your feature request related to a problem? Please describe.**
We don't need to call finish on a back press when there is only 1 fragment on the stack

[2020-12-01 11:04] #2515 closed

[2020-12-01 13:20] #2530 closed

[2020-12-01 14:49] kelson42 opened #2532 "Video seeking does not work anymore with 3.4.2"
Testing with https://download.kiwix.org/zim/other/mali-pour-les-nuls_fr_all_2020-12.zim.
If I click on the progressbar, the cursor is always put to the start.

[2020-12-01 14:49] kelson42 commented on #2532
@macgills @rgaudin Something new? Or something you are aware of?

[2020-12-02 09:05] macgills commented on #2532
Let me confirm the behaviour of 3.4.1, see if a regression exists between the 2

[2020-12-02 09:33] macgills commented on #2532
Introduced in 3.4.2.  Investigating further

[2020-12-02 09:54] macgills commented on #2532
Service Worker related, more investigation required.

[2020-12-02 10:10] kelson42 commented on #2532
@macgills Just to be clear: the test ZIM given on this ticket does not have any SW.

[2020-12-02 10:14] macgills commented on #2532
I am aware. Right now it looks like the change in addressing scheme means that our code for loading videos does not get called, in a surprising turn of events

[2020-12-02 10:25] macgills commented on #2532
Yeah confirmed, post the change to `https` the app is not in charge of loading videos. They get loaded independently.... I have no immediate ideas?

[2020-12-02 10:35] macgills commented on #2532
![image](https://user-images.githubusercontent.com/3358282/100861447-bc584f00-3489-11eb-8edb-a9df9ad29ba4.png)
This override should be getting hit but isn't

[2020-12-02 10:46] macgills commented on #2532
after clicking on the progressbar with old scheme
[code]

clicking on progressbar with new scheme
[code]

[2020-12-02 11:13] macgills commented on #2532
Have hit a brick wall. Unsure of how to get more information on wtf is happening and not seeing a way forward that doesn't involve disabling SW support by changing scheme

[2020-12-02 15:37] alanajjar opened #2534 "Wikimed AR app start interface not work well"
Hello,

When start Wikimed AR app this interface appear for few seconds

Wikimed AR app
![Screenshot_2020-12-02-17-14-24](https://user-images.githubusercontent.com/20701355/100894014-ad42c280-34c4-11eb-8c32-22fac74f6191.png)

Wikimed EN app
![Screenshot_2020-12-02-17-26-30](https://user-images.githubusercontent.com/20701355/100893947-9603d500-34c4-11eb-9127-aa9a8572bd81.png)

[2020-12-02 15:41] alanajjar opened #2535 "History and Notes tabs still untranslated on Wikimed AR app"
Hello,

History and Notes tabs on settings still untranslated on Wikimed AR app.

History already translated here https://translatewiki.net/wiki/Kiwix:Android.ui.history/ar
But I can't find "Notes" Kiwix Android on translatewiki.net
https://translatewiki.net/w/i.php?title=Special:Translate&group=kiwix-android-strings&language=ar&filter=translated&optional=1&action=translate

![Screenshot_2020-12-0

[2020-12-02 15:41] kelson42 commented on #2534
It is importan to notice that Wikimed EN has been build on 3.4.1 base and Wikimed AR on 3.4.2.

[2020-12-02 15:44] kelson42 commented on #2534
In my case with my Pixel2 (android 10) the Splash logo is small (too small) so not stretched.

[2020-12-02 15:45] kelson42 commented on #2535
This is a problem (lag) of sync. with Translatewiki or are these strings not translatable?

[2020-12-02 15:46] alanajjar commented on #2534
Above screenshot based on Android 5.1 on HTC desire 728

[2020-12-02 20:48] s-ayush2903 commented on #2447
We are always sending the correct data to the server, no problem in internal communication of data occurs, the problem is that in the server end, it always builds on the top of previous files. Like if I sent `file-A`, and then next time on removing selection of `file-A` from application and adding `file-B` restart the server and then reload the server, then at the server it will display `file-A` a

[2020-12-02 23:11] s-ayush2903 commented on #2518
I would like to work on this issue, but is the issue concerned about the SW zims only, means we can implement the fix and test on any other SW zim like [this](https://download.kiwix.org/zim/stack_exchange/3dprinting.stackexchange.com_en_all_2020-04.zim), right? or correct me if I'm wrong at any point

[2020-12-02 23:12] s-ayush2903 commented on #2517
I would like to work on this issue. So this time ain't we going to use contentProvider, or plan to implement it in some different way?

[2020-12-02 23:20] s-ayush2903 commented on #2060
Can this be closed via #2487 & #2506

[2020-12-03 07:37] kelson42 commented on #2060
@s-ayush2903 This is a question? A fact? The problem is solved?

[2020-12-03 07:39] s-ayush2903 commented on #2060
I believe this can be close via two PRs mentioned above, after their merge, we are uploading lints, detekt, and all tests' reports to GH-Actions, which was demanded in this issue(as per the issue description)

[2020-12-03 07:43] kelson42 commented on #2060
@s-ayush2903 Ok, letting @macgills deciding about that.

[2020-12-03 08:07] s-ayush2903 commented on #2060
Okay fine, no worries.

[2020-12-03 08:14] kelson42 commented on #2532
@macgills OK, we will need to have a look in depth again, but this week and next week are already full booked.

[2020-12-03 09:07] gouri-panda opened #2537 "Host Books don't update on Application"
**Describe the bug**
UnSelected Host books are showing on Hosting.

**Expected behavior**
Only Selected Host books should show.

**Steps to reproduce the behavior:**
1. Start the server on HostFragment
2. Unselect one or more zim files
3. See the unselected books are showing (On Mobile device)

**Environment**
- Version of Kiwix Android : develop
- Device : 10
- OS version : pixel

[2020-12-03 10:33] macgills commented on #2535
These strings are hardcoded in the preferences file, simple update needed

[2020-12-03 10:40] s-ayush2903 commented on #2535
Sounds to be a quick fix, should I push the changes needed?

[2020-12-03 10:50] macgills commented on #2518
3d printing isn't a service worker zim, `boquineau` which I might not be spelling correctly is 1.

[2020-12-03 10:52] macgills commented on #2518
The current epub/pdf handling isn't quite working but we at least get a toast saying "can't open this in an application"

This could prove quite challenging to extract common functionality, just as a warning

[2020-12-03 10:53] s-ayush2903 commented on #2518
Okay, so without downloading how can we verify if one is a sw zim?

[2020-12-03 10:56] macgills commented on #2517
I think the only way is to use a contentProvider as we have to expose a stream of data to another application but I didn't get far enough in my investigation to confirm this, it remains a hypothesis but probably the apps are refusing to open because the scheme of the url in the intent is not `content://`

[2020-12-03 10:57] #2060 closed

[2020-12-03 10:57] macgills commented on #2535
please do

[2020-12-03 10:58] macgills commented on #2518
We cannot, it is extrinsic knowledg4e

[2020-12-03 11:11] macgills commented on #2537
Is this a dupe of https://github.com/kiwix/kiwix-android/issues/2447 ?

[2020-12-03 11:14] gouri-panda commented on #2537
@macgills #2447 that is showing on the browser and this issue is related to mobile application

[2020-12-03 11:52] macgills opened #2540 "Tab restoration for multiple tabs not working"
**Describe the bug**
Open 2 tabs on Reader, switch top level destination and switch back. 1 tab loads correctly but if you switch to the other it is stuck on the uninitialiser page. Potentially all that needs to be done is init the Uninitialiser interface on this tab but I think this will just load the main page so the unitialiser will need to store the target url and navigate to it after uninitia

[2020-12-03 11:58] gouri-panda commented on #2388
@kelson42 I discussed with @macgills. It's not a bug. We don't support Multizim tabs yet. @macgills @kelson42 What should we do with this issue? Should we wait for #2168 to complete or close this?

[2020-12-03 12:00] macgills commented on #2388
closing as dupe

[2020-12-03 12:00] #2388 closed

[2020-12-03 12:00] #2535 closed

[2020-12-03 12:04] #2514 closed

[2020-12-08 10:18] macgills opened #2542 "Index Out of Bounds Exception on Custom App"
**Describe the bug**
[code]

**Environment**
Device:[on5xelte]
Model:[SM-G570F]
Manufacturer:[samsung]
Time:[1513227951000]
Android Version:[7.0]
App Version:[2020-11 5203070]

Not immediately sure which version of the app this is based as it is a custom app, potentially already fixed

[2020-12-09 09:53] kelson42 commented on #2532
@macgills After talking with @rgaudin it seems it was working, see https://github.com/kiwix/kiwix-android/issues/2347#issuecomment-700019433. So with https://github.com/kiwix/kiwix-android/pull/2406 it was working.

[2020-12-09 10:00] macgills commented on #2532
ah, must have screwed up when I was reverting service workers, I'll get started on patching it back in

[2020-12-09 10:07] rgaudin commented on #2532
Haven't looked at the 3.4.1 vs 3.4.2 diff but IMO the only service-worker related work was regarding the unregistration of those and I wouldn't think it would affect this. But looking at [this part](https://github.com/kiwix/kiwix-android/pull/2494/files#diff-134074b0046e69d6c86f1691d6d2536da87500b58a15a6541a866b6c29f5d30eR142) kind of contradicts what I just said.

What surprises me is [the follow

[2020-12-09 10:09] macgills commented on #2532
We decided to go ahead with reverting service worker support for 3.4.1 and support was moved to 3.4.2, when reverting changes I overdid it. Re-adding your work should be sufficient. I'll know in a few moments and hopefully have a PR out soon

[2020-12-09 10:10] rgaudin commented on #2532
Ah… got it now

[2020-12-09 15:32] Popolechien opened #2544 "Download won't start in search mode"
Happened on both Samsung and Huawei phones with Android 9. Looked for "Core" content in the library, found them, but when clicking no download starts. I've tried with several other files and it looks like TED videos are a little faster to get started,  but in some cases download starts after 20-30 seconds or simply do not start at all.

[2020-12-09 18:45] Popolechien commented on #2544
Kiwix 3.4.2 build 6230402

[2020-12-09 19:13] #2532 closed

[2020-12-09 19:14] kelson42 commented on #2544
I strongly suspect a platform problem as download.kiwix.org seems unstable these last days.

[2020-12-10 06:57] kelson42 commented on #2513
3.4.1 has been put in prod. Thx.

[2020-12-10 06:57] #2513 closed

[2020-12-10 06:59] kelson42 commented on #2540
@macgills This is a regression from 3.4.1?

[2020-12-10 07:58] kelson42 commented on #2544
This morning it works, I believe this is a side effect of https://github.com/kiwix/maintenance/issues/162. The MySQL being slow the lot of API requests send tend to occupy a lot of HTTP reverse proxy slot and then the reverse proxy does not answer anymore properly. To be confirmed.

[2020-12-10 07:58] #2544 closed

[2020-12-10 09:18] kelson42 commented on #2534
@s-ayush2903 @gouri-panda Hi, does one of you would volunteer to quickly fix this one? This is really an ugly first user experience for custom app users... and it sounds to be a silly bug.

[2020-12-10 09:22] gouri-panda commented on #2534
@kelson42 sure!

[2020-12-10 09:28] macgills commented on #2540
I would have to doublecheck but I would think so

[2020-12-10 09:31] macgills commented on #2544
I too have noticed download.kiwix.org being unreliable as of late, this lack of feedback while this is happening is a bit poor though. The problem is we download the xml to retrieve the appropriate mirror to download a zim from and we don't express the xml retrieval as a UI state, this could be added

[2020-12-10 11:39] macgills opened #2545 "New Tabs & recreation is loading home page on other tabs"
**Describe the bug**
Original report:

**Expected behavior**
A tab should maintain its url

**Environment**
- Version of Kiwix Android : 3.4.1

[2020-12-10 11:43] macgills opened #2546 "Back Press from Find In Page goes to library"
**Describe the bug**
Original report:

**Expected behavior**
A back press should take you to the screen you were previously on.

**Environment**
- Version of Kiwix Android : 3.4.1

[2020-12-10 11:55] macgills commented on #2546
I am not entirely sure on the nature of this bug but have taken an educated guess? This could be about navigation after clicking a link during "find in page" or the user expects a back press to navigate to the previous entry of find in page? May have to investigate how chrome handles find in page  if we are to make that behaviour change.

[2020-12-11 11:37] macgills commented on #2540
This is an issue on 3.4.1 too

[2020-12-11 11:45] macgills commented on #2540
closing as dupe of ##2545 same underlying cause

[2020-12-11 11:45] #2540 closed

[2020-12-11 11:47] macgills commented on #2546
Ah, I've got it. Tab restoration (which is what happens when we navigate to Reader from Search) does not preserve the history of the webview

[2020-12-12 13:35] isha-24 commented on #2068
@s-ayush2903 I would like to work on this issue. Could you pls tell me how can I proceed with it?

[2020-12-12 17:24] s-ayush2903 commented on #2068
@isha-24 You should create a new shared preference for first-time download(could be with name: _isFirstDownload_) and set it to true after the download is finished for the very first time.

[2020-12-12 17:29] gouri-panda commented on #2068
@isha-24 go ahead! You are assigned.

[2020-12-14 09:17] #2534 closed

[2020-12-15 10:52] #2447 closed

[2020-12-15 11:25] macgills commented on #2545
I attempted a solution using `restoreState` `saveState` so we can maintain the WebBackForwardList across Reader instances but this didn't bear fruit for me. It will however be necessary if we want to allow users to mainatain a tab's navigation stack. The alternative is a database and we entirely ignore the Webview's opinion on whether it can go back or not

[2020-12-15 11:28] macgills commented on #2545
NB: the currently linked PR does not restore the history of a tab, it just loads the most recent url of a tab, ie pressing back will close reader regardless of how deeply nested the url was in the tab history pre-restoration

[2020-12-15 13:32] yashraj-iitr commented on #2462
If the issue is still up for grab then I would love to work on this issue.

[2020-12-15 16:20] gouri-panda opened #2555 "Memory leak in KiwixReaderFragment"
**Describe the bug**
Memory leak is happening in KiwixReaderFragment

**Expected behavior**
There shouldn't any leak

**Steps to reproduce the behavior:**
1. Open zim file
2. Search a word
3. click find in page
4. go back until you go to the library fragment

**Environment**
- Version of Kiwix Android: 3.4.2
- Device: Realme
- OS version: 10

[2020-12-15 16:21] gouri-panda opened #2556 "In KiwixMainActivity DrawerLayout is leaking"
**Describe the bug**
Memory leak is happening in KiwixMainActivity

**Expected behavior**
There shouldn't any leak

**Steps to reproduce the behavior:**
1. Open zim file
2. Search a word
3. click find in page
4. go back until you go to the library fragment

**Environment**
- Version of Kiwix Android: 3.4.2
- Device: Realme
- OS version: 10

[2020-12-15 19:55] vivadavid opened #2560 "The text is collapsed"
Hi,

As a beta tester, I'm currently using Kiwix for Android version 3.4.3 build 6230403. I first noticed on version 3.4.2 the following behaviour: when I'm on a particular entry and I click on a section on the table of contents, I would expect to be taken to this particular section with the text visible, so I can read it without having to scroll or click again. What currently happens is that the

[2020-12-17 10:07] Popolechien opened #2561 "Zimit-generated zim files partly fail to open"
Steps to reproduce:

1. generate zim file via https://youzim.it
2. Download onto android
3. Open.

I would say it takes a solid 7-10 seconds to open on kiwix-android 3.4.3 (Huawei p20 lite, Android 9). Generally speaking I find that opening files on 3.4.3 is significantly longer than before.

[2020-12-17 11:02] kelson42 commented on #2561
Before means with 3.4.1 I guess.

[2020-12-17 21:31] s-ayush2903 commented on #2560
Hi @vivadavid Thanks for the report, as per my comprehension from the description provided it looks to me a duplicate of #2166

[2020-12-17 21:48] vivadavid commented on #2560
Hi, @s-ayush2903,

Thank you for your message. The thread you mention isn't exactly about the same issue, but it's very similar and the cause is probably the same.

Should I copy and paste my report in that thread and close this one?

[2020-12-17 22:37] s-ayush2903 commented on #2560
Thanks @vivadavid for making me look into the issue again. Now that I've analysed it again, I understand this issue is about the "collapsed" nature of sections and subsections of the article when a click on same is triggered from the table of contents. This issue and the one that I mentioned ain't completely related. You needn't close it, let it be open as it is.

[2020-12-18 07:40] vivadavid commented on #2560
Thank you, @s-ayush2903! Let me know if I can provide more information.

[2020-12-18 10:45] s-ayush2903 commented on #2560
I'll give this a shot.

[2020-12-20 21:50] asereze opened #2563 "Some Wikipedia zim files can't be downloaded (3.4.3)"
**Describe the bug**
If I go to the "Download" section and I click on some Wikipedia file (with images or without them) nothing happens. The download doesn't start. I don't get that same problem with other downloadable files (TED talks, Project Gutenberg archives, MathOverflow and so on). It seems like it only happens with offline Wikipedia versions ans selections of articles from Wikipedia (ex. t

[2020-12-21 06:58] kelson42 commented on #2563
We have currently problems with the platform. Therefore it happens sporadically that contents are not downloadable. Would you be able please to check again?

[2020-12-21 14:23] kelson42 commented on #2563
@asereze I believe most of the platform problem has been fixed meanwhile. Would you be able please to test again and tell us if you are still impacted?

[2020-12-21 21:00] kelson42 commented on #2563
Please reopen ticket if the download still fails.

[2020-12-21 21:01] #2563 closed

[2020-12-21 21:16] asereze commented on #2563
Yes, it works now! Thank you!

[2020-12-22 09:34] Mitia99 commented on #2462
I noticed that there is no more splash screen in ver 3.4.2 so i'll close this issue.

[2020-12-22 09:35] #2462 closed

[2020-12-26 09:52] Mitia99 opened #2564 "Display ongoing downloads on top(download tab)"
**Is your feature request related to a problem? Please describe.**
The issue is that I do multiples library download but it is not really convenient to check the download status from notification pannel.

**Describe the solution you'd like**
Display ongoing dowbloads on top in "download tab".

[2020-12-26 10:00] kelson42 commented on #2564
Duplicate of #2496

[2020-12-26 10:00] #2564 closed

[2020-12-26 10:08] Mitia99 opened #2565 "Can't find "in-page terms in collapsed index""
**Describe the bug**
The issue is that I can't find in-page terms in collapsed index.

**Expected behavior**
Display in-page search results even if they are in collapsed index

**Steps to reproduce the behavior:**
1.Download Encyclopédie médicale Wikimed (french library)
2.Search "Liste d'abréviations en médecine"
3. Search a random word in collapsed index:e.g from screenshot is "adénine"
4. Can't

[2020-12-26 10:11] Mitia99 commented on #2496
I hope that someone would work on this issue cause viewing multiples downloads progression from notifications is not really convenient(especially when user has tons of notifications).

[2020-12-26 10:16] gouri-panda commented on #2565
Duplicate #863

[2020-12-26 14:19] #2565 closed

[2020-12-27 09:59] daniels234 commented on #2166
I second this (insistent). If not possible or too challeging, i would prefer (an option for) all text always uncollapsed, this relatively new behaviour of kiwix is quite disruptive.

Kiwix 3.4.1 (f-droid), LineageOS 17.1

(using kiwix (Android) for years now and i really appreciate your work)

[2020-12-27 17:02] Schmidt32 opened #2575 "Kiwix (Android) loads significant amount of mobile data at startup"
Hello,

I'm using Kiwix for Android, version 3.4.3, build 6230403.
My phone is a Samsung Galaxy S10e running Android 10, latest patch level.

Bug report:
When opening Kiwix, it loads approx. 9.4 MB of data before showing the dialog for the Zim selection. I.e. this happens without a Zim file opened.
This is annyoing because I have used Kiwix in the past due to my limited amount of mobile data. I ha

[2020-12-28 06:44] franklinbill opened #2566 "Layout problem in Diagnostic Report"
**Describe the bug**

Dear developer!
In the process of using, I found a bug in layout / display. As shown in the figure, in the Diagnostic Report page, the button and the following text overlap each other. This may be an adaptation problem. I suspect it is because **display and font size** are set to large (mainly due to **display size**).
Because of some problems with my eyesight, I often use th

[2020-12-28 09:58] daniels234 opened #2567 "Kiwix fails to restore state of previously opened article on new launches"
After Kiwix is launched, it opens Library instead of Reader, since this version (3.4.1 F-Droid, LineageOS 17.1)

*Edit: It should open last read article, like in versions before.

[2020-12-29 01:32] s-ayush2903 commented on #2567
@daniels234 The aim of kiwix is to provide users a robust set of library to download and read books, and as per our [release/3.4.1](https://github.com/kiwix/kiwix-android/releases/tag/3.4.1)(and further ones) by the implementation of modern android dev techniques and navigation we're able to achieve it. Being a user it always doesn't seem cool to open the exact same book each time application is l

[2020-12-31 12:58] harshsbais commented on #2458
@abdulwd I want to work on this.
Can you please assign this to me?

[2021-01-01 11:36] erayd commented on #2398
It's also not possible to press the back button to return to whatever app the search was triggered from.

[2021-01-01 22:51] JensKorte opened #2568 "add source/language to an bookmark entry"
* I didn't check the latest dev version, I use the recent from F-Droid: 3.4.3

I use the english and german WP and made a bookmark to Samsung Galaxy S5. That leads to two nearly same looking bookmarks in the unified bookmark list. The difference in the icon is not readable.

It would be nice, if the bookmarks would look different. There are several ways and I don't prefer one.

* The bookmarks cou

[2021-01-02 06:36] Kshitij0910 commented on #1602
Hello! May I know what exactly has to be done in order to solve this issue and how to proceed as well?

[2021-01-03 05:33] shabar-shab commented on #2566
@macgills can I work on this

[2021-01-03 10:47] daniels234 commented on #2567
I was not aware that Kiwix is usually used the way you describe it (like switching through different books constantly), if there's insight that it is used that way mainly, it would indeed make sense to change this established behaviour of Kiwix.

Rather i understood Kiwix (am a user for years) as a reader for a small but content-rich range of books (which remain open and used over several sessions

[2021-01-03 14:39] mhutti1 commented on #2567
I definitely understand @daniels234. Perhaps an "Startup with last ZIM" setting might resolve this?

[2021-01-03 15:56] kelson42 commented on #2567
I wanted to react briefly to this ticket as well with a few points. Disclaimer: I don't have checked the feature with previous and current version of Kiwix.

Remarks:
* Feedback from user is legit. Users are interested in the content, the library and Kiwix UI are only means to access it. We should not force users to go through the library only if absolutly necessary.
* Many users use Kiwix with on

[2021-01-04 21:49] mondlicht-und-sterne opened #2569 "Upload screenshots for F-Droid description page"
You can add Screenshots for F-Droid, too, if you want.

https://f-droid.org/en/docs/All_About_Descriptions_Graphics_and_Screenshots/

https://gitlab.com/snippets/1895688

[2021-01-05 19:08] QMR-Anik commented on #2569
can I work on this?

[2021-01-05 19:10] mondlicht-und-sterne commented on #2569
@QMR-Anik Who are you talking about now?

[2021-01-05 19:14] QMR-Anik commented on #2569
I am new to Open Source. I want to Contribute.

[2021-01-05 19:18] mondlicht-und-sterne commented on #2569
well, that was just information that screenshots can be added to the app via fastlane, then the view on fdroid looks nicer.

[2021-01-05 19:22] QMR-Anik commented on #2569
Opps... Sorry I was looking for "good first issue" as a new comer...

[2021-01-05 19:34] thebiz98 commented on #2174
@macgills Could you please describe the bug in English? Also, this would be my first time contributing to open source, so any suggestions? I have already read the Contribution guide

[2021-01-06 10:04] #2335 closed

[2021-01-06 10:10] kelson42 commented on #2174
@thebiz98 This file https://download.kiwix.org/zim/other/bouquineux_fr_all_2013-07.zim does not rendere properly, wee see the HTML code as text in place of having it rendered.

[2021-01-06 16:35] franklinbill commented on #2566
Thank you very much！

[2021-01-07 12:43] kelson42 commented on #2331
@gouri-panda Do you plan to work on this issue?

[2021-01-07 13:01] kelson42 commented on #2023
@Popolechien Looks again to this ticket because of the PR of @ManasviPatidar. The current behaviour for both Kiwix Android and Kiwix Android Custom Apps is:
* Per default external links are not allowed
* If someone click on an external link he gets a confirm dialog asking if he really wants to open the external link.
* There is an option to avoid to get this confirm dialog displayed (so then just

[2021-01-07 13:11] gouri-panda commented on #2331
@kelson42  sure! Due to some health problems I wasn't able to do this.

[2021-01-07 13:16] kelson42 commented on #2331
@gouri-panda Hope you are doing better now. Just let us know if you plan to leave it.

[2021-01-07 13:21] gouri-panda commented on #2331
No worries, I will finish this infact I'm already started working on this ;).

[2021-01-07 13:24] kelson42 commented on #2568
The problem is legitim but I don't really agree with the solution. Not sure what would be best to fix the problem:
* filtering by zim file
* allowing to see the first sentence below the title
* ...

[2021-01-07 15:48] gouri-panda opened #2573 "In SearchFragment When we click search(enter) button in keyboard it should search the words"
**Is your feature request related to a problem? Please describe.*
 If we type a word then click keyboard's search(enter) button then it just hides the keyboard. It's not a good user experience.
**Describe the solution you'd like**
It should be better if we add `findInPage` functionality after clicking the search button.

[2021-01-07 16:39] Popolechien commented on #2023
@kelson42 This seems pretty good. I can not think of an issue where this is not satisfying.

[2021-01-07 18:47] #2555 closed

[2021-01-07 18:47] #2556 closed

[2021-01-07 20:34] #2023 closed

[2021-01-07 23:57] gouri-panda commented on #2573
@kelson42 @mhutti1 Any thoughts?

[2021-01-08 05:41] ManasviPatidar commented on #2391
@kelson42 I would like to work on this issue.
But to start my work I need to know how to recreate/test this. To be more precise how do I get new and old versions of the same file on demand so that I can update it.

[2021-01-08 06:21] Popolechien commented on #2391
@ManasviPatidar The easiest way is to head over at download.kiwix.org/zim : it keeps the two last versions of a zim file (so at this stage probably xxxx-2020-12.zim and xxxx-2021-01.zim)

[2021-01-08 10:41] kelson42 commented on #2391
@ManasviPatidar At https://download.kiwix.org/zim, you have always two revisions of a content (different months). I think the dialog to invite to delete an older content should happen at the time a new content is put in the library. Basically, if a new content "replace" an old content.
@mgautierfr I believe the primitive to identify the "duplicate" should be anyway in the kiwix-lib. Would you be a

[2021-01-08 10:45] kelson42 commented on #2573
I don't think this is better. There is no way to just remove the "magnify glass" button? The only way out should be:
* Click on "Find in Page"
* Click on one of the suggestions

There should not be other way out, right?

[2021-01-08 10:50] gouri-panda commented on #2573
@kelson42 What I meant was It should be better if we also add functionality of find in page in magnify search button of keyboard.

[2021-01-09 21:02] gouri-panda commented on #2546
Can I take this issue?

[2021-01-09 21:03] kelson42 commented on #2573
@gouri-panda I got that, but I'm against because this is super not intuitive and confusing for the user. It looks like the current behaviour is the proper one. This is the same on iOS. Nobody has ever complained about that.

[2021-01-09 21:16] kelson42 commented on #2546
@gouri Yes, would be great.

[2021-01-09 21:25] kelson42 commented on #2573
One time fulltext search will be implemented, see #1324, then this button should maybe lead to it.

[2021-01-09 21:25] #2573 closed

[2021-01-11 20:38] #2331 closed

[2021-01-12 07:02] Mitia99 opened #2574 "Pure white theme"
<
**Is your feature request related to a problem? Please describe.**
I think that a pure white theme will give the app some fresh modern look.

**Describe the solution you'd like**
Pure white theme:White top nad bottom navigation bar

**Additional context**
![Pure UI.jpg](https://user-images.githubusercontent.com/56766778/104280637-88227600-54ac-11eb-87a3-83d68edac2bd.jpg)

[2021-01-12 09:39] kelson42 commented on #2575
@Schmidt32 Thank you for your feedback.

This amount of data corresponds to the online catalogue. But:
* Since 3.4.3 you should have been asked if you want to download content via Wifi only (or not)
* You can change this feature in the settings.

As a consequence, I'm surprised that you consume mobile data without having been noticed. Would you be able please to confirm that the settings "Download

[2021-01-12 09:58] gouri-panda commented on #2575
@kelson42 In my case it happens if I set to download content via WIFI is false. In this, it downloads all the content of all the zim files even if I'm not in the download fragment(screen).

[2021-01-12 10:04] gouri-panda commented on #2575
The more convenient approach would be even though the user selected download content via mobile data. Kiwix will download the content if the user goes to the download screen.

[2021-01-12 10:47] kelson42 commented on #2575
Yes, works as designed. If you don't set "Download content only via WiFi", then it download both catalogue+ZIM files via mobile data as well. No bug here.

[2021-01-12 10:47] kelson42 commented on #2575
See https://github.com/kiwix/kiwix-android/issues/2520

[2021-01-12 11:26] kelson42 commented on #166
@rashiq Not sure why you have closed this issue? The feature request seems good to me! Reopening.

[2021-01-12 14:34] gouri-panda opened #2576 "KiwixMainActivity is leaking after searching text from another Application"
**Describe the bug**
KiwixMainActivity is leaking after searching text from another Application
**Expected behavior**
No memory leak
**Steps to reproduce the behavior:**
1. Open an app(in my case chrome)
2. Select a text
3. Click the Search Kiwix
4. Enter back(or go to the chrome)
**Screenshots**
<img width="330" alt="Screen Shot 2021-01-12 at 7 59 05 PM" src="https://user-images.githubusercontent

[2021-01-12 14:59] gouri-panda opened #2577 "Application crashes while searching in inside the app"
**Expected behavior**
No crash

**Steps to reproduce the behavior:**
1. Open the Kiwix app
2. Open a zim file
3. Select a text and click search Kiwix
4. Open a zim file

**Environment**
- Version of Kiwix Android: 10
- Device: Realme
- OS version: 10

https://user-images.githubusercontent.com/43576162/104331058-a7ed8480-5514-11eb-9472-96f86ef59c5b.mp4

[2021-01-12 18:00] Schmidt32 commented on #2575
From my perspective it is a bug.

I download my only ZIM file (Wikipedia German "full", ~34GB) on my PC and then I copy it on my smartphone, because this approach is much faster than the download on the smartphone directly.
Despite not needed in this scenario, the setting "Download only via WLAN" is set on my smartphone (just for "safety" reasons to avoid accidently using mobile data).

When I ope

[2021-01-12 18:46] kelson42 commented on #2575
@Schmidt32 If you have "wifi only" turned on, nothing should be downloaded when you don't have wifi. From your report, so far, it is unclear if it does or not.

Concerning the fact that you have each time to go through the library each time you open Kiwix, this is clearly a regression. Tracked at #2567.

[2021-01-12 19:28] rashiq commented on #166
@kelson42 ah shoot, sorry was just cleaning out some stale tickets

[2021-01-13 06:28] Schmidt32 commented on #2575
It loads the mentioned amount of data (~9 MB) also when Wifi only is turned on, and I am not at home (i.e. I don't have my home WiFi available and am in a 4G mobile network). This was the trigger for my original post.
See screenshot taken after opening Kiwix without any further action (taken at home with WiFi enabled, but the same amount of data is used in a 4G mobile network).
![Screenshot](https

[2021-01-13 09:06] kelson42 commented on #2575
@abdulwd @mhutti1 @s-ayush2903 @gouri-panda @rashiq It looks like the WIFI check is wrong, it checks if the wifi is activated and it should check that Android downloads *effictively* through the wifi. Would you be able to confirm please?

[2021-01-13 21:09] s-ayush2903 commented on #2575
Dear @kelson, let me put the functionality of only-wifi preference in a clear way:
When the application is launched for the very first time and user navigates to downloads screen, a dialog appears which says as depicted in the screenshot attached, when user chooses "Yes", that dialog never appears(unless you go back to settings and turn on that preference), and I believe this would be the case wit

[2021-01-13 21:13] s-ayush2903 commented on #2575
And yeah, I would say it does consumes data on launches as we download the entire books catalogue at once, not in chunks. We'll be able to fix it via laoding data in chunks but that is something which we'll be able to achieve when we'll be using OPDS catalogue, they have a pretty nice supporting api!

[2021-01-14 05:32] Schmidt32 commented on #2575
Here your are:
![Screenshot](https://user-images.githubusercontent.com/76658756/104549025-4d4a4a80-5632-11eb-9e3b-eed9493fe2d1.jpg)

[2021-01-14 05:34] Schmidt32 commented on #2575
And just to mention it:
I have WiFi and Mobile Data always turned on on my smartphone. I never turn one of these off manually. WiFi is being "turned off" if my home WiFi gets out of reach and so the connection gets lost.

[2021-01-14 09:16] kelson42 opened #2578 "[REGRESSION] Newly unable to build custom apps (based on master 3.4.3)"
I tried today to release a new wikispecies custom app, but the CD failed, see:
https://github.com/kiwix/kiwix-android-custom/runs/1700722782?check_suite_focus=true

I believe what went wrong is:
[code]

[2021-01-14 09:16] kelson42 commented on #2578
MIght that be that we rely on the NDK provided by the CI system and this one has been just upgraded?

[2021-01-14 22:36] s-ayush2903 commented on #2575
Oh yeah, that is completely coherent with the screenshot you attached of your data usage, I didn't go through that screenshot previously, just read the report and it felt that you're concerned for your mobile data being used instead of wifi. So yeah only wifi functionality does work fine. What's the issue you're facing then, is it only about the amount of data being used in launches no matter whet

[2021-01-14 22:54] kelson42 commented on #2575
@s-ayush2903 The problem is that it consumes mobile date even if wifi only is activated. This is what has been clearly reported and now we need to confirm/reproduce the problem.

[2021-01-14 23:06] gouri-panda commented on #2575
If we find the logs then that would be very helpful to diagnose. I belive it may be causing by mobile manufacture. Samsung always customizes stock  Android's API level more than any other company do.

[2021-01-14 23:14] gouri-panda commented on #2575
@Schmidt32 Have you encountered this issue before 3.4.3?

[2021-01-14 23:27] s-ayush2903 commented on #2575
I've clearly verified and stated in my very first comment here that this behavior does not exist. Also this is visible from the data usage screenshot & only-wifi pref screenshot attached by author here; kiwix consumes a total of 8.66MB data from wifi out of which 8.48MB is received and 0.18MB is sent

[2021-01-15 06:01] Schmidt32 commented on #2575
That's weird: Now I cannot reproduce the problem anymore :-( I have manually turned of WiFi in my router, and it does not consume mobile data anymore.

I have initially detected the problem during a hospital stay (Nov 12-16) last year, and I've used Kiwix multiple times per day there, closing it each time after usage. I didn't have WiFi in the hospital (rather expensive), but it was enabled in the

[2021-01-15 07:29] #2578 closed

[2021-01-15 07:37] s-ayush2903 commented on #2575
Ah, no worries @Schmidt32 thanks for the report and providing the dissection of the issue faced by you :+1: I think we can close it since it longer exists.

[2021-01-15 07:48] kelson42 commented on #2575
@Schmidt32 The bug has been fixed in 3.4.3. Considering that it has been released in December, you have been impacted by it in November.

[2021-01-15 07:48] #2575 closed

[2021-01-15 13:46] kelson42 opened #2580 "Suggestion search fails on cutting-edge Wikispecies custom app"
A few hours ago I have released a new Wikispecies custom app:
https://play.google.com/store/apps/details?id=org.kiwix.kiwixcustomwikispecies

Yesterday I failed because of #2578 but this has been fixed and I change the CI of the Kiwix Android Custom Apps to deal with the `develop` branch instead of the usual official release branch `master`. See:
https://github.com/kiwix/kiwix-android-custom/commi

[2021-01-17 00:39] s-ayush2903 commented on #2567
@kelson42 Is the issue title fine or needs to be changed?

[2021-01-17 01:50] s-ayush2903 commented on #2567
@kelson42 Is the issue title fine or needs to be changed? I believe we can fix the "Start with Reader" problem in a new ticket, the trickier part was to restore the previous position of the article in new launches, with the merge of the linked PR we'll be good to go with it.  And for "Start with Reader" I've planned of creating a new ticket and then writing a fix for it, I think the fix for it sho

[2021-01-19 08:11] #2567 closed

[2021-01-19 08:25] kelson42 opened #2582 "Navigation history should be kept over restart"
Otherwise, it might happen that each time the app is put in background, the history will be lost. This is not really user friendly.

[2021-01-19 08:32] s-ayush2903 commented on #2545
Mentions #2581(to keep in light not to hamper/modify the _article position_ restoring algorithm) and

is tracked in #2582.

Closing, as the issue has been fixed by the linked PR(merged) and a good to have feature is now being tracked in the ticket aforementioned(i.e., #2582 )

[2021-01-19 08:32] #2545 closed

[2021-01-19 08:45] kelson42 commented on #2546
@gouri-panda Have you been able to reproduce the issue? Is that the same rootcuase as #2582?

[2021-01-19 09:16] gouri-panda commented on #2546
@kelson42 Yes I'm able to reproduce this issue. If we search a word then open a link it goes to another page but if we go back then it returns to the library fragment, the navigation state doesn't restored.

I'll dig deep that issue also to find out what's happening.

[2021-01-19 09:20] gouri-panda commented on #2580
I think this is a flaw in PipedInputStream and PipedOutputStream. Once it closes one of the two, the other one is immediately useless. I would have preferred at least that the PipedInputStream would still be able to read what was written up to the point of closing the PipedOutputStream.

[2021-01-19 09:29] kelson42 commented on #2580
@gouri-panda Thank you for having a look to that. What is really strange is why this impact only the custom app?

[2021-01-19 09:53] gouri-panda commented on #2580
@kelson42 I just digged the surface. It closes the inputStrreamReader.If one closes the other one will close while throwing  exception. I will definitely check out why this is happening what's the root cause of this problem.

[2021-01-20 19:24] limey75 opened #2583 "North Frisian Wiki only allows/appears in the Amrum dialect"
Hi,

At present, the North Frisian language version of Wikipedia (Nordfriisk Wikipedia) only allows access to the Amrum dialect version of the wiki. But it is on the website available in several dialects (Sölring, Fering, Halunder, Frasch, etc.). On the Wiki website, you have the option of the changing which dialect Wiki will be displayed in. I want to read Wikipedia in (Mooringer) Frasch, actuall

[2021-01-24 14:50] kelson42 commented on #2583
To me a duplicate of https://github.com/openzim/mwoffliner/issues/840. We don’t handle that so far.

[2021-01-24 14:50] #2583 closed

[2021-01-25 08:00] s-ayush2903 opened #2585 "CI: Nightly builds fail last Job(Unit-test-and-release)"
**Describe the bug**
Our [nightly builds](https://github.com/kiwix/kiwix-android/actions?query=workflow%3ANightly) are failing for a considerable amount of time in a specific last job(unit_test_and_release).

**Expected behavior**
No failure

**Environment**
CI

**Logs**

[code]

[2021-01-25 10:14] #2585 closed

[2021-01-28 16:29] s-ayush2903 opened #2587 "Coverage Reporting Fails"
**Describe the bug**
Coverage reporting CI is failing due to some changes in directory structure of android sdk for macOS and due to the outdated version of RC we are using

**Expected behavior**
No failures should occur

**Screenshots**
NA

**Environment**
CI

**Logs**
[code]

[2021-01-28 16:41] s-ayush2903 commented on #2587
More context: [run#1783849832](https://github.com/kiwix/kiwix-android/pull/2562/checks?check_run_id=1783849832)

[2021-01-28 16:42] s-ayush2903 commented on #2587
More context: [run#1783849832](https://github.com/kiwix/kiwix-android/pull/2562/checks?check_run_id=1783849832) & [nightlyRun#513659648](https://github.com/kiwix/kiwix-android/actions/runs/513659648)

[2021-01-28 18:06] #2587 closed

[2021-02-05 15:29] kelson42 opened #2591 "Bintray Sunset"
Bintray will sunset in May. As a consequence the libkiwix binaries for Kiwix Android won't be distributed anymore and it will be difficult to compile Kiwix Android. See https://bintray.com/kiwix/kiwix/kiwixlib/9.4.1

What should we do?

[2021-02-05 15:49] kelson42 commented on #2591
Would that be an alternative? https://docs.github.com/en/packages/guides/configuring-gradle-for-use-with-github-packages

[2021-02-05 17:20] gouri-panda commented on #2591
@kelson42, Maven Central is the obvious place to now publish our libraries.

[2021-02-05 17:34] gouri-panda commented on #2591
Recently Big companies like kotlin who used JCenter migrated their EAPs to Maven Central.

[2021-02-06 13:33] kelson42 commented on #2591
@gouri-panda Thank you for your feedback. I'm not familiar at all with the Java/Kotlin ecosystem. Therefore I rely on your know-how:
* Are we allowed to upload freely to Maeven Central? Is that complicated?
* What should be changed in kiwix-android assuming the lib would be available on Maeven Central?
* What should be changed in libkiwix and kiwix-build repos to upload to Maeven Central?

[2021-02-07 04:36] virtadpt commented on #1447
Hi, has there been any progress on this bug?  So far it's been a total dealbreaker for me.  I'm in a bandwidth constrained area so I have another machine elsewhere download .zim files for me, and when I'm physically near it I copy them onto a microSD card to use on my phone or tablet (both Samsung, phone is a SM-G965U, tablet is a SM-T290, both are running v3.4.3 build 623403 from the Google Play

[2021-02-07 04:44] kelson42 commented on #1447
@virtadpt Can you please open an other ticket?

[2021-02-07 09:13] gouri-panda commented on #2591
@kelson42 Sorry, for the delay.
 Here's  quick steps we'll go through:

* Registering a Jira account with Sonatype, and verifying our ownership of the group ID we want to publish our artifact with
* Generating a GPG key pair for signing your artifacts, publishing our public key, and exporting our private key
* Setting up Gradle tasks that can sign upload our artifacts to a staging repository
* Man

[2021-02-07 22:24] virtadpt commented on #1447
Will-do.  Sorry 'bout that, I've not been sleeping a whole lot lately.

[2021-02-08 01:10] virtadpt opened #2592 "Unable to open ZIM files that Kiwix for Android did not download."
**Describe the bug**
BLUF: It seems like it should be possible for Kiwix for Android to open .zim files that it did not download.  It can't.

Background: I live in a very bandwidth contstrained location; it is feasible for me to use Kiwix to download smaller .zim files (e.g., InstallGentoo Wiki - 2019-09-18 - 9MB) but not to download larger ones (wikipedia_en_all_maxi_2020-12.zim - 73.9 GB).  So,

[2021-02-08 01:13] virtadpt commented on #1447
Done - #2592.

[2021-02-08 06:55] shambu2k commented on #2592
Seems like a duplicate of #1447. I also see an existing draft PR for this issue #2548.
Can anyone else confirm?

[2021-02-08 14:04] abhinav78910 commented on #1739
Hi @kelson42, can i work on this issue?

[2021-02-08 14:25] abdulwd commented on #1739
@gouri-panda good to assign this to @abhinav78910 or are you still working on this one?

[2021-02-08 14:28] gouri-panda commented on #1739
No, @abdulwd I'm not currently working this one.@abhinav78910 You can go ahead!

[2021-02-09 05:57] s-ayush2903 commented on #2591
References: https://jeroenmols.com/blog/2021/02/04/migratingjcenter/ & https://proandroiddev.com/publishing-your-first-android-library-to-mavencentral-be2c51330b88  : )

[2021-02-09 14:57] CorallusCaninus opened #2594 "Can't download files larger than 4GB on my Nvidia Shield Tablet."
When I try to download any file larger than 4 GB in the download section, a notice pops up telling me that the filesystem doesn't support files larger than 4 GB. I have formatted the sdcard with exFAT and another time with NTFS, but I am unable to download the files.
The kiwix version that I use is the latest one available on Google Play Store Version 3.4.3.
Do you have any solutions?

Thanks in a

[2021-02-09 15:18] kelson42 commented on #2594
In the help, you have a diagnostic tool which generates a a `.txt` file. Would you be able to copy the content of that file here?

[2021-02-10 09:08] kelson42 commented on #2591
OK, so lets go for Maven Central. We will publish soon a new libkiwix with the current process. Following ones will be done on Maven Central. I will secure and account, the keys, etc... and they we will have too look how to get libkiwix uploaded properly with kiwix-build to Maven Central.

[2021-02-10 09:54] kelson42 commented on #2592
@virtadpt Thank you very much for your quality bug report. This should indeed just work. We have a detection system which is definitly buggy and fails to detect your SD card I guess. @mhutti1 You had worked on this and @BBT-SeanMacGillicuddy had afterward incorporated/modified your code. Do you see here what is going wrong?

[2021-02-13 12:16] kelson42 commented on #2068
@isha-24 Any news about your effort/patch?

[2021-02-13 12:26] kelson42 commented on #2542
@abdulwd Do we know if this crash scenario still occur, should be visible in the play store admin.

[2021-02-14 03:50] RaiLokesh opened #2595 "Error: "Loading article failed""
Describe the bug:
Error saying "Loading article failed" when we try to go to the Reader Section after opening the book from Library.

Expected behavior:
The last opened book should open.

Steps to reproduce the behavior:

    1. Open the Kiwix android app
    2. Open a book from Library
    3. Switch to the Reader section
    4. See the error

https://user-images.githubusercontent.com/70928573/107

[2021-02-14 07:02] kelson42 commented on #2595
@RaiLokesh This happens with all contents? You are basically unable to use Kiwix?

[2021-02-14 07:38] RaiLokesh commented on #2595
@kelson42 I experienced this with other books too. We can read books from the library but when we switch to the "Reader" section, it fails to load the article.
However, if we close the app and reopen from the background, it works fine.

[2021-02-14 08:58] kelson42 commented on #2595
@RaiLokesh So it always happen after a cold start? Or it just happens sporadicaly?

[2021-02-14 10:58] RaiLokesh commented on #2595
@kelson42 it always happens after a cold start.

[2021-02-17 20:20] mhutti1 commented on #2592
I think the not opening with the library is an issue I have seen on my Samsung device, the way the file is passed into Kiwix is not being handled correctly. It's tricky becuase each device maker often has their own file browser with its own way of passing files. I havn't looked at Android file search in  a while but when I did the main issue was again it is up to device manufactures and often ther

[2021-02-18 13:18] Mitia99 commented on #2574
@kelson42 Why the question label?

[2021-02-18 13:35] kelson42 commented on #2574
@Mitia99 Not sure we should do it.

[2021-02-18 13:37] Mitia99 commented on #2574
@kelson42 Oh I see.
It is not really an important feature but it will bring the app some fresh 2021 look ^^

[2021-02-19 19:13] shivamparihar12 commented on #2399
hello, I just wanna know that can I work on this issue?

[2021-02-20 10:33] kelson42 commented on #2399
@shivamparihar12 I don't think this task is ready for now to be implemented.

[2021-02-20 12:57] shivamparihar12 commented on #2399
@kelson42 thanks for letting me know that.

[2021-02-21 08:24] kelson42 commented on #2592
@mhutti1 What I don’t understand is that this is the same kind of explanation that I heard from you 4-5 years ago. Many tickets have been closed meanwhile, jus an example about a recent one https://github.com/kiwix/kiwix-android/issues/2354.

[2021-02-26 16:26] kelson42 commented on #2592
@mhutti1 I have a few questions which I believe their answers would help to bring clarity and fix the bug:
* This tickets reports two different bugs (1) the new ZIM file is not automatically detected in the Kiwix local library (2) The user can not open from the "file browser". The real problem I want to treat is that the (1), one time fixed we could look like to (2).
* What is the current approach

[2021-02-26 19:22] virtadpt commented on #2592
@kelson42
- Yeah, I was wondering about that... what does having no File -> Open menu have to do with an Android misfeature?
- How about adding a File -> Open menu so we can select ones that Kiwix doesn't already know about?  Kiwix is great for making wikis available offline, but it's missing the "download files so they can be added offline" use case.
- When reading through the diagnostic dump I s

[2021-02-28 00:22] mhutti1 commented on #2592
- We do have a file open menu for some apps, its not an easy thing to do for everything as you have to tell apps that you support opening certain file types but different apps want you to tell them in different ways. It is a constant battle to update what we tell apps we can open as they for no apparent reason change how they want us to tell them.
- I can have a look into creating a wiki on what w

[2021-02-28 11:53] CorallusCaninus commented on #2594
Hi kelson42,

here is my log file. Is there any website where I can download the wikipedia version that I can't download via the download manager in kiwix, in the case I want to download the file on my pc and transfer them to the tablet?
[logcat.txt](https://github.com/kiwix/kiwix-android/files/6056738/logcat.txt)

[2021-02-28 16:55] shapeshifter910 opened #2596 "Access sdcard"
Should the app not ask for permission to access the sdcard?
Feels like on my tablet (Samsung Galaxy Tab S) with Android 6.1 Kiwix finds the Wikipedia zim file but never loads any content from the Wikipedia.
So it's not working.

[2021-03-01 18:24] shapeshifter910 commented on #2592
So what's the point of having the download from our repository link in your FAQ. Because anybody that downloads files that way will not be able to use them in Kiwix.
The whole point of this app is to have wiki files and being able to open them on various devices OFFLINE.
Your app has it's core functionality BROKEN!
It's relatively easy to use a tablet of phone when being offgrid and recharging the

[2021-03-01 18:40] shapeshifter910 commented on #2596
A small update. I've downloaded a few small wikis and tried to open them. They opened while I was online.
Once I switched off my wifi, Kiwix crashed when trying to open the same wikis again.
And what's up with that always spinning circle as soon as I open Kiwix?
At this point I have to conclude the Android app on, at least Samsung Galaxy tablets, is not functional at all.
And it looks like it's "p

[2021-03-01 19:23] virtadpt commented on #2592
@shapeshifter910 This.  So much this.  I'm pretty much at the point of building a PiPhone to run Kiwix Desktop because I can open open .zim files that I download at home (the tiny ones).

[2021-03-02 22:15] s-ayush2903 commented on #2594
@CorallusCaninus [download.kiwix.org/zim](https://download.kiwix.org/zim), it's not so responsive so, you'll have to dig deep into the website and find the file that you're interested in.

[2021-03-04 21:13] s-ayush2903 opened #2597 "test: Incomplete HelpFragmentTest"
**Type of Test**

* [ ] Unit Test
* [x] UI Test

**Particular area and files to be tested**
New section of HelpFragment

**Current Status of the tests**
It misses a single interaction

**Particular Behaviour to be tested**
As per the introduction of _How to update zim files_ in #2421, the new section added is not tested yet.

[2021-03-04 21:14] s-ayush2903 commented on #2597
I have a commit that I made months back but couldn't push due to some other priority tickets and college work afterwards, will push it now.

[2021-03-04 21:24] s-ayush2903 commented on #1827
I would like to add test for `NewBookmarkDao.kt` class

[2021-03-05 06:14] kelson42 commented on #2580
@gouri-panda Hi, do you still plan to work on this ticket?

[2021-03-05 06:43] gouri-panda commented on #2580
Yes! @kelson42 Now I'm totally available. Thank you!

[2021-03-05 07:19] #2597 closed

[2021-03-05 19:56] gouri-panda opened #2601 "Back Press doesn't work in SearchFragement"
**Describe the bug**
The back button doesn't work(stuck) while Searching

**Expected behavior**
It should go where it comes from.

**Steps to reproduce the behavior:**
1. Open the Kiwix app
2. Select a word
3. Press Search Kiwix
4. Press Back Button

**Environment**
- Version of Kiwix Android: 3.4.3
- Device: Realme
- OS version: 10

[2021-03-05 20:14] gouri-panda commented on #2601
Also, the search doesn't work either.

[2021-03-06 05:44] kelson42 commented on #2601
@gouri-panda I guess you plan to fix this?

[2021-03-06 05:59] gouri-panda commented on #2601
Sure!

[2021-03-06 06:39] #2174 closed

[2021-03-07 18:41] mhutti1 commented on #2592
I understand the frustration. We are 100% volunteers working on the Android app at the moment. I assure you it does work on some devices but device manufacturers keep changing their file browser specs underneath us so we have to be constantly playing catchup.

The underlying issue is that ZIM files don't have a mimetype we can query for. This is what allows other apps to open word documents etc an

[2021-03-07 18:53] mhutti1 commented on #2592
The issue is the code here: https://github.com/kiwix/kiwix-android/blob/develop/app/src/main/AndroidManifest.xml#L46 I have spent many hours trying various additional path configurations but none work with for example the samasung file browser. We are telling the browser we accept the file. It is not listening though...

[2021-03-07 19:07] mhutti1 commented on #2592
https://github.com/kiwix/kiwix-android/wiki/Finding-Files-In-Android

[2021-03-09 13:28] gouri-panda commented on #2580
@kelson42 I think the regression was here https://github.com/kiwix/kiwix-android/commit/f3ce4f9916d09178a238de8723e44807f01aa2fc.

[2021-03-09 13:37] gouri-panda commented on #2580
Since the commit is reverted now. It is no longer issue now.

[2021-03-09 13:38] kelson42 commented on #2580
@gouri-panda Great news, when was this reverted?

[2021-03-09 13:45] gouri-panda commented on #2580
January 17 https://github.com/kiwix/kiwix-android/commit/24b052e27dfa60423422a4401bc41fc09ea49362. Thanks to @s-ayush2903

[2021-03-09 13:57] kelson42 commented on #2580
Argh.... Two days after the Wikispecies app release... Will make a new release and check.

[2021-03-10 12:46] #2580 closed

[2021-03-11 07:42] gouri-panda opened #2602 "Search text don't appear in the search field"
**Describe the bug**
If we select a text and click Search Kiwix then the selected text doesn't appear in the search field

**Expected behavior**
 Search Text should appear in the SearchEditText
**Steps to reproduce the behavior:**
1. Open the Kiwix app
2. Select a word
3. Press Search Kiwix
4. See the search field

**Environment**
- Version of Kiwix Android: 3.4.3
- Device: Realme
- OS version: 10

[2021-03-11 07:48] gouri-panda opened #2603 "Clicking the search result doesn't go anywhere"
**Describe the bug**
If we search through the search field and click the search result then the search result doesn't open the link

**Expected behavior**
 Search Text should appear in the SearchEditText
**Steps to reproduce the behavior:**
1. Open the Kiwix app
2. Select a word
3. Press Search Kiwix
4. Type a text to search
5. Click the link

**Environment**
- Version of Kiwix Android: 3.4.3
- De

[2021-03-11 07:54] kelson42 commented on #2603
Seems to be almost the same of what I reported #2580. I hardly understand how such a bug can appear and land in master unoticed!

[2021-03-11 07:59] gouri-panda commented on #2603
@kelson It works fine if we search normally but if we search through `Search kiwix` then this problem happens. plus #2580 and this problem's behavior aren't the same. I'll dig deep into this.

[2021-03-14 18:44] markZuckerberg2 opened #2605 "Leaks on Application"
**Steps to reproduce memory leak**
1. Open any zim file.
2. Open zim file in second tab.
3. Close the second tab.
4. Go to library fragment.

[code]

[2021-03-14 23:14] gouri-panda opened #2606 "Kiwix App doesn't close while pressing the back button"
**Describe the bug**
While selecting another zim file( or selecting the same file by going to the library section) Kiwix app doesn't close the application by pressing the back button.

**Expected behavior**
App should close
**Steps to reproduce the behavior:**
1. Select a zim file (if you are in the reader section then ignore the step)
2. Now again select a zim file
3. Press the back button
Observ

[2021-03-15 13:49] gouri-panda opened #2607 "In Search menu item recreates multiple times"
For some reason `onCreateOptionsMenu()` Called multiple times that's why it creates multiple instances.

_Originally posted by @gouri-panda in https://github.com/kiwix/kiwix-android/issues/2604#issuecomment-799430452_

[2021-03-15 17:23] gouri-panda opened #2608 "Leaking ZimMangerViewModel"
**Expected behavior**
Shouldn't leak

**Steps to reproduce the behavior:**
    1. Open App
    2. Go to the library section
    3. Go back to the Read the section
    4. Open menu drawer
    5. Open history
    6. Click until the application closes

 **Environment**
    - Version of Kiwix Android: 3.4.3
    - Device: Realme
    - OS version: 10
   <details><summary>Logs</summary>

[code]
</deatils

[2021-03-16 09:37] 4shutosh opened #2609 "Moving kiwix-android off from JCenter"
**Jfrog to Shut down JCenter and Bintray** see this [article](https://jfrog.com/blog/into-the-sunset-bintray-jcenter-gocenter-and-chartcenter/)

For anyone who is unfamiliar with JCenter, it is a public repository hosted at Bintray that is free to use for open source library publishers. It is the largest repository in the world for Java and Android OSS libraries, packages, and components.

JCenter

[2021-03-16 09:40] gouri-panda commented on #2609
Duplicate #2591

[2021-03-16 09:44] 4shutosh commented on #2609
My bad @gouri-panda. The issue can be further closed if required.

[2021-03-16 09:44] s-ayush2903 commented on #2609
Closing

[2021-03-16 09:44] #2609 closed

[2021-03-16 09:57] markZuckerberg2 commented on #2068
Can I work on this?

[2021-03-16 09:58] markZuckerberg2 commented on #2114
Can I work on this?

[2021-03-16 10:58] kelson42 commented on #2114
I'm not convinced we should really implement this honestly. @mhutti1 @abdulwd @s-ayush2903 @gouri-panda Any opinion?

[2021-03-16 10:59] kelson42 commented on #2068
@markZuckerberg2 Yes, but before starting codeing, please explain here how your solution will look like.

[2021-03-16 15:11] abdulwd commented on #2114
There should be some way to use the native scrollbar that shouldn't be too difficult to implement.

[2021-03-16 17:58] yyprince334 commented on #2458
Hi, I want to contribute  on it .

[2021-03-16 18:01] yyprince334 commented on #1826
I want to contribute on it.

[2021-03-16 18:02] yyprince334 commented on #1826
I want to contribute on it.

[2021-03-16 18:32] gouri-panda commented on #2458
Hi @yyprince334! Thank you for your interest but  I'm afraid it's not possible since this is our core file at kiwix-android, it's best if someone already familiar with the codebase should do the job. You can start contributing by going through [here](https://github.com/kiwix/kiwix-android/issues?q=is%3Aopen+is%3Aissue+label%3A%22good+first+issue%22) . Thank you for understanding!

[2021-03-17 08:40] yyprince334 commented on #2601
I want to contribute on it.

[2021-03-18 13:54] karthik-anand commented on #1554
Hi. If this issue hasn't been solved yet, can I be assigned to it?

[2021-03-18 22:40] gouri-panda commented on #2576
Moving this to 3.5, since the bug is very deep.

[2021-03-18 22:50] gouri-panda commented on #2601
Hi @yyprince334! This ticket's PR is on the way! You can search the issue i.e not assigned or inactive for a while ;)

[2021-03-19 08:56] kelson42 commented on #1554
@karthik-anand Yes, "WiFi Hotspot".

[2021-03-19 10:35] kelson42 commented on #2608
@gouri-panda Is that hard to fix? Should we put it in next 3.4 release or either in 3.5?

[2021-03-21 16:07] #2577 closed

[2021-03-21 16:07] #2601 closed

[2021-03-21 16:07] #2602 closed

[2021-03-21 16:07] #2603 closed

[2021-03-21 17:57] mhutti1 commented on #2114
I agree, it would be nice.

[2021-03-22 07:00] yyprince334 commented on #2068
I would like to contribute in this issue.

[2021-03-22 07:01] yyprince334 commented on #2068
Would you suggest me , how to start

[2021-03-22 07:27] gouri-panda commented on #2068
In `OnLibraryFragment` When we select a book item i.e `onBookItemClick()`, If the user downloading a zim file for the first time ask them where to put the zim file(i.e in internal or external). We already have a method i.e `showStorageSelectDialog`. It  can be done by `SharedPreference`

[2021-03-22 07:32] gouri-panda commented on #2068
@kelson42 I'm not sure which one to give this task. Can you help me here, please ;)

[2021-03-22 11:30] kelson42 commented on #2068
@gouri-panda Usually, this is first come, first served ;)
@ yyprince334 @markZuckerberg2 You are welcome, but would you be able please first to explain in a few sentences your approach to solve the problem?

[2021-03-22 13:02] markZuckerberg2 commented on #2068
@kelson42 Can I take the above approach?

[2021-03-27 12:35] gouri-panda opened #2615 "Clicking an Image will Open a different screen"
**Is your feature request related to a problem? Please describe.**
Since images are important in Kiwix. It would be better if we create a new different full-screen image for images when clicking them.

**Describe the solution you'd like**
Create a new Screen
**Additional context**
**Describe alternatives you've considered**
Yes, we have an alternative method. The users can zoom for images.
**Addit

[2021-03-27 12:41] gouri-panda opened #2616 "Leaking CustomMainActivity"
**Expected behavior**
Shouldn't Leak

**Steps to reproduce the behavior:**
1. Install a brand new Custom app

**Environment**
- Version of Kiwix Android: 3.4
- Device: Real me
- OS version: 10

<details><summary>Logs</summary>

[code]

[2021-03-27 12:44] gouri-panda opened #2617 "Remove Memory leak"
**Expected behavior**
Shouldn't Leak

**Steps to reproduce the behavior:**
1. Install a brand new Custom app
2. Find Memory Leaks

**Environment**
- Version of Kiwix Android: 3.4
- Device: Real me
- OS version: 10
<details><summary>Logs</summary>

[code]

[2021-03-27 12:46] gouri-panda opened #2618 "DrawerLayout is Leaking"
**Expected behavior**
Shouldn't Leak

**Steps to reproduce the behavior:**
1. Install a brand new Custom app

**Environment**
- Version of Kiwix Android: 3.4
- Device: Real me
- OS version: 10
<details><summary>Logs</summary>

[code]

[2021-03-28 03:08] simonnepinto commented on #1826
I would like to convert LibraryViewCallback.java to Kotlin

[2021-03-28 06:10] gouri-panda commented on #1826
@simonnepinto please go ahead! But first creat a ticket for that class.

[2021-03-28 06:31] gouri-panda commented on #2605
@kelson42 Since the reproducing steps are unknown. We can move this to 3.5

[2021-03-28 08:00] simonnepinto opened #2620 "Convert LibraryViewCallback.java to Kotlin"
#### Parent issue:  #1826

#### What changes you have made:

Converted Java file to Kotlin

[2021-03-29 04:57] Pawanupadhyay10 commented on #2574
hi, can you assign me this issue and can you guide me where to start.

[2021-03-29 05:01] Pawanupadhyay10 commented on #2595
hello, can you assign me this issue and also guide me from where to start .

[2021-03-29 05:03] Pawanupadhyay10 commented on #2606
hello, kelson42 ,can you assign me this issue ,I want to contribute on it and also guide me to start.

[2021-03-29 05:05] Pawanupadhyay10 commented on #2615
hello, gouri can you assign this issue to me so that I can start and please guide me to start working.

[2021-03-29 05:29] kelson42 commented on #2615
@gouri-panda what is the value of a fullscreen image if the upimage resolution is not higher than what is in the thumbnail?

[2021-03-29 05:31] kelson42 commented on #2595
@Pawanupadhyay10 what is the root cause of the problem and how do you plan to fix it?

[2021-03-29 07:06] gouri-panda commented on #2615
@kelson42 Good Point. Maybe we can give a full-screen image of those images we are downloading?

[2021-03-29 14:18] gouri-panda commented on #2606
@Pawanupadhyay10 The PR is on the way.

[2021-03-29 14:28] kelson42 commented on #1554
@s-ayush2903 As we are approaching the release time, would you be able to quickly fix that one please/

[2021-03-29 16:33] Pawanupadhyay10 commented on #2618
hello ,can you gouri-panda can you assign this issue to me , I want to contribute.

[2021-03-29 16:34] gouri-panda commented on #2618
@Pawanupadhyay10 go-ahead!

[2021-03-30 11:07] #1554 closed

[2021-03-31 12:22] A3148475824 opened #2625 "小米广告？哪来的"
![f5e05f7c121a902133b8a0e0d4ed1a91](https://user-images.githubusercontent.com/70214970/113143569-e4667d80-91f1-11eb-84b6-89a5886e4dd7.jpg)

[2021-03-31 13:30] #2625 closed

[2021-03-31 13:37] A3148475824 commented on #2625
？？？几个意思

[2021-03-31 13:42] A3148475824 commented on #2625
Developer advertising is your own add or millet dry, you know or do not know, intentional or unintentional, informed or unaware?

[2021-04-01 18:58] gouri-panda opened #2626 "Add pagination in Download section"
**Is your feature request related to a problem? Please describe.**
Now all the zim files are downloading at once, which may be what the user wants or not. Pagination will load and display small chunks of data at a time(i.e zim files). Loading partial data on-demand reduces the usage of network bandwidth and system resources.

**Describe the solution you'd like**
Add pagination and show a small chu

[2021-04-01 19:00] s-ayush2903 commented on #2626
Dupe of #683, see #1203 for more info. Closing

[2021-04-01 19:01] #2626 closed

[2021-04-01 19:05] s-ayush2903 commented on #2620
The issue won't be closed until we have the aforementioned file written in kotlin, in `kiwix/develop`. Reopening.

[2021-04-01 19:08] s-ayush2903 commented on #2620
@simonnepinto Feel free to ask via commenting here for getting this ticket assigned to you. Any other person(preferably, the one who hasn't made any good contributions to kiwix) interested in pushing a fix can also comment here to work on the issue.

[2021-04-01 19:17] gouri-panda commented on #2626
I thought pagination will solve this problem untill OPDS came. We just have to refactor some code a little bit.

[2021-04-01 20:13] gouri-panda commented on #2398
I just wanna add a note here If the Kiwix app doesn't exist in the background then the issue exists otherwise it's not.

[2021-04-01 20:14] gouri-panda commented on #2398
@kelson42 Can I try this?

[2021-04-02 02:44] simonnepinto commented on #2620
The static analysis keeps failing every time. Can you guide me on what does the static analysis check in this project?

[2021-04-02 07:53] s-ayush2903 commented on #2620
StaticAnalysis is the lint check that runs on each and every PR and commit that you make locally(in your pc). Lint means the code formatting(e.g., indentation, max chars in a line) of the file, if written code doesn't match with the ideals we have defined, then staticAnalysis fails. You should be able to fix it via auto-formatting the code in studio using the keybinding `Ctrl + Alt + L`, and this

[2021-04-03 09:12] kelson42 commented on #2591
Request to get a repository on Maven Central done https://issues.sonatype.org/browse/OSSRH-66717

[2021-04-04 05:58] bhaktideshmukh commented on #1827
i would like to add test for HistoryDao.kt class

[2021-04-04 06:05] gouri-panda commented on #1827
@bhaktideshmukh Please go ahead!

[2021-04-05 11:03] #2607 closed

[2021-04-05 15:14] #2608 closed

[2021-04-06 16:04] kelson42 opened #2633 "Nightlies are not built anymore since three weeks"
Look at http://download.kiwix.org/nightly/2021-03-16/ and later...

See errors in CI logs https://github.com/kiwix/kiwix-android/actions/runs/724294008 & the ones prior to it

[2021-04-07 07:23] kelson42 commented on #2398
@gouri-panda Yes, please would be great!

[2021-04-07 15:28] s-ayush2903 opened #2636 "Add `Nightly` Status Badge in Readme"
**Is your feature request related to a problem? Please describe.**
Nightly fails multiple times for a long period of time and goes unnoticed for weeks and months, and we always get to know about it very late. I've fixed 'em numerous times but it is always too late and many changes get merged in to the stream by the time we get to know about it.

**Describe the solution you'd like**
Add a status ba

[2021-04-07 15:29] rfc2822 opened #2637 "Send single article (as plain text / HTML) to..."
**Is your feature request related to a problem? Please describe.**
Often when I use Kiwix to look up some information, I'd like to share this information with friends, for instance over instant messaging.

**Describe the solution you'd like**
In the article view, a "Share/Send to" action would be really helpful. It could provide the page contents as HTML/text using standard Android sharing, so tha

[2021-04-07 15:31] s-ayush2903 commented on #2637
It'll be a nice to have feature, thanks for filing!

[2021-04-07 17:08] kelson42 commented on #2636
Yes, is a good idea.

[2021-04-07 20:32] s-ayush2903 commented on #2636
I'm Sorry, but I cannot take beginner friendly issues. https://github.com/kiwix/kiwix-android/issues/2068#issuecomment-721884345

[2021-04-08 07:03] #2633 closed

[2021-04-08 09:35] gouri-panda opened #2638 "Zim files doesn't show according to the language"
so i choose french in languages... but if I search "Wikipedia" I don't get (first) the result (zim books) in french

[2021-04-08 10:07] kelson42 commented on #2638
@gouri-panda Thx for opening the ticket... this is quite a critical bug (regression) as it almost remove the ability to find new books to download in the user language.

[2021-04-08 10:42] kelson42 commented on #2638
![Screenshot_20210408-124126.png](https://user-images.githubusercontent.com/1029718/114013470-d7880080-9867-11eb-8fc0-fcd4f382d865.png)

[2021-04-08 10:43] kelson42 commented on #2638
![Screenshot_20210408-124258.png](https://user-images.githubusercontent.com/1029718/114013596-fdada080-9867-11eb-915e-72aee53b3e2f.png)

[2021-04-08 10:50] kelson42 commented on #2636
@s-ayush2903 you should be able, what does not work exactly?

[2021-04-09 15:21] Pawanupadhyay10 commented on #2618
hi. i was working on it.

[2021-04-09 15:23] Pawanupadhyay10 commented on #2616
hi @gouri-panda , pls assign this issue to me, i want to contribute on it.

[2021-04-09 15:25] gouri-panda commented on #2616
Go ahead @Pawanupadhyay10 ! You are assigned!

[2021-04-09 15:26] Pawanupadhyay10 commented on #2616
thanks

[2021-04-09 15:29] Pawanupadhyay10 commented on #2616
hey , pls guide me on which files i need to work (add my code or edit).

[2021-04-11 12:15] kelson42 opened #2639 "Files which are too big to be downloaded in the local storage should be greyed"
Exactly like the 4GB+ files if the storage has a fat32 file system.

[2021-04-11 12:25] kelson42 commented on #1088
Duplicate of #1077

[2021-04-11 12:25] #1088 closed

[2021-04-11 12:28] kelson42 commented on #1077
To me the prio are:
* Category
* Content type (has media content or not)
* Popularity (not possible for now but important)

[2021-04-11 12:37] kelson42 commented on #2113
The first time the user is asked if he wants to download the library as well (see #2575). I don't think it makes sense to keep longer this ticket open.

[2021-04-11 12:37] #2113 closed

[2021-04-11 12:40] kelson42 commented on #2445
@gouri-panda Not sure about the status of this bug, but switching to OPDS should solve the problem.

[2021-04-11 12:43] kelson42 opened #2640 "One panel for all the library filters"
For the online and the offline library. Should be super accessible (with a swipe?). The free text search should be put there beside the language and category searches.

[2021-04-11 12:45] kelson42 commented on #2591
This is a prerequisite to any change to the libkiwix JNI

[2021-04-12 07:42] Popolechien opened #2641 "Reader should open on reader tab by default instead of library tab"
Based on a user comment and a lot of common sense: whenever Kiwix is opened the default setting should be to open on the reader tab (ie last zim being browser) rather than the library tab. If the last zim that was browser has since been deleted, then we can default to reader.

[2021-04-12 07:45] kelson42 commented on #2641
Actually this depends on #398 and a settings shoudl be made: "remember open tabs when existing"

[2021-04-12 07:46] Popolechien commented on #2641
@kelson42 close enough. thanks.

[2021-04-12 07:46] #2641 closed

[2021-04-12 07:48] kelson42 commented on #398
Per default it shoudl open with the same tabs (and not the library), but this behaviour should be driven by a new settings: "remember open tabs when existing"

[2021-04-12 09:32] gouri-panda commented on #398
@kelson42 Isn't this ticket about remembering the back stack of pages?

[2021-04-12 10:18] s-ayush2903 commented on #398
Why does it sound like dupe of https://github.com/kiwix/kiwix-android/issues/2582 or vice-versa

[2021-04-12 11:21] kelson42 commented on #398
@s-ayush2903 Indeed! Closing

[2021-04-12 11:21] kelson42 commented on #2582
Duplicate of #2582

[2021-04-12 11:21] #2582 closed

[2021-04-12 13:16] s-ayush2903 commented on #2582
@kelson42 maybe the ticket number you intended to write as #398 :sweat_smile:

[2021-04-12 19:19] gouri-panda commented on #2639
@kelson42 You said that the feature was implemented. Is this a regression?

[2021-04-13 10:26] gouri-panda commented on #2638
Here we are searching "Wikipedia" instead of "Wikipèdia". So we don't get the expected result.

[2021-04-13 10:34] kelson42 commented on #2638
This problem should be fixed automatically if we use OPDS in place of custom `library_zim.xml` handling.

[2021-04-17 07:25] xiaoleeza opened #2642 "open zim file directly not search in all sdcard"
**search files in sdcard is slowly, maybe it's a good idea to open zim file directly.**

**Is this feature already have? I cannot find this function?**

[2021-04-17 08:42] #2642 closed

[2021-04-25 22:06] Moranic commented on #2592
I'm currently facing this same issue. Externally downloaded zim files simply do not show on my Oneplus 9. Your link mentions a deprecated method of loading .zim files by path; perhaps that could be reïntroduced as a workaround?

[2021-04-27 06:52] kelson42 opened #2646 "Problems with MANAGE_EXTERNAL_STORAGE to come?"
Do the necessary to avoid problems with https://support.google.com/googleplay/android-developer/answer/10467955

[2021-04-28 03:36] 4shutosh commented on #2646
I don't think that's an issue for us, our targetSdk is 29 (Android 10) and we are also using `requestLegacyExternalStorage` flag.

Also, we don't have the `MANAGE_EXTERNAL_STORAGE` permission in our project.

We do use the READ_EXTERNAL_STORAGE but that's okay.

So we are good.

[2021-04-28 04:28] 4shutosh opened #2647 "Default visibility of reader progress bar"
**Describe the bug**

A unnecessary line/progress bar visible in dark mode on reader fragment when no books are opened.

**Expected behavior**

No progress bar should be visible.

**Steps to reproduce the behavior:**
1. Open app in dark mode
2. Open reader, bottom destination making sure no book is opened.
3. See the progress bar.

**Screenshots**

![Screenshot_20210428-093803_Kiwix](https://user-

[2021-04-28 05:56] kelson42 commented on #2646
@gouri-panda any opinion, does this problem has been fixed recently (i see the warning in the play store).

[2021-04-28 07:57] gouri-panda commented on #2646
Also, we don't have the MANAGE_EXTERNAL_STORAGE permission in our project.

I agree with @4shutosh .

Not that I know of.

According to [Google play notice](https://developer.android.com/training/data-storage/manage-all-files#all-files-access-google-play) this permission only when your app cannot effectively make use of the more privacy-friendly APIs, such as Storage Access Framework or the Media

[2021-04-28 10:12] #2647 closed

[2021-04-28 11:28] #2646 closed

[2021-04-29 17:39] vivadavid commented on #2560
Hi,

On Kiwix for Android 3.4.4, things got worse. In the past, the app would take me to the main section (not to the required subsection) without collapsing the text. This is what happens now.

Steps:

1. I press on the Table of Contents.
2. I press on a particular section or subsection.
3. Nothing happens.

Tested with the full Spanish Wikipedia (Feb 2021).

[2021-04-29 18:19] gouri-panda commented on #2560
Hi @vivadavid , thank you for the report. I can successfully  produce the subsection of bug(step 2) if I tap the subsection. but I can't reproduce the bug if I click the section. Can you tell me how? Thanks!

[2021-04-29 18:26] kelson42 commented on #2560
It is important we can sort out this ticket before releasing 3.4.4. It is true that the section does not uncollapse properly when clicked on it in the TOC. This is an old bug impossible to fix properly in kiwix android only, see #309. But all the rest seems to work fine to me.

[2021-04-29 20:55] vivadavid commented on #2560
Thank you for pointing me to bug 309, whose title is far more descriptive than mine. I keep my fingers crossed for a future solution to this problem.

[2021-04-30 03:51] #2560 closed

[2021-05-02 09:32] kelson42 commented on #2615
@gouri-panda All of this is a decision on the scraper side IMO, nothing to do with Kiwix Android. I would recommed to close this ticket.

[2021-05-02 09:33] kelson42 commented on #2620
What is the status here?

[2021-05-02 09:34] kelson42 commented on #2618
@Pawanupadhyay10 any news?

[2021-05-02 09:57] #2615 closed

[2021-05-02 10:17] kelson42 commented on #2639
I believe no (after your feedbacks). What was implemented is the greying of online content over 4GB, if the storage fs is fat32.

[2021-05-02 10:22] kelson42 commented on #2398
@gouri-panda Any news on this ticket, this is actually a quite annoying bug (the full search widget feature broken) and my guess relatively easy to fix?

[2021-05-03 19:40] jhbiggs commented on #2566
Hi @kelson42, may I work on this one?

[2021-05-03 19:41] kelson42 commented on #2566
@jhbiggs Yes, and welcome back.

[2021-05-03 19:43] jhbiggs commented on #2566
Thank you!

[2021-05-08 18:11] Eyarkoni opened #2652 "Wikivoyage doesn't work following a factory reset"
I had to factory reset my smartphone,after which all apps including Wikivoyage were re-installed automatically by Android.
When I tried to launch the app, I got an error message "invalid install. Please download Zim". Uninstall & reinstall did not resolve this issue.

I'm using Xiaomi redme note 7.
MIUI 12.0.1
Android 10
Wikivoyage version 2019-12

Thanks.

**Describe the bug**

**Expected behavio

[2021-05-09 13:19] kelson42 commented on #2652
@mhutti1 I don't know what you think about this bug, but this sounds pretty mysterious. To me, as soon as libkiwix 10.0.0 is released (with the ZIM file constructor with filehandler), we should implemented https://github.com/kiwix/kiwix-android/issues/56 and it should probably fix this kind of scenario.

[2021-05-11 20:34] mhutti1 commented on #2652
I would imagine what has happened here is the filesystem lost track of where it is keeping the expansion files with the content. Not much we can do about this unfortunately.

[2021-05-12 04:39] kelson42 commented on #2652
@mhutti1 But, why a reinstall does not fix the pb?

[2021-05-12 15:00] Eyarkoni commented on #2652
actually, I noticed not all Kiwix files were deleted during the reinstall.
I deleted them manually, but even that didn't help.

*Eran Yarkoni *
***@***.***
Phone: +972-54-750-3041
Skype: eyarkoni
WeChat: EranYarkoni
http://il.linkedin.com/in/yarkoni

ᐧ

On Wed, May 12, 2021 at 7:40 AM Kelson ***@***.***> wrote:

[2021-05-12 16:46] kelson42 commented on #2652
@Eyarkoni Which file was not deleted after uninstallation?

[2021-05-12 18:30] Eyarkoni commented on #2652
Not sure what were the files, I only know that I have found several folders
having *kiwix* in their name which I found while doing a deep search in the
Android storage space.

*Eran Yarkoni *
***@***.***
Phone: +972-54-750-3041
Skype: eyarkoni
WeChat: EranYarkoni
http://il.linkedin.com/in/yarkoni

ᐧ

On Wed, May 12, 2021 at 7:46 PM Kelson ***@***.***> wrote:

[2021-05-14 07:25] #2591 closed

[2021-05-15 18:55] mhutti1 commented on #2652
Could be a cache somewhere. The play store ultimately manages all of this. Not sure if we can do anything. Global cache clear / factory reset would probably fix but not much else we can do.

[2021-05-18 12:55] Inbefortus opened #2656 "English Wikipedia 2021-03: Articles (links) in Articles not clickable"
I am using Kiwix Android 3.4.3 on a Galaxy Tab S7 Plus. I noticed that in many articles some links to other articles are not clickable. I am using the latest English Wikipedia 2021-03 build.

Example:
https://en.wikipedia.org/wiki/Outline_of_history#Ages_of_history

Here is a screenshot:
![Screenshot_20210518-141554_Kiwix](https://user-images.githubusercontent.com/84388790/118650698-07221500-b7e5-

[2021-05-21 18:34] Mitia99 opened #2657 "[Bug]Text input lag-Article search"
**Describe the bug**
Text input is very laggy.

**Expected behavior**
Fluid text input
**Steps to reproduce the behavior:**
1.Open library
2. Input any text for search

**Environment**
- Version of Kiwix Android : 3.4.4
- Device : Huawei P30 ELE-L09
- OS version : EMUI 11-Android 10
- Keyboard : Gboard latest version

[2021-05-22 07:42] kelson42 commented on #2657
@Mitia99 you confirm you talk about the library search and not the article search?

[2021-05-22 07:53] Mitia99 commented on #2657
@kelson42 It's about article search in any library

[2021-05-22 07:54] kelson42 commented on #2657
@Mitia99 The library is the place where you can download and list your books. So I guess you mean article search in any book.

[2021-05-22 07:58] kelson42 commented on #2657
Regarding this, I can confirm that a regression has been introduced here. My experience is that is works on recent devices but not at all on my old galaxy tab. Many users have conplained about similar symptoms on latest custom aps wikimed de and wikimed fr... and I had to stop all the updates because of that. @gouri-panda and @s-ayush2903 I strongly suspect that one of the patch you have worked on

[2021-05-22 07:59] Mitia99 commented on #2657
@kelson42 Yes,You got it.The issue is that some letters are missing when I input.

E.g:I search "hyponatrémie".Only hpontrmie is displayed.

It is occuring when I quickly input

[2021-05-22 08:02] gouri-panda commented on #2657
@kelson42 I'll dig into that.

[2021-05-22 08:04] Mitia99 commented on #2657
@gouri-panda Thanks for investigating.

Here is a video explaining the issue(you can slow it down to see what I input).

https://drive.google.com/file/d/1JswEG2xLyn4Tje7SkJOGyy9y0ws39rrW/view?usp=drivesdk

I hope that you could fix it asap cause due to this,kiwix is kinda unusable for me.

[2021-05-22 08:09] Inbefortus commented on #2656
Has anyone had the same experience? And why is this not getting any attention? So far I have come across countless articles with the same behavior as described above. This destroys some of the usability of the article, especially when the "See also" selection is broken, as almost all of the corresponding links are not clickable.

[2021-05-22 08:39] kelson42 commented on #2656
Such behaviours happens when the article is missing. We should verify case by case.

[2021-05-22 09:35] Inbefortus commented on #2656
The good thing is that these articles actually exist, just "not" in the article. You can still easily find most of the articles by searching for them under their giving name, but there are also articles under a different name, which makes it almost literally impossible to take a look. I have always compared to the original English Wikipedia when I realized that a link is not clickable.

In my expe

[2021-05-22 15:29] kelson42 opened #2659 "I'm hardly able to load more than one or two articles on my Galaxy Tab"
I have an old Galaxy Tab SM-T700 with Android 6.0.1.

Since version 3.4.2 I hardly can load more than one or two articles. This means the welcome page of a content is displayed, but if I click on the random button, I search for a content and try to open a suggestion, click on a link, it almost never work and the app get stuck.

Here is a typical logcat for opening Kiwix and then clicking a few tim

[2021-05-23 11:06] Popolechien opened #2661 "Cannot read zimit-generated files anymore"
Running Android 3.4.4 build 6230404 and ran https://farm.youzim.it/pipeline/a4c6828d8bb6b108d13a8a06 on Zimit. No error message, just the little round thing going round and round for ever as it tries to open the file.

Might be a regression on the zimit side, haven't tested with other zim files yet.

[2021-05-23 11:08] gouri-panda commented on #2661
This happens on my android 6 emulator.

[2021-05-23 13:30] Popolechien commented on #2661
Can confirm it happens on other zim files from zimit.

[2021-05-23 15:31] mhutti1 commented on #2657
Hmm, it looks like my employer remotely disabled usb debugging on my phone... Will need to dig up an older device.

[2021-05-23 17:07] kelson42 commented on #2661
@Popolechien what is your android version?

[2021-05-23 18:01] Popolechien commented on #2661
@kelson42 Android 9 running on Huawei p20 Lite

[2021-05-23 19:20] kelson42 commented on #2661
@gouri-panda OK, so the whole ZIMIT (service worker base) rendering is broken, even on Android10/11? Please test with https://download.kiwix.org/zim/zimit/musictheory.net_en_all_2021-03.zim

[2021-05-23 19:24] kelson42 commented on #2656
They are not clickable because there is no link. Why there is no link is a question to answer by the scraper team. Moving the ticket.

[2021-05-23 19:24] kelson42 commented on #2656
/move openzim/mwoffliner

[2021-05-23 19:24] #2656 closed

[2021-05-23 20:28] gouri-panda commented on #2661
I checked the zim file you suggested.Physical android 10 and android 11 both are fine. but android 6 is not rendering the web.
[code]

[2021-05-24 10:13] R2RT commented on #2592
Sorry about not full report, but I am currently in travel. Anyway, I think there is an issue with extension recognition for files with dots in their names. E.g. bicycles.stackexchange.com_en_all_2021-04.zim could not be found either on internal nor external storage. I've renamed it into bicyclesstackexchangecom_en_all_2021-04.zim and it was finally found.

Samsung Galaxy A71, SM-A715/DS, Android 1

[2021-05-24 11:07] kelson42 commented on #2592
I believe the last comment explains clearly what is the problem?!

[2021-05-24 11:12] gouri-panda commented on #2592
@Moranic Is there any chance your phone running on Android 11? because android changes the android's file setting on android 11.

[2021-05-24 11:24] Moranic commented on #2592
Yes, OP9 ships with Android 11. Then perhaps that is my issue.

[2021-05-24 14:26] kelson42 commented on #2659
@gouri-panda Have you been able to reproduce the problem with the emulator?

[2021-05-24 15:09] gouri-panda commented on #2659
@kelson42 I can't reproduce yet with emulator. Let me see if I can find physical device with Android 6.

[2021-05-24 15:17] kelson42 commented on #2659
@gouri-panda So works for you or you have another problem?

[2021-05-24 15:20] gouri-panda commented on #2659
No, I have another problem #2661

[2021-05-24 17:08] kelson42 commented on #2659
@gouri-panda Ok, but hese files are special anyway. Can you please try with a wikipedia files?

[2021-05-28 19:42] Inbefortus opened #2662 "Making Full-Text-Search avaible again"
For some reason, Full-text-search was disabled a while ago, but is still available on PC. What was the reason to get rid of it in the Android app? Full-text-search is fantastic and incredibly useful when used properly. It helps you go much, much deeper into Wikipedia. It's just fantastic. Can you make it available again in the options? I'm definitely not the only one who will make use of it. I can

[2021-05-29 14:30] jhbiggs commented on #2065
Clarifying questions: Is the goal to install TTS automatically if it is not detected?  Is there a particular TTS kiwis-android uses?

[2021-05-29 14:44] kelson42 commented on #2065
@jhbiggs At this level, I believe the ideas/comments done earlier should be confirmed. The analysis of the problem should be done. Here a few open questions I have:
* Does the system seems to work correctly today?
* What happens if the either the content or the voice at the country specificities like `pt-PT` for example?
* Can we download automatically the voice?
* ....

[2021-06-01 11:14] Inbefortus opened #2663 "Not existing article in English Wikipedia"
The article https://en.wikipedia.org/wiki/Benidorm_(British_TV_series) does not exist in the current English Wikipedia 2021-03 build, so unfortunately cannot be read.

I tried searching under the name of the article, but this is all you get:

![Screenshot_20210601-130718_Kiwix](https://user-images.githubusercontent.com/71934042/120314007-0c9a5780-c2db-11eb-8d91-08db40c45cf9.jpg)

If you click on "

[2021-06-03 05:56] ElectroXexual commented on #2592
Why not implement your own file picker so you won't have to rely on how samsung file browser or any other file managers work? Just add a button in library that opens file browser where you pick a zim file. If you pick a wrong file type that's on you, no need to bother with mimetype either.

[2021-06-03 07:56] shapeshifter910 commented on #2592
I think I know. For the same reason they expect people to download a 90GB file to a phone. They are clueless.
Certainly have no clue how to code and how software and hardware works.

[2021-06-03 17:36] #2566 closed

[2021-06-03 20:25] virtadpt commented on #2592
There is no shortage of open source file managers for Android that could be examined to see how they did it.

[2021-06-03 20:26] virtadpt commented on #2592
In some respects, you are correct.  The whole point of Kiwix is to make Wikipedia (all 90-some gigabytes of it) available in areas where accessing Wikipedia or downloading a mirror of it are infeasible or just not possible.  That this very use case isn't attainable unless one can get their phone to reliably download a mirror of Wikipedia is just... b0rken.  So broken it breaks the word 'broken'.

[2021-06-03 20:29] virtadpt commented on #2592
? https://github.com/zhanghai/MaterialFiles/blob/master/app/src/main/java/me/zhanghai/android/files/filelist/OpenFileActivity.kt

[2021-06-03 20:31] virtadpt commented on #2592
? https://developer.android.com/guide/topics/providers/document-provider

[2021-06-05 12:22] jhbiggs commented on #2065
On initial launch, the readAloud does not appear to have initialized.  The first tap shows the error toast, then on second tap the readAloud launches successfully.  Perhaps the toast message should read, "Please wait, initializing text-to-speech"?

[2021-06-05 12:27] kelson42 commented on #2065
@jhbiggs what is this init time? How long it takes? Is that normal?

[2021-06-05 20:03] mhutti1 commented on #2592
We can't use the storage access framework as we need to get a native file descriptor and last time I checked it won't provide one unfortunately. We  have some work that might let us work around this but it is not ready yet.

[2021-06-05 20:04] mhutti1 commented on #2592
At the moment all the developers on the Android project are volunteers, with limited time. This is an open source project so if you feel you understand a solution please make the pull request with the fix.

[2021-06-06 02:26] jhbiggs commented on #2065
I was wrong, the voice download is causing the delay and error toast.

The if condition on line 119 in KiwixTextToSpeech.kt triggers the toast.  The Engine.KEY_FEATURE_NOT_INSTALLED evaluates to true.  The line before it, tts.setLanguage(locale), triggers the download which has not yet completed by the time the KEY_FEATURE expression is evaluated.  [Documentation](https://developer.android.com/ref

[2021-06-06 04:30] #2657 closed

[2021-06-08 13:39] Popolechien commented on #2663
@Inbefortus But then isn't this an issue with the Wikipedia ZIM file rather than Android?

[2021-06-08 13:41] Popolechien opened #2664 "Missing images in custom Wikipedia zim"
When generating a test zim file from https://farm.openzim.org/recipes/wikipedia_en_for_schools the corresponding zim file seems to have missed an image.
I ran the recipe twice, and the same image (https://en.wikipedia.org/wiki/Wikipedia:Wikipedia_for_Schools/Welcome/Mathematics#/media/File:Fisher_iris_versicolor_sepalwidth.png) is always missing:
![Capture d’écran 2021-06-08 à 14 55 48](https://

[2021-06-08 13:44] kelson42 commented on #2664
@Popolechien The problem is in the ZIM, sorry about that.

[2021-06-08 13:44] #2664 closed

[2021-06-08 13:45] Popolechien commented on #2664
Ah, apparently a ZIM issue in the end. https://github.com/openzim/mwoffliner/issues/1477

[2021-06-08 16:05] kelson42 commented on #2663
/move openzim/mwoffliner

[2021-06-08 16:05] #2663 closed

[2021-06-11 09:03] Inbefortus opened #2665 "Missing image in English and German Wikipedia"
I'm using Kiwix 3.4.3. ZIM is 2021-03 English and German Wikipedia.

Thanks to the random article feature, I came across https://en.wikipedia.org/wiki/William_L._Jorgensen

It looks like the only image in this article is missing (or just not displayed correctly?).

In Kiwix (English Wikipedia)

![Screenshot_20210611-092619_Kiwix.jpg](https://user-images.githubusercontent.com/71934042/121661381-702

[2021-06-17 08:30] kelson42 commented on #2659
I will close this ticket. Quite sure meanwhile the problem is the same fixed with https://github.com/openzim/libzim/pull/569. This impacts 32 bits devices with recent ZIM files. Since a week we are regenerating new ZIM files which need less memory to be allocated, so the problem should resolved by itself soon.

[2021-06-17 08:30] #2659 closed

[2021-06-17 08:33] kelson42 commented on #2661
@Popolechien Can you please regenerate the zim file and try again? I believe it might be related to the problem we had with the zstd compression.

[2021-06-17 12:24] Popolechien commented on #2661
Yes, all good now.

[2021-06-17 12:24] #2661 closed

[2021-06-17 12:36] kelson42 commented on #2516
@gouri-panda I don't remember in details our discussion on this. Would you be able please to put an update comment here about what has been done and what could/should be done?

[2021-06-17 15:21] gouri-panda commented on #2516
@kelson42 Google Play will require new apps to use the Android App Bundle publishing format. This brings the benefits of smaller apps and simpler releases to more users and developers.
* Publish with the Android App Bundle format.
* Target API level 30 (Android 11) or above

[2021-06-17 15:56] kelson42 commented on #2516
@gouri-panda How much work is needed for each item and what are the (bad) consequences to expect (for the bundle in particular)? Does that impact the release process for Kiwix Android? For the custom apps?

[2021-06-17 16:19] gouri-panda commented on #2516
Well, I covered most of the work in that following PR. If Issac or Abdul are free to review, then they can give feedback

This is my first experience with Bundle. So I don't think I can give my opinion. But in my experience, the play store just won't update to the latest version.

Here is the official timeline

<img width="740" alt="Screen Shot 2021-06-17 at 21 42 19" src="https://user-images.gith

[2021-06-18 07:26] kelson42 commented on #2516
Which PR are we talking about, no PR is linked here to this ticket!

OK, so lets try to do that quickly then. Thx!

[2021-06-18 13:07] gouri-panda commented on #2516
#2660

👍

[2021-06-19 04:43] gouri-panda opened #2667 "Latest PR's coverage report is failing"
**Describe the bug**
Latest PR's both coverage reports are failing due to socket time out exception.
[code]
See [error](https://github.com/kiwix/kiwix-android/pull/2660/checks?check_run_id=2863393221)
Maybe it's Bintray or timeouts while downloading Maven dependencies due to network timeouts
**Tried Before**
Added `mavenCentral()` in project build.gradle. In that case, it passes one coverage repor

[2021-06-19 05:35] soloturn opened #2669 "jb-compose or jetpack compose GUI"
currently kiwix uses XML files to configure its GUI. android offers nowadays to compose and declare a GUI programmatically with jetpack compose: https://developer.android.com/jetpack/compose.

building on this foundation, jb-compose: https://github.com/JetBrains/compose-jb was created, which promises to facilitate desktop applications, and what they call "multiplatform" - i.e. android + desktop. h

[2021-06-20 07:36] gouri-panda commented on #2669
@soloturn Thank you for the Feature request. I have been experimenting with Jetpack compose for the last couple of months. It's so great. By jetpack compose we can write more beautiful and complex screens with less code, we can reduce 30-40% UI boilerplate code and reuse code elsewhere as you mentioned above. We can start with small screens as we did files from java to kotlin, since it is a big im

[2021-06-20 07:58] gouri-panda commented on #2667
it seems Maven Central bans and holds the request if there are too many requests. Maybe proxy mirroring maven central will solve the problem.

[2021-06-20 08:46] kelson42 commented on #2667
The URLs in your bug report are not at Maven Central. What goes wrong exactly?

[2021-06-20 16:34] s-ayush2903 commented on #2667
Dear @kelson42 : )
As we know that bintray has sunset, and we still have dependency on same i.e., `jcenter()`(see [here](https://github.com/kiwix/kiwix-android/blob/19a70529f481909ff78ab7c879d9c85ceaeed304/build.gradle.kts#L4) & [here](https://github.com/kiwix/kiwix-android/blob/19a70529f481909ff78ab7c879d9c85ceaeed304/build.gradle.kts#L22)), due to which in our CI processes, the runners tend to f

[2021-06-25 16:05] EvansJahja commented on #2459
Fixed in newer version

[2021-06-25 16:05] #2459 closed

[2021-06-25 16:07] kelson42 commented on #2459
@EvansJahja Thx you for reporting back.

[2021-07-01 04:41] soloturn commented on #2669
@gouri-panda which screen would you choose to start?

[2021-07-03 20:35] Inbefortus opened #2671 "Articles containing "?" cannot be opened"
Kiwix Version: 3.4.4
ZIM: 2021-03 German and English Wikipedia

Articles that contain a "?" cannot be opened. You can only open them by opening them in a new tab, as demonstrated in the videos below:

https://user-images.githubusercontent.com/71934042/124366295-f58ab480-dc4e-11eb-93b7-cdb7edb5d0ea.mp4

https://user-images.githubusercontent.com/71934042/124366296-f6bbe180-dc4e-11eb-861b-1a7330a44a9

[2021-07-03 21:08] Inbefortus opened #2672 "Images not appearing after using the random article function"
Kiwix Version: 3.4.4
ZIM: 2021-03 English Wikipedia

After using the random article function, images do not come forth as they should (this is not always the case). In order for them to pop up, you need to touch the screen, as you can see in the video below (note the white circle at the 2-second mark indicating that I touched the screen):

https://user-images.githubusercontent.com/71934042/1243669

[2021-07-04 19:01] Inbefortus opened #2673 "Red dot is not visible on the map"
Kiwix Version: 3.4.4
ZIM: 2021-03 German Wikipedia

The red dot illustrating the geographical location is not visible. 2021-03 English Wikipedia is not concerned.

Either article that has something to do with a city is implicated.

Kiwix:

![Screenshot_20210704-202607_Kiwix](https://user-images.githubusercontent.com/71934042/124396467-077d5d80-dd0a-11eb-9461-feb6b1f781a7.jpg)

Original German Wiki

[2021-07-05 11:24] Inbefortus opened #2674 "Adding a Wikimedia desktop style setting to Kiwix Android to debunk templates"
Adding the 'Wikimedia desktop style' to the Android Kiwix app as a setting would warrant us mobile android users to navigate through templates. At the moment you are forced to use the 'Wikimedia mobile style' (which is logical), but at a high price.

See https://github.com/openzim/mwoffliner/issues/1474#issuecomment-874006472

[2021-07-05 11:35] kelson42 commented on #2674
Kiwix Android is content agnostic. Everything related to content is in the ZIM file.

[2021-07-05 11:35] #2674 closed

[2021-07-12 07:23] #2667 closed

[2021-07-12 19:19] gouri-panda commented on #2669
@soloturn Hehe, It totally depends on @kelson42. As I previously pointed out this needs to be closely reviewed.

[2021-07-13 08:45] diashima opened #2675 "Access own kiwix server through my own local IP."
Hello. My company has our own mobile operator, that can connect directly to the server of my office through 4G (like local network).
Is there any way to host kiwix server and then connect to our own IP trough kiwix-android app?

[2021-07-13 08:56] kelson42 commented on #2675
I guess you don't need kiwix-android, just host kiwix-serve on a server and have it listen to internet HTTP requests.

[2021-07-13 09:08] kelson42 commented on #2675
I guess you mean a REST API. Answer is yes a bit, and we are strongly developing. Documentation is not full so far. What do you want to do?

[2021-07-13 09:12] diashima commented on #2675
I want to create mobile application (android/kotlin), where users will have ability to connect(search, preview) to wiki dump, that is post on server via local connection.

[2021-07-13 09:20] kelson42 commented on #2675
You should be able to do that with kiwix-serve. The is no formal fulltext search API so far, but an opensearch API will be implemented in the next months https://github.com/kiwix/kiwix-tools/issues/52. You can make a title search (see how the kiwix-serve title suggestion box works).

[2021-07-13 09:20] #2675 closed

[2021-07-13 19:30] jl2359 opened #2676 "Saved zim files do not show when reinstalling app"
Downloads only run when the app opens, but are cancelled when exiting the app or leaving the phone idle, leaving 1 hour downloads to take several days, and usually failing before being fully downloaded. After some zim files being stuck in "Waiting"-mode and/or downloads constantly failing, I uninstalled and reinstalled the Kiwix android app version 3.4.1, the latest from F-Droid, on Fairphone 3 ru

[2021-07-16 20:59] l-one1 commented on #2592
Just found this thread off Reddit.  Can confirm issue happens to me with the following data:

Kiwix 3.4.4 Build: 6230404 on Android 11, Kernel 4.14.113, June 1 2021 security patch level / Samsung Galaxy XCover Pro SM-G715U1.

My experience with this bug:

After having my download fail for the ~82GB Wikipedia Maxi file I downloaded it on my computer with Bittorrent instead.  I found the directory t

[2021-07-19 04:43] kelson42 commented on #2665
file seems to be missing in ZIM file, see http://library.kiwix.org/wikipedia_en_all_maxi/A/William_L._Jorgensen

[2021-07-19 04:44] kelson42 commented on #2665
/move openzim/mwoffliner

[2021-07-19 04:44] #2665 closed

[2021-07-19 04:45] kelson42 commented on #2662
Duplicate of #1324

[2021-07-19 04:45] #2662 closed

[2021-07-19 15:48] #2398 closed

[2021-07-22 09:01] suterma commented on #1553
I really second this. I also had a hard time finding the note about the IP address. To display it as a QR code is technically simple, just encode the text of the url (eg "http://123.234.454.566:8080") into the QR code. Most QR code readers would automatically open the URL after scanning, or at least offer the option to do so after acknowledgement.

[2021-07-22 09:43] suterma opened #2678 "WIP: Wifi local hosting server not working (non-Hotspot mode)"
Note: This might be related to or a consequence of https://github.com/kiwix/kiwix-android/issues/2071

**Describe the bug**, **Steps to reproduce the behavior:**, **Screenshots**
When I go to Menu/WiFi Hotspot I am presented with the available files I with to host. I select all of them (3 in my case) and click on "START SERVER". This pops up the following dialog:
<img src="https://user-images.gith

[2021-07-22 11:34] suterma commented on #1542
Just as a reference, here is how it currently looks on my Fairphone3, version 3.4.4, without any of the above improvements yet included. It's unnecessarily hard to spot.
![Screenshot_20210722-102421](https://user-images.githubusercontent.com/11473920/126632998-eebebbfd-b54f-4675-ba01-6bc0f7a5a327.jpeg)

[2021-07-24 10:19] soloturn commented on #2669
@gouri-panda just choose one which sounds reasonable to you?

[2021-07-25 01:58] s-ayush2903 commented on #1542
@suterma You can try the apk generated from the linked PR(we publish APK related to each PR as CI artifacts at GitHub) and let us know your feedback : )
Let me know if you find any problem in getting the APK

[2021-07-25 07:27] JensKorte commented on #1542
I don't find it, can you help me, please?

[2021-07-25 08:05] kelson42 commented on #1553
@suterma I agree, Maybe @s-ayush2903 can implement this as well in #2679. Would be really great IMO!

[2021-07-25 08:39] s-ayush2903 commented on #1542
For _now_, you can directly go to [this](https://github.com/kiwix/kiwix-android/pull/2679/checks?check_run_id=3152899616) link to obtain the APK(via taking _little_ help from picture attached), also keep in mind that the APK from this url will become obsolete if I push any further commits/work on the linked PR, so in that case follow the given instructions in sequence given below(this general work

[2021-07-25 09:02] JensKorte commented on #1542
The link works, but the renderer is not nice.

![Screenshot_20210725-105738_Kiwix](https://user-images.githubusercontent.com/2682123/126893599-4e6a1531-ee9a-4f63-b111-3c5ac64051f1.png)

[2021-07-25 09:08] s-ayush2903 commented on #1553
Ah, it _is_ much involved. I believe it'll be better if we can handle this as a follow up in near future and for the time being, think on how we can improve the basic initial implementation.

Also, I think we'll need some design mockup here to think/decide on how to present the QR Code to the user before planning to implement the fix.

[2021-07-25 09:11] s-ayush2903 commented on #1542
Thanks a lot for testing it out. I just thought of `en` while writing the fix and other languages were really not in my mind. Will push the fix :)

[2021-07-25 11:03] s-ayush2903 commented on #1542
Now it should work flawlessly in all scenarios, I've generalized the method for finding the url in the text

|An example|
|--|
|<img src="https://files.gitter.im/5e46e1d4d73408ce4fd9acef/v7yT/fix.jpeg" height=500>|

[2021-07-25 16:20] JensKorte commented on #1542
Link looks good and Link and "Share to" works for me. Can the link be even bigger or bright? At least it is better visible then before.

[2021-07-28 10:27] kelson42 commented on #2669
@mhutti1 @abdulwd I would like to get your comments on this before further going on with this idea.

[2021-07-28 10:53] abdulwd commented on #2669
Looks interesting but I haven't used it so don't know the nitty-gritty. We should also check if it's being adopted by other projects/organizations as well & what are the shortcomings/trade-offs of using this framework.

If we plan to move I would choose the help activity because it's the simplest.

[2021-07-28 12:20] gouri-panda commented on #2669
@abdulwd Pretty much all big and medium organizations started using jetpack-compose in all their application. They are waiting for a stable version to start shipping on production, which will happen after the end of July. Google rolled out [release](https://developer.android.com/jetpack/androidx/releases/compose) candidates in the mid of July. So the 1.0 stable may release in a couple of days.

[2021-07-31 08:51] 4shutosh commented on #2669
Compose 1.0 stable is out 🎉

Compose is a great thing and must be adopted at some point in time or other. It really depends on the priorities of our app at this time. I agree with @gouri-panda that we lack an active maintainer as the changes will be required to be closely monitored and new tests will also be required to write.

IMO migrating to compose should not be the first priority as of now, a

[2021-07-31 15:28] #1542 closed

[2021-07-31 15:57] gouri-panda opened #2683 "500 Error happens in Browser"
**Describe the bug**
Sometimes if I Open Kiwix's hotspot server through kiwix's android app to see my zim files in my browser.Sometimes I got 500 & 404 (internal server error and page not found)

**Expected behavior**
Not to see that error.

**Steps to reproduce the behavior:**
It happens 6 out of 10 times.

1. Open kiwix android app
2. Go to wifi-hotspot
3. Start the server
4. Look into the brows

[2021-07-31 16:05] kelson42 commented on #2683
If something goes wrong here, this is highly probably something wrong in the libkiwix.I would recommend to keep that ticket open until we have finish to introduce new JNI based on libkiwix10. Then if the bug is still there, look at it.

[2021-08-01 09:52] s-ayush2903 commented on #2683
Hi, I am aware of it. If you closely inspect the entire behavior of the application, then it turns out, the server shows `Internal Server Error`, _only_ after the application has been terminated(or better to say killed) by the android OS. We might consider optimizing resources usage in order to prevent the application from being killed by the OS(when we move back and forth between browser and appl

[2021-08-01 11:19] kelson42 commented on #2683
Then this is a pure Android problem where we need to handle different,y the hibernation strategy in case the server mode is activated, right?

[2021-08-07 20:21] s-ayush2903 commented on #2683
Yep exactly! These days I'm busy with wrapping my summer of code project and college too has reopened, leaving a very less amount of time in my hands. I do not know when I'll get around this issue, but hopefully it should not be _that_ tricky to fix.

[2021-08-08 17:28] ibrahim1520 commented on #2671
Hello !
Can I fix it?

[2021-08-08 17:44] kelson42 commented on #2671
@ibrahim1520 Yes, but first, what is your analysis of the problem? How would look like your solution?

[2021-08-10 13:30] Popolechien opened #2684 "Unable to open PDF files in zimit generated files"
From [openzim/zimit/issues/101](../../../openzim/zimit/issues/101):

![Capture d’écran 2021-08-10 à 09 36 05](https://user-images.githubusercontent.com/21675885/128827275-d00d2af8-c108-4e81-ae87-74ca222bd9d0.png)

Files can be open / read on Kiwix-serve, so there must be an issue with Android somehow.

[2021-08-25 10:14] #2516 closed

[2021-08-25 19:02] Popolechien opened #2686 "Add Ladakhi (lbj) to language list"
We've got content in this language that cannot be retrieved in the app because Ladakhi is not an option from the language list.

[2021-08-26 11:14] kelson42 opened #2687 "Release 3.4.5"
* [] Update the changelog file
* [] Prepare the source code for version 3.4.5
* [] Merge to `master`
* [] Create a tag on git

[2021-08-28 08:16] 4shutosh opened #2688 "Using DataStore instead of SharedPreferences"
**Is your feature request related to a problem? Please describe.**

SharedPreferences are used for storing key-value pairs in local storage, which is now deprecated.

**Describe the solution you'd like**

[Jetpack DataStore](https://developer.android.com/topic/libraries/architecture/datastore) Preferences should be used instead of shared preferences
A good article explaining the benefits is [here]

[2021-08-28 09:11] kelson42 commented on #2684
@Popolechien It would be really helpful next time (or maybe even this time) to provide the ZIM to reproduce the problem. Otherwise we have basically no garantee that we can reproduce the problem under the same conditions.

[2021-08-28 09:43] kelson42 opened #2689 "Library language list should be retrieved dyanmically from libkiwix"
For the moment the list is hardcoded at the Kiwix-Android level. But since a few weeks @veloman-yunkan has implemented in libkiwix10 the primitive to get the list of languages for which we have contents. This is available both at the ABI level and in a form of a REST API end-point.

Therefore the Ladakhi is already (modulo https://github.com/kiwix/libkiwix/issues/611) listed in the list of languag

[2021-08-28 09:44] kelson42 commented on #2686
Duplicate of #2689 which is the technical formulation of this ticket.

[2021-08-28 09:44] #2686 closed

[2021-08-28 12:21] 4shutosh opened #2690 "Storing Zim/Book files inside the seperate Kiwix Directory"
**Describe the bug**

Why are we not storing all the zim files aka the "books" on the external storage inside the Kiwix directory just as the notes?
- As per current implementation if the user uninstalls the app all the downloaded books are also removed which is defying the primary motive of our app. (Basically users lose all the time and data used to download the files: primary user target is wit

[2021-08-28 12:56] kelson42 commented on #2690
@4shutosh You can save to the external SD card, if you choose it in the settings.

[2021-08-29 12:48] 4shutosh commented on #2690
But the point being the default behaviour removes the books on uninstall, is that ideal?

[2021-08-29 13:29] kelson42 commented on #2690
AFAIK they are removed only if they are in the default app directory (default behaviour) and there is nothing we can do about that. AFAIK, the ZIM files are not deleted if they are stored somewhere else. The ticket should be rewritten like a standard bug with a concrete example which is buggy.

[2021-08-29 14:52] gouri-panda opened #2693 "External link doesn't work anymore in android 11"
**Steps to reproduce the behavior:**
1. Go to an external link inside the zim file
2.  See the error.

**Environment**
- Version of Kiwix Android: 3.4.4
- Device: Realme
- OS version: 11

[2021-08-29 16:12] gouri-panda opened #2694 "Add `MANAGE_EXTERNAL_STORAGE` permission"
**Is your feature request related to a problem? Please describe.**
In android 11 we have to add `MANAGE_EXTERNAL_STORAGE`  in order to access other zim files that are present other than our app(outside the app).

**Describe the solution you'd like**
Add this permission

**Additional context**
Previously we discussed: [here](https://github.com/kiwix/kiwix-android/pull/2660#issuecomment-846469934) [

[2021-08-29 17:01] 4shutosh opened #2696 "Upgrading Object-Box Dependency to support ConflictStrategy"
**Is your feature request related to a problem? Please describe.**

PageFragment implementations require ConflictStrategy to work better for storing unique objects.

**Describe the solution you'd like**

Dependency update required for object-box reference [here](https://github.com/objectbox/objectbox-java/issues/509)

[2021-08-30 05:59] #2693 closed

[2021-08-30 15:32] kelson42 commented on #2377
Still there
![image](https://user-images.githubusercontent.com/1029718/131364672-6b7f1f98-bb01-4553-90b4-3bb16dc39aa9.png)

[2021-08-30 15:46] gouri-panda opened #2698 "Add api 30 in both coverage and nightly"
We have to know that if it works with new devices. Currently, coverage only tests 21 and nightly tests 21, 22, 23,24,25,27,28.

[2021-09-01 06:43] kelson42 commented on #2694
@gouri-panda Something important about this, it is important this feature does not impact the custom app. In custom apps, this permission is not needed, so either this is fully transparent for the end-user, or we need to someone avoid to request it for custom apps.

[2021-09-01 11:59] gouri-panda commented on #2694
@kelson42 Our `kiwix-android` and `custom app` have two manifest files. So we don't need this permission in our custom app.

[2021-09-03 09:32] Inbefortus commented on #2673
@4shutosh This is not the case with Kiwix JS PWA, it works in both desktop and mobile style. So I think it has something to do with the app itself.

Kiwix JS PWA:

![Screenshot_20210903-112345_Samsung Internet](https://user-images.githubusercontent.com/71934042/131983740-93f456c6-3b1a-444b-aaa6-55f23cb31812.jpg)
![Screenshot_20210903-112359_Samsung Internet](https://user-images.githubusercontent.c

[2021-09-03 10:49] gouri-panda commented on #2673
@Inbefortus Can you give us the zim file name and the android version you are using? Thanks!

[2021-09-03 11:09] Inbefortus commented on #2673
@gouri-panda wikipedia_de_all_maxi_2021-03.zim and wikipedia_de_all_maxi_2021-08.zim

Kiwix Android 3.4.4

[2021-09-04 17:56] Inbefortus opened #2701 "Option to display more content on a large screen"
It would be appropriate for us tablet users if there was an option to display more content on a large screen. The layout is rather adapted for mobile users and should therefore also be optimized for a tablet.

In Kiwix it looks like this:

![Screenshot_20210904-191325_Kiwix](https://user-images.githubusercontent.com/71934042/132103748-663d2da7-d37f-4acc-bab6-e2bb66a0e340.jpg)

Best would be like t

[2021-09-12 08:38] kelson42 opened #2704 "Unable to upload 3.4.5 bundle to Play Store because of language error"
Here is the log:

[code]

Considering that this comes from Translatewiki, would be good to find either a way to not put them in the bundle or to not have them exported by Translatewiki

[2021-09-12 08:40] kelson42 commented on #2704
@gouri-panda Do you think you could find a way to not integrate them (the two concerned languages) to the bundle, without having to delete them from the code repository?

[2021-09-12 12:02] #2704 closed

[2021-09-12 13:35] gouri-panda opened #2706 "Production release fails on download.kiwix.org"
Error:

[2021-09-12 14:55] #2706 closed

[2021-09-16 05:10] pratik2315 commented on #2701
Hey @Inbefortus, Is this issue still open to work, can I work on this?
Thanks.

[2021-09-16 05:27] Inbefortus commented on #2701
@pratik2315 Of course!

[2021-09-16 23:48] cjohnsto-nz opened #2709 "PDF files accessed from Kiwix fail to open in external PDF reader apps"
**Describe the bug**

Opening a PDF from a ZIM in Kiwix opens the dialog to select an application. No matter what application is selected, the application will fail to open the PDF.
**Expected behavior**

PDF files included in ZIMs should be able to be either saved to the device and have a URI provided through a Content Provider, or streamed to the application to prevent duplicate use of storage.

[2021-09-20 08:17] cjohnsto-nz commented on #2709
Kelson, can I ask, do you have an idea of what the issue is here, and what a solution might be? I have some time on my hands that I could spend looking into this. Thought I'd check with you first to see if there is prior knowledge.

[2021-09-20 13:19] kelson42 commented on #2709
Not really. I guess we call the wrong Qt widget, or with the wrong option. Maybe @juuz0 has a clue?

[2021-09-20 13:39] juuz0 commented on #2709
@kelson42 Wrong repo, I guess :D

[2021-09-20 13:43] kelson42 commented on #2709
@juuz0 oh yes sorry... there is a similar ticket on kiwix-desktop... and i got confused.

[2021-09-22 06:02] Rishavgupta12345 commented on #2458
hi can i work on this issue

[2021-09-22 06:08] Rishavgupta12345 commented on #2068
is this issue still pending ?

can I work on it ?

[2021-09-22 06:11] Rishavgupta12345 commented on #1826
i think this issue is already solved

if not then please tell me what changes can I do?

[2021-09-22 06:14] Rishavgupta12345 commented on #1739
can i work on this issue

[2021-09-22 06:42] 4shutosh commented on #1739
There is a PR linked to this issue, take a look at what's going on there and ask the same on that thread.

[2021-09-22 08:16] kelson42 commented on #2458
@Rishavgupta12345 nice, please make a PR when you are so far.

[2021-09-22 08:17] kelson42 commented on #1826
Do we have a list of modules which still need to be converted?

[2021-09-22 19:33] gouri-panda commented on #2068
@Rishavgupta12345 go ahead!

[2021-09-25 09:48] Rishavgupta12345 commented on #2678
@suterma  in above mention option 1 . if we connect to hotspot the app works perfectly but in option 2 doesn't works because I think the person who wants to share the server must use , hotspot to share the connection rather than wifi LAN connection

that's why the app doesn't works in option 2

[2021-09-28 05:53] Rishavgupta12345 commented on #1826
@kelson42 @gouri-panda  WHENEVER I AM DOING A COMMIT ON YOUR  CLONED PROJECT I AM GETTING "commit failed with error" and the commit is failing . CAN YOU PLEASE HELP ME OUT ?

DESCRIPTION OF ERROR :

Running lint... Starting a Gradle Daemon, 1 incompatible Daemon could not be reused, use --status for details > Task :buildSrc:compileKotlin FAILED FAILURE: Build failed with an exception. * What went

[2021-09-28 18:01] gouri-panda commented on #1826
@Rishavgupta12345 It's complaining that you are using a  greater version of JDK 8 when your gradle is only compatible up to a JDK  8version.  You need Java 8 or above JDK and not just JRE. Let me know if you still got errors.

[2021-09-29 06:53] Rishavgupta12345 commented on #1826
@gouri-panda  yes I did the following changes which you asked but things are not committing yet. but the error has changed from before

description of error:-
Starting a Gradle Daemon, 1 incompatible and 4 stopped Daemons could not be reused, use --status for details FAILURE: Build failed with an exception. * What went wrong: Unable to start the daemon process. This problem might be caused by inco

[2021-09-29 07:02] gouri-panda commented on #1826
@Rishavgupta12345 You can ask these questions on our slacks Android channel. We can discuss over there. Ask in Android channel and I'll get back to you :)

[2021-09-30 21:42] gouri-panda opened #2712 "Remove Duplicate strings from projects"

[2021-10-01 05:04] kelson42 commented on #2712
What is exactly the problem here? Where are the duplicates? There has to be a reason why we have duplicates?

[2021-10-01 05:50] gouri-panda commented on #2712
These are some duplicates files https://github.com/kiwix/kiwix-android/blob/develop/custom/src/main/res/values/strings.xml#L5 and https://github.com/kiwix/kiwix-android/blob/develop/core/src/main/res/values/strings.xml#L107.

Maybe it was added unintentionally.

[2021-10-04 14:35] Popolechien opened #2714 "Improper display of gallery mode"
Not entirely sure if this is an android or mwoffliner issue, but the display problem only appear here so...

The article [Electroencephalography](https://en.wikipedia.org/wiki/Electroencephalography) has a gallery of images with rather long descriptions. It appears normally on Kiwix-serve (see [here](https://en.wikipedia.org/wiki/Electroencephalography)):
![Capture d’écran 2021-10-04 à 16 33 16]

[2021-10-04 20:55] uellenberg commented on #2709
I am unable to view any of the books under WikiBooks. Instead of opening, I receive the message "Could not find an installed application for this type of file." Is this maybe related? It also seems similar to #2684.

[2021-10-10 13:22] rocky-III opened #2715 "can´t download any books anymore"
I use Kiwix for years - Thanks for the great app.
Now I tried to download a lager Wikipedia book for several times but it did not work and got stucked in the middle always...
I deleted all books and did a reinstall of Kiwix and now I cant´download any books anymore... I can see the offered books but when i click them in order for a download nothing happens... several reinstallations and and upgrad

[2021-10-10 14:36] kelson42 commented on #2687
done

[2021-10-10 14:36] #2687 closed

[2021-10-11 13:50] vivadavid opened #2716 "Kiwix can't find my ZIM files"
Hi, before updating to version 3.4.5 beta, I had a couple of ZIM files in a folder called <Kiwix>, located in the root folder of the internal storage of my phone. After the update, Kiwix can't find them and my library list remains empty. I cleared the cache, with no result.

- Version of Kiwix Android : 3.4.5 beta.
- Device : Xiaomi Mi 9T pro.
- OS version : Android 11.

[2021-10-12 09:32] rocky-III commented on #2715
Ok - yesterday all went as usually  - everything did work...

was the kiwix server down on sunday?

here is the log:
[code]

[2021-10-12 09:37] kelson42 commented on #2715
There was a disk problem on download.kiwix.org on Sunday.

[2021-10-14 18:14] kevinmcmurtrie commented on #2592
Same problem with 3.4.5 beta on a new Android 11 phone.  I set external storage, downloaded a tiny zimfile in Kiwix, then added my big zimfiles in the same directory as the Kiwix download.  The app brings up a spinner for a long time in the library view but it can't see anything other than its own download.
I see other apps completely avoiding app storage for microSD cards because Google's API fil

[2021-10-15 06:40] kelson42 commented on #2592
Yes, the problem is still there. I really do my best so we can fix this (or at least improve the situation) in the version 3.4.6.

[2021-10-15 10:00] cdhiraj40 opened #2717 "Hide Keyboard when Scrolling in OnlineLibraryFragment/PagerFragment"
**Is your feature request related to a problem? Please describe.**
In  OnlineLibraryFragment  & PagerFragment  while scrolling the keyboard just stays there and takes so much space of the page
which in my opinion isn't a great experience, its better if we scroll and the keyboard goes away :)

**Describe the solution you'd like**
I will addOnScrollListener to the recycler view so everytime we scrol

[2021-10-17 16:13] gouri-panda commented on #2717
Yeah, I like the idea. It's great UX. The basic fundamental is  If the edit-text field doesn't focus anymore. Let the keyboard hide. @kelson42 What do you think?

[2021-10-18 08:34] cdhiraj40 commented on #2717
also, one more thing should searchView/editText lose focus(remove cursor) when scrolled?

[2021-10-18 10:51] gouri-panda commented on #2717
Leave it for now. Although I find it odd we don't lose focus if we click enter.

[2021-10-20 05:58] cdhiraj40 commented on #1826
hey, @gouri-panda I would like to convert matcher.java to matcher.kt, and can you explain to me what does it mean by ``` first create a ticket for that class. ``` Thanks :)

[2021-10-20 09:32] gouri-panda commented on #1826
@cdhiraj40 Github Issues let you track your work on GitHub. If you create an issue then you want to solve this issue, then the issue can assign to you. That's how anyone's work doesn't conflict with each other. If you want to convert a java class file to kotlin then you need to create an issue first if it isn't created yet. In this way, It'll keep track of which files are underway from java to kot

[2021-10-20 10:11] cdhiraj40 opened #2719 "convert matcher.java to Kotlin"
Parent issue: #1826

What changes you have made:
Converted Java file to Kotlin

[2021-10-20 12:36] Popolechien opened #2721 "Update logo on app launch screen"
For some reason the old logo is still showing when opening the app:
![Screenshot_20211020-142826](https://user-images.githubusercontent.com/21675885/138092753-66ff6427-12c4-4097-8942-26c0ec36c206.png)

The current version of our logo can be found here: https://commons.wikimedia.org/wiki/File:Logo-kiwix-vertical.svg (or [here](https://upload.wikimedia.org/wikipedia/commons/thumb/c/c4/Logo-kiwix-ver

[2021-10-20 13:27] juuz0 opened #2722 "Update Play Store images"
The images in playstore don't reflect the current UI of Kiwix. Should be updated.

As suggested in the Slack channel,
https://app-mockup.com/ can be used to make the screenshots.

This has some screenshots that could be used (along with the app-mockup file to build upon these screenshots) :
https://drive.google.com/drive/folders/1WHq6ejO7zeHgg5cKgPXpggZiBl_sv45m?usp=sharing

[2021-10-20 14:11] Popolechien commented on #2721
https://commons.wikimedia.org/wiki/Category:Logos_of_Kiwix ?

[2021-10-21 04:34] cdhiraj40 commented on #2721
we have the same old logo in left menu  too

[2021-10-21 05:08] #2722 closed, assigned to nobody

[2021-10-21 05:54] Popolechien commented on #2721
@cdhiraj40 Yep - I'll open a separate ticket for that one once the new version is ready.

[2021-10-21 08:44] Popolechien opened #2723 "Update logo banner on hamburger menu"
The current hamburger menu displays the old logo when opened
![screenshot2](https://user-images.githubusercontent.com/21675885/138094196-64fa5421-4241-4eb6-8b0c-99ffd0177ab4.png)

Here is the updated version (a bit of cropping will probably be needed):
.png: https://drive.google.com/file/d/1ZFYbQT-G8NbKMfyRSCat8wtOz_ujZtpW/view?usp=sharing
.svg: https://drive.google.com/file/d/1t6sU65SQZ8W1FgJp-2n

[2021-10-21 11:31] Popolechien commented on #2723
Nope! Splash screen image is the one listed in #2721 and which you can find here: https://commons.wikimedia.org/wiki/File:Logo-kiwix-vertical.svg

In this present ticket (hamburger menu) the image is different. Two updates, two distinct images.

[2021-10-21 11:56] cdhiraj40 commented on #2723
I think you are using the test app, there is one more app (sorry I don't remember the name) there you have to do changes

[2021-10-21 12:10] gouri-panda commented on #2723
@AdiAr11 You are selecting the `kiwix-custom` app select the `kiwix-android` app
![Screen Shot 2021-10-21 at 17 39 17](https://user-images.githubusercontent.com/43576162/138274193-53fb3bcb-cc49-489f-9032-0663970075f1.png).
Here select the app.

[2021-10-22 01:53] TimMagee commented on #731
This issue is still as relevant today as it ever has been.

[2021-10-25 16:53] suptheapp opened #2725 "Double Character Input with Unihertz Titan Pocket"
With the brand new Unihertz Titan Pocket's physical keyboard (Android 11) there is a bug where double characters show up in Kiwix when using the physical keyboard --- one press of the key results in two identical characters being pressed.  There may be a buffer issue in the text input field because many rapid presses can result in an odd number of characters being entered.  Using the on-screen key

[2021-11-02 21:00] Fs00 opened #2728 ""Get content" launcher icon shortcut is broken"
**Describe the bug**
When tapping on the "Get content" launcher shortcut, no app activity is launched and instead the "App not installed" error toast is shown.
This is because [the shortcut points to an activity](https://github.com/kiwix/kiwix-android/blob/19a70529f481909ff78ab7c879d9c85ceaeed304/app/src/main/res/xml-v25/shortcuts.xml#L24) (`ZimManageActivity`) that doesn't exist anymore.

**Expec

[2021-11-03 07:24] kelson42 commented on #2728
Bug confirmed!

[2021-11-03 07:53] Fs00 commented on #2728
What would be the intended fix for this? Removing the shortcut entirely or making it launch the app directly to Downloads section?

[2021-11-03 08:27] gouri-panda commented on #2728
I'm not sure why we removed it `ZimManageActivity` class  from  [there](https://github.com/kiwix/kiwix-android/pull/2209/commits/567939b52007cad9e85637ae35a140bedece2251).

[2021-11-03 08:30] kelson42 commented on #2728
@gouri-panda You mean we have this bug since more than a year!?

[2021-11-03 08:31] gouri-panda commented on #2728
Yes, @kelson42 I'm surprised too.

[2021-11-03 09:05] gouri-panda commented on #2728
@kelson42 It isn't working with 3.4.1. Maybe earlier versions too! Maybe that's why we removed them.

[2021-11-03 09:43] kelson42 commented on #2728
Wow, what would the fix strategy? Make the link working? Remove the link?

[2021-11-03 09:53] gouri-panda commented on #2728
We don't have enough options for new shortcuts now. If we wanna keep them then we can revert the appropriate classes and try to fix the bug from there.

[2021-11-03 16:15] gouri-panda opened #2729 "Pass Test for Android 30"
Error:

Since we weren't checking the device after 6.0(marshmallow) we are seeing now in android API 30(android 10)  emulator devices. This error could be seen on Android Emulator/Device Version >= 6.0. It occurs probably when our app tries to send/receive requests/responses to a remote API that is not secure (HTTP).

[2021-11-03 19:46] Fs00 opened #2730 "Introductory screen hangs if the user navigates away and then returns to the app"
**Describe the bug**
If the user navigates away from Kiwix (e.g. switches to another app) when the introductory screen is shown, then Kiwix will hang irreversibly upon returning back to it.

**Expected behavior**
After returning to the app, the user should be able to interact with the UI and continue the intro.

**Steps to reproduce the behavior:**
1. Open the newly installed Kiwix app, the "Welco

[2021-11-09 15:41] #2694 closed

[2021-11-09 15:41] #2716 closed

[2021-11-10 09:40] kelson42 opened #2732 "Hide SD card access setting on custom apps"
because this makes no sense for custom apps

[2021-11-10 10:07] gouri-panda commented on #2732
Also, we should refactor the code of external sd card functionality to the app module. Currently, we have code in the core module. Which makes no sense at all. We don't need permission at all in the custom app.

[2021-11-10 10:49] gouri-panda opened #2733 "Download over wifi shows on custom app"
Remove the option. No use at all.

[2021-11-10 11:14] #2733 closed

[2021-11-10 11:47] gouri-panda commented on #2729
@Fs00 We have that. I guess in the emulator something weird goes on.

[2021-11-10 15:34] 4shutosh commented on #2709
Is the bug still valid?
I would like to work on this issue.
@gouri-panda any idea where the problem lies, I'll start looking in that direction then?

One of the zim files mentioned is "books under WikiBooks". @cjohnsto-nz Can you please help me with a specific zim file name for testing?

[2021-11-10 20:54] cjohnsto-nz commented on #2709
The bug is still valid.

I'll prepare a Zim today.

Basically, any PDF referenced with the file tag brings up the app selection dialog, opens the app, but fails to load in the app
________________________________
From: Ashutosh Singh ***@***.***>
Sent: Thursday, November 11, 2021 4:34:56 AM
To: kiwix/kiwix-android ***@***.***>
Cc: Chris Johnstone ***@***.***>; Mention ***@***.***>
Subject: Re: [ki

[2021-11-11 02:39] kelson42 commented on #2709
Kind of suspect this os somehow linked to https://github.com/kiwix/kiwix-android/issues/1447... but this need a technical analysis.

[2021-11-11 07:35] gouri-panda commented on #2690
I agree with this idea. Generally, our users store a lot of data so we should store zim files like a normal media App after uninstallation.

Yes, we can do that.

We have this functionality inside our app to share ZIM files.

[2021-11-11 07:51] gouri-panda commented on #2709
@4shutosh Sorry!, I can't say right now unless I test it. My guess would be either we are providing the wrong content path(URI) or the way the pdf is formated within zim are not valid with other apps. I really can't say unless I debug it.

[2021-11-21 07:20] #2717 closed

[2021-11-23 05:39] #2732 closed

[2021-11-23 05:44] #2721 closed

[2021-11-23 05:47] kelson42 commented on #2725
@gouri-panda To me it looks similar to #2657 fixed in 3.4.5. A duplicate?

[2021-11-23 06:41] gouri-panda commented on #2725
@kelson42  I don't think it's related to our app.

[2021-11-23 07:20] kelson42 commented on #2725
@suptheapp Any feedback? otherwise we will to close this ticket.

[2021-11-23 12:52] xtanion commented on #2688
Hey, may I work on this?

[2021-11-24 07:15] 4shutosh commented on #2688
Thank you for your interest @xtanion.

Priority: Bugs > Enhancements

Please try to solve one of the bugs floating around first. (good-first-issue && bug)
If you cannot yes, you may go ahead and start working on this issue.

[2021-11-24 10:50] xtanion commented on #2688
Thanks for the suggestions @4shutosh, I'll look for `good-first-issue` that I can solve ;).

[2021-11-25 05:51] cdhiraj40 commented on #2640
hey @kelson42 I had the thought of adding a filter in the download screen (for now sorting on the basis of download size), but maybe I can try out this first or after adding to download as per you
Can you provide me with some more info about the issue? Thanks

[2021-11-25 07:49] kelson42 commented on #2640
@cdhiraj40 Honestly, I have no precise idea about how it looks like, but we should try to have an even simpler library. But I would recommend to continue with "good first issue" tickets instead of tackling this complex one.

[2021-11-25 13:20] cdhiraj40 opened #2737 "convert RecentSearchDao.java to Kotlin"
Parent issue: #1826

What changes you will do:
will convert Java file to Kotlin

I couldn't find an issue regarding this, do tell me if there is I will close this

[2021-11-25 13:59] cdhiraj40 commented on #2640
sure I will keep trying for  ``good first issues`` and then maybe someday will help the organization in this, thanks :)

[2021-11-25 16:37] cdhiraj40 commented on #2721
@kelson42 @gouri-panda I think we missed the starting screen after the app is installed or this is intentional?

![image](https://user-images.githubusercontent.com/75211982/143477458-6425f75f-ae26-4d89-b3b1-db901040f482.png)

[2021-11-25 16:39] kelson42 commented on #2721
The logo is obviously still wrong indeed.

[2021-11-25 16:43] cdhiraj40 commented on #2721
should I create a ticket for it?

[2021-11-25 16:44] kelson42 commented on #2721
@cdhiraj40 or you can just make directly a PR, sounds trivial.

[2021-11-25 16:46] cdhiraj40 commented on #2721
sure I will make a PR soon. :)
oh sorry about that question

[2021-11-25 16:51] gouri-panda commented on #2721
@kelson42 @cdhiraj40 We discussed a separate ticket for the menu's left screen logo, but we never thought about onboarding screen. @cdhiraj40 Thanks for pointing this out. Please go ahead!

[2021-11-25 16:56] AdiAr11 commented on #2721
@gouri-panda is there something i can do as well?

[2021-11-25 17:34] gouri-panda commented on #2721
@AdiAr11 You can update the logo of the left menu.

[2021-11-25 17:39] AdiAr11 commented on #2721
@gouri-panda sure. I'll start working on it. But I think some cropping was needed with the provided image.

[2021-11-25 17:44] gouri-panda commented on #2721
Use android studios crop funcanality. If it's not helpful, feel free to ask @Popolechien .

[2021-11-25 18:06] cdhiraj40 commented on #2068
@kelson42 if this issue is still relevant and to be worked on I would like to work on it :)

[2021-11-25 18:36] gouri-panda opened #2741 "Update IntroFragment test"
[code]
This test fails sometimes with no valid reason. It's wasting resources and time. We can find the root cause of why it fails sometimes and then we can fix it.

[2021-11-25 20:06] kelson42 commented on #2068
@cdhiraj40 Yes, this issue is still pertinent. Thx for proposing yourself.

[2021-11-26 09:20] AdiAr11 commented on #2721
okay, Thank you

[2021-11-26 16:16] jhbiggs commented on #2728
@gouri-panda @kelson42 I would be happy to take out the shortcut or send it over to the main activity and send a commit.

[2021-11-26 16:49] kelson42 commented on #2728
@jhbiggs Great!

[2021-11-29 03:36] Im-Kunal-13 commented on #2606
kelson42, can you assign me this issue? I can contribute?

[2021-11-29 03:39] Im-Kunal-13 commented on #1826
I want to contribute on this issue. Are there any classes left on which I can work ?

[2021-11-29 03:53] cdhiraj40 commented on #1826
yes there are, here checkout https://github.com/search?p=5&q=repo%3Akiwix%2Fkiwix-android+language%3AJava&type=Code (for some PRs have been created so do check first :)

[2021-11-29 03:55] cdhiraj40 commented on #2068
hey @kelson42, do assign me this issue  :)

[2021-11-29 09:20] kelson42 commented on #2728
Shorcut has been introduced by @abdulwd with https://github.com/kiwix/kiwix-android/issues/688

[2021-11-29 09:36] anamansari062 opened #2744 "Ask for confirmation before exiting the app"
**Is your feature request related to a problem? Please describe.**
If we are pressing back button, the app closes without confirmation.

**Describe the solution you'd like**
The app should ask confirmation like "Are you sure you want to exit?" when back button is clicked.

[2021-11-29 09:42] kelson42 commented on #2744
Seems to be a duplicate of #2606.

[2021-11-29 09:42] #2744 closed

[2021-11-29 09:45] cdhiraj40 commented on #2744
I don't think this is a duplicate of #2606 this seems like a new feature request, unlike the other one

[2021-11-29 09:46] kelson42 commented on #2744
I not in favour of confirmation of this kind anyway.

[2021-11-29 09:50] gouri-panda commented on #2744
We don't do any heavy tasks or save input tasks from users. So it's unnecessary.

[2021-11-29 09:56] anamansari062 commented on #2620
If it is not resolved yet, I would like to work on it.

[2021-11-29 10:00] gouri-panda commented on #2620
@anamansari062  You are assigned!

[2021-11-30 00:19] gouri-panda opened #2745 "Create zim file shortcuts"
Like web apps, we can use our zim files shortcuts. In this way, user can access their favorite zim files through App shortcuts without going through the app.

[2021-11-30 03:50] yagamikira88 opened #2746 "Meaning of "top nopic" in the list of ZIM databases for Kiwix"
What's the meaning of the word "top nopic" for offline database below for use on Kiwix?

https://wiki.kiwix.org/wiki/Content_in_all_languages

I understand the meaning of maxi, mini, and nopic, but there's no info on the meaning of "top", and how many articles the "top" have?

[2021-11-30 05:22] kelson42 commented on #2745
@gouri-panda what woukd be the workflow from a user point of view?

[2021-11-30 07:48] kelson42 commented on #2746
top: only 50.000 most important/good quality articles
nopic: no pictures.

[2021-11-30 07:48] #2746 closed

[2021-11-30 08:15] gouri-panda commented on #2745
If the user go to zim files repeatly they can have shortcut in android with out going through app. It'll like favourite zim files from the home screen.

[2021-11-30 08:23] kelson42 commented on #2745
ok, but concretly, what should the user do to get such a shortcut?

[2021-11-30 08:41] gouri-panda commented on #2745
We can add a shortcut option in our zim file in app. Now we have two options if we long press the zim files i.e delete an share. There we can add a shortcut option. And then user can go to the zim files through home screen Android .

[2021-11-30 09:01] cdhiraj40 commented on #2745
so the way bookmarks are shown, we show favorite zim files? and shortcut takes them directly to that fragment?
or a user can only have 1 favorite zim file? (not sure if having 1 favorite will be good)

[2021-11-30 09:34] gouri-panda commented on #2745
@cdhiraj40   No not one. It can be many. It depends on the user how many zim files they want in shortcuts.

[2021-11-30 12:38] cdhiraj40 opened #2748 "Add an option to share app"
**Is your feature request related to a problem? Please describe.**
Adding the option of the share app will allow users of this app to share it easily with others.

[2021-11-30 12:57] AdiAr11 commented on #2723
@Popolechien Can you provide the cropped image, please?

[2021-11-30 14:17] 4shutosh commented on #2745
Adding a list (or grid) of favourites on the home screen will be good, calling the option "Add a shortcut to Home"

[2021-11-30 14:20] 4shutosh commented on #2730
@Fs00 Thank you for raising the issue.
The Exception seems legit that will create the screen to hang.
Will come back once I am able to reproduce this.

[2021-11-30 14:21] gouri-panda commented on #2745
@4shutosh I'm thinking like it'll place as normal app.If we add a new shortcut then we'll add next to last application icon. Like android do with application.

[2021-11-30 14:25] gouri-panda commented on #2730
@4shutosh  Thanks! Reproducing the issue would be great. But I think the error is here for wrong arguments that are passing in intent action.

[2021-11-30 14:31] 4shutosh commented on #2745
That reduces the scope of the number of shortcuts, a user can only have so many icons on the drawer, and also they'll be sorted again according to name. So again a menace to search the "shortcut".

All shortcuts together at one place will be the way to go here.

Also, there is a long press action for the app, we can explore that as well to show the most opened or favorite zim files.

[2021-11-30 14:34] 4shutosh commented on #2748
Giving an option on the drawer needs to be a feature of high priority and which is used frequently.

I don't think that will be the best option here.

[2021-11-30 14:35] cdhiraj40 commented on #2748
maybe adding in settings?

[2021-11-30 16:01] Popolechien commented on #2723
@AdiAr11 Sure - What is the current image size? I might as well copy directly from that.

[2021-11-30 16:26] Popolechien commented on #2723
Ok nevermind I found the image and have asked the new one to be remade to the same specs. Will revert back.

[2021-11-30 16:57] cdhiraj40 commented on #2730
@gouri-panda I think its happening cause of
[code]
    we are setting it true just after showing, I think it we should be showing this after we click on the ``Get Started`` button.

[2021-11-30 17:09] gouri-panda commented on #2730
@cdhiraj40 Yes we do! Take a look at the code.
[code]
Here we are setting with Get Started button.
[code]
Here we are setting setIntroShown() with the presenter.

[2021-12-01 07:09] AdiAr11 commented on #2723
@Popolechien sure, Thank you

[2021-12-01 15:56] Popolechien commented on #2723
@AdiAr11  Here you go. Feel free to move it to /src or wherever it belongs
![578x258px](https://user-images.githubusercontent.com/21675885/144267848-fc0caa76-bde8-4804-9ad5-f713888031f5.png)

[2021-12-03 08:48] helloitsgaurav commented on #2748
ya it would be nice if we add it above the information section in the settings of the app
![image](https://user-images.githubusercontent.com/81961014/144573097-d82f1c3f-0be5-4162-a193-c9cd9cd1c157.png)

[2021-12-03 09:44] kelson42 commented on #2748
AFAIK there is no standard way to share an app, right?

[2021-12-03 09:47] helloitsgaurav commented on #2748
though we can share the link to play store / app store  page of the app

[2021-12-03 10:03] cdhiraj40 commented on #2748
yes, I also don't have any knowledge of sharing direct app, and sometimes the app doesn't get installed because of google play's policy(manually have to turn off the play protect)
But usually a google play store link is shared via any messaging app, Gmail, drive etc

[2021-12-03 10:06] cdhiraj40 commented on #2748
I'm not sure if we can share apps without the internet (other than an in-built messaging app where we get our OTPs)

[2021-12-03 10:11] 4shutosh commented on #2748
We do not work with any zim URLs, or deep links.

So sharing the app here is only regarded as sharing the app download link from the play store.

@kelson42 If we want to continue with this feature implementation, please help with a UI option to share the app download link.

[2021-12-03 15:37] kelson42 commented on #2748
I'm not sure the idea is a good idea at all, why not just letting users type "Kiwix" in their prefered app store to find the app?

[2021-12-03 16:10] cdhiraj40 commented on #2748
@kelson42 I think it's not about that user, it's about like If I am using kiwix and I'm liking it I can just share the link of the app from the app itself to my friends, colleagues and then they can download it and use it too. That's what I had in mind as I have seen in other apps too, thanks :)

[2021-12-03 17:02] kelson42 commented on #2748
So like https://github.com/kiwix/kiwix-android/issues/379 ?

[2021-12-03 17:34] rishujam commented on #2737
Hey is this issue completed because I can't see any file named RecentSearchDao

[2021-12-03 17:39] cdhiraj40 commented on #2737
not completed but the PR has been made :)

[2021-12-03 17:39] cdhiraj40 commented on #2748
ah yes

[2021-12-03 17:40] rishujam commented on #2748
Yes, I think adding share button in the three dots on top right corner will be convenient for user. Should I try adding it ?

[2021-12-03 17:42] rishujam commented on #2737
why can't I see the file ? (I am newbie ignore if its a silly question).

[2021-12-03 17:42] cdhiraj40 commented on #2748
I actually wanted to work on it but we are having a discussion so not sure if this will be implemented as it has already been once rejected

[2021-12-03 17:44] cdhiraj40 commented on #2737
its totally fine :)
if you are asking about ``RecentSearchDao.java``
then it can be found under core folder whole path to file is -> core/data/local/dao/RecentSearchDao.java

[2021-12-03 17:53] kelson42 commented on #2748
I confirm I'm against this feature request because it brings not enough added value. As such, I will close the ticket.

[2021-12-03 17:54] #2748 closed

[2021-12-03 18:00] rishujam commented on #2737
![Screenshot 2021-12-03 233003](https://user-images.githubusercontent.com/74773876/144650611-8449a8a1-8828-422d-827f-e3abcaddce3c.png)
I got it in test package

[2021-12-03 18:05] rishujam commented on #2737
Ok so I was searching in the app package actually I am new so working only in app package in android view. Wanted to ask one more silly question why we make so many different package outside the app package like can't we put them inside app package?

[2021-12-03 18:54] cdhiraj40 commented on #2737
sure would definitely like to help you :)
you can ask me on slack if you didn't join yet you can join from here ->

[2021-12-03 19:08] rishujam commented on #2737
Getting this error "doesn’t have an account on this workspace"

[2021-12-03 19:19] rishujam commented on #2737
Do I need to get email ending with kiwix.org ?

[2021-12-04 00:31] gouri-panda commented on #2737
@rishujam Normal Gmail domain works fine.

[2021-12-04 10:31] cdhiraj40 commented on #2636
@kelson42 I would like to work on this :)

[2021-12-04 13:16] #2636 closed

[2021-12-04 19:01] rishujam commented on #2737
![Screenshot 2021-12-05 003114](https://user-images.githubusercontent.com/74773876/144721450-c05d720a-faf7-4d96-8cdd-306bd06bd269.png)
@gouri-panda

[2021-12-05 02:04] cdhiraj40 commented on #2737
@gouri-panda @kelson42  I think the slack link has expired @anamansari062 was facing the same issue I had to send her to invite via mail
additional info: https://github.com/elementary/website/issues/2255
https://slack.com/intl/en-in/help/articles/360049769934-Accept-an-invitation-to-join-another-companys-channel

[2021-12-05 05:15] cdhiraj40 commented on #2737
@rishujam for now you can join the slack channel by  this [link](https://join.slack.com/t/kiwixoffline/shared_invite/zt-c5fgl342-VDYtm7fwY6w0BAeBqYxIGg)
and also now that we are using discussions, you can directly ask questions there, no need to ask any questions here if the question is not related to the issue itself :)

[2021-12-05 13:13] kelson42 commented on #2745
@gouri-panda Looks good from the usability level…. But not sure if the ZIM provide the proper picture material to do such a pleasant icon shortcut.

[2021-12-05 15:49] cdhiraj40 opened #2755 "Same pictures are saved multiple times"
**Is your feature request related to a problem? Please describe.**
If I do  "Save a media" for same file, it saves multiple times

**Describe the solution you'd like**
Check if the picture exists before saving it
OR
ask the user if they wanna download the file again
(I have tried the code and it works perfectly in android 11&10)

To Reproduce:
1. Open any zim with pictures, hold the picture and cl

[2021-12-05 17:42] kelson42 commented on #2755
Quite an appropriate behaviour IMO. Does Firefox or Chrome behave differently?

[2021-12-05 17:48] cdhiraj40 commented on #2755
@kelson42 chrome lets user decide by showing a small dialog that the file exist we could probably do the same if we also want to let the user decide if the picture already exists.

![Screenshot_2021-12-05-23-17-33-56_40deb401b9ffe8e1df2f1cc5ba480b12.jpg](https://user-images.githubusercontent.com/75211982/144757456-a40797b7-4217-42ae-bf02-679da5d6de9a.jpg)

[2021-12-05 17:49] kelson42 commented on #2755
Ok, but then what happens in term of filename?

[2021-12-05 17:51] cdhiraj40 commented on #2755
the file name gets incremented in end by (1)

[2021-12-05 18:02] cdhiraj40 commented on #2755
@kelson42 file name gets incremented in end by (1)

kiwix does similar by adding _1 in end

[2021-12-05 21:20] gouri-panda commented on #2745
@kelson42 I can try if the zim icons would be suitable or not.

[2021-12-05 21:35] gouri-panda commented on #2755
I believe sean and I discussed about this feature with sean while refactoring those files unfortunately  I can't find that ticket. I think Google Chrome and Firefox are concerned about this because they download the media files from the internet(it can be costly)  and duplicate files that occupy more memory. If memory is what we are concerned about then we can implement this feature, otherwise, we

[2021-12-06 07:17] cdhiraj40 commented on #2709
@cjohnsto-nz can you provide the zim file name so that I can download it and try to reproduce this?
It would be really helpful, thanks :)

[2021-12-06 08:27] cdhiraj40 commented on #2717
@kelson42 @gouri-panda after getting familiar with the codebase and the app
 I see at many places that while scrolling the keyboard just stays there.
 should I create a new issue and add this functionality to those places?

[2021-12-06 08:54] cdhiraj40 opened #2756 "Keyboard doesnt hide when clicked on menu buttons of download screen and choose language"
**Describe the bug**

The keyboard doesn't hide even when the editText is not focused
1) when clicked on ``choose a language `` from the download screen keyboard doesn't close and stays open in the select language screen
vice versa
from the select languages screen when clicked on the ``tick``  icon keyboard doesn't close

**Expected behavior**
the keyboard should hide once editText has no focus
**

[2021-12-07 12:01] cdhiraj40 commented on #2756
any thoughts @gouri-panda @kelson42 ?
are you able to reproduce it too?

[2021-12-07 21:54] endolith commented on #1649
So what is the solution for the reader?  We just cannot use night mode on articles that contain math?  :(

[2021-12-07 22:29] gouri-panda commented on #2756
@cdhiraj40 In #2717 We hide the keyboard as we scroll through the list and above here we change the fragment(window). so that's why the keyboard doesn't close in this circumstance.

Go ahead! Before that can you propose how to deal with this situation above like this. We should close the keyboard in a generic way.

[2021-12-07 22:39] gouri-panda commented on #2717
@cdhiraj40 Is this related to #2756 ?

[2021-12-07 22:46] cdhiraj40 commented on #2717
no no, this is different here the functionality should be close keyboard on the scroll
pending changes-> searching in reader page, searching about languages,

[2021-12-07 22:49] cdhiraj40 commented on #2756
I think this will be easy just hide the keyboard when you are going to different windows like
hide keyboard when clicked on menus

[2021-12-07 22:51] gouri-panda commented on #2717
pending changes-> searching in reader page, searching about languages,

So it's not related to the above PR's issue. You wanna do the same functionality with the above places. Right?

[2021-12-07 22:53] cdhiraj40 commented on #2717
yes!

[2021-12-07 22:58] gouri-panda commented on #2756
Yes, We can do that but is there any better way to handle these kinds of situations?

[2021-12-07 23:01] cdhiraj40 commented on #2756
maybe ``android:windowSoftInputMode="stateHidden"`` may help
this will hide the keyboard whenever a new activity opens, not sure about the latency between opened keyboard and its closing time

[2021-12-07 23:06] gouri-panda commented on #2756
Yes, we can do this for now. But what if start adding multiple windows? Although We can add a simple method in this scenario.

[2021-12-07 23:09] cdhiraj40 commented on #2756
as per me, a simple method will be better for now and maybe in the future too, I have seen this functionality via methods only so I cant say much about other solutions
but sure I will research and update you :)

[2021-12-08 02:47] endolith commented on #1649
Normal mode works:

![Screenshot_20211207-165400_Kiwix](https://user-images.githubusercontent.com/58611/145139421-79c76b96-1ebc-4461-bf69-dc0bab44ec9b.jpg)

Night mode is unreadable:

![Screenshot_20211207-165432_Kiwix](https://user-images.githubusercontent.com/58611/145139420-9d3c785d-3208-448b-ba52-af58c5d5241b.jpg)

[2021-12-08 05:11] #2719 closed

[2021-12-08 12:44] cdhiraj40 commented on #2756
@gouri-panda sorry but I was not able to find a proper solution for this, I guess a method will be good to resolve this if you approve I can start working and make a PR

[2021-12-08 13:13] gouri-panda commented on #2756
@cdhiraj40 Go ahead!

[2021-12-09 09:18] Popolechien opened #2757 "Kiwix android fails to display images on farsi wikipedia (2021-11)"
On the latest (3.4.5) release, a user reported that they cannot see some images on https://download.kiwix.org/zim/wikipedia/wikipedia_fa_all_maxi_2021-11.zim

![Capture _2021-12-04-22-58-06](https://user-images.githubusercontent.com/21675885/145368127-ed370a6a-0786-49fe-bdff-59e4af4898a7.png)

The image [appears correctly on kiwix-serve](https://library.kiwix.org/wikipedia_fa_all_maxi/A/%D8%A7%D8%

[2021-12-09 10:25] kelson42 commented on #2757
Interesting...

[2021-12-10 12:10] Popolechien commented on #2757
Nevermind I think it is a zim issue, I checked on Desktop and it would not work either, then double-checking on Kiwix-serve it does not work either.
I'll try on the previous zim version https://download.kiwix.org/zim/wikipedia/wikipedia_fa_all_maxi_2021-10.zim but I think we can close this ticket.

[2021-12-10 12:10] #2757 closed

[2021-12-10 12:19] cdhiraj40 opened #2760 "Convert Datasource.java to Datasource.kt"
parent issue #1826

What changes you will do:
will convert Java file to Kotlin

I couldn't find an issue regarding this, do tell me if there is I will close this

[2021-12-10 12:54] cdhiraj40 commented on #1826
I would like to convert Datasource.java and KiwixIdlingResource.java

[2021-12-10 12:56] cdhiraj40 opened #2761 "Convert KiwixIdlingResource.java to kotlin"
parent issue #1826

### What changes you will do:
I will convert KiwixIdlingResource.java file to Kotlin

[2021-12-11 06:07] xtanion commented on #2688
I would like to work on this issue for now, can you please assign it to me?

[2021-12-13 07:01] tom635 commented on #2728
@kelson42 how can I contribute to this issue

[2021-12-13 07:09] kelson42 commented on #2728
@jhbiggs works already on it, right?

[2021-12-13 08:36] tom635 commented on #2728
@kelson42 could you assign me an issue on which I can contribute.

[2021-12-13 08:38] kelson42 commented on #2728
@Fs00 You have to pick one yourself (which is not already assigned), please read https://kiwix.org/code

[2021-12-13 09:42] tom635 commented on #2620
@gouri-panda I would like to resolve this issue #2758 . and confirmed by running the code on my local system.

[2021-12-13 12:30] cdhiraj40 commented on #2620
hey @tom635, as you can see from assignees @anamansari062 has already been assigned and she has made a PR too,
i would suggest you to find an issue which is stale(no activity in some time) :)

[2021-12-13 12:40] tom635 commented on #2620
@cdhiraj40 ok Sir .And  one more doubt the interface LibraryViewCallback is still in java why so?

[2021-12-13 12:43] cdhiraj40 commented on #2620
im not a sir, just another contributor :)

because PR is still under review and it has not been merged. once merged you will be able to see the kotlin file.

[2021-12-15 08:20] AayushSolanki commented on #2606
is anybody still still working on the issue? @kelson42

[2021-12-16 05:37] AayushSolanki commented on #2728
Is the issue resolved or not?

[2021-12-16 06:55] cdhiraj40 commented on #2728
hey, @AayushSolanki it's not resolved yet, but @jhbiggs is already assigned and has made PR. I guess let's wait for some more days till then you can take some other issue that is not assigned yet :)

[2021-12-17 06:10] AayushSolanki commented on #2569
is the issue active?

[2021-12-18 07:07] anamansari062 commented on #2717
hey @cdhiraj40, this seems interesting to me. if you don't mind I would like to create an issue to work on this and learn something new.

[2021-12-18 07:09] anamansari062 commented on #2717
hey @cdhiraj40, this seems interesting to me. if you don't mind I would like to create an issue to work on this and learn something new :)

[2021-12-18 07:12] cdhiraj40 commented on #2717
sure go ahead!
just dont forget to add at all places :)
you can check [this]( https://github.com/kiwix/kiwix-android/issues/2717#issuecomment-988316266) to see where its pending.

[2021-12-19 09:08] defini-tiv opened #2766 "Kiwix is still on 3.4.1 on F-Droid"
Ist that on purpose?

[2021-12-19 09:22] kelson42 commented on #2766
We don't have taken the time to deal with that.

[2021-12-19 10:13] #2766 closed

[2021-12-21 05:41] AdiAr11 commented on #2723
@Rigzbot Yes i am, sorry i am a little busy with exams but i will complete the task asap.

[2021-12-21 12:31] Inbefortus opened #2767 "Random article function not working in wikiHow ZIMs"
Example ZIM: wikiHow English 2021-10

It's always leading to the same article.

![Screen_Recording_20211221-125555_Kiwix_1](https://user-images.githubusercontent.com/71934042/146928590-02fb00fd-38e2-445a-8686-7751e86c252f.gif)

In wikiHow Turkish (wikihow_tr_maxi_2021-10.zim) nothing happens:

![Screen_Recording_20211221-132310_Kiwix_1](https://user-images.githubusercontent.com/71934042/146930016-

[2021-12-21 12:37] Inbefortus opened #2768 "Search results not retrievable in wikiHow ZIMs"
Example ZIM: wikiHow English 2021-10

Instead of opening, the current page is refreshed.

![Screen_Recording_20211221-125334_Kiwix_1](https://user-images.githubusercontent.com/71934042/146930760-dc83ee3b-2185-48ea-998a-5aab397ec788.gif)

[2021-12-21 12:56] kelson42 commented on #2768
I strongly suspect we will have to migrate to libkiwix10 to fix this problem.

[2021-12-21 12:57] kelson42 commented on #2767
I strongly suspect we will have to migrate to libkiwix10 for that.

[2021-12-22 08:46] cdhiraj40 commented on #2690
@gouri-panda @kelson42 @4shutosh Maybe we can create a folder 'kiwix' under the downloads folder?
I think then data won't be removed and maybe we can check in that specific folder again for the data whenever a new install is done.

[2021-12-22 10:26] cdhiraj40 commented on #1553
hey @kelson42, we can pretty much generate the QR code by using [ZXing](https://github.com/zxing/zxing) library. if this feature can still be added I can show some mockup design on this. maybe fix it?
about sharing the QR code I am not sure if we can do that.
but we can sure share the link(which is already there)